Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

fix: fix failing test
  service/src/main/java/io/camunda/service/MappingServices.java
  service/src/test/java/io/camunda/service/MappingServicesTest.java
Labels: none

refactor: refactoring after review
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

fix: fix failing test
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
Labels: component/zeebe

test: verify `canceling` task listener job creation
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerBlockedTransitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/ProcessInstanceClient.java
Labels: component/zeebe

feat: create task listener job on user task cancelation
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/UserTaskProcessor.java
Labels: component/zeebe

refactor: simplify first `canceling` and `creating` listener job creation
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/UserTaskProcessor.java
Labels: component/zeebe

feat: handle state cleanup and preparation on `UT.CANCELING` event
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UserTaskCancelingV2Applier.java
Labels: component/zeebe

test: extend `UserTaskCancelingV2ApplierTest` to cover full cleanup logic
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/UserTaskCancelingV2ApplierTest.java
Labels: component/zeebe

build: exclude Optimize build for Operate tests
  .github/workflows/operate-ci-test-reusable.yml
  .github/workflows/operate-docker-tests.yml
  .github/workflows/operate-e2e-tests.yml
Labels: component/operate, component/build-pipeline

test: adjust the tests to properly work with the ID on group creation
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorMultiTenancyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionIdempotencyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/AddEntityGroupMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/CreateGroupMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/DeleteGroupMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/GroupTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/RemoveEntityGroupMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/UpdateGroupMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/mapping/MappingTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/tenant/AddEntityTenantTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/user/DeleteUserTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/GroupAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/MappingAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/group/GroupStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/GroupClient.java
Labels: component/zeebe

build: exclude Optimize build for Operate tests
  .github/workflows/operate-ci-test-reusable.yml
  .github/workflows/operate-docker-tests.yml
  .github/workflows/operate-e2e-tests.yml
Labels: component/operate, component/build-pipeline

feat: remove CDN as font path
  operate/client/src/index.scss
Labels: component/operate

feat: rename id to mappingId in client and rest-api
  clients/java/src/main/java/io/camunda/client/api/command/CreateMappingCommandStep1.java
  clients/java/src/main/java/io/camunda/client/impl/command/CreateMappingCommandImpl.java
  clients/java/src/test/java/io/camunda/client/mapping/CreateMappingTest.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/MappingAuthorizationIT.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/MappingValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingControllerTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/OidcAuthOverGrpcIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/OidcAuthOverRestIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AssignMappingToTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CreateMappingTest.java
Labels: component/zeebe

refactor: rename id to mappingID
  service/src/main/java/io/camunda/service/MappingServices.java
  service/src/test/java/io/camunda/service/MappingServicesTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/PersistedMapping.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/mapping/DeleteMappingMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/mapping/MappingTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/mapping/MappingUpdateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/MappingStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/MappingClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/MappingCreatedUpdatedHandler.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerMappingCreateRequest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerMappingUpdateRequest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/authorization/MappingRecord.java
Labels: component/zeebe

feat: rename id to mappingId in web client
  identity/client/src/pages/groups/detail/mappings/AssignMappingsModal.tsx
  identity/client/src/pages/groups/detail/mappings/DeleteModal.tsx
  identity/client/src/pages/mappings/modals/AddModal.tsx
  identity/client/src/pages/roles/detail/mappings/AssignMappingsModal.tsx
  identity/client/src/pages/roles/detail/mappings/DeleteModal.tsx
  identity/client/src/pages/tenants/detail/mappings/AssignMappingsModal.tsx
  identity/client/src/pages/tenants/detail/mappings/DeleteModal.tsx
  identity/client/src/utility/api/groups/index.ts
  identity/client/src/utility/api/mappings/index.ts
  identity/client/src/utility/api/roles/index.ts
  identity/client/src/utility/api/tenants/index.ts
Labels: component/identity

test: delete unused bpmn xml file
  zeebe/qa/integration-tests/src/test/resources/processes/catch_event.bpmn
Labels: component/zeebe

deps(identity): update identity to 8.8.0-alpha3
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

deps(identity): update identity to 8.7.0
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

refactor: refactor after rebasing last main
  service/src/main/java/io/camunda/service/MappingServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerMappingDeleteRequest.java
Labels: component/zeebe

fix: improve logging with failed nested doc bulk requests
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/es/OptimizeElasticsearchClient.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/OptimizeOpenSearchClient.java
Labels: component/optimize

fix: improve logging with failed nested doc bulk requests
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/es/OptimizeElasticsearchClient.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/OptimizeOpenSearchClient.java
Labels: component/optimize

fix: use default token for GH action
  .github/workflows/c8run-closed-issue.yaml
Labels: component/build-pipeline

fix: minimized with permissions: write-all
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

fix: minimized with permissions: write for all
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

fix: minimized with permissions: write for all and workflows: write
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

fix: adjust the format to gateway-address setting in connectors
  c8run/connectors-application.properties
Labels: component/c8run

fix: minimized with workflows: write
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

fix: minimized with workflows: write for job
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

fix: use non-deprecated connectors options
  c8run/connectors-application.properties
Labels: component/c8run

fix: woops wrong option
  c8run/connectors-application.properties
Labels: component/c8run

feat: be-temp-20250329
  qa/integration-tests/src/test/java/io/camunda/it/client/IncidentSearchTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceSearchTest.java
  qa/integration-tests/src/test/java/io/camunda/it/orchestration/incidents/IncidentFullResolveCallActivityTest.java
  qa/integration-tests/src/test/java/io/camunda/it/orchestration/incidents/IncidentPartialResolveCallActivityTest.java
  qa/integration-tests/src/test/java/io/camunda/it/orchestration/incidents/IncidentPropagationTest.java
  qa/integration-tests/src/test/java/io/camunda/it/orchestration/incidents/IncidentSimpleResolveTest.java
  qa/integration-tests/src/test/java/io/camunda/it/util/TestHelper.java
Labels: none

feat: add zod library for form validation
  identity/client/package.json
  identity/client/yarn.lock
Labels: component/identity

Revert "feat: add zod library for form validation"
  identity/client/package.json
  identity/client/yarn.lock
Labels: component/identity

feat: add field and submit error validation for login page
  identity/client/src/pages/login/LoginPage.tsx
Labels: component/identity

feat: display error notification on failed login
  identity/client/src/App.tsx
  identity/client/src/components/global/AppRoot.tsx
  identity/client/src/pages/login/LoginPage.tsx
Labels: component/identity

feat: Remove the usage of REST protocol classes in Java Client
  clients/java/src/main/java/io/camunda/client/wrappers/AdHocSubprocessActivityResult.java
Labels: component/zeebe

feat: Remove the usage of REST protocol classes in Java Client
  clients/java/src/main/java/io/camunda/client/api/search/filter/FlownodeInstanceFilter.java
  clients/java/src/main/java/io/camunda/client/api/search/response/FlowNodeInstance.java
  clients/java/src/main/java/io/camunda/client/api/search/response/FlowNodeInstanceState.java
  clients/java/src/main/java/io/camunda/client/api/search/response/FlowNodeInstanceType.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/FlownodeInstanceFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/FlowNodeInstanceImpl.java
  clients/java/src/main/java/io/camunda/client/wrappers/FlowNodeInstanceFilter.java
  clients/java/src/main/java/io/camunda/client/wrappers/FlowNodeInstanceResult.java
  clients/java/src/test/java/io/camunda/client/flownodeinstance/FlownodeInstanceTest.java
  clients/java/src/test/java/io/camunda/client/wrappers/ProtocolEnumWrappersTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceSearchTest.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/testresult/CamundaProcessTestResultCollector.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/ElementAssertTest.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/utils/FlowNodeInstanceBuilder.java
Labels: component/zeebe

feat: Remove the usage of REST protocol classes in Java Client
  clients/java/src/main/java/io/camunda/client/api/command/UpdateGroupCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/UpdateJobCommandStep1.java
  clients/java/src/main/java/io/camunda/client/impl/command/JobUpdateCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/UpdateGroupCommandImpl.java
  clients/java/src/main/java/io/camunda/client/wrappers/GroupChangeset.java
  clients/java/src/main/java/io/camunda/client/wrappers/JobChangeset.java
  clients/java/src/test/java/io/camunda/client/group/UpdateGroupTest.java
  clients/java/src/test/java/io/camunda/client/job/rest/JobUpdateRestTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UpdateJobTest.java
Labels: component/zeebe

feat: Remove the usage of REST protocol classes in Java Client
  clients/java/src/main/java/io/camunda/client/api/search/filter/AdHocSubprocessActivityFilter.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/AdHocSubprocessActivityFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/request/AdHocSubprocessActivitySearchRequestImpl.java
  clients/java/src/main/java/io/camunda/client/wrappers/AdHocSubprocessActivityFilter.java
  clients/java/src/test/java/io/camunda/client/usertask/SearchUserTaskTest.java
Labels: component/zeebe

feat: Remove the usage of REST protocol classes in Java Client
  clients/java/src/main/java/io/camunda/client/wrappers/JobChangeset.java
Labels: component/zeebe
