Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

fix: recalculate and set the tree path for the activities that are being activated
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
Labels: component/zeebe

fix: use correct value type name for adhoc subprocess activity activation abbreviation
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
Labels: component/zeebe

refactor: change `activate` to `activation` in activate ad-hoc subprocess activity endpoint
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/AdHocSubprocessActivityController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/AdHocSubprocessActivityControllerTest.java
Labels: component/zeebe

feat: define activate ad-hoc subprocess activities endpoint in OpenAPI spec
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

feat: add controller/request mapping/validation part of activating ad-hoc subprocess activities
  service/src/main/java/io/camunda/service/AdHocSubprocessActivityServices.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/AdHocSubprocessActivityController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/AdHocSubprocessActivityRequestValidator.java
Labels: component/zeebe

feat: implement broker request handling for activating ad-hoc activities
  service/src/main/java/io/camunda/service/AdHocSubprocessActivityServices.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerActivateAdHocSubprocessActivityRequest.java
Labels: component/zeebe

fix: remove unneeded todo comment as this is handled at the processing level
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/AdHocSubprocessActivityRequestValidator.java
Labels: component/zeebe

test: add controller tests for ad-hoc subprocess activity activation
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/AdHocSubprocessActivityControllerTest.java
Labels: component/zeebe

refactor: create a dedicated request validator for ad-hoc subprocess activity requests
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/AdHocSubprocessActivityRequestValidator.java
Labels: component/zeebe

feat: add client implementation for ad-hoc subprocess activity activation
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/ActivateAdHocSubprocessActivitiesCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/response/ActivateAdHocSubprocessActivitiesResponse.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/ActivateAdHocSubprocessActivitiesCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/ActivateAdHocSubprocessActivitiesResponseImpl.java
  clients/java/src/test/java/io/camunda/client/adhocsubprocess/AdHocSubprocessActivityActivationTest.java
Labels: component/zeebe

test: add an engine integration test for activating ad-hoc activities
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/ActivateAdHocSubprocessActivityTest.java
Labels: component/zeebe

fix: change expected error message for duplicate activation keys to correct error message
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/ActivateAdHocSubprocessActivityTest.java
Labels: component/zeebe

refactor: change `activate` to `activation` in activate ad-hoc subprocess activity endpoint
  clients/java/src/main/java/io/camunda/client/impl/command/ActivateAdHocSubprocessActivitiesCommandImpl.java
Labels: component/zeebe

deps: fix dependency management: use specified versions
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: adding nimbus-sdk version
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

deps: drive-by remove unused declared dependency
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: resolve conflicts
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

refactor: inline data delete check
  qa/integration-tests/src/test/java/io/camunda/it/client/QueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/historycleanup/HistoryCleanupIT.java
Labels: none

fix: apply spotless linter
  qa/core-application-e2e-test-suite/README.md
Labels: none

fix: Tasklist Opensearch schema manager does not update index templates mappings
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/ElasticsearchSchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/OpenSearchSchemaManager.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/OpenSearchTestExtension.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TestIndexDescriptor.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TestTemplateDescriptor.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/apps/schema/TestIndexDescriptorConfiguration.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/apps/schema/TestTemplateDescriptorConfiguration.java
  tasklist/qa/integration-tests/src/test/resources/schema/es/index/tasklist-test-after.json
  tasklist/qa/integration-tests/src/test/resources/schema/es/index/tasklist-test-before.json
  tasklist/qa/integration-tests/src/test/resources/schema/os/index/tasklist-test-after.json
  tasklist/qa/integration-tests/src/test/resources/schema/os/index/tasklist-test-before.json
  tasklist/qa/integration-tests/src/test/resources/schema/os/template/tasklist-test-template-after.json
  tasklist/qa/integration-tests/src/test/resources/schema/os/template/tasklist-test-template-before.json
Labels: component/tasklist

fix: add adHocSubProcessActivityActivation record export to OpenSearch config
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

ci: submit detailed failed test statistics
  .github/actions/observe-build-status/action.yml
  .github/actions/observe-build-status/junit-failure-to-jsonl.py
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

fix: merge conflict resolution
  clients/java/src/test/java/io/camunda/client/process/QueryProcessInstanceTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/ProcessInstanceQueryTransformerTest.java
Labels: component/zeebe

ci: correct operate port binding in tasklist docker compose
  tasklist/config/docker-compose.yml
Labels: component/tasklist

test: terminated is now always written
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/boundary/BoundaryEventTest.java
Labels: component/zeebe

ci: correct operate port binding in tasklist docker compose
  tasklist/config/docker-compose.yml
Labels: component/tasklist

deps: fix dependency management: use specified versions
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: resolving conflicts
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

deps: drive-by remove unused declared dependency
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: addressing PR comments
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

refactor: convert actors and actor services cache to unmodifiableMap
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/AsyncScheduleServiceContext.java
Labels: component/zeebe

refactor: create all async pools ahead of time and submit them `StreamProcessor::onRecovery`
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/AsyncScheduleServiceContext.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/AsyncUtil.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ExtendedProcessingScheduleServiceImpl.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/ExtendedProcessingScheduleServiceImplTest.java
Labels: component/zeebe

refactor: use interfaces instead of implementation when possible
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/AsyncScheduleServiceContext.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ExtendedProcessingScheduleServiceImpl.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/ExtendedProcessingScheduleServiceImplTest.java
Labels: component/zeebe

test: adjust parameters for failing test
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceQueryTest.java
Labels: none

feat: add test client for assisting in testing AdHocSubProcessActivity test cases
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/AdHocSubProcessActivityClient.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/adhocsubprocess/AdHocSubProcessActivityActivationRecord.java
Labels: component/zeebe

feat: use AdHocSubProcessActivityClient in ActivateAdHocSubProcessActivityTest
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/adhocsubprocess/ActivateAdHocSubProcessActivityTest.java
Labels: component/zeebe

fix: pass engine config to bpmn stream processor
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
Labels: component/zeebe

refactor: rename unclear test case name to reflect the actual expectation
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/adhocsubprocess/ActivateAdHocSubProcessActivityTest.java
Labels: component/zeebe

feat: check for depth
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/CallActivityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/ElementInstance.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/CallActivityTest.java
Labels: component/zeebe

feat: increment depth by one
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceElementActivatingApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/ElementInstance.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/CallActivityTest.java
Labels: component/zeebe
