Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

test: mock authenticated tenants correctly
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/RestControllerTest.java
Labels: component/zeebe

test: verify tenant rejection in deploy resource
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ResourceControllerTest.java
Labels: component/zeebe

refactor: allow validating multiple tenants
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/ErrorMessages.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/MultiTenancyValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/MessageControllerTest.java
Labels: component/zeebe

fix: validate tenants for REST job activation
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/JobController.java
Labels: component/zeebe

ci: Introduce consolidated issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/task.yml
Labels: none

ci: label automation scripts for consolidated issue templates
  .github/opened_issue_labeler.yml
  .github/workflows/opened_issue_labeler.yml
Labels: component/build-pipeline

ci: Fixing typos and configurations
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/opened_issue_labeler.yml
  .github/workflows/opened_issue_labeler.yml
Labels: component/build-pipeline

ci: delete old component issue templates
  .github/ISSUE_TEMPLATE/c8run_bug_report.md
  .github/ISSUE_TEMPLATE/identity_bug_report.md
  .github/ISSUE_TEMPLATE/operate-feature.md
  .github/ISSUE_TEMPLATE/operate-task.md
  .github/ISSUE_TEMPLATE/operate_bug_report.md
  .github/ISSUE_TEMPLATE/optimize-bug_report.md
  .github/ISSUE_TEMPLATE/optimize-task.md
  .github/ISSUE_TEMPLATE/project_issue.md
  .github/ISSUE_TEMPLATE/tasklist-bug_report.md
  .github/ISSUE_TEMPLATE/tasklist-feature.md
  .github/ISSUE_TEMPLATE/tasklist-feature_request.md
  .github/ISSUE_TEMPLATE/tasklist-task.md
  .github/ISSUE_TEMPLATE/zeebe_bug_report.md
  .github/ISSUE_TEMPLATE/zeebe_feature_request.md
  .github/ISSUE_TEMPLATE/zeebe_general_issue.md
Labels: component/operate, component/tasklist, component/optimize

feat: batch operations / rdbms - remove subquery for batch operation
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/BatchOperationWriter.java
  db/rdbms/src/main/resources/mapper/BatchOperationMapper.xml
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationExecutionExportHandler.java
Labels: component/zeebe

test: ensure tenant validation for job activation
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/impl/job/LongPollingActivateJobsRestTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerLongPollingTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerRoundRobinTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerTest.java
Labels: component/zeebe

test: ensure tenant validation for job activation
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerLongPollingTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerTest.java
Labels: component/zeebe

build: rm duplicate dep
  dist/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

refactor: clarify tenant authorization message
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/MessageControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ResourceControllerTest.java
Labels: component/zeebe

fix: map unauthorized rejection to permission denied
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/grpc/GrpcErrorMapper.java
Labels: component/zeebe

fix: return NOT_FOUND when decision is not found
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/dmn/DecisionEvaluationEvaluteProcessor.java
Labels: component/zeebe

refactor: fetch authorized tenants directly
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
Labels: component/zeebe

test: adjust long polling test to tenant set
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/impl/job/LongPollingActivateJobsRestTest.java
Labels: component/zeebe

fix: keep a list of tenants in JWT token
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/impl/job/LongPollingActivateJobsRestTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerTest.java
Labels: component/zeebe

test: mock authenticated tenants correctly
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/RestControllerTest.java
Labels: component/zeebe

feat: replace mappingKey to String mappingId
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/MappingReader.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/mapping/MappingIT.java
  search/search-domain/src/main/java/io/camunda/search/filter/MappingFilter.java
  service/src/main/java/io/camunda/service/MappingServices.java
  service/src/test/java/io/camunda/service/MappingServicesTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/MappingCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/MappingDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/MappingDeletedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/RoleEntityAddedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/TenantEntityAddedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbMappingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/PersistedMapping.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/MappingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableMappingState.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingControllerTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/authorization/MappingRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/MappingRecordValue.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/MappingRecordStream.java
Labels: component/zeebe

feat: batch operations / rdbms - use new subBatch Record for appending items
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/BatchOperationMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/BatchOperationWriter.java
  db/rdbms/src/main/resources/mapper/BatchOperationMapper.xml
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestReader.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterWrapper.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationExecutionExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationSubBatchExportHandler.java
Labels: component/zeebe

test: remove unauthorized tenant checks
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/RestControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/MessageControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ResourceControllerTest.java
Labels: component/zeebe

feat: batch operations / rdbms - fix dirty bug
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/PersistedBatchOperation.java
Labels: component/zeebe

feat: replace mappingKey to String mappingId
  c8run/go.mod
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/MappingDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/RoleAddEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/RoleRemoveEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantAddEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/GroupEntityRemovedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/RoleEntityRemovedApplier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/mapping/MappingTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/user/DeleteUserTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/GroupClient.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/RoleClient.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/authorization/RoleRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/group/GroupRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/GroupRecordValue.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/RoleRecordValue.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/GroupRecordStream.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/RoleRecordStream.java
Labels: component/zeebe, component/c8run

fix: correct capitalization and delete modal button label for other pages
  identity/client/src/pages/authorizations/modals/DeleteModal.tsx
  identity/client/src/pages/users/modals/DeleteModal.tsx
Labels: component/identity

fix: general style fixes on reusable page components
  identity/client/src/components/layout/Page.tsx
  identity/client/src/components/layout/PageHeadline.tsx
Labels: component/identity

fix: base page and modals, adapt textfield component textarea
  identity/client/src/components/form/TextField.tsx
  identity/client/src/components/modal/Modal.tsx
  identity/client/src/pages/tenants/List.tsx
  identity/client/src/pages/tenants/modals/AddModal.tsx
  identity/client/src/pages/tenants/modals/DeleteModal.tsx
Labels: component/identity

fix: style, structure of details page for tenants, add users structure
  identity/client/src/pages/tenants/detail/components.tsx
  identity/client/src/pages/tenants/detail/index.tsx
  identity/client/src/pages/tenants/detail/members/index.tsx
  identity/client/src/utility/localization/en/index.ts
  identity/client/src/utility/localization/en/tenants.json
Labels: component/identity

feat: add translation strings
  identity/client/src/components/modal/Modal.tsx
  identity/client/src/pages/tenants/List.tsx
  identity/client/src/pages/tenants/detail/index.tsx
  identity/client/src/pages/tenants/detail/members/AssignMembersModal.tsx
  identity/client/src/pages/tenants/detail/members/DeleteModal.tsx
  identity/client/src/pages/tenants/detail/members/index.tsx
  identity/client/src/pages/tenants/modals/AddModal.tsx
  identity/client/src/pages/tenants/modals/DeleteModal.tsx
  identity/client/src/utility/api/membership/index.ts
  identity/client/src/utility/localization/en/tenants.json
Labels: component/identity

fix: fix endpoint url and method, use username instead of id for users
  identity/client/src/pages/authorizations/modals/DeleteModal.tsx
  identity/client/src/pages/tenants/detail/index.tsx
  identity/client/src/pages/tenants/detail/members/AssignMembersModal.tsx
  identity/client/src/pages/tenants/detail/members/DeleteModal.tsx
  identity/client/src/utility/api/membership/index.ts
Labels: component/identity

feat: add assign and unassign modals to user tab on tenant details page, add remove button to list of users
  identity/client/src/pages/tenants/detail/members/AssignMembersModal.tsx
  identity/client/src/pages/tenants/detail/members/DeleteModal.tsx
  identity/client/src/pages/tenants/detail/members/index.tsx
  identity/client/src/utility/api/membership/index.ts
Labels: component/identity

fix: correct label, remote unused component
  identity/client/src/pages/tenants/modals/AddModal.tsx
  identity/client/src/pages/tenants/modals/EditModal.tsx
Labels: component/identity

fix: import order, tenant column order, hide description when empty
  identity/client/src/pages/tenants/List.tsx
  identity/client/src/pages/tenants/detail/index.tsx
Labels: component/identity

feat: handle arguments
  dist/src/main/java/io/camunda/application/StandaloneBackupManager.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: impl toString
  operate/webapp/src/main/java/io/camunda/operate/webapp/management/dto/GetBackupStateResponseDetailDto.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/management/dto/GetBackupStateResponseDto.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/management/dto/GetBackupStateResponseDetailDto.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/management/dto/GetBackupStateResponseDto.java
Labels: component/operate, component/tasklist

feat: observe backups
  dist/src/main/java/io/camunda/application/StandaloneBackupManager.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: add necessary config
  backup-manager.yml
Labels: none

refactor: clean up
  dist/src/main/java/io/camunda/application/StandaloneBackupManager.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: update step by step to run identity on readme
  identity/README.md
Labels: component/identity

feat: add instruction to add extra spring profiles
  identity/README.md
Labels: component/identity
