Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

feat: add client implementation for ad-hoc subprocess activity activation
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/ActivateAdHocSubprocessActivitiesCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/response/ActivateAdHocSubprocessActivitiesResponse.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/ActivateAdHocSubprocessActivitiesCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/ActivateAdHocSubprocessActivitiesResponseImpl.java
  clients/java/src/test/java/io/camunda/client/adhocsubprocess/AdHocSubprocessActivityActivationTest.java
Labels: component/zeebe

refactor: rename `flow node` to `element` in ad-hoc subprocess activity activation use case
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/adhocsubprocess/ActivateAdHocSubProcessActivityTest.java
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-ad-hoc-sub-process-activity-activation-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-ad-hoc-sub-process-activity-activation-template.json
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerActivateAdHocSubprocessActivityRequest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/adhocsubprocess/AdHocSubProcessActivityActivationElement.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/adhocsubprocess/AdHocSubProcessActivityActivationRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AdHocSubProcessActivityActivationRecordValue.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
Labels: component/zeebe

test: add an engine integration test for activating ad-hoc activities
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/ActivateAdHocSubprocessActivityTest.java
Labels: component/zeebe

fix: add mapping to get ValueType index for ad-hoc subprocess activity activation to tasklist integration tests
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TestSupport.java
Labels: component/tasklist

refactor: change `activate` to `activation` in activate ad-hoc subprocess activity endpoint
  clients/java/src/main/java/io/camunda/client/impl/command/ActivateAdHocSubprocessActivitiesCommandImpl.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/AdHocSubprocessActivityController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/AdHocSubprocessActivityControllerTest.java
Labels: component/zeebe

feat: implement broker request handling for activating ad-hoc activities
  service/src/main/java/io/camunda/service/AdHocSubprocessActivityServices.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerActivateAdHocSubprocessActivityRequest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/adhocsubprocess/AdHocSubProcessActivityActivationRecord.java
Labels: component/zeebe

fix: remove unneeded todo comment as this is handled at the processing level
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/AdHocSubprocessActivityRequestValidator.java
Labels: component/zeebe

docs: fix formatting errors on the Identity bug issue
  .github/ISSUE_TEMPLATE/identity_bug_report.md
Labels: none

test: authorization tests
  http/identity-regression-test.http
Labels: none

test: change sorting to resouceId
  http/identity-regression-test.http
Labels: none

feat: remove entityKey from TenantRecord
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/tenant/TenantRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/TenantRecordValue.java
Labels: component/zeebe

feat: remove entityKey from CompactRecordLogger
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
Labels: component/zeebe

feat: add entity to Tenant using id instead of key
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantAddEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/TenantEntityAddedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbMappingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableMappingState.java
Labels: component/zeebe

feat: remove entity from Tenant using id instead of key
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/TenantEntityRemovedApplier.java
Labels: component/zeebe

feat: remove usages of entityKey getter and setter
  service/src/main/java/io/camunda/service/TenantServices.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/MappingDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantDeleteProcessor.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerTenantEntityRequest.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/TenantRecordStream.java
Labels: component/zeebe

test: remove entity key from TenantRecord
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
Labels: component/zeebe

feat: adding `deniedReason` to `CompleteJobResult`
  clients/java/src/main/java/io/camunda/client/api/command/CompleteJobResult.java
Labels: component/zeebe

test: adding tests for `deniedReason`
  clients/java/src/test/java/io/camunda/client/job/CompleteJobTest.java
  clients/java/src/test/java/io/camunda/client/job/rest/CompleteJobRestTest.java
Labels: component/zeebe

feat: adding `deniedReason` to `CompleteJobCommand`
  clients/java/src/main/java/io/camunda/client/api/command/CompleteJobCommandStep1.java
  clients/java/src/main/java/io/camunda/client/impl/command/CompleteJobCommandImpl.java
Labels: component/zeebe

feat: adding `deniedReason` param
  clients/java/src/main/java/io/camunda/client/api/command/CompleteJobCommandStep1.java
Labels: component/zeebe

refactor: addressing PR comments
  clients/java/src/main/java/io/camunda/client/api/command/CompleteJobCommandStep1.java
  clients/java/src/main/java/io/camunda/client/impl/command/CompleteJobCommandImpl.java
  clients/java/src/test/java/io/camunda/client/job/CompleteJobTest.java
  clients/java/src/test/java/io/camunda/client/job/rest/CompleteJobRestTest.java
Labels: component/zeebe

test: replace usages of entityKey with entityId
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/exporter/RecordFixtures.java
  service/src/test/java/io/camunda/service/TenantServiceTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/tenant/AddEntityTenantTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/MappingAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/TenantAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/MappingStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/TenantClient.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AssignGroupToTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AssignMappingToTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UnassignGroupFromTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/util/ZeebeAssertHelper.java
Labels: component/zeebe

fix: check authorization on mapping id
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
Labels: component/zeebe

refactor: remove warning and fix typo
  optimize/client/src/components/Home/AlertList.js
  optimize/client/src/modules/components/AlertModal/AlertModal.js
  optimize/client/src/modules/components/AlertModal/__snapshots__/AlertModal.test.js.snap
  optimize/client/src/modules/components/AlertsDropdown/AlertsDropdown.test.js
Labels: component/optimize

refactor: apply requested changes in the code review
  .github/workflows/ci.yml
Labels: component/build-pipeline

fix: Create correct hashes for uploaded files
  document/store/pom.xml
  document/store/src/main/java/io/camunda/document/store/DocumentHashProcessor.java
  document/store/src/main/java/io/camunda/document/store/InputStreamHashCalculator.java
  document/store/src/main/java/io/camunda/document/store/aws/AwsDocumentStore.java
  document/store/src/main/java/io/camunda/document/store/gcp/GcpDocumentStore.java
  document/store/src/main/java/io/camunda/document/store/localstorage/LocalStorageDocumentStore.java
  document/store/src/test/java/io/camunda/document/store/InputStreamHashCalculatorTest.java
  document/store/src/test/java/io/camunda/document/store/aws/AwsDocumentStoreTest.java
  document/store/src/test/java/io/camunda/document/store/gcp/GcpDocumentStoreTest.java
  document/store/src/test/java/io/camunda/document/store/localstorage/LocalStorageDocumentStoreTest.java
Labels: none

test: adding/adjusting tests to verify `deniedReason`
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UserTaskListenersTest.java
Labels: component/zeebe

feat: adding `deniedReason` to error messages
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/UserTaskProcessor.java
Labels: component/zeebe

feat: adds CamundaExporter::purge implementations (ES, OS) and ITs
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchTemplateOperations.java
  qa/integration-tests/src/test/java/io/camunda/it/cluster/ClusterPurgeMultiDbIT.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/CamundaClientTestFactory.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/topology/ClusterChangeExecutorImpl.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/SchemaManager.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/SearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/elasticsearch/ElasticsearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/opensearch/OpensearchEngineClient.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
Labels: component/zeebe, component/operate

refactor: renaming `denyReason` to `deniedReason`
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UserTaskListenersTest.java
Labels: component/zeebe

fix: parameter in wrong order
  webapps-backup/src/main/java/io/camunda/webapps/backup/repository/elasticsearch/ElasticsearchBackupRepository.java
Labels: none

fix: c8run use forwardslash on windows for this golang extract library
  c8run/internal/archive/archive.go
Labels: component/c8run

test: rename application Context to Camunda to reflect spring.application.name change
  c8run/e2e_tests/api_tests.sh
Labels: component/c8run

fix: adjust inconsistent OpenAPI attribute names
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DocumentReferenceBatchResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentReferenceBatchResponseImpl.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
Labels: component/zeebe

deps: update optimize to react 19
  optimize/client/package.json
  optimize/client/src/__mocks__/react-dom.js
  optimize/client/src/__mocks__/react-dom/client.js
  optimize/client/src/__mocks__/react.tsx
  optimize/client/src/components/Analysis/BranchAnalysis/DiagramBehavior.test.js
  optimize/client/src/components/Reports/ReportEdit.test.js
  optimize/client/src/components/Reports/controlPanels/ProcessPart/__snapshots__/ProcessPart.test.js.snap
  optimize/client/src/jest.polyfills.ts
  optimize/client/src/modules/components/BPMNDiagram/BPMNDiagram.tsx
  optimize/client/src/modules/components/BPMNDiagram/ClickBehavior.tsx
  optimize/client/src/modules/components/BPMNDiagram/PartHighlight.js
  optimize/client/src/modules/components/Checklist/Checklist.test.tsx
  optimize/client/src/modules/components/EntityDescription/EntityDescription.test.tsx
  optimize/client/src/modules/components/HeatmapOverlay/service.js
  optimize/client/src/modules/components/InstanceViewTable/InstanceViewTable.test.js
  optimize/client/src/modules/filter/FilterList.js
  optimize/client/src/modules/filter/modals/date/__snapshots__/DateFilterPreview.test.tsx.snap
  optimize/client/src/modules/filter/modals/node/__snapshots__/NodeListPreview.test.tsx.snap
  optimize/client/src/modules/filter/modals/variable/__snapshots__/VariablePreview.test.tsx.snap
  optimize/client/yarn.lock
Labels: component/optimize

fix: allow creating listener in deployment
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/TaskListenerValidator.java
Labels: component/zeebe

fix: create listener job on creating
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/UserTaskProcessor.java
Labels: component/zeebe

test: basic creating listener
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/JobListenerEventType.java
Labels: component/zeebe

fix: provide event type mappings
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnJobBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/JobCreatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/TaskListenerIndicesRecord.java
Labels: component/zeebe

fix: store the assignee on creating event
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/UserTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UserTaskCreatedApplier.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/usertask/UserTaskRecord.java
Labels: component/zeebe
