Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

test: unify variable names
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftCorruptedDataTest.java
Labels: component/zeebe

deps: temporarily disable Renovate automerges
  .github/renovate.json
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: fix failing test
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/MappingDbModel.java
Labels: none

feat: try to check partition count changes on dynamic configuration.
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/topology/DynamicClusterConfigurationService.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/ClusterConfigurationManagerService.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/PersistedClusterConfiguration.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/StaticConfiguration.java
Labels: component/zeebe

deps: re-enable Renovate automerges
  .github/renovate.json
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: Add new assertion for not active elements
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/assertions/ProcessInstanceAssert.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/ElementAssertj.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/ProcessInstanceAssertj.java
Labels: none

test: Verify new assertion for not active elements
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/ElementAssertTest.java
Labels: none

test: fixed alg assertions in JwtDecoderIT
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/oauth2/JwtDecoderIT.java
Labels: component/operate

fix: made JWT 'typ' header optional in Operate
  operate/qa/integration-tests/pom.xml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/SecurityTestUtil.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/oauth2/JwtDecoderIT.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/oauth2/IdentityOAuth2WebConfigurer.java
Labels: component/operate

refactor: cover all zeebe protocol error types in the java client
  clients/java/src/test/java/io/camunda/client/incident/SearchIncidentTest.java
Labels: component/zeebe

feat: add metrics for ackknowledgements on target partition
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/metrics/DistributionMetrics.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionBehavior.java
Labels: component/zeebe

feat: implement process instance statistics for RDBMS
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/ProcessDefinitionReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/ProcessDefinitionMapper.java
  db/rdbms/src/main/resources/mapper/ProcessDefinitionMapper.xml
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/processdefinition/ProcessDefinitionStatisticsIT.java
  search/search-client-rdbms/src/main/java/io/camunda/search/rdbms/RdbmsSearchClient.java
Labels: none

refactor: Draft metric types
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/metrics/DistributionMetrics.java
Labels: component/zeebe

ci: submit detailed failed test statistics
  .github/actions/observe-build-status/action.yml
  .github/actions/observe-build-status/junit-failure-to-jsonl.py
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

wip
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/metrics/DistributionMetrics.java
Labels: component/zeebe

feat: Increase the default inbound message size to 5MB for clients
  clients/java/src/main/java/io/camunda/client/CamundaClientBuilder.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientBuilderImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientBuilder.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientBuilderImpl.java
  clients/java/src/test/java/io/camunda/client/CamundaClientTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/ZeebeClientTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/config/CamundaClientConfigurationDefaultPropertiesTest.java
Labels: component/zeebe

test: reenable disabled tests
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/multitenancy/MultiTenancyIT.java
Labels: component/zeebe

fix: remove default tenant check
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
Labels: component/zeebe

refactor: extract flags to fields
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
Labels: component/zeebe

feat: assign default tenant to admin users an mappings
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/IdentitySetupInitializeProcessor.java
Labels: component/zeebe

feat: improve error message
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/multitenancy/MultiTenancyIT.java
Labels: component/zeebe

fix: remove tenant check when fetching mapping resource identifiers
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
Labels: component/zeebe

test: separate multi tenancy test cases
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorMultiTenancyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorTest.java
Labels: component/zeebe

fix: copy mapping when getting
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbMappingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/PersistedMapping.java
Labels: component/zeebe

fix: try () instead of pushdpopd
  .github/actions/sign-and-notarize/sign_all_mach_o_and_jars.sh
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

feat: move to camunda controller for swagger
  dist/src/main/resources/application.properties
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: add helper text, fix translations, make group id readonly on edit
  identity/client/src/pages/groups/modals/AddModal.tsx
  identity/client/src/pages/groups/modals/EditModal.tsx
  identity/client/src/pages/tenants/detail/index.tsx
  identity/client/src/utility/localization/en/groups.json
Labels: component/identity

docs: add CI requirements to c8run readme
  c8run/README.md
Labels: component/c8run

fix: spotless lint
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
Labels: component/zeebe

fix: correct tenant details page label
  identity/client/src/pages/tenants/detail/index.tsx
  identity/client/src/utility/localization/en/tenants.json
Labels: component/identity

fix: correct navigation to details page, fix ui structure for details page, add new translations
  identity/client/src/pages/groups/List.tsx
  identity/client/src/pages/groups/detail/components.tsx
  identity/client/src/pages/groups/detail/index.tsx
  identity/client/src/pages/groups/index.tsx
  identity/client/src/utility/localization/en/groups.json
Labels: component/identity

feat: add feature flags, add users tab to group details page, translations, fixes
  identity/client/src/feature-flags.ts
  identity/client/src/pages/groups/detail/index.tsx
  identity/client/src/pages/groups/detail/members/AssignMembersModal.tsx
  identity/client/src/pages/groups/detail/members/DeleteModal.tsx
  identity/client/src/pages/groups/detail/members/index.tsx
  identity/client/src/utility/api/membership/index.ts
  identity/client/src/utility/localization/en/groups.json
Labels: component/identity

feat: correct roles tab with modals and translations
  identity/client/src/pages/groups/detail/index.tsx
  identity/client/src/pages/groups/detail/members/AssignMembersModal.tsx
  identity/client/src/pages/groups/detail/roles/AssignRolesModal.tsx
  identity/client/src/pages/groups/detail/roles/DeleteModal.tsx
  identity/client/src/pages/groups/detail/roles/index.tsx
  identity/client/src/utility/api/groups/index.ts
  identity/client/src/utility/localization/en/groups.json
Labels: component/identity

fix: translations and variable naming
  identity/client/src/pages/groups/detail/index.tsx
  identity/client/src/pages/groups/detail/mappings/DeleteModal.tsx
  identity/client/src/pages/groups/detail/mappings/index.tsx
  identity/client/src/pages/groups/detail/members/AssignMembersModal.tsx
  identity/client/src/pages/groups/detail/members/DeleteModal.tsx
  identity/client/src/pages/groups/detail/members/index.tsx
  identity/client/src/pages/groups/detail/roles/DeleteModal.tsx
  identity/client/src/pages/groups/detail/roles/index.tsx
  identity/client/src/pages/tenants/detail/groups/index.tsx
  identity/client/src/pages/tenants/detail/mappings/index.tsx
  identity/client/src/pages/tenants/detail/members/AssignMembersModal.tsx
  identity/client/src/pages/tenants/detail/members/index.tsx
  identity/client/src/pages/tenants/detail/roles/index.tsx
Labels: component/identity

feat: add mappings tab with modals and translations
  identity/client/src/pages/groups/detail/index.tsx
  identity/client/src/pages/groups/detail/mappings/AssignMappingsModal.tsx
  identity/client/src/pages/groups/detail/mappings/DeleteModal.tsx
  identity/client/src/pages/groups/detail/mappings/index.tsx
  identity/client/src/utility/api/groups/index.ts
  identity/client/src/utility/localization/en/groups.json
Labels: component/identity

fix: translation fixes related to tenants
  identity/client/src/pages/tenants/detail/members/AssignMembersModal.tsx
  identity/client/src/pages/tenants/detail/members/DeleteModal.tsx
  identity/client/src/utility/localization/en/tenants.json
Labels: component/identity

feat: purge processCache whenever a cluster change is completed
  dist/src/main/java/io/camunda/application/commons/rest/RestApiConfiguration.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/api/BrokerClusterState.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/api/BrokerTopologyListener.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/BrokerClusterStateImpl.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/BrokerTopologyManagerImpl.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/cache/ProcessCache.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/TopologyController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/cache/ProcessCacheTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/TopologyControllerTest.java
  zeebe/gateway/src/test/java/io/camunda/zeebe/gateway/impl/broker/PublishMessageDispatchStrategyTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: remove not used dependencies
  zeebe/gateway-rest/pom.xml
Labels: component/zeebe

feat: Increase multipart request max sizes
  dist/src/main/resources/application.properties
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/rest/ClientConfigRestServiceIT.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

build: restore location of Optimize's properties file
  dist/src/main/resources/application-optimize.properties
  optimize/backend/src/main/resources/application.properties
  optimize/backend/src/main/resources/banner.txt
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
