Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

feat: Migrate ProcessInstance component to v2
  operate/client/src/App/ProcessInstance/v2/index.test.tsx
  operate/client/src/App/ProcessInstance/v2/index.tsx
  operate/client/src/App/ProcessInstance/v2/mocks.tsx
  operate/client/src/App/ProcessInstance/v2/modifications.test.tsx
  operate/client/src/App/index.tsx
Labels: component/operate

feat: migrate VariablesForm component to v2
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/VariablesContent.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/v2/NewVariableModifications.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/v2/VariablesForm.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/v2/index.test.tsx
  operate/client/src/modules/hooks/flowNodeSelection.ts
  operate/client/src/modules/hooks/modifications.ts
Labels: component/operate

feat: migrate ModificationDropdown component to v2
  operate/client/src/App/ProcessInstance/TopPanel/ModificationDropdown/v2/index.test.tsx
  operate/client/src/App/ProcessInstance/TopPanel/ModificationDropdown/v2/index.tsx
  operate/client/src/App/ProcessInstance/TopPanel/ModificationDropdown/v2/mocks.tsx
  operate/client/src/App/ProcessInstance/TopPanel/ModificationDropdown/v2/mutliScopes.test.tsx
  operate/client/src/App/ProcessInstance/TopPanel/ModificationDropdown/v2/selectedRunningInstanceCount.test.tsx
  operate/client/src/App/ProcessInstance/TopPanel/v2/index.tsx
  operate/client/src/modules/hooks/modifications.ts
  operate/client/src/modules/hooks/processInstanceDetailsDiagram.ts
  operate/client/src/modules/queries/flownodeInstancesStatistics/useTotalRunningInstancesForFlowNode.ts
  operate/client/src/modules/stores/modificationRules.ts
  operate/client/src/modules/utils/flowNodeMetadata.test.ts
  operate/client/src/modules/utils/flowNodeMetadata.ts
  operate/client/src/modules/utils/modifications.ts
  operate/client/src/modules/utils/processInstanceDetailsDiagram.test.ts
  operate/client/src/modules/utils/processInstanceDetailsDiagram.ts
Labels: component/operate

feat: migrate ModificationIcons component to v2
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/Bar/ModificationIcons/v2/index.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/Bar/ModificationIcons/v2/index.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/Bar/index.tsx
  operate/client/src/modules/utils/modifications.ts
Labels: component/operate

ci: Avoid version update for Maven packages detected as parent
  .github/renovate.json
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: add filter field to endpoint for ES and OS
  clients/java/src/main/java/io/camunda/client/api/search/filter/builder/FlowNodeInstanceStateProperty.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/builder/FlowNodeInstanceStatePropertyImpl.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/ProcessInstanceFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/ProcessInstanceQueryTransformerTest.java
  search/search-domain/src/main/java/io/camunda/search/filter/ProcessInstanceFilter.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/deserializer/FlowNodeInstanceStateFilterPropertyDeserializer.java
Labels: component/zeebe

feat: add client Java and RDBMS implementations
  clients/java/src/main/java/io/camunda/client/api/search/filter/FlownodeInstanceFilter.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/ProcessInstanceFilter.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/builder/FlowNodeInstanceStateProperty.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/builder/ProcessInstanceStateProperty.java
  clients/java/src/main/java/io/camunda/client/api/search/response/FlowNodeInstanceState.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/FlownodeInstanceFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/ProcessInstanceFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/builder/FlowNodeInstanceStatePropertyImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/builder/ProcessInstanceStatePropertyImpl.java
  clients/java/src/test/java/io/camunda/client/flownodeinstance/FlownodeInstanceTest.java
  clients/java/src/test/java/io/camunda/client/process/QueryProcessInstanceTest.java
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/ProcessInstanceFilterTransformer.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

test: add qa IT and make state an advanced filter
  qa/acceptance-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceSearchTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/flownodeinstance/FlowNodeInstanceIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/flownodeinstance/FlowNodeInstanceSpecificFilterIT.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/FlownodeInstanceFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/FlowNodeInstanceFilterTest.java
  search/search-domain/src/main/java/io/camunda/search/filter/FlowNodeInstanceFilter.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/FlowNodeInstanceQueryControllerTest.java
Labels: component/zeebe

fix: update unit tests
  clients/java/src/main/java/io/camunda/client/impl/search/filter/ProcessInstanceFilterImpl.java
  clients/java/src/test/java/io/camunda/client/flownodeinstance/FlownodeInstanceTest.java
Labels: component/zeebe

fix: update mapper to state operation field
  db/rdbms/src/main/resources/mapper/FlowNodeInstanceMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceSearchTest.java
Labels: none

fix: migration conflicts
  clients/java/src/main/java/io/camunda/client/api/search/filter/FlowNodeInstanceStateFilterProperty.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/FlownodeInstanceFilter.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/ProcessInstanceFilter.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/builder/FlowNodeInstanceStateProperty.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/builder/ProcessInstanceStateProperty.java
  clients/java/src/main/java/io/camunda/client/api/search/response/FlowNodeInstanceState.java
  clients/java/src/main/java/io/camunda/client/impl/RequestMapper.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/FlownodeInstanceFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/ProcessInstanceFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/builder/FlowNodeInstanceStatePropertyImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/builder/ProcessInstanceStatePropertyImpl.java
  clients/java/src/test/java/io/camunda/client/flownodeinstance/FlownodeInstanceTest.java
  clients/java/src/test/java/io/camunda/client/impl/util/EnumUtilTest.java
  clients/java/src/test/java/io/camunda/client/process/QueryProcessInstanceTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceSearchTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/ProcessInstanceFilterTransformer.java
Labels: component/zeebe

style: checkstyle
  qa/acceptance-tests/src/test/java/io/camunda/it/orchestration/IncidentNotifierIT.java
Labels: none

fix: merge conflict error
  qa/acceptance-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceSearchTest.java
Labels: none

feat: migrate ModificationSummaryModal component to v2
  operate/client/src/App/ProcessInstance/ModificationSummaryModal/v2/index.test.tsx
  operate/client/src/App/ProcessInstance/ModificationSummaryModal/v2/index.tsx
  operate/client/src/App/ProcessInstance/v2/index.tsx
  operate/client/src/modules/hooks/modifications.ts
Labels: component/operate

feat: add not-in operator to basic long property
  clients/java/src/main/java/io/camunda/client/impl/search/filter/builder/BasicLongPropertyImpl.java
  clients/java/src/test/java/io/camunda/client/process/QueryProcessInstanceTest.java
  db/rdbms/src/main/resources/mapper/Commons.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/client/DecisionInstanceSearchTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceSearchTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/VariableSearchTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/query/SearchQueryBuilders.java
  search/search-domain/src/main/java/io/camunda/search/filter/Operator.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/RestControllerTest.java
Labels: component/zeebe

fix: merge conflicts
  clients/java/src/main/java/io/camunda/client/api/search/filter/BasicStringFilterProperty.java
  clients/java/src/main/java/io/camunda/client/impl/RequestMapper.java
  clients/java/src/main/java/io/camunda/client/impl/ResponseMapper.java
Labels: component/zeebe

refactor: rename nin to notIn
  clients/java/src/main/java/io/camunda/client/api/search/filter/builder/BasicLongProperty.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/builder/BasicLongPropertyImpl.java
  clients/java/src/test/java/io/camunda/client/process/QueryProcessInstanceTest.java
  db/rdbms/src/main/resources/mapper/Commons.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/client/DecisionInstanceSearchTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceSearchTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/VariableSearchTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/query/SearchQueryBuilders.java
  search/search-domain/src/main/java/io/camunda/search/filter/Operator.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/RestControllerTest.java
Labels: component/zeebe

fix: use correct client methods
  clients/java/src/test/java/io/camunda/client/process/QueryProcessInstanceTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/DecisionInstanceSearchTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceSearchTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/VariableSearchTest.java
Labels: component/zeebe

fix: group key should be retrieved from the persisted object
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupAddEntityProcessor.java
Labels: component/zeebe

refactor: remove assigned entity from group by groupId
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupRemoveEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/GroupEntityRemovedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/group/DbGroupState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableGroupState.java
Labels: component/zeebe

feat: Adjust log messages
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/CamundaProcessTestExtension.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/client/CamundaManagementClient.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/testresult/CamundaProcessTestResultCollector.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/JunitExtensionTest.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/impl/testresult/CamundaProcessResultCollectorTest.java
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/api/CamundaProcessTestExecutionListener.java
  testing/camunda-process-test-spring/src/test/java/io/camunda/process/test/api/ExecutionListenerTest.java
Labels: none

fix: Remove secrets section (#28522)
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

refactor: get entities by groupId
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/group/DbGroupState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/GroupState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/group/GroupStateTest.java
Labels: component/zeebe

BACKPORT-CONFLICT
  atomix/cluster/src/test/java/io/atomix/raft/ControllableRaftContexts.java
  atomix/cluster/src/test/java/io/atomix/raft/DeterministicSingleThreadContext.java
  atomix/cluster/src/test/java/io/atomix/raft/impl/PriorityElectionTimerTest.java
  atomix/cluster/src/test/resources/log4j2-test.xml
Labels: none

BACKPORT-CONFLICT
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ControllableRaftContexts.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/DeterministicSingleThreadContext.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/impl/PriorityElectionTimerTest.java
  zeebe/atomix/cluster/src/test/resources/log4j2-test.xml
Labels: component/zeebe

test: add memberId in MDC as key "actor-scheduler" to ease debugging
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ControllableRaftContexts.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/DeterministicSingleThreadContext.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/impl/PriorityElectionTimerTest.java
  zeebe/atomix/cluster/src/test/resources/log4j2-test.xml
Labels: component/zeebe

BACKPORT-CONFLICT
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/PassiveRole.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftCorruptedDataTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RandomizedRaftTest.java
Labels: component/zeebe

test: add memberId in MDC as key "actor-scheduler" to ease debugging
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ControllableRaftContexts.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/DeterministicSingleThreadContext.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/impl/PriorityElectionTimerTest.java
  zeebe/atomix/cluster/src/test/resources/log4j2-test.xml
Labels: component/zeebe

BACKPORT-CONFLICT
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/PassiveRole.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftCorruptedDataTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RandomizedRaftTest.java
Labels: component/zeebe

refactor: rename aggregation result classes
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/clients/ElasticsearchSearchClient.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/transformers/ElasticsearchTransformers.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/transformers/aggregator/SearchAggregationResultTransformer.java
  search/search-client-elasticsearch/src/test/java/io/camunda/search/es/transformers/aggregator/AggregationResultTransformerTest.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/clients/OpensearchSearchClient.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/transformers/OpensearchTransformers.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/transformers/aggregator/SearchAggregationResultTransformer.java
  search/search-client-opensearch/src/test/java/io/camunda/search/os/transformers/aggregator/AggregationResultTransformerTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/DocumentBasedSearchClient.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/ServiceTransformers.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/aggregation/result/AggregationResult.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/aggregation/result/AggregationResultTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/aggregation/result/ProcessDefinitionFlowNodeStatisticsAggregationResultTransformer.java
Labels: none

test: add SearchAggregationResultTransformer tests
  search/search-client-elasticsearch/pom.xml
  search/search-client-elasticsearch/src/test/java/io/camunda/search/es/transformers/aggregator/SearchAggregationResultTransformerTest.java
  search/search-client-opensearch/pom.xml
  search/search-client-opensearch/src/test/java/io/camunda/search/os/transformers/aggregator/SearchAggregationResultTransformerTest.java
Labels: none

refactor: extract search aggregations mapping
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/transformers/search/SearchRequestTransformer.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/transformers/search/SearchRequestTransformer.java
Labels: none

feat: add generic ES/OS aggregation result transformer
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/clients/ElasticsearchSearchClient.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/transformers/ElasticsearchTransformers.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/transformers/aggregator/ProcessDefinitionFlowNodeStatisticsAggregationTransformer.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/transformers/aggregator/SearchAggregationResultTransformer.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/clients/OpensearchSearchClient.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/transformers/OpensearchTransformers.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/transformers/aggregator/ProcessDefinitionFlowNodeStatisticsAggregationTransformer.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/transformers/aggregator/SearchAggregationResultTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/DocumentBasedSearchClient.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/SearchClientBasedQueryExecutor.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/ServiceTransformers.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/aggregate/ProcessDefinitionFlowNodeStatisticsAggregationTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/aggregate/SearchAggregationResult.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/aggregate/SearchAggregationResultTransformer.java
Labels: none

refactor: create TypedSearchAggregationQueryTransformer & move aggregation query logic
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/clients/ElasticsearchSearchClient.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/transformers/ElasticsearchTransformers.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/transformers/aggregator/SearchAggregationResultTransformer.java
  search/search-client-elasticsearch/src/test/java/io/camunda/search/es/transformers/aggregator/SearchAggregationResultTransformerTest.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/clients/OpensearchSearchClient.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/transformers/OpensearchTransformers.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/transformers/aggregator/SearchAggregationResultTransformer.java
  search/search-client-opensearch/src/test/java/io/camunda/search/os/transformers/aggregator/SearchAggregationResultTransformerTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/DocumentBasedSearchClient.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/ServiceTransformers.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/aggregation/ProcessDefinitionFlowNodeStatisticsAggregationTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/aggregation/SearchAggregationResult.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/aggregation/SearchAggregationResultTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/query/ProcessDefinitionFlowNodeStatisticsQueryTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/query/TypedSearchAggregationQueryTransformer.java
Labels: none

refactor: create generic aggregation query transformer
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/clients/ElasticsearchSearchClient.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/transformers/ElasticsearchTransformers.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/transformers/aggregator/SearchAggregationResultTransformer.java
  search/search-client-elasticsearch/src/test/java/io/camunda/search/es/transformers/aggregator/SearchAggregationResultTransformerTest.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/clients/OpensearchSearchClient.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/transformers/OpensearchTransformers.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/transformers/aggregator/SearchAggregationResultTransformer.java
  search/search-client-opensearch/src/test/java/io/camunda/search/os/transformers/aggregator/SearchAggregationResultTransformerTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/DocumentBasedSearchClient.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/DocumentBasedSearchClients.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/SearchClientBasedQueryExecutor.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/ServiceTransformers.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/aggregation/AggregationTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/aggregation/ProcessDefinitionFlowNodeStatisticsAggregationTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/aggregation/result/ProcessDefinitionFlowNodeStatisticsAggregationResultTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/aggregation/result/SearchAggregationResult.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/aggregation/result/SearchAggregationResultTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/query/ProcessDefinitionFlowNodeStatisticsQueryTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/query/TypedSearchAggregationQueryTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/query/ProcessDefinitionFlowNodeStatisticsQueryTransformerTest.java
  search/search-domain/src/main/java/io/camunda/search/aggregation/AggregationBase.java
  search/search-domain/src/main/java/io/camunda/search/aggregation/ProcessDefinitionFlowNodeStatisticsAggregation.java
  search/search-domain/src/main/java/io/camunda/search/aggregation/result/AggregationResultBase.java
  search/search-domain/src/main/java/io/camunda/search/aggregation/result/ProcessDefinitionFlowNodeStatisticsAggregationResult.java
  search/search-domain/src/main/java/io/camunda/search/query/ProcessDefinitionFlowNodeStatisticsQuery.java
  search/search-domain/src/main/java/io/camunda/search/query/TypedSearchAggregationQuery.java
Labels: none

refactor: make ES/OS aggregation part of search
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/clients/ElasticsearchSearchClient.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/transformers/ElasticsearchTransformers.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/transformers/aggregator/SearchAggregationResultTransformer.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/transformers/search/SearchResponseTransformer.java
  search/search-client-elasticsearch/src/test/java/io/camunda/search/es/transformers/aggregator/AggregationResultTransformerTest.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/clients/OpensearchSearchClient.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/transformers/OpensearchTransformers.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/transformers/aggregator/SearchAggregationResultTransformer.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/transformers/search/SearchResponseTransformer.java
  search/search-client-opensearch/src/test/java/io/camunda/search/os/transformers/aggregator/AggregationResultTransformerTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/DocumentBasedSearchClient.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/SearchClientBasedQueryExecutor.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/aggregator/AggregationResult.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/core/SearchQueryResponse.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/ServiceTransformers.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/aggregation/result/AggregationResultTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/aggregation/result/ProcessDefinitionFlowNodeStatisticsAggregationResultTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/query/TypedSearchAggregationQueryTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/query/TypedSearchQueryTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/query/ProcessDefinitionFlowNodeStatisticsQueryTransformerTest.java
  search/search-domain/src/main/java/io/camunda/search/query/TypedSearchAggregationQuery.java
  search/search-domain/src/main/java/io/camunda/search/query/TypedSearchQuery.java
Labels: none

refactor: move AggregationResult to core package
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/transformers/aggregator/SearchAggregationResultTransformer.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/transformers/search/SearchResponseTransformer.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/transformers/aggregator/SearchAggregationResultTransformer.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/transformers/search/SearchResponseTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/core/AggregationResult.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/core/SearchQueryResponse.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/ServiceTransformers.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/aggregation/result/AggregationResultTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/aggregation/result/ProcessDefinitionFlowNodeStatisticsAggregationResultTransformer.java
Labels: none

fix: update import after rebase
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/aggregation/ProcessDefinitionFlowNodeStatisticsAggregationTransformer.java
Labels: none

refactor: review feedback
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/query/TypedSearchQueryTransformer.java
Labels: none

fix: group process definition statistics for process instances
  db/rdbms/src/main/resources/mapper/ProcessDefinitionMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/client/ProcessDefinitionStatisticsTest.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/transformers/ElasticsearchTransformers.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/transformers/aggregator/SearchAggregationResultTransformer.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/transformers/aggregator/SearchParentAggregatorTransformer.java
  search/search-client-elasticsearch/src/test/java/io/camunda/search/es/transformers/aggregator/SearchParentAggregatorTransformerTest.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/transformers/OpensearchTransformers.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/transformers/aggregator/SearchAggregationResultTransformer.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/transformers/aggregator/SearchParentAggregatorTransformer.java
  search/search-client-opensearch/src/test/java/io/camunda/search/os/transformers/aggregator/SearchParentAggregatorTransformerTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/aggregator/SearchAggregatorBuilders.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/aggregator/SearchParentAggregator.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/aggregation/ProcessDefinitionFlowNodeStatisticsAggregationTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/aggregation/result/ProcessDefinitionFlowNodeStatisticsAggregationResultTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/query/ProcessDefinitionFlowNodeStatisticsQueryTransformerTest.java
  search/search-domain/src/main/java/io/camunda/search/aggregation/ProcessDefinitionFlowNodeStatisticsAggregation.java
  search/search-domain/src/main/java/io/camunda/search/entities/ProcessDefinitionFlowNodeStatisticsEntity.java
Labels: none
