Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

feat: register `UserTaskCreatedV2Applier`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
Labels: component/zeebe

feat: clean up the initial assignee in `UserTaskAssignedV2Applier`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UserTaskAssignedV2Applier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/UserTaskAssignedV2ApplierTest.java
Labels: component/zeebe

feat: rebasing on main
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UserTaskCancelingV2Applier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/UserTaskCancelingV2ApplierTest.java
Labels: component/zeebe

test: update test to reflect passing `assignee` in `CREATING` event
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerBlockedTransitionTest.java
Labels: component/zeebe

refactor: use primitive value for batchOperationKey like we also do for other keys in records
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationChunkRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationCreationRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationExecutionRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BatchOperationRelated.java
Labels: component/zeebe

feat: add new intents for batch operation execution
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/BatchOperationExecutionIntent.java
Labels: component/zeebe

feat: add new processor for executing batch operations
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecuteProcessor.java
Labels: component/zeebe

feat: add batch operation execute processor to engine processors
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationSetupProcessors.java
Labels: component/zeebe

feat: extend command writer and task result builder to pass also the operationReference
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/writers/ResultBuilderBackedTypedCommandWriter.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/writers/TypedCommandWriter.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/TaskResultBuilder.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/BufferedTaskResultBuilder.java
Labels: component/zeebe

feat: extend batch scheduler to start working on the chunks by appending an execution command
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionScheduler.java
Labels: component/zeebe

feat: add new intents for batch operation execution
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/BatchOperationExecutionIntent.java
Labels: component/zeebe

test: add tests for batch operation execution processor
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/CreateBatchOperationMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/CreateBatchOperationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/ExecuteBatchOperationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionIdempotencyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/BatchOperationClient.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/BatchOperationExecutionRecordStream.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/RecordingExporter.java
Labels: component/zeebe

feat: add new appliers for batch operation execution events
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/BatchOperationCompletedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/BatchOperationExecutingApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
Labels: component/zeebe

refactor: remove UNSPECIFIED from BatchOperationType since just specified should be used
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/PersistedBatchOperation.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationCreationRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BatchOperationType.java
Labels: component/zeebe

feat: add complete batch operation applier + export it to state
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/BatchOperationCompletedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/DbBatchOperationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/PersistedBatchOperation.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableBatchOperationState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/batchoperation/BatchOperationStateTest.java
Labels: component/zeebe

test: fix test - add `assignee` to `CREATING` event
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerDenialsTest.java
Labels: component/zeebe

fix: initialize BrokerInfo from ClusterConfiguration instead of configuration
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/Broker.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/ClusterTopologyManagerStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/BrokerHealthCheckService.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/monitoring/BrokerHealthCheckServiceTest.java
Labels: component/zeebe

fix: run only for branch 28522-8.6.11
  .github/workflows/camunda-platform-release.yml
  .github/workflows/dispatch-release-8-6-28522.yaml
Labels: component/build-pipeline

build: prepare release 8.6.7-optimize
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Labels: component/optimize

build: prepare for next development iteration
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Labels: component/optimize

fix: initialize BrokerInfo from ClusterConfiguration instead of configuration
  broker/src/main/java/io/camunda/zeebe/broker/Broker.java
  broker/src/main/java/io/camunda/zeebe/broker/bootstrap/ClusterTopologyManagerStep.java
  broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/BrokerHealthCheckService.java
  broker/src/test/java/io/camunda/zeebe/broker/system/monitoring/BrokerHealthCheckServiceTest.java
Labels: none

feat: throw IllegalStateException when accessing an uninitialized field in BrokerInfo
  protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/encoding/BrokerInfo.java
  protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/BrokerInfoTest.java
Labels: none

test: add IT to test that partition count in config is ignored after bootstrap
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/PersistedClusterTopologyTest.java
  qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestCluster.java
Labels: none

test: use Bpmn API instead of xml process definition
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/PersistedClusterTopologyTest.java
  qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestCluster.java
Labels: none

deps: upgrade camunda and connectors for c8run 8.6.13 release
  c8run/.env
Labels: component/c8run

deps: increment zeebe and identity for release
  optimize/pom.xml
Labels: component/optimize

fix: setCommitIndex only after flushing all the entries
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/PassiveRole.java
Labels: component/zeebe

refactor: use default values for BatchOperationDbModel builder
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/BatchOperationDbModel.java
Labels: none

feat: add new basic rdbms export handler for monitoring batch operations
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/BatchOperationMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/BatchOperationWriter.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationChunkExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationCreatedExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationExecutionExportHandler.java
Labels: component/zeebe

feat: add rdbms export handler for monitoring batch operation status for process instance cancellation
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/ProcessInstanceBatchOperationExportHandler.java
Labels: component/zeebe

feat: add rdbms handler for batch operations to the exporter
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporter.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterWrapper.java
Labels: component/zeebe

test: add rdbms IT Tests for batch operations
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/batchoperation/BatchOperationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/BatchOperationFixtures.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/exporter/RdbmsExporterBatchOperationsIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/exporter/RecordFixtures.java
Labels: none

feat: support group membership tracking
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbMembershipState.java
Labels: component/zeebe

refactor: don't store group membership on user entities directly
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupAddEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupRemoveEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/UserDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/GroupEntityAddedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/GroupEntityRemovedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableUserState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/user/DbUserState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/user/PersistedUser.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/GroupAppliersTest.java
Labels: component/zeebe

test: delete unused bpmn xml file
  zeebe/qa/integration-tests/src/test/resources/processes/catch_event.bpmn
Labels: component/zeebe

feat: initialize BrokerInfo from config so that they are used before bootstrapping
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/Broker.java
Labels: component/zeebe

feat: initialize BrokerInfo from config so that they are used before bootstrapping
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/Broker.java
Labels: component/zeebe

test: delete unused bpmn xml file
  zeebe/qa/integration-tests/src/test/resources/processes/catch_event.bpmn
Labels: component/zeebe

test: use Bpmn API instead of xml process definition
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/PersistedClusterTopologyTest.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestCluster.java
Labels: component/zeebe

feat: initialize BrokerInfo from config so that they are used before bootstrapping
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/Broker.java
Labels: component/zeebe
