Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

fix: make authorization requests aware of operations on new resources
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/DeploymentCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/multitenancy/MultiTenancyOverIdentityIT.java
Labels: component/zeebe

fix: correct signal broadcast test for multitenancy
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/multitenancy/MultiTenancyOverIdentityIT.java
Labels: component/zeebe

docs: extend acceptance test docs
  qa/README.md
Labels: none

build: keep optimize-commons in the single app
  .github/workflows/tasklist-docker-tests.yml
  dist/pom.xml
  pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

refactor: better deps declaration
  dist/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: make CamundaOidcUser/TenantDTO serializable to support the ser/deser of the auth object web session index
  authentication/src/main/java/io/camunda/authentication/entity/CamundaOidcUser.java
  service/src/main/java/io/camunda/service/TenantServices.java
Labels: none

refactor: refine unauthenticated paths in WebSecurityConfig
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
Labels: none

test: update test for CamundaOidcUserService to check roles and applications are set correctly
  authentication/src/test/java/io/camunda/authentication/CamundaOidcUserServiceTest.java
Labels: none

style: apply markdown lint
  qa/README.md
Labels: none

fix: checkstyle
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/elasticsearch/ElasticsearchPrefixMigrationClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/opensearch/OpensearchPrefixMigrationClient.java
Labels: component/zeebe

build: add maven central to optimize-commons
  optimize/util/optimize-commons/pom.xml
Labels: component/optimize

ci: move non-Zeebe-specific release notifications to diff channel
  .github/workflows/camunda-platform-release-manual.yml
  .github/workflows/dispatch-release-8-6.yaml
  .github/workflows/dispatch-release-8-7.yaml
  .github/workflows/dispatch-release-8-8.yaml
Labels: component/build-pipeline

fix: Update the value of X-Frame-Options to allow PDFs in <embed> tags
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/BaseWebConfigurer.java
Labels: component/tasklist

fix: provide not_found error when no signal is found
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/signal/SignalBroadcastProcessor.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/multitenancy/MultiTenancyOverIdentityIT.java
Labels: component/zeebe

refactor: rename `jobDenied` -> `denied` and `jobDeniedReason` -> `deniedReason`
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/JobTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/JobEntity.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/template/operate-job.json
  webapps-schema/src/main/resources/schema/opensearch/create/template/operate-job.json
Labels: none

feat: only update the job result on the `COMPLETED` event
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/JobHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/JobHandlerTest.java
Labels: component/zeebe

refactor: rename `jobDenied` -> `denied` and `jobDeniedReason` -> `deniedReason` in test
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/JobHandlerTest.java
Labels: component/zeebe

refactor: use translation keys in users page
  identity/client/src/components/layout/Page.tsx
  identity/client/src/pages/login/LoginPage.tsx
  identity/client/src/pages/users/List.tsx
  identity/client/src/pages/users/modals/AddModal.tsx
  identity/client/src/pages/users/modals/DeleteModal.tsx
  identity/client/src/pages/users/modals/EditModal.tsx
  identity/client/src/utility/localization/en/components.json
Labels: component/identity

fix: reintroduce the /oauth/authorization path to the config to allow the auth flow to function
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
Labels: none

refactor: align filtering between ES and RDBMS
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
Labels: none

feat: add purgeCluster method to CamundaManagementClient
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/client/CamundaManagementClient.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/client/clock/CamundaAddClockRequestDto.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/client/clock/CamundaClockResponseDto.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/client/purge/MinimalLastChangeDto.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/client/purge/MinimalPlannedOperationsResponseDto.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/client/purge/MinimalTopologyResponseDto.java
Labels: none

refactor: move users translations to seperate file
  identity/client/src/pages/users/List.tsx
  identity/client/src/pages/users/detail/UserDetailsTab.tsx
  identity/client/src/pages/users/detail/index.tsx
  identity/client/src/pages/users/modals/AddModal.tsx
  identity/client/src/pages/users/modals/DeleteModal.tsx
  identity/client/src/pages/users/modals/EditModal.tsx
  identity/client/src/utility/localization/en/components.json
  identity/client/src/utility/localization/en/index.ts
  identity/client/src/utility/localization/en/users.json
  identity/client/src/utility/localization/i18n.ts
Labels: component/identity

refactor: create document search clients based on config
  zeebe/qa/util/src/main/java/io/camunda/zeebe/it/util/SearchClientsUtil.java
Labels: component/zeebe

fix: override ZeebeVolume to correctly extract zeebe data dir
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/CamundaVolume.java
Labels: none

style: checkstyle
  zeebe/qa/util/pom.xml
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
Labels: component/zeebe

fix: remove withWorkingDir from TestStandaloneCamunda
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestStandaloneCamunda.java
Labels: none

deps: fix pom
  qa/integration-tests/pom.xml
  zeebe/qa/util/pom.xml
Labels: component/zeebe

fix: change id field accessor
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationDatabaseChecks.java
Labels: none

refactor: use pointer paths for values
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationDatabaseChecks.java
Labels: none

refactor: move withWorkingDirectory to base
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestSpringApplication.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
Labels: component/zeebe

fix: zip slip vulnerability
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/CamundaVolume.java
Labels: none

test: checks for import positions and importers finished
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationDatabaseChecks.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/ElasticOpenSearchSetupHelper.java
Labels: none

refactor: remove unused UI components
  identity/client/src/components/entityList/components.tsx
  identity/client/src/components/modal/FormModal.tsx
  identity/client/src/pages/groups/modals/EditModal.tsx
  identity/client/src/pages/users/detail/authorization/List.tsx
  identity/client/src/pages/users/detail/authorization/PatchModal.tsx
  identity/client/src/pages/users/detail/role/AddModal.tsx
  identity/client/src/pages/users/detail/role/DeleteModal.tsx
  identity/client/src/pages/users/detail/role/List.tsx
  identity/client/src/utility/api/authorizations/index.ts
  identity/client/src/utility/api/users/authorizations.ts
  identity/client/src/utility/api/users/roles.ts
  identity/client/src/utility/ascendingSort.ts
Labels: component/identity

test: document reason
  qa/integration-tests/src/test/java/io/camunda/it/backup/BackupRestoreIT.java
Labels: none

test: add OperateClient
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestSimpleCamundaApplication.java
Labels: none

test: disable test for rdbms
  qa/integration-tests/src/test/java/io/camunda/it/StandaloneCamundaTest.java
Labels: none

test: migrate StandaloneCamundaTest
  qa/integration-tests/src/test/java/io/camunda/it/StandaloneCamundaTest.java
Labels: none

fix: ignore already exists errors
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/opensearch/OpensearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
Labels: component/zeebe

test: validate exporter open with retention
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
Labels: component/zeebe

BACKPORT-CONFLICT
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/CallActivityProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/state/instance/ElementInstance.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/CallActivityTest.java
Labels: none
