Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

fix: adjusted packages
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/PropertyBasedJobWorkerValueCustomizer.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/bean/CopyWithProtectionBeanUtilsBean.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/CamundaClientProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/PropertyBasedZeebeWorkerValueCustomizer.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/common/ZeebeClientProperties.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/properties/PropertyBasedJobWorkerValueCustomizerTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/PropertyBasedZeebeWorkerValueCustomizerTest.java
Labels: component/zeebe

fix: override ZeebeVolume to correctly extract zeebe's data dir
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/CamundaVolume.java
Labels: none

test: overdrive importers
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationHelper.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationITExtension.java
Labels: none

test: create database checks for import positions and importers finished
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationDatabaseChecks.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/ElasticOpenSearchSetupHelper.java
Labels: none

fix: opensearch exporter suppress close on null client
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
Labels: component/zeebe

test: extension MigrationITExtension for 8.7 to 8.7 migration tests
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/AbstractComponentHelper.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/ApiCallable.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/ExporterUpdateITProvider.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationHelper.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationITExtension.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/OperateComponentHelper.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/TasklistComponentHelper.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/ZeebeComponentHelper.java
Labels: none

style: fix build issues
  qa/integration-tests/src/test/java/io/camunda/it/migration/MigrationUserTaskUpdateIT.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationDatabaseChecks.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationITExtension.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestStandaloneCamunda.java
Labels: none

refactor: move withWorkingDirectory to base class to be reused
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestSpringApplication.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
Labels: component/zeebe

fix: zip slip sanitization
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/CamundaVolume.java
Labels: none

fix: rebase main
  qa/util/src/main/java/io/camunda/qa/util/multidb/MultiDbConfigurator.java
Labels: none

test: test setup for component migration testing
  qa/integration-tests/src/test/java/io/camunda/it/migration/MigrationUserTaskUpdateIT.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/AbstractComponentHelper.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/ApiCallable.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/ExporterUpdateITProvider.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationITInvocationProvider.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/OperateComponentHelper.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/TasklistComponentHelper.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/TasklistMigrationHelper.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/ZeebeComponentHelper.java
Labels: none

test: MigrationUserTaskUpdateIT port to new test structure
  qa/integration-tests/src/test/java/io/camunda/it/migration/MigrationUserTaskUpdateIT.java
Labels: none

fix: make MessagingMetricsImpl ThreadSafe
  zeebe/atomix/cluster/pom.xml
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/MessagingMetricsImpl.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyDnsMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/protocol/SwimMembershipProtocolMetrics.java
Labels: component/zeebe

feat: move rdbms flushing logs to execution queue only
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/queue/DefaultExecutionQueue.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporter.java
Labels: component/zeebe

fix: make MessagingMetricsImpl ThreadSafe
  zeebe/atomix/cluster/pom.xml
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/MessagingMetricsImpl.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyDnsMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/protocol/SwimMembershipProtocolMetrics.java
Labels: component/zeebe

style: fix typo
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyDnsMetrics.java
Labels: component/zeebe

docs: improve wording
  qa/README.md
Labels: none

test: validate exporter open with retention
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
Labels: component/zeebe

feat: more lenient id validation
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/IdentifierPatterns.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/UserValidator.java
Labels: component/zeebe

test: verify more lenient id validations
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserControllerTest.java
Labels: component/zeebe

fix: ignore already exists errors
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/opensearch/OpensearchEngineClient.java
Labels: component/zeebe

deps(identity): update identity to 8.7.0-alpha5
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

refactor: clarify injecting client
  qa/util/src/main/java/io/camunda/qa/util/multidb/CamundaMultiDBExtension.java
Labels: none

feat: doc handling zeebe client
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/CreateDocumentBatchCommandStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/CreateDocumentLinkCommandStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/DeleteDocumentCommandStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/DocumentBuilderStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DeleteDocumentResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DocumentLinkResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DocumentMetadata.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DocumentReferenceBatchResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DocumentReferenceResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/worker/JobClient.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateDocumentBatchCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateDocumentLinkCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/DeleteDocumentCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClient.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentLinkResponseImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentMetadataImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentReferenceBatchResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentReferenceBatchResponseImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentReferenceResponseImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/util/DocumentBuilder.java
Labels: component/zeebe

feat: add Create and Get document command to zeebe client
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClient.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/CreateDocumentCommandStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/fetch/DocumentContentGetRequest.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DocumentReferenceResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/worker/JobClient.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateDocumentCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/fetch/DocumentContentGetRequestImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClient.java
Labels: component/zeebe

fix: adjust inconsistent OpenAPI attribute names
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DocumentReferenceBatchResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentReferenceBatchResponseImpl.java
Labels: component/zeebe

fix: remove @Experimental tag on createDocumentBatch command
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClient.java
Labels: component/zeebe

fix: use new REST DTO path in Zeebe client classes
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateDocumentBatchCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateDocumentCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateDocumentLinkCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentLinkResponseImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentMetadataImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentReferenceBatchResponseImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentReferenceResponseImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/util/DocumentBuilder.java
Labels: component/zeebe

fix: update ZeebeClient comments and HttpClient delete method
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClient.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClient.java
Labels: component/zeebe

deps(identity): update identity to 8.8.0-alpha2
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: fix npe when closing OS exporter before open is called
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
Labels: component/zeebe

build: optimize is a dedicated app
  .github/workflows/ci.yml
  .github/workflows/optimize-ci-build-reusable.yml
  .github/workflows/optimize-ci.yml
  .github/workflows/optimize-e2e-tests-sm.yml
  .github/workflows/zeebe-aws-os-dispatch-tests.yml
  dist/src/main/java/io/camunda/application/Profile.java
  dist/src/main/java/io/camunda/application/StandaloneOptimize.java
  dist/src/main/java/io/camunda/optimize/OptimizeModuleConfiguration.java
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/backend/src/it/java/io/camunda/optimize/AbstractIT.java
  optimize/backend/src/main/java/io/camunda/optimize/Main.java
  optimize/backend/src/main/java/io/camunda/optimize/OptimizeTomcatConfig.java
  optimize/backend/src/main/java/io/camunda/optimize/tomcat/CCSMRequestAdjustmentFilter.java
  optimize/backend/src/main/java/io/camunda/optimize/tomcat/ExternalResourcesUtil.java
  optimize/client/pom.xml
  optimize/client/scripts/start-backend.js
  optimize/client/vite.config.ts
  optimize/docker-compose.ccsm-with-optimize.yml
  optimize/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/optimize-commons/src/main/resources/service-config.yaml
  pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

build: introduce Optimize SSL configuration
  optimize/backend/src/main/java/io/camunda/optimize/OptimizeTomcatConfig.java
Labels: component/optimize

fix: create meters once to avoid gauge re-registration
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchMetrics.java
Labels: component/zeebe

build: revert to Optimize dedicated docker image
  .github/actions/execute-healthcheck-and-push-image/action.yml
  .github/workflows/optimize-ci-build-reusable.yml
  optimize-internal-test.Dockerfile
  optimize.Dockerfile
  optimize.fallback.Dockerfile
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

build: copy-paste error
  optimize.Dockerfile
Labels: component/optimize

fix: create meters once to avoid gauge re-registration
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchMetrics.java
Labels: component/zeebe

fix: create meters once to avoid gauge re-registration
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchMetrics.java
Labels: component/zeebe

fix: create meters once to avoid gauge re-registration
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchMetrics.java
Labels: component/zeebe

deps(identity): update identity to 8.4.19
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize
