Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

docs: clarify processDepth property
  engine/src/main/java/io/camunda/zeebe/engine/state/instance/ElementInstance.java
Labels: none

docs: explicitly mention all versions
  engine/src/main/java/io/camunda/zeebe/engine/state/instance/ElementInstance.java
Labels: none

fix: revert applier to 8.5
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceElementActivatingV2Applier.java
Labels: none

docs: describe the new configuration option
  dist/src/main/config/broker.yaml.template
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: enable swagger ui to camunda 8 api
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  zeebe/gateway-protocol/pom.xml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiConfig.java
Labels: component/zeebe

style: apply spotless
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/BpmnStreamProcessor.java
Labels: none

build(project): update java compat versions
  parent/pom.xml
  release.properties
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: add constructor with OptimizeElasticsearchClient
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/es/MappingMetadataUtilES.java
Labels: component/optimize

test: introduce new annotation
  qa/util/src/main/java/io/camunda/qa/util/multidb/CamundaMultiDBExtension.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/MultiDbTest.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/MultiDbTestApplication.java
Labels: none

test: migrate all tests to new annotation
  qa/integration-tests/src/test/java/io/camunda/it/StandaloneCamundaTest.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/ApplicationAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/AuthorizationSearchIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/BasicAuthenticationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/DecisionAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/DecisionInstanceAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/GroupSearchingAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/MappingAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/ProcessAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/ProcessInstanceAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/RoleSearchingAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/TenantAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/UnprotectedApiIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/UserSearchingAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/UserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/cluster/ClusterPurgeMultiDbIT.java
Labels: none

fix: add constructor with OptimizeElasticsearchClient
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/MappingMetadataUtilOS.java
Labels: component/optimize

fix: add OptimizeElasticsearchClient import
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/MappingMetadataUtilOS.java
Labels: component/optimize

test: enable elasticsearch on extension
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationITExtension.java
Labels: none

fix: address review comments
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/CamundaMigrator.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationITExtension.java
Labels: none

deps: fix pom
  qa/integration-tests/pom.xml
Labels: none

test: migration extension
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/ApiCallable.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/CamundaMigrator.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationITExtension.java
Labels: none

refactor: remove fixed port bindings
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationITExtension.java
Labels: none

refactor: use extension context to store test scope params
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationITExtension.java
Labels: none

fix: allow env overrides to be specified for initial and updated configurations
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/CamundaMigrator.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationITExtension.java
Labels: none

refactor: parameter resolver suppliers
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationITExtension.java
Labels: none

fix: use proper dbClient
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/MappingMetadataUtilOS.java
Labels: component/optimize

test: port MigrationUserTaskUpdateIT in the new format
  qa/integration-tests/src/test/java/io/camunda/it/migration/MigrationUserTaskUpdateIT.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/TasklistMigrationHelper.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/ZeebeMigrationHelper.java
Labels: none

style: format
  qa/integration-tests/src/test/java/io/camunda/it/migration/MigrationUserTaskUpdateIT.java
Labels: none

fix: sync with base, allow env overrides on upgrade
  qa/integration-tests/src/test/java/io/camunda/it/migration/MigrationUserTaskUpdateIT.java
Labels: none

test: disable flaky test to check CI config
  qa/integration-tests/src/test/java/io/camunda/it/migration/ElasticsearchUpdateRegressionTest.java
Labels: none

refactor: inject context in test cases
  qa/integration-tests/src/test/java/io/camunda/it/migration/MigrationUserTaskUpdateIT.java
Labels: none

Revert "test: disable flaky test to check CI config"
  qa/integration-tests/src/test/java/io/camunda/it/migration/ElasticsearchUpdateRegressionTest.java
Labels: none

deps: fix pom
  qa/integration-tests/pom.xml
Labels: none

fix: remove old provider
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationITInvocationProvider.java
Labels: none

ci: root IT config
  .github/workflows/ci.yml
Labels: component/build-pipeline

ci: root IT increase forkCount
  .github/workflows/ci.yml
Labels: component/build-pipeline

test: split MigrationUserTaskUpdateIT in separate classes
  qa/integration-tests/src/test/java/io/camunda/it/migration/MigrationUserTaskUpdateIT.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/usertask/AssignUserTaskMigrationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/usertask/CompleteUserTaskMigrationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/usertask/UnassignUserTaskMigrationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/usertask/UserTaskMigrationHelper.java
Labels: none

deps: remove unused dependency
  search/search-domain/pom.xml
Labels: none

feat: remove test class
  optimize/util/optimize-commons/src/test/java/io/camunda/optimize/service/db/schema/OptimizeIndexNameServiceTest.java
Labels: component/optimize

fix: Operate variable values are null when MIGRATED and CREATED
  operate/importer-8_4/src/main/java/io/camunda/operate/zeebeimport/v8_4/processors/VariableZeebeRecordProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/processors/VariableZeebeRecordProcessor.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/VariableZeebeRecordProcessorIT.java
Labels: component/operate

fix: Operate variable values are null when MIGRATED and CREATED
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/v8_5/processors/VariableZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/VariableZeebeRecordProcessor.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/VariableZeebeRecordProcessorIT.java
Labels: component/operate

deps: remove unused dependency
  optimize/util/optimize-commons/pom.xml
Labels: component/optimize

fix: remove unused import
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/schema/index/index/TimestampBasedImportIndex.java
Labels: component/optimize

fix: Reproduce release:prepare (#28522)
  .github/workflows/camunda-platform-release.yml
  .github/workflows/dispatch-release-8-6-28522.yaml
Labels: component/build-pipeline

fix: Operate variable values are null when MIGRATED and CREATED
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/v8_6/processors/VariableZeebeRecordProcessor.java
  operate/importer-8_7/src/main/java/io/camunda/operate/zeebeimport/processors/VariableZeebeRecordProcessor.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/VariableZeebeRecordProcessorIT.java
Labels: component/operate
