Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/build-pipeline, component/c8-api, component/c8run

.github/labeler.yml:

component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/**'
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - '.mvn/**'
          - 'maven-settings.xml'
component/c8-api:
  - changed-files:
      - any-glob-to-any-file:
          - 'zeebe/gateway-protocol/src/main/proto/rest-api.yaml'
          - 'zeebe/gateway-protocol/src/main/proto/hidden/generation-spec.yaml'
          - 'zeebe/gateway-rest/**'
# hint on changes done to the deprecated java client, and that might need to applied to the supported client
deprecated-client:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'clients/java/src/main/java/io/camunda/zeebe/**'
              - 'clients/java/src/test/java/io/camunda/zeebe/**'
      - base-branch: 'main' # TODO replace with 'backport stable/8.8' in https://github.com/camunda/camunda/issues/26820
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

feat: add reminder to specification changes
  .github/workflows/specification-changes-reminder.yml
Labels: component/build-pipeline

feat: add latest strong specification
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/c8-api

fix: update generation-spec.yaml with latest changes
  zeebe/gateway-protocol/src/main/proto/internal/generation-spec.yaml
Labels: none

feat: move the loose specification into an hidden folder
  zeebe/gateway-protocol/src/main/proto/hidden/generation-spec.yaml
Labels: component/c8-api

ci: make V2 API key validation warnings
  zeebe/gateway-protocol/vacuum-ruleset.yaml
Labels: none

fix: conditional jackson converter setup
  dist/src/main/java/io/camunda/application/commons/rest/MappingJackson2HttpMessageConverterConfiguration.java
  dist/src/test/java/io/camunda/application/CamundaDockerIT.java
Labels: none

fix: conditional jackson converter setup
  dist/src/main/java/io/camunda/application/commons/rest/MappingJackson2HttpMessageConverterConfiguration.java
  dist/src/test/java/io/camunda/application/CamundaDockerIT.java
Labels: none

refactor: reformat strong spec to align with monorepo
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/c8-api

refactor: correct quotation marks
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/c8-api

refactor: remove unnecessary spec file
  zeebe/gateway-protocol/src/main/proto/hidden/generation-spec.yaml
Labels: component/c8-api

fix: update status code on delete document API call
  zeebe/gateway-protocol/src/main/proto/internal/generation-spec.yaml
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/c8-api

fix: update CorrelatedMessageSubscriptionFilter.elementInstanceKey $ref
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/c8-api

fix: adhere to OAS 3.0
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/c8-api

refactor: remove unnecessary spec file changes
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/c8-api

fix: add missing spec descriptions
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/c8-api

feat: introduce filter properties for key filters
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/c8-api

build: fix missing import
  dist/pom.xml
  dist/src/test/java/io/camunda/application/CamundaDockerIT.java
Labels: none

refactor: remove empty class SessionAuthenticationRefreshFilterTest
  authentication/src/test/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilterTest.java
Labels: none

ci: OC release workflow dispatch
  .github/workflows/c8-orchestration-cluster-e2e-tests-release.yml
  .github/workflows/test-release-logic.yml
Labels: component/build-pipeline
