Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

fix: Align API logging levels to C8 recommendations
  search/search-client-elasticsearch/pom.xml
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/clients/ElasticsearchSearchClient.java
  search/search-client-opensearch/pom.xml
  search/search-client-opensearch/src/main/java/io/camunda/search/os/clients/OpensearchSearchClient.java
Labels: none

fix: Align API logging levels to C8 recommendations
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/clients/ElasticsearchSearchClient.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/clients/OpensearchSearchClient.java
Labels: none

fix: Align API logging levels to C8 recommendations
  search/search-client-elasticsearch/pom.xml
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/clients/ElasticsearchSearchClient.java
  search/search-client-opensearch/pom.xml
  search/search-client-opensearch/src/main/java/io/camunda/search/os/clients/OpensearchSearchClient.java
Labels: none

refactor: extract schema initialization out of the exporter
  dist/src/main/java/io/camunda/application/StandalonePrefixMigration.java
  dist/src/main/java/io/camunda/application/StandaloneSchemaManager.java
  dist/src/main/java/io/camunda/application/commons/migration/PrefixMigrationHelper.java
  dist/src/main/java/io/camunda/application/commons/migration/ProcessMigrationModuleConfiguration.java
  dist/src/main/java/io/camunda/application/commons/migration/SchemaManagerHelper.java
  dist/src/main/java/io/camunda/application/commons/search/SearchClientDatabaseConfiguration.java
  dist/src/main/java/io/camunda/application/commons/search/SearchEngineConfiguration.java
  dist/src/main/java/io/camunda/application/commons/search/SearchEngineDatabaseConfiguration.java
  dist/src/main/java/io/camunda/application/commons/search/SearchEngineEnabledCondition.java
  dist/src/main/java/io/camunda/application/commons/search/SearchEngineSchemaInitializer.java
  dist/src/main/java/io/camunda/application/initializers/StandaloneSchemaManagerInitializer.java
  operate/qa/integration-tests/pom.xml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/camunda/exporter/SchemaWithExporter.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/OpensearchTestRuleProvider.java
  operate/qa/util/src/main/java/io/camunda/operate/qa/util/TestContainerUtil.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/PrefixMigrationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/PrefixMigrationOSIT.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/MultiDbConfigurator.java
  search/search-client-connect/src/main/java/io/camunda/search/connect/configuration/ConnectConfiguration.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistZeebeExtensionElasticSearch.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistZeebeExtensionOpenSearch.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/adapters/ClientAdapter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/config/ExporterConfiguration.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/SchemaManager.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterAuthenticationIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/batchoperations/BatchOperationUpdateRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/incident/IncidentUpdateRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/CamundaExporterSchemaUtils.java
  zeebe/qa/util/pom.xml
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestPrefixMigrationApp.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/retry/BackOffRetryStrategy.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

refactor: code review required changes
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/OpensearchTestRuleProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
Labels: component/zeebe, component/operate

refactor: extract schema initialization out of the exporter
  qa/integration-tests/src/test/java/io/camunda/it/migration/PrefixMigrationIT.java
Labels: none

refactor: extract schema initialization out of the exporter
  .github/workflows/ci.yml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/OpensearchTestRuleProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
Labels: component/zeebe, component/operate, component/build-pipeline

refactor: replace index.prefix by connect.indexPrefix
  dist/src/main/java/io/camunda/application/commons/migration/SchemaManagerHelper.java
  dist/src/main/java/io/camunda/application/commons/search/SearchEngineSchemaInitializer.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/camunda/exporter/SchemaWithExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/config/ConfigValidator.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/config/ExporterConfiguration.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/SchemaManager.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/DefaultExporterResourceProviderTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/config/ConfigValidatorTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/AWSSearchDBExtension.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/CamundaExporterITTemplateExtension.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/CamundaExporterSchemaUtils.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

test: add tests to SchemaManagerIT
  qa/integration-tests/src/test/java/io/camunda/it/migration/PrefixMigrationIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/SchemaManagerIT.java
Labels: component/zeebe

feat: add backoff retries on init schema
  dist/src/main/java/io/camunda/application/commons/migration/SchemaManagerHelper.java
  dist/src/main/java/io/camunda/application/commons/search/SearchEngineDatabaseConfiguration.java
  dist/src/main/java/io/camunda/application/commons/search/SearchEngineSchemaInitializer.java
  migration/process-migration/pom.xml
  migration/process-migration/src/main/java/io/camunda/migration/process/MigrationRunner.java
  migration/process-migration/src/main/java/io/camunda/migration/process/adapter/es/ElasticsearchAdapter.java
  migration/process-migration/src/main/java/io/camunda/migration/process/adapter/os/OpensearchAdapter.java
  migration/process-migration/src/main/java/io/camunda/migration/process/config/ProcessMigrationProperties.java
  migration/process-migration/src/test/java/io/camunda/migration/process/it/AdapterTest.java
  migration/process-migration/src/test/java/io/camunda/migration/process/it/MigrationRunnerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/camunda/exporter/SchemaWithExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/SchemaManager.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/config/SchemaManagerConfiguration.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/config/SearchEngineConfiguration.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/SchemaManagerIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/CamundaExporterSchemaUtils.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/SchemaManagerITInvocationProvider.java
  zeebe/util/pom.xml
  zeebe/util/src/main/java/io/camunda/zeebe/util/retry/RetryConfiguration.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/retry/RetryDecorator.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

test: fix failing tests
  dist/src/main/java/io/camunda/application/commons/search/SearchEngineSchemaInitializer.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/client/AbstractOpenSearchOperationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/OpensearchOperateZeebeRuleProvider.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/OpensearchTestRuleProvider.java
  operate/qa/util/src/main/java/io/camunda/operate/qa/util/TestContainerUtil.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/ElasticsearchTestExtension.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/OpenSearchTestExtension.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistZeebeExtensionElasticSearch.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistZeebeExtensionOpenSearch.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/retry/RetryDecorator.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

refactor: code review comments + remove catching ConnectException
  dist/src/main/java/io/camunda/application/commons/search/SearchEngineDatabaseConfiguration.java
  dist/src/main/java/io/camunda/application/commons/search/SearchEngineSchemaInitializer.java
  migration/process-migration/src/main/java/io/camunda/migration/process/config/ProcessMigrationProperties.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/StartupIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rest/GatewayRestConfigurationTest.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/MultiDbConfigurator.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/it/ZeebeConnectorSecureIT.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/SchemaManager.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/config/SchemaManagerConfiguration.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/S3BackupAuthenticationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ForceScaleDownBrokersTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/PartitionJoinTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/network/AsymmetricNetworkPartitionIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/topology/TopologyClusterTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/exporter/ExporterConfigInstantiationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/health/DiskSpaceRecoveryIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/network/DefaultAdvertisedAddressIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/network/Ipv6IntegrationTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/security/Pkcs1SupportTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/smoke/ContainerClusterSmokeIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/startup/NonDefaultContainerSetupTest.java
  zeebe/qa/update-tests/src/test/java/io/camunda/zeebe/test/ContainerState.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestSpringApplication.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneGateway.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/retry/RetryConfiguration.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/retry/RetryDecorator.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: minimized
  .github/workflows/camunda-platform-release.yml
  .github/workflows/dispatch-release-8-6-28522.yaml
Labels: component/build-pipeline

test: revertthis test against 8.7.0-alpha5
  c8run/.env
Labels: component/c8run

feat: add filter field to endpoint for ES and OS
  clients/java/src/main/java/io/camunda/client/api/search/filter/builder/FlowNodeInstanceStateProperty.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/builder/FlowNodeInstanceStatePropertyImpl.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/ProcessInstanceFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/ProcessInstanceQueryTransformerTest.java
  search/search-domain/src/main/java/io/camunda/search/filter/ProcessInstanceFilter.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/deserializer/FlowNodeInstanceStateFilterPropertyDeserializer.java
Labels: component/zeebe

feat: add client Java and RDBMS implementations
  clients/java/src/main/java/io/camunda/client/api/search/filter/FlownodeInstanceFilter.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/ProcessInstanceFilter.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/builder/FlowNodeInstanceStateProperty.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/builder/ProcessInstanceStateProperty.java
  clients/java/src/main/java/io/camunda/client/api/search/response/FlowNodeInstanceState.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/FlownodeInstanceFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/ProcessInstanceFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/builder/FlowNodeInstanceStatePropertyImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/builder/ProcessInstanceStatePropertyImpl.java
  clients/java/src/test/java/io/camunda/client/flownodeinstance/FlownodeInstanceTest.java
  clients/java/src/test/java/io/camunda/client/process/QueryProcessInstanceTest.java
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/ProcessInstanceFilterTransformer.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

test: add qa IT and make state an advanced filter
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/flownodeinstance/FlowNodeInstanceIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/flownodeinstance/FlowNodeInstanceSpecificFilterIT.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/FlownodeInstanceFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/FlowNodeInstanceFilterTest.java
  search/search-domain/src/main/java/io/camunda/search/filter/FlowNodeInstanceFilter.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/FlowNodeInstanceQueryControllerTest.java
Labels: component/zeebe

fix: minimized + git fsck
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

fix: attempt to sign+notarize dylibs but not jars
  .github/actions/sign-and-notarize/sign_and_notarize.sh
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

Revert "test: revertthis test against 8.7.0-alpha5"
  c8run/.env
Labels: component/c8run

fix: find command was searching wrong path
  .github/actions/sign-and-notarize/sign_and_notarize.sh
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

fix: use rsync instead of mv
  .github/actions/sign-and-notarize/sign_and_notarize.sh
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

fix: ignore existing
  .github/actions/sign-and-notarize/sign_and_notarize.sh
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

feat: migrate MigrateAction component to v2
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/MigrateAction/v2/index.tsx
Labels: component/operate

feat: migrate SourceDiagram component to v2
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/MigrateAction/v2/index.tsx
  operate/client/src/App/Processes/ListView/index.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/index.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/v2/SourceDiagram.test.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/v2/SourceDiagram.tsx
Labels: component/operate

fix: nin filter process instance
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/v2/SourceDiagram.test.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/v2/SourceDiagram.tsx
Labels: component/operate

feat: Migrate TargetDiagram component to v2
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/index.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/v2/TargetDiagram.test.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/v2/TargetDiagram.tsx
  operate/client/src/modules/queries/processInstancesStatistics/useFlowNodeStates.test.tsx
  operate/client/src/modules/queries/processInstancesStatistics/useFlowNodeStates.ts
  operate/client/src/modules/queries/processInstancesStatistics/useOverlayData.ts
Labels: component/operate

refactor: align `finalize terminate` method naming with other methods
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/BpmnElementProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/JobWorkerTaskSupportingProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskCancelProcessor.java
Labels: component/zeebe

refactor: user handy methods proposed by Ana in #29995 PR
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnUserTaskBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/UserTaskProcessor.java
Labels: component/zeebe

refactor: introduce `TransitionState` enum
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/BpmnElementProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/BpmnStreamProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/JobWorkerTaskSupportingProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/UserTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskCancelProcessor.java
Labels: component/zeebe

test: support AD_HOC_SUB_PROCESS instances importing
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/zeebeimport/ZeebeImportAdHocSubProcessIT.java
  tasklist/qa/integration-tests/src/test/resources/adhoc-subprocess.bpmn
Labels: component/tasklist

feat: support AD_HOC_SUB_PROCESS instances importing
  tasklist/importer-870/src/main/java/io/camunda/tasklist/zeebeimport/v870/processors/es/ProcessInstanceZeebeRecordProcessorElasticSearch.java
  tasklist/importer-870/src/main/java/io/camunda/tasklist/zeebeimport/v870/processors/os/ProcessInstanceZeebeRecordProcessorOpenSearch.java
Labels: component/tasklist

BACKPORT-CONFLICT
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/clients/ElasticsearchSearchClient.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/clients/OpensearchSearchClient.java
Labels: none

BACKPORT-CONFLICT
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/clients/ElasticsearchSearchClient.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/clients/OpensearchSearchClient.java
Labels: none

BACKPORT-CONFLICT
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/clients/ElasticsearchSearchClient.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/clients/OpensearchSearchClient.java
Labels: none

fix: Align API logging levels to C8 recommendations
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/clients/ElasticsearchSearchClient.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/clients/OpensearchSearchClient.java
Labels: none

fix: Align API logging levels to C8 recommendations
  search/search-client-elasticsearch/pom.xml
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/clients/ElasticsearchSearchClient.java
  search/search-client-opensearch/pom.xml
  search/search-client-opensearch/src/main/java/io/camunda/search/os/clients/OpensearchSearchClient.java
Labels: none

fix: Align API logging levels to C8 recommendations
  search/search-client-elasticsearch/pom.xml
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/clients/ElasticsearchSearchClient.java
  search/search-client-opensearch/pom.xml
  search/search-client-opensearch/src/main/java/io/camunda/search/os/clients/OpensearchSearchClient.java
Labels: none

refactor: Introduce `CONTINUE_TERMINATING_ELEMENT` and write it from `UserTaskCancelProcessor`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/BpmnStreamProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/ProcessInstanceStateTransitionGuard.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnUserTaskBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/UserTaskCommandProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskCancelProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/ProcessInstanceClient.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/ProcessInstanceIntent.java
Labels: component/zeebe

refactor: update `onTerminate` in all other BPMN processors to return `TransitionState`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/AdHocSubProcessProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/CallActivityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/EventSubProcessProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/MultiInstanceBodyProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/ProcessProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/SubProcessProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/BoundaryEventProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/EndEventProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/IntermediateCatchEventProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/IntermediateThrowEventProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/StartEventProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/gateway/EventBasedGatewayProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/gateway/ExclusiveGatewayProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/gateway/InclusiveGatewayProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/gateway/ParallelGatewayProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/BusinessRuleTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/JobWorkerTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/ReceiveTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/ScriptTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/UndefinedTaskProcessor.java
Labels: component/zeebe

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
