Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

feat: configure adHocSubProcessActivityActivation record to be exported to Elasticsearch
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporterConfiguration.java
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-ad-hoc-sub-process-activity-activation-template.json
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/TestSupport.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: configure adHocSubProcessActivityActivation record to be exported to OpenSearch
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterConfiguration.java
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-ad-hoc-sub-process-activity-activation-template.json
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestSupport.java
Labels: component/zeebe

refactor: extract ad-hoc subprocess activity activation command validations into separate methods
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
Labels: component/zeebe

feat: check authorization when processing command to activate ad-hoc subprocess activity
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
Labels: component/zeebe

feat: configure AdHocSubProcessActivityActivation Intent and ValueType to be events
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/TypedEventRegistry.java
Labels: component/zeebe

feat: implement processor to process AdHocSubProcessActivityActivate commands
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/adhocsubprocess/ActivateAdHocSubProcessActivityTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/RecordToWrite.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/AdHocSubProcessActivityActivationRecordStream.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/RecordingExporter.java
Labels: component/zeebe

fix: add mapping to get ValueType index for ad-hoc subprocess activity activation to tasklist integration tests
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TestSupport.java
Labels: component/tasklist

fix: add mapping to get ValueType index for ad-hoc subprocess activity activation to operate integration test
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/TestSupport.java
Labels: component/operate

test: add short-circuit to activate adhoc subprocess activity record stream
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/adhocsubprocess/ActivateAdHocSubProcessActivityTest.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/AdHocSubProcessActivityActivationRecordStream.java
Labels: component/zeebe

fix: write the correct rejection type according to specific activate adhoc activity exception
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
Labels: component/zeebe

fix: use correct value type name for adhoc subprocess activity activation abbreviation
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
Labels: component/zeebe

refactor: throw ForbiddenException when authorization is rejected
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
Labels: component/zeebe

refactor: rename tenantIdProp to tenantId to be consistent with the other property names
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/adhocsubprocess/AdHocSubProcessActivityActivationRecord.java
Labels: component/zeebe

refactor: append rejection instead of throwing exceptions when asserting invariants
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
Labels: component/zeebe

refactor: append rejection if unauthorized instead of throwing an exception
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
Labels: component/zeebe

refactor: rename `flow node` to `element` in ad-hoc subprocess activity activation use case
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/adhocsubprocess/ActivateAdHocSubProcessActivityTest.java
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-ad-hoc-sub-process-activity-activation-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-ad-hoc-sub-process-activity-activation-template.json
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/adhocsubprocess/AdHocSubProcessActivityActivationElement.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/adhocsubprocess/AdHocSubProcessActivityActivationRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AdHocSubProcessActivityActivationRecordValue.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
Labels: component/zeebe

refactor: inline BpmnModelInstance creation in setUp method
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/adhocsubprocess/ActivateAdHocSubProcessActivityTest.java
Labels: component/zeebe

fix: add adHocSubProcessActivityActivation record export to OpenSearch config
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

refactor: remove memoization of intent variants and introduce switch-statement to get enum variant from short value
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/AdHocSubProcessActivityActivationIntent.java
Labels: component/zeebe

feat: add test client for assisting in testing AdHocSubProcessActivity test cases
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/AdHocSubProcessActivityClient.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/adhocsubprocess/AdHocSubProcessActivityActivationRecord.java
Labels: component/zeebe

refactor: append rejection instead of throwing exception if the given elements do not exist in the ad-hoc subprocess
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
Labels: component/zeebe

refactor: improve clarity of error messages
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
Labels: component/zeebe

refactor: remove unused code
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
Labels: component/zeebe

refactor: remove unused exception classes
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
Labels: component/zeebe

refactor: use util function to append and write rejection
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
Labels: component/zeebe

refactor: rename unclear test case name to reflect the actual expectation
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/adhocsubprocess/ActivateAdHocSubProcessActivityTest.java
Labels: component/zeebe

test: add test case to test that a rejection is written when the given adhoc subprocess instance key does not exist
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/adhocsubprocess/ActivateAdHocSubProcessActivityTest.java
Labels: component/zeebe

feat: use AdHocSubProcessActivityClient in ActivateAdHocSubProcessActivityTest
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/adhocsubprocess/ActivateAdHocSubProcessActivityTest.java
Labels: component/zeebe

test: add test case to test that the tree path of the activated element is correct
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/adhocsubprocess/ActivateAdHocSubProcessActivityTest.java
Labels: component/zeebe

refactor: use `hasRejectionType` and `hasRejectionReason` when assert rejection test cases
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/adhocsubprocess/ActivateAdHocSubProcessActivityTest.java
Labels: component/zeebe

test: add invariant test that asserts that a rejection is written when the adhoc subprocess is not active
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/adhocsubprocess/ActivateAdHocSubProcessActivityTest.java
Labels: component/zeebe

test: add test case which tests that the adhoc subprocess completes when its completion condition is met
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/adhocsubprocess/ActivateAdHocSubProcessActivityTest.java
Labels: component/zeebe

test: add search-client tests
  search/search-client-elasticsearch/src/test/java/io/camunda/search/es/transformers/aggregator/AbstractSearchAggregatorTransformerTest.java
  search/search-client-elasticsearch/src/test/java/io/camunda/search/es/transformers/aggregator/SearchChildrenAggregatorTransformerTest.java
  search/search-client-elasticsearch/src/test/java/io/camunda/search/es/transformers/aggregator/SearchFilterAggregatorTransformerTest.java
  search/search-client-elasticsearch/src/test/java/io/camunda/search/es/transformers/aggregator/SearchFiltersAggregatorTransformerTest.java
  search/search-client-elasticsearch/src/test/java/io/camunda/search/es/transformers/aggregator/SearchTermsAggregatorTransformerTest.java
  search/search-client-elasticsearch/src/test/java/io/camunda/search/es/transformers/aggregator/TermsAggregationTransformerTest.java
  search/search-client-opensearch/src/test/java/io/camunda/search/os/transformers/aggregator/AbstractSearchAggregatorTransformerTest.java
  search/search-client-opensearch/src/test/java/io/camunda/search/os/transformers/aggregator/SearchChildrenAggregatorTransformerTest.java
  search/search-client-opensearch/src/test/java/io/camunda/search/os/transformers/aggregator/SearchFilterAggregatorTransformerTest.java
  search/search-client-opensearch/src/test/java/io/camunda/search/os/transformers/aggregator/SearchFiltersAggregatorTransformerTest.java
  search/search-client-opensearch/src/test/java/io/camunda/search/os/transformers/aggregator/SearchTermsAggregatorTransformerTest.java
  search/search-client-opensearch/src/test/java/io/camunda/search/os/transformers/aggregator/TermsAggregationTransformerTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/aggregator/SearchAggregatorBuilders.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/ProcessDefinitionStatisticsFilterTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/query/ProcessDefinitionFlowNodeStatisticsQueryTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/aggregator/SearchAggregatorBuildersTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/aggregator/SearchTermsAggregatorTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/ProcessDefinitionStatisticsFilterTransformerTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/query/ProcessDefinitionFlowNodeStatisticsQueryTransformerTest.java
  search/search-domain/src/main/java/io/camunda/search/filter/FilterBuilders.java
Labels: none

fix: pushChanges=false
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

fix: releaseBranch: 28522-8.6.11-3
  .github/workflows/dispatch-release-8-6-28522.yaml
Labels: component/build-pipeline

fix: waitBeforeTagging=10
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

feat: add controller/request mapping/validation part of activating ad-hoc subprocess activities
  service/src/main/java/io/camunda/service/AdHocSubprocessActivityServices.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/AdHocSubprocessActivityController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/AdHocSubprocessActivityRequestValidator.java
Labels: component/zeebe

fix: fix ad-hoc subprocess activity activation controller method name
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/AdHocSubprocessActivityController.java
Labels: component/zeebe

refactor: create a dedicated request validator for ad-hoc subprocess activity requests
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/AdHocSubprocessActivityRequestValidator.java
Labels: component/zeebe

feat: define activate ad-hoc subprocess activities endpoint in OpenAPI spec
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
