Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

test: rely on a variable instead of directly using a boolean for ad-hoc completion condition tests
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
Labels: component/zeebe

test: update ad-hoc subprocess completion condition incident test to also include resolving of incident
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/incident/AdHocSubProcessIncidentTest.java
Labels: component/zeebe

test: update completion condition negative test to not block while waiting for process to not complete
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
Labels: component/zeebe

fix: update filtering for completion condition in ad-hoc subprocess transformer to check for blank value
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/AdHocSubProcessTransformer.java
Labels: component/zeebe

test: add test simulating that ad-hoc subprocess completion condition is updated by an activity
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
Labels: component/zeebe

refactor: migrate job client stream metrics to micrometer
  zeebe/gateway-grpc/pom.xml
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/impl/stream/JobClientStreamMetrics.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/impl/stream/JobClientStreamMetricsDoc.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/impl/stream/JobStreamClientImpl.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/api/UnavailableBrokersTest.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/interceptors/InterceptorIT.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/security/SecurityTest.java
  zeebe/gateway/pom.xml
Labels: component/zeebe

refactor: update code to account for micrometer job client stream metrics
  dist/pom.xml
  dist/src/main/java/io/camunda/zeebe/gateway/JobStreamComponent.java
  dist/src/main/java/io/camunda/zeebe/shared/MetricRegistration.java
  dist/src/test/java/io/camunda/zeebe/gateway/StandaloneGatewaySecurityTest.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/EmbeddedGatewayServiceStep.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteringRule.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: added default buckets from prometheus for AGGREGATED_CLIENTS
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/impl/stream/JobClientStreamMetricsDoc.java
Labels: component/zeebe

deps: add missing undeclared dep
  zeebe/gateway-grpc/pom.xml
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/impl/stream/JobClientStreamMetrics.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/impl/stream/JobClientStreamMetricsDoc.java
Labels: component/zeebe

refactor: remove unnecessary relaxted collector registry
  zeebe/qa/util/pom.xml
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestSpringApplication.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/util/RelaxedCollectorRegistry.java
Labels: component/zeebe

refactor: use stateful gauges to cut down on state tracking
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/impl/stream/JobClientStreamMetrics.java
Labels: component/zeebe

test: fix error code and disable comment on pr
  .github/workflows/identity-regression-test.yml
  http/identity-regression-test.http
Labels: component/identity, component/build-pipeline

build: extend quickly build
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

build: remove skip.fe.build operate default
  operate/pom.xml
Labels: component/operate

build: remove skip.fe.build tasklist default
  tasklist/pom.xml
Labels: component/tasklist

build: remove skip.fe.build identity default
  identity/pom.xml
Labels: component/identity

build: remove duplicate dep
  qa/util/pom.xml
Labels: none

refactor: migrate to new package
  qa/integration-tests/src/test/java/io/camunda/it/auth/UnprotectedApiIT.java
  qa/integration-tests/src/test/java/io/camunda/it/client/AdHocSubprocessActivityQueryTest.java
Labels: none

ci: run new Opensearch test
  .github/workflows/operate-ci-test-reusable.yml
  operate/pom.xml
Labels: component/operate, component/build-pipeline

refactor: rm unused class
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestCamundaApplication.java
Labels: none

refactor: deprecate old test classes
  qa/integration-tests/src/test/java/io/camunda/it/utils/BrokerITInvocationProvider.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestStandaloneCamunda.java
Labels: none

test: ensure gRPC gateway security config is consistent with REST
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/EmbeddedGatewayAuthenticationIdentityIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/EmbeddedGatewayAuthenticationNoneIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/GatewayAuthenticationIdentityAbstractIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/GatewayAuthenticationNoneAbstractIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/StandaloneGatewayAuthenticationIdentityIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/StandaloneGatewayAuthenticationNoneIT.java
Labels: component/zeebe

deps: drive-by remove unused declared dependency
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

BACKPORT-CONFLICT
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

BACKPORT-CONFLICT
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

deps: drive-by remove unused declared dependency
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

build: remove unused dependency from qa-integration-test
  qa/integration-tests/pom.xml
  qa/integration-tests/src/test/java/io/camunda/it/auth/ApplicationAuthorizationIT.java
Labels: none

feat: remove deleteAllMembers script
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/TenantWriter.java
  db/rdbms/src/main/resources/mapper/TenantMapper.xml
Labels: none

feat: prevent updating of tenantId
  db/rdbms/src/main/resources/mapper/TenantMapper.xml
Labels: none

ci: attempt to fix rejected git tag push problem
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

ci: attempt to fix rejected git tag push problem
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

ci: flaky test comment
  .github/workflows/ci.yml
Labels: component/build-pipeline

deps: update zeebe and identity
  optimize/pom.xml
Labels: component/optimize

fix: Process instances sometimes not visible in Operate
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/ListViewZeebeRecordProcessor.java
Labels: component/operate

feat: OS support for Optimize backups (#28575)
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/DatabaseIntegrationTestExtension.java
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/db/DatabaseTestService.java
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/db/ElasticsearchDatabaseTestService.java
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/db/OpenSearchDatabaseTestService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/BackupService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/reader/BackupReaderES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/os/reader/BackupReaderOS.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/reader/AbstractBackupReader.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/reader/BackupReader.java
  optimize/backend/src/main/java/io/camunda/optimize/service/exceptions/OptimizeOpenSearchConnectionException.java
  optimize/backend/src/test/java/io/camunda/optimize/service/backup/BackupServiceTest.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/ExtendedOpenSearchClient.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/OptimizeOpenSearchClient.java
Labels: component/optimize

test: fix test setup
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/interceptors/InterceptorIT.java
Labels: component/zeebe

test: fix typo in env variables
  .github/workflows/identity-regression-test.yml
  http/identity-regression-test.http
Labels: component/identity, component/build-pipeline

build: prepare release 8.6.6-optimize
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Labels: component/optimize

build: prepare for next development iteration
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Labels: component/optimize

feat: support exporting metrics via OpenTelemetry
  dist/pom.xml
  dist/src/main/resources/application.properties
Labels: component/zeebe, component/operate, component/tasklist, component/optimize
