Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

fix: provide fake request id instead of auth details
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/CollaborationDeploymentTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/SuccessfulDeploymentTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/DeploymentClient.java
Labels: component/zeebe

refactor: simplify the creation of actors and actor services
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/AsyncScheduleServiceContext.java
Labels: component/zeebe

fix: tasklist migration utils missing
  tasklist/qa/migration-tests/migration-test/src/test/java/io/camunda/tasklist/qa/migration/BasicProcessTest.java
  tasklist/qa/migration-tests/migration-test/src/test/java/io/camunda/tasklist/qa/migration/BigVariableProcessTest.java
  tasklist/qa/migration-tests/migration-test/src/test/java/io/camunda/tasklist/qa/migration/util/BasicProcessDataGenerator.java
  tasklist/qa/migration-tests/migration-test/src/test/java/io/camunda/tasklist/qa/migration/util/BigVariableProcessDataGenerator.java
Labels: component/tasklist

fix: spring sdk uses grpc address to determine plaintext
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientConfigurationImpl.java
Labels: component/zeebe

refactor: make AsyncScheduleServiceContext `AsyncClosable`
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/AsyncScheduleServiceContext.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
Labels: component/zeebe

feat: change get ampping api to use id
  authentication/src/test/java/io/camunda/authentication/CamundaOidcUserServiceTest.java
  search/search-domain/src/main/java/io/camunda/search/entities/MappingEntity.java
  search/search-domain/src/main/java/io/camunda/search/exception/ErrorMessages.java
  search/search-domain/src/main/java/io/camunda/search/filter/MappingFilter.java
  service/src/main/java/io/camunda/service/MappingServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingQueryControllerTest.java
Labels: component/zeebe

feat: add core application e2e test suite for local execution on stable 8.6
  core-application-e2e-test-suite/.gitignore
  core-application-e2e-test-suite/.nvmrc
  core-application-e2e-test-suite/.prettierignore
  core-application-e2e-test-suite/.prettierrc
  core-application-e2e-test-suite/README.md
  core-application-e2e-test-suite/config/docker-compose.yml
  core-application-e2e-test-suite/config/envs/.env.database.elasticsearch
  core-application-e2e-test-suite/eslint.config.js
  core-application-e2e-test-suite/fixtures.ts
  core-application-e2e-test-suite/license-header.js
  core-application-e2e-test-suite/package-lock.json
  core-application-e2e-test-suite/package.json
  core-application-e2e-test-suite/pages/OperateHomePage.ts
  core-application-e2e-test-suite/pages/OperateLoginPage.ts
  core-application-e2e-test-suite/pages/OperateProcessInstancePage.ts
  core-application-e2e-test-suite/pages/OperateProcessesPage.ts
  core-application-e2e-test-suite/pages/TaskDetailsPage.ts
  core-application-e2e-test-suite/pages/TaskListLoginPage.ts
  core-application-e2e-test-suite/pages/TaskPanelPage.ts
  core-application-e2e-test-suite/pages/UtilitiesPage.ts
  core-application-e2e-test-suite/playwright.config.ts
  core-application-e2e-test-suite/resources/Job_Worker_Process.bpmn
  core-application-e2e-test-suite/resources/New Form.form
  core-application-e2e-test-suite/resources/Start_Form_Process.bpmn
  core-application-e2e-test-suite/resources/User_Task_Process_With_Form.bpmn
  core-application-e2e-test-suite/resources/User_Task_Process_With_Form_API.bpmn
  core-application-e2e-test-suite/resources/Variable_Process.bpmn
  core-application-e2e-test-suite/resources/Zeebe_User_Task_Process.bpmn
  core-application-e2e-test-suite/resources/Zeebe_User_Task_Process_With_Priority.bpmn
  core-application-e2e-test-suite/runTest.js
  core-application-e2e-test-suite/test-setup.ts
  core-application-e2e-test-suite/tests/hto-user-flows.spec.ts
  core-application-e2e-test-suite/tests/login.spec.ts
  core-application-e2e-test-suite/tests/operate-api-tests.spec.ts
  core-application-e2e-test-suite/tests/tasklist-api-tests.spec.ts
  core-application-e2e-test-suite/tsconfig.json
  core-application-e2e-test-suite/utils/apiHelpers.ts
  core-application-e2e-test-suite/utils/sleep.ts
  core-application-e2e-test-suite/utils/zeebeClient.ts
Labels: none

fix: Adding additional JWT validation for expiration and Signature plus IT to verify it
  optimize/backend/pom.xml
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/JwtDecoderIT.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/security/ccsm/CCSMSecurityConfigurerAdapter.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/security/cloud/CCSaaSSecurityConfigurerAdapter.java
Labels: component/optimize

fix: add ignored .auth file
  core-application-e2e-test-suite/utils/.auth
Labels: none

fix: update fixture path
  core-application-e2e-test-suite/runTest.js
  core-application-e2e-test-suite/tsconfig.json
Labels: none

fix: Implementing findings from review
  optimize/backend/pom.xml
  optimize/backend/src/it/java/io/camunda/optimize/auth/JwtDecoderIT.java
Labels: component/optimize

fix: merge get with delete api path
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

fix: adjusted packages
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/PropertyBasedJobWorkerValueCustomizer.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/bean/CopyWithProtectionBeanUtilsBean.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/CamundaClientProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/PropertyBasedZeebeWorkerValueCustomizer.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/common/ZeebeClientProperties.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/properties/PropertyBasedJobWorkerValueCustomizerTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/PropertyBasedZeebeWorkerValueCustomizerTest.java
Labels: component/zeebe

fix: global overrides could override type name and fetch variables which have a special protection
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/PropertyBasedJobWorkerValueCustomizer.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/bean/CopyWithProtectionBeanUtilsBean.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/properties/PropertyBasedJobWorkerValueCustomizerTest.java
Labels: component/zeebe

deps: remove forced dependency
  tasklist/qa/migration-tests/migration-test/pom.xml
Labels: component/tasklist

feat: migrate BatchModificationNotification component to v2
  operate/client/src/App/Processes/ListView/DiagramPanel/BatchModificationNotification/v2/index.test.tsx
  operate/client/src/App/Processes/ListView/DiagramPanel/BatchModificationNotification/v2/index.tsx
  operate/client/src/App/Processes/ListView/DiagramPanel/index.tsx
  operate/client/src/App/Processes/ListView/DiagramPanel/v2/index.tsx
  operate/client/src/modules/queries/processInstancesStatistics/useBatchModificationOverlayData.ts
  operate/client/src/modules/queries/processInstancesStatistics/useInstancesCount.ts
Labels: component/operate

refactor: util method + accept optional flowNodeId
  operate/client/src/App/Processes/ListView/DiagramPanel/BatchModificationNotification/v2/index.tsx
  operate/client/src/modules/queries/processInstancesStatistics/useBatchModificationOverlayData.ts
  operate/client/src/modules/queries/processInstancesStatistics/useInstancesCount.ts
  operate/client/src/modules/utils/statistics/processInstances.test.ts
  operate/client/src/modules/utils/statistics/processInstances.ts
Labels: component/operate

feat: migrate DiagramPanel to PI statistics v2
  operate/client/yarn.lock
Labels: component/operate

fix: include selected insteances in processInstanceKey
  operate/client/src/App/Processes/ListView/DiagramPanel/BatchModificationNotification/v2/index.tsx
  operate/client/src/App/Processes/ListView/DiagramPanel/v2/index.tsx
  operate/client/src/modules/queries/processInstancesStatistics/useInstancesCount.ts
Labels: component/operate

refactor: Adapt /forbidden pages to Figma designs
  identity/client/src/assets/images/forbidden.svg
  identity/client/src/components/global/AppRoot.tsx
  identity/client/src/pages/forbidden/ForbiddenPage.tsx
  identity/client/src/pages/forbidden/component.tsx
  identity/client/src/pages/forbidden/components.tsx
  identity/client/src/pages/forbidden/index.tsx
  identity/client/src/utility/localization/en/components.json
  operate/client/src/modules/components/Forbidden/index.test.tsx
  operate/client/src/modules/components/Forbidden/index.tsx
  operate/client/src/modules/components/Icon/forbidden.svg
  operate/client/src/modules/types/carbon.d.ts
  tasklist/client/src/App.tsx
  tasklist/client/src/common/error-handling/Forbidden.tsx
  tasklist/client/src/common/error-handling/Forbidden/forbidden.svg
  tasklist/client/src/common/error-handling/Forbidden/index.tsx
  tasklist/client/src/common/error-handling/Forbidden/styles.module.scss
  tasklist/client/src/common/i18n/locales/en.json
Labels: component/operate, component/identity, component/tasklist

ci: adjust release workflow for manual 8.6.12-rc1 release
  .github/workflows/camunda-platform-release.yml
  release.properties
Labels: component/build-pipeline

fix: Implementing findings from review
  optimize/backend/pom.xml
  optimize/backend/src/it/java/io/camunda/optimize/auth/JwtDecoderIT.java
Labels: component/optimize

fix: Adding additional JWT validation for expiration and Signature plus IT to verify it
  optimize/backend/pom.xml
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/JwtDecoderIT.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/security/ccsm/CCSMSecurityConfigurerAdapter.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/security/cloud/CCSaaSSecurityConfigurerAdapter.java
Labels: component/optimize

test: verify UserTask update transition triggered by `VariableDocument.UPDATE`
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerBlockedTransitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/VariableClient.java
Labels: component/zeebe

refactor: simplify `VariableDocumentState` persistence by removing extra mapping
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/VariableDocumentUpdatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableVariableState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/variable/DbVariableState.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
Labels: component/zeebe

build: Group testing modules
  pom.xml
  testing/camunda-process-test-example/pom.xml
  testing/camunda-process-test-java/pom.xml
  testing/camunda-process-test-spring/pom.xml
  testing/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: made JWT 'typ' header optional in Operate
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/SecurityTestUtil.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/oauth2/JwtDecoderIT.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/oauth2/IdentityOAuth2WebConfigurer.java
Labels: component/operate

test: fixed alg assertions in JwtDecoderIT
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/oauth2/JwtDecoderIT.java
Labels: component/operate

refactor: using constructor based injection in tasklist IdentityOAuth2WebConfigurer
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/oauth/IdentityOAuth2WebConfigurer.java
Labels: component/tasklist

fix: made JWT 'typ' header optional in Tasklist
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/oauth/IdentityOAuth2WebConfigurer.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/security/oauth/IdentityOAuth2WebConfigurerTest.java
Labels: component/tasklist

feat: added more supported algorithms to JWT decoder
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/oauth/IdentityOAuth2WebConfigurer.java
Labels: component/tasklist

test: added JWT Decoder integration tests to Tasklist
  tasklist/qa/integration-tests/pom.xml
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/security/SecurityTestUtil.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/security/oauth/JwtDecoderIT.java
Labels: component/tasklist

refactor: retrun Optional by `findVariableDocumentState`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskUpdateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/VariableState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/variable/DbVariableState.java
Labels: component/zeebe

refactor: rename AsyncSchedulePool to AsyncTaskGroup
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/AsyncTaskGroup.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/ProcessingScheduleService.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/AsyncScheduleServiceContext.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ExtendedProcessingScheduleServiceImpl.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/ExtendedProcessingScheduleServiceImplTest.java
Labels: component/zeebe

refactor: move zeebe docs to docs/zeebe to simplify discovery
  docs/zeebe/assets/deployment_distribution.bpmn
  docs/zeebe/assets/deployment_distribution.png
  docs/zeebe/assets/generalized_distribution.bpmn
  docs/zeebe/assets/generalized_distribution.png
  docs/zeebe/assets/joining_parallel_gateway.bpmn
  docs/zeebe/assets/joining_parallel_gateway.png
  docs/zeebe/assets/joining_parallel_gateway_doc.bpmn
  docs/zeebe/assets/joining_parallel_gateway_doc.png
  docs/zeebe/backpressure.md
  docs/zeebe/building_docker_images.md
  docs/zeebe/ci.md
  docs/zeebe/developer_handbook.md
  docs/zeebe/engine_questions.md
  docs/zeebe/events.md
  docs/zeebe/generalized_distribution.md
  docs/zeebe/messaging.md
  docs/zeebe/parallel_gateway.md
  docs/zeebe/rolling_updates.md
Labels: none

fix: add id to rdbms entity to pass the test
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/MappingDbModel.java
  search/search-domain/src/main/java/io/camunda/search/entities/MappingEntity.java
Labels: none

feat: let each actor close its own ProcessingScheduleService onClosing or onFailed
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/AsyncProcessingScheduleServiceActor.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/AsyncScheduleServiceContext.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
Labels: component/zeebe

feat: redirect to forbidden page in tasklist if unauthorized
  tasklist/client/src/common/auth/AuthorizationCheck/index.test.tsx
  tasklist/client/src/common/auth/AuthorizationCheck/index.tsx
  tasklist/client/src/common/mocks/current-user.tsx
  tasklist/client/src/common/routing.tsx
  tasklist/client/src/common/utils/IsForbidden.test.ts
  tasklist/client/src/common/utils/isForbidden.ts
  tasklist/client/src/v1/Layout/Header/index.tsx
  tasklist/client/src/v1/Layout/Header/tests/userInfo.test.tsx
  tasklist/client/src/v1/Layout/index.tsx
Labels: component/tasklist

feat: hide identity navbar if app is unauthorized
  identity/client/src/components/global/AppRoot.tsx
  identity/client/src/components/layout/AppHeader.tsx
Labels: component/identity

feat: redirect to forbidden page in operate if unauthorized
  operate/client/src/App/AuthorizationCheck.test.tsx
  operate/client/src/App/AuthorizationCheck.tsx
  operate/client/src/App/Layout/AppHeader/index.tsx
  operate/client/src/App/Layout/AppHeader/tests/userInfo.test.tsx
  operate/client/src/App/index.tsx
  operate/client/src/modules/api/v2/authentication/me.ts
  operate/client/src/modules/components/Forbidden/index.tsx
  operate/client/src/modules/components/Forbidden/styled.tsx
  operate/client/src/modules/components/ForbiddenPage/index.test.tsx
  operate/client/src/modules/components/ForbiddenPage/index.tsx
  operate/client/src/modules/components/ForbiddenPage/styled.tsx
  operate/client/src/modules/stores/authentication.test.ts
  operate/client/src/modules/stores/authentication.ts
Labels: component/operate

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
