Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

fix: modify dep
  qa/integration-tests/pom.xml
  qa/integration-tests/src/test/java/io/camunda/it/auth/ApplicationAuthorizationIT.java
Labels: none

fix: remove unused exception
  qa/integration-tests/src/test/java/io/camunda/it/auth/ApplicationAuthorizationIT.java
Labels: none

fix: apply lint
  tasklist/client/src/modules/components/Errors/Forbidden/index.tsx
Labels: component/tasklist

fix: rename 403 and apply new style
  authentication/src/main/java/io/camunda/authentication/filters/WebApplicationAuthorizationCheckFilter.java
  identity/client/src/App.tsx
  identity/client/src/components/global/AppRoot.tsx
  identity/client/src/pages/errors/403.tsx
  identity/client/src/pages/forbidden/index.tsx
Labels: component/identity

test: migrate ApplicationAuthorizationIT to MultiDbTest setup
  qa/integration-tests/src/test/java/io/camunda/it/auth/ApplicationAuthorizationIT.java
Labels: none

fix: apply stylelint
  tasklist/client/src/modules/components/Errors/Forbidden/styles.module.scss
Labels: component/tasklist

fix: check for authorization flag and apply filter only for web applications
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/filters/WebApplicationAuthorizationCheckFilter.java
Labels: none

fix: make prettier
  identity/client/src/pages/forbidden/component.tsx
  identity/client/src/pages/forbidden/index.tsx
Labels: component/identity

fix: add route for operate forbidden
  operate/client/src/App/index.tsx
Labels: component/operate

fix: apply spotless
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestSimpleCamundaApplication.java
Labels: none

fix: apply lint
  operate/client/src/App/index.tsx
  operate/client/src/modules/Routes.tsx
Labels: component/operate

fix: add parameterized test
  qa/integration-tests/src/test/java/io/camunda/it/auth/ApplicationAuthorizationIT.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestSimpleCamundaApplication.java
Labels: none

build: remove unused dependency from qa-integration-test
  qa/integration-tests/pom.xml
  qa/integration-tests/src/test/java/io/camunda/it/auth/ApplicationAuthorizationIT.java
Labels: none

feat: add IT test
  qa/integration-tests/src/test/java/io/camunda/it/auth/ApplicationAuthorizationIT.java
Labels: none

test: migrate ApplicationAuthorizationIT java http client
  qa/integration-tests/pom.xml
  qa/integration-tests/src/test/java/io/camunda/it/auth/ApplicationAuthorizationIT.java
Labels: none

fix: modify identity forbidden page to contains headers and tabs
  identity/client/src/components/global/AppRoot.tsx
  identity/client/src/pages/forbidden/component.tsx
  identity/client/src/pages/forbidden/index.tsx
Labels: component/identity

feat: redirect to a custom error page when user doesn't have access
  identity/client/src/pages/errors/403.tsx
Labels: component/identity

fix: make prettier
  identity/client/src/pages/errors/403.tsx
Labels: component/identity

fix: prevent truncation of vacuum output
  .github/workflows/ci.yml
Labels: component/build-pipeline

fix: rename 403 and apply new style
  identity/client/src/pages/errors/403.tsx
Labels: component/identity

fix: modify dep
  qa/integration-tests/pom.xml
Labels: none

test: migrate ApplicationAuthorizationIT java http client
  qa/integration-tests/pom.xml
Labels: none

build: remove unused dependency from qa-integration-test
  qa/integration-tests/pom.xml
Labels: none

fix: add Forbidden route to tasklist
  tasklist/client/src/modules/components/Errors/Forbidden/styles.module.scss
Labels: component/tasklist

fix: change assertion logic for allowed urls
  qa/integration-tests/src/test/java/io/camunda/it/auth/ApplicationAuthorizationIT.java
Labels: none

fix: make empty batches required to disable importer configurable
  operate/common/src/main/java/io/camunda/operate/property/ImportProperties.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/RecordsReaderHolder.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/FinishedImportingIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/OpensearchFinishedImportingIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/properties/PropertiesIT.java
  operate/qa/integration-tests/src/test/resources/config/application-test-properties.yml
  tasklist/common/src/main/java/io/camunda/tasklist/property/ImportProperties.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/RecordsReaderHolder.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchFinishedImportingIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpensearchFinishedImportingIT.java
Labels: component/operate, component/tasklist

test: tasklist property parse test
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/properties/PropertiesTest.java
  tasklist/qa/integration-tests/src/test/resources/config/application-test-properties.yml
Labels: component/tasklist

refactor: extract empty batches
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/FinishedImportingIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/OpensearchFinishedImportingIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchFinishedImportingIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpensearchFinishedImportingIT.java
Labels: component/operate, component/tasklist

test: use unauthenticated API in backup test
  qa/integration-tests/src/test/java/io/camunda/it/backup/BackupRestoreIT.java
Labels: none

test: adapt tests to usage of withAuthorizationsEnabled
  qa/integration-tests/src/test/java/io/camunda/it/operate/OperatePermissionsIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistAssignUserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistCompleteUserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistCreateProcessInstanceAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistProcessDefinitionAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistUnassignUserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/compatibility/CompatibilityTasklistAssignUserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/compatibility/CompatibilityTasklistCompleteUserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/compatibility/CompatibilityTasklistCreateProcessInstanceAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/compatibility/CompatibilityTasklistUnassignUserTaskAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/BasicAuthOverGrpcIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/BasicAuthOverRestIT.java
Labels: component/zeebe

refactor: spring security chain simplification
  authentication/pom.xml
  authentication/src/main/java/io/camunda/authentication/ConditionalOnUnprotectedApi.java
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  security/security-core/src/main/java/io/camunda/security/configuration/AuthenticationConfiguration.java
Labels: none

test: added a test to assert backwards-compatibility
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/CamundaClientPropertiesTest.java
Labels: component/zeebe

fix: moved token creation in local test
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/CredentialsProviderSaasTest.java
Labels: component/zeebe

refactor: formatter
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/CamundaClientProperties.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/CamundaClientLegacyPropertiesMappingsLoaderTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/ZeebeClientPropertiesPostProcessorTest.java
Labels: component/zeebe

fix: mix rebased on base branch
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ExecutorServiceConfiguration.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientAllAutoConfiguration.java
Labels: component/zeebe

test: adjusted parameters
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/PropertyBasedZeebeWorkerValueCustomizerTest.java
Labels: component/zeebe

deps: update optimize to react 19
  optimize/client/package.json
  optimize/client/src/__mocks__/react-dom.js
  optimize/client/src/__mocks__/react-dom/client.js
  optimize/client/src/__mocks__/react.tsx
  optimize/client/src/components/Analysis/BranchAnalysis/DiagramBehavior.test.js
  optimize/client/src/components/Reports/ReportEdit.test.js
  optimize/client/src/components/Reports/controlPanels/ProcessPart/__snapshots__/ProcessPart.test.js.snap
  optimize/client/src/modules/components/BPMNDiagram/ClickBehavior.tsx
  optimize/client/src/modules/components/BPMNDiagram/PartHighlight.js
  optimize/client/src/modules/components/Checklist/Checklist.test.tsx
  optimize/client/src/modules/components/DefinitionSelection/MultiDefinitionSelection.tsx
  optimize/client/src/modules/components/EntityDescription/EntityDescription.test.tsx
  optimize/client/src/modules/components/HeatmapOverlay/service.js
  optimize/client/src/modules/components/InstanceViewTable/InstanceViewTable.test.js
  optimize/client/src/modules/components/UserTypeahead/MultiUserInput.tsx
  optimize/client/src/modules/filter/FilterList.js
  optimize/client/src/modules/filter/modals/FilterDefinitionSelection.tsx
  optimize/client/src/modules/filter/modals/date/__snapshots__/DateFilterPreview.test.tsx.snap
  optimize/client/src/modules/filter/modals/node/__snapshots__/NodeListPreview.test.tsx.snap
  optimize/client/src/modules/filter/modals/variable/__snapshots__/VariablePreview.test.tsx.snap
  optimize/client/yarn.lock
Labels: component/optimize

docs: style and formatting of QA README
  qa/README.md
Labels: none

deps: update zeebe and identity for 8.7.0-alpha5
  optimize/pom.xml
Labels: component/optimize

fix: global overrides could override type name and fetch variables which have a special protection
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/PropertyBasedJobWorkerValueCustomizer.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/bean/CopyWithProtectionBeanUtilsBean.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/properties/PropertyBasedJobWorkerValueCustomizerTest.java
Labels: component/zeebe

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
