Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

refactor: delete quill step
  .github/workflows/c8run-release.yaml
Labels: component/build-pipeline, component/c8run

fix: integrate c8run signing into release (for testing)
  .github/actions/sign-and-notarize/action.yml
  .github/workflows/c8run-release.yaml
  .github/workflows/c8run-sign-and-notarize.yml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline, component/c8run

fix: pass env vars in to functions that call them
  .github/actions/sign-and-notarize/action.yml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

feat: add mapping id to the MappingDbModel
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/MappingDbModel.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/MappingFixtures.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/MappingExportHandler.java
Labels: component/zeebe

feat: add mapping id to IdentitySetupInitializeProcessor
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/MappingFixtures.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/IdentitySetupInitializeProcessor.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/MappingCreatedUpdatedHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/MappingDeletedHandler.java
Labels: component/zeebe

fix: add mapping id to IdentitySetupInitializeProcessor
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/IdentitySetupInitializeProcessor.java
Labels: component/zeebe

refactor: code review comments + remove catching ConnectException
  dist/src/main/java/io/camunda/application/commons/search/SearchEngineDatabaseConfiguration.java
  dist/src/main/java/io/camunda/application/commons/search/SearchEngineSchemaInitializer.java
  migration/process-migration/src/main/java/io/camunda/migration/process/config/ProcessMigrationProperties.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/StartupIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rest/GatewayRestConfigurationTest.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/MultiDbConfigurator.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/SchemaManager.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/config/SchemaManagerConfiguration.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/S3BackupAuthenticationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ForceScaleDownBrokersTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/PartitionJoinTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/network/AsymmetricNetworkPartitionIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/topology/TopologyClusterTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/exporter/ExporterConfigInstantiationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/health/DiskSpaceRecoveryIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/network/DefaultAdvertisedAddressIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/network/Ipv6IntegrationTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/security/Pkcs1SupportTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/smoke/ContainerClusterSmokeIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/startup/NonDefaultContainerSetupTest.java
  zeebe/qa/update-tests/src/test/java/io/camunda/zeebe/test/ContainerState.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestSpringApplication.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneGateway.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/retry/RetryConfiguration.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/retry/RetryDecorator.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: add -n
  .github/actions/sign-and-notarize/action.yml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

fix: use gnu base64
  .github/actions/sign-and-notarize/action.yml
  .github/workflows/c8run-release.yaml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline, component/c8run

feat: add roles details page UI, turn description into reusable component
  identity/client/src/components/layout/DetailsPageDescription.tsx
  identity/client/src/feature-flags.ts
  identity/client/src/pages/groups/detail/components.tsx
  identity/client/src/pages/groups/detail/index.tsx
  identity/client/src/pages/roles/detail/RoleDetails.tsx
  identity/client/src/pages/roles/detail/index.tsx
  identity/client/src/utility/api/roles/index.ts
Labels: component/identity

feat: Remove the usage of REST protocol classes in Java Client
  clients/java/src/main/java/io/camunda/client/api/command/ProblemException.java
  clients/java/src/main/java/io/camunda/client/impl/http/ApiCallback.java
  qa/integration-tests/src/test/java/io/camunda/it/cluster/ClusterPurgeIT.java
  qa/integration-tests/src/test/java/io/camunda/it/cluster/ClusterPurgeMultiDbIT.java
  tasklist/common/src/main/java/io/camunda/tasklist/util/ErrorHandlingUtils.java
  tasklist/common/src/test/java/io/camunda/tasklist/util/ErrorHandlingUtilsTest.java
Labels: component/zeebe, component/tasklist

feat: Remove the usage of REST protocol classes in Java Client
  clients/java/src/main/java/io/camunda/client/wrappers/JobChangeset.java
Labels: component/zeebe

feat: Remove the usage of REST protocol classes in Java Client
  clients/java/src/main/java/io/camunda/client/api/search/filter/ProcessInstanceFilter.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/UserTaskFilter.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/ProcessInstanceFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/UserTaskFilterImpl.java
  clients/java/src/main/java/io/camunda/client/wrappers/ProcessInstanceVariableFilterRequest.java
  clients/java/src/main/java/io/camunda/client/wrappers/UserTaskVariableFilterRequest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/UserTaskQueryTest.java
Labels: component/zeebe

feat: Remove the usage of REST protocol classes in Java Client
  clients/java/src/main/java/io/camunda/client/api/command/UpdateGroupCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/UpdateJobCommandStep1.java
  clients/java/src/main/java/io/camunda/client/impl/command/JobUpdateCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/UpdateGroupCommandImpl.java
  clients/java/src/main/java/io/camunda/client/wrappers/GroupChangeset.java
  clients/java/src/main/java/io/camunda/client/wrappers/JobChangeset.java
  clients/java/src/test/java/io/camunda/client/group/UpdateGroupTest.java
  clients/java/src/test/java/io/camunda/client/job/rest/JobUpdateRestTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UpdateJobTest.java
Labels: component/zeebe

feat: Remove the usage of REST protocol classes in Java Client
  clients/java/src/main/java/io/camunda/client/api/search/filter/AdHocSubprocessActivityFilter.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/AdHocSubprocessActivityFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/query/AdHocSubprocessActivityQueryImpl.java
  clients/java/src/main/java/io/camunda/client/wrappers/AdHocSubprocessActivityFilter.java
  clients/java/src/test/java/io/camunda/client/usertask/SearchUserTaskTest.java
Labels: component/zeebe

test: Make BackupServiceIT database agnostic
  optimize/backend/src/it/java/io/camunda/optimize/service/snapshot/BackupServiceIT.java
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/DatabaseIntegrationTestExtension.java
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/db/DatabaseTestService.java
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/db/ElasticsearchDatabaseTestService.java
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/db/OpenSearchDatabaseTestService.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/actuator/BackupRestService.java
  optimize/backend/src/test/java/io/camunda/optimize/service/backup/BackupRequestValidationTest.java
  optimize/backend/src/test/java/io/camunda/optimize/service/backup/BackupServiceTest.java
Labels: component/optimize

feat: add users tab, modals, new translations and translation fixes
  identity/client/src/pages/roles/detail/index.tsx
  identity/client/src/pages/roles/detail/members/AssignMembersModal.tsx
  identity/client/src/pages/roles/detail/members/DeleteModal.tsx
  identity/client/src/pages/roles/detail/members/index.tsx
  identity/client/src/pages/tenants/detail/roles/AssignRolesModal.tsx
  identity/client/src/pages/tenants/detail/roles/index.tsx
  identity/client/src/utility/api/membership/index.ts
  identity/client/src/utility/localization/en/components.json
  identity/client/src/utility/localization/en/groups.json
  identity/client/src/utility/localization/en/roles.json
  identity/client/src/utility/localization/en/tenants.json
Labels: component/identity

feat: add mappings tab, modals, translations
  identity/client/src/pages/roles/detail/index.tsx
  identity/client/src/pages/roles/detail/mappings/AssignMappingsModal.tsx
  identity/client/src/pages/roles/detail/mappings/DeleteModal.tsx
  identity/client/src/pages/roles/detail/mappings/index.tsx
  identity/client/src/utility/api/roles/index.ts
  identity/client/src/utility/localization/en/roles.json
Labels: component/identity

feat: Remove the usage of REST protocol classes in Java Client
  clients/java/src/main/java/io/camunda/client/api/search/filter/FlownodeInstanceFilter.java
  clients/java/src/main/java/io/camunda/client/api/search/response/FlowNodeInstance.java
  clients/java/src/main/java/io/camunda/client/api/search/response/FlowNodeInstanceState.java
  clients/java/src/main/java/io/camunda/client/api/search/response/FlowNodeInstanceType.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/FlownodeInstanceFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/FlowNodeInstanceImpl.java
  clients/java/src/main/java/io/camunda/client/wrappers/FlowNodeInstanceFilter.java
  clients/java/src/main/java/io/camunda/client/wrappers/FlowNodeInstanceResult.java
  clients/java/src/test/java/io/camunda/client/flownodeinstance/FlownodeInstanceTest.java
  clients/java/src/test/java/io/camunda/client/wrappers/ProtocolEnumWrappersTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceQueryTest.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/ElementAssertj.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/testresult/CamundaProcessTestResultCollector.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/ElementAssertTest.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/utils/FlowNodeInstanceBuilder.java
Labels: component/zeebe

feat: Remove the usage of REST protocol classes in Java Client
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/OidcAuthOverGrpcIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/OidcAuthOverRestIT.java
Labels: component/zeebe

feat: Remove the usage of REST protocol classes in Java Client
  clients/java/src/main/java/io/camunda/client/api/search/filter/IncidentFilter.java
  clients/java/src/main/java/io/camunda/client/api/search/response/Incident.java
  clients/java/src/main/java/io/camunda/client/api/search/response/IncidentErrorType.java
  clients/java/src/main/java/io/camunda/client/api/search/response/IncidentState.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/IncidentFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/IncidentImpl.java
  clients/java/src/main/java/io/camunda/client/wrappers/IncidentFilter.java
  clients/java/src/main/java/io/camunda/client/wrappers/IncidentResult.java
  clients/java/src/test/java/io/camunda/client/incident/SearchIncidentTest.java
  clients/java/src/test/java/io/camunda/client/wrappers/ProtocolEnumWrappersTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/IncidentQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/orchestration/IncidentIT.java
  qa/integration-tests/src/test/java/io/camunda/it/orchestration/ProcessMigrationIT.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/testresult/CamundaProcessTestResultCollector.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/impl/testresult/CamundaProcessResultCollectorTest.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/impl/testresult/CamundaProcessResultPrinterTest.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/utils/IncidentBuilder.java
Labels: component/zeebe

feat: Remove the usage of REST protocol classes in Java Client
  clients/java/src/main/java/io/camunda/client/api/search/filter/UserTaskFilter.java
  clients/java/src/main/java/io/camunda/client/api/search/response/UserTask.java
  clients/java/src/main/java/io/camunda/client/api/search/response/UserTaskState.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/UserTaskFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/UserTaskImpl.java
  clients/java/src/main/java/io/camunda/client/wrappers/UserTaskFilter.java
  clients/java/src/main/java/io/camunda/client/wrappers/UserTaskResult.java
  clients/java/src/test/java/io/camunda/client/usertask/SearchUserTaskTest.java
  clients/java/src/test/java/io/camunda/client/wrappers/ProtocolEnumWrappersTest.java
  qa/integration-tests/src/test/java/io/camunda/it/backup/DataGenerator.java
  qa/integration-tests/src/test/java/io/camunda/it/client/UserTaskQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/MigrationUserTaskUpdateIT.java
  qa/integration-tests/src/test/java/io/camunda/it/task/UserTaskIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistCompleteUserTaskAuthorizationIT.java
Labels: component/zeebe

feat: Remove the usage of REST protocol classes in Java Client
  clients/java/src/main/java/io/camunda/client/wrappers/AdHocSubprocessActivityResult.java
Labels: component/zeebe

fix: remove not used dependencies
  zeebe/gateway-rest/pom.xml
Labels: component/zeebe

fix: update zeebeApi to CamundaApi
  zeebe/gateway-protocol/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiConfig.java
Labels: component/zeebe

fix: provide code review suggestions
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
Labels: component/zeebe

fix: move it to a post construct and make bean for yaml object file
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
Labels: component/zeebe

feat: add custom controller for open api camunda
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  dist/src/main/resources/application.properties
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: enable swagger ui to camunda 8 api
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  zeebe/gateway-protocol/pom.xml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiConfig.java
Labels: component/zeebe

feat: Remove the usage of REST protocol classes in Java Client
  clients/java/pom.xml
  clients/java/src/test/java/io/camunda/client/ArchitectureTest.java
Labels: component/zeebe

feat: move to post construct and create yaml object mapper
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
Labels: component/zeebe

fix: move naming to the beam
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
Labels: component/zeebe

style: remove quotes as it might be taken literally
  .github/actions/sign-and-notarize/action.yml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

style: remove newlines
  .github/actions/sign-and-notarize/action.yml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

fix: rearrange options
  .github/actions/sign-and-notarize/action.yml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

fix: rearrange options
  .github/workflows/c8run-release.yaml
Labels: component/build-pipeline, component/c8run

fix: adjust cancel-in-progress
  .github/workflows/c8run-release.yaml
Labels: component/build-pipeline, component/c8run

fix: see x86 results
  .github/workflows/c8run-release.yaml
Labels: component/build-pipeline, component/c8run

fix: go back to regular base64
  .github/actions/sign-and-notarize/action.yml
  .github/workflows/c8run-release.yaml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline, component/c8run

fix: try using other env vars to grab password
  .github/actions/sign-and-notarize/action.yml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline
