Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

feat: finalize UserTask update transition with `VariableDocument.UPDATED` event
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskUpdateProcessor.java
Labels: component/zeebe

test: fix tests by registering default user
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/multitenancy/TenantAwareProcessInstanceVariableTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/multitenancy/TenantAwareUpdateVariablesTest.java
Labels: component/zeebe

test: extend incident resolution tests verify local variable creation
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerIncidentsTest.java
Labels: component/zeebe

fix: reject variable updates with 'PROPAGATE' semantic for user tasks
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableDocumentUpdateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerBlockedTransitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerVariablesTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/VariableClient.java
Labels: component/zeebe

fix: avoid marking "variables" as changed when empty document is provided
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableDocumentUpdateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerBlockedTransitionTest.java
Labels: component/zeebe

test: Add tests for user task update denials after `VD.UPDATE`
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerDenialsTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UserTaskListenersTest.java
Labels: component/zeebe

test: improve stability of user task update test triggered by variable update
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerBlockedTransitionTest.java
Labels: component/zeebe

revert: emit VariableDocument.UPDATING event for all elements
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableDocumentUpdateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/variable/UpdateVariableDocumentTest.java
Labels: component/zeebe

feat: introduce `VariableDocument.UPDATE_DENIED` intent and apply it
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/UserTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/VariableDocumentUpdateDeniedApplier.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/VariableDocumentIntent.java
Labels: component/zeebe

test: add tests to verify data corrections
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerCorrectionsTest.java
Labels: component/zeebe

test: reorganize tests related to user task local variables update
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/CamundaUserTaskTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerBlockedTransitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerVariablesTest.java
Labels: component/zeebe

test: Add tests to verify correct incidents resolution
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerIncidentsTest.java
Labels: component/zeebe

feat: apply suggested changes in code review
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
Labels: component/zeebe

ci: spotless apply
  optimize/backend/src/main/java/io/camunda/optimize/rest/PublicApiRestService.java
Labels: component/optimize

fix: retrieve JAVA_HOME and JAVA_VERSION from a java script
  .github/workflows/c8run-build.yaml
  .gitignore
  c8run/.env
  c8run/JavaHome.java
  c8run/JavaVersion.java
  c8run/internal/packages/package.go
  c8run/main.go
Labels: component/build-pipeline, component/c8run

build: test pr
  optimize/test-file.txt
Labels: component/optimize

fix: retrieve JAVA_HOME and JAVA_VERSION from a java script
  .github/workflows/c8run-build.yaml
  .gitignore
  c8run/JavaHome.java
  c8run/JavaVersion.java
  c8run/internal/packages/package.go
  c8run/main.go
Labels: component/build-pipeline, component/c8run

fix: retrieve JAVA_HOME and JAVA_VERSION from a java script
  .github/workflows/c8run-build.yaml
  .gitignore
  c8run/JavaHome.java
  c8run/JavaVersion.java
  c8run/internal/packages/package.go
  c8run/main.go
Labels: component/build-pipeline, component/c8run

Revert "fix: fixing bug with variable import"
  optimize/backend/src/main/java/io/camunda/optimize/service/importing/engine/service/ObjectVariableService.java
Labels: component/optimize

test: support AD_HOC_SUB_PROCESS instances importing
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/zeebeimport/ZeebeImportAdHocSubProcessIT.java
  tasklist/qa/integration-tests/src/test/resources/adhoc-subprocess.bpmn
Labels: component/tasklist

feat: support AD_HOC_SUB_PROCESS instances importing
  tasklist/importer-870/src/main/java/io/camunda/tasklist/zeebeimport/v870/processors/es/ProcessInstanceZeebeRecordProcessorElasticSearch.java
  tasklist/importer-870/src/main/java/io/camunda/tasklist/zeebeimport/v870/processors/os/ProcessInstanceZeebeRecordProcessorOpenSearch.java
Labels: component/tasklist

fix: add new script to test
  .github/actions/sign-and-notarize/exclude_and_sign_all_in_one.sh
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

Revert "Revert "fix: fixing bug with variable import""
  optimize/backend/src/main/java/io/camunda/optimize/service/importing/engine/service/ObjectVariableService.java
Labels: component/optimize

build: do not use maven wrapper
  .github/workflows/optimize-e2e-tests-sm.yml
Labels: component/optimize, component/build-pipeline

fix: add new notarize and reinject script
  .github/actions/sign-and-notarize/exclude_sign_notarize_reinject.sh
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

test: rename `expectPartialUpdate` to `expectUpdating` in VariableClient
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerBlockedTransitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerCorrectionsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerDenialsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerIncidentsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTaskHeadersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerVariablesTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/VariableClient.java
Labels: component/zeebe

build: use wrapper
  .github/workflows/optimize-e2e-tests-sm.yml
Labels: component/optimize, component/build-pipeline

docs: add CI requirements to c8run readme
  c8run/README.md
Labels: component/c8run

docs: add CI requirements to c8run readme
  c8run/README.md
Labels: component/c8run

fix: delete failing script and add new working script
  .github/actions/sign-and-notarize/exclude_sign_notarize_reinject_absolute.sh
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

Revert "build: use wrapper"
  .github/workflows/optimize-e2e-tests-sm.yml
Labels: component/optimize, component/build-pipeline

fix: delete failing script
  .github/actions/sign-and-notarize/exclude_sign_notarize_reinject.sh
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

fix: adjust actions.yml with new script
  .github/actions/sign-and-notarize/action.yml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

feat: report stats from gateway process cache
  dist/src/main/java/io/camunda/application/commons/rest/RestApiConfiguration.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/cache/ExporterEntityCacheImpl.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/cache/FormCacheIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/cache/ProcessCacheImplIT.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/cache/ProcessCache.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/cache/ProcessCacheTest.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/cache/CaffeineCacheStatsCounter.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

build: restore location of Optimize's properties file
  optimize/backend/src/main/resources/application.properties
  optimize/backend/src/main/resources/banner.txt
Labels: component/optimize

build: build Optimize without Maven Wrapper
  .github/workflows/optimize-e2e-tests-sm.yml
Labels: component/optimize, component/build-pipeline

fix: remove old scripts
  .github/actions/sign-and-notarize/exclude_and_sign_all_in_one.sh
  .github/actions/sign-and-notarize/sign_all_mach_o_and_jars.sh
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

refactor: renamed script to sign and notarize also adjusted in actions.yml
  .github/actions/sign-and-notarize/action.yml
  .github/actions/sign-and-notarize/sign_and_notarize.sh
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

fix: Improve REST API response when deployResources payload is too large
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestHandler.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/grpc/GrpcErrorMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RestErrorMapper.java
  zeebe/protocol/src/main/resources/protocol.xml
Labels: component/zeebe

fix: revertthis - disables upload of artifacts
  .github/workflows/c8run-release.yaml
Labels: component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
