Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

feat: add new RecordValue and Intent for activating activities in a ad-hoc subprocess instance
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/ValueTypeMapping.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/AdHocSubProcessActivityActivationIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/Intent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AdHocSubProcessActivityActivationRecordValue.java
  zeebe/protocol/src/main/resources/protocol.xml
Labels: component/zeebe

feat: configure adHocSubProcessActivityActivation record to be exported to OpenSearch
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterConfiguration.java
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-ad-hoc-sub-process-activity-activation-template.json
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestSupport.java
Labels: component/zeebe

feat: configure adHocSubProcessActivityActivation record to be exported to Elasticsearch
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporterConfiguration.java
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-ad-hoc-sub-process-activity-activation-template.json
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/TestSupport.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: add record which will be processed to activate an ad-hoc subprocess activity
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestReader.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/adhocsubprocess/AdHocSubProcessActivityActivationFlowNode.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/adhocsubprocess/AdHocSubProcessActivityActivationRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
Labels: component/zeebe

refactor: inline BpmnModelInstance creation in setUp method
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/adhocsubprocess/ActivateAdHocSubProcessActivityTest.java
Labels: component/zeebe

fix: add mapping to get ValueType index for ad-hoc subprocess activity activation to operate integartion test
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/TestSupport.java
Labels: component/operate

fix: write the correct rejection type according to specific activate adhoc activity exception
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
Labels: component/zeebe

fix: add mapping to get ValueType index for ad-hoc subprocess activity activation to tasklist integration tests
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TestSupport.java
Labels: component/tasklist

test: add short-circuit to activate adhoc subprocess activity record stream
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/adhocsubprocess/ActivateAdHocSubProcessActivityTest.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/AdHocSubProcessActivityActivationRecordStream.java
Labels: component/zeebe

refactor: rename `flow node` to `element` in ad-hoc subprocess activity activation use case
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/adhocsubprocess/ActivateAdHocSubProcessActivityTest.java
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-ad-hoc-sub-process-activity-activation-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-ad-hoc-sub-process-activity-activation-template.json
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/adhocsubprocess/AdHocSubProcessActivityActivationElement.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/adhocsubprocess/AdHocSubProcessActivityActivationRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AdHocSubProcessActivityActivationRecordValue.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
Labels: component/zeebe

refactor: throw ForbiddenException when authorization is rejected
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
Labels: component/zeebe

refactor: extract ad-hoc subprocess activity activation command validations into separate methods
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
Labels: component/zeebe

feat: define activate ad-hoc subprocess activities endpoint in OpenAPI spec
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

test: add controller tests for ad-hoc subprocess activity activation
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/AdHocSubprocessActivityControllerTest.java
Labels: component/zeebe

feat: add controller/request mapping/validation part of activating ad-hoc subprocess activities
  service/src/main/java/io/camunda/service/AdHocSubprocessActivityServices.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/AdHocSubprocessActivityController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/AdHocSubprocessActivityRequestValidator.java
Labels: component/zeebe

refactor: create a dedicated request validator for ad-hoc subprocess activity requests
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/AdHocSubprocessActivityRequestValidator.java
Labels: component/zeebe

fix: remove unneeded todo comment as this is handled at the processing level
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/AdHocSubprocessActivityRequestValidator.java
Labels: component/zeebe

feat: implement broker request handling for activating ad-hoc activities
  service/src/main/java/io/camunda/service/AdHocSubprocessActivityServices.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerActivateAdHocSubprocessActivityRequest.java
Labels: component/zeebe

refactor: change `activate` to `activation` in activate ad-hoc subprocess activity endpoint
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/AdHocSubprocessActivityController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/AdHocSubprocessActivityControllerTest.java
Labels: component/zeebe

test: add an engine integration test for activating ad-hoc activities
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/ActivateAdHocSubprocessActivityTest.java
Labels: component/zeebe

refactor: change `activate` to `activation` in activate ad-hoc subprocess activity endpoint
  clients/java/src/main/java/io/camunda/client/impl/command/ActivateAdHocSubprocessActivitiesCommandImpl.java
Labels: component/zeebe

feat: add client implementation for ad-hoc subprocess activity activation
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/ActivateAdHocSubprocessActivitiesCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/response/ActivateAdHocSubprocessActivitiesResponse.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/ActivateAdHocSubprocessActivitiesCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/ActivateAdHocSubprocessActivitiesResponseImpl.java
  clients/java/src/test/java/io/camunda/client/adhocsubprocess/AdHocSubprocessActivityActivationTest.java
Labels: component/zeebe

fix: merge conflict to 8.6
  c8run/main.go
Labels: component/c8run

fix: backport-conflict
  c8run/main.go
Labels: component/c8run

build: optimize is a dedicated app
  .github/workflows/ci.yml
  .github/workflows/optimize-ci-build-reusable.yml
  .github/workflows/optimize-ci.yml
  .github/workflows/optimize-e2e-tests-sm.yml
  .github/workflows/zeebe-aws-os-dispatch-tests.yml
  dist/src/main/java/io/camunda/application/Profile.java
  dist/src/main/java/io/camunda/application/StandaloneOptimize.java
  dist/src/main/java/io/camunda/optimize/OptimizeModuleConfiguration.java
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/backend/src/it/java/io/camunda/optimize/AbstractIT.java
  optimize/backend/src/main/java/io/camunda/optimize/Main.java
  optimize/backend/src/main/java/io/camunda/optimize/OptimizeTomcatConfig.java
  optimize/backend/src/main/java/io/camunda/optimize/tomcat/CCSMRequestAdjustmentFilter.java
  optimize/backend/src/main/java/io/camunda/optimize/tomcat/ExternalResourcesUtil.java
  optimize/client/pom.xml
  optimize/client/scripts/start-backend.js
  optimize/client/vite.config.ts
  optimize/docker-compose.ccsm-with-optimize.yml
  optimize/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/optimize-commons/src/main/resources/service-config.yaml
  pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

build: remove versions from pom.xml
  optimize/pom.xml
Labels: component/optimize

refactor: disable importers
  dist/src/main/java/io/camunda/application/StandaloneCamunda.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

ci: use separate ci job for history OS
  .github/workflows/ci.yml
  qa/integration-tests/pom.xml
  qa/util/src/main/java/io/camunda/qa/util/multidb/HistoryMultiDbTest.java
Labels: component/build-pipeline

feat: lint API spec for key property types
  zeebe/gateway-protocol/vacuum-rules/verifyKeyTypesPaths.js
  zeebe/gateway-protocol/vacuum-rules/verifyKeyTypesSchemas.js
  zeebe/gateway-protocol/vacuum-ruleset.yaml
Labels: component/zeebe

fix: remove useless dep
  authentication/src/main/java/io/camunda/authentication/filters/WebApplicationAuthorizationCheckFilter.java
Labels: none

fix: make prettier
  identity/client/src/pages/errors/403.tsx
Labels: component/identity

feat: check if user has access to web application
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/filters/WebApplicationAuthorizationCheckFilter.java
Labels: none

fix: search for application access via roles
  authentication/src/main/java/io/camunda/authentication/CamundaUserDetailsService.java
Labels: none

fix: find application path more reliable and check wildcard access to application
  authentication/src/main/java/io/camunda/authentication/filters/WebApplicationAuthorizationCheckFilter.java
Labels: none

fix: apply style check
  authentication/src/main/java/io/camunda/authentication/filters/WebApplicationAuthorizationCheckFilter.java
Labels: none

feat: redirect to a custom error page when user doesn't have access
  authentication/src/main/java/io/camunda/authentication/filters/WebApplicationAuthorizationCheckFilter.java
  identity/client/src/App.tsx
  identity/client/src/pages/errors/403.tsx
Labels: component/identity

fix: change to use access instead of read for applications
  service/src/main/java/io/camunda/service/AuthorizationServices.java
Labels: none

fix: check for user access in react app as well
  identity/client/src/components/global/AppRoot.tsx
Labels: component/identity

fix: make prettier
  identity/client/src/pages/forbidden/index.tsx
Labels: component/identity

fix: add Forbidden route to tasklist
  tasklist/client/src/App.tsx
  tasklist/client/src/modules/components/Errors/Forbidden/index.tsx
  tasklist/client/src/modules/components/Errors/Forbidden/styles.module.scss
  tasklist/client/src/modules/icons/permission-denied.svg
Labels: component/tasklist

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
