Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

refactor: change `activate` to `activation` in activate ad-hoc subprocess activity endpoint
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/AdHocSubprocessActivityController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/AdHocSubprocessActivityControllerTest.java
Labels: component/zeebe

feat: implement broker request handling for activating ad-hoc activities
  service/src/main/java/io/camunda/service/AdHocSubprocessActivityServices.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerActivateAdHocSubprocessActivityRequest.java
Labels: component/zeebe

fix: remove unneeded todo comment as this is handled at the processing level
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/AdHocSubprocessActivityRequestValidator.java
Labels: component/zeebe

test: add controller tests for ad-hoc subprocess activity activation
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/AdHocSubprocessActivityControllerTest.java
Labels: component/zeebe

fix: Push Git changes
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

test: remove legacy test
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/ProcessInstanceZeebeImportIT.java
Labels: component/operate

test: fix visual regression tests
  operate/client/e2e-playwright/mocks/decisionInstance.mocks.ts
  operate/client/e2e-playwright/mocks/decisions.mocks.ts
  operate/client/e2e-playwright/pages/Decisions.ts
  operate/client/e2e-playwright/visual/decisions.spec.ts
Labels: component/operate

feat: add decition definition XML REST API query
  operate/client/src/App/DecisionInstance/DecisionPanel/index.test.tsx
  operate/client/src/App/DecisionInstance/DecisionPanel/index.tsx
  operate/client/src/App/DecisionInstance/Drd/index.test.tsx
  operate/client/src/App/DecisionInstance/Drd/index.tsx
  operate/client/src/App/DecisionInstance/index.test.tsx
  operate/client/src/App/DecisionInstance/index.tsx
  operate/client/src/App/Decisions/Decision/index.tsx
  operate/client/src/App/Decisions/Decision/tests/decisionOperations.test.tsx
  operate/client/src/App/Decisions/Decision/tests/index.test.tsx
  operate/client/src/App/Decisions/Decision/tests/mocks.tsx
  operate/client/src/App/Decisions/index.test.tsx
  operate/client/src/modules/api/v2/decisionDefinitions/fetchDecisionDefinitionXml.ts
  operate/client/src/modules/mocks/api/decisions/fetchDecisionXML.ts
  operate/client/src/modules/mocks/api/v2/decisionDefinitions/fetchDecisionDefinitionXML.ts
  operate/client/src/modules/queries/decisionDefinitions/useDecisionDefinitionXml.ts
  operate/client/src/modules/request/index.ts
  operate/client/src/modules/stores/decisionInstanceDetails.test.ts
  operate/client/src/modules/stores/decisionXml.test.ts
  operate/client/src/modules/stores/decisionXml.ts
Labels: component/operate

feat: migrate MigrateAction component to v2
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/MigrateAction/v2/index.test.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/MigrateAction/v2/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/index.tsx
Labels: component/operate

fix: add missing import
  migration/process-migration/src/main/java/io/camunda/migration/process/adapter/es/ElasticsearchAdapter.java
  migration/process-migration/src/main/java/io/camunda/migration/process/adapter/os/OpensearchAdapter.java
Labels: none

fix: processor step update retries
  migration/process-migration/src/main/java/io/camunda/migration/process/adapter/es/ElasticsearchAdapter.java
  migration/process-migration/src/main/java/io/camunda/migration/process/adapter/os/OpensearchAdapter.java
Labels: none

test: force record count check before progressing
  migration/process-migration/src/test/java/io/camunda/migration/process/it/AdapterTest.java
  migration/process-migration/src/test/java/io/camunda/migration/process/it/MigrationRunnerIT.java
Labels: none

style: remove ES constant
  migration/process-migration/src/main/java/io/camunda/migration/process/MigrationRunner.java
Labels: none

fix: apply retries when all updates contain errors
  migration/process-migration/src/main/java/io/camunda/migration/process/adapter/es/ElasticsearchAdapter.java
  migration/process-migration/src/main/java/io/camunda/migration/process/adapter/os/OpensearchAdapter.java
Labels: none

refactor: use type enum for database type
  migration/process-migration/src/main/java/io/camunda/migration/process/MigrationRunner.java
Labels: none

refactor: extract magic string
  clients/java/src/test/java/io/camunda/client/OAuthCredentialsProviderTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/OAuthCredentialsProviderTest.java
Labels: component/zeebe

docs: align the response code with the implementation
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

fix: retrieve tenants for member by id
  authentication/src/main/java/io/camunda/authentication/CamundaOidcUserService.java
  authentication/src/main/java/io/camunda/authentication/CamundaUserDetailsService.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/TenantFilterTransformer.java
  search/search-domain/src/main/java/io/camunda/search/filter/TenantFilter.java
  service/src/main/java/io/camunda/service/TenantServices.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/usermanagement/index/TenantIndex.java
Labels: none

test: re-enable test
  qa/integration-tests/src/test/java/io/camunda/it/operate/OperateMultiTenancyIT.java
Labels: none

test: set api protected when multi-tenancy is enabled
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestStandaloneCamunda.java
Labels: none

test: disable test for RDBMS and OS
  qa/integration-tests/src/test/java/io/camunda/it/operate/OperateMultiTenancyIT.java
Labels: none

test: migrate to Multi DB Extension test
  qa/integration-tests/src/test/java/io/camunda/it/operate/OperateMultiTenancyIT.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestSimpleCamundaApplication.java
Labels: none

feat: add MappingCreatedUpdatedHandler
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/MappingCreatedUpdatedHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/MappingCreatedUpdatedHandlerTest.java
Labels: component/zeebe

feat: add mappingId to MappingCreatedUpdatedHandler
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/MappingCreatedUpdatedHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/MappingCreatedUpdatedHandlerTest.java
Labels: component/zeebe

test: acceptance tests for incident update
  qa/integration-tests/src/test/java/io/camunda/it/client/IncidentQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/QueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/orchestration/incidents/IncidentFullResolveCallActivityTest.java
  qa/integration-tests/src/test/java/io/camunda/it/orchestration/incidents/IncidentPartialResolveCallActivityTest.java
  qa/integration-tests/src/test/java/io/camunda/it/orchestration/incidents/IncidentPropagationTest.java
  qa/integration-tests/src/test/java/io/camunda/it/orchestration/incidents/IncidentSimpleResolveTest.java
Labels: none

feat: add client implementation for ad-hoc subprocess activity activation
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/ActivateAdHocSubprocessActivitiesCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/response/ActivateAdHocSubprocessActivitiesResponse.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/ActivateAdHocSubprocessActivitiesCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/ActivateAdHocSubprocessActivitiesResponseImpl.java
  clients/java/src/test/java/io/camunda/client/adhocsubprocess/AdHocSubprocessActivityActivationTest.java
Labels: component/zeebe

feat: purge processCache whenever a cluster change is completed
  dist/src/main/java/io/camunda/application/commons/rest/RestApiConfiguration.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/api/BrokerClusterState.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/api/BrokerTopologyListener.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/BrokerClusterStateImpl.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/BrokerTopologyManagerImpl.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/cache/ProcessCache.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/TopologyController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/cache/ProcessCacheTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/TopologyControllerTest.java
  zeebe/gateway/src/test/java/io/camunda/zeebe/gateway/impl/broker/PublishMessageDispatchStrategyTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: Added tests for BrokerTopologyManagerImpl and TopologyController
  qa/integration-tests/src/test/java/io/camunda/it/cluster/ClusterPurgeMultiDbIT.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/BrokerTopologyManagerImpl.java
  zeebe/broker-client/src/test/java/io/camunda/zeebe/broker/client/api/BrokerTopologyManagerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/TopologyControllerTest.java
Labels: component/zeebe

feat: splitting writing `CANCELING` and `CANCELED` events
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnUserTaskBehavior.java
Labels: component/zeebe

test: add an engine integration test for activating ad-hoc activities
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/ActivateAdHocSubprocessActivityTest.java
Labels: component/zeebe

test: add tests verifying interaction of ad-hoc completion API with completion condition an cancel remaining instances
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/ActivateAdHocSubprocessActivityTest.java
Labels: component/zeebe

refactor: change `activate` to `activation` in activate ad-hoc subprocess activity endpoint
  clients/java/src/main/java/io/camunda/client/impl/command/ActivateAdHocSubprocessActivitiesCommandImpl.java
Labels: component/zeebe

feat: separating cancelation post-processing into `onFinalizeTerminationInternal` method
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/UserTaskProcessor.java
Labels: component/zeebe

refactor: extract `TestSetup` into a helper method
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/AppliersTestSetupHelper.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/UserTaskAssignmentDeniedApplierTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/UserTaskCorrectedApplierTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/UserTaskUpdateDeniedApplierTest.java
Labels: component/zeebe

test: adding validation for intents
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerBlockedTransitionTest.java
Labels: component/zeebe

test: adding `TaskListenerTaskCancellationTest`
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTaskCancellationTest.java
Labels: component/zeebe

test: adding extra test to `UserTaskCanceledApplierTest`
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/UserTaskCanceledApplierTest.java
Labels: component/zeebe

fix: clean up intermediate state and request metadata
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UserTaskCanceledApplier.java
Labels: component/zeebe

refactor: making `applyEventToState` generic
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/AppliersTestSetupHelper.java
Labels: component/zeebe

feat: adding checks before clearing the state
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UserTaskCanceledApplier.java
Labels: component/zeebe

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
