Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

refactor: remove tests for token claims in OIDC as we don't forward them in the requestMapper currently
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/RequestMapperTest.java
Labels: component/zeebe

feat: added test for hasNoIncidents
  clients/java/src/main/java/io/camunda/client/impl/search/response/IncidentImpl.java
  qa/acceptance-tests/src/test/java/io/camunda/it/cluster/ClusterPurgeMultiDbIT.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/IncidentAssertj.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/IncidentAssertTest.java
Labels: component/zeebe

feat: Added IncidentAssertj to assert that processes have no/any incidents
  clients/java/src/main/java/io/camunda/client/impl/search/response/IncidentImpl.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/assertions/ProcessInstanceAssert.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/IncidentAssertj.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/ProcessInstanceAssertj.java
Labels: component/zeebe

feat: updated assertion names and documentation
  qa/acceptance-tests/src/test/java/io/camunda/it/cluster/ClusterPurgeMultiDbIT.java
  testing/camunda-process-test-java/pom.xml
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/assertions/ProcessInstanceAssert.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/IncidentAssertj.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/ProcessInstanceAssertj.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/IncidentAssertTest.java
Labels: none

feat: added tests for IncidentAsserts, adjusted javadoc
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/assertions/ProcessInstanceAssert.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/IncidentAssertj.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/IncidentAssertTest.java
Labels: none

feat: implements hasCompletedElementsInOrder
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/assertions/ProcessInstanceAssert.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/ElementAssertj.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/ProcessInstanceAssertj.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/ElementAssertTest.java
Labels: none

ci: align add to project workflow for c8run
  .github/workflows/add-to-projects.yml
Labels: component/build-pipeline

fix: hasActiveIncidents should fail if incidents are resolved
  testing/camunda-process-test-java/pom.xml
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/assertions/ProcessInstanceAssert.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/IncidentAssertj.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/IncidentAssertTest.java
Labels: none

test: disable flaky test temporarily
  qa/acceptance-tests/src/test/java/io/camunda/it/cluster/ClusterPurgeMultiDbIT.java
Labels: none

fix: correctly check if the entity is already assigned
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantRemoveEntityProcessor.java
Labels: component/zeebe

test: adjust error messages
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/tenant/RemoveEntityTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/RemoveUserFromTenantTest.java
Labels: component/zeebe

test: migrate test to MultiDB
  qa/acceptance-tests/src/test/java/io/camunda/it/tasklist/v1/tenants/TasklistV1MultiTenancyIT.java
Labels: none

test: await process
  qa/acceptance-tests/src/test/java/io/camunda/it/tasklist/v1/tenants/TasklistV1MultiTenancyIT.java
Labels: none

test: use admin client
  qa/acceptance-tests/src/test/java/io/camunda/it/tasklist/v1/tenants/TasklistV1MultiTenancyIT.java
Labels: none

test: disable complete test class
  qa/acceptance-tests/src/test/java/io/camunda/it/tasklist/v1/tenants/TasklistV1MultiTenancyIT.java
Labels: none

ci: adding links to severity and likelihood
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

fix: remove un-needed artifact upload from the nightly test run
  .github/workflows/core-application-e2e-tests-nightly.yml
Labels: component/build-pipeline

refactor: add slack reporter for nightly 8.6 core application test run
  qa/core-application-e2e-test-suite/playwright.config.ts
Labels: none

fix: double lock to avoid threading issues
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/notifier/HttpClientWrapper.java
Labels: component/zeebe

style: remove unneeded cleanup
  qa/acceptance-tests/src/test/java/io/camunda/it/orchestration/IncidentNotifierIT.java
Labels: none

test: align and extend os exporter cases
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchClientIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterPluginTest.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterTest.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/RecordCounterTest.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestClient.java
Labels: component/zeebe

fix: allow non required records to be exported on demand
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporterConfiguration.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterConfiguration.java
Labels: component/zeebe

test: align and extend es exporter cases
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchClientIT.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterIT.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterPluginTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/RecordCounterTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/TestClient.java
Labels: component/zeebe

refactor: add slack reporter for nightly core application test run
  qa/core-application-e2e-test-suite/playwright.config.ts
Labels: none

fix: move authorization check before existence check
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupUpdateProcessor.java
Labels: component/zeebe

fix: move authorization check before existence check
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupDeleteProcessor.java
Labels: component/zeebe

docs: add todo and deprecated comments
  operate/client/src/modules/stores/flowNodeSelection.ts
  operate/client/src/modules/utils/modifications.ts
  operate/client/src/modules/utils/statistics/flownodeInstances.ts
Labels: component/operate

fix: Handle variable with null values
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/VariableAssertj.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/testresult/CamundaProcessTestResultCollector.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/VariableAssertTest.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/impl/testresult/CamundaProcessResultCollectorTest.java
Labels: none

revert: os separation of index templates
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterTest.java
Labels: component/zeebe

revert: es separation of index templates
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterIT.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterTest.java
Labels: component/zeebe

feat: flownode instance stats boilerplates
  operate/client/yarn.lock
Labels: component/operate

feat: add statistics queries for TopPanel
  operate/client/src/modules/queries/flownodeInstancesStatistics/useExecutedFlowNode.test.tsx
  operate/client/src/modules/queries/flownodeInstancesStatistics/useExecutedFlowNodes.ts
  operate/client/src/modules/queries/flownodeInstancesStatistics/useFlownodeInstancesStatistics.ts
  operate/client/src/modules/queries/flownodeInstancesStatistics/useFlownodeStatistics.test.tsx
  operate/client/src/modules/queries/flownodeInstancesStatistics/useFlownodeStatistics.ts
  operate/client/src/modules/queries/flownodeInstancesStatistics/useSelectableFlowNodes.test.tsx
  operate/client/src/modules/queries/flownodeInstancesStatistics/useSelectableFlowNodes.ts
  operate/client/src/modules/queries/flownodeInstancesStatistics/useTotalRunningInstancesForFlowNode.test.tsx
  operate/client/src/modules/queries/flownodeInstancesStatistics/useTotalRunningInstancesForFlowNode.ts
  operate/client/src/modules/stores/flowNodeSelection.ts
Labels: component/operate

fix: use appendableFlowNodes directly
  operate/client/src/modules/hooks/processInstanceDetailsDiagram.ts
Labels: component/operate

feat: add hooks for TopPanel
  operate/client/src/modules/hooks/modifications.test.tsx
  operate/client/src/modules/hooks/modifications.ts
  operate/client/src/modules/hooks/processInstanceDetailsDiagram.test.tsx
  operate/client/src/modules/hooks/processInstanceDetailsDiagram.ts
  operate/client/src/modules/stores/modifications.ts
Labels: component/operate

feat: flownode instance stats boilerplates
  operate/client/src/modules/mock-server/handlers.ts
Labels: component/operate

feat: add statistics queries for TopPanel
  operate/client/src/modules/mock-server/handlers.ts
Labels: component/operate

feat: invalidate caches instead of updating them to avoid upfront performance cost
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/deployment/DbFormState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/deployment/DbProcessState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/DeploymentReconstructProcessorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/deployment/FormStateTest.java
Labels: component/zeebe

feat: copy form only if needs to be put in cache
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/deployment/DbFormState.java
Labels: component/zeebe

fix: do not update fields from topology if they are not initialized
  broker/src/main/java/io/camunda/zeebe/broker/bootstrap/ClusterTopologyManagerStep.java
Labels: none

feat: migrate TopPanel to v2
  operate/client/src/App/ProcessInstance/TopPanel/v2/index.test.tsx
  operate/client/src/App/ProcessInstance/TopPanel/v2/index.tsx
  operate/client/src/App/ProcessInstance/index.tsx
  operate/client/src/modules/mock-server/handlers.ts
Labels: component/operate
