Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

ci: increase service startup wait time
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: debug wokflow
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: debug workflow
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: fix Wait for services to be ready
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: debug run tests
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

fix: fix wrong path
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: upgrade python version
  .github/workflows/core-application-e2e-tests-nightly.yml
Labels: component/build-pipeline

ci: install docker Compose
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: debug run tests
  .github/actions/core-application-e2e-test-suite/action.yml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

ci: Debug TestRail credentials
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: debug workflow
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: update url
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: remove unnecessary check
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: add everything within same job
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: update actions
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

fix: add missing package
  .github/actions/core-application-e2e-test-suite/action.yml
  .github/workflows/core-application-e2e-tests-on-demand.yml
  qa/core-application-e2e-test-suite/package-lock.json
  qa/core-application-e2e-test-suite/package.json
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

ci: Debug TestRail credentials
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: debug workflow
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: lines added for debugging
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: Debug TestRail credentials
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: add tasklist and operate logs in the background
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: debug workflow
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: update test run title
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: debug workflow
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

Revert "ci: update the path"
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: Check Docker container logs
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: update path
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

fix: update report path
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: upgrade python version
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: increase check time
  .github/workflows/core-application-e2e-tests-nightly.yml
Labels: component/build-pipeline

ci: fix indentation
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: fix the healthcheck
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: update workflow to run on PR
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

Revert "ci: debug run tests"
  .github/actions/core-application-e2e-test-suite/action.yml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

ci: update branch ref
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: Debug TestRail credentials
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: Publish test results to TestRail
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

fix: minimized with git clone
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

test: rebase from base and apply review hints
  qa/integration-tests/src/test/java/io/camunda/it/client/IncidentSearchTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceSearchTest.java
  qa/integration-tests/src/test/java/io/camunda/it/orchestration/incidents/IncidentFullResolveCallActivityTest.java
  qa/integration-tests/src/test/java/io/camunda/it/orchestration/incidents/IncidentPartialResolveCallActivityTest.java
  qa/integration-tests/src/test/java/io/camunda/it/orchestration/incidents/IncidentPropagationTest.java
  qa/integration-tests/src/test/java/io/camunda/it/orchestration/incidents/IncidentSimpleResolveTest.java
  qa/integration-tests/src/test/java/io/camunda/it/util/TestHelper.java
Labels: none

refactor: improve error message when RaftFollowerFlushErrorTest fails
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/roles/RaftFollowerFlushErrorTest.java
Labels: component/zeebe

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
