Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

fix: adjust code changes to string key objects
  clients/java/src/main/java/io/camunda/client/impl/util/ParseUtil.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/DeployResourceCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DeploymentEventImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/resource/rest/DeployResourceRestTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/util/RestGatewayService.java
Labels: component/zeebe

fix: check for authorization flag and apply filter only for web applications
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/filters/WebApplicationAuthorizationCheckFilter.java
Labels: none

refactor: rename cancelRemainingInstancesEnabled to cancelRemainingInstances for consistency
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/AbstractAdHocSubProcessBuilder.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/impl/instance/AdHocSubProcessImpl.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/instance/AdHocSubProcess.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/builder/AdHocSubProcessBuilderTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/AdHocSubProcessProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableAdHocSubProcess.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/AdHocSubProcessTransformer.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
Labels: component/zeebe

feat: added CamundaClient methods and first E2E test
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/CancelProcessInstancesBatchRequest.java
  clients/java/src/main/java/io/camunda/client/api/response/CancelProcessInstancesBatchResponse.java
  clients/java/src/main/java/io/camunda/client/api/search/response/BatchOperation.java
  clients/java/src/main/java/io/camunda/client/api/search/response/BatchOperationState.java
  clients/java/src/main/java/io/camunda/client/api/search/response/BatchOperationType.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/CancelProcessInstancesBatchRequestImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/CancelProcessInstancesBatchResponseImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/SearchResponseMapper.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/BatchOperationImpl.java
  qa/integration-tests/src/test/java/io/camunda/it/client/CancelProcessInstanceBatchTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/QueryTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
Labels: component/zeebe

fix: set the correct qualifier for test
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/OperateAbstractIT.java
Labels: component/operate

refactor: early return if no completion condition is set for ad-hoc subprocess
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/AdHocSubProcessProcessor.java
Labels: component/zeebe

feat: fixed exporting of BatchOperationCreationRecordValue in rdbms for multiple partitions
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterWrapper.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationCreatedExportHandler.java
Labels: component/zeebe

fix: Create correct gashes for uploaded files
  document/store/src/main/java/io/camunda/document/store/gcp/GcpDocumentStore.java
Labels: none

fix: Improve hash generation for doc storage
  document/store/pom.xml
  document/store/src/main/java/io/camunda/document/store/DocumentHashProcessor.java
  document/store/src/main/java/io/camunda/document/store/InputStreamHashCalculator.java
  document/store/src/main/java/io/camunda/document/store/aws/AwsDocumentStore.java
  document/store/src/main/java/io/camunda/document/store/gcp/GcpDocumentStore.java
  document/store/src/main/java/io/camunda/document/store/localstorage/LocalStorageDocumentStore.java
  document/store/src/test/java/io/camunda/document/store/InputStreamHashCalculatorTest.java
  document/store/src/test/java/io/camunda/document/store/TestStreamHelper.java
  document/store/src/test/java/io/camunda/document/store/aws/AwsDocumentStoreTest.java
  document/store/src/test/java/io/camunda/document/store/gcp/GcpDocumentStoreTest.java
  document/store/src/test/java/io/camunda/document/store/localstorage/LocalStorageDocumentStoreTest.java
Labels: none

test: fix identity regression tests wf
  .github/workflows/identity-regression-test.yml
Labels: component/identity, component/build-pipeline

fix: reduce block separator
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
Labels: component/zeebe

fix: don't log job key twice
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
Labels: component/zeebe

fix: abbreviate more job properties
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
Labels: component/zeebe

fix: summarize custom headers
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
Labels: component/zeebe

fix: shorten process instance record paths
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
Labels: component/zeebe

docs: document acceptance test module
  qa/README.md
Labels: none

docs: fix typos
  qa/README.md
Labels: none

docs: improve build section
  CONTRIBUTING.md
Labels: none

refactor: migrate MultiDb extension
  qa/integration-tests/pom.xml
  qa/integration-tests/src/test/java/io/camunda/it/auth/AuthorizationSearchIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/DecisionAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/DecisionInstanceAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/GroupSearchingAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/MappingAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/ProcessAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/ProcessInstanceAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/RoleSearchingAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/TenantAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/UserSearchingAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/UserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/backup/BackupRestoreIT.java
  qa/integration-tests/src/test/java/io/camunda/it/client/CreateDocumentBatchTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/CreateDocumentLinkTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/CreateDocumentTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/DecisionInstanceQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/DecisionQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/DeleteDocumentTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/GetDocumentContentTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/IncidentQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessDefinitionQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/UserTaskQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/VariableQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/PrefixMigrationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/orchestration/IncidentIT.java
  qa/integration-tests/src/test/java/io/camunda/it/orchestration/ProcessMigrationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/orchestration/VariableIT.java
  qa/integration-tests/src/test/java/io/camunda/it/task/UserTaskIT.java
  qa/integration-tests/src/test/java/io/camunda/it/utils/BrokerITInvocationProvider.java
  qa/util/pom.xml
  qa/util/src/main/java/io/camunda/qa/util/multidb/CamundaClientTestFactory.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/CamundaMultiDBExtension.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/ElasticOpenSearchSetupHelper.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/MultiDbConfigurator.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/MultiDbSetupHelper.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/MultiDbTest.java
  qa/util/src/test/java/io/camunda/qa/util/multidb/ElasticsearchSetupHelperTest.java
  qa/util/src/test/java/io/camunda/qa/util/multidb/MultiDbConfiguratorTest.java
Labels: none

build: prepare release of 8.6.10
  .github/workflows/camunda-platform-release.yml
  release.properties
Labels: component/build-pipeline

build(project): update java compat versions
  parent/pom.xml
  release.properties
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: avoid log pollution with similar error messages
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/BackgroundTask.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/ReschedulingTask.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/BatchOperationArchiverJob.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/ProcessInstancesArchiverJob.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/batchoperations/BatchOperationUpdateTask.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/IncidentUpdateTask.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/ReschedulingTaskTest.java
Labels: component/zeebe

refactor: separate logging logic into another class
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/ReschedulingTask.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/util/ReschedulingTaskLogger.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/ReschedulingTaskTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/utils/ReschedulingTaskLoggerTest.java
Labels: component/zeebe

fix: increase timers for operate import tests
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/FinishedImportingIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpensearchFinishedImportingIT.java
Labels: component/operate, component/tasklist

fix: update step by step to run identity on readme
  identity/README.md
Labels: component/identity

BACKPORT-CONFLICT
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DocumentReferenceBatchResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentReferenceBatchResponseImpl.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
Labels: component/zeebe

ci: run Operate importer tests on stable branch
  .github/workflows/operate-test-importer.yml
Labels: component/operate, component/build-pipeline

DELETE ME: trigger importer tests on PR for testing
  .github/workflows/operate-test-importer.yml
Labels: component/operate, component/build-pipeline

test: test incorrect routing value for post importer
  operate/pom.xml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/AbstractElasticsearchConnectorProxyIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/ElasticsearchConnectorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/ElasticsearchPostImportActionIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/AbstractOpensearchConnectorProxyIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/OpensearchBatchRequestIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/OpensearchConnectorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/OpensearchPostImportActionIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/client/AbstractOpenSearchOperationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/SearchClientTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/elasticsearch/ElasticsearchClientTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/opensearch/OpenSearchClientTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/OpensearchOperateAbstractIT.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/RetryElasticsearchClient.java
Labels: component/operate

test: test incorrect routing value for post importer
  operate/pom.xml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/AbstractElasticsearchConnectorProxyIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/ElasticsearchConnectorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/ElasticsearchPostImportActionIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/AbstractOpensearchConnectorProxyIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/OpensearchBatchRequestIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/OpensearchConnectorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/OpensearchPostImportActionIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/client/AbstractOpenSearchOperationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/SearchClientTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/elasticsearch/ElasticsearchClientTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/opensearch/OpenSearchClientTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/OpensearchOperateAbstractIT.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/RetryElasticsearchClient.java
Labels: component/operate

fix: if someone explicitly overrides these env vars, use override
  c8run/main.go
Labels: component/c8run

ci: c8run change ps usage to bash
  .github/workflows/c8run-build.yaml
Labels: component/build-pipeline, component/c8run

ci: c8run change ps usage to bash
  .github/workflows/c8run-build.yaml
Labels: component/build-pipeline, component/c8run

fix: set correct routing value for post importer updates
  operate/common/src/main/java/io/camunda/operate/util/TreePath.java
  operate/common/src/test/java/io/camunda/operate/util/TreePathTest.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/post/elasticsearch/ElasticsearchIncidentPostImportAction.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/post/opensearch/OpensearchIncidentPostImportAction.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/ElasticsearchPostImportActionIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/OpensearchPostImportActionIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/SearchClientTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/elasticsearch/ElasticsearchClientTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/opensearch/OpenSearchClientTestHelper.java
Labels: component/operate

fix: update given our findings with notary command
  .github/workflows/c8run-release.yaml
Labels: component/build-pipeline, component/c8run

test: migrate ApplicationAuthorizationIT java http client
  qa/integration-tests/pom.xml
  qa/integration-tests/src/test/java/io/camunda/it/auth/ApplicationAuthorizationIT.java
Labels: none

fix: set correct routing value for post importer updates
  operate/common/src/main/java/io/camunda/operate/util/TreePath.java
  operate/common/src/test/java/io/camunda/operate/util/TreePathTest.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/post/elasticsearch/ElasticsearchIncidentPostImportAction.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/post/opensearch/OpensearchIncidentPostImportAction.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/ElasticsearchPostImportActionIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/OpensearchPostImportActionIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/SearchClientTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/elasticsearch/ElasticsearchClientTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/opensearch/OpenSearchClientTestHelper.java
Labels: component/operate

test: backport search client test helper
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/SchemaTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/SearchClientTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/elasticsearch/ElasticsearchClientTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/elasticsearch/ElasticsearchSchemaTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/opensearch/OpenSearchClientTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/opensearch/OpenSearchSchemaTestHelper.java
Labels: component/operate

test: test incorrect routing value for post importer
  operate/pom.xml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/AbstractElasticsearchConnectorProxyIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/ElasticsearchPostImportActionIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/AbstractOpensearchConnectorProxyIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/OpensearchBatchRequestIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/OpensearchPostImportActionIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/client/AbstractOpenSearchOperationIT.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/RetryElasticsearchClient.java
Labels: component/operate

deps: update spring dependencies for Optimize 8.7
  optimize/backend/pom.xml
  optimize/pom.xml
  optimize/util/optimize-commons/pom.xml
Labels: component/optimize
