Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

fix: remove not used comment
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiConfig.java
Labels: component/zeebe

feat: setup swagger for camunda apis
  parent/pom.xml
  zeebe/gateway-protocol/pom.xml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiConfig.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: set objectMapper as primary
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
Labels: component/zeebe

fix: spotless lint
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
Labels: component/zeebe

fix: add missing dependency
  zeebe/gateway-rest/pom.xml
Labels: component/zeebe

fix: remove dependency verification
  zeebe/gateway-rest/pom.xml
Labels: component/zeebe

feat: move to camunda controller for swagger
  dist/src/main/resources/application.properties
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: rename method from zeebeApi to camundaApi
  zeebe/gateway-protocol/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiConfig.java
Labels: component/zeebe

fix: remove not used dependencies
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
Labels: component/zeebe

feat: use spring static resource handler
  dist/src/main/resources/application.properties
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiResourceConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/util/YamlToJsonResourceTransformer.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: add qualifier on openApiConfig
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiResourceConfig.java
Labels: component/zeebe

fix: remove yamlObjectMapper
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiResourceConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/DocumentController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/util/YamlToJsonResourceTransformer.java
Labels: component/zeebe

feat: introduce yamlObjectMapper bean
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiResourceConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/DocumentController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/util/YamlToJsonResourceTransformer.java
Labels: component/zeebe

fix: remove yaml mapper and replace to builder
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
Labels: component/zeebe

refactor: update spring renovate rule description
  .github/renovate.json
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: backport of #27114
  engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceElementMigratedV2Applier.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/MigrateProcessInstanceRejectionTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/MigrateProcessInstanceWithMessageStartEventTest.java
Labels: none

BACKPORT-CONFLICT
  .github/workflows/optimize-release-optimize-c8-only.yml
  optimize/pom.xml
Labels: component/optimize, component/build-pipeline

build: have optimize import zeebe-build-tools
  optimize/pom.xml
Labels: component/optimize

build: zeebe-build-tools is test scoped
  optimize/pom.xml
Labels: component/optimize

refactor: spotless apply
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationPreconditions.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceRejectionTest.java
Labels: component/zeebe

fix: fix PDF preview on Tasklist
  tasklist/common/src/main/java/io/camunda/tasklist/property/SecurityProperties.java
Labels: component/tasklist

feat: extend rdbms search client with new batch operations #29701
  search/search-client-rdbms/src/main/java/io/camunda/search/rdbms/RdbmsSearchClient.java
Labels: none

feat: extend rdbms writer with batch operation writer #29701
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriterFactory.java
Labels: none

feat: add batch operations writer + search column for rdbms #29701
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/BatchOperationWriter.java
Labels: none

feat: add findOne method for rdbms batch operation reader #29701
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/BatchOperationReader.java
Labels: none

feat: add rdbms batch operations mapper for entity and db model #29701
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/mapper/BatchOperationEntityMapper.java
Labels: none

feat: add rdbms batch operations reader + search column for sorting #29701
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/BatchOperationReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/columns/BatchOperationSearchColumn.java
Labels: none

feat: extend rdbms context type for batch operations #29701
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/queue/ContextType.java
Labels: none

feat: extend rdbms service with batch operation reader #29701
  db/rdbms/src/main/java/io/camunda/db/rdbms/RdbmsService.java
  dist/src/main/java/io/camunda/application/commons/rdbms/RdbmsConfiguration.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

ci: use bigger nodes
  .github/workflows/ci.yml
Labels: component/build-pipeline

ci: use quickly build for IT
  .github/workflows/ci.yml
Labels: component/build-pipeline

build: prepare release 8.6.7-rc1-optimize
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Labels: component/optimize

build: prepare for next development iteration
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Labels: component/optimize

ci: bring back timeout defaults
  .github/workflows/ci.yml
Labels: component/build-pipeline

feat: add rdbms IT Tests for batch operations #29701
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/batchoperation/BatchOperationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/BatchOperationFixtures.java
Labels: none

fix: use constructor injection for mybatis mapper and BatchOperationDbModel #29701
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/BatchOperationDbModel.java
  db/rdbms/src/main/resources/mapper/BatchOperationMapper.xml
Labels: none

ci: bring back timeout defaults
  .github/workflows/ci.yml
Labels: component/build-pipeline

ci: use quickly build for IT
  .github/workflows/ci.yml
Labels: component/build-pipeline

ci: use bigger nodes
  .github/workflows/ci.yml
Labels: component/build-pipeline

fix: use compose from camunda-distributions instead
  c8run/.env
  c8run/internal/archive/archive.go
  c8run/internal/packages/package.go
Labels: component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
