Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

test: close RaftContext inside its ThreadContext
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ControllableRaftContexts.java
Labels: component/zeebe

refactor: throw IllegalStateException when the commitIndex is too small
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
Labels: component/zeebe

test: Assert user task properties
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/CamundaProcessTestExtensionIT.java
Labels: none

deps(identity): update identity to 8.6.10
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

ci: Changes based on feedback
  .github/ISSUE_TEMPLATE/feature_request.yml
  CONTRIBUTING.md
Labels: none

fix: change the order of the authorization check and existence check
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupCreateProcessor.java
Labels: component/zeebe

deps(identity): update identity to 8.5.15
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: manually prep for 8.6.13 release
  .github/workflows/camunda-platform-release.yml
  release.properties
Labels: component/build-pipeline

fix: exclude number of replicas check out Tasklist healthcheck
  tasklist/els-schema/src/main/java/io/camunda/tasklist/es/IndexSchemaValidatorElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/os/IndexSchemaValidatorOpenSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/IndexSchemaValidator.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/SchemaStartup.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchSchemaManagementIT.java
Labels: component/tasklist

build(project): update go embedded version data
  clients/go/internal/embedded/data/VERSION
Labels: component/zeebe

refactor: remove enabled option
  operate/client/src/modules/queries/flownodeInstancesStatistics/useFlownodeInstancesStatistics.ts
Labels: component/operate

feat: flownode instance stats boilerplates
  operate/client/package.json
  operate/client/src/__mocks__/@vzeta/camunda-api-zod-schemas/operate.ts
  operate/client/src/modules/api/v2/flownodeInstances/fetchFlownodeInstancesStatistics.ts
  operate/client/src/modules/feature-flags.ts
  operate/client/src/modules/mock-server/handlers.ts
  operate/client/src/modules/mocks/api/v2/flownodeInstances/fetchFlownodeInstancesStatistics.ts
  operate/client/src/modules/queries/flownodeInstancesStatistics/useFlownodeInstancesStatistics.test.tsx
  operate/client/src/modules/queries/flownodeInstancesStatistics/useFlownodeInstancesStatistics.ts
  operate/client/yarn.lock
Labels: component/operate

feat: add utils for TopPanel
  operate/client/src/modules/mock-server/handlers.ts
  operate/client/src/modules/utils/flowNodeSelection.test.ts
  operate/client/src/modules/utils/flowNodeSelection.ts
  operate/client/src/modules/utils/modification.test.ts
  operate/client/src/modules/utils/modifications.ts
  operate/client/src/modules/utils/statistics/flownodeInstance.test.tsx
  operate/client/src/modules/utils/statistics/flownodeInstances.ts
Labels: component/operate

feat: flownode instance stats boilerplates
  operate/client/yarn.lock
Labels: component/operate

feat: flownode instance stats boilerplates
  operate/client/src/modules/mock-server/handlers.ts
Labels: component/operate

refactor: provide camunda client for operate in compatibility mode
  dist/src/main/java/io/camunda/operate/zeebe/OperatePartitionSupplierConfiguration.java
  operate/common/src/main/java/io/camunda/operate/zeebe/ZeebeConnector.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: define operate annotation for compatibility mode
  operate/common/pom.xml
  operate/common/src/main/java/io/camunda/operate/util/ConditionalOnOperateCompatibility.java
Labels: component/operate

feat: operate docker compose setups use compatibility mode
  operate/config/docker-compose.identity.yml
  operate/config/docker-compose.mt.yml
  operate/config/docker-compose.opensearch-identity.yml
  operate/config/docker-compose.test.yml
  operate/docker-compose.opensearch-identity.yml
  operate/docker-compose.yml
Labels: component/operate

feat: add logging for importer completion
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/ImportPositionHolder.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/ImportPositionHolderAbstract.java
Labels: component/operate, component/tasklist

build(project): update java compat versions
  parent/pom.xml
  release.properties
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

test: split RaftCorruptedDataTest as two test cases
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftCorruptedDataTest.java
Labels: component/zeebe

build(project): update java compat versions
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

build(project): prepare next development version (Go client)
  clients/go/internal/embedded/data/VERSION
Labels: component/zeebe

refactor: do not rely on role state to check user assignments
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/IdentitySetupInitializeProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/RoleAddEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/RoleDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/RoleProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/RoleRemoveEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/RoleEntityAddedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/RoleEntityRemovedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbMembershipState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/MembershipState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/RoleAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/DbMembershipStateTest.java
Labels: component/zeebe

refactor: store user role membership in dedicated state
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/UserDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/ProcessingDbState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/RoleEntityAddedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/RoleEntityRemovedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbMembershipState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/MembershipState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/ProcessingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableMembershipState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableProcessingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableUserState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/user/DbUserState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/user/PersistedUser.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/RoleAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/DbMembershipStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/user/UserStateTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
Labels: component/zeebe

feat: preallocate an empty DeploymentRecord used for triggering new commands
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/DeploymentReconstructProcessor.java
Labels: component/zeebe

style: checkstyle
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/ImportPositionHolderAbstract.java
Labels: component/tasklist

feat: implement process definition statistics for client/java
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/statistics/filter/ProcessDefinitionStatisticsFilter.java
  clients/java/src/main/java/io/camunda/client/api/statistics/request/ProcessDefinitionFlowNodeStatisticsRequest.java
  clients/java/src/main/java/io/camunda/client/api/statistics/request/StatisticsRequest.java
  clients/java/src/main/java/io/camunda/client/api/statistics/response/ProcessDefinitionFlowNodeStatistics.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/statistics/filter/ProcessDefinitionStatisticsFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/statistics/request/ProcessDefinitionFlowNodeStatisticsRequestImpl.java
  clients/java/src/main/java/io/camunda/client/impl/statistics/response/ProcessDefinitionFlowNodeStatisticsImpl.java
  clients/java/src/main/java/io/camunda/client/impl/statistics/response/StatisticsResponseMapper.java
  clients/java/src/test/java/io/camunda/client/process/ProcessDefinitionStatisticsTest.java
  db/rdbms/src/main/resources/mapper/ProcessDefinitionMapper.xml
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessDefinitionStatisticsTest.java
Labels: component/zeebe

refactor: move duplicated variables mapping to RequestMapper
  clients/java/src/main/java/io/camunda/client/impl/RequestMapper.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/ProcessInstanceFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/UserTaskFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/statistics/filter/ProcessDefinitionStatisticsFilterImpl.java
Labels: component/zeebe

refactor: rename for clarity
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/UserDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbMembershipState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/MembershipState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/RoleAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/DbMembershipStateTest.java
Labels: component/zeebe

feat: add hasRetriesLeft filter to endpoint
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/ProcessInstanceFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/ProcessInstanceQueryTransformerTest.java
  search/search-domain/src/main/java/io/camunda/search/filter/ProcessInstanceFilter.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
Labels: component/zeebe

feat: add Java Client implementation and IT
  clients/java/src/main/java/io/camunda/client/api/search/filter/ProcessInstanceFilter.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/ProcessInstanceFilterImpl.java
  clients/java/src/test/java/io/camunda/client/process/QueryProcessInstanceTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceSearchTest.java
  qa/integration-tests/src/test/java/io/camunda/it/util/TestHelper.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/ProcessInstanceFilterTransformer.java
Labels: component/zeebe

feat: add RDBMS implementation
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/JobMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriterFactory.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/JobDbModel.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/queue/ContextType.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/HistoryCleanupService.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/JobWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/RdbmsPurger.java
  db/rdbms/src/main/resources/mapper/JobMapper.xml
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
  db/rdbms/src/test/java/io/camunda/db/rdbms/write/service/HistoryCleanupServiceTest.java
  dist/src/main/java/io/camunda/application/commons/rdbms/MyBatisConfiguration.java
  dist/src/main/java/io/camunda/application/commons/rdbms/RdbmsConfiguration.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterWrapper.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/JobExportHandler.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: add mariaDB specific column type
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
Labels: none

fix: process state should be checked with hasRetries
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
Labels: none

refactor: merge checks on commitIndex/raftLog.getLastIndex()
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
Labels: component/zeebe

deps(identity): update identity to 8.4.20
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

deps(identity): update identity to 8.3.21
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

ci: refactor java unit job
  .github/workflows/ci.yml
Labels: component/build-pipeline

fix: properties post processor is called before log context is init
  clients/spring-boot-starter-camunda-sdk/pom.xml
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/PropertiesPostProcessor.java
Labels: component/zeebe
