Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

feat: add new broker request to create a batch operation #29703
  zeebe/gateway/pom.xml
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerCreateBatchOperationRequest.java
Labels: component/zeebe

feat: extend docs to add new endpoint to cancel process instances via batch operations #29703
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

feat: add toBuilder to process instance filter to enrich the filter easier #29703
  search/search-domain/src/main/java/io/camunda/search/filter/ProcessInstanceFilter.java
Labels: none

feat: extend MsgPackConverter with convertToObject method #29703
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/data/MsgPackConverterTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/encoding/MsgPackConverter.java
Labels: component/zeebe

WIP
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/RdbmsService.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/BatchOperationDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/mapper/BatchOperationEntityMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/BatchOperationReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/BatchOperationMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/columns/BatchOperationSearchColumn.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriterFactory.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/BatchOperationDbModel.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/queue/ContextType.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/BatchOperationWriter.java
  db/rdbms/src/main/resources/mapper/BatchOperationMapper.xml
  db/rdbms/src/main/resources/mapper/IncidentMapper.xml
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
  dist/src/main/java/io/camunda/application/commons/rdbms/MyBatisConfiguration.java
  dist/src/main/java/io/camunda/application/commons/rdbms/RdbmsConfiguration.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/batchoperation/BatchOperationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/BatchOperationFixtures.java
  search/search-client-rdbms/src/main/java/io/camunda/search/rdbms/RdbmsSearchClient.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporter.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterWrapper.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationCreatedExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationExecutionExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationSubBatchExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/ProcessInstanceBatchOperationExportHandler.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationExecutionRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationSubbatchRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/BatchOperationChunkIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/BatchOperationExecutionIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BatchOperationSubbatchRecordValue.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: Remove the usage of REST protocol classes in Java Client
  clients/java/src/main/java/io/camunda/client/api/command/ProblemException.java
  clients/java/src/main/java/io/camunda/client/impl/http/ApiCallback.java
  clients/java/src/main/java/io/camunda/client/wrappers/PermissionType.java
  clients/java/src/main/java/io/camunda/client/wrappers/ProblemDetail.java
  tasklist/common/src/main/java/io/camunda/tasklist/util/ErrorHandlingUtils.java
  tasklist/common/src/test/java/io/camunda/tasklist/util/ErrorHandlingUtilsTest.java
Labels: component/zeebe, component/tasklist

add required CIs are also needed
  c8run/README.md
Labels: component/c8run

feat: extend process instance controller to use batch operations for cancellation #29703
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceControllerTest.java
Labels: component/zeebe

feat: extend process instance service to cancel with batch operation #29703
  service/src/main/java/io/camunda/service/ProcessInstanceServices.java
  service/src/test/java/io/camunda/service/ProcessInstanceServiceTest.java
Labels: none

WIP
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/mapper/BatchOperationEntityMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/BatchOperationDbModel.java
  db/rdbms/src/main/resources/mapper/BatchOperationMapper.xml
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/batchoperation/BatchOperationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/BatchOperationFixtures.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterWrapper.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationChunkExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationCreatedExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationExecutionExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationSubBatchExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/ProcessInstanceBatchOperationExportHandler.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationSubbatchRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BatchOperationSubbatchRecordValue.java
Labels: component/zeebe

WIP
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/BatchOperationMapper.java
  db/rdbms/src/main/resources/mapper/BatchOperationMapper.xml
  db/rdbms/src/main/resources/mapper/IncidentMapper.xml
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/batchoperation/BatchOperationIT.java
  search/search-domain/src/main/java/io/camunda/search/filter/BatchOperationFilter.java
Labels: none

test: verify message correlated to process instance after migration
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceTest.java
Labels: component/zeebe

feat: clean up correlation key when target without message start event
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceElementMigratedApplier.java
Labels: component/zeebe

refactor: revert old applier
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceElementMigratedApplier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceElementMigratedApplierTest.java
Labels: component/zeebe

test: additional tests to verify migration with message start event
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceTest.java
Labels: component/zeebe

feat: messages cannot be correlated to target process after migration
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceElementMigratedApplier.java
Labels: component/zeebe

test: verify message is not correlated to target process after migration
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceTest.java
Labels: component/zeebe

refactor: add javadoc to explain a test case
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceTest.java
Labels: component/zeebe

feat: messages can be correlated to process instance after migration
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceElementMigratedApplier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceElementMigratedApplierTest.java
Labels: component/zeebe

test: migration that breaks cardinality should be rejected
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceRejectionTest.java
Labels: component/zeebe

refactor: create new element migrated applier version
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceElementMigratedV2Applier.java
Labels: component/zeebe

refactor: apply review changes
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceElementMigratedV2Applier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceWithMessageStartEventTest.java
Labels: component/zeebe

test: migration that preserves message cardinality should be allowed
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceTest.java
Labels: component/zeebe

feat: migration that breaks cardinality should be rejected
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationPreconditions.java
Labels: component/zeebe

build: reintroduce BackupRequestDto
  optimize/backend/src/main/java/io/camunda/optimize/dto/optimize/rest/BackupRequestDto.java
Labels: component/optimize

feat: set multi-instance body type explicitly during migration
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationCatchEventBehaviour.java
Labels: component/zeebe

refactor: add javadoc to clarify multi-instance body retrieval
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableProcess.java
Labels: component/zeebe

feat: set multi-instance body type explicitly during migration
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationCatchEventBehaviour.java
Labels: component/zeebe

refactor: add javadoc to clarify multi-instance body retrieval
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableProcess.java
Labels: component/zeebe

test: remove tests dependent on import order
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/ElasticsearchTestRuleProvider.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/OpensearchTestRuleProvider.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/SearchTestRule.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/SearchTestRuleProvider.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/BasicZeebeImportIT.java
Labels: component/operate

test: remove IncidentWithFailingOperationZeebeImportIT
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/IncidentWithFailingOperationZeebeImportIT.java
Labels: component/operate

refactor: add missing import
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationCatchEventBehaviour.java
Labels: component/zeebe

refactor: add missing import
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationCatchEventBehaviour.java
Labels: component/zeebe

BACKPORT-CONFLICT
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceTest.java
Labels: component/zeebe

BACKPORT-CONFLICT
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceTest.java
Labels: component/zeebe

BACKPORT-CONFLICT
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceTest.java
Labels: component/zeebe

Revert "build: reintroduce BackupRequestDto"
  optimize/backend/src/main/java/io/camunda/optimize/dto/optimize/rest/BackupRequestDto.java
Labels: component/optimize

build: start optimize with optimize-distro CP
  optimize/client/scripts/start-backend.js
Labels: component/optimize

feat: add new RecordValue and Intent for activating activities in a ad-hoc subprocess instance
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/ValueTypeMapping.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/AdHocSubProcessActivityActivationIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/Intent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AdHocSubProcessActivityActivationRecordValue.java
  zeebe/protocol/src/main/resources/protocol.xml
Labels: component/zeebe

feat: add record which will be processed to activate an ad-hoc subprocess activity
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestReader.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/adhocsubprocess/AdHocSubProcessActivityActivationFlowNode.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/adhocsubprocess/AdHocSubProcessActivityActivationRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
Labels: component/zeebe

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
