Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

refactor: add git commit info to built artifact
  dist/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

refactor: add git commit info to built artifact
  dist/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

refactor: add git commit info to built artifact
  dist/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: change id from key to mapping id in MappingDeletedHandler
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/MappingDeletedHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/MappingDeletedHandlerTest.java
Labels: component/zeebe

fix: test2.sh
  test2.sh
Labels: none

fix: populate GITHUB_TOKEN_USR and GITHUB_TOKEN_PSW
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

fix: waitBeforeTagging=60
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

fix: don't replace manifest.mf
  .github/actions/sign-and-notarize/sign_all_mach_o_and_jars.sh
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

fix: upgrade maven-release-plugin to 3.1.1
  bom/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: make releaseVersion non SNAPSHOT
  .github/workflows/dispatch-release-8-7-28522.yaml
Labels: component/build-pipeline

fix: mcf
  .github/actions/sign-and-notarize/sign_all_mach_o_and_jars.sh
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

fix: ignore jars with signature file
  .github/actions/sign-and-notarize/sign_all_mach_o_and_jars.sh
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

fix: remove digests from jar
  .github/actions/sign-and-notarize/sign_all_mach_o_and_jars.sh
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

fix: awk script
  .github/actions/sign-and-notarize/sign_all_mach_o_and_jars.sh
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

feat: add metrics for redistribution task
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/metrics/DistributionMetrics.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/distribution/CommandRedistributor.java
Labels: component/zeebe

feat: migrate MigrateAction component to v2
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/MigrateAction/v2/index.test.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/MigrateAction/v2/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/index.tsx
Labels: component/operate

feat: migrate SourceDiagram component to v2
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/MigrateAction/v2/index.tsx
  operate/client/src/App/Processes/ListView/index.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/index.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/v2/SourceDiagram.test.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/v2/SourceDiagram.tsx
Labels: component/operate

feat: migrate MigrateAction component to v2
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/MigrateAction/v2/index.tsx
Labels: component/operate

feat: use zod endpoint
  operate/client/package.json
  operate/client/src/App/Processes/ListView/DiagramPanel/BatchModificationNotification/v2/index.tsx
  operate/client/src/App/Processes/ListView/DiagramPanel/v2/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/BatchModificationFooter/BatchModificationSummaryModal/v2/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/MigrateAction/v2/index.test.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/v2/SourceDiagram.test.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/v2/SourceDiagram.tsx
  operate/client/src/__mocks__/@vzeta/camunda-api-zod-schemas/operate.ts
  operate/client/src/modules/api/v2/processInstances/fetchProcessInstancesStatistics.ts
  operate/client/src/modules/hooks/useProcessInstancesFilters.test.ts
  operate/client/src/modules/hooks/useProcessInstancesFilters.ts
  operate/client/src/modules/mock-server/handlers.ts
  operate/client/src/modules/mocks/api/v2/processInstances/fetchProcessInstancesStatistics.ts
  operate/client/src/modules/queries/genericQuery.ts
  operate/client/src/modules/queries/processInstancesStatistics/useBatchModificationOverlay.test.tsx
  operate/client/src/modules/queries/processInstancesStatistics/useBatchModificationOverlayData.ts
  operate/client/src/modules/queries/processInstancesStatistics/useInstancesCount.ts
  operate/client/src/modules/queries/processInstancesStatistics/useOverlayData.test.tsx
  operate/client/src/modules/queries/processInstancesStatistics/useOverlayData.ts
  operate/client/src/modules/queries/processInstancesStatistics/useProcessInstancesStatistics.tsx
  operate/client/src/modules/utils/statistics/processInstances.test.ts
  operate/client/src/modules/utils/statistics/processInstances.ts
  operate/client/tsconfig.json
  operate/client/yarn.lock
Labels: component/operate

test: update e2e mock data for v2
  operate/client/e2e-playwright/a11y/processInstance.spec.ts
  operate/client/e2e-playwright/docs-screenshots/delete-finished-instances.spec.ts
  operate/client/e2e-playwright/docs-screenshots/get-familiar-with-operate.spec.ts
  operate/client/e2e-playwright/docs-screenshots/process-instance-modification.spec.ts
  operate/client/e2e-playwright/docs-screenshots/variables-and-incidents.spec.ts
  operate/client/e2e-playwright/mocks/processInstance/compensationProcessInstance.mocks.ts
  operate/client/e2e-playwright/mocks/processInstance/completedInstance.mocks.ts
  operate/client/e2e-playwright/mocks/processInstance/completedOrderProcessInstance.mocks.ts
  operate/client/e2e-playwright/mocks/processInstance/eventBasedGatewayProcessInstance.mocks.ts
  operate/client/e2e-playwright/mocks/processInstance/index.ts
  operate/client/e2e-playwright/mocks/processInstance/instanceWithIncident.mocks.ts
  operate/client/e2e-playwright/mocks/processInstance/orderProcessInstance.mocks.ts
  operate/client/e2e-playwright/mocks/processInstance/runningInstance.mocks.ts
  operate/client/e2e-playwright/mocks/processInstance/runningOrderProcessInstance.mocks.ts
  operate/client/e2e-playwright/visual/modifications.spec.ts
  operate/client/e2e-playwright/visual/processInstance.spec.ts
Labels: component/operate

feat: Added tests for BrokerTopologyManagerImpl and TopologyController
  qa/integration-tests/src/test/java/io/camunda/it/cluster/ClusterPurgeMultiDbIT.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/BrokerTopologyManagerImpl.java
  zeebe/broker-client/src/test/java/io/camunda/zeebe/broker/client/api/BrokerTopologyManagerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/TopologyControllerTest.java
Labels: component/zeebe

fix: Tasklist importer cannot deserialize user tasks variables with Long values
  dist/src/main/java/io/camunda/application/commons/CommonsModuleConfiguration.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/common/UserTaskRecordToVariableEntityMapper.java
  tasklist/importer-870/src/main/java/io/camunda/tasklist/zeebeimport/v870/processors/common/UserTaskRecordToVariableEntityMapper.java
  tasklist/qa/integration-tests/pom.xml
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/ObjectMapperQualifierArchTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TestApplication.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/zeebeimport/ZeebeUserTaskImportIT.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/serializer/LongSerializer.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: Added tests for BrokerTopologyManagerImpl and TopologyController
  qa/integration-tests/src/test/java/io/camunda/it/cluster/ClusterPurgeMultiDbIT.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/BrokerTopologyManagerImpl.java
  zeebe/broker-client/src/test/java/io/camunda/zeebe/broker/client/api/BrokerTopologyManagerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/TopologyControllerTest.java
Labels: component/zeebe

feat: purge processCache whenever a cluster change is completed
  dist/src/main/java/io/camunda/application/commons/rest/RestApiConfiguration.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/api/BrokerClusterState.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/api/BrokerTopologyListener.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/BrokerClusterStateImpl.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/BrokerTopologyManagerImpl.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/cache/ProcessCache.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/TopologyController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/cache/ProcessCacheTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/TopologyControllerTest.java
  zeebe/gateway/src/test/java/io/camunda/zeebe/gateway/impl/broker/PublishMessageDispatchStrategyTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: do not autoconfigure quartz with Optimize
  optimize/backend/src/main/resources/application.properties
Labels: component/optimize

Revert "build: restore location of Optimize's properties file"
  dist/src/main/resources/application-optimize.properties
  optimize/backend/src/main/resources/application.properties
  optimize/backend/src/main/resources/optimize-banner.txt
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: update tsconfig
  qa/core-application-e2e-test-suite/tsconfig.json
Labels: none

build: add optimize module
  pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: correctly implement the resource_not_found error
  operate/schema/src/main/java/io/camunda/operate/entities/ErrorType.java
  service/src/main/java/io/camunda/service/entities/IncidentEntity.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/ErrorType.java
Labels: component/zeebe, component/operate

build: do not override repos
  optimize/pom.xml
Labels: component/optimize

fix: Tasklist importer cannot deserialize user tasks variables with Long values
  dist/src/main/java/io/camunda/application/commons/CommonsModuleConfiguration.java
  tasklist/importer-870/src/main/java/io/camunda/tasklist/zeebeimport/v870/processors/common/UserTaskRecordToVariableEntityMapper.java
  tasklist/qa/integration-tests/pom.xml
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/ObjectMapperQualifierArchTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TestApplication.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/zeebeimport/ZeebeUserTaskImportIT.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

build: remove repos settings from optimize
  optimize/pom.xml
Labels: component/optimize

feat: extend docs to add new endpoints to cancel/pause/resume batch operations #29712
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

feat: add broker requests to cancel, pause, resume batch operations #29712
  zeebe/gateway/pom.xml
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerCancelBatchOperationRequest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerPauseBatchOperationRequest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerResumeBatchOperationRequest.java
Labels: component/zeebe

WIP: add new endpoints + service to pause cancel and resume batch operations #29712
  service/src/main/java/io/camunda/service/BatchOperationServices.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/BatchOperationController.java
Labels: component/zeebe

fix: remove unused AzureBackupStore var.
  qa/integration-tests/src/test/java/io/camunda/it/backup/BackupRestoreIT.java
Labels: none

fix: add service layer parameterized error type test and missing enums
  service/src/main/java/io/camunda/service/entities/IncidentEntity.java
  service/src/test/java/io/camunda/service/query/filter/IncidentFilterTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

ref: changed lastCompletedChangeId to a string
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/api/BrokerClusterState.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/TopologyController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/TopologyControllerTest.java
Labels: component/zeebe

feat: Remove OwnerId check to avoid 401
  optimize/backend/src/main/java/io/camunda/optimize/rest/PublicApiRestService.java
Labels: component/optimize

fix: close HistoryBackupComponent thread pool before shutting down testStandaloneApplication.
  dist/src/main/java/io/camunda/application/commons/backup/HistoryBackupComponent.java
  qa/integration-tests/src/test/java/io/camunda/it/backup/BackupRestoreIT.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
