Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

fix: Address PR feedback
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestHandler.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestHandlerTest.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/grpc/GrpcErrorMapper.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/grpc/GrpcErrorMapperTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RestErrorMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ErrorMapperTest.java
  zeebe/protocol/src/main/resources/protocol.xml
Labels: component/zeebe

fix: fix unit test
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ErrorMapperTest.java
Labels: component/zeebe

build: import correct Optimize error classes
  optimize/backend/pom.xml
  optimize/backend/src/main/java/io/camunda/optimize/rest/actuator/BackupRestService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/BackupService.java
  optimize/backend/src/test/java/io/camunda/optimize/service/backup/BackupServiceTest.java
  optimize/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
Labels: component/optimize

fix: Tasklist importer cannot deserialize user tasks variables with Long values
  dist/src/main/java/io/camunda/application/commons/CommonsModuleConfiguration.java
  tasklist/importer-870/src/main/java/io/camunda/tasklist/zeebeimport/v870/processors/common/UserTaskRecordToVariableEntityMapper.java
  tasklist/qa/integration-tests/pom.xml
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/ObjectMapperQualifierArchTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TestApplication.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/zeebeimport/ZeebeUserTaskImportIT.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: add delete & update modals for mapping rules
  identity/client/src/components/entityList/EntityList.tsx
  identity/client/src/feature-flags.ts
  identity/client/src/pages/mappings/List.tsx
  identity/client/src/pages/mappings/modals/DeleteModal.tsx
  identity/client/src/pages/mappings/modals/EditModal.tsx
  identity/client/src/utility/api/mappings/index.ts
Labels: component/identity

refactor: add translations to mapping rules update UI
  identity/client/src/feature-flags.ts
  identity/client/src/pages/mappings/modals/DeleteModal.tsx
  identity/client/src/pages/mappings/modals/EditModal.tsx
  identity/client/src/utility/localization/en/mappingRules.json
Labels: component/identity

test: add shouldAddFieldToIndexTemplate test for elasticsearch
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/OpenSearchSchemaManager.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/ElasticsearchTestExtension.java
  tasklist/qa/integration-tests/src/test/resources/schema/es/template/tasklist-test-template-after.json
  tasklist/qa/integration-tests/src/test/resources/schema/es/template/tasklist-test-template-before.json
Labels: component/tasklist

fix: Tasklist Opensearch schema manager does not update index templates mappings
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/OpenSearchSchemaManager.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/OpenSearchTestExtension.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TestIndexDescriptor.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TestTemplateDescriptor.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/apps/schema/TestIndexDescriptorConfiguration.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/apps/schema/TestTemplateDescriptorConfiguration.java
  tasklist/qa/integration-tests/src/test/resources/schema/es/index/tasklist-test-after.json
  tasklist/qa/integration-tests/src/test/resources/schema/es/index/tasklist-test-before.json
  tasklist/qa/integration-tests/src/test/resources/schema/os/index/tasklist-test-after.json
  tasklist/qa/integration-tests/src/test/resources/schema/os/index/tasklist-test-before.json
  tasklist/qa/integration-tests/src/test/resources/schema/os/template/tasklist-test-template-after.json
  tasklist/qa/integration-tests/src/test/resources/schema/os/template/tasklist-test-template-before.json
Labels: component/tasklist

ci: fix build
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TestIndexDescriptor.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TestTemplateDescriptor.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/apps/schema/TestIndexDescriptorConfiguration.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/apps/schema/TestTemplateDescriptorConfiguration.java
Labels: component/tasklist

test: remove legacy test
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/ProcessInstanceZeebeImportIT.java
Labels: component/operate

test: remove tests dependent on import order
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/ElasticsearchTestRuleProvider.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/OpensearchTestRuleProvider.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/SearchTestRule.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/SearchTestRuleProvider.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/BasicZeebeImportIT.java
Labels: component/operate

test: remove IncidentWithFailingOperationZeebeImportIT
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/IncidentWithFailingOperationZeebeImportIT.java
Labels: component/operate

ci: manual release preparation
  .github/workflows/camunda-platform-release.yml
  release.properties
Labels: component/build-pipeline

feat: use spring static resource handler
  dist/src/main/resources/application.properties
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiResourceConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/util/YamlToJsonResourceTransformer.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: add qualifier on openApiConfig
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiResourceConfig.java
Labels: component/zeebe

feat: move to camunda controller for swagger
  dist/src/main/resources/application.properties
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: spotless lint
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
Labels: component/zeebe

fix: remove yaml mapper and replace to builder
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
Labels: component/zeebe

fix: remove dependency verification
  zeebe/gateway-rest/pom.xml
Labels: component/zeebe

feat: setup swagger for camunda apis
  parent/pom.xml
  zeebe/gateway-protocol/pom.xml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiConfig.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: add missing dependency
  zeebe/gateway-rest/pom.xml
Labels: component/zeebe

fix: remove not used dependencies
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
Labels: component/zeebe

fix: remove not used comment
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiConfig.java
Labels: component/zeebe

fix: rename method from zeebeApi to camundaApi
  zeebe/gateway-protocol/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiConfig.java
Labels: component/zeebe

feat: introduce yamlObjectMapper bean
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiResourceConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/DocumentController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/util/YamlToJsonResourceTransformer.java
Labels: component/zeebe

fix: set objectMapper as primary
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
Labels: component/zeebe

fix: remove yamlObjectMapper
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiResourceConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/DocumentController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/util/YamlToJsonResourceTransformer.java
Labels: component/zeebe

feat: after review - move SecondaryDbQueryService to search clients #29808
  dist/pom.xml
  dist/src/main/java/io/camunda/zeebe/broker/BrokerModuleConfiguration.java
  dist/src/main/java/io/camunda/zeebe/broker/SecondaryDbAccessConfiguration.java
  search/search-client/pom.xml
  search/search-client/src/main/java/io/camunda/search/clients/SecondaryDbQueryService.java
  search/search-client/src/main/java/io/camunda/search/clients/impl/NoopSecondaryDbQueryService.java
  search/search-client/src/main/java/io/camunda/search/clients/impl/SecondaryDbQueryServiceImpl.java
  zeebe/broker/pom.xml
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/BrokerStartupContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/BrokerStartupContextImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/PartitionManagerImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/startup/ZeebePartitionFactory.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/SystemContext.java
  zeebe/engine/pom.xml
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/perf/TestEngine.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteringRule.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: persisted partition count is used in EngineProcessors
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/PartitionManagerImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/startup/ZeebePartitionFactory.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/PersistedClusterTopologyTest.java
  zeebe/qa/integration-tests/src/test/resources/processes/catch_event.bpmn
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestCluster.java
Labels: component/zeebe

feat: move to resourcehandler open api controller
  dist/src/main/resources/application.properties
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiResourceConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/util/YamlToJsonResourceTransformer.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: setup swagger for camunda apis
  parent/pom.xml
  zeebe/gateway-protocol/pom.xml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiConfig.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: add missing dependency
  zeebe/gateway-rest/pom.xml
Labels: component/zeebe

fix: set objectMapper as primary
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
Labels: component/zeebe

fix: remove yaml mapper and replace to builder
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
Labels: component/zeebe

fix: rename method from zeebeApi to camundaApi
  zeebe/gateway-protocol/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiConfig.java
Labels: component/zeebe

fix: spotless lint
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
Labels: component/zeebe

fix: remove not used comment
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiConfig.java
Labels: component/zeebe

feat: use spring static resource handler
  dist/src/main/resources/application.properties
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiResourceConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/util/YamlToJsonResourceTransformer.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: move to camunda controller for swagger
  dist/src/main/resources/application.properties
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: remove not used dependencies
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
Labels: component/zeebe

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
