Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

feat: add group tab to tenant details, group list structure, assign and delete modal, api methods
  identity/client/src/pages/tenants/detail/groups/AssignGroupsModal.tsx
  identity/client/src/pages/tenants/detail/groups/DeleteModal.tsx
  identity/client/src/pages/tenants/detail/groups/index.tsx
  identity/client/src/pages/tenants/detail/index.tsx
  identity/client/src/utility/api/tenants/index.ts
  identity/client/src/utility/localization/en/tenants.json
Labels: component/identity

feat: add feature flags, add roles tab, modals and translations
  identity/client/src/feature-flags.ts
  identity/client/src/pages/tenants/detail/index.tsx
  identity/client/src/pages/tenants/detail/roles/AssignRolesModal.tsx
  identity/client/src/pages/tenants/detail/roles/DeleteModal.tsx
  identity/client/src/pages/tenants/detail/roles/index.tsx
  identity/client/src/utility/api/tenants/index.ts
  identity/client/src/utility/localization/en/tenants.json
Labels: component/identity

fix: make onChange optional on DropdownSearch component, fix translations, linting
  identity/client/src/components/form/DropdownSearch.tsx
  identity/client/src/pages/groups/detail/members/AssignMembersModal.tsx
  identity/client/src/pages/tenants/detail/groups/AssignGroupsModal.tsx
  identity/client/src/pages/tenants/detail/groups/DeleteModal.tsx
  identity/client/src/pages/tenants/detail/mappings/AssignMappingsModal.tsx
  identity/client/src/pages/tenants/detail/mappings/DeleteModal.tsx
  identity/client/src/pages/tenants/detail/members/AssignMembersModal.tsx
  identity/client/src/pages/tenants/detail/roles/AssignRolesModal.tsx
  identity/client/src/pages/tenants/detail/roles/DeleteModal.tsx
  identity/client/src/pages/tenants/modals/DeleteModal.tsx
  identity/client/src/utility/localization/en/tenants.json
Labels: component/identity

build: adjust Optimize sharing feature to new SaaS context path
  optimize/backend/src/main/java/io/camunda/optimize/tomcat/CCSaasRequestAdjustmentFilter.java
  optimize/backend/src/main/java/io/camunda/optimize/tomcat/ExternalResourcesUtil.java
Labels: component/optimize

refactor: misc enhancements
  .github/workflows/c8run-release.yaml
Labels: component/build-pipeline, component/c8run

feat: migrate DiagramPanel to PI statistics v2
  operate/client/package.json
  operate/client/src/App/Processes/ListView/DiagramPanel/v2/index.test.tsx
  operate/client/src/App/Processes/ListView/DiagramPanel/v2/index.tsx
  operate/client/src/App/Processes/ListView/index.tsx
  operate/client/src/App/index.tsx
  operate/client/src/modules/feature-flags.ts
  operate/client/src/modules/react-query/ReactQueryProvider.tsx
  operate/client/src/modules/testUtils.tsx
  operate/client/yarn.lock
Labels: component/operate

feat: migrate DiagramPanel to PI statistics v2
  operate/client/yarn.lock
Labels: component/operate

feat: migrate BatchModificationNotification component to v2
  operate/client/src/App/Processes/ListView/DiagramPanel/BatchModificationNotification/v2/index.test.tsx
  operate/client/src/App/Processes/ListView/DiagramPanel/BatchModificationNotification/v2/index.tsx
  operate/client/src/App/Processes/ListView/DiagramPanel/index.tsx
  operate/client/src/App/Processes/ListView/DiagramPanel/v2/index.tsx
  operate/client/src/modules/queries/processInstancesStatistics/useBatchModificationOverlayData.ts
  operate/client/src/modules/queries/processInstancesStatistics/useInstancesCount.ts
Labels: component/operate

feat: migrate InstancesTable component to v2
  operate/client/src/App/Processes/ListView/InstancesTable/v2/index.test.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/v2/index.tsx
  operate/client/src/App/Processes/ListView/index.tsx
  operate/client/src/modules/api/v2/processInstances/fetchProcessInstancesStatistics.ts
  operate/client/src/modules/hooks/useProcessInstancesFilters.test.ts
  operate/client/src/modules/hooks/useProcessInstancesFilters.ts
  operate/client/src/modules/queries/genericQuery.ts
  operate/client/src/modules/queries/processInstancesStatistics/useBatchModificationOverlayData.ts
  operate/client/src/modules/queries/processInstancesStatistics/useInstancesCount.ts
  operate/client/src/modules/queries/processInstancesStatistics/useOverlayData.ts
  operate/client/src/modules/queries/processInstancesStatistics/useProcessInstancesStatistics.tsx
Labels: component/operate

feat: migrate BatchModificationSummaryModal component to v2
  operate/client/src/App/Processes/ListView/InstancesTable/BatchModificationFooter/BatchModificationSummaryModal/v2/index.test.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/BatchModificationFooter/BatchModificationSummaryModal/v2/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/BatchModificationFooter/index.tsx
Labels: component/operate

refactor: use regex to form alias for cloned historic index
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/elasticsearch/ElasticsearchPrefixMigrationClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/opensearch/OpensearchPrefixMigrationClient.java
Labels: component/zeebe

build: delete ignored changes on new releases
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

build: delete ignored changes on new releases
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

feat: Add new assertions `hasNotActivatedElements`
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/assertions/ProcessInstanceAssert.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/ElementAssertj.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/ProcessInstanceAssertj.java
Labels: none

test: Verify element assertions
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/ElementAssertTest.java
Labels: none

refactor: Remove un-necessary code lines
  qa/core-application-e2e-test-suite/README.md
  qa/core-application-e2e-test-suite/utils/deleteOrg.ts
  qa/core-application-e2e-test-suite/utils/zeebeClient.ts
Labels: none

deps: bump spring boot to fix Tomcat CVE
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

ci: remove unneeded Operate Slack notification
  .github/workflows/operate-ci-test-reusable.yml
Labels: component/operate, component/build-pipeline

fix: fix npe when closing OS exporter before open is called
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
Labels: component/zeebe

fix: fix npe when closing OS exporter before open is called
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
Labels: component/zeebe

fix: fix npe when closing OS exporter before open is called
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
Labels: component/zeebe

fix: fix npe when closing OS exporter before open is called
  exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
Labels: none

fix: fix npe when closing OS exporter before open is called
  exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
Labels: none

refactor: apply mvn spotless
  qa/core-application-e2e-test-suite/README.md
Labels: none

fix: use term query
  migration/process-migration/src/main/java/io/camunda/migration/process/adapter/es/ElasticsearchAdapter.java
Labels: none

fix: create meters once to avoid gauge re-registration
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchMetrics.java
Labels: component/zeebe

feat: add filter field for process instance in ES
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceQueryTest.java
Labels: none

feat: add Java client implementaion
  clients/java/src/main/java/io/camunda/client/api/search/filter/ProcessInstanceFilter.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/ProcessInstanceFilterImpl.java
  clients/java/src/test/java/io/camunda/client/process/QueryProcessInstanceTest.java
Labels: component/zeebe

feat: add errorMessage to protocol
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

feat: add integration tests
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceQueryTest.java
Labels: none

feat: add filter field for process instance in ES
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/query/SearchQueryBuilders.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/ProcessInstanceFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/ProcessInstanceQueryTransformerTest.java
  search/search-domain/src/main/java/io/camunda/search/filter/ProcessInstanceFilter.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceQueryControllerTest.java
Labels: component/zeebe

feat: add rdbms implementation
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
Labels: none

fix: configure redirect endpoint for OIDC
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
Labels: none

fix: small fixes to support OIDC auth
  authentication/src/main/java/io/camunda/authentication/CamundaOidcUserService.java
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  security/security-core/src/main/java/io/camunda/security/configuration/OidcAuthenticationConfiguration.java
Labels: none

fix: add sso-callback to allowed webapp urls
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
Labels: none

fix: cache tree path values of adhoc subprocess
  operate/importer-8_7/src/main/java/io/camunda/operate/zeebeimport/v8_7/processors/processors/fni/FNITransformer.java
  operate/importer-8_7/src/test/java/io/camunda/operate/zeebeimport/v8_7/processors/fni/fni/FNITransformerCacheTreePathTest.java
Labels: component/operate

ci: skip optimize from platform release
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

feat: migrate MigrateAction component to v2
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/MigrateAction/v2/index.test.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/MigrateAction/v2/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/index.tsx
Labels: component/operate

feat: migrate SourceDiagram component to v2
  operate/client/src/App/Processes/ListView/index.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/index.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/v2/SourceDiagram.test.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/v2/SourceDiagram.tsx
Labels: component/operate

build: remove Optimize dependencies from zeebe-parent
  dist/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize
