Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

feat: introduce and register VariableDocument `UPDATING` intent
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableDocumentUpdateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/VariableDocumentIntent.java
Labels: component/zeebe

feat: use mapping id for deletion
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/MappingDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/MappingDeletedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbMappingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableMappingState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionIdempotencyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/mapping/DeleteMappingMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/mapping/MappingTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/MappingAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/MappingStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/MappingClient.java
Labels: component/zeebe

fix: wait for create
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbMappingState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/mapping/MappingTest.java
Labels: component/zeebe

feat: create job for first `updating` listener on variable update
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableDocumentUpdateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/UserTaskVariableUpdateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/VariableClient.java
Labels: component/zeebe

build: adjust server of static resources
  optimize/backend/src/main/java/io/camunda/optimize/tomcat/CCSMRequestAdjustmentFilter.java
  optimize/backend/src/main/java/io/camunda/optimize/tomcat/ExternalResourcesUtil.java
  optimize/docker-compose.ccsm-with-optimize.yml
  optimize/docker-compose.ccsm-without-optimize.yml
Labels: component/optimize

build: optimize is a dedicated app
  .github/workflows/ci.yml
  .github/workflows/optimize-ci-build-reusable.yml
  .github/workflows/optimize-ci.yml
  .github/workflows/optimize-e2e-tests-sm.yml
  .github/workflows/zeebe-aws-os-dispatch-tests.yml
  dist/src/main/java/io/camunda/application/Profile.java
  dist/src/main/java/io/camunda/application/StandaloneOptimize.java
  dist/src/main/java/io/camunda/optimize/OptimizeModuleConfiguration.java
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/backend/src/it/java/io/camunda/optimize/AbstractIT.java
  optimize/backend/src/main/java/io/camunda/optimize/Main.java
  optimize/backend/src/main/java/io/camunda/optimize/OptimizeTomcatConfig.java
  optimize/backend/src/main/java/io/camunda/optimize/tomcat/CCSMRequestAdjustmentFilter.java
  optimize/backend/src/main/java/io/camunda/optimize/tomcat/ExternalResourcesUtil.java
  optimize/client/pom.xml
  optimize/client/scripts/start-backend.js
  optimize/client/vite.config.ts
  optimize/docker-compose.ccsm-with-optimize.yml
  optimize/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/optimize-commons/src/main/resources/service-config.yaml
  pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

refactor: Adapt /forbidden pages to Figma designs
  identity/client/src/assets/images/forbidden.svg
  identity/client/src/components/global/AppRoot.tsx
  identity/client/src/pages/forbidden/ForbiddenPage.tsx
  identity/client/src/pages/forbidden/component.tsx
  identity/client/src/pages/forbidden/components.tsx
  identity/client/src/pages/forbidden/index.tsx
  identity/client/src/utility/localization/en/components.json
  operate/client/src/modules/components/Forbidden/index.test.tsx
  operate/client/src/modules/components/Forbidden/index.tsx
  operate/client/src/modules/components/Icon/forbidden.svg
  operate/client/src/modules/types/carbon.d.ts
  tasklist/client/src/App.tsx
  tasklist/client/src/modules/components/Errors/Forbidden/forbidden.svg
  tasklist/client/src/modules/components/Errors/Forbidden/index.tsx
  tasklist/client/src/modules/components/Errors/Forbidden/styles.module.scss
  tasklist/client/src/modules/internationalization/locales/en.json
Labels: component/operate, component/identity, component/tasklist

fix: update createParams to use the same logic for scope as in mockCredentials in tests
  clients/java/src/main/java/io/camunda/client/impl/oauth/OAuthCredentialsProvider.java
Labels: component/zeebe

fix: remove super.equals on entities
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/MetricEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/EventEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/FlowNodeInstanceEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/ImportPositionEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/IncidentEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/JobEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/MessageEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/ProcessEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/SequenceFlowEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/VariableEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/dmn/DecisionInstanceEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/dmn/definition/DecisionDefinitionEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/dmn/definition/DecisionRequirementsEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/listview/FlowNodeInstanceForListViewEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/listview/ProcessInstanceForListViewEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/listview/VariableForListViewEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/post/PostImporterQueueEntity.java
Labels: none

fix: revert test check
  operate/webapp/src/test/java/io/camunda/operate/elasticsearch/writer/MetricWriterTest.java
Labels: component/operate

refactor: remove OperateZeebeEntity, align entities
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/EventEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/FlowNodeInstanceEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/IncidentEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/JobEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/MessageEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/OperateZeebeEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/ProcessEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/VariableEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/dmn/DecisionInstanceEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/dmn/definition/DecisionDefinitionEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/dmn/definition/DecisionRequirementsEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/listview/FlowNodeInstanceForListViewEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/listview/ProcessInstanceForListViewEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/listview/VariableForListViewEntity.java
Labels: none

refactor: remove operate UserTaskEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/UserTaskEntity.java
Labels: none

refactor: change operate entities based on abstract exporter entity
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/ImportPositionEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/SequenceFlowEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/post/PostImporterQueueEntity.java
Labels: none

refactor: align operate with entity changes
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/ProcessInstanceReaderIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/ProcessInstanceWriterIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/store/ProcessStoreIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/dao/DaoRfc3339SerializationIT.java
  operate/schema/src/main/java/io/camunda/operate/entities/MetricEntity.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchMetricsStore.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/dao/UsageMetricDAO.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchMetricsStore.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/zeebe/operation/DeleteProcessDefinitionHandler.java
  operate/webapp/src/test/java/io/camunda/operate/elasticsearch/dao/GenericDAOTest.java
  operate/webapp/src/test/java/io/camunda/operate/elasticsearch/writer/MetricWriterTest.java
Labels: component/operate

refactor: introduce PartitionedEntity
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/PartitionedEntity.java
Labels: none

fix: wrong setKey replacement
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/ProcessInstanceReaderIT.java
Labels: component/operate

refactor: aling MetricEntity
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/MetricEntity.java
Labels: none

refactor: remove TasklistEntity and align entities
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/DraftTaskVariableEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/EmbeddedFormBatch.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/FormEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/SnapshotTaskVariableEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/TaskEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/TaskProcessInstanceEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/TaskVariableEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/TasklistEntity.java
Labels: none

fix: wrong setKey replacement
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/ProcessInstanceReaderIT.java
Labels: component/operate

fix: revert test check
  operate/webapp/src/test/java/io/camunda/operate/elasticsearch/writer/MetricWriterTest.java
Labels: component/operate

fix: revert test check
  operate/webapp/src/test/java/io/camunda/operate/elasticsearch/writer/MetricWriterTest.java
Labels: component/operate

refactor: align operate with entity changes
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/ProcessInstanceReaderIT.java
  operate/webapp/src/test/java/io/camunda/operate/elasticsearch/writer/MetricWriterTest.java
Labels: component/operate

refactor: align operate with entity changes
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/ProcessInstanceReaderIT.java
  operate/webapp/src/test/java/io/camunda/operate/elasticsearch/writer/MetricWriterTest.java
Labels: component/operate

feat: test poc
  configuration/pom.xml
  configuration/src/main/java/io/camunda/db/se/config/ConnectConfiguration.java
  configuration/src/main/java/io/camunda/db/se/config/DatabaseConfig.java
  configuration/src/main/java/io/camunda/db/se/config/DatabaseType.java
  configuration/src/main/java/io/camunda/db/se/config/IndexSettings.java
  configuration/src/main/java/io/camunda/db/se/config/PluginConfiguration.java
  configuration/src/main/java/io/camunda/db/se/config/RetentionConfiguration.java
  configuration/src/main/java/io/camunda/db/se/config/SearchEngineConfiguration.java
  configuration/src/main/java/io/camunda/db/se/config/SecurityConfiguration.java
  dist/pom.xml
  migration/process-migration/pom.xml
  operate/common/pom.xml
  operate/qa/integration-tests/pom.xml
  parent/pom.xml
  qa/integration-tests/pom.xml
  qa/util/pom.xml
  search/search-client-connect/pom.xml
  tasklist/common/pom.xml
  tasklist/qa/integration-tests/pom.xml
  zeebe/exporters/camunda-exporter/pom.xml
  zeebe/exporters/elasticsearch-exporter/pom.xml
  zeebe/exporters/opensearch-exporter/pom.xml
  zeebe/qa/util/pom.xml
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: test poc
  db/pom.xml
  pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: test poc
  optimize/util/optimize-commons/pom.xml
Labels: component/optimize

docs: describe the new configuration option
  dist/src/main/config/broker.yaml.template
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: test poc
  configuration/pom.xml
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/util/configuration/ElasticSearchConfiguration.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/util/configuration/OpenSearchConfiguration.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/upgrade/es/ElasticsearchClientBuilder.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/upgrade/os/OpenSearchClientBuilder.java
  optimize/util/optimize-commons/src/test/java/io/camunda/optimize/upgrade/es/ElasticsearchClientBuilderTest.java
  optimize/util/optimize-commons/src/test/java/io/camunda/optimize/upgrade/os/OpenSearchClientBuilderTest.java
  search/search-client-connect/src/main/java/io/camunda/search/connect/plugin/PluginRepository.java
  search/search-client-connect/src/main/java/io/camunda/search/connect/util/SecurityUtil.java
  search/search-client-connect/src/test/java/io/camunda/search/connect/es/ElasticsearchConnectorTest.java
  search/search-client-connect/src/test/java/io/camunda/search/connect/os/OpensearchConnectorTest.java
Labels: component/optimize

ci: clean before install for build-zeebe
  .github/actions/build-zeebe/action.yml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

fix: add sso-callback to allowed webapp urls
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
Labels: none

ci: toggle for only building the camunda image
  .github/workflows/camunda-platform-docker-deploy-saas-image.yml
Labels: component/build-pipeline

ci: Deploy Camunda Docker Images maven speedup
  .github/workflows/camunda-platform-docker-deploy-saas-image.yml
Labels: component/build-pipeline

fix: populate storeId in batch upload doc response
  service/src/main/java/io/camunda/service/DocumentServices.java
  service/src/test/java/io/camunda/service/DocumentServicesTest.java
Labels: none

ci: Deploy Camunda Docker Images maven speedup with 8 core runner
  .github/workflows/camunda-platform-docker-deploy-saas-image.yml
Labels: component/build-pipeline

feat: introduce process instance statistics endpoint
  search/search-client/src/main/java/io/camunda/search/clients/ProcessDefinitionSearchClient.java
  search/search-domain/src/main/java/io/camunda/search/entities/ProcessDefinitionFlowNodeStatisticsEntity.java
  search/search-domain/src/main/java/io/camunda/search/filter/FilterBuilders.java
  search/search-domain/src/main/java/io/camunda/search/filter/ProcessDefinitionStatisticsFilter.java
  service/src/main/java/io/camunda/service/ProcessDefinitionServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/ProcessDefinitionController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessDefinitionQueryControllerTest.java
Labels: component/zeebe

deps: bump form-js
  tasklist/client/package.json
  tasklist/client/yarn.lock
Labels: component/tasklist

test: add StandaloneBackupManagerTest integration test
  dist/src/main/java/io/camunda/application/StandaloneBackupManager.java
  dist/src/main/java/io/camunda/application/StandaloneSchemaManager.java
  qa/integration-tests/pom.xml
  qa/integration-tests/src/test/java/io/camunda/it/StandaloneBackupManagerTest.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestStandaloneBackupManager.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

deps: bump form-js
  tasklist/client/package.json
  tasklist/client/yarn.lock
Labels: component/tasklist

fix: configure redirect endpoint for OIDC
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
Labels: none

feat: implement process instance statistics for RDBMS
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/ProcessDefinitionReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/ProcessDefinitionMapper.java
  db/rdbms/src/main/resources/mapper/ProcessDefinitionMapper.xml
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/processdefinition/ProcessDefinitionStatisticsIT.java
  search/search-client-rdbms/src/main/java/io/camunda/search/rdbms/RdbmsSearchClient.java
Labels: none

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
