Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

fix: refactor names to be more generic in action.yml
  .github/actions/sign-and-notarize/action.yml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

fix: -DcompletionGoals (#28522)
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

fix: use object define property instead
  operate/client/src/modules/utils/filter/tests/getDecisionInstancesRequestFilters.test.ts
  operate/client/src/modules/utils/filter/tests/getProcessInstancesRequestFilters.test.ts
Labels: component/operate

feat: migrate InstancesTable component to v2
  operate/client/src/App/Processes/ListView/InstancesTable/v2/index.test.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/v2/index.tsx
  operate/client/src/App/Processes/ListView/index.tsx
  operate/client/src/modules/api/v2/processInstances/fetchProcessInstancesStatistics.ts
  operate/client/src/modules/hooks/useProcessInstancesFilters.test.ts
  operate/client/src/modules/hooks/useProcessInstancesFilters.ts
  operate/client/src/modules/queries/genericQuery.ts
  operate/client/src/modules/queries/processInstancesStatistics/useBatchModificationOverlayData.ts
  operate/client/src/modules/queries/processInstancesStatistics/useInstancesCount.ts
  operate/client/src/modules/queries/processInstancesStatistics/useOverlayData.ts
  operate/client/src/modules/queries/processInstancesStatistics/useProcessInstancesStatistics.tsx
Labels: component/operate

fix: remoteTagging=false (#28522)
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

fix: apply review comments
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/MappingUpdateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/mapping/UpdateMappingMultiPartitionTest.java
Labels: component/zeebe

build: use HttpStatus from other library
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/multitenancy/MultiTenancyOverIdentityIT.java
Labels: component/zeebe

test: enable multi-tenancy
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorTest.java
Labels: component/zeebe

test: switch rejections to not found
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/dmn/StandaloneDecisionEvaluationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/multitenancy/TenantAwareStandaloneDecisionEvaluationTest.java
Labels: component/zeebe

test: enable multi-tenancy
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/multitenancy/TenantAwareActivateJobBatchTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/multitenancy/TenantAwareBusinessRuleTaskTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/multitenancy/TenantAwareCallActivityTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/multitenancy/TenantAwareCancelProcessInstanceTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/multitenancy/TenantAwareFormLinkingTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/multitenancy/TenantAwareModifyProcessInstanceTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/multitenancy/TenantAwareProcessInstanceVariableTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/multitenancy/TenantAwareResourceDeletionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/multitenancy/TenantAwareSignalEventTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/multitenancy/TenantAwareStandaloneDecisionEvaluationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/multitenancy/TenantAwareTimerCatchEventTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/multitenancy/TenantAwareTimerEventTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/multitenancy/TenantAwareTimerStartEventTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/multitenancy/TenantAwareUpdateVariablesTest.java
Labels: component/zeebe

deps: set google libraries as second to last POM/import scope
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: return forbidden if user is not assigned to the tenant
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
Labels: component/zeebe

deps: fix CVE cve-2024-38827
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: remove unspecified owner type from identity UI
  identity/client/src/utility/api/authorizations/index.ts
  identity/client/src/utility/localization/en/authorizations.json
Labels: component/identity

fix: adjust the forbidden page french translation
  tasklist/client/src/common/i18n/locales/fr.json
Labels: component/tasklist

test: reject signal with forbidden if the provided tenant is not assigned
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/signal/SignalBroadcastProcessor.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/multitenancy/MultiTenancyOverIdentityIT.java
Labels: component/zeebe

deps: set google libraries as second to last POM/import scope
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

test: check for forbidden rejection type
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/multitenancy/MultiTenancyOverIdentityIT.java
Labels: component/zeebe

BACKPORT-CONFLICT
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: reject message correlation early
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageCorrelationCorrelateProcessor.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/multitenancy/MultiTenancyOverIdentityIT.java
Labels: component/zeebe

test: prevent hardcoded keys
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/multitenancy/MultiTenancyOverIdentityIT.java
Labels: component/zeebe

fix: fail publish message with forbidden
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessagePublishProcessor.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/multitenancy/MultiTenancyOverIdentityIT.java
Labels: component/zeebe

fix: remove prefetch logic + add nin
  operate/client/src/App/Processes/ListView/DiagramPanel/v2/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/v2/index.test.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/v2/index.tsx
  operate/client/src/modules/queries/processInstancesStatistics/useBatchModificationOverlayData.ts
  operate/client/src/modules/queries/processInstancesStatistics/useProcessInstancesStatistics.tsx
Labels: component/operate

build: zeebe compatibility test command line
  .github/workflows/optimize-zeebe-compatibility.yml
Labels: component/optimize, component/build-pipeline

refactor: rename test class
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/multitenancy/MultiTenancyIT.java
Labels: component/zeebe

feat: delete ProcessCache in Zeebe Rest Gateway during purge
  zeebe/broker/pom.xml
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/topology/ClusterChangeExecutorImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/topology/ProcessCacheProvider.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/cache/ProcessCache.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/util/RetryOperation.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/util/SpringContextHolder.java
Labels: component/zeebe

fix: revert move version prop to parent
  optimize/backend/pom.xml
  optimize/pom.xml
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: revert resolve liquibase transitive dep
  dist/pom.xml
  optimize/backend/pom.xml
  optimize/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

deps: revert Update dependency com.opencsv:opencsv to v5.10
  dist/pom.xml
  optimize/backend/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: reword german translation of forbidden page
  tasklist/client/src/common/i18n/locales/de.json
Labels: component/tasklist

ci: ignore dep convergence fail on opencsv for incident #2490
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: add undocumented API to create collections for consulting
  optimize/backend/src/main/java/io/camunda/optimize/dto/optimize/query/collection/PartialCollectionDefinitionRequestDto.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/PublicApiRestService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/collection/CollectionScopeService.java
Labels: component/optimize

fix: apply review comments
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/MappingDeleteProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/MappingClient.java
Labels: component/zeebe

refactor: add workflow to test changes from branch
  .github/workflows/optimize-deploy-image-from-branch.yml
Labels: component/optimize, component/build-pipeline

refactor: comment back in deploy stages
  .github/workflows/optimize-deploy-image-from-branch.yml
Labels: component/optimize, component/build-pipeline

ci: apply spotless
  optimize/backend/src/main/java/io/camunda/optimize/rest/PublicApiRestService.java
Labels: component/optimize

feat: fix the collection scope path
  optimize/backend/src/main/java/io/camunda/optimize/rest/PublicApiRestService.java
Labels: component/optimize

ci: remove workflow as agreed with Helene
  .github/workflows/optimize-deploy-image-from-branch.yml
Labels: component/optimize, component/build-pipeline

feat: add undocumented API to list collections
  optimize/backend/src/main/java/io/camunda/optimize/rest/PublicApiRestService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/collection/CollectionService.java
Labels: component/optimize

fix: add test for mapping state
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/MappingStateTest.java
Labels: component/zeebe

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
