Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

ci: disable all permissions
  .github/workflows/reject-updates-using-merge-commit.yml
Labels: component/build-pipeline

ci: path-filters GHA: include zeebe-change in tasklist-backend-changes
  .github/actions/paths-filter/action.yml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

docs: describe updating a pull request
  CONTRIBUTING.md
Labels: none

ci: disable all permissions
  .github/workflows/reject-updates-using-merge-commit.yml
Labels: component/build-pipeline

docs: refer to updating a pull request section
  .github/workflows/reject-updates-using-merge-commit.yml
Labels: component/build-pipeline

docs: explain steps more explicitly
  .github/workflows/reject-updates-using-merge-commit.yml
Labels: component/build-pipeline

docs: describe updating a pull request
  CONTRIBUTING.md
Labels: none

ci: disable all permissions
  .github/workflows/reject-updates-using-merge-commit.yml
Labels: component/build-pipeline

docs: explain steps more explicitly
  .github/workflows/reject-updates-using-merge-commit.yml
Labels: component/build-pipeline

docs: refer to updating a pull request section
  .github/workflows/reject-updates-using-merge-commit.yml
Labels: component/build-pipeline

docs: fix typos
  qa/README.md
Labels: none

test: Verify new assertion for active elements
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/ElementAssertTest.java
Labels: none

refactor: extract schema initialization out of the exporter
  qa/integration-tests/src/test/java/io/camunda/it/migration/PrefixMigrationIT.java
Labels: none

feat: add backoff retries on init schema
  dist/src/main/java/io/camunda/application/commons/migration/SchemaManagerHelper.java
  dist/src/main/java/io/camunda/application/commons/search/SearchEngineDatabaseConfiguration.java
  dist/src/main/java/io/camunda/application/commons/search/SearchEngineSchemaInitializer.java
  migration/process-migration/pom.xml
  migration/process-migration/src/main/java/io/camunda/migration/process/MigrationRunner.java
  migration/process-migration/src/main/java/io/camunda/migration/process/adapter/es/ElasticsearchAdapter.java
  migration/process-migration/src/main/java/io/camunda/migration/process/adapter/os/OpensearchAdapter.java
  migration/process-migration/src/main/java/io/camunda/migration/process/config/ProcessMigrationProperties.java
  migration/process-migration/src/test/java/io/camunda/migration/process/it/AdapterTest.java
  migration/process-migration/src/test/java/io/camunda/migration/process/it/MigrationRunnerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/camunda/exporter/SchemaWithExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/SchemaManager.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/config/SchemaManagerConfiguration.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/config/SearchEngineConfiguration.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/SchemaManagerIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/CamundaExporterSchemaUtils.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/SchemaManagerITInvocationProvider.java
  zeebe/util/pom.xml
  zeebe/util/src/main/java/io/camunda/zeebe/util/retry/RetryConfiguration.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/retry/RetryDecorator.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

test: fix failing tests
  dist/src/main/java/io/camunda/application/commons/search/SearchEngineSchemaInitializer.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/client/AbstractOpenSearchOperationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/OpensearchOperateZeebeRuleProvider.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/OpensearchTestRuleProvider.java
  operate/qa/util/src/main/java/io/camunda/operate/qa/util/TestContainerUtil.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/ElasticsearchTestExtension.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/OpenSearchTestExtension.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistZeebeExtensionElasticSearch.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistZeebeExtensionOpenSearch.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/retry/RetryDecorator.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

test: add tests to SchemaManagerIT
  qa/integration-tests/src/test/java/io/camunda/it/migration/PrefixMigrationIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/SchemaManagerIT.java
Labels: component/zeebe

refactor: replace index.prefix by connect.indexPrefix
  dist/src/main/java/io/camunda/application/commons/migration/SchemaManagerHelper.java
  dist/src/main/java/io/camunda/application/commons/search/SearchEngineSchemaInitializer.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/camunda/exporter/SchemaWithExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/config/ConfigValidator.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/config/ExporterConfiguration.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/SchemaManager.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/DefaultExporterResourceProviderTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/config/ConfigValidatorTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/AWSSearchDBExtension.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/CamundaExporterITTemplateExtension.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/CamundaExporterSchemaUtils.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: Increase the default inbound message size to 5MB for clients
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientBuilder.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientBuilderImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/ZeebeClientTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationDefaultPropertiesTest.java
Labels: component/zeebe

feat: Increase the default inbound message size to 5MB for clients
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientBuilder.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientBuilderImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/ZeebeClientTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationDefaultPropertiesTest.java
Labels: component/zeebe

feat: Increase the default inbound message size to 5MB for clients
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationDefaultPropertiesTest.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientBuilder.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientBuilderImpl.java
  zeebe/clients/java/src/test/java/io/camunda/zeebe/client/ZeebeClientTest.java
Labels: component/zeebe

feat: Increase the default inbound message size to 5MB for clients
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientBuilder.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientBuilderImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/ZeebeClientTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationDefaultPropertiesTest.java
Labels: component/zeebe

refactor: simplify `registerVariableEventAppliers` method
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
Labels: component/zeebe

feat: introduce `VariableDocumentUpdatedApplier`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/VariableDocumentUpdatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableVariableState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/variable/DbVariableState.java
Labels: component/zeebe

feat: introduce and register VariableDocument `UPDATING` intent
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableDocumentUpdateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/VariableDocumentIntent.java
Labels: component/zeebe

feat: create job for first `updating` listener on variable update
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableDocumentUpdateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/UserTaskVariableUpdateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/VariableClient.java
Labels: component/zeebe

test: add `UserTaskVariableUpdateTest` to verify variable update behavior
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/UserTaskVariableUpdateTest.java
Labels: component/zeebe

feat: support variable updates for Camunda user tasks
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableDocumentUpdateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/UserTaskVariableUpdateTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/usertask/UserTaskRecord.java
Labels: component/zeebe

feat: introduce `VariableDocumentUpdatingApplier`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/VariableDocumentUpdatingApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/VariableDocumentRecordValue.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableVariableState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/variable/DbVariableState.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
Labels: component/zeebe

feat: validate user task lifecycle state when updating task variables
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableDocumentUpdateProcessor.java
Labels: component/zeebe

feat: add `getVariableDocumentState` method to retrieve variable document data
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/VariableState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/variable/DbVariableState.java
Labels: component/zeebe

feat: emit `VariableDocument.UPDATING` event for all elements
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableDocumentUpdateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/variable/UpdateVariableDocumentTest.java
Labels: component/zeebe

test: move user task variable update tests to TaskListenerVariablesTest
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTestHelper.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerVariablesTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/UserTaskVariableUpdateTest.java
Labels: component/zeebe

refactor: simplify `VariableDocumentState` persistence by removing extra mapping
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/VariableDocumentUpdatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableVariableState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/variable/DbVariableState.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
Labels: component/zeebe

feat: persist the request metadata of VariableDocument `UPDATE` command
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/UserTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableDocumentUpdateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/UserTaskState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/DbUserTaskState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/UserTaskRecordRequestMetadata.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/UserTaskTransitionTriggerRequestMetadata.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableUserTaskState.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
Labels: component/zeebe

feat: merge task-scoped variables on finalizing UT update transition
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/UserTaskCommandProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskUpdateProcessor.java
Labels: component/zeebe

fix: avoid `ClassCastException` when storing request metadata for VD `UPDATE` command
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableDocumentUpdateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/UserTaskTransitionTriggerRequestMetadata.java
Labels: component/zeebe

feat: rename `VariableDocumentRecordValue` and store VD key
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/VariableDocumentUpdatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/VariableDocumentUpdatingApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/VariableDocumentState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableVariableState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/variable/DbVariableState.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
Labels: component/zeebe

feat: include "variables" in `changedAttributes` header
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerBlockedTransitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTaskHeadersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/VariableClient.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/usertask/UserTaskRecord.java
Labels: component/zeebe

refactor: retrun Optional by `findVariableDocumentState`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskUpdateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/VariableState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/variable/DbVariableState.java
Labels: component/zeebe

test: verify UserTask update transition triggered by `VariableDocument.UPDATE`
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerBlockedTransitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/VariableClient.java
Labels: component/zeebe
