Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

fix: avoid preformatting of error message
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/BackgroundTask.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/ReschedulingTask.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/util/ReschedulingTaskLogger.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/utils/ReschedulingTaskLoggerTest.java
Labels: component/zeebe

fix: apply spotless
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestSimpleCamundaApplication.java
Labels: none

feat: Create Operate user in case it is configured (ignoring createSchema property)
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/auth/OperateUserDetailsService.java
Labels: component/operate

fix: elastic bean is also wrapped by try-catch
  dist/src/main/java/io/camunda/application/StandaloneSchemaManager.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: configure the ES exporter via spring.
  dist/src/main/java/io/camunda/application/StandaloneSchemaManager.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: change name of executable from schema to schemaManager.
  dist/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: extract SchemaManager from ElasticsearchExporter.
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/SchemaManager.java
Labels: component/zeebe

feat: Added StandaloneSchemaManager as own tool (sh/bat)
  dist/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: Added exporter to default config
  dist/src/main/config/application.yaml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: Added default ObjectMapper to avoid problems with SpringBoot auto configuration
  dist/src/main/java/io/camunda/application/StandaloneSchemaManager.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: rename schema executable.
  dist/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: extract SchemaManager from ElasticsearchExporter.
  dist/src/main/java/io/camunda/application/StandaloneSchemaManager.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/SchemaManager.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

style: add missing license header
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/SchemaManager.java
Labels: component/zeebe

fix: always exit on schema creation failure
  dist/src/main/java/io/camunda/application/StandaloneSchemaManager.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: not to call createIndexTemplates schema on every export.
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
Labels: component/zeebe

fix: Adding parameter to completely disable the schema manager on the exporter
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporterConfiguration.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/SchemaManager.java
Labels: component/zeebe

fix: default config can't use tabs
  dist/src/main/config/application.yaml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: config to disable ILM policy management
  tasklist/common/src/main/java/io/camunda/tasklist/property/ArchiverProperties.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/es/ILMPolicyUpdateElasticSearch.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporterConfiguration.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/SchemaManager.java
Labels: component/zeebe, component/tasklist

fix: WIP - use async client for archiving
  operate/archiver/src/main/java/io/camunda/operate/archiver/ElasticsearchArchiverRepository.java
  operate/archiver/src/test/java/io/camunda/operate/archiver/ElasticsearchArchiveRepositoryTest.java
  operate/schema/src/main/java/io/camunda/operate/util/ElasticsearchUtil.java
Labels: component/operate

deps: zeebe es exporter is now used directly
  dist/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: Added StandaloneSchemaManager reusing existing SchemaStartup from operate/tasklist (backported #25922 to 8.6.x)
  dist/pom.xml
  dist/src/main/java/io/camunda/application/StandaloneSchemaManager.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: name `JacksonConfig` configuration classes to allow loading both
  operate/common/src/main/java/io/camunda/operate/JacksonConfig.java
  tasklist/common/src/main/java/io/camunda/tasklist/JacksonConfig.java
Labels: component/operate, component/tasklist

test: basic smoke test for StandaloneSchemaManager
  qa/integration-tests/pom.xml
  qa/integration-tests/src/test/java/io/camunda/it/StandaloneSchemaManagerTest.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestStandaloneSchemaManager.java
Labels: none

test: fix NPE when exporter config was not previously set
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestStandaloneCamunda.java
Labels: none

refactor: clean up StandaloneSchemaManager
  dist/pom.xml
  dist/src/main/java/io/camunda/application/StandaloneSchemaManager.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

test: allow reading all indices for app role
  qa/integration-tests/src/test/java/io/camunda/it/StandaloneSchemaManagerTest.java
Labels: none

test: remove simplified tests to save time
  qa/integration-tests/src/test/java/io/camunda/it/StandaloneSchemaManagerTest.java
Labels: none

Revert "fix: Adding parameter to completely disable the schema manager on the exporter"
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporterConfiguration.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/SchemaManager.java
Labels: component/zeebe

test: verify that archiving work as expected
  qa/integration-tests/src/test/java/io/camunda/it/StandaloneSchemaManagerTest.java
Labels: none

deps: add required dependencies for new tests
  qa/integration-tests/pom.xml
Labels: none

test: support authenticated es connections
  qa/util/src/main/java/io/camunda/qa/util/cluster/AbstractTestWebappClient.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestRestOperateClient.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestRestTasklistClient.java
Labels: none

fix: Correcting the logic for configuration of the ElasticsearchExporter
  dist/src/main/config/application.yaml
  dist/src/main/java/io/camunda/application/StandaloneSchemaManager.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: Fixing Unit Test errors
  operate/archiver/src/main/java/io/camunda/operate/archiver/ElasticsearchArchiverRepository.java
  operate/archiver/src/test/java/io/camunda/operate/archiver/ElasticsearchArchiveRepositoryTest.java
Labels: component/operate

test: make TestStandaloneCamunda more flexible
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestStandaloneCamunda.java
Labels: none

refactor: let schemamanager create the default user
  dist/src/main/java/io/camunda/application/StandaloneSchemaManager.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/auth/OperateUserDetailsService.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

test: verify that apis work as expected
  qa/integration-tests/src/test/java/io/camunda/it/StandaloneSchemaManagerTest.java
Labels: none

test: verify that camunda app can start after schema manager
  qa/integration-tests/src/test/java/io/camunda/it/StandaloneSchemaManagerTest.java
Labels: none

test: prevent flakiness by always re-authenticating
  qa/integration-tests/src/test/java/io/camunda/it/StandaloneSchemaManagerTest.java
Labels: none

BACKPORT-CONFLICT
  dist/pom.xml
  dist/src/main/resources/application.properties
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

BACKPORT-CONFLICT
  dist/pom.xml
  dist/src/main/resources/application.properties
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
