Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

test: enable elasticsearch on extension
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationITExtension.java
Labels: none

refactor: migration extension perform upgrade once per test class
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/CamundaMigrator.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationDatabaseChecks.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationITExtension.java
Labels: none

refactor: use system property from multi-db extension
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationITExtension.java
Labels: none

fix: remove unused dependency.
  qa/integration-tests/pom.xml
Labels: none

deps: fix pom
  qa/integration-tests/pom.xml
Labels: none

fix: sync with base, allow env overrides on upgrade
  qa/integration-tests/src/test/java/io/camunda/it/migration/MigrationUserTaskUpdateIT.java
Labels: none

test: port MigrationUserTaskUpdateIT in the new format
  qa/integration-tests/src/test/java/io/camunda/it/migration/MigrationUserTaskUpdateIT.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/TasklistMigrationHelper.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/ZeebeMigrationHelper.java
Labels: none

style: format
  qa/integration-tests/src/test/java/io/camunda/it/migration/MigrationUserTaskUpdateIT.java
Labels: none

test: disable flaky test to check CI config
  qa/integration-tests/src/test/java/io/camunda/it/migration/ElasticsearchUpdateRegressionTest.java
Labels: none

fix: remove old provider
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationITInvocationProvider.java
Labels: none

ci: root IT config
  .github/workflows/ci.yml
Labels: component/build-pipeline

test: split MigrationUserTaskUpdateIT in separate classes
  qa/integration-tests/src/test/java/io/camunda/it/migration/MigrationUserTaskUpdateIT.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/usertask/AssignUserTaskMigrationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/usertask/CompleteUserTaskMigrationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/usertask/UnassignUserTaskMigrationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/usertask/UserTaskMigrationHelper.java
Labels: none

Revert "ci: root IT increase forkCount"
  .github/workflows/ci.yml
Labels: component/build-pipeline

style: checkstyle issues
  qa/integration-tests/src/test/java/io/camunda/it/migration/usertask/AssignUserTaskMigrationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/usertask/CompleteUserTaskMigrationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/usertask/UnassignUserTaskMigrationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/usertask/UserTaskMigrationHelper.java
Labels: none

refactor: make user task tests multi-db compatible
  qa/integration-tests/src/test/java/io/camunda/it/migration/usertask/AssignUserTaskMigrationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/usertask/CompleteUserTaskMigrationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/usertask/UnassignUserTaskMigrationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/usertask/UserTaskMigrationHelper.java
Labels: none

Revert "test: disable flaky test to check CI config"
  qa/integration-tests/src/test/java/io/camunda/it/migration/ElasticsearchUpdateRegressionTest.java
Labels: none

refactor: user task tests use new setup
  qa/integration-tests/src/test/java/io/camunda/it/migration/usertask/AssignUserTaskMigrationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/usertask/CompleteUserTaskMigrationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/usertask/UnassignUserTaskMigrationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/usertask/UserTaskMigrationHelper.java
Labels: none

ci: increase elasticsearch IT timeout, restore forkcount
  .github/workflows/ci.yml
Labels: component/build-pipeline

ci: root IT increase forkCount
  .github/workflows/ci.yml
Labels: component/build-pipeline

docs: mention new @MultiDbTestApplication
  qa/README.md
Labels: none

docs: note why the separation
  qa/README.md
Labels: none

test: process migration test
  qa/integration-tests/src/test/java/io/camunda/it/migration/ProcessMigrationIT.java
Labels: none

style: fix access order
  qa/integration-tests/src/test/java/io/camunda/it/migration/ProcessMigrationIT.java
Labels: none

fix: sync with base, allow env overrides on upgrade
  qa/integration-tests/src/test/java/io/camunda/it/migration/ProcessMigrationIT.java
Labels: none

refactor: inject context in test cases
  qa/integration-tests/src/test/java/io/camunda/it/migration/ProcessMigrationIT.java
Labels: none

refactor: set test as multi-db
  qa/integration-tests/src/test/java/io/camunda/it/migration/ProcessMigrationIT.java
Labels: none

style: checkstyle
  qa/integration-tests/src/test/java/io/camunda/it/migration/ProcessMigrationIT.java
Labels: none

test: reproduce issue with feel context put for variables
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/ScriptTaskExpressionTest.java
Labels: component/zeebe

ci: disable all permissions
  .github/workflows/reject-updates-using-merge-commit.yml
Labels: component/build-pipeline

fix: PR code cleanup and reintroduce skippable indicies
  dist/pom.xml
  dist/src/test/java/io/camunda/application/commons/backup/BackupPrioritiesTest.java
  qa/integration-tests/src/test/java/io/camunda/it/backup/BackupRestoreIT.java
  search/search-domain/pom.xml
  webapps-backup/src/main/java/io/camunda/webapps/backup/BackupServiceImpl.java
  webapps-backup/src/main/java/io/camunda/webapps/backup/repository/elasticsearch/ElasticsearchBackupRepository.java
  webapps-backup/src/main/java/io/camunda/webapps/backup/repository/opensearch/OpensearchBackupRepository.java
  webapps-backup/src/test/java/io/camunda/webapps/backup/BackupServiceImplTest.java
  webapps-backup/src/test/java/io/camunda/webapps/backup/repository/elasticsearch/ElasticsearchBackupRepositoryTest.java
  webapps-backup/src/test/java/io/camunda/webapps/backup/repository/opensearch/OpensearchBackupRepositoryTest.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/backup/BackupPriorities.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/backup/BackupPriority.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/backup/SnapshotIndexCollection.java
  webapps-schema/src/test/java/io/camunda/webapps/schema/descriptors/backup/SnapshotIndexCollectionTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: create SecondaryDbQueryService to provide engine limited access to secondaryDb #29696
  zeebe/engine/pom.xml
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/secondarydb/NoopSecondaryDbQueryService.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/secondarydb/SecondaryDbQueryService.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/secondarydb/SecondaryDbQueryServiceImpl.java
Labels: component/zeebe

feat: provide secondaryDb in engine tests #29696
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/perf/TestEngine.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteringRule.java
Labels: component/zeebe

feat: configure and pass-through secondaryDbQueryService to engine processor config #29696
  dist/pom.xml
  dist/src/main/java/io/camunda/zeebe/broker/BrokerModuleConfiguration.java
  dist/src/main/java/io/camunda/zeebe/broker/SecondaryDbAccessConfiguration.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/Broker.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/BrokerStartupContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/BrokerStartupContextImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/PartitionManagerStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/PartitionManagerImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/startup/ZeebePartitionFactory.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/SystemContext.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: naming in batch operation records
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationChunkRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationExecutionRecord.java
Labels: component/zeebe

feat: add async scheduler to query and apply entity keys to batch operation
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationCreateChunkProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionScheduler.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationSetupProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/BatchOperationChunkCreatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/DbBatchOperationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/PersistedBatchOperation.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/PersistedBatchOperationChunk.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/BatchOperationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableBatchOperationState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/CreateBatchOperationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/batchoperation/BatchOperationStateTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/BatchOperationChunkIntent.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/AsyncTaskGroup.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/BatchOperationChunkRecordStream.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/RecordingExporter.java
Labels: component/zeebe

feat: convertToObject utility in MsgPackConverter
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/encoding/MsgPackConverter.java
Labels: component/zeebe

docs: improve format
  qa/README.md
Labels: none

feat: add resource record to RECORDS_BY_TYPE mapping
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestReader.java
Labels: component/zeebe

feat: add REST API endpoints for fetching resource metadata + content
  service/src/main/java/io/camunda/service/ResourceServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/ResourceController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ResourceControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerFetchResourceRequest.java
Labels: component/zeebe

fix: add missing operation IDs + fix schema reference in API spec
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
