Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

feat: add new basic rdbms export handler for monitoring batch operations
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/BatchOperationMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/BatchOperationWriter.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationChunkExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationCreatedExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationExecutionExportHandler.java
Labels: component/zeebe

feat: introduce method to reset UT attributes
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/usertask/UserTaskRecord.java
Labels: component/zeebe

ci: run daily statistics job early
  .github/workflows/statistics-daily.yml
Labels: component/build-pipeline

ci: make GHA best practices linter extensible to more files
  .github/conftest-unified-ci-rules.rego
  .github/workflows/camunda-helm-integration.yml
  .github/workflows/ci.yml
  .github/workflows/statistics-daily.yml
  .github/workflows/tasklist-ci-fe-reusable.yml
  .github/workflows/zeebe-ci.yml
Labels: component/zeebe, component/tasklist, component/build-pipeline

build: operate release build: push single git tag
  .github/workflows/operate-release-reusable.yml
Labels: component/operate, component/build-pipeline

feat: update role by id
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

feat: add rdbms handler for batch operations to the exporter
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporter.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterWrapper.java
Labels: component/zeebe

feat: add rdbms export handler for monitoring batch operation status for process instance cancellation
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationExecutionExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/ProcessInstanceBatchOperationExportHandler.java
Labels: component/zeebe

test: add rdbms IT Tests for batch operations
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/batchoperation/BatchOperationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/BatchOperationFixtures.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/exporter/RdbmsExporterBatchOperationsIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/exporter/RecordFixtures.java
Labels: none

build: operate release build: push single git tag
  .github/workflows/operate-release-reusable.yml
Labels: component/operate, component/build-pipeline

feat: variable annotation can mark variable as optional
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/AnnotationUtil.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/Variable.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/value/VariableValue.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/parameter/DefaultParameterResolverStrategy.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/parameter/VariableResolver.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/jobhandling/parameter/VariableResolverTest.java
Labels: component/zeebe

test: add test for `assigning` listeners after `creating` listeners
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerBlockedTransitionTest.java
Labels: component/zeebe

feat: update role name and description using id
  service/src/main/java/io/camunda/service/RoleServices.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/RoleRequestValidator.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerRoleUpdateRequest.java
Labels: component/zeebe

fix: change from patch to put
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleController.java
Labels: component/zeebe

feat: validate description is not null on role update
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/RoleRequestValidator.java
Labels: component/zeebe

test: verify role update using PUT and ids
  service/src/test/java/io/camunda/service/RoleServicesTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleControllerTest.java
Labels: component/zeebe

test: verify role description cannot be null on update
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleControllerTest.java
Labels: component/zeebe

docs: define role update response in api spec
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

feat: return full role on update
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleController.java
Labels: component/zeebe

test: verify role response on role update
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleControllerTest.java
Labels: component/zeebe

[maven-release-plugin] prepare release operate-8.5.13
  distro/pom.xml
  operate/archiver/pom.xml
  operate/client/pom.xml
  operate/common/pom.xml
  operate/data-generator/pom.xml
  operate/importer-8_4/pom.xml
  operate/importer-8_5/pom.xml
  operate/importer-common/pom.xml
  operate/importer/pom.xml
  operate/mvc-auth-commons/pom.xml
  operate/pom.xml
  operate/qa/backup-restore-tests/pom.xml
  operate/qa/batch-operation-performance-tests/pom.xml
  operate/qa/data-generator/pom.xml
  operate/qa/import-performance-tests/pom.xml
  operate/qa/integration-tests/pom.xml
  operate/qa/migration-performance-test/pom.xml
  operate/qa/migration-tests/migration-test/pom.xml
  operate/qa/migration-tests/pom.xml
  operate/qa/migration-tests/test-fixture-110/pom.xml
  operate/qa/migration-tests/test-fixture-120/pom.xml
  operate/qa/migration-tests/test-fixture-130/pom.xml
  operate/qa/migration-tests/test-fixture-800/pom.xml
  operate/qa/migration-tests/test-fixture-810/pom.xml
  operate/qa/migration-tests/test-fixture-820/pom.xml
  operate/qa/migration-tests/test-fixture-830/pom.xml
  operate/qa/migration-tests/test-fixture-840/pom.xml
  operate/qa/pom.xml
  operate/qa/query-performance-tests/pom.xml
  operate/qa/util/pom.xml
  operate/schema/pom.xml
  operate/webapp/pom.xml
Labels: component/operate

[maven-release-plugin] prepare for next development iteration
  distro/pom.xml
  operate/archiver/pom.xml
  operate/client/pom.xml
  operate/common/pom.xml
  operate/data-generator/pom.xml
  operate/importer-8_4/pom.xml
  operate/importer-8_5/pom.xml
  operate/importer-common/pom.xml
  operate/importer/pom.xml
  operate/mvc-auth-commons/pom.xml
  operate/pom.xml
  operate/qa/backup-restore-tests/pom.xml
  operate/qa/batch-operation-performance-tests/pom.xml
  operate/qa/data-generator/pom.xml
  operate/qa/import-performance-tests/pom.xml
  operate/qa/integration-tests/pom.xml
  operate/qa/migration-performance-test/pom.xml
  operate/qa/migration-tests/migration-test/pom.xml
  operate/qa/migration-tests/pom.xml
  operate/qa/migration-tests/test-fixture-110/pom.xml
  operate/qa/migration-tests/test-fixture-120/pom.xml
  operate/qa/migration-tests/test-fixture-130/pom.xml
  operate/qa/migration-tests/test-fixture-800/pom.xml
  operate/qa/migration-tests/test-fixture-810/pom.xml
  operate/qa/migration-tests/test-fixture-820/pom.xml
  operate/qa/migration-tests/test-fixture-830/pom.xml
  operate/qa/migration-tests/test-fixture-840/pom.xml
  operate/qa/pom.xml
  operate/qa/query-performance-tests/pom.xml
  operate/qa/util/pom.xml
  operate/schema/pom.xml
  operate/webapp/pom.xml
Labels: component/operate

ci: refer benchmark images to core
  .github/workflows/zeebe-benchmark.yml
Labels: component/zeebe, component/build-pipeline

test: delete roles using role id
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleControllerTest.java
Labels: component/zeebe

refactor: delete roles using role id
  service/src/main/java/io/camunda/service/RoleServices.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleController.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/role/BrokerRoleDeleteRequest.java
Labels: component/zeebe

refactor: set role id in constructor
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/role/BrokerRoleDeleteRequest.java
Labels: component/zeebe

deps: remove commons logging
  clients/spring-boot-starter-camunda-sdk/pom.xml
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientPropertiesPostProcessor.java
Labels: component/zeebe

ci: add logs to process migration
  migration/process-migration/src/main/java/io/camunda/migration/process/adapter/es/ElasticsearchAdapter.java
  migration/process-migration/src/main/java/io/camunda/migration/process/adapter/os/OpensearchAdapter.java
  migration/process-migration/src/main/java/io/camunda/migration/process/util/MigrationUtil.java
Labels: none

fix: remove second slf4j provider from test classpath
  clients/spring-boot-starter-camunda-sdk/pom.xml
Labels: component/zeebe

test: added logging test
  clients/spring-boot-starter-camunda-sdk/pom.xml
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/properties/PropertiesPostProcessorLoggingTest.java
Labels: component/zeebe

deps: remove dependency from check
  clients/spring-boot-starter-camunda-sdk/pom.xml
Labels: component/zeebe

fix: remove non-required annotation
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/properties/PropertiesPostProcessorLoggingTest.java
Labels: component/zeebe

fix: update flaky API tests in the core application test suite
  qa/core-application-e2e-test-suite/.gitignore
  qa/core-application-e2e-test-suite/tests/operate-api-tests.spec.ts
  qa/core-application-e2e-test-suite/tests/tasklist-api-tests.spec.ts
  qa/core-application-e2e-test-suite/utils/.auth
  qa/core-application-e2e-test-suite/utils/apiHelpers.ts
Labels: none

refactor: apply review comments
  qa/core-application-e2e-test-suite/utils/apiHelpers.ts
Labels: none

fix: update variable name
  qa/core-application-e2e-test-suite/tests/operate-api-tests.spec.ts
Labels: none

fix: add .auth_operate and .auth_tasklist files
  qa/core-application-e2e-test-suite/utils/.auth_operate
  qa/core-application-e2e-test-suite/utils/.auth_tasklist
Labels: none

test: add missing http mock
  tasklist/client/src/common/auth/AuthorizationCheck/index.test.tsx
Labels: component/tasklist

feat: improve logging
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/AnnotationUtil.java
Labels: component/zeebe

refactor: Remove explicit type annotation for responseData
  qa/core-application-e2e-test-suite/utils/apiHelpers.ts
Labels: none

refactor: move endpoint to RoleController
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserController.java
Labels: component/zeebe

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
