Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

fix: rename env variable to match other web apps
  identity/client/src/configuration/env.ts
Labels: component/identity

fix: remove unused function
  identity/client/src/configuration/env.ts
Labels: component/identity

feat: use isOIDC value to show correct nav header links
  identity/client/src/components/global/useGlobalRoutes.tsx
Labels: component/identity

feat: adapt UI for OIDC on groups details page
  identity/client/src/pages/groups/detail/index.tsx
  identity/client/src/pages/groups/detail/members/index.tsx
  identity/client/src/utility/api/users/index.ts
Labels: component/identity

feat: adapt UI for OIDC on roles details page
  identity/client/src/pages/roles/detail/index.tsx
  identity/client/src/pages/roles/detail/members/index.tsx
Labels: component/identity

feat: adapt UI for OIDC on tenants details page
  identity/client/src/pages/tenants/detail/index.tsx
  identity/client/src/pages/tenants/detail/members/index.tsx
Labels: component/identity

fix: tenantQuery object mock
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantQueryControllerTest.java
Labels: component/zeebe

fix: improve logging with failed nested doc bulk requests
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/es/OptimizeElasticsearchClient.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/OptimizeOpenSearchClient.java
Labels: component/optimize

ci: don't exit status 1 when c8run label is not found in labels
  .github/workflows/c8run-closed-issue.yaml
Labels: component/build-pipeline

feat: c8run mac binaries are now signed and notarized
  .github/actions/sign-and-notarize/action.yml
  .github/actions/sign-and-notarize/sign_and_notarize.sh
  .github/workflows/c8run-release.yaml
  c8run/internal/archive/archive.go
  c8run/internal/packages/package.go
  c8run/internal/unix/unix.go
  c8run/internal/windows/windows.go
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline, component/c8run

docs: add code ownership for data layer
  CODEOWNERS
Labels: none

fix: improve logging with failed nested doc bulk requests
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/es/OptimizeElasticsearchClient.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/OptimizeOpenSearchClient.java
Labels: component/optimize

fix: improve logging with failed nested doc bulk requests
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/es/OptimizeElasticsearchClient.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/OptimizeOpenSearchClient.java
Labels: component/optimize

feat: c8run mac binaries are now signed and notarized
  .github/actions/sign-and-notarize/action.yml
  .github/actions/sign-and-notarize/sign_and_notarize.sh
  c8run/internal/archive/archive.go
  c8run/internal/packages/package.go
  c8run/internal/unix/unix.go
  c8run/internal/windows/windows.go
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline, component/c8run

deps: update spring security and spring boot versions
  optimize/backend/pom.xml
  optimize/pom.xml
Labels: component/optimize

feat: c8run mac binaries are now signed and notarized
  .github/actions/sign-and-notarize/action.yml
  .github/actions/sign-and-notarize/sign_and_notarize.sh
  c8run/internal/archive/archive.go
  c8run/internal/packages/package.go
  c8run/internal/unix/unix.go
  c8run/internal/windows/windows.go
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline, component/c8run

fix: skipOptimize for c8run on 8.7
  .github/workflows/c8run-build.yaml
Labels: component/build-pipeline, component/c8run

feat: apply mapping ids in search layer authorizations
  authentication/src/test/java/io/camunda/authentication/CamundaOAuthPrincipalServiceTest.java
  authentication/src/test/java/io/camunda/authentication/CamundaOidcUserServiceTest.java
  security/security-core/src/main/java/io/camunda/security/auth/Authentication.java
  security/security-services/src/main/java/io/camunda/security/impl/AuthorizationChecker.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
Labels: component/zeebe

feat: draft for update api
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/MappingValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingControllerTest.java
Labels: component/zeebe

fix: pass controller test
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingControllerTest.java
Labels: component/zeebe

fix: fix openapi lint
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

fix: modify desc in rest-api
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

fix: fix dep
  zeebe/gateway-rest/pom.xml
Labels: component/zeebe

fix: apply review comments
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/MappingValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingControllerTest.java
Labels: component/zeebe

feat: adding details about the runnning application
  c8run/.gitignore
  c8run/main.go
Labels: component/c8run

feat: adding details about the runnning application
  c8run/.gitignore
  c8run/main.go
Labels: component/c8run

fix: fix failing test
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/MappingValidator.java
Labels: component/zeebe

fix: naming in batch operation records
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationChunkRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationExecutionRecord.java
Labels: component/zeebe

feat: convertToObject utility in MsgPackConverter
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/encoding/MsgPackConverter.java
Labels: component/zeebe

feat: extend batch operation state interfaces with new needed methods #29697
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/BatchOperationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableBatchOperationState.java
Labels: component/zeebe

feat: extend column families with new family for ENTITY_BY_BATCH_OPERATION #29697
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
Labels: component/zeebe

feat: add new db value PersistedBatchOperationChunk for persisting batch operation chunks #29697
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/PersistedBatchOperationChunk.java
Labels: component/zeebe

feat: extend PersistedBatchOperationChunk to query next chunk block keys #29697
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/PersistedBatchOperation.java
Labels: component/zeebe

feat: add new async task group for batch operations #29697
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/AsyncTaskGroup.java
Labels: component/zeebe

feat: extend batch operation state to be able to operate on keys #29697
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/DbBatchOperationState.java
Labels: component/zeebe

feat: add processor and applier for batch chunks #29697
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationCreateChunkProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/BatchOperationChunkCreatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/BatchOperationChunkIntent.java
Labels: component/zeebe

feat: add tests for batch operation state and create bo #29697
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/CreateBatchOperationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/batchoperation/BatchOperationStateTest.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/BatchOperationChunkRecordStream.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/RecordingExporter.java
Labels: component/zeebe

feat: add new scheduler for batch operations to query the second db async #29697
  zeebe/engine/pom.xml
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionScheduler.java
Labels: component/zeebe

feat: setup bo chunk processor and scheduler #29697
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationSetupProcessors.java
Labels: component/zeebe

feat: provide test for BatchOperationExecutionScheduler #29697
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionSchedulerTest.java
Labels: component/zeebe
