Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

refactor: separate auth interceptor from auth method implementations
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/EndpointManager.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/Gateway.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/interceptors/impl/AuthenticationHandler.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/interceptors/impl/AuthenticationInterceptor.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/api/util/StubbedGateway.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/interceptors/impl/AuthenticationInterceptorTest.java
Labels: component/zeebe

test: fix flaky TasklistProcessDefinitionAuthorizationIT.shouldBeAuthorizedToRetrieveDefinitions
  zeebe/qa/util/src/main/java/io/camunda/zeebe/it/util/AuthorizationsUtil.java
Labels: component/zeebe

feat: implement a claim validator for OIDC auth allowing the configuration of expected claims
  authentication/src/main/java/io/camunda/authentication/config/ClaimValidator.java
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/test/java/io/camunda/authentication/config/ClaimValidatorTest.java
  security/security-core/src/main/java/io/camunda/security/configuration/OidcAuthenticationConfiguration.java
  security/security-core/src/main/java/io/camunda/security/configuration/TokenClaim.java
Labels: none

style: fix spotless error
  clients/java/src/main/java/io/camunda/client/impl/search/filter/ProcessInstanceFilterImpl.java
Labels: component/zeebe

feat: refactor batchOperationState to chunks
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/BatchOperationExecutedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/BatchOperationExecutingApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/DbBatchOperationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/PersistedBatchOperation.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/PersistedBatchOperationChunk.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableBatchOperationState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/CreateBatchOperationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/batchoperation/BatchOperationStateTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationCreationRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationSubbatchRecord.java
Labels: component/zeebe

refactor: create client config util
  tasklist/client/src/App.tsx
  tasklist/client/src/C3Provider.tsx
  tasklist/client/src/Layout/Header/index.tsx
  tasklist/client/src/Layout/Header/tests/appSwitcher.test.tsx
  tasklist/client/src/Layout/Header/tests/licenseNotice.test.tsx
  tasklist/client/src/Layout/Header/tests/userInfo.test.tsx
  tasklist/client/src/Login/Disclaimer/index.test.tsx
  tasklist/client/src/Login/Disclaimer/index.tsx
  tasklist/client/src/Processes/ProcessTile/index.tsx
  tasklist/client/src/Processes/index.test.tsx
  tasklist/client/src/Tasks/Task/Details/Aside.test.tsx
  tasklist/client/src/Tasks/Task/Details/Header.test.tsx
  tasklist/client/src/modules/api.ts
  tasklist/client/src/modules/components/Errors/Forbidden/index.tsx
  tasklist/client/src/modules/components/FormJSRenderer/index.tsx
  tasklist/client/src/modules/components/useMultiTenancyDropdown/index.tsx
  tasklist/client/src/modules/getClientConfig.ts
  tasklist/client/src/modules/mocks/window.tsx
  tasklist/client/src/modules/routing.tsx
  tasklist/client/src/modules/stores/authentication.test.tsx
  tasklist/client/src/modules/stores/authentication.tsx
  tasklist/client/src/modules/tracking/index.tsx
  tasklist/client/src/setupTests.ts
  tasklist/client/vite.config.ts
Labels: component/tasklist

feat: consume version mode config
  tasklist/client/src/App.tsx
  tasklist/client/src/common/config/getClientConfig.ts
Labels: component/tasklist

fix: fix tenant shape
  tasklist/client/e2e/a11y.spec.ts
  tasklist/client/e2e/visual-fixtures.ts
  tasklist/client/e2e/visual/tasks-page.spec.ts
Labels: component/tasklist

refactor: fix imports
  tasklist/client/src/common/dates/formatDate.tsx
  tasklist/client/src/common/dates/formatDateRelative.ts
  tasklist/client/src/common/images/ModellerFormIcon.tsx
  tasklist/client/src/v1/api/getQueryVariables.test.ts
  tasklist/client/src/v1/api/getQueryVariables.tsx
  tasklist/client/src/v1/mocks/tasks.tsx
Labels: component/tasklist

fix: Adding additional JWT validation for expiration and Signature plus IT to verify it
  optimize/backend/pom.xml
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/JwtDecoderIT.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/security/ccsm/CCSMSecurityConfigurerAdapter.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/security/cloud/CCSaaSSecurityConfigurerAdapter.java
Labels: component/optimize

test: migrate test to MultiDb
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/compatibility/CompatibilityTasklistAssignUserTaskAuthorizationIT.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestRestTasklistClient.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestSimpleCamundaApplication.java
Labels: none

docs: add observability handbook skeleton
  docs/assets/observability-pillars.png
  docs/observability.md
Labels: none

refactor: add new codeowners for observability
  CODEOWNERS
Labels: none

refactor: add miro link for assets
  docs/observability.md
Labels: none

feat: use backoff supplier bean in spring sdk
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/processor/JobWorkerAnnotationProcessor.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/configuration/CamundaClientAllAutoConfiguration.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/JobWorkerManager.java
Labels: component/zeebe

docs: why camunda exporter blocks while waiting to importers to finish
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
Labels: component/zeebe

test: merge test together
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/compatibility/CompatibilityTasklistAssignUserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/compatibility/CompatibilityTasklistCreateProcessInstanceAuthorizationIT.java
Labels: none

test: extend HistoryCleanupIT
  qa/integration-tests/src/test/java/io/camunda/it/historycleanup/HistoryCleanupIT.java
Labels: none

ci: remove workflow as agreed with Helene
  .github/workflows/optimize-deploy-image-from-branch.yml
Labels: component/optimize, component/build-pipeline

refactor: align mapping with figma designs
  identity/client/src/pages/mappings/List.tsx
  identity/client/src/pages/mappings/modals/AddModal.tsx
  identity/client/src/pages/mappings/modals/components.tsx
Labels: component/identity

refactor: Rename variable
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/ElementAssertj.java
Labels: none

test: generate a fake request id for deploy response tests
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/CollaborationDeploymentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/SuccessfulDeploymentTest.java
Labels: none

test: generate a fake request id for deploy response tests
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/CollaborationDeploymentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/SuccessfulDeploymentTest.java
Labels: none

deps: remove unsupported fixtures
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

test: generate a fake request id for deploy response tests
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/CollaborationDeploymentTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/SuccessfulDeploymentTest.java
Labels: component/zeebe

ci: REMOVEME
  .github/actions/observe-build-status/action.yml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

feat: use the default backoff supplier
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/configuration/CamundaClientAllAutoConfiguration.java
Labels: component/zeebe

ci: remove broken benchmark measurement support
  .github/workflows/zeebe-benchmark.yml
  .github/workflows/zeebe-pr-benchmark.yaml
Labels: component/zeebe, component/build-pipeline

test: remove the empty string check from mockCredentials
  clients/java/src/test/java/io/camunda/client/OAuthCredentialsProviderTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/OAuthCredentialsProviderTest.java
Labels: component/zeebe

ci: remove broken benchmark measurement support
  .github/workflows/zeebe-benchmark.yml
  .github/workflows/zeebe-medic-benchmarks.yml
  .github/workflows/zeebe-pr-benchmark.yaml
Labels: component/zeebe, component/build-pipeline

docs: add AWS OS ITs docs
  search/search-client-connect/src/test/java/io/camunda/search/connect/os/AWSSearchDBExtension.java
  search/search-client-connect/src/test/java/io/camunda/search/connect/os/ContainerizedSearchDBExtension.java
  search/search-client-connect/src/test/java/io/camunda/search/connect/os/SearchDBExtension.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/AWSSearchDBExtension.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/ContainerizedSearchDBExtension.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/SearchDBExtension.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/AWSSearchDBExtension.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/ContainerizedSearchDBExtension.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/SearchDBExtension.java
Labels: component/zeebe

test: move user task variable update tests to TaskListenerVariablesTest
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTestHelper.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerVariablesTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/UserTaskVariableUpdateTest.java
Labels: component/zeebe

feat: support variable updates for Camunda user tasks
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableDocumentUpdateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/UserTaskVariableUpdateTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/usertask/UserTaskRecord.java
Labels: component/zeebe

feat: introduce `VariableDocumentUpdatingApplier`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/VariableDocumentUpdatingApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/VariableDocumentRecordValue.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableVariableState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/variable/DbVariableState.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
Labels: component/zeebe

test: add `UserTaskVariableUpdateTest` to verify variable update behavior
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/UserTaskVariableUpdateTest.java
Labels: component/zeebe

feat: persist the request metadata of VariableDocument `UPDATE` command
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/UserTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableDocumentUpdateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/UserTaskState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/DbUserTaskState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/UserTaskRecordRequestMetadata.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/UserTaskTransitionTriggerRequestMetadata.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableUserTaskState.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
Labels: component/zeebe

feat: validate user task lifecycle state when updating task variables
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableDocumentUpdateProcessor.java
Labels: component/zeebe

feat: introduce and register VariableDocument `UPDATING` intent
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableDocumentUpdateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/VariableDocumentIntent.java
Labels: component/zeebe

refactor: simplify `registerVariableEventAppliers` method
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
Labels: component/zeebe

feat: create job for first `updating` listener on variable update
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableDocumentUpdateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/UserTaskVariableUpdateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/VariableClient.java
Labels: component/zeebe

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
