Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

test: add organization access check filter tests to ensure expected behaviour
  authentication/src/test/java/io/camunda/authentication/CamundaOidcUserServiceTest.java
  authentication/src/test/java/io/camunda/authentication/filters/OrganizationAccessCheckFilterTest.java
Labels: none

fix: Improve REST API response when deployResources payload is too large
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestHandler.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestHandlerTest.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/grpc/GrpcErrorMapper.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/grpc/GrpcErrorMapperTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RestErrorMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ErrorMapperTest.java
  zeebe/protocol/src/main/resources/protocol.xml
Labels: component/zeebe

feat: add new schema for batch operations to rdbms #29701
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
Labels: none

feat: add batch operations db model and query to rdbms #29701
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/BatchOperationDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/BatchOperationDbModel.java
Labels: none

feat: add batch operations mybatis mapper to rdbms #29701
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/BatchOperationMapper.java
  db/rdbms/src/main/resources/mapper/BatchOperationMapper.xml
  dist/src/main/java/io/camunda/application/commons/rdbms/MyBatisConfiguration.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: add batch operations tables to rdbms purger #29701
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/RdbmsPurger.java
Labels: none

feat: use spring static resource handler
  dist/src/main/resources/application.properties
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiResourceConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/util/YamlToJsonResourceTransformer.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: remove noPendingDistribution metric for now
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/metrics/DistributionMetrics.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionAcknowledgeProcessor.java
Labels: component/zeebe

feat: allow configuring `creating` and `canceling` task listeners
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/TaskListenerValidator.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/ZeebeDesignTimeValidators.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeTaskListenersValidationTest.java
Labels: component/zeebe

fix: Validate documentId for local storage
  document/store/src/main/java/io/camunda/document/store/localstorage/LocalStorageDocumentStore.java
  document/store/src/test/java/io/camunda/document/store/localstorage/LocalStorageDocumentStoreTest.java
Labels: none

fix: fix tenant selection on processes tab
  tasklist/client/src/v1/Processes/index.tsx
Labels: component/tasklist

feat: introduce `CREATING` and `CANCELING` task listener event types
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/JobListenerEventType.java
Labels: component/zeebe

refactor: reorder listener event types to match a lifecycle sequence
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/JobListenerEventType.java
Labels: component/zeebe

feat: update mappings to support new listener event types
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnJobBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/JobCreatedApplier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTestHelper.java
Labels: component/zeebe

refactor: reorder listener event type mappings to match lifecycle order
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/JobCreatedApplier.java
Labels: component/zeebe

ci: disable connectors from preview
  .ci/preview-environments/charts/c8sm/values.yaml
Labels: none

feat: add RDBMS implementation
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/IncidentDbModel.java
  db/rdbms/src/main/resources/mapper/IncidentMapper.xml
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/incident/IncidentIT.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/SearchClients.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/IncidentFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/IncidentQueryTransformerTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/ProcessInstanceQueryTransformerTest.java
  search/search-domain/src/main/java/io/camunda/search/filter/IncidentFilter.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/IncidentExportHandler.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
Labels: component/zeebe

feat: build document preview URL via form-js module
  tasklist/client/package.json
  tasklist/client/src/common/form-js/FormJSRenderer/index.tsx
  tasklist/client/src/common/form-js/formManager.tsx
  tasklist/client/src/common/mocks/form-schema.ts
  tasklist/client/yarn.lock
Labels: component/tasklist

refactor: unify task listener index access for `ZeebeTaskListenerEventType`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/ElementInstance.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/TaskListenerIndicesRecord.java
Labels: component/zeebe

feat: add dedicated task listener index properties for new events
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/TaskListenerIndicesRecord.java
Labels: component/zeebe

BACKPORT-CONFLICT
  tasklist/client/package.json
  tasklist/client/src/common/mocks/form-schema.ts
  tasklist/client/src/modules/components/FormJSRenderer/index.tsx
  tasklist/client/src/modules/formManager.tsx
  tasklist/client/yarn.lock
Labels: component/tasklist

fix: add mariaDB specific column type
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
Labels: none

feat: add RDBMS implementation
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/JobMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriterFactory.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/JobDbModel.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/queue/ContextType.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/HistoryCleanupService.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/JobWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/RdbmsPurger.java
  db/rdbms/src/main/resources/mapper/JobMapper.xml
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
  db/rdbms/src/test/java/io/camunda/db/rdbms/write/service/HistoryCleanupServiceTest.java
  dist/src/main/java/io/camunda/application/commons/rdbms/MyBatisConfiguration.java
  dist/src/main/java/io/camunda/application/commons/rdbms/RdbmsConfiguration.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterWrapper.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/JobExportHandler.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: add hasRetriesLeft filter to endpoint
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/ProcessInstanceFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/ProcessInstanceQueryTransformerTest.java
  search/search-domain/src/main/java/io/camunda/search/filter/ProcessInstanceFilter.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
Labels: component/zeebe

feat: add Java Client implementation and IT
  clients/java/src/main/java/io/camunda/client/api/search/filter/ProcessInstanceFilter.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/ProcessInstanceFilterImpl.java
  clients/java/src/test/java/io/camunda/client/process/QueryProcessInstanceTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/QueryTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/ProcessInstanceFilterTransformer.java
Labels: component/zeebe

feat: report stats from gateway process cache
  dist/src/main/java/io/camunda/application/commons/rest/RestApiConfiguration.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/cache/ExporterEntityCacheImpl.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/cache/FormCacheIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/cache/ProcessCacheImplIT.java
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/cache/ProcessCache.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/cache/ProcessCacheTest.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/cache/CaffeineCacheStatsCounter.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: c8run mac binaries are now signed and notarized
  .github/actions/sign-and-notarize/action.yml
  .github/actions/sign-and-notarize/sign_and_notarize.sh
  .github/workflows/c8run-release.yaml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline, component/c8run

refactor: remove nonsense comments and consolidate 2 steps into 1
  .github/actions/sign-and-notarize/action.yml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

fix: use only .zip for macos
  .github/workflows/c8run-release.yaml
  c8run/internal/packages/package.go
Labels: component/build-pipeline, component/c8run

fix: fix document upload metadata injection for complex bindings
  tasklist/client/src/modules/components/FormJSRenderer/extractFilePath.test.ts
  tasklist/client/src/modules/components/FormJSRenderer/extractFilePath.ts
  tasklist/client/src/modules/components/FormJSRenderer/index.tsx
Labels: component/tasklist

test: remove .only
  tasklist/client/src/modules/components/FormJSRenderer/extractFilePath.test.ts
Labels: component/tasklist

test: add another level on path extraction test case
  tasklist/client/src/modules/components/FormJSRenderer/extractFilePath.test.ts
Labels: component/tasklist

refactor: remove unused upload
  .github/workflows/c8run-release.yaml
Labels: component/build-pipeline, component/c8run

fix: add prefix to batch operation mapper #29701
  db/rdbms/src/main/resources/mapper/BatchOperationMapper.xml
Labels: none

feat: add rdbms batch operations reader + search column for sorting #29701
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/BatchOperationReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/columns/BatchOperationSearchColumn.java
Labels: none

feat: extend rdbms service with batch operation reader #29701
  db/rdbms/src/main/java/io/camunda/db/rdbms/RdbmsService.java
  dist/src/main/java/io/camunda/application/commons/rdbms/RdbmsConfiguration.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: add rdbms batch operations mapper for entity and db model #29701
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/mapper/BatchOperationEntityMapper.java
Labels: none

feat: add batch operations writer + search column for rdbms #29701
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/BatchOperationWriter.java
Labels: none

feat: extend rdbms context type for batch operations #29701
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/queue/ContextType.java
Labels: none

feat: extend rdbms search client with new batch operations #29701
  search/search-client-rdbms/src/main/java/io/camunda/search/rdbms/RdbmsSearchClient.java
Labels: none
