Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

refactor: remove the need to keep track of ProcessingScheduleServices outside the actors
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/AsyncProcessingScheduleServiceActor.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/AsyncScheduleServiceContext.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ExtendedProcessingScheduleServiceImpl.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/ExtendedProcessingScheduleServiceImplTest.java
Labels: component/zeebe

refactor: pass scheduleServiceFactory to the actor instead of the scheduleService instance
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/AsyncProcessingScheduleServiceActor.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/AsyncScheduleServiceContext.java
Labels: component/zeebe

refactor: enable carbon typescript types
  identity/client/package.json
  identity/client/src/components/entityDetail/EntityDetail.tsx
  identity/client/src/components/entityList/EntityList.tsx
  identity/client/src/components/form/DropdownSearch.tsx
  identity/client/src/components/form/TextField.tsx
  identity/client/src/components/global/ErrorPage.tsx
  identity/client/src/components/layout/Page.tsx
  identity/client/src/components/modal/FormModal.tsx
  identity/client/src/components/modal/styles.module.scss
  identity/client/src/components/notifications/InlineNotification.tsx
  identity/client/src/pages/login/LoginPage.tsx
  identity/client/src/vite-env.d.ts
  identity/client/vite.config.ts
  identity/client/yarn.lock
Labels: component/identity

feat: implement process instance statistics for RDBMS
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/ProcessDefinitionReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/ProcessDefinitionMapper.java
  db/rdbms/src/main/resources/mapper/ProcessDefinitionMapper.xml
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/processdefinition/ProcessDefinitionStatisticsIT.java
  search/search-client-rdbms/src/main/java/io/camunda/search/rdbms/RdbmsSearchClient.java
Labels: none

fix: handle empty snapshots
  webapps-backup/src/main/java/io/camunda/webapps/backup/repository/elasticsearch/ElasticsearchBackupRepository.java
Labels: none

fix: correct placeholder and translation for login page
  identity/client/src/pages/login/LoginPage.tsx
Labels: component/identity

feat: create translate file for groups, match empty state to designs
  identity/client/src/pages/groups/List.tsx
  identity/client/src/utility/localization/en/groups.json
  identity/client/src/utility/localization/en/index.ts
Labels: component/identity

feat: delete group modal
  identity/client/src/pages/groups/modals/DeleteModal.tsx
  identity/client/src/utility/localization/en/groups.json
Labels: component/identity

feat: match base page ui to designs, add translations
  identity/client/src/pages/groups/List.tsx
  identity/client/src/utility/localization/en/groups.json
Labels: component/identity

feat: edit group modal UI
  identity/client/src/pages/groups/modals/EditModal.tsx
  identity/client/src/utility/api/groups/index.ts
  identity/client/src/utility/localization/en/groups.json
Labels: component/identity

feat: create group modal UI, fix translations for edit group modal
  identity/client/src/pages/groups/modals/AddModal.tsx
  identity/client/src/pages/groups/modals/EditModal.tsx
  identity/client/src/utility/localization/en/groups.json
Labels: component/identity

test: handle empty snapshots response
  webapps-backup/src/test/java/io/camunda/webapps/backup/repository/elasticsearch/ElasticsearchBackupRepositoryTest.java
Labels: none

test: generate a fake request id for deploy response tests
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/CollaborationDeploymentTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/SuccessfulDeploymentTest.java
Labels: component/zeebe

fix: provide fake request id instead of auth details
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/CollaborationDeploymentTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/SuccessfulDeploymentTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/DeploymentClient.java
Labels: component/zeebe

test: generate a fake request id for deploy response tests
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/CollaborationDeploymentTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/SuccessfulDeploymentTest.java
Labels: component/zeebe

fix: provide fake request id instead of auth details
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/CollaborationDeploymentTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/SuccessfulDeploymentTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/DeploymentClient.java
Labels: component/zeebe

feat: add pattern validation to groupId field, disable submit when required fields empty
  identity/client/src/pages/groups/modals/AddModal.tsx
  identity/client/src/pages/groups/modals/EditModal.tsx
  identity/client/src/pages/groups/modals/isValidGroupId.ts
  identity/client/src/utility/localization/en/groups.json
Labels: component/identity

refactor: adapt distribution log4j2.xml to match the official log4j2 config schema
  dist/src/main/config/log4j2.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

test: add shouldAddFieldToIndexTemplate test for elasticsearch
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/ElasticsearchTestExtension.java
  tasklist/qa/integration-tests/src/test/resources/schema/es/template/tasklist-test-template-after.json
  tasklist/qa/integration-tests/src/test/resources/schema/es/template/tasklist-test-template-before.json
Labels: component/tasklist

refactor: provide more descriptive error message on failing claims
  authentication/src/main/java/io/camunda/authentication/config/ClaimValidator.java
  security/security-core/src/main/java/io/camunda/security/configuration/TokenClaim.java
Labels: none

docs: make the matching logic for claims clearer wrt how the values are treated
  authentication/src/main/java/io/camunda/authentication/config/ClaimValidator.java
Labels: none

feat: setup swagger for camunda apis
  parent/pom.xml
  zeebe/gateway-protocol/pom.xml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiConfig.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

refactor: output complete MDC instead of specific keys only
  dist/src/main/config/log4j2.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

refactor: modify config to set info as default application level, and warn for all others
  dist/src/main/config/log4j2.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

test: adding `TaskListenerTaskCancellationTest`
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTaskCancellationTest.java
Labels: component/zeebe

feat: adding checks before clearing the state
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UserTaskCanceledApplier.java
Labels: component/zeebe

fix: clean up intermediate state and request metadata
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UserTaskCanceledApplier.java
Labels: component/zeebe

test: adding a test for `UserTaskCanceledApplier`
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/UserTaskCanceledApplierTest.java
Labels: component/zeebe

refactor: extract `TestSetup` into a helper method
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/AppliersTestSetupHelper.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/UserTaskAssignmentDeniedApplierTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/UserTaskCorrectedApplierTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/UserTaskUpdateDeniedApplierTest.java
Labels: component/zeebe

refactor: use CAMUNDA_LOG_LEVEL as default value for ZEEBE_LOG_LEVEL and other specific ones
  dist/src/main/config/log4j2.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

refactor: prevent overiding validators by converting to a list and using the collection method for setting validators
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
Labels: none

fix: add missing dependency
  zeebe/gateway-rest/pom.xml
Labels: component/zeebe

feat: check for depth
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/CallActivityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/ElementInstance.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/CallActivityTest.java
Labels: component/zeebe

feat: increment depth by one
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceElementActivatingApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/ElementInstance.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/CallActivityTest.java
Labels: component/zeebe

fix: properly default to CAMUNDA_LOG_LEVEL
  dist/src/main/config/log4j2.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: add engine config option for default max call activity depth
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/EngineConfiguration.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/BpmnElementProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/BpmnStreamProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/CallActivityProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/CallActivityTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
Labels: component/zeebe

fix: start calledProcessDepth at 0
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/ElementInstance.java
Labels: component/zeebe

refactor: remove recording exporter custom timeout
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/CallActivityTest.java
Labels: component/zeebe

fix: switch to process depth
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/EngineConfiguration.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/BpmnElementProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/CallActivityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceElementActivatingApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/ElementInstance.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/CallActivityTest.java
Labels: component/zeebe

perf: correctly declare number of properties
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/ElementInstance.java
Labels: component/zeebe

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
