Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

feat: migrate PI statistics stores to v2
  operate/client/src/modules/queries/processInstancesStatistics/useBatchModificationOverlay.test.tsx
  operate/client/src/modules/queries/processInstancesStatistics/useBatchModificationOverlayData.ts
  operate/client/src/modules/queries/processInstancesStatistics/useOverlayData.test.tsx
  operate/client/src/modules/queries/processInstancesStatistics/useOverlayData.ts
  operate/client/src/modules/queries/processInstancesStatistics/useProcessInstancesStatistics.tsx
Labels: component/operate

fix: prevent truncation of vacuum output
  .github/workflows/ci.yml
Labels: component/build-pipeline

fix: vacuum docs are incorrect
  .github/workflows/ci.yml
Labels: component/build-pipeline

fix: accept allOf types for key fields
  zeebe/gateway-protocol/vacuum-rules/verifyKeyTypesSchemas.js
Labels: component/zeebe

fix: remove console log
  zeebe/gateway-protocol/vacuum-rules/verifyKeyTypesSchemas.js
Labels: component/zeebe

feat: lint API spec for key property types
  zeebe/gateway-protocol/vacuum-rules/verifyKeyTypesPaths.js
  zeebe/gateway-protocol/vacuum-rules/verifyKeyTypesSchemas.js
  zeebe/gateway-protocol/vacuum-ruleset.yaml
Labels: component/zeebe

ci: add custom rules to ci vacuum call
  .github/workflows/ci.yml
Labels: component/build-pipeline

refactor: include property name in error message
  zeebe/gateway-protocol/vacuum-rules/verifyKeyTypesPaths.js
  zeebe/gateway-protocol/vacuum-rules/verifyKeyTypesSchemas.js
  zeebe/gateway-protocol/vacuum-ruleset.yaml
Labels: component/zeebe

refactor: attempt unsuccessfully to more accurately allow BasicStringFilters
  zeebe/gateway-protocol/vacuum-rules/verifyKeyTypesSchemas.js
Labels: component/zeebe

refactor: move helper methods
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTestHelper.java
Labels: component/zeebe

test: add `UserTaskVariableUpdateTest` to verify variable update behavior
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/UserTaskVariableUpdateTest.java
Labels: component/zeebe

refactor: move tests verifying transition blocking
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerBlockedTransitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
Labels: component/zeebe

refactor: move eval expression test
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerBlockedTransitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
Labels: component/zeebe

refactor: remove query options abstraction
  operate/client/src/modules/queries/processInstancesStatistics/useProcessInstancesStatistics.tsx
Labels: component/operate

refactor: move tests related to listener denials
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerDenialsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
Labels: component/zeebe

refactor: move retry job on failure tests
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerBlockedTransitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
Labels: component/zeebe

fix: adjust key mappings in client
  clients/java/src/main/java/io/camunda/client/impl/command/CreateDocumentBatchCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/CreateDocumentCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/DocumentMetadataImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateDocumentBatchCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateDocumentCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentMetadataImpl.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
Labels: component/zeebe

feat: support variable updates for Camunda user tasks
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableDocumentUpdateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/UserTaskVariableUpdateTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/usertask/UserTaskRecord.java
Labels: component/zeebe

feat: migrate DiagramPanel to PI statistics v2
  operate/client/package.json
  operate/client/src/App/Processes/ListView/DiagramPanel/v2/index.test.tsx
  operate/client/src/App/Processes/ListView/DiagramPanel/v2/index.tsx
  operate/client/src/App/Processes/ListView/index.tsx
  operate/client/src/App/index.tsx
  operate/client/src/modules/feature-flags.ts
  operate/client/src/modules/react-query/ReactQueryProvider.tsx
  operate/client/src/modules/testUtils.tsx
  operate/client/yarn.lock
Labels: component/operate

feat: batch operations / rdbms - fixed creation of batch if it already exists
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/BatchOperationReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriterFactory.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/BatchOperationWriter.java
  dist/src/main/java/io/camunda/application/commons/rdbms/RdbmsConfiguration.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationCreatedExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/ProcessInstanceBatchOperationExportHandler.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

refactor: move tests related to incidents
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerIncidentsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
Labels: component/zeebe

refactor: move tests related to variables
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerVariablesTest.java
Labels: component/zeebe

refactor: move tests related to data access
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerDataAccessTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
Labels: component/zeebe

refactor: move tests related to variables
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerVariablesTest.java
Labels: component/zeebe

refactor: move tests related to denials
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerDenialsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
Labels: component/zeebe

refactor: move tests related to corrections
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerCorrectionsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
Labels: component/zeebe

refactor: move tests related to denials
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerDenialsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
Labels: component/zeebe

refactor: move tests related to incidents
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerIncidentsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
Labels: component/zeebe

refactor: delete empty task listener test
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
Labels: component/zeebe

refactor: make engine rule non-static in helper
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTestHelper.java
Labels: component/zeebe

revert: job script is still required
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/v8_6/processors/JobZeebeRecordProcessor.java
  operate/importer-8_7/src/main/java/io/camunda/operate/zeebeimport/processors/JobZeebeRecordProcessor.java
Labels: component/operate

fix: Revert org.apache.httpcomponents.core5:httpcore5 upgrade to v5.3 (#29004)
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

docs: explicitly mention all versions
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/ElementInstance.java
Labels: component/zeebe

list artifacts before copy
  .github/workflows/c8run-release.yaml
Labels: component/build-pipeline, component/c8run

fix: small fixes to support OIDC auth
  authentication/src/main/java/io/camunda/authentication/CamundaOidcUserService.java
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  security/security-core/src/main/java/io/camunda/security/configuration/OidcAuthenticationConfiguration.java
Labels: none

update GH_TOKEN env var
  .github/workflows/c8run-release.yaml
Labels: component/build-pipeline, component/c8run

feat: remove not supported versions
  tasklist/qa/migration-tests/migration-test/src/test/resources/test.properties
  tasklist/qa/migration-tests/pom.xml
  tasklist/qa/migration-tests/test-fixture-810/pom.xml
  tasklist/qa/migration-tests/test-fixture-810/src/main/java/io/camunda/tasklist/qa/migration/v810/BasicProcessDataGenerator.java
  tasklist/qa/migration-tests/test-fixture-810/src/main/java/io/camunda/tasklist/qa/migration/v810/BigVariableProcessDataGenerator.java
  tasklist/qa/migration-tests/test-fixture-810/src/main/java/io/camunda/tasklist/qa/migration/v810/TestFixture.java
  tasklist/qa/migration-tests/test-fixture-810/src/main/resources/log4j2.xml
  tasklist/qa/migration-tests/test-fixture-820/pom.xml
  tasklist/qa/migration-tests/test-fixture-820/src/main/java/io/camunda/tasklist/qa/migration/v820/TestFixture.java
  tasklist/qa/migration-tests/test-fixture-820/src/main/resources/log4j2.xml
Labels: component/tasklist

build: bump c8run version to 8.6.11
  c8run/.env
Labels: component/c8run

build: adjust server of static resources
  optimize/backend/src/main/java/io/camunda/optimize/tomcat/CCSMRequestAdjustmentFilter.java
  optimize/backend/src/main/java/io/camunda/optimize/tomcat/ExternalResourcesUtil.java
  optimize/docker-compose.ccsm-with-optimize.yml
  optimize/docker-compose.ccsm-without-optimize.yml
Labels: component/optimize

docs: flag identity APIs still to be refactored
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
