Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

feat: extend rdbms writer with batch operation writer #29701
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriterFactory.java
Labels: none

feat: add findOne method for rdbms batch operation reader #29701
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/BatchOperationReader.java
Labels: none

feat: add rdbms IT Tests for batch operations #29701
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/batchoperation/BatchOperationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/BatchOperationFixtures.java
Labels: none

DROP me when batch operation engine stuff is done. Or at least the records and intents are adjusted.
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationExecutionRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/BatchOperationChunkIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/BatchOperationExecutionIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BatchOperationExecutionRecordValue.java
Labels: component/zeebe

feat: add new basic rdbms export handler for monitoring batch operations #29701
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationChunkExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationCreatedExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationExecutionExportHandler.java
Labels: component/zeebe

feat: add rdbms handler for batch operations to the exporter #29701
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporter.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterWrapper.java
Labels: component/zeebe

feat: add rdbms export handler for monitoring batch operation status for process instance cancellation #29701
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/ProcessInstanceBatchOperationExportHandler.java
Labels: component/zeebe

feat: build document preview URL via form-js module
  tasklist/client/package.json
  tasklist/client/public/mockServiceWorker.js
  tasklist/client/src/modules/components/FormJSRenderer/index.tsx
  tasklist/client/src/modules/formManager.tsx
  tasklist/client/src/modules/mock-schema/mocks/form.tsx
  tasklist/client/yarn.lock
Labels: component/tasklist

fix: revertthis - disable publishing so I can test
  .github/workflows/c8run-release.yaml
Labels: component/build-pipeline, component/c8run

build: use mvnw for release job build instead of mvn
  .github/workflows/optimize-release-optimize-c8-only.yml
Labels: component/optimize, component/build-pipeline

wip: added batch operation exporter IT tests #29701
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/exporter/RdbmsExporterBatchOperationsIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/exporter/RecordFixtures.java
Labels: none

fix: update MSW service worker
  tasklist/client/public/mockServiceWorker.js
Labels: component/tasklist

fix: fix linting issue
  tasklist/client/src/v1/api/useAllVariables.query.tsx
  tasklist/client/src/v1/api/useTasks.query.tsx
Labels: component/tasklist

deps: bump deps
  tasklist/client/package.json
  tasklist/client/yarn.lock
Labels: component/tasklist

refactor: remove unnecessary feature flag
  tasklist/client/src/v1/Tasks/Task/Details/TurnOnNotificationPermission.test.tsx
  tasklist/client/src/v1/Tasks/Task/Details/TurnOnNotificationPermission.tsx
Labels: component/tasklist

fix: fix linting issue
  tasklist/client/src/common/components/Modal.tsx
Labels: component/tasklist

ci: fix playwright image version
  .github/workflows/tasklist-ci-fe-reusable.yml
Labels: component/tasklist, component/build-pipeline

ci: bump Playwright image version
  .github/workflows/tasklist-ci-fe-reusable.yml
Labels: component/tasklist, component/build-pipeline

test: bump form-js integration visual regression test
  tasklist/client/e2e/form-js-integration.spec.ts-snapshots/form-js-integration-check-if-Carbonization-is-working-1-chromium-linux.png
Labels: component/tasklist

feat: add roles details page UI, turn description into reusable component
  identity/client/src/components/layout/DetailsPageDescription.tsx
  identity/client/src/feature-flags.ts
  identity/client/src/pages/groups/detail/components.tsx
  identity/client/src/pages/groups/detail/index.tsx
  identity/client/src/pages/roles/detail/RoleDetails.tsx
  identity/client/src/pages/roles/detail/index.tsx
  identity/client/src/utility/api/roles/index.ts
Labels: component/identity

feat: add users tab, modals, new translations and translation fixes
  identity/client/src/pages/roles/detail/index.tsx
  identity/client/src/pages/roles/detail/members/AssignMembersModal.tsx
  identity/client/src/pages/roles/detail/members/DeleteModal.tsx
  identity/client/src/pages/roles/detail/members/index.tsx
  identity/client/src/pages/tenants/detail/roles/AssignRolesModal.tsx
  identity/client/src/pages/tenants/detail/roles/index.tsx
  identity/client/src/utility/api/membership/index.ts
  identity/client/src/utility/localization/en/components.json
  identity/client/src/utility/localization/en/groups.json
  identity/client/src/utility/localization/en/roles.json
  identity/client/src/utility/localization/en/tenants.json
Labels: component/identity

feat: add mappings tab, modals, translations
  identity/client/src/pages/roles/detail/index.tsx
  identity/client/src/pages/roles/detail/mappings/AssignMappingsModal.tsx
  identity/client/src/pages/roles/detail/mappings/DeleteModal.tsx
  identity/client/src/pages/roles/detail/mappings/index.tsx
  identity/client/src/utility/api/roles/index.ts
  identity/client/src/utility/localization/en/roles.json
Labels: component/identity

fix: import order and missing property on api call
  identity/client/src/pages/roles/detail/mappings/AssignMappingsModal.tsx
  identity/client/src/pages/roles/modals/AddModal.tsx
Labels: component/identity

feat: add queries for process definition XML
  operate/client/src/modules/api/v2/processDefinitions/fetchProcessDefinitionXml.ts
  operate/client/src/modules/mocks/api/v2/processDefinitions/fetchProcessDefinitionXml.ts
  operate/client/src/modules/queries/processDefinitions/useProcessDefinitionXml.test.tsx
  operate/client/src/modules/queries/processDefinitions/useProcessDefinitionXml.ts
  operate/client/src/modules/request/index.ts
Labels: component/operate

refactor: rename test function, remove context path
  operate/client/src/modules/mocks/api/v2/processDefinitions/fetchProcessDefinitionXml.ts
  operate/client/src/modules/queries/processDefinitions/useProcessDefinitionXml.test.tsx
Labels: component/operate

feat: target migration process definition queries
  operate/client/e2e-playwright/mocks/processes.mocks.ts
  operate/client/src/App/Processes/MigrationView/BottomPanel/index.test.tsx
  operate/client/src/App/Processes/MigrationView/BottomPanel/index.tsx
  operate/client/src/App/Processes/MigrationView/BottomPanel/tests/mocks.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/TargetDiagram.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/tests/mocks.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/tests/targetDiagram.test.tsx
  operate/client/src/App/Processes/MigrationView/index.test.tsx
  operate/client/src/App/Processes/MigrationView/index.tsx
  operate/client/src/modules/queries/processDefinitions/useMigrationTargetXml.ts
  operate/client/src/modules/queries/processDefinitions/useProcessDefinitionXml.test.tsx
  operate/client/src/modules/queries/processDefinitions/useProcessDefinitionXml.ts
  operate/client/src/modules/stores/processInstanceMigrationMapping.test.ts
  operate/client/src/modules/stores/processInstanceMigrationMapping.ts
  operate/client/src/modules/stores/processInstanceMigrationMappingParticipants.test.ts
  operate/client/src/modules/stores/processXml/processXml.migration.target.test.ts
  operate/client/src/modules/stores/processXml/processXml.migration.target.ts
Labels: component/operate

deps: add undeclared commons lang dep to pom
  authentication/pom.xml
Labels: none

fix: download elastic as tgz but use zip for final archive on mac
  c8run/internal/packages/package.go
Labels: component/c8run

fix: use full filename instead of *
  .github/workflows/c8run-release.yaml
Labels: component/build-pipeline, component/c8run

fix: separate finalOutputExtension from elasticsearch extension
  c8run/internal/packages/package.go
Labels: component/c8run

fix: create c8run directory in zip
  c8run/internal/archive/archive.go
Labels: component/c8run

fix: I think the Rel function was a mistake here
  c8run/internal/archive/archive.go
Labels: component/c8run

fix: move chdir to only linux running it. windows+mac doesn't need it for zips
  c8run/internal/packages/package.go
Labels: component/c8run

fix: adjust output dir
  c8run/internal/packages/package.go
Labels: component/c8run

fix: revert "fix: adjust output dir"
  c8run/internal/packages/package.go
Labels: component/c8run

fix: revert "fix: move chdir to only linux running it. windows+mac doesn't need it for zips"
  c8run/internal/packages/package.go
Labels: component/c8run

fix: use source path silly
  c8run/internal/archive/archive.go
Labels: component/c8run

fix: do not fail on unknown index settings
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/es/OptimizeElasticsearchClient.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/util/mapper/ObjectMapperFactory.java
Labels: component/optimize

fix: prevent path traversal in local document store
  document/store/src/main/java/io/camunda/document/store/localstorage/LocalStorageDocumentStore.java
Labels: none

refactor: add translations to mapping rules page
  identity/client/src/pages/mappings/List.tsx
  identity/client/src/pages/mappings/modals/AddModal.tsx
  identity/client/src/pages/mappings/modals/components.tsx
  identity/client/src/utility/localization/en/index.ts
  identity/client/src/utility/localization/en/mappingRules.json
Labels: component/identity

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
