Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

feat: purge processCache whenever a cluster change is completed
  dist/src/main/java/io/camunda/application/commons/rest/RestApiConfiguration.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/api/BrokerClusterState.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/api/BrokerTopologyListener.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/BrokerClusterStateImpl.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/BrokerTopologyManagerImpl.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/cache/ProcessCache.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/TopologyController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/cache/ProcessCacheTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/TopologyControllerTest.java
  zeebe/gateway/src/test/java/io/camunda/zeebe/gateway/impl/broker/PublishMessageDispatchStrategyTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: Added tests for BrokerTopologyManagerImpl and TopologyController
  qa/integration-tests/src/test/java/io/camunda/it/cluster/ClusterPurgeMultiDbIT.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/BrokerTopologyManagerImpl.java
  zeebe/broker-client/src/test/java/io/camunda/zeebe/broker/client/api/BrokerTopologyManagerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/TopologyControllerTest.java
Labels: component/zeebe

build: add missing code
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/ExtendedOpenSearchClient.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/OptimizeOpenSearchClient.java
Labels: component/optimize

build: add spring boot validator
  optimize/pom.xml
Labels: component/optimize

fix: needed dependency
  optimize/backend/pom.xml
Labels: component/optimize

Revert "feat: remove optimize's implementation of backups (#26256)"
  optimize/backend/pom.xml
  optimize/backend/src/it/java/io/camunda/optimize/service/snapshot/BackupServiceIT.java
  optimize/backend/src/main/java/io/camunda/optimize/OptimizeTomcatConfig.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/actuator/BackupRestService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/BackupService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/reader/BackupReaderES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/os/reader/BackupReaderOS.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/reader/AbstractBackupReader.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/reader/BackupReader.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/repository/SnapshotRepository.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/repository/es/SnapshotRepositoryES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/repository/es/SnapshotRepositoryOS.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/writer/BackupWriter.java
  optimize/backend/src/main/java/io/camunda/optimize/service/util/SnapshotUtil.java
  optimize/backend/src/test/java/io/camunda/optimize/service/backup/BackupRequestValidationTest.java
  optimize/backend/src/test/java/io/camunda/optimize/service/backup/BackupServiceTest.java
  optimize/backend/src/test/java/io/camunda/optimize/service/backup/SnapshotUtilTest.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/dto/optimize/BackupState.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/dto/optimize/rest/BackupInfoDto.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/dto/optimize/rest/BackupRequestDto.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/rest/constants/RestConstants.java
Labels: component/optimize

test: Make BackupServiceIT database agnostic
  optimize/backend/src/it/java/io/camunda/optimize/service/snapshot/BackupServiceIT.java
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/DatabaseIntegrationTestExtension.java
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/db/DatabaseTestService.java
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/db/ElasticsearchDatabaseTestService.java
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/db/OpenSearchDatabaseTestService.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/actuator/BackupRestService.java
  optimize/backend/src/test/java/io/camunda/optimize/service/backup/BackupRequestValidationTest.java
  optimize/backend/src/test/java/io/camunda/optimize/service/backup/BackupServiceTest.java
Labels: component/optimize

build: reintroduce BackupRequestDto
  optimize/backend/src/main/java/io/camunda/optimize/dto/optimize/rest/BackupRequestDto.java
Labels: component/optimize

build: ignore spring boot validator dependency
  optimize/pom.xml
Labels: component/optimize

Revert "build: reintroduce BackupRequestDto"
  optimize/backend/src/main/java/io/camunda/optimize/dto/optimize/rest/BackupRequestDto.java
Labels: component/optimize

build: start optimize with optimize-distro CP
  optimize/client/scripts/start-backend.js
Labels: component/optimize

fix: logging dependency problem
  optimize/pom.xml
Labels: component/optimize

ci: use alpha Helm chart for preview envs
  .ci/preview-environments/charts/c8sm/Chart.yaml
Labels: none

feat: add mapping id to the MappingDbModel
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/MappingDbModel.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/MappingFixtures.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/MappingExportHandler.java
Labels: component/zeebe

feat: add mapping id to IdentitySetupInitializeProcessor
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/MappingFixtures.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/IdentitySetupInitializeProcessor.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/MappingCreatedUpdatedHandler.java
Labels: component/zeebe

fix: fix document upload metadata injection for complex bindings
  tasklist/client/src/common/form-js/FormJSRenderer/extractFilePath.test.ts
  tasklist/client/src/common/form-js/FormJSRenderer/extractFilePath.ts
  tasklist/client/src/common/form-js/FormJSRenderer/index.tsx
Labels: component/tasklist

test: remove .only
  tasklist/client/src/common/form-js/FormJSRenderer/extractFilePath.test.ts
Labels: component/tasklist

test: add another level on path extraction test case
  tasklist/client/src/common/form-js/FormJSRenderer/extractFilePath.test.ts
Labels: component/tasklist

feat: create SecondaryDbQueryService to provide engine limited access to secondaryDb #29696
  zeebe/engine/pom.xml
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/secondarydb/NoopSecondaryDbQueryService.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/secondarydb/SecondaryDbQueryService.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/secondarydb/SecondaryDbQueryServiceImpl.java
Labels: component/zeebe

feat: configure and pass-through secondaryDbQueryService to engine processor config #29696
  dist/pom.xml
  dist/src/main/java/io/camunda/zeebe/broker/BrokerModuleConfiguration.java
  dist/src/main/java/io/camunda/zeebe/broker/SecondaryDbAccessConfiguration.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/Broker.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/BrokerStartupContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/BrokerStartupContextImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/PartitionManagerStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/PartitionManagerImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/startup/ZeebePartitionFactory.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/SystemContext.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: provide secondaryDb in engine tests #29696
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/perf/TestEngine.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
Labels: component/zeebe

test: add coverage for `UserTaskCancelingApplier`
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/UserTaskCancelingApplierTest.java
Labels: component/zeebe

refactor: introduce V2 applier for `UT.CANCELING` to isolate future changes
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UserTaskCancelingV1Applier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UserTaskCancelingV2Applier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/UserTaskCancelingV1ApplierTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/UserTaskCancelingV2ApplierTest.java
Labels: component/zeebe

feat: add resource record to RECORDS_BY_TYPE mapping
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestReader.java
Labels: component/zeebe

feat: add REST API endpoints for fetching resource metadata + content
  service/src/main/java/io/camunda/service/ResourceServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/ResourceController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ResourceControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerFetchResourceRequest.java
Labels: component/zeebe

fix: add missing operation IDs + fix schema reference in API spec
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

fix: use correct schema reference for resource result in REST API spec
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

refactor: align mapping with figma designs
  identity/client/src/pages/mappings/List.tsx
  identity/client/src/pages/mappings/modals/AddModal.tsx
  identity/client/src/pages/mappings/modals/components.tsx
Labels: component/identity

fix: use proper exception class
  optimize/backend/src/main/java/io/camunda/optimize/rest/actuator/BackupRestService.java
Labels: component/optimize

ci: disable operate migration init-container
  .ci/preview-environments/charts/c8sm/values.yaml
Labels: none

refactor: Align element assertions
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/ElementAssertj.java
Labels: none

refactor: Reduce methods in element assertion
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/ElementAssertj.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/ProcessInstanceAssertj.java
Labels: none

test: Adjust mock verification
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/ElementAssertTest.java
Labels: none

deps: update apache httpcore5 to 5.3.4
  .github/renovate.json
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

WIP
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/RdbmsService.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/BatchOperationDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/mapper/BatchOperationEntityMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/BatchOperationReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/BatchOperationMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/columns/BatchOperationSearchColumn.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriterFactory.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/BatchOperationDbModel.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/queue/ContextType.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/BatchOperationWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/RdbmsPurger.java
  db/rdbms/src/main/resources/mapper/BatchOperationMapper.xml
  dist/src/main/java/io/camunda/application/commons/rdbms/MyBatisConfiguration.java
  dist/src/main/java/io/camunda/application/commons/rdbms/RdbmsConfiguration.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/batchoperation/BatchOperationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/BatchOperationFixtures.java
  search/search-client-rdbms/src/main/java/io/camunda/search/rdbms/RdbmsSearchClient.java
  search/search-domain/src/main/java/io/camunda/search/filter/BatchOperationFilter.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporter.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterWrapper.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationChunkExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationCreatedExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationExecutionExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/ProcessInstanceBatchOperationExportHandler.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationExecutionRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/BatchOperationChunkIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/BatchOperationExecutionIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BatchOperationExecutionRecordValue.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: use correct translation tag for authorization docs
  identity/client/src/pages/authorizations/modals/AddModal.tsx
  identity/client/src/utility/localization/en/authorizations.json
Labels: component/identity

fix: rename state to status for batch operation in search domain #29713
  search/search-domain/src/main/java/io/camunda/search/filter/BatchOperationFilter.java
Labels: none

test: verify `VariableDocumentState` is removed on user task canceling
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/UserTaskCancelingV2ApplierTest.java
Labels: component/zeebe

feat: clean up `VariableDocumentState` on applying `UT.CANCELING` event
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UserTaskCancelingV2Applier.java
Labels: component/zeebe

feat: support checking organization access via a filter in the security layer
  authentication/src/main/java/io/camunda/authentication/CamundaOidcUserService.java
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/entity/CamundaOidcUser.java
  authentication/src/main/java/io/camunda/authentication/entity/CamundaPrincipal.java
  authentication/src/main/java/io/camunda/authentication/entity/CamundaUser.java
  authentication/src/main/java/io/camunda/authentication/filters/OrganizationAccessCheckFilter.java
  security/security-core/src/main/java/io/camunda/security/configuration/AuthenticationConfiguration.java
Labels: none
