Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

feat: make appendItemKeys and removeItemKeys easier and give properties correct names #29697
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionScheduler.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/BatchOperationChunkCreatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/BatchOperationCreatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/DbBatchOperationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/PersistedBatchOperationChunk.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableBatchOperationState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/batchoperation/BatchOperationStateTest.java
Labels: component/zeebe

feat: renamed block to chunk and entityKeys to itemKeys for batch operation #29697
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/BatchOperationChunkCreatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/DbBatchOperationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/PersistedBatchOperation.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/PersistedBatchOperationChunk.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/BatchOperationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableBatchOperationState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/CreateBatchOperationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/batchoperation/BatchOperationStateTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationChunkRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationExecutionRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BatchOperationChunkRecordValue.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BatchOperationExecutionRecordValue.java
Labels: component/zeebe

feat: provide test for BatchOperationExecutionScheduler #29697
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionSchedulerTest.java
Labels: component/zeebe

feat: change last two family entries in order to group batch columns together #29697
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
Labels: component/zeebe

feat: add new batch operation commands to request reader registry
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestReader.java
Labels: component/zeebe

refactor: clean up tests and unused dependencies
  authentication/pom.xml
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/tenant/TenantServiceTest.java
Labels: component/tasklist

refactor: rest api resolves tenants in the service layer
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
Labels: component/zeebe

refactor: tasklist uses the service layer to resolve tenant ids
  dist/src/main/java/io/camunda/tasklist/TasklistSecurityStubsConfiguration.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/tenant/TenantServiceImpl.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

refactor: operate uses the service layer to resolve tenant ids
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/permission/PermissionsService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/tenant/TenantService.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/security/permission/PermissionsServiceTest.java
Labels: component/operate

deps: add missing dependencies to operate webapps
  operate/webapp/pom.xml
Labels: component/operate

refactor: remove tenant attribute holder and filter
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/filters/TenantRequestAttributeFilter.java
  authentication/src/main/java/io/camunda/authentication/tenant/TenantAttributeHolder.java
  authentication/src/test/java/io/camunda/authentication/filters/TenantRequestAttributeFilterTest.java
  dist/src/main/java/io/camunda/zeebe/shared/security/SecurityConfiguration.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/es/cache/ProcessStoreElasticSearchTest.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/es/cache/ProcessStoreOpenSearchTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/impl/job/LongPollingActivateJobsRestTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: add new intents for batch operation execution
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/BatchOperationExecutionIntent.java
Labels: component/zeebe

feat: use primitive value for batchOperationKey like we also do for other keys in records
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationChunkRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationCreationRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationExecutionRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BatchOperationRelated.java
Labels: component/zeebe

feat: wip
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecuteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionScheduler.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationSetupProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/BatchOperationCompletedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/BatchOperationExecutedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/BatchOperationExecutingApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
Labels: component/zeebe

fix: fix test
  service/src/test/java/io/camunda/service/MappingServicesTest.java
Labels: none

feat: change delete mapping api to use mapping id
  service/src/main/java/io/camunda/service/MappingServices.java
  service/src/test/java/io/camunda/service/MappingServicesTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerMappingDeleteRequest.java
Labels: component/zeebe

fix: rename id to mappingId for improve document readability
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

feat: include native libs into jar to avoid polluting /tmp
  dist/pom.xml
  dist/src/main/assembly.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

test: use timeout when verifying command response writer behavior
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/resource/ResourceFetchTest.java
Labels: component/zeebe

test: acceptance tests for incident update
  qa/integration-tests/src/test/java/io/camunda/it/client/IncidentSearchTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceSearchTest.java
  qa/integration-tests/src/test/java/io/camunda/it/orchestration/incidents/IncidentFullResolveCallActivityTest.java
  qa/integration-tests/src/test/java/io/camunda/it/orchestration/incidents/IncidentPartialResolveCallActivityTest.java
  qa/integration-tests/src/test/java/io/camunda/it/orchestration/incidents/IncidentPropagationTest.java
  qa/integration-tests/src/test/java/io/camunda/it/orchestration/incidents/IncidentSimpleResolveTest.java
  qa/integration-tests/src/test/java/io/camunda/it/util/TestHelper.java
Labels: none

feat: be-temp-20250328
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/ElementAssertj.java
Labels: none

test: acceptance tests for incident update
  qa/integration-tests/src/test/java/io/camunda/it/util/TestHelper.java
Labels: none

feat: add not-in operator to basic long property
  clients/java/src/main/java/io/camunda/client/api/search/filter/builder/BasicLongProperty.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/builder/BasicLongPropertyImpl.java
  clients/java/src/test/java/io/camunda/client/process/QueryProcessInstanceTest.java
  db/rdbms/src/main/resources/mapper/Commons.xml
  qa/integration-tests/src/test/java/io/camunda/it/client/DecisionInstanceSearchTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceSearchTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/VariableSearchTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/query/SearchQueryBuilders.java
  search/search-domain/src/main/java/io/camunda/search/filter/Operator.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/RestControllerTest.java
Labels: component/zeebe

ci: debug TestRail credentials
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: remove branch
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: debug worfklow
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: update the path
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: test running tests directly from workflow
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: update docker compose up command
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

fix: add working directory
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: Add workflow for running tests on commits and nightly basis
  .github/actions/core-application-e2e-test-suite/action.yml
  .github/workflows/core-application-e2e-tests-nightly.yml
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

ci: Publish test results to TestRail to nightly and on demand test runs
  .github/workflows/core-application-e2e-tests-nightly.yml
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: debug workflow and increase health check time
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: Debug TestRail credentials
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: fix logs on starting tasklist and operate
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: update response variable
  .github/workflows/core-application-e2e-tests-nightly.yml
Labels: component/build-pipeline

ci: update the nightly tests
  .github/workflows/core-application-e2e-tests-nightly.yml
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: add report upload
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: add logs to setting up the services
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: resolve review comments
  .github/workflows/core-application-e2e-tests-nightly.yml
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline
