Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

refactor: make use of number range query
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/ElasticsearchIncidentUpdateRepository.java
Labels: component/zeebe

refactor: make use of new script builder
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/batchoperations/ElasticsearchBatchOperationUpdateRepository.java
Labels: component/zeebe

refactor: migrate optimize client usage
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/filter/AbstractProcessVariableQueryFilterES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/filter/DecisionVariableQueryFilterES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/filter/util/DateFilterQueryUtilES.java
  optimize/util/optimize-commons/pom.xml
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/es/OptimizeElasticsearchClient.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/es/schema/ElasticSearchIndexSettingsBuilder.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/es/schema/ElasticSearchMetadataService.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/es/schema/ElasticSearchSchemaManager.java
Labels: component/optimize

test: use untyped for range query
  search/search-client-elasticsearch/src/test/java/io/camunda/search/es/transformers/query/RangeQueryTransformerTest.java
Labels: none

test: use new ES client API
  zeebe/exporters/elasticsearch-exporter/pom.xml
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchClientIT.java
Labels: component/zeebe

test: use delete action for ILM
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepositoryIT.java
Labels: component/zeebe

build: set optimize to 8.13 ES version
  optimize/pom.xml
Labels: component/optimize

refactor: use number range query
  migration/process-migration/src/main/java/io/camunda/migration/process/adapter/es/ElasticsearchAdapter.java
Labels: none

fix: revert optimize changes
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/filter/AbstractProcessVariableQueryFilterES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/filter/DecisionVariableQueryFilterES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/filter/util/DateFilterQueryUtilES.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/es/OptimizeElasticsearchClient.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/es/schema/ElasticSearchIndexSettingsBuilder.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/es/schema/ElasticSearchMetadataService.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/es/schema/ElasticSearchSchemaManager.java
Labels: component/optimize

build: remove version overriddes
  optimize/upgrade/pom.xml
Labels: component/optimize

refactor: adjust to new API
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationITInvocationProvider.java
Labels: none

build: use newer ES versions
  dist/src/test/java/io/camunda/application/CamundaDockerIT.java
  operate/qa/integration-tests/src/test/resources/config/application-test.yml
  optimize/client/docker-compose.yml
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchConnectorBasicAuthIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchConnectorBasicAuthNoClusterPrivilegesIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchConnectorSSLAuthIT.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/testcontainers/TestSearchContainers.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: use correct client for ES version
  operate/qa/util/pom.xml
  operate/qa/util/src/main/java/io/camunda/operate/qa/util/TestContainerUtil.java
  tasklist/qa/util/pom.xml
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/TestContainerUtil.java
Labels: component/operate, component/tasklist

ci: use the right ES server version
  .github/workflows/ci.yml
Labels: component/build-pipeline

refactor: introduce const for supported version
  dist/src/test/java/io/camunda/application/CamundaDockerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/StartupIT.java
  operate/qa/util/pom.xml
  operate/qa/util/src/main/java/io/camunda/operate/qa/util/TestContainerUtil.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchConnectorBasicAuthIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchConnectorBasicAuthNoClusterPrivilegesIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchConnectorSSLAuthIT.java
  tasklist/qa/util/pom.xml
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/TestContainerUtil.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/SupportedVersions.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

build: use 8.13.4 for optimize
  optimize/pom.xml
Labels: component/optimize

test: bring back test condition
  operate/qa/integration-tests/src/test/java/io/camunda/operate/StartupIT.java
Labels: component/operate

test: use supported version const
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/ElasticsearchConnectorIT.java
Labels: component/operate

test: add indexUuid
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/BackupControllerIT.java
Labels: component/operate

feat: existence of 8.8 zeebe indices is a greenfield installation
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
Labels: component/zeebe

test: existence of 8.8 zeebe indices is a greenfield installation
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
Labels: component/zeebe

fix: fix dep
  zeebe/gateway-rest/pom.xml
Labels: component/zeebe

feat: introduced a separate backgroundTask actor for non-time-sensitive tasks
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionScheduler.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageObserver.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageTimeToLiveChecker.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/scheduled/DueDateChecker.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/IdentitySetupInitializer.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/ProcessingScheduleService.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ExtendedProcessingScheduleServiceImpl.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/ExtendedProcessingScheduleServiceImplTest.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorTest.java
Labels: component/zeebe

test: fix flake due to race condition.
  migration/process-migration/src/test/java/io/camunda/migration/process/it/MigrationRunnerIT.java
Labels: none

test: apply code review requested changes
  qa/integration-tests/src/test/java/io/camunda/it/StandaloneBackupManagerTest.java
Labels: none

test: use a user with snapshot_user role for backup creation
  qa/integration-tests/src/test/java/io/camunda/it/StandaloneBackupManagerTest.java
Labels: none

feat: Moving Operate Properties
  dist/src/main/java/io/camunda/application/commons/backup/BackupPriorityConfiguration.java
  operate/common/src/main/java/io/camunda/operate/conditions/DatabaseInfo.java
  operate/common/src/main/java/io/camunda/operate/conditions/DatabaseType.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: fix the collection scope path
  optimize/backend/src/main/java/io/camunda/optimize/rest/PublicApiRestService.java
Labels: component/optimize

ci: apply spotless
  optimize/backend/src/main/java/io/camunda/optimize/rest/PublicApiRestService.java
Labels: component/optimize

feat: change delete mapping api to use mapping id
  service/src/main/java/io/camunda/service/MappingServices.java
  service/src/test/java/io/camunda/service/MappingServicesTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerMappingDeleteRequest.java
Labels: component/zeebe

test: protect api
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/DecisionIT.java
Labels: component/operate

test: added tests for updating, assigning and completing listeners
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerDataAccessTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTaskHeadersTest.java
Labels: component/zeebe

refactor: review feedback
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

feat: introduce process instance statistics endpoint
  search/search-client/src/main/java/io/camunda/search/clients/ProcessDefinitionSearchClient.java
  search/search-domain/src/main/java/io/camunda/search/entities/ProcessDefinitionFlowNodeStatisticsEntity.java
  search/search-domain/src/main/java/io/camunda/search/filter/FilterBuilders.java
  search/search-domain/src/main/java/io/camunda/search/filter/ProcessDefinitionStatisticsFilter.java
  service/src/main/java/io/camunda/service/ProcessDefinitionServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/ProcessDefinitionController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessDefinitionQueryControllerTest.java
Labels: component/zeebe

refactor: simplify the test
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTaskHeadersTest.java
Labels: component/zeebe

feat: Moving Operate Properties
  dist/src/main/java/io/camunda/application/commons/backup/BackupConfig.java
  dist/src/main/java/io/camunda/application/commons/backup/BackupPriorityConfiguration.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/TestUtil.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/testcontainers/ContainerApplicationContextInitializer.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/sso/AuthenticationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/sso/AuthenticationWithPersistentSessionsIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/sso/CsrfTokenIT.java
  operate/qa/query-performance-tests/src/test/java/io/camunda/operate/qa/performance/TestConfig.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/StartupBean.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/auth/OperateUserDetailsService.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: separate BackgroundTaskScheduleService from ProcessingScheduleService
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionScheduler.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageObserver.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageTimeToLiveChecker.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/scheduled/DueDateChecker.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/IdentitySetupInitializer.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/ReadonlyStreamProcessorContext.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/BackgroundTaskScheduleService.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/ProcessingScheduleService.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/BackgroundTaskScheduleServiceImpl.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ExtendedProcessingScheduleServiceImpl.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessorContext.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/ExtendedProcessingScheduleServiceImplTest.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorTest.java
Labels: component/zeebe

feat: add rdbms batch operation ITests + fixed filter bug
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/batchoperation/BatchOperationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/BatchOperationFixtures.java
  search/search-domain/src/main/java/io/camunda/search/filter/BatchOperationFilter.java
Labels: none

fix: don't try to write responses without request id
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/BufferedProcessingResultBuilder.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorTest.java
Labels: component/zeebe

feat: add mappings tab, modals, translations, new feature flag
  identity/client/src/feature-flags.ts
  identity/client/src/pages/tenants/detail/index.tsx
  identity/client/src/pages/tenants/detail/mappings/AssignMappingsModal.tsx
  identity/client/src/pages/tenants/detail/mappings/DeleteModal.tsx
  identity/client/src/pages/tenants/detail/mappings/index.tsx
  identity/client/src/utility/api/tenants/index.ts
  identity/client/src/utility/localization/en/tenants.json
Labels: component/identity

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
