Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

fix: Push Git changes (reverse order)
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

fix: use full path to keychain
  .github/actions/sign-and-notarize/action.yml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

fix: explicitly state format
  .github/actions/sign-and-notarize/action.yml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

fix: pass in the common name for the cert
  .github/actions/sign-and-notarize/action.yml
  .github/workflows/c8run-release.yaml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline, component/c8run

set working-directory
  .github/workflows/c8run-release.yaml
Labels: component/build-pipeline, component/c8run

fix: add echo
  .github/actions/sign-and-notarize/sign_and_notarize.sh
  .github/workflows/c8run-release.yaml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline, component/c8run

fix: up verbosity
  .github/actions/sign-and-notarize/action.yml
  .github/actions/sign-and-notarize/sign_and_notarize.sh
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

fix: unsure but this may help
  .github/actions/sign-and-notarize/action.yml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

fix: Git pull
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

fix: Git push tag 8.6.11-test-SNAPSHOT
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

fix: fetch-depth: 5
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

fix: fetch-depth: 0
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

fix: remove not used comment
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiConfig.java
Labels: component/zeebe

feat: move to camunda controller for swagger
  dist/src/main/resources/application.properties
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: add missing dependency
  zeebe/gateway-rest/pom.xml
Labels: component/zeebe

fix: rename method from zeebeApi to camundaApi
  zeebe/gateway-protocol/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiConfig.java
Labels: component/zeebe

fix: spotless lint
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
Labels: component/zeebe

feat: setup swagger for camunda apis
  parent/pom.xml
  zeebe/gateway-protocol/pom.xml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiConfig.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: remove not used dependencies
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
Labels: component/zeebe

fix: remove dependency verification
  zeebe/gateway-rest/pom.xml
Labels: component/zeebe

fix: update zeebeApi to CamundaApi
  zeebe/gateway-protocol/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiConfig.java
Labels: component/zeebe

feat: enable swagger ui to camunda 8 api
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  zeebe/gateway-protocol/pom.xml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiConfig.java
Labels: component/zeebe

fix: set objectMapper as primary
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
Labels: component/zeebe

fix: fetch-depth: 0
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

fix: remove yaml mapper and replace to builder
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
Labels: component/zeebe

feat: add custom controller for open api camunda
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  dist/src/main/resources/application.properties
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/CamundaOpenApiController.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

style: checkstyle fix
  qa/integration-tests/src/test/java/io/camunda/it/operate/OperatePermissionsIT.java
Labels: none

test: review comments to make sure conditions being verified is same as previous test
  qa/integration-tests/src/test/java/io/camunda/it/operate/OperatePermissionsIT.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestSimpleCamundaApplication.java
Labels: none

refactor: test to use the MultiDbTest annotation.
  qa/integration-tests/src/test/java/io/camunda/it/operate/OperatePermissionsIT.java
Labels: none

refactor: OperatePermissionsIT to use CamundaMultiDBExtension
  qa/integration-tests/src/test/java/io/camunda/it/operate/OperatePermissionsIT.java
Labels: none

fix: use operate client for v1 calls
  qa/integration-tests/src/test/java/io/camunda/it/operate/OperatePermissionsIT.java
Labels: none

fix: bad rebase
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestSimpleCamundaApplication.java
Labels: none

feat: Increase the default inbound message size to 5MB for clients
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientBuilder.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientBuilderImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/ZeebeClientTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationDefaultPropertiesTest.java
Labels: component/zeebe

feat: Increase the default inbound message size to 5MB for clients
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientBuilder.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientBuilderImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/ZeebeClientTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationDefaultPropertiesTest.java
Labels: component/zeebe

feat: Increase the default inbound message size to 5MB for clients
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationDefaultPropertiesTest.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientBuilder.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientBuilderImpl.java
  zeebe/clients/java/src/test/java/io/camunda/zeebe/client/ZeebeClientTest.java
Labels: component/zeebe

feat: Increase the default inbound message size to 5MB for clients
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientBuilder.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientBuilderImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/ZeebeClientTest.java
Labels: component/zeebe

BACKPORT-CONFLICT
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationDefaultPropertiesTest.java
Labels: component/zeebe

feat: marked test as regression, retry query before failing
  qa/integration-tests/src/test/java/io/camunda/it/cluster/ClusterPurgeMultiDbIT.java
Labels: none

feat: improved log output, standardized controller logic and clarified listener logic
  qa/integration-tests/src/test/java/io/camunda/it/cluster/ClusterPurgeMultiDbIT.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/api/BrokerClusterState.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/api/BrokerTopologyListener.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/BrokerTopologyManagerImpl.java
  zeebe/broker-client/src/test/java/io/camunda/zeebe/broker/client/api/BrokerTopologyManagerTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/cache/ProcessCache.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/TopologyController.java
Labels: component/zeebe

refactor: changed lastCompletedChangeId to a string
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/api/BrokerClusterState.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/TopologyController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/TopologyControllerTest.java
Labels: component/zeebe
