Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

feat: introduce `VariableDocumentUpdatedApplier`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/VariableDocumentUpdatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableVariableState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/variable/DbVariableState.java
Labels: component/zeebe

feat: merge task-scoped variables on finalizing UT update transition
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/UserTaskCommandProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskUpdateProcessor.java
Labels: component/zeebe

fix: avoid `ClassCastException` when storing request metadata for VD `UPDATE` command
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableDocumentUpdateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/UserTaskTransitionTriggerRequestMetadata.java
Labels: component/zeebe

feat: add `getVariableDocumentState` method to retrieve variable document data
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/VariableState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/variable/DbVariableState.java
Labels: component/zeebe

feat: rename `VariableDocumentRecordValue` and store VD key
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/VariableDocumentUpdatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/VariableDocumentUpdatingApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/VariableDocumentState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableVariableState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/variable/DbVariableState.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
Labels: component/zeebe

feat: finalize UserTask update transition with `VariableDocument.UPDATED` event
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskUpdateProcessor.java
Labels: component/zeebe

ci: remove broken benchmark measurement support
  .github/workflows/zeebe-benchmark.yml
  .github/workflows/zeebe-pr-benchmark.yaml
Labels: component/zeebe, component/build-pipeline

refactor: append rejection instead of throwing exception if the given elements do not exist in the ad-hoc subprocess
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
Labels: component/zeebe

refactor: use util function to append and write rejection
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
Labels: component/zeebe

refactor: improve clarity of error messages
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
Labels: component/zeebe

refactor: remove unused exception classes
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
Labels: component/zeebe

BACKPORT-CONFLICT
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientBuilderImpl.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientBuilderImpl.java
Labels: component/zeebe

fix: provide fake request id instead of auth details
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/CollaborationDeploymentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/SuccessfulDeploymentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/util/client/DeploymentClient.java
Labels: none

fix: default addresses are plaintext
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientBuilderImpl.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationDefaultPropertiesTest.java
Labels: component/zeebe

test: enable elasticsearch on extension
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationITExtension.java
Labels: none

test: migration extension
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/ApiCallable.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/CamundaMigrator.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationITExtension.java
Labels: none

refactor: use extension context to store test scope params
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationITExtension.java
Labels: none

fix: address review comments
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/CamundaMigrator.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationITExtension.java
Labels: none

deps: fix pom
  qa/integration-tests/pom.xml
Labels: none

fix: allow env overrides to be specified for initial and updated configurations
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/CamundaMigrator.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationITExtension.java
Labels: none

refactor: parameter resolver suppliers
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationITExtension.java
Labels: none

refactor: remove fixed port bindings
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/MigrationITExtension.java
Labels: none

fix: sync with base, allow env overrides on upgrade
  qa/integration-tests/src/test/java/io/camunda/it/migration/ProcessMigrationIT.java
Labels: none

refactor: inject context in test cases
  qa/integration-tests/src/test/java/io/camunda/it/migration/ProcessMigrationIT.java
Labels: none

test: process migration test
  qa/integration-tests/src/test/java/io/camunda/it/migration/ProcessMigrationIT.java
Labels: none

feat: use the default backoff supplier
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientAllAutoConfiguration.java
Labels: component/zeebe

feat: use backoff supplier bean in spring sdk
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientAllAutoConfiguration.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/jobhandling/JobWorkerManager.java
Labels: component/zeebe

feature: Increase the default inbound message size to 5MB for clients
  clients/java/src/main/java/io/camunda/client/CamundaClientBuilder.java
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientBuilder.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientBuilderImpl.java
Labels: component/zeebe

feat: add icon for ad hoc sub process to instance history
  operate/client/src/modules/components/FlowNodeIcon/index.tsx
  operate/client/src/modules/components/Icon/flow-node-subprocess-adhoc.svg
  operate/client/src/modules/types/bpmn-js.d.ts
Labels: component/operate

refactor: rename runOnPool methods
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/ProcessingScheduleService.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ExtendedProcessingScheduleServiceImpl.java
Labels: component/zeebe

refactor: remove `getActorControl`
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/AsyncProcessingScheduleServiceActor.java
Labels: component/zeebe

refactor: rename IndexConfiguration and update imports
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/OpensearchBatchRequestIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/client/AbstractOpenSearchOperationIT.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/adapters/ElasticsearchAdapter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/adapters/OpensearchAdapter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepository.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/ElasticsearchEngineClientIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/IndexMappingTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/IndexSchemaValidatorTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/OpensearchEngineClientIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepositoryTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepositoryTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/batchoperations/BatchOperationUpdateRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/incident/IncidentUpdateRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/AWSSearchDBExtension.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/ContainerizedSearchDBExtension.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/SearchClientAdapter.java
Labels: component/zeebe, component/operate

fix: Implementing findings from review
  optimize/backend/src/it/java/io/camunda/optimize/auth/JwtDecoderIT.java
Labels: component/optimize

refactor: make classes package private
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/AsyncProcessingScheduleServiceActor.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/AsyncScheduleServiceContext.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ExtendedProcessingScheduleServiceImpl.java
Labels: component/zeebe

test: Verify ad-hoc activation of multi-instance element
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
Labels: component/zeebe

fix: Replace multi-instance ad-hoc activity
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/MultiInstanceActivityTransformer.java
Labels: component/zeebe

deps: remove fixture deps from tasklist pom
  tasklist/qa/migration-tests/migration-test/pom.xml
Labels: component/tasklist

fix: default addresses are plaintext
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientBuilderImpl.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationDefaultPropertiesTest.java
Labels: component/zeebe

refactor: delegate ProcessingScheduleService creation to a factory
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/AsyncScheduleServiceContext.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceFactory.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
Labels: component/zeebe

fix: provide fake request id instead of auth details
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/CollaborationDeploymentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/SuccessfulDeploymentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/util/client/DeploymentClient.java
Labels: none

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
