Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

fix: add tests for mapping update
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbMappingState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionIdempotencyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/MappingAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/MappingClient.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerMappingUpdateRequest.java
Labels: component/zeebe

fix: wait for create
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbMappingState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/mapping/MappingTest.java
Labels: component/zeebe

fix: apply review comments
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/MappingDeleteProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/MappingClient.java
Labels: component/zeebe

feat: support mapping update
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/MappingProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/MappingUpdateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/MappingUpdatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbMappingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableMappingState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/MappingAppliersTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/MappingIntent.java
Labels: component/zeebe

fix: apply style
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/MappingIntent.java
Labels: component/zeebe

feat: use mapping id for deletion
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/MappingDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/MappingDeletedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbMappingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableMappingState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionIdempotencyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/mapping/DeleteMappingMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/mapping/MappingTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/MappingAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/MappingStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/MappingClient.java
Labels: component/zeebe

feat: add mapping update service
  service/src/main/java/io/camunda/service/MappingServices.java
  service/src/test/java/io/camunda/service/MappingServicesTest.java
Labels: none

fix: allow endpoint to sort for resourceId
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/AuthorizationFilterTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/sort/AuthorizationFieldSortingTransformer.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/usermanagement/index/AuthorizationIndex.java
Labels: none

poc: start Camunda without ES
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/containers/CamundaContainer.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/CamundaContainerRuntime.java
  testing/camunda-process-test-java/src/test/resources/log4j2-test.xml
Labels: none

feat: created batch operation API records and intents #29669
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationChunkRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationCreationRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationExecutionRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/BatchOperationChunkIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/BatchOperationExecutionIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/BatchOperationIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/Intent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BatchOperationChunkRecordValue.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BatchOperationCreationRecordValue.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BatchOperationExecutionRecordValue.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BatchOperationRelated.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BatchOperationType.java
  zeebe/protocol/src/main/resources/protocol.xml
Labels: component/zeebe

feat: register batch operation valueTypes to relevant protocol locations #29669
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/distribution/CommandDistributionRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/ValueTypeMapping.java
  zeebe/protocol/src/test/java/io/camunda/zeebe/protocol/ImmutableProtocolTest.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/TypedEventRegistry.java
Labels: component/zeebe

feat: register batch operation valueTypes to exporters #29669
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/TestSupport.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TestSupport.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporterConfiguration.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/TestSupport.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterConfiguration.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestSupport.java
Labels: component/zeebe, component/operate, component/tasklist

feat: add delete & update modals for mapping rules
  identity/client/src/components/entityList/EntityList.tsx
  identity/client/src/feature-flags.ts
  identity/client/src/pages/mappings/List.tsx
  identity/client/src/pages/mappings/modals/DeleteModal.tsx
  identity/client/src/pages/mappings/modals/EditModal.tsx
  identity/client/src/pages/mappings/modals/components.tsx
  identity/client/src/utility/api/mappings/index.ts
Labels: component/identity

fix: only check tenant if MT is enabled
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageCorrelationCorrelateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/signal/SignalBroadcastProcessor.java
Labels: component/zeebe

test: create tenant and assign user
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/multitenancy/TenantAwareSignalEventTest.java
Labels: component/zeebe

test: remove signal to default tenant test
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/multitenancy/TenantAwareSignalEventTest.java
Labels: component/zeebe

Use rdbms instead of es for camunda container
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/containers/CamundaContainer.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/CamundaContainerRuntime.java
Labels: none

ci: revert temporary dependency convergence exclusion
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

refactor: improve error msg
  qa/util/src/main/java/io/camunda/qa/util/multidb/CamundaMultiDBExtension.java
Labels: none

refactor: make use of isAnnotationPresent
  qa/util/src/main/java/io/camunda/qa/util/multidb/CamundaMultiDBExtension.java
Labels: none

docs: improve exception section
  qa/README.md
Labels: none

docs: improve warning message
  qa/README.md
Labels: none

docs: improve local testing guide
  qa/README.md
Labels: none

docs: improve heading
  qa/README.md
Labels: none

docs: missing comma
  qa/README.md
Labels: none

feat: match base page ui to designs, add translations
  identity/client/src/pages/groups/List.tsx
  identity/client/src/utility/localization/en/groups.json
Labels: component/identity

feat: delete group modal
  identity/client/src/pages/groups/modals/DeleteModal.tsx
  identity/client/src/utility/localization/en/groups.json
Labels: component/identity

feat: create group modal UI, fix translations for edit group modal
  identity/client/src/pages/groups/modals/AddModal.tsx
  identity/client/src/pages/groups/modals/EditModal.tsx
  identity/client/src/utility/localization/en/groups.json
Labels: component/identity

feat: create translate file for groups, match empty state to designs
  identity/client/src/pages/groups/List.tsx
  identity/client/src/utility/localization/en/groups.json
  identity/client/src/utility/localization/en/index.ts
Labels: component/identity

fix: correct placeholder and translation for login page
  identity/client/src/pages/login/LoginPage.tsx
Labels: component/identity

feat: edit group modal UI
  identity/client/src/pages/groups/modals/EditModal.tsx
  identity/client/src/utility/api/groups/index.ts
  identity/client/src/utility/localization/en/groups.json
Labels: component/identity

feat: add pattern validation to groupId field, disable submit when required fields empty
  identity/client/src/pages/groups/modals/AddModal.tsx
  identity/client/src/pages/groups/modals/EditModal.tsx
  identity/client/src/pages/groups/modals/isValidGroupId.ts
  identity/client/src/utility/localization/en/groups.json
Labels: component/identity

feat: build document preview URL via form-js module
  tasklist/client/package.json
  tasklist/client/src/common/form-js/FormJSRenderer/index.tsx
  tasklist/client/src/common/form-js/formManager.tsx
  tasklist/client/yarn.lock
Labels: component/tasklist

test: setup user and tenant
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobWorkerElementTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/incident/ErrorEventIncidentTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/incident/JobFailIncidentTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/CompleteJobTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/FailJobTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobThrowErrorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobUpdateRetriesTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobUpdateTimeoutTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/multitenancy/TenantAwareResourceDeletionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/multitenancy/TenantAwareTimerStartEventTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/usertask/AssignUserTaskTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/usertask/ClaimUserTaskTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/usertask/CompleteUserTaskTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/usertask/UpdateUserTaskTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/JobClient.java
Labels: component/zeebe

wip
  docs/observability.md
Labels: none

refactor: remove unnecessary config additiona
  dist/src/main/config/log4j2.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: don't pollute the command cache
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedScheduledCommandCache.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/ScheduledCommandCache.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceImpl.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/TestScheduledCommandCache.java
Labels: component/zeebe

perf: rollback only locks cache once
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCache.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedScheduledCommandCache.java
Labels: component/zeebe

perf: avoid singleton set when caching a single key
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCache.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedScheduledCommandCache.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCacheTest.java
Labels: component/zeebe

test: verify bulk add and remove on command cache
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCacheTest.java
Labels: component/zeebe
