Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

fix: distributionSLOs for request size equal to prometheus buckets
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/MessagingMetricsDoc.java
Labels: component/zeebe

docs: add JavaDoc to MessagingKeyNames
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/MessagingMetricsDoc.java
Labels: component/zeebe

deps: fix zeebe-transport test dependency
  zeebe/transport/pom.xml
Labels: component/zeebe

feat: dashboard changes for micrometer metrics
  monitor/grafana/zeebe.json
Labels: component/zeebe

style: format
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/test/EmbeddedBrokerRule.java
Labels: component/zeebe

fix: wrong parameters order for RESPONSE_COUNT metric
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/MessagingMetricsImpl.java
Labels: component/zeebe

deps: missing dependency in zeebe-protocol-test-util
  zeebe/protocol-test-util/pom.xml
Labels: component/zeebe

test: fix variable naming
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning/PartitionLeaveTest.java
Labels: component/zeebe

fix: do not perform nested computeIfAbsent in SwimMembershipProtocolMetrics
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/protocol/SwimMembershipProtocolMetrics.java
Labels: component/zeebe

style: fix spotless problems
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/impl/DiscoveryMembershipProtocol.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/protocol/GroupMembershipProtocol.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/protocol/SwimMembershipProtocol.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/DefaultClusterEventServiceTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/NettyMessagingServiceTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/NettyMessagingServiceTlsTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/NettyUnicastServiceTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/protocol/SwimProtocolTest.java
Labels: component/zeebe

test: fix compilation errors and styling
  dist/src/main/java/io/camunda/application/commons/clustering/AtomixClusterConfiguration.java
  dist/src/main/java/io/camunda/zeebe/broker/BrokerClusterConfiguration.java
  dist/src/main/java/io/camunda/zeebe/gateway/GatewayClusterConfiguration.java
  dist/src/test/java/io/camunda/zeebe/gateway/StandaloneGatewaySecurityTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning/PartitionJoinTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/ClusterConfigurationManagementIntegrationTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationManagementApiTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/gossip/ClusterConfigurationGossiperTest.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/api/UnavailableBrokersTest.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/interceptors/InterceptorIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteringRule.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: NettyDnsMetrics use a MeterProvider instead of a HashMap to avoid concurrency issues
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyDnsMetrics.java
Labels: component/zeebe

refactor: remove unnecessary custom extension usage
  dist/src/test/java/io/camunda/zeebe/gateway/StandaloneGatewaySecurityTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: NettyDnsMetrics use a MeterProvider instead of a HashMap to avoid concurrency issues
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyDnsMetrics.java
Labels: component/zeebe

fix: avoid NPE and use correct metric name
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/BrokerClientMetricsImpl.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/BrokerRequestManager.java
Labels: component/zeebe

feat: support exporting metrics via OpenTelemetry
  dist/pom.xml
  dist/src/main/resources/application.properties
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: support dynatrace, prometheus, and otlp micrometer registries
  dist/pom.xml
  dist/src/main/java/io/camunda/zeebe/broker/BrokerModuleConfiguration.java
  dist/src/main/resources/application.properties
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/observability/MetricsConfigurationIT.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

test: ensure all known backends are correctly supported
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/observability/MetricsConfigurationIT.java
Labels: component/zeebe

style: apply auto formatting
  dist/pom.xml
  dist/src/main/java/io/camunda/zeebe/broker/BrokerModuleConfiguration.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

refactor: remove explicit dynatrace support; we will document it instead
  dist/pom.xml
  dist/src/main/resources/application.properties
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/observability/MetricsConfigurationIT.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

refactor: use new prometheus registry
  dist/pom.xml
  dist/src/main/java/io/camunda/application/commons/metrics/MetricsConfiguration.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

refactor: use new prometheus registry, not simpleclient based
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/observability/MetricsConfigurationIT.java
Labels: component/zeebe

deps: update C8 to use the new prometheus registry/client
  operate/webapp/pom.xml
  optimize/backend/pom.xml
  parent/pom.xml
  tasklist/webapp/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

test: fix broken string comparison as formatting changed when updating libraries
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/metric/MetricIT.java
Labels: component/tasklist

feat: support exporting metrics via OpenTelemetry
  dist/pom.xml
  dist/src/main/resources/application.properties
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

refactor: remove explicit dynatrace support; we will document it instead
  dist/pom.xml
  dist/src/main/resources/application.properties
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/observability/MetricsConfigurationIT.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: support dynatrace, prometheus, and otlp micrometer registries
  dist/pom.xml
  dist/src/main/java/io/camunda/zeebe/broker/BrokerModuleConfiguration.java
  dist/src/main/resources/application.properties
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/observability/MetricsConfigurationIT.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

test: ensure all known backends are correctly supported
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/observability/MetricsConfigurationIT.java
Labels: component/zeebe

style: apply auto formatting
  dist/pom.xml
  dist/src/main/java/io/camunda/zeebe/broker/BrokerModuleConfiguration.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

refactor: use new prometheus registry
  dist/pom.xml
  dist/src/main/java/io/camunda/application/commons/metrics/MetricsConfiguration.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/observability/MetricsConfigurationIT.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

deps: update C8 to use the new prometheus registry/client
  operate/webapp/pom.xml
  optimize/backend/pom.xml
  parent/pom.xml
  tasklist/webapp/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

test: fix broken string comparison as formatting changed when updating libraries
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/metric/MetricIT.java
Labels: component/tasklist

fix: ensure all meters have the same number of labels
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/es/RecordsReaderElasticSearch.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/os/RecordsReaderOpenSearch.java
Labels: component/tasklist

fix: ensure all meters have the same number of labels
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/es/RecordsReaderElasticSearch.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/os/RecordsReaderOpenSearch.java
Labels: component/tasklist

fix: fix double gauge registration via stateful gauge
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/SnapshotReplicationMetrics.java
Labels: component/zeebe

fix: avoid duplicate use of same metric
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/metrics/CheckpointMetrics.java
Labels: component/zeebe

fix: close metrics for roles
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/LeaderAppenderMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/SnapshotReplicationMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/LeaderAppender.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/PassiveRole.java
Labels: component/zeebe

refactor: use stateful gauges to avoid double registration
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftRoleMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftStartupMetrics.java
Labels: component/zeebe

refactor: use computeIfAbsent and log warning when gauge not previously created
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/metrics/BackupManagerMetrics.java
Labels: component/zeebe

fix: use singular method when passing a single tag
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/MessagingMetricsImpl.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/protocol/SwimMembershipProtocolMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftReplicationMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftServiceMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftStartupMetrics.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/metrics/CheckpointMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/metrics/ExecutionLatencyMetrics.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/metrics/TopologyManagerMetrics.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/ActorMetricsImpl.java
Labels: component/zeebe

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
