Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

fix: update the test browsers
  qa/core-application-e2e-test-suite/playwright.config.ts
  qa/core-application-e2e-test-suite/utils/.auth
Labels: none

refactor: rename Camunda Schema manager module
  schema-manager/pom.xml
Labels: none

fix: update Spring Boot to 3.3.10
  operate/pom.xml
Labels: component/operate

fix: distributed commands should fetch the group with ID
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupDeleteProcessor.java
Labels: component/zeebe

fix: Update the core application test suite path
  core-application-e2e-test-suite/utils/.auth
  qa/core-application-e2e-test-suite/.gitignore
  qa/core-application-e2e-test-suite/.nvmrc
  qa/core-application-e2e-test-suite/.prettierignore
  qa/core-application-e2e-test-suite/.prettierrc
  qa/core-application-e2e-test-suite/README.md
  qa/core-application-e2e-test-suite/config/docker-compose.yml
  qa/core-application-e2e-test-suite/config/envs/.env.database.elasticsearch
  qa/core-application-e2e-test-suite/eslint.config.js
  qa/core-application-e2e-test-suite/fixtures.ts
  qa/core-application-e2e-test-suite/license-header.js
  qa/core-application-e2e-test-suite/package-lock.json
  qa/core-application-e2e-test-suite/package.json
  qa/core-application-e2e-test-suite/pages/OperateHomePage.ts
  qa/core-application-e2e-test-suite/pages/OperateLoginPage.ts
  qa/core-application-e2e-test-suite/pages/OperateProcessInstancePage.ts
  qa/core-application-e2e-test-suite/pages/OperateProcessesPage.ts
  qa/core-application-e2e-test-suite/pages/TaskDetailsPage.ts
  qa/core-application-e2e-test-suite/pages/TaskListLoginPage.ts
  qa/core-application-e2e-test-suite/pages/TaskPanelPage.ts
  qa/core-application-e2e-test-suite/pages/UtilitiesPage.ts
  qa/core-application-e2e-test-suite/playwright.config.ts
  qa/core-application-e2e-test-suite/resources/Job_Worker_Process.bpmn
  qa/core-application-e2e-test-suite/resources/New Form.form
  qa/core-application-e2e-test-suite/resources/Start_Form_Process.bpmn
  qa/core-application-e2e-test-suite/resources/User_Task_Process_With_Form.bpmn
  qa/core-application-e2e-test-suite/resources/User_Task_Process_With_Form_API.bpmn
  qa/core-application-e2e-test-suite/resources/Variable_Process.bpmn
  qa/core-application-e2e-test-suite/resources/Zeebe_User_Task_Process.bpmn
  qa/core-application-e2e-test-suite/resources/Zeebe_User_Task_Process_With_Priority.bpmn
  qa/core-application-e2e-test-suite/runTest.js
  qa/core-application-e2e-test-suite/test-setup.ts
  qa/core-application-e2e-test-suite/tests/hto-user-flows.spec.ts
  qa/core-application-e2e-test-suite/tests/login.spec.ts
  qa/core-application-e2e-test-suite/tests/operate-api-tests.spec.ts
  qa/core-application-e2e-test-suite/tests/tasklist-api-tests.spec.ts
  qa/core-application-e2e-test-suite/tsconfig.json
  qa/core-application-e2e-test-suite/utils/apiHelpers.ts
  qa/core-application-e2e-test-suite/utils/sleep.ts
  qa/core-application-e2e-test-suite/utils/zeebeClient.ts
Labels: none

feat: create role with id and description
  service/src/main/java/io/camunda/service/RoleServices.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleController.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/role/BrokerRoleCreateRequest.java
Labels: component/zeebe

fix: disable migration due to compile issues
  migration/identity-migration/src/main/java/io/camunda/migration/identity/RoleMigrationHandler.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/RoleMigrationHandlerTest.java
Labels: none

test: fix broken RoleControllerTests
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleControllerTest.java
Labels: component/zeebe

test: verify role id validations
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleControllerTest.java
Labels: component/zeebe

refactor: use proper identity formatted id
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionIdempotencyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/CreateGroupMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/GroupTest.java
Labels: component/zeebe

fix: commit ignored auth file
  qa/core-application-e2e-test-suite/utils/.auth
Labels: none

feat: add group id to compact records
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
Labels: component/zeebe

feat: return entire role object
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
Labels: component/zeebe

test: verify creating a role returns full role
  service/src/test/java/io/camunda/service/RoleServicesTest.java
Labels: none

refactor: remove OperateIndexDescriptor and OperateTemplateDescriptor
  migration/process-migration/src/main/java/io/camunda/migration/process/adapter/MigrationRepositoryIndex.java
  migration/process-migration/src/test/java/io/camunda/migration/process/TestData.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/TestDynamicIndex.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/elasticsearch/ElasticsearchSchemaTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/opensearch/OpenSearchSchemaTestHelper.java
  operate/schema/src/main/java/io/camunda/operate/schema/indices/UserIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/OperateIndexDescriptor.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/OperateTemplateDescriptor.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/index/DecisionIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/index/DecisionRequirementsIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/index/ImportPositionIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/index/MetricIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/index/ProcessIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/BatchOperationTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/DecisionInstanceTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/EventTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/FlowNodeInstanceTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/IncidentTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/JobTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/ListViewTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/MessageTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/OperationTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/PostImporterQueueTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/SequenceFlowTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/VariableTemplate.java
Labels: component/operate

style: imports after rebase
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/ProcessDefinitionStatisticsFilterTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/ProcessInstanceFilterTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/query/ProcessDefinitionFlowNodeStatisticsQueryTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/query/ProcessDefinitionFlowNodeStatisticsQueryTransformerTest.java
Labels: none

refactor: move ProcessInstanceDependant to base package
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/ProcessInstanceWriterIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/store/ProcessStoreIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/dao/ProcessInstanceDaoIT.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchProcessStore.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchProcessStore.java
  operate/schema/src/test/java/io/camunda/operate/store/elasticsearch/ElasticsearchProcessStoreTest.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/VariableReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/writer/ProcessInstanceWriter.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/reader/OpensearchVariableReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/writer/OpensearchProcessInstanceWriter.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/ProcessInstanceDependant.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/DecisionInstanceTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/EventTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/FlowNodeInstanceTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/IncidentTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/JobTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/OperationTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/PostImporterQueueTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/SequenceFlowTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/SnapshotTaskVariableTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/TaskTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/VariableTemplate.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/BackgroundTaskManagerFactory.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/ProcessInstancesArchiverJob.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/ProcessInstancesArchiverJobTest.java
Labels: component/zeebe, component/operate

style: checkstyle
  dist/src/main/java/io/camunda/application/commons/backup/BackupPriorityConfiguration.java
  dist/src/main/java/io/camunda/application/commons/migration/PrefixMigrationHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/IndexTemplateDescriptorsConfigurator.java
  operate/schema/src/main/java/io/camunda/operate/schema/IndexTemplateDescriptorsConfigurator.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/IndexTemplateDescriptorsConfigurator.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/ServiceTransformers.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/UsageMetricsFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/UsageMetricsQueryTransformerTest.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/TasklistIndexTemplateDescriptorsConfigurator.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/VariableStore.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/elasticsearch/VariableStoreElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/opensearch/VariableStoreOpenSearch.java
  tasklist/els-schema/src/test/java/io/camunda/tasklist/store/elasticsearch/VariableStoreElasticSearchTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/ElasticsearchHelper.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/OpenSearchHelper.java
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/TasklistIndexTemplateDescriptorsConfigurator.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/IndexDescriptors.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: trigger a followup command with INTENT reconstruct to reconstruct another deployment
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/DeploymentReconstructProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/DeploymentReconstructProcessorTest.java
Labels: component/zeebe

ci: new github workflow for license analysis with FOSSA
  .fossa.yml
  .github/workflows/check-licenses.yml
  optimize/.fossa.yml
Labels: component/optimize, component/build-pipeline

build: bump optimize deps to 8.7.1-SNAPSHOT
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Labels: component/optimize

test: disable tests
  qa/integration-tests/src/test/java/io/camunda/it/auth/RoleSearchingAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CreateRoleTest.java
Labels: component/zeebe

fix: minimized with permissions: write-all
  .github/workflows/camunda-platform-release.yml
  .github/workflows/dispatch-release-8-6-28522.yaml
Labels: component/build-pipeline

feat: change get ampping api to use id
  search/search-domain/src/main/java/io/camunda/search/exception/ErrorMessages.java
  service/src/main/java/io/camunda/service/MappingServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingQueryControllerTest.java
Labels: component/zeebe

fix: merge get with delete api path
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

feat: set username on auth context for basic and oidc auth
  authentication/src/main/java/io/camunda/authentication/CamundaOidcUserService.java
  authentication/src/main/java/io/camunda/authentication/entity/CamundaUser.java
  authentication/src/main/java/io/camunda/authentication/service/OidcCamundaUserService.java
  authentication/src/test/java/io/camunda/authentication/CamundaOidcUserServiceTest.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/security/permission/PermissionsServiceTest.java
Labels: component/operate

feat: add username to configuration in support of simple mappings
  authentication/src/main/java/io/camunda/authentication/entity/AuthenticationContext.java
  security/security-core/src/main/java/io/camunda/security/configuration/OidcAuthenticationConfiguration.java
Labels: none

refactor: refactor after rebasing last main
  service/src/main/java/io/camunda/service/MappingServices.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingQueryControllerTest.java
Labels: component/zeebe

fix: adjust identity configuration construction
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/OAuthCredentialsProviderTest.java
Labels: component/zeebe

feat: implement a db value that stores an enum efficiently
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/impl/DbEnumValue.java
  zeebe/zb-db/src/test/java/io/camunda/zeebe/db/impl/DbEnumValueTest.java
Labels: component/zeebe

feat: do not allocate a String when the DirectBuffer is empty
  zeebe/util/src/main/java/io/camunda/zeebe/util/buffer/BufferUtil.java
Labels: component/zeebe

feat: reduce method size of BufferUtil.contentsEqual
  zeebe/util/src/main/java/io/camunda/zeebe/util/buffer/BufferUtil.java
Labels: component/zeebe

refactor: refactor after rebasing last main
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingQueryControllerTest.java
Labels: component/zeebe

fix: change hide limit for entity list pagination from 25 to 15
  identity/client/src/components/entityList/EntityList.tsx
Labels: component/identity

fix: minimized with token-from-vault-secrets
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

fix: minimized with token-from-vault-secrets and actions/checkout@v4
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

build: Fix SNAPSHOT version
  .github/workflows/optimize-release-optimize-c8-only.yml
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Labels: component/optimize, component/build-pipeline

fix: token-from-vault-secrets
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

build: Fix SNAPSHOT version
  .github/workflows/optimize-release-optimize-c8-only.yml
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Labels: component/optimize, component/build-pipeline

refactor: update to ES Java client 8.15.5
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/filter/AbstractProcessVariableQueryFilterES.java
  optimize/pom.xml
Labels: component/optimize
