Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

feat: group creation should accept groupId
  migration/identity-migration/src/test/java/io/camunda/migration/identity/UsersGroupMigrationHandlerTest.java
  service/src/main/java/io/camunda/service/GroupServices.java
  service/src/test/java/io/camunda/service/GroupServiceTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/GroupRequestValidator.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/group/BrokerGroupCreateRequest.java
Labels: component/zeebe

feat: switch from groupKey to groupId the api specification
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

fix: disable group migration
  migration/identity-migration/src/main/java/io/camunda/migration/identity/GroupMigrationHandler.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/GroupMigrationHandlerTest.java
Labels: none

test: verify groupId value in the request
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupControllerTest.java
Labels: component/zeebe

feat: return the full group as response
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
Labels: component/zeebe

test: disable qa integration tests
  migration/identity-migration/src/main/java/io/camunda/migration/identity/GroupMigrationHandler.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/GroupRequestValidator.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AssignUserToGroupTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AssignUserToTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CreateGroupTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/DeleteGroupTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UnassignUserFromGroupTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UpdateGroupTest.java
Labels: component/zeebe

refactor: use IdentifierPatterns to verify the groupId
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/GroupRequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupControllerTest.java
Labels: component/zeebe

test: disable test
  qa/integration-tests/src/test/java/io/camunda/it/auth/GroupSearchingAuthorizationIT.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/GroupRequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupControllerTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AssignGroupToTenantTest.java
Labels: component/zeebe

feat: add group description property
  migration/identity-migration/src/test/java/io/camunda/migration/identity/GroupMigrationHandlerTest.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/UsersGroupMigrationHandlerTest.java
  service/src/main/java/io/camunda/service/GroupServices.java
  service/src/test/java/io/camunda/service/GroupServiceTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/group/BrokerGroupCreateRequest.java
Labels: component/zeebe

fix: removed flaky test
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/cache/ProcessCacheTest.java
Labels: component/zeebe

refactor: send to the broker description and groupId
  service/src/test/java/io/camunda/service/GroupServiceTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/group/BrokerGroupCreateRequest.java
Labels: component/zeebe

refactor: tenant controller test cases use mapping ids for assignment
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantControllerTest.java
Labels: component/zeebe

fix: update mapper to state operation field
  db/rdbms/src/main/resources/mapper/FlowNodeInstanceMapper.xml
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceQueryTest.java
Labels: none

refactor: align tenant assignment error codes and msgs in engine test cases
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/tenant/AddEntityTenantTest.java
Labels: component/zeebe

ci: prepare for custom-release-8.7.0-rc3
  .github/workflows/camunda-platform-release.yml
  release.properties
Labels: component/build-pipeline

refactor: use group ID to delete a group instead of the key
  service/src/main/java/io/camunda/service/GroupServices.java
  service/src/test/java/io/camunda/service/GroupServiceTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/group/BrokerGroupDeleteRequest.java
Labels: component/zeebe

feat: make exporter distributionInterval configurable
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/BrokerCfg.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/ExportingCfg.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ExporterDirectorPartitionTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/configuration/ExporterConfigurationTest.java
  zeebe/broker/src/test/resources/system/exporters.yaml
Labels: component/zeebe

test: reduce test execution
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/SnapshotAfterScalingTest.java
Labels: component/zeebe

test: remove test flakiness
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/SnapshotAfterScalingTest.java
Labels: component/zeebe

refactor: simplify UserTaskCancelProcessor#onFinalizeCommand
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/UserTaskCommandProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskCancelProcessor.java
Labels: component/zeebe

fix: update unit tests
  clients/java/src/main/java/io/camunda/client/impl/search/filter/ProcessInstanceFilterImpl.java
  clients/java/src/test/java/io/camunda/client/flownodeinstance/FlownodeInstanceTest.java
Labels: component/zeebe

feat: modify MappingMapper.xml to work with mapping id
  authentication/src/main/java/io/camunda/authentication/CamundaOidcUserService.java
  authentication/src/main/java/io/camunda/authentication/entity/CamundaOidcUser.java
  authentication/src/test/java/io/camunda/authentication/CamundaOidcUserServiceTest.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/columns/MappingSearchColumn.java
  db/rdbms/src/main/resources/mapper/MappingMapper.xml
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/entity/MappingEntityTransformer.java
  search/search-domain/src/main/java/io/camunda/search/entities/MappingEntity.java
  search/search-domain/src/main/java/io/camunda/search/filter/MappingFilter.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingQueryControllerTest.java
Labels: component/zeebe

feat: migrate MAPPINGS PK from mappingKey to string ID
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/MappingReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/MappingWriter.java
  db/rdbms/src/main/resources/mapper/MappingMapper.xml
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/mapping/MappingIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/exporter/RdbmsExporterIT.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/MappingExportHandler.java
Labels: component/zeebe

feat: rename id of mapping to mappingId
  authentication/src/main/java/io/camunda/authentication/CamundaOidcUserService.java
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/MappingReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/columns/MappingSearchColumn.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/MappingDbModel.java
  db/rdbms/src/main/resources/mapper/MappingMapper.xml
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/MappingFixtures.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/mapping/MappingIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/exporter/RdbmsExporterIT.java
  search/search-domain/src/main/java/io/camunda/search/entities/MappingEntity.java
  search/search-domain/src/main/java/io/camunda/search/filter/MappingFilter.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/index/camunda-mapping.json
  webapps-schema/src/main/resources/schema/opensearch/create/index/camunda-mapping.json
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/MappingExportHandler.java
Labels: component/zeebe

feat: use mapping ids instead keys in the CamundaOidcUserService
  authentication/src/main/java/io/camunda/authentication/CamundaOidcUserService.java
Labels: none

build: document the new -Dquickly behavior
  CONTRIBUTING.md
Labels: none

feat: throw IllegalStateException when accessing an uninitialized field in BrokerInfo
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/encoding/BrokerInfo.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/BrokerInfoTest.java
Labels: component/zeebe

ci: exclude optimize react 18 from renovate update
  .github/renovate.json
  optimize/client/src/modules/components/Select/Select.tsx
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

test: remove the engine from these tests
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorMultiTenancyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorTest.java
Labels: component/zeebe

test: await topology
  qa/integration-tests/src/test/java/io/camunda/it/migration/ElasticsearchUpdateRegressionTest.java
Labels: none

feat: remove most .join() calls in IncidentUpdateTask
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/BackgroundTaskManagerFactory.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/AdditionalData.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/IncidentUpdateTask.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepositoryTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepositoryTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/incident/IncidentUpdateTaskTest.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/impl/stream/JobStreamConsumerTest.java
Labels: component/zeebe

feat: use util functions from FuturesUtils to tasks sequentially
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/IncidentUpdateRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/IncidentUpdateTask.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/concurrency/FuturesUtil.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/concurrent/FuturesUtilTest.java
Labels: component/zeebe

fix: fix false positive spotbugs report
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/IncidentUpdateTask.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/incident/IncidentUpdateTaskTest.java
Labels: component/zeebe

style: format
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/incident/IncidentUpdateTaskTest.java
Labels: component/zeebe

fix: do not throw a NullPointerException when the firstSegment is null
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournal.java
Labels: component/zeebe

feat: graceful shutdown of archiver tasks if possible
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/BackgroundTaskManager.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/BackgroundTaskManagerFactory.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/ReschedulingTask.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/RunnableTask.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/ApplyRolloverPeriodJob.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/IncidentUpdateTask.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/BackgroundTaskManagerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/ReschedulingTaskTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/incident/IncidentUpdateTaskTest.java
Labels: component/zeebe

fix: Append follow up event that signals activated/terminated for ProcessInstanceBatch
  engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceBatchActivateProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceBatchTerminateProcessor.java
Labels: none

feat: Add terminated and activated event intents for ProcessInstanceBatch
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/ProcessInstanceBatchIntent.java
Labels: none

refactor: Use forEachChild filter in ProcessingInstanceBatchTerminate
  engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceBatchTerminateProcessor.java
Labels: none

fix: Append follow up event that signals activated/terminated for ProcessInstanceBatch
  engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceBatchActivateProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceBatchTerminateProcessor.java
Labels: none

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
