Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

deps: update spring security and spring boot versions
  optimize/backend/pom.xml
  optimize/pom.xml
Labels: component/optimize

test: fix flaky test
  qa/integration-tests/src/test/java/io/camunda/it/client/IncidentSearchTest.java
Labels: none

deps: update spring security and spring boot versions
  optimize/backend/pom.xml
  optimize/pom.xml
Labels: component/optimize

feat: store roleId and description in PersistedRole
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbRoleState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/PersistedRole.java
Labels: component/zeebe

feat: switch from key to role id
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/RoleCreateProcessor.java
Labels: component/zeebe

test: fix RoleStateTest
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/RoleStateTest.java
Labels: component/zeebe

test: fix role creation test
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/role/RoleTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/RoleClient.java
Labels: component/zeebe

test: temporarily disable broken tests
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/role/RoleTest.java
Labels: component/zeebe

fix: do not throw a NullPointerException when the firstSegment is null
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournal.java
Labels: none

fix: do not throw a NullPointerException when the firstSegment is null
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournal.java
Labels: component/zeebe

fix: do not throw a NullPointerException when the firstSegment is null
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournal.java
Labels: component/zeebe

fix: do not throw a NullPointerException when the firstSegment is null
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournal.java
Labels: component/zeebe

fix: use correct client methods
  clients/java/src/test/java/io/camunda/client/process/QueryProcessInstanceTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/DecisionInstanceSearchTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceSearchTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/VariableSearchTest.java
Labels: component/zeebe

feat: remove CDN as font path
  operate/client/src/index.scss
Labels: component/operate

test: use timeout when verifying command response writer behavior
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/resource/ResourceFetchTest.java
Labels: component/zeebe

feat: change delete mapping api to use mapping id
  service/src/main/java/io/camunda/service/MappingServices.java
  service/src/test/java/io/camunda/service/MappingServicesTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerMappingDeleteRequest.java
Labels: component/zeebe

fix: fix test
  service/src/test/java/io/camunda/service/MappingServicesTest.java
Labels: none

fix: do not throw a NullPointerException when the firstSegment is null
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournal.java
Labels: component/zeebe

feat: add errorMessage to protocol
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

feat: add filter field for process instance in ES
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceSearchTest.java
Labels: none

feat: add filter field for process instance in ES
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/query/SearchQueryBuilders.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/ProcessInstanceFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/ProcessInstanceQueryTransformerTest.java
  search/search-domain/src/main/java/io/camunda/search/filter/ProcessInstanceFilter.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceQueryControllerTest.java
Labels: component/zeebe

refactor: simplify sql mapper
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceSearchTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/query/SearchQueryBuilders.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/ProcessInstanceFilterTransformer.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
Labels: component/zeebe

refactor: remove use of first operator on list
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
Labels: none

test: adjust parameters for failing test
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceSearchTest.java
Labels: none

refactor: align filtering between ES and RDBMS
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
Labels: none

feat: add Java client implementaion
  clients/java/src/main/java/io/camunda/client/api/search/filter/ProcessInstanceFilter.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/ProcessInstanceFilterImpl.java
  clients/java/src/test/java/io/camunda/client/process/QueryProcessInstanceTest.java
Labels: component/zeebe

feat: add rdbms implementation
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
Labels: none

feat: add integration tests
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceSearchTest.java
Labels: none

fix: merge api yaml
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

fix: adding a tmp workflow to test the env is correct for the c8run nightly build
  .github/workflows/c8run-slack-alert-env-testing-delete-me.yaml
Labels: component/build-pipeline

test: use Bpmn API instead of xml process definition
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/PersistedClusterTopologyTest.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestCluster.java
Labels: component/zeebe

ci: Add workflow for running tests on commits and nightly basis
  .github/actions/core-application-e2e-test-suite/action.yml
  .github/workflows/core-application-e2e-tests-nightly.yml
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

ci: install docker Compose
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: debug workflow
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: debug wokflow
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: fix logs on starting tasklist and operate
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: remove branch
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: debug workflow
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: add logs to setting up the services
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

ci: debug worfklow
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
