Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

test: provide a request id so that response is not ignored
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorTest.java
Labels: none

fix: don't try to write responses without request id
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/BufferedProcessingResultBuilder.java
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorTest.java
Labels: none

fix: don't try to write responses without request id
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/BufferedProcessingResultBuilder.java
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorTest.java
Labels: none

test: provide a request id so that response is not ignored
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorTest.java
Labels: none

fix: don't try to write responses without request id
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/BufferedProcessingResultBuilder.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorTest.java
Labels: component/zeebe

test: provide a request id so that response is not ignored
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorTest.java
Labels: component/zeebe

fix: don't try to write responses without request id
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/BufferedProcessingResultBuilder.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorTest.java
Labels: component/zeebe

test: provide a request id so that response is not ignored
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorTest.java
Labels: component/zeebe

fix: don't try to write responses without request id
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/BufferedProcessingResultBuilder.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorTest.java
Labels: component/zeebe

refactor: remove actor control methods from ProcessingScheduleService interface
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/AsyncSchedulePool.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/ProcessingScheduleService.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ExtendedProcessingScheduleServiceImpl.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/ExtendedProcessingScheduleServiceImplTest.java
Labels: component/zeebe

fix: flaky ElasticsearchUpdateRegressionTest[shouldBeAbleToUpdateAndExport]
  qa/util/src/main/java/io/camunda/qa/util/multidb/MultiDbConfigurator.java
  qa/util/src/test/java/io/camunda/qa/util/multidb/MultiDbConfiguratorTest.java
Labels: none

fix: fix test
  service/src/test/java/io/camunda/service/MappingServicesTest.java
Labels: none

feat: Add terminated and activated event intents for ProcessInstanceBatch
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/ProcessInstanceBatchIntent.java
Labels: component/zeebe

fix: Append follow up event that signals activated/terminated for ProcessInstanceBatch
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceBatchActivateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceBatchTerminateProcessor.java
Labels: component/zeebe

refactor: Convert to looping mechanism for ProcessInstanceBatchActivator
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceBatchActivateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceBatchTerminateProcessor.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/processing/MultiInstanceLargeInputCollectionTest.java
Labels: component/zeebe

feat: Add filter to ElementInstanceState#forEachChild
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/ElementInstanceState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/DbElementInstanceState.java
Labels: component/zeebe

style: apply spotless
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/DbElementInstanceState.java
Labels: component/zeebe

test: re-align event order
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/escalation/EscalationEventTest.java
Labels: component/zeebe

refactor: use early return
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceBatchTerminateProcessor.java
Labels: component/zeebe

refactor: Use forEachChild filter in ProcessingInstanceBatchTerminate
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceBatchTerminateProcessor.java
Labels: component/zeebe

fix: always write terminated at end
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceBatchTerminateProcessor.java
Labels: component/zeebe

feat: add new RecordValue and Intent for activating activities in a ad-hoc subprocess instance
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/ValueTypeMapping.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/AdHocSubProcessActivityActivationIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/Intent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AdHocSubProcessActivityActivationRecordValue.java
  zeebe/protocol/src/main/resources/protocol.xml
Labels: component/zeebe

refactor: throw ForbiddenException when authorization is rejected
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
Labels: component/zeebe

feat: check authorization when processing command to activate ad-hoc subprocess activity
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
Labels: component/zeebe

feat: configure adHocSubProcessActivityActivation record to be exported to Elasticsearch
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporterConfiguration.java
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-ad-hoc-sub-process-activity-activation-template.json
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/TestSupport.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: implement processor to process AdHocSubProcessActivityActivate commands
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/adhocsubprocess/ActivateAdHocSubProcessActivityTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/RecordToWrite.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/AdHocSubProcessActivityActivationRecordStream.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/RecordingExporter.java
Labels: component/zeebe

test: add short-circuit to activate adhoc subprocess activity record stream
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/adhocsubprocess/ActivateAdHocSubProcessActivityTest.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/AdHocSubProcessActivityActivationRecordStream.java
Labels: component/zeebe

feat: configure adHocSubProcessActivityActivation record to be exported to OpenSearch
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterConfiguration.java
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-ad-hoc-sub-process-activity-activation-template.json
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestSupport.java
Labels: component/zeebe

fix: write the correct rejection type according to specific activate adhoc activity exception
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
Labels: component/zeebe

feat: configure AdHocSubProcessActivityActivation Intent and ValueType to be events
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/TypedEventRegistry.java
Labels: component/zeebe

refactor: extract ad-hoc subprocess activity activation command validations into separate methods
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
Labels: component/zeebe

fix: add mapping to get ValueType index for ad-hoc subprocess activity activation to tasklist integration tests
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TestSupport.java
Labels: component/tasklist

refactor: inline BpmnModelInstance creation in setUp method
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/adhocsubprocess/ActivateAdHocSubProcessActivityTest.java
Labels: component/zeebe

fix: add mapping to get ValueType index for ad-hoc subprocess activity activation to operate integartion test
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/TestSupport.java
Labels: component/operate

feat: add record which will be processed to activate an ad-hoc subprocess activity
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestReader.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/adhocsubprocess/AdHocSubProcessActivityActivationFlowNode.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/adhocsubprocess/AdHocSubProcessActivityActivationRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
Labels: component/zeebe

refactor: rename `flow node` to `element` in ad-hoc subprocess activity activation use case
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/adhocsubprocess/ActivateAdHocSubProcessActivityTest.java
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-ad-hoc-sub-process-activity-activation-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-ad-hoc-sub-process-activity-activation-template.json
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/adhocsubprocess/AdHocSubProcessActivityActivationElement.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/adhocsubprocess/AdHocSubProcessActivityActivationRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AdHocSubProcessActivityActivationRecordValue.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
Labels: component/zeebe

refactor: append rejection if unauthorized instead of throwing an exception
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
Labels: component/zeebe

refactor: append rejection instead of throwing exceptions when asserting invariants
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessActivityActivateProcessor.java
Labels: component/zeebe

refactor: rename tenantIdProp to tenantId to be consistent with the other property names
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/adhocsubprocess/AdHocSubProcessActivityActivationRecord.java
Labels: component/zeebe

refactor: remove memoization of intent variants and introduce switch-statement to get enum variant from short value
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/AdHocSubProcessActivityActivationIntent.java
Labels: component/zeebe
