Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

test: replace variables helper function by Map.of in ad-hoc subprocess test
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
Labels: component/zeebe

test: improve ad-hoc subprocess test setup (better descriptions, naming, assertions)
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
Labels: component/zeebe

feat: change cancelRemainingInstances attribute on ad-hoc subprocess to default to true
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/impl/instance/AdHocSubProcessImpl.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/builder/AdHocSubProcessBuilderTest.java
Labels: component/zeebe

fix: rebase changes for flaky test fix
  qa/integration-tests/src/test/java/io/camunda/it/migration/PrefixMigrationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/PrefixMigrationOSIT.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/PrefixMigrationHelper.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/util/PrefixMigrationITUtils.java
Labels: none

fix: pass controller test
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingControllerTest.java
Labels: component/zeebe

fix: modify desc in rest-api
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

test: avoid concurrent modification error
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/observability/MetricsConfigurationIT.java
Labels: component/zeebe

test: add Zeebe backup steps in StandaloneBackupManagerTest
  qa/integration-tests/pom.xml
  qa/integration-tests/src/test/java/io/camunda/it/StandaloneBackupManagerTest.java
Labels: none

feat: Limit search in result collector
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/CamundaDataSource.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/testresult/CamundaProcessTestResultCollector.java
Labels: none

feat: Print process instance state
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/testresult/CamundaProcessTestResultPrinter.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/impl/testresult/CamundaProcessResultPrinterTest.java
Labels: none

test: Adjust mocking behavior in test cases
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/impl/testresult/CamundaProcessResultCollectorTest.java
Labels: none

feat: Set process instance in result DTO
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/testresult/CamundaProcessTestResultCollector.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/testresult/CamundaProcessTestResultPrinter.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/testresult/ProcessInstanceResult.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/impl/testresult/CamundaProcessResultCollectorTest.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/impl/testresult/CamundaProcessResultPrinterTest.java
Labels: none

feat: add default values to resource record properties
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/deployment/ResourceRecord.java
Labels: component/zeebe

feat: allow to fetch resources anonymously
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/resource/ResourceFetchProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/multitenancy/TenantAwareResourceFetchTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/ResourceFetchClient.java
Labels: component/zeebe

test: add tests for fetching resources
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/multitenancy/TenantAwareResourceFetchTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/resource/ResourceFetchTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/ResourceFetchClient.java
Labels: component/zeebe

feat: add new command processor that fetches resources from Zeebe state
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/resource/ResourceFetchProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/deployment/ResourceRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/ResourceIntent.java
Labels: component/zeebe

feat: add authorization check for fetching resources
  security/security-core/src/main/java/io/camunda/zeebe/protocol/record/value/AuthorizationResourceType.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/resource/ResourceFetchProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/resource/ResourceFetchAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/ResourceFetchClient.java
Labels: component/zeebe

feat: Moving Operate Properties
  configuration/src/main/java/io/camunda/config/operate/AlertingProperties.java
  configuration/src/main/java/io/camunda/config/operate/Auth0Properties.java
  configuration/src/main/java/io/camunda/config/operate/BackupProperties.java
  configuration/src/main/java/io/camunda/config/operate/CloudProperties.java
  configuration/src/main/java/io/camunda/config/operate/ClusterNodeProperties.java
  configuration/src/main/java/io/camunda/config/operate/ElasticsearchProperties.java
  configuration/src/main/java/io/camunda/config/operate/IdentityProperties.java
  configuration/src/main/java/io/camunda/config/operate/ImportProperties.java
  configuration/src/main/java/io/camunda/config/operate/LdapProperties.java
  configuration/src/main/java/io/camunda/config/operate/OAuthClientProperties.java
  configuration/src/main/java/io/camunda/config/operate/OpensearchProperties.java
  configuration/src/main/java/io/camunda/config/operate/OperateElasticsearchProperties.java
  configuration/src/main/java/io/camunda/config/operate/OperateOpensearchProperties.java
  configuration/src/main/java/io/camunda/config/operate/OperateProperties.java
  configuration/src/main/java/io/camunda/config/operate/OperationExecutorProperties.java
  configuration/src/main/java/io/camunda/config/operate/SslProperties.java
  configuration/src/main/java/io/camunda/config/operate/WebSecurityProperties.java
  configuration/src/main/java/io/camunda/config/operate/ZeebeElasticsearchProperties.java
  configuration/src/main/java/io/camunda/config/operate/ZeebeOpensearchProperties.java
  configuration/src/main/java/io/camunda/config/operate/ZeebeProperties.java
  operate/common/pom.xml
  operate/common/src/main/java/io/camunda/operate/connect/OperateDateTimeFormatter.java
  operate/pom.xml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/elasticsearch/TestElasticsearchConnector.java
Labels: component/operate

test: avoid concurrent modification error
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/observability/MetricsConfigurationIT.java
Labels: component/zeebe

test: avoid concurrent modification error
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/observability/MetricsConfigurationIT.java
Labels: component/zeebe

build: optimize is a dedicated app
  .github/workflows/ci.yml
  .github/workflows/optimize-ci-build-reusable.yml
  .github/workflows/optimize-ci.yml
  .github/workflows/optimize-e2e-tests-sm.yml
  .github/workflows/zeebe-aws-os-dispatch-tests.yml
  dist/src/main/java/io/camunda/application/Profile.java
  dist/src/main/java/io/camunda/application/StandaloneOptimize.java
  dist/src/main/java/io/camunda/optimize/OptimizeModuleConfiguration.java
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/backend/src/it/java/io/camunda/optimize/AbstractIT.java
  optimize/backend/src/main/java/io/camunda/optimize/Main.java
  optimize/backend/src/main/java/io/camunda/optimize/OptimizeTomcatConfig.java
  optimize/backend/src/main/java/io/camunda/optimize/tomcat/CCSMRequestAdjustmentFilter.java
  optimize/backend/src/main/java/io/camunda/optimize/tomcat/ExternalResourcesUtil.java
  optimize/client/pom.xml
  optimize/client/scripts/start-backend.js
  optimize/client/vite.config.ts
  optimize/docker-compose.ccsm-with-optimize.yml
  optimize/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/optimize-commons/src/main/resources/service-config.yaml
  pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

build: adjust server of static resources
  optimize/backend/src/main/java/io/camunda/optimize/tomcat/CCSMRequestAdjustmentFilter.java
  optimize/backend/src/main/java/io/camunda/optimize/tomcat/ExternalResourcesUtil.java
  optimize/docker-compose.ccsm-with-optimize.yml
  optimize/docker-compose.ccsm-without-optimize.yml
Labels: component/optimize

fix: fix openapi lint
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

build: small adjustments in POM
  optimize/pom.xml
Labels: component/optimize

test: fix query and set proper delays
  http/identity-tenant-regression-test.http
Labels: none

build: small adjustments in POM
  optimize/backend/src/main/java/io/camunda/optimize/tomcat/ExternalResourcesUtil.java
  optimize/pom.xml
Labels: component/optimize

ci: sunset the scheduled tasklist backup restore workflow
  .github/workflows/tasklist-backup-restore-tests-reusable.yml
  .github/workflows/tasklist-backup-restore-tests.yml
  tasklist/qa/backup-restore-tests/README.md
  tasklist/qa/backup-restore-tests/pom.xml
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/BackupRestoreTest.java
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/BackupRestoreTestContext.java
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/TasklistAPICaller.java
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/generator/AbstractBackupRestoreDataGenerator.java
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/generator/BackupRestoreDataGenerator.java
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/generator/BackupRestoreDataGeneratorElasticSearch.java
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/generator/BackupRestoreDataGeneratorOpenSearch.java
  tasklist/qa/backup-restore-tests/src/test/resources/get-all-tasks.graphql
  tasklist/qa/backup-restore-tests/src/test/resources/get-tasks-by-query.graphql
  tasklist/qa/backup-restore-tests/src/test/resources/log4j2.xml
  tasklist/qa/pom.xml
Labels: component/tasklist, component/build-pipeline

ci: remove the slack notification
  .github/workflows/tasklist-backup-restore-tests-reusable.yml
Labels: component/tasklist, component/build-pipeline

feat: Moving Operate Properties
  configuration/pom.xml
  configuration/src/main/java/io/camunda/config/operate/ElasticsearchProperties.java
  configuration/src/main/java/io/camunda/config/operate/OpensearchProperties.java
  configuration/src/main/java/io/camunda/config/operate/OperateProperties.java
  operate/common/src/main/java/io/camunda/operate/connect/ElasticsearchConnector.java
  operate/common/src/main/java/io/camunda/operate/connect/OpensearchConnector.java
Labels: component/operate

BACKPORT-CONFLICT
  .github/workflows/optimize-e2e-tests-sm.yml
Labels: component/optimize, component/build-pipeline

BACKPORT-CONFLICT
  .github/workflows/optimize-e2e-tests-sm.yml
  optimize/client/package.json
Labels: component/optimize, component/build-pipeline

fix: fix dep
  authentication/pom.xml
Labels: none

feat: Moving Operate Properties
  operate/common/src/main/java/io/camunda/operate/zeebe/PartitionHolder.java
  operate/common/src/main/java/io/camunda/operate/zeebe/ZeebeConnector.java
Labels: component/operate

feat: Moving Operate Properties
  operate/common/src/test/java/io/camunda/operate/connect/ElasticsearchConnectorTest.java
  operate/common/src/test/java/io/camunda/operate/connect/OpensearchConnectorTest.java
  operate/common/src/test/java/io/camunda/operate/connect/OperateDateTimeFormatterTest.java
Labels: component/operate

build: introduce Optimize SSL configuration
  optimize/backend/src/main/java/io/camunda/optimize/OptimizeTomcatConfig.java
Labels: component/optimize

test: create ES regrestion test
  qa/integration-tests/src/test/java/io/camunda/it/migration/ElasticsearchUpdateRegressionTest.java
Labels: none

build: bump ES version
  parent/pom.xml
  zeebe/engine/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

refactor: make use of new DeleteAction
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/elasticsearch/ElasticsearchEngineClient.java
Labels: component/zeebe

fix: use untyped range query
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/transformers/query/RangeQueryTransformer.java
Labels: none

refactor: make use of dated range query
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepository.java
Labels: component/zeebe
