Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

feat: add new search client for batch operations #29703
  search/search-client/src/main/java/io/camunda/search/clients/BatchOperationSearchClient.java
  search/search-domain/src/main/java/io/camunda/search/entities/BatchOperationEntity.java
  search/search-domain/src/main/java/io/camunda/search/filter/BatchOperationFilter.java
  search/search-domain/src/main/java/io/camunda/search/filter/FilterBuilders.java
  search/search-domain/src/main/java/io/camunda/search/query/BatchOperationQuery.java
  search/search-domain/src/main/java/io/camunda/search/query/SearchQueryBuilders.java
  search/search-domain/src/main/java/io/camunda/search/sort/BatchOperationSort.java
  search/search-domain/src/main/java/io/camunda/search/sort/SortOptionBuilders.java
Labels: none

feat: add endpoint to cancel process instances via batch operation #29703
  search/search-domain/src/main/java/io/camunda/search/filter/ProcessInstanceFilter.java
  service/src/main/java/io/camunda/service/ProcessInstanceServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerCancelBatchOperationRequest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerCreateBatchOperationRequest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerPauseBatchOperationRequest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerResumeBatchOperationRequest.java
Labels: component/zeebe

feat: add new endpoint to gateway to monitor and control batch operations #29703
  dist/src/main/java/io/camunda/application/commons/service/CamundaServicesConfiguration.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/SearchClients.java
  search/search-client-rdbms/src/main/java/io/camunda/search/rdbms/RdbmsSearchClient.java
  search/search-domain/src/main/java/io/camunda/search/query/BatchOperationQuery.java
  search/search-domain/src/main/java/io/camunda/search/sort/BatchOperationSort.java
  search/search-domain/src/main/java/io/camunda/search/sort/SortOptionBuilders.java
  service/src/main/java/io/camunda/service/BatchOperationServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQuerySortRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/BatchOperationController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/BatchOperationControllerTest.java
  zeebe/gateway/pom.xml
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerCancelBatchOperationRequest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerCreateBatchOperationRequest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerPauseBatchOperationRequest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerResumeBatchOperationRequest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: add mapping id to search query and response
  authentication/src/test/java/io/camunda/authentication/CamundaOidcUserServiceTest.java
  search/search-domain/src/main/java/io/camunda/search/entities/MappingEntity.java
  search/search-domain/src/main/java/io/camunda/search/filter/MappingFilter.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingQueryControllerTest.java
Labels: component/zeebe

feat: add new batch operation search client #29700
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/SearchClients.java
  search/search-client-rdbms/src/main/java/io/camunda/search/rdbms/RdbmsSearchClient.java
  search/search-client/src/main/java/io/camunda/search/clients/BatchOperationSearchClient.java
  search/search-domain/src/main/java/io/camunda/search/entities/BatchOperationEntity.java
  search/search-domain/src/main/java/io/camunda/search/filter/BatchOperationFilter.java
  search/search-domain/src/main/java/io/camunda/search/filter/FilterBuilders.java
  search/search-domain/src/main/java/io/camunda/search/query/BatchOperationQuery.java
  search/search-domain/src/main/java/io/camunda/search/query/SearchQueryBuilders.java
  search/search-domain/src/main/java/io/camunda/search/sort/BatchOperationSort.java
  search/search-domain/src/main/java/io/camunda/search/sort/SortOptionBuilders.java
Labels: none

refactor: use jar instead of zip
  .github/actions/sign-and-notarize/sign_all_mach_o_and_jars.sh
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

fix: pushd + popd
  .github/actions/sign-and-notarize/sign_all_mach_o_and_jars.sh
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/build-pipeline

refactor: move synchronized access to private methods
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCache.java
Labels: component/zeebe

test: unignore E2E tests
  operate/client/e2e-playwright/tests/batchMoveModification.spec.ts
  operate/client/e2e-playwright/tests/childProcessInstanceMigration.spec.ts
  operate/client/e2e-playwright/tests/operations.spec.ts
  operate/client/e2e-playwright/tests/processInstanceMigration.spec.ts
Labels: component/operate

test: update process instance migration E2E tests
  operate/client/e2e-playwright/tests/processInstanceMigration.spec.ts
Labels: component/operate

test: increase timeout for operations
  operate/client/e2e-playwright/tests/operations.spec.ts
Labels: component/operate

ci: reject updates using merge commits
  .github/workflows/reject-updates-using-merge-commit.yml
Labels: component/build-pipeline

ci: checkout blobless
  .github/workflows/reject-updates-using-merge-commit.yml
Labels: component/build-pipeline

ci: fetch commits up to merge base
  .github/workflows/reject-updates-using-merge-commit.yml
Labels: component/build-pipeline

ci: attempt full history blobless checkout
  .github/workflows/reject-updates-using-merge-commit.yml
Labels: component/build-pipeline

refactor: use explicit vars
  .github/workflows/reject-updates-using-merge-commit.yml
Labels: component/build-pipeline

ci: output step summary
  .github/workflows/reject-updates-using-merge-commit.yml
Labels: component/build-pipeline

ci: improve the error message
  .github/workflows/reject-updates-using-merge-commit.yml
Labels: component/build-pipeline

perf: rollback only locks cache once
  broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCache.java
  broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedScheduledCommandCache.java
Labels: none

fix: don't pollute the command cache
  broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedScheduledCommandCache.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/ScheduledCommandCache.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceImpl.java
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/TestScheduledCommandCache.java
Labels: none

perf: avoid singleton set when caching a single key
  broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCache.java
  broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedScheduledCommandCache.java
  broker/src/test/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCacheTest.java
Labels: none

refactor: move synchronized access to private methods
  broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCache.java
Labels: none

test: verify bulk add and remove on command cache
  broker/src/test/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCacheTest.java
Labels: none

test: verify bulk add and remove on command cache
  broker/src/test/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCacheTest.java
Labels: none

perf: avoid singleton set when caching a single key
  broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCache.java
  broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedScheduledCommandCache.java
  broker/src/test/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCacheTest.java
Labels: none

fix: don't pollute the command cache
  broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedScheduledCommandCache.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/ScheduledCommandCache.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceImpl.java
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/TestScheduledCommandCache.java
Labels: none

perf: rollback only locks cache once
  broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCache.java
  broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedScheduledCommandCache.java
Labels: none

refactor: move synchronized access to private methods
  broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCache.java
Labels: none

perf: avoid singleton set when caching a single key
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCache.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedScheduledCommandCache.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCacheTest.java
Labels: component/zeebe

fix: don't pollute the command cache
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedScheduledCommandCache.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/ScheduledCommandCache.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceImpl.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/TestScheduledCommandCache.java
Labels: component/zeebe

test: verify bulk add and remove on command cache
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCacheTest.java
Labels: component/zeebe

perf: rollback only locks cache once
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCache.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedScheduledCommandCache.java
Labels: component/zeebe

refactor: move synchronized access to private methods
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCache.java
Labels: component/zeebe

test: verify bulk add and remove on command cache
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCacheTest.java
Labels: component/zeebe

fix: don't pollute the command cache
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedScheduledCommandCache.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/ScheduledCommandCache.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceImpl.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/TestScheduledCommandCache.java
Labels: component/zeebe

refactor: move synchronized access to private methods
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCache.java
Labels: component/zeebe

perf: avoid singleton set when caching a single key
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCache.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedScheduledCommandCache.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCacheTest.java
Labels: component/zeebe

perf: rollback only locks cache once
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCache.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedScheduledCommandCache.java
Labels: component/zeebe

perf: avoid singleton set when caching a single key
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCache.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedScheduledCommandCache.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCacheTest.java
Labels: component/zeebe

perf: rollback only locks cache once
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCache.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedScheduledCommandCache.java
Labels: component/zeebe

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
