Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

fix: fix import assertion
  qa/core-application-e2e-test-suite/README.md
  qa/core-application-e2e-test-suite/runTest.js
Labels: none

fix: fix eslint
  qa/core-application-e2e-test-suite/.eslintignore
  qa/core-application-e2e-test-suite/.eslintrc.cjs
  qa/core-application-e2e-test-suite/eslint.config.js
  qa/core-application-e2e-test-suite/package-lock.json
  qa/core-application-e2e-test-suite/package.json
  qa/core-application-e2e-test-suite/pages/8.6/OperateProcessInstancePage.ts
  qa/core-application-e2e-test-suite/pages/8.6/OperateProcessesPage.ts
  qa/core-application-e2e-test-suite/pages/8.6/TaskDetailsPage.ts
  qa/core-application-e2e-test-suite/pages/8.6/TaskPanelPage.ts
  qa/core-application-e2e-test-suite/pages/8.6/UtilitiesPage.ts
  qa/core-application-e2e-test-suite/pages/8.7/OperateProcessInstancePage.ts
  qa/core-application-e2e-test-suite/pages/8.7/OperateProcessesPage.ts
  qa/core-application-e2e-test-suite/pages/8.7/TaskDetailsPage.ts
  qa/core-application-e2e-test-suite/pages/8.7/TaskPanelPage.ts
  qa/core-application-e2e-test-suite/pages/8.7/UtilitiesPage.ts
  qa/core-application-e2e-test-suite/pages/8.8/OperateHomePage.ts
  qa/core-application-e2e-test-suite/pages/8.8/OperateProcessInstancePage.ts
  qa/core-application-e2e-test-suite/pages/8.8/OperateProcessesPage.ts
  qa/core-application-e2e-test-suite/pages/8.8/TaskDetailsPage.ts
  qa/core-application-e2e-test-suite/pages/8.8/TaskPanelPage.ts
  qa/core-application-e2e-test-suite/pages/8.8/UtilitiesPage.ts
  qa/core-application-e2e-test-suite/test-setup.ts
  qa/core-application-e2e-test-suite/tests/8.6/login.spec.ts
  qa/core-application-e2e-test-suite/tests/8.6/operate-api-tests.spec.ts
  qa/core-application-e2e-test-suite/tests/8.6/tasklist-api-tests.spec.ts
  qa/core-application-e2e-test-suite/tests/8.7/login.spec.ts
  qa/core-application-e2e-test-suite/tests/8.7/operate-api-tests.spec.ts
  qa/core-application-e2e-test-suite/tests/8.7/tasklist-api-tests.spec.ts
  qa/core-application-e2e-test-suite/tests/8.8/hto-user-flows.spec.ts
  qa/core-application-e2e-test-suite/tests/8.8/login.spec.ts
  qa/core-application-e2e-test-suite/utils/apiHelpers.ts
Labels: none

feat: add license validation
  qa/core-application-e2e-test-suite/eslint.config.js
  qa/core-application-e2e-test-suite/license-header.js
  qa/core-application-e2e-test-suite/package-lock.json
  qa/core-application-e2e-test-suite/package.json
  qa/core-application-e2e-test-suite/pages/8.6/OperateHomePage.ts
  qa/core-application-e2e-test-suite/pages/8.6/OperateLoginPage.ts
  qa/core-application-e2e-test-suite/pages/8.6/OperateProcessInstancePage.ts
  qa/core-application-e2e-test-suite/pages/8.6/OperateProcessesPage.ts
  qa/core-application-e2e-test-suite/pages/8.6/TaskDetailsPage.ts
  qa/core-application-e2e-test-suite/pages/8.6/TaskListLoginPage.ts
  qa/core-application-e2e-test-suite/pages/8.7/OperateHomePage.ts
  qa/core-application-e2e-test-suite/pages/8.7/OperateLoginPage.ts
  qa/core-application-e2e-test-suite/pages/8.7/OperateProcessInstancePage.ts
  qa/core-application-e2e-test-suite/pages/8.7/OperateProcessesPage.ts
  qa/core-application-e2e-test-suite/pages/8.7/TaskDetailsPage.ts
  qa/core-application-e2e-test-suite/pages/8.7/TaskListLoginPage.ts
  qa/core-application-e2e-test-suite/pages/8.8/OperateHomePage.ts
  qa/core-application-e2e-test-suite/pages/8.8/OperateLoginPage.ts
  qa/core-application-e2e-test-suite/pages/8.8/OperateProcessInstancePage.ts
  qa/core-application-e2e-test-suite/pages/8.8/OperateProcessesPage.ts
  qa/core-application-e2e-test-suite/pages/8.8/TaskDetailsPage.ts
  qa/core-application-e2e-test-suite/pages/8.8/TaskListLoginPage.ts
  qa/core-application-e2e-test-suite/runTest.js
  qa/core-application-e2e-test-suite/test-setup.ts
  qa/core-application-e2e-test-suite/tests/8.6/hto-user-flows.spec.ts
  qa/core-application-e2e-test-suite/tests/8.6/login.spec.ts
  qa/core-application-e2e-test-suite/tests/8.6/operate-api-tests.spec.ts
  qa/core-application-e2e-test-suite/tests/8.6/tasklist-api-tests.spec.ts
  qa/core-application-e2e-test-suite/tests/8.7/hto-user-flows.spec.ts
  qa/core-application-e2e-test-suite/tests/8.7/login.spec.ts
  qa/core-application-e2e-test-suite/tests/8.7/operate-api-tests.spec.ts
  qa/core-application-e2e-test-suite/tests/8.7/tasklist-api-tests.spec.ts
  qa/core-application-e2e-test-suite/tests/8.8/hto-user-flows.spec.ts
  qa/core-application-e2e-test-suite/tests/8.8/login.spec.ts
  qa/core-application-e2e-test-suite/utils/apiHelpers.ts
  qa/core-application-e2e-test-suite/utils/zeebeClient.ts
Labels: none

test: update visual regression test for listener tab always visible
  operate/client/e2e-playwright/visual/modifications.spec.ts-snapshots/modifications-diagram-badges-and-flow-node-instance-history-panel---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/modifications.spec.ts-snapshots/modifications-diagram-badges-and-flow-node-instance-history-panel---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/modifications.spec.ts-snapshots/modifications-with-add-variable-state---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/modifications.spec.ts-snapshots/modifications-with-add-variable-state---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-add-variable-state---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-add-variable-state---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-compensation-process-instance---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-compensation-process-instance---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-completed-instance---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-completed-instance---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-edit-variable-state---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-edit-variable-state---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-error-page---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-error-page---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-instance-with-incident---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-instance-with-incident---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-running-instance---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-running-instance---light-1-chromium-linux.png
Labels: component/operate

fix: use global prefix in TaskTemplate
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/ElasticsearchUserTaskReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/reader/OpensearchUserTaskReader.java
Labels: component/operate

fix: update e2e tests and remove unnecessary assertions
  operate/client/e2e-playwright/tests/processInstanceListeners.spec.ts
Labels: component/operate

feat: make listeners tab always visible, hide filter when element is not user task
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/Listeners/index.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/Listeners/styled.ts
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/index.tsx
  operate/client/src/App/ProcessInstance/index.tsx
  operate/client/src/App/ProcessInstance/styled.tsx
  operate/client/src/modules/stores/processInstanceListeners.ts
Labels: component/operate

style: modify styles for listener tab panel
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/Listeners/styled.ts
Labels: component/operate

test: fix broken test for variables panel
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/tests/index.test.tsx
Labels: component/operate

fix: correct BE port used, fix e2e listener filter test
  operate/client/e2e-playwright/tests/processInstanceListeners.spec.ts
  operate/client/package.json
Labels: component/operate

fix: remove unnecessary if case
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/Listeners/index.tsx
Labels: component/operate

refactor: remove concurrency checks from 8.7 and 8.6 importer
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/v8_6/processors/EventZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/v8_6/processors/ImportBulkProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/v8_6/processors/IncidentZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/v8_6/processors/JobZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/v8_6/processors/ListViewZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/v8_6/processors/VariableZeebeRecordProcessor.java
  operate/importer-8_7/src/main/java/io/camunda/operate/zeebeimport/processors/EventZeebeRecordProcessor.java
  operate/importer-8_7/src/main/java/io/camunda/operate/zeebeimport/processors/ImportBulkProcessor.java
  operate/importer-8_7/src/main/java/io/camunda/operate/zeebeimport/processors/IncidentZeebeRecordProcessor.java
  operate/importer-8_7/src/main/java/io/camunda/operate/zeebeimport/processors/JobZeebeRecordProcessor.java
  operate/importer-8_7/src/main/java/io/camunda/operate/zeebeimport/processors/ListViewZeebeRecordProcessor.java
  operate/importer-8_7/src/main/java/io/camunda/operate/zeebeimport/processors/VariableZeebeRecordProcessor.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/ImportPositionHolder.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/ImportStoreIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/EventZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/IncidentZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/JobZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/ListViewZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/VariableZeebeRecordProcessorIT.java
  operate/schema/src/main/java/io/camunda/operate/schema/indices/ImportPositionIndex.java
  operate/schema/src/main/java/io/camunda/operate/store/ImportStore.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchImportStore.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchImportStore.java
Labels: component/operate

fix: remove concurrency checks from importer 8.6 and 8.5
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/v8_5/processors/EventZeebeRecordProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/v8_5/processors/ImportBulkProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/v8_5/processors/IncidentZeebeRecordProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/v8_5/processors/ListViewZeebeRecordProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/v8_5/processors/VariableZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/EventZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/ImportBulkProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/IncidentZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/JobZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/ListViewZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/VariableZeebeRecordProcessor.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/ImportPositionHolder.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/ImportStoreIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/EventZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/IncidentZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/JobZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/ListViewZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/VariableZeebeRecordProcessorIT.java
  operate/schema/src/main/java/io/camunda/operate/schema/indices/ImportPositionIndex.java
  operate/schema/src/main/java/io/camunda/operate/store/ImportStore.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchImportStore.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchImportStore.java
Labels: component/operate

test: remove concurrency mode tests
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/EventZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/IncidentZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/ListViewZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/VariableZeebeRecordProcessorIT.java
Labels: component/operate

test: remove concurrency mode tests
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/EventZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/IncidentZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/ListViewZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/VariableZeebeRecordProcessorIT.java
Labels: component/operate

feat: setup TanStack Query for Operate
  operate/client/package.json
  operate/client/src/modules/api/v2/processInstances/fetchProcessInstancesStatistics.ts
  operate/client/src/modules/mock-server/handlers.ts
  operate/client/src/modules/mocks/api/v2/processInstances/fetchProcessInstancesStatistics.ts
  operate/client/src/modules/queries/useProcessInstancesStatistics.test.tsx
  operate/client/src/modules/queries/useProcessInstancesStatistics.tsx
  operate/client/src/modules/request/index.ts
Labels: component/operate

refactor: better error handling and mocking
  operate/client/src/modules/api/v2/processInstances/fetchProcessInstancesStatistics.ts
  operate/client/src/modules/mock-server/handlers.ts
  operate/client/src/modules/queries/processInstancesStatistics/useProcessInstancesStatistics.tsx
  operate/client/src/modules/queries/useProcessInstancesStatistics.test.tsx
  operate/client/src/modules/react-query/mockQueryClient.ts
  operate/client/src/modules/request/index.ts
  operate/client/yarn.lock
Labels: component/operate

wip: refactor looping for ProcessInstanceBatchTerminate
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceBatchTerminateProcessor.java
Labels: component/zeebe

fix: apply style
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/MappingIntent.java
Labels: component/zeebe

feature: Add filter to ElementInstanceState#forEachChild
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/ElementInstanceState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/DbElementInstanceState.java
Labels: component/zeebe

refactor: Use forEachChild filter in ProcessingInstanceBatchTerminate
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceBatchTerminateProcessor.java
Labels: component/zeebe

feat: validate user task lifecycle state when updating task variables
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableDocumentUpdateProcessor.java
Labels: component/zeebe

fix: Return detail for batch upload failures
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
Labels: component/zeebe

fix: populate storeId in batch upload doc response
  service/src/main/java/io/camunda/service/DocumentServices.java
  service/src/test/java/io/camunda/service/DocumentServicesTest.java
Labels: none

fix: add test for mapping state
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/MappingStateTest.java
Labels: component/zeebe

refactor: introduce task listener test helper
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerBlockedTransitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerCorrectionsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerDataAccessTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerDenialsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerIncidentsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTestHelper.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerVariablesTest.java
Labels: component/zeebe

fix: REST API Exceptions improvements
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RestErrorMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ErrorMapperTest.java
Labels: component/zeebe

fix: REST API Exceptions improvements
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/clients/ElasticsearchSearchClient.java
  search/search-client-elasticsearch/src/test/java/io/camunda/search/es/clients/ElasticsearchSearchClientTest.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/clients/OpensearchSearchClient.java
  search/search-client-opensearch/src/test/java/io/camunda/search/os/clients/OpensearchSearchClientTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/SearchClientBasedQueryExecutor.java
  search/search-domain/src/main/java/io/camunda/search/exception/CamundaSearchException.java
  search/search-domain/src/main/java/io/camunda/search/exception/NotFoundException.java
  search/search-domain/src/main/java/io/camunda/search/exception/SearchQueryExecutionException.java
  search/search-domain/src/main/java/io/camunda/util/ExceptionUtil.java
  service/src/main/java/io/camunda/service/AdHocSubprocessActivityServices.java
  service/src/main/java/io/camunda/service/DecisionInstanceServices.java
  service/src/main/java/io/camunda/service/FormServices.java
  service/src/main/java/io/camunda/service/GroupServices.java
  service/src/main/java/io/camunda/service/MappingServices.java
  service/src/main/java/io/camunda/service/RoleServices.java
  service/src/main/java/io/camunda/service/TenantServices.java
  service/src/main/java/io/camunda/service/search/core/SearchQueryService.java
  service/src/test/java/io/camunda/service/AdHocSubprocessActivityServicesTest.java
  service/src/test/java/io/camunda/service/DecisionDefinitionServiceTest.java
  service/src/test/java/io/camunda/service/MappingServicesTest.java
  service/src/test/java/io/camunda/service/ProcessInstanceServiceTest.java
  service/src/test/java/io/camunda/service/TenantServiceTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RestErrorMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/AdHocSubprocessActivityControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DecisionDefinitionQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DecisionInstanceQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DecisionRequirementsQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/FlowNodeInstanceQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/IncidentQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessDefinitionQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserTaskQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/VariablesQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleQueryControllerTest.java
Labels: component/zeebe

fix: REST API Exceptions improvements
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RestErrorMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ErrorMapperTest.java
Labels: component/zeebe

fix: REST API Exceptions improvements
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RestErrorMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ErrorMapperTest.java
Labels: component/zeebe

fix: REST API Exceptions improvements
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RestErrorMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ErrorMapperTest.java
Labels: component/zeebe

fix: REST API Exceptions improvements
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RestErrorMapper.java
Labels: component/zeebe

fix: REST API Exceptions improvements
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ErrorMapperTest.java
Labels: component/zeebe

fix: REST API Exceptions improvements
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/clients/ElasticsearchSearchClient.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/clients/OpensearchSearchClient.java
  search/search-domain/src/main/java/io/camunda/search/exception/CamundaSearchException.java
  search/search-domain/src/main/java/io/camunda/search/exception/ErrorMessages.java
  service/src/main/java/io/camunda/service/AdHocSubprocessActivityServices.java
  service/src/main/java/io/camunda/service/FormServices.java
  service/src/main/java/io/camunda/service/GroupServices.java
  service/src/main/java/io/camunda/service/MappingServices.java
  service/src/main/java/io/camunda/service/RoleServices.java
  service/src/main/java/io/camunda/service/TenantServices.java
  service/src/main/java/io/camunda/service/search/core/SearchQueryService.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RestErrorMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ErrorMapperTest.java
Labels: component/zeebe

fix: REST API Exceptions improvements
  search/search-domain/src/main/java/io/camunda/search/exception/CamundaSearchException.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RestErrorMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ErrorMapperTest.java
Labels: component/zeebe

refactor: don't pass engine rule as parameter
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
Labels: component/zeebe

refactor: make helper methods non-static
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
Labels: component/zeebe

feat: Migrate DiagramPanel to PI statistics v2
  operate/client/package.json
  operate/client/src/App/Processes/ListView/DiagramPanel/v2/index.test.tsx
  operate/client/src/App/Processes/ListView/DiagramPanel/v2/index.tsx
  operate/client/src/App/Processes/ListView/index.tsx
  operate/client/src/App/index.tsx
  operate/client/src/modules/feature-flags.ts
  operate/client/src/modules/queries/processInstancesStatistics/useBatchModificationOverlay.test.tsx
  operate/client/src/modules/queries/processInstancesStatistics/useBatchModificationOverlayData.ts
  operate/client/src/modules/queries/processInstancesStatistics/useOverlayData.test.tsx
  operate/client/src/modules/queries/processInstancesStatistics/useOverlayData.ts
  operate/client/src/modules/queries/processInstancesStatistics/useProcessInstancesStatistics.tsx
  operate/client/src/modules/react-query/ReactQueryProvider.tsx
  operate/client/src/modules/testUtils.tsx
  operate/client/yarn.lock
Labels: component/operate

feat: batch operations / rdbms - monitor rejected cancellations
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/ProcessInstanceBatchOperationExportHandler.java
Labels: component/zeebe

refactor: remove unused variable
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RestErrorMapper.java
Labels: component/zeebe
