Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

feat: rename id to mappingId in client and rest-api
  clients/java/src/main/java/io/camunda/client/api/command/CreateMappingCommandStep1.java
  clients/java/src/main/java/io/camunda/client/impl/command/CreateMappingCommandImpl.java
  clients/java/src/test/java/io/camunda/client/mapping/CreateMappingTest.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/MappingAuthorizationIT.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/MappingValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingControllerTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/OidcAuthOverGrpcIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/OidcAuthOverRestIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AssignMappingToTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CreateMappingTest.java
Labels: component/zeebe

feat: rename id to mappingId in web client
  identity/client/src/pages/groups/detail/mappings/AssignMappingsModal.tsx
  identity/client/src/pages/groups/detail/mappings/DeleteModal.tsx
  identity/client/src/pages/mappings/modals/AddModal.tsx
  identity/client/src/pages/roles/detail/mappings/AssignMappingsModal.tsx
  identity/client/src/pages/roles/detail/mappings/DeleteModal.tsx
  identity/client/src/pages/tenants/detail/mappings/AssignMappingsModal.tsx
  identity/client/src/pages/tenants/detail/mappings/DeleteModal.tsx
  identity/client/src/utility/api/groups/index.ts
  identity/client/src/utility/api/mappings/index.ts
  identity/client/src/utility/api/roles/index.ts
  identity/client/src/utility/api/tenants/index.ts
Labels: component/identity

feat: set `assignee` from user task properties in `BpmnUserTaskBehavior`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnUserTaskBehavior.java
Labels: component/zeebe

fix: minimized with macos-latest and git pull --rebase
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

fix: minimized with windows-latest
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

feat: change the update group api spec
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

feat: switch from key to group id in the update endpoint
  service/src/main/java/io/camunda/service/GroupServices.java
  service/src/test/java/io/camunda/service/GroupServiceTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/group/BrokerGroupUpdateRequest.java
Labels: component/zeebe

feat: add description validation on group update
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/GroupRequestValidator.java
Labels: component/zeebe

refactor: change update endpoint from patch to put
  clients/java/src/main/java/io/camunda/client/api/response/UpdateGroupResponse.java
  clients/java/src/main/java/io/camunda/client/impl/command/UpdateGroupCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/UpdateGroupResponseImpl.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupControllerTest.java
Labels: component/zeebe

test: verify update group service method correctly
  clients/java/src/main/java/io/camunda/client/api/response/UpdateGroupResponse.java
  clients/java/src/main/java/io/camunda/client/impl/command/UpdateGroupCommandImpl.java
  service/src/test/java/io/camunda/service/GroupServiceTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupControllerTest.java
Labels: component/zeebe

fix: correctly parse long
  service/src/main/java/io/camunda/service/GroupServices.java
Labels: none

fix: adjust specification
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

refactor: change GroupState to be id-based
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/group/DbGroupState.java
Labels: component/zeebe

refactor: add method to get groups by ID
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/group/DbGroupState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/GroupState.java
Labels: component/zeebe

test: disable and remove not used test
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/GroupTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/GroupAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/group/GroupStateTest.java
Labels: component/zeebe

refactor: remove getting groups by name
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupUpdateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantAddEntityProcessor.java
Labels: component/zeebe

fix: adjust crete group processor
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupCreateProcessor.java
Labels: component/zeebe

refactor: change http verb to put
  clients/java/src/main/java/io/camunda/client/impl/command/AssignUserToGroupCommandImpl.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupControllerTest.java
Labels: component/zeebe

refactor: users can be assigned/unassigned to groups by groupId and username
  migration/identity-migration/src/main/java/io/camunda/migration/identity/UsersGroupMigrationHandler.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/UsersGroupMigrationHandlerTest.java
  service/src/main/java/io/camunda/service/GroupServices.java
  service/src/test/java/io/camunda/service/GroupServiceTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/group/BrokerGroupMemberRequest.java
Labels: component/zeebe

feat: introduce OAuthContext to integrate mapping handling for oidc and jwt
  authentication/src/main/java/io/camunda/authentication/CamundaJwtAuthenticationConverter.java
  authentication/src/main/java/io/camunda/authentication/CamundaJwtAuthenticationToken.java
  authentication/src/main/java/io/camunda/authentication/CamundaOAuthPrincipalService.java
  authentication/src/main/java/io/camunda/authentication/CamundaOidcUserService.java
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/entity/CamundaJwtUser.java
  authentication/src/main/java/io/camunda/authentication/entity/CamundaOAuthPrincipal.java
  authentication/src/main/java/io/camunda/authentication/entity/CamundaOidcUser.java
  authentication/src/main/java/io/camunda/authentication/entity/OAuthContext.java
  security/security-services/src/main/java/io/camunda/security/impl/AuthorizationChecker.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
Labels: component/zeebe

feat: implement mapping for the datatypes on gateway rest
  clients/java/src/main/java/io/camunda/client/impl/search/response/SearchResponseMapper.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
Labels: component/zeebe

feat: apply changes to the client and make type enum
  clients/java/src/main/java/io/camunda/client/api/search/response/SearchResponsePage.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/SearchResponseMapper.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/SearchResponsePageImpl.java
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessDefinitionSearchTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
Labels: component/zeebe

feat: add to the request the page object
  clients/java/src/main/java/io/camunda/client/api/search/request/SearchRequestPage.java
  clients/java/src/main/java/io/camunda/client/api/search/response/SearchResponsePage.java
  clients/java/src/main/java/io/camunda/client/impl/search/request/SearchRequestPageImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/SearchResponsePageImpl.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
Labels: component/zeebe

refactor: add github issue link
  migration/identity-migration/src/main/java/io/camunda/migration/identity/UsersGroupMigrationHandler.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/UsersGroupMigrationHandlerTest.java
Labels: none

test: update the test classes
  clients/java/src/test/java/io/camunda/client/incident/SearchIncidentTest.java
  clients/java/src/test/java/io/camunda/client/process/QueryProcessDefinitionTest.java
  clients/java/src/test/java/io/camunda/client/process/QueryProcessInstanceTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/DecisionSearchTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/IncidentSearchTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessDefinitionSearchTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceSearchTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/UserTaskSearchTest.java
Labels: component/zeebe

fix: move serializer without gson lib
  qa/integration-tests/src/test/java/io/camunda/it/client/UserTaskSearchTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
Labels: component/zeebe

fix: openSearch exception
  qa/integration-tests/src/test/java/io/camunda/it/client/UserTaskSearchTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
Labels: component/zeebe

fix: renameMethod serializeValueToString
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
Labels: component/zeebe

test: fix unit tests
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserTaskQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/VariablesQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingQueryControllerTest.java
Labels: component/zeebe

test: use timeout when verifying command response writer behavior
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/resource/ResourceFetchTest.java
Labels: component/zeebe

feat: add feature flag for v2 mode
  tasklist/client/src/App.tsx
  tasklist/client/src/common/featureFlags.tsx
Labels: component/tasklist

feat: add layout routing for v2
  tasklist/client/src/App.tsx
  tasklist/client/src/common/components/Layout/C3Provider.tsx
  tasklist/client/src/common/components/Layout/Header/index.tsx
  tasklist/client/src/common/components/Layout/Header/styles.module.scss
  tasklist/client/src/common/components/Layout/Header/tests/appSwitcher.test.tsx
  tasklist/client/src/common/components/Layout/Header/tests/index.test.tsx
  tasklist/client/src/common/components/Layout/Header/tests/infoBar.test.tsx
  tasklist/client/src/common/components/Layout/Header/tests/licenseNotice.test.tsx
  tasklist/client/src/common/components/Layout/Header/tests/mocks.tsx
  tasklist/client/src/common/components/Layout/Header/tests/userInfo.test.tsx
  tasklist/client/src/common/components/Layout/OSNotifications.tsx
  tasklist/client/src/common/components/Layout/index.tsx
  tasklist/client/src/common/tasks/next-task/useAutoSelectNextTask.ts
  tasklist/client/src/common/tracking/index.tsx
  tasklist/client/src/v1/Tasks/AvailableTasks/Task/index.tsx
  tasklist/client/src/v1/Tasks/AvailableTasks/index.tsx
  tasklist/client/src/v1/Tasks/CollapsiblePanel/index.tsx
  tasklist/client/src/v1/Tasks/EmptyPage/index.tsx
  tasklist/client/src/v1/Tasks/Filters/index.tsx
  tasklist/client/src/v1/Tasks/Task/index.tsx
  tasklist/client/src/v1/Tasks/index.tsx
  tasklist/client/src/v1/api/getQueryVariables.tsx
  tasklist/client/src/v1/api/useTasks.query.tsx
  tasklist/client/src/v1/features/tasks/filters/useTaskFilters.ts
  tasklist/client/src/v2/api/getQueryVariables.tsx
  tasklist/client/src/v2/api/index.ts
  tasklist/client/src/v2/api/useTasks.query.ts
  tasklist/client/src/v2/features/tasks/filters/useTaskFilters.ts
Labels: component/tasklist

fix: fix feature flag usage
  tasklist/client/src/common/config/getClientConfig.ts
Labels: component/tasklist

refactor: unify the useTasks return format
  tasklist/client/src/v1/api/useTasks.query.tsx
  tasklist/client/src/v2/api/useTasks.query.ts
Labels: component/tasklist

fix: proxy only post requests on local dev
  tasklist/client/vite.config.ts
Labels: component/tasklist

refactor: remove unnecessary nesting
  tasklist/client/src/v1/C3Provider.tsx
  tasklist/client/src/v1/Processes/NewProcessInstanceTasksPolling.tsx
  tasklist/client/src/v1/api/index.ts
  tasklist/client/src/v1/api/useAllVariables.query.tsx
  tasklist/client/src/v1/api/useAssignTask.mutation.tsx
  tasklist/client/src/v1/api/useCompleteTask.mutation.tsx
  tasklist/client/src/v1/api/useExternalForm.query.tsx
  tasklist/client/src/v1/api/useForm.query.tsx
  tasklist/client/src/v1/api/useProcessDefinition.query.tsx
  tasklist/client/src/v1/api/useProcessInstances.query.tsx
  tasklist/client/src/v1/api/useProcesses.query.tsx
  tasklist/client/src/v1/api/useStartExternalProcess.mutation.tsx
  tasklist/client/src/v1/api/useStartProcess.mutation.tsx
  tasklist/client/src/v1/api/useTask.query.tsx
  tasklist/client/src/v1/api/useTasks.query.tsx
  tasklist/client/src/v1/api/useUnassignTask.mutation.tsx
  tasklist/client/src/v1/api/useVariables.query.tsx
Labels: component/tasklist

refactor: centralize feature flag
  tasklist/client/src/App.tsx
  tasklist/client/src/common/config/getClientConfig.ts
Labels: component/tasklist

test: update remain unit tests with new page format
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DecisionDefinitionQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DecisionInstanceQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DecisionRequirementsQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/FlowNodeInstanceQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/IncidentQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessDefinitionQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/VariablesQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/AuthorizationQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserQueryControllerTest.java
Labels: component/zeebe

feat: added AWS OS 2.17
  .github/workflows/zeebe-aws-os-dispatch-tests.yml
Labels: component/zeebe, component/build-pipeline

feat: add env configuration adapted for vite and IS_OIDC variable
  identity/client/src/configuration/env.ts
  identity/client/src/configuration/index.ts
Labels: component/identity
