Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8-api, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8-api:
  - changed-files:
      - any-glob-to-any-file:
          - 'zeebe/gateway-protocol/src/main/proto/rest-api.yaml'
          - 'zeebe/gateway-rest/**'
# hint on changes done to the deprecated java client, and that might need to applied to the supported client
deprecated-client:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'clients/java/src/main/java/io/camunda/zeebe/**'
              - 'clients/java/src/test/java/io/camunda/zeebe/**'
      - base-branch: 'main' # TODO replace with 'backport stable/8.8' in https://github.com/camunda/camunda/issues/26820
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

test: broaden scope of VisibleForTestingUsageTest to cover the entire codebase
  zeebe/util/pom.xml
Labels: component/zeebe

test: broaden scope of VisibleForTestingUsageTest to cover the entire codebase
  zeebe/util/pom.xml
Labels: component/zeebe

test: broaden scope of VisibleForTestingUsageTest to cover the entire codebase
  zeebe/util/pom.xml
Labels: component/zeebe

fix: Create correct gashes for uploaded files
  document/store/src/main/java/io/camunda/document/store/gcp/GcpDocumentStore.java
Labels: none

refactor: improve readability of http client exceptions
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClientFactory.java
Labels: component/zeebe

test: set correct rest api url in tests
  clients/java/src/test/java/io/camunda/zeebe/client/ZeebeClientTest.java
Labels: component/zeebe

test: fix failing tests
  operate/common/src/test/java/io/camunda/operate/connect/OpensearchConnectorTest.java
  tasklist/common/src/test/java/io/camunda/tasklist/os/OpensearchConnectorTest.java
Labels: component/operate, component/tasklist

refactor: add comments as suggested in code review
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientBuilderImpl.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/ZeebeClientConfigurationProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/common/ZeebeClientProperties.java
Labels: component/zeebe

refactor: add validation on rest and grpc address properties
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientBuilder.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientBuilderImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClientFactory.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/ZeebeClientConfigurationProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/common/ZeebeClientProperties.java
Labels: component/zeebe

fix: rename 403 and apply new style
  authentication/src/main/java/io/camunda/authentication/filters/WebApplicationAuthorizationCheckFilter.java
  identity/client/src/App.tsx
  identity/client/src/components/global/AppRoot.tsx
  identity/client/src/pages/errors/403.tsx
  identity/client/src/pages/forbidden/index.tsx
Labels: component/identity

test: tasklist property parse test
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/properties/PropertiesTest.java
  tasklist/qa/integration-tests/src/test/resources/config/application-test-properties.yml
Labels: component/tasklist

refactor: extract empty batches
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/FinishedImportingIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/OpensearchFinishedImportingIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchFinishedImportingIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpensearchFinishedImportingIT.java
Labels: component/operate, component/tasklist

test: fix failing unit tests
  operate/common/src/test/java/io/camunda/operate/connect/OpensearchConnectorTest.java
  parent/pom.xml
  tasklist/common/src/test/java/io/camunda/tasklist/os/OpensearchConnectorTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

ci: add job posting daily flaky test statistics to Slack
  .github/workflows/statistics-daily.yml
Labels: component/build-pipeline

ci: prepare release of 8.7.0-alpha5-rc1
  .github/workflows/camunda-platform-release.yml
  release.properties
Labels: component/build-pipeline

test: apply review hint
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/IndexOldSchemaValidatorIT.java
Labels: component/operate
