Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

refactor: Inline failure messages
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/ElementAssertj.java
Labels: none

refactor: Rename variable
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/ElementAssertj.java
Labels: none

refactor: Split assertion in untilAsserted()
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/ElementAssertj.java
Labels: none

feat: Allow to verify zero element instances
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/ElementAssertj.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/ElementAssertTest.java
Labels: none

ci: Amending templates based on feedback
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/task.yml
Labels: none

ci: Fixing labeling based on new fields
  .github/opened_issue_labeler.yml
Labels: none

fix: minimized
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

feat: trigger first `creating` TL on task creation
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/UserTaskProcessor.java
Labels: component/zeebe

feat: added `unsetAssignee` method
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/usertask/UserTaskRecord.java
Labels: component/zeebe

test: re-align event order
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
Labels: component/zeebe

ci: ES IT timeout set back to 10m
  .github/workflows/ci.yml
Labels: component/build-pipeline

feat: Add filter to ElementInstanceState#forEachChild
  engine/src/main/java/io/camunda/zeebe/engine/state/immutable/ElementInstanceState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/instance/DbElementInstanceState.java
Labels: none

refactor: Use forEachChild filter in ProcessingInstanceBatchTerminate
  engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceBatchTerminateProcessor.java
Labels: none

refactor: Convert to looping mechanism for ProcessInstanceBatchActivator
  engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceBatchActivateProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceBatchTerminateProcessor.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/processing/MultiInstanceLargeInputCollectionTest.java
Labels: none

refactor: use early return
  engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceBatchTerminateProcessor.java
Labels: none

test: re-align event order
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/escalation/EscalationEventTest.java
Labels: none

style: apply spotless
  engine/src/main/java/io/camunda/zeebe/engine/state/instance/DbElementInstanceState.java
Labels: none

fix: always write terminated at end
  engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceBatchTerminateProcessor.java
Labels: none

test: terminated is now always written
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/boundary/BoundaryEventTest.java
Labels: none

build: replace unsupported Collection methods by the language level
  engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceBatchTerminateProcessor.java
Labels: none

feat: adding details about the runnning application
  c8run/.gitignore
  c8run/main.go
Labels: component/c8run

fix: minimized with fetch-depth: 0, fetch-tags: true and git fsck
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

fix: Corrected ExecutionListenerTest, removed unnecessary exception declarations
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/JunitExtensionTest.java
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/api/CamundaProcessTestExecutionListener.java
  testing/camunda-process-test-spring/src/test/java/io/camunda/process/test/api/ExecutionListenerTest.java
Labels: none

refactor: use standardized nomenclature
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/CamundaProcessTestExtension.java
Labels: none

feat: managementClient queries /topology for the latest changeId, keep containerRuntime alive in java CPT
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/CamundaProcessTestExtension.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/CamundaDataSource.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/client/CamundaManagementClient.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/client/purge/MinimalLastChangeDto.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/client/purge/MinimalTopologyResponseDto.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/extension/CamundaProcessTestContextImpl.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/CamundaProcessTestExtensionIT.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/JunitExtensionTest.java
Labels: none

feat: implemented cluster purge in spring test context
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/CamundaProcessTestExtension.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/CamundaDataSource.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/client/CamundaManagementClient.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/client/purge/MinimalLastChangeDto.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/extension/CamundaProcessTestContextImpl.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/CamundaProcessTestExtensionIT.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/JunitExtensionTest.java
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/api/CamundaProcessTestExecutionListener.java
Labels: none

test: Assert user task properties
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/CamundaProcessTestExtensionIT.java
Labels: none

fix: adjust remaining number types to strings in the API
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateDocumentBatchCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateDocumentCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentMetadataImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/util/ParseUtil.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/util/KeyUtil.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DocumentControllerTest.java
Labels: component/zeebe

feat: use document number key objects in client & gateway-rest
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateDocumentBatchCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateDocumentCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentMetadataImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentReferenceBatchResponseImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentReferenceResponseImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/util/DocumentBuilder.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/util/ParseUtil.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/DocumentController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/util/KeyUtil.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/DocumentValidator.java
Labels: component/zeebe

fix: resolve double formatting
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DocumentControllerTest.java
Labels: component/zeebe

fix: resolve double formatting & test name
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DocumentControllerTest.java
Labels: component/zeebe

feat: add document batch test
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DocumentControllerTest.java
Labels: component/zeebe

BACKPORT-CONFLICT
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateDocumentBatchCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateDocumentCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentMetadataImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/util/ParseUtil.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/util/KeyUtil.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DocumentControllerTest.java
Labels: component/zeebe

refactor: remove unused CF
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/ProcessExecutionCleanStateTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
Labels: component/zeebe

fix: check for existing role by id
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/IdentitySetupInitializeProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/RoleCreateProcessor.java
Labels: component/zeebe

refactor: change RoleState to be id-based
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbRoleState.java
Labels: component/zeebe

refactor: remove getRoleKeyByName method
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbRoleState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/RoleState.java
Labels: component/zeebe

test: remove usages of getRoleKeyByName
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/RoleStateTest.java
Labels: component/zeebe

fix: remove name conflict check
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/RoleUpdateProcessor.java
Labels: component/zeebe

test: temporarily disable tests
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/role/RoleTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CreateRoleTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/processing/IdentitySetupInitializerIT.java
Labels: component/zeebe
