Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

test: added test case with all resources types together
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/DeploymentReconstructProcessorTest.java
Labels: component/zeebe

feat: get ProgressState from DeploymentRecord command
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/DeploymentReconstructProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/DeploymentReconstructionStarter.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/DeploymentReconstructProcessorTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/deployment/DeploymentRecord.java
Labels: component/zeebe

test: remove concurrency mode tests
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/processors/VariableZeebeRecordProcessor.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/EventZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/IncidentZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/ListViewZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/VariableZeebeRecordProcessorIT.java
Labels: component/operate

fix: merge conflicts and update test
  qa/acceptance-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceSearchTest.java
  search/search-domain/src/main/java/io/camunda/search/filter/ProcessInstanceFilter.java
Labels: none

docs: add helpful comments for filtering logic
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/DocumentBasedSearchClients.java
Labels: none

fix: remove concurrency checks from importer 8.6 and 8.5
  operate/importer-8_4/src/main/java/io/camunda/operate/zeebeimport/v8_4/processors/EventZeebeRecordProcessor.java
  operate/importer-8_4/src/main/java/io/camunda/operate/zeebeimport/v8_4/processors/ImportBulkProcessor.java
  operate/importer-8_4/src/main/java/io/camunda/operate/zeebeimport/v8_4/processors/IncidentZeebeRecordProcessor.java
  operate/importer-8_4/src/main/java/io/camunda/operate/zeebeimport/v8_4/processors/ListViewZeebeRecordProcessor.java
  operate/importer-8_4/src/main/java/io/camunda/operate/zeebeimport/v8_4/processors/VariableZeebeRecordProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/processors/EventZeebeRecordProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/processors/ImportBulkProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/processors/IncidentZeebeRecordProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/processors/ListViewZeebeRecordProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/processors/VariableZeebeRecordProcessor.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/ImportPositionHolder.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/ListViewZeebeRecordProcessorIT.java
  operate/schema/src/main/java/io/camunda/operate/schema/indices/ImportPositionIndex.java
  operate/schema/src/main/java/io/camunda/operate/store/ImportStore.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchImportStore.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchImportStore.java
  operate/schema/src/test/java/io/camunda/operate/schema/ImportStoreIT.java
Labels: component/operate

fix: Operate variable values are null when MIGRATED and CREATED
  operate/importer-8_4/src/main/java/io/camunda/operate/zeebeimport/v8_4/processors/VariableZeebeRecordProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/processors/VariableZeebeRecordProcessor.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/ZeebeRecordTestUtil.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/VariableZeebeRecordProcessorIT.java
Labels: component/operate

fix: fix date and element id custom filters on Tasklist V2
  tasklist/client/src/common/tasks/available-tasks/CollapsiblePanel/index.tsx
  tasklist/client/src/common/tasks/filters/prepareCustomFiltersParams.ts
  tasklist/client/src/v2/api/getQueryVariables.tsx
  tasklist/client/src/v2/features/tasks/filters/useTaskFilters.ts
Labels: component/tasklist

deps: update reactor dependencies versions
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: token optimize authorization cookie
  optimize/backend/src/main/java/io/camunda/optimize/rest/providers/NotAuthorizedExceptionMapper.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/security/ccsm/CCSMAuthenticationCookieFilter.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/security/ccsm/CCSMSecurityConfigurerAdapter.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/security/cloud/CCSaaSSecurityConfigurerAdapter.java
  optimize/backend/src/main/java/io/camunda/optimize/service/identity/CCSMIdentityService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/security/AuthCookieService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/security/CCSMTokenService.java
  optimize/backend/src/test/java/io/camunda/optimize/OptimizeRequestExecutor.java
  optimize/backend/src/test/java/io/camunda/optimize/service/security/AuthCookieServiceTest.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/rest/constants/RestConstants.java
Labels: component/optimize

fix: token optimize authorization cookie
  optimize/backend/src/main/java/io/camunda/optimize/rest/providers/NotAuthorizedExceptionMapper.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/security/ccsm/CCSMAuthenticationCookieFilter.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/security/ccsm/CCSMSecurityConfigurerAdapter.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/security/cloud/CCSaaSSecurityConfigurerAdapter.java
  optimize/backend/src/main/java/io/camunda/optimize/service/identity/CCSMIdentityService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/security/AuthCookieService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/security/CCSMTokenService.java
  optimize/backend/src/test/java/io/camunda/optimize/OptimizeRequestExecutor.java
  optimize/backend/src/test/java/io/camunda/optimize/service/security/AuthCookieServiceTest.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/rest/constants/RestConstants.java
Labels: component/optimize

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'
