Repository camunda/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8run

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8run:
  - changed-files:
      - any-glob-to-any-file:
          - 'c8run/**'
          - '.github/workflows/c8run-build.yaml'
          - '.github/workflows/c8run-release.yaml'
          - '.github/actions/setup-c8run/action.yml'

refactor: align operate with entity changes
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/ProcessInstanceReaderIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/ProcessInstanceWriterIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/store/ProcessStoreIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/dao/DaoRfc3339SerializationIT.java
  operate/schema/src/main/java/io/camunda/operate/entities/MetricEntity.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchMetricsStore.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/dao/UsageMetricDAO.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchMetricsStore.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/zeebe/operation/DeleteProcessDefinitionHandler.java
  operate/webapp/src/test/java/io/camunda/operate/elasticsearch/dao/GenericDAOTest.java
  operate/webapp/src/test/java/io/camunda/operate/elasticsearch/writer/MetricWriterTest.java
Labels: component/operate

refactor: aling MetricEntity
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/MetricEntity.java
Labels: none

test: replace old Tasklist user task entity
  qa/integration-tests/src/test/java/io/camunda/it/migration/usertask/UserTaskMigrationHelper.java
Labels: none

refactor: remove TasklistEntity and align entities
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/DraftTaskVariableEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/EmbeddedFormBatch.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/FormEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/SnapshotTaskVariableEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/TaskEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/TaskProcessInstanceEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/TaskVariableEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/TasklistEntity.java
Labels: none

refactor: move event related entities
  operate/importer-8_7/src/main/java/io/camunda/operate/zeebeimport/v8_7/processors/processors/EventZeebeRecordProcessor.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/ElasticsearchChecks.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/OpensearchChecks.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/OperateTester.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/TestUtil.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/EventReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/reader/OpensearchEventReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/reader/EventReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/FlowNodeInstanceMetadataBuilder.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/metadata/BusinessRuleTaskInstanceMetadataDto.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/metadata/CallActivityInstanceMetadataDto.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/metadata/FlowNodeInstanceMetadataDto.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/metadata/JobFlowNodeInstanceMetadataDto.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/metadata/ServiceTaskInstanceMetadataDto.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/metadata/UserTaskInstanceMetadataDto.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/rest/FlowNodeInstanceMetadataBuilderTest.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/event/EventEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/event/EventMetadataEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/event/EventSourceType.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/event/EventType.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/AbstractEventHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/EventFromIncidentHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/EventFromJobHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/EventFromProcessInstanceHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/EventFromProcessMessageSubscriptionHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/EventFromIncidentHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/EventFromJobHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/EventFromProcessInstanceHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/EventFromProcessMessageSubscriptionHandlerTest.java
Labels: component/zeebe, component/operate

refactor: move post importer related entities
  operate/importer-8_7/src/main/java/io/camunda/operate/zeebeimport/v8_7/processors/processors/IncidentZeebeRecordProcessor.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/post/PostImporterActionType.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/post/PostImporterQueueEntity.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/PostImporterQueueFromIncidentHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/ElasticsearchIncidentUpdateRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/OpenSearchIncidentUpdateRepository.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/PostImporterQueueFromIncidentHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/incident/IncidentUpdateRepositoryIT.java
Labels: component/zeebe, component/operate

refactor: move listener related entities
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/ListenerReaderIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/ProcessInstanceRestServiceIT.java
  operate/schema/src/test/java/io/camunda/operate/enties/ListenerEventTypeTest.java
  operate/schema/src/test/java/io/camunda/operate/enties/ListenerStateTest.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/ElasticsearchListenerReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/reader/OpensearchListenerReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/ListenerDto.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/ListenerRequestDto.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/validation/ProcessInstanceRequestValidator.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/listener/ListenerEventType.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/listener/ListenerState.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/listener/ListenerType.java
Labels: component/operate

style: capitalize constant
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/incident/IncidentState.java
Labels: none

test: align ProcessMigrationIT
  qa/integration-tests/src/test/java/io/camunda/it/migration/ProcessMigrationIT.java
Labels: none

style: run spotless
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/DocumentBasedSearchClients.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/ServiceTransformers.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/entities/FormResponse.java
Labels: component/tasklist

feat: introduce `CREATE` and `CANCEL` user task commands
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/UserTaskIntent.java
Labels: component/zeebe

refactor: refactor `createUserTask` for better readability
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/UserTaskProcessor.java
Labels: component/zeebe

refactor: `unsetAssignee` now returns the modified `UserTaskRecord`
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/usertask/UserTaskRecord.java
Labels: component/zeebe

refactor: remove TasklistIndexDescriptor and TasklistTemplateDescriptor
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/indices/UserIndex.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/IndexSchemaValidatorIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/IndexSchemaValidatorIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchSchemaManagementIT.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/tasklist/TasklistIndexDescriptor.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/tasklist/TasklistTemplateDescriptor.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/tasklist/index/FormIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/tasklist/index/TasklistImportPositionIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/tasklist/index/TasklistMetricIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/tasklist/template/DraftTaskVariableTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/tasklist/template/SnapshotTaskVariableTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/tasklist/template/TaskTemplate.java
Labels: component/tasklist

refactor: PrefixMigrationIT to use MultiDB with containers
  qa/integration-tests/src/test/java/io/camunda/it/migration/PrefixMigrationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/migration/PrefixMigrationOSIT.java
Labels: none

style: checkstyle
  qa/integration-tests/src/test/java/io/camunda/it/migration/PrefixMigrationIT.java
Labels: none

refactor: add currentMultiDbDatabaseType static method to be reused
  qa/integration-tests/src/test/java/io/camunda/it/migration/PrefixMigrationIT.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/CamundaMultiDBExtension.java
Labels: none

ci: new github workflow for license analysis with FOSSA
  .fossa.yml
  .github/workflows/check-licenses.yml
  optimize/.fossa.yml
Labels: component/optimize, component/build-pipeline

feat: add placeholder processors for `CREATE` and `CANCEL` UT commands
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/UserTaskCommandProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskCancelProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskCreateProcessor.java
Labels: component/zeebe

feat: map `CREATE` and `CANCEL` user task commands
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/incident/IncidentResolveProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/UserTaskProcessor.java
Labels: component/zeebe

feat: add mapping by id to a tenant
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantController.java
Labels: component/zeebe

fix: modify route to mappings
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantControllerTest.java
Labels: component/zeebe

fix: change client to use mapping id instead of key
  clients/java/src/main/java/io/camunda/client/api/command/AssignMappingToTenantCommandStep1.java
  clients/java/src/main/java/io/camunda/client/impl/command/AssignMappingToTenantCommandImpl.java
  clients/java/src/test/java/io/camunda/client/tenant/AssignMappingToTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AssignMappingToTenantTest.java
Labels: component/zeebe

refactor: PrefixMigrationIT to use MultiDB with containers
  qa/integration-tests/src/test/java/io/camunda/it/migration/PrefixMigrationIT.java
Labels: none

test: check correct indices are migrated with prefix migration
  qa/integration-tests/src/test/java/io/camunda/it/migration/PrefixMigrationIT.java
Labels: none

test: align scanned package names
  dist/src/test/java/io/camunda/application/commons/backup/BackupPrioritiesTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

refactor: remove OperateIndexDescriptor and OperateTemplateDescriptor
  migration/process-migration/src/main/java/io/camunda/migration/process/adapter/MigrationRepositoryIndex.java
  migration/process-migration/src/test/java/io/camunda/migration/process/TestData.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/TestDynamicIndex.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/elasticsearch/ElasticsearchSchemaTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/opensearch/OpenSearchSchemaTestHelper.java
  operate/schema/src/main/java/io/camunda/operate/schema/indices/UserIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/OperateIndexDescriptor.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/OperateTemplateDescriptor.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/index/DecisionIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/index/DecisionRequirementsIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/index/ImportPositionIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/index/MetricIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/index/ProcessIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/BatchOperationTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/DecisionInstanceTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/EventTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/FlowNodeInstanceTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/IncidentTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/JobTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/ListViewTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/MessageTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/OperationTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/PostImporterQueueTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/SequenceFlowTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/VariableTemplate.java
Labels: component/operate

style: checkstyle
  dist/src/main/java/io/camunda/application/commons/backup/BackupPriorityConfiguration.java
  dist/src/main/java/io/camunda/application/commons/migration/PrefixMigrationHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/IndexTemplateDescriptorsConfigurator.java
  operate/schema/src/main/java/io/camunda/operate/schema/IndexTemplateDescriptorsConfigurator.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/IndexTemplateDescriptorsConfigurator.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/ServiceTransformers.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/UsageMetricsFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/UsageMetricsQueryTransformerTest.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/TasklistIndexTemplateDescriptorsConfigurator.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/VariableStore.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/elasticsearch/VariableStoreElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/opensearch/VariableStoreOpenSearch.java
  tasklist/els-schema/src/test/java/io/camunda/tasklist/store/elasticsearch/VariableStoreElasticSearchTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/ElasticsearchHelper.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/OpenSearchHelper.java
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/TasklistIndexTemplateDescriptorsConfigurator.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/IndexDescriptors.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

refactor: move ProcessInstanceDependant to base package
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/ProcessInstanceWriterIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/store/ProcessStoreIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/dao/ProcessInstanceDaoIT.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchProcessStore.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchProcessStore.java
  operate/schema/src/test/java/io/camunda/operate/store/elasticsearch/ElasticsearchProcessStoreTest.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/VariableReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/writer/ProcessInstanceWriter.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/reader/OpensearchVariableReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/writer/OpensearchProcessInstanceWriter.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/ProcessInstanceDependant.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/DecisionInstanceTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/EventTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/FlowNodeInstanceTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/IncidentTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/JobTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/OperationTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/PostImporterQueueTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/SequenceFlowTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/SnapshotTaskVariableTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/TaskTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/VariableTemplate.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/BackgroundTaskManagerFactory.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/ProcessInstancesArchiverJob.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/ProcessInstancesArchiverJobTest.java
Labels: component/zeebe, component/operate

fix: merge with latest
  clients/java/src/test/java/io/camunda/client/tenant/AssignMappingToTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AssignMappingToTenantTest.java
Labels: component/zeebe

fix: apply spotless
  clients/java/src/main/java/io/camunda/client/api/command/AssignMappingToTenantCommandStep1.java
Labels: component/zeebe

feat: Updated so that this will build every night to verify c8run is still compatible with camunda
  .github/workflows/c8run-build.yaml
Labels: component/build-pipeline, component/c8run

refactor: add github issue to disabled/commented code
  migration/identity-migration/src/main/java/io/camunda/migration/identity/GroupMigrationHandler.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/GroupMigrationHandlerTest.java
Labels: none

refactor: re-enable test
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AssignUserToTenantTest.java
Labels: component/zeebe

test: add assertion and turn test into parameterized test
  service/src/test/java/io/camunda/service/GroupServiceTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupControllerTest.java
Labels: component/zeebe

fix: bad rebase
  qa/integration-tests/src/test/java/io/camunda/it/migration/PrefixMigrationIT.java
Labels: none

refactor: provide DTO object to the service layer instead of single fields
  migration/identity-migration/src/test/java/io/camunda/migration/identity/GroupMigrationHandlerTest.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/UsersGroupMigrationHandlerTest.java
  service/src/main/java/io/camunda/service/GroupServices.java
  service/src/test/java/io/camunda/service/GroupServiceTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupControllerTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AssignUserToTenantTest.java
Labels: component/zeebe

fix: updated the workflow_dispatch to allow the slack notification to be tested
  .github/workflows/c8run-build.yaml
Labels: component/build-pipeline, component/c8run

fix: credentials provider tests flakiness
  clients/spring-boot-starter-camunda-sdk/pom.xml
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/config/CredentialsProviderSelfManagedTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/config/CredentialsProviderSelfManagedWithSSLTest.java
Labels: component/zeebe

refactor: refactor `onTerminateInternal` and `onFinalizeTerminationInternal`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/UserTaskProcessor.java
Labels: component/zeebe
