Repository camunda/camunda, pull requests merged in 2018-12, with the labels that each got.

#1726 docs(BPMN): add section for event-based gateways
  docs/src/SUMMARY.md
  docs/src/bpmn-workflows/bpmn-coverage.md
  docs/src/bpmn-workflows/event-based-gateway.png
  docs/src/bpmn-workflows/event-based-gateways.md
  docs/src/bpmn-workflows/gateways.md
Labels: needs review

#1734 docs(quickstart): remove standalone jobs from quickstart guide
  docs/src/introduction/quickstart.md
Labels: needs review

#1741 chore(broker-core): don't start exporter manager service if no exporters are configured
  .gitignore
  broker-core/src/main/java/io/zeebe/broker/exporter/ExporterComponent.java
  broker-core/src/test/java/io/zeebe/broker/exporter/ExporterComponentTest.java
Labels: needs review

#1739 Incidents docs
  docs/src/SUMMARY.md
  docs/src/bpmn-workflows/data-flow.md
  docs/src/bpmn-workflows/exclusive-gateways.md
  docs/src/bpmn-workflows/message-events.md
  docs/src/reference/README.md
  docs/src/reference/incidents.md
Labels: needs review

#1732 docs(BPMN): adds documentation for boundary events
  docs/src/bpmn-workflows/bpmn-coverage.md
  docs/src/bpmn-workflows/bpmn-primer.md
  docs/src/bpmn-workflows/events.md
  docs/src/bpmn-workflows/timer-events.md
  docs/src/bpmn-workflows/timer-interrupting-boundary-event.png
Labels: needs review

#1716 feat(broker-core): support non-interrupting timer boundary events
  bpmn-model/src/main/java/io/zeebe/model/bpmn/util/time/Interval.java
  bpmn-model/src/main/java/io/zeebe/model/bpmn/util/time/RepeatingInterval.java
  bpmn-model/src/main/java/io/zeebe/model/bpmn/validation/zeebe/TimerEventDefinitionValidator.java
  bpmn-model/src/test/java/io/zeebe/model/bpmn/util/time/IntervalTest.java
  bpmn-model/src/test/java/io/zeebe/model/bpmn/util/time/RepeatingIntervalTest.java
  bpmn-model/src/test/java/io/zeebe/model/bpmn/validation/ZeebeTimerValidationTest.java
  broker-core/src/main/java/io/zeebe/broker/workflow/data/TimerRecord.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/element/ExecutableBoundaryEvent.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/element/ExecutableCatchEvent.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/element/ExecutableCatchEventElement.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/element/ExecutableEventBasedGateway.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/element/ExecutableReceiveTask.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/transformation/BpmnTransformer.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/transformation/transformer/BoundaryEventTransformer.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/transformation/transformer/CatchEventTransformer.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/transformation/transformer/EventBasedGatewayTransformer.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/transformation/transformer/FlowElementInstantiationTransformer.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/transformation/transformer/IntermediateCatchEventTransformer.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/transformation/transformer/ReceiveTaskTransformer.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/CatchEventOutput.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/WorkflowEventProcessors.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/boundary/BoundaryEventActivator.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/event/TriggerEventHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/flownode/PropagateTerminationHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/flownode/TerminateFlowNodeHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/gateway/TriggerEventBasedGatewayHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/message/CorrelateWorkflowInstanceSubscription.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/subprocess/TerminateContainedElementsHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/timer/CreateTimerProcessor.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/timer/DueDateTimerChecker.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/timer/TriggerTimerProcessor.java
  broker-core/src/main/java/io/zeebe/broker/workflow/state/TimerInstance.java
  broker-core/src/test/java/io/zeebe/broker/workflow/boundary/BoundaryEventTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/processor/boundary/BoundaryEventActivatorTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/timer/TimerCatchEventTest.java
Labels: needs review

#1749 feat(broker-core): allow updating job retries in all job states
  broker-core/src/main/java/io/zeebe/broker/job/UpdateRetriesProcessor.java
  broker-core/src/test/java/io/zeebe/broker/job/JobUpdateRetriesTest.java
Labels: needs review

#1757 feat(clients/zbctl): set error message in fail command to stderr content
  clients/zbctl/cmd/createWorker.go
Labels: needs review

#1761 fix(broker-core): Convert numeric correlation key to string
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/CatchEventOutput.java
  broker-core/src/test/java/io/zeebe/broker/workflow/message/MessageCorrelationTest.java
  docs/src/bpmn-workflows/message-events.md
  docs/src/bpmn-workflows/receive-tasks.md
  json-path/src/main/java/io/zeebe/msgpack/query/MsgPackQueryProcessor.java
  json-path/src/test/java/io/zeebe/msgpack/query/MsgPackQueryProcessorTest.java
Labels: needs review

#1760 fix(logstreams): add explicit endianness in logstream
  logstreams/pom.xml
  logstreams/src/main/java/io/zeebe/logstreams/impl/LogEntryDescriptor.java
  logstreams/src/main/java/io/zeebe/logstreams/impl/LoggedEventImpl.java
  logstreams/src/main/java/io/zeebe/logstreams/log/LogStreamBatchWriterImpl.java
Labels: needs review

#1774 fix(broker-core): ignore unreferenced messages in transformer
  bpmn-model/src/main/java/io/zeebe/model/bpmn/validation/zeebe/MessageValidator.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/transformation/transformer/MessageTransformer.java
  broker-core/src/test/java/io/zeebe/broker/workflow/CreateDeploymentTest.java
Labels: needs review

#1776 feat(clients/java): propagate job worker exception message to broker
  clients/java/src/main/java/io/zeebe/client/impl/subscription/JobRunnableFactory.java
  qa/integration-tests/src/test/java/io/zeebe/broker/it/job/JobWorkerTest.java
Labels: needs review

#1780 chore(project): enforce jdk8 and maven >=3.3
  parent/pom.xml
Labels: Status: Needs Review

#1750 fix(broker-core): don't schedule task for update position if in actor
  broker-core/src/main/java/io/zeebe/broker/exporter/stream/ExporterStreamProcessor.java
  broker-core/src/main/java/io/zeebe/broker/job/JobEventProcessors.java
  broker-core/src/main/java/io/zeebe/broker/logstreams/ZbStreamProcessorService.java
  broker-core/src/main/java/io/zeebe/broker/logstreams/processor/TypedEventStreamProcessorBuilder.java
  broker-core/src/main/java/io/zeebe/broker/logstreams/processor/TypedStreamProcessor.java
  broker-core/src/test/java/io/zeebe/broker/exporter/stream/ExporterStreamProcessorTest.java
  broker-core/src/test/java/io/zeebe/broker/util/StreamProcessorRule.java
  logstreams/src/main/java/io/zeebe/logstreams/processor/StreamProcessor.java
  logstreams/src/main/java/io/zeebe/logstreams/processor/StreamProcessorController.java
  logstreams/src/main/java/io/zeebe/logstreams/state/StateController.java
  logstreams/src/test/java/io/zeebe/logstreams/processor/StreamProcessorControllerTest.java
  logstreams/src/test/java/io/zeebe/logstreams/state/StateControllerTest.java
  util/src/main/java/io/zeebe/util/sched/ActorControl.java
Labels: Status: Needs Review

#1752 feat(msgpack-json-el): allow non-strict condtions
  docs/src/reference/json-conditions.md
  json-el/src/main/java/io/zeebe/msgpack/el/JsonConditionInterpreter.java
  json-el/src/test/java/io/zeebe/msgpack/el/JsonConditionTest.java
  msgpack-core/src/main/java/io/zeebe/msgpack/spec/MsgPackToken.java
Labels: Status: Needs Review

#1788 chore(bpmn-model): allow timer start events in model
  bpmn-model/src/main/java/io/zeebe/model/bpmn/validation/zeebe/StartEventValidator.java
  bpmn-model/src/main/java/io/zeebe/model/bpmn/validation/zeebe/SubProcessValidator.java
  bpmn-model/src/test/java/io/zeebe/model/bpmn/validation/AbstractZeebeValidationTest.java
  bpmn-model/src/test/java/io/zeebe/model/bpmn/validation/ZeebeMessageValidationTest.java
  bpmn-model/src/test/java/io/zeebe/model/bpmn/validation/ZeebeValidationTest.java
  bpmn-model/src/test/resources/io/zeebe/model/bpmn/validation/multiple-timer-start-event-sub-process.bpmn
Labels: Status: Needs Review, Type: Maintenance

#1801 Reenable reprocessing tests related to job activation and incidents
  qa/integration-tests/src/test/java/io/zeebe/broker/it/startup/BrokerReprocessingTest.java
Labels: Status: Needs Review

#1807 fix(broker-core): don't open subscription if incident is raised
  bpmn-model/src/main/java/io/zeebe/model/bpmn/builder/AbstractFlowNodeBuilder.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/BpmnStep.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/element/ExecutableActivity.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/element/ExecutableReceiveTask.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/transformation/transformer/ReceiveTaskTransformer.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/BpmnStepHandlers.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/CatchEventBehavior.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/activity/ActivateActivityHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/event/SubscribeEventHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/flownode/ActivateFlowNodeHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/servicetask/ActivateReceiveTaskHandler.java
  broker-core/src/test/java/io/zeebe/broker/incident/EventSubscriptionIncidentTest.java
Labels: Status: Needs Review

#1806 chore(broker-core): catch events can create workflow instances
  broker-core/src/main/java/io/zeebe/broker/workflow/data/TimerRecord.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/CatchEventBehavior.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/message/CorrelateWorkflowInstanceSubscription.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/timer/CreateTimerProcessor.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/timer/DueDateTimerChecker.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/timer/TriggerTimerProcessor.java
  broker-core/src/main/java/io/zeebe/broker/workflow/state/TimerInstance.java
  broker-core/src/test/java/io/zeebe/broker/workflow/processor/WorkflowInstanceStreamProcessorRule.java
  broker-core/src/test/java/io/zeebe/broker/workflow/processor/WorkflowInstanceStreamProcessorTest.java
Labels: Scope: broker, Status: Needs Review, Type: Maintenance

#1815 Prevent canceling of element instances
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/instance/CancelWorkflowInstanceHandler.java
  broker-core/src/test/java/io/zeebe/broker/workflow/CancelWorkflowInstanceTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/processor/WorkflowInstanceStreamProcessorTest.java
  qa/integration-tests/src/test/java/io/zeebe/broker/it/workflow/CancelWorkflowInstanceTest.java
Labels: Status: Needs Review

#1809 Can deploy workflows with message start events
  bpmn-model/src/main/java/io/zeebe/model/bpmn/validation/zeebe/ProcessValidator.java
  bpmn-model/src/main/java/io/zeebe/model/bpmn/validation/zeebe/StartEventValidator.java
  bpmn-model/src/test/java/io/zeebe/model/bpmn/validation/ZeebeMessageValidationTest.java
  bpmn-model/src/test/java/io/zeebe/model/bpmn/validation/ZeebeStartEventValidationTest.java
  bpmn-model/src/test/java/io/zeebe/model/bpmn/validation/ZeebeValidationTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/CreateDeploymentTest.java
  qa/integration-tests/src/test/java/io/zeebe/broker/it/workflow/CreateDeploymentTest.java
Labels: Status: Needs Review

#1817 feat(client): Add omitempty-ignoring object marshaller method to go api
  clients/go/commands/completeJob_command.go
  clients/go/commands/completeJob_command_test.go
  clients/go/commands/createInstance_command.go
  clients/go/commands/createInstance_command_test.go
  clients/go/commands/publishMessage_command.go
  clients/go/commands/publishMessage_command_test.go
  clients/go/commands/updatePayload_command.go
  clients/go/commands/updatePayload_command_test.go
  clients/go/utils/jsonString_mixin.go
  clients/go/utils/structmap.go
  clients/go/utils/structmap_test.go
Labels: Status: Needs Review

#1771 docs(bpmn-workflows): document non-interrupting message boundary events
  docs/src/bpmn-workflows/bpmn-coverage.md
  docs/src/bpmn-workflows/message-events.md
Labels: Status: Needs Review

#1814 feat(broker): support non-interrupting message boundary events
  bpmn-model/src/main/java/io/zeebe/model/bpmn/validation/zeebe/BoundaryEventValidator.java
  bpmn-model/src/test/java/io/zeebe/model/bpmn/validation/ZeebeBoundaryEventValidationTest.java
  broker-core/src/main/java/io/zeebe/broker/subscription/message/processor/MessageCorrelator.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/element/ExecutableBoundaryEvent.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/element/ExecutableCatchEvent.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/CatchEventBehavior.java
  broker-core/src/test/java/io/zeebe/broker/workflow/message/MessageCatchElementTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/message/MessageCorrelationTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/message/MessageMappingTest.java
Labels: Status: Needs Review
