Repository camunda/camunda, pull requests merged in 2019-01, with the labels that each got.

#1818 feat(broker): support timer start event
  broker-core/src/main/java/io/zeebe/broker/logstreams/ZbStreamProcessorService.java
  broker-core/src/main/java/io/zeebe/broker/workflow/data/TimerRecord.java
  broker-core/src/main/java/io/zeebe/broker/workflow/deployment/distribute/processor/DeploymentCreatedProcessor.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/element/ExecutableFlowElementContainer.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/transformation/transformer/StartEventTransformer.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/CatchEventBehavior.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/deployment/DeploymentEventProcessors.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/deployment/TransformingDeploymentCreateProcessor.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/message/CorrelateWorkflowInstanceSubscription.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/timer/CreateTimerProcessor.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/timer/DueDateTimerChecker.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/timer/TriggerTimerProcessor.java
  broker-core/src/main/java/io/zeebe/broker/workflow/state/TimerInstance.java
  broker-core/src/test/java/io/zeebe/broker/workflow/TimerStartEventTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/processor/TransformingDeploymentCreateProcessorTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/processor/WorkflowInstanceStreamProcessorTest.java
  qa/integration-tests/pom.xml
Labels: Scope: broker, Status: Needs Review, Type: Enhancement

#1829 feat(broker): support multiple timer start events
  bpmn-model/src/main/java/io/zeebe/model/bpmn/validation/zeebe/ProcessValidator.java
  bpmn-model/src/test/java/io/zeebe/model/bpmn/validation/ZeebeStartEventValidationTest.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/element/ExecutableCatchEvent.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/element/ExecutableFlowElementContainer.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/transformation/transformer/StartEventTransformer.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/BpmnStepHandlers.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/CatchEventBehavior.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/WorkflowInstanceCommandHandlers.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/WorkflowInstanceCommandProcessor.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/deployment/TransformingDeploymentCreateProcessor.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/instance/CreateWorkflowInstanceHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/subprocess/TriggerStartEventHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/timer/TriggerTimerProcessor.java
  broker-core/src/test/java/io/zeebe/broker/workflow/TimerStartEventTest.java
  zb-db/pom.xml
Labels: Scope: broker, Status: Needs Review, Type: Enhancement

#1826 open and close message start event subscriptions on deployment
  bpmn-model/src/main/java/io/zeebe/model/bpmn/validation/zeebe/MessageValidator.java
  broker-core/src/main/java/io/zeebe/broker/exporter/record/value/MessageStartEventSubscriptionRecordValueImpl.java
  broker-core/src/main/java/io/zeebe/broker/exporter/stream/ExporterRecordMapper.java
  broker-core/src/main/java/io/zeebe/broker/logstreams/ZbStreamProcessorService.java
  broker-core/src/main/java/io/zeebe/broker/logstreams/processor/TypedStreamEnvironment.java
  broker-core/src/main/java/io/zeebe/broker/logstreams/state/ZbColumnFamilies.java
  broker-core/src/main/java/io/zeebe/broker/logstreams/state/ZeebeState.java
  broker-core/src/main/java/io/zeebe/broker/subscription/message/data/MessageStartEventSubscriptionRecord.java
  broker-core/src/main/java/io/zeebe/broker/subscription/message/processor/CloseMessageStartEventSubscriptionProcessor.java
  broker-core/src/main/java/io/zeebe/broker/subscription/message/processor/MessageEventProcessors.java
  broker-core/src/main/java/io/zeebe/broker/subscription/message/processor/OpenMessageStartEventSubscriptionProcessor.java
  broker-core/src/main/java/io/zeebe/broker/subscription/message/state/MessageStartEventSubscriptionState.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/element/ExecutableFlowElementContainer.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/transformation/transformer/MessageTransformer.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/deployment/DeploymentCreatedProcessor.java
  broker-core/src/test/java/io/zeebe/broker/subscription/message/MessageStartEventSubscriptionMultiplePartitionsTest.java
  broker-core/src/test/java/io/zeebe/broker/subscription/message/MessageStartEventSubscriptionTest.java
  broker-core/src/test/java/io/zeebe/broker/subscription/message/state/MessageStartEventSubscriptionStateTest.java
  broker-core/src/test/java/io/zeebe/broker/util/RecordStream.java
  broker-core/src/test/java/io/zeebe/broker/util/Records.java
  broker-core/src/test/java/io/zeebe/broker/util/TestStreams.java
  broker-core/src/test/java/io/zeebe/broker/workflow/CreateDeploymentTest.java
  exporter-api/src/main/java/io/zeebe/exporter/record/value/MessageStartEventSubscriptionRecordValue.java
  protocol/src/main/java/io/zeebe/protocol/intent/Intent.java
  protocol/src/main/java/io/zeebe/protocol/intent/MessageStartEventSubscriptionIntent.java
  protocol/src/main/resources/protocol.xml
  test-util/src/main/java/io/zeebe/test/util/record/MessageStartEventSubscriptionRecordStream.java
  test-util/src/main/java/io/zeebe/test/util/record/RecordingExporter.java
Labels: Status: Needs Review

#1819 feat(test): provide integration test utilities for exporter authors
  exporters/elasticsearch-exporter/src/test/java/io/zeebe/exporter/ElasticsearchExporterIT.java
  exporters/elasticsearch-exporter/src/test/java/io/zeebe/exporter/ElasticsearchExporterTest.java
  test/src/main/java/io/zeebe/test/ClientRule.java
  test/src/main/java/io/zeebe/test/EmbeddedBrokerRule.java
  test/src/main/java/io/zeebe/test/exporter/ExporterIntegrationRule.java
  test/src/main/java/io/zeebe/test/exporter/ExporterTestHarness.java
Labels: Status: Needs Review

#1841 chore(test): ignore the default recording exporter
  test/src/main/java/io/zeebe/test/EmbeddedBrokerRule.java
  test/src/main/java/io/zeebe/test/exporter/ExporterIntegrationRule.java
Labels: Status: Needs Review

#1848 chore(protocol): remove unused zb-util dependency
  protocol/pom.xml
Labels: Status: Needs Review

#1832 Tokens are spawned and consumed explicitly
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/BpmnStepContext.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/BpmnStepProcessor.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/CatchEventBehavior.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/event/SubscribeEventHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/event/TriggerBoundaryEventHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/flownode/ConsumeTokenHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/flownode/PropagateTerminationHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/gateway/ExclusiveSplitHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/gateway/ParallelSplitHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/sequenceflow/ParallelMergeHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/servicetask/TerminateServiceTaskHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/subprocess/TriggerStartEventHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/state/WorkflowEngineState.java
  broker-core/src/test/java/io/zeebe/broker/workflow/WorkflowInstanceFunctionalTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/WorkflowInstanceTokenTest.java
Labels: Status: Needs Review

#1831 docs(bpmn-workflows): added documentation for timer start events
  docs/src/bpmn-workflows/bpmn-coverage.md
  docs/src/bpmn-workflows/timer-events.md
  docs/src/bpmn-workflows/timer-start-event.png
Labels: Status: Needs Review, Type: Docs

#1837 feat(broker): added support for timeDate timer definitions
  bpmn-model/pom.xml
  bpmn-model/src/main/java/io/zeebe/model/bpmn/util/time/RepeatingInterval.java
  bpmn-model/src/main/java/io/zeebe/model/bpmn/util/time/TimeDateTimer.java
  bpmn-model/src/main/java/io/zeebe/model/bpmn/util/time/Timer.java
  bpmn-model/src/main/java/io/zeebe/model/bpmn/validation/zeebe/IntermediateCatchEventValidator.java
  bpmn-model/src/main/java/io/zeebe/model/bpmn/validation/zeebe/TimerEventDefinitionValidator.java
  bpmn-model/src/test/java/io/zeebe/model/bpmn/util/time/TimeDateTimerTest.java
  bpmn-model/src/test/java/io/zeebe/model/bpmn/validation/ZeebeEventBasedGatewayValidationTest.java
  bpmn-model/src/test/java/io/zeebe/model/bpmn/validation/ZeebeTimerValidationTest.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/element/ExecutableCatchEvent.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/element/ExecutableCatchEventElement.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/transformation/transformer/CatchEventTransformer.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/CatchEventBehavior.java
  broker-core/src/test/java/io/zeebe/broker/workflow/TimerStartEventTest.java
Labels: Status: Needs Review, Type: Enhancement

#1849 custom-header value of a task can now be longer than 128
  broker-core/src/test/java/io/zeebe/broker/job/ActivateJobsTest.java
  msgpack-core/src/main/java/io/zeebe/msgpack/spec/MsgPackReader.java
  msgpack-core/src/test/java/io/zeebe/msgpack/spec/MsgPackSkippingTest.java
Labels: Status: Needs Review

#1855 Propagate job payload
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/activity/ActivateActivityHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/activity/CompleteActivityHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/flownode/ActivateFlowNodeHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/flownode/IOMappingHelper.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/instance/CreateWorkflowInstanceHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/instance/UpdatePayloadHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/job/JobCompletedEventProcessor.java
  broker-core/src/main/java/io/zeebe/broker/workflow/state/ElementInstanceState.java
  broker-core/src/main/java/io/zeebe/broker/workflow/state/VariablesState.java
  broker-core/src/main/java/io/zeebe/broker/workflow/state/WorkflowEngineState.java
  broker-core/src/test/java/io/zeebe/broker/workflow/WorkflowTaskIOMappingTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/state/ElementInstanceStateVariablesTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/subprocess/EmbeddedSubProcessTest.java
  qa/integration-tests/src/test/java/io/zeebe/broker/it/workflow/ServiceTaskTest.java
  test-util/src/main/java/io/zeebe/test/util/MsgPackUtil.java
  zb-db/src/main/java/io/zeebe/db/ColumnFamily.java
  zb-db/src/main/java/io/zeebe/db/impl/rocksdb/RocksDbColumnFamily.java
  zb-db/src/main/java/io/zeebe/db/impl/rocksdb/ZeebeRocksDb.java
  zb-db/src/test/java/io/zeebe/db/impl/ColumnFamilyTest.java
Labels: Status: Needs Review

#1861 chore(broker-core): timer start is consistent with message start
  bpmn-model/src/main/java/io/zeebe/model/bpmn/validation/zeebe/StartEventValidator.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/CatchEventBehavior.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/WorkflowInstanceCommandHandlers.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/instance/CreateWorkflowInstanceHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/timer/TriggerTimerProcessor.java
  broker-core/src/test/java/io/zeebe/broker/workflow/TimerStartEventTest.java
Labels: Status: Needs Review

#1867 docs(bpmn-workflows): improve documentation of message start event
  docs/src/bpmn-workflows/message-events.md
Labels: Status: Needs Review

#1872 feat(broker-core): write variable events
  broker-core/src/main/java/io/zeebe/broker/exporter/record/value/VariableRecordValueImpl.java
  broker-core/src/main/java/io/zeebe/broker/exporter/stream/ExporterRecordMapper.java
  broker-core/src/main/java/io/zeebe/broker/logstreams/processor/TypedStreamEnvironment.java
  broker-core/src/main/java/io/zeebe/broker/logstreams/processor/TypedStreamProcessor.java
  broker-core/src/main/java/io/zeebe/broker/workflow/data/VariableRecord.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/UpdateVariableStreamWriter.java
  broker-core/src/main/java/io/zeebe/broker/workflow/state/VariablesState.java
  broker-core/src/main/java/io/zeebe/broker/workflow/state/WorkflowEngineState.java
  broker-core/src/test/java/io/zeebe/broker/exporter/stream/ExporterStreamProcessorTest.java
  broker-core/src/test/java/io/zeebe/broker/util/TestStreams.java
  broker-core/src/test/java/io/zeebe/broker/workflow/state/VariableStateTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/variables/WorkflowInstanceVariableTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/variables/WorkflowInstanceVariableTypeTest.java
  exporter-api/src/main/java/io/zeebe/exporter/record/value/VariableRecordValue.java
  exporters/elasticsearch-exporter/src/test/java/io/zeebe/exporter/ElasticsearchExporterIT.java
  gateway/src/main/java/io/zeebe/gateway/impl/data/MsgPackConverter.java
  gateway/src/test/java/io/zeebe/gateway/data/MsgPackConverterTest.java
  protocol/src/main/java/io/zeebe/protocol/intent/Intent.java
  protocol/src/main/java/io/zeebe/protocol/intent/VariableIntent.java
  protocol/src/main/resources/protocol.xml
  test-util/src/main/java/io/zeebe/test/util/record/RecordingExporter.java
  test-util/src/main/java/io/zeebe/test/util/record/VariableRecordStream.java
Labels: Status: Needs Review

#1883 chore(broker-core): propagate job payload if task has no output mappings
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/flownode/IOMappingHelper.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/job/JobCompletedEventProcessor.java
  broker-core/src/main/java/io/zeebe/broker/workflow/state/VariablesState.java
  broker-core/src/test/java/io/zeebe/broker/incident/MappingIncidentTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/WorkflowTaskIOMappingTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/state/VariableStateTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/subprocess/EmbeddedSubProcessTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/variables/ActivityInputMappingTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/variables/ActivityOutputMappingTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/variables/JobInputMappingTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/variables/JobOutputMappingTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/variables/WorkflowInstanceVariableTest.java
Labels: Status: Needs Review

#1870 feat(broker): added bpmn element type to WorkflowInstanceRecord
  broker-core/src/main/java/io/zeebe/broker/exporter/record/value/WorkflowInstanceRecordValueImpl.java
  broker-core/src/main/java/io/zeebe/broker/exporter/stream/ExporterRecordMapper.java
  broker-core/src/main/java/io/zeebe/broker/subscription/message/processor/PublishMessageProcessor.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/element/AbstractFlowElement.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/element/ExecutableFlowElement.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/transformation/transformer/FlowElementInstantiationTransformer.java
  broker-core/src/main/java/io/zeebe/broker/workflow/model/transformation/transformer/ProcessTransformer.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/CatchEventBehavior.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/EventOutput.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/gateway/ExclusiveSplitHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/gateway/ParallelSplitHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/instance/CreateWorkflowInstanceHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/instance/CreateWorkflowInstanceOnStartEventHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/sequenceflow/ParallelMergeHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/sequenceflow/StartFlowNodeHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/sequenceflow/TakeSequenceFlowHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/subprocess/TriggerStartEventHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/timer/TriggerTimerProcessor.java
  broker-core/src/test/java/io/zeebe/broker/exporter/stream/ExporterStreamProcessorTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/BpmnElementTypeTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/WorkflowInstanceFunctionalTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/state/ElementInstanceStateTest.java
  exporter-api/src/main/java/io/zeebe/exporter/record/value/WorkflowInstanceRecordValue.java
  exporters/elasticsearch-exporter/src/main/resources/zeebe-record-workflow-instance-template.json
  protocol-impl/pom.xml
  protocol-impl/src/main/java/io/zeebe/protocol/impl/record/value/workflowinstance/WorkflowInstanceRecord.java
  protocol/src/main/java/io/zeebe/protocol/BpmnElementType.java
Labels: Status: Needs Review

#1886 chore(broker-core): the input mapping uses the scope variables
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/flownode/IOMappingHelper.java
  broker-core/src/test/java/io/zeebe/broker/incident/MappingIncidentTest.java
  qa/integration-tests/src/test/java/io/zeebe/broker/it/incident/IncidentTest.java
  qa/integration-tests/src/test/java/io/zeebe/broker/it/startup/BrokerReprocessingTest.java
  qa/integration-tests/src/test/java/io/zeebe/broker/it/workflow/message/MessageCorrelationTest.java
Labels: Status: Needs Review

#1890 chore(broker-core): set correct BPMN element type for event after gateway
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/CatchEventBehavior.java
  broker-core/src/test/java/io/zeebe/broker/workflow/BpmnElementTypeTest.java
Labels: Status: Needs Review

#1887 reject create workflowinstance command when there is no none start event
  broker-core/src/main/java/io/zeebe/broker/workflow/model/element/ExecutableFlowElementContainer.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/instance/CreateWorkflowInstanceHandler.java
  broker-core/src/test/java/io/zeebe/broker/workflow/CreateWorkflowInstanceTest.java
Labels: Status: Needs Review

#1901 fix(broker): limit JobBatchRecord to 65Kb
  broker-core/src/main/java/io/zeebe/broker/job/JobBatchActivateProcessor.java
  broker-core/src/main/java/io/zeebe/broker/logstreams/processor/TypedEventImpl.java
  broker-core/src/main/java/io/zeebe/broker/logstreams/processor/TypedRecord.java
  broker-core/src/test/java/io/zeebe/broker/job/ActivateJobsTest.java
  logstreams/src/main/java/io/zeebe/logstreams/impl/LoggedEventImpl.java
  logstreams/src/main/java/io/zeebe/logstreams/log/LoggedEvent.java
Labels: Scope: broker, Status: Needs Review, Type: Bug

#1904 chore(gateway): re-poll partition if BatchRecord was truncated
  broker-core/src/main/java/io/zeebe/broker/exporter/record/value/JobBatchRecordValueImpl.java
  broker-core/src/main/java/io/zeebe/broker/exporter/stream/ExporterRecordMapper.java
  broker-core/src/main/java/io/zeebe/broker/job/JobBatchActivateProcessor.java
  broker-core/src/test/java/io/zeebe/broker/exporter/stream/ExporterStreamProcessorTest.java
  broker-core/src/test/java/io/zeebe/broker/job/ActivateJobsTest.java
  exporter-api/src/main/java/io/zeebe/exporter/record/value/JobBatchRecordValue.java
  exporters/elasticsearch-exporter/src/main/resources/zeebe-record-job-batch-template.json
  gateway/src/main/java/io/zeebe/gateway/impl/job/ActivateJobsHandler.java
  logstreams/src/main/java/io/zeebe/logstreams/impl/LoggedEventImpl.java
  protocol-impl/src/main/java/io/zeebe/protocol/impl/record/value/job/JobBatchRecord.java
  qa/integration-tests/src/test/java/io/zeebe/broker/it/job/ActivateJobsTest.java
  qa/integration-tests/src/test/resources/payloads/large_random_payload.json
Labels: Status: Needs Review, Type: Maintenance

#1907 fix(broker-core): reject empty correlation key
  broker-core/src/main/java/io/zeebe/broker/workflow/model/validation/ZeebeExpressionValidator.java
  broker-core/src/test/java/io/zeebe/broker/workflow/model/validation/ZeebeRuntimeValidationTest.java
Labels: Status: Needs Review

#1903 chore(broker-core): message payload is set as variables
  broker-core/src/main/java/io/zeebe/broker/exporter/record/RecordMetadataImpl.java
  broker-core/src/main/java/io/zeebe/broker/logstreams/state/ZbColumnFamilies.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/CatchEventBehavior.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/event/TriggerBoundaryEventHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/event/TriggerEventBasedGateway.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/event/UnsubscribeEventHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/flownode/IOMappingHelper.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/job/JobCompletedEventProcessor.java
  broker-core/src/main/java/io/zeebe/broker/workflow/processor/subprocess/TriggerStartEventHandler.java
  broker-core/src/main/java/io/zeebe/broker/workflow/state/ElementInstanceState.java
  broker-core/src/main/java/io/zeebe/broker/workflow/state/StoredRecord.java
  broker-core/src/main/java/io/zeebe/broker/workflow/state/Variable.java
  broker-core/src/main/java/io/zeebe/broker/workflow/state/VariablesState.java
  broker-core/src/test/java/io/zeebe/broker/incident/MappingIncidentTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/boundary/BoundaryEventTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/message/MessageMappingTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/message/MessageStartEventTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/state/ElementInstanceStateTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/state/VariableStateTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/variables/MessageOutputMappingTest.java
  protocol-test-util/src/main/java/io/zeebe/test/broker/protocol/clientapi/PartitionTestClient.java
  qa/integration-tests/src/test/java/io/zeebe/broker/it/workflow/message/MessageCorrelationTest.java
  zb-db/src/main/java/io/zeebe/db/impl/DbBuffer.java
  zb-db/src/main/java/io/zeebe/db/impl/DbBufferView.java
  zb-db/src/test/java/io/zeebe/db/impl/DbBufferTest.java
  zb-db/src/test/java/io/zeebe/db/impl/DbBufferViewTest.java
Labels: Status: Needs Review

#1908 docs(grpc): document gRPC API and protocol
  docs/src/SUMMARY.md
  docs/src/grpc/README.md
  docs/src/grpc/reference.md
  gateway-protocol/src/main/proto/gateway.proto
Labels: Status: Needs Review

#1909 fix(broker-core): ignore empty or invalid task headers
  broker-core/src/main/java/io/zeebe/broker/workflow/model/transformation/transformer/ServiceTaskTransformer.java
  broker-core/src/test/java/io/zeebe/broker/workflow/activity/ActivityTest.java
Labels: Status: Needs Review

#1915 docs(basics): replace 'client-server' entry with 'architecture' entry
  docs/src/SUMMARY.md
  docs/src/basics/client-server.md
  docs/src/basics/zeebe-architecture.png
Labels: Status: Needs Review

#1917 docs(grpc): syntax highlighting for protobuf
  docs/book.toml
  docs/highlight.protobuf.js
Labels: Status: Needs Review

#1918 fix(broker-core): fix state interference with processor
  broker-core/src/main/java/io/zeebe/broker/incident/processor/IncidentState.java
  broker-core/src/main/java/io/zeebe/broker/job/JobState.java
  broker-core/src/main/java/io/zeebe/broker/workflow/state/PersistedWorkflow.java
  broker-core/src/test/java/io/zeebe/broker/incident/IncidentStateTest.java
  broker-core/src/test/java/io/zeebe/broker/job/JobStateTest.java
  broker-core/src/test/java/io/zeebe/broker/subscription/message/state/MessageStartEventSubscriptionStateTest.java
  broker-core/src/test/java/io/zeebe/broker/workflow/state/WorkflowStateTest.java
Labels: Status: Needs Review
