Repository camunda/camunda, pull requests merged in 2019-10, with the labels that each got.

#3145 chore(clients/go): wrap env vars to make tests controllable
  clients/go/zbc/client.go
  clients/go/zbc/client_test.go
  clients/go/zbc/envWrapper.go
  clients/go/zbc/envWrapper_test.go
  clients/go/zbc/oauthCredentialsCache.go
  clients/go/zbc/oauthCredentialsCache_test.go
  clients/go/zbc/oauthCredentialsProvider.go
  clients/go/zbc/oauthCredentialsProvider_test.go
  docs/src/operations/authentication.md
Labels: Scope: clients/go, Type: Maintenance

#3159 Fix flaky test
  clients/java/src/test/java/io/zeebe/client/CredentialsTest.java
Labels: Scope: clients/java, Type: Unstable Test

#3229 docs(go-client): add package prefix to code sample
  docs/src/go-client/get-started.md
Labels: Type: Docs

#3241 fix(clients/go): fix zbctl building failure for Windows
  clients/go/Gopkg.lock
  clients/go/vendor/golang.org/x/sys/unix/sockcmsg_dragonfly.go
  clients/go/vendor/golang.org/x/sys/unix/sockcmsg_linux.go
  clients/go/vendor/golang.org/x/sys/unix/sockcmsg_unix.go
  clients/go/vendor/golang.org/x/sys/unix/sockcmsg_unix_other.go
  clients/go/vendor/golang.org/x/sys/unix/syscall_bsd.go
  clients/go/vendor/golang.org/x/sys/unix/syscall_dragonfly.go
  clients/go/vendor/golang.org/x/sys/unix/syscall_linux.go
  clients/go/vendor/golang.org/x/sys/unix/syscall_solaris.go
  clients/go/vendor/golang.org/x/sys/windows/security_windows.go
  clients/go/vendor/golang.org/x/sys/windows/syscall_windows.go
  clients/go/vendor/golang.org/x/tools/go/packages/golist.go
  clients/go/vendor/golang.org/x/tools/go/packages/golist_overlay.go
  clients/go/vendor/golang.org/x/tools/internal/gopathwalk/walk.go
  clients/go/vendor/golang.org/x/tools/internal/span/parse.go
  clients/go/vendor/golang.org/x/tools/internal/span/span.go
  clients/go/vendor/golang.org/x/tools/internal/span/token.go
  clients/go/vendor/golang.org/x/tools/internal/span/token111.go
  clients/go/vendor/golang.org/x/tools/internal/span/token112.go
  clients/go/vendor/golang.org/x/tools/internal/span/uri.go
  clients/go/vendor/golang.org/x/tools/internal/span/utf16.go
  clients/go/zbc/containerSuite_test.go
  clients/zbctl/Gopkg.lock
  clients/zbctl/vendor/github.com/spf13/pflag/.travis.yml
  clients/zbctl/vendor/github.com/spf13/pflag/README.md
  clients/zbctl/vendor/github.com/spf13/pflag/bool_slice.go
  clients/zbctl/vendor/github.com/spf13/pflag/count.go
  clients/zbctl/vendor/github.com/spf13/pflag/duration_slice.go
  clients/zbctl/vendor/github.com/spf13/pflag/flag.go
  clients/zbctl/vendor/github.com/spf13/pflag/float32_slice.go
  clients/zbctl/vendor/github.com/spf13/pflag/float64_slice.go
  clients/zbctl/vendor/github.com/spf13/pflag/go.mod
  clients/zbctl/vendor/github.com/spf13/pflag/go.sum
  clients/zbctl/vendor/github.com/spf13/pflag/int32_slice.go
  clients/zbctl/vendor/github.com/spf13/pflag/int64_slice.go
  clients/zbctl/vendor/github.com/spf13/pflag/int_slice.go
  clients/zbctl/vendor/github.com/spf13/pflag/ip_slice.go
  clients/zbctl/vendor/github.com/spf13/pflag/string_array.go
  clients/zbctl/vendor/github.com/spf13/pflag/string_slice.go
  clients/zbctl/vendor/github.com/spf13/pflag/string_to_int.go
  clients/zbctl/vendor/github.com/spf13/pflag/string_to_int64.go
  clients/zbctl/vendor/github.com/spf13/pflag/string_to_string.go
  clients/zbctl/vendor/github.com/spf13/pflag/uint_slice.go
Labels: Scope: clients/go, Type: Bug

#3277 docs(bpmn-workflows): add call-activities section
  docs/media-src/bpmn-workflows/call-activities/call-activities-boundary-events.bpmn
  docs/media-src/bpmn-workflows/call-activities/call-activities-example.bpmn
  docs/src/SUMMARY.md
  docs/src/bpmn-workflows/bpmn-coverage.md
  docs/src/bpmn-workflows/call-activities/bpmn-modeler-call-activity.gif
  docs/src/bpmn-workflows/call-activities/call-activities-boundary-events.png
  docs/src/bpmn-workflows/call-activities/call-activities-example.png
  docs/src/bpmn-workflows/call-activities/call-activities.md
  docs/src/bpmn-workflows/multi-instance/multi-instance.md
  docs/src/bpmn-workflows/subprocesses.md
Labels: Needs Release Note, Release: 0.22.0
