Repository camunda/camunda, pull requests merged in 2020-11, with the labels that each got.

#5630 Improve OauthCredentialProvider in Go Client
  clients/go/pkg/zbc/oauthCredentialsProvider.go
  clients/go/pkg/zbc/oauthCredentialsProvider_test.go
Labels: hacktoberfest-accepted

#5817 chore(github): add backport workflow
  .github/pull_request_template.md
  .github/workflows/backport.yml
Labels: backport stable/0.24

#5834 test(github): add backport test file
  backport-testfile
Labels: Type: Maintenance, backport stable/0.23, backport stable/0.24

#5735 chore(ci): stash/unstash build artifacts
  .ci/scripts/distribution/it-java.sh
  Jenkinsfile
  parent/pom.xml
Labels: backport stable/0.24, backport stable/0.25

#5872 Show container logs on update test failure
  update-tests/src/test/java/io/zeebe/test/ContainerStateExtension.java
Labels: backport stable/0.25

#5884 Schedule clean up periodically
  broker/src/main/java/io/zeebe/broker/exporter/metrics/MetricsExporter.java
Labels: backport stable/0.24, backport stable/0.25

#5897 Improve reliability of UpdateTest suite
  update-tests/src/test/java/io/zeebe/test/UpdateTest.java
  update-tests/src/test/java/io/zeebe/test/UpdateTestCaseProvider.java
Labels: backport stable/0.24, backport stable/0.25

#5910 Use ManagedVolume instead of shared folder
  update-tests/pom.xml
  update-tests/src/test/java/io/zeebe/test/RollingUpdateTest.java
Labels: backport stable/0.24, backport stable/0.25
