Repository camunda/camunda, pull requests merged in 2020-03, with the labels that each got.

#3962 chore(broker): move compaction responsibility from LogStream to broker
  broker/src/main/java/io/zeebe/broker/clustering/atomix/storage/snapshot/AtomixSnapshotStorage.java
  broker/src/main/java/io/zeebe/broker/clustering/atomix/storage/snapshot/DbSnapshot.java
  broker/src/main/java/io/zeebe/broker/clustering/atomix/storage/snapshot/DbSnapshotId.java
  broker/src/main/java/io/zeebe/broker/clustering/atomix/storage/snapshot/DbSnapshotMetadata.java
  broker/src/main/java/io/zeebe/broker/clustering/atomix/storage/snapshot/DbSnapshotStore.java
  broker/src/main/java/io/zeebe/broker/clustering/atomix/storage/snapshot/SnapshotImpl.java
  broker/src/main/java/io/zeebe/broker/engine/impl/StateReplication.java
  broker/src/main/java/io/zeebe/broker/logstreams/AtomixLogCompactor.java
  broker/src/main/java/io/zeebe/broker/logstreams/LogCompactor.java
  broker/src/main/java/io/zeebe/broker/logstreams/LogDeletionService.java
  broker/src/main/java/io/zeebe/broker/system/partitions/ZeebePartition.java
  broker/src/test/java/io/zeebe/broker/clustering/atomix/storage/snapshot/AtomixSnapshotStorageTest.java
  broker/src/test/java/io/zeebe/broker/logstreams/AtomixLogDeletionServiceTest.java
  broker/src/test/java/io/zeebe/broker/logstreams/LogStreamDeletionTest.java
  engine/src/main/java/io/zeebe/engine/processor/AsyncSnapshotDirector.java
  engine/src/test/java/io/zeebe/engine/processor/AsyncSnapshotingTest.java
  engine/src/test/java/io/zeebe/engine/processor/StreamProcessorTest.java
  logstreams/src/main/java/io/zeebe/logstreams/impl/log/LogStreamImpl.java
  logstreams/src/main/java/io/zeebe/logstreams/log/LogStream.java
  logstreams/src/main/java/io/zeebe/logstreams/spi/LogStorage.java
  logstreams/src/main/java/io/zeebe/logstreams/spi/SnapshotController.java
  logstreams/src/main/java/io/zeebe/logstreams/state/FileSnapshotConsumer.java
  logstreams/src/main/java/io/zeebe/logstreams/state/Snapshot.java
  logstreams/src/main/java/io/zeebe/logstreams/state/SnapshotStorage.java
  logstreams/src/main/java/io/zeebe/logstreams/state/StateSnapshotController.java
  logstreams/src/main/java/io/zeebe/logstreams/storage/atomix/AtomixLogStorage.java
  logstreams/src/main/java/io/zeebe/logstreams/storage/atomix/AtomixRaftServer.java
  logstreams/src/test/java/io/zeebe/logstreams/log/LogStreamDeleteTest.java
  logstreams/src/test/java/io/zeebe/logstreams/state/ReplicateSnapshotControllerTest.java
  logstreams/src/test/java/io/zeebe/logstreams/state/StateSnapshotControllerTest.java
  logstreams/src/test/java/io/zeebe/logstreams/util/AtomixLogStorageRule.java
  logstreams/src/test/java/io/zeebe/logstreams/util/SyncLogStream.java
  logstreams/src/test/java/io/zeebe/logstreams/util/SynchronousLogStream.java
  logstreams/src/test/java/io/zeebe/logstreams/util/TestSnapshotStorage.java
  qa/integration-tests/src/test/java/io/zeebe/broker/it/clustering/SnapshotReplicationTest.java
Labels: Scope: broker, Type: Maintenance

#3923 fix(broker): broadcast snapshots to static set of followers
  broker/src/main/java/io/zeebe/broker/Broker.java
  broker/src/main/java/io/zeebe/broker/clustering/atomix/storage/snapshot/DbSnapshotMetadata.java
  broker/src/main/java/io/zeebe/broker/engine/impl/StateReplication.java
  broker/src/main/java/io/zeebe/broker/system/partitions/PartitionMessagingService.java
  broker/src/main/java/io/zeebe/broker/system/partitions/ZeebePartition.java
  broker/src/main/java/io/zeebe/broker/system/partitions/impl/AtomixPartitionMessagingService.java
  engine/src/main/java/io/zeebe/engine/util/SbeBufferWriterReader.java
  qa/integration-tests/src/test/java/io/zeebe/broker/it/clustering/ClusteringRule.java
  qa/integration-tests/src/test/java/io/zeebe/broker/it/clustering/SnapshotReplicationTest.java
Labels: Scope: broker, Type: Bug

#4057 chore(logstreams): fixes race condition on LogStream#close()
  logstreams/src/test/java/io/zeebe/logstreams/log/LogStreamTest.java
  logstreams/src/test/java/io/zeebe/logstreams/util/LogStreamRule.java
Labels: Scope: broker, Type: Unstable Test

#4038 chore(broker): Replace GSON with Jackson in BrokerCfg and GatewayCfg
  broker/pom.xml
  broker/src/main/java/io/zeebe/broker/system/configuration/BrokerCfg.java
  gateway/pom.xml
  gateway/src/main/java/io/zeebe/gateway/impl/configuration/GatewayCfg.java
  parent/pom.xml
  util/pom.xml
  util/src/main/java/io/zeebe/util/ObjectWriterFactory.java
  util/src/test/java/io/zeebe/util/ObjectWriterFactoryTest.java
Labels: Type: Maintenance

#4055 chore(benchmarks): removes zeebe-benchmark from zeebe-root
  benchmarks/project/pom.xml
  parent/pom.xml
  pom.xml
Labels: Scope: broker, Type: Maintenance

#4068 feat(broker): feel expressions for message correlation keys
  bpmn-model/src/main/java/io/zeebe/model/bpmn/builder/AbstractBaseElementBuilder.java
  bpmn-model/src/main/java/io/zeebe/model/bpmn/builder/zeebe/MessageBuilder.java
  bpmn-model/src/test/java/io/zeebe/model/bpmn/instance/zeebe/ZeebeBuilderTest.java
  bpmn-model/src/test/java/io/zeebe/model/bpmn/validation/ZeebeEventBasedGatewayValidationTest.java
  bpmn-model/src/test/java/io/zeebe/model/bpmn/validation/ZeebeGatewayValidationTest.java
  engine/pom.xml
  engine/src/main/java/io/zeebe/engine/processor/workflow/BpmnStepHandlers.java
  engine/src/main/java/io/zeebe/engine/processor/workflow/BpmnStepProcessor.java
  engine/src/main/java/io/zeebe/engine/processor/workflow/CatchEventBehavior.java
  engine/src/main/java/io/zeebe/engine/processor/workflow/EngineProcessors.java
  engine/src/main/java/io/zeebe/engine/processor/workflow/ExpressionProcessor.java
  engine/src/main/java/io/zeebe/engine/processor/workflow/WorkflowEventProcessors.java
  engine/src/main/java/io/zeebe/engine/processor/workflow/deployment/model/element/ExecutableMessage.java
  engine/src/main/java/io/zeebe/engine/processor/workflow/deployment/model/transformer/MessageTransformer.java
  engine/src/main/java/io/zeebe/engine/processor/workflow/deployment/model/validation/ZeebeRuntimeValidators.java
  engine/src/test/java/io/zeebe/engine/processor/workflow/CatchEventBehaviorTest.java
  engine/src/test/java/io/zeebe/engine/processor/workflow/ExpressionProcessorCorrelationKeyResultHandlerTest.java
  engine/src/test/java/io/zeebe/engine/processor/workflow/WorkflowInstanceStreamProcessorRule.java
  engine/src/test/java/io/zeebe/engine/processor/workflow/deployment/TransformingDeploymentCreateProcessorTest.java
  engine/src/test/java/io/zeebe/engine/processor/workflow/deployment/model/validation/ZeebeRuntimeValidationTest.java
  engine/src/test/java/io/zeebe/engine/processor/workflow/incident/EventSubscriptionIncidentTest.java
  engine/src/test/java/io/zeebe/engine/processor/workflow/incident/IncidentStreamProcessorRule.java
  engine/src/test/java/io/zeebe/engine/processor/workflow/incident/MessageIncidentTest.java
Labels: Type: Enhancement

#4112 chore(broker): avoid NPE by using Optional
  broker/src/main/java/io/zeebe/broker/clustering/atomix/storage/snapshot/AtomixSnapshotStorage.java
  broker/src/test/java/io/zeebe/broker/clustering/atomix/storage/snapshot/AtomixSnapshotStorageTest.java
  engine/src/main/java/io/zeebe/engine/processor/AsyncSnapshotDirector.java
  engine/src/main/java/io/zeebe/engine/processor/ProcessingStateMachine.java
  engine/src/main/java/io/zeebe/engine/processor/StreamProcessor.java
  engine/src/test/java/io/zeebe/engine/processor/StreamProcessorTest.java
  logstreams/src/main/java/io/zeebe/logstreams/spi/SnapshotController.java
  logstreams/src/main/java/io/zeebe/logstreams/state/FileSnapshotConsumer.java
  logstreams/src/main/java/io/zeebe/logstreams/state/SnapshotStorage.java
  logstreams/src/main/java/io/zeebe/logstreams/state/StateSnapshotController.java
  logstreams/src/test/java/io/zeebe/logstreams/state/FailingSnapshotChunkReplicationTest.java
  logstreams/src/test/java/io/zeebe/logstreams/state/StateSnapshotControllerTest.java
  logstreams/src/test/java/io/zeebe/logstreams/util/TestSnapshotStorage.java
Labels: Scope: broker, Type: Bug

#4108 chore(broker): improve fault tolerance on snapshot replication errors
  broker/src/main/java/io/zeebe/broker/clustering/atomix/storage/snapshot/AtomixSnapshotStorage.java
  broker/src/main/java/io/zeebe/broker/clustering/atomix/storage/snapshot/DbPendingSnapshot.java
  broker/src/main/java/io/zeebe/broker/clustering/atomix/storage/snapshot/DbSnapshotStore.java
  logstreams/src/main/java/io/zeebe/logstreams/state/FileSnapshotConsumer.java
  util/src/main/java/io/zeebe/util/FileUtil.java
Labels: Scope: broker, Type: Bug

#4025 docs(appendix): Update docs with new info on configuration
  broker/src/main/java/io/zeebe/broker/system/SystemContext.java
  broker/src/main/java/io/zeebe/broker/system/configuration/ExporterCfg.java
  broker/src/test/java/io/zeebe/broker/system/configuration/BrokerCfgTest.java
  broker/src/test/resources/system/exporters.yaml
  dist/src/main/config/gateway.cfg.yaml
  dist/src/main/config/getting-started.yaml
  dist/src/main/config/zeebe.cfg.yaml
  dist/src/main/java/io/zeebe/broker/StandaloneBroker.java
  dist/src/main/resources/assets/zeebe_broker_banner.txt
  dist/src/main/resources/assets/zeebe_gateway_banner.txt
  docs/src/SUMMARY.md
  docs/src/appendix/broker-config-template.md
  docs/src/appendix/deprecated-features.md
  docs/src/appendix/environment-variables.md
  docs/src/appendix/gateway-config-template.md
  docs/src/appendix/index.md
  docs/src/basics/index.md
  docs/src/getting-started/deploy-a-workflow.md
  docs/src/getting-started/img/tutorial-3.1-zeebe-conf-file.png
  docs/src/introduction/install.md
  docs/src/operations/configuration.md
  docs/src/operations/metrics.md
  docs/src/operations/network-ports.md
  docs/src/operations/resource-planning.md
  docs/src/operations/setting-up-a-cluster.md
  docs/src/operations/the-zeebecfgyaml-file.md
  legacy/toml-config/src/main/java/io/zeebe/legacy/tomlconfig/LegacyConfigurationSupport.java
Labels: Type: Docs

#4113 chore(broker): split snapshot replication destination folders
  broker/src/main/java/io/zeebe/broker/clustering/atomix/storage/snapshot/AtomixSnapshotStorage.java
  broker/src/main/java/io/zeebe/broker/clustering/atomix/storage/snapshot/DbSnapshotMetadata.java
  broker/src/main/java/io/zeebe/broker/clustering/atomix/storage/snapshot/DbSnapshotStore.java
  broker/src/main/java/io/zeebe/broker/system/partitions/ZeebePartition.java
  broker/src/test/java/io/zeebe/broker/clustering/atomix/storage/snapshot/AtomixSnapshotStorageTest.java
  broker/src/test/java/io/zeebe/broker/clustering/atomix/storage/snapshot/DbSnapshotStoreTest.java
  broker/src/test/java/io/zeebe/broker/logstreams/AtomixLogDeletionServiceTest.java
  engine/src/test/java/io/zeebe/engine/processor/AsyncSnapshotingTest.java
  qa/integration-tests/src/test/java/io/zeebe/broker/it/clustering/ClusteringRule.java
Labels: Scope: broker, Type: Bug

#4115 fix(clients/go): make OAuth request/storage spec compliant
  clients/go/.gocompat.json
  clients/go/go.mod
  clients/go/go.sum
  clients/go/pkg/zbc/credentialsProvider_test.go
  clients/go/pkg/zbc/envWrapper.go
  clients/go/pkg/zbc/oauthCredentialsCache.go
  clients/go/pkg/zbc/oauthCredentialsCache_test.go
  clients/go/pkg/zbc/oauthCredentialsProvider.go
  clients/go/pkg/zbc/oauthCredentialsProvider_test.go
  clients/go/pkg/zbc/testdata/credentialsCache.yml
  clients/go/vendor/golang.org/x/net/context/ctxhttp/ctxhttp.go
  clients/go/vendor/golang.org/x/oauth2/.travis.yml
  clients/go/vendor/golang.org/x/oauth2/AUTHORS
  clients/go/vendor/golang.org/x/oauth2/CONTRIBUTING.md
  clients/go/vendor/golang.org/x/oauth2/CONTRIBUTORS
  clients/go/vendor/golang.org/x/oauth2/LICENSE
  clients/go/vendor/golang.org/x/oauth2/README.md
  clients/go/vendor/golang.org/x/oauth2/clientcredentials/clientcredentials.go
  clients/go/vendor/golang.org/x/oauth2/go.mod
  clients/go/vendor/golang.org/x/oauth2/go.sum
  clients/go/vendor/golang.org/x/oauth2/internal/client_appengine.go
  clients/go/vendor/golang.org/x/oauth2/internal/doc.go
  clients/go/vendor/golang.org/x/oauth2/internal/oauth2.go
  clients/go/vendor/golang.org/x/oauth2/internal/token.go
  clients/go/vendor/golang.org/x/oauth2/internal/transport.go
  clients/go/vendor/golang.org/x/oauth2/oauth2.go
  clients/go/vendor/golang.org/x/oauth2/token.go
  clients/go/vendor/golang.org/x/oauth2/transport.go
  clients/go/vendor/google.golang.org/appengine/LICENSE
  clients/go/vendor/google.golang.org/appengine/internal/api.go
  clients/go/vendor/google.golang.org/appengine/internal/api_classic.go
  clients/go/vendor/google.golang.org/appengine/internal/api_common.go
  clients/go/vendor/google.golang.org/appengine/internal/app_id.go
  clients/go/vendor/google.golang.org/appengine/internal/base/api_base.pb.go
  clients/go/vendor/google.golang.org/appengine/internal/base/api_base.proto
  clients/go/vendor/google.golang.org/appengine/internal/datastore/datastore_v3.pb.go
  clients/go/vendor/google.golang.org/appengine/internal/datastore/datastore_v3.proto
  clients/go/vendor/google.golang.org/appengine/internal/identity.go
  clients/go/vendor/google.golang.org/appengine/internal/identity_classic.go
  clients/go/vendor/google.golang.org/appengine/internal/identity_flex.go
  clients/go/vendor/google.golang.org/appengine/internal/identity_vm.go
  clients/go/vendor/google.golang.org/appengine/internal/internal.go
  clients/go/vendor/google.golang.org/appengine/internal/log/log_service.pb.go
  clients/go/vendor/google.golang.org/appengine/internal/log/log_service.proto
  clients/go/vendor/google.golang.org/appengine/internal/main.go
  clients/go/vendor/google.golang.org/appengine/internal/main_common.go
  clients/go/vendor/google.golang.org/appengine/internal/main_vm.go
  clients/go/vendor/google.golang.org/appengine/internal/metadata.go
  clients/go/vendor/google.golang.org/appengine/internal/net.go
  clients/go/vendor/google.golang.org/appengine/internal/regen.sh
  clients/go/vendor/google.golang.org/appengine/internal/remote_api/remote_api.pb.go
  clients/go/vendor/google.golang.org/appengine/internal/remote_api/remote_api.proto
  clients/go/vendor/google.golang.org/appengine/internal/transaction.go
  clients/go/vendor/google.golang.org/appengine/internal/urlfetch/urlfetch_service.pb.go
  clients/go/vendor/google.golang.org/appengine/internal/urlfetch/urlfetch_service.proto
  clients/go/vendor/google.golang.org/appengine/urlfetch/urlfetch.go
  clients/go/vendor/modules.txt
Labels: Needs Release Note, go

#4139 chore(qa): fix flaky snapshot replication test
  qa/integration-tests/src/test/java/io/zeebe/broker/it/clustering/SnapshotReplicationTest.java
Labels: Scope: broker, Type: Unstable Test
