Repository camunda/camunda, pull requests merged in 2021-01, with the labels that each got.

#6021 CI scripts/pipeline clean up
  .ci/scripts/distribution/build-java.sh
  .ci/scripts/distribution/it-java.sh
  .ci/scripts/distribution/it-prepare.sh
  .ci/scripts/distribution/test-java.sh
  .ci/scripts/distribution/test-java8.sh
  .ci/scripts/lib/flaky-tests.sh
  Jenkinsfile
Labels: backport stable/0.25

#6063 chore(clients/go): test zbctl JSON output as JSON
  clients/go/cmd/zbctl/main_test.go
Labels: backport stable/0.25

#6081 fix(gateway): not remove stacktraces
  gateway/src/main/java/io/zeebe/gateway/grpc/GrpcErrorMapper.java
  gateway/src/test/java/io/zeebe/gateway/grpc/GrpcErrorMapperTest.java
Labels: backport stable/0.25, backport stable/0.26

#6083 fix(broker): detect out of cluster messages received in NettyUnicastService
  atomix/cluster/src/main/java/io/atomix/cluster/AtomixCluster.java
  atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyUnicastService.java
  atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/NettyUnicastServiceTest.java
Labels: BREAKING CHANGE

#6110 fix(broker): improve logging in broker and atomix
  atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  broker/src/main/java/io/zeebe/broker/bootstrap/StartProcess.java
Labels: backport stable/0.25, backport stable/0.26

#6119 Handle INACTIVE role in gateway and clients
  broker/src/main/java/io/zeebe/broker/clustering/topology/TopologyManagerImpl.java
  clients/go/cmd/zbctl/internal/commands/status.go
  clients/go/go.sum
  clients/go/pkg/pb/gateway.pb.go
  clients/java/src/main/java/io/zeebe/client/api/response/PartitionBrokerRole.java
  clients/java/src/main/java/io/zeebe/client/impl/response/BrokerInfoImpl.java
  clients/java/src/main/java/io/zeebe/client/impl/response/PartitionInfoImpl.java
  clients/java/src/test/java/io/zeebe/client/TopologyRequestTest.java
  gateway-protocol/src/main/proto/gateway.proto
  gateway-protocol/src/main/proto/proto.lock
  gateway/src/main/java/io/zeebe/gateway/EndpointManager.java
  gateway/src/main/java/io/zeebe/gateway/GatewayGrpcService.java
  gateway/src/main/java/io/zeebe/gateway/impl/broker/BrokerRequestManager.java
  gateway/src/main/java/io/zeebe/gateway/impl/broker/cluster/BrokerClusterState.java
  gateway/src/main/java/io/zeebe/gateway/impl/broker/cluster/BrokerClusterStateImpl.java
  gateway/src/main/java/io/zeebe/gateway/impl/broker/cluster/BrokerTopologyManagerImpl.java
  gateway/src/test/java/io/zeebe/gateway/api/topology/TopologyTest.java
  gateway/src/test/java/io/zeebe/gateway/topology/TopologyUpdateTest.java
  protocol-impl/src/main/java/io/zeebe/protocol/impl/encoding/BrokerInfo.java
Labels: backport stable/0.25, backport stable/0.26

#6141 Fix overwrite last written position to zero
  engine/src/main/java/io/zeebe/engine/processing/streamprocessor/ProcessingStateMachine.java
  engine/src/test/java/io/zeebe/engine/processing/streamprocessor/StreamProcessorTest.java
Labels: backport stable/0.25, backport stable/0.26

#6192 fix(gateway): propagate rejections to clients without retrying
  gateway/src/main/java/io/zeebe/gateway/impl/job/LongPollingActivateJobsHandler.java
  gateway/src/main/java/io/zeebe/gateway/impl/job/LongPollingActivateJobsRequest.java
  gateway/src/main/java/io/zeebe/gateway/impl/job/RoundRobinActivateJobsHandler.java
  gateway/src/test/java/io/zeebe/gateway/api/job/ActivateJobsTest.java
Labels: backport stable/0.25, backport stable/0.26

#6211 fix(clients/go): log failure to reopen stream
  clients/go/pkg/worker/jobPoller.go
Labels: backport stable/0.25, backport stable/0.26
