Repository camunda/camunda, pull requests merged in 2021-11, with the labels that each got.

#8097 Avoid duplicated event triggers for message start events
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnEventSubscriptionBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/MessageStartEventSubscriptionCorrelatedApplier.java
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceElementActivatingApplier.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/message/MessageStartEventTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/timer/TimerStartEventTest.java
  test-util/src/main/java/io/camunda/zeebe/test/util/record/VariableRecordStream.java
Labels: backport stable/1.1, backport stable/1.2

#8105 [Backport 1.2] Avoid duplicated event triggers for message start events
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnEventSubscriptionBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnVariableMappingBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/MessageStartEventSubscriptionCorrelatedApplier.java
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceElementActivatingApplier.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/message/MessageStartEventTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/timer/TimerStartEventTest.java
  test-util/src/main/java/io/camunda/zeebe/test/util/record/VariableRecordStream.java
Labels: backport stable/1.1

#8048 feat(clients/zbctl): publish messages with JSON file as variables
  clients/go/cmd/zbctl/internal/commands/publishMessage.go
  clients/go/cmd/zbctl/main_test.go
  clients/go/cmd/zbctl/testdata/message_variables.json
  clients/go/cmd/zbctl/testdata/publish_message_with_variables_file.golden
Labels: hacktoberfest, hacktoberfest-accepted

#8142 fix(protocol): prevent NullPointerException in BpmnElementType
  protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BpmnElementType.java
Labels: backport stable/1.1, backport stable/1.2

#8124 Close journal readers to remove references to compacted segments
  atomix/cluster/src/main/java/io/atomix/raft/cluster/impl/RaftMemberContext.java
  atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  atomix/cluster/src/main/java/io/atomix/raft/roles/LeaderRole.java
  atomix/cluster/src/main/java/io/atomix/raft/roles/PassiveRole.java
  atomix/cluster/src/test/java/io/atomix/raft/roles/LeaderRoleTest.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ReaderCloseTest.java
Labels: backport stable/1.2

#8154 Add id attribute for userTaskForm
  bpmn-model/revapi.json
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/impl/instance/zeebe/ZeebeUserTaskFormImpl.java
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/instance/zeebe/ZeebeUserTaskForm.java
  bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/builder/UserTaskBuilderTest.java
  bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/instance/zeebe/ZeebeUserTaskFormTest.java
Labels: backport stable/1.1, backport stable/1.2

#8183 [Backport stable/1.2] Add id attribute for userTaskForm
  bpmn-model/revapi.json
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/impl/instance/zeebe/ZeebeUserTaskFormImpl.java
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/instance/zeebe/ZeebeUserTaskForm.java
  bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/builder/UserTaskBuilderTest.java
  bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/instance/zeebe/ZeebeUserTaskFormTest.java
Labels: backport stable/1.1

#8163 Verify behavior for concurrently modified input collection of parallel multi instance
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/MultiInstanceIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/util/RecordToWrite.java
  engine/src/test/java/io/camunda/zeebe/engine/util/Records.java
Labels: backport stable/1.1, backport stable/1.2

#8213 fix(snapshot): purge transient snapshots when newer snapshot exists
  snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStore.java
  snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedTransientSnapshotTest.java
Labels: backport stable/1.1, backport stable/1.2

#8219 fix(snapshot): take snapshot after pending snapshot is added
  snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStore.java
Labels: backport stable/1.1, backport stable/1.2

#8176 chore(snapshot): create snapshot exporter position is -1
  atomix/cluster/src/test/java/io/atomix/raft/RaftFailOverTest.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/StateControllerImpl.java
  broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/StateControllerImplTest.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteredSnapshotTest.java
Labels: backport stable/1.1, backport stable/1.2

#8245 fix(broker): use user provided configuration when building raft partition
  broker/pom.xml
  broker/src/main/java/io/camunda/zeebe/broker/partitioning/RaftPartitionGroupFactory.java
  broker/src/test/java/io/camunda/zeebe/broker/partitioning/RaftPartitionGroupFactoryTest.java
Labels: backport stable/1.2

#8272 Fix data race between `AtomixServerTransport` and `RequestHandler`s
  transport/src/main/java/io/camunda/zeebe/transport/impl/AtomixServerTransport.java
Labels: backport stable/1.2

#8293 fix(journal): prevent concurrent delete and reader creation
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournal.java
  journal/src/test/java/io/camunda/zeebe/journal/file/SegmentedJournalTest.java
Labels: backport stable/1.2
