Repository camunda/camunda, pull requests merged in 2021-05, with the labels that each got.

#6937 fix(elastisearch-exporter): use component template for common mappings
  exporters/elasticsearch-exporter/docker-compose.yml
  exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchClient.java
  exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  exporters/elasticsearch-exporter/src/main/resources/zeebe-record-deployment-template.json
  exporters/elasticsearch-exporter/src/main/resources/zeebe-record-error-template.json
  exporters/elasticsearch-exporter/src/main/resources/zeebe-record-incident-template.json
  exporters/elasticsearch-exporter/src/main/resources/zeebe-record-job-batch-template.json
  exporters/elasticsearch-exporter/src/main/resources/zeebe-record-job-template.json
  exporters/elasticsearch-exporter/src/main/resources/zeebe-record-message-subscription-template.json
  exporters/elasticsearch-exporter/src/main/resources/zeebe-record-message-template.json
  exporters/elasticsearch-exporter/src/main/resources/zeebe-record-process-instance-creation-template.json
  exporters/elasticsearch-exporter/src/main/resources/zeebe-record-process-instance-template.json
  exporters/elasticsearch-exporter/src/main/resources/zeebe-record-process-message-subscription-template.json
  exporters/elasticsearch-exporter/src/main/resources/zeebe-record-process-template.json
  exporters/elasticsearch-exporter/src/main/resources/zeebe-record-template.json
  exporters/elasticsearch-exporter/src/main/resources/zeebe-record-variable-document-template.json
  exporters/elasticsearch-exporter/src/main/resources/zeebe-record-variable-template.json
  exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterTest.java
Labels: backport release-1.0.0-rc1

#6950 Fixes memory leak in messaging service
  atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
Labels: backport release-1.0.0, backport stable/0.26

#6963 Rename distro archive folder to camunda-cloud-zeebe
  dist/pom.xml
  dist/src/main/assembly.xml
Labels: backport release-1.0.0

#6960 Don't override variables when completing sub process
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessMessageSubscriptionCorrelatedApplier.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/subprocess/EmbeddedSubProcessTest.java
  engine/src/test/java/io/camunda/zeebe/engine/util/client/VariableClient.java
  test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
Labels: backport release-1.0.0

#6974 Ignore missing files on transient snapshot abort
  snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedTransientSnapshot.java
Labels: backport release-1.0.0

#6971 Fixes wrong source record position due incomplete writer reset
  engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobTimeoutTrigger.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/writers/TypedStreamWriterImpl.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobTimeOutTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobTimeoutTriggerTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/message/PublishMessageTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/timer/TimerCatchEventTest.java
Labels: backport release-1.0.0

#6977 Fix flaky timer test
  engine/src/test/java/io/camunda/zeebe/engine/processing/timer/TimerStartEventTest.java
  engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
Labels: backport release-1.0.0

#6996 Remove ignoreVariablesAbove ES configuration option
  benchmarks/setup/default/zeebe-values.yaml
  broker/src/test/resources/system/elasticexporter.yaml
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  exporters/elasticsearch-exporter/README.md
  exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchClient.java
  exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporterConfiguration.java
  exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchClientTest.java
Labels: backport release-1.0.0

#7004 Avoid creating one FEEL engine per deployment
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/DeploymentTransformer.java
Labels: backport release-1.0.0

#6998 Create no event scopes for process start events
  engine/src/main/java/io/camunda/zeebe/engine/processing/timer/TriggerTimerProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/MessageStartEventSubscriptionCorrelatedApplier.java
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/MessageStartEventSubscriptionCreatedApplier.java
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/MessageStartEventSubscriptionDeletedApplier.java
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessCreatedApplier.java
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessEventTriggeringApplier.java
  engine/src/main/java/io/camunda/zeebe/engine/state/instance/DbEventScopeInstanceState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableEventScopeInstanceState.java
  engine/src/test/java/io/camunda/zeebe/engine/state/ProcessExecutionCleanStateTest.java
  engine/src/test/java/io/camunda/zeebe/engine/state/instance/EventScopeInstanceStateTest.java
Labels: backport release-1.0.0

#6999 Lower log level of IOException during snapshot replication to warning
  atomix/cluster/src/main/java/io/atomix/raft/roles/PassiveRole.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/StateControllerImpl.java
  snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedReceivedSnapshot.java
Labels: backport release-1.0.0

#6992 Ensures the advertised address is not resolved
  atomix/utils/src/main/java/io/atomix/utils/net/Address.java
  atomix/utils/src/test/java/io/atomix/utils/net/AddressTest.java
  broker/src/main/java/io/camunda/zeebe/broker/system/configuration/SocketBindingCfg.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/broker/it/network/AdvertisedAddressTest.java
Labels: backport release-1.0.0

#7047 fix(dist): fix environment variable names in configuration template
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
Labels: backport stable/1.0

#6541 feat(clients/go): add the host and the port arguments
  clients/go/cmd/zbctl/internal/commands/root.go
  clients/go/cmd/zbctl/main_test.go
  clients/go/cmd/zbctl/testdata/help.golden
  clients/go/internal/containersuite/containerSuite.go
  clients/go/pkg/zbc/client.go
  clients/go/pkg/zbc/client_test.go
Labels: needs-rebase

#7085 Make the InterruptingEventSubprocessConcurrencyTest more deterministic
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/subprocess/InterruptingEventSubprocessConcurrencyTest.java
  engine/src/test/java/io/camunda/zeebe/engine/util/RecordToWrite.java
Labels: backport stable/1.0

#7089 Reenable update tests
  update-tests/pom.xml
  update-tests/src/test/java/io/camunda/zeebe/test/NoSnapshotTest.java
  update-tests/src/test/java/io/camunda/zeebe/test/OldGatewayTest.java
  update-tests/src/test/java/io/camunda/zeebe/test/RollingUpdateTest.java
  update-tests/src/test/java/io/camunda/zeebe/test/SnapshotTest.java
  update-tests/src/test/java/io/camunda/zeebe/test/UpdateTestCaseProvider.java
Labels: backport stable/1.0

#7091 Make the InterruptingEventSubprocessTest more robust
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/subprocess/InterruptingEventSubprocessTest.java
Labels: backport stable/1.0

#7101 Fixes deleting non existent folder
  util/src/main/java/io/camunda/zeebe/util/FileUtil.java
  util/src/test/java/io/camunda/zeebe/util/FileUtilTest.java
Labels: backport stable/0.26, backport stable/1.0

#7102 Delete runtime folder when closing the state controller
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/StateControllerImpl.java
  broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/StateControllerImplTest.java
Labels: backport stable/0.26, backport stable/1.0

#7118 Support resolving incidents created by parent processors when child is completing
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/BpmnElementContainerProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnIncidentBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnStateTransitionBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/CallActivityProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/EventSubProcessProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/MultiInstanceBodyProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/ProcessProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/SubProcessProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/BoundaryEventProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/EndEventProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/IntermediateCatchEventProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/StartEventProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/gateway/EventBasedGatewayProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/gateway/ExclusiveGatewayProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/gateway/ParallelGatewayProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/ReceiveTaskProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/ServiceTaskProcessor.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/MultiInstanceIncidentTest.java
Labels: backport stable/1.0

#7130 Test that a new incident is created when resolve incident fails to continue the processing
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/ServiceTaskIncidentTest.java
Labels: backport stable/0.26, backport stable/1.0

#7142 Add regression test for multi-instance incident
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/MultiInstanceIncidentTest.java
Labels: backport stable/1.0

#7143 fix: reset object before reading in new values
  msgpack-value/pom.xml
  msgpack-value/src/main/java/io/camunda/zeebe/msgpack/UnpackedObject.java
  msgpack-value/src/test/java/io/camunda/zeebe/msgpack/ObjectMappingDefaultValuesTest.java
  msgpack-value/src/test/java/io/camunda/zeebe/msgpack/UnpackedObjectTest.java
Labels: backport stable/0.26, backport stable/1.0
