Repository camunda/camunda, pull requests merged in 2021-09, with the labels that each got.

#7739 Add feature flag for new bootstrap/transition behavior
  broker/pom.xml
  broker/src/main/java/io/camunda/zeebe/broker/partitioning/PartitionFactory.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionTransitionStep.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/NewPartitionTransitionImpl.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/PartitionTransitionProcess.java
  broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/NewPartitionTransitionImplTest.java
  util/src/test/java/io/camunda/zeebe/util/sched/TestConcurrencyControl.java
Labels: needs-rebase

#7762 Fix memory leak
  atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftPartitionServer.java
  broker/src/main/java/io/camunda/zeebe/broker/engine/impl/PartitionCommandSenderImpl.java
  broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterPositionsDistributionService.java
  broker/src/main/java/io/camunda/zeebe/broker/partitioning/PartitionFactory.java
  broker/src/main/java/io/camunda/zeebe/broker/partitioning/PartitionManagerImpl.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/SnapshotDirectorPartitionStep.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/ReplayStateMachine.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/StreamProcessor.java
Labels: backport stable/1.0, backport stable/1.1

#7775 [Backport stable/1.1] Remove listeners to prevent memory leak
  broker/src/main/java/io/camunda/zeebe/broker/Broker.java
  broker/src/main/java/io/camunda/zeebe/broker/engine/impl/PartitionCommandSenderImpl.java
Labels: backport stable/1.0

#7827 zip failsafe reports on failure
  Jenkinsfile
Labels: backport stable/1.0, backport stable/1.1

#7861 fix(broker): do not set old exported position
  broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirectorDistributionTest.java
Labels: backport release-1.2.0

#7801 Migrate command api step
  broker/src/main/java/io/camunda/zeebe/broker/Broker.java
  broker/src/main/java/io/camunda/zeebe/broker/bootstrap/AbstractBrokerStartupStep.java
  broker/src/main/java/io/camunda/zeebe/broker/bootstrap/BrokerContext.java
  broker/src/main/java/io/camunda/zeebe/broker/bootstrap/BrokerContextImpl.java
  broker/src/main/java/io/camunda/zeebe/broker/bootstrap/BrokerStartupContext.java
  broker/src/main/java/io/camunda/zeebe/broker/bootstrap/BrokerStartupContextImpl.java
  broker/src/main/java/io/camunda/zeebe/broker/bootstrap/BrokerStartupProcess.java
  broker/src/main/java/io/camunda/zeebe/broker/bootstrap/CommandApiServiceStep.java
  broker/src/main/java/io/camunda/zeebe/broker/bootstrap/MonitoringServerStep.java
  broker/src/test/java/io/camunda/zeebe/broker/bootstrap/CommandApiServiceStepTest.java
  broker/src/test/java/io/camunda/zeebe/broker/bootstrap/MonitoringServerStepTest.java
  transport/src/main/java/io/camunda/zeebe/transport/TransportFactory.java
  util/src/main/java/io/camunda/zeebe/util/sched/ConcurrencyControl.java
Labels: needs-rebase

#7888 Fix NPE during shutdown
  broker/src/main/java/io/camunda/zeebe/broker/bootstrap/ClusterServicesCreationStep.java
  broker/src/test/java/io/camunda/zeebe/broker/bootstrap/ClusterServicesCreationStepTest.java
Labels: backport release-1.2.0

#7898 Make StateController run on the same actor as SnapshotStore
  broker/src/main/java/io/camunda/zeebe/broker/partitioning/PartitionFactory.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionStartupAndTransitionContextImpl.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionStartupContext.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/StateController.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/AsyncSnapshotDirector.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/StateControllerImpl.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/StateControllerPartitionStartupStep.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ZeebeDbPartitionStep.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ZeebeDbPartitionTransitionStep.java
  broker/src/test/java/io/camunda/zeebe/broker/system/partitions/AsyncSnapshotingTest.java
  broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/StateControllerImplTest.java
  broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ZeebeDbPartitionTransitionStepTest.java
  snapshot/src/main/java/io/camunda/zeebe/snapshots/TransientSnapshot.java
  snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStore.java
  snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStoreFactory.java
  snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedTransientSnapshot.java
Labels: backport release-1.2.0

#7892 Enqueue transitions again
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/NewPartitionTransitionImpl.java
  broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/NewPartitionTransitionImplTest.java
  util/src/main/java/io/camunda/zeebe/util/sched/ConcurrencyControl.java
  util/src/test/java/io/camunda/zeebe/util/sched/TestConcurrencyControl.java
Labels: backport release-1.2.0

#7885 PartitionId in the logging context
  atomix/cluster/src/main/java/io/atomix/raft/RaftServer.java
  atomix/cluster/src/main/java/io/atomix/raft/cluster/impl/RaftClusterContext.java
  atomix/cluster/src/main/java/io/atomix/raft/impl/DefaultRaftServer.java
  atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftPartitionServer.java
  atomix/cluster/src/test/java/io/atomix/raft/ControllableRaftContexts.java
  broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  broker/src/main/java/io/camunda/zeebe/broker/logstreams/LogDeletionService.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/AsyncSnapshotDirector.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/StreamProcessor.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogStorageAppender.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogStreamImpl.java
  snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStore.java
  util/src/main/java/io/camunda/zeebe/util/sched/Actor.java
  util/src/main/java/io/camunda/zeebe/util/sched/ActorThread.java
Labels: backport release-1.2.0
