Repository camunda/camunda, pull requests merged in 2021-03, with the labels that each got.

#6544 chore(snapshots): remove timestamp from snapshot id
  atomix/cluster/src/main/java/io/atomix/raft/protocol/InstallRequest.java
  atomix/cluster/src/main/java/io/atomix/raft/roles/AbstractAppender.java
  atomix/cluster/src/test/java/io/atomix/raft/snapshot/InMemorySnapshot.java
  broker/src/test/java/io/zeebe/broker/logstreams/NoopSnapshotStore.java
  qa/integration-tests/src/test/java/io/zeebe/broker/it/clustering/SnapshotReplicationTest.java
  snapshot/pom.xml
  snapshot/src/main/java/io/zeebe/snapshots/broker/SnapshotId.java
  snapshot/src/main/java/io/zeebe/snapshots/broker/impl/FileBasedSnapshot.java
  snapshot/src/main/java/io/zeebe/snapshots/broker/impl/FileBasedSnapshotMetadata.java
  snapshot/src/main/java/io/zeebe/snapshots/broker/impl/FileBasedSnapshotStore.java
  snapshot/src/main/java/io/zeebe/snapshots/broker/impl/FileBasedSnapshotStoreFactory.java
  snapshot/src/main/java/io/zeebe/snapshots/raft/PersistedSnapshot.java
  snapshot/src/test/java/io/zeebe/snapshots/broker/impl/FileBasedReceivedSnapshotTest.java
  snapshot/src/test/java/io/zeebe/snapshots/broker/impl/FileBasedSnapshotStoreTest.java
  snapshot/src/test/java/io/zeebe/snapshots/broker/impl/PersistedSnapshotStoreTest.java
  snapshot/src/test/java/io/zeebe/snapshots/broker/impl/ReceivedSnapshotTest.java
  snapshot/src/test/java/io/zeebe/snapshots/broker/impl/SnapshotChunkReaderTest.java
Labels: BREAKING CHANGE

#6513 chore(journal): replace kryo with sbe
  journal/pom.xml
  journal/src/main/java/io/zeebe/journal/file/MappedJournalSegmentReader.java
  journal/src/main/java/io/zeebe/journal/file/MappedJournalSegmentWriter.java
  journal/src/main/java/io/zeebe/journal/file/record/KryoSerializer.java
  journal/src/main/java/io/zeebe/journal/file/record/RecordData.java
  journal/src/main/java/io/zeebe/journal/file/record/RecordMetadata.java
  journal/src/main/java/io/zeebe/journal/file/record/SBESerializer.java
  journal/src/main/resources/journal-record-schema.xml
  journal/src/test/java/io/zeebe/journal/file/SegmentedJournalReaderTest.java
  journal/src/test/java/io/zeebe/journal/file/SegmentedJournalTest.java
  journal/src/test/java/io/zeebe/journal/file/record/SBESerializerTest.java
Labels: BREAKING CHANGE

#6595 chore(ci): run nightly only on latest stable/0.26
  Jenkinsfile
Labels: backport stable/0.26

#6577 fix(logstreams): prevent bad system clock from causing crash
  broker/src/main/java/io/zeebe/broker/transport/backpressure/CommandRateLimiter.java
  broker/src/main/java/io/zeebe/broker/transport/backpressure/PartitionAwareRequestLimiter.java
  logstreams/src/main/java/io/zeebe/logstreams/impl/backpressure/AppendEntryLimiter.java
Labels: backport stable/0.26

#6604 Print record metadata on (re)processing failure
  engine/src/main/java/io/zeebe/engine/processing/streamprocessor/ProcessingException.java
  engine/src/main/java/io/zeebe/engine/processing/streamprocessor/ProcessingStateMachine.java
  engine/src/main/java/io/zeebe/engine/processing/streamprocessor/ReProcessingStateMachine.java
Labels: backport stable/0.25, backport stable/0.26

#6614 Re-enable and fix cluster tests
  atomix/cluster/pom.xml
  atomix/cluster/src/test/java/io/atomix/raft/RaftTest.java
  atomix/cluster/src/test/java/io/atomix/raft/roles/LeaderRoleTest.java
Labels: backport stable/0.26

#6608 chore(atomix): add sbe schema and serializer for raft types
  atomix/cluster/pom.xml
  atomix/cluster/src/main/java/io/atomix/raft/storage/RaftStorage.java
  atomix/cluster/src/main/java/io/atomix/raft/storage/log/RaftEntrySBESerializer.java
  atomix/cluster/src/main/java/io/atomix/raft/storage/log/RaftEntrySerializer.java
  atomix/cluster/src/main/java/io/atomix/raft/storage/log/RaftLog.java
  atomix/cluster/src/main/java/io/atomix/raft/storage/log/RaftLogReader.java
  atomix/cluster/src/main/java/io/atomix/raft/storage/log/entry/ApplicationEntry.java
  atomix/cluster/src/main/resources/raft-entry-schema.xml
  atomix/cluster/src/test/java/io/atomix/raft/roles/LeaderRoleTest.java
  atomix/cluster/src/test/java/io/atomix/raft/storage/log/RaftEntrySBESerializerTest.java
  broker/src/test/java/io/zeebe/broker/system/partitions/AsyncSnapshotingTest.java
  broker/src/test/java/io/zeebe/broker/system/partitions/impl/FailingSnapshotChunkReplicationTest.java
  broker/src/test/java/io/zeebe/broker/system/partitions/impl/ReplicateStateControllerTest.java
  broker/src/test/java/io/zeebe/broker/system/partitions/impl/StateControllerImplTest.java
Labels: BREAKING CHANGE

#6636 Fix dependency issues due to spring-boot-dependencies
  parent/pom.xml
  qa/integration-tests/pom.xml
Labels: backport stable/0.26

#6688 [Backports stable/0.26] chore(ci): use new cloud credentials
  .ci/jobs/github_camunda_cloud.dsl
  .ci/pipelines/docker_zeebe.groovy
  .ci/pipelines/docs_zeebe_io.groovy
  .ci/pipelines/release_zeebe.groovy
  .ci/pipelines/release_zeebe_java8.groovy
  .ci/scripts/distribution/build-go.sh
  .ci/scripts/distribution/test-go.sh
  .ci/scripts/release/build-go.sh
  .ci/scripts/release/compat-update-go.sh
  .ci/scripts/release/github-release.sh
  .ci/scripts/release/post-github.sh
  .ci/scripts/release/prepare-go.sh
  .ci/scripts/release/prepare.sh
  .ci/seed.dsl
  pom.xml
Labels: backport stable/0.25

#6693 fix(atomix): fix race condition in raft test
  atomix/cluster/src/test/java/io/atomix/raft/SingleRaftEntryValidationTest.java
Labels: backport stable/0.26

#6707 Ignore development only modules in release
  .ci/scripts/release/build-java.sh
  .ci/scripts/release/maven-release.sh
  pom.xml
Labels: backport stable/0.25, backport stable/0.26
