Repository camunda/camunda, pull requests merged in 2021-12, with the labels that each got.

#8285 fix(raft): notify role change listener only when transition completed
  atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  atomix/cluster/src/test/java/io/atomix/raft/RaftTest.java
  broker/pom.xml
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  broker/src/test/java/io/camunda/zeebe/broker/partitioning/RaftRolesTest.java
  broker/src/test/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionTest.java
Labels: backport stable/1.2

#8317 fix(gtw/jobs): ignore notifications if already scheduled
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/job/InFlightLongPollingActivateJobsRequestsState.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/job/LongPollingActivateJobsHandler.java
Labels: backport stable/1.1, backport stable/1.2

#8391 fix(polling): respect request timeout settings
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/job/InFlightLongPollingActivateJobsRequestsState.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/job/LongPollingActivateJobsHandler.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/job/LongPollingActivateJobsRequest.java
  gateway/src/test/java/io/camunda/zeebe/gateway/api/job/LongPollingActivateJobsTest.java
Labels: backport stable/1.1, backport stable/1.2, backport release-1.3.0

#8446 Use correct elastic version
  benchmarks/setup/default/zeebe-values.yaml
Labels: backport stable/1.1, backport stable/1.2

#8392 fix(polling/state): prevent duplicates in repeatable requests list
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/job/InFlightLongPollingActivateJobsRequestsState.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/job/LongPollingActivateJobsHandler.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/job/LongPollingActivateJobsRequest.java
  gateway/src/test/java/io/camunda/zeebe/gateway/api/job/LongPollingActivateJobsTest.java
Labels: backport stable/1.1, backport stable/1.2, backport release-1.3.0

#8437 fix(broker): remove frontend with outdated libraries from debug http server
  broker/src/main/java/io/camunda/zeebe/broker/exporter/debug/DebugHttpExporter.java
  broker/src/main/java/io/camunda/zeebe/broker/exporter/debug/DebugHttpServer.java
  broker/src/main/resources/io/camunda/zeebe/broker/exporter/debug/bootstrap-4.1.3.min.css
  broker/src/main/resources/io/camunda/zeebe/broker/exporter/debug/bootstrap-4.1.3.min.js
  broker/src/main/resources/io/camunda/zeebe/broker/exporter/debug/index.html
  broker/src/main/resources/io/camunda/zeebe/broker/exporter/debug/jquery-3.3.1.slim.min.js
  broker/src/main/resources/io/camunda/zeebe/broker/exporter/debug/mustache-3.0.0.min.js
Labels: backport release-1.3.0

#8473 Add recreate benchmark script
  createBenchmark.sh
  recreateBenchmark.sh
Labels: backport stable/1.1, backport stable/1.2, backport release-1.3.0

#8472 Fix aggregation of flaky test results in Jenkins
  Jenkinsfile
Labels: backport stable/1.1, backport stable/1.2
