Repository camunda/camunda, pull requests merged in 2021-07, with the labels that each got.

#7325 Mark StreamProcessor as open later
  engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/StreamProcessor.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/streamprocessor/StreamProcessorHealthTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/streamprocessor/StreamProcessorInconsistentPositionTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/streamprocessor/StreamProcessorTest.java
  engine/src/test/java/io/camunda/zeebe/engine/util/StreamProcessingComposite.java
  engine/src/test/java/io/camunda/zeebe/engine/util/StreamProcessorRule.java
  engine/src/test/java/io/camunda/zeebe/engine/util/TestStreams.java
Labels: backport stable/1.0

#7447 Replace usages of IoUtil.ensureDirectoryExists
  atomix/cluster/src/main/java/io/atomix/raft/storage/RaftStorage.java
  atomix/cluster/src/main/java/io/atomix/raft/storage/system/MetaStore.java
  broker/src/main/java/io/camunda/zeebe/broker/clustering/atomix/AtomixFactory.java
  snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStoreFactory.java
  snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedReceivedSnapshotTest.java
  snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStoreTest.java
  snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedTransientSnapshotTest.java
Labels: backport stable/1.0

#7463 Minor fixes to the revapi config
  build-tools/src/main/resources/revapi/revapi.json
  parent/pom.xml
Labels: backport stable/1.0, backport stable/1.1.0

#7493 refactor(ci): change latest stable branch and schedule for QA run
  Jenkinsfile
Labels: backport develop, backport stable/0.26

#7503 Remove outdated test cases
  engine/src/test/java/io/camunda/zeebe/engine/processing/streamprocessor/ReplayStateTest.java
Labels: backport stable/1.0, backport stable/1.1

#7525 Allow zbctl errors in Jenkins QA
  .ci/scripts/distribution/qa-testbench.sh
Labels: backport stable/1.0, backport stable/1.1
