Repository camunda/camunda, pull requests merged in 2021-06, with the labels that each got.

#7149 Allow embedded boundary events inside event sub process
  engine/src/main/java/io/camunda/zeebe/engine/processing/common/EventHandle.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/common/EventTriggerBehavior.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/subprocess/NonInterruptingEventSubprocessTest.java
Labels: backport stable/1.0

#7164 refactor(msgpack-value): add class to log message
  msgpack-value/src/main/java/io/camunda/zeebe/msgpack/UnpackedObject.java
  msgpack-value/src/test/java/io/camunda/zeebe/msgpack/DocumentPropertyTest.java
  msgpack-value/src/test/java/io/camunda/zeebe/msgpack/ObjectMappingTest.java
Labels: backport stable/0.26, backport stable/1.0

#7150 Fix issues with class loading for external exporters relying on the Thread's context class loader
  broker/pom.xml
  broker/src/main/java/io/camunda/zeebe/broker/bootstrap/StartProcess.java
  broker/src/main/java/io/camunda/zeebe/broker/exporter/jar/ExporterJarClassLoader.java
  broker/src/main/java/io/camunda/zeebe/broker/exporter/jar/ThreadContextUtil.java
  broker/src/main/java/io/camunda/zeebe/broker/exporter/repo/ExporterDescriptor.java
  broker/src/main/java/io/camunda/zeebe/broker/exporter/repo/ExporterRepository.java
  broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterContainer.java
  broker/src/test/java/io/camunda/zeebe/broker/exporter/jar/ExporterJarClassLoaderTest.java
  broker/src/test/java/io/camunda/zeebe/broker/exporter/jar/ExporterJarRepositoryTest.java
  broker/src/test/java/io/camunda/zeebe/broker/exporter/repo/ExporterRepositoryTest.java
  broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterContainerRuntime.java
  broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterContainerTest.java
  broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExternalExporterContainerTest.java
  broker/src/test/java/io/camunda/zeebe/broker/exporter/util/ExternalExporter.java
  broker/src/test/java/io/camunda/zeebe/broker/exporter/util/JarCreatorRule.java
  broker/src/test/java/io/camunda/zeebe/broker/exporter/util/TestJarExporter.java
  parent/pom.xml
  util/src/main/java/io/camunda/zeebe/util/CheckedRunnable.java
  util/src/main/java/io/camunda/zeebe/util/LogUtil.java
Labels: backport stable/0.26, backport stable/1.0

#7181 Re-enable gocompat and protolock checks
  .ci/scripts/distribution/build-go.sh
  parent/pom.xml
Labels: backport stable/1.0

#7168 Unhandled error incident disappears
  engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/incident/IncidentEventProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/incident/ResolveIncidentProcessor.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/ErrorEventIncidentTest.java
Labels: backport stable/1.0

#7209 Fix ES container memory to 1Gb
  exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/util/ElasticsearchContainer.java
Labels: backport stable/0.26, backport stable/1.0

#7200 Refactors the DefaultClusterMembershipService tests and fixes flakiness
  atomix/cluster/src/main/java/io/atomix/cluster/ClusterMembershipService.java
  atomix/cluster/src/main/java/io/atomix/cluster/Member.java
  atomix/cluster/src/main/java/io/atomix/cluster/discovery/BootstrapDiscoveryProvider.java
  atomix/cluster/src/main/java/io/atomix/cluster/impl/DefaultClusterMembershipService.java
  atomix/cluster/src/main/java/io/atomix/cluster/impl/StatefulMember.java
  atomix/cluster/src/test/java/io/atomix/cluster/TestGroupMembershipProtocol.java
  atomix/cluster/src/test/java/io/atomix/cluster/impl/DefaultClusterMembershipServiceTest.java
Labels: backport stable/1.0

#7212 Fix ES memory usage
  qa/integration-tests/src/test/java/io/camunda/zeebe/broker/it/health/DiskSpaceRecoveryITTest.java
Labels: backport stable/0.26, backport stable/1.0

#7234 Improve stability of SuccessfulDeploymentTest
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/SuccessfulDeploymentTest.java
Labels: backport stable/1.0

#7225 fix(broker): fix race condition in exporter tests
  broker/src/main/java/io/camunda/zeebe/broker/logstreams/state/StatePositionSupplier.java
  broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirectorTest.java
  zb-db/src/main/java/io/camunda/zeebe/db/impl/rocksdb/ZeebeRocksDbFactory.java
Labels: backport stable/1.0

#7206 Lower log level of component unhealthy message to warning
  util/src/main/java/io/camunda/zeebe/util/health/CriticalComponentsHealthMonitor.java
Labels: backport stable/1.0

#7276 Remove flakiness from SmallMessageSizeTest
  qa/integration-tests/src/test/java/io/camunda/zeebe/broker/it/network/SmallMessageSizeTest.java
Labels: backport stable/1.0

#7299 fix(zeebe-client-java): return this in builder methods
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientCloudBuilderImpl.java
Labels: backport stable/0.26, backport stable/1.0

#7296 Do not write unnecessary VariableRecord.UPDATED if the variable remains unchanged
  engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableBehavior.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/MultiInstanceIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/variable/ProcessInstanceVariableTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/variable/VariableBehaviorTest.java
  engine/src/test/java/io/camunda/zeebe/engine/util/RecordingTypedEventWriter.java
Labels: backport stable/1.0

#7302 Extract and rethrow JsonParseException
  gateway/src/main/java/io/camunda/zeebe/gateway/RequestMapper.java
  gateway/src/test/java/io/camunda/zeebe/gateway/RequestMapperTest.java
Labels: backport stable/0.26, backport stable/1.0

#7301 Separate unit and integration tests during build process
  .ci/podSpecs/distribution-template.yml
  .ci/scripts/distribution/it-java.sh
  .ci/scripts/distribution/it-prepare.sh
  .ci/scripts/distribution/random-test-java.sh
  .ci/scripts/distribution/test-java.sh
  .ci/scripts/distribution/test-java8.sh
  atomix/pom.xml
  benchmarks/project/pom.xml
  bpmn-model/pom.xml
  broker/pom.xml
  build-tools/pom.xml
  build-tools/src/main/java/io/camunda/zeebe/UnstableCI.java
  build-tools/src/main/java/io/camunda/zeebe/UnstableTest.java
  clients/java/pom.xml
  dispatcher/pom.xml
  dist/pom.xml
  engine/pom.xml
  exporter-api/pom.xml
  exporters/elasticsearch-exporter/pom.xml
  exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchClientIT.java
  gateway-protocol-impl/pom.xml
  gateway-protocol/pom.xml
  gateway/pom.xml
  journal/pom.xml
  logstreams/pom.xml
  msgpack-core/pom.xml
  msgpack-value/pom.xml
  parent/pom.xml
  pom.xml
  protocol-asserts/pom.xml
  protocol-test-util/pom.xml
  protocol/pom.xml
  qa/integration-tests/pom.xml
  qa/pom.xml
  qa/update-tests/README.md
  qa/update-tests/pom.xml
  qa/update-tests/src/test/java/io/camunda/zeebe/test/ContainerState.java
  qa/update-tests/src/test/java/io/camunda/zeebe/test/ContainerStateAssert.java
  qa/update-tests/src/test/java/io/camunda/zeebe/test/ContainerStateExtension.java
  qa/update-tests/src/test/java/io/camunda/zeebe/test/NoSnapshotTest.java
  qa/update-tests/src/test/java/io/camunda/zeebe/test/OldGatewayTest.java
  qa/update-tests/src/test/java/io/camunda/zeebe/test/PartitionsActuatorClient.java
  qa/update-tests/src/test/java/io/camunda/zeebe/test/RollingUpdateTest.java
  qa/update-tests/src/test/java/io/camunda/zeebe/test/SnapshotTest.java
  qa/update-tests/src/test/java/io/camunda/zeebe/test/UpdateTestCase.java
  qa/update-tests/src/test/java/io/camunda/zeebe/test/UpdateTestCaseProvider.java
  qa/update-tests/src/test/resources/log4j2-test.xml
  samples/pom.xml
  snapshot/pom.xml
  test-util/pom.xml
  test/pom.xml
  transport/pom.xml
  util/pom.xml
  zb-db/pom.xml
Labels: backport stable/1.0

#7316 Scan recursively for children when checking whether a Message is referenced
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/MessageValidator.java
  bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeMessageValidationTest.java
Labels: backport stable/0.26, backport stable/1.0

#7293 Hard reject resolving incident with missing failed command
  engine/src/main/java/io/camunda/zeebe/engine/processing/incident/ResolveIncidentProcessor.java
Labels: backport stable/1.0

#7353 Fix flakiness in GrpcErrorMapperTest
  gateway/src/test/java/io/camunda/zeebe/gateway/grpc/GrpcErrorMapperTest.java
Labels: backport stable/1.0

#7348 Improve logging on election timeout
  atomix/cluster/src/main/java/io/atomix/raft/impl/RandomizedElectionTimer.java
  atomix/cluster/src/main/java/io/atomix/raft/roles/AbstractRole.java
  atomix/cluster/src/main/java/io/atomix/raft/roles/FollowerRole.java
Labels: backport stable/1.0

#7358 Fix flakiness in AdvertisedAddressTest
  parent/pom.xml
  qa/integration-tests/pom.xml
  qa/integration-tests/src/test/java/io/camunda/zeebe/broker/it/network/AdvertisedAddressTest.java
Labels: backport stable/1.0

#7365 Disable concurrent tests for GrpcErrorMapperTest
  gateway/src/test/java/io/camunda/zeebe/gateway/grpc/GrpcErrorMapperTest.java
Labels: backport stable/1.0

#7362 Ensure requests are always completed
  atomix/cluster/src/main/java/io/atomix/cluster/messaging/ClusterCommunicationService.java
  atomix/cluster/src/main/java/io/atomix/cluster/messaging/MessagingConfig.java
  atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/AbstractClientConnection.java
  atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/ClientConnection.java
  atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/DefaultClusterCommunicationService.java
  atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/LocalClientConnection.java
  atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/RemoteClientConnection.java
  atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftServerCommunicator.java
  atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/NettyMessagingServiceTest.java
  broker/src/main/java/io/camunda/zeebe/broker/engine/impl/PartitionCommandSenderImpl.java
Labels: backport stable/1.0

#6538 Describe relationship to Camunda Cloud in Readme
  README.md
  img/release-cadence.png
Labels: kind/documentation

#7392 feat(clients/java): add the default region using the camunda cloud builder
  clients/java/revapi.json
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientCloudBuilderStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientCloudBuilderImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/ZeebeClientTest.java
  test/revapi.json
Labels: backport release/1.1.0

#7401 Report every flaky test to our CI analytics backend
  .ci/docker/Dockerfile_zeebe-hazelcast-exporter
  .ci/scripts/distribution/it-java.sh
  .ci/scripts/distribution/test-tck.sh
  .ci/scripts/docker/build_zeebe-hazelcast-exporter.sh
  .ci/scripts/lib/flaky-tests.sh
  Jenkinsfile
Labels: backport stable/1.0

#7403 Fix intermittent build errors by removing buildnumber plugin
  atomix/cluster/src/main/java/io/atomix/cluster/AtomixCluster.java
  atomix/cluster/src/main/java/io/atomix/cluster/AtomixClusterBuilder.java
  atomix/core/pom.xml
  atomix/core/src/main/filtered-resources/VERSION
  atomix/core/src/main/java/io/atomix/core/Atomix.java
  atomix/pom.xml
Labels: backport stable/1.0

#7404 Remove unnecessary threads
  atomix/cluster/src/main/java/io/atomix/cluster/AtomixCluster.java
  atomix/core/pom.xml
  atomix/core/src/main/java/io/atomix/core/Atomix.java
Labels: backport stable/1.0
