Repository camunda/camunda, pull requests merged in 2022-07, with the labels that each got.

#9668 Escalate errors in output mapping evaluation
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/VariableMappingTransformer.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/variable/mapping/VariableOutputMappingTransformerTest.java
Labels: backport stable/1.3, backport stable/8.0

#9734 Complete start/close futures when an actor fails
  broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  engine/src/main/java/io/camunda/zeebe/streamprocessor/StreamProcessor.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogStorageAppender.java
  scheduler/src/main/java/io/camunda/zeebe/scheduler/ActorControl.java
  scheduler/src/main/java/io/camunda/zeebe/scheduler/ActorTask.java
  scheduler/src/test/java/io/camunda/zeebe/scheduler/lifecycle/ActorLifecyclePhasesTest.java
Labels: backport stable/1.3, backport stable/8.0

#9759 Reject duplicate parallel gateway activate command
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/BpmnStreamProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/ProcessInstanceStateTransitionGuard.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnStateBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnStateTransitionBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableProcess.java
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceCreationCreatedApplier.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/gateway/ParallelGatewayTest.java
  test-util/src/main/java/io/camunda/zeebe/test/util/record/ProcessInstanceRecordStream.java
Labels: backport stable/1.3, backport stable/8.0

#9824 fix: don't replicate snapshot if member already has the latest snapshot
  atomix/cluster/src/main/java/io/atomix/raft/roles/LeaderAppender.java
  atomix/cluster/src/test/java/io/atomix/raft/RaftReplicationTest.java
Labels: backport stable/1.3, backport stable/8.0

#9833 Clean up journal segment pre-allocation
  journal/src/main/java/io/camunda/zeebe/journal/file/FrameUtil.java
  journal/src/main/java/io/camunda/zeebe/journal/file/JournalMetrics.java
  journal/src/main/java/io/camunda/zeebe/journal/file/Segment.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentAllocator.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentDescriptor.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentFile.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentLoader.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentReader.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentWriter.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournal.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournalBuilder.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournalReader.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournalWriter.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentsManager.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SparseJournalIndex.java
  journal/src/main/java/io/camunda/zeebe/journal/file/UnknownVersionException.java
  journal/src/test/java/io/camunda/zeebe/journal/file/JournalTest.java
  journal/src/test/java/io/camunda/zeebe/journal/file/LogCorrupter.java
  journal/src/test/java/io/camunda/zeebe/journal/file/SegmentDescriptorTest.java
  journal/src/test/java/io/camunda/zeebe/journal/file/SegmentLoaderTest.java
  journal/src/test/java/io/camunda/zeebe/journal/file/SegmentedJournalReaderTest.java
  journal/src/test/java/io/camunda/zeebe/journal/file/SegmentedJournalTest.java
  journal/src/test/java/io/camunda/zeebe/journal/file/SegmentsManagerTest.java
  journal/src/test/java/io/camunda/zeebe/journal/file/SparseJournalIndexTest.java
  journal/src/test/java/io/camunda/zeebe/journal/file/TestJournalRecord.java
  journal/src/test/java/io/camunda/zeebe/journal/file/util/PosixPathAssert.java
  journal/src/test/java/io/camunda/zeebe/journal/file/util/TestJournalRecord.java
  util/pom.xml
  util/src/main/java/io/camunda/zeebe/util/FileUtil.java
  util/src/test/java/io/camunda/zeebe/util/FileUtilTest.java
Labels: backport stable/1.3, backport stable/8.0

#9842 [Backport stable/8.0] Backport journal structural updates
  atomix/cluster/pom.xml
  atomix/cluster/src/test/java/io/atomix/raft/RaftRule.java
  atomix/cluster/src/test/java/io/atomix/raft/RaftTest.java
  journal/pom.xml
  journal/src/main/java/io/camunda/zeebe/journal/CorruptedJournalException.java
  journal/src/main/java/io/camunda/zeebe/journal/file/ChecksumGenerator.java
  journal/src/main/java/io/camunda/zeebe/journal/file/FrameUtil.java
  journal/src/main/java/io/camunda/zeebe/journal/file/JournalMetrics.java
  journal/src/main/java/io/camunda/zeebe/journal/file/Segment.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentAllocator.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentDescriptor.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentFile.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentLoader.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentReader.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentWriter.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournal.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournalBuilder.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournalReader.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournalWriter.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentsManager.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SparseJournalIndex.java
  journal/src/main/java/io/camunda/zeebe/journal/file/UnknownVersionException.java
  journal/src/main/java/io/camunda/zeebe/journal/file/record/CorruptedLogException.java
  journal/src/main/java/io/camunda/zeebe/journal/file/record/InvalidRecordException.java
  journal/src/main/java/io/camunda/zeebe/journal/file/record/PersistedJournalRecord.java
  journal/src/main/java/io/camunda/zeebe/journal/file/record/RecordData.java
  journal/src/main/java/io/camunda/zeebe/journal/file/record/RecordMetadata.java
  journal/src/main/java/io/camunda/zeebe/journal/record/InvalidRecordException.java
  journal/src/main/java/io/camunda/zeebe/journal/record/JournalRecordReaderUtil.java
  journal/src/main/java/io/camunda/zeebe/journal/record/JournalRecordSerializer.java
  journal/src/main/java/io/camunda/zeebe/journal/record/PersistedJournalRecord.java
  journal/src/main/java/io/camunda/zeebe/journal/record/RecordData.java
  journal/src/main/java/io/camunda/zeebe/journal/record/RecordMetadata.java
  journal/src/main/java/io/camunda/zeebe/journal/record/SBESerializer.java
  journal/src/main/java/io/camunda/zeebe/journal/util/ChecksumGenerator.java
  journal/src/test/java/io/camunda/zeebe/journal/JournalReaderTest.java
  journal/src/test/java/io/camunda/zeebe/journal/JournalTest.java
  journal/src/test/java/io/camunda/zeebe/journal/file/LogCorrupter.java
  journal/src/test/java/io/camunda/zeebe/journal/file/SegmentDescriptorTest.java
  journal/src/test/java/io/camunda/zeebe/journal/file/SegmentLoaderTest.java
  journal/src/test/java/io/camunda/zeebe/journal/file/SegmentedJournalReaderTest.java
  journal/src/test/java/io/camunda/zeebe/journal/file/SegmentedJournalTest.java
  journal/src/test/java/io/camunda/zeebe/journal/file/SegmentsManagerTest.java
  journal/src/test/java/io/camunda/zeebe/journal/file/SparseJournalIndexTest.java
  journal/src/test/java/io/camunda/zeebe/journal/file/TestJournalRecord.java
  journal/src/test/java/io/camunda/zeebe/journal/record/SBESerializerTest.java
  journal/src/test/java/io/camunda/zeebe/journal/util/PosixPathAssert.java
  journal/src/test/java/io/camunda/zeebe/journal/util/TestJournalRecord.java
  protocol/pom.xml
  util/pom.xml
  util/src/main/java/io/camunda/zeebe/util/FileUtil.java
  util/src/test/java/io/camunda/zeebe/util/FileUtilTest.java
Labels: backport stable/1.3

#9854 Allow relaxed instantiation of exporter configuration
  broker/pom.xml
  broker/src/main/java/io/camunda/zeebe/broker/exporter/context/ExporterConfiguration.java
  broker/src/main/java/io/camunda/zeebe/broker/exporter/repo/ExporterDescriptor.java
  broker/src/test/java/io/camunda/zeebe/broker/exporter/context/ExporterConfigurationTest.java
  broker/src/test/java/io/camunda/zeebe/broker/exporter/repo/ExporterRepositoryTest.java
  parent/pom.xml
  qa/integration-tests/pom.xml
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/smoke/StandaloneBrokerIT.java
Labels: backport stable/1.3, backport stable/8.0

#9883 [stable/8.0] Allow retried DMN resource distribution
  engine/src/main/java/io/camunda/zeebe/engine/state/deployment/DbDecisionState.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/DeploymentClusteredTest.java
  qa/integration-tests/src/test/resources/dmn/decision-table.dmn
  test-util/src/main/java/io/camunda/zeebe/test/util/record/DeploymentRecordStream.java
Labels: backport main

#9845 chore(ci): adjust direct Vault usage in Jenkins to new path
  Jenkinsfile
Labels: backport stable/1.3, backport stable/8.0

#9886 test(qa): wait until message is published before restarting the broker
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/CompleteProcessInstanceAfterLeaderChangeTest.java
Labels: backport stable/1.3, backport stable/8.0

#9848 chore(ci): update GHA secrets to new Vault path
  .github/workflows/deploy.yml
  .github/workflows/qa-testbench.yaml
Labels: backport stable/1.3, backport stable/8.0

#9905 test(qa): increase timeout
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/CompleteProcessInstanceAfterLeaderChangeTest.java
Labels: backport stable/1.3, backport stable/8.0
