Repository camunda/camunda, pull requests merged in 2022-05, with the labels that each got.

#9261 Interrupting event subprocess is activated more than once
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/ProcessProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/SubProcessProcessor.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/subprocess/InterruptingEventSubprocessTest.java
Labels: backport stable/1.3, backport stable/8.0

#9220 Stabilize `LongPollingActivateJobsTest` by awaiting for condition before assertions
  gateway/src/test/java/io/camunda/zeebe/gateway/api/job/LongPollingActivateJobsTest.java
Labels: backport stable/1.3, backport stable/8.0

#9281 Trigger boundary events only if the flow scope is active
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/CallActivityProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/MultiInstanceBodyProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/SubProcessProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/BusinessRuleTaskProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/JobWorkerTaskProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/ReceiveTaskProcessor.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/CallActivityTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/boundary/BoundaryEventElementTest.java
Labels: backport stable/1.3, backport stable/8.0

#9284 Fix flaky Raft.shouldReconnect test
  atomix/cluster/src/test/java/io/atomix/raft/RaftRule.java
  atomix/cluster/src/test/java/io/atomix/raft/RaftServerDisconnectTest.java
  atomix/cluster/src/test/java/io/atomix/raft/RaftTest.java
Labels: backport stable/1.3, backport stable/8.0

#9351 Fix NPE because of missing decisionId of failed decision evaluation
  dmn/src/main/java/io/camunda/zeebe/dmn/impl/DmnScalaDecisionEngine.java
  dmn/src/main/java/io/camunda/zeebe/dmn/impl/EvaluationFailure.java
  dmn/src/test/java/io/camunda/zeebe/dmn/DmnEvaluationTest.java
Labels: backport stable/8.0

#9371 Configure record filter for metrics exporter
  .gitignore
  broker/pom.xml
  broker/src/main/java/io/camunda/zeebe/broker/exporter/metrics/ExecutionLatencyMetrics.java
  broker/src/main/java/io/camunda/zeebe/broker/exporter/metrics/MetricsExporter.java
  broker/src/test/java/io/camunda/zeebe/broker/exporter/metrics/MetricsExporterTest.java
Labels: backport stable/8.0

#9410 Java client accepts topologies with `DEAD` partitions
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/PartitionBrokerHealth.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/PartitionInfoImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/TopologyRequestTest.java
Labels: backport stable/1.3, backport stable/8.0

#9432 Support deploying multiple DMN files at once
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/DmnResourceTransformer.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/DeploymentDmnTest.java
  engine/src/test/resources/dmn/decision-table-with-renamed-drg-and-decision.dmn
Labels: backport stable/8.0

#9383 Allow nullable variable in Protocol Jackson
  protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  protocol-jackson/src/main/java/io/camunda/zeebe/protocol/jackson/record/AbstractJobRecordValue.java
  protocol-jackson/src/main/java/io/camunda/zeebe/protocol/jackson/record/AbstractProcessInstanceCreationRecordValue.java
  protocol-jackson/src/main/java/io/camunda/zeebe/protocol/jackson/record/AllowNulls.java
  test/src/main/java/io/camunda/zeebe/test/exporter/ExporterIntegrationRule.java
Labels: backport stable/1.3

#9384 test(protocol-jackson): create test cases for nullable variable value
  protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  test-util/src/main/java/io/camunda/zeebe/test/util/WorkloadGenerator.java
Labels: backport stable/8.0

#9434 Set zbctl user agent
  clients/go/cmd/zbctl/internal/commands/root.go
  clients/go/pkg/zbc/client.go
  clients/go/pkg/zbc/client_test.go
Labels: backport stable/1.3, backport stable/8.0
