Repository camunda/camunda, pull requests merged in 2022-11, with the labels that each got.

#10795 Add event type for process instance record
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnStateTransitionBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/common/ElementActivationBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/common/EventTriggerBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/AbstractFlowElement.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableFlowElement.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/BoundaryEventTransformer.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/CatchEventTransformer.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/EndEventTransformer.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/IntermediateThrowEventTransformer.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/ReceiveTaskTransformer.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/StartEventTransformer.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/BpmnEventTypeTest.java
  engine/src/test/java/io/camunda/zeebe/streamprocessor/RecordBatchTest.java
  exporters/elasticsearch-exporter/src/main/resources/zeebe-record-process-instance-template.json
  protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceRecord.java
  protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BpmnEventType.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/value/ProcessInstanceRecordValue.java
  test-util/src/main/java/io/camunda/zeebe/test/util/record/ProcessInstanceRecordStream.java
Labels: hacktoberfest-accepted

#10790 feat(clients/go): set variables on fail job
  clients/go/.gocompat.json
  clients/go/cmd/zbctl/internal/commands/failJob.go
  clients/go/internal/mock_pb/mock_gateway.go
  clients/go/pkg/commands/fail_job.go
  clients/go/pkg/commands/fail_job_test.go
  clients/go/pkg/pb/gateway.pb.go
Labels: hacktoberfest-accepted

#10867 Unflake timer start event test
  engine/src/test/java/io/camunda/zeebe/engine/processing/timer/TimerCatchEventTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/timer/TimerStartEventTest.java
  engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
Labels: backport stable/8.0, backport stable/8.1

#10856 Support escalation intermediate throw event
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnEventPublicationBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/IntermediateThrowEventProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableCatchEvent.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableCatchEventElement.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableEscalation.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableIntermediateThrowEvent.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableReceiveTask.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformation/BpmnTransformer.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformation/TransformContext.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/CatchEventTransformer.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/EscalationTransformer.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/IntermediateThrowEventTransformer.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/TypedEventRegistry.java
  engine/src/main/java/io/camunda/zeebe/engine/state/analyzers/CatchEventAnalyzer.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/escalation/EscalationEventTest.java
  test-util/src/main/java/io/camunda/zeebe/test/util/record/EscalationRecordStream.java
  test-util/src/main/java/io/camunda/zeebe/test/util/record/RecordingExporter.java
Labels: hacktoberfest-accepted

#10845 Deploy process with data object and data store
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/FlowElementInstantiationTransformer.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/DataObjectTest.java
  engine/src/test/resources/processes/collaboration-with-lanes.bpmn
  engine/src/test/resources/processes/non-executable-elements.bpmn
Labels: hacktoberfest-accepted, backport stable/8.0, backport stable/8.1

#10932 build(docker): update base image to jdk 17.0.5
  Dockerfile
  docker/test/docker-labels.golden.json
Labels: backport stable/8.1

#10935 fix(benchmark): publish messages with no TTL
  benchmarks/project/src/main/java/io/camunda/zeebe/Starter.java
Labels: backport stable/8.1

#10938 Fix flaky deployment recovery test
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/MultiPartitionDeploymentRecoveryTest.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/DeploymentClusteredTest.java
Labels: backport stable/8.0, backport stable/8.1

#10775 feat(engine): support feel expression bpmn script tasks
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/BpmnElementProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/ScriptTaskProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableScript.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableScriptTask.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformation/BpmnTransformer.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/FlowElementInstantiationTransformer.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/ScriptTaskTransformer.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/zeebe/ScriptTransformer.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/validation/ZeebeRuntimeValidators.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/ScriptTaskExpressionTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/ScriptTaskValidationTest.java
Labels: hacktoberfest-accepted

#10999 test(exporter): don't fail test if `getPhase` future throws
  broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirectorPauseTest.java
Labels: backport stable/8.1

#11010 [Backport stable/8.0] Bump jackson-bom from 2.13.4.20221013 to 2.14.0
  parent/pom.xml
Labels: support

#11034 Resolve flaky shouldTriggerTimerTest
  engine/src/test/java/io/camunda/zeebe/engine/processing/timer/TimerCatchEventTest.java
Labels: backport stable/8.0, backport stable/8.1

#11033 Resolve flaky timer test
  engine/src/test/java/io/camunda/zeebe/engine/processing/timer/TimerStartEventTest.java
Labels: backport stable/8.0, backport stable/8.1

#10996 Prevent NPE when terminating call activity
  engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceModificationProcessor.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ModifyProcessInstanceTest.java
Labels: backport stable/8.1

#10855 fix(engine): use link events in different flow scopes
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/EmbeddedSubProcessBuilder.java
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/util/ModelUtil.java
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/SubProcessValidator.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/LinkEventDefinitionTest.java
Labels: hacktoberfest-accepted

#11069 feat: log details of cancelled transitions
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/PartitionTransitionImpl.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/PartitionTransitionProcess.java
Labels: backport stable/8.0, backport stable/8.1

#11083 Prevent NPE when activating element inside flow scope that's being terminated
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceModifiedEventApplier.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ModifyProcessInstanceTerminationTest.java
Labels: backport stable/8.1

#11125 Run spotless before the release version updates are committed
  .ci/scripts/release/maven-release.sh
Labels: backport stable/8.0, backport stable/8.1
