Repository camunda/camunda, pull requests merged in 2022-01, with the labels that each got.

#8508 test: increment time continuously
  broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirectorDistributionTest.java
Labels: backport stable/1.2, backport release-1.3.0

#8510 Feat: Processing has reached end
  engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/ProcessingStateMachine.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/StreamProcessor.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/streamprocessor/ReachEndOfLogTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/streamprocessor/ReplayStateRandomizedPropertyTest.java
  engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
Labels: backport stable/1.2, backport release-1.3.0

#8501 test(atomix): faster `RaftRule` tests
  atomix/cluster/src/test/java/io/atomix/raft/RaftRule.java
Labels: backport stable/1.2, backport stable/1.3

#8526 fix(broker): retry deployment distribution until success
  broker/src/main/java/io/camunda/zeebe/broker/engine/impl/DeploymentDistributorImpl.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/DeploymentClusteredTest.java
Labels: backport stable/1.2, backport stable/1.3

#8544 docs: fix code example for `ClockActuatorClient`
  test-util/src/main/java/io/camunda/zeebe/test/util/actuator/ClockActuatorClient.java
Labels: backport stable/1.3

#8550 fix(atomix/netty): remove open future when request times out
  atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
Labels: backport stable/1.2, backport stable/1.3

#8455 Validate benchmark name in createBenchmark.sh script
  createBenchmark.sh
Labels: Release: 1.1.10, Release: 1.2.9, Release: 1.3.0

#8580 fix: set default encoding to UTF-8
  Dockerfile
  dist/pom.xml
Labels: backport stable/1.3

#8582 fix(log/appender): yield thread when experiencing backpressure
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogStorageAppender.java
Labels: backport stable/1.2, backport stable/1.3

#8633 Remove elasticsearch exporter TLS test
  exporters/elasticsearch-exporter/pom.xml
  exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterAuthenticationIT.java
  exporters/elasticsearch-exporter/src/test/resources/certs/elastic-certificates.p12
  exporters/elasticsearch-exporter/src/test/resources/certs/elastic-stack-ca.p12
Labels: backport stable/1.2, backport stable/1.3

#8639 Fix duplicate test runs when using the `skip-random-tests` and `parallel-tests` profiles
  .ci/scripts/distribution/it-java.sh
  .ci/scripts/distribution/random-test-java.sh
  .ci/scripts/distribution/test-java.sh
  .ci/scripts/distribution/test-java8.sh
  .ci/scripts/lib/duplicate-tests.sh
  Jenkinsfile
  parent/pom.xml
Labels: backport stable/1.2, backport stable/1.3

#8668 Fix flaky exporter distribute test
  broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirectorDistributionTest.java
  broker/src/test/java/io/camunda/zeebe/broker/exporter/util/ControlledTestExporter.java
Labels: backport stable/1.2, backport stable/1.3

#8667 Improve stability of StreamProcessorReplayModeTest#shouldNotSetLastProcessedPositionIfLessThanSnapshotPosition
  engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/StreamProcessor.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/streamprocessor/StreamProcessorReplayModeTest.java
Labels: backport stable/1.2, backport stable/1.3

#8670 Deny imports of shaded dependencies from testcontainers
  build-tools/src/main/resources/check/.checkstyle.xml
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteredSnapshotTest.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/network/DeploymentDistributionTestCase.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/health/BrokerMonitoringEndpointTest.java
Labels: backport stable/1.2, backport stable/1.3
