Repository camunda/camunda, pull requests merged in 2022-03, with the labels that each got.

#8833 Deploy flattened POMs and reduce BOM to "public" modules
  .gitignore
  bom/README.md
  bom/pom.xml
  expression-language/pom.xml
  parent/pom.xml
Labels: backport release-1.4.0-alpha2

#8844 Allow static input mappings
  engine/pom.xml
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/VariableMappingTransformer.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/validation/ZeebeRuntimeValidators.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/ActivityTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/ZeebeRuntimeValidationTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/variable/mapping/VariableInputMappingTransformerTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/variable/mapping/VariableMappingTransformerTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/variable/mapping/VariableOutputMappingTransformerTest.java
  parent/pom.xml
Labels: connectors

#8943 Remove temporary cache cleaning fix from OS smoke tests
  .github/workflows/os-smoke-test.yml
Labels: backport stable/1.2, backport stable/1.3

#8879 #3631: Re-activate jobs
  gateway/src/main/java/io/camunda/zeebe/gateway/Gateway.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/job/ActivateJobsHandler.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/job/InFlightLongPollingActivateJobsRequestsState.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/job/InflightActivateJobsRequest.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/job/InflightActivateJobsRequestState.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/job/LongPollingActivateJobsHandler.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/job/RoundRobinActivateJobsHandler.java
  gateway/src/test/java/io/camunda/zeebe/gateway/api/job/LongPollingActivateJobsTest.java
  gateway/src/test/java/io/camunda/zeebe/gateway/api/util/StubbedBrokerClient.java
  gateway/src/test/java/io/camunda/zeebe/gateway/api/util/StubbedGateway.java
  gateway/src/test/java/io/camunda/zeebe/gateway/api/util/StubbedGatewayRule.java
  util/src/main/java/io/camunda/zeebe/util/sched/Actor.java
  util/src/test/java/io/camunda/zeebe/util/sched/ActorBuilderTest.java
Labels: backport stable/1.2, backport stable/1.3

#8972 chore(maven): migrate to new artifacts.camunda.com
  .ci/scripts/docker/prepare.sh
  benchmarks/project/pom.xml
  bom/pom.xml
Labels: backport stable/1.2, backport stable/1.3

#8979 Deploy decision requirements and decisions via the Go client and zbctl
  clients/go/.gocompat.json
  clients/go/cmd/zbctl/internal/commands/deployResource.go
  clients/go/cmd/zbctl/main_test.go
  clients/go/cmd/zbctl/testdata/deploy.golden
  clients/go/cmd/zbctl/testdata/drg-force-user.dmn
  clients/go/cmd/zbctl/testdata/help.golden
  clients/go/internal/mock_pb/mock_gateway.go
  clients/go/pkg/commands/deploy.go
  clients/go/pkg/commands/deploy_test.go
  clients/go/pkg/pb/gateway.pb.go
  clients/go/pkg/zbc/api.go
  clients/go/pkg/zbc/client.go
  clients/go/test/integration_test.go
Labels: BREAKING CHANGE

#8994 Fix notification of snapshot replication listeners about missed events
  atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  atomix/cluster/src/test/java/io/atomix/raft/SnapshotReplicationListenerTest.java
Labels: backport stable/1.2, backport stable/1.3

#8993 fix: don't wait for actor being submitted
  broker/src/main/java/io/camunda/zeebe/broker/bootstrap/EmbeddedGatewayServiceStep.java
  broker/src/main/java/io/camunda/zeebe/broker/system/EmbeddedGatewayService.java
  broker/src/test/java/io/camunda/zeebe/broker/bootstrap/EmbeddedGatewayServiceStepTest.java
  gateway/src/main/java/io/camunda/zeebe/gateway/Gateway.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/job/ActivateJobsHandler.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/job/LongPollingActivateJobsHandler.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/job/RoundRobinActivateJobsHandler.java
  gateway/src/test/java/io/camunda/zeebe/gateway/api/UnavailableBrokersTest.java
  gateway/src/test/java/io/camunda/zeebe/gateway/api/job/LongPollingActivateJobsTest.java
  gateway/src/test/java/io/camunda/zeebe/gateway/api/util/StubbedGateway.java
  gateway/src/test/java/io/camunda/zeebe/gateway/interceptors/InterceptorIT.java
  gateway/src/test/java/io/camunda/zeebe/gateway/security/SecurityTest.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteringRule.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/EmbeddedGatewayWithOneCpuThreadIT.java
Labels: backport stable/1.2, backport stable/1.3

#9014 Do not generate ImmutableProcessInstanceRelated
  protocol/src/main/java/io/camunda/zeebe/protocol/record/value/ProcessInstanceRelated.java
  protocol/src/test/java/io/camunda/zeebe/protocol/ImmutableProtocolTest.java
Labels: backport release-8.0.0

#9034 deps: upgrade spring and spring boot
  parent/pom.xml
Labels: backport stable/1.2, backport stable/1.3, backport release-8.0.0
