Repository camunda/camunda, pull requests merged in 2022-02, with the labels that each got.

#8708 fix(client/java): Reduced log level of job activations
  clients/java/src/main/java/io/camunda/zeebe/client/impl/worker/JobPoller.java
Labels: backport stable/1.2, backport stable/1.3

#8720 Remove references of the master branch
  .ci/scripts/distribution/analyse-java.sh
  .ci/seed.dsl
  .github/workflows/golangci-lint.yml
  CONTRIBUTING.md
  Jenkinsfile
  licenses/Clarification-on-gRPC-code-generation.txt
Labels: backport stable/1.2, backport stable/1.3

#8721 Replace all references to the develop branch
  .ci/jobs/docker_zeebe.dsl
  .ci/scripts/distribution/analyse-java.sh
  .ci/seed.dsl
  .github/pull_request_template.md
  .github/workflows/codeql.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/os-smoke-test.yml
  CONTRIBUTING.md
  Jenkinsfile
  README.md
  benchmarks/docs/setup/prometheus-operator-values.yml
  benchmarks/setup/README.md
  createMedicCWBenchmark.sh
  licenses/Clarification-on-gRPC-code-generation.txt
  parent/pom.xml
Labels: backport stable/1.2, backport stable/1.3

#8706 refactor: enable waiting for manual snapshot
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/AsyncSnapshotDirector.java
  broker/src/test/java/io/camunda/zeebe/broker/system/partitions/AsyncSnapshottingTest.java
Labels: backport stable/1.2, backport stable/1.3

#8765 Fix slow Windows OS smoke test
  .github/workflows/os-smoke-test.yml
  bors.toml
Labels: backport stable/1.2, backport stable/1.3

#8788 Downgrade zeebe-protocol-jackson to java 8
  CONTRIBUTING.md
  protocol-jackson/pom.xml
  protocol-jackson/src/main/java/io/camunda/zeebe/protocol/jackson/record/DefaultJsonSerializable.java
  protocol-jackson/src/main/java/io/camunda/zeebe/protocol/jackson/record/IntentTypeIdResolver.java
  protocol-jackson/src/main/java/io/camunda/zeebe/protocol/jackson/record/ValueTypeIdResolver.java
  protocol-jackson/src/main/java/io/camunda/zeebe/protocol/jackson/record/ValueTypes.java
  protocol-jackson/src/test/java/io/camunda/zeebe/protocol/jackson/record/IntentTypeIdResolverTest.java
  protocol-jackson/src/test/java/io/camunda/zeebe/protocol/jackson/record/ValueTypeIdResolveTest.java
Labels: Type: Maintenance

#8786 Support to override authority in TLS handshake
  clients/java/src/main/java/io/camunda/zeebe/client/ClientProperties.java
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientBuilder.java
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientConfiguration.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientBuilderImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientCloudBuilderImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/ZeebeClientTest.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/SecurityTest.java
Labels: Scope: clients/java

#8798 Add API to probe the logstream batch writer if more bytes can be written without writing them
  dispatcher/pom.xml
  dispatcher/src/main/java/io/camunda/zeebe/dispatcher/Dispatcher.java
  dispatcher/src/test/java/io/camunda/zeebe/dispatcher/DispatcherTest.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogStreamBatchWriterImpl.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/log/LogStreamBatchWriter.java
  logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/log/LogStreamBatchWriterImplTest.java
Labels: backport stable/1.2, backport stable/1.3

#8785 fix: throw instead of silently overwriting timers
  util/src/main/java/io/camunda/zeebe/util/sched/ActorTimerQueue.java
  util/src/main/java/io/camunda/zeebe/util/sched/TimerSubscription.java
Labels: backport stable/1.2, backport stable/1.3

#8799 Correctly truncate a job activation batch if it will not fit in the dispatcher
  engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/TypedStreamWriterProxy.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/incident/IncidentRecordWrapper.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobBatchActivateProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobBatchCollector.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobEventProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/TypedEventImpl.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/TypedRecord.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/writers/EventApplyingStateWriter.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/writers/NoopTypedStreamWriter.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/writers/TypedEventWriter.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/writers/TypedStreamWriterImpl.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobBatchCollectorTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/streamprocessor/StreamProcessorHealthTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/variable/VariableBehaviorTest.java
  engine/src/test/java/io/camunda/zeebe/engine/util/MockTypedRecord.java
  engine/src/test/java/io/camunda/zeebe/engine/util/RecordingTypedEventWriter.java
Labels: backport stable/1.2, backport stable/1.3

#8835 Add dmn properties to protocol-jackson DeploymentRecord
  protocol-jackson/src/main/java/io/camunda/zeebe/protocol/jackson/record/AbstractDeploymentRecordValue.java
Labels: Type: Bug
