Repository camunda/camunda, pull requests merged in 2022-04, with the labels that each got.

#9058 Relax timeout for instance completion
  test-util/src/main/java/io/camunda/zeebe/test/util/WorkloadGenerator.java
Labels: backport stable/1.3, backport stable/8.0

#9097 Wait for gateway start in StandaloneGateway
  dist/src/main/java/io/camunda/zeebe/gateway/StandaloneGateway.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/smoke/StandaloneGatewayIT.java
Labels: backport stable/1.3, backport stable/8.0

#9122 fix(broker): do not log transition failure due to term mismatch as error
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/PartitionTransitionProcess.java
Labels: backport stable/1.3, backport stable/8.0

#9121 Prevent duplicate key insertion for DMN
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/DeploymentDistributedApplier.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/CreateDeploymentMultiplePartitionsTest.java
Labels: backport stable/8.0

#9131 Await until all index templates are present before running ES test
  exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/AbstractElasticsearchExporterIntegrationTestCase.java
  exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterAuthenticationIT.java
  exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterConfigurationIT.java
  exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterFaultToleranceIT.java
  exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/records/ElasticsearchExporterDmnRecordIT.java
  exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/records/ElasticsearchExporterJobRecordIT.java
  exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/util/ElasticsearchContainer.java
  exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/util/it/ExporterIntegrationRule.java
  exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/util/it/NonStartableBrokerRule.java
  test-util/src/main/java/io/camunda/zeebe/test/util/record/RecordingExporter.java
Labels: backport stable/1.3, backport stable/8.0

#9164 Check for message names being null during validation
  engine/pom.xml
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/validation/ProcessMessageStartEventMessageNameValidator.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/ProcessMessageStartEventMessageNameValidatorTest.java
Labels: backport stable/1.3, backport stable/8.0

#9208 Do not log health status unnecessarily
  util/src/main/java/io/camunda/zeebe/util/health/CriticalComponentsHealthMonitor.java
  util/src/main/java/io/camunda/zeebe/util/health/HealthIssue.java
  util/src/main/java/io/camunda/zeebe/util/health/HealthReport.java
  util/src/test/java/io/camunda/zeebe/util/health/CriticalComponentsHealthMonitorTest.java
Labels: backport stable/1.3, backport stable/8.0

#9216 Fixes jackson security vulnerability
  parent/pom.xml
Labels: area/security

#9178 Fix ArrayOutOfBounds / collection has wrong type errors by raising an incident
  engine/pom.xml
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnBehaviors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnBehaviorsImpl.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/MultiInstanceOutputCollectionBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/MultiInstanceBodyProcessor.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/behavior/MultiInstanceOutputCollectionBehaviorTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/MultiInstanceIncidentTest.java
  engine/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: backport stable/1.3, backport stable/8.0

#9175 Trigger boundary events after an interrupting event subprocess is triggered
  engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnEventPublicationBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/common/CatchEventBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/common/EventHandle.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/common/EventTriggerBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableActivity.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableCatchEventElement.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableCatchEventSupplier.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableEventBasedGateway.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobThrowErrorProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/message/ProcessMessageSubscriptionCorrelateProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/timer/TriggerTimerProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceElementActivatingApplier.java
  engine/src/main/java/io/camunda/zeebe/engine/state/immutable/EventScopeInstanceState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/instance/DbEventScopeInstanceState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/instance/EventScopeInstance.java
  engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableEventScopeInstanceState.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/boundary/BoundaryEventTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/subprocess/InterruptingEventSubprocessTest.java
  engine/src/test/java/io/camunda/zeebe/engine/state/instance/EventScopeInstanceStateTest.java
  test-util/src/main/java/io/camunda/zeebe/test/util/record/RecordStream.java
Labels: backport stable/1.3, backport stable/8.0

#9219 Cancel job with incident when canceling the process instance
  engine/src/main/java/io/camunda/zeebe/engine/metrics/JobMetrics.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnJobBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobCancelProcessor.java
  engine/src/test/java/io/camunda/zeebe/engine/metrics/JobMetricsTest.java
  engine/src/test/java/io/camunda/zeebe/engine/metrics/MetricsTestHelper.java
  engine/src/test/java/io/camunda/zeebe/engine/metrics/ProcessEngineMetricsTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/boundary/BoundaryEventTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/JobFailIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/CancelProcessInstanceTest.java
Labels: backport stable/1.3, backport stable/8.0

#9237 refactor(engine): prevent instant rescheduling
  engine/src/main/java/io/camunda/zeebe/engine/processing/scheduled/DueDateChecker.java
Labels: backport stable/1.3, backport stable/8.0
