Repository camunda/camunda, pull requests merged in 2022-09, with the labels that each got.

#10255 fix(gateway): store followers and inactive nodes in sets
  gateway/src/main/java/io/camunda/zeebe/gateway/EndpointManager.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/cluster/BrokerClusterState.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/cluster/BrokerClusterStateImpl.java
  gateway/src/test/java/io/camunda/zeebe/gateway/topology/TopologyUpdateTest.java
Labels: backport stable/1.3, backport stable/8.0

#10279 Fix release script
  .ci/pipelines/docker_zeebe.groovy
  .ci/scripts/release/prepare.sh
Labels: backport stable/8.0

#10416 Fix flaky JobMetricsTest
  engine/src/test/java/io/camunda/zeebe/engine/metrics/JobMetricsTest.java
Labels: backport stable/1.3, backport stable/8.0

#10448 Specify the unit of retryBackOff
  gateway-protocol/src/main/proto/gateway.proto
Labels: backport stable/8.0

#10504 test(backup-stores/s3): increase timeout
  backup-stores/testkit/src/main/java/io/camunda/zeebe/backup/testkit/SavingBackup.java
Labels: backport release-8.1.0

#10513 fix: backup manager metrics should be prefixed with 'backup'
  backup/src/main/java/io/camunda/zeebe/backup/metrics/BackupManagerMetrics.java
Labels: backport release-8.1.0

#10508 test: wait for exporter to close to prevent flaky test
  broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirectorPauseTest.java
Labels: backport release-8.1.0

#10517 test(qa-client): use SocketUtil to get unused free port for connect failure test
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/ClientExceptionHandlingTest.java
Labels: backport stable/8.0, backport release-8.1.0

#10534 Fix timer scheduling
  engine/src/main/java/io/camunda/zeebe/engine/processing/scheduled/DueDateChecker.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/timer/DueDateCheckerTest.java
Labels: backport release-8.1.0

#10538 test(dispatcher): fix potential sigsev in tests
  dispatcher/src/test/java/io/camunda/zeebe/dispatcher/integration/ActorFrameworkIntegrationTest.java
Labels: backport stable/8.0

#10556 fix(helm): rename podSecurityContext to containerSecurityContext
  benchmarks/setup/default/zeebe-values.yaml
Labels: backport stable/8.0, backport release-8.1.0

#10573 Add verification timeout to SuccessfulDeploymentTest.shouldSendResponse
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/SuccessfulDeploymentTest.java
Labels: backport stable/8.0, backport release-8.1.0

#10516 Verify backup and restore in a multipartition cluster
  qa/integration-tests/pom.xml
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/BackupMultiPartitionTest.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteringRuleExtension.java
Labels: backport release-8.1.0
