Repository camunda/camunda, pull requests merged in 2022-10, with the labels that each got.

#10666 ci: fix dependabot PR approval
  .github/workflows/ci.yml
Labels: backport stable/8.0, backport stable/8.1

#10683 Ensure raft storage lock file is update atomically
  atomix/cluster/src/main/java/io/atomix/raft/storage/RaftStorage.java
  atomix/cluster/src/test/java/io/atomix/raft/storage/RaftStorageTest.java
Labels: backport stable/8.0, backport stable/8.1

#10665 feat(engine): Implemented abstract tasks
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/AbstractFlowNodeBuilder.java
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/AbstractTaskBuilder.java
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/impl/instance/TaskImpl.java
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/FlowElementValidator.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/BpmnElementProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/ManualTaskProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/UndefinedTaskProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/FlowElementInstantiationTransformer.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/BpmnElementTypeTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/CreateDeploymentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/CreateProcessInstanceTest.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BpmnElementType.java
Labels: hacktoberfest-accepted

#10646 refactor(bpmn-model) Improve error message of BPMN features
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/FlowElementValidator.java
Labels: hacktoberfest-accepted

#10697 Export missing records to ES
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  exporters/elasticsearch-exporter/README.md
  exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporterConfiguration.java
  exporters/elasticsearch-exporter/src/main/resources/zeebe-record-deployment-distribution-template.json
  exporters/elasticsearch-exporter/src/main/resources/zeebe-record-message-start-event-subscription-template.json
  exporters/elasticsearch-exporter/src/main/resources/zeebe-record-process-event-template.json
  exporters/elasticsearch-exporter/src/main/resources/zeebe-record-timer-template.json
  exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/TestSupport.java
Labels: hacktoberfest-accepted

#10733 Add activatedElementInstanceKeys to modification record template
  exporters/elasticsearch-exporter/src/main/resources/zeebe-record-process-instance-modification-template.json
  protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceModificationRecord.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/value/ProcessInstanceModificationRecordValue.java
Labels: backport stable/8.1

#10736 test: close manually to avoid leaks in `ClusteringRuleExtension`
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteringRule.java
Labels: backport stable/8.1

#10702 feat(gateway): add fail job variables support
  gateway-protocol/src/main/proto/gateway.proto
  gateway-protocol/src/main/proto/proto.lock
  gateway/src/main/java/io/camunda/zeebe/gateway/RequestMapper.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerFailJobRequest.java
  gateway/src/test/java/io/camunda/zeebe/gateway/api/job/FailJobTest.java
Labels: hacktoberfest-accepted

#10746 test: don't fail test if scheduled task runs more often than expected
  engine/src/test/java/io/camunda/zeebe/streamprocessor/ProcessingScheduleServiceTest.java
Labels: backport stable/8.1

#10749 fix: don't fail on startup if disk usage monitor is disabled
  broker/src/main/java/io/camunda/zeebe/broker/bootstrap/BrokerStartupProcess.java
  broker/src/main/java/io/camunda/zeebe/broker/bootstrap/DiskSpaceUsageMonitorStep.java
  broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/DiskSpaceUsageMonitor.java
  broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/DiskSpaceUsageMonitorActor.java
  broker/src/test/java/io/camunda/zeebe/broker/bootstrap/CommandApiServiceStepTest.java
  broker/src/test/java/io/camunda/zeebe/broker/bootstrap/DiskSpaceUsageMonitorStepTest.java
  broker/src/test/java/io/camunda/zeebe/broker/system/monitoring/DiskSpaceUsageMonitorTest.java
Labels: backport stable/8.0, backport stable/8.1

#10693 feat(bpmn-model): add script tasks extension element zeebe:script model api support
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/Bpmn.java
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/AbstractScriptTaskBuilder.java
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/impl/ZeebeConstants.java
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/impl/instance/zeebe/ZeebeScriptImpl.java
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/instance/zeebe/ZeebeScript.java
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/ScriptTaskValidation.java
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/ZeebeDesignTimeValidators.java
  bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/builder/ScriptTaskBuilderTest.java
  bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/instance/zeebe/ZeebeScriptTest.java
  bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeJobWorkerElementValidationTest.java
  bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeScriptTaskValidationTest.java
Labels: hacktoberfest-accepted

#10776 Stop raft server when going inactive due to unrecoverable errors
  atomix/cluster/src/main/java/io/atomix/raft/partition/RaftPartition.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  broker/src/test/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionTest.java
Labels: backport stable/8.0, backport stable/8.1

#10810 build(docker): update base image to fix CVE-2022-2068
  Dockerfile
  docker/test/docker-labels.golden.json
Labels: backport stable/8.1

#10779 Fix activation of Parallel Gateway through Process Instance Modification
  engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceModificationProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceModifiedEventApplier.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/CreateProcessInstanceAnywhereTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ModifyProcessInstanceTest.java
  exporters/elasticsearch-exporter/src/main/resources/zeebe-record-process-instance-modification-template.json
  protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceModificationActivateInstruction.java
  protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceModificationRecord.java
  protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/value/ProcessInstanceModificationRecordValue.java
Labels: backport stable/8.1

#10789 Reset active sequence flows upon terminate end event activation
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceElementActivatingApplier.java
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceElementCompletedApplier.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/TerminateEndEventTest.java
Labels: backport stable/8.1

#10823 Use ClusteringRule for SecureClusteredMessagingIT
  dist/src/main/java/io/camunda/zeebe/gateway/ActorSchedulerComponent.java
  dist/src/main/java/io/camunda/zeebe/gateway/BrokerClientComponent.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteringRule.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteringRuleExtension.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/network/SecureClusteredMessagingIT.java
  test-util/src/main/java/io/camunda/zeebe/test/util/netty/NettySslClient.java
Labels: backport stable/8.1

#10812 test: handle temporarily missing snapshots more gracefully
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/SnapshotWithExportersTest.java
Labels: backport stable/8.1

#10825 Fix restore app startup and shutdown behavior
  dist/src/main/java/io/camunda/zeebe/restore/BackupStoreComponent.java
  dist/src/main/java/io/camunda/zeebe/restore/RestoreApp.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/RestoreAcceptanceIT.java
  restore/src/main/java/io/camunda/zeebe/restore/RestoreManager.java
  util/src/main/java/io/camunda/zeebe/util/FileUtil.java
  util/src/test/java/io/camunda/zeebe/util/FileUtilTest.java
Labels: backport stable/8.1

#10862 Update docker base image
  Dockerfile
  docker/test/docker-labels.golden.json
Labels: backport stable/8.1

#10853 test(dispatcher): fixes sigsev due to consumer
  dispatcher/src/test/java/io/camunda/zeebe/dispatcher/integration/ActorFrameworkIntegrationTest.java
Labels: backport stable/8.0, backport stable/8.1

#10844 Yield actor thread between retries
  scheduler/pom.xml
  scheduler/src/main/java/io/camunda/zeebe/scheduler/retry/AbortableRetryStrategy.java
  scheduler/src/main/java/io/camunda/zeebe/scheduler/retry/EndlessRetryStrategy.java
  scheduler/src/main/java/io/camunda/zeebe/scheduler/retry/RecoverableRetryStrategy.java
  scheduler/src/test/java/io/camunda/zeebe/scheduler/retry/RetryStrategyTest.java
  scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/ControlledActorSchedulerExtension.java
Labels: backport stable/8.0, backport stable/8.1

#10868 Increase timeout and add logging
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteringRule.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/topology/TopologyFaultToleranceTest.java
Labels: backport stable/8.0, backport stable/8.1
