Repository camunda/camunda, pull requests merged in 2022-12, with the labels that each got.

#11136 ci: create benchmarks for PRs labeled with 'benchmark'
  .github/workflows/benchmark.yml
  .github/workflows/medic-benchmarks.yml
  .github/workflows/pr-benchmark.yaml
Labels: benchmark

#11074 fix(engine): fix message transformer of extension elements
  bpmn-model/revapi.json
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/Query.java
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/impl/QueryImpl.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/MessageTransformer.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/CreateDeploymentTest.java
Labels: backport stable/8.0, backport stable/8.1

#11178 Interrupt flow scope when a terminate end event is reached
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnStateBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/EventSubProcessProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/ProcessProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/SubProcessProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceElementCompletedApplier.java
Labels: backport stable/8.1

#11165 feat: replace dispatcher
  broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/steps/BackupApiRequestHandlerStepTest.java
  logstreams/pom.xml
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogEntryDescriptor.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogStorageAppender.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogStreamBatchWriterImpl.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogStreamImpl.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogStreamWriterImpl.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LoggedEventImpl.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/SequencedBatch.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/Sequencer.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/SequencerMetrics.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/serializer/DataFrameDescriptor.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/serializer/LogAppendEntrySerializer.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/serializer/SequencedBatchSerializer.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/log/LogStream.java
  logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/log/LogStorageAppenderHealthTest.java
  logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/log/LogStorageAppenderTest.java
  logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/log/SequencerTest.java
  logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/serializer/LogAppendEntrySerializerTest.java
  logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/serializer/SequencedBatchSerializerTest.java
  logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/serializer/TestUtils.java
  logstreams/src/test/java/io/camunda/zeebe/logstreams/log/LogStreamBatchWriterTest.java
  logstreams/src/test/java/io/camunda/zeebe/logstreams/log/LogStreamTest.java
  logstreams/src/test/java/io/camunda/zeebe/logstreams/log/LogStreamWriterTest.java
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceTest.java
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamPlatform.java
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorContinouslyReplayModeTest.java
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorHealthTest.java
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorInconsistentPositionTest.java
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorMultipleProcessorsTest.java
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorReplayTest.java
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorTest.java
Labels: benchmark

#11246 Fix flaky exporter test
  broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirectorTest.java
Labels: backport stable/8.0, backport stable/8.1

#11257 refactor(logstream): centralize appender control flow
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/backpressure/AppendBackpressureMetrics.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/backpressure/AppendEntryLimiter.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/backpressure/AppendLimiter.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/AppendErrorHandler.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/AppendLimiter.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/AppenderFlowControl.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/AppenderMetrics.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/BackpressureCfg.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/BackpressureCfgGradient2.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/BackpressureCfgVegas.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/BackpressureConstants.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/InFlightAppend.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/NoopLimiter.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/AppenderMetrics.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/Listener.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogStorageAppender.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/Sequencer.java
  logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/backpressure/AppendEntryLimiterTest.java
  logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/flowcontrol/AppendGradient2LimiterTest.java
  logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/flowcontrol/AppendVegasLimiterTest.java
  logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/flowcontrol/AppenderFlowControlTest.java
  logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/log/SequencerTest.java
Labels: benchmark

#11263 Make ProcessScheduleServiceTest deterministic
  scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/ControlledActorSchedulerExtension.java
  scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/ControlledActorThread.java
  stream-platform/pom.xml
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceTest.java
Labels: backport stable/8.1

#11216 Don't activate triggered events if the flow scope has been interrupted
  engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/ProcessEventProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnBehaviorsImpl.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnBufferedMessageStartEventBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnEventPublicationBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/CallActivityProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/MultiInstanceBodyProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/SubProcessProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/BusinessRuleTaskProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/JobWorkerTaskProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/ReceiveTaskProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/common/EventHandle.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobEventProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageEventProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessagePublishProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/message/ProcessMessageSubscriptionCorrelateProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/timer/TriggerTimerProcessor.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/subprocess/EmbeddedSubProcessTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/message/MessageStreamProcessorTest.java
  test-util/src/main/java/io/camunda/zeebe/test/util/bpmn/random/blocks/BlockSequenceBuilder.java
Labels: backport stable/8.0, backport stable/8.1

#11169 fix(gateway): don't log IllegalArgumentException as errors
  gateway/src/main/java/io/camunda/zeebe/gateway/RequestMapper.java
  gateway/src/main/java/io/camunda/zeebe/gateway/grpc/GrpcErrorMapper.java
  gateway/src/test/java/io/camunda/zeebe/gateway/RequestMapperTest.java
  gateway/src/test/java/io/camunda/zeebe/gateway/grpc/GrpcErrorMapperTest.java
  protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/encoding/MsgPackConverter.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CompleteJobTest.java
Labels: backport stable/8.0, backport stable/8.1

#11278 refactor: no intermediate batch serialization
  atomix/cluster/src/main/java/io/atomix/raft/roles/LeaderRole.java
  atomix/cluster/src/main/java/io/atomix/raft/storage/log/entry/ApplicationEntry.java
  atomix/cluster/src/main/java/io/atomix/raft/storage/log/entry/SerializedApplicationEntry.java
  atomix/cluster/src/main/java/io/atomix/raft/storage/log/entry/UnserializedApplicationEntry.java
  atomix/cluster/src/main/java/io/atomix/raft/storage/serializer/RaftEntrySBESerializer.java
  atomix/cluster/src/main/java/io/atomix/raft/zeebe/ZeebeLogAppender.java
  atomix/cluster/src/test/java/io/atomix/raft/RaftRule.java
  atomix/cluster/src/test/java/io/atomix/raft/SingleRaftEntryValidationTest.java
  atomix/cluster/src/test/java/io/atomix/raft/storage/log/RaftLogCommittedReaderTest.java
  atomix/cluster/src/test/java/io/atomix/raft/storage/log/RaftLogTest.java
  atomix/cluster/src/test/java/io/atomix/raft/storage/log/RaftLogUncommittedReaderTest.java
  atomix/cluster/src/test/java/io/atomix/raft/storage/serializer/RaftEntrySBESerializerTest.java
  broker/src/main/java/io/camunda/zeebe/broker/logstreams/AtomixLogStorage.java
  broker/src/main/java/io/camunda/zeebe/broker/logstreams/AtomixLogStorageReader.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/LogStoragePartitionTransitionStep.java
  broker/src/test/java/io/camunda/zeebe/broker/logstreams/AtomixLogStorageReaderTest.java
  broker/src/test/java/io/camunda/zeebe/broker/raft/ZeebeEntryValidatorTest.java
  broker/src/test/java/io/camunda/zeebe/broker/system/partitions/AsyncSnapshottingTest.java
  broker/src/test/java/io/camunda/zeebe/broker/system/partitions/TestIndexedRaftLogEntry.java
  broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/StateControllerImplTest.java
  engine/src/test/java/io/camunda/zeebe/engine/util/StreamProcessingComposite.java
  engine/src/test/java/io/camunda/zeebe/engine/util/StreamProcessorRule.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogStorageAppender.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/SequencedBatch.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/Sequencer.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/serializer/LogAppendEntrySerializer.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/serializer/SequencedBatchSerializer.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/storage/LogStorage.java
  logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/log/LogStorageAppenderHealthTest.java
  logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/serializer/SequencedBatchSerializerTest.java
  logstreams/src/test/java/io/camunda/zeebe/logstreams/util/ListLogStorage.java
Labels: benchmark

#11294 refactor(exporters/elasticsearch): don't re-serialize to add sequence
  exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/BulkIndexRequest.java
Labels: benchmark

#11307 Close channels on Timeout
  atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/NettyMessagingServiceTest.java
  util/src/main/java/io/camunda/zeebe/util/VisibleForTesting.java
Labels: backport stable/8.0, backport stable/8.1

#11304 ci(release): improved input descriptions
  .github/workflows/release-manual.yml
Labels: backport stable/8.0, backport stable/8.1

#11315 ci(release): github hosted runner for docker job
  .github/workflows/release.yml
Labels: backport stable/8.0, backport stable/8.1
