Repository camunda/camunda, pull requests merged in 2023-04, with the labels that each got.

#12216 deps(maven): update to identity 8.2.0-rc1 release
  parent/pom.xml
  qa/integration-tests/pom.xml
Labels: backport release-8.2.0

#12196 refactor(engine): specify an error message when deployed process id not found in state
  engine/src/main/java/io/camunda/zeebe/engine/state/deployment/DbProcessState.java
Labels: backport stable/8.0, backport stable/8.1

#12233 deps(maven): update to identity 8.2.0
  parent/pom.xml
Labels: backport release-8.2.0

#12221 fix(backup/gcs): listing backups when no `basePath` is set
  backup-stores/gcs/pom.xml
  backup-stores/gcs/src/main/java/io/camunda/zeebe/backup/gcs/FileSetManager.java
  backup-stores/gcs/src/main/java/io/camunda/zeebe/backup/gcs/GcsBackupConfig.java
  backup-stores/gcs/src/main/java/io/camunda/zeebe/backup/gcs/GcsBackupStore.java
  backup-stores/gcs/src/main/java/io/camunda/zeebe/backup/gcs/ManifestManager.java
  backup-stores/gcs/src/test/java/io/camunda/zeebe/backup/gcs/ConfigTest.java
  backup-stores/gcs/src/test/java/io/camunda/zeebe/backup/gcs/GcsBackupStoreIT.java
  parent/pom.xml
  qa/integration-tests/pom.xml
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/GcsBackupAcceptanceIT.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/GcsRestoreAcceptanceIT.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/S3BackupAcceptanceIT.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/S3RestoreAcceptanceIT.java
  qa/util/src/main/java/io/camunda/zeebe/qa/util/testcontainers/GcsContainer.java
Labels: backport release-8.2.0

#12256 Omit RocksDB musl check from Docker image
  Dockerfile
Labels: support, backport stable/8.0, backport stable/8.1, backport stable/8.2

#12285 docs(gateway): remove invalid BROKER from env var name
  dist/src/main/config/gateway.yaml.template
Labels: backport stable/8.2

#12304 Cut TCC provisioning by half
  .github/workflows/ci.yml
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#12327 Support numbers as error/escalation codes
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/ErrorTransformer.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/EscalationTransformer.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/error/ErrorCatchEventTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/error/ErrorEventTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/escalation/EscalationEventTest.java
Labels: backport stable/8.2

#12351 deps(maven): bump version.identity to 8.2.1
  parent/pom.xml
Labels: backport stable/8.2

#12358 Revert jacoco version update
  parent/pom.xml
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#12367 More resilient network operations in CI
  .github/actions/build-docker/action.yml
  .github/actions/build-zeebe/action.yml
  .github/workflows/benchmark.yml
  parent/pom.xml
  qa/pom.xml
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#12305 fix(cluster): do no use channel created for a different address
  atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/ChannelPool.java
  atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/ChannelPoolTest.java
  atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/NettyMessagingServiceTest.java
Labels: backport stable/8.0, backport stable/8.1, benchmark, backport stable/8.2

#12397 Remove spy/mock usage from NettyMessagingService channel pool related tests
  atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/NettyMessagingServiceTest.java
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#12405 test(backup-store): close store and client after each test
  backup-stores/gcs/src/test/java/io/camunda/zeebe/backup/gcs/GcsBackupStoreIT.java
  backup-stores/s3/src/test/java/io/camunda/zeebe/backup/s3/LocalstackBackupStoreIT.java
  backup-stores/s3/src/test/java/io/camunda/zeebe/backup/s3/MinioBackupStoreIT.java
Labels: backport stable/8.1, backport stable/8.2

#12419 test(qa): relax timeout for taking backups on GCS
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/GcsBackupAcceptanceIT.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/GcsRestoreAcceptanceIT.java
Labels: backport stable/8.2

#12306 fix(engine): skip unnecessary blacklist check
  engine/src/main/java/io/camunda/zeebe/engine/Engine.java
  engine/src/main/java/io/camunda/zeebe/engine/state/ProcessingDbState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/immutable/BlackListState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/processing/DbBlackListState.java
  engine/src/test/java/io/camunda/zeebe/engine/state/instance/BlackListStateTest.java
Labels: backport stable/8.1, backport stable/8.2

#12403 feat: run timer due date checker concurrently to processing
  broker/src/main/java/io/camunda/zeebe/broker/system/configuration/FeatureFlagsCfg.java
  broker/src/test/java/io/camunda/zeebe/broker/system/configuration/FeatureFlagsCfgTest.java
  broker/src/test/resources/system/feature-flags-cfg.yaml
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobBackoffChecker.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/scheduled/DueDateChecker.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/timer/DueDateTimerChecker.java
  engine/src/main/java/io/camunda/zeebe/engine/state/ScheduledTaskDbState.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/timer/DueDateCheckerTest.java
  util/src/main/java/io/camunda/zeebe/util/FeatureFlags.java
Labels: backport stable/8.1, backport stable/8.2

#12471 fix(backup/s3): allow not configuring s3 credentials
  broker/src/main/java/io/camunda/zeebe/broker/system/configuration/backup/S3BackupStoreConfig.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/S3BackupAuthenticationIT.java
Labels: backport stable/8.2

#12482 feat(dist): Remove the `-xms` parameter
  dist/pom.xml
Labels: backport stable/8.0, backport stable/8.1, benchmark

#12497 ci(test): skip test artifact upload on success
  .github/workflows/ci.yml
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#12510 fix(engine): prevent record corruption during message TTL checking
  engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageTimeToLiveChecker.java
Labels: backport stable/8.1, backport stable/8.2

#12494 Redirect to official documentation in Exporter README
  docs/developer_handbook.md
  exporters/elasticsearch-exporter/README.md
  exporters/opensearch-exporter/README.md
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#12486 fix: handle failure to resolve address more gracefully
  atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/ChannelPool.java
  atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#12534 Bump TCC concurrency to stabilize IT stage
  .github/workflows/ci.yml
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#12542 Add `ProcessInstanceBatch` record and intent
  broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestReader.java
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporterConfiguration.java
  exporters/elasticsearch-exporter/src/main/resources/zeebe-record-process-instance-batch-template.json
  exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/TestSupport.java
  exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterConfiguration.java
  exporters/opensearch-exporter/src/main/resources/zeebe-record-process-instance-batch-template.json
  exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestSupport.java
  protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceBatchRecord.java
  protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/ValueTypeMapping.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/Intent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/ProcessInstanceBatchIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/value/ProcessInstanceBatchRecordValue.java
  protocol/src/main/resources/protocol.xml
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#12579 deps(docker): update eclipse-temurin docker digest
  Dockerfile
Labels: backport stable/8.1, backport stable/8.2

#12586 deps(docker): inline nested image name variables
  Dockerfile
Labels: backport stable/8.2
