Repository camunda/camunda, pull requests merged in 2023-06, with the labels that each got.

#12910 Add specific error codes for logstream write failure
  broker/src/main/java/io/camunda/zeebe/broker/jobstream/RemoteJobStreamErrorHandler.java
  broker/src/main/java/io/camunda/zeebe/broker/transport/ErrorResponseWriter.java
  broker/src/main/java/io/camunda/zeebe/broker/transport/backupapi/BackupApiRequestHandler.java
  broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestHandler.java
  broker/src/main/java/io/camunda/zeebe/broker/transport/partitionapi/InterPartitionCommandReceiverImpl.java
  broker/src/test/java/io/camunda/zeebe/broker/jobstream/RemoteJobStreamErrorHandlerTest.java
  broker/src/test/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestHandlerTest.java
  broker/src/test/java/io/camunda/zeebe/broker/transport/partitionapi/InterPartitionCommandCheckpointTest.java
  broker/src/test/java/io/camunda/zeebe/broker/transport/partitionapi/InterPartitionCommandReceiverTest.java
  engine/src/test/java/io/camunda/zeebe/engine/util/StreamProcessingComposite.java
  engine/src/test/java/io/camunda/zeebe/engine/util/TestStreams.java
  gateway/src/main/java/io/camunda/zeebe/gateway/grpc/GrpcErrorMapper.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/Sequencer.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/log/LogStreamWriter.java
  logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/log/LogStorageAppenderTest.java
  logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/log/LogStreamBatchReaderTest.java
  logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/log/LogStreamReaderTest.java
  logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/log/SequencerTest.java
  logstreams/src/test/java/io/camunda/zeebe/logstreams/log/LogStreamTest.java
  logstreams/src/test/java/io/camunda/zeebe/logstreams/log/LogStreamWriterTest.java
  logstreams/src/test/java/io/camunda/zeebe/logstreams/util/SyncLogStream.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceImpl.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingStateMachine.java
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceTest.java
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamPlatform.java
Labels: backport stable/8.2

#12876 fix(engine): cannot resolve output mapping incident on a none end event
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/EndEventProcessor.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/gateway/ExclusiveGatewayTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/gateway/InclusiveGatewayTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/gateway/ParallelGatewayTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/multiinstance/MultiInstanceSubProcessTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/OutputMappingIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/CreateProcessInstanceAnywhereTest.java
Labels: backport stable/8.2

#12968 refactor(cluster): improve logging in swim
  atomix/cluster/src/main/java/io/atomix/cluster/protocol/SwimMembershipProtocol.java
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#12922 Integrate Snyk into CI
  .github/workflows/ci.yml
  .github/workflows/snyk.yml
  .snyk
  bom/pom.xml
  protocol/pom.xml
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#13025 Detect and reject straight-through processing loops
  broker/src/main/java/io/camunda/zeebe/broker/system/configuration/FeatureFlagsCfg.java
  broker/src/test/java/io/camunda/zeebe/broker/system/configuration/FeatureFlagsCfgTest.java
  broker/src/test/resources/system/feature-flags-cfg.yaml
  engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/DeploymentCreateProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableProcess.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/validation/StraightThroughProcessingLoopValidator.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/BpmnResourceTransformer.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/DeploymentTransformer.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/StraightThroughProcessingLoopValidationDisabledTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/StraightThroughProcessingLoopValidationTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/streamprocessor/ReachEndOfLogTest.java
  engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  engine/src/test/resources/processes/collaboration_straight_through_processing_loop.bpmn
  util/src/main/java/io/camunda/zeebe/util/FeatureFlags.java
Labels: backport stable/8.2, backport release-8.3.0-alpha2

#13039 test(broker): wait until records are exported before taking snapshot
  broker/src/test/java/io/camunda/zeebe/broker/system/partitions/BrokerSnapshotTest.java
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#13067 [Backport stable/8.1] Backport values-stable for older benchmarks
  benchmarks/setup/README.md
  benchmarks/setup/default/Makefile
  benchmarks/setup/default/values-stable.yaml
Labels: backport stable/8.0

#13050 test: simplify GCS restore acceptance tests
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/GcsRestoreAcceptanceIT.java
Labels: backport stable/8.2

#13073 feat(atomix-utils): allow pre-release dot-separated identifiers
  atomix/utils/src/main/java/io/atomix/utils/Version.java
  atomix/utils/src/test/java/io/atomix/utils/VersionTest.java
Labels: backport release-8.3.0-alpha2

#13043 Allow ActorFuture.onComplete to be called by non-actors
  scheduler/src/main/java/io/camunda/zeebe/scheduler/ActorThread.java
  scheduler/src/main/java/io/camunda/zeebe/scheduler/future/ActorFuture.java
  scheduler/src/main/java/io/camunda/zeebe/scheduler/future/CompletableActorFuture.java
  scheduler/src/test/java/io/camunda/zeebe/scheduler/functional/ActorFutureTest.java
  scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/TestActorFuture.java
Labels: backport stable/8.0, backport stable/8.1, benchmark, backport stable/8.2

#13112 test(qa): fix flakiness by awaiting snapshot on restarted broker
  broker/src/main/java/io/camunda/zeebe/broker/system/management/BrokerAdminServiceImpl.java
  qa/update-tests/src/test/java/io/camunda/zeebe/test/RollingUpdateTest.java
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#13117 Fix line separators `ModifyProcessInstanceRejectionTest`
  engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ModifyProcessInstanceRejectionTest.java
Labels: backport stable/8.2

#13138 fix: fix log info arguments #13137
  atomix/cluster/src/main/java/io/atomix/raft/utils/StateUtil.java
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#13208 Allow concurrent state access between streamprocessor and scheduled tasks
  engine/src/main/java/io/camunda/zeebe/engine/Engine.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageEventProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageObserver.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/TypedRecordProcessorContext.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/TypedRecordProcessorContextImpl.java
  engine/src/main/java/io/camunda/zeebe/engine/state/ScheduledTaskDbState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/immutable/ScheduledTaskState.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/message/MessageStreamProcessorTest.java
Labels: backport stable/8.1, backport stable/8.2

#12839 Remove scanning of segment on startup
  atomix/cluster/src/test/java/io/atomix/raft/storage/log/RaftLogTest.java
  journal/pom.xml
  journal/src/main/java/io/camunda/zeebe/journal/file/Segment.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentDescriptor.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentWriter.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournalWriter.java
  journal/src/main/java/io/camunda/zeebe/journal/record/JournalRecordSerializer.java
  journal/src/main/java/io/camunda/zeebe/journal/record/SBESerializer.java
  journal/src/main/resources/journal-schema.xml
  journal/src/test/java/io/camunda/zeebe/journal/JournalAppendTest.java
  journal/src/test/java/io/camunda/zeebe/journal/file/SegmentDescriptorTest.java
  journal/src/test/java/io/camunda/zeebe/journal/file/SegmentedJournalTest.java
  journal/src/test/java/io/camunda/zeebe/journal/file/SegmentedJournalWriterTest.java
Labels: benchmark

#13239 Deployment payload size regression tests
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/AbstractBpmnModelElementBuilder.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/DeploymentRejectionTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/MultiPartitionDeploymentLifecycleTest.java
  engine/src/test/resources/processes/too_large_process.bpmn
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CreateDeploymentTest.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CreateLargeDeploymentTest.java
  qa/integration-tests/src/test/resources/processes/too_large_process.bpmn
Labels: backport main, backport stable/8.1
