Repository camunda/camunda, pull requests merged in 2023-10, with the labels that each got.

#14600 [Backport stable/8.2]: Enhance unrecoverable exceptions with more context.
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingStateMachine.java
Labels: backport stable/8.0, backport stable/8.1

#14610 Breakup multi-tenancy migration into committable transactions
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/MigrationTransitionStep.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/DbMigratorImpl.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/to_8_3/MultiTenancyDecisionStateMigration.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/to_8_3/MultiTenancyJobStateMigration.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/to_8_3/MultiTenancyMessageStartEventSubscriptionStateMigration.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/to_8_3/MultiTenancyMessageStateMigration.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/to_8_3/MultiTenancyMessageSubscriptionStateMigration.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/to_8_3/MultiTenancyMigration.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/to_8_3/MultiTenancyProcessMessageSubscriptionStateMigration.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/to_8_3/MultiTenancyProcessStateMigration.java
  engine/src/test/java/io/camunda/zeebe/engine/state/migration/DbMigratorImplTest.java
  engine/src/test/java/io/camunda/zeebe/engine/state/migration/to_8_3/MultiTenancyMigrationTest.java
Labels: benchmark

#14613 test(broker): remove potential race condition in exporter test
  broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirectorTest.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3

#14634 [Backport stable/8.2]: NPE in PendingMessageSubscriptionChecker
  engine/src/main/java/io/camunda/zeebe/engine/state/message/PendingMessageSubscriptionState.java
Labels: backport stable/8.1

#14664 fix(atomix): do not close over whole payload
  atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3

#14669 fix(raft): member type can be updated reliably
  atomix/cluster/src/main/java/io/atomix/raft/cluster/impl/RaftClusterContext.java
  atomix/cluster/src/main/java/io/atomix/raft/storage/system/Configuration.java
  atomix/cluster/src/test/java/io/atomix/raft/cluster/impl/RaftClusterContextTest.java
Labels: backport stable/8.3

#14747 Capture async stack traces of scheduler jobs
  parent/pom.xml
  scheduler/pom.xml
  scheduler/src/main/java/io/camunda/zeebe/scheduler/ActorJob.java
  scheduler/src/main/java/io/camunda/zeebe/scheduler/ActorTask.java
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2, backport stable/8.3

#14763 Store job activation properties immutably in broker stream registry
  broker/src/main/java/io/camunda/zeebe/broker/bootstrap/JobStreamServiceStep.java
  broker/src/test/java/io/camunda/zeebe/broker/bootstrap/JobStreamServiceStepTest.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnJobActivationBehavior.java
  protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/stream/job/JobActivationProperties.java
  protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/stream/job/JobActivationPropertiesImpl.java
  transport/src/main/java/io/camunda/zeebe/transport/TransportFactory.java
  transport/src/main/java/io/camunda/zeebe/transport/stream/api/RemoteStream.java
  transport/src/main/java/io/camunda/zeebe/transport/stream/api/RemoteStreamService.java
  transport/src/main/java/io/camunda/zeebe/transport/stream/api/RemoteStreamer.java
  transport/src/main/java/io/camunda/zeebe/transport/stream/impl/RemoteStreamApiHandler.java
  transport/src/main/java/io/camunda/zeebe/transport/stream/impl/RemoteStreamImpl.java
  transport/src/main/java/io/camunda/zeebe/transport/stream/impl/RemoteStreamServiceImpl.java
  transport/src/main/java/io/camunda/zeebe/transport/stream/impl/RemoteStreamTransport.java
  transport/src/main/java/io/camunda/zeebe/transport/stream/impl/RemoteStreamerImpl.java
  transport/src/test/java/io/camunda/zeebe/transport/stream/impl/RemoteStreamApiHandlerTest.java
  transport/src/test/java/io/camunda/zeebe/transport/stream/impl/StreamIntegrationTest.java
Labels: backport stable/8.3

#14772 fix(transport): handle MEMBER_ADDED events as well
  transport/src/main/java/io/camunda/zeebe/transport/stream/impl/RemoteStreamServiceImpl.java
  transport/src/main/java/io/camunda/zeebe/transport/stream/impl/RemoteStreamTransport.java
  transport/src/test/java/io/camunda/zeebe/transport/stream/impl/StreamIntegrationTest.java
Labels: backport stable/8.3

#14632 fix: Fix flaky test shouldResumeExporting in ExportEndpointIT
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/management/ExportingEndpointIT.java
Labels: kind/flake, backport stable/8.1, backport stable/8.2, backport stable/8.3

#14821 [Backport stable/8.3] Detect that the completePartitionStart() fails due to shutdown
  broker/src/main/java/io/camunda/zeebe/broker/partitioning/PartitionManagerImpl.java
  scheduler/src/main/java/io/camunda/zeebe/scheduler/startup/StartupProcess.java
  scheduler/src/main/java/io/camunda/zeebe/scheduler/startup/StartupProcessShutdownException.java
Labels: backport stable/8.1, backport stable/8.2

#14822 [Backport stable/8.3] Fix flaky test shouldResumeExporting in ExportEndpointIT
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/management/ExportingEndpointIT.java
Labels: backport stable/8.1, backport stable/8.2

#14840 Check for banned instances during Process Definition Deletion
  engine/src/main/java/io/camunda/zeebe/engine/processing/resource/ResourceDeletionProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/state/immutable/BannedInstanceState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/immutable/ElementInstanceState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/instance/DbElementInstanceState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/processing/DbBannedInstanceState.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/resource/ResourceDeletionTest.java
  engine/src/test/java/io/camunda/zeebe/engine/state/instance/ElementInstanceStateTest.java
Labels: backport stable/8.3
