Repository camunda/camunda, pull requests merged in 2023-05, with the labels that each got.

#12483 Introduce experimental SST partitioning
  broker/src/main/java/io/camunda/zeebe/broker/system/configuration/RocksdbCfg.java
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  zb-db/src/main/java/io/camunda/zeebe/db/impl/rocksdb/RocksDbConfiguration.java
  zb-db/src/main/java/io/camunda/zeebe/db/impl/rocksdb/ZeebeRocksDbFactory.java
Labels: area/performance, kind/research, backport stable/8.0, backport stable/8.1, benchmark, backport stable/8.2

#12621 fix: brokers can list more than 255 backups
  broker/src/test/java/io/camunda/zeebe/broker/transport/backupapi/BackupApiRequestHandlerTest.java
  protocol/revapi.json
  protocol/src/main/resources/cluster-management-protocol.xml
Labels: backport stable/8.1, backport stable/8.2, backport release-8.3.0-alpha1

#12613 Recover from shutdown after log reset but before segment initialization
  atomix/cluster/src/main/java/io/atomix/raft/storage/system/MetaStore.java
  atomix/cluster/src/test/java/io/atomix/raft/storage/MockJournalMetaStore.java
  atomix/cluster/src/test/java/io/atomix/raft/storage/log/RaftLogCommittedReaderTest.java
  atomix/cluster/src/test/java/io/atomix/raft/storage/log/RaftLogTest.java
  atomix/cluster/src/test/java/io/atomix/raft/storage/log/RaftLogUncommittedReaderTest.java
  journal/src/main/java/io/camunda/zeebe/journal/JournalMetaStore.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournal.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournalBuilder.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentsManager.java
  journal/src/test/java/io/camunda/zeebe/journal/JournalTest.java
  journal/src/test/java/io/camunda/zeebe/journal/file/SegmentedJournalWriterTest.java
  journal/src/test/java/io/camunda/zeebe/journal/file/SegmentsManagerTest.java
  journal/src/test/java/io/camunda/zeebe/journal/file/TestJournalFactory.java
  journal/src/test/java/io/camunda/zeebe/journal/util/MockJournalMetastore.java
  restore/src/main/java/io/camunda/zeebe/restore/PartitionRestoreService.java
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#12626 fix: do not retake backup if it already exists
  backup/src/main/java/io/camunda/zeebe/backup/management/BackupAlreadyExistsException.java
  backup/src/main/java/io/camunda/zeebe/backup/management/BackupServiceImpl.java
  backup/src/test/java/io/camunda/zeebe/backup/management/BackupServiceImplTest.java
Labels: backport stable/8.1, backport stable/8.2

#12697 Fix flaky `EmbeddedSubProcessTest`
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/subprocess/EmbeddedSubProcessConcurrencyTest.java
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#12669 [Backport stable/8.1] Recover from shutdown after log reset but before segment initialization and journal structure
  atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftRoleMetrics.java
  atomix/cluster/src/main/java/io/atomix/raft/roles/PassiveRole.java
  atomix/cluster/src/main/java/io/atomix/raft/storage/RaftStorage.java
  atomix/cluster/src/main/java/io/atomix/raft/storage/log/RaftLogBuilder.java
  atomix/cluster/src/main/java/io/atomix/raft/storage/serializer/MetaStoreSerializer.java
  atomix/cluster/src/main/java/io/atomix/raft/storage/system/MetaStore.java
  atomix/cluster/src/main/resources/raft-entry-schema.xml
  atomix/cluster/src/test/java/io/atomix/raft/roles/PassiveRoleTest.java
  atomix/cluster/src/test/java/io/atomix/raft/storage/log/RaftLogCommittedReaderTest.java
  atomix/cluster/src/test/java/io/atomix/raft/storage/log/RaftLogTest.java
  atomix/cluster/src/test/java/io/atomix/raft/storage/log/RaftLogUncommittedReaderTest.java
  atomix/cluster/src/test/java/io/atomix/raft/storage/system/MetaStoreTest.java
  broker/src/test/java/io/camunda/zeebe/broker/logstreams/AtomixLogStorageReaderTest.java
  journal/src/main/java/io/camunda/zeebe/journal/JournalException.java
  journal/src/main/java/io/camunda/zeebe/journal/JournalMetaStore.java
  journal/src/main/java/io/camunda/zeebe/journal/file/Segment.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentLoader.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentWriter.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournal.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournalBuilder.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentsManager.java
  journal/src/main/java/io/camunda/zeebe/journal/file/UninitializedSegment.java
  journal/src/main/java/io/camunda/zeebe/journal/record/JournalRecordReaderUtil.java
  journal/src/test/java/io/camunda/zeebe/journal/JournalReaderTest.java
  journal/src/test/java/io/camunda/zeebe/journal/JournalTest.java
  journal/src/test/java/io/camunda/zeebe/journal/file/SegmentLoaderTest.java
  journal/src/test/java/io/camunda/zeebe/journal/file/SegmentedJournalReaderTest.java
  journal/src/test/java/io/camunda/zeebe/journal/file/SegmentedJournalTest.java
  journal/src/test/java/io/camunda/zeebe/journal/file/SegmentsManagerTest.java
  journal/src/test/java/io/camunda/zeebe/journal/file/TestJournalFactory.java
  restore/pom.xml
  restore/src/main/java/io/camunda/zeebe/restore/PartitionRestoreService.java
  restore/src/test/java/io/camunda/zeebe/restore/PartitionRestoreServiceTest.java
Labels: backport stable/8.0

#12424 ci: always cache maven dependencies
  .github/actions/build-zeebe/action.yml
  .github/actions/setup-zeebe/action.yml
  .github/workflows/ci.yml
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#12692 Support large input collections for Multi-instance
  engine/src/main/java/io/camunda/zeebe/engine/processing/ProcessEventProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnStateTransitionBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/MultiInstanceBodyProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ActivateProcessInstanceBatchProcessor.java
  protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceBatchRecord.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/ProcessInstanceBatchIntent.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CancelProcessInstanceInBatchesTest.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/processing/MultiInstanceLargeInputCollectionTest.java
Labels: backport stable/8.1, backport stable/8.2

#12781 [Backport stable/8.2] feat(cluster): improve error message when bootstrap channel fails
  atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
Labels: backport stable/8.0, backport stable/8.1

#12889 Allow configuring request timeout for InstallRequest
  atomix/cluster/src/main/java/io/atomix/raft/partition/RaftPartitionConfig.java
  atomix/cluster/src/main/java/io/atomix/raft/partition/RaftPartitionGroup.java
  atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftPartitionServer.java
  atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftServerCommunicator.java
  broker/src/main/java/io/camunda/zeebe/broker/partitioning/RaftPartitionGroupFactory.java
  broker/src/main/java/io/camunda/zeebe/broker/system/configuration/ExperimentalRaftCfg.java
  broker/src/test/java/io/camunda/zeebe/broker/partitioning/RaftPartitionGroupFactoryTest.java
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#12914 [Backport stable/8.2] Allow configuring request timeout for InstallRequest
  atomix/cluster/src/main/java/io/atomix/raft/partition/RaftPartitionConfig.java
  atomix/cluster/src/main/java/io/atomix/raft/partition/RaftPartitionGroup.java
  atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftPartitionServer.java
  atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftServerCommunicator.java
  broker/src/main/java/io/camunda/zeebe/broker/partitioning/RaftPartitionGroupFactory.java
  broker/src/main/java/io/camunda/zeebe/broker/system/configuration/ExperimentalRaftCfg.java
  broker/src/test/java/io/camunda/zeebe/broker/partitioning/RaftPartitionGroupFactoryTest.java
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
Labels: backport stable/8.0, backport stable/8.1
