Repository camunda/camunda, pull requests merged in 2023-02, with the labels that each got.

#11514 test(backup/s3): don't fail test if localstack takes longer to delete
  backup-stores/s3/src/test/java/io/camunda/zeebe/backup/s3/S3BackupStoreTests.java
Labels: backport stable/8.1

#11531 Enable Batch processing
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/CallActivityInterruptionTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/CallActivityTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/gateway/EventBasedGatewayConcurrencyTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/gateway/EventbasedGatewayTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/subprocess/EmbeddedSubProcessConcurrencyTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/subprocess/EmbeddedSubProcessTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/subprocess/InterruptingEventSubprocessConcurrencyTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/subprocess/InterruptingEventSubprocessTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/JobFailIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/MappingIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/MultiInstanceConcurrentModificationTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/MultiInstanceIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/OutputMappingIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/CancelProcessInstanceTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ModifyProcessInstanceTerminationTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCommandRejectionTest.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessorContext.java
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorTest.java
Labels: benchmark

#11562 test: reliably fill journal for disk space recovery testing
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/health/DiskSpaceRecoveryIT.java
Labels: backport stable/8.1

#11555 Add metrics for Batch processing
  monitor/grafana/zeebe.json
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingStateMachine.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/ProcessingMetrics.java
Labels: benchmark

#11656 chore(ci): resolve non camunda artifacts via central
  bom/pom.xml
Labels: backport stable/8.0, backport stable/8.1

#11743 Candidate steps down if election timesout with out success or failure
  atomix/cluster/src/main/java/io/atomix/raft/roles/CandidateRole.java
  atomix/cluster/src/test/java/io/atomix/raft/roles/CandidateRoleTest.java
Labels: backport stable/8.0, backport stable/8.1

#11549 Corrolate message directly with batch processing
  engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/common/CatchEventBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageCorrelator.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageEventProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessagePublishProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageSubscriptionCorrelateProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageSubscriptionCreateProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageSubscriptionDeleteProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageSubscriptionRejectProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/message/command/SubscriptionCommandSender.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/message/MessageCorrelationMultiplePartitionsTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/message/command/SubscriptionCommandSenderTest.java
Labels: backport stable/8.1

#11773 Introduce publish option for benchmark measurments
  .github/workflows/benchmark.yml
  .github/workflows/medic-benchmarks.yml
  .github/workflows/pr-benchmark.yaml
Labels: benchmark

#11781 fix(journal): check for null while closing
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentsManager.java
Labels: backport stable/8.1

#11791 chore(release): use new 8 core runner
  .github/workflows/release.yml
Labels: backport stable/8.0, backport stable/8.1

#11800 fix(docker): data and logs mount for unprivileged user
  Dockerfile
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/startup/RootlessImageTest.java
Labels: backport stable/8.0, backport stable/8.1

#11701 fix: don't re-wrap runtime exceptions thrown inside a transaction
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamPlatform.java
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorTest.java
  zb-db/src/main/java/io/camunda/zeebe/db/impl/rocksdb/transaction/DefaultTransactionContext.java
  zb-db/src/test/java/io/camunda/zeebe/db/impl/DbStringColumnFamilyTest.java
  zb-db/src/test/java/io/camunda/zeebe/db/impl/DbTransactionTest.java
Labels: backport stable/8.0, backport stable/8.1
