Repository camunda/camunda, pull requests merged in 2023-07, with the labels that each got.

#13260 Reset the diskSpaceAvailable flag correctly
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  broker/src/test/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionTest.java
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#13258 Prevent StackOverFlowError during termination of children
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnStateTransitionBehavior.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/CancelProcessInstanceBanTest.java
  engine/src/test/java/io/camunda/zeebe/engine/util/client/ProcessInstanceClient.java
  test-util/src/main/java/io/camunda/zeebe/test/util/record/ErrorRecordStream.java
  test-util/src/main/java/io/camunda/zeebe/test/util/record/RecordingExporter.java
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#13278 refactor: stabilize container based tests
  .github/workflows/ci.yml
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#13326 Switch to software.xdev.saveactions IDEA plugin
  .idea/externalDependencies.xml
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#12879 a send task or message throw events can reference publish message
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/Bpmn.java
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/AbstractSendTaskBuilder.java
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/AbstractThrowEventBuilder.java
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/zeebe/PublishMessageBuilder.java
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/impl/ZeebeConstants.java
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/impl/instance/zeebe/ZeebePublishMessageImpl.java
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/instance/zeebe/ZeebePublishMessage.java
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/MessageThrowEventValidator.java
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/MessageValidator.java
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/SendTaskValidator.java
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/ZeebeDesignTimeValidators.java
  bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/builder/EndEventBuilderTest.java
  bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/builder/IntermediateThrowEventBuilderTest.java
  bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/builder/SendTaskBuilderTest.java
  bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeEndEventValidationTest.java
  bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeJobWorkerElementValidationTest.java
  bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeMessageValidationTest.java
  bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeSendTaskValidationTest.java
Labels: blocker/info

#13404 Temporarily disable TCC for integration tests
  .github/workflows/ci.yml
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#13411 refactor: do not upload sarif on release dry run
  .github/workflows/snyk.yml
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#13414 Increase error message truncation limit
  engine/src/main/java/io/camunda/zeebe/engine/EngineConfiguration.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobFailProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobThrowErrorProcessor.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/job/FailJobTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobThrowErrorTest.java
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#13446 Mark skipped commands as processed
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingStateMachine.java
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorTest.java
Labels: backport stable/8.1, backport stable/8.2

#13441 Reset reschedule flag correctly on JobTimeoutTrigger
  engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobTimeoutTrigger.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobTimeOutTest.java
Labels: backport stable/8.1, backport stable/8.2

#13498 Resolve flaky EmbeddedSubProcessConcurrencyTest
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/subprocess/EmbeddedSubProcessConcurrencyTest.java
Labels: backport stable/8.1, backport stable/8.2

#13508 test: fix transaction corruption
  engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobTimeOutTest.java
Labels: backport stable/8.0

#13502 Resolve flaky `EngineErrorHandlingTest.shouldNotBanInstanceOnJobCommand`
  engine/src/test/java/io/camunda/zeebe/engine/processing/streamprocessor/EngineErrorHandlingTest.java
Labels: backport stable/8.2

#13518 refactor(broker): log write failure for more context
  broker/src/main/java/io/camunda/zeebe/broker/transport/partitionapi/InterPartitionCommandReceiverImpl.java
Labels: backport stable/8.2

#13524 feat: optionally run all scheduled tasks outside of processing actor
  broker/src/main/java/io/camunda/zeebe/broker/system/configuration/ProcessingCfg.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/StreamProcessorTransitionStep.java
  broker/src/test/java/io/camunda/zeebe/broker/system/configuration/ProcessingCfgTest.java
  broker/src/test/resources/system/processing-cfg.yaml
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/ProcessEventProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobEventProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageEventProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/TypedRecordProcessorContextImpl.java
  engine/src/main/java/io/camunda/zeebe/engine/state/ProcessingDbState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/ScheduledTaskDbState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/immutable/ScheduledTaskState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/instance/DbJobState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/message/DbMessageSubscriptionState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/message/DbProcessMessageSubscriptionState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/query/StateQueryService.java
  engine/src/test/java/io/camunda/zeebe/engine/util/ProcessingStateExtension.java
  engine/src/test/java/io/camunda/zeebe/engine/util/ProcessingStateRule.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/api/ReadonlyStreamProcessorContext.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ExtendedProcessingScheduleServiceImpl.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessorBuilder.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessorContext.java
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#13308 ci(go): fix go lint cache issue
  .github/workflows/ci.yml
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#13574 Fix go client integration tests that fail to communicate with docker
  clients/go/go.mod
  clients/go/go.sum
  clients/go/vendor/github.com/docker/docker/api/swagger.yaml
  clients/go/vendor/github.com/docker/docker/client/client.go
  clients/go/vendor/github.com/docker/docker/client/hijack.go
  clients/go/vendor/github.com/docker/docker/client/request.go
  clients/go/vendor/modules.txt
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#13482 Detect health issue when partition is stuck in a transition
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionTransition.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionTransitionStep.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionHealth.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/PartitionTransitionImpl.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/PartitionTransitionProcess.java
  broker/src/test/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionTest.java
  scheduler/src/main/java/io/camunda/zeebe/scheduler/ActorControl.java
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#13541 fix(broker): don't call listeners when transition is cancelled
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionTransition.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/PartitionTransitionImpl.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/PartitionTransitionProcess.java
  broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/PartitionTransitionImplTest.java
  broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/RandomizedPartitionTransitionTest.java
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#13589 Validate user input before registering a worker to the job stream
  gateway-protocol/src/main/proto/gateway.proto
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/stream/ClientStreamAdapter.java
  gateway/src/test/java/io/camunda/zeebe/gateway/api/job/StreamActivatedJobsTest.java
Labels: component/gateway

#13599 Improve logs in LocalStack backup tests
  backup-stores/s3/pom.xml
  backup-stores/s3/src/test/java/io/camunda/zeebe/backup/s3/LocalstackBackupStoreIT.java
  backup-stores/s3/src/test/java/io/camunda/zeebe/backup/s3/MinioBackupStoreIT.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/GcsBackupAcceptanceIT.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/S3BackupAcceptanceIT.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/S3RestoreAcceptanceIT.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/FixedPartitionDistributionIT.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/LongPollingIT.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/network/AsymmetricNetworkPartitionIT.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/GatewayAuthenticationIdentityIT.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/management/RebalancingEndpointIT.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/queryapi/QueryApiIT.java
  qa/update-tests/src/test/java/io/camunda/zeebe/test/RollingUpdateTest.java
  qa/util/pom.xml
  test-util/pom.xml
  test-util/src/main/java/io/camunda/zeebe/test/util/testcontainers/ContainerLogsDumper.java
Labels: backport stable/8.2

#13628 ci(release): use new stable release runner pool
  .github/workflows/release.yml
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#13655 fix(broker): report health on change only
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionHealth.java
  broker/src/test/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionTest.java
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#13659 test(engine): add TestWatcher to ProcessEngineMetricsTest
  engine/src/test/java/io/camunda/zeebe/engine/metrics/ProcessEngineMetricsTest.java
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#13646 fix(.github): monitor correct image on release
  .github/workflows/release.yml
  .github/workflows/snyk.yml
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#13698 test(stream-platform): clear mock invocations to prevent memory leak
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamPlatformExtension.java
Labels: backport stable/8.2

#13675 Tag original PR author in backport PR
  .github/workflows/backport.yml
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2
