Repository camunda/camunda, pull requests merged in 2023-08, with the labels that each got.

#13738 fix(ci): configure fake gcs server port
  backup-stores/gcs/src/test/java/io/camunda/zeebe/backup/gcs/util/GcsContainer.java
  qa/util/src/main/java/io/camunda/zeebe/qa/util/testcontainers/GcsContainer.java
Labels: backport stable/8.2

#13737 fix(release): read releaseBranch from output on reusable workflow call
  .github/workflows/release.yml
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#13705 Ban instance fix error message
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionAdminAccess.java
Labels: backport stable/8.2

#13685 refactor(gateway): remove responsiveness indicator
  dist/src/main/resources/application-gateway.properties
  gateway/pom.xml
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/configuration/GatewayCfg.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/probes/health/HealthZeebeClientProperties.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/probes/health/ResponsiveHealthIndicator.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/probes/health/ResponsiveHealthIndicatorAutoConfiguration.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/probes/health/ResponsiveHealthIndicatorProperties.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/probes/liveness/LivenessResponsiveHealthIndicatorAutoConfiguration.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/probes/liveness/LivenessResponsiveHealthIndicatorProperties.java
  gateway/src/test/java/io/camunda/zeebe/gateway/impl/configuration/GatewayCfgTest.java
  gateway/src/test/java/io/camunda/zeebe/gateway/impl/probes/health/HealthZeebeClientPropertiesTest.java
  gateway/src/test/java/io/camunda/zeebe/gateway/impl/probes/health/ResponsiveHealthIndicatorAutoConfigurationTest.java
  gateway/src/test/java/io/camunda/zeebe/gateway/impl/probes/health/ResponsiveHealthIndicatorPropertiesTest.java
  gateway/src/test/java/io/camunda/zeebe/gateway/impl/probes/health/ResponsiveHealthIndicatorTest.java
Labels: backport stable/8.1, backport stable/8.2

#13789 Raise incident on element instance commands exceeding max message size
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/BpmnStreamProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/IncidentCreatedApplier.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CallActivityTest.java
Labels: backport stable/8.1, backport stable/8.2

#13724 Fix race condition when replicating the first entry of a compacted log and taking a snapshot simultaneously
  atomix/cluster/src/main/java/io/atomix/raft/RaftServer.java
  atomix/cluster/src/main/java/io/atomix/raft/impl/DefaultRaftServer.java
  atomix/cluster/src/main/java/io/atomix/raft/impl/LogCompactor.java
  atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftServiceMetrics.java
  atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftPartitionServer.java
  atomix/cluster/src/test/java/io/atomix/cluster/NoopSnapshotStore.java
  atomix/cluster/src/test/java/io/atomix/raft/RaftFailOverIT.java
  atomix/cluster/src/test/java/io/atomix/raft/RaftReplicationTest.java
  atomix/cluster/src/test/java/io/atomix/raft/RaftRule.java
  atomix/cluster/src/test/java/io/atomix/raft/RaftStartupConsistencyCheckTest.java
  atomix/cluster/src/test/java/io/atomix/raft/SnapshotReplicationListenerTest.java
  atomix/cluster/src/test/java/io/atomix/raft/impl/LogCompactorTest.java
  atomix/cluster/src/test/java/io/atomix/raft/snapshot/InMemorySnapshot.java
  atomix/cluster/src/test/java/io/atomix/raft/snapshot/TestSnapshotStore.java
  atomix/cluster/src/test/java/io/atomix/raft/zeebe/ZeebeIT.java
  broker/src/main/java/io/camunda/zeebe/broker/logstreams/AtomixLogCompactor.java
  broker/src/main/java/io/camunda/zeebe/broker/logstreams/LogCompactor.java
  broker/src/main/java/io/camunda/zeebe/broker/logstreams/LogDeletionService.java
  broker/src/main/java/io/camunda/zeebe/broker/partitioning/PartitionFactory.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionStartupAndTransitionContextImpl.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionStartupContext.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/LogDeletionPartitionStartupStep.java
  broker/src/test/java/io/camunda/zeebe/broker/logstreams/LogDeletionServiceTest.java
  snapshot/src/main/java/io/camunda/zeebe/snapshots/PersistedSnapshotStore.java
  snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStore.java
  snapshot/src/test/java/io/camunda/zeebe/snapshots/PersistedSnapshotTest.java
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#13119 Configure Gateway gRPC executor
  dist/src/main/config/gateway.yaml.template
  dist/src/main/java/io/camunda/zeebe/broker/StandaloneBroker.java
  dist/src/main/java/io/camunda/zeebe/gateway/StandaloneGateway.java
  dist/src/main/resources/application.properties
  gateway/src/main/java/io/camunda/zeebe/gateway/EndpointManager.java
  gateway/src/main/java/io/camunda/zeebe/gateway/Gateway.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/configuration/ThreadsCfg.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/stream/ClientStreamAdapter.java
  gateway/src/test/java/io/camunda/zeebe/gateway/api/util/StubbedGateway.java
Labels: benchmark

#13816 chore(monitor): Operate datasource variable reference
  monitor/grafana/dashboards/operate.json
Labels: component/monitor

#13828 Build starter/worker using mvn install instead of package
  .github/workflows/benchmark.yml
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#13842 feat(ci): auto merge renovate PRs
  .github/workflows/ci.yml
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#13804 [Backport stable/8.1] Fix race condition when replicating the first entry of a compacted log and taking a snapshot simultaneously
  atomix/cluster/src/main/java/io/atomix/raft/RaftServer.java
  atomix/cluster/src/main/java/io/atomix/raft/impl/DefaultRaftServer.java
  atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  atomix/cluster/src/main/java/io/atomix/raft/impl/zeebe/LogCompactor.java
  atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftPartitionServer.java
  atomix/cluster/src/test/java/io/atomix/cluster/NoopSnapshotStore.java
  atomix/cluster/src/test/java/io/atomix/raft/RaftFailOverIT.java
  atomix/cluster/src/test/java/io/atomix/raft/RaftReplicationTest.java
  atomix/cluster/src/test/java/io/atomix/raft/RaftRule.java
  atomix/cluster/src/test/java/io/atomix/raft/RaftStartupConsistencyCheckTest.java
  atomix/cluster/src/test/java/io/atomix/raft/SnapshotReplicationListenerTest.java
  atomix/cluster/src/test/java/io/atomix/raft/impl/zeebe/LogCompactorTest.java
  atomix/cluster/src/test/java/io/atomix/raft/snapshot/InMemorySnapshot.java
  atomix/cluster/src/test/java/io/atomix/raft/snapshot/TestSnapshotStore.java
  atomix/cluster/src/test/java/io/atomix/raft/zeebe/ZeebeIT.java
  broker/src/main/java/io/camunda/zeebe/broker/logstreams/AtomixLogCompactor.java
  broker/src/main/java/io/camunda/zeebe/broker/logstreams/LogCompactor.java
  broker/src/main/java/io/camunda/zeebe/broker/logstreams/LogDeletionService.java
  broker/src/main/java/io/camunda/zeebe/broker/partitioning/PartitionFactory.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionStartupAndTransitionContextImpl.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionStartupContext.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/LogDeletionPartitionStartupStep.java
  broker/src/test/java/io/camunda/zeebe/broker/logstreams/LogDeletionServiceTest.java
  snapshot/src/main/java/io/camunda/zeebe/snapshots/PersistedSnapshotStore.java
  snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStore.java
  snapshot/src/test/java/io/camunda/zeebe/snapshots/PersistedSnapshotTest.java
Labels: backport stable/8.0

#13831 Cache parsed DRGs
  broker/src/main/java/io/camunda/zeebe/broker/system/configuration/engine/CachesCfg.java
  broker/src/main/java/io/camunda/zeebe/broker/system/configuration/engine/EngineCfg.java
  broker/src/test/java/io/camunda/zeebe/broker/system/configuration/EngineCfgTest.java
  broker/src/test/resources/system/engine.yaml
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  engine/pom.xml
  engine/src/main/java/io/camunda/zeebe/engine/EngineConfiguration.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnDecisionBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/common/DecisionBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/DeploymentCreateProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/DmnResourceTransformer.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/dmn/EvaluateDecisionProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/resource/ResourceDeletionProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/TypedRecordProcessorContextImpl.java
  engine/src/main/java/io/camunda/zeebe/engine/state/ProcessingDbState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/deployment/DbDecisionState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/deployment/DeployedDrg.java
  engine/src/main/java/io/camunda/zeebe/engine/state/immutable/DecisionState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/query/StateQueryService.java
  engine/src/test/java/io/camunda/zeebe/engine/util/ProcessingStateExtension.java
  engine/src/test/java/io/camunda/zeebe/engine/util/ProcessingStateRule.java
  protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/deployment/DeploymentRecord.java
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#13886 fix(engine): cleanup orphaned job timeouts and backoffs on migration
  engine/src/main/java/io/camunda/zeebe/engine/state/instance/DbJobState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/DbMigratorImpl.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/JobBackoffCleanupMigration.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/JobTimeoutCleanupMigration.java
  engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableJobState.java
  engine/src/test/java/io/camunda/zeebe/engine/state/migration/JobBackoffCleanupMigrationTest.java
  engine/src/test/java/io/camunda/zeebe/engine/state/migration/JobTimeoutCleanupMigrationTest.java
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#13961 fix(engine): propagate only defined variables
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/AbstractCallActivityBuilder.java
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/impl/ZeebeConstants.java
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/impl/instance/zeebe/ZeebeCalledElementImpl.java
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/instance/zeebe/ZeebeCalledElement.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnStateBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/CallActivityProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableCallActivity.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/CallActivityTransformer.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/CallActivityTest.java
Labels: backport stable/8.2

#13976 Set default stream timeout and enable stream as default in benchmarks
  .github/workflows/benchmark.yml
  benchmarks/project/src/main/java/io/camunda/zeebe/Worker.java
  benchmarks/project/src/main/java/io/camunda/zeebe/config/WorkerCfg.java
  benchmarks/project/src/main/resources/application.conf
  clients/java/src/main/java/io/camunda/zeebe/client/api/worker/JobWorker.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/worker/JobWorkerBuilderStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/worker/JobWorkerBuilderImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/impl/worker/JobWorkerBuilderImplTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/impl/worker/JobWorkerImplTest.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/JobWorkerTest.java
Labels: benchmark

#14012 fix: don't retain requests until response is sent
  atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/AbstractServerConnection.java
  atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/LocalServerConnection.java
  atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/RemoteServerConnection.java
  atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/ServerConnection.java
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#14062 fix(broker): remove existing limiter before adding a new one
  broker/src/main/java/io/camunda/zeebe/broker/transport/backpressure/PartitionAwareRequestLimiter.java
  broker/src/test/java/io/camunda/zeebe/broker/transport/backpressure/PartitionAwareRateLimiterTest.java
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#14036 fix(engine): reject deployment with invalid process
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/util/ModelUtil.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/LinkEventDefinitionTest.java
  engine/src/test/resources/processes/invalid_link_event_subprocess.bpmn
Labels: backport stable/8.1, backport stable/8.2

#14007 fix: create incident if single outgoing sequence flow has no matching condition
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/gateway/ExclusiveGatewayProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/gateway/InclusiveGatewayProcessor.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/gateway/InclusiveGatewayTest.java
Labels: backport stable/8.1, backport stable/8.2
