Repository camunda/camunda, pull requests merged in 2023-03, with the labels that each got.

#11865 fix: never drop responses during batch processing
  broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandResponseWriterImpl.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/streamprocessor/EngineErrorHandlingTest.java
  engine/src/test/java/io/camunda/zeebe/engine/util/TestStreams.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/api/CommandResponseWriter.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingStateMachine.java
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamPlatform.java
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorTest.java
Labels: backport stable/8.1

#11817 fix(clients/java): make a `ZeebeCallCredentials#applyRequestMetadata`call non-blocking
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeCallCredentials.java
  clients/java/src/test/java/io/camunda/zeebe/client/CredentialsTest.java
Labels: backport stable/8.0, backport stable/8.1

#11877 feat(docker): read only root filesystem support
  Dockerfile
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/startup/NonDefaultContainerSetupTest.java
Labels: backport stable/8.0, backport stable/8.1, benchmark

#11892 fix: don't duplicate responses during batch processing
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingStateMachine.java
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorTest.java
Labels: backport stable/8.1

#11776 Make resource deployments atomic
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/DeploymentCreateProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/DeploymentTransformer.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/DeploymentRejectionTest.java
Labels: backport stable/8.0, backport stable/8.1

#11870 added region property to client properties
  clients/java/src/main/java/io/camunda/zeebe/client/ClientProperties.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientCloudBuilderImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/ZeebeClientTest.java
Labels: backport stable/8.0, backport stable/8.1

#11937 feat(db): convenient fallback behavior when no `startAt` is provided
  zb-db/src/main/java/io/camunda/zeebe/db/impl/rocksdb/transaction/TransactionalColumnFamily.java
  zb-db/src/test/java/io/camunda/zeebe/db/impl/ColumnFamilyTest.java
Labels: backport stable/8.1

#11856 [stable/8.1] Limit expire message commands in result
  engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageObserver.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageTimeToLiveChecker.java
  engine/src/main/java/io/camunda/zeebe/engine/state/immutable/MessageState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/message/DbMessageState.java
  engine/src/test/java/io/camunda/zeebe/engine/state/message/MessageStateTest.java
Labels: backport main

#11946 fix: prevent access of closed rocksdb instances from async scheduled tasks
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
Labels: backport stable/8.1

#11993 Add QA tests that verify CreateProcessInstanceWithResult responses
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CreateProcessInstanceWithResultTest.java
Labels: backport stable/8.0, backport stable/8.1

#11994 fix(engine): open single message or signal subscription for the same event
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/StartEventSubscriptionManager.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/message/MessageStartEventSubscriptionTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/signal/SignalSubscriptionTest.java
  test-util/src/main/java/io/camunda/zeebe/test/util/record/MessageStartEventSubscriptionRecordStream.java
Labels: backport stable/8.0, backport stable/8.1

#12066 Limit error message size in job and incident records
  engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobFailProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobThrowErrorProcessor.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/job/FailJobTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobThrowErrorTest.java
Labels: backport stable/8.0, backport stable/8.1
