Repository camunda/camunda, pull requests merged in 2023-09, with the labels that each got.

#14100 fix(gateway): close transport client and request manager with the BrokerClient
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/BrokerClientImpl.java
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#14155 fix(gateway): rethrow exception to ensure push is retried
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/stream/ClientStreamAdapter.java
  gateway/src/test/java/io/camunda/zeebe/gateway/api/job/StreamActivatedJobsTest.java
  gateway/src/test/java/io/camunda/zeebe/gateway/impl/stream/ClientStreamConsumerImplTest.java
Labels: backport release-8.3.0-alpha5

#14174 fix(transport): use unique schema ID
  transport/src/main/resources/stream-protocol.xml
Labels: backport release-8.3.0-alpha5

#14209 Run daily-qa only on weekdays
  .github/workflows/daily-qa.yml
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#14188 Prevent rate limiting with Docker Hub account
  .github/actions/setup-zeebe/action.yml
  .github/workflows/ci.yml
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#14227 fix: push snapshot image by passing RW token
  .github/actions/setup-zeebe/action.yml
  .github/workflows/ci.yml
Labels: backport stable/8.2

#14186 Arch-agnostic Dockerfile
  Dockerfile
  docker/test/verify.sh
Labels: backport stable/8.2

#14205 Remove protocol version check from stream platform
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingStateMachine.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/RecordProtocolVersionFilter.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ReplayStateMachine.java
Labels: backport stable/8.2

#14420 Don't subscribe to events when raising incident
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnJobBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/CallActivityProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/EndEventProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/IntermediateThrowEventProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/JobWorkerTaskProcessor.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/CallActivityIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/JobWorkerElementIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/TimerIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/util/JobWorkerElementBuilderProvider.java
Labels: backport stable/8.0, backport stable/8.1, backport stable/8.2

#14421 [Backport stable/8.2] Don't subscribe to events when raising incident
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnJobBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/CallActivityProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/EndEventProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/IntermediateThrowEventProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/JobWorkerTaskProcessor.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/CallActivityIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/JobWorkerElementIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/TimerIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/util/JobWorkerElementBuilderProvider.java
Labels: backport stable/8.0, backport stable/8.1

#14422 [Backport stable/8.1] Don't subscribe to events when raising incident
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnJobBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/CallActivityProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/EndEventProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/IntermediateThrowEventProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/JobWorkerTaskProcessor.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/CallActivityIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/JobWorkerElementIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/TimerIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/util/JobWorkerElementBuilderProvider.java
Labels: backport stable/8.0

#14317 Serialize access to the underlying gRPC stream via a single actor
  gateway/pom.xml
  gateway/src/main/java/io/camunda/zeebe/gateway/EndpointManager.java
  gateway/src/main/java/io/camunda/zeebe/gateway/Gateway.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/stream/ClientStreamAdapter.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/stream/StreamJobsHandler.java
  gateway/src/test/java/io/camunda/zeebe/gateway/api/job/StreamActivatedJobsTest.java
  gateway/src/test/java/io/camunda/zeebe/gateway/api/util/StubbedGateway.java
  gateway/src/test/java/io/camunda/zeebe/gateway/impl/stream/AsyncJobStreamRemoverTest.java
  gateway/src/test/java/io/camunda/zeebe/gateway/impl/stream/JobStreamConsumerTest.java
  transport/src/main/java/io/camunda/zeebe/transport/stream/api/ClientStreamConsumer.java
  transport/src/main/java/io/camunda/zeebe/transport/stream/impl/AggregatedClientStream.java
  transport/src/main/java/io/camunda/zeebe/transport/stream/impl/ClientStreamImpl.java
  transport/src/main/java/io/camunda/zeebe/transport/stream/impl/ClientStreamManager.java
  transport/src/main/java/io/camunda/zeebe/transport/stream/impl/ClientStreamServiceImpl.java
  transport/src/test/java/io/camunda/zeebe/transport/stream/impl/AggregatedClientStreamTest.java
  transport/src/test/java/io/camunda/zeebe/transport/stream/impl/ClientStreamManagerTest.java
  transport/src/test/java/io/camunda/zeebe/transport/stream/impl/ClientStreamRegistryTest.java
  transport/src/test/java/io/camunda/zeebe/transport/stream/impl/StreamIntegrationTest.java
  util/src/main/java/io/camunda/zeebe/util/LockUtil.java
Labels: benchmark

#14512 fix(restore): use backup from any broker
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/ClusteredBackupRestoreTest.java
  restore/src/main/java/io/camunda/zeebe/restore/PartitionRestoreService.java
  restore/src/main/java/io/camunda/zeebe/restore/RestoreManager.java
  restore/src/test/java/io/camunda/zeebe/restore/PartitionRestoreServiceTest.java
Labels: backport stable/8.2, backport release-8.3.0

#14516 feat(engine): add signal catch event for event-based gateway
  bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/EventBasedGatewayValidator.java
  bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeEventBasedGatewayValidationTest.java
  bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeLinkEventValidationTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/LinkEventDefinitionTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/signal/SignalCatchEventTest.java
Labels: backport release-8.3.0

#14518 fix(raft): reset term from last log if metastore is empty
  atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  atomix/cluster/src/test/java/io/atomix/raft/RaftResetTermAfterRestoreTest.java
Labels: backport stable/8.1, backport stable/8.2, backport release-8.3.0

#14528 fix(benchmark): use JDK_JAVA_OPTIONS for opts to be picked up by jib images
  benchmarks/setup/cloud-default/simpleStarter.yaml
  benchmarks/setup/cloud-default/starter.yaml
  benchmarks/setup/cloud-default/timer.yaml
  benchmarks/setup/cloud-default/worker.yaml
Labels: backport stable/8.2, backport release-8.3.0
