Repository camunda/camunda, pull requests merged in 2023-12, with the labels that each got.

#15421 Add azure backup store configuration
  backup-stores/azure/pom.xml
  backup-stores/azure/src/main/java/io/camunda/zeebe/backup/azure/AzureBackupConfig.java
  backup-stores/azure/src/main/java/io/camunda/zeebe/backup/azure/AzureBackupStore.java
  broker/pom.xml
  broker/src/main/java/io/camunda/zeebe/broker/system/SystemContext.java
  broker/src/main/java/io/camunda/zeebe/broker/system/configuration/backup/AzureBackupStoreConfig.java
  broker/src/main/java/io/camunda/zeebe/broker/system/configuration/backup/BackupStoreCfg.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/BackupStoreTransitionStep.java
  dist/pom.xml
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  dist/src/main/java/io/camunda/zeebe/restore/BackupStoreComponent.java
  dist/src/main/resources/application.properties
  parent/pom.xml
  pom.xml
Labels: component/backup

#15444 fix(raft): resend configuration to members that lost their configuration
  atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  atomix/cluster/src/main/java/io/atomix/raft/protocol/AppendResponse.java
  atomix/cluster/src/main/java/io/atomix/raft/roles/LeaderAppender.java
  atomix/cluster/src/main/java/io/atomix/raft/roles/PassiveRole.java
  atomix/cluster/src/test/java/io/atomix/raft/ReconfigurationTest.java
Labels: backport release-8.4.0-alpha2

#15511 refactor(benchmarks): allow setting explicit worker timeout
  benchmarks/project/src/main/java/io/camunda/zeebe/Worker.java
  benchmarks/project/src/main/java/io/camunda/zeebe/config/WorkerCfg.java
  benchmarks/project/src/main/resources/application.conf
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3

#15470 Iterate over execution latency buckets
  broker/src/main/java/io/camunda/zeebe/broker/exporter/metrics/ExecutionLatencyMetrics.java
  broker/src/main/java/io/camunda/zeebe/broker/exporter/metrics/MetricsExporter.java
Labels: benchmark

#15646 refactor(journal): throttle segment deletion failure
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentsManager.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3

#15443 Add migration for restoring missing backoff jobs
  engine/src/main/java/io/camunda/zeebe/engine/state/instance/DbJobState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/DbMigratorImpl.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/JobBackoffRestoreMigration.java
  engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableJobState.java
  engine/src/test/java/io/camunda/zeebe/engine/state/migration/JobBackoffRestoreMigrationTest.java
Labels: backport stable/8.1, benchmark, backport stable/8.2, backport stable/8.3

#15696 Dump feel-engine 1.17.4
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/ActivityTest.java
  expression-language/src/test/java/io/camunda/zeebe/el/ExpressionLanguageTest.java
  parent/pom.xml
Labels: backport stable/8.3

#15709 fix(topology): maintain gossip state update ordering
  qa/util/src/main/java/io/camunda/zeebe/qa/util/topology/ClusterActuatorAssert.java
  scheduler/src/main/java/io/camunda/zeebe/scheduler/future/ActorFuture.java
  scheduler/src/main/java/io/camunda/zeebe/scheduler/future/CompletableActorFuture.java
  scheduler/src/test/java/io/camunda/zeebe/scheduler/functional/ActorFutureTest.java
  scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/TestActorFuture.java
  topology/src/main/java/io/camunda/zeebe/topology/ClusterTopologyManagerService.java
  topology/src/main/java/io/camunda/zeebe/topology/GatewayClusterTopologyService.java
  topology/src/main/java/io/camunda/zeebe/topology/gossip/ClusterTopologyGossiper.java
Labels: backport release-8.4.0

#15722 fix(engine): copies of records shouldn't share memory
  engine/src/main/java/io/camunda/zeebe/engine/state/compensation/CompensationSubscription.java
  engine/src/main/java/io/camunda/zeebe/engine/state/deployment/PersistedDecision.java
  engine/src/main/java/io/camunda/zeebe/engine/state/deployment/PersistedDecisionRequirements.java
  engine/src/main/java/io/camunda/zeebe/engine/state/deployment/PersistedForm.java
  engine/src/test/java/io/camunda/zeebe/engine/state/compensation/CompensationSubscriptionTest.java
  engine/src/test/java/io/camunda/zeebe/engine/state/deployment/PersistedDecisionRequirementsTest.java
  engine/src/test/java/io/camunda/zeebe/engine/state/deployment/PersistedDecisionTest.java
  engine/src/test/java/io/camunda/zeebe/engine/state/deployment/PersistedFormTest.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport release-8.4.0

#15744 build(topology): add backward compatibility check for protobuf messages
  topology/pom.xml
  topology/src/main/resources/proto/proto.lock
Labels: backport release-8.4.0

#15727 fix(topology): do not update the topology if the operation was cancelled
  topology/src/main/java/io/camunda/zeebe/topology/ClusterTopologyManagerImpl.java
Labels: backport release-8.4.0
