Repository camunda/camunda, pull requests merged in 2023-11, with the labels that each got.

#14820 fix: remove subscription when correlation is rejected
  engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageSubscriptionRejectProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/message/ProcessMessageSubscriptionCorrelateProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/message/command/SubscriptionCommandSender.java
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/MessageSubscriptionRejectedApplier.java
  engine/src/main/java/io/camunda/zeebe/engine/state/message/DbMessageState.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/message/MessageCorrelationReliabilityTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/message/command/SubscriptionCommandSenderTest.java
  engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  engine/src/test/java/io/camunda/zeebe/engine/util/TestInterPartitionCommandSender.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3

#15025 Improve resilience of remote stream restart
  atomix/cluster/src/main/java/io/atomix/cluster/messaging/MessagingException.java
  atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/DefaultClusterCommunicationService.java
  scheduler/src/main/java/io/camunda/zeebe/scheduler/ConcurrencyControl.java
  transport/src/main/java/io/camunda/zeebe/transport/stream/impl/RemoteStreamServiceImpl.java
  transport/src/main/java/io/camunda/zeebe/transport/stream/impl/RemoteStreamTransport.java
  transport/src/test/java/io/camunda/zeebe/transport/stream/impl/RemoteStreamTransportTest.java
  util/src/main/java/io/camunda/zeebe/util/ExponentialBackoff.java
Labels: backport stable/8.3

#15046 Fix race condition between snapshot listener and updating currentSnapshot by PassiveRole
  atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  atomix/cluster/src/main/java/io/atomix/raft/roles/PassiveRole.java
  atomix/cluster/src/test/java/io/atomix/raft/DeterministicSingleThreadContext.java
  atomix/cluster/src/test/java/io/atomix/raft/snapshot/InMemorySnapshot.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3

#15078 Consistent naming in command processors
  engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/ProcessEventProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/distribute/DeploymentDistributionCompleteProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/dmn/DecisionEvaluationEvaluteProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/incident/IncidentEventProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/incident/IncidentResolveProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/CancelProcessInstanceHandler.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceBatchActivateProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceBatchTerminateProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCancelProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCommandHandler.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCommandHandlers.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCommandProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCreationCreateProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCreationCreateWithResultProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/resource/ResourceDeletionDeleteProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/timer/TimerCancelProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/timer/TimerTriggerProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableDocumentUpdateProcessor.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/variable/VariableDocumentUpdateProcessorTest.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3

#15073 [Backport stable/8.1] Cache scheduled written commands and prevent duplicate writes
  broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCache.java
  broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedScheduledCommandCache.java
  broker/src/main/java/io/camunda/zeebe/broker/engine/impl/ScheduledCommandCacheMetrics.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/StreamProcessorTransitionStep.java
  broker/src/test/java/io/camunda/zeebe/broker/engine/impl/BoundedCommandCacheTest.java
  broker/src/test/java/io/camunda/zeebe/broker/engine/impl/BoundedScheduledCommandCacheTest.java
  engine/src/main/java/io/camunda/zeebe/streamprocessor/ProcessingScheduleServiceImpl.java
  engine/src/main/java/io/camunda/zeebe/streamprocessor/ProcessingStateMachine.java
  engine/src/main/java/io/camunda/zeebe/streamprocessor/ScheduledCommandCache.java
  engine/src/main/java/io/camunda/zeebe/streamprocessor/StreamProcessor.java
  engine/src/main/java/io/camunda/zeebe/streamprocessor/StreamProcessorBuilder.java
  engine/src/test/java/io/camunda/zeebe/engine/util/StreamPlatform.java
  engine/src/test/java/io/camunda/zeebe/streamprocessor/ProcessingScheduleServiceTest.java
  engine/src/test/java/io/camunda/zeebe/streamprocessor/StreamProcessorTest.java
  engine/src/test/java/io/camunda/zeebe/streamprocessor/TestScheduledCommandCache.java
  util/src/main/java/io/camunda/zeebe/util/LockUtil.java
Labels: backport main, backport stable/8.2, backport stable/8.3

#12099 feat(clients/go): exponential backoff supplier
  clients/go/go.sum
  clients/go/pkg/worker/backoffSupplier.go
  clients/go/pkg/worker/exponentialBackoffSupplier.go
  clients/go/pkg/worker/exponentialBackoffSupplier_test.go
  clients/go/pkg/worker/jobPoller.go
  clients/go/pkg/worker/jobPoller_test.go
  clients/go/pkg/worker/jobWorker_builder.go
Labels: scope/clients-go

#15011 fix: Enrich incident messages with evaluation warnings
  engine/src/main/java/io/camunda/zeebe/engine/processing/common/ExpressionProcessor.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/ScriptTaskExpressionTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/common/ExpressionProcessorTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/DeploymentRejectionTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/TimerValidationTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/BusinessRuleTaskIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/CallActivityIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/ConditionIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/ErrorEventIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/EscalationIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/EventSubscriptionIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/JobWorkerElementIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/MessageIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/MultiInstanceIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/TimerIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/UserTaskIncidentTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/CreateProcessInstanceRejectionTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ModifyProcessInstanceRejectionTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/timer/TimerCatchEventTest.java
  expression-language/src/main/java/io/camunda/zeebe/el/EvaluationResult.java
  expression-language/src/main/java/io/camunda/zeebe/el/EvaluationWarning.java
  expression-language/src/main/java/io/camunda/zeebe/el/impl/EvaluationFailure.java
  expression-language/src/main/java/io/camunda/zeebe/el/impl/FeelEvaluationWarning.java
  expression-language/src/main/java/io/camunda/zeebe/el/impl/FeelExpressionLanguage.java
  expression-language/src/main/java/io/camunda/zeebe/el/impl/StaticExpression.java
  expression-language/src/main/scala/io/camunda/zeebe/el/impl/feel/FeelEvaluationResult.scala
  expression-language/src/test/java/io/camunda/zeebe/el/ExpressionLanguageTest.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CreateProcessInstanceTest.java
Labels: backport stable/8.3

#15165 Add log throttling to benchmark apps
  benchmarks/project/pom.xml
  benchmarks/project/src/main/java/io/camunda/zeebe/App.java
  benchmarks/project/src/main/java/io/camunda/zeebe/ResponseChecker.java
  benchmarks/project/src/main/java/io/camunda/zeebe/Starter.java
  benchmarks/project/src/main/java/io/camunda/zeebe/Worker.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3

#15169 [Backport 8.2]: Add log throttling to benchmark apps
  benchmarks/project/pom.xml
  benchmarks/project/src/main/java/io/camunda/zeebe/App.java
  benchmarks/project/src/main/java/io/camunda/zeebe/ResponseChecker.java
  benchmarks/project/src/main/java/io/camunda/zeebe/Starter.java
  benchmarks/project/src/main/java/io/camunda/zeebe/Worker.java
Labels: backport stable/8.1

#15201 Replay deployed forms
  engine/src/main/java/io/camunda/zeebe/engine/Engine.java
  engine/src/test/java/io/camunda/zeebe/engine/state/ReplayStateTest.java
Labels: backport main

#15210 Stabilize S3BackupAcceptanceIT#shouldDeleteBackup
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/S3BackupAcceptanceIT.java
  qa/util/src/main/java/io/camunda/zeebe/qa/util/testcontainers/MinioContainer.java
Labels: backport stable/8.3

#15229 Refactor/ simplify long polling
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/job/ActivateJobsHandler.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/job/LongPollingActivateJobsHandler.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/job/RoundRobinActivateJobsHandler.java
  gateway/src/test/java/io/camunda/zeebe/gateway/impl/job/LongPollingActivateJobsTest.java
Labels: backport stable/8.0, backport main, backport stable/8.1, backport stable/8.3

#15271 ci: improve cache effectiveness
  .github/actions/build-docker/action.yml
  .github/actions/setup-zeebe/action.yml
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3

#15278 Disable jwt issuedAt verification
  auth/src/main/java/io/camunda/zeebe/auth/impl/JwtAuthorizationDecoder.java
  auth/src/main/java/io/camunda/zeebe/auth/impl/JwtAuthorizationEncoder.java
  auth/src/test/java/io/camunda/zeebe/auth/JwtAuthorizationTest.java
Labels: backport release-8.3.0

#15234 Blocking executor for Jobworker
  clients/java/pom.xml
  clients/java/src/main/java/io/camunda/zeebe/client/impl/worker/BlockingExecutor.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/worker/JobWorkerBuilderImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/worker/JobWorkerImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/impl/worker/BlockingExecutorTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/impl/worker/JobWorkerImplTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/impl/worker/JobWorkerMetricsTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/impl/worker/TestData.java
  expression-language/src/main/java/io/camunda/zeebe/el/EvaluationContext.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/JobWorkerTest.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/util/RecordingJobHandler.java
Labels: benchmark

#15272 fix(snapshot): do not include term when comparing snapshotId
  snapshot/src/main/java/io/camunda/zeebe/snapshots/SnapshotId.java
Labels: backport stable/8.2, backport stable/8.3

#15308 Fix CVE-2023-34062
  dist/src/main/resources/application.properties
  parent/pom.xml
Labels: backport stable/8.3

#15336 Build quickly with maven
  CONTRIBUTING.md
  parent/pom.xml
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3

#15413 fix(raft): update role metrics when closing or transitioning to inactive
  atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftRoleMetrics.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3

#15419 Do not delete jobs from backoff cf
  engine/src/main/java/io/camunda/zeebe/engine/state/instance/DbJobState.java
  engine/src/test/java/io/camunda/zeebe/engine/state/migration/JobBackoffCleanupMigrationTest.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/StateMigrationTest.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3
