Repository camunda/camunda, pull requests merged in 2024-12, with the labels that each got.

#25473 fix: various fixes to enable exporting and searching tenants
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/columns/TenantSearchColumn.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/tenant/TenantIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/tenant/TenantSortIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/tenant/TenantSpecificFilterIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/exporter/RdbmsExporterIT.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/entity/TenantEntityTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/TenantFilterTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/sort/TenantFieldSortingTransformer.java
  search/search-domain/src/main/java/io/camunda/search/entities/TenantEntity.java
  search/search-domain/src/main/java/io/camunda/search/sort/TenantSort.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/usermanagement/TenantEntity.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/index/identity-tenants.json
  webapps-schema/src/main/resources/schema/opensearch/create/index/identity-tenants.json
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/TenantCreateUpdateHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/TenantEntityAddedHandler.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantQueryControllerTest.java
Labels: component/zeebe, component/c8-api

#25431 feat: Operate: fallback to legacy authorization parameter
  dist/src/main/resources/application-operate.properties
  operate/common/src/main/java/io/camunda/operate/property/IdentityProperties.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/properties/PropertiesIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/identity/AuthenticationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/sso/AuthenticationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/sso/AuthenticationWithPersistentSessionsIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/sso/CsrfTokenIT.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/identity/IdentityAuthentication.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/sso/TokenAuthentication.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#25417 feat: expose /me endpoint including application access
  authentication/src/main/java/io/camunda/authentication/CamundaUserDetailsService.java
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/entity/CamundaUser.java
  authentication/src/main/java/io/camunda/authentication/entity/CamundaUserDTO.java
  authentication/src/main/java/io/camunda/authentication/service/BasicCamundaUserService.java
  authentication/src/main/java/io/camunda/authentication/service/CamundaUserService.java
  authentication/src/test/java/io/camunda/authentication/CamundaUserDetailsServiceTest.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/BasicAuthIT.java
  security/security-core/src/main/java/io/camunda/zeebe/protocol/record/value/PermissionType.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/AuthenticationController.java
Labels: component/zeebe, component/c8-api

#25458 refactor: migrate UserEntity to use common classes
  tasklist/common/src/main/java/io/camunda/tasklist/entities/UserEntity.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/TasklistIndexTemplateDescriptorsConfigurator.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/backup/Prio4Backup.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/indices/UserIndex.java
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/TasklistIndexTemplateDescriptorsConfigurator.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/index/tasklist-user.json
  webapps-schema/src/main/resources/schema/opensearch/create/index/tasklist-user.json
Labels: component/tasklist

#25298 Update transient message state as side-effect
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnBehaviorsImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/common/CatchEventBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/ProcessMessageSubscriptionCorrelateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/ProcessMessageSubscriptionCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/ProcessMessageSubscriptionDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/TypedRecordProcessorContext.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/TypedRecordProcessorContextImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/ProcessingDbState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/ProcessingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/message/DbProcessMessageSubscriptionState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceRejectionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/message/PendingProcessMessageSubscriptionStateTest.java
Labels: backport main, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#25347 19425 improve and unify the filter deletion dialog
  tasklist/client/src/Tasks/CollapsiblePanel/CustomFiltersModal/DeleteFilterModal.tsx
  tasklist/client/src/Tasks/CollapsiblePanel/index.test.tsx
  tasklist/client/src/modules/internationalization/locales/de.json
  tasklist/client/src/modules/internationalization/locales/en.json
  tasklist/client/src/modules/internationalization/locales/es.json
  tasklist/client/src/modules/internationalization/locales/fr.json
Labels: component/tasklist

#25038 Operate import metric
  operate/common/src/main/java/io/camunda/operate/Metrics.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/ImportPositionHolder.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/RecordsReaderHolder.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/FinishedImportingIT.java
Labels: component/operate

#25470 feat: Include Snapshot Task Variable in new archiver
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/common/UserTaskRecordToVariableEntityMapper.java
  tasklist/importer-870/src/main/java/io/camunda/tasklist/zeebeimport/v870/processors/common/UserTaskRecordToVariableEntityMapper.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/VariableService.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/tasklist/template/SnapshotTaskVariableTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/SnapshotTaskVariableEntity.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/template/tasklist-task-variable.json
  webapps-schema/src/main/resources/schema/opensearch/create/template/tasklist-task-variable.json
Labels: component/tasklist

#25064 feat: return name for flownode-instances & user-tasks
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/response/FlowNodeInstance.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/response/UserTask.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/response/FlowNodeInstanceImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/response/UserTaskImpl.java
  dist/src/main/java/io/camunda/application/commons/rest/RestApiConfiguration.java
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/UserTaskQueryTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/FlowNodeInstanceQueryController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/UserTaskQueryController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/util/XmlUtil.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/FlowNodeInstanceQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserTaskQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/util/XmlUtilTest.java
  zeebe/gateway-rest/src/test/resources/user-task.bpmn
Labels: component/zeebe, component/operate, component/c8-api, component/tasklist, component/optimize

#25471 refactor: delete old Tasklist Archiver
  dist/pom.xml
  dist/src/main/java/io/camunda/tasklist/TasklistModuleConfiguration.java
  parent/pom.xml
  tasklist/archiver/pom.xml
  tasklist/archiver/src/main/java/io/camunda/tasklist/ArchiverModuleConfiguration.java
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/AbstractArchiverJob.java
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/ArchiverConfigurator.java
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/ArchiverStarter.java
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/ArchiverUtil.java
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/ArchiverUtilAbstract.java
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/ProcessInstanceArchiverJob.java
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/TaskArchiverJob.java
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/es/AbstractArchiverJobElasticSearch.java
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/es/ArchiverUtilElasticSearch.java
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/es/TaskArchiverJobElasticSearch.java
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/os/AbstractArchiverJobOpenSearch.java
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/os/ArchiverUtilOpenSearch.java
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/os/TaskArchiverJobOpenSearch.java
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/security/ArchiverSecurityModuleConfiguration.java
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/security/DefaultWebSecurityConfig.java
  tasklist/common/src/main/java/io/camunda/tasklist/Metrics.java
  tasklist/common/src/main/java/io/camunda/tasklist/exceptions/ArchiverException.java
  tasklist/pom.xml
  tasklist/qa/integration-tests/pom.xml
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/it/ArchiverIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/it/OneNodeArchiverIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/modules/FullAppIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/modules/OnlyArchiverIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/modules/OnlyImportIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/modules/OnlyWebappIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/apps/modules/ModulesTestApplication.java
  tasklist/webapp/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#25461 refactor: delete old Tasklist Migration App
  .github/workflows/tasklist-migrate-elasticsearch-data.yml
  tasklist/common/src/main/java/io/camunda/tasklist/exceptions/MigrationException.java
  tasklist/els-schema/pom.xml
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/SchemaStartup.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/indices/MigrationRepositoryIndex.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/migration/Migrator.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/migration/ProcessorStep.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/migration/SchemaMigration.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/migration/Step.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/migration/StepsRepository.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/migration/es/ElasticSearchMigrator.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/migration/es/ElasticsearchStepsRepository.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/migration/es/ReindexPlanElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/migration/os/OpenSearchMigrator.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/migration/os/OpenSearchStepsRepository.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/migration/os/ReindexPlanOpenSearch.java
  tasklist/els-schema/src/main/resources/schema/es/create/index/tasklist-migration-steps-repository.json
  tasklist/els-schema/src/main/resources/schema/os/create/index/tasklist-migration-steps-repository.json
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ReindexElasticSearchIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/SchemaCreationIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/ReindexOpenSearchIT.java
  tasklist/qa/migration-tests/README.MD
  tasklist/qa/migration-tests/migration-test/pom.xml
  tasklist/qa/migration-tests/migration-test/src/test/java/io/camunda/tasklist/qa/migration/BasicProcessTest.java
  tasklist/qa/migration-tests/migration-test/src/test/java/io/camunda/tasklist/qa/migration/BigVariableProcessTest.java
  tasklist/qa/migration-tests/migration-test/src/test/java/io/camunda/tasklist/qa/migration/SchemaChangesTest.java
  tasklist/qa/migration-tests/migration-test/src/test/java/io/camunda/tasklist/qa/migration/util/AbstractMigrationTest.java
  tasklist/qa/migration-tests/migration-test/src/test/java/io/camunda/tasklist/qa/migration/util/ConnectionHolder.java
  tasklist/qa/migration-tests/migration-test/src/test/java/io/camunda/tasklist/qa/migration/util/EntityReader.java
  tasklist/qa/migration-tests/migration-test/src/test/java/io/camunda/tasklist/qa/migration/util/MigrationRunner.java
  tasklist/qa/migration-tests/migration-test/src/test/java/io/camunda/tasklist/qa/migration/util/TestConfig.java
  tasklist/qa/migration-tests/migration-test/src/test/resources/log4j2.xml
  tasklist/qa/migration-tests/migration-test/src/test/resources/test.properties
  tasklist/qa/migration-tests/pom.xml
  tasklist/qa/migration-tests/test-fixture-810/pom.xml
  tasklist/qa/migration-tests/test-fixture-810/src/main/java/io/camunda/tasklist/qa/migration/v810/BasicProcessDataGenerator.java
  tasklist/qa/migration-tests/test-fixture-810/src/main/java/io/camunda/tasklist/qa/migration/v810/BigVariableProcessDataGenerator.java
  tasklist/qa/migration-tests/test-fixture-810/src/main/java/io/camunda/tasklist/qa/migration/v810/TestFixture.java
  tasklist/qa/migration-tests/test-fixture-810/src/main/resources/log4j2.xml
  tasklist/qa/migration-tests/test-fixture-820/pom.xml
  tasklist/qa/migration-tests/test-fixture-820/src/main/java/io/camunda/tasklist/qa/migration/v820/TestFixture.java
  tasklist/qa/migration-tests/test-fixture-820/src/main/resources/log4j2.xml
  tasklist/qa/migration-tests/test-fixture-830/pom.xml
  tasklist/qa/migration-tests/test-fixture-830/src/main/java/io/camunda/tasklist/qa/migration/v830/TestFixture.java
  tasklist/qa/migration-tests/test-fixture-830/src/main/resources/log4j2.xml
  tasklist/qa/migration-tests/test-fixture-840/pom.xml
  tasklist/qa/migration-tests/test-fixture-840/src/main/java/io/camunda/tasklist/qa/migration/v840/TestFixture.java
  tasklist/qa/migration-tests/test-fixture-840/src/main/resources/log4j2.xml
  tasklist/qa/migration-tests/test-fixture-850/pom.xml
  tasklist/qa/migration-tests/test-fixture-850/src/main/java/io/camunda/tasklist/qa/migration/v850/TestFixture.java
  tasklist/qa/migration-tests/test-fixture-850/src/main/resources/log4j2.xml
  tasklist/qa/pom.xml
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/TestSchemaStartup.java
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/migration/AbstractTestFixture.java
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/migration/TestFixture.java
Labels: component/build-pipeline, component/tasklist

#25480 test: remove operate from Optimize smoke test
  .github/actions/compose/docker-compose.smoketest.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#25468 refactor: move ImportPositionIndex and Entity to common module
  qa/util/src/main/java/io/camunda/qa/util/cluster/IndexTemplateDescriptorsConfigurator.java
  tasklist/common/src/main/java/io/camunda/tasklist/entities/meta/ImportPositionEntity.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/TasklistIndexTemplateDescriptorsConfigurator.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/backup/Prio3Backup.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/indices/ProcessIndex.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/templates/TasklistListViewTemplate.java
  tasklist/importer/pom.xml
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/ImportJob.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/ImportJobAbstract.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/ImportPositionHolder.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/ImportPositionHolderAbstract.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/RecordsReaderAbstract.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/RecordsReaderHolder.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/es/ImportJobElasticSearch.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/es/ImportPositionHolderElasticSearch.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/es/RecordsReaderElasticSearch.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/os/ImportJobOpenSearch.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/os/ImportPositionHolderOpenSearch.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/os/RecordsReaderOpenSearch.java
  tasklist/importer/src/test/java/io/camunda/tasklist/zeebeimport/ImportListenerTestElasticSearch.java
  tasklist/importer/src/test/java/io/camunda/tasklist/zeebeimport/ImportListenerTestOpenSearch.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchFinishedImportingIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpensearchFinishedImportingIT.java
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/TasklistIndexTemplateDescriptorsConfigurator.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/backup/BackupManager.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/tasklist/index/TasklistImportPositionIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/ImportPositionEntity.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/index/tasklist-import-position.json
  webapps-schema/src/main/resources/schema/opensearch/create/index/tasklist-import-position.json
Labels: component/tasklist

#25466 ci: use sbom library for FE projects
  identity/client/package.json
  identity/client/vite.config.ts
  identity/client/yarn.lock
  operate/client/config-overrides.js
  operate/client/package.json
  operate/client/yarn.lock
  optimize/client/package.json
  optimize/client/vite.config.ts
  optimize/client/yarn.lock
  tasklist/client/package.json
  tasklist/client/public/mockServiceWorker.js
  tasklist/client/vite.config.ts
  tasklist/client/yarn.lock
Labels: component/operate, component/tasklist, component/identity, component/optimize

#25476 [Backport main] Update transient message state as side-effect
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnBehaviorsImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/common/CatchEventBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/ProcessMessageSubscriptionCorrelateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/ProcessMessageSubscriptionCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/ProcessMessageSubscriptionDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/TypedRecordProcessorContext.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/TypedRecordProcessorContextImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/ProcessingDbState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/ProcessingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/message/DbProcessMessageSubscriptionState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceRejectionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/message/PendingProcessMessageSubscriptionStateTest.java
Labels: component/zeebe, backport release-8.7.0-alpha2

#25494 fix: increase ES memlock for Optimize smoke tests
  .github/actions/compose/docker-compose.smoketest.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#25460 feat: Resource Intents and Appliers
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/TestSupport.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TestSupport.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ResourceCreatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ResourceDeletedApplier.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/TestSupport.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestSupport.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/ValueTypeMapping.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/Intent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/ResourceIntent.java
  zeebe/protocol/src/main/resources/protocol.xml
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/TypedEventRegistry.java
Labels: component/zeebe, component/operate, component/tasklist

#25495 [Backport release-8.7.0-alpha2] [Backport main] Update transient message state as side-effect
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnBehaviorsImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/common/CatchEventBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/ProcessMessageSubscriptionCorrelateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/ProcessMessageSubscriptionCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/ProcessMessageSubscriptionDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/TypedRecordProcessorContext.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/TypedRecordProcessorContextImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/ProcessingDbState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/ProcessingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/message/DbProcessMessageSubscriptionState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceRejectionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/message/PendingProcessMessageSubscriptionStateTest.java
Labels: component/zeebe

#25488 feat: rename user task variable endpoint to search
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClient.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/query/UserTaskVariableQueryImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/usertask/SearchUserTaskVariableTest.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/UserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/client/UserTaskQueryTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/UserTaskQueryController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserTaskQueryControllerTest.java
Labels: component/zeebe, component/c8-api

#24778 feat: added socket buffers size parameters to config
  dist/src/main/config/broker.yaml.template
  dist/src/main/config/gateway.yaml.template
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/MessagingConfig.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering/ClusterConfigFactory.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/NetworkCfg.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/configuration/BrokerCfgTest.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/Gateway.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/configuration/ConfigurationDefaults.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/configuration/NetworkCfg.java
  zeebe/gateway/src/test/java/io/camunda/zeebe/gateway/impl/configuration/GatewayCfgTest.java
  zeebe/gateway/src/test/resources/configuration/gateway.default.yaml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#24871 Adds filter by listener type to listeners tab
  .github/workflows/operate-e2e-tests.yml
  operate/client/e2e-playwright/api/camunda8.ts
  operate/client/e2e-playwright/api/zeebe-rest.ts
  operate/client/e2e-playwright/pages/ProcessInstance.ts
  operate/client/e2e-playwright/tests/processInstanceListeners.mocks.ts
  operate/client/e2e-playwright/tests/processInstanceListeners.spec.ts
  operate/client/e2e-playwright/tests/resources/processWithUserTaskListener.bpmn
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/Listeners/index.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/Listeners/styled.ts
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/index.tsx
  operate/client/src/modules/api/processInstances/fetchProcessInstanceListeners.ts
  operate/client/src/modules/mocks/mockListenerInstances.ts
  operate/client/src/modules/stores/processInstanceListeners.ts
  operate/client/src/modules/types/operate.d.ts
  operate/docker-compose.yml
Labels: component/build-pipeline, component/operate, component/frontend, deploy-preview

#25512 test: remove ES healthcheck in smoketest
  .github/actions/compose/docker-compose.smoketest.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#25253 feat: Trigger assignment listeners after UserTask creation with defined `assignee`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnJobBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnUserTaskBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/UserTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/UserTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskAssignProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/NativeUserTaskTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateUserTaskTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/usertask/AssignUserTaskTest.java
Labels: component/zeebe

#25517 test: add smoketest healthcheck for optimize
  .github/actions/compose/docker-compose.smoketest.yml
  .github/actions/execute-healthcheck-and-push-image/action.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#25501 Create intra treepath in Engine
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/record/value/ProcessInstanceRecordValueImpl.java
  tasklist/importer-870/src/main/java/io/camunda/tasklist/zeebeimport/v870/record/value/ProcessInstanceRecordValueImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnIncidentBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnStateBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnStateTransitionBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/common/CallActivityIndexProvider.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/common/ElementInstanceProvider.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/common/ElementTreePathBuilder.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobBatchActivateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobFailProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobThrowErrorProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/CallActivityTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/subprocess/EmbeddedSubProcessTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/common/ElementTreePathBuilderTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/CreateProcessInstanceTest.java
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-process-instance-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-process-instance-template.json
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/ProcessInstanceRecordValue.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/RecordBatchTest.java
Labels: component/zeebe, component/tasklist

#25432 refactor: delete tasklist-list-view index and entities
  dist/src/main/java/io/camunda/application/commons/search/SearchClientDatabaseConfiguration.java
  qa/integration-tests/src/test/java/io/camunda/it/client/UserTaskQueryTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/SearchClients.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/ServiceTransformers.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/UserTaskFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/DecisionInstanceSearchClientBasedQueryExecutorTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/SearchClientBasedQueryExecutorTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/AbstractTransformerTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/result/AbstractResultConfigTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/sort/AbstractSortTransformerTest.java
  tasklist/common/src/main/java/io/camunda/tasklist/entities/listview/ListViewJoinRelation.java
  tasklist/common/src/main/java/io/camunda/tasklist/entities/listview/ProcessInstanceListViewEntity.java
  tasklist/common/src/main/java/io/camunda/tasklist/entities/listview/UserTaskListViewEntity.java
  tasklist/common/src/main/java/io/camunda/tasklist/entities/listview/VariableListViewEntity.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/indices/ProcessIndex.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/indices/UserIndex.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/ElasticsearchSchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/OpenSearchSchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/templates/AbstractTemplateDescriptor.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/templates/TasklistListViewTemplate.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/templates/TemplateDescriptor.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/ListViewStore.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/elasticsearch/ListViewStoreElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/opensearch/ListViewStoreOpenSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/util/ElasticsearchUtil.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/util/OpenSearchUtil.java
  tasklist/els-schema/src/main/resources/schema/es/create/template/tasklist-list-view.json
  tasklist/els-schema/src/main/resources/schema/os/create/template/tasklist-list-view.json
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/common/UserTaskRecordToTaskEntityMapper.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/es/ProcessInstanceZeebeRecordProcessorElasticSearch.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/es/UserTaskZeebeRecordProcessorElasticSearch.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/es/VariableZeebeRecordProcessorElasticSearch.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/os/ProcessInstanceZeebeRecordProcessorOpenSearch.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/os/UserTaskZeebeRecordProcessorOpenSearch.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/os/VariableZeebeRecordProcessorOpenSearch.java
  tasklist/importer-870/src/main/java/io/camunda/tasklist/zeebeimport/v870/processors/common/UserTaskRecordToTaskEntityMapper.java
  tasklist/importer-870/src/main/java/io/camunda/tasklist/zeebeimport/v870/processors/es/ProcessInstanceZeebeRecordProcessorElasticSearch.java
  tasklist/importer-870/src/main/java/io/camunda/tasklist/zeebeimport/v870/processors/es/UserTaskZeebeRecordProcessorElasticSearch.java
  tasklist/importer-870/src/main/java/io/camunda/tasklist/zeebeimport/v870/processors/es/VariableZeebeRecordProcessorElasticSearch.java
  tasklist/importer-870/src/main/java/io/camunda/tasklist/zeebeimport/v870/processors/os/ProcessInstanceZeebeRecordProcessorOpenSearch.java
  tasklist/importer-870/src/main/java/io/camunda/tasklist/zeebeimport/v870/processors/os/UserTaskZeebeRecordProcessorOpenSearch.java
  tasklist/importer-870/src/main/java/io/camunda/tasklist/zeebeimport/v870/processors/os/VariableZeebeRecordProcessorOpenSearch.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/TaskControllerIT.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/backup/BackupManager.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/TaskService.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/VariableService.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/service/VariableServiceTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#25520 refactor: remove error logs
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/ImportPositionHolder.java
Labels: component/operate

#25496 Tasklist importing done metric
  tasklist/common/src/main/java/io/camunda/tasklist/Metrics.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/ImportPositionHolderAbstract.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/RecordsReaderHolder.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchFinishedImportingIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpensearchFinishedImportingIT.java
Labels: component/tasklist

#25523 fix: don't use mutable keys for forms cache
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnUserTaskBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/FormResourceTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/deployment/DbFormState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/FormState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/AbstractFormCreatedApplierTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/FormCreatedV1ApplierTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/FormCreatedV2ApplierTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/FormDeletedApplierTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/deployment/FormStateTest.java
Labels: backport stable/8.4, component/zeebe, backport stable/8.5, backport stable/8.6, backport release-8.7.0-alpha2

#25524 fix: don't use mutable keys for resource cache
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/deployment/DbResourceState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/ResourceState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/deployment/ResourceStateTest.java
Labels: component/zeebe, backport release-8.7.0-alpha2

#25351 pg-process-migration-metrics
  dist/src/main/java/io/camunda/application/StandaloneMigration.java
  migration/process-migration/pom.xml
  migration/process-migration/src/main/java/io/camunda/migration/process/MigrationRunner.java
  migration/process-migration/src/main/java/io/camunda/migration/process/adapter/es/ElasticsearchAdapter.java
  migration/process-migration/src/main/java/io/camunda/migration/process/adapter/os/OpensearchAdapter.java
  migration/process-migration/src/main/java/io/camunda/migration/process/util/MetricRegistry.java
  migration/process-migration/src/main/java/io/camunda/migration/process/util/MigrationUtil.java
  migration/process-migration/src/test/java/io/camunda/migration/process/it/AdapterTest.java
  migration/process-migration/src/test/java/io/camunda/migration/process/it/MigrationRunnerIT.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ConditionalOnRestGatewayEnabled.java
Labels: component/zeebe, component/operate, component/c8-api, component/tasklist, component/optimize

#25527 [Backport stable/8.6] fix: don't use mutable keys for forms cache
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnUserTaskBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/FormResourceTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/deployment/DbFormState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/FormState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/AbstractFormCreatedApplierTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/FormCreatedV1ApplierTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/FormCreatedV2ApplierTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/FormDeletedApplierTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/deployment/FormStateTest.java
Labels: component/zeebe

#24992 Create common api to trigger webapps backups
  dist/pom.xml
  dist/src/main/java/io/camunda/webapps/config/BackupConfig.java
  dist/src/main/java/io/camunda/webapps/controllers/BackupController.java
  dist/src/main/java/io/camunda/webapps/controllers/BackupControllerStandalone.java
  dist/src/main/java/io/camunda/webapps/profiles/ProfileOperateStandalone.java
  dist/src/main/java/io/camunda/webapps/profiles/ProfileOperateTasklist.java
  dist/src/main/java/io/camunda/webapps/profiles/ProfileOperateTasklistStandalone.java
  dist/src/main/java/io/camunda/webapps/profiles/ProfileWebApp.java
  dist/src/main/java/io/camunda/webapps/profiles/ProfileWebAppStandalone.java
  dist/src/main/resources/api/backup-management-api.yaml
  dist/src/test/java/io/camunda/webapps/config/BackupConfigTest.java
  dist/src/test/java/io/camunda/webapps/controllers/BackupControllerTest.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/BackupControllerIT.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/backup/BackupComponent.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/backup/BackupConfig.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/backup/BackupRepositoryWrapper.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/management/BackupController.java
  tasklist/common/src/main/java/io/camunda/tasklist/property/BackupProperties.java
  tasklist/qa/integration-tests/pom.xml
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/BackupServiceElasticSearchTest.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/backup/BackupManager.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/backup/es/BackupManagerElasticSearch.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/management/BackupService.java
  webapps-backup/src/main/java/io/camunda/webapps/backup/BackupException.java
  webapps-backup/src/main/java/io/camunda/webapps/backup/BackupServiceImpl.java
  webapps-backup/src/main/java/io/camunda/webapps/backup/exceptions/InvalidRequestException.java
  webapps-backup/src/main/java/io/camunda/webapps/backup/exceptions/ResourceNotFoundException.java
  webapps-backup/src/main/java/io/camunda/webapps/backup/repository/BackupRepositoryConnectionException.java
  webapps-backup/src/main/java/io/camunda/webapps/backup/repository/BackupRepositoryProps.java
  webapps-backup/src/main/java/io/camunda/webapps/backup/repository/GenericBackupException.java
  webapps-backup/src/main/java/io/camunda/webapps/backup/repository/elasticsearch/ElasticsearchBackupRepository.java
  webapps-backup/src/main/java/io/camunda/webapps/backup/repository/opensearch/OpensearchBackupRepository.java
  webapps-backup/src/test/java/io/camunda/webapps/backup/repository/opensearch/OpensearchBackupRepositoryTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#25422 Forward user claims to the broker
  zeebe/auth/pom.xml
  zeebe/auth/src/main/java/io/camunda/zeebe/auth/JwtDecoder.java
  zeebe/auth/src/main/java/io/camunda/zeebe/auth/api/JwtAuthorizationBuilder.java
  zeebe/auth/src/main/java/io/camunda/zeebe/auth/impl/Authorization.java
  zeebe/auth/src/main/java/io/camunda/zeebe/auth/impl/JwtAuthorizationDecoder.java
  zeebe/auth/src/test/java/io/camunda/zeebe/auth/JwtAuthorizationTest.java
  zeebe/auth/src/test/java/io/camunda/zeebe/auth/JwtDecoderTest.java
  zeebe/gateway-grpc/pom.xml
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/EndpointManager.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/Gateway.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/interceptors/impl/AuthenticationInterceptor.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/api/util/StubbedGateway.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/impl/BrokerRequestWithAuthorizationInfoTest.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/interceptors/impl/AuthenticationInterceptorTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/RequestMapperTest.java
Labels: component/zeebe, component/c8-api

#25511 [Backport stable/8.4] [Backport stable/8.5] [Backport main] Update transient message state as side-effect
  engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnBehaviorsImpl.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/common/CatchEventBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/message/ProcessMessageSubscriptionCorrelateProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/message/ProcessMessageSubscriptionCreateProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/message/ProcessMessageSubscriptionDeleteProcessor.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/TypedRecordProcessorContext.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/TypedRecordProcessorContextImpl.java
  engine/src/main/java/io/camunda/zeebe/engine/state/ProcessingDbState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/immutable/ProcessingState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/message/DbProcessMessageSubscriptionState.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/MigrateProcessInstanceRejectionTest.java
  engine/src/test/java/io/camunda/zeebe/engine/state/message/PendingProcessMessageSubscriptionStateTest.java
Labels: backport stable/8.3

#25528 [Backport release-8.7.0-alpha2] fix: don't use mutable keys for forms cache
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnUserTaskBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/FormResourceTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/deployment/DbFormState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/FormState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/AbstractFormCreatedApplierTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/FormCreatedV1ApplierTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/FormCreatedV2ApplierTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/FormDeletedApplierTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/deployment/FormStateTest.java
Labels: component/zeebe

#25526 [Backport stable/8.5] fix: don't use mutable keys for forms cache
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnUserTaskBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/FormResourceTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/deployment/DbFormState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/FormState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/FormCreatedApplierTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/FormDeletedApplierTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/deployment/FormStateTest.java
Labels: component/zeebe

#24173 fix: add sbom to the release process
  .github/workflows/sbom.yml
Labels: component/build-pipeline

#25513 Implement getActiveIncidentsByTreePath for ES
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/ElasticsearchIncidentUpdateRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/IncidentUpdateRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/IncidentUpdateTask.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/incident/ElasticsearchIncidentUpdateRepositoryTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/incident/IncidentUpdateRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/incident/IncidentUpdateTaskTest.java
Labels: component/zeebe

#25515 Implement getProcessInstances for ES
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/ElasticsearchIncidentUpdateRepository.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/incident/ElasticsearchIncidentUpdateRepositoryTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/incident/IncidentUpdateRepositoryIT.java
Labels: component/zeebe

#25363 feat: Add tests DatabaseHelperTest
  optimize/backend/src/test/java/io/camunda/optimize/service/util/DatabaseHelperTest.java
Labels: component/optimize

#25483 feat: move operate Spring backup module into dist
  dist/pom.xml
  dist/src/main/java/io/camunda/application/commons/backup/BackupConfig.java
  dist/src/main/java/io/camunda/application/commons/backup/ElasticsearchBackupRepository.java
  dist/src/main/java/io/camunda/application/commons/backup/ElasticsearchTasklistBackupRepository.java
  dist/src/main/java/io/camunda/application/commons/backup/HistoryBackupComponent.java
  dist/src/main/java/io/camunda/webapps/controllers/BackupController.java
  dist/src/test/java/io/camunda/application/commons/backup/BackupConfigTest.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/BackupControllerIT.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/backup/BackupConfig.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/backup/ElasticsearchBackupRepository.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/backup/OpensearchBackupRepository.java
  webapps-backup/src/main/java/io/camunda/webapps/backup/repository/WebappsSnapshotNameProvider.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#25463 CI: add custom GHA best practices rules & linter
  .github/actionlint-matcher.json
  .github/actions/paths-filter/action.yml
  .github/conftest-gha-best-practices.rego
  .github/workflows/ci.yml
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#25518 Implement OpenSearch version of the incident update repository
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/OpenSearchIncidentUpdateRepository.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/incident/IncidentUpdateRepositoryIT.java
Labels: component/zeebe

#25548 feat: some bugfixes after testing with e2e tests against rdbms module…
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/UserTaskWriter.java
  db/rdbms/src/main/resources/mapper/UserTaskMapper.xml
  db/rdbms/src/main/resources/mapper/VariableMapper.xml
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/usertask/UserTaskIT.java
  zeebe/exporters/rdbms-exporter/pom.xml
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/UserTaskExportHandler.java
Labels: component/zeebe, component/rdbms

#25531 feat: export treepath from PROCESS_INSTANCE records
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceQueryTest.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/FlowNodeInstanceFromIncidentHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/FlowNodeInstanceFromProcessInstanceHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromIncidentHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromProcessInstanceHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/FlowNodeInstanceFromIncidentHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/FlowNodeInstanceFromProcessInstanceHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromIncidentHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromProcessInstanceHandlerTest.java
Labels: component/zeebe, deploy-preview

#25438 Delete obsolete import tests part3
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/BasicZeebeImportIT.java
  operate/qa/integration-tests/src/test/resources/large-payload.txt
  operate/qa/integration-tests/src/test/resources/largeInputOutput.dmn
  operate/qa/integration-tests/src/test/resources/literalExpression.dmn
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/DecisionEvaluationHandlerTest.java
Labels: component/zeebe, component/operate

#24866 feat: reconstruct deployment for process resources
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/ChecksumGenerator.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/DeploymentReconstructProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/BpmnResourceTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/DeploymentTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/DmnResourceTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/FormResourceTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/deployment/DbProcessState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/ProcessState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/DeploymentReconstructProcessorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/deployment/ProcessStateTest.java
Labels: component/zeebe

#25561 fix: Enable WebSessionRepositoryConfiguration only when RestGateway is enabled
  dist/src/main/java/io/camunda/application/commons/identity/WebSessionRepositoryConfiguration.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#25486 fix: export VARIABLE_DOCUMENT records
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
Labels: component/zeebe

#25563 ci: build-platform-frontend takes at most ~10 mins, reduced timeout
  .github/workflows/ci.yml
Labels: component/build-pipeline

#25210 feat: c8run customize server port
  c8run/endpoints.txt
  c8run/internal/unix/stub.go
  c8run/internal/unix/unix.go
  c8run/internal/windows/stub.go
  c8run/internal/windows/windows.go
  c8run/main.go
  c8run/main_test.go
  c8run/types.go
Labels: component/c8run

#24816 test: use always CamundaExporter
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestStandaloneCamunda.java
Labels: component/zeebe

#25562 test: await processor to reach the end to account for internal processing
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/streamprocessor/ReachEndOfLogTest.java
Labels: component/zeebe

#25538 feat: remove BackupManager and its implementations
  dist/src/main/java/io/camunda/application/commons/backup/ElasticsearchBackupRepository.java
  dist/src/main/java/io/camunda/application/commons/backup/ElasticsearchTasklistBackupRepository.java
  dist/src/main/java/io/camunda/application/commons/backup/OpensearchBackupRepository.java
  dist/src/main/java/io/camunda/application/commons/backup/OpensearchTasklistBackupRepository.java
  operate/webapp/pom.xml
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistIntegrationTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TestApplication.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/apps/modules/ModulesTestApplication.java
  tasklist/webapp/pom.xml
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/backup/BackupManager.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/backup/Metadata.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/backup/es/BackupManagerElasticSearch.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/backup/os/BackupManagerOpenSearch.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/backup/os/GetCustomSnapshotResponse.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#25227 feat: log level flag in c8run
  c8run/main.go
  c8run/types.go
Labels: component/c8run

#25230 fix: makes metrics endpoint more clear in c8run
  c8run/endpoints.txt
Labels: component/c8run

#25441 pg-25290-task-template-refactor
  qa/integration-tests/src/test/java/io/camunda/it/exporter/UserTaskExporterIT.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/UserTaskFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/UserTaskQueryTransformerTest.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/tasklist/template/TaskTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/TaskJoinRelationship.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/template/tasklist-task.json
  webapps-schema/src/main/resources/schema/opensearch/create/template/tasklist-task.json
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UserTaskCompletionVariableHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UserTaskVariableHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/UserTaskCompletionVariableHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/UserTaskVariableHandlerTest.java
Labels: component/zeebe

#25576 refactor: remove intermediate test profile check in processors
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/es/ProcessInstanceZeebeRecordProcessorElasticSearch.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/os/ProcessInstanceZeebeRecordProcessorOpenSearch.java
  tasklist/importer-870/src/main/java/io/camunda/tasklist/zeebeimport/v870/processors/es/ProcessInstanceZeebeRecordProcessorElasticSearch.java
  tasklist/importer-870/src/main/java/io/camunda/tasklist/zeebeimport/v870/processors/os/ProcessInstanceZeebeRecordProcessorOpenSearch.java
  tasklist/importer-common/pom.xml
  tasklist/importer-common/src/main/java/io/camunda/tasklist/zeebeimport/util/EnvironmentUtil.java
Labels: component/tasklist

#25356 Add get group by user method to GroupService
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/GroupFilterTransformer.java
  search/search-domain/src/main/java/io/camunda/search/filter/GroupFilter.java
  service/src/main/java/io/camunda/service/GroupServices.java
  service/src/test/java/io/camunda/service/GroupServiceTest.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/usermanagement/index/GroupIndex.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/index/identity-groups.json
  webapps-schema/src/main/resources/schema/opensearch/create/index/identity-groups.json
Labels: component/zeebe

#25558 Add REST API Group create endpoint
  qa/integration-tests/src/test/java/io/camunda/it/auth/BasicAuthIT.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/GroupRequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserControllerTest.java
Labels: component/zeebe, component/c8-api

#25444 feat: Process instance search by multiple variables
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/filter/ProcessInstanceFilter.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/filter/ProcessInstanceFilterImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/process/QueryProcessInstanceTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceQueryTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/ServiceTransformers.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/ProcessInstanceFilterTransformer.java
  search/search-domain/src/main/java/io/camunda/search/filter/FilterBuilders.java
  search/search-domain/src/main/java/io/camunda/search/filter/ProcessInstanceFilter.java
  search/search-domain/src/main/java/io/camunda/search/filter/ProcessInstanceVariableFilter.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
Labels: component/zeebe, component/c8-api

#25598 deps: update zeebe and identity versions
  operate/config/docker-compose.identity.yml
  operate/config/docker-compose.mt.yml
  operate/config/docker-compose.opensearch-identity.yml
  operate/config/docker-compose.test.yml
  operate/docker-compose.opensearch-identity.yml
  operate/docker-compose.opensearch.yml
  operate/docker-compose.yml
  operate/pom.xml
  operate/qa/pom.xml
Labels: component/operate

#25484 feat: add DataUtilTest
  optimize/backend/src/test/java/io/camunda/optimize/service/util/DataUtilTest.java
Labels: component/optimize

#25354 Reject assignment operation from task listener
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/UserTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UserTaskAssignmentDeniedApplier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/UserTaskAssignmentDeniedApplierTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/UserTaskClient.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/UserTaskIntent.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UserTaskListenersTest.java
Labels: component/zeebe

#25574 fix: sanitise variable name aggregation strings
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/reader/DurationOutliersReaderES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/util/AggregationNameUtil.java
  optimize/backend/src/test/java/io/camunda/optimize/service/db/util/AggregationNameUtilTest.java
Labels: component/optimize

#25429 feat: Introduce `CLAIMING` event and lifecycle state for User Task
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/UserTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskAssignProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskClaimProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UserTaskClaimingApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/UserTaskState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/NativeUserTaskTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/usertask/ClaimUserTaskTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/UserTaskCorrectedApplierTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/UserTaskIntent.java
Labels: component/zeebe

#25440 Add validation of unsupported task listener event types
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/TaskListenerValidator.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/ZeebeDesignTimeValidators.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeTaskListenersValidationTest.java
Labels: component/zeebe

#25593 feat: remove Prio1Backup,Prio2Backup from tasklist
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/backup/BackupPriority.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/backup/Prio1Backup.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/backup/Prio2Backup.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/indices/ProcessIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/backup/BackupPriority.java
Labels: component/tasklist

#25613 deps: update Zeebe and Identity Version
  optimize/pom.xml
Labels: component/optimize

#25554 feat: search tasks by process instance variable
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/filter/UserTaskFilter.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/filter/UserTaskFilterImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/usertask/SearchUserTaskTest.java
  db/rdbms/src/main/resources/mapper/UserTaskMapper.xml
  qa/integration-tests/src/test/java/io/camunda/it/client/UserTaskQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/exporter/UserTaskExporterIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/usertask/UserTaskIT.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/UserTaskFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/UserTaskQueryTransformerTest.java
  search/search-domain/src/main/java/io/camunda/search/filter/UserTaskFilter.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
Labels: component/zeebe, component/c8-api

#25564 fix: add context path to Tasklist redirection urls #25534
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/identity/IdentityController.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/sso/SSOController.java
Labels: component/tasklist, backport stable/8.6

#25624 [Backport stable/8.6] fix: add context path to Tasklist redirection urls #25534
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/identity/IdentityController.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/sso/SSOController.java
Labels: component/tasklist

#25611 feat: backup filename starts with camunda_webapps instead of camunda_operate
  webapps-backup/src/main/java/io/camunda/webapps/backup/repository/WebappsSnapshotNameProvider.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#25499 I can activate activities when entering an ad-hoc subprocess
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/Bpmn.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/AbstractAdHocSubProcessBuilder.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/impl/ZeebeConstants.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/impl/instance/zeebe/ZeebeAdHocImpl.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/instance/zeebe/ZeebeAdHoc.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/builder/AdHocSubProcessBuilderTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/AdHocSubProcessProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableAdHocSubProcess.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/AdHocSubProcessTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/validation/ZeebeRuntimeValidators.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/AdHocSubProcessValidatorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/incident/AdHocSubProcessIncidentTest.java
Labels: component/zeebe

#24993 feat: include form metadata in reconstructed deployment
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/DeploymentReconstructProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/deployment/DbFormState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/deployment/DeploymentResourceUtil.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/FormState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/DeploymentReconstructProcessorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/deployment/FormStateTest.java
Labels: component/zeebe

#25572 Create fully working incident update task (old post-importer)
  qa/integration-tests/src/test/java/io/camunda/it/exporter/IncidentUpdateIT.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/BackgroundTaskManager.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/BackgroundTaskManagerFactory.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/ReschedulingTask.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/ElasticsearchIncidentUpdateRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/IncidentUpdateRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/OpenSearchIncidentUpdateRepository.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/BackgroundTaskManagerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/incident/IncidentUpdateRepositoryIT.java
Labels: component/zeebe

#25609 refactor: decouple CamundaSecurityConfiguration from REST enabled
  dist/src/main/java/io/camunda/application/commons/migration/IdentityMigrationModuleConfiguration.java
  dist/src/main/java/io/camunda/application/commons/security/CamundaSecurityConfiguration.java
  dist/src/main/java/io/camunda/application/commons/service/CamundaServicesConfiguration.java
  dist/src/main/java/io/camunda/application/commons/service/ServiceSecurityConfiguration.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/properties/PropertiesIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/sso/AuthenticationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/sso/AuthenticationWithPersistentSessionsIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/sso/CsrfTokenIT.java
  qa/integration-tests/src/test/java/io/camunda/it/operate/OperatePermissionsIT.java
  qa/integration-tests/src/test/java/io/camunda/it/utils/BrokerWithCamundaExporterITInvocationProvider.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#25636 feat: log indices in history-backup at startup
  dist/src/main/java/io/camunda/application/commons/backup/HistoryBackupComponent.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#25642 release: merge release branch 8.5.9
  distro/pom.xml
  operate/archiver/pom.xml
  operate/client/pom.xml
  operate/common/pom.xml
  operate/data-generator/pom.xml
  operate/importer-8_4/pom.xml
  operate/importer-8_5/pom.xml
  operate/importer-common/pom.xml
  operate/importer/pom.xml
  operate/mvc-auth-commons/pom.xml
  operate/pom.xml
  operate/qa/backup-restore-tests/pom.xml
  operate/qa/batch-operation-performance-tests/pom.xml
  operate/qa/data-generator/pom.xml
  operate/qa/import-performance-tests/pom.xml
  operate/qa/integration-tests/pom.xml
  operate/qa/migration-performance-test/pom.xml
  operate/qa/migration-tests/migration-test/pom.xml
  operate/qa/migration-tests/pom.xml
  operate/qa/migration-tests/test-fixture-110/pom.xml
  operate/qa/migration-tests/test-fixture-120/pom.xml
  operate/qa/migration-tests/test-fixture-130/pom.xml
  operate/qa/migration-tests/test-fixture-800/pom.xml
  operate/qa/migration-tests/test-fixture-810/pom.xml
  operate/qa/migration-tests/test-fixture-820/pom.xml
  operate/qa/migration-tests/test-fixture-830/pom.xml
  operate/qa/migration-tests/test-fixture-840/pom.xml
  operate/qa/pom.xml
  operate/qa/query-performance-tests/pom.xml
  operate/qa/util/pom.xml
  operate/schema/pom.xml
  operate/webapp/pom.xml
Labels: component/operate

#25617 Assign priority of indices based on new requirements
  dist/src/main/java/io/camunda/application/commons/backup/HistoryBackupComponent.java
  operate/schema/src/main/java/io/camunda/operate/schema/indices/UserIndex.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/indices/UserIndex.java
  webapps-backup/src/main/java/io/camunda/webapps/backup/BackupServiceImpl.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/backup/Prio5Backup.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/index/DecisionIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/index/DecisionRequirementsIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/index/ImportPositionIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/index/MetricIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/index/ProcessIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/DecisionInstanceTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/EventTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/FlowNodeInstanceTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/IncidentTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/JobTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/MessageTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/PostImporterQueueTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/SequenceFlowTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/UserTaskTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/VariableTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/tasklist/index/FormIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/tasklist/index/TasklistMetricIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/tasklist/template/DraftTaskVariableTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/tasklist/template/SnapshotTaskVariableTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/tasklist/template/TaskTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/usermanagement/index/AuthorizationIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/usermanagement/index/GroupIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/usermanagement/index/MappingIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/usermanagement/index/PersistentWebSessionIndexDescriptor.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/usermanagement/index/RoleIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/usermanagement/index/TenantIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/usermanagement/index/UserIndex.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#25625 deps: update 8.7.0-alpha2 to new versions of zeebe and identity
  optimize/pom.xml
Labels: component/optimize

#25649 test: improve resilience of cached test result extension
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/junit/CachedTestResultsExtension.java
Labels: component/zeebe

#25643 fix: Tasklist redirections are not working properly after login
  dist/pom.xml
  dist/src/main/java/io/camunda/operate/webapp/controllers/OperateIndexController.java
  dist/src/main/java/io/camunda/tasklist/webapp/controllers/TasklistIndexController.java
  dist/src/main/java/io/camunda/webapps/controllers/IndexController.java
  dist/src/main/java/io/camunda/webapps/controllers/WebappsRequestForwardManager.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/BaseWebConfigurer.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/OperateURIs.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/identity/IdentityController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/sso/SSOController.java
  tasklist/webapp/pom.xml
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/TasklistURIs.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/identity/IdentityController.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/identity/IdentityWebSecurityConfig.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/sso/SSOController.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/sso/SSOWebSecurityConfig.java
  webapps-common/pom.xml
  webapps-common/src/main/java/io/camunda/webapps/util/HttpUtils.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, backport stable/8.6

#25623 feat: create default tenant on startup
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/IdentitySetupInitializeProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/IdentitySetupInitializer.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionIdempotencyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/IdentitySetupClient.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/authorization/IdentitySetupRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/IdentitySetupRecordValue.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/processing/IdentitySetupInitializerIT.java
Labels: component/zeebe

#25578 refactor: re-introduce Query Types in Tasklist
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/elasticsearch/FormStoreElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/elasticsearch/TaskStoreElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/elasticsearch/VariableStoreElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/opensearch/FormStoreOpenSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/opensearch/TaskStoreOpenSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/opensearch/VariableStoreOpenSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/util/ElasticsearchUtil.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/util/OpenSearchUtil.java
Labels: component/operate, component/tasklist

#25602 Add Group REST API update endpoint
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/GroupRequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupControllerTest.java
Labels: component/zeebe, component/c8-api

#25656 fix: include start.sh and shutdown.sh in c8run
  c8run/package.go
Labels: component/c8run

#25603 Add group delete REST API endpoint
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupControllerTest.java
Labels: component/zeebe, component/c8-api

#25658 ci: add lint rule to check for Caching Strategy best practices and fix problems
  .github/conftest-gha-best-practices.rego
  .github/workflows/ci.yml
  .github/workflows/operate-frontend.yml
Labels: component/build-pipeline, component/operate, backport stable/8.6, backport stable/optimize-8.6

#25660 fix: enable full annotation processing for protocol module
  zeebe/protocol/pom.xml
Labels: component/zeebe

#25664 feat: upgrade plan to 8.6.4 from 8.6.3
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/plan/factories/Upgrade863To864PlanFactory.java
Labels: component/optimize

#24091 Use tasklist-task index on Operate
  operate/importer-8_6/pom.xml
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/v8_6/processors/ImportBulkProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/v8_6/processors/UserTaskZeebeRecordProcessor.java
  operate/importer-8_6/src/test/java/io/camunda/operate/zeebeimport/v8_6/processors/UserTaskZeebeRecordProcessorTest.java
  operate/importer-8_7/pom.xml
  operate/importer-8_7/src/main/java/io/camunda/operate/zeebeimport/processors/ImportBulkProcessor.java
  operate/importer-8_7/src/main/java/io/camunda/operate/zeebeimport/processors/UserTaskZeebeRecordProcessor.java
  operate/importer-8_7/src/test/java/io/camunda/operate/zeebeimport/processors/UserTaskZeebeRecordProcessorTest.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/MigrateProcessInstanceOperationZeebeIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/ElasticsearchChecks.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/IndexTemplateDescriptorsConfigurator.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/OpensearchChecks.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/UserTaskZeebeImportIT.java
  operate/schema/src/main/java/io/camunda/operate/schema/IndexTemplateDescriptorsConfigurator.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/ElasticsearchUserTaskReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/reader/OpensearchUserTaskReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/reader/UserTaskReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/FlowNodeInstanceMetadataBuilder.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/rest/FlowNodeInstanceMetadataBuilderTest.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/IndexTemplateDescriptorsConfigurator.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/UserTaskTemplate.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/template/operate-user-task.json
  webapps-schema/src/main/resources/schema/opensearch/create/template/operate-user-task.json
Labels: component/operate

#25615 fix: do not close active channels on first response timeout
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/MessagingConfig.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/NettyMessagingServiceTest.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering/ClusterConfigFactory.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/NetworkCfg.java
Labels: backport stable/8.3, backport stable/8.4, component/zeebe, component/operate, backport stable/8.5, component/tasklist, component/optimize, backport stable/8.6

#25648 bugfix: double-redirection to home page to fix auth issue in optimize
  optimize/backend/src/main/java/io/camunda/optimize/service/security/authentication/CCSMAuthenticationService.java
  optimize/client/public/static/redirect.html
Labels: component/optimize

#25514 feat: add delete mapping api endpoint
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingControllerTest.java
Labels: component/zeebe, component/c8-api

#25647 bugfix: double-redirection to home page to fix auth issue in optimize
  optimize/backend/src/main/java/io/camunda/optimize/service/security/authentication/CCSMAuthenticationService.java
  optimize/client/public/static/redirect.html
Labels: component/optimize

#25304 refactor: rename identity indices
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/AuthorizationFilterTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/GroupFilterTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/MappingFilterTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/RoleFilterTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/TenantFilterTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/UserFilterTransformer.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/ComponentNames.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/usermanagement/UserManagementIndexDescriptor.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/usermanagement/index/AuthorizationIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/usermanagement/index/GroupIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/usermanagement/index/MappingIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/usermanagement/index/TenantIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/usermanagement/index/UserIndex.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/index/camunda-authorization.json
  webapps-schema/src/main/resources/schema/elasticsearch/create/index/camunda-group.json
  webapps-schema/src/main/resources/schema/elasticsearch/create/index/camunda-mapping.json
  webapps-schema/src/main/resources/schema/elasticsearch/create/index/camunda-role.json
  webapps-schema/src/main/resources/schema/elasticsearch/create/index/camunda-tenant.json
  webapps-schema/src/main/resources/schema/elasticsearch/create/index/camunda-user.json
  webapps-schema/src/main/resources/schema/elasticsearch/create/index/camunda-web-session.json
  webapps-schema/src/main/resources/schema/opensearch/create/index/camunda-authorization.json
  webapps-schema/src/main/resources/schema/opensearch/create/index/camunda-group.json
  webapps-schema/src/main/resources/schema/opensearch/create/index/camunda-mapping.json
  webapps-schema/src/main/resources/schema/opensearch/create/index/camunda-role.json
  webapps-schema/src/main/resources/schema/opensearch/create/index/camunda-tenant.json
  webapps-schema/src/main/resources/schema/opensearch/create/index/camunda-user.json
  webapps-schema/src/main/resources/schema/opensearch/create/index/camunda-web-session.json
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/util/AuthorizationsUtil.java
Labels: component/zeebe

#25685 fix: include package.sh in c8run for backwards compatibility
  c8run/package.bat
  c8run/package.go
  c8run/package.sh
Labels: component/c8run

#25454 impl: bring job listeners to Camunda exporter
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/JobTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/JobEntity.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/template/operate-job.json
  webapps-schema/src/main/resources/schema/opensearch/create/template/operate-job.json
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/JobHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/JobHandlerTest.java
Labels: component/zeebe

#25547 fix: use the resource loading cache correctly
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/deployment/DbResourceState.java
Labels: component/zeebe

#25632 feat: A process instance completes an ad-hoc subprocess when the last child instance is completed
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/AdHocSubProcessProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/compensation/CompensationEventCompatibilityTest.java
Labels: component/zeebe

#25662 [Backport stable/optimize-8.6] ci: add lint rule to check for Caching Strategy best practices and fix problems
  .github/workflows/ci.yml
  .github/workflows/operate-frontend.yml
Labels: component/build-pipeline, component/operate

#25661 [Backport stable/8.6] ci: add lint rule to check for Caching Strategy best practices and fix problems
  .github/workflows/ci.yml
  .github/workflows/operate-frontend.yml
Labels: component/build-pipeline, component/operate

#25689 build: migrate local Operate dev setup to new exporter
  operate/Makefile
Labels: component/operate

#25688 feat: add Prio6Backup marker interface and use it in BackupServiceImpl
  dist/src/main/java/io/camunda/application/commons/backup/HistoryBackupComponent.java
  webapps-backup/src/main/java/io/camunda/webapps/backup/BackupServiceImpl.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/backup/Prio6Backup.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#25634 feat: verify permissions of groups
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorTest.java
Labels: component/zeebe

#25670 [Backport stable/8.5] fix: do not close active channels on first response timeout
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/MessagingConfig.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/NettyMessagingServiceTest.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering/ClusterConfigFactory.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/NetworkCfg.java
Labels: component/zeebe

#25705 ci: fix tasklist CI metrics sending
  .github/actions/observe-build-status/action.yml
  .github/conftest-gha-best-practices.rego
  .github/workflows/tasklist-ci.yml
  .github/workflows/tasklist-merge-ci.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#25680 8.7.0-alpha2 - optimize - Merge release branch into main
  optimize/backend/pom.xml
  optimize/pom.xml
Labels: component/optimize

#25665 fix: ignore inherited permissions when adding or removing
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/PermissionsBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobBatchCollector.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AddPermissionAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/RemovePermissionAuthorizationTest.java
Labels: component/zeebe

#25516 feat: add mapping search api endpoint
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingQueryController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingQueryControllerTest.java
Labels: component/zeebe, component/c8-api

#25413 Exporter flushing when importing is done
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/config/ExporterConfiguration.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/SearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/elasticsearch/ElasticsearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/opensearch/OpensearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/utils/SearchEngineClientUtils.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/ElasticsearchEngineClientIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/OpensearchEngineClientIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/SearchClientAdapter.java
Labels: component/zeebe, component/operate

#25728 fix: only create one CREATED event per form on distribution
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/DeploymentCreateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/CreateDeploymentMultiplePartitionsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/FormDeploymentTest.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/RecordStream.java
Labels: backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5, backport stable/8.6

#25630 Local suffixed variable handling
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UserTaskVariableHandler.java
Labels: component/zeebe

#25747 [Backport stable/8.6] fix: only create one CREATED event per form on distribution
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/DeploymentCreateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/CreateDeploymentMultiplePartitionsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/FormDeploymentTest.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/RecordStream.java
Labels: component/zeebe

#25746 [Backport stable/8.5] fix: only create one CREATED event per form on distribution
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/DeploymentCreateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/CreateDeploymentMultiplePartitionsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/FormDeploymentTest.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/RecordStream.java
Labels: component/zeebe

#25702 fix: register `JobHandler` in resource provider
  .github/workflows/operate-e2e-tests.yml
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
Labels: component/build-pipeline, component/zeebe, component/operate

#25653 Simplify DbAuthorizationState
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/AuthorizationKey.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbAuthorizationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/Permissions.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/ResourceIdentifiers.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/AuthorizationStateTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/encoding/MsgPackConverter.java
  zeebe/protocol/ignored-changes.json
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
Labels: component/zeebe

#25723 fix: adding a check to avoid misleading log message
  optimize/backend/src/main/java/io/camunda/optimize/service/collection/CollectionRoleService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/os/writer/InstantDashboardMetadataWriterOS.java
  optimize/backend/src/main/java/io/camunda/optimize/service/importing/CustomerOnboardingDataImportService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/importing/engine/service/StorePositionBasedIndexImportService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/importing/engine/service/StoreTimestampBasedImportIndexImportService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/report/ReportService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/security/AuthorizedCollectionService.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/schema/DatabaseMetadataService.java
Labels: component/optimize, backport stable/optimize-8.6

#25536 feat: DmnModelUtilTest add test
  optimize/backend/src/test/java/io/camunda/optimize/service/util/DmnModelUtilTest.java
Labels: component/optimize

#25608 feat: add DurationFormatterUtilTest
  optimize/backend/src/test/java/io/camunda/optimize/service/util/DurationFormatterUtilTest.java
Labels: component/optimize

#25616 Default import position documents for record readers
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/elasticsearch/ElasticsearchRecordsReader.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/opensearch/OpensearchRecordsReader.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/FinishedImportingIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/OpensearchFinishedImportingIT.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/RecordsReaderAbstract.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchFinishedImportingIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpensearchFinishedImportingIT.java
Labels: component/operate, component/tasklist

#25682 refactor: export snapshot variable on user task completion
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/IndexTemplateDescriptorsConfigurator.java
  operate/schema/src/main/java/io/camunda/operate/schema/IndexTemplateDescriptorsConfigurator.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/ElasticsearchUserTaskReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/reader/OpensearchUserTaskReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/reader/UserTaskReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/FlowNodeInstanceMetadataBuilder.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/rest/FlowNodeInstanceMetadataBuilderTest.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/IndexTemplateDescriptorsConfigurator.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/TasklistIndexTemplateDescriptorsConfigurator.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/elasticsearch/TaskStoreElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/elasticsearch/VariableStoreElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/opensearch/TaskStoreOpenSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/opensearch/VariableStoreOpenSearch.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/es/UserTaskZeebeRecordProcessorElasticSearch.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/os/UserTaskZeebeRecordProcessorOpenSearch.java
  tasklist/importer-870/src/main/java/io/camunda/tasklist/zeebeimport/v870/processors/es/UserTaskZeebeRecordProcessorElasticSearch.java
  tasklist/importer-870/src/main/java/io/camunda/tasklist/zeebeimport/v870/processors/os/UserTaskZeebeRecordProcessorOpenSearch.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/ElasticsearchChecks.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/ElasticsearchHelper.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/OpenSearchChecks.java
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/TasklistIndexTemplateDescriptorsConfigurator.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UserTaskCompletionVariableHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/UserTaskCompletionVariableHandlerTest.java
Labels: component/zeebe, component/operate, component/tasklist

#24986 feat: draft pipeline for AWS OS
  .github/workflows/zeebe-aws-os-dispatch-tests.yml
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/AWSSearchDBExtension.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/ContainerizedSearchDBExtension.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchClientIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/SearchDBExtension.java
Labels: component/build-pipeline, component/zeebe

#25384 feat: create rest process cache & adjust controllers to use it
  dist/src/main/java/io/camunda/application/commons/rest/RestApiConfiguration.java
  qa/integration-tests/pom.xml
  qa/integration-tests/src/test/java/io/camunda/it/rest/GatewayRestConfigurationTest.java
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/cache/ProcessCache.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/cache/ProcessCacheItem.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/GatewayRestConfiguration.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/FlowNodeInstanceQueryController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/UserTaskQueryController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/util/XmlUtil.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/cache/ProcessCacheTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DecisionInstanceQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/FlowNodeInstanceQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserTaskQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/VariablesQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/util/XmlUtilTest.java
  zeebe/gateway-rest/src/test/resources/xmlUtil-test1.bpmn
  zeebe/gateway-rest/src/test/resources/xmlUtil-test2.bpmn
  zeebe/gateway-rest/src/test/resources/xmlUtil-test3.bpmn
  zeebe/gateway-rest/src/test/resources/xmlUtil-test4.bpmn
Labels: component/zeebe, component/operate, component/c8-api, component/tasklist, component/optimize

#25774 fix: user task local variable fix flushing
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UserTaskVariableHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/UserTaskVariableHandlerTest.java
Labels: component/zeebe

#25770 refactor: fallback to legacy authorization configuration
  dist/src/main/resources/application-tasklist.properties
  tasklist/common/src/main/java/io/camunda/tasklist/property/IdentityProperties.java
  tasklist/els-schema/pom.xml
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/elasticsearch/ProcessStoreElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/opensearch/ProcessStoreOpenSearch.java
  tasklist/webapp/pom.xml
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/identity/IdentityAuthentication.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/identity/IdentityAuthorizationServiceImpl.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/es/cache/ProcessStoreElasticSearchTest.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/es/cache/ProcessStoreOpenSearchTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#25701 feat: add local variables search
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/filter/UserTaskFilter.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/filter/UserTaskFilterImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/usertask/SearchUserTaskTest.java
  db/rdbms/src/main/resources/mapper/UserTaskMapper.xml
  qa/integration-tests/src/test/java/io/camunda/it/client/UserTaskQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/usertask/UserTaskIT.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/UserTaskFilterTransformer.java
  search/search-domain/src/main/java/io/camunda/search/filter/UserTaskFilter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UserTaskVariableHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/UserTaskVariableHandlerTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
Labels: component/zeebe, component/c8-api

#25771 Support activating Inclusive Gateway via Process Instance Modification
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceModifiedEventApplier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ModifyProcessInstanceTest.java
Labels: backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5, backport stable/8.6

#25788 [Backport stable/8.6] Support activating Inclusive Gateway via Process Instance Modification
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceModifiedEventApplier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ModifyProcessInstanceTest.java
Labels: component/zeebe

#25249 feat: add support for execution listeners for process and participants
  operate/client/e2e-playwright/tests/processInstanceListeners.mocks.ts
  operate/client/e2e-playwright/tests/processInstanceListeners.spec.ts
  operate/client/e2e-playwright/tests/resources/processWithListenerOnRoot.bpmn
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/index.tsx
Labels: component/operate, component/frontend

#24902 feat: added incident support to RDBMS #23270
  db/rdbms/src/main/java/io/camunda/db/rdbms/RdbmsService.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/IncidentDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/IncidentReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/FlowNodeInstanceMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/IncidentMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/ProcessInstanceMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/columns/IncidentSearchColumn.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/FlowNodeInstanceDbModel.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/IncidentDbModel.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/ProcessInstanceDbModel.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/queue/ContextType.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/FlowNodeInstanceWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/IncidentWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/ProcessInstanceWriter.java
  db/rdbms/src/main/resources/db/changelog/rdbms-support/changesets/create_engine.xml
  db/rdbms/src/main/resources/mapper/FlowNodeInstanceMapper.xml
  db/rdbms/src/main/resources/mapper/IncidentMapper.xml
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
  dist/src/main/java/io/camunda/application/commons/rdbms/MyBatisConfiguration.java
  dist/src/main/java/io/camunda/application/commons/rdbms/RdbmsConfiguration.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/IncidentFixtures.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/flownodeinstance/FlowNodeInstanceIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/incident/IncidentIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/incident/IncidentSortIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/incident/IncidentSpecificFilterIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/processinstance/ProcessInstanceIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/exporter/RdbmsExporterIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/exporter/RecordFixtures.java
  search/search-client-rdbms/src/main/java/io/camunda/search/rdbms/RdbmsSearchClient.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/FlowNodeInstanceIncidentExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/IncidentExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/ProcessInstanceExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/ProcessInstanceIncidentExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporter.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/rdbms

#25796 ci: revert Tasklist E2E tests to old ES exporter
  .github/workflows/tasklist-e2e-tests.yml
Labels: component/build-pipeline, component/tasklist

#25787 [Backport stable/8.5] Support activating Inclusive Gateway via Process Instance Modification
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceModifiedEventApplier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ModifyProcessInstanceTest.java
Labels: component/zeebe

#25805 21437 revert accidental upgrades
  .github/workflows/operate-a11y.yml
  .github/workflows/operate-playwright.yml
  .github/workflows/operate-update-docs-screenshots.yml
  .github/workflows/tasklist-ci-fe-reusable.yml
  .github/workflows/tasklist-update_visual_snapshots.yml
  c8run/e2e_tests/package-lock.json
  identity/client/package.json
  identity/client/yarn.lock
  operate/client/package.json
  operate/client/yarn.lock
  optimize/c4/package.json
  optimize/c4/yarn.lock
  optimize/client/package.json
  optimize/client/yarn.lock
  tasklist/client/package.json
  tasklist/client/yarn.lock
Labels: component/build-pipeline, component/operate, component/tasklist, component/identity, component/optimize

#25717 ci: migrate Tasklist FE tests to Unified CI
  .github/actions/paths-filter/action.yml
  .github/conftest-gha-best-practices.rego
  .github/workflows/ci.yml
  .github/workflows/tasklist-ci-fe-reusable.yml
  .github/workflows/tasklist-ci.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#25802 feat: simplified AWS OS IT tests for OS exporter
  .github/workflows/zeebe-aws-os-dispatch-tests.yml
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchClientIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/SearchDBExtension.java
Labels: component/build-pipeline, component/zeebe

#25469 test: rework OperatePermissionsIT
  qa/integration-tests/src/test/java/io/camunda/it/operate/OperatePermissionsIT.java
  qa/integration-tests/src/test/java/io/camunda/it/utils/BrokerWithCamundaExporterITInvocationProvider.java
  qa/util/pom.xml
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestRestOperateClient.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestStandaloneCamunda.java
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/util/pom.xml
  zeebe/qa/util/src/main/java/io/camunda/zeebe/it/util/AuthorizationsUtil.java
Labels: component/zeebe, component/operate

#25551 Feature/25031 support authorization in rdbms
  db/rdbms/pom.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/RdbmsService.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/AuthorizationDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/AbstractEntityReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/AuthorizationReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/AuthorizationMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/columns/AuthorizationSearchColumn.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/AuthorizationDbModel.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/AuthorizationPermissionDbModel.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/queue/ContextType.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/AuthorizationWriter.java
  db/rdbms/src/main/resources/db/changelog/rdbms-support/changesets/create_engine.xml
  db/rdbms/src/main/resources/mapper/AuthorizationsMapper.xml
  dist/src/main/java/io/camunda/application/commons/rdbms/MyBatisConfiguration.java
  dist/src/main/java/io/camunda/application/commons/rdbms/RdbmsConfiguration.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/authorization/AuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/authorization/AuthorizationSortIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/authorization/AuthorizationSpecificFilterIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/AuthorizationFixtures.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/exporter/RdbmsExporterIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/exporter/RecordFixtures.java
  search/search-client-rdbms/src/main/java/io/camunda/search/rdbms/RdbmsSearchClient.java
  zeebe/exporters/rdbms-exporter/pom.xml
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/AuthorizationExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporter.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/rdbms

#25752 fix: do not generate keys in scheduled task to setup identity
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/DeploymentReconstructProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/IdentitySetupInitializeProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/IdentitySetupProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/IdentitySetupInitializer.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/authorization/IdentitySetupRecord.java
Labels: component/zeebe

#25594 feat: add rdbms exporter to exporter e2e tests #24202
  qa/integration-tests/pom.xml
  qa/integration-tests/src/test/java/io/camunda/it/auth/DecisionAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/DecisionInstanceAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/ProcessAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/ProcessInstanceAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/UserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/client/DecisionInstanceQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/exporter/DecisionExporterIT.java
  qa/integration-tests/src/test/java/io/camunda/it/exporter/IncidentExporterIT.java
  qa/integration-tests/src/test/java/io/camunda/it/exporter/IncidentUpdateIT.java
  qa/integration-tests/src/test/java/io/camunda/it/exporter/UserTaskExporterIT.java
  qa/integration-tests/src/test/java/io/camunda/it/exporter/VariableHandlerIT.java
  qa/integration-tests/src/test/java/io/camunda/it/utils/BrokerITInvocationProvider.java
  qa/integration-tests/src/test/java/io/camunda/it/utils/ZeebeClientTestFactory.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporter.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestSpringApplication.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
Labels: component/zeebe

#25666 feat: add custom keystore/truststore config for zeebe client
  clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsProvider.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsProviderBuilder.java
  clients/java/src/test/java/io/camunda/zeebe/client/OAuthCredentialsProviderBuilderTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/OAuthCredentialsProviderTest.java
  clients/java/src/test/resources/idp-ssl/identity.p12
  clients/java/src/test/resources/idp-ssl/localhost.p12
  clients/java/src/test/resources/idp-ssl/truststore.jks
  clients/java/src/test/resources/idp-ssl/untruststore.jks
Labels: component/zeebe

#25600 feat: save Tasklist OS notifications close on localStorage
  tasklist/client/src/Tasks/Task/Details/TurnOnNotificationPermission.module.scss
  tasklist/client/src/Tasks/Task/Details/TurnOnNotificationPermission.test.tsx
  tasklist/client/src/Tasks/Task/Details/TurnOnNotificationPermission.tsx
  tasklist/client/src/modules/utils/localStorage/index.tsx
Labels: component/tasklist

#25735 fix: bump to 8.7.0-alpha2 in c8run
  c8run/main.go
  c8run/package.go
  c8run/package.sh
Labels: component/c8run

#25678 fix: C8run 8.6 version bumps
  c8run/internal/run.sh
  c8run/package.bat
  c8run/package.sh
  c8run/windows/c8run_windows.go
Labels: component/c8run

#25853 fix: add go build to package.bat
  c8run/package.bat
Labels: component/c8run

#25804 refactor: use full index name in logs
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/IndexSchemaValidator.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/elasticsearch/ElasticsearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/opensearch/OpensearchEngineClient.java
Labels: component/zeebe

#25867 fix: typo in multiTenancy parameter
  dist/src/main/resources/application-broker.properties
  dist/src/main/resources/application-gateway.properties
  dist/src/main/resources/application-operate.properties
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#25618 Add group rest api user endpoints
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupControllerTest.java
Labels: component/zeebe, component/c8-api
