Repository camunda/camunda, pull requests merged in 2024-06, with the labels that each got.

#19024 refactor: Fix formatting
  tasklist/client/e2e/docs/docs-snapshots.spec.ts
  tasklist/client/e2e/visual/start-process-from-form-page.spec.ts
Labels: component/tasklist

#19025 test: Update screenshots
  tasklist/client/e2e/docs/docs-snapshots.spec.ts
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-advanced-filters-1-chromium-linux.png
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-advanced-filters-2-chromium-linux.png
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-claim-a-task-1-chromium-linux.png
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-claimed-a-task-1-chromium-linux.png
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-completed-a-task-1-chromium-linux.png
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-empty-tasklist-1-chromium-linux.png
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-populated-tasklist-1-chromium-linux.png
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-populated-tasklist-ordering-1-chromium-linux.png
  tasklist/client/e2e/pages/TaskPanelPage.ts
  tasklist/client/e2e/visual/tasks-page.spec.ts
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-custom-filters-modal-1-chromium-linux.png
Labels: component/tasklist

#19000 Processing paused error message
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/startup/ZeebePartitionFactory.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/BrokerAdminServiceImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionStartupAndTransitionContextImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionTransitionContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/StreamProcessorTransitionStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestHandler.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiServiceImpl.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/TestPartitionTransitionContext.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestHandlerTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/system/BrokerAdminServiceTest.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessorBuilder.java
Labels: component/zeebe

#19032 deps: update commons-compress dependency correctly and remove old spring boot transitive version pins
  operate/client/package.json
  operate/pom.xml
Labels: component/operate

#19030 [Backport stable/8.4] Do not reset snapshot replication when a single request timedout
  atomix/cluster/src/main/java/io/atomix/raft/roles/LeaderAppender.java
  atomix/cluster/src/main/java/io/atomix/raft/roles/PassiveRole.java
  atomix/cluster/src/test/java/io/atomix/raft/RaftSnapshotReplicationFailureHandlingTest.java
  atomix/cluster/src/test/java/io/atomix/raft/protocol/TestRaftProtocolFactory.java
  atomix/cluster/src/test/java/io/atomix/raft/protocol/TestRaftServerProtocol.java
  atomix/cluster/src/test/java/io/atomix/raft/snapshot/InMemorySnapshot.java
  snapshot/src/main/java/io/camunda/zeebe/snapshots/SnapshotChunkReader.java
  snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotChunkReader.java
  snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotChunkReaderTest.java
Labels: backport stable/8.2, backport stable/8.3

#19036 deps: update dependency-analyzer plugin to fixed 1.14.1 version
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist

#19039 fix: download/upload release artifacts from separate directory
  .github/workflows/camunda-platform-release.yml
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, backport stable/8.5

#19041 feat: explain how to start Camunda (Single Application)
  dist/OPERATE_README.txt
  dist/README.txt
  dist/src/main/assembly.xml
Labels: component/zeebe, component/operate, component/tasklist

#19047 [Backport stable/8.5] fix: download/upload release artifacts from separate directory
  .github/workflows/zeebe-release.yml
Labels: component/zeebe

#19060 Make EngineLargeStatePerformanceTest more lenient
  engine/src/test/java/io/camunda/zeebe/engine/perf/EngineLargeStatePerformanceTest.java
Labels: backport stable/8.2, backport stable/8.4, backport stable/8.5

#18870 fix: log stream flow control metrics
  monitor/grafana/zeebe.json
Labels: component/zeebe

#18993 fix: add allowlist to SortValuesWrapper to prevent untrusted deserialization [Backport stable/operate-8.5]
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/listview/SortValuesWrapper.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/rest/dto/listview/SortValuesWrapperTest.java
Labels: component/operate

#18618 feat: dynamic schema update feature PR
  tasklist/.idea/compiler.xml
  tasklist/common/src/main/java/io/camunda/tasklist/property/TasklistElasticsearchProperties.java
  tasklist/common/src/main/java/io/camunda/tasklist/property/TasklistOpenSearchProperties.java
  tasklist/common/src/main/java/io/camunda/tasklist/property/TasklistProperties.java
  tasklist/els-schema/pom.xml
  tasklist/els-schema/src/main/java/io/camunda/tasklist/es/IndexSchemaValidatorElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/es/RetryElasticsearchClient.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/os/IndexSchemaValidatorOpenSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/os/RetryOpenSearchClient.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/IndexMapping.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/IndexMappingDifference.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/IndexSchemaValidator.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/SchemaStartup.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/indices/AbstractIndexDescriptor.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/indices/IndexDescriptor.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/ElasticsearchSchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/OpenSearchSchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/SchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/templates/AbstractTemplateDescriptor.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/util/ElasticsearchJSONUtil.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/util/IndexSchemaValidatorUtil.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/IndexSchemaValidatorIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/SchemaCreationIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/IndexSchemaValidatorIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/ElasticsearchHelper.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/security/se/UserStoreIT.java
  tasklist/qa/integration-tests/src/test/resources/tasklist-test-opensearch.json
  tasklist/qa/integration-tests/src/test/resources/tasklist-test.json
  tasklist/qa/migration-tests/migration-test/src/test/java/io/camunda/tasklist/qa/migration/SchemaChangesTest.java
  tasklist/qa/migration-tests/migration-test/src/test/java/io/camunda/tasklist/qa/migration/util/AbstractMigrationTest.java
  tasklist/qa/migration-tests/migration-test/src/test/java/io/camunda/tasklist/qa/migration/util/EntityReader.java
Labels: component/tasklist

#19081 fix: AssignUserTaskTest is unstable
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AssignUserTaskTest.java
Labels: component/zeebe

#19064 [Backport stable/8.5] ci: adjust after repository rename
  .github/actions/setup-zeebe/action.yml
  .github/workflows/spring-boot-starter-camunda-sdk-ci.yml
  .github/workflows/zeebe-ci.yml
Labels: component/zeebe, component/operate

#19027 Stop redundant logging of first commit index
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
Labels: component/zeebe

#18194 feat: remove feature flag and msw mocks for operations panel status on batch modifications
  operate/client/e2e-playwright/mocks/decisions.mocks.ts
  operate/client/e2e-playwright/mocks/processes.mocks.ts
  operate/client/e2e-playwright/tests/batchMoveModification.spec.ts
  operate/client/e2e-playwright/tests/operations.spec.ts
  operate/client/e2e-playwright/tests/processInstanceMigration.spec.ts
  operate/client/e2e-playwright/visual/decisions.spec.ts-snapshots/decisions-page-filled-with-data-and-operations-panel-expanded---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/decisions.spec.ts-snapshots/decisions-page-filled-with-data-and-operations-panel-expanded---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/decisions.spec.ts-snapshots/decisions-page-optional-filters-visible---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/decisions.spec.ts-snapshots/decisions-page-optional-filters-visible---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-filled-with-data-and-operations-panel-expanded---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-filled-with-data-and-operations-panel-expanded---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-optional-filters-visible-part-1---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-optional-filters-visible-part-1---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-optional-filters-visible-part-2---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-optional-filters-visible-part-2---light-1-chromium-linux.png
  operate/client/src/modules/components/OperationsPanel/OperationsEntry/index.test.tsx
  operate/client/src/modules/components/OperationsPanel/OperationsEntry/index.tsx
  operate/client/src/modules/feature-flags.ts
  operate/client/src/modules/mock-server/handlers.ts
Labels: component/operate

#19078 refactor: Qualified ES and OS clients in Tasklist
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/es/AbstractArchiverJobElasticSearch.java
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/es/ArchiverUtilElasticSearch.java
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/es/ProcessInstanceArchiverJobElasticSearch.java
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/es/TaskArchiverJobElasticSearch.java
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/os/AbstractArchiverJobOpenSearch.java
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/os/ArchiverUtilOpenSearch.java
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/os/ProcessInstanceArchiverJobOpenSearch.java
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/os/TaskArchiverJobOpenSearch.java
  tasklist/common/src/main/java/io/camunda/tasklist/es/ElasticsearchConnector.java
  tasklist/common/src/main/java/io/camunda/tasklist/os/OpenSearchConnector.java
  tasklist/common/src/main/java/io/camunda/tasklist/tenant/TenantAwareElasticsearchClient.java
  tasklist/common/src/main/java/io/camunda/tasklist/tenant/TenantAwareOpenSearchClient.java
  tasklist/data-generator/src/main/java/io/camunda/tasklist/data/es/DevDataGeneratorElasticSearch.java
  tasklist/data-generator/src/main/java/io/camunda/tasklist/data/os/DevDataGeneratorOpenSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/es/ElasticsearchInternalTask.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/es/RetryElasticsearchClient.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/os/OpenSearchInternalTask.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/os/RetryOpenSearchClient.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/OpenSearchSchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/elasticsearch/DraftVariablesStoreElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/elasticsearch/FormStoreElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/elasticsearch/TaskMetricsStoreElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/elasticsearch/TaskStoreElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/elasticsearch/VariableStoreElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/opensearch/DraftVariablesStoreOpenSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/opensearch/FormStoreOpenSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/opensearch/TaskMetricsStoreOpenSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/opensearch/TaskStoreOpenSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/opensearch/VariableStoreOpenSearch.java
  tasklist/importer-common/src/main/java/io/camunda/tasklist/zeebeimport/es/AbstractImportBatchProcessorElasticSearch.java
  tasklist/importer-common/src/main/java/io/camunda/tasklist/zeebeimport/os/AbstractImportBatchProcessorOpenSearch.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/CUSTOMCopyProcessesFromOptimize.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/es/ImportJobElasticSearch.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/es/ImportPositionHolderElasticSearch.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/es/RecordsReaderElasticSearch.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/os/ImportJobOpenSearch.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/os/ImportPositionHolderOpenSearch.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/os/RecordsReaderOpenSearch.java
  tasklist/importer/src/test/java/io/camunda/tasklist/zeebeimport/ImportListenerTestElasticSearch.java
  tasklist/importer/src/test/java/io/camunda/tasklist/zeebeimport/ImportListenerTestOpenSearch.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchConnectorBasicAuthIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchConnectorSSLAuthIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/it/OneNodeArchiverIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchConnectorBasicAuthIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchConnectorSSLAuthIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/ElasticsearchHelper.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/ElasticsearchTestExtension.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/OpenSearchHelper.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/OpenSearchTestExtension.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistZeebeExtensionElasticSearch.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistZeebeExtensionOpenSearch.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/BackupServiceElasticSearchTest.java
  tasklist/qa/migration-tests/test-fixture-810/src/main/java/io/camunda/tasklist/qa/migration/v810/BasicProcessDataGenerator.java
  tasklist/qa/migration-tests/test-fixture-810/src/main/java/io/camunda/tasklist/qa/migration/v810/BigVariableProcessDataGenerator.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/internal/DevUtilExternalController.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/backup/es/BackupManagerElasticSearch.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/backup/os/BackupManagerOpenSearch.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/AssigneeMigratorElasticSearch.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/se/store/UserStoreElasticSearch.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/se/store/UserStoreOpenSearch.java
Labels: component/tasklist

#19093 bug: #18772 opensearch null bpmnxml
  tasklist/importer-850/src/main/java/io/camunda/tasklist/zeebeimport/v850/processors/es/ProcessZeebeRecordProcessorElasticSearch.java
  tasklist/importer-850/src/main/java/io/camunda/tasklist/zeebeimport/v850/processors/os/ProcessZeebeRecordProcessorOpenSearch.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/os/ProcessZeebeRecordProcessorOpenSearch.java
Labels: component/tasklist

#19043 feat: provides Elasticsearch transformers
  parent/pom.xml
  search/pom.xml
  search/search-client-elasticsearch/pom.xml
  search/search-client-elasticsearch/src/main/java/io/camunda/search/clients/ElasticsearchSearchClient.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/transformers/ElasticsearchTransformer.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/transformers/ElasticsearchTransformers.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/transformers/query/BoolQueryTransformer.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/transformers/query/ConstantScoreQueryTransformer.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/transformers/query/ExistsQueryTransformer.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/transformers/query/HasChildQueryTransformer.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/transformers/query/IdsQueryTransformer.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/transformers/query/MatchAllQueryTransformer.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/transformers/query/MatchNoneQueryTransformer.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/transformers/query/MatchQueryTransformer.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/transformers/query/PrefixQueryTransformer.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/transformers/query/QueryOptionTransformer.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/transformers/query/QueryTransformer.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/transformers/query/RangeQueryTransformer.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/transformers/query/TermQueryTransformer.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/transformers/query/TermsQueryTransformer.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/transformers/query/WildcardQueryTransformer.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/transformers/search/SearchQueryHitTransformer.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/transformers/search/SearchRequestTransformer.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/transformers/search/SearchResponseTransformer.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/transformers/sort/FieldSortTransformer.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/transformers/sort/SortOptionsTransformer.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/transformers/types/TypedValueTransformer.java
  search/search-client-elasticsearch/src/test/java/io/camunda/data/clients/ElasticsearchDataStoreClientTest.java
  search/search-client-elasticsearch/src/test/java/io/camunda/data/transformers/ElasticsearchTransfomersTest.java
  search/search-client-elasticsearch/src/test/java/io/camunda/data/transformers/SearchRequestTransformerTest.java
  search/search-client-elasticsearch/src/test/java/io/camunda/data/util/StubbedElasticsearchClient.java
  search/search-client/src/main/java/io/camunda/search/clients/query/SearchQueryBuilders.java
  search/search-client/src/main/java/io/camunda/search/clients/types/TypedValue.java
  search/search-client/src/main/java/io/camunda/util/CollectionUtil.java
Labels: component/zeebe, component/operate, component/tasklist

#19095 Update cached test executions periodically to avoid losing work
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/junit/CachedTestResultsExtension.java
Labels: component/zeebe

#19103 refactor: qualifying Tasklist conflicting beans
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/AbstractArchiverJob.java
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/ArchiverConfigurator.java
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/ArchiverStarter.java
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/ArchiverUtilAbstract.java
  tasklist/common/src/main/java/io/camunda/tasklist/zeebe/PartitionHolder.java
  tasklist/common/src/main/java/io/camunda/tasklist/zeebe/ZeebeConnector.java
  tasklist/data-generator/src/main/java/io/camunda/tasklist/data/DevDataGeneratorAbstract.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/SchemaStartup.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/ElasticsearchSchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/OpenSearchSchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/migration/es/ElasticSearchMigrator.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/migration/os/OpenSearchMigrator.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/ImportConfig.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/ImportPositionHolderAbstract.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/RecordsReaderAbstract.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/ZeebeImporter.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/es/ImportPositionHolderElasticSearch.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/os/ImportPositionHolderOpenSearch.java
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/TestElasticsearchSchemaManager.java
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/TestOpenSearchSchemaManager.java
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/TestSchemaStartup.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/StartupBean.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/backup/es/BackupManagerElasticSearch.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/backup/os/BackupManagerOpenSearch.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/se/store/UserStoreElasticSearch.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/se/store/UserStoreOpenSearch.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/ILMService.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/ProcessService.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/TaskService.java
Labels: component/tasklist

#18773 feat: add id and email to native user
  .idea/codeStyles/Project.xml
  identity/auth-starter/src/main/java/io/camunda/authentication/config/DatabaseConfig.java
  identity/backend/pom.xml
  identity/backend/src/main/java/io/camunda/identity/Application.java
  identity/backend/src/main/java/io/camunda/identity/controller/UserController.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/model/Group.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/model/Membership.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/model/Profile.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/model/User.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/repository/GroupRepository.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/repository/MembershipRepository.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/repository/UserProfileRepository.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/repository/UserRepository.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/service/GroupService.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/service/MembershipService.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/service/UserService.java
  identity/backend/src/main/resources/application.yaml
  identity/backend/src/test/java/io/camunda/identity/CamundaSpringBootTest.java
  identity/backend/src/test/java/io/camunda/identity/usermanagement/service/GroupServiceTest.java
  identity/backend/src/test/java/io/camunda/identity/usermanagement/service/MembershipServiceTest.java
  identity/backend/src/test/java/io/camunda/identity/usermanagement/service/UserServiceTest.java
  identity/backend/src/test/resources/application-test.yaml
  identity/backend/src/test/resources/application.yaml
  identity/common/src/main/java/io/camunda/identity/user/CamundaUser.java
  identity/common/src/main/java/io/camunda/identity/usermanagement/CamundaGroup.java
  identity/common/src/main/java/io/camunda/identity/usermanagement/CamundaUser.java
  identity/common/src/main/java/io/camunda/identity/usermanagement/CamundaUserWithPassword.java
  identity/common/src/main/resources/schema.sql
  identity/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/identity

#19105 fix: filter out dynamic schemas from dynamic update
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/indices/ProcessIndex.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/util/IndexSchemaValidatorUtil.java
  tasklist/els-schema/src/main/resources/schema/es/change/8.6.0-0_process-bpmnXml.json
  tasklist/els-schema/src/main/resources/schema/os/change/8.6.0-0_process-bpmnXml.json
Labels: component/tasklist

#18505 [Backport stable/8.4] Observe status of Zeebe CI jobs
  .github/actions/observe-build-status/action.yml
  .github/workflows/zeebe-ci.yml
Labels: backport stable/8.2, backport stable/8.3

#19099 feat: Add tracking for custom filters
  tasklist/client/src/Tasks/CollapsiblePanel/CustomFiltersModal/index.tsx
  tasklist/client/src/modules/tracking/index.tsx
Labels: component/tasklist

#19167 fix: Fix formatting
  operate/client/playwright.config.ts
  operate/client/resources/license-header.js
  tasklist/client/e2e/docs/docs-snapshots.spec.ts
  tasklist/client/e2e/visual/start-process-from-form-page.spec.ts
Labels: component/operate, component/tasklist

#19126 feat: implement basic Identity frontend structure
  identity/client/.eslintrc.cjs
  identity/client/.gitignore
  identity/client/.yarn/install-state.gz
  identity/client/.yarn/releases/yarn-4.2.2.cjs
  identity/client/.yarnrc.yml
  identity/client/README.md
  identity/client/index.html
  identity/client/license-header.txt
  identity/client/package.json
  identity/client/src/App.css
  identity/client/src/App.tsx
  identity/client/src/assets/images/failmunda.svg
  identity/client/src/components/global/AppRoot.tsx
  identity/client/src/components/global/ErrorBoundary.tsx
  identity/client/src/components/global/ErrorPage.tsx
  identity/client/src/components/global/GlobalRoutes.tsx
  identity/client/src/components/global/Redirect.tsx
  identity/client/src/components/global/useGlobalRoutes.tsx
  identity/client/src/components/layout/AppHeader.tsx
  identity/client/src/components/layout/Flex.tsx
  identity/client/src/components/layout/Page.tsx
  identity/client/src/configuration/index.ts
  identity/client/src/index.scss
  identity/client/src/main.tsx
  identity/client/src/pages/groups/index.tsx
  identity/client/src/pages/roles/index.tsx
  identity/client/src/pages/users/index.tsx
  identity/client/src/utility/localization/en/components.json
  identity/client/src/utility/localization/en/index.ts
  identity/client/src/utility/localization/i18n.ts
  identity/client/src/utility/localization/index.tsx
  identity/client/src/utility/style.ts
  identity/client/src/vite-env.d.ts
  identity/client/tsconfig.json
  identity/client/tsconfig.node.json
  identity/client/vite.config.ts
  identity/client/yarn.lock
Labels: component/identity

#19101 fix: Fix design issues on custom filters
  tasklist/client/e2e/docs/docs-snapshots.spec.ts
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-advanced-filters-1-chromium-linux.png
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-advanced-filters-2-chromium-linux.png
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-claim-a-task-1-chromium-linux.png
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-claimed-a-task-1-chromium-linux.png
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-completed-a-task-1-chromium-linux.png
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-empty-tasklist-1-chromium-linux.png
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-populated-tasklist-1-chromium-linux.png
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-populated-tasklist-ordering-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-all-open-tasks-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-completed-tasks-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-completed-tasks-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-completed-tasks-3-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-custom-filters-modal-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-empty-list-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-empty-state-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-empty-state-dark-theme-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-empty-state-when-completed-task-before-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-expanded-side-panel-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-process-view-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-assigned-task-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-assigned-task-with-form-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-completed-task-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-completed-task-with-variables-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-task-without-a-form-and-with-variables-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-task-without-a-form-and-with-variables-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-task-without-a-form-and-with-variables-3-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-task-without-a-form-and-without-variables-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-unassigned-task-with-form-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-assigned-to-me-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-due-date-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-due-date-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-follow-up-date-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-follow-up-date-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tenant-on-task-detail-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-unassigned-tasks-1-chromium-linux.png
  tasklist/client/src/Tasks/AvailableTasks/index.test.tsx
  tasklist/client/src/Tasks/CollapsiblePanel/ControlledNavLink/index.tsx
  tasklist/client/src/Tasks/CollapsiblePanel/ControlledNavLink/styles.module.scss
  tasklist/client/src/Tasks/CollapsiblePanel/CustomFiltersModal/DeleteFilterModal.tsx
  tasklist/client/src/Tasks/CollapsiblePanel/CustomFiltersModal/FieldsModal.tsx
  tasklist/client/src/Tasks/CollapsiblePanel/CustomFiltersModal/FilterNameModal.tsx
  tasklist/client/src/Tasks/CollapsiblePanel/styles.module.scss
  tasklist/client/src/Tasks/Filters/styles.module.scss
  tasklist/client/src/modules/styles/panelHeader.module.scss
Labels: component/tasklist

#19206 Use correct repo name in release dry runs
  .github/workflows/zeebe-release-stable-dry-run.yml
Labels: component/zeebe

#18998 Partition manager can enables the exporter
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/PartitionManagerImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionConfigurationManager.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ExporterDirectorPartitionTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/PartitionConfigurationManagerTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ExporterDirectorPartitionTransitionStepTest.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/NoopPartitionChangeExecutor.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/PartitionChangeExecutor.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/PartitionEnableExporterApplier.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/state/ExportersConfig.java
Labels: component/zeebe

#19191 test: Refactor E2E page elements
  tasklist/client/e2e/docs/docs-snapshots.spec.ts
  tasklist/client/e2e/pageElements/Header.ts
  tasklist/client/e2e/pageElements/LoginPage.ts
  tasklist/client/e2e/pageElements/ProcessesPage.ts
  tasklist/client/e2e/pageElements/PublicFormsPage.ts
  tasklist/client/e2e/pageElements/TaskFormView.ts
  tasklist/client/e2e/pageElements/TaskVariableView.ts
  tasklist/client/e2e/pageElements/TasksPage.ts
  tasklist/client/e2e/pages/TestSetupPage.ts
  tasklist/client/e2e/test-fixtures.ts
  tasklist/client/e2e/tests/login.spec.ts
  tasklist/client/e2e/tests/processes-page.spec.ts
  tasklist/client/e2e/tests/public-start-form.spec.ts
  tasklist/client/e2e/tests/task-details.spec.ts
  tasklist/client/e2e/tests/task-panel.spec.ts
  tasklist/client/e2e/tests/variables.spec.ts
  tasklist/client/e2e/visual/tasks-page.spec.ts
Labels: component/tasklist

#19100 feat: change dropdown to combobox (migration target process selection)
  operate/client/e2e-playwright/docs-screenshots/process-instance-migration.spec.ts
  operate/client/e2e-playwright/pages/Processes/MigrationView.ts
  operate/client/e2e-playwright/visual/migration.spec.ts-snapshots/migration-view-initial-migration-view---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/migration.spec.ts-snapshots/migration-view-initial-migration-view---light-1-chromium-linux.png
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/Header.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/TargetDiagram.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/TargetProcessField.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/styled.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/tests/index.test.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/tests/mocks.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/tests/targetDiagram.test.tsx
  operate/client/src/modules/components/ComboBox/index.tsx
  operate/client/src/modules/stores/processes/processes.migration.ts
Labels: component/operate

#19049 feat: process instance search query service
  parent/pom.xml
  pom.xml
  search/search-client-elasticsearch/src/main/java/io/camunda/search/transformers/query/RangeQueryTransformer.java
  search/search-client-elasticsearch/src/test/java/io/camunda/data/transformers/RangeQueryTransformerTest.java
  search/search-client-opensearch/src/main/java/io/camunda/search/transformers/query/RangeQueryTransformer.java
  search/search-client-opensearch/src/test/java/io/camunda/data/transformers/RangeQueryTransformerTest.java
  search/search-client/src/main/java/io/camunda/search/clients/query/SearchQueryBuilders.java
  search/search-client/src/main/java/io/camunda/search/clients/query/SearchRangeQuery.java
  search/search-client/src/main/java/io/camunda/search/clients/query/SearchTermQuery.java
  search/search-client/src/main/java/io/camunda/search/clients/types/TypedValue.java
  service/pom.xml
  service/src/main/java/io/camunda/service/ApiServices.java
  service/src/main/java/io/camunda/service/CamundaServiceException.java
  service/src/main/java/io/camunda/service/CamundaServices.java
  service/src/main/java/io/camunda/service/ProcessInstanceServices.java
  service/src/main/java/io/camunda/service/entities/ProcessInstanceEntity.java
  service/src/main/java/io/camunda/service/search/core/SearchClientBasedQueryExecutor.java
  service/src/main/java/io/camunda/service/search/core/SearchQueryExecutionException.java
  service/src/main/java/io/camunda/service/search/core/SearchQueryService.java
  service/src/main/java/io/camunda/service/search/filter/DateValueFilter.java
  service/src/main/java/io/camunda/service/search/filter/FilterBase.java
  service/src/main/java/io/camunda/service/search/filter/FilterBuilders.java
  service/src/main/java/io/camunda/service/search/filter/ProcessInstanceFilter.java
  service/src/main/java/io/camunda/service/search/filter/VariableValueFilter.java
  service/src/main/java/io/camunda/service/search/page/SearchQueryPage.java
  service/src/main/java/io/camunda/service/search/page/SearchQueryPageBuilders.java
  service/src/main/java/io/camunda/service/search/query/ProcessInstanceQuery.java
  service/src/main/java/io/camunda/service/search/query/SearchQueryBase.java
  service/src/main/java/io/camunda/service/search/query/SearchQueryBuilders.java
  service/src/main/java/io/camunda/service/search/query/SearchQueryResult.java
  service/src/main/java/io/camunda/service/search/query/TypedSearchQuery.java
  service/src/main/java/io/camunda/service/search/sort/ProcessInstanceSort.java
  service/src/main/java/io/camunda/service/search/sort/SortOption.java
  service/src/main/java/io/camunda/service/search/sort/SortOptionBuilders.java
  service/src/main/java/io/camunda/service/security/auth/Authentication.java
  service/src/main/java/io/camunda/service/transformers/ServiceTransformer.java
  service/src/main/java/io/camunda/service/transformers/ServiceTransformers.java
  service/src/main/java/io/camunda/service/transformers/filter/AuthenticationTransformer.java
  service/src/main/java/io/camunda/service/transformers/filter/DateValueFilterTransformer.java
  service/src/main/java/io/camunda/service/transformers/filter/FilterTransformer.java
  service/src/main/java/io/camunda/service/transformers/filter/ProcessInstanceFilterTransformer.java
  service/src/main/java/io/camunda/service/transformers/filter/VariableValueFilterTransformer.java
  service/src/main/java/io/camunda/service/transformers/query/SearchQueryResultTransformer.java
  service/src/main/java/io/camunda/service/transformers/query/SearchRequestTransformer.java
  service/src/main/java/io/camunda/service/transformers/query/TypedSearchQueryTransformer.java
  service/src/main/java/io/camunda/service/transformers/sort/FieldSortingTransformer.java
  service/src/test/java/io/camunda/service/query/SearchQueryBuilderTest.java
  service/src/test/java/io/camunda/service/query/filter/ProcessInstanceFilterTest.java
  service/src/test/java/io/camunda/service/query/filter/ProcessInstanceSearchQueryStub.java
  service/src/test/java/io/camunda/service/query/filter/VariableValueFilterTest.java
  service/src/test/java/io/camunda/service/util/StubbedCamundaSearchClient.java
Labels: component/zeebe, component/operate, component/tasklist

#19234 refactor: Revert #18399
  identity/client/package.json
  identity/client/yarn.lock
  tasklist/client/package.json
  tasklist/client/yarn.lock
Labels: component/tasklist, component/identity

#19162 test: Add tests for custom filters
  tasklist/client/src/Tasks/CollapsiblePanel/CustomFiltersModal/DeleteFilterModal.tsx
  tasklist/client/src/Tasks/CollapsiblePanel/CustomFiltersModal/FieldsModal.tsx
  tasklist/client/src/Tasks/CollapsiblePanel/index.test.tsx
  tasklist/client/src/Tasks/CollapsiblePanel/index.tsx
Labels: component/tasklist

#19230 test: fix Tasklist migration tests
  tasklist/qa/migration-tests/migration-test/src/test/java/io/camunda/tasklist/qa/migration/util/ConnectionHolder.java
Labels: component/tasklist

#19233 fix: don't adjust append limit when request limit is exhausted
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/FlowControl.java
Labels: component/zeebe

#19192 refactor: redirect old frontend routes to webapp sub-path
  dist/src/main/java/io/camunda/operate/webapp/controllers/OperateIndexController.java
  dist/src/main/java/io/camunda/tasklist/webapp/controllers/TasklistIndexController.java
  dist/src/main/java/io/camunda/webapps/controllers/IndexController.java
  dist/src/main/java/io/camunda/webapps/controllers/WebappsRequestForwardManager.java
  operate/qa/integration-tests/pom.xml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/controllers/OldRoutesRedirectionControllerIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/controllers/OldRoutesRedirectionControllerIT.java
Labels: component/zeebe, component/operate, component/tasklist

#19111 feat: Implement BatchRequest using new ES client
  operate/schema/pom.xml
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/NewElasticsearchBatchRequest.java
  operate/schema/src/main/java/io/camunda/operate/util/ElasticsearchScriptBuilder.java
Labels: component/operate

#19232 feat: implement users list in Identity
  identity/client/.gitignore
  identity/client/.yarn/install-state.gz
  identity/client/package.json
  identity/client/src/App.css
  identity/client/src/App.tsx
  identity/client/src/components/documentation/index.tsx
  identity/client/src/components/entityList/EntityList.tsx
  identity/client/src/components/entityList/components.tsx
  identity/client/src/components/entityList/index.ts
  identity/client/src/components/layout/LateLoading.tsx
  identity/client/src/components/notifications/InlineNotification.tsx
  identity/client/src/components/notifications/Notification.tsx
  identity/client/src/components/notifications/NotificationContainer.tsx
  identity/client/src/components/notifications/NotificationContext.tsx
  identity/client/src/components/notifications/NotificationProvider.tsx
  identity/client/src/components/notifications/hooks.tsx
  identity/client/src/components/notifications/index.ts
  identity/client/src/configuration/index.ts
  identity/client/src/pages/users/index.tsx
  identity/client/src/utility/api/hooks/index.ts
  identity/client/src/utility/api/hooks/useApi.ts
  identity/client/src/utility/api/hooks/useApiCall.ts
  identity/client/src/utility/api/index.ts
  identity/client/src/utility/api/request.ts
  identity/client/src/utility/api/users/index.ts
  identity/client/src/utility/auth/index.ts
  identity/client/src/utility/jwt/index.ts
  identity/client/vite.config.ts
  identity/client/yarn.lock
Labels: component/identity

#19240 feat: allow child process instance migration
  operate/client/e2e-playwright/tests/batchMoveModification.spec.ts
  operate/client/e2e-playwright/tests/childProcessInstanceMigration.mocks.ts
  operate/client/e2e-playwright/tests/childProcessInstanceMigration.spec.ts
  operate/client/e2e-playwright/tests/processInstanceMigration.spec.ts
  operate/client/e2e-playwright/tests/processInstancesFilters.spec.ts
  operate/client/e2e-playwright/tests/resources/ChildProcessInstanceMigration/callActivityParentProcess.bpmn
  operate/client/e2e-playwright/tests/resources/ChildProcessInstanceMigration/childProcess_v_1.bpmn
  operate/client/e2e-playwright/tests/resources/ChildProcessInstanceMigration/childProcess_v_2.bpmn
  operate/client/playwright.config.ts
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/MigrateAction/index.test.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/MigrateAction/index.tsx
Labels: component/operate

#18922 [Backport main] Add empty Javadoc Jar for Operate/Tasklist
  operate/pom.xml
  tasklist/pom.xml
Labels: component/operate, component/tasklist

#19245 fix: exclude draft variable from being serialized in TaskSearchResponse
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/TaskControllerIT.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/entities/TaskSearchResponse.java
Labels: component/tasklist

#19077 feat: Add completedDate field to Operation
  operate/schema/src/main/java/io/camunda/operate/entities/OperationEntity.java
  operate/schema/src/main/java/io/camunda/operate/schema/templates/OperationTemplate.java
  operate/schema/src/main/java/io/camunda/operate/util/OperationsManager.java
  operate/schema/src/main/resources/schema/elasticsearch/create/template/operate-operation.json
  operate/schema/src/main/resources/schema/opensearch/create/template/operate-operation.json
  operate/schema/src/test/java/io/camunda/operate/enties/OperationEntityTest.java
  operate/schema/src/test/java/io/camunda/operate/schema/templates/OperationTemplateTest.java
  operate/schema/src/test/java/io/camunda/operate/util/OperationsManagerTest.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/OperationDto.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/rest/dto/OperationDtoTest.java
Labels: component/operate

#19250 Ensure getGrpcAddress backward compatibility
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientConfigurationImpl.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationPropertiesTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/ZeebeClientSpringConfigurationPropertiesTest.java
Labels: component/zeebe

#19267 feat: implement user detail page in Identity client
  identity/client/src/components/entityDetail/EntityDetail.tsx
  identity/client/src/components/entityDetail/Skeleton.tsx
  identity/client/src/components/entityDetail/components.tsx
  identity/client/src/components/entityDetail/index.tsx
  identity/client/src/components/fallbacks/DetailPageFallback.tsx
  identity/client/src/components/fallbacks/ListPageFallback.tsx
  identity/client/src/components/fallbacks/index.tsx
  identity/client/src/components/layout/PageHeadline.tsx
  identity/client/src/components/router/Lazy.tsx
  identity/client/src/components/router/PageRoutes.tsx
  identity/client/src/components/router/Redirect.tsx
  identity/client/src/components/tabs/index.tsx
  identity/client/src/pages/not-found/index.tsx
  identity/client/src/pages/users/List.tsx
  identity/client/src/pages/users/detail/UserDetailsTab.tsx
  identity/client/src/pages/users/detail/index.tsx
  identity/client/src/pages/users/index.tsx
Labels: component/identity

#19298 ci: prepare for next development iteration 8.5.4
  distro/pom.xml
  operate/archiver/pom.xml
  operate/client/pom.xml
  operate/common/pom.xml
  operate/data-generator/pom.xml
  operate/importer-8_4/pom.xml
  operate/importer-8_5/pom.xml
  operate/importer-common/pom.xml
  operate/importer/pom.xml
  operate/mvc-auth-commons/pom.xml
  operate/pom.xml
  operate/qa/backup-restore-tests/pom.xml
  operate/qa/batch-operation-performance-tests/pom.xml
  operate/qa/data-generator/pom.xml
  operate/qa/import-performance-tests/pom.xml
  operate/qa/integration-tests/pom.xml
  operate/qa/migration-performance-test/pom.xml
  operate/qa/migration-tests/migration-test/pom.xml
  operate/qa/migration-tests/pom.xml
  operate/qa/migration-tests/test-fixture-110/pom.xml
  operate/qa/migration-tests/test-fixture-120/pom.xml
  operate/qa/migration-tests/test-fixture-130/pom.xml
  operate/qa/migration-tests/test-fixture-800/pom.xml
  operate/qa/migration-tests/test-fixture-810/pom.xml
  operate/qa/migration-tests/test-fixture-820/pom.xml
  operate/qa/migration-tests/test-fixture-830/pom.xml
  operate/qa/migration-tests/test-fixture-840/pom.xml
  operate/qa/pom.xml
  operate/qa/query-performance-tests/pom.xml
  operate/qa/util/pom.xml
  operate/schema/pom.xml
  operate/webapp/pom.xml
Labels: component/operate

#19294 feat: make default user configurable
  identity/backend/pom.xml
  identity/backend/src/main/java/io/camunda/identity/config/IdentityConfiguration.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/initializer/DefaultUserInitializer.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/initializer/DemoUserInitializer.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/service/UserService.java
  identity/backend/src/main/resources/application.yaml
  identity/backend/src/test/java/io/camunda/identity/CamundaSpringBootTest.java
  identity/backend/src/test/java/io/camunda/identity/usermanagement/initializer/DefaultUserInitializerTest.java
Labels: component/identity

#19256 Not subscribe to new subscription if element is in ACTIVATING state
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceRegressionTest.java
Labels: backport main, component/zeebe

#19248 test: added tests for BatchOperation requests
  operate/qa/integration-tests/pom.xml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/BatchOperationRestServiceIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/j5templates/MockMvcManager.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/j5templates/OperateSearchAbstractIT.java
  operate/webapp/src/test/java/io/camunda/operate/util/BatchOperationTestDataHelper.java
  operate/webapp/src/test/java/io/camunda/operate/util/ElasticsearchMocks.java
  operate/webapp/src/test/java/io/camunda/operate/util/OpensearchMocks.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/elasticsearch/transform/ElasticsearchDataAggregatorTest.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/opensearch/transform/OpensearchDataAggregatorTest.java
Labels: component/operate

#19274 feat: implement UI for groups' list
  identity/client/src/pages/groups/index.tsx
  identity/client/src/utility/api/groups/index.ts
Labels: component/identity

#19299 Fixing default tenant IDs not being picked up from properties
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/PropertyBasedZeebeWorkerValueCustomizer.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/bean/factory/ReadZeebeWorkerValueTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/PropertyBasedZeebeWorkerValueCustomizerTest.java
Labels: component/zeebe

#19282 feat: add skip checkbox to instance migration helper modal
  operate/client/e2e-playwright/visual/modifications.spec.ts-snapshots/modifications-with-helper-modal---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/modifications.spec.ts-snapshots/modifications-with-helper-modal---light-1-chromium-linux.png
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/MigrateAction/index.test.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/MigrateAction/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/MigrateAction/styled.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/MoveAction/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/MoveAction/styled.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/MoveAction/tests/index.test.tsx
  operate/client/src/modules/components/HelperModal/index.test.tsx
  operate/client/src/modules/components/HelperModal/index.tsx
  operate/client/src/modules/components/Operations/ModificationHelperModal/index.tsx
  operate/client/src/modules/components/Operations/index.tsx
  operate/client/src/modules/components/Operations/tests/cancel-operation.test.tsx
Labels: component/operate

#19302 [Backport main] Not subscribe to new subscription if element is in ACTIVATING state
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceRegressionTest.java
Labels: component/zeebe

#19224 feat: add "Migrated" date tag to instance history
  operate/client/e2e-playwright/docs-screenshots/delete-finished-instances.spec.ts
  operate/client/e2e-playwright/docs-screenshots/delete-resource-definitions.spec.ts
  operate/client/e2e-playwright/docs-screenshots/get-familiar-with-operate.spec.ts
  operate/client/e2e-playwright/docs-screenshots/process-instance-migration.spec.ts
  operate/client/e2e-playwright/docs-screenshots/selections-and-operations.spec.ts
  operate/client/e2e-playwright/mocks/processInstance.mocks.ts
  operate/client/e2e-playwright/mocks/processes.mocks.ts
  operate/client/e2e-playwright/pages/Processes/FiltersPanel.ts
  operate/client/e2e-playwright/pages/Processes/Processes.ts
  operate/client/e2e-playwright/tests/batchMoveModification.spec.ts
  operate/client/e2e-playwright/tests/childProcessInstanceMigration.spec.ts
  operate/client/e2e-playwright/tests/operations.spec.ts
  operate/client/e2e-playwright/tests/processInstanceMigration.mocks.ts
  operate/client/e2e-playwright/tests/processInstanceMigration.spec.ts
  operate/client/e2e-playwright/tests/processInstanceVariables.spec.ts
  operate/client/e2e-playwright/tests/processInstancesFilters.spec.ts
  operate/client/e2e-playwright/tests/processInstancesTable.spec.ts
  operate/client/e2e-playwright/tests/processes.spec.ts
  operate/client/e2e-playwright/visual/processes.spec.ts
  operate/client/src/App/ProcessInstance/FlowNodeInstanceLog/index.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/Bar/index.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/Bar/index.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/Bar/styled.ts
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/index.tsx
  operate/client/src/modules/stores/processInstanceDetails.test.ts
  operate/client/src/modules/stores/processInstanceDetails.ts
  operate/client/src/modules/stores/processInstances.test.ts
  operate/client/src/modules/testUtils.tsx
  operate/client/src/modules/types/operate.d.ts
  operate/client/src/modules/utils/instance/index.ts
Labels: component/operate

#19261 Add endpoint to enable exporter
  dist/src/main/java/io/camunda/zeebe/shared/management/ExportersEndpoint.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirectorPauseTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterDisableTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterEnableTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/exporter/ExporterDisableTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/exporter/ExporterEnableTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/management/ExportersEndpointIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/system/BrokerAdminServiceWithOutExporterTest.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/ExportersActuator.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestCluster.java
Labels: component/zeebe, component/operate, component/tasklist

#19318 feat: add variable handler to operate export
  operate/common/src/main/java/io/camunda/operate/property/OperateElasticsearchProperties.java
  operate/schema/src/main/java/io/camunda/operate/schema/templates/AbstractTemplateDescriptor.java
  zeebe/exporters/operate-exporter/pom.xml
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/OperateElasticsearchExporter.java
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/handlers/VariableHandler.java
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/util/OperateExportUtil.java
  zeebe/exporters/operate-exporter/src/test/java/io/camunda/zeebe/operate/exporter/handlers/VariableHandlerTest.java
Labels: component/zeebe, component/operate

#19311 fix: update pre-selected target process
  operate/client/e2e-playwright/tests/processInstanceMigration.mocks.ts
  operate/client/e2e-playwright/tests/processInstanceMigration.spec.ts
  operate/client/e2e-playwright/tests/resources/ProcessInstanceMigration/orderProcessMigration_v_3.bpmn
  operate/client/src/App/Processes/MigrationView/BottomPanel/index.test.tsx
  operate/client/src/App/Processes/MigrationView/Footer/index.test.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/TargetDiagram.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/TargetVersionField.tsx
  operate/client/src/modules/stores/processes/processes.migration.test.ts
Labels: component/operate

#19306 feat: add group's detail in identity UI
  identity/client/src/pages/groups/List.tsx
  identity/client/src/pages/groups/detail/index.tsx
  identity/client/src/pages/groups/detail/members/index.tsx
  identity/client/src/pages/groups/index.tsx
  identity/client/src/pages/users/index.tsx
  identity/client/src/utility/api/groups/index.ts
  identity/common/src/main/java/io/camunda/identity/usermanagement/CamundaUser.java
Labels: component/identity

#19337 fix: create migration plan without using Spring bean factory
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/ReindexIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/SchemaStartupIT.java
  operate/schema/src/main/java/io/camunda/operate/schema/migration/MigrationPlanFactory.java
  operate/schema/src/main/java/io/camunda/operate/schema/migration/Migrator.java
  operate/schema/src/main/java/io/camunda/operate/schema/migration/elasticsearch/ElasticsearchFillPostImporterQueuePlan.java
  operate/schema/src/main/java/io/camunda/operate/schema/migration/elasticsearch/ElasticsearchMigrationPlanFactory.java
  operate/schema/src/main/java/io/camunda/operate/schema/migration/elasticsearch/ElasticsearchPipelineReindexPlan.java
  operate/schema/src/main/java/io/camunda/operate/schema/migration/elasticsearch/ElasticsearchReindexWithQueryAndScriptPlan.java
  operate/schema/src/main/java/io/camunda/operate/schema/opensearch/OpensearchFillPostImporterQueuePlan.java
  operate/schema/src/main/java/io/camunda/operate/schema/opensearch/OpensearchMigrationPlanFactory.java
  operate/schema/src/main/java/io/camunda/operate/schema/opensearch/OpensearchPipelineReindexPlan.java
  operate/schema/src/main/java/io/camunda/operate/schema/opensearch/OpensearchReindexWithQueryAndScriptPlan.java
Labels: component/operate

#19123 refactor: consolidate actor scheduler configuration
  dist/src/main/java/io/camunda/commons/actor/ActorClockConfiguration.java
  dist/src/main/java/io/camunda/commons/actor/ActorIdleStrategyConfiguration.java
  dist/src/main/java/io/camunda/commons/actor/ActorSchedulerConfiguration.java
  dist/src/main/java/io/camunda/zeebe/broker/BrokerModuleConfiguration.java
  dist/src/main/java/io/camunda/zeebe/broker/shared/BrokerConfiguration.java
  dist/src/main/java/io/camunda/zeebe/gateway/ActorSchedulerConfiguration.java
  dist/src/main/java/io/camunda/zeebe/gateway/GatewayConfiguration.java
  dist/src/main/java/io/camunda/zeebe/gateway/GatewayModuleConfiguration.java
  dist/src/main/java/io/camunda/zeebe/shared/management/ControlledActorClockService.java
  dist/src/test/java/io/camunda/zeebe/gateway/StandaloneGatewaySecurityTest.java
  dist/src/test/java/io/camunda/zeebe/shared/ActorClockConfigurationTest.java
  dist/src/test/java/io/camunda/zeebe/shared/IdleStrategyConfigTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteringRule.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/config/IdleStrategyConfigIT.java
Labels: component/zeebe, component/operate, component/tasklist

#19324 Provide general client REST test infrastructure
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClientFactory.java
  zeebe/clients/java/src/test/java/io/camunda/zeebe/client/OAuthCredentialsProviderTest.java
  zeebe/clients/java/src/test/java/io/camunda/zeebe/client/TopologyRequestRestTest.java
  zeebe/clients/java/src/test/java/io/camunda/zeebe/client/util/ClientRestTest.java
  zeebe/clients/java/src/test/java/io/camunda/zeebe/client/util/RestGatewayService.java
Labels: component/zeebe

#19362 fix: remove static modifier of TestStandaloneBroker in client IT test classes
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CompleteUserTaskTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UnassignUserTaskTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UpdateUserTaskTest.java
Labels: component/zeebe, backport stable/8.5

#19170 refactor: consolidate broker client instantiation
  dist/src/main/java/io/camunda/commons/broker/client/BrokerClientConfiguration.java
  dist/src/main/java/io/camunda/zeebe/broker/shared/BrokerConfiguration.java
  dist/src/main/java/io/camunda/zeebe/gateway/BrokerClientComponent.java
  dist/src/main/java/io/camunda/zeebe/gateway/GatewayConfiguration.java
  dist/src/test/java/io/camunda/zeebe/gateway/StandaloneGatewaySecurityTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteringRule.java
Labels: component/zeebe, component/operate, component/tasklist

#19365 [Backport stable/8.5] fix: remove static modifier of TestStandaloneBroker in client IT test classes
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CompleteUserTaskTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UnassignUserTaskTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UpdateUserTaskTest.java
Labels: component/zeebe

#19177 refactor: consolidate job activation handler
  dist/src/main/java/io/camunda/commons/job/JobHandlerConfiguration.java
  dist/src/main/java/io/camunda/zeebe/broker/BrokerModuleConfiguration.java
  dist/src/main/java/io/camunda/zeebe/broker/shared/BrokerConfiguration.java
  dist/src/main/java/io/camunda/zeebe/gateway/GatewayConfiguration.java
  dist/src/main/java/io/camunda/zeebe/gateway/GatewayModuleConfiguration.java
Labels: component/zeebe, component/operate, component/tasklist

#19364 fix: fix backup test
  operate/common/src/main/java/io/camunda/operate/util/rest/StatefulRestTemplate.java
Labels: component/operate

#19305 refactor: rename Operate CSRF token header
  operate/client/src/modules/request/index.ts
  operate/common/src/main/java/io/camunda/operate/util/rest/StatefulRestTemplate.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/OperateURIs.java
Labels: component/operate

#18964 Write full integration test for Single application
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/application/StandaloneCamundaTest.java
  zeebe/qa/integration-tests/src/test/resources/elasticsearch-fast-startup.options
  zeebe/qa/util/pom.xml
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestElasticsearchSchemaManager.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestRestOperateClient.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestSchemaStartup.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestSpringApplication.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneCamunda.java
Labels: component/zeebe

#19358 fix flaky test DeploymentClusteredTest.shouldRedistributeDeploymentWhenDeploymentPartitionIsRestarted
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/DeploymentClusteredTest.java
Labels: backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#19371 [Backport stable/8.5] fix flaky test DeploymentClusteredTest.shouldRedistributeDeploymentWhenDeploymentPartitionIsRestarted
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/DeploymentClusteredTest.java
Labels: component/zeebe

#19376 test: fix failing Tasklist integration tests
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/it/ZeebeConnectorIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/SessionlessTasklistZeebeIntegrationTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistZeebeIntegrationTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/zeebeimport/ProcessCacheIT.java
Labels: component/tasklist

#19355 feat: remove source/target header in confirm step
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/Header.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/SourceDiagram.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/TargetDiagram.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/tests/targetDiagram.test.tsx
Labels: component/operate

#19308 fix: Resource authorizations are not working without providing the deprecated camunda identity properties
  tasklist/common/src/main/java/io/camunda/tasklist/property/IdentityProperties.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/IndexSchemaValidatorIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/IndexSchemaValidatorIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/resources/tasklist-test-elasticsearch-schema-manager.json
  tasklist/qa/integration-tests/src/test/resources/tasklist-test-elasticsearch-schema-validator.json
  tasklist/qa/integration-tests/src/test/resources/tasklist-test-opensearch-schema-manager.json
  tasklist/qa/integration-tests/src/test/resources/tasklist-test-opensearch-schema-validator.json
  tasklist/webapp/pom.xml
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/identity/IdentityAuthorizationServiceImpl.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/es/cache/ProcessStoreElasticSearchTest.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/es/cache/ProcessStoreOpenSearchTest.java
Labels: kind/bug, component/tasklist

#19386 ci: add webapps-common in Operate and Tasklist CI path filters
  .github/labeler.yml
  .github/workflows/common-ci.yml
  .github/workflows/operate-ci.yml
  .github/workflows/operate-docker-tests.yml
  .github/workflows/tasklist-docker-tests.yml
  .github/workflows/tasklist-e2e-tests.yml
Labels: component/operate, component/tasklist

#19349 feat: add instance migration confirmation modal
  operate/client/e2e-playwright/pages/Processes/MigrationView.ts
  operate/client/e2e-playwright/tests/childProcessInstanceMigration.spec.ts
  operate/client/e2e-playwright/tests/processInstanceMigration.spec.ts
  operate/client/src/App/Processes/MigrationView/Footer/index.test.tsx
  operate/client/src/App/Processes/MigrationView/Footer/index.tsx
  operate/client/src/App/Processes/MigrationView/MigrationConfirmationModal/index.test.tsx
  operate/client/src/App/Processes/MigrationView/MigrationConfirmationModal/index.tsx
  operate/client/src/App/Processes/MigrationView/MigrationDetails/index.test.tsx
  operate/client/src/App/Processes/MigrationView/MigrationDetails/index.tsx
  operate/client/src/App/Processes/MigrationView/MigrationSummaryNotification/index.tsx
  operate/client/src/App/Processes/MigrationView/index.test.tsx
Labels: component/operate

#19086 feat: add identity configuration module to the single application
  authentication/pom.xml
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/handler/AuthFailureHandler.java
  dist/pom.xml
  dist/src/main/java/io/camunda/application/Profile.java
  dist/src/main/java/io/camunda/application/StandaloneCamunda.java
  dist/src/main/java/io/camunda/authentication/AuthenticationModuleConfiguration.java
  dist/src/main/java/io/camunda/identity/IdentityModuleConfiguration.java
  dist/src/main/resources/application.properties
  identity/backend/pom.xml
  identity/backend/src/main/java/io/camunda/identity/usermanagement/initializer/DemoUserInitializer.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/service/GroupService.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/service/MembershipService.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/service/UserService.java
  identity/backend/src/main/resources/application.yaml
  identity/backend/src/main/resources/schema.sql
  identity/backend/src/test/java/io/camunda/identity/usermanagement/service/UserServiceTest.java
  identity/backend/src/test/resources/application-test.yaml
  identity/common/pom.xml
  identity/common/src/main/java/io/camunda/identity/config/SecurityConfig.java
  identity/common/src/main/java/io/camunda/identity/security/CamundaUserDetailsManager.java
  identity/common/src/main/resources/application-h2.yaml
  identity/common/src/main/resources/application-postgres.yaml
  identity/pom.xml
  operate/qa/integration-tests/pom.xml
  operate/schema/src/main/java/io/camunda/operate/schema/migration/elasticsearch/ElasticsearchFillPostImporterQueuePlan.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/auth/OperateUserDetailsService.java
  parent/pom.xml
  pom.xml
  tasklist/qa/integration-tests/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/identity

#19389 feat: add delete user functionality in Identity UI
  identity/client/src/components/form/TextField.tsx
  identity/client/src/pages/users/List.tsx
  identity/client/src/pages/users/detail/index.tsx
  identity/client/src/pages/users/modals/AddModal.tsx
  identity/client/src/pages/users/modals/DeleteModal.tsx
  identity/client/src/pages/users/modals/EditModal.tsx
  identity/client/src/utility/api/users/index.ts
Labels: component/identity

#19329 Initialize exporter state in dynamic config during first update to 8.6
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ExporterDirectorPartitionTransitionStep.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/ClusterConfigurationInitializer.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/ClusterConfigurationManagerService.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/ClusterConfigurationModifier.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/serializer/ProtoBufSerializer.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/state/DynamicPartitionConfig.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/state/ExportersConfig.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/state/MemberState.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/ClusterConfigurationModifierTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/serializer/ProtoBufSerializerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/state/ClusterConfigurationTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ClusterEndpointResponseIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/exporter/ExporterDynamicConfigTest.java
Labels: component/zeebe

#19160 feat: Create a Testcontainer runtime for Process Testing
  pom.xml
  testing/README.md
  testing/camunda-process-test-java/README.md
  testing/camunda-process-test-java/pom.xml
  testing/camunda-process-test-java/revapi.json
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/containers/OperateContainer.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/containers/TasklistContainer.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/containers/ZeebeContainer.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/CamundaContainerRuntime.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/CamundaContainerRuntimeBuilder.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/ContainerRuntimeDefaults.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/ContainerRuntimeEnvs.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/ContainerRuntimePorts.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/ContainerRuntimeVersionUtil.java
  testing/camunda-process-test-java/src/main/resources/camunda-container-runtime.properties
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/containers/ContainerIntegrationTest.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/runtime/CamundaContainerRuntimeTest.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/runtime/ContainerRuntimeVersionUtilTest.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/runtime/RuntimeConfigurationTest.java
  testing/camunda-process-test-java/src/test/resources/log4j2-test.xml
Labels: component/zeebe, component/operate, component/tasklist

#19278 Ensure that stream processor can be closed while writes are rejected
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorTest.java
Labels: component/zeebe

#19423 ci: add foundation for unified CI with change detection for PRs and merge queue
  .github/actions/paths-filter/action.yml
  .github/renovate.json
  .github/workflows/actionlint.yml
  .github/workflows/ci.yml
Labels: component/zeebe, component/operate, component/tasklist

#19393 Stabilize `ReplayStateRandomizedPropertyTest`
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/perf/TestEngine.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/randomized/ReplayStateRandomizedPropertyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/StreamProcessingComposite.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/StreamProcessorRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/TestStreams.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#19450 [Backport stable/8.5] Stabilize `ReplayStateRandomizedPropertyTest`
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/perf/TestEngine.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/randomized/ReplayStateRandomizedPropertyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/StreamProcessingComposite.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/StreamProcessorRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/TestStreams.java
Labels: component/zeebe

#19431 fix: avoid blocking the threads in importer
  operate/common/src/main/java/io/camunda/operate/property/ImportProperties.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/post/AbstractIncidentPostImportAction.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchFlowNodeStore.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchFlowNodeStore.java
Labels: component/operate

#19443 feat: skip creating update requests for missing batch operations
  operate/schema/src/main/java/io/camunda/operate/util/OperationsManager.java
Labels: component/operate

#19135 fix: Prevent completed tasks from being included in persistable custom filters search
  tasklist/client/src/modules/utils/getQueryVariables.test.ts
  tasklist/client/src/modules/utils/getQueryVariables.tsx
Labels: component/tasklist

#19327 [Backport stable/8.5] Fixing default tenant IDs not being picked up from properties
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/PropertyBasedZeebeWorkerValueCustomizer.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/PropertyBasedZeebeWorkerValueCustomizerTest.java
  zeebe/clients/zeebe-client-spring/src/test/java/io/camunda/zeebe/spring/client/bean/value/factory/ReadZeebeWorkerValueTest.java
Labels: component/zeebe, component/operate

#19279 refactor: replace org.json by jakarta.json
  operate/qa/integration-tests/pom.xml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/es/AuthenticationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/es/AuthenticationWithPersistentSessionsIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/sso/AuthenticationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/sso/AuthenticationWithPersistentSessionsIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/sso/CsrfTokenIT.java
  parent/pom.xml
  tasklist/archiver/pom.xml
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/os/ArchiverUtilOpenSearch.java
  tasklist/els-schema/pom.xml
  tasklist/els-schema/src/main/java/io/camunda/tasklist/os/RetryOpenSearchClient.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/OpenSearchSchemaManager.java
  tasklist/importer-850/pom.xml
  tasklist/importer-850/src/main/java/io/camunda/tasklist/zeebeimport/v850/processors/es/UserTaskZeebeRecordProcessorElasticSearch.java
  tasklist/importer-850/src/main/java/io/camunda/tasklist/zeebeimport/v850/processors/os/UserTaskZeebeRecordProcessorOpenSearch.java
  tasklist/importer-860/pom.xml
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/es/UserTaskZeebeRecordProcessorElasticSearch.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/os/UserTaskZeebeRecordProcessorOpenSearch.java
  tasklist/qa/backup-restore-tests/pom.xml
  tasklist/qa/integration-tests/pom.xml
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/graphql/ProcessIdentityIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/IdentityTester.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/mt/MultiTenancyIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/security/se/AuthenticationIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/security/se/AuthenticationWithPersistentSessionIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/security/sso/AuthenticationIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/security/sso/AuthenticationWithPersistentSessionsIT.java
  tasklist/webapp/pom.xml
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/sso/SSOUserReader.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/security/oauth/SSOUserReaderTest.java
Labels: component/zeebe, component/operate, component/tasklist

#19082 Avoid NPE when parameter names are not available
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/bean/MethodInfo.java
Labels: component/zeebe, backport stable/8.5, backport release-8.6.0-alpha3

#19438 feat: skip creating update requests for missing batch operations
  operate/schema/src/main/java/io/camunda/operate/util/OperationsManager.java
  operate/schema/src/test/java/io/camunda/operate/util/OperationsManagerTest.java
Labels: component/operate

#16846 feat(engine): support bpmn converging inclusive gateway
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/InclusiveGatewayValidator.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeGatewayValidationTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/ProcessInstanceStateTransitionGuard.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnInclusiveGatewayBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnStateBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceElementActivatingApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceSequenceFlowTakenApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/ElementInstanceState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/DbElementInstanceState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/ElementInstance.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/gateway/InclusiveGatewayTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/instance/NumberOfTakenSequenceFlowsStateTest.java
Labels: component/zeebe

#19473 [Backport release-8.6.0-alpha3] Avoid NPE when parameter names are not available
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/bean/MethodInfo.java
Labels: component/zeebe

#19470 [Backport stable/8.4] test: intercept request for deterministic test
  atomix/cluster/src/test/java/io/atomix/raft/RaftSnapshotReplicationFailureHandlingTest.java
  atomix/cluster/src/test/java/io/atomix/raft/RaftTest.java
  atomix/cluster/src/test/java/io/atomix/raft/protocol/TestRaftProtocolFactory.java
  atomix/cluster/src/test/java/io/atomix/raft/protocol/TestRaftServerProtocol.java
Labels: backport stable/8.2, backport stable/8.3

#19442 fix: bean issues in single application
  identity/backend/src/test/java/io/camunda/identity/usermanagement/initializer/DefaultUserInitializerTest.java
  identity/common/src/main/java/io/camunda/identity/config/SecurityConfig.java
  operate/common/src/main/java/io/camunda/operate/OperateProfileService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/auth/OperateUserDetailsService.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/TasklistProfileService.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/se/SearchEngineUserDetailsService.java
Labels: component/operate, component/tasklist, component/identity, backport release-8.6.0-alpha3

#19463 build: unpin msal4j version
  parent/pom.xml
Labels: component/zeebe, component/operate, backport stable/8.5, component/tasklist

#19471 ci: do not overwrite Zeebe status check with Tasklist test result
  .github/workflows/tasklist-ci-fe-reusable.yml
  .github/workflows/tasklist-ci.yml
  .github/workflows/tasklist-merge-ci.yml
Labels: component/tasklist

#19193 feat: provide gateway-rest in all components
  dist/src/main/config/broker.yaml.template
  dist/src/main/java/io/camunda/application/StandaloneBroker.java
  dist/src/main/java/io/camunda/application/StandaloneCamunda.java
  dist/src/main/java/io/camunda/application/StandaloneGateway.java
  dist/src/main/java/io/camunda/application/StandaloneOperate.java
  dist/src/main/java/io/camunda/application/StandaloneTasklist.java
  dist/src/main/java/io/camunda/commons/CommonsModuleConfiguration.java
  dist/src/main/java/io/camunda/commons/clustering/AtomixClusterConfiguration.java
  dist/src/main/java/io/camunda/commons/configuration/BrokerBasedConfiguration.java
  dist/src/main/java/io/camunda/commons/configuration/GatewayBasedConfiguration.java
  dist/src/main/java/io/camunda/commons/configuration/WorkingDirectoryConfiguration.java
  dist/src/main/java/io/camunda/commons/job/JobHandlerConfiguration.java
  dist/src/main/java/io/camunda/commons/rest/RestApiConfiguration.java
  dist/src/main/java/io/camunda/zeebe/broker/BrokerClusterConfiguration.java
  dist/src/main/java/io/camunda/zeebe/broker/BrokerModuleConfiguration.java
  dist/src/main/java/io/camunda/zeebe/gateway/GatewayConfiguration.java
  dist/src/main/java/io/camunda/zeebe/gateway/GatewayModuleConfiguration.java
  dist/src/main/java/io/camunda/zeebe/restore/RestoreApp.java
  dist/src/test/java/io/camunda/zeebe/broker/WorkingDirectoryConfigurationTest.java
  dist/src/test/java/io/camunda/zeebe/gateway/StandaloneGatewaySecurityTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/BackupMultiPartitionTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteringRule.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestCamundaApplication.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestRestoreApp.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneCamunda.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneGateway.java
Labels: component/zeebe, component/operate, component/tasklist

#19477 [Backport release-8.6.0-alpha3] fix: bean issues in single application
  identity/backend/src/test/java/io/camunda/identity/usermanagement/initializer/DefaultUserInitializerTest.java
  identity/common/src/main/java/io/camunda/identity/config/SecurityConfig.java
  operate/common/src/main/java/io/camunda/operate/OperateProfileService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/auth/OperateUserDetailsService.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/TasklistProfileService.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/se/SearchEngineUserDetailsService.java
Labels: component/operate, component/tasklist, component/identity

#19472 [Backport stable/8.5] Avoid NPE when parameter names are not available
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/bean/MethodInfo.java
Labels: component/zeebe

#19419 feat: create connect module to create a ES or OS client
  parent/pom.xml
  search/pom.xml
  search/search-client-connect/pom.xml
  search/search-client-connect/src/main/java/io/camunda/search/connect/SearchClientConnectException.java
  search/search-client-connect/src/main/java/io/camunda/search/connect/SearchClientProvider.java
  search/search-client-connect/src/main/java/io/camunda/search/connect/configuration/ConnectConfiguration.java
  search/search-client-connect/src/main/java/io/camunda/search/connect/configuration/SecurityConfiguration.java
  search/search-client-connect/src/main/java/io/camunda/search/connect/es/ElasticsearchConnector.java
  search/search-client-connect/src/main/java/io/camunda/search/connect/jackson/CustomInstantDeserializer.java
  search/search-client-connect/src/main/java/io/camunda/search/connect/jackson/CustomOffsetDateTimeDeserializer.java
  search/search-client-connect/src/main/java/io/camunda/search/connect/jackson/CustomOffsetDateTimeSerializer.java
  search/search-client-connect/src/main/java/io/camunda/search/connect/jackson/JacksonConfiguration.java
  search/search-client-connect/src/main/java/io/camunda/search/connect/os/OpensearchConnector.java
  search/search-client-connect/src/main/java/io/camunda/search/connect/os/json/SearchRequestJacksonJsonpMapperWrapper.java
  search/search-client-connect/src/main/java/io/camunda/search/connect/os/json/jackson/SearchAfterFieldJsonGenerator.java
  search/search-client-connect/src/main/java/io/camunda/search/connect/util/SecurityUtil.java
  search/search-client-opensearch/pom.xml
  search/search-client/src/main/java/io/camunda/search/clients/CamundaSearchClientException.java
Labels: component/zeebe, component/operate, component/tasklist

#19494 fix: fix spotless on optimize8 merge branch
  .github/ISSUE_TEMPLATE/optimize-bug_report.md
  .github/ISSUE_TEMPLATE/optimize-epic.md
  .github/ISSUE_TEMPLATE/optimize-task.md
  .github/actions/compose/README.md
  .github/actions/docker-logs/README.md
  .github/actions/execute-healthcheck-and-push-image/README.md
  .github/actions/generate-changelog/README.md
  .github/actions/git-environment/README.md
  .github/actions/login-gcloud/README.md
  .github/actions/login-registry/README.md
  .github/actions/notify-on-slack/README.md
  .github/actions/restore-dump/README.md
  .github/actions/run-maven/README.md
  .github/actions/setup-maven/README.md
  .github/actions/setup-yarn/README.md
  optimize/README.md
  optimize/backend/README.md
  optimize/backend/TESTING.md
  optimize/c4/README.md
  optimize/client/README.md
  optimize/qa/cleanup-performance-tests/README.md
  optimize/qa/clustering-tests/README.md
  optimize/qa/connect-to-secured-es-tests/README.md
  optimize/qa/data-generation/README.md
  optimize/qa/import-performance-tests/README.md
  optimize/qa/upgrade-tests/README.md
  optimize/upgrade/README.md
  optimize/util/auxiliary-scripts/README.md
  optimize/util/dependency-doc-creation/README.md
  optimize/util/optimize-reimport-preparation/README.md
Labels: component/zeebe, component/operate, component/tasklist

#19437 feat: declare service bean to be used in REST controllers
  dist/pom.xml
  dist/src/main/config/application.yaml
  dist/src/main/java/io/camunda/commons/service/CamundaServicesConfiguration.java
  dist/src/main/java/io/camunda/commons/service/SearchClientDatabaseConfiguration.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/clients/ElasticsearchSearchClient.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/clients/OpensearchSearchClient.java
  search/search-client/src/main/java/io/camunda/search/clients/CamundaSearchClient.java
  service/src/test/java/io/camunda/service/util/StubbedCamundaSearchClient.java
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/ErrorMapperTest.java
Labels: component/zeebe, component/operate, component/tasklist

#19361 transfer snapshot files in chunks
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/protocol/InstallResponse.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/LeaderAppender.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/snapshot/impl/SnapshotChunkImpl.java
  zeebe/atomix/cluster/src/main/resources/snapshot-schema.xml
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/snapshot/InMemorySnapshot.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/snapshot/TestSnapshotChunkImpl.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/SnapshotChunk.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/SnapshotChunkReader.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotChunkReader.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/SnapshotChunkUtil.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/SnapshotChunkWrapper.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotChunkReaderTest.java
Labels: component/zeebe

#19368 feat: add support for create/update/delete of groups
  identity/client/src/pages/groups/List.tsx
  identity/client/src/pages/groups/detail/index.tsx
  identity/client/src/pages/groups/index.tsx
  identity/client/src/pages/groups/modals/AddModal.tsx
  identity/client/src/pages/groups/modals/DeleteModal.tsx
  identity/client/src/pages/groups/modals/EditModal.tsx
  identity/client/src/utility/api/groups/index.ts
Labels: component/identity

#19307 ci: refactor fake status checks
  .github/workflows/common-ci.yml
  .github/workflows/operate-ci.yml
  .github/workflows/tasklist-ci.yml
  .github/workflows/zeebe-ci.yml
Labels: component/zeebe, component/operate, component/tasklist

#19499 Release/operate 8.5.4
  distro/pom.xml
  operate/archiver/pom.xml
  operate/client/pom.xml
  operate/common/pom.xml
  operate/data-generator/pom.xml
  operate/importer-8_4/pom.xml
  operate/importer-8_5/pom.xml
  operate/importer-common/pom.xml
  operate/importer/pom.xml
  operate/mvc-auth-commons/pom.xml
  operate/pom.xml
  operate/qa/backup-restore-tests/pom.xml
  operate/qa/batch-operation-performance-tests/pom.xml
  operate/qa/data-generator/pom.xml
  operate/qa/import-performance-tests/pom.xml
  operate/qa/integration-tests/pom.xml
  operate/qa/migration-performance-test/pom.xml
  operate/qa/migration-tests/migration-test/pom.xml
  operate/qa/migration-tests/pom.xml
  operate/qa/migration-tests/test-fixture-110/pom.xml
  operate/qa/migration-tests/test-fixture-120/pom.xml
  operate/qa/migration-tests/test-fixture-130/pom.xml
  operate/qa/migration-tests/test-fixture-800/pom.xml
  operate/qa/migration-tests/test-fixture-810/pom.xml
  operate/qa/migration-tests/test-fixture-820/pom.xml
  operate/qa/migration-tests/test-fixture-830/pom.xml
  operate/qa/migration-tests/test-fixture-840/pom.xml
  operate/qa/pom.xml
  operate/qa/query-performance-tests/pom.xml
  operate/qa/util/pom.xml
  operate/schema/pom.xml
  operate/webapp/pom.xml
Labels: component/operate

#19516 test: convert Tasklist-Identity test to IT
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/security/oauth/IdentityJwt2AuthenticationTokenConverterIT.java
Labels: component/tasklist

#19478 [Backport stable/8.5] build: unpin msal4j version
  parent/pom.xml
Labels: component/zeebe, component/operate

#19513 deps: Update feel-engine to 1.18.0-alpha1
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist

#19525 build: set missing name tag in required poms
  identity/common/pom.xml
  webapps-common/pom.xml
Labels: component/operate, component/tasklist, component/identity, backport release-8.6.0-alpha3

#19528 [Backport release-8.6.0-alpha3] build: set missing name tag in required poms
  identity/common/pom.xml
  webapps-common/pom.xml
Labels: component/operate, component/tasklist, component/identity

#19385 feat: implement variable search transformers
  service/src/main/java/io/camunda/service/CamundaServices.java
  service/src/main/java/io/camunda/service/VariableServices.java
  service/src/main/java/io/camunda/service/entities/VariableEntity.java
  service/src/main/java/io/camunda/service/search/filter/FilterBuilders.java
  service/src/main/java/io/camunda/service/search/filter/VariableFilter.java
  service/src/main/java/io/camunda/service/search/filter/VariableValueFilter.java
  service/src/main/java/io/camunda/service/search/query/SearchQueryBuilders.java
  service/src/main/java/io/camunda/service/search/query/VariableQuery.java
  service/src/main/java/io/camunda/service/search/sort/SortOptionBuilders.java
  service/src/main/java/io/camunda/service/search/sort/VariableSort.java
  service/src/main/java/io/camunda/service/transformers/ServiceTransformers.java
  service/src/main/java/io/camunda/service/transformers/filter/VariableFilterTransformer.java
  service/src/main/java/io/camunda/service/transformers/filter/VariableValueFilterTransformer.java
  service/src/test/java/io/camunda/service/query/filter/VariableFilterTest.java
  service/src/test/java/io/camunda/service/query/filter/VariableSearchQueryStub.java
Labels: component/zeebe

#19462 Add endpoint to query status of exporters
  dist/src/main/java/io/camunda/zeebe/shared/management/ClusterApiUtils.java
  dist/src/main/java/io/camunda/zeebe/shared/management/ExportersEndpoint.java
  dist/src/main/resources/api/cluster/exporter-api.yaml
  dist/src/test/java/io/camunda/zeebe/shared/management/ClusterApiUtilsTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/management/ExportersEndpointIT.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/ExportersActuator.java
Labels: component/zeebe, component/operate, component/tasklist

#19436 Add unit-tests to unified CI
  .github/actions/paths-filter/action.yml
  .github/workflows/ci.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist

#19273 feat: implement user task search transformers
  service/src/main/java/io/camunda/service/CamundaServices.java
  service/src/main/java/io/camunda/service/UserTaskServices.java
  service/src/main/java/io/camunda/service/VariableServices.java
  service/src/main/java/io/camunda/service/entities/UserTaskEntity.java
  service/src/main/java/io/camunda/service/entities/VariableEntity.java
  service/src/main/java/io/camunda/service/search/filter/FilterBuilders.java
  service/src/main/java/io/camunda/service/search/filter/UserTaskFilter.java
  service/src/main/java/io/camunda/service/search/filter/VariableFilter.java
  service/src/main/java/io/camunda/service/search/query/SearchQueryBuilders.java
  service/src/main/java/io/camunda/service/search/query/UserTaskQuery.java
  service/src/main/java/io/camunda/service/search/query/VariableQuery.java
  service/src/main/java/io/camunda/service/search/sort/SortOptionBuilders.java
  service/src/main/java/io/camunda/service/search/sort/UserTaskSort.java
  service/src/main/java/io/camunda/service/search/sort/VariableSort.java
  service/src/main/java/io/camunda/service/transformers/ServiceTransformers.java
  service/src/main/java/io/camunda/service/transformers/filter/UserTaskFilterTransformer.java
  service/src/main/java/io/camunda/service/transformers/filter/VariableFilterTransformer.java
  service/src/main/java/io/camunda/service/transformers/filter/VariableValueFilterTransformer.java
  service/src/test/java/io/camunda/service/query/filter/VariableFilterTest.java
  service/src/test/java/io/camunda/service/query/filter/VariableSearchQueryStub.java
Labels: component/zeebe

#19521 ci: use common build-platform-docker GHA
  .github/actions/build-operate-docker/action.yml
  .github/actions/build-platform-docker/action.yml
  .github/actions/build-tasklist-docker/action.yml
  .github/actions/build-zeebe-docker/action.yml
  .github/workflows/operate-ci-build-reusable.yml
  .github/workflows/tasklist-ci-build-reusable.yml
  .github/workflows/zeebe-ci.yml
  .github/workflows/zeebe-snyk.yml
  .github/workflows/zeebe-testbench.yaml
  zeebe/docs/ci.md
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist

#19383 feat: add assign and unassign member to group in identity's UI
  identity/backend/src/main/java/io/camunda/identity/usermanagement/initializer/DemoUserInitializer.java
  identity/client/src/components/form/DropdownSearch.tsx
  identity/client/src/components/form/Text.tsx
  identity/client/src/pages/groups/detail/members/AssignMembersModal.tsx
  identity/client/src/pages/groups/detail/members/DeleteModal.tsx
  identity/client/src/pages/groups/detail/members/index.tsx
  identity/client/src/utility/api/groups/index.ts
  identity/client/src/utility/api/membership/index.ts
Labels: component/identity

#19466 test: wait until deployment is distributed
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ScaleDownBrokersTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/Utils.java
Labels: backport stable/8.4, component/zeebe, backport stable/8.5

#19391 test: fix batch move modification e2e test
  operate/client/e2e-playwright/tests/batchMoveModification.spec.ts
Labels: component/operate

#19553 fix: fix broken test
  identity/backend/src/test/java/io/camunda/identity/usermanagement/initializer/DefaultUserInitializerTest.java
Labels: component/identity

#19497 feat: CRUD for groups with IDs
  identity/backend/src/main/java/io/camunda/identity/controller/UserController.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/repository/GroupRepository.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/repository/UserProfileRepository.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/service/GroupService.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/service/UserService.java
  identity/backend/src/test/java/io/camunda/identity/usermanagement/service/GroupServiceTest.java
Labels: component/identity

#19550 [Backport stable/8.5] test: wait until deployment is distributed
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ScaleDownBrokersTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/Utils.java
Labels: component/zeebe

#19569 Document active sequence flow ids
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/ElementInstance.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/instance/ElementInstanceTest.java
Labels: component/zeebe

#19548 ci: build-platform-docker gha: do not create docker context if already exists
  .github/actions/build-platform-docker/action.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist

#19552 Encode exporter enable operation in cluster status response
  dist/src/main/java/io/camunda/zeebe/shared/management/ClusterApiUtils.java
  dist/src/main/resources/api/cluster/components.yaml
  dist/src/main/resources/api/cluster/exporter-api.yaml
Labels: component/zeebe, component/operate, component/tasklist

#19519 refactor: change java client name
  .idea/scopes/apache_license_scope.xml
  CONTRIBUTING.md
  bom/README.md
  bom/pom.xml
  clients/java/pom.xml
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClientFactory.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsProvider.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DeploymentEventImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/OAuthCredentialsProviderTest.java
  dist/pom.xml
  operate/common/pom.xml
  operate/data-generator/pom.xml
  operate/qa/backup-restore-tests/pom.xml
  operate/qa/data-generator/pom.xml
  operate/qa/integration-tests/pom.xml
  operate/qa/migration-tests/test-fixture-110/pom.xml
  operate/qa/migration-tests/test-fixture-800/pom.xml
  operate/qa/util/pom.xml
  operate/webapp/pom.xml
  parent/pom.xml
  spring-boot-starter-camunda-sdk/pom.xml
  tasklist/common/pom.xml
  tasklist/data-generator/pom.xml
  tasklist/qa/backup-restore-tests/pom.xml
  tasklist/qa/integration-tests/pom.xml
  tasklist/qa/migration-tests/test-fixture-810/pom.xml
  tasklist/qa/util/pom.xml
  tasklist/webapp/pom.xml
  testing/camunda-process-test-java/pom.xml
  zeebe/benchmarks/project/pom.xml
  zeebe/broker/pom.xml
  zeebe/clients/java/pom.xml
  zeebe/gateway-grpc/pom.xml
  zeebe/pom.xml
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/update-tests/pom.xml
  zeebe/qa/util/pom.xml
  zeebe/test-util/pom.xml
Labels: component/zeebe, component/operate, component/tasklist

#19394 feat: add SequenceFlowHandler to operate exporter
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/OperateElasticsearchExporter.java
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/handlers/SequenceFlowHandler.java
  zeebe/exporters/operate-exporter/src/test/java/io/camunda/zeebe/operate/exporter/handlers/SequenceFlowHandlerTest.java
Labels: component/zeebe

#19533 feat: introduce Identity UI
  dist/pom.xml
  dist/src/main/java/io/camunda/application/initializers/WebappsConfigurationInitializer.java
  dist/src/main/java/io/camunda/identity/webapp/controllers/IdentityIndexController.java
  dist/src/main/resources/application-identity.properties
  identity/client/index.html
  identity/client/pom.xml
  identity/client/src/configuration/index.ts
  identity/client/src/utility/api/hooks/useApiCall.ts
  identity/client/src/utility/api/request.ts
  identity/client/src/utility/auth/index.ts
  identity/client/vite.config.ts
  identity/pom.xml
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/identity

#19579 [Backport stable/8.5] feat: enable full file checksum
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/impl/rocksdb/ZeebeRocksDbFactory.java
Labels: component/zeebe

#19529 fix: make sdk properties tests able to run in parallel
  .github/workflows/ci.yml
  .github/workflows/spring-boot-starter-camunda-sdk-ci.yml
  .github/workflows/spring-boot-starter-camunda-sdk-dummy.yml
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/CredentialsProviderSaasTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/CredentialsProviderSelfManagedTest.java
Labels: component/build-pipeline, component/zeebe

#19582 fix: check version before reading metadata length
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogEntryDescriptor.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/log/LogEntryDescriptorTest.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#19590 build: slim down Tasklist docker image
  tasklist.Dockerfile
Labels: component/tasklist

#19517 feat: user group memberships by groupid identity backend
  identity/backend/src/main/java/io/camunda/identity/usermanagement/model/Group.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/service/MembershipService.java
  identity/backend/src/test/java/io/camunda/identity/usermanagement/service/MembershipServiceTest.java
Labels: component/identity

#19500 feat: Provide Process Instance Search Request API in the Zeebe Client
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClient.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/FinalSearchQueryStep.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/ProcessInstanceFilter.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/ProcessInstanceQuery.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/ProcessInstanceSort.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/SearchRequestBuilders.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/SearchRequestPage.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/TypedSearchQueryRequest.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/VariableValueFilter.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/response/ProcessInstance.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/response/SearchQueryResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/response/SearchResponsePage.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClient.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/ProcessInstanceFilterImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/ProcessInstanceQueryImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/ProcessInstanceSortImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/SearchQuerySortBase.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/SearchRequestPageImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/SearchResponseMapper.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/TypedSearchRequestPropertyProvider.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/VariableValueFilterImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/response/ProcessInstanceImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/response/SearchQueryResponseImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/response/SearchResponsePageImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/util/CollectionUtil.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceController.java
Labels: component/zeebe

#19551 test: wait until deployment is done
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/exporter/ExporterDisableTest.java
Labels: component/zeebe

#19514 feat: roles and permissions in identity backend
  identity/backend/pom.xml
  identity/backend/src/main/java/io/camunda/identity/rolemanagement/model/Role.java
  identity/backend/src/main/java/io/camunda/identity/rolemanagement/repository/RoleRepository.java
  identity/backend/src/main/java/io/camunda/identity/rolemanagement/service/RoleService.java
  identity/backend/src/main/resources/schema.sql
  identity/backend/src/test/java/io/camunda/identity/TestHelper.java
  identity/backend/src/test/java/io/camunda/identity/rolemanagement/service/RoleServiceTest.java
  identity/common/src/main/java/io/camunda/identity/permissions/PermissionEnum.java
  identity/pom.xml
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/identity

#18691 feat: expand Execution Listener support to cover event elements
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/AbstractEventBuilder.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/util/ModelUtil.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/BoundaryEventValidator.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/EndEventValidator.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/ExecutionListenersValidator.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/IntermediateThrowEventValidator.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/StartEventValidator.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeExecutionListenersValidationTest.java
  zeebe/bpmn-model/src/test/resources/io/camunda/zeebe/model/bpmn/validation/ZeebeExecutionListenersValidationTest.testElementThatNotSupportExecutionListeners.bpmn
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/BoundaryEventProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/EndEventProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/IntermediateCatchEventProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/IntermediateThrowEventProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/StartEventProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableCatchEventElement.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/CallActivityInterruptionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/ExecutionListenerBoundaryEventElementTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/ExecutionListenerEndEventElementTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/ExecutionListenerIntermediateCatchEventElementTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/ExecutionListenerIntermediateThrowEventElementTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/ExecutionListenerStartEventElementTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/ExecutionListenerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/escalation/EscalationEventTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/FailOverReplicationTest.java
Labels: component/zeebe

#19572 [Backport stable/8.5] feat: removed combined checksum check
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedReceivedSnapshot.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/ReceivedSnapshotTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedReceivedSnapshotTest.java
Labels: component/zeebe

#19635 fix: change RecordingGatewayService request list to be blockingQueue to overcome a possible race condition during tests
  clients/java/src/test/java/io/camunda/zeebe/client/util/RecordingGatewayService.java
Labels: component/zeebe

#19334 chore: add identity CI workflows
  .github/actions/paths-filter/action.yml
  .github/workflows/ci.yml
  identity/backend/src/test/java/io/camunda/identity/CamundaSpringBootTest.java
  identity/backend/src/test/java/io/camunda/identity/usermanagement/initializer/DefaultUserInitializerTest.java
  identity/client/.eslintrc.cjs
  identity/client/package.json
  identity/client/src/components/entityList/EntityList.tsx
  identity/client/src/components/entityList/components.tsx
  identity/client/src/components/form/DropdownSearch.tsx
  identity/client/src/components/global/GlobalRoutes.tsx
  identity/client/src/components/global/Redirect.tsx
  identity/client/src/components/layout/LateLoading.tsx
  identity/client/src/components/router/Redirect.tsx
  identity/client/src/components/tabs/index.tsx
  identity/client/src/index.scss
  identity/client/src/utility/api/hooks/useApi.ts
  identity/client/src/utility/api/hooks/useApiCall.ts
  identity/client/src/utility/api/request.ts
  identity/client/src/utility/jwt/index.ts
  identity/client/yarn.lock
Labels: component/build-pipeline, component/zeebe, component/operate, hold/do-not-merge, component/tasklist, component/identity

#19637 feat: add list, create, edit, delete roles to Identity UI
  identity/client/src/configuration/permissions.ts
  identity/client/src/pages/roles/index.tsx
  identity/client/src/pages/roles/modals/AddModal.tsx
  identity/client/src/pages/roles/modals/DeleteModal.tsx
  identity/client/src/pages/roles/modals/EditModal.tsx
  identity/client/src/pages/roles/modals/usePermissions.tsx
  identity/client/src/utility/api/request.ts
  identity/client/src/utility/api/roles/index.ts
  identity/client/src/utility/localization/en/index.ts
  identity/client/src/utility/localization/en/permissions.json
  identity/client/src/utility/localization/i18n.ts
Labels: component/identity

#19650 feat: add name to the CamundaUser/Profile object
  identity/backend/src/main/java/io/camunda/identity/usermanagement/model/Profile.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/repository/UserProfileRepository.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/service/UserService.java
  identity/backend/src/main/resources/schema.sql
  identity/backend/src/test/java/io/camunda/identity/usermanagement/service/UserServiceTest.java
  identity/common/src/main/java/io/camunda/identity/usermanagement/CamundaUser.java
  identity/common/src/main/java/io/camunda/identity/usermanagement/CamundaUserWithPassword.java
Labels: component/identity

#19659 ci: increate tasklist and operate ci build timeout
  .github/workflows/operate-ci-build-reusable.yml
  .github/workflows/tasklist-ci-build-reusable.yml
Labels: component/build-pipeline, component/operate, component/tasklist

#18780 ci: helm integration test workflow
  .github/workflows/camunda-helm-integration.yml
Labels: component/build-pipeline

#19667 ci: fix java client pom
  zeebe/clients/java/pom.xml
Labels: component/zeebe

#19613 [Backport stable/8.5] fix: check version before reading metadata length
  .github/actions/setup-zeebe/action.yml
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogEntryDescriptor.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/log/LogEntryDescriptorTest.java
Labels: component/zeebe, component/operate

#19645 refactor: apply auth profile only if other auth profiles are not enabled
  dist/pom.xml
  dist/src/main/java/io/camunda/application/Profile.java
  dist/src/main/java/io/camunda/application/initializers/DefaultAuthenticationInitializer.java
  operate/common/src/main/java/io/camunda/operate/OperateProfileService.java
Labels: component/zeebe, component/operate, component/tasklist

#19661 fix: on auth failure send error when accessing v2 endpoint
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/BaseWebConfigurer.java
Labels: component/operate
