Repository camunda/camunda, pull requests merged in 2024-10, with the labels that each got.

#22879 fix: configure Keycloak to use file-based DB in Optimize dev setup
  optimize/docker-compose.ccsm-with-optimize.yml
  optimize/docker-compose.ccsm-without-optimize.yml
Labels: component/optimize

#22856 fix: Ambiguous INCOMPLETE snapshot state
  operate/common/src/main/java/io/camunda/operate/property/BackupProperties.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/BackupControllerIT.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchSnapshotOperations.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/response/OpenSearchSnapshotInfo.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/backup/BackupRepository.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/backup/BackupService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/backup/ElasticsearchBackupRepository.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/backup/OpensearchBackupRepository.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/elasticsearch/backup/ElasticsearchBackupRepositoryTest.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/opensearch/backup/OpensearchBackupRepositoryTest.java
Labels: component/operate, backport stable/operate-8.5

#22485 feat: add support for oidc authentication
  authentication/pom.xml
  authentication/src/main/java/io/camunda/authentication/CamundaOidcUserService.java
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  dist/pom.xml
  dist/src/main/java/io/camunda/application/Profile.java
  dist/src/main/java/io/camunda/application/commons/identity/AuthenticationConfiguration.java
  dist/src/main/resources/application-auth-oidc.yaml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#22609 ci: use infra github-managed runners for `ci.yml/java-unit-tests` workflow
  .github/workflows/ci.yml
  .github/workflows/zeebe-ci.yml
  parent/pom.xml
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/SnapshotChecksumTest.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/STracer.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/junit/StraceTest.java
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#22808 [Backport stable/8.4] ci: use infra self-hosted runners (INFRA-671)
  .github/actions/setup-zeebe/action.yml
  .github/workflows/zeebe-ci.yml
  parent/pom.xml
  snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/SnapshotChecksumTest.java
  test-util/src/main/java/io/camunda/zeebe/test/util/junit/StraceTest.java
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#22805 [Backport stable/8.5] ci: use infra self-hosted runners (INFRA-671)
  .github/actions/setup-zeebe/action.yml
  .github/workflows/zeebe-ci.yml
  parent/pom.xml
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/SnapshotChecksumTest.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/junit/StraceTest.java
Labels: component/zeebe, component/operate

#22907 fix: add key to variable list view entity
  tasklist/common/src/main/java/io/camunda/tasklist/entities/listview/VariableListViewEntity.java
Labels: component/tasklist

#22904 build: push optimize images to infosec registry
  .github/workflows/optimize-release-optimize-c8-only.yml
Labels: component/build-pipeline, component/optimize

#22870 refactor: Remove reference to actor/scheduler in LogStream class
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/LogStreamPartitionTransitionStep.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/TestStreams.java
  zeebe/logstreams/pom.xml
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogStreamBuilderImpl.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/log/LogStreamBuilder.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/log/LogStreamWriterTest.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/util/LogStreamRule.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/util/SyncLogStreamBuilder.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamPlatform.java
Labels: component/zeebe

#22811 feat: Decision instance get by key - API implementaton
  search/search-client-query-transformer/src/main/java/io/camunda/search/transformers/result/ResultConfigTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/transformers/result/DecisionInstanceResultConfigTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/transformers/result/DecisionRequirementsResultConfigTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/transformers/result/ProcessInstanceResultConfigTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/transformers/sort/DecisionInstanceSortTest.java
  search/search-domain/src/main/java/io/camunda/search/entities/DecisionInstanceEntity.java
  search/search-domain/src/main/java/io/camunda/search/query/DecisionInstanceQuery.java
  search/search-domain/src/main/java/io/camunda/search/sort/DecisionInstanceSort.java
  service/src/main/java/io/camunda/service/DecisionInstanceServices.java
  service/src/test/java/io/camunda/service/DecisionInstanceServiceTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/DecisionDefinitionQueryController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/DecisionInstanceQueryController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DecisionDefinitionQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DecisionInstanceQueryControllerTest.java
Labels: component/zeebe

#22608 feat: include workflow to generate sbom
  .github/workflows/sbom.yaml
  .github/workflows/tasklist-ci-fe-reusable.yml
  operate/client/package.json
  parent/pom.xml
  pom.xml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#22533 feat: Camunda 8 Run Distribution
  .github/workflows/c8run-build.yaml
  .gitignore
  c8run/README.md
  c8run/configuration/.gitkeep
  c8run/connectors-application.properties
  c8run/custom_connectors/.gitkeep
  c8run/e2e_tests/package-lock.json
  c8run/e2e_tests/package.json
  c8run/e2e_tests/playwright.config.ts
  c8run/e2e_tests/tests/operate_login.spec.ts
  c8run/e2e_tests/tests/tasklist_login.spec.ts
  c8run/endpoints.txt
  c8run/internal/run.sh
  c8run/log/.gitkeep
  c8run/package.bat
  c8run/package.sh
  c8run/shutdown.sh
  c8run/start.sh
  c8run/windows/c8run_windows.go
  c8run/windows/go.mod
  c8run/windows/go.sum
  c8run/windows/process_tree.go
Labels: component/build-pipeline, component/c8run

#22736 fix: c8run for windows should use zip instead of .tar.gz
  .github/workflows/c8run-build.yaml
  c8run/package.bat
Labels: component/build-pipeline, component/c8run

#22864 ci: renovate skips lucene updates
  .github/renovate.json
  operate/client/e2e-playwright/visual/decisionInstance.spec.ts-snapshots/decision-instance-page-evaluated---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/decisionInstance.spec.ts-snapshots/decision-instance-page-evaluated---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/decisionInstance.spec.ts-snapshots/decision-instance-page-evaluated-drd-panel-maximised---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/decisionInstance.spec.ts-snapshots/decision-instance-page-evaluated-drd-panel-maximised---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/decisionInstance.spec.ts-snapshots/decision-instance-page-evaluated-without-input-output-panel---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/decisionInstance.spec.ts-snapshots/decision-instance-page-evaluated-without-input-output-panel---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/decisionInstance.spec.ts-snapshots/decision-instance-page-failed---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/decisionInstance.spec.ts-snapshots/decision-instance-page-failed---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/decisionInstance.spec.ts-snapshots/decision-instance-page-failed-result-tab-selected---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/decisionInstance.spec.ts-snapshots/decision-instance-page-failed-result-tab-selected---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/decisions.spec.ts-snapshots/decisions-page-error-page---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/decisions.spec.ts-snapshots/decisions-page-error-page---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/decisions.spec.ts-snapshots/decisions-page-filled-with-data---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/decisions.spec.ts-snapshots/decisions-page-filled-with-data---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/decisions.spec.ts-snapshots/decisions-page-optional-filters-visible---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/decisions.spec.ts-snapshots/decisions-page-optional-filters-visible---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/migration.spec.ts-snapshots/migration-view-initial-migration-view---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/migration.spec.ts-snapshots/migration-view-initial-migration-view---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/modifications.spec.ts-snapshots/modifications-apply-modifications-summary-modal---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/modifications.spec.ts-snapshots/modifications-apply-modifications-summary-modal---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/modifications.spec.ts-snapshots/modifications-diagram-badges-and-flow-node-instance-history-panel---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/modifications.spec.ts-snapshots/modifications-diagram-badges-and-flow-node-instance-history-panel---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/modifications.spec.ts-snapshots/modifications-with-add-variable-state---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/modifications.spec.ts-snapshots/modifications-with-add-variable-state---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/modifications.spec.ts-snapshots/modifications-with-helper-modal---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/modifications.spec.ts-snapshots/modifications-with-helper-modal---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-add-variable-state---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-add-variable-state---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-completed-instance---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-completed-instance---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-edit-variable-state---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-edit-variable-state---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-error-page---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-error-page---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-instance-with-incident---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-instance-with-incident---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-running-instance---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-running-instance---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-data-table-toolbar-visible---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-data-table-toolbar-visible---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-empty-page---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-empty-page---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-error-page---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-error-page---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-filled-with-data-and-one-flow-node-selected---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-filled-with-data-and-one-flow-node-selected---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-filled-with-data-and-operations-panel-expanded---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-filled-with-data-and-operations-panel-expanded---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-optional-filters-visible-part-1---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-optional-filters-visible-part-1---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-optional-filters-visible-part-2---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-optional-filters-visible-part-2---light-1-chromium-linux.png
  operate/pom.xml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#22883 [Backport stable/operate-8.5] fix: Ambiguous INCOMPLETE snapshot state
  operate/common/src/main/java/io/camunda/operate/property/BackupProperties.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/BackupControllerIT.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchSnapshotOperations.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/response/OpenSearchSnapshotInfo.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/backup/BackupRepository.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/backup/ElasticsearchBackupRepository.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/backup/OpensearchBackupRepository.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/elasticsearch/backup/ElasticsearchBackupRepositoryTest.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/opensearch/backup/OpensearchBackupRepositoryTest.java
Labels: component/operate

#22699 Fix the medic benchmark
  monitor/grafana/medic-benchmark-dashboard.json
Labels: component/zeebe

#22999 ci: revert and use zeebe runners for zeebe-related jobs
  .github/workflows/ci.yml
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe

#22946 feat: add process instance id to variable for variable search
  tasklist/common/src/main/java/io/camunda/tasklist/entities/listview/VariableListViewEntity.java
Labels: component/tasklist

#23030 deps: update zeebe and identity versions
  optimize/pom.xml
Labels: component/optimize

#22818 Verify permissions on deploy resource commands
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/DeploymentCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/AuthorizableDistributionProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/DefaultUserCreator.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/UserCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/UserUpdateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UserCreatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbAuthorizationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/AuthorizationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/UserState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableUserState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/user/DbUserState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/user/CreateUserTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/AuthorizationStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/user/UserStateTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RestErrorMapper.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/user/UserRecord.java
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/DeploymentCreateAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/processing/DefaultUserCreatorIT.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
Labels: component/zeebe

#22948 refactor: remove getAsyncLogStream from SynchronousLogStream and rena…
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/LogStreamPrinter.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/ProcessingExporterTransistor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/StreamProcessingComposite.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/StreamProcessorRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/TestStreams.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/log/LogStreamBatchReaderTest.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/log/LogStreamReaderTest.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/log/LogStreamTest.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/log/LogStreamWriterTest.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/util/LogStreamReaderRule.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/util/LogStreamRule.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/util/SynchronousLogStream.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/util/TestLogStream.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/util/TestLogStreamBuilder.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamPlatform.java
Labels: component/zeebe

#22848 Schema json files now supports settings
  operate/schema/src/main/resources/schema/elasticsearch/create/template/operate-list-view.json
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/ElasticsearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/ElasticsearchEngineClientIT.java
  zeebe/exporters/camunda-exporter/src/test/resources/mappings-and-settings.json
Labels: component/zeebe, component/operate

#22849 Schema manager rolling update tests
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/config/ElasticsearchProperties.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/ElasticsearchSchemaManager.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
Labels: component/zeebe

#22959 ci: change monorepo backend sbom file format
  .github/workflows/sbom.yaml
Labels: component/build-pipeline

#23033 build: move reading pom after release branch checkout
  .github/workflows/optimize-release-optimize-c8-only.yml
Labels: component/build-pipeline, component/optimize

#23034 Remove delimiter from resource identifiers
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbAuthorizationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/ResourceIdentifiers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/AuthorizationState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/AuthorizationStateTest.java
Labels: component/zeebe

#23046 fix: Fix operate port for health check test
  .github/actions/compose/docker-compose.smoketest.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#23047 fix: Changing operate port for health check
  .github/actions/compose/docker-compose.smoketest.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#22994 Extended tests for camunda exporter
  zeebe/exporters/camunda-exporter/pom.xml
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterAuthenticationIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
Labels: component/zeebe

#22447 feat: Set MDC property actor-scheduler/actor-name for non actor threads
  dist/src/main/java/io/camunda/application/commons/actor/ActorSchedulerConfiguration.java
  dist/src/main/java/io/camunda/application/commons/clustering/AtomixClusterConfiguration.java
  dist/src/test/java/io/camunda/zeebe/gateway/StandaloneGatewaySecurityTest.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/AtomixCluster.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/AtomixClusterBuilder.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/impl/DefaultClusterMembershipService.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/impl/DiscoveryMembershipProtocol.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyUnicastService.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/protocol/GroupMembershipProtocol.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/protocol/SwimMembershipProtocol.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/impl/DefaultClusterMembershipServiceTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/DefaultClusterEventServiceTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/NettyMessagingServiceTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/NettyMessagingServiceTlsTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/NettyUnicastServiceTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/protocol/SwimProtocolTest.java
  zeebe/atomix/utils/src/main/java/io/atomix/utils/concurrent/AtomixThreadFactory.java
  zeebe/atomix/utils/src/main/java/io/atomix/utils/concurrent/Threads.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/ApiMessagingServiceStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/test/TestClusterFactory.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteringRule.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#23070 ci: temporarily remove cyclonedx maven plugin
  .github/workflows/sbom.yaml
  .github/workflows/tasklist-ci-fe-reusable.yml
  operate/client/package.json
  parent/pom.xml
  pom.xml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#23055 build: fix infosec registry name
  .github/workflows/optimize-release-optimize-c8-only.yml
Labels: component/build-pipeline, component/optimize

#23086 Revert "ci: revert and use zeebe runners for zeebe-related jobs"
  .github/workflows/ci.yml
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#22983 ci: labels in optimize automation comply to monorepo naming conventions
  .github/ISSUE_TEMPLATE/optimize-bug_report.md
  .github/workflows/optimize-command-eng.yml
  .github/workflows/optimize-command-help.yml
  .github/workflows/optimize-command-qa.yml
Labels: component/build-pipeline, component/optimize

#23081 fix: Updating upgrade factories for 8.6 to 8.7
  optimize/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/plan/factories/Upgrade313To86PlanFactory.java
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/plan/factories/Upgrade86to87PlanFactory.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/migrate313to86/AbstractUpgrade86IT.java.out
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/migrate313to86/DeleteEventIndicesAndTemplates86IT.java.out
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/migrate313to86/DeleteImportIndexIndex86IT.java.out
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/migrate313to86/DeleteLicenseIndex86IT.java.out
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/migrate313to86/DeleteOnboardingStateIndex86IT.java.out
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/migrate313to86/DeleteProcessInstanceArchiveIndex86IT.java.out
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/migrate313to86/DeleteSettingsIndexFields86IT.java.out
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/migrate313to86/PreventOptimize8UpgradeOnOptimize7IT.java.out
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/migrate313to86/indices/EventIndexV4.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/migrate313to86/indices/EventProcessDefinitionIndexV5.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/migrate313to86/indices/EventProcessMappingIndexV4.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/migrate313to86/indices/EventPublishStateIndexV4.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/migrate313to86/indices/EventSequenceCountIndexV4.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/migrate313to86/indices/EventTraceStateIndexV2.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/migrate313to86/indices/ImportIndexIndexV3.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/migrate313to86/indices/LicenseIndexV3.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/migrate313to86/indices/db/OnboardingStateIndexV2.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/migrate313to86/indices/db/ProcessInstanceArchiveIndexV8.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/migrate313to86/indices/db/SettingsIndexV2.java
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#22914 feat: add process definition search service, controller
  dist/src/main/java/io/camunda/application/commons/service/CamundaServicesConfiguration.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/clients/ElasticsearchSearchClient.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/clients/OpensearchSearchClient.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/transformers/ServiceTransformers.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/transformers/filter/ProcessDefinitionFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/transformers/filter/ProcessDefinitionQueryTransformerTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/transformers/sort/ProcessDefinitionSortTest.java
  search/search-client/src/main/java/io/camunda/search/ProcessDefinitionSearchClient.java
  search/search-domain/src/main/java/io/camunda/search/entities/ProcessDefinitionEntity.java
  search/search-domain/src/main/java/io/camunda/search/filter/FilterBuilders.java
  search/search-domain/src/main/java/io/camunda/search/filter/ProcessDefinitionFilter.java
  search/search-domain/src/main/java/io/camunda/search/query/ProcessDefinitionQuery.java
  search/search-domain/src/main/java/io/camunda/search/query/SearchQueryBuilders.java
  search/search-domain/src/main/java/io/camunda/search/sort/ProcessDefinitionSort.java
  search/search-domain/src/main/java/io/camunda/search/sort/SortOptionBuilders.java
  service/src/main/java/io/camunda/service/ProcessDefinitionServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/ProcessDefinitionQueryController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessDefinitionQueryControllerTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#22979 refactor: move indexLookupUtil to correct package
  optimize/backend/src/test/java/io/camunda/optimize/service/db/schema/IndexLookupUtilTest.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/schema/IndexLookupUtil.java
Labels: component/optimize

#23035 feat: support user update in camunda services
  service/src/main/java/io/camunda/service/UserServices.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/UserUpdateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/user/UpdateUserMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/user/UpdateUserPatchTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/user/UpdateUserTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/UserClient.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerUserUpdateRequest.java
Labels: component/zeebe

#23057 fix: do not throw Exception when GCS store is not accessible on startup
  zeebe/backup-stores/gcs/pom.xml
  zeebe/backup-stores/gcs/src/main/java/io/camunda/zeebe/backup/gcs/GcsBackupStore.java
  zeebe/backup-stores/gcs/src/test/java/io/camunda/zeebe/backup/gcs/ConfigIT.java
Labels: component/zeebe

#22410 fix: merge concurrent resolves for up to 128 hostnames
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyUnicastService.java
Labels: backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5, backport stable/8.6

#23098 [Backport stable/8.5] fix: merge concurrent resolves for up to 128 hostnames
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyUnicastService.java
Labels: component/zeebe

#23048 Align resource types with permissions document
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AddPermissionAuthorizationMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AddPermissionAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/AuthorizationStateTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/protocol/revapi.json
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AuthorizationResourceType.java
Labels: component/zeebe

#21765 refactor: update "latest" tag mentions to "8-latest"
  optimize/docker-compose.ccsm-with-optimize.yml
  optimize/docker/test/verify.sh
Labels: component/optimize

#22919 feat: add process definition search to client
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClient.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/SearchRequestBuilders.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/filter/ProcessDefinitionFilter.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/query/ProcessDefinitionQuery.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/response/ProcessDefinition.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/sort/ProcessDefinitionSort.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/SearchResponseMapper.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/filter/ProcessDefinitionFilterImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/query/ProcessDefinitionQueryImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/response/ProcessDefinitionImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/sort/ProcessDefinitionSortImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/process/QueryProcessDefinitionTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#22998 feat: Create abstraction layer (ES/OS) for backup services in OpenSearch #10083
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/DatabaseIntegrationTestExtension.java
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/db/DatabaseTestService.java
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/db/ElasticsearchDatabaseTestService.java
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/db/OpenSearchDatabaseTestService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/BackupService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/reader/BackupReaderES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/os/reader/BackupReaderOS.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/reader/AbstractBackupReader.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/reader/BackupReader.java
  optimize/backend/src/main/java/io/camunda/optimize/service/exceptions/OptimizeOpenSearchConnectionException.java
  optimize/backend/src/test/java/io/camunda/optimize/service/backup/BackupServiceTest.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/ExtendedOpenSearchClient.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/OptimizeOpenSearchClient.java
Labels: component/optimize

#22462 feat: Implemented ExporterFactories feature #22446
  dist/src/main/java/io/camunda/zeebe/broker/BrokerModuleConfiguration.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/Broker.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/repo/DefaultExporterFactory.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/repo/ExporterDescriptor.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/repo/ExporterFactory.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/repo/ExporterRepository.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/SimpleBrokerStartTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/repo/ExporterDescriptorTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/repo/ExporterRepositoryTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterContainerTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/util/TestExporterFactory.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/PartitionConfigurationManagerTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ExporterDirectorPartitionTransitionStepTest.java
Labels: component/exporter, component/zeebe, component/operate, component/tasklist, component/optimize, component/rdbms

#21852 ci: add Optimize migration IT to CI
  .github/workflows/ci.yml
  .github/workflows/optimize-ci.yml
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/AbstractUpgradeIT.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/AbstractUpgradeIT.java.out
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/EnvironmentConfigUtil.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/OverwriteConfigurationsTest.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/OverwriteConfigurationsTest.java.out
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/UpdateIndexStepResumesReindexOperationsIT.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/UpdateIndexStepResumesReindexOperationsIT.java.out
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/UpdateMissingMetadataIT.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/UpdateMissingMetadataIT.java.out
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/UpgradeStepIdempotenceIT.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/UpgradeStepIdempotenceIT.java.out
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/UpgradeStepsIT.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/UpgradeStepsIT.java.out
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/UpgradeStepsLogIT.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/UpgradeStepsLogIT.java.out
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/UpgradeStepsResilienceIT.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/UpgradeStepsResilienceIT.java.out
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/db/IndexLookupUtilIncludingTestIndices.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/db/indices/RenameFieldTestIndex.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/db/indices/UserTestDto.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/db/indices/UserTestIndex.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/db/indices/UserTestUpdatedMappingIndex.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/db/indices/UserTestWithTemplateIndex.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/db/indices/UserTestWithTemplateUpdatedMappingIndex.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/es/SchemaUpgradeClientESReindexTest.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/es/indices/RenameFieldTestIndexES.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/es/indices/UserTestIndexES.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/es/indices/UserTestUpdatedMappingIndexES.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/es/indices/UserTestWithTemplateIndexES.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/es/indices/UserTestWithTemplateUpdatedMappingIndexES.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/main/UpgradeProcedureIT.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/main/UpgradeProcedureIT.java.out
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/main/UpgradeProcedureTest.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/main/UpgradeProcedureTest.java.out
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/os/SchemaUpgradeClientOSReindexTest.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/os/indices/RenameFieldTestIndexOS.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/os/indices/UserTestIndexOS.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/os/indices/UserTestUpdatedMappingIndexOS.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/os/indices/UserTestWithTemplateIndexOS.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/os/indices/UserTestWithTemplateUpdatedMappingIndexOS.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/plan/UpgradePlanRegistryTest.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/plan/UpgradePlanRegistryTest.java.out
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/service/UpgradeValidationServiceIT.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/service/UpgradeValidationServiceIT.java.out
Labels: component/build-pipeline, component/optimize

#23114 fix: use the userKey for the state and response commands to support t…
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/UserUpdateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/user/UpdateUserTest.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/UserRecordStream.java
Labels: component/zeebe

#23074 fix: Throw IllegalArgumentException when non-existing exporters are configured
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/SystemContext.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/SystemContextTest.java
Labels: component/zeebe

#23146 Do not assign ILM to main indices.
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
Labels: component/zeebe

#22794 feat: support migration of business rule, script and send task
  operate/client/e2e-playwright/pages/components/Diagram.ts
  operate/client/e2e-playwright/tests/processInstanceMigration.mocks.ts
  operate/client/e2e-playwright/tests/processInstanceMigration.spec.ts
  operate/client/e2e-playwright/tests/resources/ProcessInstanceMigration/orderProcessMigration_v_1.bpmn
  operate/client/e2e-playwright/tests/resources/ProcessInstanceMigration/orderProcessMigration_v_2.bpmn
  operate/client/e2e-playwright/tests/resources/ProcessInstanceMigration/orderProcessMigration_v_3.bpmn
  operate/client/src/App/Processes/MigrationView/BottomPanel/index.test.tsx
  operate/client/src/App/Processes/MigrationView/BottomPanel/tests/mocks.tsx
  operate/client/src/App/Processes/MigrationView/MigrationConfirmationModal/index.test.tsx
  operate/client/src/App/Processes/MigrationView/MigrationConfirmationModal/index.tsx
  operate/client/src/modules/mocks/diagrams/instanceMigration.bpmn
  operate/client/src/modules/mocks/diagrams/instanceMigration_v2.bpmn
  operate/client/src/modules/stores/processInstanceMigrationMapping.test.ts
  operate/client/src/modules/stores/processXml/processXml.migration.source.test.ts
  operate/client/src/modules/stores/processXml/processXml.migration.target.test.ts
  operate/client/src/modules/stores/processXml/utils/isMigratableFlowNode.ts
Labels: component/operate

#23079 Verify permissions in `AuthorizationAddPermissionsProcessor`
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/AddPermissionsCommandImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationAddPermissionProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationProcessors.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/AuthorizationController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/AuthorizationControllerTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/AuthorizationAddPermissionAuthorizationIT.java
Labels: component/zeebe

#23090 Metrics for Camunda exporter
  monitor/grafana/zeebe.json
  zeebe/exporters/camunda-exporter/pom.xml
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/metrics/CamundaExporterMetrics.java
Labels: component/zeebe

#23150 fix: minor fixes in tasklist Makefile
  tasklist/Makefile
  tasklist/config/docker-compose.yml
Labels: component/tasklist

#23123 [backport stable/optimize-8.6] ci: update optimize latest docker tags
  .github/workflows/optimize-release-optimize-c8-only.yml
Labels: component/build-pipeline, component/optimize

#23125 Support opensearch in camunda exporter
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/ExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/adapters/ClientAdapter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/adapters/ElasticsearchAdapter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/adapters/OpensearchAdapter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/config/ConnectionTypes.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/config/ElasticsearchExporterConfiguration.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/config/ExporterConfiguration.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/ElasticsearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/ElasticsearchSchemaManager.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/MappingSource.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/SearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterAuthenticationIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/ElasticsearchEngineClientIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/ElasticsearchSchemaManagerIT.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
Labels: component/zeebe

#23018 fix: bump camunda+connectors versions for the release
  c8run/internal/run.sh
  c8run/package.bat
  c8run/package.sh
  c8run/windows/c8run_windows.go
Labels: component/c8run

#23178 fix: update README.md to mention the current c8run sdk auth issue
  c8run/README.md
Labels: component/c8run

#23162 Add new RoleRecord and RoleIntent
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestReader.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/EventAppliersTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/TestSupport.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestSupport.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/authorization/RoleRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/ValueTypeMapping.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/Intent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/RoleIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/RoleRecordValue.java
  zeebe/protocol/src/main/resources/protocol.xml
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
Labels: component/zeebe

#23134 feat: add get process definition endpoint
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClient.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/fetch/ProcessDefinitionGetRequest.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/fetch/ProcessDefinitionGetRequestImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/SearchResponseMapper.java
  clients/java/src/test/java/io/camunda/zeebe/client/process/QueryProcessDefinitionTest.java
  service/src/main/java/io/camunda/service/ProcessDefinitionServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/ProcessDefinitionQueryController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessDefinitionQueryControllerTest.java
Labels: component/zeebe

#23008 feat: search variable service and controller
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/VariableFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/VariableQueryTransformerTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/sort/VariableSortTest.java
  search/search-domain/src/main/java/io/camunda/search/entities/VariableEntity.java
  search/search-domain/src/main/java/io/camunda/search/filter/VariableFilter.java
  search/search-domain/src/main/java/io/camunda/search/query/VariableQuery.java
  search/search-domain/src/main/java/io/camunda/search/sort/VariableSort.java
  service/src/test/java/io/camunda/service/VariableServiceTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/VariableQueryController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/VariablesQueryControllerTest.java
Labels: component/zeebe

#23154 feat: rename incident to hasIncident in flow node instance api
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/filter/FlownodeInstanceFilter.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/filter/FlownodeInstanceFilterImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/response/FlowNodeInstanceImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/flownodeinstance/FlownodeInstanceTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/FlownodeInstanceFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/FlowNodeInstanceFilterTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/sort/FlowNodeInstanceSortTest.java
  search/search-domain/src/main/java/io/camunda/search/filter/FlowNodeInstanceFilter.java
  search/search-domain/src/main/java/io/camunda/search/sort/FlowNodeInstanceSort.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/FlowNodeInstanceQueryControllerTest.java
Labels: component/zeebe

#22901 refactor: migrate formatters to TS
  optimize/client/src/modules/services/formatters.js
  optimize/client/src/modules/services/formatters.test.js
  optimize/client/src/modules/services/formatters.test.ts
  optimize/client/src/modules/services/formatters.tsx
  optimize/client/src/modules/types.ts
Labels: component/optimize

#23194 optimize-stabilize-stable-branch
  .github/ISSUE_TEMPLATE/optimize-bug_report.md
  .github/workflows/ci.yml
  .github/workflows/optimize-check-c4.yml
  .github/workflows/optimize-ci-build-reusable.yml
  .github/workflows/optimize-ci.yml
  .github/workflows/optimize-command-eng.yml
  .github/workflows/optimize-command-help.yml
  .github/workflows/optimize-command-qa.yml
  .github/workflows/optimize-deploy-artifacts.yml
  .github/workflows/optimize-e2e-test-cloud.yml
  .github/workflows/optimize-e2e-tests-sm.yml
  .github/workflows/optimize-publish-c4.yml
  .github/workflows/optimize-release-optimize-c8-only.yml
  .github/workflows/optimize-zeebe-compatibility.yml
  optimize/backend/src/test/java/io/camunda/optimize/service/db/schema/IndexLookupUtilTest.java
  optimize/pom.xml
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/plan/factories/Upgrade860To861PlanFactory.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/OptimizeOpenSearchClient.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/schema/IndexLookupUtil.java
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/identity, component/optimize

#23151 Configurable index shards and replicas
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/ElasticsearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/ElasticsearchSchemaManager.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/SearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/ElasticsearchEngineClientIT.java
Labels: component/exporter, component/zeebe

#23122 ci: update optimize latest docker tags
  .github/workflows/optimize-release-optimize-c8-only.yml
Labels: component/build-pipeline, component/optimize

#23186 fix: add backward compatability to preferRestOverGrpc property
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientConfigurationImpl.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationDefaultPropertiesTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationImplSaasTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationImplSelfManagedTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/legacy/ZeebeClientStarterAutoConfigurationCustomJsonMapperTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/legacy/ZeebeClientStarterAutoConfigurationTest.java
Labels: component/zeebe, backport stable/8.6

#23170 fix: Properly apply header size configuration
  optimize/backend/src/main/java/io/camunda/optimize/JettyConfig.java
  optimize/backend/src/main/java/io/camunda/optimize/OptimizeJettyServerCustomizer.java
Labels: component/optimize, backport stable/optimize-8.6

#23196 fix: correct git config in optimize release workflow
  .github/workflows/optimize-release-optimize-c8-only.yml
Labels: component/build-pipeline, component/optimize

#23198 Refactor exporter config
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/config/ExporterConfiguration.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/ElasticsearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/ElasticsearchSchemaManager.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/ElasticsearchSchemaManagerIT.java
Labels: component/zeebe

#23159 feat: rename key to incidentKey in incidents api
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/response/Incident.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/filter/IncidentFilterImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/response/IncidentImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/incident/SearchIncidentTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/IncidentFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/IncidentQueryTransformerTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/sort/IncidentSortTest.java
  search/search-domain/src/main/java/io/camunda/search/filter/IncidentFilter.java
  search/search-domain/src/main/java/io/camunda/search/sort/IncidentSort.java
  service/src/main/java/io/camunda/service/IncidentServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/IncidentQueryControllerTest.java
Labels: component/zeebe

#23201 [Backport stable/optimize-8.6] fix: Properly apply header size configuration
  optimize/backend/src/main/java/io/camunda/optimize/JettyConfig.java
  optimize/backend/src/main/java/io/camunda/optimize/OptimizeJettyServerCustomizer.java
Labels: component/optimize

#23205 Remove authorization wrapper classes
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/DeploymentCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationAddPermissionProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/DefaultJobCommandPreconditionGuard.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobAcceptFunction.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobCommandPreconditionChecker.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobCompleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobEventProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobThrowErrorProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCreationCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCreationCreateWithResultProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/AuthorizableCommandProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/AuthorizableDistributionProcessor.java
Labels: component/zeebe

#22484 refactor: Centralize logic for handling UserTask commands
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/UserTaskCommandProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/UserTaskEventProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/UserTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskAssignProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskClaimProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskCommandPreconditionChecker.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskCommandProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskCompleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskUpdateProcessor.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/UserTaskIntent.java
Labels: component/zeebe

#23031 feat: Allow configuring timeouts in cluster topology gossipper
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  dist/src/main/config/gateway.yaml.template
  dist/src/main/java/io/camunda/application/commons/clustering/DynamicClusterServices.java
  dist/src/test/java/io/camunda/zeebe/gateway/StandaloneGatewaySecurityTest.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/topology/DynamicClusterConfigurationService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/SystemContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/ClusterCfg.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/ConfigManagerCfg.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/SystemContextTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/configuration/ClusterCfgTest.java
  zeebe/broker/src/test/resources/system/config-manager.yaml
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/gossip/ClusterConfigurationGossiperConfig.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/configuration/ClusterCfg.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/configuration/ConfigManagerCfg.java
  zeebe/gateway/src/test/java/io/camunda/zeebe/gateway/impl/configuration/GatewayCfgTest.java
  zeebe/gateway/src/test/resources/configuration/gateway.custom.yaml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#23208 feat: C8 API Implement Process instance endpoints - rename fields
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/filter/ProcessInstanceFilter.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/response/ProcessInstance.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/filter/ProcessInstanceFilterImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/response/ProcessInstanceImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/process/QueryProcessInstanceTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessQueryTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/ProcessInstanceFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/ProcessInstanceQueryTransformerTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/sort/ProcessInstanceSortTest.java
  search/search-domain/src/main/java/io/camunda/search/filter/ProcessInstanceFilter.java
  search/search-domain/src/main/java/io/camunda/search/sort/ProcessInstanceSort.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceQueryControllerTest.java
Labels: component/zeebe

#23212 deps: fix Tasklist version bump
  tasklist/client/package.json
Labels: component/tasklist

#23167 feat: search variables client
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClient.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/SearchRequestBuilders.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/filter/VariableFilter.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/query/VariableQuery.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/response/Variable.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/sort/VariableSort.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/SearchResponseMapper.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/filter/VariableFilterImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/query/VariableQueryImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/response/VariableImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/sort/VariableSortImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/variable/SearchVariableTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/VariableQueryTest.java
Labels: component/zeebe

#23226 ci: toggle long classpath flag on generate-sbe
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#23211 Backport CI Maven Setup fixes
  .github/workflows/ci.yml
  .github/workflows/operate-ci.yml
  .github/workflows/optimize-ci-build-reusable.yml
  .github/workflows/optimize-run-java-checks.yml
  bom/pom.xml
  dist/pom.xml
  parent/pom.xml
  pom.xml
  tasklist/qa/util/pom.xml
  webapps-schema/pom.xml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#23225 fix: c8run enable v2 apis and add test for APIs
  .github/workflows/c8run-build.yaml
  c8run/connectors-application.properties
  c8run/e2e_tests/api_tests.sh
  c8run/internal/run.sh
  c8run/windows/c8run_windows.go
Labels: component/build-pipeline, component/c8run

#23247 [Backport stable/8.6] feat: expose oauth scope config in spring sdk
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientConfigurationImpl.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/common/ApiProperties.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/ZeebeClientPropertiesSaasTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/ZeebeClientPropertiesSelfManagedTest.java
Labels: component/zeebe

#23207 fix: return jobKey in REST for activated job
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/ActivatedJobImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/job/rest/ActivateJobsRestTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/impl/job/LongPollingActivateJobsRestTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerLongPollingTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerRoundRobinTest.java
Labels: BREAKING CHANGE, backport main, component/zeebe

#23251 [Backport main] fix: return jobKey in REST for activated job
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/ActivatedJobImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/job/rest/ActivateJobsRestTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/impl/job/LongPollingActivateJobsRestTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerLongPollingTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerRoundRobinTest.java
Labels: component/zeebe

#23197 feat: provide isolate CompositeMeterRegistry for each ExporterContainer
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/context/ExporterContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/metrics/ExecutionLatencyMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/repo/ExporterRepository.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterContainer.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/context/ExporterContextTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/metrics/MetricsExporterTest.java
Labels: component/zeebe

#23222 fix: Add Backoff Mechanism to Handle ElasticSearch Unavailability in Tasklist Importer
  tasklist/common/src/main/java/io/camunda/tasklist/util/BackoffIdleStrategy.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/RecordsReaderAbstract.java
Labels: component/tasklist, backport stable/8.6

#23254 Add RoleCreatedApplier
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/RoleCreatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbRoleState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/RoleState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableRoleState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/RoleStateTest.java
Labels: component/zeebe

#23111 feat: include sbom yaml to build SBOM
  .github/workflows/sbom.yaml
  .github/workflows/tasklist-ci-fe-reusable.yml
  operate/client/package.json
Labels: component/build-pipeline, component/operate, component/tasklist

#23219 Use overrides from @JsonProperty when it's provided
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/PropertyBasedZeebeWorkerValueCustomizer.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/PropertyBasedZeebeWorkerValueCustomizerTest.java
Labels: component/zeebe, backport stable/8.5, backport stable/8.6

#23286 [Backport stable/8.6] ci: use infra github-managed runners for `ci.yml/java-unit-tests` workflow
  .github/workflows/ci.yml
  .github/workflows/zeebe-ci.yml
  parent/pom.xml
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/SnapshotChecksumTest.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/STracer.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/junit/StraceTest.java
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#23288 [Backport stable/8.6] Use overrides from @JsonProperty when it's provided
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/PropertyBasedZeebeWorkerValueCustomizer.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/PropertyBasedZeebeWorkerValueCustomizerTest.java
Labels: component/zeebe

#23161 Verify permissions on PI cancellation
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCancelProcessor.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/ProcessInstanceCancelAuthorizationIT.java
Labels: component/zeebe

#23227 Support delete operations in the batch request
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/store/BatchRequest.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/store/ElasticsearchBatchRequest.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/store/OpensearchBatchRequest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/store/ElasticsearchBatchRequestTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/store/OpensearchBatchRequestTest.java
Labels: component/zeebe

#23202 feat: tenant state is managed within Zeebe
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/ProcessingDbState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/ProcessingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/TenantState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableProcessingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableTenantState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/tenant/DbTenantState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/tenant/PersistedTenant.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
Labels: component/zeebe

#23287 [Backport stable/8.5] Use overrides from @JsonProperty when it's provided
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/PropertyBasedZeebeWorkerValueCustomizer.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/PropertyBasedZeebeWorkerValueCustomizerTest.java
Labels: component/zeebe, component/operate

#23295 [Backport stable/8.6] tasklist disable frontend build on docker test #22575
  .github/workflows/tasklist-backup-restore-tests-reusable.yml
  .github/workflows/tasklist-ci-build-reusable.yml
  .github/workflows/tasklist-docker-tests.yml
  .github/workflows/tasklist-e2e-tests.yml
Labels: component/build-pipeline, component/tasklist

#23301 test: set zeebe and identity in tasklist tests with 8.6.0 version
  tasklist/qa/pom.xml
Labels: component/tasklist

#23302 ci: use 8.6.0 version in tasklist docker compose file
  tasklist/config/docker-compose.yml
Labels: component/tasklist

#23214 fix: Context-Path not taken into account for noPermission route
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/identity/IdentityController.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/sso/SSOController.java
Labels: component/tasklist, backport stable/8.6

#23220 fix: migration issue for passwords on ES/OS
  operate/client/e2e-playwright/tests/login.spec.ts
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/auth/OperateUserDetailsService.java
  tasklist/client/e2e/tests/login.spec.ts
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/se/SearchEngineUserDetailsService.java
Labels: backport main, component/zeebe, component/operate, component/tasklist, component/identity, component/optimize

#23216 feat: implement get variable by key controller
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClient.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/fetch/VariableGetRequest.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/fetch/VariableGetRequestImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/variable/GetVariableTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/VariableQueryTest.java
  service/src/main/java/io/camunda/service/VariableServices.java
  service/src/test/java/io/camunda/service/VariableServiceTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/VariableQueryController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/VariablesQueryControllerTest.java
Labels: component/zeebe

#23285 Authorization checks on UserTask processors
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/UserTaskCommandProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/UserTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskAssignProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskClaimProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskCommandPreconditionChecker.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskCompleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskUpdateProcessor.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/UserTaskAssignAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/UserTaskClaimAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/UserTaskCompleteAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/UserTaskUpdateAuthorizationIT.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/UserTaskRecordStream.java
Labels: component/zeebe

#23293 Check permissions on setting variables
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableDocumentUpdateProcessor.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/VariableDocumentUpdateAuthorizationIT.java
Labels: component/zeebe

#23276 Verify permissios on PI migration
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/ProcessInstanceMigrationMigrateAuthorizationIT.java
Labels: component/zeebe

#23280 Add authorization checks to PI modification
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceModificationModifyProcessor.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/ProcessInstanceModificationModifyAuthorizationIT.java
Labels: component/zeebe

#23333 ci: skip optimize on second release perform stage
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

#23330 ci: usage of correct release workflow for 8.6
  .github/workflows/dispatch-release-8-2.yaml
  .github/workflows/dispatch-release-8-6.yaml
  .github/workflows/zeebe-release-stable-dry-run.yml
Labels: component/build-pipeline, component/zeebe

#23324 docs: fix rest endpoint tags
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

#23299 feat: C8 API - C8 API Process instance search - calculated fields
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/filter/ProcessInstanceFilter.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/response/ProcessInstance.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/sort/ProcessInstanceSort.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/filter/ProcessInstanceFilterImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/response/ProcessInstanceImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/sort/ProcessInstanceSortImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/process/QueryProcessInstanceTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/ProcessInstanceFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/SearchClientBasedQueryExecutorTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/ProcessInstanceQueryTransformerTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/sort/ProcessInstanceSortTest.java
  search/search-domain/src/main/java/io/camunda/search/entities/ProcessInstanceEntity.java
  search/search-domain/src/main/java/io/camunda/search/filter/ProcessInstanceFilter.java
  search/search-domain/src/main/java/io/camunda/search/sort/ProcessInstanceSort.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceQueryControllerTest.java
Labels: component/zeebe

#23209 feat: Implement processinstance process execution plan interpreters for OS #12840
  optimize/backend/src/main/java/io/camunda/optimize/service/db/os/report/interpreter/plan/process/GenericProcessExecutionPlanInterpreterOS.java
Labels: component/optimize

#23363 Use new record to transmit acknowledgement
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionBehavior.java
Labels: component/zeebe, backport stable/8.6

#23110 refactor: Refactor MDC property actor scheduler name setting on gossip threads
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/AtomixCluster.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/impl/DefaultClusterMembershipService.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/impl/DiscoveryMembershipProtocol.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/protocol/GroupMembershipProtocol.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/protocol/SwimMembershipProtocol.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/protocol/SwimMembershipProtocolBuilder.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/impl/DefaultClusterMembershipServiceTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/DefaultClusterEventServiceTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/protocol/SwimProtocolTest.java
Labels: component/zeebe

#23366 [Backport stable/8.6] Use new record to transmit acknowledgement
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionBehavior.java
Labels: component/zeebe

#23309 fix: correct broken test steps and create new version of process to enable valid migration
  operate/client/e2e-playwright/docs-screenshots/process-instance-migration.spec.ts
  operate/client/e2e-playwright/pages/DecisionInstance.ts
  operate/client/e2e-playwright/pages/Decisions.ts
  operate/client/e2e-playwright/pages/Login.ts
  operate/client/e2e-playwright/pages/ProcessInstance.ts
  operate/client/e2e-playwright/pages/Processes/Processes.ts
  operate/client/e2e-playwright/tests/login.spec.ts
  operate/client/playwright.config.ts
  operate/client/src/modules/mocks/diagrams/orderProcess_v3.bpmn
Labels: kind/bug, component/operate, component/frontend

#23369 Merge release branch back to stable Release/optimize 8.6.1
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/plan/factories/Upgrade861To862PlanFactory.java
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Labels: component/optimize

#23218 feat: allow for disabling cluster health checks
  operate/common/src/main/java/io/camunda/operate/connect/ElasticsearchConnector.java
  operate/common/src/main/java/io/camunda/operate/connect/OpensearchConnector.java
  operate/common/src/main/java/io/camunda/operate/property/ElasticsearchProperties.java
  operate/common/src/main/java/io/camunda/operate/property/OpensearchProperties.java
  operate/common/src/main/java/io/camunda/operate/property/OperateProperties.java
  operate/common/src/test/java/io/camunda/operate/connect/ElasticsearchConnectorTest.java
  operate/common/src/test/java/io/camunda/operate/connect/OpensearchConnectorTest.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/elasticsearch/TestElasticsearchConnector.java
  operate/schema/src/main/java/io/camunda/operate/management/IndicesHealthIndicator.java
  operate/schema/src/main/java/io/camunda/operate/schema/elasticsearch/ElasticsearchSchemaManager.java
  operate/schema/src/main/java/io/camunda/operate/schema/opensearch/OpensearchSchemaManager.java
Labels: component/operate, backport stable/operate-8.5, backport stable/8.6

#23284 [Backport stable/8.6] Revert "ci: revert and use zeebe runners for zeebe-related jobs"
  .github/workflows/ci.yml
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe

#23311 fix: bypass sequence flow check after resolving incident on parallel gateway
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/ProcessInstanceStateTransitionGuard.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/execution/ExecutionListenerGatewayElementsTest.java
Labels: component/zeebe, backport stable/8.6

#23374 [Backport stable/8.6] fix: bypass sequence flow check after resolving incident on parallel gateway
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/ProcessInstanceStateTransitionGuard.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/execution/ExecutionListenerGatewayElementsTest.java
Labels: component/zeebe

#23350 fix: permit requests to swagger endpoint `/v3/api-docs/**`
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/OpenApiConfig.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/OperateURIs.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/config/OpenApiConfig.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/TasklistURIs.java
Labels: component/operate, component/tasklist, backport stable/8.6

#23192 feat: add initial command to scale up partitions
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestReader.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/Engine.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/ScaleUpProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/ScaledUpApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/ScalingProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/ScalingUpApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableRoutingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/routing/DbRoutingState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/scaling/ScaleUpTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/routing/DbRoutingStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/RecordToWrite.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/TestSupport.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestSupport.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/scaling/ScaleRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/ValueTypeMapping.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/Intent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/scaling/ScaleIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/scaling/ScaleRecordValue.java
  zeebe/protocol/src/main/resources/protocol.xml
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/TypedEventRegistry.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/RecordingExporter.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/ScaleRecordStream.java
Labels: component/zeebe

#23320 build: Add script for v2 API env
  tasklist/client/vite.config.ts
  tasklist/config/env_setup.sh
Labels: component/tasklist

#23381 fix: Fixing failing integrity test pipeline
  .github/workflows/optimize-ci-build-reusable.yml
  .github/workflows/optimize-ci.yml
Labels: backport main, component/build-pipeline, component/optimize

#23394 [Backport main] fix: Fixing failing integrity test pipeline
  .github/workflows/optimize-ci-build-reusable.yml
  .github/workflows/optimize-ci.yml
Labels: component/build-pipeline, component/optimize

#23200 [Backport stable/8.6] fix: add backward compatability to preferRestOverGrpc property
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientConfigurationImpl.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationDefaultPropertiesTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationImplSaasTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationImplSelfManagedTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/legacy/ZeebeClientStarterAutoConfigurationCustomJsonMapperTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/legacy/ZeebeClientStarterAutoConfigurationTest.java
Labels: component/zeebe

#23400 fix: c8run bump camunda version to 8.6.2
  c8run/internal/run.sh
  c8run/package.bat
  c8run/package.sh
  c8run/windows/c8run_windows.go
Labels: component/c8run

#21496 build: optimize dependencies comply with dependency:analyze
  .github/workflows/optimize-dependency-check.yml
  optimize/backend/pom.xml
  optimize/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
Labels: component/build-pipeline, component/optimize

#23444 [Backport stable/optimize-8.6] ci: use infra self-hosted runners for zeebe-ci.yml/smoke-tests
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe

#21353 ci: preview env deploy
  .ci/preview-environments/argo/c8sm.yml
  .ci/preview-environments/charts/c8sm/Chart.yaml
  .ci/preview-environments/charts/c8sm/templates/_helpers.tpl
  .ci/preview-environments/charts/c8sm/templates/certificates.yml
  .ci/preview-environments/charts/c8sm/templates/ns.yml
  .ci/preview-environments/charts/c8sm/templates/secrets.yml
  .ci/preview-environments/charts/c8sm/values.yaml
  .github/workflows/preview-env-build-and-deploy.yml
  .github/workflows/preview-env-build.yml
  .github/workflows/preview-env-clean.yml
  .github/workflows/preview-env-teardown.yml
Labels: component/build-pipeline, deploy-preview

#23375 Check permissions in `MessagePublishProcessor`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageEventProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessagePublishProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/message/MessageStreamProcessorTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/MessagePublishAuthorizationIT.java
Labels: component/zeebe

#23456 fix: fixing racing condition in the deployment step
  .github/workflows/optimize-deploy-artifacts.yml
Labels: backport main, component/build-pipeline, component/optimize

#23451 Revert "deps: Update version.lucene to v8.11.4 (stable/8.6)"
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#23454 ci: fix preview env build reference to feature branch
  .github/workflows/preview-env-build-and-deploy.yml
  .github/workflows/preview-env-teardown.yml
Labels: component/build-pipeline

#23313 [Backport stable/8.6] fix: Context-Path not taken into account for noPermission route
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/identity/IdentityController.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/sso/SSOController.java
Labels: component/tasklist

#23384 [Backport stable/8.6] fix: permit requests to swagger endpoint `/v3/api-docs/**`
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/OpenApiConfig.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/OperateURIs.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/config/OpenApiConfig.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/TasklistURIs.java
Labels: component/operate, component/tasklist

#23279 [Backport stable/8.6] fix: Add Backoff Mechanism to Handle ElasticSearch Unavailability in Tasklist Importer
  tasklist/common/src/main/java/io/camunda/tasklist/util/BackoffIdleStrategy.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/RecordsReaderAbstract.java
Labels: component/tasklist

#23277 Template descriptor creates indices
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/ElasticsearchSchemaManager.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/ElasticsearchSchemaManagerIT.java
Labels: component/zeebe

#23353 Check permissions in `MessageCorrelationCorrelateProcessor`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/Rejection.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageCorrelationCorrelateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageEventProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/Subscriptions.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCreationCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceModificationModifyProcessor.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/MessageCorrelationCorrelateAuthorizationIT.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/RecordStream.java
Labels: component/zeebe

#23308 Add RoleCreateProcessor
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/RoleCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/RoleProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbRoleState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/RoleState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/RoleMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/RoleTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/RoleStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/RoleClient.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/distribution/CommandDistributionRecord.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/TypedEventRegistry.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/RecordingExporter.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/RoleRecordStream.java
Labels: component/zeebe

#23464 ci: delete optimize workflows from stable/8.6
  .github/actions/compose/README.md
  .github/actions/compose/action.yml
  .github/actions/compose/docker-compose.elasticsearch.yml
  .github/actions/compose/docker-compose.opensearch.yml
  .github/actions/compose/docker-compose.smoketest.yml
  .github/actions/compose/healthy.sh
  .github/actions/compose/ssl-auth.cfg
  .github/actions/compose/ssl-basic-auth.cfg
  .github/actions/docker-logs/README.md
  .github/actions/docker-logs/action.yml
  .github/actions/execute-healthcheck-and-push-image/README.md
  .github/actions/execute-healthcheck-and-push-image/action.yml
  .github/actions/generate-changelog/README.md
  .github/actions/generate-changelog/action.yml
  .github/actions/generate-changelog/defaultChangelogConfig.json
  .github/actions/git-environment/README.md
  .github/actions/git-environment/action.yml
  .github/actions/git-environment/env.sh
  .github/actions/login-registry/README.md
  .github/actions/login-registry/action.yml
  .github/optimize/scripts/build-docker-image.sh
  .github/optimize/scripts/commands/add-engineering-dri-to-issue-description.sh
  .github/optimize/scripts/commands/get-issue-engineering-dri.sh
  .github/optimize/scripts/commands/get-issue-project-data.sh
  .github/optimize/scripts/get-zeebe-version-from-tag.sh
  .github/optimize/scripts/healthStatusReport/.gitignore
  .github/optimize/scripts/healthStatusReport/.prettierrc
  .github/optimize/scripts/healthStatusReport/GitHubService.ts
  .github/optimize/scripts/healthStatusReport/createHealthStatusConfig.ts
  .github/optimize/scripts/healthStatusReport/package.json
  .github/optimize/scripts/healthStatusReport/services.ts
  .github/optimize/scripts/healthStatusReport/tsconfig.json
  .github/optimize/scripts/healthStatusReport/types.ts
  .github/optimize/scripts/healthStatusReport/yarn.lock
  .github/optimize/scripts/wait-for.sh
  .github/workflows/optimize-check-c4.yml
  .github/workflows/optimize-ci-build-reusable.yml
  .github/workflows/optimize-ci.yml
  .github/workflows/optimize-command-assign.yml
  .github/workflows/optimize-command-eng.yml
  .github/workflows/optimize-command-help.yml
  .github/workflows/optimize-command-hold.yml
  .github/workflows/optimize-command-pm.yml
  .github/workflows/optimize-command-qa.yml
  .github/workflows/optimize-commands-dispatch.yml
  .github/workflows/optimize-create-release-branch.yml
  .github/workflows/optimize-deploy-artifacts.yml
  .github/workflows/optimize-e2e-test-cloud.yml
  .github/workflows/optimize-e2e-tests-sm.yml
  .github/workflows/optimize-generate-changelog.yml
  .github/workflows/optimize-generate-upgrade-plan.yml
  .github/workflows/optimize-hadolint.yml
  .github/workflows/optimize-health-status-report.yml
  .github/workflows/optimize-opened-issues-automation.yml
  .github/workflows/optimize-publish-c4.yml
  .github/workflows/optimize-release-optimize-c8-only.yml
  .github/workflows/optimize-run-java-checks.yml
  .github/workflows/optimize-sync-issues.yml
  .github/workflows/optimize-zeebe-compatibility.yml
  .github/workflows/preview-env-build.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#23439 Add exporter handler for Decision records with integration tests
  qa/integration-tests/pom.xml
  qa/integration-tests/src/test/java/io/camunda/it/exporter/DecisionExporterIT.java
  qa/integration-tests/src/test/java/io/camunda/it/utils/CamundaExporterITInvocationProvider.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/AbstractExporterEntity.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/ExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/config/ExporterConfiguration.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/DecisionHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/ElasticsearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/ElasticsearchSchemaManager.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/IndexMappingProperty.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/IndexSchemaValidator.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/SchemaManager.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/SearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/utils/ExporterUtil.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/DecisionHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/ElasticsearchSchemaManagerIT.java
Labels: component/zeebe

#23378 Refactoring SearchEngineClient to be more generic.
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/ElasticsearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/ElasticsearchSchemaManager.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/IndexMapping.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/IndexMappingProperty.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/IndexSchemaValidator.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/SchemaManager.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/utils/SearchEngineClientUtils.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/ElasticsearchSchemaManagerIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/IndexSchemaValidatorTest.java
Labels: component/zeebe

#23445 feat: remove enableSync config option from cluster's configManager
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  dist/src/main/config/gateway.yaml.template
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/SystemContext.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/SystemContextTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/configuration/ClusterCfgTest.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/gossip/ClusterConfigurationGossiper.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/gossip/ClusterConfigurationGossiperConfig.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/ClusterConfigurationManagementIntegrationTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/gossip/ClusterConfigurationGossiperTest.java
  zeebe/gateway/src/test/java/io/camunda/zeebe/gateway/impl/configuration/GatewayCfgTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#23305 refactor: remove serialization logic from SegmentDescriptor
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/file/Segment.java
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/file/SegmentDescriptor.java
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/file/SegmentDescriptorReader.java
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/file/SegmentDescriptorSerializer.java
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/file/SegmentDescriptorSerializerSbe.java
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/file/SegmentLoader.java
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/file/SegmentReader.java
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/file/SegmentWriter.java
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournalBuilder.java
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/file/UninitializedSegment.java
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/util/ChecksumGenerator.java
  zeebe/journal/src/test/java/io/camunda/zeebe/journal/file/LogCorrupter.java
  zeebe/journal/src/test/java/io/camunda/zeebe/journal/file/SegmentDescriptorSerializerTest.java
  zeebe/journal/src/test/java/io/camunda/zeebe/journal/file/SegmentedJournalReaderTest.java
  zeebe/journal/src/test/java/io/camunda/zeebe/journal/file/SegmentedJournalWriterTest.java
  zeebe/journal/src/test/java/io/camunda/zeebe/journal/file/TestJournalFactory.java
Labels: component/zeebe

#23385 feat: extend user task sort fields
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/filter/UserTaskFilter.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/response/UserTask.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/sort/UserTaskSort.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/filter/UserTaskFilterImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/response/UserTaskImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/sort/UserTaskSortImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/usertask/SearchUserTaskTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/UserTaskQueryTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/sort/UserTaskSortTest.java
  search/search-domain/src/main/java/io/camunda/search/sort/UserTaskSort.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserTaskQueryControllerTest.java
Labels: component/zeebe

#23474 Add RoleEntityRemovedApplier
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/RoleEntityRemovedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbRoleState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableRoleState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableUserState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/user/DbUserState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/RoleStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/user/UserStateTest.java
Labels: component/zeebe

#21856 deps: upgrade react to v18
  optimize/client/e2e/sm-tests/ProcessReport.js
  optimize/client/package.json
  optimize/client/src/components/Dashboards/AutoRefresh/AutoRefreshBehavior.test.js
  optimize/client/src/components/Dashboards/AutoRefresh/AutoRefreshIcon.test.js
  optimize/client/src/components/Dashboards/Dashboard.js
  optimize/client/src/components/Dashboards/Dashboard.test.js
  optimize/client/src/components/Dashboards/DashboardView.js
  optimize/client/src/components/Home/Collection.js
  optimize/client/src/components/Home/Copier.js
  optimize/client/src/components/Home/Copier.test.js
  optimize/client/src/components/Home/Home.js
  optimize/client/src/components/Home/modals/CollectionModal.tsx
  optimize/client/src/components/Reports/ReportEdit.js
  optimize/client/src/components/Reports/ReportEdit.test.js
  optimize/client/src/components/Reports/ReportView.js
  optimize/client/src/components/Reports/ReportView.test.js
  optimize/client/src/components/Reports/controlPanels/targetValue/DurationHeatmap/DurationHeatmapModal.test.js
  optimize/client/src/index.js
  optimize/client/src/modules/components/BPMNDiagram/BPMNDiagram.test.tsx
  optimize/client/src/modules/components/Checklist/Checklist.test.tsx
  optimize/client/src/modules/components/DashboardRenderer/DashboardTile/DashboardTile.test.js
  optimize/client/src/modules/components/EntityList/EntityList.tsx
  optimize/client/src/modules/components/Icon/Icon.test.tsx
  optimize/client/src/modules/components/Popover/Popover.test.tsx
  optimize/client/src/modules/components/ReportRenderer/ReportRenderer.test.js
  optimize/client/src/modules/components/Table/Table.test.tsx
  optimize/client/src/modules/components/Table/Table.tsx
  optimize/client/src/modules/components/Table/TableCell.tsx
  optimize/client/src/modules/components/Table/TableHeader.tsx
  optimize/client/src/modules/components/navigation/NavItem/NavItem.test.js
  optimize/client/src/setupTests.ts
  optimize/client/yarn.lock
Labels: component/optimize

#23521 deps: using zeebe 8.6.3 version for docker-compose and e2e tests
  .github/workflows/operate-e2e-tests.yml
  operate/docker-compose.yml
Labels: component/build-pipeline, component/operate

#23461 feat: add process definition client api integration tests
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/sort/ProcessDefinitionSortImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/process/QueryProcessDefinitionTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessDefinitionQueryTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

#23564 ci: add missing commenter param to optimize eng command
  .github/workflows/optimize-command-eng.yml
Labels: component/build-pipeline, component/optimize
