Repository camunda/camunda, pull requests merged in 2024-05, with the labels that each got.

#18107 [Backport stable/8.5]: jobs incidents should not be resolved if retries are less than 0
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/incident/IncidentResolveProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/ExecutionListenerJobTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/incident/CompensationIncidentTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/incident/JobFailIncidentTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/ActivatableJobsPushTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateIncidentTest.java
Labels: component/zeebe

#17581 feat: implementing bounded cache
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/engine/CachesCfg.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/engine/EngineCfg.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/configuration/EngineCfgTest.java
  zeebe/broker/src/test/resources/system/engine.yaml
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/EngineConfiguration.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/ProcessingDbState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/deployment/DbFormState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/deployment/DbProcessState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/migration/to_8_3/MultiTenancyMigrationTest.java
Labels: benchmark, component/zeebe

#17361 Cleanup contributing links
  CONTRIBUTING.md
Labels: component/zeebe, component/operate

#17756 feat: change claim for clusterId
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/oauth2/CCaaSJwtAuthenticationTokenValidatorIT.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/oauth2/CCSaaSJwtAuthenticationTokenValidator.java
Labels: component/operate

#18154 fix: go client omit optional scope param if not set
  clients/go/pkg/zbc/oauthCredentialsProvider.go
  clients/go/pkg/zbc/oauthCredentialsProvider_test.go
Labels: backport stable/8.4, component/zeebe, backport stable/8.5

#18109 [Backport stable/8.5] Expose Soft Pause Endpoint
  dist/src/main/java/io/camunda/zeebe/shared/management/ExportingEndpoint.java
  dist/src/test/java/io/camunda/zeebe/shared/management/ExportingEndpointTest.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/BrokerAdminService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/BrokerAdminServiceEndpoint.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/BrokerAdminServiceImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionStartupAndTransitionContextImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionTransitionContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/PartitionProcessingState.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ExporterDirectorPartitionTransitionStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/adminapi/AdminApiRequestHandler.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/TestPartitionTransitionContext.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/PartitionProcessingStateTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport/adminapi/AdminApiRequestHandlerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/admin/BrokerAdminRequest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/admin/exporting/ExportingControlApi.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/admin/exporting/ExportingControlService.java
  zeebe/protocol/src/main/resources/cluster-management-protocol.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/management/ExportingEndpointIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/system/BrokerAdminServiceTest.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/ExportingActuator.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/PartitionsActuator.java
Labels: component/zeebe

#18170 fix: remove duplicate method
  operate/importer-8_5/src/test/java/io/camunda/operate/zeebeimport/v8_5/processors/UserTaskZeebeRecordProcessorTest.java
Labels: component/operate

#18119 style: Add Prettier plugin for Stylelint
  tasklist/client/package.json
  tasklist/client/stylelint.config.js
  tasklist/client/yarn.lock
Labels: component/tasklist

#17570 feat: Add CSRF protection to Operate as header and cookie
  operate/client/src/modules/request/index.ts
  operate/common/src/main/java/io/camunda/operate/property/OperateProperties.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/AuthenticationTestable.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/es/CsrfTokenIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/sso/CsrfTokenIT.java
  operate/webapp/pom.xml
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/BaseWebConfigurer.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/CsrfRequireMatcher.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/OperateURIs.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/identity/IdentityWebSecurityConfig.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/sso/SSOWebSecurityConfig.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/security/CsrfRequireMatcherTest.java
Labels: component/operate

#18148 test: move operate schema tests into operate-qa-it-tests module
  operate/pom.xml
  operate/qa/integration-tests/pom.xml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/AbstractSchemaIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/IndexOldSchemaValidatorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/IndexSchemaValidatorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/SchemaManagerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/SchemaStartupIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/ObservableConnector.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/SchemaTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/SearchClientTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/TestDynamicIndex.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/TestIndex.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/TestSchemaStartup.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/TestTemplate.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/elasticsearch/ElasticsearchClientTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/elasticsearch/ElasticsearchSchemaTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/elasticsearch/TestElasticsearchConnector.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/opensearch/OpenSearchClientTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/opensearch/OpenSearchSchemaTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/opensearch/TestOpenSearchConnector.java
  operate/qa/integration-tests/src/test/resources/schema/elasticsearch/create/index/operate-testdynamicindex-property-removed.json
  operate/qa/integration-tests/src/test/resources/schema/elasticsearch/create/index/operate-testdynamicindex.json
  operate/qa/integration-tests/src/test/resources/schema/elasticsearch/create/index/operate-testindex-another-property-removed.json
  operate/qa/integration-tests/src/test/resources/schema/elasticsearch/create/index/operate-testindex-nullvalue.json
  operate/qa/integration-tests/src/test/resources/schema/elasticsearch/create/index/operate-testindex-property-added.json
  operate/qa/integration-tests/src/test/resources/schema/elasticsearch/create/index/operate-testindex-property-removed.json
  operate/qa/integration-tests/src/test/resources/schema/elasticsearch/create/index/operate-testindex.json
  operate/qa/integration-tests/src/test/resources/schema/elasticsearch/create/template/operate-testtemplate-property-added.json
  operate/qa/integration-tests/src/test/resources/schema/elasticsearch/create/template/operate-testtemplate-property-removed.json
  operate/qa/integration-tests/src/test/resources/schema/elasticsearch/create/template/operate-testtemplate.json
  operate/qa/integration-tests/src/test/resources/schema/opensearch/create/index/operate-testdynamicindex.json
  operate/qa/integration-tests/src/test/resources/schema/opensearch/create/index/operate-testindex.json
  operate/qa/integration-tests/src/test/resources/schema/opensearch/create/template/operate-testtemplate.json
  operate/schema/pom.xml
  operate/schema/src/test/java/io/camunda/operate/schema/IndexSchemaValidatorIT.java
  operate/webapp/src/test/java/io/camunda/operate/rest/dto/incidents/IncidentByProcessGroupStatisticsTest.java
  operate/webapp/src/test/java/io/camunda/operate/rest/dto/incidents/IncidentByProcessStatisticsDtoTest.java
  operate/webapp/src/test/java/io/camunda/operate/rest/dto/incidents/IncidentsByErrorMsgStatisticsTest.java
Labels: component/operate

#18077 test: create new tests for modify process instances - move token
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/zeebe/operation/process/modify/ModifyProcessInstanceOperationIT.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/zeebe/operation/ModifyProcessZeebeWrapper.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/zeebe/operation/process/modify/CancelTokenHandler.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/zeebe/operation/process/modify/CancelTokenHelper.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/zeebe/operation/process/modify/MoveTokenHandler.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/zeebe/operation/process/modify/SingleStepModifyProcessInstanceHandler.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/zeebe/operation/process/modify/MoveTokenHandlerTest.java
Labels: component/operate

#18165 Symlink `.idea` folder for `zeebe` subfolder
  zeebe/.idea
Labels: component/zeebe, backport stable/8.5

#18166 Fixing token validity verification that was causing authentication error
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/common/auth/jwt/JwtAuthentication.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/common/auth/jwt/JwtAuthenticationTest.java
Labels: component/zeebe, scope/spring-boot-starter-camunda, backport stable/8.5

#18172 Webapps: Links to new Terms & Conditions
  operate/client/src/App/Layout/AppHeader/index.tsx
  operate/client/src/App/Layout/AppHeader/styled.tsx
  operate/client/src/App/Login/Disclaimer/index.test.tsx
  operate/client/src/App/Login/Disclaimer/index.tsx
  operate/client/src/App/Login/Disclaimer/styled.ts
  operate/client/src/modules/components/TermsConditionsModal/index.tsx
  tasklist/client/src/Layout/Header/index.tsx
  tasklist/client/src/Layout/Header/tests/licenseNotice.test.tsx
  tasklist/client/src/Login/Disclaimer/index.test.tsx
  tasklist/client/src/Login/Disclaimer/index.tsx
  tasklist/client/src/modules/components/TermsConditionsModal.tsx
Labels: component/operate, component/tasklist

#18205 test: disable flake BackupUploadIT.shouldSaveBackupWithManyFiles
  zeebe/backup-stores/s3/src/test/java/io/camunda/zeebe/backup/s3/BackupUploadIT.java
Labels: component/zeebe

#18195 [Backport stable/8.5] Symlink `.idea` folder for `zeebe` subfolder
  zeebe/.idea
Labels: component/zeebe

#18188 refactor: modularize operate-data-generator module
  dist/pom.xml
  operate/data-generator/src/main/java/io/camunda/operate/DataGeneratorModuleConfiguration.java
  operate/data-generator/src/main/java/io/camunda/operate/data/AbstractDataGenerator.java
  operate/data-generator/src/main/java/io/camunda/operate/data/DataGenerator.java
  operate/data-generator/src/main/java/io/camunda/operate/data/develop/DevelopDataGenerator.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/TestApplication.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/apps/modules/ModulesTestApplication.java
  operate/webapp/pom.xml
  operate/webapp/src/main/java/io/camunda/operate/Application.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/StartupBean.java
Labels: component/zeebe, component/operate

#18209 fix: apply css stylelinting
  tasklist/client/src/Tasks/Task/Details/Aside.module.scss
  tasklist/client/src/Tasks/Task/Details/Header.module.scss
  tasklist/client/src/Tasks/Task/Details/styles.module.scss
Labels: component/tasklist

#18216 ci: add generous timeout to tasklist build to avoid stalling
  .github/workflows/tasklist-ci-build-reusable.yml
Labels: component/tasklist

#17730 refactor: move Operate's Application class to dist
  .github/workflows/operate-ci-test-reusable.yml
  .github/workflows/operate-e2e-tests.yml
  dist/pom.xml
  dist/src/main/java/io/camunda/operate/StandaloneOperate.java
  dist/src/main/resources/application-operate.yml
  operate/Makefile
  operate/qa/batch-operation-performance-tests/pom.xml
  operate/qa/batch-operation-performance-tests/src/test/java/io/camunda/operate/qa/performance/BatchOperationPerformanceIT.java
  operate/qa/import-performance-tests/pom.xml
  operate/qa/import-performance-tests/src/test/java/io/camunda/operate/qa/performance/ImportPerformanceStaticDataTest.java
  operate/qa/integration-tests/pom.xml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/ArchiverZeebeIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/metric/ImporterMetricsZeebeImportIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/metric/UsageMetricIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/HealthCheckAuthenticationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/HealthCheckIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/TestApplication.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/apps/modules/ModulesTestApplication.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/BackupControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/es/AuthenticationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/es/AuthenticationWithPersistentSessionsIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/identity/AuthenticationWithPersistentSessionsIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/identity/JdkAuthenticationProvidedIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/ldap/AuthenticationWrongParametersIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/sso/AuthenticationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/sso/AuthenticationWithPersistentSessionsIT.java
  operate/qa/util/pom.xml
  operate/qa/util/src/main/java/io/camunda/operate/qa/util/IdentityTester.java
  operate/webapp/pom.xml
Labels: component/zeebe, component/operate

#18122 fix: updates ILM policy based on settings
  operate/schema/pom.xml
  operate/schema/src/main/java/io/camunda/operate/schema/SchemaManager.java
  operate/schema/src/main/java/io/camunda/operate/schema/SchemaStartup.java
  operate/schema/src/main/java/io/camunda/operate/schema/elasticsearch/ElasticsearchSchemaManager.java
  operate/schema/src/main/java/io/camunda/operate/schema/opensearch/OpensearchSchemaManager.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/RetryElasticsearchClient.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchISMOperations.java
  operate/schema/src/test/java/io/camunda/operate/schema/elasticsearch/ElasticsearchSchemaManagerTest.java
  operate/schema/src/test/java/io/camunda/operate/schema/opensearch/OpensearchSchemaManagerTest.java
Labels: component/operate

#17776 test: fix tasklist back-up restore tests
  .github/workflows/tasklist-backup-restore-tests-reusable.yml
  .github/workflows/tasklist-backup-restore-tests.yml
  .gitignore
  tasklist/qa/backup-restore-tests/pom.xml
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/BackupRestoreTest.java
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/TasklistAPICaller.java
  tasklist/qa/integration-tests/pom.xml
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/StartupIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/it/ZeebeConnectorSecureIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/IdentityTester.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistZeebeExtension.java
  tasklist/qa/util/pom.xml
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/ContainerVersionsUtil.java
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/TestContainerUtil.java
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/TestContext.java
  tasklist/qa/util/src/main/resources/container-versions.properties
Labels: component/tasklist

#18068 ci: Add issues to HTO project
  .github/workflows/add-to-projects.yml
  .github/workflows/tasklist-labeled.yml
Labels: component/tasklist

#18244 [Backport stable/8.5] test: disable flake BackupUploadIT.shouldSaveBackupWithManyFiles
  zeebe/backup-stores/s3/src/test/java/io/camunda/zeebe/backup/s3/BackupUploadIT.java
Labels: component/zeebe

#17805 ci: add spring zeebe sdk separate CI
  .github/workflows/spring-boot-starter-camunda-sdk-ci.yml
  .github/workflows/zeebe-ci.yml
  spring-boot-starter-camunda-sdk/pom.xml
Labels: component/zeebe, backport stable/8.5

#18184 [Backport stable/8.2] Expose Soft Pause Endpoint
  broker/src/main/java/io/camunda/zeebe/broker/system/management/BrokerAdminService.java
  broker/src/main/java/io/camunda/zeebe/broker/system/management/BrokerAdminServiceEndpoint.java
  broker/src/main/java/io/camunda/zeebe/broker/system/management/BrokerAdminServiceImpl.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionAdminControlImpl.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionStartupAndTransitionContextImpl.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionTransitionContext.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/PartitionProcessingState.java
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ExporterDirectorPartitionTransitionStep.java
  broker/src/main/java/io/camunda/zeebe/broker/transport/adminapi/AdminApiRequestHandler.java
  broker/src/test/java/io/camunda/zeebe/broker/system/partitions/TestPartitionTransitionContext.java
  broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/PartitionProcessingStateTest.java
  broker/src/test/java/io/camunda/zeebe/broker/transport/adminapi/AdminApiRequestHandlerTest.java
  dist/pom.xml
  dist/src/main/java/io/camunda/zeebe/shared/management/ExportingEndpoint.java
  dist/src/test/java/io/camunda/zeebe/shared/management/ExportingEndpointTest.java
  gateway/src/main/java/io/camunda/zeebe/gateway/admin/BrokerAdminRequest.java
  gateway/src/main/java/io/camunda/zeebe/gateway/admin/exporting/ExportingControlApi.java
  gateway/src/main/java/io/camunda/zeebe/gateway/admin/exporting/ExportingControlService.java
  protocol/src/main/resources/cluster-management-protocol.xml
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/system/BrokerAdminServiceTest.java
  qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/ExportingActuator.java
  qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/PartitionsActuator.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/management/ExportingEndpointIT.java
Labels: component/zeebe

#18257 [Backport release] Allow all semantic versions
  zeebe/atomix/utils/pom.xml
  zeebe/atomix/utils/src/main/java/io/atomix/utils/Version.java
  zeebe/atomix/utils/src/test/java/io/atomix/utils/VersionTest.java
Labels: component/zeebe, component/operate, component/tasklist

#18203 test: ensure no leader before restarting outdated follower
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ReconfigurationTest.java
Labels: component/zeebe, backport stable/8.5

#18223 refactor: migrate test to new infrastructure
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/network/SecureClusteredMessagingIT.java
Labels: backport stable/8.4, component/zeebe, backport stable/8.5

#18215 fix: AWS Opensearch requests are failing
  operate/common/src/main/java/io/camunda/operate/opensearch/ExtendedOpenSearchClient.java
  operate/schema/src/main/java/io/camunda/operate/schema/migration/Migrator.java
Labels: component/operate

#17057 impl: avoid importer/exporter collisions
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/v8_5/processors/EventZeebeRecordProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/v8_5/processors/IncidentZeebeRecordProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/v8_5/processors/ListViewZeebeRecordProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/v8_5/processors/VariableZeebeRecordProcessor.java
  operate/importer-8_6/pom.xml
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/DecisionEvaluationZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/DecisionRequirementsZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/DecisionZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/EventZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/FlowNodeInstanceZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/ImportBulkProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/IncidentZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/ListViewZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/OperationZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/ProcessZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/SequenceFlowZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/UserTaskZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/VariableZeebeRecordProcessor.java
  operate/importer-8_6/src/test/java/io/camunda/operate/zeebeimport/v8_6/processors/UserTaskZeebeRecordProcessorTest.java
  operate/importer/pom.xml
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/ImportPositionHolder.java
  operate/importer/src/test/java/io/camunda/operate/zeebeimport/ImportListenerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/ImportStoreIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/TestUtil.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/ZeebeRecordTestUtil.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/apps/idempotency/ZeebeImportIdempotencyTestConfig.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/apps/retry_after_failure/RetryAfterFailureTestConfig.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/searchrepository/TestElasticSearchRepository.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/searchrepository/TestOpenSearchRepository.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/searchrepository/TestSearchRepository.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/EventZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/IncidentZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/ListViewZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/VariableZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/severalversions/ImportSeveralVersionsZeebeImportIT.java
  operate/schema/src/main/java/io/camunda/operate/entities/EventEntity.java
  operate/schema/src/main/java/io/camunda/operate/entities/IncidentEntity.java
  operate/schema/src/main/java/io/camunda/operate/entities/VariableEntity.java
  operate/schema/src/main/java/io/camunda/operate/entities/listview/FlowNodeInstanceForListViewEntity.java
  operate/schema/src/main/java/io/camunda/operate/entities/listview/ProcessInstanceForListViewEntity.java
  operate/schema/src/main/java/io/camunda/operate/entities/listview/VariableForListViewEntity.java
  operate/schema/src/main/java/io/camunda/operate/schema/IndexMapping.java
  operate/schema/src/main/java/io/camunda/operate/schema/indices/ImportPositionIndex.java
  operate/schema/src/main/java/io/camunda/operate/schema/templates/EventTemplate.java
  operate/schema/src/main/java/io/camunda/operate/schema/templates/ListViewTemplate.java
  operate/schema/src/main/java/io/camunda/operate/schema/templates/PostImporterQueueTemplate.java
  operate/schema/src/main/java/io/camunda/operate/schema/templates/TemplateDescriptor.java
  operate/schema/src/main/java/io/camunda/operate/store/BatchRequest.java
  operate/schema/src/main/java/io/camunda/operate/store/ImportStore.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchBatchRequest.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchImportStore.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/RetryElasticsearchClient.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchBatchRequest.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchImportStore.java
Labels: component/operate

#18259 [Backport stable/8.5] test: ensure no leader before restarting outdated follower
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ReconfigurationTest.java
Labels: component/zeebe

#18213 fix: AWS Opensearch requests are failing
  operate/common/src/main/java/io/camunda/operate/opensearch/ExtendedOpenSearchClient.java
  operate/schema/src/main/java/io/camunda/operate/schema/migration/Migrator.java
Labels: component/operate

#18266 feat: record writers are classified by use-case and source
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/jobstream/RemoteJobStreamErrorHandler.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionAdminAccess.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/backupapi/BackupApiRequestHandler.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestHandler.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/partitionapi/InterPartitionCommandReceiverImpl.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/jobstream/RemoteJobStreamErrorHandlerTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport/backupapi/BackupApiRequestHandlerTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestHandlerTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport/partitionapi/InterPartitionCommandCheckpointTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport/partitionapi/InterPartitionCommandReceiverTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/StreamProcessingComposite.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/TestInterPartitionCommandSender.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/TestStreams.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/FlowControl.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/SequencedBatch.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/Sequencer.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/serializer/SequencedBatchSerializer.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/log/LogStreamWriter.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/log/WriteContext.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/flowcontrol/FlowControlTest.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/log/LogStorageAppenderTest.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/log/LogStreamBatchReaderTest.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/log/LogStreamReaderTest.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/log/SequencerTest.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/log/LogStreamTest.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/log/LogStreamWriterTest.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/util/SyncLogStream.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceImpl.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingStateMachine.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceTest.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamPlatform.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorInconsistentPositionTest.java
Labels: component/zeebe

#18265 ci: add zeebe java client to filter paths
  .github/workflows/spring-boot-starter-camunda-sdk-ci.yml
Labels: component/zeebe

#18260 ci: delete Update Browserlist DB workflows
  .github/workflows/operate-update-browserlist-db.yml
  .github/workflows/tasklist-update-browserlist-db.yml
Labels: component/operate, component/tasklist

#18275 [Backport stable/8.5] fix: add leading slash to opensearch endpoints
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchClient.java
Labels: component/zeebe

#18276 [Backport release-8.6.0-alpha1] fix: add leading slash to opensearch endpoints
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchClient.java
Labels: component/zeebe

#18180 fix: retry SetVariable on for UNAVAILABLE and RESOURCE_EXHAUSTED
  zeebe/gateway-protocol-impl/src/main/resources/gateway-service-config.json
Labels: component/zeebe

#18264 fix: do not retry create instance on closed connection
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/MessagingException.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/AbstractClientConnection.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/NettyMessagingServiceTlsTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/RemoteClientConnectionTest.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#18284 [Backport stable/8.5] fix: do not retry create instance on closed connection
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/MessagingException.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/AbstractClientConnection.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/NettyMessagingServiceTlsTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/RemoteClientConnectionTest.java
Labels: component/zeebe

#18220 refactor: allow all semantic versions
  zeebe/atomix/utils/pom.xml
  zeebe/atomix/utils/src/main/java/io/atomix/utils/Version.java
  zeebe/atomix/utils/src/test/java/io/atomix/utils/VersionTest.java
Labels: component/zeebe, backport stable/8.5

#18067 [Backport stable/8.5] test: fix flaky test by buffering possibly chunked content
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/management/ControlledActorClockEndpointIT.java
Labels: component/zeebe

#18298 [Backport stable/8.5] refactor: allow all semantic versions
  zeebe/atomix/utils/pom.xml
  zeebe/atomix/utils/src/main/java/io/atomix/utils/Version.java
  zeebe/atomix/utils/src/test/java/io/atomix/utils/VersionTest.java
Labels: component/zeebe

#18156 [Backport stable/8.5] fix: go client omit optional scope param if not set
  clients/go/pkg/zbc/oauthCredentialsProvider.go
  clients/go/pkg/zbc/oauthCredentialsProvider_test.go
Labels: component/zeebe, component/operate

#18202 [Backport stable/8.5] Fixing token validity verification that was causing authentication error
  spring-boot-starter-camunda-sdk/pom.xml
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/common/auth/JwtAuthentication.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/common/auth/JwtAuthenticationTest.java
Labels: component/zeebe, component/operate

#18302 [Backport stable/8.5] fix: retry SetVariable on for UNAVAILABLE and RESOURCE_EXHAUSTED
  zeebe/gateway-protocol-impl/src/main/resources/gateway-service-config.json
Labels: component/zeebe

#18300 fix: license header and remove comments
  tasklist/client/src/App.tsx
  tasklist/client/src/Tasks/Task/Details/TabListNav.module.scss
  tasklist/client/src/Tasks/Task/Details/TabListNav.tsx
  tasklist/client/src/Tasks/Task/Details/index.tsx
Labels: component/tasklist

#18287 test: update test to use correct management ports
  operate/qa/integration-tests/src/test/java/io/camunda/operate/metric/ImporterMetricsMockedZeebeImportIT.java
Labels: component/operate

#18310 test: remove legacy performance tests in operate
  .github/workflows/operate-ci-test-reusable.yml
  .github/workflows/operate-test-importer.yml
  operate/qa/batch-operation-performance-tests/README.md
  operate/qa/batch-operation-performance-tests/pom.xml
  operate/qa/batch-operation-performance-tests/src/test/java/io/camunda/operate/qa/performance/BatchOperationPerformanceIT.java
  operate/qa/batch-operation-performance-tests/src/test/resources/application.yml
  operate/qa/batch-operation-performance-tests/src/test/resources/log4j2.xml
  operate/qa/import-performance-tests/README.md
  operate/qa/import-performance-tests/pom.xml
  operate/qa/import-performance-tests/src/test/java/io/camunda/operate/qa/performance/ImportPerformanceStaticDataTest.java
  operate/qa/import-performance-tests/src/test/resources/application.yml
  operate/qa/import-performance-tests/src/test/resources/log4j2.xml
  operate/qa/pom.xml
Labels: component/operate

#18326 fix: disable spring.mvc.problemdetails.enabled for Tasklist
  tasklist/webapp/src/main/java/io/camunda/tasklist/Application.java
Labels: component/tasklist, backport release-8.6.0-alpha1

#18331 [Backport release-8.6.0-alpha1] fix: disable spring.mvc.problemdetails.enabled for Tasklist
  tasklist/webapp/src/main/java/io/camunda/tasklist/Application.java
Labels: component/tasklist

#18307 fix: Fix scrolling on Chrome
  tasklist/client/e2e/tests/task-panel.spec.ts
  tasklist/client/src/Tasks/AvailableTasks/index.tsx
Labels: component/tasklist, backport release-8.6.0-alpha1

#18332 [Backport release-8.6.0-alpha1] fix: Fix scrolling on Chrome
  tasklist/client/e2e/tests/task-panel.spec.ts
  tasklist/client/src/Tasks/AvailableTasks/index.tsx
Labels: component/tasklist

#18335 fix: handle null values for Zeebe user tasks
  tasklist/importer-850/src/main/java/io/camunda/tasklist/zeebeimport/v850/processors/es/UserTaskZeebeRecordProcessorElasticSearch.java
  tasklist/importer-850/src/main/java/io/camunda/tasklist/zeebeimport/v850/processors/os/UserTaskZeebeRecordProcessorOpenSearch.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/es/UserTaskZeebeRecordProcessorElasticSearch.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/os/UserTaskZeebeRecordProcessorOpenSearch.java
Labels: component/tasklist, backport release-8.6.0-alpha1

#18340 [Backport release-8.6.0-alpha1] fix: handle null values for Zeebe user tasks
  tasklist/importer-850/src/main/java/io/camunda/tasklist/zeebeimport/v850/processors/es/UserTaskZeebeRecordProcessorElasticSearch.java
  tasklist/importer-850/src/main/java/io/camunda/tasklist/zeebeimport/v850/processors/os/UserTaskZeebeRecordProcessorOpenSearch.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/es/UserTaskZeebeRecordProcessorElasticSearch.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/os/UserTaskZeebeRecordProcessorOpenSearch.java
Labels: component/tasklist

#18351 deps: operate update zeebe and identity to 8.5.1
  operate/config/docker-compose.identity.yml
  operate/config/docker-compose.mt.yml
  operate/config/docker-compose.test.yml
  operate/docker-compose.opensearch.yml
  operate/qa/pom.xml
Labels: component/operate

#18267 Add exporters to dynamic config
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/PartitionReconfigurePriorityApplier.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/serializer/ProtoBufSerializer.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/state/DynamicPartitionConfig.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/state/ExporterState.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/state/ExportersConfig.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/state/PartitionState.java
  zeebe/dynamic-config/src/main/resources/proto/proto.lock
  zeebe/dynamic-config/src/main/resources/proto/topology.proto
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/MemberStateAssert.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/changes/PartitionJoinApplierTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/changes/PartitionLeaveApplierTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/serializer/ProtoBufSerializerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/state/ClusterConfigurationTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/util/TopologyUtilTest.java
Labels: component/zeebe

#18217 gRPC error logs now in JSON format
  dist/src/main/java/io/camunda/zeebe/shared/MainSupport.java
Labels: backport stable/8.4, component/zeebe, component/operate

#18050 feat: add crud for native users
  identity/backend/pom.xml
  identity/backend/src/main/java/io/camunda/identity/api/UserController.java
  identity/backend/src/main/java/io/camunda/identity/config/AuthConfig.java
  identity/backend/src/main/java/io/camunda/identity/config/DBConfig.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/CamundaUser.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/CamundaUserWithPassword.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/service/CamundaUserDetailsManager.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/service/UserService.java
  identity/backend/src/test/java/io/camunda/identity/usermanagement/service/UserServiceTest.java
  identity/pom.xml
Labels: component/identity

#18321 Release 8.5.1
  bom/pom.xml
  build-tools/pom.xml
  clients/go/internal/embedded/data/VERSION
  dist/pom.xml
  parent/pom.xml
  pom.xml
  spring-boot-starter-camunda-sdk/pom.xml
  zeebe/atomix/cluster/pom.xml
  zeebe/atomix/pom.xml
  zeebe/atomix/utils/pom.xml
  zeebe/auth/pom.xml
  zeebe/backup-stores/azure/pom.xml
  zeebe/backup-stores/common/pom.xml
  zeebe/backup-stores/gcs/pom.xml
  zeebe/backup-stores/s3/pom.xml
  zeebe/backup-stores/testkit/pom.xml
  zeebe/backup/pom.xml
  zeebe/benchmarks/project/pom.xml
  zeebe/bpmn-model/pom.xml
  zeebe/broker-client/pom.xml
  zeebe/broker/pom.xml
  zeebe/clients/java/pom.xml
  zeebe/clients/zeebe-client-spring/pom.xml
  zeebe/dmn/pom.xml
  zeebe/engine/pom.xml
  zeebe/exporter-api/pom.xml
  zeebe/exporter-test/pom.xml
  zeebe/exporters/elasticsearch-exporter/pom.xml
  zeebe/exporters/opensearch-exporter/pom.xml
  zeebe/expression-language/pom.xml
  zeebe/feel/pom.xml
  zeebe/gateway-protocol-impl/pom.xml
  zeebe/gateway-protocol/pom.xml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway/pom.xml
  zeebe/journal/pom.xml
  zeebe/logstreams/pom.xml
  zeebe/msgpack-core/pom.xml
  zeebe/msgpack-value/pom.xml
  zeebe/protocol-asserts/pom.xml
  zeebe/protocol-impl/pom.xml
  zeebe/protocol-jackson/pom.xml
  zeebe/protocol-test-util/pom.xml
  zeebe/protocol/pom.xml
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/pom.xml
  zeebe/qa/update-tests/pom.xml
  zeebe/qa/util/pom.xml
  zeebe/restore/pom.xml
  zeebe/scheduler/pom.xml
  zeebe/snapshot/pom.xml
  zeebe/stream-platform/pom.xml
  zeebe/test-util/pom.xml
  zeebe/topology/pom.xml
  zeebe/transport/pom.xml
  zeebe/util/pom.xml
  zeebe/zb-db/pom.xml
Labels: component/zeebe, component/operate

#18313 Feat: schedule Long-Running-Migrating-Benchmark to run every monday
  .github/workflows/zeebe-update-long-running-migrating-benchmark.yaml
Labels: component/zeebe

#18367 ci: set correct reference to workflow
  .github/workflows/operate-release-manual.yml
Labels: component/operate

#18369 Restore operate release workflows
  .github/workflows/operate-release-manual.yml
  .github/workflows/operate-release-reusable.yml
Labels: component/zeebe, component/operate

#18140 feat: storing and exposing bpmXml on Tasklist V1
  tasklist/common/src/main/java/io/camunda/tasklist/entities/ProcessEntity.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/indices/ProcessIndex.java
  tasklist/els-schema/src/main/resources/schema/es/change/8.6.0-0_process-bpmnXml.json
  tasklist/els-schema/src/main/resources/schema/es/create/index/tasklist-process.json
  tasklist/els-schema/src/main/resources/schema/os/change/8.6.0-0_process-bpmnXml.json
  tasklist/els-schema/src/main/resources/schema/os/create/index/tasklist-process.json
  tasklist/importer-850/src/main/java/io/camunda/tasklist/zeebeimport/v850/processors/es/ProcessZeebeRecordProcessorElasticSearch.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/es/ProcessZeebeRecordProcessorElasticSearch.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/internal/ProcessInternalController.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/entities/ProcessResponse.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/identity/IdentityAuthorization.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/identity/IdentityAuthorizationService.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/ProcessService.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/internal/ProcessInternalControllerTest.java
Labels: component/tasklist

#18397 fix: Update MSW worker
  tasklist/client/public/mockServiceWorker.js
Labels: component/tasklist

#18360 refactor: remove spring zeebe test package
  spring-boot-starter-camunda-sdk/pom.xml
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/test/AbstractZeebeTestExecutionListener.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/test/CamundaTestAutoConfiguration.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/test/ZeebeTestDefaultConfiguration.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/test/ZeebeTestThreadSupport.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/test/embedded/ZeebeSpringTest.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/test/embedded/ZeebeTestExecutionListener.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/test/proxy/AbstractInvocationHandler.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/test/proxy/TestProxyConfiguration.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/test/proxy/ZeebeClientProxy.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/test/proxy/ZeebeTestEngineProxy.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/test/testcontainer/ZeebeSpringTest.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/test/testcontainer/ZeebeTestExecutionListener.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/jobhandler/JobHandlerEmbeddedTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/jobhandler/JobHandlerTestcontainerTest.java
Labels: component/zeebe

#18361 Initialize exporter state in dynamic config during cluster bootstrap
  zeebe/broker-client/src/test/java/io/camunda/zeebe/broker/client/api/BrokerTopologyManagerTest.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/topology/DynamicClusterTopologyService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/topology/StaticClusterTopologyService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/topology/StaticConfigurationGenerator.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning/topology/StaticConfigurationGeneratorTest.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/StaticConfiguration.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/PartitionReassignRequestTransformer.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/PartitionJoinApplier.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/state/PartitionState.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/util/ConfigurationUtil.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/ClusterConfigurationInitializerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/ClusterConfigurationManagementIntegrationTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/MemberStateAssert.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/PartitionStateAssert.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/PersistedClusterConfigurationTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationManagementApiTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/ForceScaleDownRequestTransformerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/PartitionReassignRequestTransformerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/ScaleRequestTransformerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/changes/ConfigurationChangeCoordinatorImplTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/changes/MemberLeaveApplierTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/changes/PartitionForceReconfigureApplierTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/changes/PartitionJoinApplierTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/changes/PartitionLeaveApplierTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/changes/PartitionReconfigurePriorityApplierTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/serializer/ProtoBufSerializerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/state/ClusterConfigurationTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/util/ConfigurationUtilTest.java
  zeebe/restore/src/main/java/io/camunda/zeebe/restore/RestoreManager.java
Labels: component/zeebe

#18430 fix: Update Playwright version on NPM script
  tasklist/client/package.json
  tasklist/client/src/Processes/ProcessTile/FormModal/index.test.tsx
  tasklist/client/src/StartProcessFromForm/index.test.tsx
Labels: component/tasklist

#17916 fix: fix shouldStaySoftPausedAfterRestart
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterContainer.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterContainerRuntime.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirectorTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterRule.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/management/ExportingEndpointIT.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#18224 Observe status of Zeebe CI jobs
  .github/actions/observe-build-status/action.yml
  .github/workflows/zeebe-ci.yml
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, component/operate, backport stable/8.5, component/tasklist

#18426 Add operation and applier for disabling exporter
  dist/src/main/java/io/camunda/zeebe/shared/management/ClusterEndpoint.java
  dist/src/main/resources/api/cluster-api.yaml
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/PartitionManagerImpl.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/ConfigurationChangeAppliersImpl.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/NoopPartitionChangeExecutor.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/PartitionChangeExecutor.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/PartitionDisableExporterApplier.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/serializer/ProtoBufSerializer.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/state/ClusterConfigurationChangeOperation.java
  zeebe/dynamic-config/src/main/resources/proto/proto.lock
  zeebe/dynamic-config/src/main/resources/proto/topology.proto
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/changes/ConfigurationChangeAppliersImplTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/changes/PartitionDisableExporterApplierTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/serializer/ProtoBufSerializerTest.java
Labels: component/zeebe

#18431 test: refactor integration tests for ListViewReader
  .github/workflows/operate-ci-test-reusable.yml
  operate/opensearch.md
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/ListViewQueryAfterArchivingIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/ListViewQueryIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/ListViewReaderIT.java
  operate/schema/src/main/java/io/camunda/operate/entities/listview/FlowNodeInstanceForListViewEntity.java
  operate/schema/src/main/java/io/camunda/operate/entities/listview/VariableForListViewEntity.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/listview/ListViewQueryDto.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/listview/ListViewRequestDto.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/listview/VariablesQueryDto.java
Labels: component/operate

#18434 test: refactor operate serialization integration tests
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/ProcessIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/ProcessOldIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/ProcessInstanceWriterIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/store/ProcessStoreIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/dao/DaoRfc3339SerializationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/dao/DecisionInstanceDaoDefaultDateSerializationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/dao/DecisionInstanceDaoIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/dao/DecisionInstanceDaoRfc3339SerializationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/dao/FlowNodeInstanceDaoDefaultDateSerializationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/dao/FlowNodeInstanceDaoIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/dao/FlowNodeInstanceDaoRfc3339DateSerializationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/dao/IncidentDaoDefaultDateSerializationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/dao/IncidentDaoIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/dao/IncidentDaoRfc3339DateSerializationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/dao/ProcessInstanceDaoDefaultDateSerializationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/dao/ProcessInstanceDaoIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/dao/ProcessInstanceDaoRfc3339DateSerializationIT.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/reader/ProcessReader.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/rest/ProcessReaderTest.java
Labels: component/operate

#18325 feat: add bpmn-js to tasklist
  tasklist/client/package.json
  tasklist/client/src/modules/bpmn-js/BpmnJS.ts
  tasklist/client/src/modules/bpmn-js/styles.ts
  tasklist/client/src/modules/components/BPMNDiagram/DiagramControls/index.test.tsx
  tasklist/client/src/modules/components/BPMNDiagram/DiagramControls/index.tsx
  tasklist/client/src/modules/components/BPMNDiagram/DiagramControls/styles.module.scss
  tasklist/client/src/modules/components/BPMNDiagram/index.tsx
  tasklist/client/src/modules/components/BPMNDiagram/styles.module.scss
  tasklist/client/src/modules/types/bpmn-js.d.ts
  tasklist/client/src/modules/types/carbon.d.ts
  tasklist/client/yarn.lock
Labels: component/tasklist

#18255 [Backport stable/8.5] ci: add spring zeebe sdk separate CI
  .github/workflows/spring-boot-starter-camunda-sdk-ci-dummy.yml
  .github/workflows/spring-boot-starter-camunda-sdk-ci.yml
  .github/workflows/zeebe-ci.yml
  spring-boot-starter-camunda-sdk/pom.xml
Labels: component/zeebe

#18366 Allow ExporterDirector to disable a configured exporter
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/RecordExporter.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterEnableDisableTest.java
Labels: component/zeebe

#18456 Coordinator can process request to disable exporter
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationManagementApi.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationManagementRequest.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationManagementRequestSender.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationManagementRequestsHandler.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationRequestServer.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationRequestTopics.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/ExporterDisableRequestTransformer.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/serializer/ClusterConfigurationRequestsSerializer.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/serializer/ProtoBufSerializer.java
  zeebe/dynamic-config/src/main/resources/proto/proto.lock
  zeebe/dynamic-config/src/main/resources/proto/requests.proto
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationManagementApiTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/ExporterDisableRequestTransformerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/serializer/ProtoBufSerializerTest.java
Labels: component/zeebe

#18464 fix: Update application-tasklist.yml to add the audience
  tasklist/webapp/src/main/resources/application-tasklist.yml
Labels: component/tasklist

#18328 Migrate active call activity
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationPreconditions.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateCallActivityTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceUnsupportedElementsTest.java
Labels: component/zeebe

#18469 Remove unreachable code
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/metrics/MetricsExporter.java
Labels: component/zeebe

#18470 test: refactor operate authorization and statistics integration tests
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/DecisionIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/DecisionOldIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/FlowNodeStatisticsIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/FlowNodeStatisticsZeebeIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/ProcessStatisticsAfterArchivingIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/AuthorizationIT.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/ProcessInstanceRestService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/validation/ProcessInstanceRequestValidator.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/rest/validation/ProcessInstanceRequestValidatorTest.java
Labels: component/operate

#18503 build: use default table as specified by the action
  .github/actions/observe-build-status/action.yml
  .github/workflows/operate-ci-build-reusable.yml
  .github/workflows/tasklist-ci-build-reusable.yml
Labels: component/zeebe, component/operate, component/tasklist

#18458 fix: Opensearch metafield update methods
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/processors/DecisionEvaluationZeebeRecordProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/processors/DecisionRequirementsZeebeRecordProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/processors/DecisionZeebeRecordProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/processors/SequenceFlowZeebeRecordProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/processors/UserTaskZeebeRecordProcessor.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/ZeebeRecordTestUtil.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchImportStore.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchIndexOperations.java
  operate/schema/src/test/java/io/camunda/operate/schema/ImportStoreIT.java
Labels: component/operate

#18425 refactor: address and resolve TODOs
  spring-boot-starter-camunda-sdk/pom.xml
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/annotation/JobWorker.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/annotation/processor/ZeebeWorkerAnnotationProcessor.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/annotation/value/ZeebeWorkerValue.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/jobhandling/CommandWrapper.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/jobhandling/DefaultCommandExceptionHandlingStrategy.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/jobhandling/JobHandlerInvokingSpringBeans.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/jobhandling/JobWorkerManager.java
Labels: component/zeebe

#18482 test: task completion with deployed form
  tasklist/client/e2e/pages/FormJSDetailsPage.ts
  tasklist/client/e2e/pages/TaskDetailsPage.ts
  tasklist/client/e2e/resources/create-invoice_8-5.form
  tasklist/client/e2e/resources/processWithDeployedForm.bpmn
  tasklist/client/e2e/tests/task-details.spec.ts
  tasklist/client/resources/license-header.js
Labels: component/tasklist

#18534 fix: script must be able to accept null params
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/dsl/QueryDSL.java
Labels: component/operate

#18513 feat: add CONTRIBUTION.md file
  spring-boot-starter-camunda-sdk/CONTRIBUTORS.md
Labels: component/zeebe

#18550 feat: automate tasklist documentation screenshots for camunda-docs
  tasklist/client/README.md
  tasklist/client/e2e/docs/docs-snapshots.spec.ts
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-advanced-filters-1-chromium-linux.png
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-advanced-filters-2-chromium-linux.png
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-claim-a-task-1-chromium-linux.png
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-claimed-a-task-1-chromium-linux.png
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-completed-a-task-1-chromium-linux.png
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-empty-tasklist-1-chromium-linux.png
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-populated-tasklist-1-chromium-linux.png
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-populated-tasklist-ordering-1-chromium-linux.png
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-processes-list-1-chromium-linux.png
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-processes-search-1-chromium-linux.png
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-processes-start-1-chromium-linux.png
  tasklist/client/e2e/docs/docs-snapshots.spec.ts-snapshots/Tasklist-snapshots-processes-start-form-1-chromium-linux.png
  tasklist/client/e2e/pages/ProcessesPage.ts
  tasklist/client/e2e/resources/registerPassenger.json
  tasklist/client/e2e/resources/registerPassengerStartForm.json
Labels: component/tasklist

#18547 fix: opensearch image in docker-compose.yml
  operate/Makefile
  operate/docker-compose.yml
Labels: component/operate

#18526 test: fix e2e tests
  .github/workflows/operate-e2e-tests.yml
  operate/Makefile
  operate/client/e2e-playwright/pages/Processes/Processes.ts
  operate/client/e2e-playwright/pages/components/MoveModificationModal.ts
  operate/client/e2e-playwright/tests/batchMoveModification.spec.ts
  operate/client/e2e-playwright/tests/processInstancesFilters.spec.ts
  operate/client/playwright.config.ts
Labels: component/operate

#17772 feat: making tasklist title dynamic uppon parameters
  tasklist/client/index.prod.html
  tasklist/client/public/public-start-form-og-image.jpg
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/NewController.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/PublicProcessController.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/internal/PublicProcessControllerTest.java
Labels: component/tasklist

#18509 Migrate child process instances
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationPreconditions.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateCallActivityTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceRejectionTest.java
Labels: component/zeebe

#18193 feat: start Camunda as one application
  .github/workflows/operate-e2e-tests.yml
  dist/pom.xml
  dist/src/main/java/io/camunda/application/MainSupport.java
  dist/src/main/java/io/camunda/application/Profile.java
  dist/src/main/java/io/camunda/application/StandaloneBroker.java
  dist/src/main/java/io/camunda/application/StandaloneCamunda.java
  dist/src/main/java/io/camunda/application/StandaloneGateway.java
  dist/src/main/java/io/camunda/application/StandaloneOperate.java
  dist/src/main/java/io/camunda/application/initializers/DefaultAuthenticationInitializer.java
  dist/src/main/java/io/camunda/application/initializers/HealthConfigurationInitializer.java
  dist/src/main/java/io/camunda/application/listeners/ApplicationErrorListener.java
  dist/src/main/java/io/camunda/operate/OperateModuleConfiguration.java
  dist/src/main/java/io/camunda/operate/StandaloneOperate.java
  dist/src/main/java/io/camunda/zeebe/broker/BrokerModuleConfiguration.java
  dist/src/main/java/io/camunda/zeebe/broker/shared/WorkingDirectoryConfiguration.java
  dist/src/main/java/io/camunda/zeebe/gateway/GatewayModuleConfiguration.java
  dist/src/main/java/io/camunda/zeebe/restore/RestoreApp.java
  dist/src/main/resources/application-broker.properties
  dist/src/main/resources/application-gateway.properties
  dist/src/main/resources/application-operate.properties
  dist/src/main/resources/application-operate.yml
  dist/src/main/resources/application.properties
  dist/src/main/resources/assets/camunda_banner.txt
  dist/src/test/java/io/camunda/zeebe/broker/WorkingDirectoryConfigurationTest.java
  dist/src/test/java/io/camunda/zeebe/gateway/StandaloneGatewaySecurityTest.java
  operate/Makefile
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/HealthCheckIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/TestApplication.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/apps/modules/ModulesTestApplication.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/BackupControllerIT.java
  operate/qa/util/src/main/java/io/camunda/operate/qa/util/IdentityTester.java
  operate/qa/util/src/main/java/io/camunda/operate/qa/util/TestContainerUtil.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/management/BackupController.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/GatewayAuthenticationIdentityIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/multitenancy/MultiTenancyOverIdentityIT.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestApplication.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestRestoreApp.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestSpringApplication.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneGateway.java
Labels: component/zeebe, component/operate

#18587 refactor: removed redundancy for opensearch docker-compose startup
  operate/Makefile
  operate/docker-compose.yml
Labels: component/operate

#18551 ci: move build-zeebe step into a separate job
  .github/workflows/spring-boot-starter-camunda-sdk-ci.yml
  .github/workflows/spring-boot-starter-camunda-sdk-dummy.yml
Labels: component/zeebe

#18569 fix: configure management security filter chain
  dist/src/main/java/io/camunda/zeebe/shared/security/SecurityConfiguration.java
  dist/src/main/resources/META-INF/spring/org.springframework.boot.actuate.autoconfigure.web.ManagementContextConfiguration.imports
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/GatewayHealthProbeIntegrationTest.java
Labels: component/zeebe

#18585 fix: map OpenSearch port 9600 to 9601 (avoid conflict with actuator)
  operate/docker-compose.opensearch-identity.yml
  operate/docker-compose.opensearch.yml
Labels: component/operate

#18584 ci: add Renovate configuration validator
  .github/renovate.json
  .github/workflows/renovatelint.yml
Labels: component/zeebe, component/operate, component/tasklist

#18559 ci: refactor operate integration test workflow
  .github/workflows/operate-backend.yml
  .github/workflows/operate-ci-test-reusable.yml
  .github/workflows/operate-ci.yml
  operate/pom.xml
  operate/qa/integration-tests/pom.xml
  operate/schema/pom.xml
Labels: component/operate

#18605 fix: OpenSearch docker requires OPENSEARCH_INITIAL_ADMIN_PASSWORD
  tasklist/config/docker-compose.identity.yml
  tasklist/docker-compose.yml
Labels: component/tasklist

#18596 feat: supply partition count depending on running modules
  dist/pom.xml
  dist/src/main/java/io/camunda/operate/OperateModuleConfiguration.java
  dist/src/main/java/io/camunda/operate/OperatePartitionSupplierConfiguration.java
  operate/common/src/main/java/io/camunda/operate/zeebe/PartitionHolder.java
  operate/common/src/main/java/io/camunda/operate/zeebe/PartitionSupplier.java
  operate/common/src/main/java/io/camunda/operate/zeebe/StandalonePartitionSupplier.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/OperateZeebeAbstractIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/j5templates/OperateZeebeSearchAbstractIT.java
Labels: component/zeebe, component/operate

#18555 refactor: move Tasklist's Application class to dist
  .github/workflows/tasklist-e2e-tests.yml
  dist/pom.xml
  dist/src/main/java/io/camunda/application/StandaloneTasklist.java
  dist/src/main/resources/application-tasklist.yml
  operate/qa/integration-tests/pom.xml
  parent/pom.xml
  tasklist/Makefile
  tasklist/README_IntelliJ_IDEA_run_config.md
  tasklist/docker-compose.yml
  tasklist/qa/integration-tests/pom.xml
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/ProbesTestElasticSearchIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/ProbesTestOpenSearchIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/graphql/ProcessIdentityIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/graphql/ProcessInstanceMutationIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/graphql/TaskIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/graphql/TaskMutationIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/graphql/VariableIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/it/ArchiverIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/it/OneNodeArchiverIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/management/HealthCheckIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/metric/MetricIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/metric/UsageMetricIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/IdentityTester.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/SessionlessTasklistZeebeIntegrationTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistIntegrationTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistZeebeIntegrationTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TestApplication.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/apps/identity/AuthIdentityApplication.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/apps/modules/ModulesTestApplication.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/apps/sso/AuthSSOApplication.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/security/se/AuthenticationWithPersistentSessionIT.java
  tasklist/webapp/pom.xml
Labels: component/zeebe, component/operate, component/tasklist

#18615 test: fix Operate test warnings
  operate/client/src/App/Dashboard/PartiallyExpandableDataTable/index.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/tests/NewVariableModifications.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/tests/index.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/tests/addVariable.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/tests/editVariable.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/tests/footer.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/Bar/TimeStampLabel/index.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/tests/modificationPlaceholders.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/tests/modificationsWithAncestorSelection.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/tests/nestedSubprocess.test.tsx
  operate/client/src/App/ProcessInstance/IncidentsWrapper/tests/filtering.test.tsx
  operate/client/src/App/ProcessInstance/LastModification/index.test.tsx
  operate/client/src/App/ProcessInstance/ModificationSummaryModal/index.test.tsx
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/index.test.tsx
  operate/client/src/App/ProcessInstance/TopPanel/ModificationDropdown/tests/index.test.tsx
  operate/client/src/App/ProcessInstance/TopPanel/ModificationDropdown/tests/mutliScopes.test.tsx
  operate/client/src/App/Processes/ListView/DiagramPanel/index.test.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Header/index.test.tsx
  operate/client/src/App/SessionWatcher.test.tsx
  operate/client/src/modules/components/DataTable/index.tsx
  operate/client/src/modules/components/SortableTable/index.tsx
Labels: component/operate

#18620 [Backport stable/8.5] fix: fix shouldEnableStreamingWithProperty fails to run locally
  zeebe/clients/java/src/test/java/io/camunda/zeebe/client/impl/worker/JobWorkerImplTest.java
Labels: component/zeebe

#18599 ci: add opensearch tests to Operate CI
  .github/workflows/operate-ci.yml
  operate/Makefile
  operate/docker-compose.opensearch.yml
  operate/docker-compose.yml
  operate/pom.xml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/ProcessInstanceReaderIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/ProcessInstanceWriterIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/store/ProcessStoreIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/dao/DaoRfc3339SerializationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/dao/ProcessInstanceDaoIT.java
Labels: component/operate

#18580 fix: Opensearch metafield update methods
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/ImportStoreIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/ZeebeRecordTestUtil.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchImportStore.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchIndexOperations.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/dsl/QueryDSL.java
Labels: component/operate

#18506 [Backport stable/8.5] Observe status of Zeebe CI jobs
  .github/actions/observe-build-status/action.yml
  .github/workflows/zeebe-ci.yml
Labels: component/zeebe, component/operate

#18548 fix: return resource_exhausted when sequencer buffer is full
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/ErrorResponseWriter.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#18665 test: fail fast when broker closing is stuck
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestCluster.java
Labels: component/zeebe

#17818 feat: Implement Execution Listener support for subprocess elements
  zeebe/bpmn-model/revapi.json
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/AbstractActivityBuilder.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/AbstractEventSubProcessBuilder.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/AbstractTaskBuilder.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/ExecutionListenersValidator.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeExecutionListenersValidationTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/CallActivityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/EventSubProcessProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/SubProcessProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/ExecutionListenerTest.java
Labels: component/zeebe

#18625 test: Fix Tasklist E2E setup
  tasklist/Makefile
  tasklist/README.md
Labels: component/tasklist

#18299 fix: make start-e2e
  operate/Makefile
Labels: component/zeebe, component/operate

#18207 fix: fix user token
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/sso/SSOUserService.java
Labels: component/operate

#18668 [Backport stable/8.5] fix: return resource_exhausted when sequencer buffer is full
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/ErrorResponseWriter.java
Labels: component/zeebe

#18465 feat: add native groups to identity
  identity/backend/src/main/java/io/camunda/identity/config/DBConfig.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/Group.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/repository/GroupRepository.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/repository/MembershipRepository.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/repository/UserRepository.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/service/CamundaUserDetailsManager.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/service/GroupService.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/service/MembershipService.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/service/UserService.java
  identity/backend/src/main/resources/scripts/groups.ddl
  identity/backend/src/test/java/io/camunda/identity/usermanagement/service/GroupServiceTest.java
  identity/backend/src/test/java/io/camunda/identity/usermanagement/service/MembershipServiceTest.java
Labels: component/identity

#18633 refactor: create application-tasklist.properties
  dist/src/main/java/io/camunda/application/StandaloneTasklist.java
  dist/src/main/resources/application-tasklist.properties
  dist/src/main/resources/application-tasklist.yml
  tasklist/qa/integration-tests/pom.xml
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/ProbesTestElasticSearchIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/ProbesTestOpenSearchIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchConnectorBasicAuthIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/graphql/ProcessIdentityIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/it/ZeebeConnectorIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/management/HealthCheckAuthenticationIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/management/HealthCheckIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/metric/MetricIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/metric/UsageMetricIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/modules/ModuleIntegrationTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/modules/OnlyWebappIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchConnectorBasicAuthIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/IdentityTester.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistIntegrationTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/identity/AuthenticationWithPersistentSessionsIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/mt/MultiTenancyIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/security/AuthenticationTestable.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/security/se/AuthenticationIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/security/se/AuthenticationWithPersistentSessionIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/security/se/SearchEngineUserDetailsServiceIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/security/se/UserStoreIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/security/sso/AuthenticationIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/zeebeimport/ZeebeImportIdempotencyElasticSearchIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/zeebeimport/ZeebeImportIdempotencyOpenSearchIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/zeebeimport/ZeebeImportRetryAfterFailureElasticSearchIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/zeebeimport/ZeebeImportRetryAfterFailureOpenSearchIT.java
  tasklist/qa/integration-tests/src/test/resources/application.properties
  tasklist/qa/integration-tests/src/test/resources/config/application-test.yml
Labels: component/zeebe, component/tasklist

#18676 fix: add env var on makefile
  tasklist/Makefile
Labels: component/tasklist

#18664 fix: Missing Zeebe user task migration doc URL in REST API error message
  tasklist/common/src/main/java/io/camunda/tasklist/property/TasklistDocumentationProperties.java
  tasklist/config/application.yml
Labels: component/tasklist

#18432 Configure long polling activate jobs handler
  dist/src/main/config/gateway.yaml.template
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/Gateway.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/configuration/ConfigurationDefaults.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/configuration/LongPollingCfg.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/job/LongPollingActivateJobsHandler.java
Labels: component/zeebe

#18572 fix: change getGroups to getGropsInOrganization
  dist/src/main/resources/application-tasklist.yml
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/identity/IdentityAuthorizationService.java
Labels: component/zeebe, component/operate, component/tasklist

#18533 Checksum compare helper
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/ImmutableChecksumsSFV.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/MutableChecksumsSFV.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStore.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/SfvChecksumImpl.java
Labels: component/zeebe

#18675 [Backport stable/8.4] fix: return resource_exhausted when sequencer buffer is full
  broker/src/main/java/io/camunda/zeebe/broker/transport/ErrorResponseWriter.java
Labels: backport stable/8.2, backport stable/8.3

#18679 fix: spring sdk remove clients secrets
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/ZeebeClientConfigurationProperties.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationImplOidcTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationImplSaasTest.java
Labels: component/zeebe, backport stable/8.5

#17470 docs: developer guidance on rolling updates for Zeebe
  zeebe/docs/rolling_updates.md
Labels: component/zeebe

#18685 [Backport stable/8.5] Migrate active call activity
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationPreconditions.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateCallActivityTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceUnsupportedElementsTest.java
Labels: component/zeebe

#18717 [Backport stable/8.5] Migrate child process instances
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationPreconditions.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateCallActivityTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceRejectionTest.java
Labels: component/zeebe

#18617 test: increase timeouts for tests with operate/zeebe roundtrip
  operate/client/e2e-playwright/tests/batchMoveModification.spec.ts
  operate/client/e2e-playwright/tests/constants.ts
  operate/client/e2e-playwright/tests/operations.spec.ts
  operate/client/e2e-playwright/tests/processInstance.spec.ts
  operate/client/e2e-playwright/tests/processInstanceMigration.spec.ts
  operate/client/e2e-playwright/tests/processInstanceVariables.spec.ts
  operate/client/e2e-playwright/tests/processes.spec.ts
Labels: component/operate

#18662 refactor: Remove styled components
  tasklist/client/src/App.tsx
  tasklist/client/src/Layout/Header/tests/mocks.tsx
  tasklist/client/src/Login/Disclaimer/index.test.tsx
  tasklist/client/src/Login/index.test.tsx
  tasklist/client/src/Processes/FirstTimeModal/index.test.tsx
  tasklist/client/src/Processes/ProcessTile/FormModal/index.test.tsx
  tasklist/client/src/Processes/ProcessTile/index.test.tsx
  tasklist/client/src/Processes/index.test.tsx
  tasklist/client/src/Processes/index.tsx
  tasklist/client/src/SessionWatcher.test.tsx
  tasklist/client/src/StartProcessFromForm/index.test.tsx
  tasklist/client/src/Tasks/AvailableTasks/Task/index.test.tsx
  tasklist/client/src/Tasks/AvailableTasks/index.test.tsx
  tasklist/client/src/Tasks/EmptyPage/index.test.tsx
  tasklist/client/src/Tasks/Filters/CustomFiltersModal/index.test.tsx
  tasklist/client/src/Tasks/Filters/index.test.tsx
  tasklist/client/src/Tasks/Task/Details/Aside.test.tsx
  tasklist/client/src/Tasks/Task/Details/Header.test.tsx
  tasklist/client/src/Tasks/Task/FormJS/index.test.tsx
  tasklist/client/src/Tasks/Task/Variables/index.test.tsx
  tasklist/client/src/Tasks/Task/index.test.tsx
  tasklist/client/src/Tasks/index.test.tsx
  tasklist/client/src/errorBoundaries/index.tsx
  tasklist/client/src/errorBoundaries/styles.module.scss
  tasklist/client/src/index.scss
  tasklist/client/src/modules/components/Modal.tsx
  tasklist/client/src/modules/components/Restricted/index.test.tsx
  tasklist/client/src/modules/notifications/Notification/index.tsx
  tasklist/client/src/modules/notifications/Notification/styles.module.scss
  tasklist/client/src/modules/notifications/TransitionGroup.tsx
  tasklist/client/src/modules/notifications/index.tsx
  tasklist/client/src/modules/notifications/styles.module.scss
  tasklist/client/src/modules/theme/CarbonTheme.tsx
  tasklist/client/src/modules/theme/ThemeProvider.tsx
  tasklist/client/src/modules/theme/styles.module.scss
  tasklist/client/src/modules/theme/themes.tsx
Labels: component/tasklist

#18711 ci: add dummy workflow
  .github/workflows/common-ci.yml
Labels: component/zeebe

#18709 [Backport stable/8.5] fix: spring sdk remove clients secrets
  spring-boot-starter-camunda-sdk/pom.xml
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/ZeebeClientConfigurationProperties.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientStarterAutoConfigurationCloudTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientStarterAutoConfigurationTest.java
Labels: component/zeebe, component/operate

#18507 ci: adjust after repository rename
  .github/actions/setup-zeebe/action.yml
  .github/workflows/spring-boot-starter-camunda-sdk-ci.yml
  .github/workflows/zeebe-ci.yml
Labels: component/zeebe, component/operate, component/tasklist

#18721 feat: enable full file checksum
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/impl/rocksdb/ZeebeRocksDbFactory.java
Labels: component/zeebe

#18722 feat: removed combined checksum check
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedReceivedSnapshot.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/ReceivedSnapshotTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedReceivedSnapshotTest.java
Labels: component/zeebe

#18512 PartitionManager can disable an exporter
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/BrokerStartupContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/BrokerStartupContextImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/BrokerStartupProcess.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/ClusterConfigurationManagerStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/PartitionManagerStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/PartitionManagerImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/startup/PartitionStartupContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/startup/ZeebePartitionFactory.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/startup/steps/ZeebePartitionStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/topology/ClusterConfigurationService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/topology/DynamicClusterConfigurationService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/topology/StaticClusterTopologyService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/FeatureFlagsCfg.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionConfigurationManager.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionStartupAndTransitionContextImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ExporterDirectorPartitionTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/bootstrap/PartitionManagerStepTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning/PartitionJoinTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/PartitionConfigurationManagerTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/TestPartitionTransitionContext.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ExporterDirectorPartitionTransitionStepTest.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/NoopPartitionChangeExecutor.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/PartitionChangeExecutor.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/PartitionJoinApplier.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/changes/PartitionJoinApplierTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/StraightThroughProcessingLoopValidationDisabledTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/CancelChangeTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ClusterEndpointErrorResponseIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/DynamicClusterConfigurationServiceTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/PartitionJoinTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/PartitionLeaveTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ScaleDownBrokersTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ScaleResiliencyTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ScaleUpBrokersTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/SnapshotAfterScalingTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/management/ClusterEndpointIT.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/FeatureFlags.java
Labels: component/zeebe, component/operate, component/tasklist

#18623 test: Dynamic schema update Integration Tests (Elastic Search)
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/ElasticsearchSchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/OpenSearchSchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/SchemaManager.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/IndexSchemaValidatorIT.java
  tasklist/qa/integration-tests/src/test/resources/tasklist-test.json
Labels: component/tasklist

#18622 feat: Implement dynamic schema update using index mapping difference
  tasklist/.idea/compiler.xml
  tasklist/common/src/main/java/io/camunda/tasklist/property/TasklistElasticsearchProperties.java
  tasklist/common/src/main/java/io/camunda/tasklist/property/TasklistProperties.java
  tasklist/els-schema/pom.xml
  tasklist/els-schema/src/main/java/io/camunda/tasklist/es/RetryElasticsearchClient.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/os/IndexSchemaValidatorOpenSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/SchemaStartup.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/indices/AbstractIndexDescriptor.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/ElasticsearchSchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/OpenSearchSchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/SchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/templates/AbstractTemplateDescriptor.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/util/ElasticsearchJSONUtil.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/IndexSchemaValidatorIT.java
  tasklist/qa/integration-tests/src/test/resources/tasklist-test.json
Labels: component/tasklist

#18527 Update authentication flow
  spring-boot-starter-camunda-sdk/pom.xml
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/AuthenticationConfiguration.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/CamundaAutoConfiguration.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/CommonClientConfiguration.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/PropertyUtil.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientConfigurationImpl.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientProdAutoConfiguration.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/CamundaClientProperties.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/ZeebeClientConfigurationProperties.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/common/auth/Authentication.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/common/auth/DefaultNoopAuthentication.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/common/auth/identity/IdentityConfig.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/common/auth/identity/IdentityContainer.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/common/auth/jwt/JwtAuthentication.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/common/auth/jwt/JwtAuthenticationBuilder.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/common/auth/jwt/JwtConfig.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/common/auth/saas/SaaSAuthentication.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/common/auth/saas/SaaSAuthenticationBuilder.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/common/auth/saas/TokenRequest.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/common/auth/selfmanaged/SelfManagedAuthentication.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/common/auth/selfmanaged/SelfManagedAuthenticationBuilder.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/common/auth/token/TokenRequest.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/common/auth/token/TokenResponse.java
  spring-boot-starter-camunda-sdk/src/main/resources/application-camunda-oidc.yaml
  spring-boot-starter-camunda-sdk/src/main/resources/application-camunda-saas.yaml
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/CredentialsProviderSaasTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/CredentialsProviderSelfManagedTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationDefaultPropertiesTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationImplSaasTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationImplSelfManagedTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationImplTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/CamundaClientPropertiesSaasTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/CamundaClientPropertiesSelfManagedTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/ZeebeClientSpringConfigurationDefaultPropertiesTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/common/auth/jwt/JwtAuthenticationTest.java
Labels: component/zeebe

#18428 feat: implement authentication layer
  dist/pom.xml
  dist/src/main/java/io/camunda/zeebe/broker/BrokerModuleConfiguration.java
  identity/auth-starter/pom.xml
  identity/auth-starter/src/main/java/io/camunda/authentication/config/DatabaseConfig.java
  identity/auth-starter/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  identity/auth-starter/src/main/java/io/camunda/authentication/handler/AuthFailureHandler.java
  identity/auth-starter/src/main/java/io/camunda/authentication/user/CamundaUserDetailsManager.java
  identity/backend/pom.xml
  identity/backend/src/main/java/io/camunda/identity/Application.java
  identity/backend/src/main/java/io/camunda/identity/config/AuthConfig.java
  identity/backend/src/main/java/io/camunda/identity/config/DBConfig.java
  identity/backend/src/main/java/io/camunda/identity/controller/UserController.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/initializer/DemoUserInitializer.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/repository/UserRepository.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/service/GroupService.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/service/MembershipService.java
  identity/backend/src/main/java/io/camunda/identity/usermanagement/service/UserService.java
  identity/backend/src/main/resources/application.yaml
  identity/backend/src/main/resources/scripts/groups.ddl
  identity/backend/src/test/java/io/camunda/identity/usermanagement/service/MembershipServiceTest.java
  identity/backend/src/test/java/io/camunda/identity/usermanagement/service/UserServiceTest.java
  identity/backend/src/test/resources/application.yaml
  identity/common/pom.xml
  identity/common/src/main/java/io/camunda/identity/config/SecurityConfig.java
  identity/common/src/main/java/io/camunda/identity/user/CamundaUser.java
  identity/common/src/main/java/io/camunda/identity/user/CamundaUserWithPassword.java
  identity/common/src/main/resources/application-h2.yaml
  identity/common/src/main/resources/application-postgres.yaml
  identity/common/src/main/resources/schema.sql
  identity/pom.xml
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/identity

#18774 refactor: modularize tasklist-data-generator module
  dist/pom.xml
  dist/src/main/java/io/camunda/application/StandaloneTasklist.java
  tasklist/common/src/main/java/io/camunda/tasklist/data/DataGenerator.java
  tasklist/data-generator/src/main/java/io/camunda/tasklist/DataGeneratorModuleConfiguration.java
  tasklist/data-generator/src/main/java/io/camunda/tasklist/data/DevDataGeneratorAbstract.java
  tasklist/data-generator/src/main/java/io/camunda/tasklist/data/es/DevDataGeneratorElasticSearch.java
  tasklist/data-generator/src/main/java/io/camunda/tasklist/data/os/DevDataGeneratorOpenSearch.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/apps/modules/ModulesTestApplication.java
  tasklist/webapp/pom.xml
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/StartupBean.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/internal/DevUtilExternalController.java
Labels: component/zeebe, component/operate, component/tasklist

#18804 deps: revert @carbon/react dependency update
  operate/client/package.json
  operate/client/yarn.lock
Labels: dependencies, component/operate, component/frontend

#18824 fix: fix test timeout for batchMoveModification e2e test
  operate/client/e2e-playwright/tests/batchMoveModification.spec.ts
Labels: component/operate

#18850 deps: undo lucene Renovate major update and disable it
  .github/renovate.json
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist

#18508 Schedule tasks by timestamp
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/scheduled/DueDateChecker.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/scheduled/DueDateCheckerTest.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/ActorControl.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/ActorTimerQueue.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/DelayedTimerSubscription.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/StampedTimerSubscription.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/TimerSubscription.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/functional/TimedActionsTest.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/ControlledActorSchedulerExtension.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/ProcessingScheduleService.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/SimpleProcessingScheduleService.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ExtendedProcessingScheduleServiceImpl.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceImpl.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceTest.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#18766 fix: POST backups endpoint fails with 403
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/BaseWebConfigurer.java
Labels: component/operate

#18779 fix: add allowlist to SortValuesWrapper to prevent untrusted deserialization
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/listview/SortValuesWrapper.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/rest/dto/listview/SortValuesWrapperTest.java
Labels: component/operate

#18171 feat: Return failed/successful operations count together with batch operation
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/BatchOperationRestServiceIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/InternalAPIErrorControllerIT.java
  operate/schema/src/main/java/io/camunda/operate/schema/templates/BatchOperationTemplate.java
  operate/schema/src/main/java/io/camunda/operate/schema/templates/OperationTemplate.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/OperationReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/transform/ElasticsearchDataAggregator.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/reader/OpensearchOperationReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/transform/OpensearchDataAggregator.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/BatchOperationRestService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/operation/BatchOperationDto.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/transform/DataAggregator.java
Labels: component/zeebe, component/operate, component/tasklist

#18690 FIx: Move the release rolling benchmark to the mix load section.
  monitor/grafana/medic-benchmark-dashboard.json
Labels: component/zeebe

#18647 feat: add call activity type support in instance migration mode
  operate/client/src/App/Processes/MigrationView/BottomPanel/index.test.tsx
  operate/client/src/App/Processes/MigrationView/BottomPanel/index.tsx
  operate/client/src/modules/mocks/diagrams/instanceMigration.bpmn
  operate/client/src/modules/stores/processXml/processXml.migration.source.test.ts
  operate/client/src/modules/stores/processXml/processXml.migration.source.ts
  operate/client/src/modules/stores/processXml/processXml.migration.target.test.ts
  operate/client/src/modules/stores/processXml/processXml.migration.target.ts
Labels: component/operate

#18742 8.5 Backport - feat: add call activity type support in instance migration mode
  operate/client/package.json
  operate/client/src/App/Processes/MigrationView/BottomPanel/index.test.tsx
  operate/client/src/App/Processes/MigrationView/BottomPanel/index.tsx
  operate/client/src/modules/mocks/diagrams/instanceMigration.bpmn
  operate/client/src/modules/stores/processXml/processXml.migration.source.test.ts
  operate/client/src/modules/stores/processXml/processXml.migration.source.ts
  operate/client/src/modules/stores/processXml/processXml.migration.target.test.ts
  operate/client/src/modules/stores/processXml/processXml.migration.target.ts
Labels: component/operate
