Repository camunda/camunda, pull requests merged in 2024-02, with the labels that each got.

#16221 fix(gateway): log when pausing or resuming exporting
  gateway/src/main/java/io/camunda/zeebe/gateway/admin/exporting/ExportingControlService.java
Labels: incident, backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4

#16290 Prevent endless error loop when processing user commands
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingStateMachine.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorErrorHandlingTest.java
  stream-platform/src/test/java/io/camunda/zeebe/stream/util/RecordToWrite.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4

#16325 Unflake `TenantAwareTimerStartEventTest.shouldTriggerTimer`
  engine/src/test/java/io/camunda/zeebe/engine/processing/multitenancy/TenantAwareTimerStartEventTest.java
Labels: backport stable/8.3, backport stable/8.4

#16160 fix(engine): throw instead of ignoring events that can't be applied
  engine/src/main/java/io/camunda/zeebe/engine/state/EventApplier.java
  engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  engine/src/test/java/io/camunda/zeebe/engine/state/appliers/EventAppliersTest.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/CommandDistributionIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/CompensationSubscriptionIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/DecisionEvaluationIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/DecisionIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/DecisionRequirementsIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/DeploymentDistributionIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/DeploymentIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/ErrorIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/EscalationIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/FormIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/IncidentIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/Intent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/JobBatchIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/JobIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/MessageBatchIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/MessageIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/MessageStartEventSubscriptionIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/MessageSubscriptionIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/ProcessEventIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/ProcessInstanceBatchIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/ProcessInstanceCreationIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/ProcessInstanceIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/ProcessInstanceMigrationIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/ProcessInstanceModificationIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/ProcessInstanceResultIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/ProcessIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/ProcessMessageSubscriptionIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/ResourceDeletionIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/SignalIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/SignalSubscriptionIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/TimerIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/UserTaskIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/VariableDocumentIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/VariableIntent.java
  protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/management/CheckpointIntent.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4

#16343 fix(stream-platform): do not exit out of error loop before rollback is completed
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingStateMachine.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4

#16342 Forms Linked to User Tasks Are Sometimes Wrong
  engine/src/main/java/io/camunda/zeebe/engine/state/deployment/DbFormState.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/processing/FormLinkingIT.java
  qa/integration-tests/src/test/resources/form/form-linking-test-form-1.form
  qa/integration-tests/src/test/resources/form/form-linking-test-form-2.form
Labels: backport stable/8.4, backport release-8.4.3

#16400 build: allow automerge of release PRs
  .github/workflows/ci.yml
  .github/workflows/retry-workflow.yml
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4

#16141 Turn user task `candidateUsers` and `candidateGroups` into lists
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnJobBehavior.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnUserTaskBehavior.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/NativeUserTaskTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/MigrateProcessInstanceTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/usertask/UpdateUserTaskTest.java
  engine/src/test/java/io/camunda/zeebe/engine/state/instance/UserTaskStateTest.java
  engine/src/test/java/io/camunda/zeebe/engine/util/client/UserTaskClient.java
  exporters/elasticsearch-exporter/src/main/resources/zeebe-record-user-task-template.json
  exporters/opensearch-exporter/src/main/resources/zeebe-record-user-task-template.json
  protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/usertask/UserTaskRecord.java
  protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  protocol/ignored-changes.json
  protocol/src/main/java/io/camunda/zeebe/protocol/record/value/UserTaskRecordValue.java
  test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
Labels: BREAKING CHANGE

#16411 [stable/8.2] Allow decision requirements in column family 49
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/to_8_2/corrections/ColumnFamily49Corrector.java
  engine/src/test/java/io/camunda/zeebe/engine/state/migration/to_8_4/ColumnFamilyPrefixCorrectionMigrationTest.java
  zb-db/src/main/java/io/camunda/zeebe/db/ColumnFamily.java
  zb-db/src/main/java/io/camunda/zeebe/db/impl/rocksdb/transaction/TransactionalColumnFamily.java
Labels: backport stable/8.1

#16417 Fix garbage left after metrics exporter cleanup
  broker/src/main/java/io/camunda/zeebe/broker/exporter/metrics/MetricsExporter.java
  broker/src/main/java/io/camunda/zeebe/broker/exporter/metrics/TtlKeyCache.java
  broker/src/test/java/io/camunda/zeebe/broker/exporter/metrics/MetricsExporterTest.java
  broker/src/test/java/io/camunda/zeebe/broker/exporter/metrics/TtlKeyCacheTest.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4

#16377 fix(stream-processor): throw instead of ignoring unknown records
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogStreamBatchReaderImpl.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/log/LogStreamBatchReader.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/NoSuchProcessorException.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingStateMachine.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ReplayStateMachine.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/records/TypedRecordImpl.java
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorTest.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4

#16459 test(qa): retry deadline exceeded
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/health/DiskSpaceRecoveryIT.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4

#16481 ci: test-summary should fail if tests failed
  .github/workflows/ci.yml
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4

#16460 Fix flaky clustering rule shutdown and migrate backup test
  qa/integration-tests/pom.xml
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/BackupMultiPartitionTest.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteringRule.java
  qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/BackupActuator.java
  qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestSpringApplication.java
  qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
Labels: backport stable/8.3, backport stable/8.4

#16549 test(dmn): fix flaky EvaluateDecisionTest
  zeebe/gateway/src/test/java/io/camunda/zeebe/gateway/api/decision/EvaluateDecisionStub.java
  zeebe/gateway/src/test/java/io/camunda/zeebe/gateway/api/decision/EvaluateDecisionTest.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4

#16520 Reset error phase only after processing current record is completed
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/processing/MultipleInvalidResourceDeletionTest.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingStateMachine.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4

#16551 [Backport stable/8.4] test(dmn): fix flaky EvaluateDecisionTest
  gateway/src/test/java/io/camunda/zeebe/gateway/api/decision/EvaluateDecisionStub.java
  gateway/src/test/java/io/camunda/zeebe/gateway/api/decision/EvaluateDecisionTest.java
Labels: backport stable/8.2, backport stable/8.3

#16586 [Backport stable/8.4] Introduce `fold` method for `Either`
  util/src/main/java/io/camunda/zeebe/util/Either.java
  util/src/test/java/io/camunda/zeebe/util/EitherTest.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3

#16612 test(journal): ensure journal is closed always
  zeebe/journal/src/test/java/io/camunda/zeebe/journal/file/SegmentedJournalTest.java
  zeebe/journal/src/test/resources/log4j2-test.xml
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4
