Repository camunda/camunda, pull requests merged in 2024-01, with the labels that each got.

#15770 Await between each zbctl test setup command
  clients/go/cmd/zbctl/main_test.go
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4

#15763 fix(snapshot): ignore file not found exceptions on deletion
  snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStore.java
Labels: backport stable/8.4

#15424 Implement Azure Backup Store Save Operations
  backup-stores/azure/pom.xml
  backup-stores/azure/src/main/java/io/camunda/zeebe/backup/azure/AzureBackupStore.java
  backup-stores/azure/src/main/java/io/camunda/zeebe/backup/azure/AzureBackupStoreException.java
  backup-stores/azure/src/main/java/io/camunda/zeebe/backup/azure/FileSetManager.java
  backup-stores/azure/src/main/java/io/camunda/zeebe/backup/azure/ManifestManager.java
  backup-stores/azure/src/main/java/io/camunda/zeebe/backup/azure/manifest/FileSet.java
  backup-stores/azure/src/main/java/io/camunda/zeebe/backup/azure/manifest/Manifest.java
  backup-stores/azure/src/main/java/io/camunda/zeebe/backup/azure/manifest/ManifestImpl.java
  backup-stores/azure/src/test/java/io/camunda/zeebe/backup/azure/AzureBackupStoreIT.java
  backup-stores/azure/src/test/java/io/camunda/zeebe/backup/azure/ConfigIT.java
  backup-stores/azure/src/test/java/io/camunda/zeebe/backup/azure/util/AzuriteContainer.java
  backup-stores/gcs/src/test/java/io/camunda/zeebe/backup/gcs/GcsBackupStoreIT.java
  backup-stores/s3/src/test/java/io/camunda/zeebe/backup/s3/MinioBackupStoreIT.java
  backup-stores/testkit/src/main/java/io/camunda/zeebe/backup/testkit/RestoringBackup.java
  backup-stores/testkit/src/main/java/io/camunda/zeebe/backup/testkit/SavingBackup.java
  dist/src/main/config/broker.yaml.template
  parent/pom.xml
Labels: component/backup

#15814 fix(restore): validate partition count when restoring
  dist/src/main/java/io/camunda/zeebe/restore/RestoreApp.java
  dist/src/main/java/io/camunda/zeebe/restore/RestoreConfiguration.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/BackupMultiPartitionTest.java
  restore/src/main/java/io/camunda/zeebe/restore/PartitionRestoreService.java
  restore/src/main/java/io/camunda/zeebe/restore/RestoreManager.java
  restore/src/test/java/io/camunda/zeebe/restore/PartitionRestoreServiceTest.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4

#15845 ci: auto-merge backport and dependency upgrade PRs with merge queues
  .github/workflows/ci.yml
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4

#15840 docs: fix default snapshot interval
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4

#15873 ci: directly call GH API to put PRs into merge queue
  .github/workflows/ci.yml
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4

#15818 fix(topology): throw detailed exception if decoding fails
  topology/src/main/java/io/camunda/zeebe/topology/serializer/DecodingFailed.java
  topology/src/main/java/io/camunda/zeebe/topology/serializer/ProtoBufSerializer.java
Labels: backport stable/8.4

#15897 Fix race condition between receiving a new snapshot and aborting previous pending one
  atomix/cluster/src/main/java/io/atomix/raft/roles/PassiveRole.java
  atomix/cluster/src/test/java/io/atomix/cluster/NoopSnapshotStore.java
  atomix/cluster/src/test/java/io/atomix/raft/snapshot/TestSnapshotStore.java
  snapshot/src/main/java/io/camunda/zeebe/snapshots/ReceivableSnapshotStore.java
  snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStore.java
  snapshot/src/test/java/io/camunda/zeebe/snapshots/PersistedSnapshotStoreTest.java
  snapshot/src/test/java/io/camunda/zeebe/snapshots/ReceivedSnapshotTest.java
  snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedReceivedSnapshotTest.java
Labels: backport stable/8.4

#15929 Building "quickly skips the flatten plugin
  parent/pom.xml
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4

#15928 Validate ES min_age exporter
  exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterTest.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4

#15991 Allow serializing RecordMetadata of size larger than a short
  logstreams/pom.xml
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogEntryDescriptor.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LoggedEventImpl.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/serializer/LogAppendEntrySerializer.java
  logstreams/src/main/java/io/camunda/zeebe/logstreams/log/LoggedEvent.java
  logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/serializer/LogAppendEntrySerializerTest.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/RejectLargeDeploymentTest.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4

#16012 refactor(topology): reduce log level when applying operation failed
  topology/src/main/java/io/camunda/zeebe/topology/ClusterTopologyManagerImpl.java
Labels: backport stable/8.4

#16065 fix(engine): double quotes in variables should be correctly handled
  engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/VariableMappingTransformer.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/ActivityTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/variable/mapping/VariableMappingTransformerTest.java
  engine/src/test/resources/regression-variable-mapping.bpmn
Labels: backport stable/8.4

#16103 Provide default values in DMN deployment records
  engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/DmnDeploymentTest.java
  engine/src/test/resources/dmn/decision-table-with-missing-decision-name.dmn
  protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/deployment/DecisionRecord.java
  protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/deployment/DecisionRequirementsMetadataRecord.java
  protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/deployment/DecisionRequirementsRecord.java
Labels: backport stable/8.3, backport stable/8.4

#16090 Fix Migration to 8.3 OOM Failure
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/MigrationTransitionStep.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/DbMigratorImpl.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/MemoryBoundedColumnIteration.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/to_8_3/DbDecisionMigrationState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/to_8_3/DbMessageMigrationState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/to_8_3/DbProcessMigrationState.java
  engine/src/test/java/io/camunda/zeebe/engine/state/migration/DbMigratorImplTest.java
  engine/src/test/java/io/camunda/zeebe/engine/state/migration/MemoryBoundedColumnIterationTest.java
  qa/update-tests/pom.xml
  qa/update-tests/src/test/java/io/camunda/zeebe/test/migration/MultiTenancyMigrationOOMTest.java
  qa/update-tests/src/test/resources/decision.dmn
Labels: backport main

#16139 refactor(engine): apply MT migration in chunks
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/DbMigratorImpl.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/to_8_3/DbJobMigrationState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/to_8_3/DbMessageStartEventSubscriptionMigrationState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/to_8_3/DbMessageSubscriptionMigrationState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/to_8_3/DbProcessMessageSubscriptionMigrationState.java
Labels: backport main, backport stable/8.4

#16113 [Backport main] Fix Migration to 8.3 OOM Failure
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/MigrationTransitionStep.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/DbMigratorImpl.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/MemoryBoundedColumnIteration.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/to_8_3/DbDecisionMigrationState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/to_8_3/DbMessageMigrationState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/migration/to_8_3/DbProcessMigrationState.java
  engine/src/test/java/io/camunda/zeebe/engine/state/migration/DbMigratorImplTest.java
  engine/src/test/java/io/camunda/zeebe/engine/state/migration/MemoryBoundedColumnIterationTest.java
  qa/update-tests/pom.xml
  qa/update-tests/src/test/resources/decision.dmn
Labels: backport stable/8.4

#15784 Fix: Zeebe gateway fails to stream out activated jobs by not respecting the max message size
  gateway/src/main/java/io/camunda/zeebe/gateway/Gateway.java
  gateway/src/main/java/io/camunda/zeebe/gateway/ResponseMapper.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/job/LongPollingActivateJobsHandler.java
  gateway/src/main/java/io/camunda/zeebe/gateway/impl/job/RoundRobinActivateJobsHandler.java
  gateway/src/test/java/io/camunda/zeebe/gateway/api/util/StubbedGateway.java
  gateway/src/test/java/io/camunda/zeebe/gateway/impl/job/LongPollingActivateJobsTest.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/network/LargeMessageSizeTest.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4
