Repository camunda/camunda, pull requests merged in 2024-03, with the labels that each got.

#16679 test: fix waiting for activated jobs
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/StateMigrationTest.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4

#16613 Skip Exporting Specific Records
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirectorContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/BrokerCfg.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/ExportingCfg.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ExporterDirectorPartitionTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirectorTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterRule.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/configuration/ExporterConfigurationTest.java
  zeebe/broker/src/test/resources/system/exporters.yaml
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4

#16697 test: reduce scope of ruleChain on LargeMessageSizeTest
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/network/LargeMessageSizeTest.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4

#16684 fix: respect offset and length on DbBytes#wrap
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/impl/DbBytes.java
  zeebe/zb-db/src/test/java/io/camunda/zeebe/db/impl/DbBytesTest.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4

#16710 ci(weekly-e2e): invoke weekly e2e tests on stable branch
  .github/workflows/zeebe-weekly-e2e.yml
Labels: component/zeebe

#16682 fix(ci): set correct release branch for release dry run
  .github/workflows/zeebe-release-stable-dry-run.yml
Labels: component/zeebe

#16668 Adjust Zeebe issue templates
  .github/ISSUE_TEMPLATE/zeebe_bug_report.md
  .github/ISSUE_TEMPLATE/zeebe_documentation_issue.md
  .github/ISSUE_TEMPLATE/zeebe_feature_request.md
  .github/ISSUE_TEMPLATE/zeebe_general_issue.md
  .github/ISSUE_TEMPLATE/zeebe_unstable_test.md
  .github/ISSUE_TEMPLATE/zeebe_zpa_epic.md
Labels: component/zeebe

#16307 Invoke a compensation handler the same amount as executed
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnCompensationSubscriptionBehaviour.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/MultiInstanceBodyProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/ProcessProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/SubProcessProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/EndEventProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/IntermediateThrowEventProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/JobWorkerTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/ScriptTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/UndefinedTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/UserTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/compensation/CompensationSubscription.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/compensation/CompensationEventExecutionTest.java
  zeebe/engine/src/test/resources/compensation/compensation-multi-instance-activity.bpmn
  zeebe/engine/src/test/resources/compensation/compensation-multi-instance.bpmn
  zeebe/engine/src/test/resources/compensation/compensation-multi-subprocess.bpmn
  zeebe/engine/src/test/resources/compensation/compensation-multi-throw-event.bpmn
  zeebe/engine/src/test/resources/compensation/compensation-subprocess-multi-handler.bpmn
  zeebe/engine/src/test/resources/compensation/compensation-throw-error.bpmn
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-compensation-subscription-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-compensation-subscription-template.json
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/compensation/CompensationSubscriptionRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/CompensationSubscriptionRecordValue.java
Labels: component/zeebe

#16699 fix: close http client on zeebe client close
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
Labels: component/zeebe

#16676 Support `Update task` user task action
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClient.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/api/command/UpdateUserTaskCommandStep1.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/api/response/UpdateUserTaskResponse.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/command/UpdateUserTaskCommandImpl.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClient.java
Labels: component/zeebe

#16678 Support `Unassign task` user task action
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClient.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/api/command/UnassignUserTaskCommandStep1.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/api/response/UnassignUserTaskResponse.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/command/UnassignUserTaskCommandImpl.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClient.java
Labels: component/zeebe

#16367 Detect inconsistent state of local member in the topology
  dist/src/main/java/io/camunda/zeebe/broker/BrokerShutdownHelper.java
  dist/src/main/java/io/camunda/zeebe/broker/StandaloneBroker.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/SpringBrokerBridge.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/PartitionManagerStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/topology/ClusterTopologyService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/topology/DynamicClusterTopologyService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/topology/StaticClusterTopologyService.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ForceScaleDownBrokersTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/management/ClusterEndpointIT.java
  zeebe/topology/src/main/java/io/camunda/zeebe/topology/ClusterTopologyManager.java
  zeebe/topology/src/main/java/io/camunda/zeebe/topology/ClusterTopologyManagerImpl.java
  zeebe/topology/src/main/java/io/camunda/zeebe/topology/ClusterTopologyManagerService.java
  zeebe/topology/src/test/java/io/camunda/zeebe/topology/ClusterTopologyManagerTest.java
Labels: component/zeebe

#16700 [Backport stable/8.1] test: fix waiting for activated jobs
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/StateMigrationTest.java
Labels: component/zeebe

#16701 [Backport stable/8.2] test: fix waiting for activated jobs
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/StateMigrationTest.java
Labels: component/zeebe

#16702 [Backport stable/8.3] test: fix waiting for activated jobs
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/StateMigrationTest.java
Labels: component/zeebe

#16764 ci: skip summary action on property tests
  .github/actions/analyze-test-runs/action.yml
  .github/workflows/zeebe-ci.yml
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4

#16753 docs: Remove the ExperimentalApi annotation from the Java client CommandWithTenantStep interface
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/api/command/CommandWithTenantStep.java
Labels: backport stable/8.3, backport stable/8.4

#16457 Add messaging exception documentation
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/ClusterCommunicationService.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/MessagingService.java
  zeebe/docs/messaging.md
Labels: component/zeebe

#16683 Provide user task client integration tests
  zeebe/clients/java/pom.xml
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/api/command/ProblemException.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/command/AssignUserTaskCommandImpl.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CompleteUserTaskCommandImpl.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/command/TopologyRequestImpl.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/command/UpdateUserTaskCommandImpl.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/http/JsonAsyncEntityConsumer.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/http/JsonEntity.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/response/BrokerInfoImpl.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/response/PartitionInfoImpl.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/response/TopologyImpl.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AssignUserTaskTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CompleteUserTaskTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UnassignUserTaskTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UpdateUserTaskTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/util/GrpcClientRule.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/util/ZeebeAssertHelper.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/util/ZeebeResourcesHelper.java
Labels: component/zeebe

#16345 Exporter can soft pause and resume
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterContainer.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterPhase.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterContainerTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirectorPauseTest.java
Labels: component/zeebe

#16810 fix: do not detect inconsistent topology when local member state is left
  dist/src/main/java/io/camunda/zeebe/broker/BrokerShutdownHelper.java
  zeebe/topology/src/main/java/io/camunda/zeebe/topology/ClusterTopologyManagerImpl.java
  zeebe/topology/src/test/java/io/camunda/zeebe/topology/ClusterTopologyManagerTest.java
Labels: component/zeebe

#16825 deps: adjust renovate commit prefix to lint changes
  .github/renovate.json
Labels: component/zeebe, component/operate

#16738 Invoke a compensation handler for a multi-instance activity
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnCompensationSubscriptionBehaviour.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/MultiInstanceActivityTransformer.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/compensation/CompensationEventExecutionTest.java
  zeebe/engine/src/test/resources/compensation/compensation-multi-instance-activity-parallel.bpmn
Labels: component/zeebe

#16815 Ensure lastProcessesPosition is set when StreamProcessor is paused
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/health/DiskSpaceRecoveryIT.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamPlatform.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorReplayTest.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe

#16619 ci: add job that runs the full version compatibility checks
  .github/workflows/zeebe-version-compatibility.yml
  zeebe/docs/rolling_updates.md
  zeebe/qa/update-tests/src/test/java/io/camunda/zeebe/test/RollingUpdateTest.java
  zeebe/qa/update-tests/src/test/java/io/camunda/zeebe/test/VersionCompatibilityMatrix.java
  zeebe/qa/update-tests/src/test/java/io/camunda/zeebe/test/VersionCompatibilityMatrixTest.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/junit/CachedTestResultsExtension.java
Labels: component/zeebe

#16794 Do no run Migration if Snapshot is the same as current version.
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/migration/DbMigratorImpl.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/migration/DbMigratorImplTest.java
Labels: component/zeebe

#16830 feat: Complete compensation throw event that invoked the compensation handler
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnCompensationSubscriptionBehaviour.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/JobWorkerTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/ScriptTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/UndefinedTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/UserTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/compensation/CompensationSubscription.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/compensation/CompensationEventExecutionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/compensation/CompensationSubscriptionStateTest.java
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-compensation-subscription-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-compensation-subscription-template.json
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/compensation/CompensationSubscriptionRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/revapi.json
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/CompensationSubscriptionRecordValue.java
Labels: component/zeebe

#16806 feat: Trigger compensation for activity
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/CompensationEventDefinitionValidator.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/ZeebeDesignTimeValidators.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/BpmnElementBuilder.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/CompensationEventValidationTest.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeEndEventValidationTest.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeJobWorkerElementValidationTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnCompensationSubscriptionBehaviour.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/EndEventProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/IntermediateThrowEventProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableCompensation.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableEndEvent.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableIntermediateThrowEvent.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/EndEventTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/IntermediateThrowEventTransformer.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/compensation/CompensationEventExecutionTest.java
  zeebe/engine/src/test/resources/compensation/compensation-throw-event-attribute-false.bpmn
  zeebe/engine/src/test/resources/compensation/compensation-throw-event.bpmn
  zeebe/engine/src/test/resources/compensation/multiple-compensation-throw-event.bpmn
Labels: component/zeebe

#16680 feat: I can use an embedded subprocess as compensation handler
  zeebe/bpmn-model/revapi.json
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/AbstractBoundaryEventBuilder.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnCompensationSubscriptionBehaviour.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/SubProcessProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/compensation/DbCompensationSubscriptionState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/CompensationSubscriptionState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/compensation/CompensationEventExecutionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/compensation/CompensationSubscriptionStateTest.java
Labels: component/zeebe

#16754 Allow migrating embedded subprocesses in the engine
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationPreconditionChecker.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/MigrateProcessInstanceTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateBoundaryEventTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateIncidentTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceConcurrentNoBatchingTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceConcurrentTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceRejectionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceUnsupportedElementsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateServiceTaskTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateSubprocessTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateUserTaskTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateVariablesTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrationTestUtil.java
Labels: component/zeebe

#16843 test: await identity readiness
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/GatewayAuthenticationIdentityIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/multitenancy/MultiTenancyOverIdentityIT.java
Labels: component/zeebe

#16832 refactor: adjust rest api base url
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClientFactory.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ZeebeRestController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/ErrorMapperTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/TopologyControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/UserTaskControllerTest.java
Labels: component/zeebe

#16833 test: don't spy on test raft protocol
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftRule.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ReconfigurationTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/protocol/TestRaftProtocol.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/protocol/TestRaftProtocolFactory.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/protocol/TestRaftServerProtocol.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe

#16772 chore: merge Zeebe+Operate Renovate configurations
  .github/renovate.json
Labels: component/zeebe, component/operate

#16873 Add warning to checkers
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/DbJobState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/message/DbProcessMessageSubscriptionState.java
Labels: backport stable/8.2, backport stable/8.3, component/zeebe

#16883 fix: remove Jenkins CI-related files from Operate, unused
  .ci/jobs/batch_operation_performance.dsl
  .ci/jobs/create_elasticsearch_snapshot_generated_data.dsl
  .ci/jobs/import_large_static_data_performance.dsl
  .ci/jobs/migration_performance_test.dsl
  .ci/jobs/query_large_static_data_performance.dsl
  .ci/pipelines/batch-operation-performance.groovy
  .ci/pipelines/build_notification.groovy
  .ci/pipelines/create_elasticsearch_snapshot_generated_data.groovy
  .ci/pipelines/import_large_static_data_performance.groovy
  .ci/pipelines/migration_performance_test.groovy
  .ci/pipelines/query_large_static_data_performance.groovy
  .ci/podSpecs/builderAgent.yml
  .ci/seed.dsl
  .ci/views/broken.dsl
  .ci/views/seed_jobs.dsl
Labels: component/zeebe, component/operate

#16892 [stable/8.3] fix: bump grpc-java to 1.59.1 to fix netty incompatibility
  parent/pom.xml
Labels: component/zeebe

#16905 fix: ignore distribution folders of Operate/Zeebe for the other component's CI
  .github/labeler.yml
  .github/workflows/operate-a11y.yml
  .github/workflows/operate-ci.yml
  .github/workflows/operate-docker-tests.yml
  .github/workflows/operate-e2e-tests.yml
  .github/workflows/operate-frontend.yml
  .github/workflows/operate-playwright.yml
  .github/workflows/zeebe-ci.yml
  bom/pom.xml
Labels: component/zeebe, component/operate

#16907 fix: do not fail retry of member join operation
  zeebe/topology/src/main/java/io/camunda/zeebe/topology/changes/MemberJoinApplier.java
  zeebe/topology/src/test/java/io/camunda/zeebe/topology/changes/MemberJoinApplierTest.java
Labels: backport stable/8.4, component/zeebe

#16749 Validate date-time attributes in Zeebe REST
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/api/command/ProblemException.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/GlobalControllerExceptionHandler.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/UserTaskControllerTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UpdateUserTaskTest.java
Labels: component/zeebe

#16914 fix: change references from master to main branch in Operate CI
  .github/workflows/operate-backend-linting.yml
  .github/workflows/operate-ci-build-reusable.yml
  .github/workflows/operate-ci.yml
  .github/workflows/operate-frontend.yml
  .github/workflows/operate-release-dry-run-scheduled.yml
Labels: component/operate

#16924 ci: release Operate with prefixed Git tag
  .github/workflows/operate-release-reusable.yml
Labels: component/operate

#16927 build: fix operate makefile
  operate/.idea/codeStyles/Project.xml
  operate/.idea/codeStyles/codeStyleConfig.xml
  operate/.idea/copyright/Apache_2_0.xml
  operate/.idea/copyright/Zeebe_1_1.xml
  operate/.idea/copyright/profiles_settings.xml
  operate/.idea/externalDependencies.xml
  operate/.idea/google-java-format.xml
  operate/.idea/saveactions_settings.xml
  operate/.idea/scopes/apache_license_scope.xml
  operate/Makefile
Labels: component/operate

#16930 docs: fix Zeebe OpenAPI user task update path
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

#16862 Remove compensation subscription when terminating subprocess
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnCompensationSubscriptionBehaviour.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/SubProcessProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/compensation/CompensationEventExecutionTest.java
  zeebe/engine/src/test/resources/compensation/compensation-multiinstance-subprocess-terminated.bpmn
  zeebe/engine/src/test/resources/compensation/compensation-subprocess-terminated-multiscope.bpmn
  zeebe/engine/src/test/resources/compensation/compensation-subprocess-terminated.bpmn
Labels: component/zeebe

#16945 ci: set SCM settings in Operate POM
  operate/pom.xml
Labels: component/operate

#16950 C8AS: replace old Operate GH repo URL where appropriate
  .ci/preview-environments/.gitignore
  .ci/preview-environments/Chart.yaml
  .ci/preview-environments/argo/application.yml
  .ci/preview-environments/templates/_helpers.tpl
  .ci/preview-environments/templates/certificate.yml
  .ci/preview-environments/templates/ingress.yml
  .ci/preview-environments/templates/ns.yml
  .ci/preview-environments/templates/secret.yml
  .ci/preview-environments/values.yaml
  .github/ISSUE_TEMPLATE/zeebe_zpa_epic.md
  .github/pull_request_template.md
  .github/workflows/operate-ci-test-reusable.yml
  .github/workflows/operate-release-manual.yml
  .github/workflows/operate-run-tests.yml
Labels: component/zeebe, component/operate

#16942 feat: Trigger compensation from an event subprocess
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/AbstractCompensateEventDefinitionBuilder.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/CompensationEventDefinitionValidator.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/builder/ProcessBuilderTest.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/CompensationEventValidationTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnBehaviorsImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnCompensationSubscriptionBehaviour.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/EndEventProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/IntermediateThrowEventProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/compensation/CompensationEventExecutionTest.java
Labels: component/zeebe

#16904 Write an error record to prevent error loop in ProcessingStateMachine
  zeebe/broker-client/src/test/java/io/camunda/zeebe/broker/client/api/BrokerClientTest.java
  zeebe/protocol/src/main/resources/protocol.xml
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/CommandRejectionException.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingStateMachine.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorErrorHandlingTest.java
Labels: component/zeebe

#16886 feat: refactor java client config for gateway addresses
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/ClientProperties.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientBuilder.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientConfiguration.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/api/command/CommandWithCommunicationApiStep.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientBuilderImpl.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientCloudBuilderImpl.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/command/TopologyRequestImpl.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClientFactory.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/response/BrokerInfoImpl.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/response/PartitionInfoImpl.java
  zeebe/clients/java/src/test/java/io/camunda/zeebe/client/TopologyRequestRestTest.java
  zeebe/clients/java/src/test/java/io/camunda/zeebe/client/ZeebeClientTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AssignUserTaskTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CompleteUserTaskTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UnassignUserTaskTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UpdateUserTaskTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/topology/TopologyClusterTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/GatewayAuthenticationIdentityIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/GatewayGrpcHealthIT.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestApplication.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestCluster.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestGateway.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
Labels: component/zeebe

#16953 ci: fix Operate release - split mvn release goals
  .github/workflows/operate-release-reusable.yml
Labels: component/operate

#16957 fix: rename and fix operate check project versions
  .github/workflows/operate-check-project-versions.yml
Labels: component/operate

#16972 feat: Support compensation for call activities
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/CallActivityProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/compensation/CompensationEventExecutionTest.java
Labels: component/zeebe

#16980 test: skip flaky e2e test
  operate/client/e2e-playwright/tests/processInstanceHistory.spec.ts
Labels: component/operate

#16982 fix: fix operate mvn release
  .github/workflows/operate-release-manual.yml
  .github/workflows/operate-release-reusable.yml
  operate.Dockerfile
Labels: component/zeebe, component/operate

#16975 feat: Support multi-instance activity as compensation handler
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/MultiInstanceBodyProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/MultiInstanceActivityTransformer.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/compensation/CompensationEventExecutionTest.java
Labels: component/zeebe

#16996 Add code blocks to save actions
  .idea/saveactions_settings.xml
  operate/.idea/saveactions_settings.xml
Labels: component/zeebe, component/operate

#16750 feat: enhance PI lifecycle to support Els
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/ExecutionListenersValidator.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeExecutionListenersValidationTest.java
  zeebe/bpmn-model/src/test/resources/io/camunda/zeebe/model/bpmn/validation/ZeebeExecutionListenersValidationTest.testElementThatNotSupportExecutionListeners.bpmn
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/BpmnElementProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/BpmnStreamProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/ProcessInstanceStateTransitionGuard.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnBehaviorsImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnJobBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnVariableMappingBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/EndEventProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/IntermediateThrowEventProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/JobWorkerTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/JobWorkerTaskSupportingProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobCompleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/JobCreatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/ElementInstance.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/ExecutionListenerJobTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/subprocess/EmbeddedSubProcessConcurrencyTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/ProcessInstanceIntent.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/ExecutionListenerJobTest.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/BrokerClassRuleHelper.java
Labels: component/zeebe

#16956 feat: gracefully shut down gRPC server
  dist/src/main/java/io/camunda/zeebe/broker/StandaloneBroker.java
  dist/src/main/java/io/camunda/zeebe/broker/shared/BrokerConfiguration.java
  dist/src/main/java/io/camunda/zeebe/gateway/GatewayConfiguration.java
  dist/src/main/java/io/camunda/zeebe/gateway/StandaloneGateway.java
  dist/src/test/java/io/camunda/zeebe/gateway/StandaloneGatewaySecurityTest.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/Broker.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/BrokerStartupContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/BrokerStartupContextImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/EmbeddedGatewayServiceStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/EmbeddedGatewayService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/SystemContext.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/bootstrap/ApiMessagingServiceStepTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/bootstrap/CommandApiServiceStepTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/bootstrap/EmbeddedGatewayServiceStepTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/bootstrap/GatewayBrokerTransportStepTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/bootstrap/PartitionManagerStepTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/Gateway.java
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteringRule.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/GracefulShutdownIT.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestSpringApplication.java
Labels: component/zeebe

#16971 Do not reset snapshot replication when a single request timedout
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/LeaderAppender.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/PassiveRole.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftSnapshotReplicationFailureHandlingTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/protocol/TestRaftServerProtocol.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/snapshot/InMemorySnapshot.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/SnapshotChunkReader.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotChunkReader.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotChunkReaderTest.java
Labels: component/zeebe

#16889 feat: makes job timeout resolution configurable
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/engine/EngineCfg.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/engine/JobsCfg.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/configuration/EngineCfgTest.java
  zeebe/broker/src/test/resources/system/engine.yaml
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/EngineConfiguration.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobEventProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobTimeoutChecker.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobTimeoutCheckerScheduler.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobTimeoutTrigger.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/JobState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/DbJobState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/metrics/JobMetricsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/ActivatableJobsNotificationTests.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/ActivatableJobsPushTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobTimeOutTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobTimeoutCheckerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/instance/JobStateTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/startup/BrokerReprocessingTest.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, component/operate

#16931 Migrate spring-client
  parent/pom.xml
  pom.xml
  zeebe/clients/zeebe-client-spring/pom.xml
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/annotation/CustomHeaders.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/annotation/Deployment.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/annotation/JobWorker.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/annotation/Variable.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/annotation/VariablesAsType.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/annotation/customizer/ZeebeWorkerValueCustomizer.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/annotation/processor/AbstractZeebeAnnotationProcessor.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/annotation/processor/ZeebeAnnotationProcessorRegistry.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/annotation/processor/ZeebeDeploymentAnnotationProcessor.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/annotation/processor/ZeebeWorkerAnnotationProcessor.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/annotation/value/ZeebeAnnotationValue.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/annotation/value/ZeebeDeploymentValue.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/annotation/value/ZeebeWorkerValue.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/bean/BeanInfo.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/bean/ClassInfo.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/bean/CopyNotNullBeanUtilsBean.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/bean/MethodInfo.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/bean/ParameterInfo.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/configuration/AnnotationProcessorConfiguration.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/event/ZeebeClientClosingEvent.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/event/ZeebeClientCreatedEvent.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/event/ZeebeClientEventListener.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/exception/ZeebeBpmnError.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/jobhandling/CommandExceptionHandlingStrategy.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/jobhandling/CommandWrapper.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/jobhandling/DefaultCommandExceptionHandlingStrategy.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/jobhandling/JobHandlerInvokingSpringBeans.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/jobhandling/JobWorkerManager.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/jobhandling/ZeebeClientExecutorService.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/jobhandling/parameter/ActivatedJobParameterResolver.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/jobhandling/parameter/CustomHeadersResolver.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/jobhandling/parameter/DefaultParameterResolverStrategy.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/jobhandling/parameter/JobClientParameterResolver.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/jobhandling/parameter/ParameterResolver.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/jobhandling/parameter/ParameterResolverStrategy.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/jobhandling/parameter/VariableResolver.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/jobhandling/parameter/VariablesAsTypeResolver.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/metrics/DefaultNoopMetricsRecorder.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/metrics/MetricsRecorder.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/metrics/SimpleMetricsRecorder.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/metrics/ZeebeClientMetricsBridge.java
  zeebe/clients/zeebe-client-spring/src/main/java/io/camunda/zeebe/spring/client/testsupport/SpringZeebeTestContext.java
  zeebe/clients/zeebe-client-spring/src/test/java/io/camunda/zeebe/spring/client/bean/ClassInfoTest.java
  zeebe/clients/zeebe-client-spring/src/test/java/io/camunda/zeebe/spring/client/bean/CopyNotNullBeanUtilsBeanTest.java
  zeebe/clients/zeebe-client-spring/src/test/java/io/camunda/zeebe/spring/client/bean/value/factory/ReadZeebeDeploymentValueTest.java
  zeebe/clients/zeebe-client-spring/src/test/java/io/camunda/zeebe/spring/client/bean/value/factory/ReadZeebeWorkerValueTest.java
  zeebe/clients/zeebe-client-spring/src/test/java/io/camunda/zeebe/spring/client/processor/DeploymentPostProcessorTest.java
  zeebe/qa/update-tests/pom.xml
Labels: component/zeebe, component/operate

#17005 [Backport stable/8.3] test: await identity readiness
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/GatewayAuthenticationIdentityIT.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/multitenancy/MultiTenancyOverIdentityIT.java
Labels: backport stable/8.2

#17001 test: stabilize flaky test by increasing timeout
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ReconfigurationTest.java
Labels: backport stable/8.4, component/zeebe

#17018 feat: Reject compensation event subprocesses
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/SubProcessValidator.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/EventSubprocessValidationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/compensation/CompensationEventTest.java
Labels: component/zeebe

#16911 fix(operate): Error calling Prometheus endpoint with multitenancy enabled
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchDecisionStore.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchProcessStore.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchDecisionStore.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchProcessStore.java
  operate/schema/src/test/java/io/camunda/operate/store/elasticsearch/ElasticsearchProcessStoreTest.java
Labels: component/operate

#17020 Fixes for Operate release process discovered in 8.5.0-test1
  .github/workflows/operate-release-reusable.yml
  operate.Dockerfile
Labels: component/zeebe, component/operate

#17004 [Backport stable/8.4] feat: makes job timeout resolution configurable
  broker/src/main/java/io/camunda/zeebe/broker/system/configuration/engine/EngineCfg.java
  broker/src/main/java/io/camunda/zeebe/broker/system/configuration/engine/JobsCfg.java
  broker/src/test/java/io/camunda/zeebe/broker/system/configuration/EngineCfgTest.java
  broker/src/test/resources/system/engine.yaml
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  engine/src/main/java/io/camunda/zeebe/engine/EngineConfiguration.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobEventProcessors.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobTimeoutChecker.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobTimeoutCheckerScheduler.java
  engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobTimeoutTrigger.java
  engine/src/main/java/io/camunda/zeebe/engine/state/immutable/JobState.java
  engine/src/main/java/io/camunda/zeebe/engine/state/instance/DbJobState.java
  engine/src/test/java/io/camunda/zeebe/engine/metrics/JobMetricsTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/job/ActivatableJobsNotificationTests.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/job/ActivatableJobsPushTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobTimeOutTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobTimeoutCheckerTest.java
  engine/src/test/java/io/camunda/zeebe/engine/state/instance/JobStateTest.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/startup/BrokerReprocessingTest.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3

#16796 Subscribe to message boundary events on instance migration
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/common/CatchEventBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationPreconditionChecker.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateBoundaryEventTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceConcurrentNoBatchingTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceConcurrentTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceRejectionTest.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/RecordStream.java
Labels: component/zeebe

#17008 Integrate Identity authentication via Spring security
  dist/pom.xml
  dist/src/main/java/io/camunda/zeebe/broker/health/BrokerHealthRoutes.java
  dist/src/main/java/io/camunda/zeebe/broker/shared/BrokerConfiguration.java
  dist/src/main/java/io/camunda/zeebe/shared/Profile.java
  dist/src/main/java/io/camunda/zeebe/shared/management/ConditionalOnNonManagementContext.java
  dist/src/main/java/io/camunda/zeebe/shared/security/IdentityAuthentication.java
  dist/src/main/java/io/camunda/zeebe/shared/security/IdentityAuthenticationManager.java
  dist/src/main/java/io/camunda/zeebe/shared/security/PreAuthToken.java
  dist/src/main/java/io/camunda/zeebe/shared/security/PreAuthTokenConverter.java
  dist/src/main/java/io/camunda/zeebe/shared/security/ProblemAuthFailureHandler.java
  dist/src/main/java/io/camunda/zeebe/shared/security/SecurityConfiguration.java
  dist/src/main/resources/META-INF/spring/org.springframework.boot.actuate.autoconfigure.web.ManagementContextConfiguration.imports
  dist/src/main/resources/application.properties
  parent/pom.xml
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/GatewayAuthenticationIdentityIT.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestApplication.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestRestoreApp.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestSpringApplication.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneGateway.java
Labels: component/zeebe, component/operate

#17027 style: apply formatting to saveactions_settings.xml
  .idea/saveactions_settings.xml
  operate/.idea/saveactions_settings.xml
Labels: component/zeebe, component/operate

#16958 feat: azure backup store can discover credentials from runtime environment
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  parent/pom.xml
  zeebe/backup-stores/azure/pom.xml
  zeebe/backup-stores/azure/src/main/java/io/camunda/zeebe/backup/azure/AzureBackupStore.java
  zeebe/backup-stores/azure/src/test/java/io/camunda/zeebe/backup/azure/ConfigIT.java
Labels: target:8.5, component/zeebe, component/operate

#16974 feat: add batch modification api call (feature flagged)
  operate/client/src/App/Processes/ListView/InstancesTable/BatchModificationFooter/BatchModificationSummaryModal/index.test.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/BatchModificationFooter/BatchModificationSummaryModal/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/useOperationApply/index.setup.ts
  operate/client/src/App/Processes/ListView/InstancesTable/useOperationApply/index.test.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/useOperationApply/index.ts
  operate/client/src/modules/api/processInstances/operations.ts
  operate/client/src/modules/components/OperationsPanel/OperationsEntry/index.setup.ts
  operate/client/src/modules/components/OperationsPanel/OperationsEntry/index.test.tsx
  operate/client/src/modules/components/OperationsPanel/OperationsEntry/index.tsx
  operate/client/src/modules/feature-flags.ts
  operate/client/src/modules/mock-server/handlers.ts
  operate/client/src/modules/stores/operations/index.tsx
  operate/client/src/modules/types/operate.d.ts
Labels: component/operate

#16981 fix: Operate fails to start with Opensearch
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/reader/OpensearchDecisionInstanceReader.java
Labels: component/operate

#17066 Add merge_group event to Operate CI
  .github/workflows/operate-ci.yml
Labels: component/operate

#16997 Support TLS/SSL over REST in the Java client
  dist/src/main/resources/application.properties
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClientFactory.java
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/SecurityTest.java
Labels: component/zeebe

#17064 ci: don't cache results of building zeebe docker image
  .github/actions/build-zeebe-docker/action.yml
Labels: component/zeebe, component/operate

#17067 Revert "Add merge_group event to Operate CI"
  .github/workflows/operate-ci.yml
Labels: component/operate

#17059 [stable/8.3] deps: bump spring to fix CVE--2024-22259
  parent/pom.xml
Labels: component/zeebe

#17063 feat: Support all kinds of tasks as compensation handlers
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/CompensationTaskValidator.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/BusinessRuleTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/ReceiveTaskProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/compensation/CompensationEventCompatibilityTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/compensation/CompensationEventTest.java
  zeebe/engine/src/test/resources/compensation/compensation-not-valid-task.bpmn
Labels: component/zeebe

#16949 feat: support EL job `type` and `retries` configuration via expressions
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/AbstractServiceTaskBuilder.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/ExecutionListenerBuilder.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/ZeebeExecutionListenersBuilder.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/ZeebeExecutionListenersBuilderImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/BpmnStreamProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/IncidentResolvedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/JobCompletedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/JobCreatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceElementActivatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/ElementInstance.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/ExecutionListenerJobTest.java
Labels: component/zeebe

#16995 feat: add compensation event icons
  operate/client/src/modules/components/FlowNodeIcon/index.test.tsx
  operate/client/src/modules/components/FlowNodeIcon/index.tsx
  operate/client/src/modules/components/Icon/flow-node-compensation-boundary-event.svg
  operate/client/src/modules/components/Icon/flow-node-compensation-end-event.svg
  operate/client/src/modules/components/Icon/flow-node-compensation-intermediate-event-throw.svg
  operate/client/src/modules/components/Icon/flow-node-compensation-start-event.svg
  operate/client/src/modules/types/bpmn-js.d.ts
  operate/data-generator/src/main/java/io/camunda/operate/data/develop/DevelopDataGenerator.java
  operate/data-generator/src/main/resources/develop/compensationEvents.bpmn
Labels: component/operate

#16587 feat: optionally measure access latency on RocksDB column families
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  monitor/grafana/zeebe.json
  zeebe/backup/src/test/java/io/camunda/zeebe/backup/processing/CheckpointRecordsProcessorTest.java
  zeebe/backup/src/test/java/io/camunda/zeebe/backup/processing/state/DbCheckpointStateTest.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/startup/ZeebePartitionFactory.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/RocksdbCfg.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/perf/TestState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/migration/to_8_3/DbMessageStartEventSubscriptionMigrationState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/DefaultZeebeDbFactory.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/util/DefaultZeebeDbFactory.java
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/AccessMetricsConfiguration.java
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/ColumnFamilyMetrics.java
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/impl/FineGrainedColumnFamilyMetrics.java
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/impl/NoopColumnFamilyMetrics.java
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/impl/rocksdb/ZeebeRocksDbFactory.java
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/impl/rocksdb/transaction/TransactionalColumnFamily.java
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/impl/rocksdb/transaction/ZeebeTransactionDb.java
  zeebe/zb-db/src/test/java/io/camunda/zeebe/db/impl/DefaultZeebeDbFactory.java
  zeebe/zb-db/src/test/java/io/camunda/zeebe/db/impl/rocksdb/ZeebeRocksDbFactoryTest.java
Labels: component/zeebe, component/operate

#17022 Add spring-boot-starter-camunda-sdk module
  .github/workflows/operate-a11y.yml
  .github/workflows/operate-backend-linting.yml
  .github/workflows/operate-ci.yml
  .github/workflows/operate-docker-tests.yml
  .github/workflows/operate-e2e-tests.yml
  .github/workflows/operate-frontend.yml
  .github/workflows/operate-playwright.yml
  parent/pom.xml
  pom.xml
  spring-boot-starter-camunda-sdk/pom.xml
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/common/auth/Authentication.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/common/auth/DefaultNoopAuthentication.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/common/auth/JwtAuthentication.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/common/auth/JwtAuthenticationBuilder.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/common/auth/JwtConfig.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/common/auth/JwtCredential.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/common/auth/Product.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/common/auth/SaaSAuthentication.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/common/auth/SaaSAuthenticationBuilder.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/common/auth/SelfManagedAuthentication.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/common/auth/SelfManagedAuthenticationBuilder.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/common/auth/SimpleAuthentication.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/common/auth/SimpleAuthenticationBuilder.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/common/auth/SimpleConfig.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/common/auth/SimpleCredential.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/common/auth/TokenRequest.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/common/auth/TokenResponse.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/common/auth/identity/IdentityConfig.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/common/auth/identity/IdentityContainer.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/common/exception/SdkException.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/common/json/JsonMapper.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/common/json/SdkObjectMapper.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/CamundaAutoConfiguration.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/actuator/MicrometerMetricsRecorder.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/actuator/ZeebeClientHealthIndicator.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/CommonClientConfiguration.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ExecutorServiceConfiguration.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/MetricsDefaultConfiguration.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeActuatorConfiguration.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientAllAutoConfiguration.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientConfigurationSpringImpl.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientProdAutoConfiguration.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/event/ZeebeLifecycleEventProducer.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/CommonConfigurationProperties.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/PropertyBasedZeebeWorkerValueCustomizer.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/ZeebeClientConfigurationProperties.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/ZeebeSelfManagedProperties.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/common/Client.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/common/Keycloak.java
  spring-boot-starter-camunda-sdk/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientStarterAutoConfigurationCustomJsonMapperTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientStarterAutoConfigurationTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/JavaClientPropertiesTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/PropertyBasedZeebeWorkerValueCustomizerTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/ZeebeClientSpringConfigurationDefaultPropertiesTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/ZeebeClientSpringConfigurationPropertiesTest.java
Labels: component/zeebe, component/operate

#17032 Add multi-tenancy support to the REST API
  dist/src/main/java/io/camunda/zeebe/broker/shared/BrokerConfiguration.java
  dist/src/main/java/io/camunda/zeebe/gateway/GatewayConfiguration.java
  dist/src/main/java/io/camunda/zeebe/shared/security/IdentityAuthenticationManager.java
  dist/src/main/java/io/camunda/zeebe/shared/security/SecurityConfiguration.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/http/ApiEntityConsumer.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/TenantAttributeHolder.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AssignUserTaskTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CompleteUserTaskTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UnassignUserTaskTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UpdateUserTaskTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/multitenancy/MultiTenancyOverIdentityIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/util/ZeebeResourcesHelper.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestGateway.java
Labels: component/zeebe

#17086 build: jdk 17 support for camunda spring sdk
  spring-boot-starter-camunda-sdk/pom.xml
  zeebe/clients/zeebe-client-spring/pom.xml
Labels: component/zeebe, backport release-8.5.0

#17089 [Backport release-8.5.0] build: jdk 17 support for camunda spring sdk
  spring-boot-starter-camunda-sdk/pom.xml
  zeebe/clients/zeebe-client-spring/pom.xml
Labels: component/zeebe, component/operate

#16906 fix: Show job metadata in UserTask metadata
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/metadata/BusinessRuleTaskInstanceMetadataDto.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/metadata/CallActivityInstanceMetadataDto.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/metadata/FlowNodeInstanceMetadata.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/metadata/FlowNodeInstanceMetadataDto.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/metadata/JobFlowNodeInstanceMetadataDto.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/metadata/ServiceTaskInstanceMetadataDto.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/metadata/UserTaskInstanceMetadataDto.java
Labels: component/operate

#17096 build: delete not used importer-8_3 module
  operate/importer-8_3/pom.xml
Labels: component/operate

#17031 Clean up Operate dependencies
  operate/archiver/pom.xml
  operate/client/public/mockServiceWorker.js
  operate/common/pom.xml
  operate/data-generator/pom.xml
  operate/importer-8_4/pom.xml
  operate/importer-8_5/pom.xml
  operate/importer-common/pom.xml
  operate/importer/pom.xml
  operate/mvc-auth-commons/pom.xml
  operate/pom.xml
  operate/qa/backup-restore-tests/pom.xml
  operate/qa/batch-operation-performance-tests/pom.xml
  operate/qa/data-generator/pom.xml
  operate/qa/import-performance-tests/pom.xml
  operate/qa/integration-tests/pom.xml
  operate/qa/migration-performance-test/pom.xml
  operate/qa/migration-tests/migration-test/pom.xml
  operate/qa/migration-tests/test-fixture-100/pom.xml
  operate/qa/migration-tests/test-fixture-110/pom.xml
  operate/qa/migration-tests/test-fixture-120/pom.xml
  operate/qa/migration-tests/test-fixture-130/pom.xml
  operate/qa/migration-tests/test-fixture-800/pom.xml
  operate/qa/migration-tests/test-fixture-810/pom.xml
  operate/qa/migration-tests/test-fixture-820/pom.xml
  operate/qa/migration-tests/test-fixture-830/pom.xml
  operate/qa/migration-tests/test-fixture-840/pom.xml
  operate/qa/pom.xml
  operate/qa/query-performance-tests/pom.xml
  operate/qa/util/pom.xml
  operate/schema/pom.xml
  operate/webapp/pom.xml
Labels: component/operate

#16984 fix: check to make sure index exists before adding a policy
  operate/archiver/pom.xml
  operate/archiver/src/main/java/io/camunda/operate/archiver/ElasticsearchArchiverRepository.java
  operate/archiver/src/main/java/io/camunda/operate/archiver/OpensearchArchiverRepository.java
  operate/archiver/src/test/java/io/camunda/operate/archiver/ElasticsearchArchiveRepositoryTest.java
  operate/archiver/src/test/java/io/camunda/operate/archiver/OpensearchArchiverRepositoryTest.java
Labels: component/operate

#16998 fix: Delete parent pi fails on archived instances
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchProcessStore.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchProcessStore.java
Labels: component/operate

#17104 fix: add dependencies for mockito and junit
  operate/archiver/pom.xml
Labels: component/operate

#17095 Fix context path set up for management health routes
  dist/src/main/java/io/camunda/zeebe/broker/health/BrokerHealthRoutes.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClientFactory.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/BackupAcceptance.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/ClusteredBackupRestoreTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/RestoreAcceptance.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/GatewayHealthProbeIntegrationTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/health/BrokerMonitoringEndpointTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/management/ControlledActorClockEndpointIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/startup/RestAPIContextPathIT.java
  zeebe/qa/util/pom.xml
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/BackupActuator.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/BanningActuator.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/BrokerHealthActuator.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/ClusterActuator.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/ExportingActuator.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/GatewayHealthActuator.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/JobStreamActuator.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/LoggersActuator.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/PartitionsActuator.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/RebalanceActuator.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestApplication.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestGateway.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestSpringApplication.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneGateway.java
Labels: component/zeebe, backport release-8.5.0

#17103 deps: remove duplicated elasticsearch properties from pom.xml
  operate/pom.xml
Labels: component/operate

#17074 Camunda Spring SDK - Add support for new Zeebe REST properties
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/CamundaAutoConfiguration.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/JsonMapperConfiguration.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientConfigurationSpringImpl.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/ZeebeClientConfigurationProperties.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientStarterAutoConfigurationCloudTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientStarterAutoConfigurationCustomJsonMapperTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientStarterAutoConfigurationTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/JavaClientPropertiesTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/PropertyBasedZeebeWorkerValueCustomizerTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/ZeebeClientSpringConfigurationDefaultPropertiesTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/ZeebeClientSpringConfigurationPropertiesTest.java
Labels: component/zeebe, component/operate, backport release-8.5.0

#17108 [Backport release-8.5.0] Camunda Spring SDK - Add support for new Zeebe REST properties
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/CamundaAutoConfiguration.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/JsonMapperConfiguration.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientConfigurationSpringImpl.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/ZeebeClientConfigurationProperties.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientStarterAutoConfigurationCloudTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientStarterAutoConfigurationCustomJsonMapperTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientStarterAutoConfigurationTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/JavaClientPropertiesTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/PropertyBasedZeebeWorkerValueCustomizerTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/ZeebeClientSpringConfigurationDefaultPropertiesTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/ZeebeClientSpringConfigurationPropertiesTest.java
Labels: component/zeebe, component/operate

#17109 deps: clean up aws java sdk dependencies
  operate/pom.xml
Labels: component/operate

#16890 feat: add long running migrating benchmark
  .github/workflows/zeebe-update-long-running-migrating-benchmark.yaml
Labels: component/zeebe

#17125 feat: open links to other C8 apps in the same tab
  operate/client/src/App/Layout/AppHeader/index.tsx
  operate/client/src/App/Layout/AppHeader/tests/appSwitcher.test.tsx
Labels: component/operate

#17129 fix: sort memberId based on integer value
  zeebe/topology/src/main/java/io/camunda/zeebe/topology/util/RoundRobinPartitionDistributor.java
  zeebe/topology/src/test/java/io/camunda/zeebe/topology/util/RandomizedRoundRobinDistribution2RegionTest.java
Labels: component/zeebe, backport release-8.5.0

#17132 [Backport release-8.5.0] fix: sort memberId based on integer value
  zeebe/topology/src/main/java/io/camunda/zeebe/topology/util/RoundRobinPartitionDistributor.java
  zeebe/topology/src/test/java/io/camunda/zeebe/topology/util/RandomizedRoundRobinDistribution2RegionTest.java
Labels: component/zeebe

#17000 test: add randomized raft test including force configure
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ControllableRaftContexts.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RandomizedForceConfigureTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/protocol/ControllableRaftServerProtocol.java
Labels: component/zeebe

#17131 test: compare number of responses instead of request
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftSnapshotReplicationFailureHandlingTest.java
Labels: component/zeebe, backport release-8.5.0

#17146 deps: Update identity to 8.5.0-RC1
  parent/pom.xml
Labels: component/zeebe, component/operate, backport release-8.5.0

#17152 [Backport release-8.5.0] deps: Update identity to 8.5.0-RC1
  parent/pom.xml
Labels: component/zeebe, component/operate

#17136 Fix duplicate timer schedules
  engine/src/main/java/io/camunda/zeebe/engine/processing/scheduled/DueDateChecker.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/scheduled/DueDateCheckerTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/timer/DueDateCheckerTest.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/processing/TimerTriggerSchedulingTest.java
  scheduler/src/main/java/io/camunda/zeebe/scheduler/ScheduledTimer.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/ProcessingScheduleService.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/SimpleProcessingScheduleService.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ExtendedProcessingScheduleServiceImpl.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceImpl.java
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceTest.java
  util/src/main/java/io/camunda/zeebe/util/AtomicUtil.java
Labels: backport main, backport stable/8.1, backport stable/8.3, backport stable/8.4, backport release-8.5.0

#17135 [Backport release-8.5.0] test: compare number of responses instead of request
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftSnapshotReplicationFailureHandlingTest.java
Labels: component/zeebe

#17154 build: set project name of zeebe-client-spring
  zeebe/clients/zeebe-client-spring/pom.xml
Labels: component/zeebe, backport release-8.5.0

#17155 [Backport release-8.5.0] build: set project name of zeebe-client-spring
  zeebe/clients/zeebe-client-spring/pom.xml
Labels: component/zeebe

#17153 Report for flakes on slack
  .github/actions/analyze-test-runs/action.yml
  .github/workflows/zeebe-ci.yml
Labels: component/zeebe, component/operate

#17121 feat: support sub process mapping in instance migration mode
  operate/client/src/App/Processes/MigrationView/BottomPanel/index.test.tsx
  operate/client/src/modules/mocks/diagrams/instanceMigration.bpmn
  operate/client/src/modules/stores/processXml/processXml.migration.source.test.ts
  operate/client/src/modules/stores/processXml/processXml.migration.source.ts
  operate/client/src/modules/stores/processXml/processXml.migration.target.test.ts
  operate/client/src/modules/stores/processXml/processXml.migration.target.ts
Labels: component/operate

#17171 [Backport release-8.5.0] Fix duplicate timer schedules
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/scheduled/DueDateChecker.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/scheduled/DueDateCheckerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/timer/DueDateCheckerTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/processing/TimerTriggerSchedulingTest.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/ScheduledTimer.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/ProcessingScheduleService.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/SimpleProcessingScheduleService.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ExtendedProcessingScheduleServiceImpl.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceImpl.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/ExtendedProcessingScheduleServiceImplTest.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceTest.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/AtomicUtil.java
Labels: backport main, backport stable/8.3, backport stable/8.4, component/zeebe

#17176 [Backport main] [Backport release-8.5.0] Fix duplicate timer schedules
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/scheduled/DueDateChecker.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/scheduled/DueDateCheckerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/timer/DueDateCheckerTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/processing/TimerTriggerSchedulingTest.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/ScheduledTimer.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/ProcessingScheduleService.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/SimpleProcessingScheduleService.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ExtendedProcessingScheduleServiceImpl.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceImpl.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/ExtendedProcessingScheduleServiceImplTest.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceTest.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/AtomicUtil.java
Labels: component/zeebe

#17169 Add create project_issue template
  .github/ISSUE_TEMPLATE/project_issue.md
Labels: component/zeebe, component/operate

#17184 [Backport release-8.5.0] fix: update lifecycle policy for existing indices when retention config changes on elasticsearch exporter re-run.
  zeebe/exporters/elasticsearch-exporter/pom.xml
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchClient.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/dto/PutIndexSettingsRequest.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/dto/PutIndexSettingsResponse.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterIT.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/TestClient.java
Labels: component/zeebe

#17188 [Backport stable/8.4] fix: update lifecycle policy for existing indices when retention config changes on elasticsearch exporter re-run.
  exporters/elasticsearch-exporter/pom.xml
  exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchClient.java
  exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/dto/PutIndexSettingsRequest.java
  exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/dto/PutIndexSettingsResponse.java
  exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterIT.java
  exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/TestClient.java
Labels: backport stable/8.2, backport stable/8.3

#17178 [Backport stable/8.4] Fix duplicate timer schedules
  engine/src/main/java/io/camunda/zeebe/engine/processing/scheduled/DueDateChecker.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/scheduled/DueDateCheckerTest.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/timer/DueDateCheckerTest.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/processing/TimerTriggerSchedulingTest.java
  scheduler/src/main/java/io/camunda/zeebe/scheduler/ScheduledTimer.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/ProcessingScheduleService.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/SimpleProcessingScheduleService.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ExtendedProcessingScheduleServiceImpl.java
  stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceImpl.java
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/ExtendedProcessingScheduleServiceImplTest.java
  stream-platform/src/test/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceTest.java
  util/src/main/java/io/camunda/zeebe/util/AtomicUtil.java
Labels: backport stable/8.3, component/zeebe

#17189 deps: update elasticsearch7, lucene, docker image, and log4j test dependencies for operate
  operate/config/docker-compose.identity.yml
  operate/config/docker-compose.mt.yml
  operate/config/docker-compose.test.yml
  operate/docker-compose.yml
  operate/pom.xml
Labels: component/operate

#17107 fix: use Keycloak session idle timeout
  operate/Makefile
  operate/archiver/pom.xml
  operate/client/src/modules/api/fetchBatchOperations.ts
  operate/client/src/modules/api/fetchFlowNodeInstances.ts
  operate/client/src/modules/api/getOperation.ts
  operate/client/src/modules/api/incidents/fetchIncidentsByError.ts
  operate/client/src/modules/api/incidents/fetchProcessInstancesByName.ts
  operate/client/src/modules/api/processInstances/fetchProcessCoreStatistics.ts
  operate/client/src/modules/api/processInstances/fetchProcessInstance.ts
  operate/client/src/modules/api/processInstances/fetchProcessInstanceDetailStatistics.ts
  operate/client/src/modules/api/processInstances/fetchProcessInstanceIncidents.ts
  operate/client/src/modules/api/processInstances/fetchProcessInstances.ts
  operate/client/src/modules/api/processInstances/fetchVariables.ts
  operate/client/src/modules/api/processInstances/sequenceFlows.ts
  operate/client/src/modules/mocks/api/mockRequest.ts
  operate/client/src/modules/request/index.ts
  operate/client/src/modules/stores/flowNodeInstance/index.tsx
  operate/client/src/modules/stores/incidents.test.ts
  operate/client/src/modules/stores/incidents.ts
  operate/client/src/modules/stores/incidentsByError.test.ts
  operate/client/src/modules/stores/incidentsByError.ts
  operate/client/src/modules/stores/operations/index.tsx
  operate/client/src/modules/stores/processInstanceDetails.test.ts
  operate/client/src/modules/stores/processInstanceDetails.ts
  operate/client/src/modules/stores/processInstanceDetailsStatistic.test.ts
  operate/client/src/modules/stores/processInstanceDetailsStatistics.ts
  operate/client/src/modules/stores/processInstances.test.ts
  operate/client/src/modules/stores/processInstances.ts
  operate/client/src/modules/stores/processInstancesByName.test.ts
  operate/client/src/modules/stores/processInstancesByName.ts
  operate/client/src/modules/stores/sequenceFlows.test.ts
  operate/client/src/modules/stores/sequenceFlows.ts
  operate/client/src/modules/stores/statistics.test.ts
  operate/client/src/modules/stores/statistics.ts
  operate/client/src/modules/stores/variables/index.ts
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/ElasticsearchSessionRepository.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/OpensearchSessionRepository.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/OperateSession.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/SessionRepository.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/identity/IdentityAuthentication.java
Labels: component/operate

#17191 [Backport stable/8.2] fix: update lifecycle policy for existing indices when retention config changes on elasticsearch exporter re-run. #17190
  exporters/elasticsearch-exporter/pom.xml
  exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchClient.java
  exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/dto/PutIndexSettingsRequest.java
  exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/dto/PutIndexSettingsResponse.java
  exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterIT.java
  exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/TestClient.java
Labels: component/zeebe

#17201 docs: minor modifications to REST OpenAPI spec for docs.camunda.io experience
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe
