Repository camunda/camunda, pull requests merged in 2024-04, with the labels that each got.

#17187 fix: opensearch exporter - update ISM policy for existing indices when retention config changes on rerun
  zeebe/exporters/opensearch-exporter/pom.xml
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchClient.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/dto/AddPolicyRequest.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/dto/IndexPolicyResponse.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestClient.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport release-8.5.0

#17223 Fix flaky test reporting
  .github/actions/analyze-test-runs/action.yml
Labels: component/zeebe, component/operate

#17220 [Backport stable/8.4] fix: opensearch exporter - update ISM policy for existing indices when retention config changes on rerun
  exporters/opensearch-exporter/pom.xml
  exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchClient.java
  exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/dto/AddPolicyRequest.java
  exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/dto/IndexPolicyResponse.java
  exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterIT.java
  exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestClient.java
Labels: component/zeebe, component/operate

#16508 Clean Backoff column family from wrong jobs
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/DbJobState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/migration/JobBackoffCleanupMigrationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/migration/JobBackoffRestoreMigrationTest.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe

#17065 Revert "deps: Update alpine:3.19.1 Docker digest to c5b1261 (main)"
  operate.Dockerfile
Labels: component/operate

#17228 Fix OpenAPI generation on Windows
  clients/go/internal/utils/jobStreamActuator.go
  dist/pom.xml
  dist/src/main/java/io/camunda/zeebe/shared/JacksonConfig.java
  dist/src/main/java/io/camunda/zeebe/shared/management/JobStreamEndpoint.java
  zeebe/clients/java/pom.xml
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/command/UpdateUserTaskCommandImpl.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClientFactory.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/response/TopologyImpl.java
  zeebe/clients/java/src/test/java/io/camunda/zeebe/client/OAuthCredentialsProviderTest.java
  zeebe/clients/java/src/test/java/io/camunda/zeebe/client/TopologyRequestRestTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/TopologyController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/TopologyControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/UserTaskControllerTest.java
Labels: component/zeebe, backport release-8.5.0

#17237 [Backport release-8.5.0] Fix OpenAPI generation on Windows
  clients/go/internal/utils/jobStreamActuator.go
  dist/pom.xml
  dist/src/main/java/io/camunda/zeebe/shared/JacksonConfig.java
  dist/src/main/java/io/camunda/zeebe/shared/management/JobStreamEndpoint.java
  zeebe/clients/java/pom.xml
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/command/UpdateUserTaskCommandImpl.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClientFactory.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/response/TopologyImpl.java
  zeebe/clients/java/src/test/java/io/camunda/zeebe/client/OAuthCredentialsProviderTest.java
  zeebe/clients/java/src/test/java/io/camunda/zeebe/client/TopologyRequestRestTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/TopologyController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/TopologyControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/UserTaskControllerTest.java
Labels: component/zeebe, component/operate

#17236 [Backport release-8.5.0] Clean Backoff column family from wrong jobs
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/DbJobState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/migration/JobBackoffCleanupMigrationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/migration/JobBackoffRestoreMigrationTest.java
Labels: component/zeebe

#17230 fix: Disable renovate docker
  .github/renovate.json
Labels: component/zeebe, component/operate

#16869 Soft pause information is persisted across all replicas.
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/NoOpPartitionAdminAccess.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/PartitionAdminAccess.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionAdminControl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionAdminControlImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionAdminAccess.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/PartitionProcessingState.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/PartitionProcessingStateTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/management/ExportingEndpointIT.java
Labels: component/zeebe

#17251 fix: avoid race between scheduling and execution of due date checker
  dist/src/main/java/io/camunda/zeebe/shared/management/ActorClockEndpoint.java
  dist/src/main/java/io/camunda/zeebe/shared/management/ActorClockService.java
  dist/src/main/java/io/camunda/zeebe/shared/management/ControlledActorClockService.java
  dist/src/test/java/io/camunda/zeebe/shared/management/ControlledActorClockEndpointTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/scheduled/DueDateChecker.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/scheduled/DueDateCheckerTest.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/clock/ControlledActorClock.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/AtomicUtil.java
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport release-8.5.0

#17263 [Backport release-8.5.0] fix: avoid race between scheduling and execution of due date checker
  dist/src/main/java/io/camunda/zeebe/shared/management/ActorClockEndpoint.java
  dist/src/main/java/io/camunda/zeebe/shared/management/ActorClockService.java
  dist/src/main/java/io/camunda/zeebe/shared/management/ControlledActorClockService.java
  dist/src/test/java/io/camunda/zeebe/shared/management/ControlledActorClockEndpointTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/scheduled/DueDateChecker.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/scheduled/DueDateCheckerTest.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/clock/ControlledActorClock.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/AtomicUtil.java
Labels: component/zeebe

#17252 [Backport stable/8.1] Clean Backoff column family from wrong jobs
  engine/src/main/java/io/camunda/zeebe/engine/state/instance/DbJobState.java
  engine/src/test/java/io/camunda/zeebe/engine/state/migration/JobBackoffCleanupMigrationTest.java
  engine/src/test/java/io/camunda/zeebe/engine/state/migration/JobBackoffRestoreMigrationTest.java
Labels: backport stable/8.2, backport stable/8.3

#17271 ci: never time out during release jobs
  .github/workflows/zeebe-release.yml
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe

#17269 deps: bump dependency used by Azure backups to fix CVE
  parent/pom.xml
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, backport stable/8.5

#17282 test: increase await assertion timeout in OpensearchExporterIT IndexSettingsTest to overcome flaky test runs
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestClient.java
Labels: kind/flake, component/zeebe

#17306 [Backport release 8.5.0] test: increase await assertion timeout in OpensearchExporterIT IndexSettingsTest to overcome flaky test runs
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestClient.java
Labels: component/zeebe

#17225 test: intercept request for deterministic test
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftSnapshotReplicationFailureHandlingTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/protocol/TestRaftProtocolFactory.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/protocol/TestRaftServerProtocol.java
Labels: component/zeebe

#17305 deps: enable Renovate lockfile updates
  .github/renovate.json
Labels: component/zeebe, component/operate

#17299 ci: update workflows for 8.5 release
  .github/workflows/dispatch-release-8-5.yaml
  .github/workflows/dispatch-release-8-6.yaml
  .github/workflows/zeebe-ci.yml
  .github/workflows/zeebe-release-stable-dry-run.yml
Labels: component/zeebe, component/operate

#17313 ci: rely on automatic setup of CodeQL
  .github/workflows/zeebe-ci.yml
Labels: backport stable/8.1, backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#17266 ci: GHA path filters work better on pull_reuqest triggers
  .github/workflows/operate-a11y.yml
  .github/workflows/operate-backend-linting.yml
  .github/workflows/operate-ci.yml
  .github/workflows/operate-docker-tests.yml
  .github/workflows/operate-e2e-tests.yml
  .github/workflows/operate-frontend.yml
  .github/workflows/operate-playwright.yml
Labels: component/operate

#17315 ci: cancel outdated ci runs
  .github/workflows/zeebe-ci.yml
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#17226 Add Operate Build step to merge queue
  .github/workflows/operate-merge-ci.yaml
Labels: component/zeebe, component/operate

#17318 [Backport stable/8.5] ci: rely on automatic setup of CodeQL
  .github/workflows/zeebe-ci.yml
  bom/pom.xml
  dist/pom.xml
  parent/pom.xml
  pom.xml
  zeebe/gateway-protocol-impl/pom.xml
  zeebe/qa/update-tests/src/test/java/io/camunda/zeebe/test/ContainerState.java
  zeebe/qa/update-tests/src/test/java/io/camunda/zeebe/test/RollingUpdateTest.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/VersionUtil.java
Labels: component/zeebe, component/operate

#17332 Trigger merge ci on PR
  .github/workflows/operate-merge-ci.yaml
Labels: component/operate

#17028 Remove PR template
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: component/zeebe, component/operate

#17312 [Backport stable/8.5] test: increase await assertion timeout in OpensearchExporterIT IndexSettingsTest to overcome flaky test runs
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestClient.java
Labels: component/zeebe

#17126 feat: introduce new `ErrorType` for Execution Listener incidents
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/incident/IncidentResolveProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobFailProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/ExecutionListenerJobTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/ErrorType.java
Labels: component/zeebe

#17337 docs: fix update-tests docs
  zeebe/qa/update-tests/README.md
Labels: component/zeebe

#17350 Avoid duplicate check
  operate/common/src/main/java/io/camunda/operate/tenant/TenantCheckApplierHolder.java
Labels: component/operate

#17325 [Backport stable/8.5] ci: cancel outdated ci runs
  .github/workflows/zeebe-ci.yml
Labels: component/zeebe

#17359 ci: fix outcome detection of release dry run
  .github/workflows/zeebe-release-stable-dry-run.yml
Labels: component/zeebe

#17360 ci: do no trigger backend tests CI for renovate FE updates
  .github/workflows/operate-ci-build-reusable.yml
  .github/workflows/operate-ci-test-reusable.yml
Labels: component/operate

#17348 feat: add compensation scenario to update-test
  zeebe/qa/update-tests/src/test/java/io/camunda/zeebe/test/UpdateTestCaseProvider.java
Labels: component/zeebe

#17364 deps: renovate: bundle playwright deps
  .github/renovate.json
Labels: component/zeebe, component/operate

#17280 Integrate Operate into maven multi module structure
  .github/actions/build-operate-setup/action.yml
  .github/workflows/operate-backend-linting.yml
  .github/workflows/operate-check-project-versions.yml
  .github/workflows/operate-ci-build-reusable.yml
  .github/workflows/operate-docker-tests.yml
  .github/workflows/operate-e2e-tests.yml
  .github/workflows/operate-release-reusable.yml
  .github/workflows/operate-run-tests.yml
  .github/workflows/operate-test-backup-restore.yml
  .github/workflows/operate-test-migrate-elasticsearch-data.yml
  .github/workflows/operate-weekly-internal-docker-images.yaml
  .github/workflows/zeebe-ci.yml
  .github/workflows/zeebe-release.yml
  bom/pom.xml
  distro/pom.xml
  operate/archiver/pom.xml
  operate/client/package.json
  operate/client/pom.xml
  operate/common/pom.xml
  operate/data-generator/pom.xml
  operate/importer-8_4/pom.xml
  operate/importer-8_5/pom.xml
  operate/importer-common/pom.xml
  operate/importer/pom.xml
  operate/mvc-auth-commons/pom.xml
  operate/pom.xml
  operate/qa/backup-restore-tests/pom.xml
  operate/qa/batch-operation-performance-tests/pom.xml
  operate/qa/data-generator/pom.xml
  operate/qa/import-performance-tests/pom.xml
  operate/qa/integration-tests/pom.xml
  operate/qa/migration-performance-test/pom.xml
  operate/qa/migration-tests/migration-test/pom.xml
  operate/qa/migration-tests/pom.xml
  operate/qa/migration-tests/test-fixture-110/pom.xml
  operate/qa/migration-tests/test-fixture-120/pom.xml
  operate/qa/migration-tests/test-fixture-130/pom.xml
  operate/qa/migration-tests/test-fixture-800/pom.xml
  operate/qa/migration-tests/test-fixture-810/pom.xml
  operate/qa/migration-tests/test-fixture-820/pom.xml
  operate/qa/migration-tests/test-fixture-830/pom.xml
  operate/qa/migration-tests/test-fixture-840/pom.xml
  operate/qa/pom.xml
  operate/qa/query-performance-tests/pom.xml
  operate/qa/util/pom.xml
  operate/schema/pom.xml
  operate/webapp/pom.xml
  parent/pom.xml
  pom.xml
  zeebe/pom.xml
Labels: component/zeebe, component/operate

#17369 ci: enable renovate on stable/operate-8.5
  .github/renovate.json
Labels: component/operate

#17301 build: release Operate 8.5.0
  .github/workflows/operate-e2e-tests.yml
  operate/config/docker-compose.identity.yml
  operate/config/docker-compose.mt.yml
  operate/config/docker-compose.opensearch-identity.yml
  operate/docker-compose.opensearch-identity.yml
  operate/qa/pom.xml
Labels: component/operate

#17366 ci: Add Operate Build step to merge queue (#17226)
  .github/workflows/operate-merge-ci.yaml
  operate/qa/pom.xml
Labels: component/operate

#17326 fix: fix incorrect versions in pom and dockerfiles for 8.5.0 release
  distro/pom.xml
  operate/archiver/pom.xml
  operate/client/package.json
  operate/client/pom.xml
  operate/common/pom.xml
  operate/config/docker-compose.test.yml
  operate/data-generator/pom.xml
  operate/docker-compose.opensearch.yml
  operate/docker-compose.yml
  operate/importer-8_4/pom.xml
  operate/importer-8_5/pom.xml
  operate/importer-common/pom.xml
  operate/importer/pom.xml
  operate/mvc-auth-commons/pom.xml
  operate/pom.xml
  operate/qa/backup-restore-tests/pom.xml
  operate/qa/batch-operation-performance-tests/pom.xml
  operate/qa/data-generator/pom.xml
  operate/qa/import-performance-tests/pom.xml
  operate/qa/integration-tests/pom.xml
  operate/qa/migration-performance-test/pom.xml
  operate/qa/migration-tests/migration-test/pom.xml
  operate/qa/migration-tests/pom.xml
  operate/qa/migration-tests/test-fixture-110/pom.xml
  operate/qa/migration-tests/test-fixture-120/pom.xml
  operate/qa/migration-tests/test-fixture-130/pom.xml
  operate/qa/migration-tests/test-fixture-800/pom.xml
  operate/qa/migration-tests/test-fixture-810/pom.xml
  operate/qa/migration-tests/test-fixture-820/pom.xml
  operate/qa/migration-tests/test-fixture-830/pom.xml
  operate/qa/migration-tests/test-fixture-840/pom.xml
  operate/qa/pom.xml
  operate/qa/query-performance-tests/pom.xml
  operate/qa/util/pom.xml
  operate/schema/pom.xml
  operate/webapp/pom.xml
Labels: component/operate

#17253 test: update paths for visual regression test workflow
  .github/workflows/operate-playwright.yml
Labels: component/operate

#17335 Add C8 API guideline proposal issue template
  .github/ISSUE_TEMPLATE/api-proposal.md
Labels: area/project

#17174 fix: fix SchemaChangesTest
  operate/qa/migration-tests/migration-test/src/test/java/io/camunda/operate/qa/migration/SchemaChangesTest.java
  operate/qa/migration-tests/test-fixture-110/src/main/resources/sequential-noop.bpmn
Labels: component/operate

#17307 [Backport stable/8.5] deps: Update module golang.org/x/net to v0.23.0 (main)
  clients/go/go.mod
  clients/go/go.sum
  clients/go/vendor/golang.org/x/net/http2/frame.go
  clients/go/vendor/golang.org/x/net/http2/pipe.go
  clients/go/vendor/golang.org/x/net/http2/server.go
  clients/go/vendor/golang.org/x/net/http2/testsync.go
  clients/go/vendor/golang.org/x/net/http2/transport.go
  clients/go/vendor/modules.txt
Labels: component/zeebe, component/operate

#17382 chore: add missing slf4j implementation dependency for operate
  operate/webapp/pom.xml
Labels: component/operate

#17386 fix: delete existing ISM policy when retention is disabled
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchClient.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/dto/DeleteStateManagementPolicyResponse.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterIT.java
Labels: kind/flake, backport stable/8.4, component/zeebe, backport stable/8.5

#17410 [Backport stable/8.5] fix: delete existing ISM policy when retention is disabled
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchClient.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/dto/DeleteStateManagementPolicyResponse.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterIT.java
Labels: component/zeebe

#17385 ci: use path inclusion for CI path filtering
  .github/labeler.yml
  .github/workflows/operate-a11y.yml
  .github/workflows/operate-ci.yml
  .github/workflows/operate-docker-tests.yml
  .github/workflows/operate-e2e-tests.yml
  .github/workflows/operate-frontend.yml
  .github/workflows/operate-playwright.yml
  .github/workflows/zeebe-ci.yml
Labels: component/zeebe, component/operate

#17383 deps: bump java version to 21 in Operate
  .github/workflows/operate-run-tests.yml
  operate.Dockerfile
  operate/pom.xml
Labels: component/zeebe, component/operate

#17412 fix: get reason phrase from catalog instead response
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/http/ApiResponseConsumer.java
Labels: component/zeebe

#17283 Feat: Metrics for Exporter and Processor State
  monitor/grafana/zeebe.json
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionStartupAndTransitionContextImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionTransitionContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/PartitionProcessingState.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ExporterDirectorPartitionTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterContainerRuntime.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterRule.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/TestPartitionTransitionContext.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/PartitionProcessingStateTest.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingStateMachine.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/StreamProcessorMetrics.java
Labels: component/zeebe, component/operate

#17411 deps: remove Renovate config duplication and add descriptions
  .github/renovate.json
Labels: component/zeebe, component/operate

#17278 fix: return inner IndexSettings object that holds all settings
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/ReindexIT.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchIndexOperations.java
Labels: component/operate

#17420 ci: skip frontend build when executing Java checks
  .github/workflows/zeebe-ci.yml
Labels: component/zeebe

#17421 ci: skip frontend build in Zeebe CI
  .github/workflows/zeebe-ci.yml
Labels: component/zeebe

#17416 deps: enable Renovate automerge for ALL deps of Operate+Zeebe
  .github/renovate.json
  .github/workflows/zeebe-ci.yml
Labels: component/zeebe, component/operate

#17426 fix: return inner IndexSettings object that holds all settings
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/ReindexIT.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchIndexOperations.java
Labels: component/operate

#17439 ci: fix GH actions path in CI paths filters
  .github/workflows/operate-ci.yml
  .github/workflows/operate-docker-tests.yml
  .github/workflows/operate-e2e-tests.yml
Labels: component/operate

#17438 ci: create dummy Test summary job
  .github/workflows/common-ci.yml
Labels: component/zeebe

#16452 test(engine): optimize tests in `ActivatableJobsPushTest` class
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/ActivatableJobsPushTest.java
Labels: component/zeebe

#17454 Fix actuator serialization
  clients/go/internal/utils/jobStreamActuator.go
  dist/pom.xml
  dist/src/main/java/io/camunda/zeebe/shared/JacksonConfig.java
  zeebe/clients/java/pom.xml
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClientFactory.java
  zeebe/clients/java/src/test/java/io/camunda/zeebe/client/OAuthCredentialsProviderTest.java
  zeebe/clients/java/src/test/java/io/camunda/zeebe/client/TopologyRequestRestTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ClusterEndpointResponseIT.java
Labels: backport main, component/zeebe, component/operate

#17384 refactor: arch-agnostic operate.Dockerfile
  .ci/docker/test/verify.sh
  .github/renovate.json
  operate.Dockerfile
Labels: component/zeebe, component/operate

#17468 deps: add renovate config for playwright docker image
  .github/renovate.json
Labels: component/zeebe, component/operate

#17436 ci: skip frontend build when building the Operate backend
  .github/workflows/operate-docker-tests.yml
  .github/workflows/operate-weekly-internal-docker-images.yaml
Labels: component/operate

#17477 deps: fix JSON syntax bug
  .github/renovate.json
Labels: component/zeebe, component/operate

#17490 Revert "deps: Update definitelyTyped (main)"
  operate/client/package.json
  operate/client/yarn.lock
Labels: component/operate

#17134 perf: Backoff Mechanism to Handle ElasticSearch Unavailability in Operate Importer
  operate/common/src/main/java/io/camunda/operate/util/BackoffIdleStrategy.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/elasticsearch/ElasticsearchRecordsReader.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/opensearch/OpensearchRecordsReader.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/post/AbstractIncidentPostImportAction.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/zeebe/operation/OperationExecutor.java
Labels: component/operate

#17457 fix: Handle index value of null in PostImporter
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/post/elasticsearch/ElasticsearchIncidentPostImportAction.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/post/opensearch/OpensearchIncidentPostImportAction.java
Labels: component/operate

#17498 ci: add test summary in tasklist-ci
  .github/workflows/tasklist-ci.yml
Labels: component/tasklist

#17503 refactor: remove unused spring-client-common
  parent/pom.xml
Labels: component/zeebe, component/operate

#17502 revert: Remove Hotjar
  tasklist/client/package.json
  tasklist/client/src/modules/tracking/index.tsx
  tasklist/client/yarn.lock
Labels: component/tasklist

#17501 ci: remove tasklist-conventional-commits.yml
  .github/workflows/tasklist-convetional-commits.yml
Labels: component/tasklist

#17489 test: Fix flakiness in `ActivatableJobsPushTest.shouldPushAfterJobFailed` test
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/ActivatableJobsPushTest.java
Labels: component/zeebe

#17500 deps: ignore internal Tasklist modules
  .github/renovate.json
Labels: component/zeebe, component/operate, component/tasklist

#17505 ci: prevent hanging Operate builds with timeout
  .github/workflows/operate-ci-build-reusable.yml
Labels: component/operate

#17499 fix: fix broken job lifetime metric
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/metrics/MetricsExporter.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/metrics/TtlKeyCache.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/metrics/MetricsExporterTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/metrics/TtlKeyCacheTest.java
Labels: backport stable/8.4, component/zeebe, backport stable/8.5

#17510 [Backport stable/8.5] refactor: remove unused spring-client-common
  parent/pom.xml
Labels: component/zeebe, component/operate

#17528 fix: INCIDENT state is not returned in Public API
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/dao/ProcessInstanceDaoIT.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/dao/elasticsearch/ElasticsearchProcessInstanceDao.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/dao/opensearch/OpensearchProcessInstanceDao.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/entities/ProcessInstance.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/api/v1/dao/opensearch/OpensearchProcessInstanceDaoTest.java
Labels: component/operate

#17539 ci: skip Docker push in operate-merge-ci
  .github/workflows/operate-ci-build-reusable.yml
  .github/workflows/operate-merge-ci.yaml
Labels: component/operate

#17474 Fix Zeebe release (avoid oom)
  .github/workflows/zeebe-release.yml
Labels: component/zeebe

#17540 ci: skip Docker push in tasklist-merge-ci
  .github/workflows/tasklist-ci-build-reusable.yml
  .github/workflows/tasklist-merge-ci.yml
Labels: component/tasklist

#17392 distro: add Operate to current Zeebe distro
  .github/labeler.yml
  .github/workflows/common-ci.yml
  .github/workflows/operate-ci.yml
  .github/workflows/operate-docker-tests.yml
  bom/pom.xml
  dist/OPERATE_LICENSE.txt
  dist/OPERATE_NOTICE.txt
  dist/OPERATE_README.txt
  dist/pom.xml
  dist/src/main/assembly.xml
  dist/src/main/config/application.yaml
  dist/src/main/config/log4j2.xml
  dist/src/main/resources/application.properties
  distro/pom.xml
  distro/src/main/assembly.xml
  distro/src/main/config/application.yml
  distro/src/main/config/log4j2.xml
  operate.Dockerfile
  operate/pom.xml
  operate/webapp/src/main/java/io/camunda/operate/Application.java
  parent/pom.xml
  zeebe/gateway-rest/pom.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/SecurityTest.java
  zeebe/qa/util/pom.xml
Labels: benchmark, component/zeebe, component/operate

#17541 Revert "deps: Update definitelyTyped (main)"
  operate/client/package.json
  operate/client/yarn.lock
Labels: component/operate

#17216 test: ensure PKCS1 support with REST
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/security/Pkcs1SupportTest.java
Labels: component/zeebe, backport stable/8.5

#17494 perf: Backoff Mechanism to Handle ElasticSearch Unavailability [Backport stable/operate-8.5]
  operate/common/src/main/java/io/camunda/operate/util/BackoffIdleStrategy.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/elasticsearch/ElasticsearchRecordsReader.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/opensearch/OpensearchRecordsReader.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/post/AbstractIncidentPostImportAction.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/zeebe/operation/OperationExecutor.java
Labels: component/operate

#17429 feat(zbctl): allows scope to be supplied via command line parameter
  clients/go/cmd/zbctl/internal/commands/root.go
  clients/go/cmd/zbctl/testdata/help.golden
Labels: component/zeebe, backport stable/8.5

#17551 [Backport stable/8.5] test: ensure PKCS1 support with REST
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/security/Pkcs1SupportTest.java
Labels: component/zeebe

#17524 refactor: Remove Husky and lint-staged
  tasklist/client/package.json
  tasklist/client/yarn.lock
Labels: component/tasklist

#17550 deps: bump java version to 21 in Tasklist
  .github/actions/build-tasklist-setup/action.yml
  .github/workflows/tasklist-backend-linting.yml
  .github/workflows/tasklist-backup-restore-tests-reusable.yml
  .github/workflows/tasklist-backup-restore-tests.yml
  .github/workflows/tasklist-docker-tests.yml
  .github/workflows/tasklist-e2e-tests.yml
  .github/workflows/tasklist-migrate-elasticsearch-data.yml
  .github/workflows/tasklist-release-dispatch.yml
  .github/workflows/tasklist-release-manual.yml
  .github/workflows/tasklist-release-reusable.yml
  tasklist.Dockerfile
  tasklist/pom.xml
Labels: component/tasklist

#17507 feat: due, follow up, and completion dates are shown as relative dates
  tasklist/client/e2e/pages/TaskDetailsPage.ts
  tasklist/client/e2e/pages/TaskPanelPage.ts
  tasklist/client/e2e/visual/tasks-page.spec.ts
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-all-open-tasks-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-completed-tasks-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-completed-tasks-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-completed-tasks-3-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-assigned-task-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-assigned-task-with-form-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-completed-task-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-completed-task-with-variables-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-task-without-a-form-and-with-variables-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-task-without-a-form-and-without-variables-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-unassigned-task-with-form-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-assigned-to-me-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-due-date-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-due-date-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-follow-up-date-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-follow-up-date-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tenant-on-task-detail-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-unassigned-tasks-1-chromium-linux.png
  tasklist/client/src/Tasks/AvailableTasks/Task/DateLabel.test.tsx
  tasklist/client/src/Tasks/AvailableTasks/Task/DateLabel.tsx
  tasklist/client/src/Tasks/AvailableTasks/Task/LabelWithPopover.tsx
  tasklist/client/src/Tasks/AvailableTasks/Task/index.test.tsx
  tasklist/client/src/Tasks/AvailableTasks/Task/index.tsx
  tasklist/client/src/Tasks/AvailableTasks/Task/styles.module.scss
  tasklist/client/src/modules/utils/formatDateRelative.test.ts
  tasklist/client/src/modules/utils/formatDateRelative.ts
Labels: component/tasklist

#17529 fix: INCIDENT state is not returned in Public API
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/dao/ProcessInstanceDaoIT.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/dao/elasticsearch/ElasticsearchProcessInstanceDao.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/dao/opensearch/OpensearchProcessInstanceDao.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/entities/ProcessInstance.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/api/v1/dao/opensearch/OpensearchProcessInstanceDaoTest.java
Labels: component/operate

#17508 fix: Handle index value of null in PostImporter
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/post/elasticsearch/ElasticsearchIncidentPostImportAction.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/post/opensearch/OpensearchIncidentPostImportAction.java
Labels: component/operate

#17440 chore: implement identity skeleton structure
  .github/labeler.yml
  identity/README.md
  identity/backend/Makefile
  identity/backend/pom.xml
  identity/backend/src/main/java/io/camunda/identity/Application.java
  identity/backend/src/main/resources/application.yaml
  identity/pom.xml
  pom.xml
Labels: component/zeebe, component/operate

#17545 Fix broken job stream aggregation across stream restarts
  dist/src/main/java/io/camunda/zeebe/shared/management/JobStreamEndpoint.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/command/ActivateJobsCommandImpl.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/command/StreamJobsCommandImpl.java
  zeebe/clients/java/src/test/java/io/camunda/zeebe/client/job/ActivateJobsTest.java
  zeebe/clients/java/src/test/java/io/camunda/zeebe/client/job/StreamJobsTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/JobStreamLifecycleIT.java
Labels: backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#17580 [Backport stable/8.5] Fix broken job stream aggregation across stream restarts
  dist/src/main/java/io/camunda/zeebe/shared/management/JobStreamEndpoint.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/command/ActivateJobsCommandImpl.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/command/StreamJobsCommandImpl.java
  zeebe/clients/java/src/test/java/io/camunda/zeebe/client/job/ActivateJobsTest.java
  zeebe/clients/java/src/test/java/io/camunda/zeebe/client/job/StreamJobsTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/JobStreamLifecycleIT.java
Labels: component/zeebe

#17584 ci: Fix workflow name for operate importer tests
  .github/workflows/operate-test-importer.yml
Labels: component/operate

#17571 fix: make deprecated brokerContactPoint backward compatible
  operate/common/src/main/java/io/camunda/operate/property/ZeebeProperties.java
  operate/common/src/main/java/io/camunda/operate/zeebe/ZeebeConnector.java
Labels: component/operate

#17506 refactor: Refactor E2E form-js page object model
  tasklist/client/e2e/pages/TaskDetailsPage.ts
  tasklist/client/e2e/pages/UtilitiesPage.ts
  tasklist/client/e2e/tests/task-details.spec.ts
Labels: component/tasklist

#17450 fix: allowed for empty POST request bodies
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/DecisionDefinitionControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/DecisionInstanceControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/DecisionRequirementsControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/FlowNodeInstanceControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/IncidentControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/ProcessDefinitionControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/ProcessInstanceControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/VariableControllerIT.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/DecisionDefinitionController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/DecisionInstanceController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/DecisionRequirementsController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/FlowNodeInstanceController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/IncidentController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/ProcessDefinitionController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/ProcessInstanceController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/VariableController.java
Labels: component/operate

#17370 refactor: remove remaining scala code
  parent/pom.xml
  zeebe/expression-language/pom.xml
  zeebe/expression-language/src/main/java/io/camunda/zeebe/el/impl/FeelEvaluationResult.java
  zeebe/expression-language/src/main/java/io/camunda/zeebe/el/impl/FeelExpressionLanguage.java
  zeebe/expression-language/src/main/java/io/camunda/zeebe/el/impl/FeelVariableContext.java
  zeebe/expression-language/src/main/scala/io/camunda/zeebe/el/impl/feel/FeelEvaluationResult.scala
  zeebe/expression-language/src/main/scala/io/camunda/zeebe/el/impl/feel/FeelVariableContext.scala
  zeebe/feel/pom.xml
  zeebe/feel/src/main/java/io/camunda/zeebe/feel/impl/FeelFunctionProvider.java
  zeebe/feel/src/main/java/io/camunda/zeebe/feel/impl/FeelToMessagePackTransformer.java
  zeebe/feel/src/main/java/io/camunda/zeebe/feel/impl/Loggers.java
  zeebe/feel/src/main/java/io/camunda/zeebe/feel/impl/MessagePackContext.java
  zeebe/feel/src/main/java/io/camunda/zeebe/feel/impl/MessagePackValueMapper.java
  zeebe/feel/src/main/scala/io/camunda/zeebe/feel/impl/FeelFunctionProvider.scala
  zeebe/feel/src/main/scala/io/camunda/zeebe/feel/impl/FeelToMessagePackTransformer.scala
  zeebe/feel/src/main/scala/io/camunda/zeebe/feel/impl/MessagePackContext.scala
  zeebe/feel/src/main/scala/io/camunda/zeebe/feel/impl/MessagePackValueMapper.scala
Labels: component/zeebe, component/operate

#17602 ci: allow using partial reports of failed version compatibility check runs
  .github/workflows/zeebe-version-compatibility.yml
Labels: component/zeebe

#17372 feat: extend execution listener support to all task types
  zeebe/bpmn-model/revapi.json
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/AbstractServiceTaskBuilder.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/AbstractTaskBuilder.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/ExecutionListenersValidator.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeExecutionListenersValidationTest.java
  zeebe/bpmn-model/src/test/resources/io/camunda/zeebe/model/bpmn/validation/ZeebeExecutionListenersValidationTest.testElementThatNotSupportExecutionListeners.bpmn
  zeebe/engine/pom.xml
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/BusinessRuleTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/ReceiveTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/ScriptTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/UndefinedTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/UserTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableActivity.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableReceiveTask.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceElementActivatingApplier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/ExecutionListenerJobTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/ExecutionListenerTaskElementsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/ExecutionListenerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/JobWorkerElementBuilderProvider.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/ExporterRecordStream.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/JobRecordStream.java
Labels: component/zeebe

#17593 test: refactor some Operate integration tests for efficiency
  operate/qa/integration-tests/pom.xml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/ElasticsearchConnectorBasicAuthIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/ElasticsearchConnectorSSLAuthIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/ReindexIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/SchemaCreationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/ZeebeConnectorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/ZeebeConnectorSecureIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/j5templates/OpensearchContainerManager.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/IndexControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/ShowErrorMessagesInDevelopmentIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/SuppressErrorMessagesInProductionIT.java
Labels: component/operate

#17610 refactor: Simplify style rules
  tasklist/client/src/Processes/ProcessTile/styles.module.scss
  tasklist/client/src/Tasks/Filters/CustomFiltersModal/styles.module.scss
  tasklist/client/src/Tasks/Task/Variables/LoadingTextarea/styles.module.scss
  tasklist/client/src/index.scss
  tasklist/client/src/modules/icons/modeller-form-icon.svg
Labels: component/tasklist

#17608 fix: set TransportOptions for OpenSearch requests
  operate/common/src/main/java/io/camunda/operate/opensearch/ExtendedOpenSearchClient.java
  operate/common/src/test/java/io/camunda/operate/opensearch/ExtendedOpenSearchClientTest.java
Labels: component/operate

#17578 fix: Cannot start OpenSearch Docker image
  operate/config/docker-compose.opensearch-identity.yml
  operate/docker-compose.opensearch-identity.yml
  operate/docker-compose.opensearch.yml
  operate/docker-compose.yml
Labels: component/operate

#17497 Refactor release workflow (reduce build time)
  .github/workflows/zeebe-release.yml
  operate/pom.xml
  zeebe/pom.xml
Labels: component/zeebe, component/operate

#17575 feat: remove styled-components from AvailableTasks
  tasklist/client/src/Tasks/AvailableTasks/Skeleton.tsx
  tasklist/client/src/Tasks/AvailableTasks/index.tsx
  tasklist/client/src/Tasks/AvailableTasks/styled.tsx
  tasklist/client/src/Tasks/AvailableTasks/styles.module.scss
  tasklist/client/src/modules/components/FontTokens.tsx
Labels: component/tasklist

#17628 [backport stable/8.5] deps: Update version.bouncycastle to v1.78.1
  parent/pom.xml
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, component/operate

#17555 feat: Implement process-level Execution Listener support
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/ProcessBuilder.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/ExecutionListenersValidator.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeExecutionListenersValidationTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/BpmnStreamProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/ProcessProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/ProcessTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventSubProcessInterruptionMarker.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/JobCompletedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/JobCreatedApplier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/ExecutionListenerTaskElementsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/ExecutionListenerTest.java
Labels: component/zeebe

#17496 fix: API error message for invalid size parameters [Backport stable/operate-8.5]
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/entities/QueryValidator.java
Labels: component/operate

#17605 fix: set TransportOptions for OpenSearch requests
  operate/common/src/main/java/io/camunda/operate/opensearch/ExtendedOpenSearchClient.java
  operate/common/src/test/java/io/camunda/operate/opensearch/ExtendedOpenSearchClientTest.java
Labels: component/operate

#17634 ci: filter publish-unit-test-result-action per component
  .github/workflows/operate-ci-test-reusable.yml
  .github/workflows/operate-run-tests.yml
  .github/workflows/tasklist-backup-restore-tests-reusable.yml
  .github/workflows/tasklist-ci-test-reusable.yml
  .github/workflows/tasklist-migrate-elasticsearch-data.yml
Labels: component/operate, component/tasklist

#17604 feat: visualize appender flow control metrics
  monitor/grafana/zeebe.json
Labels: component/zeebe

#17599 feat: directly write to log storage without appender actor
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/LogStreamPartitionTransitionStep.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogStorageAppender.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogStreamBuilderImpl.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogStreamImpl.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/Sequencer.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/SequencerMetrics.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/log/LogStreamBuilder.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/log/LogStorageAppenderHealthTest.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/log/LogStorageAppenderTest.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/log/SequencerTest.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/util/SyncLogStreamBuilder.java
Labels: component/zeebe

#17633 fix: Fix Operate types
  operate/client/e2e-playwright/visual/dashboard.spec.ts-snapshots/dashboard-page-expanded-rows---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/dashboard.spec.ts-snapshots/dashboard-page-expanded-rows---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/decisions.spec.ts-snapshots/decisions-page-filled-with-data---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/decisions.spec.ts-snapshots/decisions-page-filled-with-data---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/decisions.spec.ts-snapshots/decisions-page-filled-with-data-and-operations-panel-expanded---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/decisions.spec.ts-snapshots/decisions-page-filled-with-data-and-operations-panel-expanded---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/decisions.spec.ts-snapshots/decisions-page-optional-filters-visible---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/decisions.spec.ts-snapshots/decisions-page-optional-filters-visible---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/modifications.spec.ts-snapshots/modifications-apply-modifications-summary-modal---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/modifications.spec.ts-snapshots/modifications-apply-modifications-summary-modal---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/modifications.spec.ts-snapshots/modifications-diagram-badges-and-flow-node-instance-history-panel---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/modifications.spec.ts-snapshots/modifications-diagram-badges-and-flow-node-instance-history-panel---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/modifications.spec.ts-snapshots/modifications-with-add-variable-state---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/modifications.spec.ts-snapshots/modifications-with-helper-modal---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/modifications.spec.ts-snapshots/modifications-with-helper-modal---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-completed-instance---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-edit-variable-state---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-instance-with-incident---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-instance-with-incident---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-running-instance---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-running-instance---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-filled-with-data-and-one-flow-node-selected---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-filled-with-data-and-one-flow-node-selected---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-filled-with-data-and-operations-panel-expanded---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-filled-with-data-and-operations-panel-expanded---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-optional-filters-visible-part-2---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-optional-filters-visible-part-2---light-1-chromium-linux.png
  operate/client/package.json
  operate/client/src/App/Decisions/Decision/DecisionOperations/index.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstanceLog/TimeStampPill/index.test.tsx
  operate/client/src/App/ProcessInstance/ModificationSummaryModal/index.test.tsx
  operate/client/src/App/ProcessInstance/TopPanel/MetadataPopover/index.test.tsx
  operate/client/src/App/Processes/ListView/Filters/tests/index.test.tsx
  operate/client/src/App/Processes/ListView/Filters/tests/validations.test.tsx
  operate/client/src/App/Processes/ListView/ProcessOperations/index.test.tsx
  operate/client/src/modules/components/DateRangeField/index.test.tsx
  operate/client/src/modules/components/IconInput/styled.tsx
  operate/client/src/modules/components/OperationItem/DangerButton.tsx
  operate/client/src/modules/components/Operations/tests/cancel-operation.test.tsx
  operate/client/yarn.lock
Labels: component/operate

#17631 refactor: Arch-agnostic tasklist.Dockerfile
  tasklist.Dockerfile
Labels: component/tasklist

#17641 fix: do not short-circuit retry for force configure request
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/LeaderRole.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ReconfigurationTest.java
Labels: component/zeebe

#17638 refactor: Refactor E2E form-js page object model
  tasklist/client/e2e/pages/FormJSDetailsPage.ts
  tasklist/client/e2e/pages/TaskDetailsPage.ts
  tasklist/client/e2e/test-fixtures.ts
  tasklist/client/e2e/tests/processes-page.spec.ts
  tasklist/client/e2e/tests/task-details.spec.ts
  tasklist/client/e2e/tests/task-panel.spec.ts
  tasklist/client/e2e/tests/variables.spec.ts
  tasklist/client/src/Tasks/AvailableTasks/styles.module.scss
Labels: component/zeebe, component/tasklist

#17601 [Backport stable/8.3] Fix broken job stream aggregation across stream restarts
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/ActivateJobsCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/StreamJobsCommandImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/job/ActivateJobsTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/job/StreamJobsTest.java
  dist/src/main/java/io/camunda/zeebe/shared/management/JobStreamEndpoint.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/JobStreamLifecycleIT.java
Labels: component/zeebe

#17667 [backport stable/8.4] deps: Update version.bouncycastle to v1.78.1
  parent/pom.xml
Labels: backport stable/8.2, backport stable/8.3

#17600 [Backport stable/8.4] Fix broken job stream aggregation across stream restarts
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/ActivateJobsCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/StreamJobsCommandImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/job/ActivateJobsTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/job/StreamJobsTest.java
  dist/src/main/java/io/camunda/zeebe/shared/management/JobStreamEndpoint.java
  qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/JobStreamLifecycleIT.java
Labels: component/zeebe

#17671 [backport stable/8.3] deps: Update version.bouncycastle to v1.78.1
  parent/pom.xml
Labels: backport stable/8.2, component/zeebe

#17606 fix: Prevent SaaS profile requests on public forms
  tasklist/client/src/App.tsx
  tasklist/client/src/Layout/index.tsx
Labels: component/tasklist

#17642 ci: collect build status of operate & tasklist merge queue jobs
  .github/workflows/operate-ci-build-reusable.yml
  .github/workflows/tasklist-ci-build-reusable.yml
Labels: component/operate, component/tasklist

#17679 test: Verify multi-instance subprocess termination
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/multiinstance/MultiInstanceSubProcessTest.java
Labels: component/zeebe

#17467 deps: switch rest gateway from spring-webflux to spring-web
  dist/pom.xml
  dist/src/main/java/io/camunda/zeebe/broker/health/BrokerHealthRoutes.java
  dist/src/main/java/io/camunda/zeebe/shared/MainSupport.java
  dist/src/main/java/io/camunda/zeebe/shared/security/IdentityAuthenticationManager.java
  dist/src/main/java/io/camunda/zeebe/shared/security/PreAuthTokenConverter.java
  dist/src/main/java/io/camunda/zeebe/shared/security/ProblemAuthFailureHandler.java
  dist/src/main/java/io/camunda/zeebe/shared/security/SecurityConfiguration.java
  dist/src/main/resources/application.properties
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/GlobalControllerExceptionHandler.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/TenantAttributeHolder.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/UserTaskController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/UserTaskControllerTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/startup/RestAPIContextPathIT.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestGateway.java
Labels: component/zeebe, component/operate

#17673 Create unified release workflow
  .github/actions/build-platform-docker/action.yml
  .github/workflows/camunda-platform-release-main-dry-run.yml
  .github/workflows/camunda-platform-release-manual.yml
  .github/workflows/camunda-platform-release.yml
  .github/workflows/dispatch-release-8-6.yaml
  operate.Dockerfile
Labels: component/zeebe, component/operate, component/tasklist

#17683 fix: ignore missing attributes in processing UserTask
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/v8_5/processors/UserTaskZeebeRecordProcessor.java
  operate/importer-8_5/src/test/java/io/camunda/operate/zeebeimport/v8_5/processors/UserTaskZeebeRecordProcessorTest.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/v8_6/processors/UserTaskZeebeRecordProcessor.java
  operate/importer-8_6/src/test/java/io/camunda/operate/zeebeimport/v8_6/processors/UserTaskZeebeRecordProcessorTest.java
Labels: component/operate

#17687 fix: use upsert instead of update for updates to UserTaskEntity
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/v8_5/processors/UserTaskZeebeRecordProcessor.java
  operate/importer-8_5/src/test/java/io/camunda/operate/zeebeimport/v8_5/processors/UserTaskZeebeRecordProcessorTest.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/v8_6/processors/UserTaskZeebeRecordProcessor.java
  operate/importer-8_6/src/test/java/io/camunda/operate/zeebeimport/v8_6/processors/UserTaskZeebeRecordProcessorTest.java
Labels: component/operate

#17707 ci: increased renovate throughput
  .github/renovate.json
Labels: component/zeebe, component/operate, component/tasklist

#17133 test: add migration subprocess to subprocess test
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/MigrateProcessInstanceOperationZeebeIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/operation/ProcessInstanceMigrationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/j5templates/OperateJ5Tester.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/ImportMultitenancyZeebeImportIT.java
  operate/qa/integration-tests/src/test/resources/migration-subprocess.bpmn
  operate/qa/integration-tests/src/test/resources/migration-subprocess2.bpmn
  operate/schema/src/main/java/io/camunda/operate/entities/OperationEntity.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/zeebe/operation/MigrateProcessInstanceHandler.java
Labels: component/zeebe, component/operate

#17691 Serve the respective `index.html`
  operate/client/pom.xml
  operate/webapp/src/main/java/io/camunda/operate/Application.java
  tasklist/client/pom.xml
  tasklist/webapp/src/main/java/io/camunda/tasklist/Application.java
Labels: component/operate, component/tasklist

#17702 refactor: use different application yaml file name per component
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/identity/AuthenticationWithPersistentSessionsIT.java
  operate/webapp/src/main/java/io/camunda/operate/Application.java
  operate/webapp/src/main/resources/application-operate.yml
  operate/webapp/src/main/resources/application.yml
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/graphql/ProcessIdentityIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/mt/MultiTenancyIT.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/Application.java
  tasklist/webapp/src/main/resources/application-sso-auth.yml
  tasklist/webapp/src/main/resources/application-tasklist.yml
  tasklist/webapp/src/main/resources/application.yml
Labels: component/operate, component/tasklist

#17709 Introduce integration-tests profile for tasklist
  tasklist/pom.xml
Labels: component/tasklist

#17680 fix: use raw REST calls for OpenSearch repository API
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchSnapshotOperations.java
  operate/schema/src/test/java/io/camunda/operate/schema/store/opensearch/client/sync/OpenSearchSnapshotOperationsTest.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/backup/OpensearchBackupRepository.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/opensearch/backup/OpensearchBackupRepositoryTest.java
Labels: component/operate

#17678 fix: use raw REST calls for OpenSearch repository API
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchSnapshotOperations.java
  operate/schema/src/test/java/io/camunda/operate/schema/store/opensearch/client/sync/OpenSearchSnapshotOperationsTest.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/backup/OpensearchBackupRepository.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/opensearch/backup/OpensearchBackupRepositoryTest.java
Labels: component/operate

#17734 test: disable CSRF for e2e tests
  .github/workflows/operate-e2e-tests.yml
Labels: component/operate

#17718 fix: Make SnapshotStore IO bounded.
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/startup/steps/SnapshotStoreStep.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#17740 ci: add integration-test profile to reenable nightly operate worklow
  .github/workflows/operate-test-importer.yml
Labels: component/operate

#17738 deps: exclude react-router-dom from renovate updates
  .github/renovate.json
Labels: component/zeebe, component/operate, component/tasklist

#17766 [Backport stable/8.5] fix: Make SnapshotStore IO bounded.
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/startup/steps/SnapshotStoreStep.java
Labels: component/zeebe

#17737 ci: add profile to include the qa modules
  .github/workflows/operate-ci-test-reusable.yml
Labels: component/operate

#17755 ci: don't retry zeebe ci for merge queue
  .github/workflows/zeebe-ci.yml
Labels: component/zeebe

#17722 refactor: remove unused capabilities of logstream module
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams/AtomixAppendListenerAdapter.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams/AtomixLogStorage.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/LogStreamMetrics.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/AppendErrorHandler.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/AppendLimiter.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/AppenderFlowControl.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/BackpressureCfg.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/BackpressureCfgGradient2.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/BackpressureConstants.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/FlowControl.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/InFlightAppend.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/NoopLimiter.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/VegasConfig.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogAppendEntryImpl.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogStreamImpl.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/ProcessedLogAppendEntryImpl.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/Sequencer.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/log/LogAppendEntry.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/storage/LogStorage.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/flowcontrol/AppendGradient2LimiterTest.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/flowcontrol/AppendVegasLimiterTest.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/flowcontrol/AppenderFlowControlTest.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/flowcontrol/FlowControlTest.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/log/LogStorageAppenderTest.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/log/SequencerTest.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/util/ListLogStorage.java
Labels: component/zeebe

#17814 [Backport stable/8.5] Soft pause information is persisted across all replicas.
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/NoOpPartitionAdminAccess.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/PartitionAdminAccess.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionAdminControl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionAdminControlImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionAdminAccess.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/PartitionProcessingState.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/PartitionProcessingStateTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/management/ExportingEndpointIT.java
Labels: component/zeebe

#17368 feat: Expose Soft Pause Endpoint
  dist/src/main/java/io/camunda/zeebe/shared/management/ExportingEndpoint.java
  dist/src/test/java/io/camunda/zeebe/shared/management/ExportingEndpointTest.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/BrokerAdminService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/BrokerAdminServiceEndpoint.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/BrokerAdminServiceImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionStartupAndTransitionContextImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionTransitionContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/PartitionProcessingState.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ExporterDirectorPartitionTransitionStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/adminapi/AdminApiRequestHandler.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/TestPartitionTransitionContext.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport/adminapi/AdminApiRequestHandlerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/admin/BrokerAdminRequest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/admin/exporting/ExportingControlApi.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/admin/exporting/ExportingControlService.java
  zeebe/protocol/src/main/resources/cluster-management-protocol.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/management/ExportingEndpointIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/system/BrokerAdminServiceTest.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/ExportingActuator.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/PartitionsActuator.java
Labels: component/zeebe, component/operate

#17763 feat: preparing tasklist to M2M token change
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/oauth/OAuth2WebConfigurer.java
Labels: component/tasklist

#17798 ci: use 8 core runners to build operate and tasklist
  .github/workflows/operate-ci-build-reusable.yml
  .github/workflows/tasklist-ci-build-reusable.yml
Labels: component/operate, component/tasklist
