Repository camunda/camunda, pull requests merged in 2024-09, with the labels that each got.

#21686 Elasticsearch BatchRequest should build batch operations and executes them
  zeebe/exporters/camunda-exporter/pom.xml
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/store/BatchRequest.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/store/ElasticsearchBatchRequest.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/utils/ElasticsearchScriptBuilder.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/store/ElasticsearchBatchRequestTest.java
Labels: component/zeebe

#21798 ci: Reducing number of threads in unit tests for optimize to improve stability
  .github/workflows/ci.yml
Labels: component/build-pipeline

#21801 fix: make SBE code generation thread safe
  parent/pom.xml
  zeebe/atomix/cluster/pom.xml
  zeebe/broker/pom.xml
  zeebe/journal/pom.xml
  zeebe/protocol/pom.xml
  zeebe/transport/pom.xml
Labels: backport stable/8.4, component/zeebe, component/operate, backport stable/8.5, component/tasklist, component/optimize

#21813 deps: remove identity-common dependency
  dist/pom.xml
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#21815 [Backport stable/8.5] fix: make SBE code generation thread safe
  parent/pom.xml
  zeebe/atomix/cluster/pom.xml
  zeebe/broker/pom.xml
  zeebe/journal/pom.xml
  zeebe/protocol/pom.xml
  zeebe/transport/pom.xml
Labels: component/zeebe, component/operate

#21814 [Backport stable/8.4] fix: make SBE code generation thread safe
  atomix/cluster/pom.xml
  broker/pom.xml
  journal/pom.xml
  parent/pom.xml
  protocol/pom.xml
  transport/pom.xml
Labels: backport stable/8.3

#21685 Create composite action to cache maven.
  .github/actions/setup-maven-cache/action.yaml
  .github/actions/setup-zeebe/action.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#21773 [Backport stable/8.4] build: replace protolock with buf CLI
  .github/workflows/zeebe-ci.yml
  gateway-protocol/pom.xml
  gateway-protocol/src/main/proto/proto.lock
  parent/pom.xml
  topology/pom.xml
  topology/src/main/resources/proto/proto.lock
Labels: backport stable/8.3

#21786 Restructure AuthorizationState
  service/src/main/java/io/camunda/service/AuthorizationServices.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbAuthorizationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/ResourceIdentifiers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/AuthorizationState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/CreateAuthorizationMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/CreateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/AuthorizationStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/AuthorizationClient.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/AuthorizationRequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/AuthorizationControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerAuthorizationCreateRequest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/authorization/AuthorizationRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AuthorizationRecordValue.java
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/impl/DbCompositeKey.java
Labels: component/zeebe

#21826 build: compare against proper base sha for all triggers
  .github/workflows/ci.yml
Labels: component/build-pipeline

#21829 build: select proper base reference for comparison
  .github/workflows/zeebe-ci.yml
Labels: component/zeebe

#21728 feat: reworked closing mechanism for ExternalJarClassLoader
  zeebe/util/src/main/java/io/camunda/zeebe/util/jar/ExternalJarClassLoader.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/jar/ExternalJarClassLoaderTest.java
Labels: component/zeebe

#21029 El 20724 micromter refactor
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/metrics/ExecutionLatencyMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/metrics/MetricsExporter.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/metrics/MetricsExporterTest.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchMetrics.java
  zeebe/exporters/opensearch-exporter/pom.xml
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchClient.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchMetrics.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchClientIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchClientTest.java
Labels: component/zeebe

#21552 feat: C8 API - Implement Process instance search endpoint
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/filter/ProcessInstanceFilter.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/filter/ProcessInstanceFilterImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/response/OperationImpl.java
  service/pom.xml
  service/src/main/java/io/camunda/service/entities/ProcessInstanceEntity.java
  service/src/main/java/io/camunda/service/search/filter/FilterBuilders.java
  service/src/main/java/io/camunda/service/search/filter/ProcessInstanceFilter.java
  service/src/main/java/io/camunda/service/search/filter/ProcessInstanceVariableFilter.java
  service/src/main/java/io/camunda/service/search/sort/ProcessInstanceSort.java
  service/src/main/java/io/camunda/service/transformers/filter/ProcessInstanceFilterTransformer.java
  service/src/test/java/io/camunda/service/query/filter/ProcessInstanceFilterTest.java
  service/src/test/java/io/camunda/service/query/filter/ProcessInstanceSearchQueryStub.java
  service/src/test/java/io/camunda/service/query/sort/ProcessInstanceSortTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceQueryControllerTest.java
Labels: component/zeebe

#21731 feat: moved and renamed camunda-search-client-plugin
  operate/common/pom.xml
  parent/pom.xml
  pom.xml
  search-plugins/pom.xml
  search-plugins/src/main/java/io/camunda/plugin/search/header/CustomHeader.java
  search-plugins/src/main/java/io/camunda/plugin/search/header/DatabaseCustomHeaderSupplier.java
  search/pom.xml
  search/search-client-plugin/LICENSE
  search/search-client-plugin/README.md
  search/search-client-plugin/pom.xml
  search/search-client-plugin/src/main/java/io/camunda/plugin/search/header/CustomHeader.java
  search/search-client-plugin/src/main/java/io/camunda/plugin/search/header/DatabaseCustomHeaderSupplier.java
  tasklist/common/pom.xml
  zeebe/exporters/elasticsearch-exporter/pom.xml
  zeebe/exporters/opensearch-exporter/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#21757 Partition manager can bootstrap new partitions
  dist/src/main/java/io/camunda/zeebe/shared/management/ClusterApiUtils.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/PartitionManagerImpl.java
  zeebe/dynamic-config/pom.xml
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/ConfigurationChangeAppliersImpl.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/NoopPartitionChangeExecutor.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/PartitionBootstrapApplier.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/PartitionChangeExecutor.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/serializer/ProtoBufSerializer.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/state/ClusterConfigurationChangeOperation.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/state/PartitionState.java
  zeebe/dynamic-config/src/main/resources/proto/topology.proto
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/changes/PartitionBootstrapApplierTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#21832 Export `userKey` in UserRecord
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/UserCreateProcessor.java
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-user-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-user-template.json
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/user/UserRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/UserRecordValue.java
Labels: component/zeebe

#21819 feat: implement get decision definition xml controller
  parent/pom.xml
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/DecisionDefinitionQueryController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DecisionDefinitionQueryControllerTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#20888 test: SearchDecisionDefinitionTest integration tests
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/response/DecisionDefinitionImpl.java
  qa/integration-tests/src/test/java/io/camunda/it/client/SearchDecisionDefinitionTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#21861 build: fix fetching the last push commit
  .github/workflows/ci.yml
Labels: component/build-pipeline, backport stable/8.5

#21860 feat: enhanced closing for ExternalJarRepository
  zeebe/util/src/main/java/io/camunda/zeebe/util/jar/ExternalJarRepository.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/jar/ExternalJarRepositoryTest.java
Labels: component/zeebe

#21870 fix: do not break raft thread on late commit notification
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogStreamImpl.java
Labels: component/zeebe

#21867 [Backport stable/8.5] build: fix fetching the last push commit
  .github/workflows/zeebe-ci.yml
Labels: backport stable/8.3, backport stable/8.4, component/zeebe, component/operate

#21859 Restructure authorization record
  service/src/main/java/io/camunda/service/AuthorizationServices.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbAuthorizationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/AuthorizationState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/CreateAuthorizationMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/CreateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/AuthorizationStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/AuthorizationClient.java
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-authorization-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-authorization-template.json
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/AuthorizationController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/AuthorizationControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerAuthorizationCreateRequest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/authorization/AuthorizationRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/authorization/Permission.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AuthorizationRecordValue.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/PermissionAction.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/PermissionType.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/AuthorizationRecordStream.java
Labels: component/zeebe

#21481 fix: Operate OpenSearch AWS config can't be disabled
  operate/common/src/main/java/io/camunda/operate/connect/OpensearchConnector.java
  operate/common/src/main/java/io/camunda/operate/property/OpensearchProperties.java
  operate/common/src/test/java/io/camunda/operate/connect/OpensearchConnectorTest.java
Labels: component/operate, backport stable/operate-8.5

#21871 Initial schema manager resources
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/NoopExporterConfiguration.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/ElasticsearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/ElasticsearchSchemaManager.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/SchemaManager.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/SearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/descriptors/ComponentTemplateDescriptor.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/ElasticsearchEngineClientIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/ElasticsearchSchemaManagerIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/TestSupport.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/TestUtil.java
Labels: component/zeebe

#21847 Allow instantiating exporter configuration with list fields/members
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/context/ExporterConfiguration.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/context/ExporterConfigurationListDeserializer.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/context/ExporterConfigurationTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/exporter/ExporterConfigInstantiationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/exporter/ExporterSerializationTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/exporter/util/TestExporter.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/exporter/util/TestExporterConfig.java
Labels: backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#21891 [Backport stable/8.5] Allow instantiating exporter configuration with list fields/members
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/context/ExporterConfiguration.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/context/ExporterConfigurationListDeserializer.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/context/ExporterConfigurationTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/exporter/ExporterConfigInstantiationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/exporter/ExporterSerializationTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/exporter/util/TestExporter.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/exporter/util/TestExporterConfig.java
Labels: component/zeebe

#21488 fix: Operate OpenSearch AWS config can't be disabled [Backport stable/operate-8.5]
  operate/common/src/main/java/io/camunda/operate/connect/OpensearchConnector.java
  operate/common/src/main/java/io/camunda/operate/property/OpensearchProperties.java
  operate/common/src/test/java/io/camunda/operate/connect/OpensearchConnectorTest.java
Labels: component/operate

#21879 fix: skip initialization of partition ring until topology is initialized
  service/src/test/java/io/camunda/service/util/StubbedTopologyManager.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/api/BrokerClusterState.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/BrokerClusterStateImpl.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/BrokerTopologyManagerImpl.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/RoundRobinDispatchStrategy.java
  zeebe/broker-client/src/test/java/io/camunda/zeebe/broker/client/impl/TestTopologyManager.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/TopologyControllerTest.java
  zeebe/gateway/src/test/java/io/camunda/zeebe/gateway/api/util/StubbedTopologyManager.java
  zeebe/gateway/src/test/java/io/camunda/zeebe/gateway/impl/broker/PublishMessageDispatchStrategyTest.java
Labels: component/zeebe

#21893 feat: C8 API - Implement Process instance search endpoint
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/filter/ProcessInstanceFilter.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/response/ProcessInstance.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/sort/ProcessInstanceSort.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/filter/ProcessInstanceFilterImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/query/ProcessInstanceQueryImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/response/OperationImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/response/ProcessInstanceImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/sort/ProcessInstanceSortImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/process/SearchProcessInstanceTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
Labels: component/zeebe

#21844 Add support to text/xml response contentType in REST client
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/ApiEntityConsumer.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/TypedApiEntityConsumer.java
  clients/java/src/test/java/io/camunda/zeebe/client/impl/http/ApiEntityConsumerTest.java
Labels: component/zeebe

#21886 feat: get decision definition xml - client implementation
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClient.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/fetch/DecisionDefinitionGetXmlRequest.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/fetch/DecisionDefinitionGetXmlRequestImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/decision/GetDecisionDefinitionXmlTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/SearchDecisionDefinitionTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/DecisionDefinitionQueryController.java
Labels: component/zeebe

#21917 feat: engine uses dynamic routing info
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnBehaviorsImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/common/CatchEventBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/routing/DbRoutingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/routing/PersistedRoutingInfo.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/routing/RoutingInfo.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionBehaviorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/message/MessageStreamProcessorTest.java
Labels: component/zeebe

#21539 Migrate send task instances
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationPreconditions.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateSendTaskTest.java
Labels: component/zeebe

#21935 fix: decouple template deletion from index name
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/es/SchemaUpgradeClient.java
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/steps/schema/DeleteIndexTemplateIfExistsStep.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/schema/OptimizeIndexNameService.java
Labels: component/optimize

#21841 feat: create initial version of ElasticsearchExporter
  zeebe/exporters/camunda-exporter/pom.xml
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/clients/elasticsearch/ElasticsearchClientFactory.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/config/ElasticsearchExporterConfiguration.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/config/ElasticsearchProperties.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/utils/RetryOperation.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/ElasticsearchEngineClientIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/ElasticsearchSchemaManagerIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/TestSupport.java
Labels: component/zeebe

#21931 refactor: delete application-tasklist.yml
  dist/src/main/resources/application-tasklist.yml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#21915 ci: use shared setup-yarn-cache action from Infra team
  .github/actions/build-frontend/action.yml
  .github/actions/build-operate-fe/action.yml
  .github/actions/build-tasklist-fe/action.yml
  .github/actions/setup-yarn-cache/action.yml
  .github/workflows/operate-a11y.yml
  .github/workflows/operate-update-docs-screenshots.yml
  .github/workflows/optimize-check-c4.yml
  .github/workflows/optimize-e2e-test-cloud.yml
  .github/workflows/optimize-e2e-tests-sm.yml
  .github/workflows/optimize-publish-c4.yml
  .github/workflows/tasklist-ci-fe-reusable.yml
  .github/workflows/tasklist-update_visual_snapshots.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#21909 fix: Disable graphql introspection in Tasklist
  dist/src/main/resources/application-tasklist.properties
  tasklist/qa/integration-tests/pom.xml
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/graphql/IntrospectionDisabledIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/graphql/IntrospectionEnabledIT.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/graphql/DisableIntrospectionInstrumentation.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/graphql/TasklistGraphQLConfiguration.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#21928 feat: add routing info to cluster endpoint response
  dist/src/main/java/io/camunda/zeebe/shared/management/ClusterApiUtils.java
  dist/src/main/resources/api/cluster/components.yaml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ClusterEndpointResponseIT.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#21961 Merge release/optimize 8.6.0 alpha5 back to main
  optimize/backend/src/main/java/io/camunda/optimize/dto/zeebe/definition/ZeebeProcessDefinitionDataDto.java
  optimize/backend/src/main/java/io/camunda/optimize/dto/zeebe/incident/ZeebeIncidentDataDto.java
  optimize/backend/src/main/java/io/camunda/optimize/dto/zeebe/usertask/ZeebeUserTaskDataDto.java
  optimize/pom.xml
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/util/configuration/db/DatabaseConnection.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/upgrade/os/OpenSearchClientBuilder.java
  optimize/util/optimize-commons/src/main/resources/service-config.yaml
Labels: component/optimize

#21923 Migrate signal boundary event subscriptions
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/common/CatchEventBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/SignalSubscriptionMigratedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/TimerInstanceMigratedApplier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceRejectionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateSignalSubscriptionTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/SignalSubscriptionIntent.java
Labels: component/zeebe

#21970 ci: only add issues to zeebe projects if component matches
  .github/workflows/add-to-projects.yml
Labels: component/build-pipeline

#21985 Removed NoopExporter
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/NoopExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/NoopExporterConfiguration.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/config/ElasticsearchProperties.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/ElasticsearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/ElasticsearchSchemaManager.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/SearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/ElasticsearchEngineClientIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/ElasticsearchSchemaManagerIT.java
Labels: component/zeebe

#21787 Add create process instance endpoint
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/ProcessInstanceQueryControllerIT.java
  service/src/main/java/io/camunda/service/ProcessInstanceServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/ErrorMessages.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/ProcessInstanceRequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerCreateProcessInstanceRequest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerCreateProcessInstanceWithResultRequest.java
Labels: component/zeebe, component/operate

#21796 test: add optmize upgrade tests to optimize CI
  .github/workflows/optimize-ci.yml
  optimize/backend/TESTING.md
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/README.md
  optimize/qa/schema-integrity-tests/docker-compose.yml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/qa/schema-integrity-tests/src/test/java/io/camunda/optimize/test/upgrade/ElasticClient.java
  optimize/qa/schema-integrity-tests/src/test/java/io/camunda/optimize/test/upgrade/OptimizeWrapper.java
  optimize/qa/schema-integrity-tests/src/test/java/io/camunda/optimize/test/upgrade/UpgradeEsSchemaIT.java
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/steps/schema/DeleteIndexTemplateIfExistsStep.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/es/SchemaUpgradeClientReindexTest.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/es/SchemaUpgradeClientReindexTest.java.out
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/migrate313to86/DeleteEventIndicesAndTemplates86IT.java.out
Labels: component/build-pipeline, component/optimize

#22009 refactor: remove async completion
  zeebe/benchmarks/project/src/main/java/io/camunda/zeebe/DelayedCommandSender.java
  zeebe/benchmarks/project/src/main/java/io/camunda/zeebe/Worker.java
  zeebe/benchmarks/project/src/main/java/io/camunda/zeebe/config/WorkerCfg.java
  zeebe/benchmarks/project/src/main/resources/application.conf
  zeebe/benchmarks/project/src/test/java/io/camunda/zeebe/config/ConfigTest.java
  zeebe/benchmarks/project/src/test/resources/different-application.conf
Labels: component/zeebe

#21968 build: specify commit prefix for maven release plugin
  optimize/pom.xml
Labels: component/optimize

#21932 Refactor handle catch event migrations
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationCatchEventBehaviour.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateSignalSubscriptionTest.java
Labels: component/zeebe

#21916 Release 8.5.7
  bom/pom.xml
  build-tools/pom.xml
  clients/go/internal/embedded/data/VERSION
  dist/pom.xml
  parent/pom.xml
  pom.xml
  spring-boot-starter-camunda-sdk/pom.xml
  zeebe/atomix/cluster/pom.xml
  zeebe/atomix/pom.xml
  zeebe/atomix/utils/pom.xml
  zeebe/auth/pom.xml
  zeebe/backup-stores/azure/pom.xml
  zeebe/backup-stores/common/pom.xml
  zeebe/backup-stores/gcs/pom.xml
  zeebe/backup-stores/s3/pom.xml
  zeebe/backup-stores/testkit/pom.xml
  zeebe/backup/pom.xml
  zeebe/benchmarks/project/pom.xml
  zeebe/bpmn-model/pom.xml
  zeebe/broker-client/pom.xml
  zeebe/broker/pom.xml
  zeebe/clients/java/pom.xml
  zeebe/clients/zeebe-client-spring/pom.xml
  zeebe/dmn/pom.xml
  zeebe/engine/pom.xml
  zeebe/exporter-api/pom.xml
  zeebe/exporter-test/pom.xml
  zeebe/exporters/elasticsearch-exporter/pom.xml
  zeebe/exporters/opensearch-exporter/pom.xml
  zeebe/expression-language/pom.xml
  zeebe/feel/pom.xml
  zeebe/gateway-protocol-impl/pom.xml
  zeebe/gateway-protocol/pom.xml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway/pom.xml
  zeebe/journal/pom.xml
  zeebe/logstreams/pom.xml
  zeebe/msgpack-core/pom.xml
  zeebe/msgpack-value/pom.xml
  zeebe/protocol-asserts/pom.xml
  zeebe/protocol-impl/pom.xml
  zeebe/protocol-jackson/pom.xml
  zeebe/protocol-test-util/pom.xml
  zeebe/protocol/pom.xml
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/pom.xml
  zeebe/qa/update-tests/pom.xml
  zeebe/qa/util/pom.xml
  zeebe/restore/pom.xml
  zeebe/scheduler/pom.xml
  zeebe/snapshot/pom.xml
  zeebe/stream-platform/pom.xml
  zeebe/test-util/pom.xml
  zeebe/topology/pom.xml
  zeebe/transport/pom.xml
  zeebe/util/pom.xml
  zeebe/zb-db/pom.xml
Labels: component/zeebe, component/operate

#22020 Release/operate 8.5.6
  distro/pom.xml
  operate/archiver/pom.xml
  operate/client/pom.xml
  operate/common/pom.xml
  operate/data-generator/pom.xml
  operate/importer-8_4/pom.xml
  operate/importer-8_5/pom.xml
  operate/importer-common/pom.xml
  operate/importer/pom.xml
  operate/mvc-auth-commons/pom.xml
  operate/pom.xml
  operate/qa/backup-restore-tests/pom.xml
  operate/qa/batch-operation-performance-tests/pom.xml
  operate/qa/data-generator/pom.xml
  operate/qa/import-performance-tests/pom.xml
  operate/qa/integration-tests/pom.xml
  operate/qa/migration-performance-test/pom.xml
  operate/qa/migration-tests/migration-test/pom.xml
  operate/qa/migration-tests/pom.xml
  operate/qa/migration-tests/test-fixture-110/pom.xml
  operate/qa/migration-tests/test-fixture-120/pom.xml
  operate/qa/migration-tests/test-fixture-130/pom.xml
  operate/qa/migration-tests/test-fixture-800/pom.xml
  operate/qa/migration-tests/test-fixture-810/pom.xml
  operate/qa/migration-tests/test-fixture-820/pom.xml
  operate/qa/migration-tests/test-fixture-830/pom.xml
  operate/qa/migration-tests/test-fixture-840/pom.xml
  operate/qa/pom.xml
  operate/qa/query-performance-tests/pom.xml
  operate/qa/util/pom.xml
  operate/schema/pom.xml
  operate/webapp/pom.xml
Labels: component/operate

#21981 Skeleton of schema resource provider
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/ExporterResourceProvider.java
Labels: component/zeebe

#21934 Generate operations for scale request to add new partitions
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationManagementRequest.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/ClusterPatchRequestTransformer.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/ClusterScaleRequestTransformer.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/ForceRemoveBrokersRequestTransformer.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/PartitionReassignRequestTransformer.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/ScaleRequestTransformer.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationManagementApiTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/ClusterPatchRequestTransformerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/ClusterScaleRequestTransformerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/ForceRemoveBrokersTransformerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/PartitionReassignRequestTransformerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/TestTopologyChangeSimulator.java
Labels: component/zeebe

#22016 feat: partition scoped metric registrity
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/startup/ZeebePartitionFactory.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionStartupAndTransitionContextImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionTransitionContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ExporterDirectorPartitionTransitionStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/MetricsStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/StreamProcessorTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/TestPartitionTransitionContext.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchClient.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchMetrics.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchClientIT.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchClientTest.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchClient.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchMetrics.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchClientIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchClientTest.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/ScheduledTaskMetrics.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceTest.java
Labels: component/zeebe

#22025 Prevent multiple message correlations within the same processId
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestStandaloneCamunda.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageCorrelateBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageCorrelationCorrelateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessagePublishProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/Subscriptions.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/message/CorrelateMessageTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/message/MessageCorrelationTest.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
Labels: component/zeebe

#21760 docs: Deprecate GO
  clients/go/README.md
Labels: component/zeebe

#21868 feat: add tasklist-listview template and follow up entity template classes
  tasklist/common/src/main/java/io/camunda/tasklist/entities/listview/ListViewJoinRelation.java
  tasklist/common/src/main/java/io/camunda/tasklist/entities/listview/ProcessInstanceListViewEntity.java
  tasklist/common/src/main/java/io/camunda/tasklist/entities/listview/UserTaskListViewEntity.java
  tasklist/common/src/main/java/io/camunda/tasklist/entities/listview/VariableListViewEntity.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/templates/TasklistListViewTemplate.java
  tasklist/els-schema/src/main/resources/schema/es/create/template/tasklist-list-view.json
  tasklist/els-schema/src/main/resources/schema/os/create/template/tasklist-list-view.json
Labels: component/tasklist

#22053 test: declare logback core in optimize commons
  optimize/util/optimize-commons/pom.xml
Labels: component/optimize

#22054 deps: exclude jetty depenendencies from spring boot
  optimize/backend/pom.xml
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/ZeebeExtension.java
  optimize/pom.xml
Labels: component/optimize

#21963 Tasklist process search should return latest versions only
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/elasticsearch/ProcessStoreElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/opensearch/ProcessStoreOpenSearch.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/graphql/ProcessIdentityIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/internal/ProcessInternalControllerIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/mt/MultiTenancyIT.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/es/cache/ProcessStoreElasticSearchTest.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/es/cache/ProcessStoreOpenSearchTest.java
Labels: component/tasklist

#21967 Add set variables endpoint
  dist/src/main/java/io/camunda/application/commons/service/CamundaServicesConfiguration.java
  service/src/main/java/io/camunda/service/CamundaServices.java
  service/src/main/java/io/camunda/service/ElementInstanceServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/ElementInstanceController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/ElementRequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ElementInstanceControllerTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#22011 refactor: user query from indexes
  authentication/src/main/java/io/camunda/authentication/CamundaUserDetailsService.java
  authentication/src/test/java/io/camunda/authentication/CamundaUserDetailsServiceTest.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/BasicAuthIT.java
  service/src/main/java/io/camunda/service/entities/UserEntity.java
  service/src/main/java/io/camunda/service/search/filter/UserFilter.java
  service/src/main/java/io/camunda/service/search/sort/UserSort.java
  service/src/main/java/io/camunda/service/transformers/filter/UserFilterTransformer.java
  service/src/test/java/io/camunda/service/query/filter/UserFilterTest.java
  service/src/test/java/io/camunda/service/query/filter/UserSearchQueryStub.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/entities/UserEntity.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UserRecordValueExportHandler.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserQueryControllerTest.java
Labels: component/zeebe, component/identity

#22039 feat: onboarded new centrilized plugin interceptor TES
  tasklist/common/pom.xml
  tasklist/common/src/main/java/io/camunda/tasklist/es/ElasticsearchConnector.java
  tasklist/common/src/main/java/io/camunda/tasklist/property/ElasticsearchProperties.java
  tasklist/common/src/test/java/io/camunda/tasklist/es/ElasticsearchConnectorTest.java
  tasklist/qa/integration-tests/pom.xml
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchConnectorIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TestPlugin.java
Labels: component/tasklist

#21925 fix: Fix form-js layers
  tasklist/client/src/StartProcessFromForm/FormJS/index.tsx
  tasklist/client/src/Tasks/Task/FormJS/index.tsx
  tasklist/client/src/modules/components/FormJSRenderer/index.tsx
  tasklist/client/src/modules/components/FormJSRenderer/styles.module.scss
Labels: component/tasklist

#21995 feat: onboarded new centrilized plugin interceptor ZEES
  zeebe/exporters/elasticsearch-exporter/pom.xml
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchClient.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporterConfiguration.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/RestClientFactory.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterPluginIT.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterPluginTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/RestClientFactoryTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/utils/NoopHTTPCallback.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/utils/PluginTestUtils.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/utils/TestDynamicCustomHeaderInterceptor.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/utils/TestStaticCustomHeaderInterceptor.java
Labels: component/zeebe

#21938 Migrate intermediate signal catch events
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationPreconditions.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateIntermediateCatchEventTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceUnsupportedElementsTest.java
Labels: component/zeebe

#22061 fix: check for isEmbeddedForm to handle customFormKey user tasks
  tasklist/client/src/Tasks/Task/index.tsx
  tasklist/importer-850/src/main/java/io/camunda/tasklist/zeebeimport/v850/processors/es/JobZeebeRecordProcessorElasticSearch.java
  tasklist/importer-850/src/main/java/io/camunda/tasklist/zeebeimport/v850/processors/os/JobZeebeRecordProcessorOpenSearch.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/es/JobZeebeRecordProcessorElasticSearch.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/os/JobZeebeRecordProcessorOpenSearch.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/zeebeimport/ZeebeImportIT.java
Labels: component/tasklist

#21876 feat: persist data from importers to tasklist-listview
  tasklist/common/src/main/java/io/camunda/tasklist/entities/listview/UserTaskListViewEntity.java
  tasklist/common/src/main/java/io/camunda/tasklist/entities/listview/VariableListViewEntity.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/util/IndexSchemaValidatorUtil.java
  tasklist/els-schema/src/main/resources/schema/os/create/template/tasklist-list-view.json
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/common/UserTaskRecordToTaskEntityMapper.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/es/ProcessInstanceZeebeRecordProcessorElasticSearch.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/es/UserTaskZeebeRecordProcessorElasticSearch.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/es/VariableZeebeRecordProcessorElasticSearch.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/os/ProcessInstanceZeebeRecordProcessorOpenSearch.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/os/UserTaskZeebeRecordProcessorOpenSearch.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/os/VariableZeebeRecordProcessorOpenSearch.java
Labels: component/tasklist

#22065 test: run banning in a separate transaction
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/resource/ResourceDeletionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/StreamProcessingComposite.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/StreamProcessorRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/TestStreams.java
Labels: component/zeebe

#22062 deps: update golden file alpine version
  optimize/docker/test/docker-labels.golden.json
Labels: component/optimize

#22079 fix: Adapting the code since a bug fix from the opensearch
  optimize/backend/src/main/java/io/camunda/optimize/service/db/os/reader/AssigneeAndCandidateGroupsReaderOS.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/os/reader/DefinitionReaderOS.java
  optimize/pom.xml
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/externalcode/client/dsl/AggregationDSL.java
Labels: component/optimize

#22030 feat: Add validation for non-negative value in `pin` clock command
  clients/java/pom.xml
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/ArgumentUtil.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/ClockPinCommandImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/clock/PinClockTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/clock/ClockProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/clock/ClockTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/ClockClient.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/AdministrationController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/ClockValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/AdministrationControllerTest.java
Labels: component/zeebe

#22084 * improve: Implement partially ProcessVariableReader
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/reader/ProcessVariableReaderES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/os/OpenSearchCompositeAggregationScroller.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/os/reader/AssigneeAndCandidateGroupsReaderOS.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/os/reader/ProcessVariableReaderOS.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/reader/ProcessVariableReader.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/repository/VariableRepository.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/repository/es/VariableRepositoryES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/repository/os/VariableRepositoryOS.java
  optimize/backend/src/main/java/io/camunda/optimize/service/util/DecisionVariableHelper.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/OptimizeOpenSearchClient.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/externalcode/client/sync/OpenSearchDocumentOperations.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/util/LogUtil.java
Labels: component/optimize

#22085 fix: Fix DefinitionReaderOS bug
  optimize/backend/src/main/java/io/camunda/optimize/service/db/os/OpenSearchCompositeAggregationScroller.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/externalcode/client/dsl/AggregationDSL.java
Labels: component/optimize

#22012 feat: onboarded new centrilized plugin interceptor for ZEOS
  zeebe/exporters/opensearch-exporter/pom.xml
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchClient.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterConfiguration.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/RestClientFactory.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterPluginIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterPluginTest.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/RestClientFactoryTest.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/utils/NoopHTTPCallback.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/utils/PluginTestUtils.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/utils/TestDynamicCustomHeaderInterceptor.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/utils/TestStaticCustomHeaderInterceptor.java
Labels: component/zeebe

#22008 feat: validate correct usage of attributes 'bindingType' + 'versionTag'
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/ZeebeBindingTypeValidator.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/BusinessRuleTaskValidatorTest.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeCallActivityTest.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeTaskValidatorFormTest.java
Labels: component/zeebe

#22047 feat: display version tags in optimize
  optimize/backend/src/it/java/io/camunda/optimize/service/importing/processdefinition/ZeebeProcessDefinitionImportIT.java
  optimize/backend/src/it/java/io/camunda/optimize/util/ZeebeBpmnModels.java
  optimize/backend/src/main/java/io/camunda/optimize/dto/zeebe/definition/ZeebeProcessDefinitionDataDto.java
  optimize/backend/src/main/java/io/camunda/optimize/service/importing/engine/service/zeebe/ZeebeProcessDefinitionImportService.java
Labels: component/optimize

#22093 fix: CCSM Filter no longer gets applied twice - code freeze branch
  optimize/backend/src/main/java/io/camunda/optimize/rest/security/ccsm/CCSMSecurityConfigurerAdapter.java
Labels: component/optimize

#22094 fix: Fix Github Code Scan found issues - code freeze
  optimize/backend/src/main/java/io/camunda/optimize/service/digest/DigestService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/util/DatabaseVersionChecker.java
Labels: component/optimize

#22095 fix: count for a multi source report uses multi index
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/report/command/exec/ReportCmdExecutionPlan.java
Labels: component/optimize

#22037 docs: bring up downstream changes found in C8 REST API's generated documentation
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

#22100 fix: remove process instance archiving from Opt 7
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/util/configuration/ConfigurationService.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/util/configuration/archive/DataArchiveConfiguration.java
  optimize/util/optimize-commons/src/main/resources/service-config.yaml
  optimize/util/optimize-commons/src/test/java/io/camunda/optimize/service/util/configuration/ConfigurationServiceTest.java
Labels: component/optimize

#22077 deps: Update org.camunda.feel:feel-engine to 1.17.8
  parent/pom.xml
Labels: backport stable/8.3, backport stable/8.4, component/zeebe, component/operate

#22109 fix: corrected loading OES properties
  tasklist/common/src/main/java/io/camunda/tasklist/es/ElasticsearchConnector.java
Labels: component/tasklist

#21984 Migrate signal event subprocess
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceRejectionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateSignalEventSubprocessTest.java
Labels: component/zeebe

#22107 feat: added plugin interceptor to OES
  operate/common/pom.xml
  operate/common/src/main/java/io/camunda/operate/connect/ElasticsearchConnector.java
  operate/common/src/main/java/io/camunda/operate/property/ElasticsearchProperties.java
  operate/common/src/test/java/io/camunda/operate/connect/ElasticsearchConnectorTest.java
  operate/common/src/test/java/io/camunda/operate/connect/OperateESPluginLoadingTest.java
  operate/common/src/test/java/io/camunda/operate/connect/OperateOSPluginLoadingTest.java
  operate/qa/integration-tests/pom.xml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/ElasticsearchConnectorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/elasticsearch/TestElasticsearchConnector.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/TestPlugin.java
Labels: component/operate

#21812 feat: disable download button during download
  optimize/client/src/modules/components/DownloadButton/DownloadButton.test.tsx
  optimize/client/src/modules/components/DownloadButton/DownloadButton.tsx
Labels: component/optimize

#22073 feat: added plugin interceptor to TOS
  tasklist/common/pom.xml
  tasklist/common/src/main/java/io/camunda/tasklist/os/OpenSearchConnector.java
  tasklist/common/src/main/java/io/camunda/tasklist/property/OpenSearchProperties.java
  tasklist/common/src/test/java/io/camunda/tasklist/es/ElasticsearchConnectorTest.java
  tasklist/common/src/test/java/io/camunda/tasklist/os/OpensearchConnectorTest.java
  tasklist/common/src/test/java/io/camunda/tasklist/util/TestPlugin.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpensearchConnectorIT.java
Labels: component/tasklist

#22023 Migrate error boundary events
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateErrorEventTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceRejectionTest.java
Labels: component/zeebe

#22130 ci: remove duplicate setup-node step
  .github/actions/build-frontend/action.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#22002 Add resource deletion endpoint
  service/src/main/java/io/camunda/service/ResourceServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/ResourceController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/ResourceRequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ResourceControllerTest.java
Labels: component/zeebe

#22014 Add cancel process instance endpoint
  service/src/main/java/io/camunda/service/ProcessInstanceServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/ProcessInstanceRequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceControllerTest.java
Labels: component/zeebe

#22117 Add broadcast signal endpoint
  dist/src/main/java/io/camunda/application/commons/service/CamundaServicesConfiguration.java
  service/src/main/java/io/camunda/service/CamundaServices.java
  service/src/main/java/io/camunda/service/SignalServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/SignalController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/SignalRequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/SignalControllerTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#21746 fix: Include sortValues property in items for Listeners paginated query
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/ListenerReaderIT.java
  operate/schema/src/main/java/io/camunda/operate/util/ElasticsearchUtil.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/DecisionInstanceReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/ElasticsearchListenerReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/ListViewReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/reader/OpensearchListenerReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/ProcessInstanceRestService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/ListenerDto.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/ListenerRequestDto.java
Labels: component/operate

#21737 Validate user creation request
  authentication/pom.xml
  authentication/src/main/java/io/camunda/authentication/CamundaUserDetailsService.java
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  identity/migration/src/main/java/io/camunda/identity/migration/MigrationRunner.java
  parent/pom.xml
  qa/integration-tests/src/test/java/io/camunda/it/auth/BasicAuthIT.java
  service/src/main/java/io/camunda/service/UserServices.java
  service/src/test/java/io/camunda/service/query/filter/UserFilterTest.java
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/ErrorMessages.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/UserValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserControllerTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/identity, component/optimize

#22131 Prevent finishing queued distribution too soon
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/distribution/CommandRedistributor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/CommandDistributionAcknowledgedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/CommandDistributionDistributingApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/CommandDistributionEnqueuedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/distribution/DbDistributionState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/DistributionState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/migration/DbMigrationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/migration/to_8_6/DbDistributionMigrationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/migration/to_8_6/OrderedCommandDistributionMigration.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableDistributionState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableMigrationState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/distribution/DistributionStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/migration/to_8_6/OrderedCommandDistributionMigrationTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
Labels: component/zeebe

#22158 ci: use docker compose instead of docker-compose
  optimize/backend/pom.xml
  optimize/upgrade/pom.xml
Labels: component/optimize

#21594 feat: add user create request to java client
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClient.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/CreateUserCommandStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/CreateUserResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateUserCommandImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/user/CreateUserTest.java
  qa/integration-tests/pom.xml
  qa/integration-tests/src/test/java/io/camunda/it/auth/BasicAuthIT.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/UserValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserControllerTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CreateUserTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/util/ZeebeAssertHelper.java
Labels: component/zeebe

#22087 test: Add tests for Control Zeebe Clock functionalities
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/ClockTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/util/ZeebeAssertHelper.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
Labels: component/zeebe

#22159 Add process instance migration endpoint
  service/src/main/java/io/camunda/service/ProcessInstanceServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/ProcessInstanceRequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerMigrateProcessInstanceRequest.java
Labels: component/zeebe

#21059 fix: use treePathCache per partition
  operate/importer-8_4/pom.xml
  operate/importer-8_4/src/main/java/io/camunda/operate/zeebeimport/v8_4/processors/FlowNodeInstanceZeebeRecordProcessor.java
  operate/importer-8_5/pom.xml
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/processors/FlowNodeInstanceZeebeRecordProcessor.java
Labels: component/operate, hold/do-not-merge

#22120 Rework TreePath Cache
  operate/importer-8_4/src/main/java/io/camunda/operate/zeebeimport/v8_4/processors/FlowNodeInstanceZeebeRecordProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/processors/FlowNodeInstanceZeebeRecordProcessor.java
  operate/importer-common/pom.xml
  operate/importer-common/src/main/java/io/camunda/operate/zeebeimport/cache/FNITreePathCacheCompositeKey.java
  operate/importer-common/src/main/java/io/camunda/operate/zeebeimport/cache/FlowNodeInstanceTreePathCache.java
  operate/importer-common/src/test/java/io/camunda/operate/zeebeimport/cache/FlowNodeInstanceTreePathCacheTest.java
Labels: component/operate

#22157 Re-enable process instance migration tests
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateMessageEventSubprocessTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceConcurrentNoBatchingTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceConcurrentTest.java
Labels: component/zeebe

#22137 Add description to AuthorizationPatchRequest properties
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

#22182 Add a reducedPayload.json workload
  zeebe/benchmarks/project/src/main/resources/bpmn/realistic/reducedPayload.json
Labels: component/zeebe

#22155 Don't allow changing event type of mapped catch event during instance migration
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationPreconditions.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateBoundaryEventTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateEventBasedGatewayTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateMessageEventSubprocessTest.java
Labels: component/zeebe

#22080 feat: support authorization record export
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/entities/AuthorizationEntity.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/AuthorizationRecordValueExportHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
Labels: component/zeebe

#21624 feat: add implementation for flownode instance entity, filter, sort, transformer
  dist/src/main/java/io/camunda/application/commons/service/CamundaServicesConfiguration.java
  service/src/main/java/io/camunda/service/CamundaServices.java
  service/src/main/java/io/camunda/service/FlowNodeInstanceServices.java
  service/src/main/java/io/camunda/service/entities/FlowNodeInstanceEntity.java
  service/src/main/java/io/camunda/service/entities/FlownodeInstanceEntity.java
  service/src/main/java/io/camunda/service/search/filter/FilterBuilders.java
  service/src/main/java/io/camunda/service/search/filter/FlowNodeInstanceFilter.java
  service/src/main/java/io/camunda/service/search/filter/FlownodeInstanceFilter.java
  service/src/main/java/io/camunda/service/search/query/FlowNodeInstanceQuery.java
  service/src/main/java/io/camunda/service/search/query/SearchQueryBuilders.java
  service/src/main/java/io/camunda/service/search/sort/FlowNodeInstanceSort.java
  service/src/main/java/io/camunda/service/search/sort/FlownodeInstanceSort.java
  service/src/main/java/io/camunda/service/search/sort/SortOptionBuilders.java
  service/src/main/java/io/camunda/service/transformers/ServiceTransformers.java
  service/src/main/java/io/camunda/service/transformers/filter/FlownodeInstanceFilterTransformer.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/FlowNodeInstanceQueryController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/FlowNodeInstanceQueryControllerTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#22185 refactor: bundle Carbon fonts
  tasklist/client/public/mockServiceWorker.js
  tasklist/client/src/index.scss
Labels: component/tasklist

#22196 Add tree path cache metrics
  operate/common/src/main/java/io/camunda/operate/Metrics.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/processors/FlowNodeInstanceZeebeRecordProcessor.java
  operate/importer-common/src/main/java/io/camunda/operate/zeebeimport/cache/FlowNodeInstanceTreePathCache.java
  operate/importer-common/src/main/java/io/camunda/operate/zeebeimport/cache/NoopCacheMetrics.java
  operate/importer-common/src/main/java/io/camunda/operate/zeebeimport/cache/TreePathCacheMetrics.java
  operate/importer-common/src/main/java/io/camunda/operate/zeebeimport/cache/TreePathCacheMetricsImpl.java
  operate/importer-common/src/test/java/io/camunda/operate/zeebeimport/cache/ObservableFlowNodeInstanceTreePathCacheTest.java
Labels: component/operate

#22121 fix: use proper count variable for task assigned notification
  tasklist/client/src/modules/internationalization/locales/de.json
  tasklist/client/src/modules/internationalization/locales/en.json
  tasklist/client/src/modules/internationalization/locales/es.json
  tasklist/client/src/modules/internationalization/locales/fr.json
Labels: component/tasklist

#22161 fix: support Bearer token with typ AT+JWT
  operate/webapp/pom.xml
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/oauth2/IdentityOAuth2WebConfigurer.java
  tasklist/webapp/pom.xml
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/oauth/IdentityOAuth2WebConfigurer.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/security/oauth/IdentityOAuth2WebConfigurerTest.java
Labels: component/operate, component/tasklist, backport stable/operate-8.5

#22176 docs: add descriptions to decisions api fields
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/operate

#21536 refactor: streamline docker-compose and makefile environment variables
  tasklist/Makefile
  tasklist/README.md
  tasklist/config/application.yml
  tasklist/config/docker-compose.identity.mt.yml
  tasklist/config/docker-compose.identity.yml
  tasklist/config/docker-compose.yml
  tasklist/config/env_setup.sh
  tasklist/config/envs/.env.database.elasticsearch
  tasklist/config/envs/.env.database.opensearch
  tasklist/config/envs/.env.identity
  tasklist/config/envs/.env.identity-oauth
  tasklist/config/envs/.env.identity.keycloak
  tasklist/config/envs/.env.multi-tenancy
  tasklist/config/operate-application.yml
  tasklist/config/write_or_replace_var.sh
  tasklist/docker-compose.yml
  tasklist/qa/integration-tests/pom.xml
Labels: component/tasklist

#22063 fix: ensure access to raft role is thread safe
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#22148 feat: added plugin interceptor to OOS
  operate/common/pom.xml
  operate/common/src/main/java/io/camunda/operate/connect/OpensearchConnector.java
  operate/common/src/main/java/io/camunda/operate/property/InterceptorPluginProperty.java
  operate/common/src/main/java/io/camunda/operate/property/OpensearchProperties.java
  operate/common/src/test/java/io/camunda/operate/connect/OpensearchConnectorTest.java
  operate/common/src/test/java/io/camunda/operate/util/PluginTestUtils.java
  operate/common/src/test/java/io/camunda/operate/util/TestPlugin.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/OpensearchConnectorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/opensearch/TestOpenSearchConnector.java
Labels: component/operate

#22197 ci: support OS in FE developmnet scripts
  optimize/client/docker-compose.yml
  optimize/client/package.json
  optimize/client/scripts/start-backend.js
Labels: component/build-pipeline, component/optimize

#22239 [Backport stable/8.5] fix: ensure access to raft role is thread safe
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
Labels: component/zeebe

#22228 ci: create hold command
  .github/workflows/optimize-command-hold.yml
Labels: component/build-pipeline, component/optimize

#22169 fix: reject on missing process in timer trigger
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/timer/TimerTriggerProcessor.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#22246 ci: make write_or_replace_var.sh macos compatible
  tasklist/config/write_or_replace_var.sh
Labels: component/tasklist

#21888 feat: Tasklist/persist task competition to tasklist-listview
  tasklist/common/src/main/java/io/camunda/tasklist/entities/listview/ListViewJoinRelation.java
  tasklist/common/src/main/java/io/camunda/tasklist/entities/listview/VariableListViewEntity.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/ListViewStore.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/elasticsearch/ListViewStoreElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/opensearch/ListViewStoreOpenSearch.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/TaskControllerIT.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/entities/TaskCompleteRequest.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/TaskService.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/VariableService.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/service/VariableServiceTest.java
Labels: component/tasklist

#22234 Add request handlers for cluster scale request for scaling brokers and partitions
  dist/src/main/java/io/camunda/zeebe/shared/management/ClusterEndpoint.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationCoordinatorSupplier.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationManagementApi.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationManagementRequest.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationManagementRequestSender.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationManagementRequestsHandler.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationRequestServer.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationRequestTopics.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/serializer/ClusterConfigurationRequestsSerializer.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/serializer/ProtoBufSerializer.java
  zeebe/dynamic-config/src/main/resources/proto/requests.proto
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationManagementApiTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/serializer/ProtoBufSerializerTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#22035 Migrate error event subprocess
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateErrorEventSubprocessTest.java
Labels: component/zeebe

#22254 [Backport stable/8.5] fix: reject on missing process in timer trigger
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/timer/TimerTriggerProcessor.java
Labels: component/zeebe

#22154 feat: Import versionTag field to operate process index
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/ListViewZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/ProcessZeebeRecordProcessor.java
  operate/schema/src/main/java/io/camunda/operate/cache/ProcessCache.java
  operate/schema/src/main/java/io/camunda/operate/entities/ProcessEntity.java
  operate/schema/src/main/java/io/camunda/operate/entities/listview/ProcessInstanceForListViewEntity.java
  operate/schema/src/main/java/io/camunda/operate/schema/indices/ProcessIndex.java
  operate/schema/src/main/java/io/camunda/operate/schema/templates/ListViewTemplate.java
  operate/schema/src/main/resources/schema/elasticsearch/create/index/operate-process.json
  operate/schema/src/main/resources/schema/elasticsearch/create/template/operate-list-view.json
  operate/schema/src/main/resources/schema/opensearch/create/index/operate-process.json
  operate/schema/src/main/resources/schema/opensearch/create/template/operate-list-view.json
Labels: component/operate

#22190 Add process instance modification endpoint
  service/src/main/java/io/camunda/service/ProcessInstanceServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/ErrorMessages.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/ProcessInstanceRequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerModifyProcessInstanceRequest.java
Labels: component/zeebe

#22229 Remove authorization CREATE command and CREATED event
  service/src/main/java/io/camunda/service/AuthorizationServices.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/AuthorizationCreatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbAuthorizationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableAuthorizationState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/CreateAuthorizationMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/CreateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/AuthorizationStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/AuthorizationClient.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/AuthorizationController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/AuthorizationControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerAuthorizationPatchRequest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/AuthorizationIntent.java
Labels: component/zeebe

#22215 Do not update treePath on FNI completed or terminated
  operate/importer-8_4/src/main/java/io/camunda/operate/zeebeimport/v8_4/processors/FlowNodeInstanceZeebeRecordProcessor.java
  operate/importer-8_4/src/main/java/io/camunda/operate/zeebeimport/v8_4/processors/fni/FNITransformer.java
  operate/importer-8_4/src/main/test/java/io/camunda/operate/zeebeimport/processors/fni/FNITransformerTest.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/processors/FlowNodeInstanceZeebeRecordProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/processors/fni/FNITransformer.java
  operate/importer-8_5/src/test/java/io/camunda/operate/zeebeimport/processors/fni/FNITransformerTest.java
Labels: component/operate

#22261 Leftovers from optimize repo first commit
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/dsl/RequestDSL.java
  optimize/backend/pom.xml
  optimize/backend/src/main/java/io/camunda/optimize/service/db/os/report/filter/ProcessQueryFilterEnhancerOS.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/os/report/interpreter/groupby/process/ProcessGroupByVariableInterpreterOS.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/report/ExecutionPlanExtractor.java
  optimize/pom.xml
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/es/schema/TransportOptionsProvider.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/util/configuration/ConfigurationServiceConstants.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/util/configuration/OptimizeProfile.java
Labels: component/operate, component/optimize

#22216 [Backport stable/operate-8.5] fix: support Bearer token with typ AT+JWT
  operate/webapp/pom.xml
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/oauth2/IdentityOAuth2WebConfigurer.java
Labels: component/zeebe, component/operate

#21986 ci: Reduce maven's memory use when building optimize-backend
  .github/workflows/ci.yml
  optimize/backend/pom.xml
Labels: component/build-pipeline, component/optimize

#22264 ci: avoid duplicate aborted job detection
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe

#22219 Do not store leaf FNI in treePath Cache
  .gitignore
  operate/importer-8_4/src/main/java/io/camunda/operate/zeebeimport/v8_4/processors/FlowNodeInstanceZeebeRecordProcessor.java
  operate/importer-8_4/src/main/java/io/camunda/operate/zeebeimport/v8_4/processors/fni/FNITransformer.java
  operate/importer-8_4/src/main/test/java/io/camunda/operate/zeebeimport/processors/fni/FNITransformerCacheTreePathTest.java
  operate/importer-8_4/src/main/test/java/io/camunda/operate/zeebeimport/processors/fni/FNITransformerTest.java
  operate/importer-8_5/pom.xml
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/processors/FlowNodeInstanceZeebeRecordProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/processors/fni/FNITransformer.java
  operate/importer-8_5/src/test/java/io/camunda/operate/zeebeimport/processors/fni/FNITransformerCacheTreePathTest.java
  operate/importer-8_5/src/test/java/io/camunda/operate/zeebeimport/processors/fni/FNITransformerTest.java
  operate/importer-common/src/main/java/io/camunda/operate/zeebeimport/cache/FlowNodeInstanceTreePathCache.java
  operate/importer-common/src/main/java/io/camunda/operate/zeebeimport/cache/TreePathCache.java
  operate/importer-common/src/test/java/io/camunda/operate/zeebeimport/cache/FlowNodeInstanceTreePathCacheTest.java
  operate/importer-common/src/test/java/io/camunda/operate/zeebeimport/cache/ObservableFlowNodeInstanceTreePathCacheTest.java
Labels: component/zeebe, component/operate

#22214 ci: include new gcp-perf-core-*-default runners to allowed labels (linter)
  .github/actionlint.yaml
Labels: component/build-pipeline

#21979 ci: use infra self-hosted runners for zeebe-snyk.yml workflow
  .github/workflows/zeebe-snyk.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#22247 feat: Define task listeners in zeebe `bpmn` model module
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/Bpmn.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/AbstractUserTaskBuilder.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/TaskListenerBuilder.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/impl/ZeebeConstants.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/impl/instance/zeebe/ZeebeTaskListenerImpl.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/impl/instance/zeebe/ZeebeTaskListenersImpl.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/instance/zeebe/ZeebeTaskListener.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/instance/zeebe/ZeebeTaskListenerEventType.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/instance/zeebe/ZeebeTaskListeners.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/ZeebeDesignTimeValidators.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/instance/zeebe/ZeebeTaskListenerTest.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/instance/zeebe/ZeebeTaskListenersTest.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeTaskListenersValidationTest.java
  zeebe/bpmn-model/src/test/resources/io/camunda/zeebe/model/bpmn/validation/ZeebeTaskListenersValidationTest.testEventTypeNotDefined.bpmn
Labels: component/zeebe

#22268 docs: move from experimental endpoints to alpha
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

#21783 feat: add flow node instance search
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClient.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/SearchRequestBuilders.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/filter/FlownodeInstanceFilter.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/query/FlownodeInstanceQuery.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/response/FlowNodeInstance.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/sort/FlownodeInstanceSort.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/SearchResponseMapper.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/filter/FlownodeInstanceFilterImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/query/FlowNodeInstanceQueryImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/response/FlowNodeInstanceImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/sort/FlownodeInstanceSortImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/flownodeinstance/FlownodeInstanceTest.java
  dist/src/main/java/io/camunda/application/commons/service/CamundaServicesConfiguration.java
  service/src/main/java/io/camunda/service/CamundaServices.java
  service/src/main/java/io/camunda/service/FlowNodeInstanceServices.java
  service/src/main/java/io/camunda/service/entities/FlowNodeInstanceEntity.java
  service/src/main/java/io/camunda/service/search/filter/FilterBuilders.java
  service/src/main/java/io/camunda/service/search/filter/FlowNodeInstanceFilter.java
  service/src/main/java/io/camunda/service/search/query/FlowNodeInstanceQuery.java
  service/src/main/java/io/camunda/service/search/query/SearchQueryBuilders.java
  service/src/main/java/io/camunda/service/search/sort/FlowNodeInstanceSort.java
  service/src/main/java/io/camunda/service/search/sort/SortOptionBuilders.java
  service/src/main/java/io/camunda/service/transformers/ServiceTransformers.java
  service/src/main/java/io/camunda/service/transformers/filter/FlownodeInstanceFilterTransformer.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/FlowNodeInstanceQueryController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/FlowNodeInstanceQueryControllerTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#22168 test: Fix carbonization visual regression tests
  .github/workflows/tasklist-ci-fe-reusable.yml
  tasklist/client/e2e/form-js-integration.spec.ts
  tasklist/client/e2e/form-js-integration.spec.ts-snapshots/form-js-integration-check-if-Carbonization-is-working-1-chromium-linux.png
  tasklist/client/package.json
  tasklist/client/vite.config.ts
Labels: component/build-pipeline, component/tasklist

#22227 ci: use zeebe snapshot image for operate e2e tests
  .github/workflows/operate-e2e-tests.yml
  operate/client/e2e-playwright/tests/processes.mocks.ts
  operate/client/e2e-playwright/tests/processes.spec.ts
Labels: component/build-pipeline, component/operate

#22257 Extend internal API to return process version tags
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/ProcessZeebeRecordProcessor.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/ProcessCacheZeebeImportIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/ProcessZeebeImportIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/ListViewZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/resources/demoProcess_v_1.bpmn
  operate/qa/pom.xml
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchProcessStore.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchProcessStore.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/ProcessDto.java
Labels: component/operate

#22244 Benchmark: Worker use natural retry mechanism for message publish
  zeebe/benchmarks/project/src/main/java/io/camunda/zeebe/Worker.java
Labels: benchmark, component/zeebe, component/operate

#22280 remove priority filter from v2 API
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/filter/UserTaskFilter.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/filter/UserTaskFilterImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/usertask/SearchUserTaskTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/UserTaskQueryTest.java
  service/src/main/java/io/camunda/service/search/filter/UserTaskFilter.java
  service/src/main/java/io/camunda/service/transformers/filter/UserTaskFilterTransformer.java
  service/src/test/java/io/camunda/service/query/filter/UserTaskFilterTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
Labels: component/zeebe

#22213 refactor: replace and remove old button component
  optimize/client/e2e/sm-tests/Common.elements.js
  optimize/client/e2e/sm-tests/Dashboard.elements.js
  optimize/client/e2e/sm-tests/Dashboard.js
  optimize/client/e2e/sm-tests/Filter.elements.js
  optimize/client/e2e/sm-tests/Homepage.elements.js
  optimize/client/e2e/sm-tests/ProcessReport.elements.js
  optimize/client/e2e/sm-tests/ProcessReport.js
  optimize/client/e2e/utils.js
  optimize/client/src/App.js
  optimize/client/src/__snapshots__/App.test.js.snap
  optimize/client/src/modules/components/AlertsDropdown/AlertsDropdown.test.js
  optimize/client/src/modules/components/Button/Button.scss
  optimize/client/src/modules/components/Button/Button.test.tsx
  optimize/client/src/modules/components/Button/Button.tsx
  optimize/client/src/modules/components/Button/index.tsx
  optimize/client/src/modules/components/Dropdown/Dropdown.scss
  optimize/client/src/modules/components/Dropdown/Dropdown.test.tsx
  optimize/client/src/modules/components/Dropdown/Dropdown.tsx
  optimize/client/src/modules/components/Dropdown/DropdownOption.scss
  optimize/client/src/modules/components/Dropdown/DropdownOption.test.tsx
  optimize/client/src/modules/components/Dropdown/DropdownOption.tsx
  optimize/client/src/modules/components/Dropdown/DropdownOptionsList.scss
  optimize/client/src/modules/components/Dropdown/DropdownOptionsList.test.tsx
  optimize/client/src/modules/components/Dropdown/DropdownOptionsList.tsx
  optimize/client/src/modules/components/Dropdown/Submenu.scss
  optimize/client/src/modules/components/Dropdown/Submenu.test.tsx
  optimize/client/src/modules/components/Dropdown/Submenu.tsx
  optimize/client/src/modules/components/Dropdown/index.tsx
  optimize/client/src/modules/components/Dropdown/service.test.ts
  optimize/client/src/modules/components/Dropdown/service.ts
  optimize/client/src/modules/components/ReportDetails/SingleReportDetails.scss
  optimize/client/src/modules/components/ReportRenderer/visualizations/Heatmap/Heatmap.scss
  optimize/client/src/modules/components/ReportRenderer/visualizations/Table/__snapshots__/processRawData.test.js.snap
  optimize/client/src/modules/components/ReportRenderer/visualizations/Table/processRawData.js
  optimize/client/src/modules/components/TemplateModal/TemplateModal.js
  optimize/client/src/modules/components/TemplateModal/TemplateModal.scss
  optimize/client/src/modules/components/TemplateModal/TemplateModal.test.js
  optimize/client/src/modules/components/index.js
  optimize/client/src/modules/components/index.tsx
  optimize/client/src/modules/filter/modals/variable/ValueListInput.scss
  optimize/client/src/modules/notifications/Notification.scss
  optimize/client/src/modules/notifications/Notification.tsx
  optimize/client/src/modules/notifications/Notifications.scss
  optimize/client/src/modules/notifications/Notifications.test.tsx
  optimize/client/src/modules/notifications/__snapshots__/Notification.test.tsx.snap
Labels: component/optimize

#22256 build: use java 21 for optimize release and image
  optimize.Dockerfile
  optimize/pom.xml
Labels: component/optimize

#22201 refactor: overhaul Operate dashboard
  monitor/grafana/dashboards/operate.json
Labels: component/zeebe

#22231 ci: add eng start command
  .github/optimize/scripts/commands/add-engineering-dri-to-issue-description.sh
  .github/workflows/optimize-command-assign.yml
  .github/workflows/optimize-command-eng.yml
  .github/workflows/optimize-command-help.yml
Labels: component/build-pipeline, component/optimize

#22287 test: Add test cases for triggering timer events with clock pinned in the past
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/ClockTest.java
Labels: component/zeebe
