Repository camunda/camunda, pull requests merged in 2024-08, with the labels that each got.

#20685 [Backport release-8.6.0-alpha4] feat: store deployment key for deployed decisions
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/DmnResourceTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/resource/ResourceDeletionDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/DecisionCreatedV1Applier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/DecisionCreatedV2Applier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/deployment/DbDecisionState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/deployment/PersistedDecision.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/DecisionState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableDecisionState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/CreateDeploymentMultiplePartitionsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/DmnDeploymentTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/resource/ResourceDeletionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/deployment/DecisionStateMultiTenantTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/deployment/DecisionStateTest.java
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-decision-template.json
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-deployment-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-decision-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-deployment-template.json
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/deployment/DecisionRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/deployment/DecisionRecordValue.java
Labels: component/zeebe

#20391 Exporters can now expose metrics through Micrometer face.
  dist/pom.xml
  dist/src/main/java/io/camunda/zeebe/broker/BrokerModuleConfiguration.java
  zeebe/broker/pom.xml
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/Broker.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/BrokerStartupContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/BrokerStartupContextImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/PartitionManagerStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/context/ExporterContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/repo/ExporterRepository.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterContainer.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirectorContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/PartitionManagerImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/startup/ZeebePartitionFactory.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/SystemContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionStartupAndTransitionContextImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionTransitionContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ExporterDirectorPartitionTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterContainerRuntime.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterContainerTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExternalExporterContainerTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/TestPartitionTransitionContext.java
  zeebe/exporter-api/pom.xml
  zeebe/exporter-api/src/main/java/io/camunda/zeebe/exporter/api/context/Context.java
  zeebe/exporter-test/pom.xml
  zeebe/exporter-test/src/main/java/io/camunda/zeebe/exporter/test/ExporterTestContext.java
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteringRule.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/exporter/ExporterMetricsIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/exporter/ExporterMetricsTestExporter.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/PrometheusActuator.java
Labels: component/zeebe, component/operate, component/tasklist

#20692 test: fix flaky test shouldPushForMultipleJobsCreated
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/ActivatableJobsPushTest.java
Labels: component/zeebe

#20694 ci: migrate to new Renovate config
  .github/renovate.json
Labels: component/zeebe, component/operate, component/tasklist

#20089 Add a job completion REST endpoint
  service/src/main/java/io/camunda/service/JobServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/JobController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerRoundRobinTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerTest.java
Labels: component/zeebe

#20662 Fix flaky shouldSaveBackupWithManyFiles
  zeebe/backup-stores/s3/src/test/java/io/camunda/zeebe/backup/s3/BackupUploadIT.java
Labels: kind/flake, component/zeebe

#20644 feat: resolve deployment-bound resource links
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnBehaviorsImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnDecisionBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnJobBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnStateBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnUserTaskBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/CallActivityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/common/DecisionBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableBusinessRuleTask.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableCallActivity.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableCalledDecision.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/UserTaskProperties.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/CallActivityTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/UserTaskTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/zeebe/CalledDecisionTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/dmn/DecisionEvaluationEvaluteProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/BusinessRuleTaskTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/CallActivityTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobBasedUserTaskFormTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/NativeUserTaskFormTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/incident/BusinessRuleTaskIncidentTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/incident/CallActivityIncidentTest.java
Labels: component/zeebe, backport release-8.6.0-alpha4

#20712 [Backport release-8.6.0-alpha4] feat: resolve deployment-bound resource links
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnBehaviorsImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnDecisionBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnJobBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnStateBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnUserTaskBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/CallActivityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/common/DecisionBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableBusinessRuleTask.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableCallActivity.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableCalledDecision.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/UserTaskProperties.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/CallActivityTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/UserTaskTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/zeebe/CalledDecisionTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/dmn/DecisionEvaluationEvaluteProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/BusinessRuleTaskTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/CallActivityTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobBasedUserTaskFormTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/NativeUserTaskFormTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/incident/BusinessRuleTaskIncidentTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/incident/CallActivityIncidentTest.java
Labels: component/zeebe

#20613 ci: run optimzie workflows when optimize files are changed
  .github/actions/optimize-paths-filter/README.md
  .github/actions/optimize-paths-filter/action.yml
  .github/actions/paths-filter/action.yml
  .github/workflows/camunda-helm-integration.yml
  .github/workflows/optimize-backend-linting.yml
  .github/workflows/optimize-check-c4.yml
  .github/workflows/optimize-ci.yml
  .github/workflows/optimize-code-scanning-java.yml
  .github/workflows/optimize-code-scanning-javascript.yml
  .github/workflows/optimize-e2e-test-cloud.yml
  .github/workflows/optimize-e2e-tests-sm.yml
  .github/workflows/optimize-generate-changelog.yml
  .github/workflows/optimize-generate-upgrade-plan.yml
  .github/workflows/optimize-helm-integration.yml
  .github/workflows/optimize-unit-tests.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist

#20513 fix: set unique keys for output variable rows
  operate/client/e2e-playwright/pages/DecisionInstance.ts
  operate/client/e2e-playwright/tests/batchMoveModification.spec.ts
  operate/client/e2e-playwright/tests/decisionInstance.mocks.ts
  operate/client/e2e-playwright/tests/decisionInstance.spec.ts
  operate/client/e2e-playwright/tests/decisionInstances.mocks.ts
  operate/client/e2e-playwright/tests/decisionInstances.spec.ts
  operate/client/e2e-playwright/tests/resources/decisions_v_2.dmn
  operate/client/src/App/DecisionInstance/DecisionPanel/index.tsx
  operate/client/src/App/DecisionInstance/DrdPanel/index.tsx
  operate/client/src/App/DecisionInstance/DrdPanel/styled.ts
  operate/client/src/App/DecisionInstance/VariablesPanel/InputsAndOutputs/index.tsx
Labels: component/operate

#20688 test: enable DataGenerator bean only on dev-data profile
  .github/workflows/tasklist-ci-test-reusable.yml
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TestApplication.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/apps/modules/ModulesTestApplication.java
Labels: component/build-pipeline, component/tasklist

#20719 Add an Incident Resolution REST endpoint
  dist/src/main/java/io/camunda/application/commons/service/CamundaServicesConfiguration.java
  service/src/main/java/io/camunda/service/CamundaServices.java
  service/src/main/java/io/camunda/service/IncidentServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/IncidentController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/IncidentControllerTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#20732 ci: add run assembly profile to release plugin
  .github/workflows/optimize-deploy-artifacts.yml
  .github/workflows/optimize-release-optimize-c8-only.yml
Labels: component/build-pipeline

#20690 Flaky strace tests now accept unfinished traces
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/SnapshotChecksumTest.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/STracer.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/asserts/strace/FSyncTraceAssert.java
Labels: component/zeebe

#20263 feat: reject BPMN error creation for EL jobs
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobThrowErrorProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/ExecutionListenerTest.java
Labels: component/zeebe

#20742 docs: streamline OpenAPI description
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserController.java
Labels: component/zeebe

#20727 Improve Zeebe Metrics
  monitor/grafana/zeebe.json
Labels: component/zeebe

#20703 ci: observe aborted jobs for runner problems
  .github/actions/observe-aborted-jobs/action.yml
  .github/workflows/ci.yml
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#19983 feat: Exporter business logic for list-view index
  zeebe/exporters/operate-exporter/pom.xml
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/OperateElasticsearchExporter.java
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/handlers/ListViewFlowNodeFromIncidentHandler.java
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/handlers/ListViewFlowNodeFromJobHandler.java
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/handlers/ListViewFlowNodeFromProcesInstanceHandler.java
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/handlers/ListViewProcessInstanceFromProcessInstanceHandler.java
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/handlers/ListViewVariableFromVariableHandler.java
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/handlers/MetricFromProcessInstanceHandler.java
  zeebe/exporters/operate-exporter/src/test/java/io/camunda/zeebe/operate/exporter/handlers/ListViewFlowNodeFromIncidentHandlerTest.java
  zeebe/exporters/operate-exporter/src/test/java/io/camunda/zeebe/operate/exporter/handlers/ListViewFlowNodeFromJobHandlerTest.java
  zeebe/exporters/operate-exporter/src/test/java/io/camunda/zeebe/operate/exporter/handlers/ListViewFlowNodeFromProcesInstanceHandlerTest.java
  zeebe/exporters/operate-exporter/src/test/java/io/camunda/zeebe/operate/exporter/handlers/ListViewProcessInstanceFromProcessInstanceHandlerTest.java
  zeebe/exporters/operate-exporter/src/test/java/io/camunda/zeebe/operate/exporter/handlers/ListViewVariableFromVariableHandlerTest.java
  zeebe/exporters/operate-exporter/src/test/java/io/camunda/zeebe/operate/exporter/handlers/MetricFromProcessInstanceHandlerTest.java
Labels: component/zeebe

#20765 ci: Netty can be upgraded again
  .github/renovate.json
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#20740 fix: use endDate as indicator for a finished operation [8.5 backport]
  operate/client/src/modules/components/OperationsPanel/OperationsEntry/index.test.tsx
  operate/client/src/modules/components/OperationsPanel/OperationsEntry/index.tsx
  operate/client/src/modules/components/OperationsPanel/OperationsEntry/useLoadingProgress.ts
Labels: component/operate

#19800 feat: Exporter business logic for dmn indices
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/OperateElasticsearchExporter.java
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/handlers/DecisionEvaluationHandler.java
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/handlers/DecisionHandler.java
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/handlers/DecisionRequirementsHandler.java
  zeebe/exporters/operate-exporter/src/test/java/io/camunda/zeebe/operate/exporter/handlers/DecisionEvaluationHandlerTest.java
  zeebe/exporters/operate-exporter/src/test/java/io/camunda/zeebe/operate/exporter/handlers/DecisionHandlerTest.java
  zeebe/exporters/operate-exporter/src/test/java/io/camunda/zeebe/operate/exporter/handlers/DecisionRequirementsHandlerTest.java
Labels: component/zeebe

#20761 deps: update ES and OS base versions
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#20413 feat: Exporter business logic for incident index
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/OperateElasticsearchExporter.java
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/handlers/IncidentHandler.java
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/handlers/PostImporterQueueFromIncidentHandler.java
  zeebe/exporters/operate-exporter/src/test/java/io/camunda/zeebe/operate/exporter/handlers/IncidentHandlerTest.java
  zeebe/exporters/operate-exporter/src/test/java/io/camunda/zeebe/operate/exporter/handlers/PostImporterQueueFromIncidentHandlerTest.java
Labels: component/zeebe

#20771 refactor: remove obsolete renovate daily status
  .github/workflows/daily-renovate-status.yaml
Labels: component/build-pipeline

#20726 Update decision definition fields in the search endpoint
  service/src/main/java/io/camunda/service/entities/DecisionDefinitionEntity.java
  service/src/main/java/io/camunda/service/search/filter/DecisionDefinitionFilter.java
  service/src/main/java/io/camunda/service/search/sort/DecisionDefinitionSort.java
  service/src/main/java/io/camunda/service/transformers/filter/DecisionDefinitionFilterTransformer.java
  service/src/test/java/io/camunda/service/query/filter/DecisionDefinitionFilterTest.java
  service/src/test/java/io/camunda/service/query/filter/DecisionDefinitionSearchQueryStub.java
  service/src/test/java/io/camunda/service/query/sort/DecisionDefinitionSortTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DecisionDefinitionQueryControllerTest.java
Labels: component/zeebe, component/operate

#20772 ci: revert migrate to new Renovate config
  .github/renovate.json
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#20516 ci: add issues to Optimize project
  .github/workflows/add-to-projects.yml
  .github/workflows/optimize-labeled.yml
Labels: component/build-pipeline, component/optimize

#20531 feat: introduce priority field in Zeebe UserTask structure
  tasklist/importer-850/src/main/java/io/camunda/tasklist/zeebeimport/v850/record/value/UserTaskRecordValueImpl.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/record/value/UserTaskRecordValueImpl.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/ElasticsearchTestExtension.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/OpenSearchTestExtension.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/Bpmn.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/AbstractUserTaskBuilder.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/ZeebeUserTaskPropertiesBuilder.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/impl/ZeebeConstants.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/impl/instance/zeebe/ZeebePriorityDefinitionImpl.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/instance/zeebe/ZeebePriorityDefinition.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/ZeebeDesignTimeValidators.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/ZeebePriorityDefinitionValidator.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/builder/UserTaskBuilderTest.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/instance/zeebe/ZeebePriorityDefinitionTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnUserTaskBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/common/ExpressionProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/UserTaskProperties.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/UserTaskTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/validation/ZeebeExpressionValidator.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/validation/ZeebeRuntimeValidators.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/NativeUserTaskTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/UserTaskTransformerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/ZeebeRuntimeValidationTest.java
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-user-task-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-user-task-template.json
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/usertask/UserTaskRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/UserTaskRecordValue.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
Labels: component/zeebe, component/tasklist

#20781 ci: improve critical issue workflow
  .github/workflows/critical-issue.yml
Labels: component/build-pipeline

#20763 ci: remove optimize backend linting workflow
  .github/workflows/optimize-backend-linting.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#20806 fix: critical issue workflow
  .github/workflows/critical-issue.yml
Labels: component/build-pipeline

#20679 Add a job update REST endpoint
  service/src/main/java/io/camunda/service/JobServices.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobEventProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobUpdateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/JobNoopApplier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobUpdateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/JobClient.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/EndpointManager.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/GatewayGrpcService.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/RequestMapper.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/ResponseMapper.java
  zeebe/gateway-protocol-impl/src/main/resources/gateway-service-config.json
  zeebe/gateway-protocol/src/main/proto/gateway.proto
  zeebe/gateway-protocol/src/main/proto/proto.lock
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/JobController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/ErrorMessages.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/JobRequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerUpdateJobRequest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/JobIntent.java
Labels: component/zeebe

#20764 ci: fix linting error in one of optimzie workflow files
  .github/actions/optimize-paths-filter/README.md
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist

#20807 docs: align REST API paths summaries
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

#20773 Store message correlate request data in state
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageCorrelateBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageCorrelationCorrelateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageEventProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageSubscriptionCorrelateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/ProcessingDbState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/MessageCorrelationCorrelatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/MessageCorrelationCorrelatingApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/MessageCorrelationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/ProcessingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/message/DbMessageCorrelationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/message/DbMessageSubscriptionState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/message/RequestData.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableMessageCorrelationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableProcessingState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/message/CorrelateMessageTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/message/MessageCorrelationStateTest.java
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-message-correlation-template.json
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-message-subscription-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-message-correlation-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-message-subscription-template.json
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/message/MessageCorrelationRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/message/MessageSubscriptionRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/MessageCorrelationIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/MessageCorrelationRecordValue.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/MessageSubscriptionRecordValue.java
Labels: component/zeebe

#20713 Removed combined checksum
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/snapshot/impl/SnapshotChunkImpl.java
  zeebe/atomix/cluster/src/main/resources/snapshot-schema.xml
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/snapshot/InMemorySnapshot.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/snapshot/TestSnapshotChunkImpl.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/ImmutableChecksumsSFV.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/MutableChecksumsSFV.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/PersistedSnapshot.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/SnapshotChunk.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedReceivedSnapshot.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshot.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotChunkReader.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStoreImpl.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/SfvChecksumImpl.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/SnapshotChecksum.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/SnapshotChunkUtil.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/ReceivedSnapshotTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/SnapshotChunkWrapper.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedReceivedSnapshotTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotChunkReaderTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStoreTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedTransientSnapshotTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/SfvChecksumTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/SnapshotChecksumTest.java
Labels: component/zeebe

#20769 feat: Search Decision Requirements - Controller
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/DecisionRequirementsQueryController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DecisionRequirementsQueryControllerTest.java
Labels: component/zeebe

#20009 Add Search request and sort transformer tests [OS]
  search/search-client-opensearch/src/main/java/io/camunda/search/os/transformers/sort/FieldSortTransformer.java
  search/search-client-opensearch/src/test/java/io/camunda/search/os/transformers/OpensearchTransfomersTest.java
  search/search-client-opensearch/src/test/java/io/camunda/search/os/transformers/RangeQueryTransformerTest.java
  search/search-client-opensearch/src/test/java/io/camunda/search/os/transformers/SearchRequestTransformerTest.java
  search/search-client-opensearch/src/test/java/io/camunda/search/os/transformers/search/SearchRequestTransformerTest.java
  search/search-client-opensearch/src/test/java/io/camunda/search/os/transformers/sort/SortTransfomerTest.java
  search/search-client-opensearch/src/test/java/io/camunda/search/os/util/OSQuerySerializer.java
  search/search-client/src/main/java/io/camunda/search/clients/core/SearchQueryRequest.java
  search/search-client/src/main/java/io/camunda/search/clients/sort/SearchFieldSort.java
  search/search-client/src/test/java/io/camunda/clients/core/SearchQueryRequestTest.java
  search/search-client/src/test/java/io/camunda/clients/sort/SearchSortOptionsTest.java
Labels: stale

#20774 Decision Definition search - Client implementation
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClient.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/DecisionDefinitionFilter.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/DecisionDefinitionQuery.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/DecisionDefinitionSort.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/SearchRequestBuilders.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/response/DecisionDefinition.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/DecisionDefinitionFilterImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/DecisionDefinitionQueryImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/DecisionDefinitionSortImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/SearchResponseMapper.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/response/DecisionDefinitionImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/decision/SearchDecisionDefinitionTest.java
Labels: component/zeebe

#20783 docs: add operation status monitoring to screenshot generator
  operate/client/e2e-playwright/docs-screenshots/monitor-operation-status.spec.ts
  operate/client/e2e-playwright/mocks/processes.mocks.ts
Labels: component/operate

#20819 fix: operate indexWithRetries rebuild error
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchDocumentOperations.java
Labels: component/operate

#20617 fix: remove ILM update implementation
  operate/schema/pom.xml
  operate/schema/src/main/java/io/camunda/operate/schema/SchemaManager.java
  operate/schema/src/main/java/io/camunda/operate/schema/SchemaStartup.java
  operate/schema/src/main/java/io/camunda/operate/schema/elasticsearch/ElasticsearchSchemaManager.java
  operate/schema/src/main/java/io/camunda/operate/schema/opensearch/OpensearchSchemaManager.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/RetryElasticsearchClient.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchISMOperations.java
  operate/schema/src/test/java/io/camunda/operate/schema/elasticsearch/ElasticsearchSchemaManagerTest.java
  operate/schema/src/test/java/io/camunda/operate/schema/opensearch/OpensearchSchemaManagerTest.java
Labels: component/operate

#20835 Only activate/complete child process instance while call activity is active
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/ProcessInstanceStateTransitionGuard.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/CallActivityInterruptionTest.java
Labels: backport main, backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe

#18986 fix: run scheduled tasks at a given timestamp
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobTimeoutChecker.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageObserver.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageTimeToLiveChecker.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/PendingProcessMessageSubscriptionChecker.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobTimeoutCheckerTest.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/SimpleProcessingScheduleService.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ExtendedProcessingScheduleServiceImpl.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceImpl.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceTest.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#20869 [Backport main] Only activate/complete child process instance while call activity is active
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/ProcessInstanceStateTransitionGuard.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/CallActivityInterruptionTest.java
Labels: component/zeebe

#20878 [Backport stable/8.5] fix: run scheduled tasks at a given timestamp
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobTimeoutChecker.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageObserver.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageTimeToLiveChecker.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/PendingProcessMessageSubscriptionChecker.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobTimeoutCheckerTest.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/SimpleProcessingScheduleService.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ExtendedProcessingScheduleServiceImpl.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceImpl.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceTest.java
Labels: component/zeebe

#20864 test: skip flaky ancestor selection tests
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/tests/modificationsWithAncestorSelection.test.tsx
Labels: component/operate

#20576 Add support for REST API client middleware in the Java client
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientBuilder.java
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientConfiguration.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientBuilderImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientCloudBuilderImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClientFactory.java
  clients/java/src/test/java/io/camunda/zeebe/client/ClientRestInterceptorTest.java
  clients/spring-boot-starter-camunda-sdk/pom.xml
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientConfigurationImpl.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientProdAutoConfiguration.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationImplSaasTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationImplSelfManagedTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationImplTest.java
Labels: component/zeebe

#20883 ci: skip optimize from operate maven build
  .github/workflows/operate-ci-build-reusable.yml
Labels: component/build-pipeline, component/operate

#20857 deps: Revert Update dependency io.camunda:zeebe-qa to v8.5.6
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/update-tests/pom.xml
  zeebe/qa/util/pom.xml
Labels: component/zeebe

#20868 Release 8.5.6
  bom/pom.xml
  build-tools/pom.xml
  clients/go/internal/embedded/data/VERSION
  dist/pom.xml
  parent/pom.xml
  pom.xml
  spring-boot-starter-camunda-sdk/pom.xml
  zeebe/atomix/cluster/pom.xml
  zeebe/atomix/pom.xml
  zeebe/atomix/utils/pom.xml
  zeebe/auth/pom.xml
  zeebe/backup-stores/azure/pom.xml
  zeebe/backup-stores/common/pom.xml
  zeebe/backup-stores/gcs/pom.xml
  zeebe/backup-stores/s3/pom.xml
  zeebe/backup-stores/testkit/pom.xml
  zeebe/backup/pom.xml
  zeebe/benchmarks/project/pom.xml
  zeebe/bpmn-model/pom.xml
  zeebe/broker-client/pom.xml
  zeebe/broker/pom.xml
  zeebe/clients/java/pom.xml
  zeebe/clients/zeebe-client-spring/pom.xml
  zeebe/dmn/pom.xml
  zeebe/engine/pom.xml
  zeebe/exporter-api/pom.xml
  zeebe/exporter-test/pom.xml
  zeebe/exporters/elasticsearch-exporter/pom.xml
  zeebe/exporters/opensearch-exporter/pom.xml
  zeebe/expression-language/pom.xml
  zeebe/feel/pom.xml
  zeebe/gateway-protocol-impl/pom.xml
  zeebe/gateway-protocol/pom.xml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway/pom.xml
  zeebe/journal/pom.xml
  zeebe/logstreams/pom.xml
  zeebe/msgpack-core/pom.xml
  zeebe/msgpack-value/pom.xml
  zeebe/protocol-asserts/pom.xml
  zeebe/protocol-impl/pom.xml
  zeebe/protocol-jackson/pom.xml
  zeebe/protocol-test-util/pom.xml
  zeebe/protocol/pom.xml
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/pom.xml
  zeebe/qa/update-tests/pom.xml
  zeebe/qa/util/pom.xml
  zeebe/restore/pom.xml
  zeebe/scheduler/pom.xml
  zeebe/snapshot/pom.xml
  zeebe/stream-platform/pom.xml
  zeebe/test-util/pom.xml
  zeebe/topology/pom.xml
  zeebe/transport/pom.xml
  zeebe/util/pom.xml
  zeebe/zb-db/pom.xml
Labels: component/zeebe, component/operate

#20813 feat: add button to copy process instance variables
  operate/client/e2e-playwright/visual/modifications.spec.ts-snapshots/modifications-with-helper-modal---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-add-variable-state---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-add-variable-state---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-compensation-process-instance---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-compensation-process-instance---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-completed-instance---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-completed-instance---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-edit-variable-state---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-edit-variable-state---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-instance-with-incident---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-instance-with-incident---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-running-instance---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-running-instance---light-1-chromium-linux.png
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/styled.ts
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/Footer/AddVariableButton.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/Footer/CopyVariablesButton.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/Footer/CopyVariablesButton.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/Footer/index.tsx
  operate/client/src/modules/stores/variables/copyVariables.ts
  operate/client/src/modules/types/carbon.d.ts
Labels: component/operate

#20889 refactor: Change order of `fold` method arguments in `Either` interface
  service/src/main/java/io/camunda/service/search/core/SearchClientBasedQueryExecutor.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/DecisionDefinitionQueryController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/DecisionRequirementsQueryController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/JobController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceQueryController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/UserTaskController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/UserTaskQueryController.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/Either.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/EitherTest.java
Labels: component/zeebe, backport stable/8.5

#20895 refactor: remove JobUpdate grpc endpoint
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/EndpointManager.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/GatewayGrpcService.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/RequestMapper.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/ResponseMapper.java
  zeebe/gateway-protocol-impl/src/main/resources/gateway-service-config.json
  zeebe/gateway-protocol/src/main/proto/gateway.proto
  zeebe/gateway-protocol/src/main/proto/proto.lock
Labels: component/zeebe

#20827 refactor: job update processors
  clients/go/cmd/zbctl/testdata/update_unknown_job_timeout.golden
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnBehaviors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnBehaviorsImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobEventProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobUpdateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobUpdateRetriesProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobUpdateTimeoutProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/behaviour/JobUpdateBehaviour.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobUpdateTimeoutTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/multitenancy/MultiTenancyOverIdentityIT.java
Labels: component/zeebe

#20901 build: merge optimize release branch back to merge-optimize-in
  optimize/backend/src/main/java/io/camunda/optimize/dto/zeebe/definition/ZeebeProcessDefinitionDataDto.java
  optimize/backend/src/main/java/io/camunda/optimize/service/metadata/CloudOptimizeVersionService.java
  optimize/pom.xml
Labels: component/optimize

#20902 fix: flaky e2e datetime regex include single digit hours
  tasklist/client/e2e/tests/task-details.spec.ts
Labels: component/tasklist

#20375 feat: index and importer for jobs
  operate/data-generator/src/main/java/io/camunda/operate/data/develop/DevelopDataGenerator.java
  operate/data-generator/src/main/resources/develop/executionListeners.bpmn
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/EventZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/ImportBulkProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/JobZeebeRecordProcessor.java
  operate/schema/src/main/java/io/camunda/operate/ListenerState.java
  operate/schema/src/main/java/io/camunda/operate/entities/JobEntity.java
  operate/schema/src/main/java/io/camunda/operate/entities/ListenerEventType.java
  operate/schema/src/main/java/io/camunda/operate/entities/ListenerType.java
  operate/schema/src/main/java/io/camunda/operate/schema/templates/JobTemplate.java
  operate/schema/src/main/resources/schema/elasticsearch/create/template/operate-job.json
  operate/schema/src/main/resources/schema/opensearch/create/template/operate-job.json
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/ListenerRequestDto.java
Labels: component/operate

#20541 feat: perform license check on startup
  dist/src/main/java/io/camunda/application/commons/service/ManagementServicesConfiguration.java
  parent/pom.xml
  service/pom.xml
  service/src/main/java/io/camunda/service/CamundaServices.java
  service/src/main/java/io/camunda/service/ManagementServices.java
  service/src/main/java/io/camunda/service/license/CamundaLicense.java
  service/src/main/java/io/camunda/service/license/EnvironmentVariableReader.java
  service/src/test/java/io/camunda/service/license/CamundaLicenseTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#20900 [Backport stable/8.5] refactor: Change order of `fold` method arguments in `Either` interface
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/UserTaskController.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/Either.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/EitherTest.java
Labels: component/zeebe

#20912 [Backport stable/8.4] refactor: Change order of `fold` method arguments in `Either` interface
  util/src/main/java/io/camunda/zeebe/util/Either.java
  util/src/test/java/io/camunda/zeebe/util/EitherTest.java
Labels: component/zeebe

#20913 [Backport stable/8.3] refactor: Change order of `fold` method arguments in `Either` interface
  util/src/main/java/io/camunda/zeebe/util/Either.java
  util/src/test/java/io/camunda/zeebe/util/EitherTest.java
Labels: component/zeebe

#20915 [Backport stable/8.2] refactor: Change order of `fold` method arguments in `Either` interface
  util/src/main/java/io/camunda/zeebe/util/Either.java
  util/src/test/java/io/camunda/zeebe/util/EitherTest.java
Labels: component/zeebe

#20937 refactor: support newer helm chart version
  .github/workflows/zeebe-benchmark.yml
  zeebe/benchmarks/setup/default/values-stable.yaml
Labels: component/build-pipeline, component/zeebe

#20623 feat: improve import performance for treePathCache
  operate/common/src/main/java/io/camunda/operate/conditions/DatabaseInfo.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/v8_5/processors/FlowNodeInstanceZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/FlowNodeInstanceZeebeRecordProcessor.java
Labels: component/operate

#20705 feat: add user creation
  dist/pom.xml
  dist/src/main/java/io/camunda/application/commons/CommonsModuleConfiguration.java
  dist/src/main/java/io/camunda/application/commons/service/CamundaServicesConfiguration.java
  service/src/main/java/io/camunda/service/CamundaServices.java
  service/src/main/java/io/camunda/service/UserServices.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestReader.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/Engine.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/UserCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/UserEventProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/ProcessingDbState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UserCreatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/ProcessingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/UserState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableProcessingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableUserState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/user/DbUserState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/user/PersistedUser.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/user/CreateUserMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/user/CreateUserTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/user/UserStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/UserClient.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporterConfiguration.java
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-user-template.json
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/TestSupport.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterConfiguration.java
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-user-template.json
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestSupport.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerUserCreateRequest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/distribution/CommandDistributionRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/user/UserRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/ValueTypeMapping.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/Intent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/UserIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/UserRecordValue.java
  zeebe/protocol/src/main/resources/protocol.xml
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/TypedEventRegistry.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/RecordingExporter.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/UserRecordStream.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#20931 Release/operate 8.5.5
  distro/pom.xml
  operate/archiver/pom.xml
  operate/client/package.json
  operate/client/pom.xml
  operate/common/pom.xml
  operate/data-generator/pom.xml
  operate/importer-8_4/pom.xml
  operate/importer-8_5/pom.xml
  operate/importer-common/pom.xml
  operate/importer/pom.xml
  operate/mvc-auth-commons/pom.xml
  operate/pom.xml
  operate/qa/backup-restore-tests/pom.xml
  operate/qa/batch-operation-performance-tests/pom.xml
  operate/qa/data-generator/pom.xml
  operate/qa/import-performance-tests/pom.xml
  operate/qa/integration-tests/pom.xml
  operate/qa/migration-performance-test/pom.xml
  operate/qa/migration-tests/migration-test/pom.xml
  operate/qa/migration-tests/pom.xml
  operate/qa/migration-tests/test-fixture-110/pom.xml
  operate/qa/migration-tests/test-fixture-120/pom.xml
  operate/qa/migration-tests/test-fixture-130/pom.xml
  operate/qa/migration-tests/test-fixture-800/pom.xml
  operate/qa/migration-tests/test-fixture-810/pom.xml
  operate/qa/migration-tests/test-fixture-820/pom.xml
  operate/qa/migration-tests/test-fixture-830/pom.xml
  operate/qa/migration-tests/test-fixture-840/pom.xml
  operate/qa/pom.xml
  operate/qa/query-performance-tests/pom.xml
  operate/qa/util/pom.xml
  operate/schema/pom.xml
  operate/webapp/pom.xml
Labels: component/operate

#20940 Revert perform license check on startup
  dist/src/main/java/io/camunda/application/commons/service/ManagementServicesConfiguration.java
  parent/pom.xml
  service/pom.xml
  service/src/main/java/io/camunda/service/CamundaServices.java
  service/src/main/java/io/camunda/service/ManagementService.java
  service/src/main/java/io/camunda/service/license/CamundaLicense.java
  service/src/main/java/io/camunda/service/license/EnvironmentVariableReader.java
  service/src/test/java/io/camunda/service/license/CamundaLicenseTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#20825 feat: Exporter business logic for user-task index
  zeebe/exporters/operate-exporter/pom.xml
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/OperateElasticsearchExporter.java
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/OperateElasticsearchExporterConfiguration.java
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/handlers/EventFromIncidentHandler.java
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/handlers/IncidentHandler.java
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/handlers/ListViewFlowNodeFromIncidentHandler.java
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/handlers/UserTaskHandler.java
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/util/OperateExportUtil.java
  zeebe/exporters/operate-exporter/src/test/java/io/camunda/zeebe/operate/exporter/handlers/UserTaskHandlerTest.java
Labels: component/zeebe

#20941 Clean up Zeebe-ci
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe

#20943 fix: Clear scroll request fails on Opensearch on AWS
  operate/common/pom.xml
  operate/common/src/main/java/io/camunda/operate/connect/OpensearchConnector.java
Labels: component/operate

#21058 fix: skip Optimize in most builds
  .github/actions/build-zeebe/action.yml
  .github/workflows/ci.yml
  .github/workflows/zeebe-ci.yml
  camunda.Dockerfile
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/identity, component/optimize

#21073 fix: disable renovate for a while
  .github/renovate.json
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#20959 deps: bump optimize engine dep and remove Optimize license deps
  optimize/backend/pom.xml
  optimize/backend/src/main/java/io/camunda/optimize/FilterBeansConfig.java
  optimize/backend/src/main/java/io/camunda/optimize/dto/optimize/query/LicenseInformationResponseDto.java
  optimize/backend/src/main/java/io/camunda/optimize/jetty/LicenseFilter.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/LicenseCheckingRestService.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/providers/LicenseExceptionMapper.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/security/platform/PlatformSecurityConfigurerAdapter.java
  optimize/backend/src/main/java/io/camunda/optimize/service/exceptions/license/OptimizeInvalidLicenseException.java
  optimize/backend/src/main/java/io/camunda/optimize/service/exceptions/license/OptimizeLicenseException.java
  optimize/backend/src/main/java/io/camunda/optimize/service/exceptions/license/OptimizeNoLicenseStoredException.java
  optimize/backend/src/main/java/io/camunda/optimize/service/license/LicenseManager.java
  optimize/backend/src/main/java/io/camunda/optimize/service/license/es/LicenseManagerES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/license/os/LicenseManagerOS.java
  optimize/backend/src/main/resources/localization/de.json
  optimize/backend/src/main/resources/localization/en.json
  optimize/backend/src/test/java/io/camunda/optimize/OptimizeRequestExecutor.java
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/plan/factories/Upgrade313To86PlanFactory.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/AbstractUpgradeIT.java.out
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/EnvironmentConfigUtil.java.out
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/migrate313to86/AbstractUpgrade86IT.java.out
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/migrate313to86/DeleteLicenseIndex86IT.java.out
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/migrate313to86/indices/LicenseIndexV3.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/DatabaseConstants.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/LicenseDto.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/es/schema/ElasticSearchSchemaManager.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/es/schema/index/LicenseIndexES.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/schema/OpenSearchSchemaManager.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/schema/index/LicenseIndexOS.java
Labels: component/optimize

#21039 Replace BCryptPasswordEncoder for Operate & Tasklist auth profile
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/auth/OperateUserDetailsService.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/se/SearchEngineUserDetailsService.java
Labels: component/operate, component/tasklist

#21065 refactor: undo renovate front-end updates
  optimize/client/package.json
  optimize/client/src/components/Home/Collection.test.js
  optimize/client/src/modules/filter/FilterList.test.js
  optimize/client/src/modules/filter/modals/variable/FilterInstance.test.js
  optimize/client/yarn.lock
Labels: component/optimize

#20899 fix: include flag `include_global_state` when creating the snapshots
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/backup/es/BackupManagerElasticSearch.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/backup/os/BackupManagerOpenSearch.java
Labels: component/tasklist

#21060 ci: exclude some Optimzie dependencies from renovate
  .github/renovate.json
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#20678 fix: avoid parsing errors during userTask import
  optimize/backend/src/it/java/io/camunda/optimize/service/importing/ZeebeUserTaskImportIT.java
  optimize/backend/src/main/java/io/camunda/optimize/dto/zeebe/usertask/ZeebeUserTaskDataDto.java
  optimize/backend/src/main/java/io/camunda/optimize/service/util/DateFormatterUtil.java
Labels: hold/do-not-merge, component/optimize

#20879 refactor: remove separate version handling
  optimize/backend/src/main/java/io/camunda/optimize/service/metadata/CloudOptimizeVersionService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/metadata/OptimizeVersionService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/metadata/PlatformOptimizeVersionService.java
  optimize/backend/src/test/java/io/camunda/optimize/service/uiconfiguration/UIConfigurationServiceTest.java
Labels: hold/do-not-merge, component/optimize

#20780 refactor: remove camundaEventImportedOnly from front-end
  optimize/client/src/modules/components/DefinitionSelection/DefinitionSelection.js
  optimize/client/src/modules/components/DefinitionSelection/DefinitionSelection.test.js
  optimize/client/src/modules/services/loadDefinitions.ts
Labels: component/optimize

#20784 Write MessageCorrelation NOT_CORRELATED response upon MessageSubscription CORRELATE rejection
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageEventProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageSubscriptionRejectProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/MessageCorrelationNotCorrelatedApplier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/message/MessageCorrelationRejectionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/MessageCorrelationClient.java
Labels: component/zeebe

#20942 fix: Clear scroll request fails on Opensearch on AWS
  operate/common/pom.xml
  operate/common/src/main/java/io/camunda/operate/connect/OpensearchConnector.java
Labels: component/operate

#21074 Run Zeebe CI from Common CI
  .github/actions/paths-filter/action.yml
  .github/workflows/ci.yml
  .github/workflows/common-ci.yml
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#20836 Retry of Exporter open
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirectorTest.java
Labels: component/zeebe

#21031 Set helm install arguments correctly
  .github/workflows/zeebe-benchmark.yml
Labels: component/build-pipeline, component/zeebe

#21069 test: test zeebe converging inclusive gateway
  optimize/backend/src/it/java/io/camunda/optimize/AbstractCCSMIT.java
  optimize/backend/src/it/java/io/camunda/optimize/service/importing/ZeebeProcessInstanceImportIT.java
  optimize/backend/src/it/java/io/camunda/optimize/util/ZeebeBpmnModels.java
Labels: component/optimize

#20746 [Backport stable/8.5] fix: resetting a reader does not invalidate returned entries
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/ProcessingExporterTransistor.java
  zeebe/logstreams/pom.xml
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogStreamReaderImpl.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/log/LogStreamReaderTest.java
Labels: component/zeebe

#21089 ci: enable renovate
  .github/renovate.json
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#20788 refactor: make identity version dynamic in start-backend script
  optimize/client/docker-compose.yml
  optimize/client/scripts/start-backend.js
Labels: component/optimize

#21043 test: ensure that controlled actor scheduler starts idle
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/ControlledActorSchedulerExtension.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/ControlledActorSchedulerRule.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#20668 test: Improve EL tests
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/ExecutionListenerTaskElementsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/ExecutionListenerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/execution/ExecutionListenerBoundaryEventElementTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/execution/ExecutionListenerEndEventElementTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/execution/ExecutionListenerGatewayElementsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/execution/ExecutionListenerIntermediateCatchEventElementTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/execution/ExecutionListenerIntermediateThrowEventElementTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/execution/ExecutionListenerMultiInstanceActivitiesTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/execution/ExecutionListenerProcessInstanceTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/execution/ExecutionListenerStartEventElementTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/execution/ExecutionListenerTaskElementsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/execution/ExecutionListenerTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/ExecutionListenerJobTest.java
Labels: component/zeebe

#21121 [Backport stable/8.5] test: ensure that controlled actor scheduler starts idle
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/ControlledActorSchedulerExtension.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/ControlledActorSchedulerRule.java
Labels: component/zeebe

#20575 refactor: remove process instance index archiving from Opt8
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/EmbeddedOptimizeExtension.java
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/db/DatabaseTestService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/archive/ProcessInstanceArchivingService.java
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/plan/UpgradePlan.java
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/plan/UpgradePlanBuilder.java
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/plan/factories/Upgrade313To86PlanFactory.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/migrate313to86/AbstractUpgrade86IT.java.out
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/migrate313to86/DeleteProcessInstanceArchiveIndex86IT.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/migrate313to86/indices/ProcessInstanceArchiveIndexV8.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/DatabaseConstants.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/es/schema/index/ProcessInstanceArchiveIndexES.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/schema/index/ProcessInstanceArchiveIndexOS.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/schema/index/IndexMappingCreatorBuilder.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/schema/index/ProcessInstanceArchiveIndex.java
Labels: hold/do-not-merge, component/optimize

#21129 feat: allow to reuse benchmark image
  .github/workflows/zeebe-benchmark.yml
Labels: component/build-pipeline, component/zeebe

#19965 Migrate timer boundary event subscriptions
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/common/CatchEventBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/TimerMigrationApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/DbTimerInstanceState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableTimerInstanceState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceRejectionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateTimerInstanceTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/TimerIntent.java
Labels: component/zeebe

#20792 fix: Fix Tasklist on iOS
  tasklist/client/src/App.tsx
  tasklist/client/src/OSNotifications.tsx
  tasklist/client/src/Tasks/Task/Details/TurnOnNotificationPermission.tsx
  tasklist/client/src/modules/os-notifications/requestPermission.ts
  tasklist/client/src/modules/utils/localStorage/index.tsx
Labels: component/tasklist

#20557 refactor: remove import status reporting
  optimize/backend/pom.xml
  optimize/backend/src/it/java/io/camunda/optimize/AbstractIT.java
  optimize/backend/src/it/java/io/camunda/optimize/rest/StatusRestServiceIT.java.out
  optimize/backend/src/it/java/io/camunda/optimize/test/optimize/StatusClient.java
  optimize/backend/src/it/java/io/camunda/optimize/websocket/AssertHasChangedStatusClientSocket.java
  optimize/backend/src/it/java/io/camunda/optimize/websocket/StatusClientSocket.java
  optimize/backend/src/it/java/io/camunda/optimize/websocket/StatusWebSocketIT.java.out
  optimize/backend/src/main/java/io/camunda/optimize/JettyConfig.java
  optimize/backend/src/main/java/io/camunda/optimize/dto/optimize/query/status/EngineStatusDto.java
  optimize/backend/src/main/java/io/camunda/optimize/dto/optimize/query/status/StatusResponseDto.java
  optimize/backend/src/main/java/io/camunda/optimize/jetty/OptimizeResourceConstants.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/HealthRestService.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/StatusRestService.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/security/platform/PlatformSecurityConfigurerAdapter.java
  optimize/backend/src/main/java/io/camunda/optimize/service/importing/ImportSchedulerManagerService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/importing/engine/service/ImportObserver.java
  optimize/backend/src/main/java/io/camunda/optimize/service/status/StatusCheckingService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/status/StatusCheckingServiceES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/status/StatusCheckingServiceOS.java
  optimize/backend/src/main/java/io/camunda/optimize/websocket/StatusNotifier.java
  optimize/backend/src/main/java/io/camunda/optimize/websocket/StatusWebSocket.java
  optimize/backend/src/main/java/io/camunda/optimize/websocket/StatusWebSocketServlet.java
  optimize/backend/src/main/resources/localization/de.json
  optimize/backend/src/main/resources/localization/en.json
  optimize/backend/src/test/java/io/camunda/optimize/OptimizeRequestExecutor.java
  optimize/client/src/components/Footer/ConnectionStatus.scss
  optimize/client/src/components/Footer/ConnectionStatus.test.tsx
  optimize/client/src/components/Footer/ConnectionStatus.tsx
  optimize/client/src/components/Footer/Footer.test.tsx
  optimize/client/src/components/Footer/Footer.tsx
Labels: component/optimize

#21141 Cleanup zeebeci after refactoring
  .github/workflows/ci.yml
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe

#21087 feat: add new (dummy) camunda-exporter module
  dist/pom.xml
  parent/pom.xml
  zeebe/exporters/camunda-exporter/pom.xml
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/NoopExporter.java
  zeebe/pom.xml
Labels: component/exporter, component/zeebe, component/operate, component/tasklist, component/identity, component/optimize

#20577 Migrate intermediate message catch event
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationPreconditions.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateIntermediateCatchEventTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceConcurrentNoBatchingTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceUnsupportedElementsTest.java
Labels: component/zeebe

#21152 test: fix broken optimize fe unit tests
  optimize/client/src/components/Footer/Footer.tsx
  optimize/client/src/components/Reports/controlPanels/DefinitionList/RenameVariablesModal.test.tsx
Labels: component/optimize

#21151 ci: disable Docker to GHA cache in PRs
  .github/workflows/tasklist-docker-tests.yml
Labels: component/build-pipeline, component/tasklist

#21103 Introduce new clock record value, intent, and implementation record
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/EventAppliersTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/TestSupport.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestSupport.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/clock/ClockRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/ValueTypeMapping.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/ClockIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/Intent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/ClockRecordValue.java
  zeebe/protocol/src/main/resources/protocol.xml
  zeebe/protocol/src/test/java/io/camunda/zeebe/protocol/record/intent/IntentEncodingDecodingTest.java
Labels: component/zeebe

#21146 Apply spotless
  optimize/backend/src/main/java/io/camunda/optimize/rest/security/platform/PlatformSecurityConfigurerAdapter.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/report/command/modules/distributed_by/process/ProcessDistributedByProcess.java
Labels: component/optimize

#21130 deps: revert dependencies update in optimize client
  optimize/client/package.json
  optimize/client/yarn.lock
Labels: component/optimize

#21096 Introduce clock state to persist clock modifications across restarts
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/Engine.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/ProcessingDbState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/clock/DbClockModification.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/clock/DbClockState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/ClockState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/ProcessingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableClockState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableProcessingState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/clock/DbClockModificationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/clock/DbClockStateTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
Labels: component/zeebe

#20955 Migrate receive tasks
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationPreconditions.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceUnsupportedElementsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateReceiveTaskTest.java
Labels: component/zeebe

#21135 ci: abstract adding issues to projects
  .github/actions/add-issue-to-project/action.yml
  .github/workflows/issues-labeled.yml
  .github/workflows/operate-labeled.yml
  .github/workflows/optimize-labeled.yml
  .github/workflows/tasklist-labeled.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#21169 ci: fix optimize issue templates
  .github/ISSUE_TEMPLATE/optimize-bug_report.md
  .github/ISSUE_TEMPLATE/optimize-epic.md
  .github/ISSUE_TEMPLATE/optimize-task.md
Labels: component/optimize

#20656 ci: use stable and main branch names instead of maintenance and master
  .github/ISSUE_TEMPLATE/optimize-bug_report.md
  .github/ISSUE_TEMPLATE/optimize-epic.md
  .github/ISSUE_TEMPLATE/optimize-task.md
  .github/actions/generate-changelog/README.md
  .github/actions/generate-changelog/action.yml
  .github/actions/git-environment/README.md
  .github/actions/git-environment/action.yml
  .github/actions/git-environment/env.sh
  .github/optimize/scripts/create-release-branch.sh
  .github/workflows/optimize-deploy-artifacts.yml
  optimize/pom.xml
  optimize/upgrade/README.md
  optimize/util/dependency-doc-creation/README.md
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#20816 fix: Cancel active EL job on process termination
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/CallActivityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/EventSubProcessProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/ProcessProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/SubProcessProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/BoundaryEventProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/EndEventProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/IntermediateCatchEventProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/IntermediateThrowEventProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/StartEventProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/gateway/EventBasedGatewayProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/gateway/ExclusiveGatewayProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/gateway/InclusiveGatewayProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/gateway/ParallelGatewayProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/BusinessRuleTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/JobWorkerTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/ReceiveTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/ScriptTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/UndefinedTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/UserTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableFlowNode.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/execution/ExecutionListenerBoundaryEventElementTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/execution/ExecutionListenerEndEventElementTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/execution/ExecutionListenerGatewayElementsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/execution/ExecutionListenerIntermediateCatchEventElementTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/execution/ExecutionListenerIntermediateThrowEventElementTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/execution/ExecutionListenerProcessInstanceTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/execution/ExecutionListenerStartEventElementTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/execution/ExecutionListenerTaskElementsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/execution/ExecutionListenerTest.java
Labels: component/zeebe

#21176 ci: use proper action name in issue labeled workflow
  .github/workflows/issues-labeled.yml
Labels: component/build-pipeline

#21179 ci: add checkout action to issue labeled workflow
  .github/workflows/issues-labeled.yml
Labels: component/build-pipeline

#19088 Updating contributing.md for the monorepo
  CONTRIBUTING.md
  zeebe/README.md
Labels: component/zeebe

#21181 ci: fix optimize issue templates
  .github/ISSUE_TEMPLATE/optimize-bug_report.md
  .github/ISSUE_TEMPLATE/optimize-epic.md
  .github/ISSUE_TEMPLATE/optimize-task.md
Labels: component/optimize

#21172 ci: run Java code checks incl Markdown linter on *.md change
  .github/actions/paths-filter/action.yml
  CONTRIBUTING.md
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#21189 ci: improve benchmark workflow
  .github/workflows/zeebe-benchmark.yml
  .github/workflows/zeebe-medic-benchmarks.yml
Labels: component/build-pipeline, component/zeebe

#21106 Introduce clock PIN command to pin the controllable stream clock
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/Engine.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/clock/ClockPinProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/clock/ClockProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/TypedRecordProcessorContext.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/TypedRecordProcessorContextImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ClockPinnedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/clock/ClockPinMultiplePartitionsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/clock/ClockPinTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/ClockEventAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/EventAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/StreamProcessingComposite.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/StreamProcessorRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/TestStreams.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/ClockClient.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/distribution/CommandDistributionRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/ClockIntent.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/TypedEventRegistry.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/ClockRecordStream.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/RecordingExporter.java
Labels: component/zeebe

#21138 feat: logstream uses a controllable clock to assign record timestamps
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionStartupAndTransitionContextImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/LogStreamPartitionTransitionStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/StreamProcessorTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterRule.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/TestPartitionTransitionContext.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/perf/TestEngine.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/streamprocessor/EngineErrorHandlingTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/StreamProcessorRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/TestStreams.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogStreamBuilderImpl.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogStreamImpl.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/Sequencer.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/log/LogStreamBuilder.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/log/LogStorageAppenderTest.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/log/SequencerTest.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/log/LogStreamWriterTest.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/util/LogStreamRule.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/util/SyncLogStreamBuilder.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ControllableStreamClockImpl.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessorBuilder.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamPlatform.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamPlatformExtension.java
Labels: component/zeebe

#18990 Add mapping functionality to Actor futures
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationManagementRequestsHandler.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/ClusterConfigurationManagementIntegrationTest.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/future/ActorFuture.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/future/CompletableActorFuture.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/functional/ActorFutureTest.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/TestActorFuture.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/TestConcurrencyControl.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/LockUtil.java
Labels: component/zeebe

#21182 ci: disable Docker to GHA cache for Zeebe Benchmark
  .github/workflows/zeebe-benchmark.yml
Labels: component/build-pipeline, component/zeebe

#21188 ci: remove argo token from optimize health status workflow
  .github/optimize/scripts/healthStatusReport/types.ts
  .github/workflows/optimize-health-status-report.yml
Labels: component/build-pipeline, component/optimize

#21157 Add RESET clock command
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/clock/ClockProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/clock/ClockProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ClockResettedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/clock/ClockMultiplePartitionsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/clock/ClockPinTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/clock/ClockTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/ClockClient.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/ClockIntent.java
Labels: component/zeebe

#21156 feat: Create /license endpoint to expose Camunda license status
  dist/src/main/java/io/camunda/application/commons/service/ManagementServicesConfiguration.java
  service/src/main/java/io/camunda/service/ManagementServices.java
  service/src/main/java/io/camunda/service/license/CamundaLicense.java
  service/src/test/java/io/camunda/service/license/CamundaLicenseTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/LicenseController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/LicenseControllerTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#21140 feat: use controllable clock for processing metrics
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/context/ExporterContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/metrics/MetricsExporter.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/repo/ExporterRepository.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterContainer.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirectorContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ExporterDirectorPartitionTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/metrics/MetricsExporterTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterContainerRuntime.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExternalExporterContainerTest.java
  zeebe/exporter-api/src/main/java/io/camunda/zeebe/exporter/api/context/Context.java
  zeebe/exporter-test/src/main/java/io/camunda/zeebe/exporter/test/ExporterTestContext.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingStateMachine.java
Labels: component/zeebe

#21201 Expose stream clock via partitions actuator to ease debugging
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/BrokerAdminServiceImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/PartitionStatus.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestReader.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/clock/ClockRecord.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/system/BrokerAdminServiceTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/util/ZeebeResourcesHelper.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/PartitionsActuator.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/StreamClock.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/UncontrolledStreamClock.java
Labels: component/zeebe

#21088 feat: support user updated intent
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UserUpdatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/UserState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/user/DbUserState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/user/UserStateTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/UserIntent.java
Labels: component/zeebe

#20950 Using a changeset to update a job
  service/src/main/java/io/camunda/service/JobServices.java
  tasklist/importer-850/src/main/java/io/camunda/tasklist/zeebeimport/v850/record/value/JobRecordValueImpl.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/record/value/JobRecordValueImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobUpdateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobUpdateRetriesProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobUpdateTimeoutProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/behaviour/JobUpdateBehaviour.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/JobNoopApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/JobUpdatedApplier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobUpdateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/JobClient.java
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-job-batch-template.json
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-job-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-job-batch-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-job-template.json
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/JobController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/JobRequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerUpdateJobRequest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/encoding/MsgPackConverter.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/job/JobRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/JobRecordValue.java
Labels: component/zeebe, component/tasklist

#21197 Support REST for Job Completion
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/CompleteJobCommandStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CompleteJobCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/worker/JobClientImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/job/rest/ActivateJobsRestTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/job/rest/CompleteJobRestTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CompleteJobTest.java
Labels: component/zeebe

#21192 ci: don't build frontend to test docker image
  .github/workflows/ci.yml
Labels: component/build-pipeline

#21079 Tasklist priority V1 API
  tasklist/common/src/main/java/io/camunda/tasklist/queries/ComparisonOperator.java
  tasklist/common/src/main/java/io/camunda/tasklist/queries/RangeValueFilter.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/TaskControllerIT.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/entities/TaskResponse.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/entities/TaskSearchRequest.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/entities/TaskSearchResponse.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/graphql/entity/TaskDTO.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/graphql/entity/TaskQueryDTO.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/mapper/TaskMapper.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/service/TaskServiceTest.java
Labels: component/tasklist

#20626 Include Priority in Camunda service filters
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/filter/UserTaskFilter.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/response/UserTask.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/filter/UserTaskFilterImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/response/UserTaskImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/usertask/SearchUserTaskTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/SearchUserTaskTest.java
  service/src/main/java/io/camunda/service/entities/UserTaskEntity.java
  service/src/main/java/io/camunda/service/search/filter/ComparableValueFilter.java
  service/src/main/java/io/camunda/service/search/filter/ComparableValues.java
  service/src/main/java/io/camunda/service/search/filter/FilterBuilders.java
  service/src/main/java/io/camunda/service/search/filter/UserTaskFilter.java
  service/src/main/java/io/camunda/service/search/filter/VariableValueFilter.java
  service/src/main/java/io/camunda/service/search/sort/UserTaskSort.java
  service/src/main/java/io/camunda/service/transformers/ServiceTransformers.java
  service/src/main/java/io/camunda/service/transformers/filter/ComparableValueFilterTransformer.java
  service/src/main/java/io/camunda/service/transformers/filter/UserTaskFilterTransformer.java
  service/src/test/java/io/camunda/service/query/filter/UserTaskFilterTest.java
  service/src/test/java/io/camunda/service/query/filter/UserTaskSearchQueryStub.java
  service/src/test/java/io/camunda/service/query/filter/VariableValueFilterTest.java
  service/src/test/java/io/camunda/service/query/sort/PrioritySortTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserTaskQueryControllerTest.java
Labels: component/zeebe

#21163 refactor: remove optimize 7 onboarding data modification
  optimize/backend/src/it/java/io/camunda/optimize/service/importing/CustomerOnboardingDataImportIT.java.out
  optimize/backend/src/main/java/io/camunda/optimize/service/importing/CustomerOnboardingDataImportService.java
Labels: component/optimize

#21139 Improve latency section in medic dashboard
  monitor/grafana/medic-benchmark-dashboard.json
Labels: component/zeebe

#21200 Unlearn spotless to ratchet from main
  bom/pom.xml
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, component/operate, backport stable/8.5, component/tasklist, component/optimize

#20757 feat: Add metrics support for EL jobs
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/metrics/JobMetrics.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnJobActivationBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnJobBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobBatchActivateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobBatchCollector.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobCancelProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobCompleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobFailProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobThrowErrorProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobTimeOutProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/metrics/JobMetricsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobBatchCollectorTest.java
Labels: component/zeebe

#21171 Add message correlation to the Java client
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClient.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/CorrelateMessageCommandStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/CorrelateMessageResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CorrelateMessageCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/CorrelateMessageResponseImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/process/CorrelateMessageTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/util/RestGatewayPaths.java
  clients/java/src/test/java/io/camunda/zeebe/client/util/RestGatewayService.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageCorrelationCorrelateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageSubscriptionRejectProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/writers/ResultBuilderBackedTypedResponseWriter.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/writers/TypedResponseWriter.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/message/CorrelateMessageTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/message/MessageMultiTenancyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/MessageCorrelationClient.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CorrelateMessageTest.java
Labels: component/zeebe

#21204 Don't build frontends during the zeebe version compatibility checks
  .github/workflows/zeebe-version-compatibility.yml
Labels: component/build-pipeline, component/zeebe

#21165 refactor: remove optimize super users and super groups
  .github/actions/compose/docker-compose.smoketest.release.yml
  optimize-distro/src/config/environment-config-demo.yaml
  optimize-distro/src/config/environment-config.yaml
  optimize/backend/src/it/java/io/camunda/optimize/rest/EntitiesRestServiceIT.java.out
  optimize/backend/src/it/java/io/camunda/optimize/rest/EntityEditorAuthorizationServiceIT.java.out
  optimize/backend/src/it/java/io/camunda/optimize/rest/IdentityRestServiceIT.java.out
  optimize/backend/src/it/java/io/camunda/optimize/service/entities/AbstractExportImportEntityDefinitionIT.java.out
  optimize/backend/src/it/java/io/camunda/optimize/service/entities/dashboard/DashboardDefinitionExportAuthorizationIT.java.out
  optimize/backend/src/it/java/io/camunda/optimize/service/entities/dashboard/DashboardDefinitionImportAuthorizationIT.java.out
  optimize/backend/src/it/java/io/camunda/optimize/service/entities/report/ReportDefinitionExportAuthorizationIT.java.out
  optimize/backend/src/it/java/io/camunda/optimize/service/entities/report/ReportDefinitionImportAuthorizationIT.java.out
  optimize/backend/src/it/java/io/camunda/optimize/service/export/CombinedProcessCsvExportServiceIT.java.out
  optimize/backend/src/it/java/io/camunda/optimize/service/export/DecisionCsvExportServiceIT.java.out
  optimize/backend/src/it/java/io/camunda/optimize/service/export/ProcessCsvExportServiceIT.java.out
  optimize/backend/src/it/java/io/camunda/optimize/service/identity/CollectionRoleCleanupIT.java.out
  optimize/backend/src/it/java/io/camunda/optimize/service/security/authorization/AlertAuthorizationIT.java.out
  optimize/backend/src/it/java/io/camunda/optimize/service/security/collection/CollectionAccessAuthorizationIT.java.out
  optimize/backend/src/it/java/io/camunda/optimize/service/security/collection/CollectionManageAuthorizationIT.java.out
  optimize/backend/src/it/java/io/camunda/optimize/service/security/collection/DashboardCollectionRoleAuthorizationIT.java.out
  optimize/backend/src/it/java/io/camunda/optimize/service/security/collection/EntitiesAccessAuthorizationIT.java.out
  optimize/backend/src/it/java/io/camunda/optimize/service/security/collection/ReportCollectionGroupAuthorizationIT.java.out
  optimize/backend/src/it/java/io/camunda/optimize/service/security/collection/ReportCollectionUserAuthorizationIT.java.out
  optimize/backend/src/it/java/io/camunda/optimize/util/SuperUserType.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/ExportRestService.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/IdentityRestService.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/ImportRestService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/SettingsService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/collection/CollectionService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/dashboard/DashboardService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/identity/AbstractIdentityService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/report/ReportService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/security/AuthorizedCollectionService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/security/AuthorizedEntitiesService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/security/ReportAuthorizationService.java
  optimize/backend/src/test/java/io/camunda/optimize/service/report/ReportServiceConflictTest.java
  optimize/client/scripts/start-backend.js
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/util/configuration/security/AuthConfiguration.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/util/configuration/users/AuthorizedUserType.java
  optimize/util/optimize-commons/src/main/resources/service-config.yaml
  optimize/util/optimize-commons/src/test/java/io/camunda/optimize/service/util/configuration/ConfigurationServiceTest.java
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#21076 fix: Operate migration tests GHA needs to be fixed
  .github/workflows/operate-test-migrate-elasticsearch-data.yml
  operate/qa/migration-tests/migration-test/src/test/java/io/camunda/operate/qa/migration/util/ConnectionHolder.java
  operate/qa/migration-tests/test-fixture-110/src/main/java/io/camunda/operate/qa/migration/v110/BigProcessDataGenerator.java
  operate/qa/util/src/main/java/io/camunda/operate/qa/util/TestContainerUtil.java
  operate/qa/util/src/main/java/io/camunda/operate/qa/util/TestContext.java
  operate/qa/util/src/main/java/io/camunda/operate/qa/util/ZeebeTestUtil.java
Labels: component/build-pipeline, component/operate

#21066 feat: allow dns resolution to fall back to TCP
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyUnicastService.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#21221 support zeebe task priority update
  clients/java/ignored-changes.json
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/UpdateUserTaskCommandStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/UpdateUserTaskCommandImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/usertask/UpdateUserTaskTest.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/common/UserTaskRecordToTaskEntityMapper.java
  zeebe/gateway-protocol/src/main/proto/rest-api-v1.yaml
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/RequestValidator.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/UserTaskRequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserTaskControllerTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/usertask/UserTaskRecord.java
Labels: component/zeebe, component/tasklist

#21299 Make customHeaders dynamic for Opensearch task index
  tasklist/els-schema/src/main/resources/schema/os/create/template/tasklist-task.json
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/zeebeimport/ZeebeUserTaskImportIT.java
Labels: component/tasklist

#21304 [Backport stable/8.5] feat: allow dns resolution to fall back to TCP
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyUnicastService.java
Labels: component/zeebe

#20837 Retry of exporter open during transition step
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ExporterDirectorPartitionTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterEnableTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ExporterDirectorPartitionTransitionStepTest.java
Labels: component/zeebe

#21311 refactor: record value and metadata length is always non-zero
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/Sequencer.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#20880 ci: split operate frontend build from maven
  .github/actions/build-operate-fe/action.yml
  .github/workflows/operate-ci-build-reusable.yml
  .github/workflows/operate-e2e-tests.yml
  .github/workflows/operate-release-reusable.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#21317 [Backport stable/8.5] refactor: record value and metadata length is always non-zero
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/Sequencer.java
Labels: component/zeebe
