Repository camunda/camunda, pull requests merged in 2024-11, with the labels that each got.

#24155 Add MappingCreateProcessor
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/MappingCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/MappingProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbMappingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/MappingState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/CreateMappingMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/MappingTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/MappingStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/MappingClient.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/distribution/CommandDistributionRecord.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/TypedEventRegistry.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/MappingRecordStream.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/RecordingExporter.java
Labels: component/zeebe

#24180 Update process instance entity with properties from ProcessCache
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/ExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/adapters/ClientAdapter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/adapters/ElasticsearchAdapter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/adapters/OpensearchAdapter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/cache/ProcessCacheLoaderFactory.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromProcessInstanceHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ProcessHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/DefaultExporterResourceProviderTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/cache/TestProcessCache.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromProcessInstanceHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/ProcessHandlerTest.java
Labels: component/zeebe

#24108 Add Mapping to Tenant on Tenant.ADD_ENTITY command
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantAddEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/TenantEntityAddedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbMappingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/PersistedMapping.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableMappingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/user/DbUserState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/tenant/AddEntityTenantMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/tenant/AddEntityTenantTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/TenantAppliersTest.java
Labels: component/zeebe

#24237 Exporter handler tests
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/dmn/DecisionType.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/listview/FlowNodeInstanceForListViewEntity.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/AbstractEventHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/AuthorizationHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/DecisionEvaluationHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/DecisionHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/DecisionRequirementsHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/EventFromIncidentHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/EventFromJobHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/EventFromProcessInstanceHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/EventFromProcessMessageSubscriptionHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ExportHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/FlowNodeInstanceIncidentHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/FlowNodeInstanceProcessInstanceHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/FormHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/IncidentHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewFlowNodeFromIncidentHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewFlowNodeFromJobHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewFlowNodeFromProcessInstanceHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromProcessInstanceHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewVariableFromVariableHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/MetricFromProcessInstanceHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/PostImporterQueueFromIncidentHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ProcessHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/SequenceFlowHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/TaskCompletedMetricHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UserHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UserTaskCompletionVariableHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UserTaskHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UserTaskProcessInstanceHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UserTaskVariableHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/VariableHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/CamundaExporterHandlerITInvocationProvider.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/CamundaExporterITInvocationProvider.java
Labels: component/zeebe

#24288 feat: Implement Combined Reports for OpenSearch
  optimize/backend/src/main/java/io/camunda/optimize/service/db/os/report/CombinedReportInstanceCounterOS.java
Labels: component/optimize

#24268 feat: Exporter should complete operations based on operation reference
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromProcessInstanceHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/operation/AbstractOperationHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/operation/OperationFromIncidentHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/operation/OperationFromProcessInstanceHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/operation/OperationFromVariableDocumentHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/operation/AbstractOperationHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/operation/OperationFromIncidentHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/operation/OperationFromProcessInstanceHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/operation/OperationFromVariableDocumentHandlerTest.java
Labels: component/zeebe

#24111 Add ArchUnit test to ensure processors doing authorization checks
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/ExcludeAuthorizationCheck.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/BpmnStreamProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/distribute/DeploymentDistributeProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/distribute/DeploymentDistributionCompleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionAcknowledgeProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionContinueProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionFinishProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/DefaultJobCommandPreconditionGuard.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobBatchActivateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobCancelProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobRecurProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobTimeOutProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobYieldProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageBatchExpireProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageExpireProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageSubscriptionCorrelateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageSubscriptionCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageSubscriptionDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageSubscriptionMigrateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageSubscriptionRejectProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/ProcessMessageSubscriptionCorrelateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/ProcessMessageSubscriptionCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/ProcessMessageSubscriptionDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceBatchActivateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceBatchTerminateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCreationCreateWithResultProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/CommandProcessorImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/timer/TimerCancelProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/timer/TimerTriggerProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/UserDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/UserProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/UserTaskProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationArchTest.java
Labels: component/zeebe

#24292 Fix some issues seen in flaky CamundaExporterIT tests
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/exceptions/PersistenceException.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/store/OpensearchBatchRequest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
Labels: component/zeebe

#24184 feat: backup only segment containing data not present in snapshots
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/LogCompactor.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftPartitionServer.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/storage/log/RaftLog.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/snapshot/InMemorySnapshot.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/api/BackupManager.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/BackupService.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/BackupServiceImpl.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/InProgressBackupImpl.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/JournalInfoProvider.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/NoopBackupManager.java
  zeebe/backup/src/test/java/io/camunda/zeebe/backup/management/BackupServiceImplTest.java
  zeebe/backup/src/test/java/io/camunda/zeebe/backup/management/InProgressBackupImplTest.java
  zeebe/backup/src/test/resources/log4j2-test.xml
  zeebe/broker/pom.xml
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/BackupServiceTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup/ConcurrentBackupCompactionTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup/InMemoryMockBackupStore.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/utils/InlineThreadContext.java
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/Journal.java
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournal.java
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournalWriter.java
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/file/SegmentsManager.java
  zeebe/journal/src/test/java/io/camunda/zeebe/journal/file/SegmentsManagerTest.java
  zeebe/restore/src/test/java/io/camunda/zeebe/restore/PartitionRestoreServiceTest.java
  zeebe/restore/src/test/java/io/camunda/zeebe/restore/TestRestorableBackupStore.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/TestActorFuture.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/PersistedSnapshot.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/TransientSnapshot.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshot.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/DynamicAutoCloseable.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/AutoCloseableRule.java
Labels: component/zeebe

#24270 [Backport stable/8.5] Fix identity-sdk concurrency issue
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/gateway.yaml.template
  dist/src/main/java/io/camunda/zeebe/broker/shared/BrokerConfiguration.java
  dist/src/main/java/io/camunda/zeebe/gateway/GatewayConfiguration.java
  dist/src/main/java/io/camunda/zeebe/shared/security/IdentityAuthenticationManager.java
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RestErrorMapper.java
  zeebe/gateway/pom.xml
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/Gateway.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/cmd/ConcurrentRequestException.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/configuration/ExperimentalCfg.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/configuration/GatewayCfg.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/configuration/IdentityServiceCfg.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/identity/IdentityTenantService.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/interceptors/impl/IdentityInterceptor.java
  zeebe/gateway/src/test/java/io/camunda/zeebe/gateway/api/util/StubbedGateway.java
  zeebe/gateway/src/test/java/io/camunda/zeebe/gateway/interceptors/impl/IdentityInterceptorTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/multitenancy/MultiTenancyOverIdentityHighRequestCountIT.java
Labels: component/zeebe

#24291 Add group created applier
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/GroupCreatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/group/DbGroupState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/group/PersistedGroup.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/GroupState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableGroupState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/GroupAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/group/GroupStateTest.java
Labels: component/zeebe

#24166 feat: apply search operation in UserTaskFilter
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/filter/UserTaskFilter.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/filter/UserTaskFilterImpl.java
  qa/integration-tests/src/test/java/io/camunda/it/client/UserTaskQueryTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/UserTaskFilterTransformer.java
  search/search-domain/src/main/java/io/camunda/search/filter/UserTaskFilter.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
Labels: component/zeebe, component/c8-api

#23893 ci: remove login-registry composite action
  .github/actions/build-operate-setup/action.yml
  .github/actions/build-tasklist-setup/action.yml
  .github/actions/login-registry/README.md
  .github/actions/login-registry/action.yml
  .github/actions/setup-build/action.yml
  .github/actions/setup-maven/README.md
  .github/actions/setup-maven/action.yml
  .github/actions/setup-zeebe/action.yml
  .github/workflows/camunda-platform-release.yml
  .github/workflows/ci.yml
  .github/workflows/operate-ci-build-observe-reusable.yml
  .github/workflows/operate-ci-build-reusable.yml
  .github/workflows/operate-ci-test-reusable.yml
  .github/workflows/optimize-ci-build-reusable.yml
  .github/workflows/optimize-ci.yml
  .github/workflows/optimize-deploy-artifacts.yml
  .github/workflows/optimize-e2e-test-cloud.yml
  .github/workflows/optimize-e2e-tests-sm.yml
  .github/workflows/optimize-release-optimize-c8-only.yml
  .github/workflows/optimize-zeebe-compatibility.yml
  .github/workflows/preview-env-build-and-deploy.yml
  .github/workflows/tasklist-ci-build-reusable.yml
  .github/workflows/tasklist-ci-test-reusable.yml
  .github/workflows/update-identity.yml
  .github/workflows/zeebe-benchmark.yml
  .github/workflows/zeebe-ci.yml
  .github/workflows/zeebe-snyk.yml
  .github/workflows/zeebe-testbench.yaml
  .github/workflows/zeebe-version-compatibility.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#24298 [Backport stable/8.5] feat: backup only segment containing data not present in snapshots
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/LogCompactor.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftPartitionServer.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/storage/log/RaftLog.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/snapshot/InMemorySnapshot.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/api/BackupManager.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/BackupService.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/BackupServiceImpl.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/InProgressBackupImpl.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/JournalInfoProvider.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/NoopBackupManager.java
  zeebe/backup/src/test/java/io/camunda/zeebe/backup/management/BackupServiceImplTest.java
  zeebe/backup/src/test/java/io/camunda/zeebe/backup/management/InProgressBackupImplTest.java
  zeebe/backup/src/test/resources/log4j2-test.xml
  zeebe/broker/pom.xml
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/BackupServiceTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup/ConcurrentBackupCompactionTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup/InMemoryMockBackupStore.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/utils/InlineThreadContext.java
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/Journal.java
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournal.java
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournalWriter.java
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/file/SegmentsManager.java
  zeebe/journal/src/test/java/io/camunda/zeebe/journal/file/SegmentsManagerTest.java
  zeebe/restore/src/test/java/io/camunda/zeebe/restore/PartitionRestoreServiceTest.java
  zeebe/restore/src/test/java/io/camunda/zeebe/restore/TestRestorableBackupStore.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/future/ActorFuture.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/future/CompletableActorFuture.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/TestActorFuture.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/PersistedSnapshot.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/TransientSnapshot.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshot.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/DynamicAutoCloseable.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/AutoCloseableRule.java
Labels: component/zeebe

#24299 [Backport stable/8.6] feat: backup only segment containing data not present in snapshots
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/LogCompactor.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftPartitionServer.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/storage/log/RaftLog.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/snapshot/InMemorySnapshot.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/api/BackupManager.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/BackupService.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/BackupServiceImpl.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/InProgressBackupImpl.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/JournalInfoProvider.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/NoopBackupManager.java
  zeebe/backup/src/test/java/io/camunda/zeebe/backup/management/BackupServiceImplTest.java
  zeebe/backup/src/test/java/io/camunda/zeebe/backup/management/InProgressBackupImplTest.java
  zeebe/backup/src/test/resources/log4j2-test.xml
  zeebe/broker/pom.xml
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/BackupServiceTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup/ConcurrentBackupCompactionTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup/InMemoryMockBackupStore.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/utils/InlineThreadContext.java
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/Journal.java
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournal.java
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournalWriter.java
  zeebe/journal/src/main/java/io/camunda/zeebe/journal/file/SegmentsManager.java
  zeebe/journal/src/test/java/io/camunda/zeebe/journal/file/SegmentsManagerTest.java
  zeebe/restore/src/test/java/io/camunda/zeebe/restore/PartitionRestoreServiceTest.java
  zeebe/restore/src/test/java/io/camunda/zeebe/restore/TestRestorableBackupStore.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/TestActorFuture.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/PersistedSnapshot.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/TransientSnapshot.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshot.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/DynamicAutoCloseable.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/AutoCloseableRule.java
Labels: component/zeebe

#24309 ci: webapps cannot be loaded with single jar distribution
  .github/workflows/ci.yml
  .github/workflows/operate-ci-build-reusable.yml
  .github/workflows/tasklist-ci-build-reusable.yml
Labels: component/build-pipeline, component/operate, component/tasklist

#24313 refactor: backport {optimize, operate, identity}/client/.gitignore from main
  identity/client/.gitignore
  operate/client/.gitignore
  optimize/client/.gitignore
Labels: backport stable/8.3, backport stable/8.4, component/zeebe

#24289 feat: Extend License for isCommercial and expiresAt
  parent/pom.xml
  service/src/main/java/io/camunda/service/ManagementServices.java
  service/src/main/java/io/camunda/service/license/CamundaLicense.java
  service/src/test/java/io/camunda/service/license/CamundaLicenseTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/LicenseController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/LicenseControllerTest.java
Labels: component/zeebe, component/operate, component/c8-api, component/tasklist, component/optimize

#24331 Revert "ci: remove login-registry composite action"
  .github/actions/build-operate-setup/action.yml
  .github/actions/build-tasklist-setup/action.yml
  .github/actions/login-registry/README.md
  .github/actions/login-registry/action.yml
  .github/actions/setup-build/action.yml
  .github/actions/setup-maven/README.md
  .github/actions/setup-maven/action.yml
  .github/actions/setup-zeebe/action.yml
  .github/workflows/camunda-platform-release.yml
  .github/workflows/ci.yml
  .github/workflows/operate-ci-build-observe-reusable.yml
  .github/workflows/operate-ci-build-reusable.yml
  .github/workflows/operate-ci-test-reusable.yml
  .github/workflows/optimize-ci-build-reusable.yml
  .github/workflows/optimize-ci.yml
  .github/workflows/optimize-deploy-artifacts.yml
  .github/workflows/optimize-e2e-test-cloud.yml
  .github/workflows/optimize-e2e-tests-sm.yml
  .github/workflows/optimize-release-optimize-c8-only.yml
  .github/workflows/optimize-zeebe-compatibility.yml
  .github/workflows/preview-env-build-and-deploy.yml
  .github/workflows/tasklist-ci-build-reusable.yml
  .github/workflows/tasklist-ci-test-reusable.yml
  .github/workflows/update-identity.yml
  .github/workflows/zeebe-benchmark.yml
  .github/workflows/zeebe-ci.yml
  .github/workflows/zeebe-snyk.yml
  .github/workflows/zeebe-testbench.yaml
  .github/workflows/zeebe-version-compatibility.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#24308 Add group create processor
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupProcessors.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/CreateGroupMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/GroupTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/GroupClient.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/distribution/CommandDistributionRecord.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/TypedEventRegistry.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/GroupRecordStream.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/RecordingExporter.java
Labels: component/zeebe

#24349 test: fix e2e generation naming for 8.6
  .github/workflows/zeebe-weekly-e2e.yml
Labels: component/build-pipeline, component/zeebe

#24353 fix: commit last transaction after running migrations
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/MigrationTransitionStep.java
Labels: backport stable/8.3, backport stable/8.4, backport stable/8.5, backport stable/8.6

#24323 Remove mapping from tenant
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantRemoveEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/TenantEntityRemovedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbMappingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableMappingState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/tenant/RemoveEntityTenantTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/TenantAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/MappingStateTest.java
Labels: component/zeebe

#24360 [Backport stable/8.6] fix: commit last transaction after running migrations
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/MigrationTransitionStep.java
Labels: component/zeebe

#24359 [Backport stable/8.5] fix: commit last transaction after running migrations
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/MigrationTransitionStep.java
Labels: component/zeebe

#24319 Do not create archiver if rollover is not enabled
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
Labels: component/zeebe

#24306 [Backport stable/8.4] feat: backup only segment containing data not present in snapshots
  atomix/cluster/src/main/java/io/atomix/raft/impl/LogCompactor.java
  atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftPartitionServer.java
  atomix/cluster/src/main/java/io/atomix/raft/storage/log/RaftLog.java
  atomix/cluster/src/test/java/io/atomix/raft/snapshot/InMemorySnapshot.java
  backup/src/main/java/io/camunda/zeebe/backup/api/BackupManager.java
  backup/src/main/java/io/camunda/zeebe/backup/management/BackupService.java
  backup/src/main/java/io/camunda/zeebe/backup/management/BackupServiceImpl.java
  backup/src/main/java/io/camunda/zeebe/backup/management/InProgressBackupImpl.java
  backup/src/main/java/io/camunda/zeebe/backup/management/JournalInfoProvider.java
  backup/src/main/java/io/camunda/zeebe/backup/management/NoopBackupManager.java
  backup/src/test/java/io/camunda/zeebe/backup/management/BackupServiceImplTest.java
  backup/src/test/java/io/camunda/zeebe/backup/management/InProgressBackupImplTest.java
  broker/pom.xml
  broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/BackupServiceTransitionStep.java
  journal/src/main/java/io/camunda/zeebe/journal/Journal.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournal.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentedJournalWriter.java
  journal/src/main/java/io/camunda/zeebe/journal/file/SegmentsManager.java
  journal/src/test/java/io/camunda/zeebe/journal/file/SegmentsManagerTest.java
  restore/src/test/java/io/camunda/zeebe/restore/PartitionRestoreServiceTest.java
  restore/src/test/java/io/camunda/zeebe/restore/TestRestorableBackupStore.java
  scheduler/src/main/java/io/camunda/zeebe/scheduler/future/ActorFuture.java
  scheduler/src/main/java/io/camunda/zeebe/scheduler/future/CompletableActorFuture.java
  scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/TestActorFuture.java
  snapshot/src/main/java/io/camunda/zeebe/snapshots/PersistedSnapshot.java
  snapshot/src/main/java/io/camunda/zeebe/snapshots/TransientSnapshot.java
  snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshot.java
  test-util/src/main/java/io/camunda/zeebe/test/DynamicAutoCloseable.java
  test-util/src/main/java/io/camunda/zeebe/test/util/AutoCloseableRule.java
  zeebe/backup/src/test/resources/log4j2-test.xml
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup/ConcurrentBackupCompactionTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup/InMemoryMockBackupStore.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/utils/InlineThreadContext.java
Labels: backport stable/8.3

#24310 Migrate BatchOperations archive job to Camunda Exporter
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/archiver/Archiver.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/archiver/ArchiverRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/archiver/BatchOperationArchiverJob.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/metrics/CamundaExporterMetrics.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/archiver/BatchOperationArchiverJobTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/archiver/ProcessInstancesArchiverJobTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/archiver/TestRepository.java
Labels: component/zeebe

#24373 feat: Fixing wrong OpenSearch config reading
  optimize/backend/src/main/java/io/camunda/optimize/service/db/os/reader/BackupReaderOS.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/os/report/filter/util/ModelElementFilterQueryUtilOS.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/os/report/interpreter/distributedby/process/model/AbstractProcessDistributedByModelElementInterpreterOS.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/os/report/interpreter/groupby/decision/DecisionGroupByMatchedRuleInterpreterOS.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/os/report/interpreter/groupby/process/flownode/GroupByIncidentFlowNodeInterpreterOS.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/os/report/interpreter/view/decision/DecisionViewRawDataInterpreterOS.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/repository/es/SnapshotRepositoryES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/repository/es/SnapshotRepositoryOS.java
Labels: component/optimize

#24210 [Backport stable/8.5] fix: enable configuration processor
  spring-boot-starter-camunda-sdk/pom.xml
Labels: component/clients, component/zeebe, component/operate, scope/clients-spring

#24362 Centralize creation of default search DB containers
  qa/integration-tests/pom.xml
  qa/integration-tests/src/test/java/io/camunda/it/utils/BrokerWithCamundaExporterITInvocationProvider.java
  qa/util/pom.xml
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestStandaloneCamunda.java
  zeebe/exporters/camunda-exporter/pom.xml
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterAuthenticationIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/cache/ProcessCacheImplIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/ElasticsearchEngineClientIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/OpensearchEngineClientIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/CamundaExporterITInvocationProvider.java
  zeebe/exporters/camunda-exporter/src/test/resources/elasticsearch-fast-startup.options
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchClientIT.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterIT.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/FaultToleranceIT.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/TestSupport.java
  zeebe/exporters/elasticsearch-exporter/src/test/resources/elasticsearch-fast-startup.options
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/FaultToleranceIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchClientIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestSupport.java
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/AuthorizationAddPermissionAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/ClockPinAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/DecisionEvaluationEvaluateAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/DeploymentCreateAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/IncidentResolveAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/JobCompleteAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/JobFailAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/JobUpdateAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/MessageCorrelationCorrelateAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/MessagePublishAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/ProcessInstanceCancelAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/ProcessInstanceCreateAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/ProcessInstanceMigrationMigrateAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/ProcessInstanceModificationModifyAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/ResourceDeletionAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/SignalBroadcastAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/UserCreateAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/UserTaskAssignAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/UserTaskClaimAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/UserTaskCompleteAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/UserTaskUpdateAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/VariableDocumentUpdateAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/resources/elasticsearch-fast-startup.options
  zeebe/test-util/pom.xml
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/testcontainers/TestSearchContainers.java
  zeebe/test-util/src/main/resources/elasticsearch-fast-startup.options
Labels: component/zeebe

#24367 Move OpenAPI lint check to unified CI
  .github/actions/paths-filter/action.yml
  .github/workflows/ci.yml
  .github/workflows/vacuum.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/c8-api, component/tasklist, component/optimize

#24381 [Backport 8.6] fix: backport c8run to 8.6
  .github/workflows/c8run-build.yaml
  c8run/README.md
  c8run/configuration/.gitkeep
  c8run/connectors-application.properties
  c8run/custom_connectors/.gitkeep
  c8run/e2e_tests/api_tests.sh
  c8run/e2e_tests/package-lock.json
  c8run/e2e_tests/package.json
  c8run/e2e_tests/playwright.config.ts
  c8run/e2e_tests/tests/operate_login.spec.ts
  c8run/e2e_tests/tests/tasklist_login.spec.ts
  c8run/endpoints.txt
  c8run/internal/run.sh
  c8run/log/.gitkeep
  c8run/package.bat
  c8run/package.sh
  c8run/shutdown.sh
  c8run/start.sh
  c8run/windows/c8run_windows.go
  c8run/windows/go.mod
  c8run/windows/go.sum
  c8run/windows/process_tree.go
Labels: component/build-pipeline, component/c8run

#24338 feat: Extend License for isCommercial and expiresAt - Optimize
  optimize/backend/pom.xml
  optimize/backend/src/main/java/io/camunda/optimize/license/CamundaLicense.java
  optimize/backend/src/main/java/io/camunda/optimize/service/CamundaLicenseService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/UIConfigurationService.java
  optimize/backend/src/test/java/io/camunda/optimize/service/uiconfiguration/UIConfigurationServiceTest.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/dto/optimize/query/ui_configuration/UIConfigurationResponseDto.java
  service/src/main/java/io/camunda/service/ManagementServices.java
  service/src/main/java/io/camunda/service/license/CamundaLicense.java
  service/src/test/java/io/camunda/service/license/CamundaLicenseTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/LicenseController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/LicenseControllerTest.java
Labels: component/zeebe, component/c8-api, component/optimize

#24356 Check authorization on Job activation
  service/src/main/java/io/camunda/service/JobServices.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobBatchActivateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobBatchCollector.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobEventProcessors.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobBatchCollectorTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/JobController.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/JobBatchActivateAuthorizationIT.java
Labels: component/zeebe, component/c8-api

#24390 Change identity endpoint mono
  optimize/docker-compose.ccsm-with-optimize.yml
Labels: component/build-pipeline, component/optimize

#24335 revert: "fix: Clear scroll request fails on Opensearch on AWS"
  operate/common/pom.xml
  operate/common/src/main/java/io/camunda/operate/connect/OpensearchConnector.java
Labels: component/operate

#24333 fix: Switch back to Apache client for AWS Opensearch requests
  operate/common/pom.xml
  operate/common/src/main/java/io/camunda/operate/connect/OpensearchConnector.java
  search/search-client-connect/pom.xml
  search/search-client-connect/src/main/java/io/camunda/search/connect/os/OpensearchConnector.java
  tasklist/common/pom.xml
  tasklist/common/src/main/java/io/camunda/tasklist/os/OpenSearchConnector.java
Labels: component/operate, component/tasklist

#24334 fix: Switch back to Apache client for AWS Opensearch requests
  operate/common/pom.xml
  operate/common/src/main/java/io/camunda/operate/connect/OpensearchConnector.java
  search/search-client-connect/pom.xml
  search/search-client-connect/src/main/java/io/camunda/search/connect/os/OpensearchConnector.java
  tasklist/common/pom.xml
  tasklist/common/src/main/java/io/camunda/tasklist/os/OpenSearchConnector.java
Labels: component/operate, component/tasklist

#24396 Release 8.5.9
  bom/pom.xml
  build-tools/pom.xml
  clients/go/internal/embedded/data/VERSION
  dist/pom.xml
  parent/pom.xml
  pom.xml
  spring-boot-starter-camunda-sdk/pom.xml
  zeebe/atomix/cluster/pom.xml
  zeebe/atomix/pom.xml
  zeebe/atomix/utils/pom.xml
  zeebe/auth/pom.xml
  zeebe/backup-stores/azure/pom.xml
  zeebe/backup-stores/common/pom.xml
  zeebe/backup-stores/gcs/pom.xml
  zeebe/backup-stores/s3/pom.xml
  zeebe/backup-stores/testkit/pom.xml
  zeebe/backup/pom.xml
  zeebe/benchmarks/project/pom.xml
  zeebe/bpmn-model/pom.xml
  zeebe/broker-client/pom.xml
  zeebe/broker/pom.xml
  zeebe/clients/java/pom.xml
  zeebe/clients/zeebe-client-spring/pom.xml
  zeebe/dmn/pom.xml
  zeebe/engine/pom.xml
  zeebe/exporter-api/pom.xml
  zeebe/exporter-test/pom.xml
  zeebe/exporters/elasticsearch-exporter/pom.xml
  zeebe/exporters/opensearch-exporter/pom.xml
  zeebe/expression-language/pom.xml
  zeebe/feel/pom.xml
  zeebe/gateway-protocol-impl/pom.xml
  zeebe/gateway-protocol/pom.xml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway/pom.xml
  zeebe/journal/pom.xml
  zeebe/logstreams/pom.xml
  zeebe/msgpack-core/pom.xml
  zeebe/msgpack-value/pom.xml
  zeebe/protocol-asserts/pom.xml
  zeebe/protocol-impl/pom.xml
  zeebe/protocol-jackson/pom.xml
  zeebe/protocol-test-util/pom.xml
  zeebe/protocol/pom.xml
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/pom.xml
  zeebe/qa/update-tests/pom.xml
  zeebe/qa/util/pom.xml
  zeebe/restore/pom.xml
  zeebe/scheduler/pom.xml
  zeebe/snapshot/pom.xml
  zeebe/stream-platform/pom.xml
  zeebe/test-util/pom.xml
  zeebe/topology/pom.xml
  zeebe/transport/pom.xml
  zeebe/util/pom.xml
  zeebe/zb-db/pom.xml
Labels: component/zeebe, component/operate

#24378 feature: when a follower fails to flush respond with error to leader
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/PassiveRole.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftFlushErrorTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftRule.java
Labels: component/zeebe

#23382 fix: reverting password encryption change to fix migration of users
  operate/client/e2e-playwright/tests/login.spec.ts
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/auth/OperateUserDetailsService.java
  tasklist/client/e2e/tests/login.spec.ts
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/se/SearchEngineUserDetailsService.java
Labels: component/operate, component/tasklist

#24410 feat: Activating upgrade tests for OpenSearch - pre-requisite
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/schema/OpenSearchSchemaManager.java
Labels: component/optimize

#24391 Failed to retrieve mappings fix
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/elasticsearch/ElasticsearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/opensearch/OpensearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/ElasticsearchEngineClientIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/OpensearchEngineClientIT.java
Labels: component/zeebe

#24341 Implement Elasticsearch archiver repository
  search/search-client-connect/src/main/java/io/camunda/search/connect/es/ElasticsearchConnector.java
  zeebe/exporters/camunda-exporter/pom.xml
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/ExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/archiver/Archiver.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/archiver/ElasticsearchRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/archiver/ProcessInstancesArchiverJob.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/metrics/CamundaExporterMetrics.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/archiver/ElasticsearchRepositoryIT.java
Labels: component/zeebe

#24366 Implement group entity add applier
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/GroupEntityAddedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbMappingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/PersistedMapping.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/group/DbGroupState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/group/PersistedGroup.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/GroupState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableGroupState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableMappingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableUserState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/tenant/DbTenantState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/user/DbUserState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/user/PersistedUser.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/GroupAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/group/GroupStateTest.java
Labels: component/zeebe

#24416 Verify permissions of Roles
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorTest.java
Labels: component/zeebe

#24340 fix: remove docs links from c8 REST spec
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe, component/c8-api

#24415 deps: update zeebe and identity versions
  operate/config/docker-compose.identity.yml
  operate/config/docker-compose.mt.yml
  operate/config/docker-compose.opensearch-identity.yml
  operate/config/docker-compose.test.yml
  operate/docker-compose.opensearch-identity.yml
  operate/docker-compose.opensearch.yml
  operate/docker-compose.yml
  operate/pom.xml
  operate/qa/pom.xml
Labels: component/operate

#24401 feat: support user delete events
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UserCreatedUpdatedHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UserDeletedHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/UserCreatedUpdatedHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/UserDeletedHandlerTest.java
Labels: component/exporter, component/zeebe

#24372 Add group deleted applier
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/GroupDeletedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/group/DbGroupState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableGroupState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/EventAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/GroupAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/group/GroupStateTest.java
Labels: component/zeebe

#24257 feat: use OffsetDateTime consistently
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DocumentLinkResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DocumentMetadata.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateDocumentCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentLinkResponseImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentMetadataImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/usertask/UpdateUserTaskTest.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/typehandler/OffsetDateTimeToStringTypeHandler.java
  db/rdbms/src/main/resources/mapper/FlowNodeInstanceMapper.xml
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
  document/api/src/main/java/io/camunda/document/api/DocumentLink.java
  document/api/src/main/java/io/camunda/document/api/DocumentMetadataModel.java
  document/store/src/main/java/io/camunda/document/store/GcpDocumentStore.java
  qa/integration-tests/src/test/java/io/camunda/it/client/CreateDocumentTest.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/ProcessInstanceIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/flownodeinstance/FlowNodeInstanceIT.java
  search/search-client-connect/src/main/java/io/camunda/search/connect/configuration/ConnectConfiguration.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/transformers/query/RangeQueryTransformer.java
  search/search-client-elasticsearch/src/test/java/io/camunda/search/es/transformers/query/RangeQueryTransformerTest.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/transformers/query/RangeQueryTransformer.java
  search/search-client-opensearch/src/test/java/io/camunda/search/os/transformers/query/RangeQueryTransformerTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/query/SearchRangeQuery.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/SearchClientBasedQueryExecutorTest.java
  search/search-domain/src/main/java/io/camunda/search/entities/DecisionInstanceEntity.java
  search/search-domain/src/main/java/io/camunda/search/entities/FlowNodeInstanceEntity.java
  search/search-domain/src/main/java/io/camunda/search/entities/IncidentEntity.java
  search/search-domain/src/main/java/io/camunda/search/entities/OperationEntity.java
  search/search-domain/src/main/java/io/camunda/search/entities/ProcessInstanceEntity.java
  search/search-domain/src/main/java/io/camunda/search/entities/UserTaskEntity.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/IncidentQueryController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/RequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DecisionInstanceQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DocumentControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/FlowNodeInstanceQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/IncidentQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserTaskControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserTaskQueryControllerTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UpdateUserTaskTest.java
Labels: component/build-pipeline, component/zeebe, component/operate, component/c8-api, component/tasklist, component/optimize

#24444 fix: fix flaky RaftFlushErrorTest
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftFlushErrorTest.java
Labels: component/zeebe

#24448 [Backport stable/8.6] feature: when a follower fails to flush respond with error to leader
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/PassiveRole.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftFlushErrorTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftRule.java
Labels: component/zeebe

#24432 refactor: harmonize Problem response creation in Query controllers
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RestErrorMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/DecisionDefinitionQueryController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/DecisionInstanceQueryController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/DecisionRequirementsQueryController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/FlowNodeInstanceQueryController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/IncidentQueryController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/ProcessDefinitionQueryController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceQueryController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/UserTaskQueryController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/VariableQueryController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/AuthorizationQueryController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserQueryController.java
Labels: component/zeebe, component/c8-api

#24407 feat: Activating upgrade tests for OpenSearch
  .github/workflows/optimize-ci.yml
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/db/OpenSearchDatabaseTestService.java
Labels: component/build-pipeline, component/optimize

#24182 feat: Reject task listener job completion with variables
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/DefaultJobCommandPreconditionGuard.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobCommandCheck.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobCommandPreconditionChecker.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobCompleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/UserTaskProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UserTaskListenersTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/util/RecordingJobHandler.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/util/ZeebeAssertHelper.java
Labels: component/zeebe

#24451 deps: bump spring to fix CVE-2024-38821
  parent/pom.xml
Labels: component/zeebe, component/operate

#24242 test: extend date test cases for user task controller
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserTaskControllerTest.java
Labels: component/zeebe, component/c8-api

#24454 Release/operate 8.5.8
  distro/pom.xml
  operate/archiver/pom.xml
  operate/client/pom.xml
  operate/common/pom.xml
  operate/data-generator/pom.xml
  operate/importer-8_4/pom.xml
  operate/importer-8_5/pom.xml
  operate/importer-common/pom.xml
  operate/importer/pom.xml
  operate/mvc-auth-commons/pom.xml
  operate/pom.xml
  operate/qa/backup-restore-tests/pom.xml
  operate/qa/batch-operation-performance-tests/pom.xml
  operate/qa/data-generator/pom.xml
  operate/qa/import-performance-tests/pom.xml
  operate/qa/integration-tests/pom.xml
  operate/qa/migration-performance-test/pom.xml
  operate/qa/migration-tests/migration-test/pom.xml
  operate/qa/migration-tests/pom.xml
  operate/qa/migration-tests/test-fixture-110/pom.xml
  operate/qa/migration-tests/test-fixture-120/pom.xml
  operate/qa/migration-tests/test-fixture-130/pom.xml
  operate/qa/migration-tests/test-fixture-800/pom.xml
  operate/qa/migration-tests/test-fixture-810/pom.xml
  operate/qa/migration-tests/test-fixture-820/pom.xml
  operate/qa/migration-tests/test-fixture-830/pom.xml
  operate/qa/migration-tests/test-fixture-840/pom.xml
  operate/qa/pom.xml
  operate/qa/query-performance-tests/pom.xml
  operate/qa/util/pom.xml
  operate/schema/pom.xml
  operate/webapp/pom.xml
Labels: component/operate

#24424 build: Release/optimize 8.7.0 alpha1
  optimize/client/src/modules/components/AlertModal/AlertModal.js
  optimize/upgrade/pom.xml
Labels: component/optimize

#24370 ci: use non-preemptible runners for jobs with highest disconnect rate
  .github/actionlint.yaml
  .github/workflows/ci.yml
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe

#24413 feat: apply authorization check on GET process definition endpoints
  qa/integration-tests/src/test/java/io/camunda/it/auth/ProcessAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/utils/BrokerWithCamundaExporterITInvocationProvider.java
  qa/integration-tests/src/test/java/io/camunda/it/utils/ZeebeClientTestFactory.java
  service/src/main/java/io/camunda/service/ProcessDefinitionServices.java
  service/src/main/java/io/camunda/service/exception/ForbiddenException.java
  service/src/main/java/io/camunda/service/search/core/SearchQueryService.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RestErrorMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/ProcessDefinitionQueryController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessDefinitionQueryControllerTest.java
Labels: component/zeebe, component/c8-api

#24422 ci: use 8.6 Helm chart for preview envs
  .ci/preview-environments/charts/c8sm/Chart.yaml
  .ci/preview-environments/charts/c8sm/values.yaml
Labels: deploy-preview

#24447 [Backport stable/8.5] feature: when a follower fails to flush respond with error to leader
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/PassiveRole.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftFlushErrorTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftRule.java
Labels: component/zeebe

#24442 Add mapping deletion applier
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantAddEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/MappingDeletedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/TenantEntityAddedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/TenantEntityRemovedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbMappingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbRoleState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/PersistedMapping.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableMappingState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/tenant/AddEntityTenantTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/EventAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/MappingAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/TenantAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/MappingStateTest.java
Labels: component/zeebe

#24472 deps: update testcafe to latest version
  optimize/client/package.json
  optimize/client/yarn.lock
Labels: component/optimize

#24485 ci: skip fe build from optimize dependency-check
  .github/workflows/optimize-dependency-check.yml
  .github/workflows/optimize-run-java-checks.yml
Labels: component/build-pipeline, component/optimize

#24205 feat: add property for permissions
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/db/ElasticsearchDatabaseTestService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/OptimizeElasticsearchClientFactory.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/repository/es/TaskRepositoryES.java
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/db/SchemaUpgradeClientFactory.java
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/es/SchemaUpgradeClientES.java
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/main/UpgradeMain.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/util/configuration/db/DatabaseConnection.java
  optimize/util/optimize-commons/src/main/resources/service-config.yaml
Labels: component/optimize, backport stable/optimize-8.6

#24408 feat: support updating roles via RoleServices
  service/pom.xml
  service/src/main/java/io/camunda/service/RoleServices.java
  service/src/test/java/io/camunda/service/RoleServiceTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerRoleUpdateRequest.java
Labels: component/zeebe, component/identity

#24387 Exporter template creation warns if already exists
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/elasticsearch/ElasticsearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/opensearch/OpensearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/ElasticsearchEngineClientIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/OpensearchEngineClientIT.java
Labels: component/zeebe

#24425 Add group remove entity processor
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupRemoveEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/GroupEntityRemovedApplier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/GroupTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/RemoveEntityGroupMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/GroupClient.java
Labels: component/zeebe

#24430 feat: Update Identity and Zeebe to new 8.6 versions
  optimize/pom.xml
Labels: component/optimize

#24438 ci: do not auto-merge release PRs
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe, backport stable/8.6

#24450 feat: implement reindex for OS repository
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/archiver/OpenSearchRepository.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/archiver/OpenSearchRepositoryIT.java
Labels: component/zeebe

#24470 feat: apply authorization check on GET decision definition endpoints
  qa/integration-tests/src/test/java/io/camunda/it/auth/DecisionAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/ProcessAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/client/DecisionQueryTest.java
  search/search-domain/src/main/java/io/camunda/search/query/DecisionRequirementsQuery.java
  service/src/main/java/io/camunda/service/DecisionDefinitionServices.java
  service/src/main/java/io/camunda/service/DecisionRequirementsServices.java
  service/src/test/java/io/camunda/service/DecisionDefinitionServiceTest.java
  service/src/test/java/io/camunda/service/DecisionRequirementsServiceTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/DecisionRequirementsQueryController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DecisionDefinitionQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DecisionRequirementsQueryControllerTest.java
Labels: component/zeebe, component/c8-api

#24492 Stable/optimize 8.6 prem restrictions
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/db/ElasticsearchDatabaseTestService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/OptimizeElasticsearchClientFactory.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/repository/es/TaskRepositoryES.java
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/db/SchemaUpgradeClientFactory.java
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/es/SchemaUpgradeClientES.java
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/main/UpgradeMain.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/util/configuration/db/DatabaseConnection.java
  optimize/util/optimize-commons/src/main/resources/service-config.yaml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/identity, component/optimize

#24421 Add user permissions on user creation
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/UserCreateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AddEntityRoleMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AddPermissionAuthorizationMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/CreateRoleMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/DeleteRoleMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/RemoveEntityRoleMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/UpdateRoleMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/AddEntityGroupMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/CreateGroupMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/RemoveEntityGroupMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/UpdateGroupMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/tenant/AddEntityTenantMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/tenant/CreateTenantMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/tenant/RemoveEntityTenantMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/tenant/UpdateTenantMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/user/CreateUserMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/user/CreateUserTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/user/DeleteUserMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/user/UpdateUserMultiPartitionTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AddPermissionsTest.java
Labels: component/zeebe

#24493 [Backport stable/8.6] ci: do not auto-merge release PRs
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe

#24458 feat: add getProcessInstancesNextBatch to OS repository
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/archiver/OpenSearchRepository.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/archiver/OpenSearchRepositoryIT.java
Labels: component/zeebe

#24497 ci: push testbench images to SaaS registry
  .github/workflows/zeebe-testbench.yaml
Labels: component/build-pipeline, component/zeebe

#24519 fix: switch client credential cache key to clientId
  clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsCache.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsProvider.java
  clients/java/src/test/java/io/camunda/zeebe/client/OAuthCredentialsProviderTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsCacheTest.java
  clients/java/src/test/resources/oauth/credentialsCache.yml
Labels: backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5, backport stable/8.6

#24489 fix: extract version tag only once
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ProcessHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/utils/XMLUtil.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/ProcessHandlerTest.java
Labels: component/zeebe

#24434 feat: export Job-based User Tasks
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/TaskEntity.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UserTaskHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UserTaskJobBasedHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/UserTaskHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/UserTaskJobBasedHandlerTest.java
Labels: component/zeebe

#24405 Flaky test fix for CamundaExporterIT
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/CamundaExporterHandlerIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/CamundaExporterHandlerITInvocationProvider.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/SearchClientAdapter.java
Labels: component/zeebe

#23785 ci: introduce a new composite action setup-build
  .github/actions/build-operate-setup/action.yml
  .github/actions/build-tasklist-setup/action.yml
  .github/actions/setup-build/action.yml
  .github/actions/setup-maven/README.md
  .github/actions/setup-maven/action.yml
  .github/actions/setup-zeebe/action.yml
  .github/workflows/camunda-platform-release.yml
  .github/workflows/ci.yml
  .github/workflows/operate-ci-build-observe-reusable.yml
  .github/workflows/operate-ci-build-reusable.yml
  .github/workflows/operate-ci-test-reusable.yml
  .github/workflows/operate-release-reusable.yml
  .github/workflows/optimize-ci-build-reusable.yml
  .github/workflows/optimize-ci.yml
  .github/workflows/optimize-deploy-artifacts.yml
  .github/workflows/optimize-e2e-test-cloud.yml
  .github/workflows/optimize-e2e-tests-sm.yml
  .github/workflows/optimize-release-optimize-c8-only.yml
  .github/workflows/optimize-zeebe-compatibility.yml
  .github/workflows/preview-env-build-and-deploy.yml
  .github/workflows/rdbms-integration-test.yml
  .github/workflows/tasklist-ci-build-reusable.yml
  .github/workflows/tasklist-ci-test-reusable.yml
  .github/workflows/update-identity.yml
  .github/workflows/zeebe-benchmark.yml
  .github/workflows/zeebe-ci.yml
  .github/workflows/zeebe-snyk.yml
  .github/workflows/zeebe-testbench.yaml
  .github/workflows/zeebe-version-compatibility.yml
  zeebe/docs/ci.md
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#24384 Migrate escalation boundary events
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateEscalationEventTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceRejectionTest.java
Labels: component/zeebe

#24388 Batchoperation jobs only in partition 1
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/archiver/Archiver.java
Labels: component/zeebe

#24240 Add support for filtering listener per flow node instance
  operate/client/e2e-playwright/pages/ProcessInstance.ts
  operate/client/e2e-playwright/tests/processInstanceListeners.spec.ts
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/Listeners/index.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/index.tsx
  operate/client/src/modules/api/processInstances/fetchProcessInstanceListeners.ts
  operate/client/src/modules/mocks/mockListenerInstances.ts
  operate/client/src/modules/stores/processInstanceListeners.test.ts
  operate/client/src/modules/stores/processInstanceListeners.ts
  operate/client/src/modules/types/operate.d.ts
Labels: component/operate, component/frontend, deploy-preview

#24386 Migrate escalation event subprocesses
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateEscalationEventSubprocessTest.java
Labels: component/zeebe

#24320 Operation rejection from Task Listeners: changes to the processing
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/record/value/JobRecordValueImpl.java
  tasklist/importer-870/src/main/java/io/camunda/tasklist/zeebeimport/v870/record/value/JobRecordValueImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobCompleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/writers/ResultBuilderBackedTypedResponseWriter.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/writers/TypedResponseWriter.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/UserTaskCommandProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/UserTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UserTaskCompletionDeniedApplier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/JobClient.java
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-job-batch-template.json
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-job-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-job-batch-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-job-template.json
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/job/JobRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/job/JobResult.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/UserTaskIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/JobRecordValue.java
Labels: component/zeebe, component/tasklist

#24499 OS repository implement setIndexLifeclePolicy
  zeebe/exporters/camunda-exporter/pom.xml
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/archiver/OpenSearchRepository.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/archiver/OpenSearchRepositoryIT.java
Labels: component/zeebe

#24512 fix: allow empty operate index prefix
  operate/common/src/main/java/io/camunda/operate/property/OperateElasticsearchProperties.java
  operate/common/src/main/java/io/camunda/operate/property/OperateOpensearchProperties.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/IndexOldSchemaValidatorIT.java
  operate/schema/src/main/java/io/camunda/operate/schema/IndexSchemaValidator.java
  operate/schema/src/main/java/io/camunda/operate/schema/elasticsearch/ElasticsearchSchemaManager.java
  operate/schema/src/main/java/io/camunda/operate/schema/migration/Migrator.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/AbstractIndexDescriptor.java
Labels: component/operate

#24439 fix: rework java_home handling in c8run
  c8run/internal/run.sh
  c8run/start.sh
  c8run/windows/c8run_windows.go
Labels: component/c8run

#24514 fix: rework java_home handling in c8run
  c8run/internal/run.sh
  c8run/start.sh
  c8run/windows/c8run_windows.go
Labels: component/c8run

#24531 [Backport stable/8.6] fix: switch client credential cache key to clientId
  clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsCache.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsProvider.java
  clients/java/src/test/java/io/camunda/zeebe/client/OAuthCredentialsProviderTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsCacheTest.java
  clients/java/src/test/resources/oauth/credentialsCache.yml
Labels: component/zeebe

#24436 Migrate compensation boundary event subscriptions
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnCompensationSubscriptionBehaviour.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationCatchEventBehaviour.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/CompensationSubscriptionMigratedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateCompensationSubscriptionTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/CompensationSubscriptionIntent.java
Labels: component/zeebe

#24530 [Backport stable/8.5] fix: switch client credential cache key to clientId
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsCache.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsProvider.java
  zeebe/clients/java/src/test/java/io/camunda/zeebe/client/OAuthCredentialsProviderTest.java
  zeebe/clients/java/src/test/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsCacheTest.java
  zeebe/clients/java/src/test/resources/oauth/credentialsCache.yml
Labels: component/zeebe

#24466 refactor: rename FormEntity.bpmnId to formId
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/FormEntity.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/FormHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/FormHandlerTest.java
Labels: component/zeebe

#24597 ci: fix how we create testbench generations
  .github/workflows/zeebe-testbench.yaml
Labels: component/build-pipeline, component/zeebe

#24518 [Backport stable/8.6] ci: push testbench images to SaaS registry
  .github/workflows/zeebe-testbench.yaml
Labels: component/build-pipeline, component/zeebe

#24426 Add group delete processor
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/GroupDeletedApplier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/DeleteGroupMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/GroupTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/GroupClient.java
Labels: component/zeebe

#24204 feat: add advanced rest long & int filters
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/filter/DecisionInstanceFilter.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/filter/ProcessInstanceFilter.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/filter/UserTaskFilter.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/filter/VariableFilter.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/filter/DecisionInstanceFilterImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/filter/ProcessInstanceFilterImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/filter/UserTaskFilterImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/search/filter/VariableFilterImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/util/FilterUtil.java
  clients/java/src/test/java/io/camunda/zeebe/client/decision/SearchDecisionInstanceTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/process/QueryProcessInstanceTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/usertask/SearchUserTaskTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/variable/SearchVariableTest.java
  dist/src/main/java/io/camunda/application/StandaloneCamunda.java
  dist/src/main/java/io/camunda/application/commons/sources/DefaultObjectMapperConfiguration.java
  dist/src/main/java/io/camunda/application/sources/DefaultObjectMapperConfiguration.java
  operate/common/src/main/java/io/camunda/operate/JacksonConfig.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/BasicAuthIT.java
  qa/integration-tests/src/test/java/io/camunda/it/client/DecisionQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/UserTaskQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/VariableQueryTest.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestStandaloneCamunda.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/DecisionInstanceFilterTransformer.java
  tasklist/common/src/main/java/io/camunda/tasklist/JacksonConfig.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/JacksonConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/deserializer/BasicLongFilterPropertyDeserializer.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/deserializer/FilterDeserializer.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/deserializer/IntegerFilterPropertyDeserializer.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/deserializer/LongFilterPropertyDeserializer.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/util/AdvancedSearchFilterUtil.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/RestControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DecisionInstanceQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserTaskQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/VariablesQueryControllerTest.java
Labels: component/zeebe, component/operate, component/c8-api, component/tasklist, component/optimize

#24608 ci: fix saas registry login
  .github/workflows/zeebe-testbench.yaml
Labels: component/build-pipeline, component/zeebe

#24520 feat: export embedded forms
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/EmbeddedFormBatch.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/FormEntity.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/EmbeddedFormHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/FormHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/utils/ProcessModelReader.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/utils/XMLUtil.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/EmbeddedFormHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/FormHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/resources/process/one-embedded-form-process.bpmn
  zeebe/exporters/camunda-exporter/src/test/resources/process/two-embedded-form-process.bpmn
  zeebe/exporters/camunda-exporter/src/test/resources/process/two-process-with-embedded-form.bpmn
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#24563 test: refactors some ITs to unit tests
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/ElasticsearchRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/ElasticsearchRepositoryTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/OpenSearchRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/OpenSearchRepositoryTest.java
Labels: component/zeebe

#24602 Add `action` User Task property logging to `CompactRecordLogger`
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
Labels: component/zeebe

#24596 Release/optimize 8.6.2
  .github/workflows/optimize-run-java-checks.yml
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/plan/factories/Upgrade862To863PlanFactory.java
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Labels: component/build-pipeline, component/optimize

#24616 [Backport stable/8.5] ci: fix registry used for testbench images
  .github/workflows/zeebe-testbench.yaml
Labels: component/zeebe

#24431 feat: support user delete in the rest API
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserControllerTest.java
Labels: component/zeebe, component/c8-api

#24615 [Backport stable/8.6] ci: fix registry used for testbench images
  .github/workflows/zeebe-testbench.yaml
Labels: component/build-pipeline, component/zeebe

#24592 fix: allow empty tasklist index prefix
  tasklist/common/src/main/java/io/camunda/tasklist/property/TasklistElasticsearchProperties.java
  tasklist/common/src/main/java/io/camunda/tasklist/property/TasklistOpenSearchProperties.java
  tasklist/els-schema/pom.xml
  tasklist/els-schema/src/main/java/io/camunda/tasklist/es/IndexSchemaValidatorElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/os/IndexSchemaValidatorOpenSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/indices/AbstractIndexDescriptor.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/ElasticsearchSchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/migration/es/ElasticSearchMigrator.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/migration/os/OpenSearchMigrator.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/templates/AbstractTemplateDescriptor.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/util/IndexSchemaValidatorUtil.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/IndexSchemaValidatorIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/IndexSchemaValidatorIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/ElasticsearchTestExtension.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/AbstractIndexDescriptor.java
Labels: component/tasklist

#24621 perf: remove redundant synchronized
  clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsCache.java
Labels: component/zeebe, backport stable/8.6

#24624 [Backport stable/8.6] perf: remove redundant synchronized
  clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsCache.java
Labels: component/zeebe

#24622 Remove unused archiver property rolloverDateFormat from the Exporter
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/config/ConfigValidator.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/config/ExporterConfiguration.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/config/ConfigValidatorTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#24576 Enable OpenSearch support for Archiver
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/BackgroundTaskManager.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/ElasticsearchRepository.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/ElasticsearchRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/OpenSearchRepositoryIT.java
Labels: component/zeebe

#24636 Mapping deleted record are exported
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/MappingDeletedHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/CamundaExporterHandlerIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/MappingDeletedHandlerTest.java
Labels: component/zeebe

#24037 feat: rework tree path
  operate/importer-8_6/pom.xml
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/v8_6/processors/ListViewZeebeRecordProcessor.java
  operate/importer-8_7/pom.xml
  operate/importer-8_7/src/main/java/io/camunda/operate/zeebeimport/processors/ListViewZeebeRecordProcessor.java
  operate/importer/pom.xml
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/post/elasticsearch/ElasticsearchIncidentPostImportAction.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/post/opensearch/OpensearchIncidentPostImportAction.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/TestUtil.java
  operate/schema/pom.xml
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchProcessStore.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchProcessStore.java
  operate/webapp/pom.xml
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/FlowNodeInstanceReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/IncidentReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/ProcessInstanceReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/reader/OpensearchFlowNodeInstanceReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/reader/OpensearchIncidentReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/listview/ListViewProcessInstanceDto.java
  qa/integration-tests/src/test/java/io/camunda/it/utils/BrokerWithCamundaExporterITInvocationProvider.java
  webapps-common/src/main/java/io/camunda/webapps/operate/TreePath.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/ProcessEntity.java
  zeebe/exporters/camunda-exporter/pom.xml
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/adapters/ElasticsearchAdapter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/adapters/OpensearchAdapter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/cache/ExporterEntityCacheProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/cache/process/CachedProcessEntity.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/cache/process/ElasticSearchProcessCacheLoader.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/cache/process/OpenSearchProcessCacheLoader.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/FlowNodeInstanceProcessInstanceHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/IncidentHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewFlowNodeFromJobHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewFlowNodeFromProcessInstanceHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromIncidentHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromProcessInstanceHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/PostImporterQueueFromIncidentHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ProcessHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/SequenceFlowHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/TaskCompletedMetricHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UserTaskCompletionVariableHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UserTaskProcessInstanceHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/utils/XMLUtil.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/cache/ProcessCacheImplIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/IncidentHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromIncidentHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromProcessInstanceHandlerTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#24511 impl: compose `treePath` for incident entity
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/IncidentHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromIncidentHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/utils/ProcessCacheUtil.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/IncidentHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromIncidentHandlerTest.java
Labels: component/zeebe, component/operate, hold/do-not-merge, component/tasklist, component/optimize

#24495 Add support for group create and update event exporting
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/usermanagement/index/GroupIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/usermanagement/GroupEntity.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/index/identity-groups.json
  webapps-schema/src/main/resources/schema/opensearch/create/index/identity-groups.json
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/GroupCreatedUpdatedHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/CamundaExporterHandlerIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/GroupCreatedUpdatedHandlerTest.java
Labels: component/zeebe

#24643 Improve unauthorized error messages
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/dmn/DecisionEvaluationEvaluteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupAddEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupRemoveEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupUpdateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/MappingDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/RoleAddEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/RoleDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/RoleRemoveEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/RoleUpdateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/incident/IncidentResolveProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/DefaultJobCommandPreconditionGuard.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobFailProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/behaviour/JobUpdateBehaviour.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageCorrelationCorrelateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCancelProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCreationCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceModificationModifyProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/resource/ResourceDeletionDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/signal/SignalBroadcastProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantAddEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantRemoveEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantUpdateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/UserDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/UserUpdateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskCommandPreconditionChecker.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableDocumentUpdateProcessor.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/DecisionEvaluationEvaluateAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/IncidentResolveAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/JobCompleteAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/JobFailAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/JobUpdateAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/MessageCorrelationCorrelateAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/ProcessInstanceCancelAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/ProcessInstanceCreateAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/ProcessInstanceMigrationMigrateAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/ProcessInstanceModificationModifyAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/ResourceDeletionAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/SignalBroadcastAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/UserTaskAssignAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/UserTaskClaimAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/UserTaskCompleteAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/UserTaskUpdateAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/VariableDocumentUpdateAuthorizationIT.java
Labels: component/zeebe

#24535 feat: add authorization checks on User task GET endpoints
  dist/src/main/java/io/camunda/application/commons/service/CamundaServicesConfiguration.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/ProcessAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/UserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/client/UserTaskQueryTest.java
  search/search-domain/src/main/java/io/camunda/search/filter/VariableFilter.java
  service/src/main/java/io/camunda/service/UserTaskServices.java
  service/src/test/java/io/camunda/service/UserTaskServiceTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/UserTaskQueryController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserTaskQueryControllerTest.java
Labels: component/zeebe, component/operate, component/c8-api, component/tasklist, component/optimize

#24605 Reject adding permissions if already exists
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationAddPermissionProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/PermissionsBehavior.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AddPermissionAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/AuthorizationClient.java
Labels: component/zeebe

#24660 fix: Determine Commercial License status for invalid licenses
  optimize/backend/src/main/java/io/camunda/optimize/license/CamundaLicense.java
  service/src/main/java/io/camunda/service/license/CamundaLicense.java
Labels: component/optimize

#24674 fix: remove version from optimize docs links
  optimize/client/src/modules/HOC/withDocs.tsx
Labels: deploy-preview, backport stable/optimize-8.6

#24680 fix: throw correct error instead of InternalError
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationRequestFailedException.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/ConfigurationChangeCoordinatorImpl.java
Labels: backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5, backport stable/8.6

#24689 [Backport stable/8.6] fix: throw correct error instead of InternalError
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationRequestFailedException.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/ConfigurationChangeCoordinatorImpl.java
Labels: component/zeebe

#24632 feat: remove DeserializationFeature.FAIL_ON_UNKNOWN_PROPERTIES
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/es/OptimizeElasticsearchClient.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/util/mapper/ObjectMapperFactory.java
Labels: component/optimize

#24694 ci: ignore flaky tests (temp)
  qa/pom.xml
  zeebe/qa/integration-tests/pom.xml
Labels: component/build-pipeline, component/zeebe

#24682 fix: Fixing bug with Instant Preview Dashboard
  optimize/backend/src/main/java/io/camunda/optimize/service/dashboard/DashboardService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/os/writer/InstantDashboardMetadataWriterOS.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/builders/OptimizeDeleteOperationBuilderOS.java
Labels: component/optimize

#24637 Reject operation from task listener: protocol changes
  service/src/main/java/io/camunda/service/JobServices.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/CompleteJobTest.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/RequestMapper.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/RequestMapperTest.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/api/job/CompleteJobTest.java
  zeebe/gateway-protocol/src/main/proto/gateway.proto
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/JobController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserTaskControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerCompleteJobRequest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/job/JobRecord.java
Labels: component/zeebe, component/c8-api

#24631 feat: start form link
  qa/integration-tests/src/test/resources/process/process_start_form.bpmn
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/ProcessEntity.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/index/operate-process.json
  webapps-schema/src/main/resources/schema/opensearch/create/index/operate-process.json
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ProcessHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/utils/ProcessModelReader.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/utils/XMLUtil.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/ProcessHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/resources/process/form-embedded-process.bpmn
  zeebe/exporters/camunda-exporter/src/test/resources/process/form-link-process.bpmn
  zeebe/exporters/camunda-exporter/src/test/resources/process/two-process-with-embedded-form.bpmn
Labels: component/zeebe

#24666 refactor: ensure task manager is retry-able and test-able
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/repo/ExporterRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/ExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/BackgroundTaskManager.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/CamundaExporterHandlerIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/BackgroundTaskManagerTest.java
Labels: component/zeebe

#24136 feat: source event position is updated during batch processing
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/BufferedProcessingResultBuilder.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingStateMachine.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorTest.java
Labels: component/zeebe

#24673 fix: cancel user tasks on instance modification
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceModificationModifyProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ModifyProcessInstanceTerminationTest.java
Labels: backport stable/8.5, backport stable/8.6

#24567 feat: apply authorization on Process instance GET endpoints
  qa/integration-tests/src/test/java/io/camunda/it/auth/ProcessInstanceAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceQueryTest.java
  search/search-domain/src/main/java/io/camunda/search/entities/VariableEntity.java
  service/src/main/java/io/camunda/service/FlowNodeInstanceServices.java
  service/src/main/java/io/camunda/service/IncidentServices.java
  service/src/main/java/io/camunda/service/ProcessInstanceServices.java
  service/src/main/java/io/camunda/service/VariableServices.java
  service/src/test/java/io/camunda/service/FlowNodeInstanceServiceTest.java
  service/src/test/java/io/camunda/service/IncidentServiceTest.java
  service/src/test/java/io/camunda/service/ProcessInstanceServiceTest.java
  service/src/test/java/io/camunda/service/VariableServiceTest.java
  service/src/test/java/io/camunda/service/security/SecurityContextProviderTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/FlowNodeInstanceQueryController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/IncidentQueryController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceQueryController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/VariableQueryController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserTaskQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/VariablesQueryControllerTest.java
Labels: component/zeebe, component/c8-api

#24655 feat: add authorization checks on decision instance GET endpoint
  qa/integration-tests/src/test/java/io/camunda/it/auth/DecisionInstanceAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/client/DecisionQueryTest.java
  service/src/main/java/io/camunda/service/DecisionInstanceServices.java
  service/src/test/java/io/camunda/service/DecisionInstanceServiceTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/DecisionInstanceQueryController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DecisionInstanceQueryControllerTest.java
Labels: component/zeebe, component/c8-api

#24635 test: Fix Tasklist E2E tests
  tasklist/client/e2e/pageElements/TaskFormView.ts
  tasklist/client/e2e/tests/task-details.spec.ts
  tasklist/client/e2e/utils/waitForAssertion.ts
Labels: component/tasklist

#23864 feat: exporters support role create/update events
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/usermanagement/RoleIndexDescriptor.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/usermanagement/index/RoleIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/usermanagement/RoleEntity.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/index/identity-role.json
  webapps-schema/src/main/resources/schema/opensearch/create/index/identity-role.json
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/RoleCreateUpdateHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/CamundaExporterHandlerIT.java
Labels: component/zeebe

#24696 [Backport stable/8.5] fix: cancel user tasks on instance modification
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceModificationModifyProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ModifyProcessInstanceTerminationTest.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/UserTaskRecordStream.java
Labels: component/zeebe

#24656 ci: switch e2e tests to run on chrome
  .github/workflows/optimize-e2e-tests-sm.yml
  optimize/client/package.json
Labels: component/build-pipeline, component/optimize, backport stable/optimize-8.6

#24418 feat: add role endpoints
  service/src/main/java/io/camunda/service/RoleServices.java
  service/src/test/java/io/camunda/service/RoleServiceTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleQueryController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/RoleRequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleQueryControllerTest.java
Labels: component/zeebe, component/c8-api

#24697 [Backport stable/8.6] fix: cancel user tasks on instance modification
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceModificationModifyProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ModifyProcessInstanceTerminationTest.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/UserTaskRecordStream.java
Labels: component/zeebe

#24568 Migrate compensation boundary event subscriptions only by boundary event mapping
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnCompensationSubscriptionBehaviour.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationCatchEventBehaviour.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateCompensationSubscriptionRejectionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateCompensationSubscriptionTest.java
Labels: component/zeebe

#24695 Handle potential null aggregate
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/BatchOperationArchiverJob.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/ElasticsearchRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/OpenSearchRepository.java
Labels: component/zeebe

#24221 feat: support keyset pagination in RDBMS #23997
  db/rdbms/pom.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/DbQueryPage.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/DbQuerySorting.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/ProcessDefinitionDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/ProcessInstanceDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/AbstractEntityReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/ProcessDefinitionReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/ProcessInstanceReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/SearchColumnFinder.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/ProcessDefinitionMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/ProcessInstanceMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/SearchColumn.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/VariableDbModel.java
  db/rdbms/src/main/resources/db/changelog/rdbms-support/changesets/create_engine.xml
  db/rdbms/src/main/resources/db/vendor-properties/h2.properties
  db/rdbms/src/main/resources/db/vendor-properties/mariadb.properties
  db/rdbms/src/main/resources/db/vendor-properties/oracle.properties
  db/rdbms/src/main/resources/db/vendor-properties/postgresql.properties
  db/rdbms/src/main/resources/mapper/Commons.xml
  db/rdbms/src/main/resources/mapper/ProcessDefinitionMapper.xml
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
  db/rdbms/src/main/resources/mapper/VariableMapper.xml
  db/rdbms/src/test/java/io/camunda/db/rdbms/read/service/AbstractEntityReaderTest.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/ProcessDefinitionFixtures.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/ProcessInstanceFixtures.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/processdefinition/ProcessDefinitionIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/processdefinition/ProcessDefinitionSortIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/processdefinition/ProcessDefinitionSpecificFilterIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/processinstance/ProcessInstanceIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/processinstance/ProcessInstanceSortIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/processinstance/ProcessInstanceSpecificFilterIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/variables/VariableIT.java
  search/search-client-rdbms/src/main/java/io/camunda/search/rdbms/RdbmsSearchClient.java
  zeebe/exporters/rdbms-exporter/pom.xml
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/FlowNodeExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/ProcessInstanceExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/VariableExportHandler.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/DateUtil.java
Labels: component/build-pipeline, component/zeebe, component/rdbms

#24293 refactor: enable carbon css reset
  optimize/client/src/components/Analysis/BranchAnalysis/Statistics.js
  optimize/client/src/components/Analysis/BranchAnalysis/__snapshots__/Statistics.test.js.snap
  optimize/client/src/components/Analysis/TaskAnalysis/OutlierDetailsModal.scss
  optimize/client/src/components/Analysis/TaskAnalysis/OutlierDetailsModal.tsx
  optimize/client/src/components/Analysis/TaskAnalysis/TaskAnalysis.js
  optimize/client/src/components/Analysis/TaskAnalysis/TaskAnalysis.scss
  optimize/client/src/components/Dashboards/filters/FiltersView.js
  optimize/client/src/components/Dashboards/filters/FiltersView.scss
  optimize/client/src/components/Home/SourcesList.js
  optimize/client/src/components/Reports/ConflictModal.tsx
  optimize/client/src/components/Reports/__snapshots__/ConflictModal.test.tsx.snap
  optimize/client/src/components/Reports/controlPanels/DefinitionList/RenameVariablesModal.scss
  optimize/client/src/components/Reports/controlPanels/DefinitionList/RenameVariablesModal.tsx
  optimize/client/src/modules/components/Deleter/Deleter.js
  optimize/client/src/modules/components/Deleter/__snapshots__/Deleter.test.js.snap
  optimize/client/src/modules/components/DownloadButton/DownloadButton.tsx
  optimize/client/src/modules/components/ReportDetails/SingleReportDetails.scss
  optimize/client/src/modules/components/ReportRenderer/NoDataNotice.scss
  optimize/client/src/modules/filter/AppliedToInfo.scss
  optimize/client/src/modules/filter/Filter.scss
  optimize/client/src/modules/filter/modals/NodeSelection/NodeSelection.scss
  optimize/client/src/modules/filter/modals/NodeSelection/NodeSelection.tsx
  optimize/client/src/modules/filter/modals/duration/DurationFilter.tsx
  optimize/client/src/modules/filter/modals/nodeDate/NodeDateFilter.tsx
  optimize/client/src/modules/services/formatters.test.ts
  optimize/client/src/modules/services/formatters.tsx
  optimize/client/src/modules/shared-styles/mixins/mixins.scss
  optimize/client/src/modules/shared-styles/mixins/visually-hidden.scss
  optimize/client/src/style.scss
Labels: component/optimize

#24685 feat: add endpoint for role deletion
  service/src/main/java/io/camunda/service/RoleServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/role/BrokerRoleDeleteRequest.java
Labels: component/zeebe, component/c8-api

#24710 Use multi-line string in `denied` description
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe, component/c8-api

#24213 Add process cache metrics
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/ExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/cache/ExporterCacheMetrics.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/cache/ExporterEntityCacheImpl.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/CamundaExporterHandlerIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/DefaultExporterResourceProviderTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/cache/FormCacheIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/cache/ProcessCacheImplIT.java
Labels: component/zeebe
