Repository camunda/camunda, pull requests merged in 2024-07, with the labels that each got.

#19749 [Backport stable/operate-8.5] Backport build-platform-docker GHA
  .github/actions/build-platform-docker/action.yml
Labels: component/zeebe, component/operate

#19911 test: disable RollingUpdateTest
  zeebe/qa/update-tests/src/test/java/io/camunda/zeebe/test/RollingUpdateTest.java
Labels: component/zeebe

#19882 ci: add custom matcher for Playwright script
  .github/renovate.json
Labels: component/zeebe, component/operate, component/tasklist

#19333 Support job activation over REST in Java client
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/ActivateJobsCommandStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/ActivateJobsCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/ActivateJobsResponseImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/ActivatedJobImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/worker/JobClientImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/TopologyRequestRestTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/impl/worker/JobStreamImplTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/job/ActivateJobsRestTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/util/RestGatewayService.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/impl/job/LongPollingActivateJobsRestTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/ActivateJobsTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/LongPollingActivateJobsTest.java
Labels: component/zeebe

#19876 Stream processor failure proper rejection
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/api/PartitionInactiveException.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/BrokerRequestManager.java
  zeebe/broker-client/src/test/java/io/camunda/zeebe/broker/client/api/BrokerClientTest.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
Labels: component/zeebe

#19878 feat: Create a Spring integration for Process Testing
  parent/pom.xml
  pom.xml
  testing/README.md
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/ContainerRuntimeDefaults.java
  testing/camunda-process-test-spring/README.md
  testing/camunda-process-test-spring/pom.xml
  testing/camunda-process-test-spring/revapi.json
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/api/CamundaProcessTestExecutionListener.java
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/api/CamundaSpringProcessTest.java
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/impl/configuration/CamundaContainerRuntimeConfiguration.java
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/impl/configuration/CamundaProcessTestAutoConfiguration.java
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/impl/configuration/CamundaProcessTestDefaultConfiguration.java
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/impl/configuration/CamundaProcessTestProxyConfiguration.java
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/impl/proxy/AbstractInvocationHandler.java
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/impl/proxy/CamundaProcessTestContextProxy.java
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/impl/proxy/ZeebeClientProxy.java
  testing/camunda-process-test-spring/src/test/java/io/camunda/process/test/api/CamundaSpringProcessTestListenerIT.java
  testing/camunda-process-test-spring/src/test/java/io/camunda/process/test/api/ExecutionListenerTest.java
  testing/camunda-process-test-spring/src/test/resources/application.yml
Labels: component/zeebe, component/operate, component/tasklist

#19778 Add build backend and frontend to unified ci
  .github/actions/paths-filter/action.yml
  .github/workflows/ci.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist

#19907 fix: use and spring profile operator
  dist/src/main/java/io/camunda/tasklist/TasklistSecurityStubsConfiguration.java
Labels: component/zeebe, component/operate, component/tasklist

#19902 ci: prevent merge queue bypass of cancelled jobs
  .github/workflows/operate-merge-ci.yaml
  .github/workflows/tasklist-merge-ci.yml
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist

#19904 Unflake `ProcessInstanceMigrationClusteredTest`
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ProcessInstanceMigrationClusteredTest.java
Labels: component/zeebe

#19823 Allow disabling REST gateway security through configuration
  dist/src/main/java/io/camunda/zeebe/shared/security/SecurityConfiguration.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/GatewayAuthenticationNoneIT.java
Labels: component/zeebe, component/operate, backport stable/8.5, component/tasklist

#19950 2862 crud groups identity unified api
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RestErrorMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/ErrorMapperTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/GroupControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserControllerTest.java
Labels: component/zeebe

#19914 chore(ci): fix timeouts and memory issues brought by adding in Optimize
  .github/workflows/ci.yml
  .github/workflows/operate-ci-test-reusable.yml
  .github/workflows/operate-docker-tests.yml
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist

#19727 feat: add execution count toggle
  operate/client/e2e-playwright/pages/ProcessInstance.ts
  operate/client/e2e-playwright/tests/processInstance.spec.ts
  operate/client/e2e-playwright/visual/processInstance.spec.ts
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-add-variable-state---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-add-variable-state---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-completed-instance---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-completed-instance---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-edit-variable-state---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-edit-variable-state---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-error-page---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-error-page---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-instance-with-incident---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-instance-with-incident---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-running-instance---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-running-instance---light-1-chromium-linux.png
  operate/client/src/App/ProcessInstance/FlowNodeInstanceLog/ExecutionCountToggle/index.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstanceLog/ExecutionCountToggle/index.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstanceLog/index.tsx
  operate/client/src/App/ProcessInstance/TopPanel/index.tsx
  operate/client/src/modules/stores/executionCountToggle.ts
Labels: component/operate

#19736 Add constant query test (ES)
  search/search-client-elasticsearch/src/test/java/io/camunda/search/es/transformers/query/ConstantScoreQueryTransformerTest.java
  search/search-client/pom.xml
  search/search-client/src/main/java/io/camunda/search/clients/query/SearchConstantScoreQuery.java
  search/search-client/src/main/java/io/camunda/search/clients/query/SearchIdsQuery.java
  search/search-client/src/main/java/io/camunda/search/clients/query/SearchQueryBuilders.java
  search/search-client/src/main/java/io/camunda/util/CollectionUtil.java
  search/search-client/src/test/java/io/camunda/util/CollectionUtilTest.java
Labels: component/zeebe

#18680 test: e2e test for zeebe userTask completion
  .github/workflows/tasklist-e2e-tests.yml
  tasklist/client/e2e/pageElements/TaskFormView.ts
  tasklist/client/e2e/pageElements/TasksPage.ts
  tasklist/client/e2e/resources/Zeebe_Process.bpmn
  tasklist/client/e2e/tests/processes-page.spec.ts
  tasklist/client/e2e/tests/task-details.spec.ts
  tasklist/client/e2e/tests/task-panel.spec.ts
  tasklist/client/e2e/tests/variables.spec.ts
Labels: component/build-pipeline, component/tasklist

#19870 Merge branch 'release/optimize-8.6.0-alpha3'
  optimize/backend/src/main/java/io/camunda/optimize/dto/zeebe/ZeebeRecordDto.java
  optimize/pom.xml
Labels: component/optimize

#19978 test: simplify REST error mapper test
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/TestApplication.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ErrorMapperTest.java
Labels: component/zeebe

#19568 Optionally limit Zeebe's overall write rate
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/FlowControlCfg.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/backpressure/LimitCfg.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/backpressure/RateLimitCfg.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/LogStreamPartitionTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/configuration/FlowControlCfgTest.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/LogStreamMetrics.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/FlowControl.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/InFlightEntry.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/RateLimit.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogStreamBuilderImpl.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogStreamImpl.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/log/LogStreamBuilder.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/flowcontrol/FlowControlTest.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/util/SyncLogStreamBuilder.java
Labels: component/zeebe, component/operate, component/tasklist

#19959 fix: retry of aborted snapshot replication can succeed
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/PassiveRole.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#19990 ci: stabilize `RollingUpdateTest`
  .github/workflows/zeebe-version-compatibility.yml
  zeebe/qa/update-tests/src/test/java/io/camunda/zeebe/test/RollingUpdateTest.java
  zeebe/qa/update-tests/src/test/java/io/camunda/zeebe/test/VersionCompatibilityMatrix.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/StreamUtil.java
Labels: component/build-pipeline, component/zeebe

#19970 feat: crud roles identity unified api
  identity/common/pom.xml
  identity/common/src/main/java/io/camunda/identity/automation/permissions/PermissionEnum.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/GlobalControllerExceptionHandler.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/RoleControllerTest.java
Labels: component/zeebe, component/identity

#19636 ci: create workflow to release c8 optimize
  .github/renovate.json5
  .github/scripts/build-release-docker-image.sh
  .github/scripts/execute-release.sh
  .github/scripts/update-previous-version.sh
  .github/scripts/update_example_repo.sh
  .github/workflows/optimize-release-optimize-c8-only.yml
Labels: component/build-pipeline, component/optimize

#20006 fix: improve treePathCache and DatabaseInfo access
  operate/common/src/main/java/io/camunda/operate/conditions/DatabaseInfo.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/processors/FlowNodeInstanceZeebeRecordProcessor.java
Labels: component/operate

#19988 fix: do not use combined checksum for snapshot integrity
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteredSnapshotTest.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStore.java
Labels: component/zeebe

#20004 [Backport stable/8.5] ci: stabilize RollingUpdateTest
  .github/workflows/zeebe-version-compatibility.yml
  zeebe/qa/update-tests/src/test/java/io/camunda/zeebe/test/VersionCompatibilityMatrix.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/StreamUtil.java
Labels: component/zeebe

#20008 fix: apply correct license header for 8.5
  zeebe/util/src/main/java/io/camunda/zeebe/util/StreamUtil.java
Labels: component/zeebe

#18639 test: complete a process started by deployed form
  tasklist/client/e2e/pageElements/ProcessesPage.ts
  tasklist/client/e2e/resources/processWithStartNodeFormDeployed.bpmn
  tasklist/client/e2e/tests/processes-page.spec.ts
Labels: component/tasklist

#19530 feat: Adding provision to have a result processor for workers
  spring-boot-starter-camunda-sdk/CONTRIBUTORS.md
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/bean/MethodInfo.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientAllAutoConfiguration.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/jobhandling/JobHandlerInvokingSpringBeans.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/jobhandling/JobWorkerManager.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/jobhandling/result/DefaultResultProcessor.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/jobhandling/result/DefaultResultProcessorStrategy.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/jobhandling/result/ResultProcessor.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/jobhandling/result/ResultProcessorStrategy.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/jobhandling/result/DefaultResultProcessorStrategyTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/jobhandling/result/DefaultResultProcessorTest.java
Labels: component/zeebe

#19409 Feat: Add endpoint to configure and get flow control
  dist/pom.xml
  dist/src/main/java/io/camunda/zeebe/shared/management/FlowControlEndpoint.java
  dist/src/main/java/io/camunda/zeebe/shared/management/FlowControlServiceImpl.java
  zeebe/broker/pom.xml
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/NoOpPartitionAdminAccess.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/PartitionAdminAccess.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/FlowControlCfg.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/backpressure/LimitCfg.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionAdminAccess.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/LogStreamPartitionTransitionStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/adminapi/AdminApiRequestHandler.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/adminapi/ApiRequestReader.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/adminapi/ApiResponseWriter.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/admin/BrokerAdminRequest.java
  zeebe/logstreams/pom.xml
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/FlowControl.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/FlowControlLimits.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/LimitSerializer.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogStreamBuilderImpl.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/encoding/AdminRequest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/encoding/AdminResponse.java
  zeebe/protocol/src/main/resources/cluster-management-protocol.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/management/FlowControlEndpointIT.java
  zeebe/qa/util/pom.xml
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/FlowControlActuator.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/GetFlowControlActuator.java
Labels: component/zeebe, component/operate, component/tasklist

#19987 Simplify REST data model
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/UpdateUserTaskCommandImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/usertask/UpdateUserTaskTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
Labels: component/zeebe, component/operate, component/tasklist

#20002 feat: allow overriding default `maxInboundMetadataSize` through config and change default to 16KB
  clients/java/src/main/java/io/camunda/zeebe/client/ClientProperties.java
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientBuilder.java
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientConfiguration.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientBuilderImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientCloudBuilderImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/ZeebeClientTest.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/PropertyUtil.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientConfigurationImpl.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/common/ZeebeClientProperties.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationDefaultPropertiesTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationImplSaasTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationImplSelfManagedTest.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#19600 fix: limit validation result output to a certain size and print the number of remaining errors
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  parent/pom.xml
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/engine/EngineCfg.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/engine/ValidatorsCfg.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/configuration/EngineCfgTest.java
  zeebe/broker/src/test/resources/system/engine.yaml
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/EngineConfiguration.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/DeploymentCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/BpmnFactory.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/BpmnResourceTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/BpmnValidator.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/DeploymentTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/ValidationErrorFormatter.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#19996 fix: correct Intermediate Catch/Throw events processing flow
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/IntermediateCatchEventProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/event/IntermediateThrowEventProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/ExecutionListenerIntermediateCatchEventElementTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/ExecutionListenerIntermediateThrowEventElementTest.java
Labels: component/zeebe

#19915 feat: measure average exporting rate
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/logstreams/pom.xml
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/LogStreamMetrics.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/FlowControl.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/RateMeasurement.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/impl/flowcontrol/RateMeasurementTest.java
Labels: component/zeebe

#19942 [Backport stable/8.5] deps: Update dependency io.grpc:grpc-bom to v1.65.0
  parent/pom.xml
Labels: component/zeebe, component/operate

#19051 chore(README.md): reflect recent architecture changes
  README.md
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist

#19957 Ensure instance migration can't detach boundary event from element instance
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationPreconditions.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateBoundaryEventTest.java
  zeebe/gateway-protocol/src/main/proto/gateway.proto
Labels: component/zeebe

#20026 fix: Allow single deployment of multiple BPMN processes with the same resource name
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/DeploymentCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/BpmnResourceTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/DeploymentTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/DmnResourceTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/FormResourceTransformer.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/CreateDeploymentMultiplePartitionsTest.java
Labels: backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#20074 [Backport stable/8.5] fix: Allow single deployment of multiple BPMN processes with the same resource name
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/DeploymentCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/BpmnResourceTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/DeploymentTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/DmnResourceTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/FormResourceTransformer.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/CreateDeploymentMultiplePartitionsTest.java
Labels: component/zeebe

#20064 docs: update with new repository name
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClient.java
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientBuilder.java
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientConfiguration.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/CommandWithCommunicationApiStep.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/MigrateProcessInstanceCommandStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/StreamJobsCommandStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/ActivatedJob.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/MigrateProcessInstanceResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/ProcessInstanceEvent.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/ProcessInstanceResult.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/StreamJobsResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/worker/JobClient.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/worker/JobWorkerBuilderStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientCloudBuilderImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/job/ActivateJobsRestTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/job/ActivateJobsTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/job/StreamJobsTest.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ExporterDirectorPartitionTransitionStep.java
  zeebe/docs/rolling_updates.md
Labels: component/zeebe

#20090 chore(gitignore): resolve conflicts with main to restore workflows
  .gitignore
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/identity

#20088 Limit client request retries to three attempts
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/RetriableClientFutureImpl.java
  zeebe/clients/java/src/test/java/io/camunda/zeebe/client/CredentialsTest.java
  zeebe/clients/java/src/test/java/io/camunda/zeebe/client/impl/RetriableClientFutureImplTest.java
Labels: backport main, backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe

#20091 feat: user group membership identity unified api
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/GroupControllerTest.java
Labels: component/zeebe

#20065 Threadsafe oauth credentials cache
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsCache.java
Labels: backport main, backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe

#20095 [Backport main] Limit client request retries to three attempts
  clients/java/src/main/java/io/camunda/zeebe/client/impl/RetriableClientFutureImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/CredentialsTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/impl/RetriableClientFutureImplTest.java
Labels: component/zeebe

#19814 feat: highlight executed compensation associations
  operate/client/e2e-playwright/a11y/processInstance.spec.ts
  operate/client/e2e-playwright/docs-screenshots/delete-finished-instances.spec.ts
  operate/client/e2e-playwright/docs-screenshots/get-familiar-with-operate.spec.ts
  operate/client/e2e-playwright/docs-screenshots/process-instance-modification.spec.ts
  operate/client/e2e-playwright/docs-screenshots/variables-and-incidents.spec.ts
  operate/client/e2e-playwright/mocks/processInstance.mocks.ts
  operate/client/e2e-playwright/mocks/processInstance/compensationProcessInstance.mocks.ts
  operate/client/e2e-playwright/mocks/processInstance/completedInstance.mocks.ts
  operate/client/e2e-playwright/mocks/processInstance/completedOrderProcessInstance.mocks.ts
  operate/client/e2e-playwright/mocks/processInstance/eventBasedGatewayProcessInstance.mocks.ts
  operate/client/e2e-playwright/mocks/processInstance/index.ts
  operate/client/e2e-playwright/mocks/processInstance/instanceWithIncident.mocks.ts
  operate/client/e2e-playwright/mocks/processInstance/orderProcessInstance.mocks.ts
  operate/client/e2e-playwright/mocks/processInstance/runningInstance.mocks.ts
  operate/client/e2e-playwright/mocks/processInstance/runningOrderProcessInstance.mocks.ts
  operate/client/e2e-playwright/visual/modifications.spec.ts
  operate/client/e2e-playwright/visual/processInstance.spec.ts
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-compensation-process-instance---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-compensation-process-instance---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-filled-with-data-and-one-flow-node-selected---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-filled-with-data-and-one-flow-node-selected---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-filled-with-data-and-operations-panel-expanded---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processes.spec.ts-snapshots/processes-page-filled-with-data-and-operations-panel-expanded---light-1-chromium-linux.png
  operate/client/src/App/ProcessInstance/TopPanel/index.tsx
  operate/client/src/modules/mocks/diagrams/CompensationProcess.bpmn
  operate/client/src/modules/stores/processInstanceDetailsDiagram/index.ts
  operate/client/src/modules/stores/processInstanceDetailsDiagram/tests/compensationAssiciations.test.ts
  operate/client/src/modules/stores/processStatistics/processStatistics.base.test.ts
  operate/client/src/modules/stores/processStatistics/processStatistics.base.ts
  operate/client/src/modules/types/bpmn-js.d.ts
Labels: component/operate

#20102 [Backport main] Threadsafe oauth credentials cache
  clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsCache.java
Labels: component/zeebe

#20133 chore(ci): use bigger runner to fix memory issues
  .github/workflows/tasklist-docker-tests.yml
Labels: component/build-pipeline, component/tasklist

#20134 chore(ci): increase CI tests timeout
  .github/workflows/ci.yml
Labels: component/build-pipeline

#19429 fix: avoid blocking the threads in importer
  operate/common/src/main/java/io/camunda/operate/property/ImportProperties.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/post/AbstractIncidentPostImportAction.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchFlowNodeStore.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchFlowNodeStore.java
Labels: component/operate

#20137 chore(optimize8): tweak optimize java checks workflow
  .github/workflows/optimize-run-java-checks.yml
Labels: component/build-pipeline

#17182 docs: document Operate schema update
  operate/schema/README.md
Labels: stale, component/operate

#19909 fix: fix concurrency mode performance
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/v8_5/processors/EventZeebeRecordProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/v8_5/processors/ImportBulkProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/v8_5/processors/IncidentZeebeRecordProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/v8_5/processors/ListViewZeebeRecordProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/v8_5/processors/VariableZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/EventZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/ImportBulkProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/IncidentZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/ListViewZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/VariableZeebeRecordProcessor.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/EventZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/IncidentZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/ListViewZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/VariableZeebeRecordProcessorIT.java
Labels: component/operate

#20139 chore(ci): increase CI more tests timeout
  .github/workflows/ci.yml
Labels: component/build-pipeline

#20140 chore(ci): increase CI more tests timeout
  .github/workflows/ci.yml
Labels: component/build-pipeline

#20086 fix: increase Spring Boot starter pluging timeout
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist

#20079 test: fix flaky raft heartbeat test
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftTest.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#20162 [Backport stable/8.5] test: fix flaky raft heartbeat test
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftTest.java
Labels: component/zeebe

#20163 chore(ci): increase wait time before shutdown
  dist/pom.xml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist

#20053 [Backport stable/8.5] fix: limit validation result output to a certain size and print the number of remaining errors
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  parent/pom.xml
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/engine/EngineCfg.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/engine/ValidatorsCfg.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/configuration/EngineCfgTest.java
  zeebe/broker/src/test/resources/system/engine.yaml
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/EngineConfiguration.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/DeploymentCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/BpmnFactory.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/BpmnResourceTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/BpmnValidator.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/DeploymentTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/ValidationErrorFormatter.java
Labels: component/zeebe, component/operate

#20132 feat: validate binding type attribute
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/ZeebeBindingTypeValidator.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/ZeebeDesignTimeValidators.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/BusinessRuleTaskValidatorTest.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeCallActivityTest.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeTaskValidatorFormTest.java
Labels: component/zeebe

#20158 ci: increase timeout for java-checks
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe

#20192 chore(ci): update node to version 20 in operate's CI
  .github/workflows/operate-frontend.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/identity

#20193 chore(ci): update node to version 20 in operate's CIs
  .github/workflows/operate-a11y.yml
  .github/workflows/operate-e2e-tests.yml
  .github/workflows/operate-playwright.yml
Labels: component/build-pipeline, component/operate

#19935 docs: max length limit on search by value queries
  tasklist/common/src/main/java/io/camunda/tasklist/queries/TaskByVariables.java
Labels: component/tasklist

#20087 ci: fix build-platform-docker action to provide image output again
  .github/actions/build-platform-docker/action.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist

#20142 feat: optionally throttle writes when exporting is too slow
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  monitor/grafana/zeebe.json
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/FlowControlCfg.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/backpressure/RateLimitCfg.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/backpressure/ThrottleCfg.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/LogStreamPartitionTransitionStep.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/LogStreamMetrics.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/AppendLimiter.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/FlowControl.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/RateLimit.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/RateLimitThrottle.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogStreamImpl.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/management/FlowControlEndpointIT.java
Labels: component/zeebe, component/operate, component/tasklist

#20218 chore(ci): increase timeout of optimize e2e workflow
  .github/workflows/optimize-e2e-tests-sm.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist

#20211 ci: disable flaky test to avoid CI disruption until flakiness resolved
  clients/java/src/test/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsCacheTest.java
Labels: component/zeebe

#20220 feat: include exhausted limit in backpressure error message
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/ErrorResponseWriter.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestHandlerTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport/partitionapi/InterPartitionCommandCheckpointTest.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/Sequencer.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/log/LogStreamWriter.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceTest.java
Labels: component/zeebe

#20224 chore(ci): fix no space left error
  .github/workflows/ci.yml
Labels: component/build-pipeline

#19849 feat: add FlowNodeInstanceIncidentHandler to operate exporter
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/OperateElasticsearchExporter.java
  zeebe/exporters/operate-exporter/src/main/java/io/camunda/zeebe/operate/exporter/handlers/FlowNodeInstanceIncidentHandler.java
  zeebe/exporters/operate-exporter/src/test/java/io/camunda/zeebe/operate/exporter/handlers/FlowNodeInstanceIncidentHandlerTest.java
Labels: component/zeebe

#20226 chore(ci): fix null pointer error in zeebe unit test
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterTest.java
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist

#20239 fix: #20199 persist tenantId on variable record store
  tasklist/importer-850/src/main/java/io/camunda/tasklist/zeebeimport/v850/processors/es/VariableZeebeRecordProcessorElasticSearch.java
  tasklist/importer-850/src/main/java/io/camunda/tasklist/zeebeimport/v850/processors/os/VariableZeebeRecordProcessorOpenSearch.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/es/VariableZeebeRecordProcessorElasticSearch.java
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/os/VariableZeebeRecordProcessorOpenSearch.java
Labels: component/tasklist

#20251 ci: 8.4 and earlier supports updates to the latest patch release only
  zeebe/qa/update-tests/src/test/java/io/camunda/zeebe/test/VersionCompatibilityMatrix.java
Labels: component/zeebe

#20047 chore: skip front-end build
  optimize/client/pom.xml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#20214 Detect duplicate InstallRequests correctly
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/PassiveRole.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ControllableRaftContexts.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftRule.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/impl/LogCompactorTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/snapshot/InMemorySnapshot.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/startup/steps/SnapshotStoreStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/AsyncSnapshottingTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/StateControllerImplTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/perf/TestState.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/SnapshotAfterScalingTest.java
  zeebe/restore/src/main/java/io/camunda/zeebe/restore/PartitionRestoreService.java
  zeebe/restore/src/main/java/io/camunda/zeebe/restore/RestoreManager.java
  zeebe/restore/src/test/java/io/camunda/zeebe/restore/PartitionRestoreServiceTest.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotId.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStore.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/PersistedSnapshotStoreTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/ReceivedSnapshotTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/TransientSnapshotTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedReceivedSnapshotTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStoreTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedTransientSnapshotTest.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#20059 [Backport stable/8.5] feat: allow overriding default maxInboundMetadataSize through config and change default to 16KB
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientConfigurationSpringImpl.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/ZeebeClientConfigurationProperties.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationDefaultPropertiesTest.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientStarterAutoConfigurationTest.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/ClientProperties.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientBuilder.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientConfiguration.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientBuilderImpl.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientCloudBuilderImpl.java
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
  zeebe/clients/java/src/test/java/io/camunda/zeebe/client/ZeebeClientTest.java
Labels: component/zeebe, component/operate

#20196 Add client request properties to `MessageSubscriptionRecord`
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-message-subscription-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-message-subscription-template.json
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/message/MessageSubscriptionRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/MessageSubscriptionRecordValue.java
Labels: component/zeebe

#20194 Add `MessageCorrelation` record and intent
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestReader.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/Engine.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporterConfiguration.java
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-message-correlation-template.json
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/TestSupport.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterConfiguration.java
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-message-correlation-template.json
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestSupport.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/message/MessageCorrelationRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/ValueTypeMapping.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/Intent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/MessageCorrelationIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/MessageCorrelationRecordValue.java
  zeebe/protocol/src/main/resources/protocol.xml
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/TypedEventRegistry.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
Labels: component/zeebe, component/operate, component/tasklist

#19961 feat: add tasklist to support test standalone camunda
  qa/integration-tests/pom.xml
  qa/util/pom.xml
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestOperateElasticsearchSchemaManager.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestOperateSchemaStartup.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestStandaloneCamunda.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestTasklistElasticsearchSchemaManager.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestTasklistSchemaStartup.java
Labels: component/zeebe, component/operate, component/tasklist

#20280 deps: update spring-boot till 3.2.7
  operate/pom.xml
Labels: component/operate

#20252 deps: remove module optimize-reimport-preparation
  .github/workflows/operate-e2e-tests.yml
  .github/workflows/tasklist-e2e-tests.yml
  optimize-distro/assembly-base-component.xml
  optimize-distro/pom.xml
  optimize-distro/src/reimport/reimport.bat
  optimize-distro/src/reimport/reimport.sh
  optimize/util/optimize-reimport-preparation/README.md
  optimize/util/optimize-reimport-preparation/pom.xml
  optimize/util/optimize-reimport-preparation/src/main/java/io/camunda/optimize/reimport/preparation/ReimportPreparation.java
  optimize/util/optimize-reimport-preparation/src/main/resources/logback.xml
  optimize/util/optimize-reimport-preparation/src/test/java/io/camunda/optimize/reimport/preparation/ForceReimportIT.java.out
  optimize/util/optimize-reimport-preparation/src/test/java/io/camunda/optimize/reimport/preparation/ForceReimportPluginIT.java.out
  optimize/util/optimize-reimport-preparation/src/test/resources/unified_public_key.der
  optimize/util/pom.xml
Labels: component/build-pipeline, component/operate, component/tasklist

#20276 ci: skip optimize-upgrade docker when testing
  optimize/upgrade/pom.xml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist

#20285 ci: add java client reminder workflow
  .github/workflows/java-client-reminder.yaml
Labels: component/build-pipeline, backport stable/8.5

#20288 test: prevent db transaction corruption by test
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/resource/ResourceDeletionTest.java
Labels: backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#20297 [Backport stable/8.5] ci: add java client reminder workflow
  .github/workflows/java-client-reminder.yaml
Labels: component/zeebe, component/operate

#20284 fix: instrument all on:push workflows to send CI health metrics
  .github/workflows/operate-a11y.yml
  .github/workflows/operate-ci-build-observe-reusable.yml
  .github/workflows/operate-ci-build-reusable.yml
  .github/workflows/operate-ci-test-reusable.yml
  .github/workflows/operate-docker-tests.yml
  .github/workflows/operate-e2e-tests.yml
  .github/workflows/operate-frontend.yml
  .github/workflows/operate-playwright.yml
  .github/workflows/tasklist-ci-build-reusable.yml
  .github/workflows/tasklist-ci-fe-reusable.yml
  .github/workflows/tasklist-ci-test-reusable.yml
  .github/workflows/tasklist-docker-tests.yml
  .github/workflows/tasklist-e2e-tests.yml
Labels: component/build-pipeline, component/operate, component/tasklist

#20286 Fix flaky MessageStreamProcessorTest
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/message/MessageStreamProcessorTest.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#20037 Changing default streaming timeout
  clients/java/src/main/java/io/camunda/zeebe/client/impl/worker/JobWorkerBuilderImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/impl/worker/JobWorkerBuilderImplTest.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/annotation/JobWorker.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/bean/factory/ReadZeebeWorkerValueTest.java
Labels: component/zeebe

#20290 fix: enable CamundaServicesConfiguration on camunda.rest.enabled
  dist/src/main/java/io/camunda/commons/service/CamundaServicesConfiguration.java
Labels: component/zeebe, component/operate, component/tasklist

#20296 fix: ensure controlled actor scheduler is closed after tests
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/ControlledActorSchedulerRule.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/ControlledActorThread.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#20315 [Backport stable/8.5] fix: ensure controlled actor scheduler is closed after tests
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/ControlledActorSchedulerRule.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/ControlledActorThread.java
Labels: component/zeebe

#20302 [Backport stable/8.5] test: prevent db transaction corruption by test
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/resource/ResourceDeletionTest.java
Labels: component/zeebe

#20298 Add new camunda client properties
  clients/java/src/main/java/io/camunda/client/ClientProperties.java
  clients/java/src/main/java/io/camunda/client/impl/BuilderUtils.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientBuilderImpl.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientCloudBuilderImpl.java
  clients/java/src/test/java/io/camunda/client/CamundaClientTest.java
  clients/java/src/test/java/io/camunda/client/job/ActivateJobsRestTest.java
  clients/java/src/test/java/io/camunda/client/job/ActivateJobsTest.java
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/ZeebeClientConfigurationProperties.java
  spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/JavaClientPropertiesTest.java
Labels: component/zeebe

#20322 fix: java client reminder action
  .github/workflows/java-client-reminder.yaml
Labels: component/build-pipeline, component/zeebe, backport stable/8.5

#20336 [Backport stable/8.5] fix: java client reminder action
  .github/workflows/java-client-reminder.yaml
Labels: component/zeebe, component/operate

#20340 fix: instrument release workflow to send CI health metrics
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

#20347 test: disable TaskIT.shouldUpdateUserTask
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/graphql/TaskIT.java
Labels: component/tasklist

#20311 fix: Tasklist index prefixes are not correctly setup on OpenSearch
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/es/TaskArchiverJobElasticSearch.java
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/os/TaskArchiverJobOpenSearch.java
  tasklist/common/src/main/java/io/camunda/tasklist/property/ArchiverProperties.java
  tasklist/common/src/main/java/io/camunda/tasklist/property/TasklistProperties.java
  tasklist/common/src/main/java/io/camunda/tasklist/util/TasklistPropertiesUtil.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/indices/AbstractIndexDescriptor.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/templates/AbstractTemplateDescriptor.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/util/IndexSchemaValidatorUtil.java
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/BackupRestoreTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/ProbesTestElasticSearchIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/ProbesTestOpenSearchIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchConnectorBasicAuthIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchConnectorSSLAuthIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/IndexSchemaValidatorIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ReindexElasticSearchIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/SchemaCreationIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/management/HealthCheckAuthenticationIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/IndexSchemaValidatorIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchConnectorBasicAuthIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/ReindexOpenSearchIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/ElasticsearchTestExtension.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/OpenSearchTestExtension.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/SessionlessTasklistZeebeIntegrationTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistTester.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistZeebeExtension.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistZeebeExtensionElasticSearch.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistZeebeExtensionOpenSearch.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/zeebeimport/ZeebeImportIdempotencyElasticSearchIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/zeebeimport/ZeebeImportIdempotencyOpenSearchIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/zeebeimport/ZeebeImportRetryAfterFailureElasticSearchIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/zeebeimport/ZeebeImportRetryAfterFailureOpenSearchIT.java
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/TestContainerUtil.java
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/TestUtil.java
Labels: component/tasklist

#20354 ci: make Renovate handling tasklist.Dockerfile and operate.Dockerfile
  .github/renovate.json
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist

#20334 test: fix potential race condition
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/PartitionTransitionImplTest.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#20349 Env vars renaming
  clients/java/src/main/java/io/camunda/client/impl/BuilderUtils.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientBuilderImpl.java
  clients/java/src/test/java/io/camunda/client/CamundaClientTest.java
  clients/java/src/test/java/io/camunda/client/impl/worker/JobWorkerImplTest.java
Labels: component/zeebe

#20365 [Backport stable/8.5] test: fix potential race condition
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/PartitionTransitionImplTest.java
Labels: component/zeebe

#20348 refactor: change props name and warnings for deprecated props
  clients/java/src/main/java/io/camunda/client/ClientProperties.java
  clients/java/src/main/java/io/camunda/client/impl/BuilderUtils.java
Labels: component/zeebe

#20370 test: disable duplicated flaky test
  clients/java/src/test/java/io/camunda/client/impl/oauth/OAuthCredentialsCacheTest.java
Labels: component/zeebe

#20367 feat: add new panels for flow control metrics
  monitor/grafana/zeebe.json
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/LogStreamMetrics.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/RateLimitThrottle.java
Labels: component/zeebe

#20295 feat: add externalFormReference to tasklist indice
  tasklist/common/src/main/java/io/camunda/tasklist/entities/TaskEntity.java
  tasklist/els-schema/src/main/resources/schema/es/create/template/tasklist-task.json
  tasklist/els-schema/src/main/resources/schema/os/create/template/tasklist-task.json
  tasklist/importer-860/src/main/java/io/camunda/tasklist/zeebeimport/v860/processors/common/UserTaskRecordToTaskEntityMapper.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/graphql/TaskIT.java
Labels: component/tasklist

#20389 Add logging to setup commands
  clients/go/cmd/zbctl/main_test.go
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#20319 refactor: fix ProcessInstanceSearchQueryResponse ref in api spec
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe

#20339 `LogStream` and its readers and writers are built synchronously
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/jobstream/RemoteJobStreamErrorHandlerService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionAdminAccess.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/BackupApiRequestHandlerStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/InterPartitionCommandServiceStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/LogStreamPartitionTransitionStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiServiceImpl.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/steps/BackupApiRequestHandlerStepTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/steps/LogStreamPartitionTransitionStepTest.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogStreamBuilderImpl.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/log/LogStreamImpl.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/log/LogStream.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/log/LogStreamBuilder.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/log/LogStreamErrorTest.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/log/LogStreamTest.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/util/LogStreamRule.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/util/SyncLogStream.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/util/SyncLogStreamBuilder.java
  zeebe/logstreams/src/test/java/io/camunda/zeebe/logstreams/util/SynchronousLogStream.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/RestoreTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/SingleBrokerDataDeletionTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/startup/BrokerRestartTest.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceImpl.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/ProcessingScheduleServiceTest.java
Labels: component/zeebe

#20429 Fix OauthCredentialsCache concurrency issues
  clients/java/src/main/java/io/camunda/client/impl/oauth/OAuthCredentialsCache.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsCache.java
  clients/java/src/test/java/io/camunda/client/impl/oauth/OAuthCredentialsCacheTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsCacheTest.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#20435 ci: disable docker version updates only for Dockerfile and camunda.Do…
  .github/renovate.json
Labels: component/zeebe, component/operate, component/tasklist

#20330 fix: upgrade sass dependencies, specify braces 3.0.3 to eliminate vulnerability
  operate/client/yarn.lock
Labels: component/operate, component/frontend

#20439 [Backport stable/8.5] Fix OauthCredentialsCache concurrency issues
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsCache.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, component/operate

#20434 refactor: revert unused identity code
  dist/pom.xml
  dist/src/main/java/io/camunda/commons/identity/AutomationIdentityConfiguration.java
  identity/backend/Makefile
  identity/backend/pom.xml
  identity/backend/src/main/java/io/camunda/identity/automation/Application.java
  identity/backend/src/main/java/io/camunda/identity/automation/config/IdentityConfiguration.java
  identity/backend/src/main/java/io/camunda/identity/automation/rolemanagement/model/Role.java
  identity/backend/src/main/java/io/camunda/identity/automation/rolemanagement/repository/RoleRepository.java
  identity/backend/src/main/java/io/camunda/identity/automation/rolemanagement/service/RoleMembershipService.java
  identity/backend/src/main/java/io/camunda/identity/automation/rolemanagement/service/RoleService.java
  identity/backend/src/main/java/io/camunda/identity/automation/usermanagement/initializer/DefaultUserInitializer.java
  identity/backend/src/main/java/io/camunda/identity/automation/usermanagement/model/Group.java
  identity/backend/src/main/java/io/camunda/identity/automation/usermanagement/model/Membership.java
  identity/backend/src/main/java/io/camunda/identity/automation/usermanagement/model/Profile.java
  identity/backend/src/main/java/io/camunda/identity/automation/usermanagement/model/User.java
  identity/backend/src/main/java/io/camunda/identity/automation/usermanagement/repository/GroupRepository.java
  identity/backend/src/main/java/io/camunda/identity/automation/usermanagement/repository/MembershipRepository.java
  identity/backend/src/main/java/io/camunda/identity/automation/usermanagement/repository/UserProfileRepository.java
  identity/backend/src/main/java/io/camunda/identity/automation/usermanagement/service/GroupService.java
  identity/backend/src/main/java/io/camunda/identity/automation/usermanagement/service/UserGroupMembershipService.java
  identity/backend/src/main/java/io/camunda/identity/automation/usermanagement/service/UserService.java
  identity/backend/src/main/resources/schema.sql
  identity/backend/src/test/java/io/camunda/identity/automation/CamundaSpringBootTest.java
  identity/backend/src/test/java/io/camunda/identity/automation/TestHelper.java
  identity/backend/src/test/java/io/camunda/identity/automation/rolemanagement/service/RoleMembershipServiceTest.java
  identity/backend/src/test/java/io/camunda/identity/automation/rolemanagement/service/RoleServiceTest.java
  identity/backend/src/test/java/io/camunda/identity/automation/usermanagement/initializer/DefaultUserInitializerTest.java
  identity/backend/src/test/java/io/camunda/identity/automation/usermanagement/service/GroupServiceTest.java
  identity/backend/src/test/java/io/camunda/identity/automation/usermanagement/service/UserGroupMembershipServiceTest.java
  identity/backend/src/test/java/io/camunda/identity/automation/usermanagement/service/UserServiceTest.java
  identity/backend/src/test/resources/application-test.yaml
  identity/common/pom.xml
  identity/common/src/main/java/io/camunda/identity/automation/config/SecurityConfig.java
  identity/common/src/main/java/io/camunda/identity/automation/permissions/PermissionEnum.java
  identity/common/src/main/java/io/camunda/identity/automation/security/CamundaPasswordEncoder.java
  identity/common/src/main/java/io/camunda/identity/automation/security/CamundaUserDetails.java
  identity/common/src/main/java/io/camunda/identity/automation/security/CamundaUserDetailsManager.java
  identity/pom.xml
  operate/qa/integration-tests/pom.xml
  parent/pom.xml
  tasklist/qa/integration-tests/pom.xml
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/GroupControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/RoleControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserControllerTest.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestSpringApplication.java
Labels: component/zeebe, component/operate, component/tasklist, component/identity

#20425 Terminate elements iteratively instead of recursively during PI modification
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceModificationModifyProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ModifyProcessInstanceTerminationTest.java
Labels: backport stable/8.4, component/zeebe, backport stable/8.5

#20066 Properly handle connection closed error in the gRPC server
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/grpc/GrpcErrorMapper.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/grpc/GrpcErrorMapperTest.java
Labels: component/zeebe

#20464 [Backport stable/8.5] Terminate elements iteratively instead of recursively during PI modification
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceModificationModifyProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ModifyProcessInstanceTerminationTest.java
Labels: component/zeebe

#20475 [Backport stable/8.5] feat: implementing bounded cache
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/engine/CachesCfg.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/engine/EngineCfg.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/configuration/EngineCfgTest.java
  zeebe/broker/src/test/resources/system/engine.yaml
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/EngineConfiguration.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/ProcessingDbState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/deployment/DbFormState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/deployment/DbProcessState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/migration/to_8_3/MultiTenancyMigrationTest.java
Labels: component/zeebe

#20075 feat(clients/go): jobWorker can set tenantIds to activate jobs
  clients/go/pkg/commands/activate_jobs.go
  clients/go/pkg/worker/jobWorker_builder.go
  clients/go/pkg/worker/jobWorker_builder_test.go
  clients/go/pkg/worker/jobWorker_test.go
Labels: component/zeebe

#20040 test: snapshot false negative corruption unit test
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStoreTest.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#20265 Create `MessageCorrelationProcessor` processor
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnBufferedMessageStartEventBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/common/EventHandle.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageCorrelateBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageCorrelationProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageEventProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessagePublishProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/Subscriptions.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/message/CorrelateMessageTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/MessageCorrelationClient.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/message/MessageCorrelationRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/Intent.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/MessageCorrelationRecordStream.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/RecordingExporter.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/ReusableObjectList.java
Labels: component/zeebe

#20469 docs: reference REST endpoint guide from dev handbook
  zeebe/docs/developer_handbook.md
Labels: component/zeebe

#20484 refactor: reduce `ActorJob` size
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/ActorJob.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/lifecycle/LifecycleRecordingActor.java
Labels: component/zeebe

#20470 ci: fix release dry-run CI
  .ci/docker/test/camunda-docker-labels.golden.json
  .ci/docker/test/operate-docker-labels.golden.json
  .ci/docker/test/tasklist-docker-labels.golden.json
  .ci/docker/test/verify.sh
  .ci/docker/test/zeebe-docker-labels.golden.json
  .github/workflows/camunda-platform-release-main-dry-run.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist

#20415 Test for snapshot corruption when restoring from backup.
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/AsyncSnapshottingTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/StateControllerImplTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/perf/TestState.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/RestoreAcceptance.java
  zeebe/restore/pom.xml
  zeebe/restore/src/main/java/io/camunda/zeebe/restore/PartitionRestoreService.java
  zeebe/restore/src/main/java/io/camunda/zeebe/restore/RestoreManager.java
  zeebe/restore/src/test/java/io/camunda/zeebe/restore/PartitionRestoreServiceTest.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStore.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/SnapshotChecksum.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/PersistedSnapshotStoreTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/ReceivedSnapshotTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/TransientSnapshotTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedReceivedSnapshotTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStoreTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedTransientSnapshotTest.java
Labels: backport stable/8.4, component/zeebe, backport stable/8.5

#19898 test: fix min-height for instance history container
  operate/client/e2e-playwright/tests/processInstanceVariables.spec.ts
  operate/client/src/App/ProcessInstance/FlowNodeInstanceLog/styled.ts
Labels: component/zeebe, component/operate, component/tasklist

#20465 refactor: refactor SearchQuerySort mapper
  service/src/main/java/io/camunda/service/search/sort/ProcessInstanceSort.java
  service/src/main/java/io/camunda/service/search/sort/SortOption.java
  service/src/main/java/io/camunda/service/search/sort/UserTaskSort.java
  service/src/main/java/io/camunda/service/search/sort/VariableSort.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceControllerTest.java
Labels: component/zeebe

#20511 ci: observe build status for Zeebe deploy jobs
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe

#20493 Store message request data in state
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageCorrelateBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageCorrelationProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessagePublishProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/message/DbMessageSubscriptionState.java
Labels: component/zeebe

#20483 ci: don't cancel concurrent builds on `main` for full results
  .github/workflows/ci.yml
  .github/workflows/operate-a11y.yml
  .github/workflows/operate-ci.yml
  .github/workflows/operate-docker-tests.yml
  .github/workflows/operate-e2e-tests.yml
  .github/workflows/operate-frontend.yml
  .github/workflows/operate-merge-ci.yaml
  .github/workflows/operate-playwright.yml
  .github/workflows/renovatelint.yml
  .github/workflows/tasklist-ci.yml
  .github/workflows/tasklist-docker-tests.yml
  .github/workflows/tasklist-e2e-tests.yml
  .github/workflows/tasklist-merge-ci.yml
  .github/workflows/tasklist-update_visual_snapshots.yml
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist

#20499 fix: address comments on the optimize merge
  .github/renovate.json5
  .github/scripts/healthStatusReport/createHealthStatusConfig.ts
  .github/workflows/.trivyignore
  .github/workflows/ci.yml
  .github/workflows/optimize-check-renovate-config.yml
  .github/workflows/optimize-generate-cambpm-test-datasets.yml
  .github/workflows/optimize-trivy-check.yml
  .github/workflows/renovatelint.yml
  .gitignore
  .java-version
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/plugins/optimize-test-plugins/optimize-main-test-plugin/pom.xml
  optimize/plugins/optimize-test-plugins/optimize-pluginloading-test-plugin/pom.xml
  optimize/plugins/plugin/pom.xml
  optimize/plugins/pom.xml
  optimize/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/dependency-doc-creation/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Labels: component/build-pipeline

#20528 [Backport stable/8.5] Add intermediate throw event `StraightThroughProcessingLoopValidator`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/validation/StraightThroughProcessingLoopValidator.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/StraightThroughProcessingLoopValidationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/streamprocessor/ReachEndOfLogTest.java
Labels: component/zeebe

#20524 Reset RecordingExporter before each ZeebeIntegration test setup
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/junit/ZeebeIntegrationExtension.java
Labels: backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#20539 [Backport stable/8.5] Reset RecordingExporter before each ZeebeIntegration test setup
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/junit/ZeebeIntegrationExtension.java
Labels: component/zeebe

#20520 Respond on succesfull message correlation
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageSubscriptionCorrelateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/message/DbMessageSubscriptionState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/message/CorrelateMessageTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/message/MessageCorrelationMultiplePartitionsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/message/MessageMultiTenancyTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/message/MessageSubscriptionRecord.java
Labels: component/zeebe

#20266 Upgrade to rocksdb 9.4.0
  parent/pom.xml
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/impl/rocksdb/transaction/ZeebeTransaction.java
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist

#20491 [Backport stable/8.5] test: snapshot false negative corruption unit test
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStoreTest.java
Labels: component/zeebe

#20504 [Backport stable/8.5] Test for snapshot corruption when restoring from backup.
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/AsyncSnapshottingTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/StateControllerImplTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/perf/TestState.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/RestoreAcceptance.java
  zeebe/restore/pom.xml
  zeebe/restore/src/main/java/io/camunda/zeebe/restore/PartitionRestoreService.java
  zeebe/restore/src/main/java/io/camunda/zeebe/restore/RestoreManager.java
  zeebe/restore/src/test/java/io/camunda/zeebe/restore/PartitionRestoreServiceTest.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStore.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/SnapshotChecksum.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/PersistedSnapshotStoreTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/ReceivedSnapshotTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/TransientSnapshotTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedReceivedSnapshotTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStoreTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedTransientSnapshotTest.java
Labels: component/zeebe

#20481 Use file based snapshots in raft randomized tests
  zeebe/atomix/cluster/pom.xml
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ControllableRaftContexts.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RandomizedRaftTest.java
  zeebe/restore/src/main/java/io/camunda/zeebe/restore/PartitionRestoreService.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/Actor.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/ActorControl.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/ConcurrencyControl.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/TestConcurrencyControl.java
  zeebe/snapshot/pom.xml
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/CRC32CChecksumProvider.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedReceivedSnapshot.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshot.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStore.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStoreImpl.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedTransientSnapshot.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/SnapshotChecksum.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/TestChecksumProvider.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedReceivedSnapshotTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStoreTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedTransientSnapshotTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/SnapshotChecksumTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/testing/TestFileBasedSnapshotStore.java
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/impl/rocksdb/ChecksumProviderRocksDBImpl.java
Labels: component/zeebe

#20517 Create incident when type expression is null or empty
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnJobBehavior.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/incident/JobWorkerElementIncidentTest.java
Labels: backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#20563 [Backport stable/8.5] Create incident when type expression is null or empty
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnJobBehavior.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/incident/JobWorkerElementIncidentTest.java
Labels: component/zeebe

#20566 identity test container env clean up
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/IdentityTester.java
Labels: component/tasklist

#20560 Dont use object mapper in DTO to ES / OS
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchClient.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/dto/PutIndexLifecycleManagementPolicyRequest.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchClient.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/dto/PutIndexStateManagementPolicyRequest.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestClient.java
Labels: backport stable/8.2, backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5

#20561 [Backport stable/8.3] Create incident when type expression is null or empty
  engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnJobBehavior.java
  engine/src/test/java/io/camunda/zeebe/engine/processing/incident/JobWorkerElementIncidentTest.java
Labels: backport stable/8.2

#20523 Add a job failure endpoint
  service/src/main/java/io/camunda/service/JobServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/JobController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerTest.java
Labels: component/zeebe

#20573 [Backport stable/8.5] Dont use object mapper in DTO to ES / OS
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchClient.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/dto/PutIndexLifecycleManagementPolicyRequest.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchClient.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/dto/PutIndexStateManagementPolicyRequest.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestClient.java
Labels: component/zeebe

#20291 Create new version of every resource in multi-resource deployment if at least one has changed
  clients/go/cmd/zbctl/main_test.go
  clients/go/cmd/zbctl/testdata/delete_resource.golden
  clients/go/cmd/zbctl/testdata/evaluate_decision.golden
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/BpmnResourceTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/DeploymentResourceTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/DeploymentTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/DmnResourceTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/transform/FormResourceTransformer.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/MultiResourceDeploymentTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/ProcessDeploymentTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/deployment/DecisionRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/deployment/DecisionRequirementsMetadataRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/deployment/DeploymentRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/deployment/FormMetadataRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/deployment/ProcessMetadata.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
Labels: component/zeebe
