Repository camunda/camunda, pull requests merged in 2025-06, with the labels that each got.

#32758 Fix flakiness in `ExpireMessageTest`
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/message/ExpireMessageTest.java
Labels: component/zeebe

#32754 fix: update flaky tests
  qa/core-application-e2e-test-suite/pages/TaskDetailsPage.ts
  qa/core-application-e2e-test-suite/tests/common-flows/hto-user-flows.spec.ts
  qa/core-application-e2e-test-suite/tests/tasklist/task-details.spec.ts
  qa/core-application-e2e-test-suite/tests/tasklist/task-panel.spec.ts
Labels: qa/core-application-e2e-test-suite

#32784 [Backport stable/8.5] Log and exit application on fatal class circularity error
  zeebe/util/src/main/java/io/camunda/zeebe/util/error/VirtualMachineErrorHandler.java
Labels: component/zeebe

#32785 [Backport stable/8.6] Log and exit application on fatal class circularity error
  zeebe/util/src/main/java/io/camunda/zeebe/util/error/VirtualMachineErrorHandler.java
Labels: component/zeebe

#32741 fix: delegate login for consolidate-auth
  .github/workflows/camunda-platform-docker-deploy-saas-image.yml
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  dist/src/main/java/io/camunda/application/initializers/WebappsConfigurationInitializer.java
  operate/common/pom.xml
  operate/common/src/main/java/io/camunda/operate/OperateProfileService.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/controllers/OldRoutesRedirectionControllerConsolidatedAuthIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/controllers/OldRoutesRedirectionControllerIT.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/TasklistProfileServiceImpl.java
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize, backport release-8.8.0-alpha5

#32495 [CPT] feat: Connect to remote runtime
  clients/java/src/main/java/io/camunda/client/CamundaClientBuilder.java
  testing/camunda-process-test-java/pom.xml
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/CamundaClientBuilderFactory.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/CamundaProcessTestExtension.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/CamundaProcessTestRuntimeMode.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/extension/CamundaProcessTestContextImpl.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/CamundaContainerRuntimeBuilder.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/CamundaProcessTestContainerRuntime.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/CamundaProcessTestRemoteRuntime.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/CamundaProcessTestRuntime.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/CamundaProcessTestRuntimeBuilder.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/CamundaProcessTestRuntimeDefaults.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/ContainerRuntimePropertiesUtil.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/JunitExtensionTest.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/RemoteCamundaProcessTestExtensionIT.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/impl/runtime/CamundaProcessTestContainerRuntimeTest.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/impl/runtime/CamundaProcessTestRemoteRuntimeTest.java
  testing/camunda-process-test-spring/pom.xml
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/api/CamundaProcessTestExecutionListener.java
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/impl/configuration/CamundaProcessTestAutoConfiguration.java
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/impl/configuration/CamundaProcessTestRuntimeConfiguration.java
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/impl/runtime/CamundaSpringProcessTestRuntimeBuilder.java
  testing/camunda-process-test-spring/src/test/java/io/camunda/process/test/api/ExecutionListenerTest.java
  testing/camunda-process-test-spring/src/test/java/io/camunda/process/test/api/RemoteCamundaSpringProcessTestIT.java
  testing/camunda-process-test-spring/src/test/java/io/camunda/process/test/impl/CamundaSpringProcessTestRuntimeBuilderTest.java
Labels: component/zeebe

#32779 feat: added limits to batch operation engine tests to make it faster
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/CreateBatchOperationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/ExecuteBatchOperationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/LifecycleBatchOperationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/MigrateProcessesBatchExecutorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/ModifyProcessInstanceBatchExecutorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/ResolveIncidentBatchExecutorTest.java
Labels: component/zeebe

#32613 Add delete user command to java client
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/DeleteUserCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/response/DeleteUserResponse.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/DeleteUserCommandImpl.java
  clients/java/src/test/java/io/camunda/client/user/DeleteUserTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/UserSearchingAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/RoleIntegrationTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/UserIntegrationTest.java
Labels: component/zeebe

#32801 Assign mapping to group command refactoring
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/AssignMappingToGroupStep1.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/AssignMappingToGroupCommandImpl.java
  clients/java/src/test/java/io/camunda/client/group/AssignMemberGroupTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/MappingsByGroupSearchTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/mapping/MappingSpecificFilterIT.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AssignMappingToGroupTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UnassignMappingFromGroupTest.java
Labels: component/zeebe, component/c8-api

#32669 fix: reset batch operation endDate on new chunk to trigger updateTask…
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/batchoperation/BatchOperationChunkCreatedHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/batchoperation/BatchOperationChunkCreatedHandlerTest.java
Labels: component/zeebe

#33018 [Backport stable/8.7] fix: do not retry deserializing a record in ExporterDirector
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/RecordExporter.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirectorTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterRule.java
Labels: component/zeebe

#33046 Apply intent filter in broker
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterContainer.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterContainerTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirectorTest.java
Labels: component/zeebe, backport stable/8.7

#32697 Add update user api to java client
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/UpdateUserCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/response/UpdateUserResponse.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/UpdateUserCommandImpl.java
  clients/java/src/test/java/io/camunda/client/role/UpdateRoleTest.java
  clients/java/src/test/java/io/camunda/client/user/UpdateUserTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/UserAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/UsersUpdateIntegrationTest.java
Labels: component/zeebe

#32702 feat: when a SCALE_UP command is processed, persist the event key in state
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/ScaleUpProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/ScaleUpStatusProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/ScalingUpApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/RoutingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableRoutingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/routing/DbRoutingState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionScalingTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/distribution/CommandRedistributorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/scaling/ScaleUpTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/scaling/redistribution/DeploymentRedistributorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/ProcessExecutionCleanStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/routing/DbRoutingStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/scaling/ScaleRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/scaling/ScaleRecordValue.java
Labels: component/zeebe

#33055 [Backport stable/8.7] Apply intent filter in broker
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterContainer.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterContainerTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirectorTest.java
Labels: component/zeebe

#33061 build: update zeebe, identity versions
  optimize/pom.xml
Labels: component/optimize

#32780 feat: optimize to only validate optimize indexes with OS
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/schema/OpenSearchSchemaManager.java
Labels: component/optimize, backport stable/optimize-8.6, backport stable/optimize-8.7

#33044 ci: operate CI should push SNAPSHOT image to dockerhub
  .github/workflows/operate-ci-core-features.yml
  .github/workflows/operate-frontend.yml
Labels: component/build-pipeline, component/operate

#33080 ci: use Data Layer for team name, not Data Layers
  .github/workflows/ci.yml
  .github/workflows/operate-ci-data-layer.yml
  .github/workflows/operate-ci-test-reusable.yml
  .github/workflows/operate-run-tests.yml
  .github/workflows/operate-test-backup-restore.yml
  .github/workflows/operate-test-importer.yml
  CODEOWNERS
  operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java
  operate/importer-8_7/src/test/java/io/camunda/operate/zeebeimport/v8_7/processors/fni/fni/OperateDataLayerTestSuite.java
  operate/importer-common/src/test/java/io/camunda/operate/zeebeimport/OperateDataLayerTestSuite.java
  operate/schema/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java
  operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java
Labels: component/build-pipeline, component/operate

#33084 fix: fix flow node filter selection
  operate/client/src/modules/bpmn-js/BpmnJS.ts
Labels: backport stable/8.6, backport stable/8.7

#32777 deps: Update awssdk feign and minio for stable/8.7
  parent/pom.xml
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/testcontainers/MinioContainer.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, backport stable/8.6

#32761 fix: use existing actions to build FE and BE of identity e2e tests
  .github/workflows/identity-e2e-tests.yml
Labels: component/build-pipeline, component/identity

#32670 feat: mapping rules support nested claims
  authentication/src/main/java/io/camunda/authentication/CamundaOAuthPrincipalService.java
  authentication/src/test/java/io/camunda/authentication/CamundaOAuthPrincipalServiceTest.java
  search/search-domain/pom.xml
  search/search-domain/src/main/java/io/camunda/search/entities/MappingEntity.java
  security/security-core/src/main/java/io/camunda/security/auth/MappingRuleMatcher.java
  service/src/main/java/io/camunda/service/MappingServices.java
  service/src/test/java/io/camunda/service/MappingServicesTest.java
  zeebe/auth/pom.xml
  zeebe/auth/src/main/java/io/camunda/zeebe/auth/Authorization.java
  zeebe/auth/src/main/java/io/camunda/zeebe/auth/ClaimTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbMappingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/PersistedMapping.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/MappingState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorMultiTenancyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorTest.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/EndpointManager.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/impl/BrokerRequestWithAuthorizationInfoTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/RequestMapperTest.java
  zeebe/protocol-impl/pom.xml
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/encoding/MsgPackConverter.java
Labels: component/zeebe, component/c8-api

#33121 fix: add legacy credentials-cache-path to mapped properties
  clients/spring-boot-starter-camunda-sdk/src/main/resources/camunda-client-legacy-property-mappings.properties
Labels: component/zeebe, backport stable/8.7

#33083 fix: handle instance in new userReader where userId may be null when using M2M tokens
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/TaskController.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/TaskControllerTest.java
Labels: component/tasklist, backport release-8.8.0-alpha5

#32764 feat: support advanced filter for batch operations
  clients/java/src/main/java/io/camunda/client/api/search/filter/BatchOperationFilter.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/BatchOperationItemFilter.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/builder/BasicStringProperty.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/builder/BatchOperationItemStateProperty.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/builder/BatchOperationStateProperty.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/builder/BatchOperationTypeProperty.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/BatchOperationFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/BatchOperationItemFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/builder/BasicStringPropertyImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/builder/BatchOperationItemStatePropertyImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/builder/BatchOperationStatePropertyImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/builder/BatchOperationTypePropertyImpl.java
  clients/java/src/test/java/io/camunda/client/batchoperation/SearchBatchOperationItemsTest.java
  clients/java/src/test/java/io/camunda/client/batchoperation/SearchBatchOperationsTest.java
  db/rdbms/src/main/resources/mapper/BatchOperationMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/client/BatchOperationSearchTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/batchoperation/BatchOperationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/BatchOperationFixtures.java
  qa/acceptance-tests/src/test/java/io/camunda/it/util/TestHelper.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/BatchOperationFilterTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/BatchOperationItemFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/BatchOperationFilterTransformerTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/BatchOperationItemFilterTransformerTest.java
  search/search-domain/src/main/java/io/camunda/search/filter/BatchOperationFilter.java
  search/search-domain/src/main/java/io/camunda/search/filter/BatchOperationItemFilter.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/deserializer/BatchOperatioItemStateFilterPropertyDeserializer.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/deserializer/BatchOperationStateFilterPropertyDeserializer.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/deserializer/BatchOperationTypeFilterPropertyDeserializer.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/RestControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/BatchOperationControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/BatchOperationItemControllerTest.java
Labels: component/zeebe, component/c8-api

#33085 [Backport stable/optimize-8.6] feat: optimize to only validate optimize indexes with OS
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/schema/OpenSearchSchemaManager.java
Labels: component/optimize

#32601 feat: Add flowNodeName to data layer
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/FlowNodeInstanceDbModel.java
  db/rdbms/src/main/resources/mapper/FlowNodeInstanceMapper.xml
  parent/pom.xml
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/FlowNodeInstanceTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/flownode/FlowNodeInstanceEntity.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/template/operate-flownode-instance.json
  webapps-schema/src/main/resources/schema/opensearch/create/template/operate-flownode-instance.json
  zeebe/exporter-common/pom.xml
  zeebe/exporter-common/src/main/java/io/camunda/zeebe/exporter/common/cache/ExporterEntityCache.java
  zeebe/exporter-common/src/main/java/io/camunda/zeebe/exporter/common/cache/ExporterEntityCacheImpl.java
  zeebe/exporter-common/src/main/java/io/camunda/zeebe/exporter/common/cache/process/CachedProcessEntity.java
  zeebe/exporter-common/src/main/java/io/camunda/zeebe/exporter/common/cache/process/ProcessDiagramData.java
  zeebe/exporter-common/src/main/java/io/camunda/zeebe/exporter/common/utils/ProcessCacheUtil.java
  zeebe/exporter-common/src/test/java/io/camunda/zeebe/exporter/common/utils/ProcessCacheUtilTest.java
  zeebe/exporters/camunda-exporter/pom.xml
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/ExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/adapters/ElasticsearchAdapter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/adapters/OpensearchAdapter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/cache/ExporterEntityCacheProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/cache/process/ElasticSearchProcessCacheLoader.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/cache/process/OpenSearchProcessCacheLoader.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/FlowNodeInstanceFromProcessInstanceHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/FormHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/IncidentHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromProcessInstanceHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ProcessHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UserTaskHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UserTaskJobBasedHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/notifier/IncidentNotifier.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/BackgroundTaskManagerFactory.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/utils/ProcessCacheUtil.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/cache/FormCacheIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/cache/ProcessCacheImplIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/cache/TestFormCache.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/cache/TestProcessCache.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/FlowNodeInstanceFromProcessInstanceHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/IncidentHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromProcessInstanceHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/ProcessHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/notifier/IncidentNotifierTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/incident/IncidentUpdateTaskTest.java
  zeebe/exporters/rdbms-exporter/pom.xml
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterWrapper.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/cache/ExporterEntityCache.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/cache/RdbmsProcessCacheLoader.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/FlowNodeExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/ProcessExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/ProcessInstanceExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/utils/ProcessCacheUtil.java
  zeebe/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#33134 deps: Revert Update version.lucene to v8.11.4
  operate/pom.xml
Labels: component/operate

#33151 [Backport stable/8.7] ci: publish GH releases with complete changelog automatically
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

#32736 feat: add entra client assertion
  clients/java/pom.xml
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientEnvironmentVariables.java
  clients/java/src/main/java/io/camunda/client/impl/oauth/OAuthCredentialsProvider.java
  clients/java/src/main/java/io/camunda/client/impl/oauth/OAuthCredentialsProviderBuilder.java
  clients/java/src/test/java/io/camunda/client/OAuthCredentialsProviderTest.java
  clients/java/src/test/resources/oauth/test.jks
Labels: component/zeebe

#33142 fix: add baseUrl to login endpoint
  identity/client/src/configuration/index.ts
  identity/client/src/utility/auth/index.ts
Labels: component/identity

#33150 [Backport stable/8.6] ci: publish GH releases with complete changelog automatically
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

#33180 Refactoring `newUnassignUserFromTenantCommand` to follow the agreed command pattern
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/RemoveUserFromTenantCommandStep1.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/RemoveUserFromTenantCommandImpl.java
  clients/java/src/test/java/io/camunda/client/tenant/RemoveUserFromTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/RemoveUserFromTenantTest.java
Labels: component/zeebe

#33108 Refactoring `newUnassignUserFromGroupCommand` to follow the agreed client command pattern
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/UnassignUserFromGroupCommandStep1.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/UnassignUserFromGroupCommandImpl.java
  clients/java/src/test/java/io/camunda/client/group/UnassignMemberGroupTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UnassignUserFromGroupTest.java
Labels: component/zeebe

#32446 feat: add bugs to quality board
  .github/workflows/add-to-projects.yml
Labels: component/build-pipeline

#33048 refactor: remove old redistribution approach
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/TestSupport.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TestSupport.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/ScaleUpProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/ScalingProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/redistribution/DbRedistributionState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/redistribution/DeploymentRedistributor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/redistribution/MutableRedistributionState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/redistribution/RedistributableResource.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/redistribution/RedistributionBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/redistribution/RedistributionCompleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/redistribution/RedistributionCompletedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/redistribution/RedistributionStage.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/redistribution/RedistributionStartProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/redistribution/RedistributionStartedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/redistribution/RedistributionState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/redistribution/ResourceRedistributor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/ProcessingDbState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/distribution/DistributionQueue.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/ProcessingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableProcessingState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/scaling/redistribution/RedistributionStageTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/scaling/redistribution/RedistributionStateTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/TestSupport.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestSupport.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/distribution/CommandDistributionRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/scaling/RedistributionProgress.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/scaling/RedistributionRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/ValueTypeMapping.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/Intent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/scaling/RedistributionIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/scaling/RedistributionProgressValue.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/scaling/RedistributionRecordValue.java
  zeebe/protocol/src/main/resources/protocol.xml
  zeebe/protocol/src/test/java/io/camunda/zeebe/protocol/record/intent/IntentEncodingDecodingTest.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/TypedEventRegistry.java
Labels: component/zeebe

#33188 fix: use correct tag for zeebe broker deployment
  .github/workflows/zeebe-benchmark.yml
Labels: component/build-pipeline, component/zeebe

#33189 deps: Revert Update alpine Docker tag to v3.19.7
  operate.Dockerfile
Labels: component/zeebe, component/operate

#33143 Refactoring `newAssignMappingToTenantCommand` to follow the agreed command pattern
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/AssignMappingToTenantCommandStep1.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/AssignMappingToTenantCommandImpl.java
  clients/java/src/test/java/io/camunda/client/tenant/AssignMappingToTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AssignMappingToTenantTest.java
Labels: component/zeebe

#32713 feat: add RawTransactionalColumnFamily to copy generically CFs from one DB to another
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/SnapshotCopy.java
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/impl/rocksdb/RocksDBSnapshotCopy.java
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/impl/rocksdb/transaction/RawTransactionalColumnFamily.java
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/impl/rocksdb/transaction/ZeebeTransaction.java
  zeebe/zb-db/src/test/java/io/camunda/zeebe/db/impl/rocksdb/RocksDBSnapshotCopyTest.java
  zeebe/zb-db/src/test/java/io/camunda/zeebe/db/impl/rocksdb/transaction/RawTransactionalColumnFamilyTest.java
Labels: component/zeebe

#33201 Fix some memory panels
  monitor/grafana/zeebe.json
Labels: component/zeebe

#33177 feat: integrate role details page and its tabs with api
  identity/client/src/feature-flags.ts
  identity/client/src/pages/roles/detail/index.tsx
  identity/client/src/utility/api/roles/index.ts
Labels: component/frontend, component/identity

#33192 deps: prepare for next development iteration
  distro/pom.xml
  operate/archiver/pom.xml
  operate/client/pom.xml
  operate/common/pom.xml
  operate/data-generator/pom.xml
  operate/importer-8_4/pom.xml
  operate/importer-8_5/pom.xml
  operate/importer-common/pom.xml
  operate/importer/pom.xml
  operate/mvc-auth-commons/pom.xml
  operate/pom.xml
  operate/qa/backup-restore-tests/pom.xml
  operate/qa/batch-operation-performance-tests/pom.xml
  operate/qa/data-generator/pom.xml
  operate/qa/import-performance-tests/pom.xml
  operate/qa/integration-tests/pom.xml
  operate/qa/migration-performance-test/pom.xml
  operate/qa/migration-tests/migration-test/pom.xml
  operate/qa/migration-tests/pom.xml
  operate/qa/migration-tests/test-fixture-110/pom.xml
  operate/qa/migration-tests/test-fixture-120/pom.xml
  operate/qa/migration-tests/test-fixture-130/pom.xml
  operate/qa/migration-tests/test-fixture-800/pom.xml
  operate/qa/migration-tests/test-fixture-810/pom.xml
  operate/qa/migration-tests/test-fixture-820/pom.xml
  operate/qa/migration-tests/test-fixture-830/pom.xml
  operate/qa/migration-tests/test-fixture-840/pom.xml
  operate/qa/pom.xml
  operate/qa/query-performance-tests/pom.xml
  operate/qa/util/pom.xml
  operate/schema/pom.xml
  operate/webapp/pom.xml
Labels: component/operate

#32725 create zeebe snapshots for bootstrapping a new partition
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/BootstrapSnapshotStore.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/PersistedSnapshot.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/RestorableSnapshotStore.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/SnapshotException.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/SnapshotMetadata.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedReceivedSnapshot.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshot.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotMetadata.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStore.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStoreImpl.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedTransientSnapshot.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/PersistedSnapshotStoreTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotMetadataTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStoreTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotTest.java
Labels: component/zeebe

#33238 build: update zeebe, identity versions
  optimize-distro/pom.xml
  optimize/pom.xml
  optimize/upgrade/pom.xml
Labels: component/optimize

#33193 test: add e2e tests for authorizations page
  identity/client/e2e/pages/AuthorizationsPage.ts
  identity/client/e2e/pages/UsersPage.ts
  identity/client/e2e/tests/authorizations.spec.ts
  identity/client/e2e/tests/users.spec.ts
  identity/client/e2e/text-fixtures.ts
Labels: component/identity

#33215 fix: show 'user' owner type in OIDC mode for authorization creation
  identity/client/src/pages/authorizations/modals/AddModal.tsx
  identity/client/src/pages/authorizations/modals/OwnerSelection/index.tsx
  identity/client/src/utility/localization/en/authorizations.json
Labels: component/identity

#33261 feat: dedicated identity migration app
  dist/pom.xml
  dist/src/main/java/io/camunda/application/Profile.java
  dist/src/main/java/io/camunda/application/StandaloneIdentityMigration.java
  dist/src/main/java/io/camunda/application/StandaloneProcessMigration.java
  dist/src/main/java/io/camunda/application/commons/migration/MigrationProfilePostProcessor.java
  dist/src/main/resources/META-INF/spring.factories
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#33336 ci: fix Maven version sed expression to support multi-digits
  .github/actions/setup-maven-dist/action.yaml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize, backport stable/8.6, backport stable/8.7

#33346 [Backport stable/8.6] ci: fix Maven version sed expression to support multi-digits
  .github/actions/setup-maven-dist/action.yaml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#33223 [Backport stable/8.6] fix: pass tenant as prop to diagram header
  operate/client/src/App/Processes/ListView/DiagramPanel/index.tsx
Labels: component/operate

#33370 fix: in AsyncApiHandler do not try to read result when error != null
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/AsyncApiRequestHandler.java
Labels: component/zeebe

#33145 docs: update c8run readme
  c8run/README.md
Labels: component/c8run

#33279 fix: OS backup manager snapshot response handler
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/backup/es/BackupManagerElasticSearch.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/backup/os/BackupManagerOpenSearch.java
Labels: component/tasklist, backport stable/8.7

#33404 fix: OS get-snapshot checks that verbose is null to shape the request
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchSnapshotOperations.java
Labels: component/operate, backport stable/8.7

#33379 refactor: create upgrade 8.7.2 To 8.7.3 plan factory
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/plan/factories/Upgrade872To873PlanFactory.java
Labels: component/optimize

#33481 build: merge release/optimize-8.6.9 in to stable/optimize-8.6
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/plan/factories/Upgrade869To8610PlanFactory.java
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Labels: component/optimize

#33482 build: merge release/optimize-8.7.2 in to stable/optimize-8.7
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/plan/factories/Upgrade872To873PlanFactory.java
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Labels: component/optimize

#31813 feat: enable sequence flows v2
  operate/client/src/App/ProcessInstance/TopPanel/index.tsx
  operate/client/src/App/ProcessInstance/TopPanel/v2/index.tsx
  operate/client/src/App/index.tsx
  operate/client/src/modules/feature-flags.ts
Labels: component/operate

#32671 fix: reset internal engine clock between tests
  dist/src/main/java/io/camunda/zeebe/shared/management/ActorClockEndpoint.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/CamundaProcessTestExtension.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/client/CamundaManagementClient.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/CamundaProcessTestClockResetIT.java
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/api/CamundaProcessTestExecutionListener.java
  testing/camunda-process-test-spring/src/test/java/io/camunda/process/test/api/CamundaSpringProcessTestClockResetIT.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/ActorClockActuator.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#33360 fix: validate mappingRule in engine
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/MappingCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/MappingUpdateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionIdempotencyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/mapping/CreateMappingMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/mapping/DeleteMappingMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/mapping/MappingCreateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/mapping/MappingTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/role/RoleTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/tenant/AddEntityTenantTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/tenant/RemoveEntityTenantTest.java
Labels: component/zeebe

#33532 fix: bump version for c8run release
  c8run/.env
Labels: component/c8run

#33475 fix: change login error toast to low contrast colors
  identity/client/src/pages/login/LoginPage.tsx
Labels: component/frontend, component/identity

#33381 Integrate groups tab in tenant details page
  identity/client/src/feature-flags.ts
  identity/client/src/pages/tenants/detail/index.tsx
Labels: component/frontend, component/identity

#33161 Support only specific adhoc activities
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/AdHocSubProcessTransformer.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/incident/AdHocSubProcessIncidentTest.java
Labels: component/zeebe, backport stable/8.7

#33164 Scale commands are distributed
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/scaling/BrokerClientPartitionScalingExecutor.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning/scaling/BrokerClientPartitionScalingExecutorTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/scaling/MarkPartitionBootstrappedProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/scaling/ScaleUpProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/scaling/ScaleUpStatusProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/scaling/ScaleUpStatusResponseApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/scaling/ScaledUpApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/scaling/ScalingProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/scaling/ScalingUpApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/distribution/DistributionQueue.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionIdempotencyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/scaling/ScaleUpTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/ScaleClient.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/scaling/BrokerPartitionBootstrappedRequest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/scaling/BrokerPartitionScaleUpRequest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/scaling/GetScaleUpProgress.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/distribution/CommandDistributionRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/scaling/ScaleRecord.java
Labels: component/zeebe

#33520 fix: Operate cannot deserialize IN_PROGRESS snapshot state in Opensearch
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/response/SnapshotState.java
  operate/schema/src/test/java/io/camunda/operate/schema/store/opensearch/client/sync/OpenSearchSnapshotOperationsTest.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/backup/OpensearchBackupRepository.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/opensearch/backup/OpensearchBackupRepositoryTest.java
Labels: backport main, component/operate, backport stable/operate-8.5, backport stable/8.7

#33590 [Backport stable/8.7] Support only specific adhoc activities
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/AdHocSubProcessTransformer.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/incident/AdHocSubProcessIncidentTest.java
Labels: component/zeebe

#33376 feat: Add user task name to data layer
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/UserTaskDbModel.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/UserTaskMigrationDbModel.java
  db/rdbms/src/main/resources/mapper/UserTaskMapper.xml
  db/rdbms/src/test/java/io/camunda/db/rdbms/write/domain/UserTaskDbModelTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/UserTaskFixtures.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/TaskTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/usertask/TaskEntity.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/template/tasklist-task.json
  webapps-schema/src/main/resources/schema/opensearch/create/template/tasklist-task.json
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UserTaskHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UserTaskJobBasedHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/UserTaskHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/UserTaskJobBasedHandlerTest.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterWrapper.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/UserTaskExportHandler.java
Labels: component/zeebe

#33132 feat: introduce groups claim
  authentication/src/main/java/io/camunda/authentication/CamundaOAuthPrincipalService.java
  authentication/src/test/java/io/camunda/authentication/CamundaOAuthPrincipalServiceTest.java
  security/security-core/src/main/java/io/camunda/security/auth/OidcGroupsLoader.java
  security/security-core/src/main/java/io/camunda/security/configuration/OidcAuthenticationConfiguration.java
  security/security-core/src/test/java/io/camunda/security/auth/OidcGroupsLoaderTest.java
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/identity, component/optimize

#32328 feat: added operation reference to V2 API incident resolution requests
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/ResolveIncidentCommandImpl.java
  clients/java/src/test/java/io/camunda/client/process/rest/ResolveIncidentRestTest.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/zeebe/operation/adapter/ServicesBasedAdapter.java
  service/src/main/java/io/camunda/service/JobServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/IncidentController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/JobController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/IncidentControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerTest.java
Labels: component/zeebe, component/operate, component/c8-api

#33220 fix: Write `VariableDocument` terminal events with `operationReference`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/FollowUpEventMetadata.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/writers/ResultBuilderBackedEventApplyingStateWriter.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/writers/TypedEventWriter.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/UserTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskUpdateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/variable/EventApplyingStateWriter.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/RecordingTypedEventWriter.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UserTaskListenersTest.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/BufferedProcessingResultBuilder.java
Labels: component/zeebe

#33633 fix: bump version for c8run alpha release
  c8run/.env
Labels: component/c8run

#32538 feat: add support for processing records in separate batches
  qa/acceptance-tests/src/test/java/io/camunda/it/client/BatchOperationMigrateProcessInstanceTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/util/TestHelper.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/Engine.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecuteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/TypedRecordProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/AbstractBatchOperationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/CreateBatchOperationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/MigrateProcessesBatchExecutorTest.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/ProcessingResult.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/ProcessingResultBuilder.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/BufferedProcessingResultBuilder.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/BufferedResult.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingStateMachine.java
Labels: component/zeebe

#33677 [Backport stable/optimize-8.7] fix: parse none nested string date correctly
  optimize/backend/src/it/java/io/camunda/optimize/service/importing/ZeebeVariableCreationImportIT.java
  optimize/backend/src/main/java/io/camunda/optimize/service/importing/engine/service/ObjectVariableService.java
Labels: component/optimize

#33683 [Backport stable/8.6] ci: increase check-licenses.yml workflow timeout to 20 minutes
  .github/workflows/check-licenses.yml
Labels: component/build-pipeline

#33732 [Backport stable/optimize-8.6] fix: when optimize uses multipart auth cookies do proper cookie validation
  optimize/backend/src/main/java/io/camunda/optimize/rest/security/ccsm/CCSMAuthenticationCookieFilter.java
Labels: component/optimize

#33707 test: make http port dynamic
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/config/CredentialsProviderOidcWithSSLTest.java
Labels: component/zeebe

#33686 [Backport stable/optimize-8.7] ci: increase check-licenses.yml workflow timeout to 20 minutes
  .github/workflows/check-licenses.yml
Labels: component/build-pipeline

#33684 [Backport stable/optimize-8.6] ci: increase check-licenses.yml workflow timeout to 20 minutes
  .github/workflows/check-licenses.yml
Labels: component/build-pipeline

#33526 [Backport stable/8.7] test: added tests to ensure compat with 8.7
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/PropertiesPostProcessor.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/ZeebeClientPropertiesPostProcessorTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/ca-cert-path.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/client-id-secret.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/credentials-cache-path.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/default-auto-complete.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/default-disabled.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/default-stream-enabled.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/default-tenant-ids.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/default-type.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/execution-threads.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/grpc-address.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/keep-alive.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/max-jobs-active.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/max-message-size.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/max-metadata-size.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/message-ttl.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/mode-saas.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/mode-self-managed.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/override-authority.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/request-timeout.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/rest-address.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/rest-over-grpc.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/saas.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/self-managed-extended.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/self-managed.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/tenant-id.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/worker-auto-complete.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/worker-disabled.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/worker-stream-enabled.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/worker-tenant-ids.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/worker-timeout.yaml
Labels: component/zeebe

#33621 Resurrect Operate and Tasklist backup restore CI
  .github/workflows/operate-test-backup-restore.yml
  .github/workflows/tasklist-backup-restore-tests-reusable.yml
  .github/workflows/tasklist-backup-restore-tests.yml
  operate/qa/backup-restore-tests/src/test/java/io/camunda/operate/qa/backup/BackupRestoreTest.java
  operate/qa/backup-restore-tests/src/test/resources/container-versions.properties
  operate/qa/pom.xml
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/BackupRestoreTest.java
  tasklist/qa/pom.xml
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/TestContainerUtil.java
Labels: component/build-pipeline, component/operate, component/tasklist, backport stable/operate-8.5, backport stable/8.7

#33735 Backup status endpoint returns INCOMPLETE while backup is still in progress
  operate/qa/backup-restore-tests/src/test/java/io/camunda/operate/qa/backup/BackupRestoreTest.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/backup/BackupRepository.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/backup/BackupService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/backup/ElasticsearchBackupRepository.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/backup/OpensearchBackupRepository.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/elasticsearch/backup/ElasticsearchBackupRepositoryTest.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/opensearch/backup/OpensearchBackupRepositoryTest.java
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/TasklistAPICaller.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/backup/es/BackupManagerElasticSearch.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/backup/os/BackupManagerOpenSearch.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/es/backup/es/BackupManagerElasticsearchTest.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/es/backup/os/BackupManagerOpenSearchTest.java
Labels: backport main, component/operate, component/tasklist, backport stable/8.7

#33593 [Backport stable/operate-8.5] fix: Operate cannot deserialize IN_PROGRESS snapshot state in Opensearch
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/response/SnapshotState.java
  operate/schema/src/test/java/io/camunda/operate/schema/store/opensearch/client/sync/OpenSearchSnapshotOperationsTest.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/backup/OpensearchBackupRepository.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/opensearch/backup/OpensearchBackupRepositoryTest.java
Labels: component/operate

#33695 fix: include all state in OR filter
  operate/client/src/App/Processes/ListView/DiagramPanel/v2/index.test.tsx
  operate/client/src/modules/hooks/useProcessInstancesFilters.test.ts
  operate/client/src/modules/hooks/useProcessInstancesFilters.ts
  operate/client/src/modules/testUtils.tsx
Labels: component/operate

#33592 [Backport main] fix: Operate cannot deserialize IN_PROGRESS snapshot state in Opensearch
  webapps-backup/src/main/java/io/camunda/webapps/backup/repository/opensearch/OpensearchBackupRepository.java
  webapps-backup/src/main/java/io/camunda/webapps/backup/repository/opensearch/SnapshotState.java
  webapps-backup/src/test/java/io/camunda/webapps/backup/repository/opensearch/OpensearchBackupRepositoryTest.java
Labels: component/operate

#33698 The identity migration fails fast on unhandled errors
  dist/src/main/java/io/camunda/application/StandaloneIdentityMigration.java
  dist/src/main/java/io/camunda/application/StandaloneProcessMigration.java
  dist/src/main/java/io/camunda/application/commons/migration/AsyncMigrationsRunner.java
  dist/src/main/java/io/camunda/application/commons/migration/BlockingMigrationsRunner.java
  migration/identity-migration/pom.xml
  migration/identity-migration/src/main/java/io/camunda/migration/identity/GroupMigrationHandler.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/IdentityMigrator.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/MigrationHandler.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/MigrationRunner.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/config/ManagementIdentityConnectorConfig.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/config/cluster/ClusterProperties.java
  migration/migration-api/src/main/java/io/camunda/migration/api/Migrator.java
  migration/process-migration/src/main/java/io/camunda/migration/process/ProcessMigrator.java
  migration/process-migration/src/test/java/io/camunda/migration/process/it/AdapterTest.java
  migration/process-migration/src/test/java/io/camunda/migration/process/it/ProcessMigratorIT.java
  qa/acceptance-tests/pom.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/IdentityMigrationFailureIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/IdentityMigrationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/util/MigrationITExtension.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestSpringApplication.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneIdentityMigration.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#33690 Redirect to `/identity/setup` page if no admin user exists or is configured
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/filters/AdminUserCheckFilter.java
  authentication/src/test/java/io/camunda/authentication/filters/AdminUserCheckFilterTest.java
  security/security-protocol/src/main/java/io/camunda/zeebe/protocol/record/value/DefaultRole.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/IdentitySetupInitializer.java
Labels: component/zeebe

#33721 release: allow "alphaX.Y" releases to be detected as prerelease
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

#33775 fix: remove the job reference from the element instance on job completed
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/JobCompletedApplierV2.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/JobCompletedV1Applier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceRegressionTest.java
Labels: component/zeebe, backport stable/8.6, backport stable/8.7

#33817 [Backport stable/8.6] fix: remove the job reference from the element instance on job completed
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/JobCompletedApplierV2.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/JobCompletedV1Applier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceRegressionTest.java
Labels: component/zeebe

#33335 `SnapshotTransferServiceImpl` sends a snapshot for bootstrap
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport/snapshotapi/SnapshotApiRequestHandlerTest.java
  zeebe/snapshot/pom.xml
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/BootstrapSnapshotStore.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/SnapshotCopyUtil.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedReceivedSnapshot.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStoreImpl.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedTransientSnapshot.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/transfer/SnapshotTransfer.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/transfer/SnapshotTransferImpl.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/transfer/SnapshotTransferServiceImpl.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStoreTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/transfer/SnapshotTransferTest.java
Labels: component/zeebe

#33710 fix: use correct meter name/description for recovery time
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/StreamProcessorMetrics.java
Labels: component/zeebe, backport stable/8.5, backport stable/8.6

#33090 Verify inherited authorizations using basic auth and OIDC
  qa/acceptance-tests/pom.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/InheritedBasicAuthAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/InheritedOIDCAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/MappingAuthorizationIT.java
  qa/util/pom.xml
  qa/util/src/main/java/io/camunda/qa/util/auth/MappingDefinition.java
  qa/util/src/main/java/io/camunda/qa/util/auth/TestMapping.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestCamundaApplication.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/BasicAuthCamundaClientTestFactory.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/CamundaClientTestFactory.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/CamundaMultiDBExtension.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/EntityManager.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/MultiDbTest.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/OidcCamundaClientTestFactory.java
  security/security-core/src/main/java/io/camunda/security/auth/MappingRuleMatcher.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestGateway.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneApplication.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
Labels: component/zeebe

#33826 [Backport stable/8.6] fix: use correct meter name/description for recovery time
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/StreamProcessorMetrics.java
Labels: component/zeebe

#33595 fix: change backpressure orientation
  monitor/grafana/zeebe.json
Labels: component/zeebe

#33837 [Backport stable/8.7] fix: Tasklist - Ambiguous INCOMPLETE snapshot state
  tasklist/common/src/main/java/io/camunda/tasklist/property/BackupProperties.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/backup/es/BackupManagerElasticSearch.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/backup/os/BackupManagerOpenSearch.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/es/backup/es/BackupManagerElasticsearchTest.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/es/backup/os/BackupManagerOpenSearchTest.java
Labels: component/tasklist

#33691 deps: update c8run env file to docker 8.8
  .github/workflows/c8run-build.yaml
  c8run/.env
  parent/pom.xml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize, component/c8run

#33790 feat: increase toast notification time from 5s to 10s
  identity/client/src/components/notifications/Notification.tsx
Labels: component/frontend, component/identity

#33792 fix: rename batch to batch_operation
  identity/client/src/pages/authorizations/modals/AddModal.tsx
  identity/client/src/utility/api/authorizations/index.ts
  identity/client/src/utility/localization/en/authorizations.json
Labels: component/frontend, component/identity

#33846 fix: Revert "feat: add validation to setters in BrokerInfo (#33511)"
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning/PartitionJoinTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/encoding/BrokerInfo.java
Labels: component/zeebe

#33818 [Backport stable/8.7] fix: remove the job reference from the element instance on job completed
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/JobCompletedApplierV2.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/JobCompletedV1Applier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceRegressionTest.java
Labels: component/zeebe

#32659 Fix default user delete default tenant
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantDeleteProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/tenant/DeleteTenantAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/TenantClient.java
Labels: component/zeebe

#33853 fix: reduce JUnit test timeout of HealthMonitoringTest
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/health/HealthMonitoringTest.java
Labels: component/zeebe

#33833 [Backport stable/8.7] feat: all backup stores share the same logging implementation
  dist/src/main/java/io/camunda/zeebe/restore/BackupStoreComponent.java
  zeebe/backup-stores/azure/src/main/java/io/camunda/zeebe/backup/azure/AzureBackupStore.java
  zeebe/backup-stores/gcs/src/main/java/io/camunda/zeebe/backup/gcs/GcsBackupStore.java
  zeebe/backup-stores/s3/src/main/java/io/camunda/zeebe/backup/s3/S3BackupStore.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/api/BackupStore.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/common/LoggingBackupStore.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/BackupStoreTransitionStep.java
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/AzureBackupAcceptanceIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/BackupMultiPartitionTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/S3BackupAcceptanceIT.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#33178 Automate changelog generation
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

#33841 feat: 8.6 mergeback of release branch into stable
  .github/workflows/optimize-release-optimize-c8-only.yml
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/plan/factories/Upgrade8610To8611PlanFactory.java
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Labels: component/build-pipeline, component/optimize

#33842 feat: 8.7 mergeback of release branch into stable
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/plan/factories/Upgrade873To874PlanFactory.java
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Labels: component/optimize

#33864 ci: splitting steps per component for Core Features
  .github/workflows/add-to-projects.yml
Labels: component/build-pipeline

#31955 feat: add usage metrics record & intent
  docs/zeebe/developer_handbook.md
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/TestSupport.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TestSupport.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestReader.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/metrics/DbUsageMetricState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/EventAppliersTest.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporterConfiguration.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/TestSupport.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterConfiguration.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestSupport.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/metrics/UsageMetricRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/ValueTypeMapping.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/Intent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/UsageMetricIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/UsageMetricRecordValue.java
  zeebe/protocol/src/main/resources/protocol.xml
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/TypedEventRegistry.java
Labels: component/zeebe, component/operate, component/tasklist

#33868 Bump postgresql version to address CVE-2025-49146
  parent/pom.xml
Labels: component/optimize

#33876 test: enable "realistic" scaling IT test
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ScaleUpPartitionsTest.java
Labels: component/zeebe

#33920 fix: Operate does not correctly convert snapshot endTime
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchSnapshotOperations.java
  operate/schema/src/test/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchSnapshotOperationsTest.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/backup/OpensearchBackupRepository.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/backup/MetadataTest.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/opensearch/backup/OpensearchBackupRepositoryTest.java
Labels: component/operate, backport stable/operate-8.5, backport stable/8.6, backport stable/8.7, backport release-8.6.19, backport release-8.7.6

#33933 [Backport release-8.7.6] fix: Operate does not correctly convert snapshot endTime
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchSnapshotOperations.java
  operate/schema/src/test/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchSnapshotOperationsTest.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/backup/OpensearchBackupRepository.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/backup/MetadataTest.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/opensearch/backup/OpensearchBackupRepositoryTest.java
Labels: component/operate

#33728 feat: Filter user tasks by their name
  clients/java/src/main/java/io/camunda/client/api/search/filter/UserTaskFilter.java
  clients/java/src/main/java/io/camunda/client/api/search/sort/UserTaskSort.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/UserTaskFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/sort/UserTaskSortImpl.java
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/mapper/UserTaskEntityMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/columns/UserTaskSearchColumn.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/UserTaskDbModel.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/UserTaskMigrationDbModel.java
  db/rdbms/src/main/resources/mapper/UserTaskMapper.xml
  db/rdbms/src/test/java/io/camunda/db/rdbms/write/domain/UserTaskDbModelTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/UserTaskSearchTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/UserTaskFixtures.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/entity/UserTaskEntityTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/UserTaskFilterTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/sort/UserTaskFieldSortingTransformer.java
  search/search-domain/src/main/java/io/camunda/search/entities/UserTaskEntity.java
  search/search-domain/src/main/java/io/camunda/search/filter/UserTaskFilter.java
  search/search-domain/src/main/java/io/camunda/search/sort/UserTaskSort.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/TaskTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/usertask/TaskEntity.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/template/tasklist-task.json
  webapps-schema/src/main/resources/schema/opensearch/create/template/tasklist-task.json
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UserTaskHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UserTaskJobBasedHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/UserTaskHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/UserTaskJobBasedHandlerTest.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/UserTaskExportHandler.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserTaskQueryControllerTest.java
Labels: component/zeebe, component/c8-api

#33917 Fix/reduce rdbms logging
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/queue/DefaultExecutionQueue.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/HistoryCleanupService.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporter.java
Labels: component/zeebe, component/rdbms

#33934 fix: Fix changelog generation for dry run (32376)
  .github/workflows/camunda-platform-release-main-dry-run.yml
Labels: component/build-pipeline

#33910 When scaling, ensure follower receive the initial snapshot for bootstrap
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ScaleUpPartitionsTest.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStoreImpl.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStoreTest.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/transfer/SnapshotTransferTest.java
Labels: component/zeebe

#33956 chore(deps): Disable upgrades to major and minor versions of ElasticSearch and OpenSearch
  .github/renovate.json
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#32536 Fix deploy error message
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/MultiTenantDeploymentCreateAuthorizationTest.java
Labels: component/zeebe

#33974 [Backport main] fix: skip deserialize when verifyRepositoryExists
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/OptimizeOpenSearchClient.java
  optimize/util/optimize-commons/src/test/java/io/camunda/optimize/service/OptimizeOpenSearchClientTest.java
Labels: component/optimize

#33915 feat: streamline API search DTO names
  clients/java/src/main/java/io/camunda/client/impl/search/filter/GroupFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/MappingFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/ProcessInstanceFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/RoleFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/UserFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/UserTaskFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/UserTaskVariableFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/VariableFilterMapper.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/VariableValueFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/statistics/filter/ProcessDefinitionStatisticsFilterImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/filter/ProcessInstanceFilter.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/search/filter/UserTaskFilter.java
  clients/java/src/test/java/io/camunda/client/process/ProcessDefinitionStatisticsTest.java
  clients/java/src/test/java/io/camunda/client/process/QueryProcessInstanceTest.java
  clients/java/src/test/java/io/camunda/client/usertask/SearchUserTaskTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
Labels: BREAKING CHANGE, component/zeebe, component/c8-api, deprecated-client

#33827 Add command to create an initial admin user
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/UserCreateAdminProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/UserProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbMembershipState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/MembershipState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/user/CreateInitialAdminUserAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/user/CreateInitialAdminUserTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/RoleClient.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/UserClient.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/UserIntent.java
Labels: component/zeebe

#33969 fix: allow default tenant id in tenant request validator
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/TenantRequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantRequestValidatorTest.java
Labels: component/zeebe, component/c8-api

#33979 fix: ROUTING & BOOTSTRAPPED_AT were missing the GLOBAL scope
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
Labels: component/zeebe

#33993 fix: missing @ExcludeAuthorizationCheck for ScaleUpStatusProcessor
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/scaling/ScaleUpStatusProcessor.java
Labels: component/zeebe

#33953 fix: setting issuer for audience
  clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsProvider.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsProviderBuilder.java
Labels: backport main, component/zeebe, backport stable/8.6

#33955 [Backport stable/8.6] ES/OS Exporter writes to correct versioned indices
  dist/src/main/java/io/camunda/application/StandaloneSchemaManager.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchClient.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/RecordIndexRouter.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/SchemaManager.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchClientIT.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchClientTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterIT.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/FaultToleranceIT.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/RecordIndexRouterTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/TestClient.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchClient.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/RecordIndexRouter.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/FaultToleranceIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchClientIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchClientTest.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterTest.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/RecordIndexRouterTest.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestClient.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, backport stable/8.7

#34006 [Backport release-8.6.19] [Backport stable/8.6] fix: setting issuer for audience
  clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsProvider.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsProviderBuilder.java
Labels: component/zeebe

#34007 [Backport stable/8.7] ES/OS Exporter writes to correct versioned indices
  dist/src/main/java/io/camunda/application/StandaloneSchemaManager.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchClient.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/RecordIndexRouter.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/SchemaManager.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchClientIT.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchClientTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterIT.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/FaultToleranceIT.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/RecordIndexRouterTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/TestClient.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchClient.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/RecordIndexRouter.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/FaultToleranceIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchClientIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchClientTest.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterTest.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/RecordIndexRouterTest.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestClient.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#34060 [Backport stable/8.6] Add missing s3 configs
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  zeebe/backup-stores/s3/src/main/java/io/camunda/zeebe/backup/s3/S3BackupConfig.java
  zeebe/backup-stores/s3/src/test/java/io/camunda/zeebe/backup/s3/BackupUploadIT.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/backup/S3BackupStoreConfig.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#34061 [Backport stable/8.7] Add missing s3 configs
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  zeebe/backup-stores/s3/src/main/java/io/camunda/zeebe/backup/s3/S3BackupConfig.java
  zeebe/backup-stores/s3/src/test/java/io/camunda/zeebe/backup/s3/BackupUploadIT.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/backup/S3BackupStoreConfig.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#33928 fix: Allow retrying `ADD_VARIABLE` operation with the same variable name
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/validation/CreateRequestOperationValidator.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/rest/validation/CreateRequestOperationValidatorTest.java
Labels: component/operate

#33970 fix: remove hardcoded default tenant access
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorMultiTenancyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobWorkerElementMultiTenantTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobWorkerElementTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/incident/ErrorEventIncidentTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/incident/JobFailIncidentTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/CompleteJobTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/FailJobTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobThrowErrorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobUpdateRetriesTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobUpdateTimeoutTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/MultiTenantJobOperationsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/usertask/AssignUserTaskTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/usertask/ClaimUserTaskTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/usertask/CompleteUserTaskTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/usertask/MultiTenantUserTaskOperationsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/usertask/UpdateUserTaskTest.java
Labels: component/zeebe

#34145 fix: enable AutoConfiguration for process migration app
  dist/src/main/java/io/camunda/application/StandaloneProcessMigration.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#33807 ci: upgrade camunda-release-parent to 4.0.0 and switch to Central Portal deployment
  bom/pom.xml
Labels: backport stable/8.3, backport stable/8.4, component/zeebe, component/operate, backport stable/8.5, component/tasklist, component/optimize, backport stable/8.6, backport stable/8.7, do-not-merge/hold

#34076 fix: added `result` to Operate v1 DecisionInstance response
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/dao/DecisionInstanceDaoIT.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/dao/elasticsearch/ElasticsearchDecisionInstanceDao.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/dao/opensearch/OpensearchDecisionInstanceDao.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/entities/DecisionInstance.java
Labels: backport main, component/operate, backport stable/operate-8.5, backport stable/8.7

#34157 [Backport stable/8.7] ci: upgrade camunda-release-parent to 4.0.0 and switch to Central Portal deployment
  bom/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#34080 Fix oauth jwt refresh expiry 8.7 when using mTLS (client_assertion)
  clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsProvider.java
Labels: component/zeebe, bug_fix, backport stable/8.6

#34162 [Backport stable/8.6] Fix oauth jwt refresh expiry 8.7 when using mTLS (client_assertion)
  clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsProvider.java
Labels: component/zeebe

#34155 [Backport stable/8.5] ci: upgrade camunda-release-parent to 4.0.0 and switch to Central Portal deployment
  bom/pom.xml
Labels: component/zeebe, component/operate

#34159 [Backport main] fix: added `result` to Operate v1 DecisionInstance response
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/dao/DecisionInstanceDaoIT.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/dao/elasticsearch/ElasticsearchDecisionInstanceDao.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/dao/opensearch/OpensearchDecisionInstanceDao.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/entities/DecisionInstance.java
Labels: component/operate

#34171 fix: Revert "Use jobs search C8 API endpoint for listeners tab in Ope…
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/v2/FlowNodeStates.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/v2/Listeners/index.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/v2/Listeners/styled.ts
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/v2/NewVariableModifications.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/v2/index.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/v2/index.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/v2/notification.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/v2/placeholder.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/v2/readonly.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/v2/spinner.test.tsx
  operate/client/src/App/ProcessInstance/v2/index.tsx
  operate/client/src/modules/api/v2/jobs/searchJobs.ts
  operate/client/src/modules/mock-server/handlers.ts
  operate/client/src/modules/mocks/api/v2/jobs/searchJobs.ts
  operate/client/src/modules/queries/jobs/useJobs.ts
Labels: component/operate

#34150 [Backport stable/8.6] fix: Allow retrying `ADD_VARIABLE` operation with the same variable name
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/validation/CreateRequestOperationValidator.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/rest/validation/CreateRequestOperationValidatorTest.java
Labels: component/operate

#34170 fix: properly limit s3 transfer concurrency
  docs/virtual_threads.md
  zeebe/backup-stores/s3/src/main/java/io/camunda/zeebe/backup/s3/FileSetManager.java
  zeebe/backup-stores/s3/src/main/java/io/camunda/zeebe/backup/s3/S3BackupStore.java
Labels: component/zeebe, backport stable/8.5, backport stable/8.6, backport stable/8.7

#34177 feat: 8.6 mergeback of release branch into stable
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/plan/factories/Upgrade8611To8612PlanFactory.java
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Labels: component/optimize

#34182 [Backport stable/8.7] fix: properly limit s3 transfer concurrency
  docs/virtual_threads.md
  zeebe/backup-stores/s3/src/main/java/io/camunda/zeebe/backup/s3/FileSetManager.java
  zeebe/backup-stores/s3/src/main/java/io/camunda/zeebe/backup/s3/S3BackupStore.java
Labels: component/zeebe

#34167 deps: change alpine version to 3.22.0
  .github/optimize/scripts/build-docker-image.sh
  .github/workflows/optimize-release-optimize-c8-only.yml
  optimize/docker/test/docker-labels.golden.json
  optimize/docker/test/verify.sh
Labels: component/build-pipeline, component/optimize

#34181 [Backport stable/8.6] fix: properly limit s3 transfer concurrency
  docs/virtual_threads.md
  zeebe/backup-stores/s3/src/main/java/io/camunda/zeebe/backup/s3/FileSetManager.java
  zeebe/backup-stores/s3/src/main/java/io/camunda/zeebe/backup/s3/S3BackupStore.java
Labels: component/zeebe
