Repository camunda/camunda, pull requests merged in 2025-02, with the labels that each got.

#27566 refactor: move set envVars in single function
  c8run/main.go
Labels: backport stable/8.6, backport stable/8.7

#27568 refactor: move getBaseCommand in own function
  c8run/main.go
Labels: backport stable/8.6, backport stable/8.7

#27572 [Backport stable/8.6] refactor: move set envVars in single function
  c8run/main.go
Labels: component/c8run

#27552 ci: add release workflow for c8run
  .github/workflows/c8run-release.yaml
Labels: component/build-pipeline, component/c8run

#27573 [Backport stable/8.7] refactor: move set envVars in single function
  c8run/main.go
Labels: component/c8run

#24845 Run Operate migration test suite on stable 8.5 branch
  .github/workflows/operate-test-migrate-elasticsearch-data.yml
  operate/pom.xml
  operate/qa/migration-tests/migration-test/src/test/java/io/camunda/operate/qa/migration/SchemaChangesTest.java
  operate/qa/migration-tests/migration-test/src/test/java/io/camunda/operate/qa/migration/util/ConnectionHolder.java
  operate/qa/migration-tests/test-fixture-110/src/main/java/io/camunda/operate/qa/migration/v110/BigProcessDataGenerator.java
  operate/qa/migration-tests/test-fixture-110/src/main/resources/sequential-noop.bpmn
  operate/qa/util/src/main/java/io/camunda/operate/qa/util/TestContainerUtil.java
  operate/qa/util/src/main/java/io/camunda/operate/qa/util/TestContext.java
  operate/qa/util/src/main/java/io/camunda/operate/qa/util/ZeebeTestUtil.java
Labels: component/operate

#27515 27404 Switch E2E pipeline to /dist
  .github/workflows/optimize-e2e-tests-sm.yml
  optimize/client/docker-compose.yml
  optimize/client/scripts/start-backend.js
  optimize/client/vite.config.ts
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#27532 Migrate exporter director metrics to Micrometer
  monitor/grafana/camunda-performance.json
  zeebe/broker/pom.xml
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterMetricsDoc.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterContainerRuntime.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirectorTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterDisableTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterRule.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/TestPartitionTransitionContext.java
  zeebe/util/pom.xml
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/EnumTable.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/MapTable.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/Table.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/micrometer/ExtendedMeterDocumentation.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/micrometer/MicrometerUtil.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/collection/TableTest.java
Labels: component/zeebe, component/operate, backport stable/8.5, component/tasklist, component/optimize, backport stable/8.6, backport stable/8.7

#27575 [Backport stable/8.6] refactor: move getBaseCommand in own function
  c8run/main.go
Labels: component/c8run

#27537 Migrate broker step metrics to Micrometer
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/BrokerStartupProcess.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/BrokerStepMetricDecorator.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/BrokerStepMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/BrokerStepMetricsDoc.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/bootstrap/BrokerStepMetricDecoratorTest.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/micrometer/MicrometerUtil.java
Labels: component/zeebe, backport stable/8.6, backport stable/8.7

#27588 [Backport stable/8.6] pg-27022-schema-validator-dynamic-field
  tasklist/els-schema/src/main/java/io/camunda/tasklist/util/IndexSchemaValidatorUtil.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/IndexSchemaValidatorIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/IndexSchemaValidatorIT.java
  tasklist/qa/integration-tests/src/test/resources/tasklist-test-elasticsearch-schema-validator.json
  tasklist/qa/integration-tests/src/test/resources/tasklist-test-opensearch-schema-validator.json
Labels: component/tasklist

#27565 refactor: move docker cmd hanlding in own function
  c8run/main.go
Labels: backport stable/8.7

#27550 feat: change optimize management port from 8092 to 9600
  dist/src/main/java/io/camunda/application/StandaloneOptimize.java
  optimize/backend/src/main/java/io/camunda/optimize/tomcat/OptimizeResourceConstants.java
  optimize/client/docker-compose.yml
  optimize/docker-compose.ccsm-with-optimize.yml
  optimize/util/optimize-commons/src/main/resources/service-config.yaml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#26521 Add BackupRestore E2E test with ES
  dist/src/test/java/io/camunda/application/commons/backup/BackupPrioritiesTest.java
  qa/integration-tests/pom.xml
  qa/integration-tests/src/test/java/io/camunda/it/backup/BackupRestoreIT.java
  qa/integration-tests/src/test/java/io/camunda/it/utils/MultiDbConfigurator.java
  qa/util/pom.xml
  qa/util/src/main/java/io/camunda/qa/util/cluster/HistoryBackupClient.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestOperateOpenSearchSchemaManager.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestStandaloneCamunda.java
  webapps-backup/src/main/java/io/camunda/webapps/backup/BackupServiceImpl.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/backup/BackupPriorities.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/backup/SnapshotIndexCollection.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#27492 refactor: align size of all string columns (ids, names) #24002
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
Labels: component/rdbms

#27598 [Backport stable/8.7] refactor: return cmd settings in its own function
  c8run/main.go
Labels: component/c8run

#27597 [Backport stable/8.6] refactor: return cmd settings in its own function
  c8run/main.go
  c8run/package.go
Labels: component/c8run

#27553 refactor: query service health funcions
  c8run/main.go
Labels: component/c8run, backport stable/8.6, backport stable/8.7

#27501 fix: add more variable tests and fix wildcard operator# 24002
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/columns/ProcessInstanceSearchColumn.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/typehandler/WildcardTransformingStringTypeHandler.java
  db/rdbms/src/main/resources/mapper/Commons.xml
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
  db/rdbms/src/test/java/io/camunda/db/rdbms/sql/typehandler/WildcardTransformingStringTypeHandlerTest.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/ProcessInstanceFixtures.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/processinstance/ProcessInstanceIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/processinstance/ProcessInstanceSortIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/processinstance/ProcessInstanceSpecificFilterIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/variables/VariableValueFilterIT.java
Labels: component/rdbms

#27595 [Backport stable/8.5] Exporters can now expose metrics through Micrometer face.
  dist/pom.xml
  dist/src/main/java/io/camunda/zeebe/broker/StandaloneBroker.java
  zeebe/broker/pom.xml
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/Broker.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/BrokerStartupContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/BrokerStartupContextImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/PartitionManagerStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/context/ExporterContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/repo/ExporterRepository.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterContainer.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirectorContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/PartitionManagerImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/startup/ZeebePartitionFactory.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/SystemContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionStartupAndTransitionContextImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionTransitionContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ExporterDirectorPartitionTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterContainerRuntime.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterContainerTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExternalExporterContainerTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/TestPartitionTransitionContext.java
  zeebe/exporter-api/pom.xml
  zeebe/exporter-api/src/main/java/io/camunda/zeebe/exporter/api/context/Context.java
  zeebe/exporter-test/pom.xml
  zeebe/exporter-test/src/main/java/io/camunda/zeebe/exporter/test/ExporterTestContext.java
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteringRule.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/exporter/ExporterMetricsIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/exporter/ExporterMetricsTestExporter.java
  zeebe/qa/update-tests/pom.xml
  zeebe/qa/util/pom.xml
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/PrometheusActuator.java
Labels: component/zeebe

#27601 [Backport stable/8.5] El 20724 micromter refactor
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/metrics/ExecutionLatencyMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/metrics/MetricsExporter.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/metrics/MetricsExporterTest.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchMetrics.java
  zeebe/exporters/opensearch-exporter/pom.xml
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchClient.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchMetrics.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchClientIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchClientTest.java
Labels: component/zeebe

#27306 feat: Handle file upload payload exception for large file payloads
  tasklist/client/src/modules/components/FormJSRenderer/FormLevelErrorMessage.tsx
  tasklist/client/src/modules/components/FormJSRenderer/ValidationMessage.tsx
  tasklist/client/src/modules/components/FormJSRenderer/index.test.tsx
  tasklist/client/src/modules/components/FormJSRenderer/index.tsx
  tasklist/client/src/modules/components/FormJSRenderer/styles.module.scss
  tasklist/client/src/modules/internationalization/locales/de.json
  tasklist/client/src/modules/internationalization/locales/en.json
  tasklist/client/src/modules/internationalization/locales/es.json
  tasklist/client/src/modules/internationalization/locales/fr.json
  tasklist/client/src/modules/types/global.d.ts
  tasklist/client/src/modules/utils/toHumanReadableBytes.test.ts
  tasklist/client/src/modules/utils/toHumanReadableBytes.ts
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/rest/ClientConfigRestServiceIT.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/rest/ClientConfig.java
Labels: component/tasklist

#27604 [Backport stable/8.5] feat: partition scoped metric registry
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/startup/ZeebePartitionFactory.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionStartupAndTransitionContextImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionTransitionContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ExporterDirectorPartitionTransitionStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/MetricsStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/StreamProcessorTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/TestPartitionTransitionContext.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchClient.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchMetrics.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchClientIT.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchClientTest.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchClient.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchMetrics.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchClientIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchClientTest.java
Labels: component/zeebe

#27605 [Backport stable/8.5] fix: use new micrometer metric names
  monitor/grafana/zeebe.json
Labels: component/zeebe, component/operate

#27606 [Backport stable/8.5] feat: provide isolate CompositeMeterRegistry for each ExporterContainer
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/context/ExporterContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/metrics/ExecutionLatencyMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/repo/ExporterRepository.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterContainer.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/context/ExporterContextTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/metrics/MetricsExporterTest.java
Labels: component/zeebe

#27581 [Backport stable/8.5] Migrate exporter director metrics to Micrometer
  zeebe/broker/pom.xml
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterMetricsDoc.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterContainerRuntime.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirectorTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterRule.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/TestPartitionTransitionContext.java
  zeebe/util/pom.xml
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/EnumTable.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/MapTable.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/Table.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/micrometer/ExtendedMeterDocumentation.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/micrometer/MicrometerUtil.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/collection/TableTest.java
Labels: component/zeebe

#27584 Update add-to-projects.yml
  .github/workflows/add-to-projects.yml
Labels: component/build-pipeline, component/connectors

#27612 [Backport stable/8.5] Drop usage of old Prometheus simple client for benchmarks module
  parent/pom.xml
  zeebe/benchmarks/project/pom.xml
  zeebe/benchmarks/project/src/main/java/io/camunda/zeebe/App.java
  zeebe/benchmarks/project/src/main/java/io/camunda/zeebe/Worker.java
Labels: component/zeebe, component/operate

#27583 [Backport stable/8.7] Migrate exporter director metrics to Micrometer
  monitor/grafana/camunda-performance.json
  zeebe/broker/pom.xml
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterMetricsDoc.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterContainerRuntime.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirectorTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterDisableTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterRule.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/TestPartitionTransitionContext.java
  zeebe/util/pom.xml
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/EnumTable.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/MapTable.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/Table.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/micrometer/ExtendedMeterDocumentation.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/micrometer/MicrometerUtil.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/collection/TableTest.java
Labels: component/zeebe

#27586 [Backport stable/8.7] Migrate broker step metrics to Micrometer
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/BrokerStartupProcess.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/BrokerStepMetricDecorator.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/BrokerStepMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/BrokerStepMetricsDoc.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/bootstrap/BrokerStepMetricDecoratorTest.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/micrometer/MicrometerUtil.java
Labels: component/zeebe

#27585 [Backport stable/8.6] Migrate broker step metrics to Micrometer
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/BrokerStartupProcess.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/BrokerStepMetricDecorator.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/BrokerStepMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/BrokerStepMetricsDoc.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/bootstrap/BrokerStepMetricDecoratorTest.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/micrometer/MicrometerUtil.java
Labels: component/zeebe

#27556 Migrate ProcessingMetrics from stream platform to Micrometer
  monitor/grafana/camunda-performance.json
  monitor/grafana/dashboards/operate.json
  monitor/grafana/zeebe.json
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterMetrics.java
  zeebe/stream-platform/pom.xml
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingStateMachine.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ReplayStateMachine.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/ProcessingMetrics.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/ReplayMetrics.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/StreamMetricsDoc.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/StreamProcessorMetrics.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/micrometer/EnumMeter.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/micrometer/ExtendedMeterDocumentation.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/micrometer/EnumMeterTest.java
Labels: component/zeebe, backport stable/8.5, backport stable/8.6, backport stable/8.7

#27534 Migrate job stream metrics to Micrometer
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/JobStreamServiceStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterMetricsDoc.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/jobstream/JobStreamMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/jobstream/JobStreamMetricsDoc.java
Labels: component/zeebe, backport stable/8.5, backport stable/8.6, backport stable/8.7

#27536 Migrate bounded command cache metrics to Micrometer
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/ScheduledCommandCacheMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/StreamProcessorTransitionStep.java
Labels: component/zeebe, backport stable/8.5, backport stable/8.6, backport stable/8.7

#27570 27277 document handling backport for zeebe client
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClient.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/CreateDocumentBatchCommandStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/CreateDocumentCommandStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/CreateDocumentLinkCommandStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/DeleteDocumentCommandStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/DocumentBuilderStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/fetch/DocumentContentGetRequest.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DeleteDocumentResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DocumentLinkResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DocumentMetadata.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DocumentReferenceBatchResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DocumentReferenceResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateDocumentBatchCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateDocumentCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateDocumentLinkCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/DeleteDocumentCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/fetch/DocumentContentGetRequestImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClient.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentLinkResponseImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentMetadataImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentReferenceBatchResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentReferenceBatchResponseImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentReferenceResponseImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/util/DocumentBuilder.java
  qa/integration-tests/src/test/java/io/camunda/it/client/CreateDocumentBatchTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/CreateDocumentLinkTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/CreateDocumentTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/DeleteDocumentTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RestErrorMapper.java
Labels: backport main, component/zeebe

#27356 [Backport stable/8.5] Fix zeebe-io references
  .github/workflows/zeebe-benchmark.yml
  .github/workflows/zeebe-medic-benchmarks.yml
  zeebe/benchmarks/setup/README.md
  zeebe/benchmarks/setup/newBenchmark.sh
Labels: component/zeebe

#27538 Migrate broker health metrics to Micrometer
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/HealthMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/HealthMetricsDoc.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/HealthTreeMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/monitoring/HealthTreeMetricsTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionTest.java
  zeebe/util/pom.xml
  zeebe/util/src/main/java/io/camunda/zeebe/util/micrometer/MicrometerUtil.java
Labels: component/zeebe, backport stable/8.5, backport stable/8.6, backport stable/8.7

#27639 [Backport stable/8.7] fix: zeebe-io references
  .github/workflows/zeebe-benchmark.yml
  .github/workflows/zeebe-medic-benchmarks.yml
  zeebe/benchmarks/setup/README.md
  zeebe/benchmarks/setup/newBenchmark.sh
Labels: component/build-pipeline, component/zeebe

#27636 [Backport stable/8.5] Migrate bounded command cache metrics to Micrometer
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/ScheduledCommandCacheMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/StreamProcessorTransitionStep.java
Labels: component/zeebe

#27637 [Backport stable/8.6] Migrate bounded command cache metrics to Micrometer
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/ScheduledCommandCacheMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/StreamProcessorTransitionStep.java
Labels: component/zeebe

#27542 feat: add error message for document components in public start forms
  tasklist/client/src/StartProcessFromForm/hasFileComponents.test.ts
  tasklist/client/src/StartProcessFromForm/hasFileComponents.ts
  tasklist/client/src/StartProcessFromForm/index.tsx
  tasklist/client/src/Tasks/Task/Variables/JSONEditorModal/index.tsx
  tasklist/client/src/Tasks/Task/Variables/validators/index.tsx
  tasklist/client/src/modules/custom-filters/customFiltersSchema.ts
  tasklist/client/src/modules/internationalization/locales/de.json
  tasklist/client/src/modules/internationalization/locales/en.json
  tasklist/client/src/modules/internationalization/locales/es.json
  tasklist/client/src/modules/internationalization/locales/fr.json
  tasklist/client/src/modules/tracking/index.tsx
  tasklist/client/src/modules/utils/isValidJSON.ts
  tasklist/client/src/modules/utils/jsonUtils.ts
Labels: component/tasklist

#27649 [Backport release-8.7.0-alpha4] pg-27022-schema-validator-dynamic-field
  tasklist/els-schema/src/main/java/io/camunda/tasklist/util/IndexSchemaValidatorUtil.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/IndexSchemaValidatorIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/IndexSchemaValidatorIT.java
  tasklist/qa/integration-tests/src/test/resources/tasklist-test-elasticsearch-schema-validator.json
  tasklist/qa/integration-tests/src/test/resources/tasklist-test-opensearch-schema-validator.json
Labels: component/tasklist

#27638 [Backport stable/8.7] Migrate bounded command cache metrics to Micrometer
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/ScheduledCommandCacheMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/StreamProcessorTransitionStep.java
Labels: component/zeebe

#27634 [Backport stable/8.6] Migrate job stream metrics to Micrometer
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/JobStreamServiceStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterMetricsDoc.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/jobstream/JobStreamMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/jobstream/JobStreamMetricsDoc.java
Labels: component/zeebe

#27656 deps: update Zeebe and Identity versions
  operate/config/docker-compose.identity.yml
  operate/config/docker-compose.mt.yml
  operate/config/docker-compose.opensearch-identity.yml
  operate/config/docker-compose.test.yml
  operate/docker-compose.opensearch-identity.yml
  operate/docker-compose.opensearch.yml
  operate/docker-compose.yml
  operate/pom.xml
  operate/qa/pom.xml
Labels: component/operate

#27652 [Backport stable/8.6] Migrate broker health metrics to Micrometer
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/HealthMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/HealthMetricsDoc.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionTest.java
  zeebe/util/pom.xml
  zeebe/util/src/main/java/io/camunda/zeebe/util/micrometer/MicrometerUtil.java
Labels: component/zeebe

#27653 [Backport stable/8.7] Migrate broker health metrics to Micrometer
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/HealthMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/HealthMetricsDoc.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionTest.java
  zeebe/util/pom.xml
  zeebe/util/src/main/java/io/camunda/zeebe/util/micrometer/MicrometerUtil.java
Labels: component/zeebe

#27651 [Backport stable/8.5] Migrate broker health metrics to Micrometer
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/HealthMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/HealthMetricsDoc.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionTest.java
  zeebe/util/pom.xml
  zeebe/util/src/main/java/io/camunda/zeebe/util/micrometer/MicrometerUtil.java
Labels: component/zeebe

#27625 Delete authorization
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/AuthorizationDeletedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbAuthorizationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableAuthorizationState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/EventAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/AuthorizationStateTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
Labels: component/zeebe

#27631 [Backport stable/8.5] Migrate job stream metrics to Micrometer
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/JobStreamServiceStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterMetricsDoc.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/jobstream/JobStreamMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/jobstream/JobStreamMetricsDoc.java
Labels: component/zeebe

#27666 [Backport stable/8.5] Migrate ProcessingMetrics from stream platform to Micrometer
  monitor/grafana/zeebe.json
  zeebe/stream-platform/pom.xml
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingStateMachine.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/ProcessingMetrics.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/StreamMetricsDoc.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/micrometer/EnumMeter.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/micrometer/ExtendedMeterDocumentation.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/micrometer/EnumMeterTest.java
Labels: component/zeebe, component/operate

#27593 fix: CriticalComponentsHealthMonitor unregisterRelationship incorrectly
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/management/HealthTreeTest.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/health/CriticalComponentsHealthMonitor.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/health/CriticalComponentsHealthMonitorTest.java
Labels: component/zeebe

#27470 Ensure `withAuthentication()` is called before doing a service call.
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/ProcessDefinitionController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserRolesController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/ControllerAuthorizationArchTest.java
Labels: component/zeebe, component/c8-api

#27615 Update authorizationa
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationUpdateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/AuthorizationUpdatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbAuthorizationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/PersistedAuthorization.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableAuthorizationState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/AuthorizationStateTest.java
Labels: component/zeebe

#27644 Migrate partition role metrics to Micrometer
  zeebe/broker/pom.xml
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/RoleMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/micrometer/MicrometerUtil.java
Labels: component/zeebe, backport stable/8.5, backport stable/8.6, backport stable/8.7

#27669 Migrate stream processor metrics to Micrometer
  monitor/grafana/camunda-performance.json
  monitor/grafana/dashboards/operate.json
  monitor/grafana/zeebe.json
  zeebe/stream-platform/pom.xml
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingStateMachine.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/ProcessingMetrics.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/StreamMetricsDoc.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/StreamProcessorMetrics.java
Labels: component/zeebe, backport stable/8.5, backport stable/8.6, backport stable/8.7

#27678 [Backport stable/8.6] Migrate partition role metrics to Micrometer
  zeebe/broker/pom.xml
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/RoleMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/micrometer/MicrometerUtil.java
Labels: component/zeebe

#27655 Release 8.5.13
  bom/pom.xml
  build-tools/pom.xml
  clients/go/internal/embedded/data/VERSION
  dist/pom.xml
  parent/pom.xml
  pom.xml
  spring-boot-starter-camunda-sdk/pom.xml
  zeebe/atomix/cluster/pom.xml
  zeebe/atomix/pom.xml
  zeebe/atomix/utils/pom.xml
  zeebe/auth/pom.xml
  zeebe/backup-stores/azure/pom.xml
  zeebe/backup-stores/common/pom.xml
  zeebe/backup-stores/gcs/pom.xml
  zeebe/backup-stores/s3/pom.xml
  zeebe/backup-stores/testkit/pom.xml
  zeebe/backup/pom.xml
  zeebe/benchmarks/project/pom.xml
  zeebe/bpmn-model/pom.xml
  zeebe/broker-client/pom.xml
  zeebe/broker/pom.xml
  zeebe/clients/java/pom.xml
  zeebe/clients/zeebe-client-spring/pom.xml
  zeebe/dmn/pom.xml
  zeebe/engine/pom.xml
  zeebe/exporter-api/pom.xml
  zeebe/exporter-test/pom.xml
  zeebe/exporters/elasticsearch-exporter/pom.xml
  zeebe/exporters/opensearch-exporter/pom.xml
  zeebe/expression-language/pom.xml
  zeebe/feel/pom.xml
  zeebe/gateway-protocol-impl/pom.xml
  zeebe/gateway-protocol/pom.xml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway/pom.xml
  zeebe/journal/pom.xml
  zeebe/logstreams/pom.xml
  zeebe/msgpack-core/pom.xml
  zeebe/msgpack-value/pom.xml
  zeebe/protocol-asserts/pom.xml
  zeebe/protocol-impl/pom.xml
  zeebe/protocol-jackson/pom.xml
  zeebe/protocol-test-util/pom.xml
  zeebe/protocol/pom.xml
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/pom.xml
  zeebe/qa/update-tests/pom.xml
  zeebe/qa/util/pom.xml
  zeebe/restore/pom.xml
  zeebe/scheduler/pom.xml
  zeebe/snapshot/pom.xml
  zeebe/stream-platform/pom.xml
  zeebe/test-util/pom.xml
  zeebe/topology/pom.xml
  zeebe/transport/pom.xml
  zeebe/util/pom.xml
  zeebe/zb-db/pom.xml
Labels: component/zeebe, component/operate

#27673 refactor: Map CLASSPATH_PREFIX to demo-data for E2E tests (#27404)
  optimize/client/scripts/start-backend.js
Labels: component/optimize

#27633 [Backport stable/optimize-8.7] fix: get name from token before falling back to username and id
  .github/workflows/optimize-check-c4.yml
  .github/workflows/optimize-publish-c4.yml
  optimize/backend/src/main/java/io/camunda/optimize/service/security/CCSMTokenService.java
  optimize/backend/src/test/java/io/camunda/optimize/service/security/CCSMTokenServiceTest.java
Labels: component/build-pipeline, component/optimize

#27632 [Backport stable/optimize-8.6] fix: get name from token before falling back to username and id
  .github/workflows/optimize-check-c4.yml
  .github/workflows/optimize-publish-c4.yml
  optimize/backend/src/main/java/io/camunda/optimize/service/security/CCSMTokenService.java
  optimize/backend/src/test/java/io/camunda/optimize/service/security/CCSMTokenServiceTest.java
Labels: component/build-pipeline, component/optimize

#27686 Pass and store meter registry down to ProcessEngineMetrics
  zeebe/backup/pom.xml
  zeebe/backup/src/test/java/io/camunda/zeebe/backup/processing/CheckpointRecordsProcessorTest.java
  zeebe/engine/pom.xml
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/metrics/ProcessEngineMetrics.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/TypedRecordProcessorContext.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/TypedRecordProcessorContextImpl.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/RecordProcessorContext.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/RecordProcessorContextImpl.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
Labels: component/zeebe, backport stable/8.5, backport stable/8.6, backport stable/8.7

#27694 fix: remove unnecessary credentials properties
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/common/AuthProperties.java
Labels: component/zeebe

#27661 feat: Update API docs for document storage
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/c8-api

#27435 [Backport stable/8.5] fix: Store duration values in a normalized format
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/variable/mapping/ActivityInputMappingTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/variable/mapping/ActivityOutputMappingTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/variable/mapping/NoneEndEventOutputMappingTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/variable/mapping/SignalEndEventInputMappingTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/variable/mapping/SignalEndEventOutputMappingTest.java
  zeebe/expression-language/pom.xml
  zeebe/expression-language/src/test/java/io/camunda/zeebe/el/EvaluationContextTest.java
  zeebe/expression-language/src/test/java/io/camunda/zeebe/el/EvaluationResultTest.java
  zeebe/expression-language/src/test/java/io/camunda/zeebe/el/ExpressionLanguageTest.java
  zeebe/expression-language/src/test/java/io/camunda/zeebe/el/FeelCycleFunctionTest.java
  zeebe/expression-language/src/test/java/io/camunda/zeebe/el/FeelExpressionTest.java
  zeebe/feel/src/main/scala/io/camunda/zeebe/feel/impl/FeelToMessagePackTransformer.scala
Labels: component/zeebe

#27709 Bugfix/27707 fix rdbms pk varchars
  .github/workflows/rdbms-integration-test.yml
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
Labels: component/build-pipeline, component/rdbms

#27685 deps: bump deps
  tasklist/client/package.json
  tasklist/client/src/Tasks/AssigneeTag/index.tsx
  tasklist/client/yarn.lock
Labels: component/tasklist

#27715 ci: bumping docker versions used in Tasklist CI
  .github/workflows/tasklist-e2e-tests.yml
  tasklist/config/docker-compose.yml
  tasklist/qa/pom.xml
Labels: component/build-pipeline, component/tasklist

#27641 fix: cannot assign zeebe user tasks in Tasklist running in the single app
  dist/src/main/java/io/camunda/tasklist/zeebe/TasklistPartitionSupplierConfiguration.java
  dist/src/main/java/io/camunda/webapps/zeebe/PartitionSupplierConfigurer.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/OperateURIs.java
  qa/integration-tests/pom.xml
  qa/integration-tests/src/test/java/io/camunda/it/client/UserTaskQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistAssignUserIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistCompleteUserTaskIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistCreateProcessInstanceIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistUnassignUserTaskIT.java
  qa/integration-tests/src/test/resources/process/bpm_variable_test.bpmn
  qa/integration-tests/src/test/resources/process/process_job_based_user_task.bpmn
  qa/integration-tests/src/test/resources/process/process_public_start.bpmn
  qa/integration-tests/src/test/resources/process/process_with_assigned_job_based_user_task.bpmn
  qa/integration-tests/src/test/resources/process/process_with_assigned_user_task.bpmn
  qa/integration-tests/src/test/resources/process/startedByFormProcess.bpmn
  qa/util/pom.xml
  qa/util/src/main/java/io/camunda/qa/util/cluster/AbstractTestWebappClient.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestRestOperateClient.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestRestTasklistClient.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestStandaloneCamunda.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/clients/ElasticsearchSearchClient.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/clients/OpensearchSearchClient.java
  search/search-client/src/main/java/io/camunda/search/clients/CamundaSearchClient.java
  service/src/test/java/io/camunda/service/util/StubbedCamundaSearchClient.java
  tasklist/common/src/main/java/io/camunda/tasklist/zeebe/ZeebeConnector.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/ProbesTestElasticSearchIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/ProbesTestOpenSearchIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/it/ZeebeConnectorSecureIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/management/HealthCheckAuthenticationIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/management/HealthCheckIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/modules/ModuleIntegrationTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/IdentityTester.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/SessionlessTasklistZeebeIntegrationTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistIntegrationTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/identity/AuthenticationWithPersistentSessionsIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/security/oauth/JwtAuthenticationIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/security/se/AuthenticationIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/security/se/AuthenticationWithPersistentSessionIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/security/sso/AuthenticationIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/security/sso/AuthenticationWithPersistentSessionsIT.java
  tasklist/webapp/pom.xml
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/external/ProcessExternalController.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/CamundaServicesBasedAdapter.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/ProcessService.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/TaskService.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/TasklistServicesAdapter.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/ZeebeClientBasedAdapter.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/TaskControllerTest.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/external/ProcessExternalControllerTest.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/service/ProcessServiceTest.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/service/TaskServiceTest.java
  zeebe/auth/src/main/java/io/camunda/zeebe/auth/impl/Authorization.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/qa/util/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, backport stable/8.6

#27721 [Backport stable/8.6] fix: cannot assign zeebe user tasks in Tasklist running in the single app
  dist/src/main/java/io/camunda/tasklist/zeebe/TasklistPartitionSupplierConfiguration.java
  dist/src/main/java/io/camunda/webapps/zeebe/PartitionSupplierConfigurer.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/OperateURIs.java
  qa/integration-tests/pom.xml
  qa/integration-tests/src/test/java/io/camunda/it/client/UserTaskQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistAssignUserIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistCompleteUserTaskIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistCreateProcessInstanceIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistUnassignUserTaskIT.java
  qa/integration-tests/src/test/resources/process/bpm_variable_test.bpmn
  qa/integration-tests/src/test/resources/process/process_job_based_user_task.bpmn
  qa/integration-tests/src/test/resources/process/process_public_start.bpmn
  qa/integration-tests/src/test/resources/process/process_with_assigned_job_based_user_task.bpmn
  qa/integration-tests/src/test/resources/process/process_with_assigned_user_task.bpmn
  qa/integration-tests/src/test/resources/process/startedByFormProcess.bpmn
  qa/util/pom.xml
  qa/util/src/main/java/io/camunda/qa/util/cluster/AbstractTestWebappClient.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestRestOperateClient.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestRestTasklistClient.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestStandaloneCamunda.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/clients/ElasticsearchSearchClient.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/clients/OpensearchSearchClient.java
  search/search-client/src/main/java/io/camunda/search/clients/CamundaSearchClient.java
  service/src/test/java/io/camunda/service/util/StubbedCamundaSearchClient.java
  tasklist/common/src/main/java/io/camunda/tasklist/zeebe/ZeebeConnector.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/ProbesTestElasticSearchIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/ProbesTestOpenSearchIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/it/ZeebeConnectorSecureIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/management/HealthCheckAuthenticationIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/management/HealthCheckIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/modules/ModuleIntegrationTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/IdentityTester.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/SessionlessTasklistZeebeIntegrationTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistIntegrationTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/identity/AuthenticationWithPersistentSessionsIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/security/oauth/JwtAuthenticationIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/security/se/AuthenticationIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/security/se/AuthenticationWithPersistentSessionIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/security/sso/AuthenticationIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/security/sso/AuthenticationWithPersistentSessionsIT.java
  tasklist/webapp/pom.xml
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/external/ProcessExternalController.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/CamundaServicesBasedAdapter.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/ProcessService.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/TaskService.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/TasklistServicesAdapter.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/ZeebeClientBasedAdapter.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/TaskControllerTest.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/external/ProcessExternalControllerTest.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/service/ProcessServiceTest.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/service/TaskServiceTest.java
  zeebe/auth/src/main/java/io/camunda/zeebe/auth/impl/Authorization.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/qa/util/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#27723 [Backport stable/8.7] CI: add custom GHA best practices rules & linter
  .github/actionlint-matcher.json
  .github/actions/paths-filter/action.yml
  .github/conftest-gha-best-practices.rego
  .github/workflows/ci.yml
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#27722 [Backport stable/8.6] CI: add custom GHA best practices rules & linter
  .github/actionlint-matcher.json
  .github/actions/paths-filter/action.yml
  .github/conftest-gha-best-practices.rego
  .github/workflows/ci.yml
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#27252 feat: Improve `changedAttributes` handling for (`UPDATING`, `UPDATED`, `CORRECTED`) user task events
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/UserTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskUpdateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/usertask/UpdateUserTaskTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/UserTaskClient.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/usertask/UserTaskRecord.java
Labels: component/zeebe

#27514 feat: Allow defining `updating` task listener in `bpmn-model` API
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/TaskListenerValidator.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeTaskListenersValidationTest.java
Labels: component/zeebe

#27713 feat: Update API docs for doc handling
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe, component/c8-api

#27560 fix: ensure all `assigning` task listeners are executed on repeated assign operations
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UserTaskAssignedV2Applier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
Labels: component/zeebe

#27698 [Backport stable/8.5] Pass and store meter registry down to ProcessEngineMetrics
  zeebe/backup/pom.xml
  zeebe/backup/src/test/java/io/camunda/zeebe/backup/processing/CheckpointRecordsProcessorTest.java
  zeebe/engine/pom.xml
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/metrics/ProcessEngineMetrics.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/TypedRecordProcessorContext.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/TypedRecordProcessorContextImpl.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/RecordProcessorContext.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/RecordProcessorContextImpl.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
Labels: component/zeebe

#27701 [Backport stable/8.7] Pass and store meter registry down to ProcessEngineMetrics
  zeebe/backup/pom.xml
  zeebe/backup/src/test/java/io/camunda/zeebe/backup/processing/CheckpointRecordsProcessorTest.java
  zeebe/engine/pom.xml
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/metrics/ProcessEngineMetrics.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/TypedRecordProcessorContext.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/TypedRecordProcessorContextImpl.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/RecordProcessorContext.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/RecordProcessorContextImpl.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
Labels: component/zeebe

#27517 feat: Introduce and recognize `UPDATING` job listener event type
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnJobBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/JobCreatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/TaskListenerIndicesRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/JobListenerEventType.java
Labels: component/zeebe

#27734 ci: fix c8run release workflow
  .github/workflows/c8run-release.yaml
Labels: component/build-pipeline, component/c8run

#27342 Migrate all tests in client package to new IT/E2E foundation
  .github/workflows/ci.yml
  qa/integration-tests/src/test/java/io/camunda/it/client/CreateDocumentBatchTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/CreateDocumentLinkTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/CreateDocumentTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/DecisionInstanceQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/DecisionQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/DeleteDocumentTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/GetDocumentContentTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/IncidentQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessDefinitionQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/UserTaskQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/VariableQueryTest.java
Labels: component/build-pipeline, component/zeebe, component/operate

#27684 feat: allocate a partition MeterRegistry in RaftPartition
  dist/src/main/java/io/camunda/zeebe/restore/RestoreApp.java
  zeebe/atomix/cluster/pom.xml
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/RaftServer.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/DefaultRaftServer.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/RaftPartition.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftPartitionServer.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ControllableRaftContexts.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftRule.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ReconfigurationTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/partition/StepDownIfNotPrimaryTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/zeebe/ZeebeIT.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/zeebe/ZeebeLogAppenderTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/zeebe/util/ZeebeTestNode.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/PartitionManagerImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/startup/RaftPartitionFactory.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup/ConcurrentBackupCompactionTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning/RaftPartitionFactoryTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning/RaftRolesTest.java
  zeebe/restore/pom.xml
  zeebe/restore/src/main/java/io/camunda/zeebe/restore/RestoreManager.java
  zeebe/restore/src/test/java/io/camunda/zeebe/restore/PartitionRestoreServiceTest.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/micrometer/MicrometerUtil.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#27732 Migrate RaftReplicationMetrics to micrometer
  zeebe/atomix/cluster/pom.xml
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftKeyNames.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftReplicationMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftReplicationMetricsDoc.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning/RaftRolesTest.java
Labels: component/zeebe, backport stable/8.5, backport stable/8.6, backport stable/8.7

#27726 Backport CI linter and fixes to stable/8.6
  .github/actions/observe-build-status/action.yml
  .github/conftest-gha-best-practices.rego
  .github/conftest-unified-ci-rules.rego
  .github/workflows/ci.yml
  .github/workflows/tasklist-ci-fe-reusable.yml
  .github/workflows/tasklist-ci.yml
  .github/workflows/tasklist-merge-ci.yml
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#27700 Adjust IdentityInitializerProcessor
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/IdentitySetupInitializeProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/ProcessExecutionCleanStateTest.java
Labels: component/zeebe

#27746 fix: suppress connection issues for background tasks
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/ReschedulingTask.java
Labels: component/zeebe

#27767 ci: make check-results depend on detect-changes for failure propagation
  .github/conftest-unified-ci-rules.rego
  .github/workflows/ci.yml
Labels: component/build-pipeline, backport stable/8.5, backport stable/8.6, backport stable/8.7

#27777 [Backport stable/8.6] Resolve junit 5 maven dependency convergence
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#27778 [Backport stable/8.7] Resolve junit 5 maven dependency convergence
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#27774 [Backport stable/8.7] ci: make check-results depend on detect-changes for failure propagation
  .github/workflows/ci.yml
Labels: component/build-pipeline

#27773 [Backport stable/8.6] ci: make check-results depend on detect-changes for failure propagation
  .github/conftest-unified-ci-rules.rego
  .github/workflows/ci.yml
Labels: component/build-pipeline

#27759 Introduce a Map with 3 keys (Map3D) as a generic collection
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/EnumTable.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/MArray.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/Map3D.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/MapTable.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/Table.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/function/TriFunction.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/collection/MArrayTest.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/collection/Map3DTest.java
Labels: component/zeebe, backport stable/8.5, backport stable/8.6, backport stable/8.7

#27781 [Backport stable/8.6] Introduce a Map with 3 keys (Map3D) as a generic collection
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/EnumTable.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/MArray.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/Map3D.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/MapTable.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/Table.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/function/TriFunction.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/collection/MArrayTest.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/collection/Map3DTest.java
Labels: component/zeebe

#27747 Clean up ES CI job
  .github/workflows/ci.yml
Labels: component/build-pipeline

#27541 test: rework tests
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/batchoperations/BatchOperationUpdateRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/batchoperations/OpensearchBatchOperationUpdateRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/incident/ElasticsearchIncidentUpdateRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/ContainerizedSearchDBExtension.java
Labels: component/zeebe

#27646 feat: remove add remove permission processors and appliers
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationAddPermissionProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationRemovePermissionProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/UserCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/AuthorizationPermissionAddedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/AuthorizationPermissionRemovedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AnonymousAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/clock/ClockPinAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/DeploymentCreateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionIdempotencyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/dmn/DecisionEvaluationEvaluateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/GroupTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/incident/IncidentResolveAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/CompleteJobTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/FailJobTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobBatchActivateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobCompleteAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobFailAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobThrowErrorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobUpdateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobUpdateRetriesTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobUpdateTimeoutTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/mapping/MappingCreateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/message/MessageCorrelationCorrelateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/message/MessagePublishAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCancelAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCreateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceModificationModifyAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/ProcessInstanceMigrationMigrateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/resource/ResourceDeletionAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/role/RoleCreateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/role/RoleTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/signal/SignalBroadcastAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/user/CreateUserTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/user/UserCreateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/usertask/UserTaskAssignAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/usertask/UserTaskClaimAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/usertask/UserTaskCompleteAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/usertask/UserTaskUpdateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/variable/VariableDocumentUpdateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/AuthorizationClient.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/AuthorizationIntent.java
Labels: component/zeebe

#27764 [Backport stable/8.7] deps: Update dependency org.apache.httpcomponents.core5:httpcore5 to v5.3 (main)
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientBuilder.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientBuilderImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClientFactory.java
  clients/java/src/test/java/io/camunda/zeebe/client/ZeebeClientTest.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/ZeebeClientConfigurationProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/common/ZeebeClientProperties.java
  operate/common/src/test/java/io/camunda/operate/connect/OpensearchConnectorTest.java
  parent/pom.xml
  tasklist/common/src/test/java/io/camunda/tasklist/os/OpensearchConnectorTest.java
Labels: backport main, component/zeebe, component/operate, component/tasklist, component/optimize

#27679 [Backport stable/8.7] Migrate partition role metrics to Micrometer
  zeebe/broker/pom.xml
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/RoleMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/micrometer/MicrometerUtil.java
Labels: component/zeebe

#27745 Bugfix/fix rdbms flickering tests
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/processinstance/ProcessInstanceSortIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/variables/VariableValueFilterIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/exporter/RdbmsExporterIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/exporter/RecordFixtures.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporter.java
Labels: component/zeebe, component/rdbms, tests

#27766 refactor: replace implementation with generic marray
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/RecordProcessorMap.java
Labels: component/zeebe

#27643 test: Change Tasklist auth config for tests
  .github/workflows/tasklist-e2e-tests.yml
  tasklist/config/envs/.env.database.elasticsearch
  tasklist/config/envs/.env.database.opensearch
Labels: component/build-pipeline, component/tasklist

#27779 Fail test on unexpected user task command rejection
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateUserTaskTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/usertask/UserTaskUpdateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/UserTaskClient.java
Labels: component/zeebe

#27749 [Backport stable/8.6] feat: allocate a partition MeterRegistry in RaftPartition
  dist/src/main/java/io/camunda/zeebe/restore/RestoreApp.java
  zeebe/atomix/cluster/pom.xml
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/RaftServer.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/DefaultRaftServer.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/RaftPartition.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftPartitionServer.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ControllableRaftContexts.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftRule.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ReconfigurationTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/partition/StepDownIfNotPrimaryTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/zeebe/ZeebeIT.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/zeebe/ZeebeLogAppenderTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/zeebe/util/ZeebeTestNode.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/PartitionManagerImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/startup/RaftPartitionFactory.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup/ConcurrentBackupCompactionTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning/RaftPartitionFactoryTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning/RaftRolesTest.java
  zeebe/restore/pom.xml
  zeebe/restore/src/main/java/io/camunda/zeebe/restore/RestoreManager.java
  zeebe/restore/src/test/java/io/camunda/zeebe/restore/PartitionRestoreServiceTest.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/micrometer/MicrometerUtil.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#27750 [Backport stable/8.7] feat: allocate a partition MeterRegistry in RaftPartition
  dist/src/main/java/io/camunda/zeebe/restore/RestoreApp.java
  zeebe/atomix/cluster/pom.xml
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/RaftServer.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/DefaultRaftServer.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/RaftPartition.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftPartitionServer.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ControllableRaftContexts.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftRule.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ReconfigurationTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/partition/StepDownIfNotPrimaryTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/zeebe/ZeebeIT.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/zeebe/ZeebeLogAppenderTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/zeebe/util/ZeebeTestNode.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/PartitionManagerImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/startup/RaftPartitionFactory.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup/ConcurrentBackupCompactionTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning/RaftPartitionFactoryTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning/RaftRolesTest.java
  zeebe/restore/pom.xml
  zeebe/restore/src/main/java/io/camunda/zeebe/restore/RestoreManager.java
  zeebe/restore/src/test/java/io/camunda/zeebe/restore/PartitionRestoreServiceTest.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/micrometer/MicrometerUtil.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#27672 [Backport stable/8.7] Migrate replay metrics of stream platform to micrometer
  monitor/grafana/zeebe.json
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ReplayStateMachine.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/ReplayMetrics.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/StreamMetricsDoc.java
Labels: component/zeebe

#27728 migrate LeaderMetrics to micrometer
  monitor/grafana/zeebe.json
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/LeaderMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/LeaderMetricsDoc.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftKeyNames.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/LeaderAppender.java
Labels: component/zeebe, backport stable/8.5, backport stable/8.6, backport stable/8.7

#27797 refactor: use default SLOs for backwards compat
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/ProcessingMetrics.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/ReplayMetrics.java
Labels: backport stable/8.5, backport stable/8.6, backport stable/8.7

#27776 [Backport stable/8.5] Resolve junit 5 maven dependency convergence
  parent/pom.xml
Labels: component/zeebe, component/operate

#27806 [Backport stable/8.7] refactor: use default SLOs for backwards compat
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/ProcessingMetrics.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/ReplayMetrics.java
Labels: component/zeebe

#27688 fix: Ensure incident query filter supports all error types
  clients/java/src/main/java/io/camunda/client/api/search/response/IncidentErrorType.java
  qa/integration-tests/src/test/java/io/camunda/it/client/IncidentQueryTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/entity/IncidentEntityTransformer.java
  search/search-domain/src/main/java/io/camunda/search/entities/IncidentEntity.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/ErrorType.java
Labels: component/zeebe, component/c8-api

#27760 Support OpenSearch on Root IT
  .github/workflows/ci.yml
  qa/integration-tests/src/test/java/io/camunda/it/client/UserTaskQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/utils/CamundaMultiDBExtension.java
Labels: component/build-pipeline

#27667 [Backport stable/8.6] Migrate ProcessingMetrics from stream platform to Micrometer
  monitor/grafana/zeebe.json
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterMetrics.java
  zeebe/stream-platform/pom.xml
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingStateMachine.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/ProcessingMetrics.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/StreamMetricsDoc.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/micrometer/EnumMeter.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/micrometer/ExtendedMeterDocumentation.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/micrometer/EnumMeterTest.java
Labels: component/zeebe

#27780 [Backport stable/8.5] Introduce a Map with 3 keys (Map3D) as a generic collection
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/EnumTable.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/MArray.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/Map3D.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/MapTable.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/Table.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/function/TriFunction.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/collection/MArrayTest.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/collection/Map3DTest.java
Labels: component/zeebe

#27782 [Backport stable/8.7] Introduce a Map with 3 keys (Map3D) as a generic collection
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/EnumTable.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/MArray.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/Map3D.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/MapTable.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/Table.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/function/TriFunction.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/collection/MArrayTest.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/collection/Map3DTest.java
Labels: component/zeebe

#27790 Migrate process engine metrics to Micrometer
  zeebe/engine/pom.xml
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/metrics/EngineMetricsDoc.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/metrics/ProcessEngineMetrics.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/metrics/ProcessEngineMetricsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/StreamProcessingComposite.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/StreamProcessorRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/TestStreams.java
Labels: component/zeebe, backport stable/8.5, backport stable/8.6, backport stable/8.7

#27671 [Backport stable/8.6] Migrate replay metrics of stream platform to micrometer
  monitor/grafana/zeebe.json
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ReplayStateMachine.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/ReplayMetrics.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/StreamMetricsDoc.java
Labels: component/zeebe

#27810 [Backport stable/8.6] Migrate process engine metrics to Micrometer
  zeebe/engine/pom.xml
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/metrics/EngineMetricsDoc.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/metrics/ProcessEngineMetrics.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/metrics/ProcessEngineMetricsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/StreamProcessingComposite.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/StreamProcessorRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/TestStreams.java
Labels: component/zeebe

#27682 [Backport stable/8.6] Migrate stream processor metrics to Micrometer
  monitor/grafana/camunda-performance.json
  monitor/grafana/dashboards/operate.json
  monitor/grafana/zeebe.json
  zeebe/stream-platform/pom.xml
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingStateMachine.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/ProcessingMetrics.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/StreamMetricsDoc.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/StreamProcessorMetrics.java
Labels: component/zeebe

#27811 [Backport stable/8.7] Migrate process engine metrics to Micrometer
  zeebe/engine/pom.xml
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/metrics/EngineMetricsDoc.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/metrics/ProcessEngineMetrics.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/metrics/ProcessEngineMetricsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/StreamProcessingComposite.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/StreamProcessorRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/TestStreams.java
Labels: component/zeebe

#27809 [Backport stable/8.5] Migrate process engine metrics to Micrometer
  zeebe/engine/pom.xml
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/metrics/EngineMetricsDoc.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/metrics/ProcessEngineMetrics.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/metrics/ProcessEngineMetricsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/StreamProcessingComposite.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/StreamProcessorRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/TestStreams.java
Labels: component/zeebe

#27681 [Backport stable/8.5] Migrate stream processor metrics to Micrometer
  monitor/grafana/dashboards/operate.json
  monitor/grafana/zeebe.json
  zeebe/stream-platform/pom.xml
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingStateMachine.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/ProcessingMetrics.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/StreamMetricsDoc.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/StreamProcessorMetrics.java
Labels: component/zeebe, component/operate

#27677 [Backport stable/8.5] Migrate partition role metrics to Micrometer
  zeebe/broker/pom.xml
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/CommandApiServiceStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/RoleMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/backpressure/BackpressureMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/backpressure/BackpressureMetricsDoc.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/backpressure/CommandRateLimiter.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/backpressure/PartitionAwareRequestLimiter.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/backpressure/RateLimitMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestHandler.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiServiceImpl.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport/backpressure/CommandRateLimiterTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport/backpressure/PartitionAwareRateLimiterTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestHandlerTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiServiceImplTest.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/ReplayMetrics.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/micrometer/MicrometerUtil.java
Labels: component/zeebe, component/operate

#27807 deps: Update dependency org.apache.httpcomponents.client5:httpclient5 to v5.4.1
  operate/common/src/test/java/io/camunda/operate/connect/OpensearchConnectorTest.java
  parent/pom.xml
  tasklist/common/src/test/java/io/camunda/tasklist/os/OpensearchConnectorTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#27675 Update authorization command
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/UpdateAuthorizationCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/response/UpdateAuthorizationResponse.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/UpdateAuthorizationCommandImpl.java
  clients/java/src/test/java/io/camunda/client/authorization/UpdateAuthorizationTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/AuthorizationController.java
Labels: component/zeebe, component/c8-api

#27754 migrate MetaStoreMetrics/SnapshotReplicationMetrics to prometheus
  monitor/grafana/zeebe.json
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/DefaultRaftServer.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/MetaStoreMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/MetaStoreMetricsDoc.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftKeyNames.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/SnapshotReplicationMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/SnapshotReplicationMetricsDoc.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftPartitionServer.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/PassiveRole.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/storage/RaftStorage.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/storage/system/MetaStore.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ControllableRaftContexts.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/FaultyFlusherConfigurator.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftRule.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ReconfigurationTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/roles/LeaderRoleTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/roles/PassiveRoleTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/storage/RaftStorageTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/storage/system/MetaStoreTest.java
Labels: component/zeebe, backport stable/8.5, backport stable/8.6, backport stable/8.7

#27748 [Backport stable/8.5] feat: allocate a partition MeterRegistry in RaftPartition
  dist/src/main/java/io/camunda/zeebe/restore/RestoreApp.java
  zeebe/atomix/cluster/pom.xml
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/RaftServer.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/DefaultRaftServer.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/RaftPartition.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftPartitionServer.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ControllableRaftContexts.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftRule.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ReconfigurationTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/partition/StepDownIfNotPrimaryTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/zeebe/ZeebeIT.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/zeebe/ZeebeLogAppenderTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/zeebe/util/ZeebeTestNode.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/PartitionManagerImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/startup/RaftPartitionFactory.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup/ConcurrentBackupCompactionTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning/RaftPartitionFactoryTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning/RaftRolesTest.java
  zeebe/restore/pom.xml
  zeebe/restore/src/main/java/io/camunda/zeebe/restore/RestoreManager.java
  zeebe/restore/src/test/java/io/camunda/zeebe/restore/PartitionRestoreServiceTest.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/micrometer/MicrometerUtil.java
Labels: component/zeebe

#27029 Add OpenSearch testcase to BackupRestoreIT
  operate/common/src/main/java/io/camunda/operate/conditions/DatabaseInfo.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/ExtendedOpenSearchClient.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/OptimizeOpenSearchClient.java
  parent/pom.xml
  qa/integration-tests/pom.xml
  qa/integration-tests/src/test/java/io/camunda/it/backup/BackupDBClient.java
  qa/integration-tests/src/test/java/io/camunda/it/backup/BackupRestoreIT.java
  qa/integration-tests/src/test/java/io/camunda/it/backup/DataGenerator.java
  qa/integration-tests/src/test/java/io/camunda/it/backup/ESDBClientBackup.java
  qa/integration-tests/src/test/java/io/camunda/it/backup/OSDBClientBackup.java
  qa/integration-tests/src/test/java/io/camunda/it/utils/MultiDbConfigurator.java
  qa/util/pom.xml
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestStandaloneCamunda.java
  webapps-backup/src/main/java/io/camunda/webapps/backup/repository/opensearch/SnapshotState.java
  webapps-backup/src/test/java/io/camunda/webapps/backup/repository/opensearch/OpensearchBackupRepositoryTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#27763 [Backport stable/8.7] Migrate RaftReplicationMetrics to micrometer
  zeebe/atomix/cluster/pom.xml
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftKeyNames.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftReplicationMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftReplicationMetricsDoc.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning/RaftRolesTest.java
Labels: component/zeebe

#27762 [Backport stable/8.6] Migrate RaftReplicationMetrics to micrometer
  zeebe/atomix/cluster/pom.xml
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftKeyNames.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftReplicationMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftReplicationMetricsDoc.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning/RaftRolesTest.java
Labels: component/zeebe

#27769 migrate RaftRequestMetrics to micrometer
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftRequestMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftRequestMetricsDoc.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftPartitionServer.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftServerCommunicator.java
Labels: benchmark, component/zeebe, backport stable/8.5, backport stable/8.6, backport stable/8.7

#27795 Rename field `permissions` to `permissionTypes`
  clients/java/src/main/java/io/camunda/client/api/command/CreateAuthorizationCommandStep1.java
  clients/java/src/main/java/io/camunda/client/impl/command/CreateAuthorizationCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/UpdateAuthorizationCommandImpl.java
  clients/java/src/test/java/io/camunda/client/authorization/CreateAuthorizationTest.java
  clients/java/src/test/java/io/camunda/client/authorization/UpdateAuthorizationTest.java
  qa/integration-tests/src/test/java/io/camunda/it/utils/CamundaClientTestFactory.java
  service/src/main/java/io/camunda/service/AuthorizationServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/AuthorizationRequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/AuthorizationControllerTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/OidcAuthOverGrpcIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/OidcAuthOverRestIT.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/it/util/AuthorizationsUtil.java
Labels: component/zeebe, component/c8-api

#27761 [Backport stable/8.5] Migrate RaftReplicationMetrics to micrometer
  zeebe/atomix/cluster/pom.xml
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftKeyNames.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftReplicationMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftReplicationMetricsDoc.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning/RaftRolesTest.java
Labels: component/zeebe

#27825 [Backport stable/8.7] migrate MetaStoreMetrics/SnapshotReplicationMetrics to prometheus
  monitor/grafana/zeebe.json
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/DefaultRaftServer.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/MetaStoreMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/MetaStoreMetricsDoc.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftKeyNames.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/SnapshotReplicationMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/SnapshotReplicationMetricsDoc.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftPartitionServer.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/PassiveRole.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/storage/RaftStorage.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/storage/system/MetaStore.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ControllableRaftContexts.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftFlushErrorTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftRule.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ReconfigurationTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/roles/LeaderRoleTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/roles/PassiveRoleTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/storage/RaftStorageTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/storage/system/MetaStoreTest.java
Labels: component/zeebe

#27758 fix: fixed userTask queries for E2E #27663
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/UserTaskDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/UserTaskReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/columns/UserTaskSearchColumn.java
  db/rdbms/src/main/resources/mapper/UserTaskMapper.xml
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/usertask/UserTaskIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/usertask/UserTaskSortIT.java
  search/search-client-rdbms/src/main/java/io/camunda/search/rdbms/RdbmsSearchClient.java
Labels: component/rdbms

#27457 feat: add id to Mapping
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/MappingCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbMappingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/PersistedMapping.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/MappingState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionIdempotencyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/mapping/MappingTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/MappingStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/MappingClient.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/authorization/MappingRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/MappingRecordValue.java
Labels: component/zeebe

#27823 [Backport stable/8.5] migrate MetaStoreMetrics/SnapshotReplicationMetrics to prometheus
  monitor/grafana/zeebe.json
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/DefaultRaftServer.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/MetaStoreMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/MetaStoreMetricsDoc.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftKeyNames.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/SnapshotReplicationMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/SnapshotReplicationMetricsDoc.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftPartitionServer.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/PassiveRole.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/storage/RaftStorage.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/storage/system/MetaStore.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ControllableRaftContexts.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftFlushErrorTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftRule.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ReconfigurationTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/roles/LeaderRoleTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/roles/PassiveRoleTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/storage/RaftStorageTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/storage/system/MetaStoreTest.java
Labels: component/zeebe, component/operate

#27824 [Backport stable/8.6] migrate MetaStoreMetrics/SnapshotReplicationMetrics to prometheus
  monitor/grafana/zeebe.json
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/DefaultRaftServer.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/MetaStoreMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/MetaStoreMetricsDoc.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftKeyNames.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/SnapshotReplicationMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/SnapshotReplicationMetricsDoc.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftPartitionServer.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/PassiveRole.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/storage/RaftStorage.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/storage/system/MetaStore.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ControllableRaftContexts.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftFlushErrorTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftRule.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ReconfigurationTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/roles/LeaderRoleTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/roles/PassiveRoleTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/storage/RaftStorageTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/storage/system/MetaStoreTest.java
Labels: component/zeebe

#27657 feat: Optimize release 8.7.0-alpha4
  optimize/pom.xml
Labels: component/optimize

#27837 fix: add document data consumer to enable document fetching in the client
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/ApiResponseConsumer.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/CircularBufferInputStream.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/DocumentDataConsumer.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClient.java
  clients/java/src/test/java/io/camunda/zeebe/client/impl/http/DocumentDataConsumerTest.java
Labels: component/clients, component/zeebe, component/document-handling, backport release-8.7.0-alpha4

#27830 migrate RaftServiceMetrics & RaftStartupMetrics to micrometer
  monitor/grafana/zeebe.json
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/MetaStoreMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftReplicationMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftServiceMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftServiceMetricsDoc.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftStartupMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftStartupMetricsDoc.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/SnapshotReplicationMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftPartitionServer.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/impl/LogCompactorTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup/ConcurrentBackupCompactionTest.java
Labels: component/zeebe, backport stable/8.5, backport stable/8.6, backport stable/8.7

#27838 [Backport stable/8.7] Add missing commit from Table type param order refactoring
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterMetrics.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/metrics/ProcessingMetrics.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/EnumTable.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/MapTable.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/collection/Table.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/collection/TableTest.java
Labels: component/zeebe

#27832 [Backport stable/8.6] migrate RaftRequestMetrics to micrometer
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftRequestMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftRequestMetricsDoc.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftPartitionServer.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftServerCommunicator.java
Labels: component/zeebe

#27831 [Backport stable/8.5] migrate RaftRequestMetrics to micrometer
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftRequestMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftRequestMetricsDoc.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftPartitionServer.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftServerCommunicator.java
Labels: component/zeebe

#27841 [Backport stable/8.6] migrate RaftServiceMetrics & RaftStartupMetrics to micrometer
  monitor/grafana/zeebe.json
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/MetaStoreMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftReplicationMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftServiceMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftServiceMetricsDoc.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftStartupMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftStartupMetricsDoc.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/SnapshotReplicationMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftPartitionServer.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/impl/LogCompactorTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup/ConcurrentBackupCompactionTest.java
Labels: component/zeebe

#27833 [Backport stable/8.7] migrate RaftRequestMetrics to micrometer
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftRequestMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftRequestMetricsDoc.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftPartitionServer.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftServerCommunicator.java
Labels: component/zeebe

#27842 [Backport stable/8.7] migrate RaftServiceMetrics & RaftStartupMetrics to micrometer
  monitor/grafana/zeebe.json
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/MetaStoreMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftReplicationMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftServiceMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftServiceMetricsDoc.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftStartupMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftStartupMetricsDoc.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/SnapshotReplicationMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftPartitionServer.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/impl/LogCompactorTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup/ConcurrentBackupCompactionTest.java
Labels: component/zeebe

#27101 [Backport stable/8.5] fix: avoid actor call to unregister handlers when it is closing
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiServiceImpl.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiServiceImplTest.java
Labels: component/zeebe

#27856 [Backport stable/8.6] Migrate RaftRoleMetrics to micrometer
  monitor/grafana/zeebe.json
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftRoleMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftRoleMetricsDoc.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftTest.java
Labels: component/zeebe

#27855 [Backport stable/8.5] Migrate RaftRoleMetrics to micrometer
  monitor/grafana/zeebe.json
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftRoleMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftRoleMetricsDoc.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftTest.java
Labels: component/zeebe, component/operate

#27827 Add `AuthorizationDeletedHandler` to `CamundaExporter`
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/AuthorizationDeletedHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/AuthorizationCreatedUpdatedHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/AuthorizationDeletedHandlerTest.java
Labels: component/zeebe
