Repository camunda/camunda, pull requests merged in 2025-04, with the labels that each got.

#30397 fix: adjust the format to gateway-address setting in connectors
  c8run/connectors-application.properties
  c8run/e2e_tests/api_tests.sh
Labels: component/c8run, backport stable/8.7

#30411 ci: specify permissions for release workflow
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

#28572 refactor: remove TasklistEntity and align entities
  qa/integration-tests/src/test/java/io/camunda/it/migration/usertask/UserTaskMigrationHelper.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/DraftTaskVariableEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/EmbeddedFormBatch.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/FormEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/SnapshotTaskVariableEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/TaskEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/TaskProcessInstanceEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/TaskVariableEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/tasklist/TasklistEntity.java
Labels: component/operate

#30414 [Backport stable/8.7] ci: specify permissions for release workflow
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

#30418 [Backport stable/8.6] ci: specify permissions for release workflow
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

#30417 [Backport stable/8.5] ci: specify permissions for release workflow
  .github/workflows/zeebe-release.yml
Labels: component/zeebe

#30406 fix: remove pip caching
  .github/workflows/core-application-e2e-tests-nightly.yml
  .github/workflows/core-application-e2e-tests-on-demand.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/c8run

#30420 Revert "ci: specify permissions for release workflow"
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline, backport stable/8.3, backport stable/8.4, backport stable/8.5, backport stable/8.6, backport stable/8.7

#30430 [Backport stable/8.7] Revert "ci: specify permissions for release workflow"
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

#30428 [Backport stable/8.5] Revert "ci: specify permissions for release workflow"
  .github/workflows/zeebe-release.yml
Labels: component/zeebe

#30423 test: add group endpoints regression tests
  .github/workflows/identity-regression-test.yml
  http/group-tests.http
  http/tenant-tests.http
  http/user-authorizations-tests.http
Labels: component/build-pipeline, component/identity

#30431 ci: adjust daily flaky test stats filter to ignore non-flakes
  .github/workflows/statistics-daily.yml
Labels: component/build-pipeline

#30460 Small optimization in BufferUtil: do not allocate an empty string if buffer is empty
  zeebe/util/src/main/java/io/camunda/zeebe/util/buffer/BufferUtil.java
Labels: backport stable/8.4, component/zeebe, backport stable/8.5, backport stable/8.6, backport stable/8.7

#30471 [Backport stable/8.5] Small optimization in BufferUtil: do not allocate an empty string if buffer is empty
  zeebe/util/src/main/java/io/camunda/zeebe/util/buffer/BufferUtil.java
Labels: component/zeebe

#30473 [Backport stable/8.7] Small optimization in BufferUtil: do not allocate an empty string if buffer is empty
  zeebe/util/src/main/java/io/camunda/zeebe/util/buffer/BufferUtil.java
Labels: component/zeebe

#30479 ci: fix daily and E2E testbench versions
  .github/workflows/zeebe-daily-qa.yml
  .github/workflows/zeebe-weekly-e2e.yml
Labels: component/build-pipeline, component/zeebe

#30176 Create role with `roleId` and `description`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/IdentitySetupInitializeProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/RoleCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbRoleState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/PersistedRole.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/role/CreateRoleMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/role/RoleCreateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/role/RoleTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/RoleStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/RoleClient.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/RoleRecordStream.java
Labels: component/zeebe, component/operate, component/c8-api

#29651 feat: integrate with backend statistics V2
  operate/client/package.json
  operate/client/src/App/Processes/ListView/DiagramPanel/BatchModificationNotification/v2/index.test.tsx
  operate/client/src/App/Processes/ListView/DiagramPanel/BatchModificationNotification/v2/index.tsx
  operate/client/src/App/Processes/ListView/DiagramPanel/v2/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/BatchModificationFooter/BatchModificationSummaryModal/v2/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/MigrateAction/v2/index.test.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/v2/SourceDiagram.test.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/v2/SourceDiagram.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/v2/TargetDiagram.test.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/v2/TargetDiagram.tsx
  operate/client/src/__mocks__/@vzeta/camunda-api-zod-schemas/operate.ts
  operate/client/src/modules/api/v2/processInstances/fetchProcessInstancesStatistics.ts
  operate/client/src/modules/hooks/useProcessInstancesFilters.test.ts
  operate/client/src/modules/hooks/useProcessInstancesFilters.ts
  operate/client/src/modules/mock-server/handlers.ts
  operate/client/src/modules/mocks/api/v2/processInstances/fetchProcessInstancesStatistics.ts
  operate/client/src/modules/queries/genericQuery.ts
  operate/client/src/modules/queries/processInstancesStatistics/useBatchModificationOverlay.test.tsx
  operate/client/src/modules/queries/processInstancesStatistics/useBatchModificationOverlayData.ts
  operate/client/src/modules/queries/processInstancesStatistics/useFlowNodeStates.test.tsx
  operate/client/src/modules/queries/processInstancesStatistics/useFlowNodeStates.ts
  operate/client/src/modules/queries/processInstancesStatistics/useInstancesCount.ts
  operate/client/src/modules/queries/processInstancesStatistics/useOverlayData.test.tsx
  operate/client/src/modules/queries/processInstancesStatistics/useOverlayData.ts
  operate/client/src/modules/queries/processInstancesStatistics/useProcessInstancesStatistics.tsx
  operate/client/src/modules/stores/processInstancesSelection.test.ts
  operate/client/src/modules/stores/processInstancesSelection.ts
  operate/client/src/modules/stores/processes/processes.base.ts
  operate/client/src/modules/testUtils.tsx
  operate/client/src/modules/utils/statistics/processInstances.test.ts
  operate/client/src/modules/utils/statistics/processInstances.ts
  operate/client/tsconfig.json
  operate/client/yarn.lock
Labels: component/operate

#30483 [Backport stable/8.7] ci: submit detailed failed test statistics
  .github/actions/observe-build-status/action.yml
  .github/actions/observe-build-status/junit-failure-to-jsonl.py
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#30474 fix: properties post processor is called before log context is init
  clients/spring-boot-starter-camunda-sdk/pom.xml
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientPropertiesPostProcessor.java
Labels: component/zeebe, backport stable/8.7

#30246 ci: new github workflow for license analysis with FOSSA
  .fossa.yml
  .github/workflows/check-licenses.yml
  optimize/.fossa.yml
Labels: component/build-pipeline, component/optimize

#30296 feat: add layout routing for v2
  tasklist/client/src/App.tsx
  tasklist/client/src/common/components/Layout/C3Provider.tsx
  tasklist/client/src/common/components/Layout/Header/index.tsx
  tasklist/client/src/common/components/Layout/Header/styles.module.scss
  tasklist/client/src/common/components/Layout/Header/tests/appSwitcher.test.tsx
  tasklist/client/src/common/components/Layout/Header/tests/index.test.tsx
  tasklist/client/src/common/components/Layout/Header/tests/infoBar.test.tsx
  tasklist/client/src/common/components/Layout/Header/tests/licenseNotice.test.tsx
  tasklist/client/src/common/components/Layout/Header/tests/mocks.tsx
  tasklist/client/src/common/components/Layout/Header/tests/userInfo.test.tsx
  tasklist/client/src/common/components/Layout/OSNotifications.tsx
  tasklist/client/src/common/components/Layout/index.tsx
  tasklist/client/src/common/config/getClientConfig.ts
  tasklist/client/src/common/featureFlags.tsx
  tasklist/client/src/common/tasks/next-task/useAutoSelectNextTask.ts
  tasklist/client/src/common/tracking/index.tsx
  tasklist/client/src/v1/Processes/NewProcessInstanceTasksPolling.tsx
  tasklist/client/src/v1/Tasks/AvailableTasks/Task/index.tsx
  tasklist/client/src/v1/Tasks/AvailableTasks/index.tsx
  tasklist/client/src/v1/Tasks/CollapsiblePanel/index.tsx
  tasklist/client/src/v1/Tasks/EmptyPage/index.tsx
  tasklist/client/src/v1/Tasks/Filters/index.tsx
  tasklist/client/src/v1/Tasks/Task/index.tsx
  tasklist/client/src/v1/Tasks/index.tsx
  tasklist/client/src/v1/api/getQueryVariables.tsx
  tasklist/client/src/v1/api/index.ts
  tasklist/client/src/v1/api/useAllVariables.query.tsx
  tasklist/client/src/v1/api/useAssignTask.mutation.tsx
  tasklist/client/src/v1/api/useCompleteTask.mutation.tsx
  tasklist/client/src/v1/api/useExternalForm.query.tsx
  tasklist/client/src/v1/api/useForm.query.tsx
  tasklist/client/src/v1/api/useProcessDefinition.query.tsx
  tasklist/client/src/v1/api/useProcessInstances.query.tsx
  tasklist/client/src/v1/api/useProcesses.query.tsx
  tasklist/client/src/v1/api/useStartExternalProcess.mutation.tsx
  tasklist/client/src/v1/api/useStartProcess.mutation.tsx
  tasklist/client/src/v1/api/useTask.query.tsx
  tasklist/client/src/v1/api/useTasks.query.tsx
  tasklist/client/src/v1/api/useUnassignTask.mutation.tsx
  tasklist/client/src/v1/api/useVariables.query.tsx
  tasklist/client/src/v1/features/tasks/filters/useTaskFilters.ts
  tasklist/client/src/v2/api/getQueryVariables.tsx
  tasklist/client/src/v2/api/index.ts
  tasklist/client/src/v2/api/useTasks.query.ts
  tasklist/client/src/v2/features/tasks/filters/useTaskFilters.ts
  tasklist/client/vite.config.ts
Labels: component/tasklist

#30378 Create group processor/applier should work with `groupId`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/GroupCreatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/group/DbGroupState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/group/PersistedGroup.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableGroupState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorMultiTenancyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionIdempotencyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/AddEntityGroupMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/CreateGroupMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/DeleteGroupMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/GroupTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/RemoveEntityGroupMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/UpdateGroupMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/mapping/MappingTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/tenant/AddEntityTenantTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/user/DeleteUserTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/GroupAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/MappingAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/group/GroupStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/GroupClient.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
Labels: component/zeebe

#30472 [Backport stable/8.6] Small optimization in BufferUtil: do not allocate an empty string if buffer is empty
  zeebe/util/src/main/java/io/camunda/zeebe/util/buffer/BufferUtil.java
Labels: component/zeebe

#29856 feat: implement process definition statistics for client/java
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/statistics/filter/ProcessDefinitionStatisticsFilter.java
  clients/java/src/main/java/io/camunda/client/api/statistics/request/ProcessDefinitionFlowNodeStatisticsRequest.java
  clients/java/src/main/java/io/camunda/client/api/statistics/request/StatisticsRequest.java
  clients/java/src/main/java/io/camunda/client/api/statistics/response/ProcessDefinitionFlowNodeStatistics.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/RequestMapper.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/ProcessInstanceFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/UserTaskFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/statistics/filter/ProcessDefinitionStatisticsFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/statistics/request/ProcessDefinitionFlowNodeStatisticsRequestImpl.java
  clients/java/src/main/java/io/camunda/client/impl/statistics/response/ProcessDefinitionFlowNodeStatisticsImpl.java
  clients/java/src/main/java/io/camunda/client/impl/statistics/response/StatisticsResponseMapper.java
  clients/java/src/test/java/io/camunda/client/process/ProcessDefinitionStatisticsTest.java
  db/rdbms/src/main/resources/mapper/ProcessDefinitionMapper.xml
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessDefinitionStatisticsTest.java
Labels: component/zeebe, component/c8-api

#30488 fix: exclude number of replicas check out of Tasklist healthcheck
  tasklist/els-schema/src/main/java/io/camunda/tasklist/es/IndexSchemaValidatorElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/os/IndexSchemaValidatorOpenSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/IndexSchemaValidator.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/SchemaStartup.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchSchemaManagementIT.java
Labels: component/tasklist

#30337 [Backport stable/8.7] fix: do not initialize BrokerInfo from config
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/Broker.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/ClusterConfigurationManagerStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/BrokerHealthCheckService.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/monitoring/BrokerHealthCheckServiceTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/encoding/BrokerInfo.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/BrokerInfoTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/PersistedClusterTopologyTest.java
  zeebe/qa/integration-tests/src/test/resources/processes/catch_event.bpmn
Labels: backport stable/8.4, component/zeebe, backport stable/8.5, backport stable/8.6

#30451 refactor: normalize user role membership
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/IdentitySetupInitializeProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/RoleAddEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/RoleDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/RoleProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/RoleRemoveEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/UserDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/ProcessingDbState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/RoleEntityAddedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/RoleEntityRemovedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbMembershipState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/MembershipState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/ProcessingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableMembershipState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableProcessingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableUserState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/user/DbUserState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/user/PersistedUser.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/RoleAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/DbMembershipStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/user/UserStateTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/impl/DbCompositeKey.java
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/impl/DbEnumValue.java
  zeebe/zb-db/src/test/java/io/camunda/zeebe/db/impl/DbEnumValueTest.java
Labels: component/zeebe

#30502 deps: increment zeebe and identity for release
  optimize/pom.xml
Labels: component/optimize

#30455 CI: Improve Java UT execution time
  .github/workflows/ci.yml
Labels: component/build-pipeline

#30500 [Backport stable/8.6] [Backport stable/8.7] fix: do not initialize BrokerInfo from config
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/Broker.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/ClusterConfigurationManagerStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/BrokerHealthCheckService.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/monitoring/BrokerHealthCheckServiceTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/encoding/BrokerInfo.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/BrokerInfoTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/PersistedClusterTopologyTest.java
  zeebe/qa/integration-tests/src/test/resources/processes/catch_event.bpmn
Labels: component/zeebe

#30497 refactor: move test class
  qa/integration-tests/pom.xml
  qa/integration-tests/src/test/java/io/camunda/it/rest/GatewayRestConfigurationTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#30373 feat: execute `cancel process instance` batch operation
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecuteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionScheduler.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationSetupProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/writers/ResultBuilderBackedTypedCommandWriter.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/writers/TypedCommandWriter.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/BatchOperationCompletedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/BatchOperationExecutingApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/DbBatchOperationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/PersistedBatchOperation.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableBatchOperationState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/CreateBatchOperationMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/CreateBatchOperationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/ExecuteBatchOperationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionIdempotencyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/batchoperation/BatchOperationStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/BatchOperationClient.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationChunkRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationCreationRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationExecutionRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/BatchOperationExecutionIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BatchOperationRelated.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BatchOperationType.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/api/scheduling/TaskResultBuilder.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/BufferedTaskResultBuilder.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/BatchOperationExecutionRecordStream.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/RecordingExporter.java
Labels: component/build-pipeline, component/zeebe, component/tasklist

#30526 deps: upgrade camunda and connectors for c8run 8.6.13 release
  c8run/.env
Labels: component/c8run

#30377 feat: initialize BrokerInfo from config so that they are used before bootstrapping
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/Broker.java
  zeebe/qa/integration-tests/src/test/resources/processes/catch_event.bpmn
Labels: component/zeebe, backport stable/8.6, backport stable/8.7

#30528 deps: increment zeebe and identity for release
  optimize/pom.xml
Labels: component/optimize

#30534 refactor: use the new range query builder methods for ElasticSearch i…
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/db/ElasticsearchDatabaseTestService.java
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/db/OpenSearchDatabaseTestService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/filter/AbstractProcessVariableQueryFilterES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/filter/DecisionVariableQueryFilterES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/filter/util/DateFilterQueryUtilES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/filter/util/DateHistogramFilterUtilES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/reader/DurationOutliersReaderES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/report/interpreter/util/ProcessPartQueryUtilES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/report/service/DateAggregationServiceES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/report/service/VariableAggregationServiceES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/writer/CollectionWriterES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/writer/DashboardWriterES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/writer/DecisionDefinitionWriterES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/writer/ElasticsearchWriterUtil.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/writer/ProcessDefinitionWriterES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/writer/ReportWriterES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/writer/TerminatedUserSessionWriterES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/repository/es/DecisionInstanceRepositoryES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/repository/es/ProcessInstanceRepositoryES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/repository/es/ProcessOverviewRepositoryES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/repository/es/VariableRepositoryES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/importing/zeebe/fetcher/es/AbstractZeebeRecordFetcherES.java
Labels: component/optimize

#30504 deps: increment zeebe and identity for release
  optimize-distro/pom.xml
  optimize/pom.xml
  optimize/upgrade/pom.xml
Labels: component/optimize

#30538 Mergeback for 8.7.0 release
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/report/interpreter/view/process/ProcessViewRawDataInterpreterES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/os/report/interpreter/view/process/ProcessViewRawDataInterpreterOS.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/report/interpreter/util/RawProcessDataResultDtoMapper.java
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Labels: component/build-pipeline, component/optimize

#30539 Mergeback for 8.6.7 release
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/report/interpreter/view/process/ProcessViewRawDataInterpreterES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/os/report/interpreter/view/process/ProcessViewRawDataInterpreterOS.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/report/interpreter/util/RawProcessDataResultDtoMapper.java
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Labels: component/optimize

#30540 fix: c8run bumps for 8.7.0
  c8run/.env
Labels: component/c8run

#30543 deps: bump 8.8 to alpha3
  c8run/.env
Labels: component/c8run

#30542 Backport alpha release branch back in to main
  optimize/pom.xml
Labels: component/build-pipeline, component/tasklist, component/optimize

#29991 29662-c8-api-add-hasretriesleft-field-for-filtering
  clients/java/src/main/java/io/camunda/client/api/search/filter/ProcessInstanceFilter.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/ProcessInstanceFilterImpl.java
  clients/java/src/test/java/io/camunda/client/process/QueryProcessInstanceTest.java
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/JobMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriterFactory.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/JobDbModel.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/queue/ContextType.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/HistoryCleanupService.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/JobWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/RdbmsPurger.java
  db/rdbms/src/main/resources/mapper/JobMapper.xml
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
  db/rdbms/src/test/java/io/camunda/db/rdbms/write/service/HistoryCleanupServiceTest.java
  dist/src/main/java/io/camunda/application/commons/rdbms/MyBatisConfiguration.java
  dist/src/main/java/io/camunda/application/commons/rdbms/RdbmsConfiguration.java
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceSearchTest.java
  qa/integration-tests/src/test/java/io/camunda/it/util/TestHelper.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/ProcessInstanceFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/ProcessInstanceQueryTransformerTest.java
  search/search-domain/src/main/java/io/camunda/search/filter/ProcessInstanceFilter.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterWrapper.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/JobExportHandler.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
Labels: component/zeebe, component/operate, component/c8-api, component/tasklist, component/optimize

#30532 [Backport stable/8.7] feat: initialize BrokerInfo from config so that they are used before bootstrapping
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/Broker.java
  zeebe/qa/integration-tests/src/test/resources/processes/catch_event.bpmn
Labels: component/zeebe

#30440 Create role with role id and description
  migration/identity-migration/src/main/java/io/camunda/migration/identity/RoleMigrationHandler.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/RoleMigrationHandlerTest.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/RoleSearchingAuthorizationIT.java
  service/src/main/java/io/camunda/service/RoleServices.java
  service/src/test/java/io/camunda/service/RoleServicesTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/RoleRequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/role/BrokerRoleCreateRequest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CreateRoleTest.java
Labels: component/zeebe, component/c8-api

#30550 ci: remove temporary workflow
  .github/workflows/c8run-slack-alert-env-testing-delete-me.yaml
Labels: component/build-pipeline

#30552 ci: run daily statistics job early
  .github/workflows/statistics-daily.yml
Labels: component/build-pipeline

#30070 feat: batch operaton extend rdbms exporter handler
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/BatchOperationMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/BatchOperationDbModel.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/BatchOperationWriter.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/batchoperation/BatchOperationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/BatchOperationFixtures.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/exporter/RdbmsExporterBatchOperationsIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/exporter/RecordFixtures.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporter.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterWrapper.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationChunkExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationCreatedExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationExecutionExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/ProcessInstanceBatchOperationExportHandler.java
Labels: component/zeebe, component/rdbms, component/batch-operation

#30446 Update role using the role id
  service/src/main/java/io/camunda/service/RoleServices.java
  service/src/test/java/io/camunda/service/RoleServicesTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/RoleRequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerRoleUpdateRequest.java
Labels: component/zeebe, component/c8-api

#30492 Delete role using role id (API)
  service/src/main/java/io/camunda/service/RoleServices.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/role/BrokerRoleDeleteRequest.java
Labels: component/zeebe, component/c8-api

#30282 feat: flownode instance stats boilerplates
  operate/client/package.json
  operate/client/src/__mocks__/@vzeta/camunda-api-zod-schemas/operate.ts
  operate/client/src/modules/api/v2/flownodeInstances/fetchFlownodeInstancesStatistics.ts
  operate/client/src/modules/feature-flags.ts
  operate/client/src/modules/mock-server/handlers.ts
  operate/client/src/modules/mocks/api/v2/flownodeInstances/fetchFlownodeInstancesStatistics.ts
  operate/client/src/modules/queries/flownodeInstancesStatistics/useFlownodeInstancesStatistics.test.tsx
  operate/client/src/modules/queries/flownodeInstancesStatistics/useFlownodeInstancesStatistics.ts
  operate/client/yarn.lock
Labels: component/operate

#30559 feat: variable annotation can mark variable as optional
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/AnnotationUtil.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/Variable.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/value/VariableValue.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/parameter/DefaultParameterResolverStrategy.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/parameter/VariableResolver.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/jobhandling/parameter/VariableResolverTest.java
Labels: component/zeebe

#30555 deps: remove commons logging
  clients/spring-boot-starter-camunda-sdk/pom.xml
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientPropertiesPostProcessor.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/properties/PropertiesPostProcessorLoggingTest.java
Labels: component/zeebe, backport stable/8.7

#30568 ci: remove redundant GH project adder
  .github/actions/add-issue-to-project/action.yml
  .github/workflows/issues-labeled.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#30508 Assign user to role (API)
  service/src/main/java/io/camunda/service/RoleServices.java
  service/src/test/java/io/camunda/service/RoleServicesTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/RoleRequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerRoleEntityRequest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/authorization/RoleRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/RoleRecordValue.java
Labels: component/zeebe, component/c8-api

#30571 [Backport stable/8.7] deps: remove commons logging
  clients/spring-boot-starter-camunda-sdk/pom.xml
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/PropertiesPostProcessor.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/PropertiesPostProcessorLoggingTest.java
Labels: component/zeebe

#30560 fix: StagedCache should only cache configured intents
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedScheduledCommandCache.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/engine/impl/BoundedScheduledCommandCacheTest.java
Labels: backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5, backport stable/8.6, backport stable/8.7

#30576 Release/operate 8.5.13
  .github/workflows/operate-release-reusable.yml
  distro/pom.xml
  operate/archiver/pom.xml
  operate/client/pom.xml
  operate/common/pom.xml
  operate/data-generator/pom.xml
  operate/importer-8_4/pom.xml
  operate/importer-8_5/pom.xml
  operate/importer-common/pom.xml
  operate/importer/pom.xml
  operate/mvc-auth-commons/pom.xml
  operate/pom.xml
  operate/qa/backup-restore-tests/pom.xml
  operate/qa/batch-operation-performance-tests/pom.xml
  operate/qa/data-generator/pom.xml
  operate/qa/import-performance-tests/pom.xml
  operate/qa/integration-tests/pom.xml
  operate/qa/migration-performance-test/pom.xml
  operate/qa/migration-tests/migration-test/pom.xml
  operate/qa/migration-tests/pom.xml
  operate/qa/migration-tests/test-fixture-110/pom.xml
  operate/qa/migration-tests/test-fixture-120/pom.xml
  operate/qa/migration-tests/test-fixture-130/pom.xml
  operate/qa/migration-tests/test-fixture-800/pom.xml
  operate/qa/migration-tests/test-fixture-810/pom.xml
  operate/qa/migration-tests/test-fixture-820/pom.xml
  operate/qa/migration-tests/test-fixture-830/pom.xml
  operate/qa/migration-tests/test-fixture-840/pom.xml
  operate/qa/pom.xml
  operate/qa/query-performance-tests/pom.xml
  operate/qa/util/pom.xml
  operate/schema/pom.xml
  operate/webapp/pom.xml
Labels: component/operate

#30580 ci: remove redundant public issue sync GHA
  .github/workflows/tasklist-sync-issues.yml
Labels: component/build-pipeline, component/tasklist

#30585 [Backport stable/8.6] fix: StagedCache should only cache configured intents
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedScheduledCommandCache.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/engine/impl/BoundedScheduledCommandCacheTest.java
Labels: component/zeebe

#30561 ci: remove outdated Slack notification workflow for Java client issues
  .github/workflows/java-client-issue.yaml
Labels: component/build-pipeline

#30533 deps: upgrade springboot to 3.4.4 for stable/8.6
  dist/src/main/java/io/camunda/application/commons/configuration/WorkingDirectoryConfiguration.java
  dist/src/main/resources/application.properties
  parent/pom.xml
  zeebe/util/src/main/java/io/camunda/zeebe/util/health/MemoryHealthIndicatorProperties.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#30586 [Backport stable/8.7] fix: StagedCache should only cache configured intents
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedScheduledCommandCache.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/engine/impl/BoundedScheduledCommandCacheTest.java
Labels: component/zeebe

#30584 [Backport stable/8.5] fix: StagedCache should only cache configured intents
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/engine/impl/BoundedScheduledCommandCache.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/engine/impl/BoundedScheduledCommandCacheTest.java
Labels: component/zeebe

#30553 ci: make GHA best practices linter extensible to more files
  .github/conftest-unified-ci-rules.rego
  .github/workflows/camunda-helm-integration.yml
  .github/workflows/ci.yml
  .github/workflows/statistics-daily.yml
  .github/workflows/tasklist-ci-fe-reusable.yml
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe, component/tasklist

#30577 Remove the enablement of missing actuator endpoints in 8.7
  dist/src/main/resources/application.properties
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#30537 Fix: batch operation memory safety issue with scheduled task
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionScheduler.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationSetupProcessors.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionSchedulerTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationChunkRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BatchOperationChunkRecordValue.java
Labels: component/zeebe

#30589 fix: resolve issues with OIDC setups
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  identity/client/src/utility/auth/index.ts
Labels: component/identity

#30462 fix: change hide limit for entity list pagination from 25 to 15
  identity/client/src/components/entityList/EntityList.tsx
Labels: component/frontend, component/identity

#30615 ci: align add to project workflow for c8run
  .github/workflows/add-to-projects.yml
Labels: component/build-pipeline

#29828 fix: do not fail on unknown index settings
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/es/OptimizeElasticsearchClient.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/util/mapper/ObjectMapperFactory.java
Labels: component/optimize

#30437 fix: update Spring Boot to 3.3.10
  operate/pom.xml
Labels: component/operate

#30480 fix: Use Maven Wrapper in Tasklist
  tasklist/Makefile
  tasklist/README_IntelliJ_IDEA_run_config.md
  tasklist/webapp/README.md
Labels: component/tasklist

#30405 feat: add utils for TopPanel
  operate/client/src/modules/stores/flowNodeSelection.ts
  operate/client/src/modules/utils/flowNodeSelection.test.ts
  operate/client/src/modules/utils/flowNodeSelection.ts
  operate/client/src/modules/utils/modification.test.ts
  operate/client/src/modules/utils/modifications.ts
  operate/client/src/modules/utils/statistics/flownodeInstance.test.tsx
  operate/client/src/modules/utils/statistics/flownodeInstances.ts
  operate/client/yarn.lock
Labels: component/operate

#30564 refactor: group can be added to tenant by ID
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/TenantEntityAddedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/group/DbGroupState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableGroupState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/group/GroupStateTest.java
Labels: component/zeebe

#30408 feat: add hooks for TopPanel
  operate/client/src/modules/hooks/modifications.test.tsx
  operate/client/src/modules/hooks/modifications.ts
  operate/client/src/modules/hooks/processInstanceDetailsDiagram.test.tsx
  operate/client/src/modules/hooks/processInstanceDetailsDiagram.ts
  operate/client/src/modules/stores/modifications.ts
Labels: component/operate

#30499 [Backport stable/8.5] fix: do not initialize BrokerInfo from config
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/Broker.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/ClusterTopologyManagerStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/BrokerHealthCheckService.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/monitoring/BrokerHealthCheckServiceTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/encoding/BrokerInfo.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/BrokerInfoTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/PersistedClusterTopologyTest.java
Labels: component/zeebe

#30432 Delete group processor/applier should work with groupId
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/GroupDeletedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/group/DbGroupState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableGroupState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionIdempotencyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/DeleteGroupMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/GroupTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/group/GroupStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/GroupClient.java
Labels: component/zeebe

#30422 Update group processor/applier should work with groupId
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupUpdateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/GroupUpdatedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/group/DbGroupState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableGroupState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionIdempotencyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/GroupTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/UpdateGroupMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/GroupAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/group/GroupStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/GroupClient.java
Labels: component/zeebe

#30290 try to not overwrite committed data when quorum of nodes experienced data loss
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/PassiveRole.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ControllableRaftContexts.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/DeterministicSingleThreadContext.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftCorruptedDataTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RandomizedRaftTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/impl/PriorityElectionTimerTest.java
  zeebe/atomix/cluster/src/test/resources/log4j2-test.xml
Labels: backport stable/8.4, component/zeebe, backport stable/8.5, backport stable/8.6, backport stable/8.7

#30590 feat: migrate tasks panel to v2 APIs
  tasklist/client/package.json
  tasklist/client/src/common/dates/formatDateRelative.ts
  tasklist/client/src/common/tasks/available-tasks/AvailableTaskItem/index.tsx
  tasklist/client/src/common/tasks/available-tasks/CollapsiblePanel/CustomFiltersModal/ProcessesSelect.tsx
  tasklist/client/src/common/tasks/available-tasks/CollapsiblePanel/CustomFiltersModal/index.v1.test.tsx
  tasklist/client/src/common/tasks/available-tasks/CollapsiblePanel/CustomFiltersModal/index.v2.test.tsx
  tasklist/client/src/common/tasks/available-tasks/CollapsiblePanel/index.tsx
  tasklist/client/src/common/tasks/available-tasks/CollapsiblePanel/index.v1.test.tsx
  tasklist/client/src/common/tasks/available-tasks/CollapsiblePanel/index.v2.test.tsx
  tasklist/client/src/common/tasks/available-tasks/Filters/index.tsx
  tasklist/client/src/common/tasks/filters/useMultiModeTaskFilters.ts
  tasklist/client/src/common/tasks/next-task/useAutoSelectNextTask.ts
  tasklist/client/src/common/tracking/index.tsx
  tasklist/client/src/v2/Tasks/AvailableTasks/index.test.tsx
  tasklist/client/src/v2/Tasks/AvailableTasks/index.tsx
  tasklist/client/src/v2/Tasks/index.test.tsx
  tasklist/client/src/v2/Tasks/index.tsx
  tasklist/client/src/v2/api/getQueryVariables.tsx
  tasklist/client/src/v2/api/index.ts
  tasklist/client/src/v2/api/useAllProcessDefinitions.query.ts
  tasklist/client/src/v2/features/tasks/filters/useTaskFilters.ts
  tasklist/client/src/v2/mocks/processDefinitions.ts
  tasklist/client/src/v2/mocks/task.ts
  tasklist/client/src/v2/mocks/tasks.ts
  tasklist/client/src/v2/mocks/utils.ts
  tasklist/client/yarn.lock
Labels: component/tasklist

#30314 [C8 API] Allow excluding multiple process instances
  clients/java/src/main/java/io/camunda/client/api/search/filter/BasicStringFilterProperty.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/builder/BasicLongProperty.java
  clients/java/src/main/java/io/camunda/client/impl/RequestMapper.java
  clients/java/src/main/java/io/camunda/client/impl/ResponseMapper.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/builder/BasicLongPropertyImpl.java
  clients/java/src/test/java/io/camunda/client/process/QueryProcessInstanceTest.java
  db/rdbms/src/main/resources/mapper/Commons.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/client/DecisionInstanceSearchTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceSearchTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/VariableSearchTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/query/SearchQueryBuilders.java
  search/search-domain/src/main/java/io/camunda/search/filter/Operator.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/RestControllerTest.java
Labels: component/zeebe, component/c8-api

#30433 store reconstruct deployments in state
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/DeploymentReconstructProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/streamprocessor/DistributedTypedRecordProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/DeploymentReconstructedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/deployment/DbDecisionState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/deployment/DbFormState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/deployment/DbProcessState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/deployment/PersistedDecision.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/deployment/PersistedForm.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/deployment/PersistedProcess.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableDecisionState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableFormState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableProcessState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/DeploymentReconstructProcessorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/deployment/DecisionStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/deployment/FormStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/deployment/ProcessStateTest.java
Labels: component/zeebe

#29646 [C8 API] Add incidentErrorHashCode field for filtering process instances
  clients/java/src/main/java/io/camunda/client/api/search/filter/ProcessInstanceFilter.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/ProcessInstanceFilterImpl.java
  clients/java/src/test/java/io/camunda/client/process/QueryProcessInstanceTest.java
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/IncidentMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/IncidentDbModel.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/IncidentWriter.java
  db/rdbms/src/main/resources/mapper/IncidentMapper.xml
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceSearchTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/incident/IncidentIT.java
  qa/acceptance-tests/src/test/resources/process/incident_process_v2.bpmn
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/DocumentBasedSearchClients.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/IncidentFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/IncidentQueryTransformerTest.java
  search/search-domain/src/main/java/io/camunda/search/filter/IncidentFilter.java
  search/search-domain/src/main/java/io/camunda/search/filter/ProcessInstanceFilter.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/IncidentExportHandler.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
Labels: component/zeebe, component/c8-api

#30655 fix: fix date and element id custom filters on Tasklist V2
  tasklist/client/src/common/tasks/available-tasks/CollapsiblePanel/index.tsx
  tasklist/client/src/common/tasks/filters/prepareCustomFiltersParams.ts
  tasklist/client/src/v2/api/getQueryVariables.tsx
  tasklist/client/src/v2/features/tasks/filters/useTaskFilters.ts
Labels: component/tasklist

#30592 ci: remove failing unused GHA workflow
  .github/workflows/zeebe-zpa-move-iteration.yml
Labels: component/build-pipeline, component/zeebe

#30630 [renovate] Avoid version update for Maven packages detected as parent
  .github/renovate.json
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#30669 feat: migrate tasks empty page to v2 API
  tasklist/client/src/App.tsx
  tasklist/client/src/common/tasks/EmptyPage/index.tsx
  tasklist/client/src/common/tasks/EmptyPage/index.v1.test.tsx
  tasklist/client/src/common/tasks/EmptyPage/index.v2.test.tsx
  tasklist/client/src/common/tasks/EmptyPage/styles.module.scss
  tasklist/client/src/common/tasks/EmptyPage/useMultiModeTasks.ts
Labels: component/tasklist

#30679 Add new Archiver panels
  monitor/grafana/zeebe.json
Labels: component/zeebe

#30496 feat: add pause resume cancel endpoints for batch operations
  service/src/main/java/io/camunda/service/BatchOperationServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/BatchOperationController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/BatchOperationControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerCancelBatchOperationRequest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerPauseBatchOperationRequest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerResumeBatchOperationRequest.java
Labels: component/zeebe, component/c8-api

#30598 Refactor: Removal of unused batch intents from the Rdbms exporter + r…
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterWrapper.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationCompletedExportHandler.java
Labels: component/zeebe

#30434 pg-27097-deprecated-records-prune
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporterConfiguration.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchClientIT.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterIT.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterPluginTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/RecordCounterTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/TestClient.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterConfiguration.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchClientIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterPluginTest.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterTest.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/RecordCounterTest.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestClient.java
Labels: component/zeebe

#30605 fix: Use vault-based token in Maven Release job (#28522)
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline, backport stable/8.5, backport stable/8.6, backport stable/8.7

#30681 feat: added partitionId filter to processInstanceFilter
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/ProcessInstanceFixtures.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/processinstance/ProcessInstanceIT.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/ProcessInstanceFilterTransformer.java
  search/search-domain/src/main/java/io/camunda/search/filter/ProcessInstanceFilter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromProcessInstanceHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromProcessInstanceHandlerTest.java
Labels: component/zeebe, component/rdbms, component/batch-operation

#30485 Batch operation - additional status handling (started / failed)
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionScheduler.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationFailProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationSetupProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationStartProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/BatchOperationFailedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/BatchOperationStartedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/DbBatchOperationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/PersistedBatchOperation.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableBatchOperationState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionSchedulerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/batchoperation/BatchOperationStateTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/BatchOperationIntent.java
Labels: component/zeebe

#21363 refactor: remove CDN font-path
  operate/client/src/index.scss
Labels: component/zeebe, component/operate

#30680 refactor: remove store dependency from incidents table
  operate/client/e2e-playwright/visual/processInstance.spec.ts
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-instance-with-incident---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-instance-with-incident---light-1-chromium-linux.png
  operate/client/src/App/ProcessInstance/IncidentsWrapper/IncidentsTable/index.tsx
  operate/client/src/App/ProcessInstance/IncidentsWrapper/IncidentsTable/tests/index.test.tsx
Labels: component/operate

#30696 feat: Create upgrade plan factory to 8.7.1
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/plan/factories/Upgrade87To871PlanFactory.java
Labels: component/optimize

#29906 feat: remove ownerId check from collection creation
  optimize/backend/src/main/java/io/camunda/optimize/rest/PublicApiRestService.java
Labels: component/optimize

#30701 test: remove non-existent zeebe CI file reference
  .github/workflows/ci.yml
Labels: component/build-pipeline

#30284 [CPT] ci: Run integration tests
  .github/workflows/ci.yml
  testing/camunda-process-test-example/pom.xml
  testing/camunda-process-test-java/pom.xml
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/ContainerRuntimeDefaults.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/ContainerRuntimePropertiesUtil.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/ContainerRuntimeVersionUtil.java
  testing/camunda-process-test-java/src/main/resources/camunda-container-runtime.properties
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/impl/runtime/ContainerRuntimePropertiesUtilTest.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/impl/runtime/ContainerRuntimeVersionUtilTest.java
Labels: component/build-pipeline

#30714 ci: have buffer to avoid short Tasklist FE timeouts
  .github/workflows/tasklist-ci-fe-reusable.yml
Labels: component/build-pipeline, component/tasklist

#30698 ci: remove unused Optimize GHA
  .github/workflows/optimize-generate-changelog.yml
  .github/workflows/optimize-generate-upgrade-plan.yml
Labels: component/build-pipeline, component/optimize

#30409 feat: migrate TopPanel to v2
  operate/client/src/App/ProcessInstance/TopPanel/v2/index.test.tsx
  operate/client/src/App/ProcessInstance/TopPanel/v2/index.tsx
  operate/client/src/App/ProcessInstance/index.tsx
  operate/client/src/modules/mock-server/handlers.ts
Labels: component/operate

#30722 fix: switch to n2-standard-4-stable
  zeebe/benchmarks/setup/default/values-stable.yaml
Labels: component/zeebe, backport release-8.8.0-alpha3

#30719 ci: send detailed stats for RDBMS ITs
  .github/workflows/rdbms-integration-test.yml
Labels: component/build-pipeline

#30734 fix: syntax error in renovate.json
  .github/renovate.json
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#30402 Display error on login page to provide user feedback
  identity/client/src/App.tsx
  identity/client/src/components/global/AppRoot.tsx
  identity/client/src/pages/login/LoginPage.scss
  identity/client/src/pages/login/LoginPage.tsx
  identity/client/src/pages/login/styled.ts
  identity/client/src/utility/auth/index.ts
Labels: component/frontend, component/identity

#30723 [Backport release-8.8.0-alpha3] fix: switch to n2-standard-4-stable
  zeebe/benchmarks/setup/default/values-stable.yaml
Labels: component/zeebe

#30729 ci: document GHA workflow owners when known
  .github/actions/build-frontend/action.yml
  .github/actions/build-platform-docker/action.yml
  .github/actions/collect-test-artifacts/action.yml
  .github/actions/is-fork/action.yml
  .github/actions/observe-aborted-jobs/action.yml
  .github/actions/observe-build-status/action.yml
  .github/actions/paths-filter/action.yml
  .github/actions/setup-build/action.yml
  .github/actions/setup-maven-cache/action.yaml
  .github/workflows/add-to-projects.yml
  .github/workflows/backport.yml
  .github/workflows/c8run-build.yaml
  .github/workflows/c8run-closed-issue.yaml
  .github/workflows/c8run-release.yaml
  .github/workflows/camunda-helm-integration.yml
  .github/workflows/camunda-platform-docker-deploy-saas-image.yml
  .github/workflows/camunda-platform-release-main-dry-run.yml
  .github/workflows/camunda-platform-release-manual.yml
  .github/workflows/camunda-platform-release.yml
  .github/workflows/chatops-command-ci-problems.yml
  .github/workflows/chatops-command-disable-cache.yml
  .github/workflows/chatops-command-dispatch.yml
  .github/workflows/check-licenses.yml
  .github/workflows/check-pr-conflicts.yml
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
  .github/workflows/core-application-e2e-tests-nightly.yml
  .github/workflows/core-application-e2e-tests-on-demand.yml
  .github/workflows/dispatch-release-8-3.yaml
  .github/workflows/dispatch-release-8-4.yaml
  .github/workflows/dispatch-release-8-5.yaml
  .github/workflows/dispatch-release-8-6.yaml
  .github/workflows/dispatch-release-8-7.yaml
  .github/workflows/dispatch-release-8-8.yaml
  .github/workflows/issue-add-support-label.yml
  .github/workflows/labeler.yml
  .github/workflows/preview-env-build-and-deploy.yml
  .github/workflows/preview-env-clean.yml
  .github/workflows/preview-env-teardown.yml
  .github/workflows/reject-updates-using-merge-commit.yml
  .github/workflows/renovatelint.yml
  .github/workflows/retry-workflow.yml
  .github/workflows/statistics-daily.yml
  .github/workflows/zeebe-release-stable-dry-run.yml
  CODEOWNERS
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize, component/c8run

#30670 feat: migrate MetadataPopover component to v2 REST API
  operate/client/src/App/ProcessInstance/TopPanel/MetadataPopover/Details/index.tsx
  operate/client/src/App/ProcessInstance/TopPanel/MetadataPopover/calledDecisions.test.tsx
  operate/client/src/App/ProcessInstance/TopPanel/MetadataPopover/index.test.tsx
  operate/client/src/App/ProcessInstance/TopPanel/MetadataPopover/mocks.tsx
  operate/client/src/App/ProcessInstance/TopPanel/index.test.tsx
  operate/client/src/App/Processes/ListView/Filters/tests/multiTenancy.test.tsx
Labels: component/operate

#30684 Improve archiving performance
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  monitor/grafana/zeebe.json
  zeebe/exporters/camunda-exporter/pom.xml
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/config/ConfigValidator.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/config/ExporterConfiguration.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/metrics/CamundaExporterMetrics.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepository.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/config/ConfigValidatorTest.java
Labels: benchmark, component/build-pipeline, component/zeebe, component/operate, component/c8-api, component/tasklist, component/optimize

#30742 build: remove CI that is unused from Optimize stable branch
  .github/actions/paths-filter/action.yml
  .github/workflows/camunda-platform-release-main-dry-run.yml
  .github/workflows/camunda-platform-release-manual.yml
  .github/workflows/camunda-platform-release.yml
  .github/workflows/check-pr-conflicts.yml
  .github/workflows/ci.yml
  .github/workflows/dispatch-release-8-2.yaml
  .github/workflows/dispatch-release-8-3.yaml
  .github/workflows/dispatch-release-8-4.yaml
  .github/workflows/dispatch-release-8-5.yaml
  .github/workflows/dispatch-release-8-6.yaml
  .github/workflows/preview-env-build.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#30712 Feat/30661 start pi cancel by camunda client
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/CreateBatchOperationCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/response/CreateBatchOperationResponse.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/CreateBatchOperationCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/CreateBatchOperationResponseImpl.java
  clients/java/src/test/java/io/camunda/client/batchoperation/CreateBatchOperationTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
Labels: component/zeebe, component/c8-api, component/batch-operation

#30756 [Backport stable/8.5] ci: new github workflow for license analysis with FOSSA
  .fossa.yml
  .github/workflows/check-licenses.yml
  optimize/.fossa.yml
Labels: component/zeebe, component/operate

#30763 build: remove zeebe ITs from Optimize CI build
  .github/workflows/ci.yml
Labels: component/build-pipeline

#30690 [Backport stable/8.5] fix: Use vault-based token in Maven Release job (#28522)
  .github/workflows/zeebe-release.yml
Labels: backport stable/8.4, component/zeebe

#30768 deps: update netty to 4.1.119
  optimize/pom.xml
Labels: component/optimize

#30769 deps: update netty to 4.1.119
  optimize/pom.xml
Labels: component/optimize

#30468 Set up playwright for E2E tests and create first test
  identity/client/.gitignore
  identity/client/e2e/.eslintrc
  identity/client/e2e/constants.ts
  identity/client/e2e/pages/CommonPage.ts
  identity/client/e2e/pages/Login.ts
  identity/client/e2e/tests/login.spec.ts
  identity/client/e2e/text-fixtures.ts
  identity/client/e2e/utils/paths.ts
  identity/client/e2e/utils/relativizePaths.ts
  identity/client/package.json
  identity/client/playwright.config.ts
  identity/client/src/App.tsx
  identity/client/src/components/global/routePaths.ts
  identity/client/src/components/global/useGlobalRoutes.tsx
  identity/client/src/pages/login/LoginPage.tsx
  identity/client/src/utility/auth/index.ts
  identity/client/yarn.lock
Labels: component/frontend, component/identity

#30777 fix: zeebe client enabled works as expected now
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientAllAutoConfiguration.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientProdAutoConfiguration.java
  clients/spring-boot-starter-camunda-sdk/src/main/resources/zeebe-client-legacy-property-mappings.properties
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientEnabledTest.java
Labels: component/zeebe

#30649 refactor: use mappingId instead of key for mapping rules
  identity/client/src/pages/groups/detail/mappings/DeleteModal.tsx
  identity/client/src/pages/groups/detail/mappings/index.tsx
  identity/client/src/pages/mappings/List.tsx
  identity/client/src/pages/mappings/modals/DeleteModal.tsx
  identity/client/src/pages/mappings/modals/EditModal.tsx
  identity/client/src/pages/roles/detail/mappings/DeleteModal.tsx
  identity/client/src/pages/roles/detail/mappings/index.tsx
  identity/client/src/pages/tenants/detail/mappings/DeleteModal.tsx
  identity/client/src/pages/tenants/detail/mappings/index.tsx
  identity/client/src/utility/api/mappings/index.ts
  identity/client/src/utility/localization/en/mappingRules.json
Labels: component/identity

#30678 feat: enable mapping-rules update
  identity/client/src/feature-flags.ts
  identity/client/src/pages/mappings/List.tsx
  identity/client/src/pages/mappings/modals/EditModal.tsx
  identity/client/src/utility/api/mappings/index.ts
Labels: component/identity

#30529 refactor: normalize user group membership
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupAddEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupRemoveEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/UserDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/GroupEntityAddedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/GroupEntityRemovedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbMembershipState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableUserState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/user/DbUserState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/user/PersistedUser.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/user/DeleteUserTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/GroupAppliersTest.java
Labels: component/zeebe

#30594 refactor: normalize user tenant membership
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/IdentitySetupInitializeProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantAddEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantRemoveEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/UserDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/TenantEntityAddedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/TenantEntityRemovedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbMembershipState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableUserState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/user/DbUserState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/user/PersistedUser.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/tenant/AddEntityTenantTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/TenantAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/user/UserStateTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AssignUserToTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/RemoveUserFromTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/multitenancy/MultiTenancyIT.java
Labels: component/zeebe

#30726 Feat/30715 query batch operations camunda client
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/fetch/BatchOperationGetRequest.java
  clients/java/src/main/java/io/camunda/client/api/fetch/BatchOperationItemsGetRequest.java
  clients/java/src/main/java/io/camunda/client/api/search/enums/BatchOperationItemState.java
  clients/java/src/main/java/io/camunda/client/api/search/enums/BatchOperationState.java
  clients/java/src/main/java/io/camunda/client/api/search/enums/BatchOperationType.java
  clients/java/src/main/java/io/camunda/client/api/search/response/BatchOperation.java
  clients/java/src/main/java/io/camunda/client/api/search/response/BatchOperationItems.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/fetch/BatchOperationGetRequestImpl.java
  clients/java/src/main/java/io/camunda/client/impl/fetch/BatchOperationItemsGetRequestImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/BatchOperationImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/BatchOperationItemsImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/SearchResponseMapper.java
  clients/java/src/test/java/io/camunda/client/batchoperation/QueryBatchOperationTest.java
  clients/java/src/test/java/io/camunda/client/impl/util/EnumUtilTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/BatchCancelProcessInstanceTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/util/TestHelper.java
Labels: component/zeebe, component/batch-operation

#30702 feat: prepare ProcessInstance component migration
  operate/client/src/App/ProcessInstance/v2/index.test.tsx
  operate/client/src/App/ProcessInstance/v2/index.tsx
  operate/client/src/App/ProcessInstance/v2/mocks.tsx
  operate/client/src/App/ProcessInstance/v2/modifications.test.tsx
Labels: component/operate

#30725 refactor: store group tenant membership decoupled from group state
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantAddEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantRemoveEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/TenantEntityAddedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/TenantEntityRemovedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/group/DbGroupState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/group/PersistedGroup.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableGroupState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/TenantAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/group/GroupStateTest.java
Labels: component/zeebe

#30728 pg-legacy-record-fixes
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/FinishedImportingIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/OpensearchFinishedImportingIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchFinishedImportingIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpensearchFinishedImportingIT.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporterConfiguration.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterIT.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterPluginTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterTest.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterConfiguration.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterPluginTest.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterTest.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/RecordCounterTest.java
Labels: component/zeebe, component/operate, component/tasklist

#30758 [Backport stable/optimize-8.6] ci: new github workflow for license analysis with FOSSA
  .fossa.yml
  .github/workflows/check-licenses.yml
  optimize/.fossa.yml
Labels: component/build-pipeline, component/optimize

#30814 [Backport stable/8.6] ci: make GHA best practices linter extensible to more files
  .github/conftest-unified-ci-rules.rego
  .github/workflows/camunda-helm-integration.yml
  .github/workflows/ci.yml
  .github/workflows/tasklist-ci-fe-reusable.yml
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe, component/tasklist

#30815 [Backport stable/8.7] ci: make GHA best practices linter extensible to more files
  .github/conftest-unified-ci-rules.rego
  .github/workflows/camunda-helm-integration.yml
  .github/workflows/ci.yml
  .github/workflows/tasklist-ci-fe-reusable.yml
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe, component/tasklist

#30799 build: remove zeebe-build-tools from Optimize
  optimize/pom.xml
Labels: component/optimize

#30413 feat: Migrate ProcessInstance component to v2
  operate/client/src/App/ProcessInstance/v2/index.test.tsx
  operate/client/src/App/ProcessInstance/v2/index.tsx
  operate/client/src/App/ProcessInstance/v2/mocks.tsx
  operate/client/src/App/ProcessInstance/v2/modifications.test.tsx
  operate/client/src/App/index.tsx
Labels: component/operate

#30801 Fix/30781 align batch operation status enums
  clients/java/src/main/java/io/camunda/client/impl/search/response/BatchOperationImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/BatchOperationItemsImpl.java
  clients/java/src/test/java/io/camunda/client/impl/util/EnumUtilTest.java
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/mapper/BatchOperationEntityMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/BatchOperationMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/BatchOperationDbModel.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/BatchOperationWriter.java
  db/rdbms/src/main/resources/mapper/BatchOperationMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/batchoperation/BatchOperationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/BatchOperationFixtures.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/exporter/RdbmsExporterBatchOperationsIT.java
  search/search-domain/src/main/java/io/camunda/search/entities/BatchOperationEntity.java
  search/search-domain/src/main/java/io/camunda/search/filter/BatchOperationFilter.java
  search/search-domain/src/main/java/io/camunda/search/sort/BatchOperationSort.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationCreatedExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/ProcessInstanceBatchOperationExportHandler.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/BatchOperationControllerTest.java
Labels: component/zeebe, component/c8-api, component/batch-operation

#30816 Backport workflow cleanups to 8.7
  .github/actions/add-issue-to-project/action.yml
  .github/workflows/issues-labeled.yml
  .github/workflows/java-client-issue.yaml
  .github/workflows/stale-pr.yml
  .github/workflows/tasklist-sync-issues.yml
  .github/workflows/zeebe-zpa-move-iteration.yml
  CONTRIBUTING.md
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#30817 Backport workflow cleanups to 8.6
  .github/actions/add-issue-to-project/action.yml
  .github/workflows/issues-labeled.yml
  .github/workflows/java-client-issue.yaml
  .github/workflows/stale-pr.yml
  .github/workflows/tasklist-sync-issues.yml
  .github/workflows/zeebe-zpa-move-iteration.yml
  CONTRIBUTING.md
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#30794 [Backport stable/8.7] deps: remove explicit dependency on reactor
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#30703 feat: prepare VariablesForm component migration
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/v2/NewVariableModifications.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/v2/VariablesForm.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/v2/index.test.tsx
Labels: component/operate

#30796 fix: default port of distro is 8088
  clients/spring-boot-starter-camunda-sdk/src/main/resources/modes/self-managed.yaml
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationImplSelfManagedTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/ZeebeClientPropertiesSelfManagedTest.java
Labels: component/zeebe, backport stable/8.6

#30827 feat: migrate ProcessInstanceHeader to v2 XML API
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/index.setup.tsx
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/index.test.tsx
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/index.tsx
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/multiTenancy.test.tsx
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/versionTag.test.tsx
  operate/client/src/App/ProcessInstance/v2/mocks.tsx
  operate/client/src/modules/bpmn-js/utils/hasCalledProcessInstances.ts
  operate/client/src/modules/stores/processInstanceDetailsDiagram/index.ts
  operate/client/src/modules/stores/processInstanceDetailsDiagram/tests/hasCalledProcessInstances.test.ts
  operate/client/src/modules/stores/processInstanceDetailsDiagram/tests/index.test.ts
Labels: component/operate

#30760 [Backport stable/optimize-8.7] ci: new github workflow for license analysis with FOSSA
  .fossa.yml
  .github/workflows/check-licenses.yml
  optimize/.fossa.yml
Labels: component/build-pipeline, component/optimize

#30793 [Backport stable/8.6] deps: remove explicit dependency on reactor
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#30724 build: allow optimize loggers to be configured with env vars
  optimize-distro/src/README.txt
  optimize/backend/src/main/java/io/camunda/optimize/Main.java
  optimize/backend/src/main/resources/log4j2.xml
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/main/UpgradeMain.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/util/tomcat/LoggingConfigurationReader.java
Labels: component/optimize

#30819 feat: pause batch operation in engine
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/BatchOperationWriter.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/batchoperation/BatchOperationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/exporter/RdbmsExporterBatchOperationsIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/exporter/RecordFixtures.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecuteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionScheduler.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationPauseProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationSetupProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/BatchOperationPausedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/DbBatchOperationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/PersistedBatchOperation.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableBatchOperationState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/AbstractBatchOperationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionSchedulerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/LifecycleBatchOperationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionIdempotencyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/batchoperation/BatchOperationStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/BatchOperationClient.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/BatchOperationLifecycleManagementExportHandler.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/BatchOperationIntent.java
Labels: component/zeebe

#30700 refactor: move javaHome code in own function
  c8run/main.go
Labels: component/c8run, backport stable/8.6, backport stable/8.7

#30704 feat: prepare ModificationDropdown component migration
  operate/client/src/App/ProcessInstance/TopPanel/ModificationDropdown/v2/index.test.tsx
  operate/client/src/App/ProcessInstance/TopPanel/ModificationDropdown/v2/index.tsx
  operate/client/src/App/ProcessInstance/TopPanel/ModificationDropdown/v2/mocks.tsx
  operate/client/src/App/ProcessInstance/TopPanel/ModificationDropdown/v2/mutliScopes.test.tsx
  operate/client/src/App/ProcessInstance/TopPanel/ModificationDropdown/v2/selectedRunningInstanceCount.test.tsx
Labels: component/operate

#30730 add verbose flag to operate backup list API to improve performance if `verbose=false`
  operate/Makefile
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/BackupControllerIT.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchSnapshotOperations.java
  operate/schema/src/test/java/io/camunda/operate/schema/store/opensearch/client/sync/OpenSearchSnapshotOperationsTest.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/backup/BackupRepository.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/backup/BackupService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/backup/Metadata.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/backup/ElasticsearchBackupRepository.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/management/BackupController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/backup/OpensearchBackupRepository.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/backup/MetadataTest.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/elasticsearch/backup/ElasticsearchBackupRepositoryTest.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/opensearch/backup/OpensearchBackupRepositoryTest.java
Labels: backport main, component/operate, backport stable/8.6

#30843 test: fix v2 variable panel test
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/v2/index.test.tsx
Labels: component/operate
