Repository camunda/camunda, pull requests merged in 2025-05, with the labels that each got.

#31563 Migrate `RoleDeletedHandler` to work with `roleId`
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/RoleDeletedHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/RoleDeletedHandlerTest.java
Labels: component/zeebe

#31527 AssignGroupToTenantCommand should accept groupId
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/AssignGroupToTenantCommandStep1.java
  clients/java/src/main/java/io/camunda/client/impl/command/AssignGroupToTenantCommandImpl.java
  clients/java/src/test/java/io/camunda/client/tenant/AssignGroupToTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AssignGroupToTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UnassignGroupFromTenantTest.java
Labels: component/zeebe

#31602 Remove default empty tenantId, roleId, mappingId and username
  migration/identity-migration/src/test/java/io/camunda/migration/identity/TenantMappingRuleMigrationHandlerTest.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/UserTenantsMigrationHandlerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/MappingAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/IdentitySetupClient.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleControllerTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/authorization/MappingRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/authorization/RoleRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/tenant/TenantRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/user/UserRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
Labels: component/zeebe, component/c8-api

#31535 UnassignGroupFromTenantCommand should accept groupId
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/UnassignGroupFromTenantCommandStep1.java
  clients/java/src/main/java/io/camunda/client/impl/command/UnassignGroupFromTenantCommandImpl.java
  clients/java/src/test/java/io/camunda/client/tenant/UnassignGroupFromTenantTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantRemoveEntityProcessor.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UnassignGroupFromTenantTest.java
Labels: component/zeebe

#31582 fix: log at warn when a leader steps down and include the original exception
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/LeaderRole.java
Labels: component/zeebe, backport release-8.8.0-alpha4

#31365 Feat/31354 bo add end date and error message to item
  clients/java/src/main/java/io/camunda/client/api/search/response/BatchOperationItems.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/BatchOperationItemsImpl.java
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/BatchOperationMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/BatchOperationWriter.java
  db/rdbms/src/main/resources/mapper/BatchOperationMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/batchoperation/BatchOperationIT.java
  search/search-domain/src/main/java/io/camunda/search/entities/BatchOperationEntity.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/batchoperation/RdbmsBatchOperationStatusExportHandler.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/BatchOperationControllerTest.java
Labels: component/zeebe, component/c8-api

#31618 feat: Add support for `CREATING` and `CANCELING` listener event types in Operate
  operate/schema/pom.xml
  operate/schema/src/test/java/io/camunda/operate/enties/ListenerEventTypeTest.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/listener/ListenerEventType.java
Labels: component/operate

#31625 Assign role to groups (API)
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerRoleEntityRequest.java
Labels: component/zeebe, component/c8-api

#31629 fix: predefine access rule id
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/multitenancy/MultiTenancyOverIdentityHighRequestCountIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/multitenancy/MultiTenancyOverIdentityIT.java
Labels: component/zeebe

#31610 Handle exported roles using ids in RDBMS Exporter
  authentication/src/test/java/io/camunda/authentication/CamundaOAuthPrincipalServiceTest.java
  authentication/src/test/java/io/camunda/authentication/CamundaOidcUserServiceTest.java
  authentication/src/test/java/io/camunda/authentication/CamundaUserDetailsServiceTest.java
  authentication/src/test/java/io/camunda/authentication/session/WebSessionMapperTest.java
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/RoleReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/columns/RoleSearchColumn.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/RoleDbModel.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/RoleMemberDbModel.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/GroupWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/RoleWriter.java
  db/rdbms/src/main/resources/mapper/GroupMapper.xml
  db/rdbms/src/main/resources/mapper/RoleMapper.xml
  operate/webapp/src/test/java/io/camunda/operate/webapp/security/permission/PermissionsServiceTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/RoleFixtures.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/role/RoleIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/exporter/RdbmsExporterIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/exporter/RecordFixtures.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/entity/RoleEntityTransformer.java
  search/search-domain/src/main/java/io/camunda/search/entities/RoleEntity.java
  search/search-domain/src/main/java/io/camunda/search/filter/RoleFilter.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/RoleExportHandler.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleQueryControllerTest.java
Labels: component/zeebe, component/operate, component/c8-api

#31604 ci: ignore artifacts related to package c8run locally
  c8run/.gitignore
Labels: component/c8run

#31603 refactor: c8run printStatus function
  c8run/internal/health/camunda.go
Labels: component/c8run

#31400 feat: show incident badge in collapsed subprocess
  operate/client/src/App/ProcessInstance/TopPanel/ModificationDropdown/v2/index.test.tsx
  operate/client/src/App/ProcessInstance/TopPanel/index.tsx
  operate/client/src/App/ProcessInstance/TopPanel/v2/index.tsx
  operate/client/src/App/Processes/ListView/DiagramPanel/index.test.tsx
  operate/client/src/App/Processes/ListView/DiagramPanel/index.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/SourceDiagram.tsx
  operate/client/src/modules/bpmn-js/badgePositions.ts
  operate/client/src/modules/queries/flownodeInstancesStatistics/useFlownodeStatistics.ts
  operate/client/src/modules/queries/flownodeInstancesStatistics/useTotalRunningInstancesForFlowNode.ts
  operate/client/src/modules/queries/processInstancesStatistics/useOverlayData.ts
  operate/client/src/modules/stores/processInstanceDetailsStatistics.ts
  operate/client/src/modules/stores/processStatistics/processStatistics.base.test.ts
  operate/client/src/modules/stores/processStatistics/processStatistics.base.ts
  operate/client/src/modules/stores/processStatistics/processStatistics.batchModification.test.ts
  operate/client/src/modules/stores/processStatistics/processStatistics.batchModification.ts
  operate/client/src/modules/utils/statistics/flownodeInstance.test.tsx
  operate/client/src/modules/utils/statistics/flownodeInstances.ts
Labels: component/operate

#31242 [Backport stable/8.5] [stable/8.6] fix: removal of meter registry workaround
  spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeActuatorConfiguration.java
Labels: component/zeebe, component/operate

#31570 [Backport stable/8.7] Use job key in migration error message
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
Labels: component/zeebe

#31488 feat: use separate distribution queue for batch operation #31011
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationCancelProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationPauseProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationResumeProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/distribution/DistributionQueue.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/CreateBatchOperationMultiPartitionTest.java
Labels: component/zeebe, component/batch-operation

#31502 fix: flaky command distribution tests by disabling the scheduler
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/engine/BatchOperationCfg.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/engine/EngineCfg.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/EngineConfiguration.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionScheduler.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationSetupProcessors.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionSchedulerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionIdempotencyTest.java
Labels: component/zeebe

#31617 [Backport release-8.8.0-alpha4] fix: log at warn when a leader steps down and include the original exception
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/LeaderRole.java
Labels: component/zeebe

#31484 docs: specify fetchVariable in create PI API
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe, component/c8-api

#31494 Add configurations for the SAS tokens.
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  dist/src/main/java/io/camunda/zeebe/shared/ConfigSanitizingFunction.java
  dist/src/main/resources/application.properties
  zeebe/backup-stores/azure/src/main/java/io/camunda/zeebe/backup/azure/AzureBackupConfig.java
  zeebe/backup-stores/azure/src/main/java/io/camunda/zeebe/backup/azure/AzureBackupStore.java
  zeebe/backup-stores/azure/src/main/java/io/camunda/zeebe/backup/azure/FileSetManager.java
  zeebe/backup-stores/azure/src/main/java/io/camunda/zeebe/backup/azure/SasTokenConfig.java
  zeebe/backup-stores/azure/src/main/java/io/camunda/zeebe/backup/azure/SasTokenType.java
  zeebe/backup-stores/azure/src/test/java/io/camunda/zeebe/backup/azure/AzureBackupStoreContainerCreationIT.java
  zeebe/backup-stores/azure/src/test/java/io/camunda/zeebe/backup/azure/AzureBackupStoreContainerCredentialsIT.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/backup/AzureBackupStoreConfig.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#31460 feat: create batch operation created handler camunda exporter
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/BatchOperationTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operation/BatchOperationEntity.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/template/operate-batch-operation.json
  webapps-schema/src/main/resources/schema/opensearch/create/template/operate-batch-operation.json
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/batchoperation/BatchOperationCreatedHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/batchoperation/BatchOperationStartedHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/batchoperation/BatchOperationCreatedHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/batchoperation/BatchOperationStartedHandlerTest.java
Labels: component/zeebe, component/operate, component/c8-api, component/identity

#31642 deps: update zeebe and identity for optimize 8.6.8
  optimize/pom.xml
Labels: component/optimize

#31633 C8run update gitignore 8.7
  c8run/.gitignore
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/identity, component/optimize, component/c8run, backport stable/8.6, deprecated-client

#31634 C8run refactor port settings 8.7
  c8run/internal/health/camunda.go
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize, component/c8run

#31018 feat: add RSS and NMT metrics via JFR
  dist/src/main/java/io/camunda/application/commons/metrics/JfrMetricRecorder.java
  dist/src/main/java/io/camunda/application/commons/metrics/MetricRegistration.java
  dist/src/main/java/io/camunda/application/commons/metrics/PrometheusConfiguration.java
  dist/src/main/java/io/camunda/application/commons/metrics/jfr/NativeMemoryMetrics.java
  dist/src/main/java/io/camunda/application/commons/metrics/jfr/NativeMemoryMetricsDoc.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#31558 feat: applications can be members of roles
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/RoleAddEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/RoleRemoveEntityProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/role/RoleTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleController.java
Labels: component/zeebe, component/c8-api

#31657 fix: bump 8.8.0-alpha4-rc1 for c8run
  c8run/.env
Labels: component/c8run

#31652 Improve medics benchmark workflow
  .github/workflows/zeebe-medic-benchmarks.yml
Labels: component/build-pipeline, component/zeebe

#29532 docs: add AWS OS ITs docs
  search/search-client-connect/src/test/java/io/camunda/search/connect/os/AWSSearchDBExtension.java
  search/search-client-connect/src/test/java/io/camunda/search/connect/os/ContainerizedSearchDBExtension.java
  search/search-client-connect/src/test/java/io/camunda/search/connect/os/SearchDBExtension.java
  search/search-test-utils/src/main/java/io/camunda/search/test/utils/AWSSearchDBExtension.java
  search/search-test-utils/src/main/java/io/camunda/search/test/utils/ContainerizedSearchDBExtension.java
  search/search-test-utils/src/main/java/io/camunda/search/test/utils/SearchDBExtension.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/AWSSearchDBExtension.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/ContainerizedSearchDBExtension.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/SearchDBExtension.java
Labels: component/zeebe

#31565 feat: applications can be members of groups
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupAddEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupRemoveEntityProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/GroupTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
Labels: component/zeebe, component/c8-api

#31663 build: skip Optimize schema integrity tests in ci.yml
  .github/workflows/ci.yml
Labels: component/build-pipeline

#31206 ci: Operate CI Cleanup
  .github/workflows/operate-a11y.yml
  .github/workflows/operate-ci-build-observe-reusable.yml
  .github/workflows/operate-ci-build-reusable.yml
  .github/workflows/operate-ci-test-reusable.yml
  .github/workflows/operate-ci.yml
  .github/workflows/operate-docker-tests.yml
  .github/workflows/operate-e2e-tests.yml
  .github/workflows/operate-frontend.yml
  .github/workflows/operate-playwright.yml
  .github/workflows/operate-run-tests.yml
  .github/workflows/operate-test-backup-restore.yml
  .github/workflows/operate-test-importer.yml
  operate/pom.xml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/OpensearchBatchRequestIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/OpensearchConnectorIT.java
  operate/qa/pom.xml
  operate/qa/query-performance-tests/README.md
  operate/qa/query-performance-tests/pom.xml
  operate/qa/query-performance-tests/src/test/java/io/camunda/operate/qa/performance/ParametersResolver.java
  operate/qa/query-performance-tests/src/test/java/io/camunda/operate/qa/performance/QueryPerformanceTest.java
  operate/qa/query-performance-tests/src/test/java/io/camunda/operate/qa/performance/TestConfig.java
  operate/qa/query-performance-tests/src/test/java/io/camunda/operate/qa/performance/TestQuery.java
  operate/qa/query-performance-tests/src/test/resources/application.yml
  operate/qa/query-performance-tests/src/test/resources/queries/core-statistics.json
  operate/qa/query-performance-tests/src/test/resources/queries/flow-node-instances.json
  operate/qa/query-performance-tests/src/test/resources/queries/incidents-statistics.json
  operate/qa/query-performance-tests/src/test/resources/queries/operation.json
  operate/qa/query-performance-tests/src/test/resources/queries/process-instance.json
  operate/qa/query-performance-tests/src/test/resources/queries/process-instances-statistics.json
  operate/qa/query-performance-tests/src/test/resources/queries/process-instances.json
  operate/qa/query-performance-tests/src/test/resources/queries/processes.json
  operate/qa/query-performance-tests/src/test/resources/queries/variables.json
  operate/schema/README.md
Labels: component/build-pipeline, component/operate

#31673 C8run update startup message 8.7
  c8run/endpoints.txt
  c8run/internal/health/camunda.go
Labels: component/c8run

#31678 [Backport stable/8.7] Use lowercase when checking which properties to sanitise
  dist/src/main/java/io/camunda/zeebe/shared/ConfigSanitizingFunction.java
  dist/src/main/resources/application.properties
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#31677 [Backport stable/8.6] Use lowercase when checking which properties to sanitise
  dist/src/main/java/io/camunda/zeebe/shared/ConfigSanitizingFunction.java
  dist/src/main/resources/application.properties
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#31624 fix: split parallel and batched paths in IncidentUpdate
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/ElasticsearchIncidentUpdateRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/IncidentUpdateRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/IncidentUpdateTask.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/OpenSearchIncidentUpdateRepository.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/incident/IncidentUpdateRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/incident/IncidentUpdateTaskTest.java
Labels: component/zeebe

#31661 refactor: create upgrade 8.6.8 To 8.6.9 plan factory
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/plan/factories/Upgrade868To869PlanFactory.java
Labels: component/optimize

#31684 fix: change message for invalid logins to match new be message
  operate/client/e2e-playwright/tests/login.spec.ts
  tasklist/client/e2e/tests/login.spec.ts
Labels: component/operate, component/tasklist

#31681 Fix native memory tracking
  dist/src/main/java/io/camunda/application/commons/metrics/jfr/NativeMemoryMetrics.java
  dist/src/main/java/io/camunda/application/commons/metrics/jfr/NativeMemoryMetricsDoc.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#31177 test: reenable disabled optimize e2e tests
  optimize/client/e2e/sm-tests/Collection.js
  optimize/client/e2e/sm-tests/Dashboard.js
Labels: component/optimize

#31700 ci: increase timeout for OS and H2 integration tests
  .github/workflows/ci.yml
Labels: component/build-pipeline

#31696 Allow adding a tenant to roles (gateway)
  migration/identity-migration/src/main/java/io/camunda/migration/identity/TenantMappingRuleMigrationHandler.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/UserTenantsMigrationHandler.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/TenantMappingRuleMigrationHandlerTest.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/UserTenantsMigrationHandlerTest.java
  service/src/main/java/io/camunda/service/TenantServices.java
  service/src/test/java/io/camunda/service/TenantServiceTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/TenantRequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerTenantEntityRequest.java
Labels: component/zeebe, component/c8-api

#31667 ci: skip commitlint on release branches
  .github/actions/paths-filter/action.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize, backport stable/8.6, backport stable/8.7

#31668 ci: skip commitlint on release branches
  .github/actions/paths-filter/action.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#31471 [Issue#31464] Resolving "Too many open files" error in atomix cluser module tests
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ControllableRaftContexts.java
Labels: component/zeebe

#31628 Remove roles from group (API)
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleControllerTest.java
Labels: component/zeebe, component/c8-api

#31674 Streamline variable search V2 REST API
  clients/java/src/main/java/io/camunda/client/api/search/response/Variable.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/VariableImpl.java
  qa/acceptance-tests/src/test/java/io/camunda/it/orchestration/VariableIT.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/utils/VariableBuilder.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/VariableController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserTaskQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/VariablesQueryControllerTest.java
Labels: component/zeebe, component/c8-api

#31699 feat: add panel to visualize NativeMemoryTracking metrics
  monitor/grafana/zeebe.json
Labels: component/zeebe

#31606 feat: populate application id in grpc context
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/EndpointManager.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/interceptors/impl/AuthenticationHandler.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/interceptors/impl/AuthenticationInterceptorTest.java
Labels: component/zeebe

#31730 [Backport stable/8.7] ci: skip commitlint on release branches
  .github/actions/paths-filter/action.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize, backport release-8.7.2

#31682 deps: update identity and operate versions
  operate/client/package.json
  operate/config/docker-compose.identity.yml
  operate/config/docker-compose.mt.yml
  operate/config/docker-compose.opensearch-identity.yml
  operate/config/docker-compose.test.yml
  operate/docker-compose.opensearch-identity.yml
  operate/docker-compose.opensearch.yml
  operate/docker-compose.yml
Labels: component/operate

#31736 Get users by groupId command
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/fetch/UsersByGroupSearchRequest.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/UserFilter.java
  clients/java/src/main/java/io/camunda/client/api/search/request/SearchRequestBuilders.java
  clients/java/src/main/java/io/camunda/client/api/search/response/User.java
  clients/java/src/main/java/io/camunda/client/api/search/sort/UserSort.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/UserFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/request/UsersByGroupSearchRequestImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/SearchResponseMapper.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/UserImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/sort/UserSortImpl.java
  clients/java/src/test/java/io/camunda/client/group/GroupSearchTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/UsersByGroupSearchTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/DocumentBasedSearchClients.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/ServiceTransformers.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/GroupFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/GroupQueryTransformerTest.java
  search/search-domain/src/main/java/io/camunda/search/filter/GroupFilter.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/index/GroupIndex.java
Labels: component/zeebe

#31685 ci: revert changes on c8run closed issue workflow
  .github/workflows/c8run-closed-issue.yaml
Labels: component/build-pipeline

#31219 31055 add dedicated call hierarchy endpoint to v2 api
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/ProcessInstanceDbModel.java
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/entity/ProcessInstanceEntityTransformer.java
  search/search-domain/src/main/java/io/camunda/search/entities/ProcessInstanceEntity.java
  service/src/main/java/io/camunda/service/ProcessInstanceServices.java
  service/src/main/java/io/camunda/service/util/TreePathParser.java
  service/src/test/java/io/camunda/service/ProcessInstanceServiceTest.java
  service/src/test/java/io/camunda/service/util/TreePathParserTest.java
  zeebe/exporters/rdbms-exporter/pom.xml
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterWrapper.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/cache/CachedProcessEntity.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/cache/ExporterEntityCache.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/cache/RdbmsProcessCacheLoader.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/ProcessExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/ProcessInstanceExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/utils/ProcessCacheUtil.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/utils/TreePath.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceQueryControllerTest.java
Labels: component/zeebe, component/c8-api

#31504 feat: migrate assignment/unassignment flow to unified API
  tasklist/client/package.json
  tasklist/client/src/v1/TaskDetails/index.tsx
  tasklist/client/src/v1/TaskDetailsLayout/index.tsx
  tasklist/client/src/v2/TaskDetailsLayout/AssignButton/index.test.tsx
  tasklist/client/src/v2/TaskDetailsLayout/AssignButton/index.tsx
  tasklist/client/src/v2/TaskDetailsLayout/index.tsx
  tasklist/client/src/v2/api/index.ts
  tasklist/client/src/v2/api/useAssignTask.mutation.ts
  tasklist/client/src/v2/api/usePollForAssignmentResult.mutation.tsx
  tasklist/client/src/v2/api/useTasks.query.ts
  tasklist/client/src/v2/api/useUnassignTask.mutation.ts
  tasklist/client/yarn.lock
Labels: component/tasklist

#31611 `getRole` should use `roleId` instead of `roleKey`
  search/search-domain/src/main/java/io/camunda/search/exception/ErrorMessages.java
  search/search-domain/src/main/java/io/camunda/search/filter/RoleFilter.java
  service/src/main/java/io/camunda/service/RoleServices.java
  service/src/test/java/io/camunda/service/RoleServicesTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbRoleState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/RoleState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/RoleStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/RoleClient.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleQueryControllerTest.java
Labels: component/zeebe, component/c8-api

#31752 feat: categorize ZbColumnFamilies with ColumnFamilyScope
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ColumnFamilyScope.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ScopedColumnFamily.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/ColumnFamily.java
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/impl/DefaultColumnFamily.java
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/impl/rocksdb/ZeebeRocksDbFactory.java
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/impl/rocksdb/transaction/TransactionalColumnFamily.java
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/impl/rocksdb/transaction/ZeebeTransactionDb.java
  zeebe/zb-db/src/test/java/io/camunda/zeebe/db/impl/DbTransactionTest.java
  zeebe/zb-db/src/test/java/io/camunda/zeebe/db/impl/DefaultZeebeDbFactory.java
  zeebe/zb-db/src/test/java/io/camunda/zeebe/db/impl/rocksdb/transaction/ForeignKeyCheckerTest.java
Labels: component/zeebe

#31785 build: update zeebe, identity versions
  optimize/pom.xml
Labels: component/optimize

#31793 fix: skip failing test on release branch as well
  operate/client/src/App/ProcessInstance/TopPanel/ModificationDropdown/v2/index.test.tsx
Labels: component/operate

#31805 ci: automation for adding issues to camunda-ex project
  .github/workflows/add-to-projects.yml
Labels: component/build-pipeline

#31810 chore: upgrade springboot to 3.3.11 to resolve CVE-2025-31650
  operate/pom.xml
Labels: component/operate

#31490 feat: migrate directly dependent components part-1
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/v2/FlowNodeStates.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/v2/index.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/v2/notification.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/v2/placeholder.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/v2/readonly.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/v2/spinner.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/v2/VariablesTable.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/v2/addVariable.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/v2/editVariable.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/v2/footer.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/v2/index.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/v2/index.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/v2/mocks.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/v2/restrictedUserWithResourceBasedPermissions.test.tsx
  operate/client/src/App/ProcessInstance/v2/index.test.tsx
  operate/client/src/App/ProcessInstance/v2/mocks.tsx
  operate/client/src/App/ProcessInstance/v2/modifications.test.tsx
  operate/client/src/App/ProcessInstance/v2/notFoundRedirect.test.tsx
  operate/client/src/modules/mocks/api/v2/processInstances/fetchCallHierarchy.ts
  operate/client/src/modules/mocks/api/v2/processInstances/fetchProcessInstance.ts
  operate/client/src/modules/mocks/api/v2/processInstances/fetchProcessInstancesStatistics.ts
  operate/client/src/modules/utils/instance/index.ts
Labels: component/operate

#31764 Add endpoint to search roles by groupId
  db/rdbms/src/main/resources/mapper/RoleMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/role/RoleSpecificFilterIT.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/DocumentBasedSearchClients.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/RoleFilterTransformer.java
  search/search-domain/src/main/java/io/camunda/search/filter/RoleFilter.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/index/RoleIndex.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleQueryControllerTest.java
Labels: component/zeebe, component/c8-api

#31437 ci: Introduce merged epic breakdown template and remove component epic templates
  .github/ISSUE_TEMPLATE/4. epic breakdown.yml
  .github/ISSUE_TEMPLATE/operate-epic.md
  .github/ISSUE_TEMPLATE/optimize-epic.md
  .github/ISSUE_TEMPLATE/tasklist-epic.md
  .github/ISSUE_TEMPLATE/zeebe_zpa_epic.md
Labels: component/operate, component/tasklist, component/optimize

#31803 fix: reintroduce JOB records in ES/OS exporter
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporterConfiguration.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterIT.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterConfiguration.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterIT.java
Labels: component/zeebe

#31455 Feat/30936 bo authorization engine
  clients/java/src/main/java/io/camunda/client/api/search/enums/PermissionType.java
  clients/java/src/main/java/io/camunda/client/api/search/enums/ResourceType.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/BatchOperationAuthorizationIT.java
  security/security-core/src/main/java/io/camunda/zeebe/protocol/record/value/AuthorizationResourceType.java
  security/security-core/src/main/java/io/camunda/zeebe/protocol/record/value/PermissionType.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationCancelProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationPauseProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationResumeProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationSetupProcessors.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/AbstractBatchOperationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/CreateBatchOperationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/LifecycleBatchOperationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/BatchOperationClient.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/qa/update-tests/src/test/java/io/camunda/zeebe/test/ContainerState.java
Labels: component/zeebe, component/c8-api

#31593 refactor: batchoperation search api key to
  clients/java/src/main/java/io/camunda/client/api/search/response/BatchOperation.java
  clients/java/src/main/java/io/camunda/client/api/search/response/BatchOperationItems.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/BatchOperationImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/BatchOperationItemsImpl.java
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/mapper/BatchOperationEntityMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/BatchOperationReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/BatchOperationMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/columns/BatchOperationSearchColumn.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/BatchOperationDbModel.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/BatchOperationWriter.java
  db/rdbms/src/main/resources/mapper/BatchOperationMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/batchoperation/BatchOperationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/batchoperation/BatchOperationSortIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/BatchOperationFixtures.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/CommonFixtures.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/exporter/RdbmsExporterBatchOperationsIT.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/DocumentBasedSearchClients.java
  search/search-client-rdbms/src/main/java/io/camunda/search/rdbms/RdbmsSearchClient.java
  search/search-client/src/main/java/io/camunda/search/clients/BatchOperationSearchClient.java
  search/search-domain/src/main/java/io/camunda/search/entities/BatchOperationEntity.java
  search/search-domain/src/main/java/io/camunda/search/filter/BatchOperationFilter.java
  search/search-domain/src/main/java/io/camunda/search/sort/BatchOperationSort.java
  service/src/main/java/io/camunda/service/BatchOperationServices.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/search/NoopSearchClientsProxy.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/batchoperation/BatchOperationChunkExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/batchoperation/BatchOperationCompletedExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/batchoperation/BatchOperationCreatedExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/batchoperation/BatchOperationLifecycleManagementExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/batchoperation/RdbmsBatchOperationStatusExportHandler.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/BatchOperationController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/BatchOperationControllerTest.java
Labels: component/zeebe, component/c8-api

#31467 feat: implement search batch operations
  qa/acceptance-tests/src/test/java/io/camunda/it/client/TempESBatchOperationCancelProcessInstanceTest.java
  search/search-client-query-transformer/pom.xml
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/DocumentBasedSearchClients.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/ServiceTransformers.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/entity/BatchOperationEntityTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/BatchOperationFilterTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/sort/BatchOperationFieldSortingTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/entity/BatchOperationEntityTransformerTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/BatchOperationFilterTransformerTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/sort/BatchOperationFieldSortingTransformerTest.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operation/BatchOperationEntity.java
Labels: component/zeebe, component/c8-api

#31778 Search mappings by groupId endpoint
  db/rdbms/src/main/resources/mapper/MappingMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/mapping/MappingSpecificFilterIT.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/DocumentBasedSearchClients.java
  search/search-domain/src/main/java/io/camunda/search/filter/MappingFilter.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupQueryControllerTest.java
Labels: component/zeebe, component/c8-api

#31644 chore(renovate): update configuration
  .github/renovate.json
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#31697 feat: check for application permissions
  security/security-services/src/main/java/io/camunda/security/impl/AuthorizationChecker.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorTest.java
Labels: component/zeebe

#31691 feat: batch operation completed and lifecycle handlers for camunda exporter
  qa/acceptance-tests/src/test/java/io/camunda/it/client/TempESBatchOperationCancelProcessInstanceTest.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/batchoperation/BatchOperationCompletedHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/batchoperation/BatchOperationLifecycleManagementHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/batchoperation/BatchOperationCompletedHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/batchoperation/BatchOperationLifecycleManagementHandlerTest.java
Labels: component/zeebe

#31784 fix: enable separateMinorPatch for maintenance branches
  .github/renovate.json
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#31676 [Backport stable/8.5] Use lowercase when checking which properties to sanitise
  dist/src/main/java/io/camunda/zeebe/shared/ConfigSanitizingFunction.java
  dist/src/main/resources/application.properties
Labels: component/zeebe

#31847 fix: update c8run dep versions for 8.6.15 release
  c8run/.env
Labels: component/c8run

#31824 Search groups by tenantId
  db/rdbms/src/main/resources/mapper/GroupMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/group/GroupSpecificFilterIT.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/DocumentBasedSearchClients.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/GroupFilterTransformer.java
  search/search-domain/src/main/java/io/camunda/search/filter/GroupFilter.java
  search/search-domain/src/main/java/io/camunda/search/query/GroupQuery.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupQueryControllerTest.java
Labels: component/zeebe, component/c8-api

#31491 feat: migrate directly dependent components part-2
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/v2/addVariable.test.tsx
  operate/client/src/App/ProcessInstance/Breadcrumb/v2/index.test.tsx
  operate/client/src/App/ProcessInstance/Breadcrumb/v2/index.tsx
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/v2/index.setup.tsx
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/v2/index.test.tsx
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/v2/index.tsx
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/v2/multiTenancy.test.tsx
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/v2/versionTag.test.tsx
  operate/client/src/App/ProcessInstance/TopPanel/MetadataPopover/v2/index.test.tsx
  operate/client/src/App/ProcessInstance/TopPanel/MetadataPopover/v2/index.tsx
  operate/client/src/App/ProcessInstance/TopPanel/v2/index.test.tsx
  operate/client/src/App/ProcessInstance/TopPanel/v2/index.tsx
  operate/client/src/App/ProcessInstance/v2/index.test.tsx
  operate/client/src/App/ProcessInstance/v2/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/v2/index.tsx
  operate/client/src/modules/components/Operations/v2/buttons.test.tsx
  operate/client/src/modules/components/Operations/v2/cancel-operation.test.tsx
  operate/client/src/modules/components/Operations/v2/index.tsx
  operate/client/src/modules/components/Operations/v2/mocks.tsx
  operate/client/src/modules/components/Operations/v2/notification.test.tsx
  operate/client/src/modules/components/Operations/v2/spinner.test.tsx
  operate/client/src/modules/constants/statusCode.ts
  operate/client/src/modules/queries/callHierarchy/useCallHierarchy.ts
  operate/client/src/modules/queries/decisionDefinitions/useDecisionDefinitionXml.ts
  operate/client/src/modules/queries/flownodeInstancesStatistics/useFlownodeInstancesStatistics.ts
  operate/client/src/modules/queries/processDefinitions/useProcessDefinitionXml.ts
  operate/client/src/modules/queries/processInstance/deprecated/useProcessInstanceDeprecated.ts
  operate/client/src/modules/queries/processInstance/useProcessInstance.ts
  operate/client/src/modules/queries/processInstancesStatistics/useProcessInstancesStatistics.tsx
  operate/client/src/modules/queries/sequenceFlows/useProcessSequenceFlows.ts
Labels: component/operate

#31432 feat: migrate directly dependent components part-3
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/v2/adHocSubProcess.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/v2/index.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/v2/mocks.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/v2/modificationPlaceholders.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/v2/multiInstanceSubprocess.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/v2/nestedSubprocess.test.tsx
  operate/client/src/App/ProcessInstance/IncidentsWrapper/IncidentsTable/v2/index.test.tsx
  operate/client/src/App/ProcessInstance/IncidentsWrapper/IncidentsTable/v2/index.tsx
  operate/client/src/App/ProcessInstance/IncidentsWrapper/IncidentsTable/v2/mocks.tsx
  operate/client/src/App/ProcessInstance/IncidentsWrapper/IncidentsTable/v2/sorting.test.tsx
  operate/client/src/App/ProcessInstance/ModificationSummaryModal/Messages/v2/Error.tsx
  operate/client/src/App/ProcessInstance/ModificationSummaryModal/v2/index.test.tsx
  operate/client/src/App/ProcessInstance/ModificationSummaryModal/v2/index.tsx
  operate/client/src/App/ProcessInstance/TopPanel/index.tsx
  operate/client/src/App/ProcessInstance/v2/index.test.tsx
  operate/client/src/App/index.tsx
Labels: component/operate

#31368 refactor: remove processInstanceDetailsDiagramStore dependency from flowNodeSelectionStore
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/VariablesForm.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/v2/VariablesForm.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/ExistingVariableValue.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/NewVariableModification/Value.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/NewVariableModification/createModification.ts
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/tests/existingVariableModification.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/v2/addVariable.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/v2/editVariable.test.tsx
  operate/client/src/App/ProcessInstance/TopPanel/v2/index.test.tsx
  operate/client/src/modules/hooks/flowNodeMetadata.ts
  operate/client/src/modules/hooks/flowNodeSelection.ts
  operate/client/src/modules/stores/flowNodeSelection.test.ts
  operate/client/src/modules/stores/flowNodeSelection.ts
  operate/client/src/modules/stores/modifications.ts
  operate/client/src/modules/utils/flowNodeSelection.test.ts
  operate/client/src/modules/utils/flowNodeSelection.ts
  operate/client/src/modules/utils/modification.test.ts
  operate/client/src/modules/utils/modifications.ts
Labels: component/operate

#31501 feat: migrate dependent store methods
  operate/client/src/modules/hooks/flowNodeInstance.ts
  operate/client/src/modules/hooks/flowNodeSelection.ts
  operate/client/src/modules/queries/processInstance/useIsProcessInstanceRunning.ts
  operate/client/src/modules/stores/flowNodeInstance/index.tsx
  operate/client/src/modules/stores/flowNodeSelection.ts
  operate/client/src/modules/utils/flowNodeInstance.ts
  operate/client/src/modules/utils/incidents.ts
  operate/client/src/modules/utils/instance/index.ts
  operate/client/src/modules/utils/variables.ts
Labels: component/operate

#31743 Feat/31047 create batch operation chunk handler camunda exporter
  qa/acceptance-tests/src/test/java/io/camunda/it/client/TempESBatchOperationCancelProcessInstanceTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/DocumentBasedSearchClients.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/ServiceTransformers.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/entity/BatchOperationItemEntityTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/BatchOperationItemFilterTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/sort/BatchOperationItemFieldSortingTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/entity/BatchOperationItemEntityTransformerTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/BatchOperationItemFilterTransformerTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/sort/BatchOperationItemFieldSortingTransformerTest.java
  search/search-domain/src/main/java/io/camunda/search/filter/BatchOperationItemFilter.java
  search/search-domain/src/main/java/io/camunda/search/filter/FilterBuilders.java
  search/search-domain/src/main/java/io/camunda/search/query/BatchOperationItemQuery.java
  search/search-domain/src/main/java/io/camunda/search/query/SearchQueryBuilders.java
  search/search-domain/src/main/java/io/camunda/search/sort/BatchOperationItemSort.java
  search/search-domain/src/main/java/io/camunda/search/sort/SortOptionBuilders.java
  zeebe/exporters/camunda-exporter/pom.xml
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/batchoperation/BatchOperationChunkCreatedItemHandler.java
Labels: component/zeebe

#31807 feat: handle `GetScaleUpProgress` in the engine
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/scaling/BrokerClientPartitionScalingExecutor.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning/scaling/BrokerClientPartitionScalingExecutorTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/ScaleUpStatusProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/ScaleUpStatusResponseApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/ScalingProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/scaling/ScaleUpTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/GetScaleUpProgress.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/scaling/ScaleRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/scaling/RedistributionIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/scaling/ScaleIntent.java
  zeebe/protocol/src/test/java/io/camunda/zeebe/protocol/record/intent/IntentEncodingDecodingTest.java
Labels: component/zeebe

#31802 fix: prevent ActivateJobsCommand timeout before the server
  clients/java/src/main/java/io/camunda/client/CamundaClientBuilder.java
  clients/java/src/main/java/io/camunda/client/CamundaClientConfiguration.java
  clients/java/src/main/java/io/camunda/client/ClientProperties.java
  clients/java/src/main/java/io/camunda/client/api/command/ActivateJobsCommandStep1.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientBuilderImpl.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientCloudBuilderImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/ActivateJobsCommandImpl.java
  clients/java/src/test/java/io/camunda/client/CamundaClientTest.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/configuration/CamundaClientConfigurationImpl.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientProperties.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/ActivateJobsTest.java
Labels: component/zeebe

#31861 build: update zeebe, identity for optimize 8.8.0-alpha4
  optimize-distro/pom.xml
  optimize/pom.xml
  optimize/upgrade/pom.xml
Labels: component/optimize

#31779 refactor: remove spring dependency of UserStore on schema startup
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchUserStore.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchUserStore.java
  qa/acceptance-tests/src/test/java/io/camunda/it/spring/AbstractSpringDependenciesTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/spring/CamundaApplicationSpringDependenciesTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/spring/StandaloneBrokerSpringDependenciesTest.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/se/store/UserStoreElasticSearch.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/se/store/UserStoreOpenSearch.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestGateway.java
Labels: component/zeebe, component/operate, component/tasklist

#31854 refactor: cleanup v1 code part-2
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/v2/VariablesForm.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/Bar/ModificationIcons/v2/index.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/tests/modificationPlaceholders.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/tests/modificationsWithAncestorSelection.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/v2/mocks.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/v2/modificationPlaceholders.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/v2/modificationsWithAncestorSelection.test.tsx
  operate/client/src/App/ProcessInstance/LastModification/index.test.tsx
  operate/client/src/App/ProcessInstance/TopPanel/index.tsx
  operate/client/src/App/ProcessInstance/TopPanel/v2/index.tsx
  operate/client/src/App/ProcessInstance/mocks.tsx
  operate/client/src/App/ProcessInstance/v2/mocks.tsx
  operate/client/src/modules/api/processInstances/fetchProcessInstanceDetailStatistics.ts
  operate/client/src/modules/components/Diagram/index.test.tsx
  operate/client/src/modules/components/Diagram/index.tsx
  operate/client/src/modules/components/Diagram/v2/index.test.tsx
  operate/client/src/modules/components/Diagram/v2/index.tsx
  operate/client/src/modules/hooks/flowNodeSelection.ts
  operate/client/src/modules/mocks/api/processInstances/fetchProcessInstanceDetailStatistics.ts
  operate/client/src/modules/stores/flowNodeMetaData.test.ts
  operate/client/src/modules/stores/flowNodeSelection.test.ts
  operate/client/src/modules/stores/flowNodeSelection.ts
  operate/client/src/modules/stores/modifications.test.ts
  operate/client/src/modules/stores/modifications.ts
  operate/client/src/modules/stores/processInstanceDetailsDiagram/index.ts
  operate/client/src/modules/stores/processInstanceDetailsDiagram/tests/index.test.ts
  operate/client/src/modules/stores/processInstanceDetailsStatistics.ts
  operate/client/src/modules/utils/modifications.ts
Labels: component/operate

#31849 deps: bump Tasklist deps
  .github/workflows/tasklist-ci-fe-reusable.yml
  .github/workflows/tasklist-update_visual_snapshots.yml
  tasklist/client/e2e/form-js-integration.spec.ts-snapshots/form-js-integration-check-if-Carbonization-is-working-1-chromium-linux.png
  tasklist/client/e2e/tests/processes-page.spec.ts
  tasklist/client/e2e/tests/task-details.spec.ts
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-completed-tasks-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-completed-tasks-3-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-process-view-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-task-without-a-form-and-with-variables-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-task-without-a-form-and-with-variables-3-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-task-without-a-form-and-without-variables-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-due-date-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-follow-up-date-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-priority-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tenant-on-task-detail-1-chromium-linux.png
  tasklist/client/package.json
  tasklist/client/public/mockServiceWorker.js
  tasklist/client/src/common/components/Layout/Header/index.tsx
  tasklist/client/src/common/processes/ProcessesList/index.tsx
  tasklist/client/src/common/tasks/available-tasks/AvailableTaskItem/index.tsx
  tasklist/client/src/common/tasks/available-tasks/Filters/index.tsx
  tasklist/client/yarn.lock
Labels: component/build-pipeline, component/tasklist

#31866 Allow searching of Mappings by Role id
  db/rdbms/src/main/resources/mapper/MappingMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/MappingFixtures.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/mapping/MappingIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/mapping/MappingSortIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/mapping/MappingSpecificFilterIT.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/DocumentBasedSearchClients.java
  search/search-domain/src/main/java/io/camunda/search/filter/MappingFilter.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleQueryControllerTest.java
Labels: component/zeebe, component/c8-api

#31518 ci: reorganize operate tests
  .github/workflows/operate-ci-core-features.yml
  .github/workflows/operate-ci-data-layer.yml
  .github/workflows/operate-ci-identity.yml
  operate/importer-common/pom.xml
  operate/importer/pom.xml
  operate/pom.xml
  operate/qa/integration-tests/pom.xml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/ProbesTestIT.java
Labels: component/build-pipeline, component/operate

#31886 fix: remove work in progress markers from Identity endpoints
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe, component/c8-api

#31859 pg-minio-version-bump
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/testcontainers/MinioContainer.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#31660 refactor: migrate login specs to 8.7 branch
  qa/core-application-e2e-test-suite/.gitignore
  qa/core-application-e2e-test-suite/config/docker-compose.yml
  qa/core-application-e2e-test-suite/fixtures.ts
  qa/core-application-e2e-test-suite/pages/PublicFormsPage.ts
  qa/core-application-e2e-test-suite/pages/TaskListLoginPage.ts
  qa/core-application-e2e-test-suite/pages/TasklistHeader.ts
  qa/core-application-e2e-test-suite/pages/TasklistProcessesPage.ts
  qa/core-application-e2e-test-suite/pages/UtilitiesPage.ts
  qa/core-application-e2e-test-suite/playwright.config.ts
  qa/core-application-e2e-test-suite/runTest.js
  qa/core-application-e2e-test-suite/tests/api/operate-api-tests.spec.ts
  qa/core-application-e2e-test-suite/tests/api/tasklist-api-tests.spec.ts
  qa/core-application-e2e-test-suite/tests/common-flows/hto-user-flows.spec.ts
  qa/core-application-e2e-test-suite/tests/common-flows/login.spec.ts
  qa/core-application-e2e-test-suite/tests/tasklist/login.spec.ts
Labels: qa/core-application-e2e-test-suite

#31415 refactor: migrate TaskPanel tests to core application test suite
  qa/core-application-e2e-test-suite/config/docker-compose.yml
  qa/core-application-e2e-test-suite/eslint.config.js
  qa/core-application-e2e-test-suite/fixtures.ts
  qa/core-application-e2e-test-suite/pages/OperateProcessesPage.ts
  qa/core-application-e2e-test-suite/pages/TaskPanelPage.ts
  qa/core-application-e2e-test-suite/playwright.config.ts
  qa/core-application-e2e-test-suite/resources/usertask_for_scrolling_1.bpmn
  qa/core-application-e2e-test-suite/resources/usertask_for_scrolling_2.bpmn
  qa/core-application-e2e-test-suite/resources/usertask_for_scrolling_3.bpmn
  qa/core-application-e2e-test-suite/resources/usertask_to_be_assigned.bpmn
  qa/core-application-e2e-test-suite/runTest.js
  qa/core-application-e2e-test-suite/test-setup.ts
  qa/core-application-e2e-test-suite/tests/common-flows/hto-user-flows.spec.ts
  qa/core-application-e2e-test-suite/tests/tasklist/processes-page.spec.ts
  qa/core-application-e2e-test-suite/tests/tasklist/task-details.spec.ts
  qa/core-application-e2e-test-suite/tests/tasklist/task-panel.spec.ts
Labels: component/build-pipeline, component/tasklist, qa/core-application-e2e-test-suite

#31689 Refactor: migrate tasklist processes page tests to 8.7 core application test suite
  qa/core-application-e2e-test-suite/pages/OperateProcessesPage.ts
  qa/core-application-e2e-test-suite/pages/TaskDetailsPage.ts
  qa/core-application-e2e-test-suite/pages/TaskPanelPage.ts
  qa/core-application-e2e-test-suite/resources/Zeebe_Priority_User_Task_Process.bpmn
  qa/core-application-e2e-test-suite/resources/checkbox_task_with_form.bpmn
  qa/core-application-e2e-test-suite/resources/checklist_task_with_form.bpmn
  qa/core-application-e2e-test-suite/resources/create_invoice.form
  qa/core-application-e2e-test-suite/resources/date_and_time_task_with_form.bpmn
  qa/core-application-e2e-test-suite/resources/form_with_checkbox.form
  qa/core-application-e2e-test-suite/resources/form_with_checklist.form
  qa/core-application-e2e-test-suite/resources/form_with_date_and_time.form
  qa/core-application-e2e-test-suite/resources/form_with_number.form
  qa/core-application-e2e-test-suite/resources/form_with_radio_button.form
  qa/core-application-e2e-test-suite/resources/form_with_select.form
  qa/core-application-e2e-test-suite/resources/form_with_tag_list.form
  qa/core-application-e2e-test-suite/resources/form_with_text_templating.form
  qa/core-application-e2e-test-suite/resources/number_task_with_form.bpmn
  qa/core-application-e2e-test-suite/resources/processWithDeployedForm.bpmn
  qa/core-application-e2e-test-suite/resources/processWithStartNodeFormDeployed.bpmn
  qa/core-application-e2e-test-suite/resources/radio_button_task_with_form.bpmn
  qa/core-application-e2e-test-suite/resources/select_task_with_form.bpmn
  qa/core-application-e2e-test-suite/resources/subscribeForm.form
  qa/core-application-e2e-test-suite/resources/subscribeFormProcess.bpmn
  qa/core-application-e2e-test-suite/resources/tag_list_task_with_form.bpmn
  qa/core-application-e2e-test-suite/resources/text_templating_form_task.bpmn
  qa/core-application-e2e-test-suite/resources/user_process.bpmn
  qa/core-application-e2e-test-suite/resources/user_task_form.form
  qa/core-application-e2e-test-suite/resources/user_task_with_form.bpmn
  qa/core-application-e2e-test-suite/resources/user_task_with_form_and_vars.bpmn
  qa/core-application-e2e-test-suite/resources/user_task_with_form_rerender_1.bpmn
  qa/core-application-e2e-test-suite/resources/user_task_with_form_rerender_2.bpmn
  qa/core-application-e2e-test-suite/resources/usertask_for_scrolling_1.bpmn
  qa/core-application-e2e-test-suite/resources/usertask_for_scrolling_2.bpmn
  qa/core-application-e2e-test-suite/resources/usertask_for_scrolling_3.bpmn
  qa/core-application-e2e-test-suite/resources/usertask_to_be_assigned.bpmn
  qa/core-application-e2e-test-suite/resources/usertask_to_be_completed.bpmn
  qa/core-application-e2e-test-suite/resources/usertask_with_variables.bpmn
  qa/core-application-e2e-test-suite/resources/usertask_without_variables.bpmn
  qa/core-application-e2e-test-suite/resources/zeebe_and_job_worker_process.bpmn
  qa/core-application-e2e-test-suite/tests/common-flows/hto-user-flows.spec.ts
  qa/core-application-e2e-test-suite/tests/tasklist/login.spec.ts
  qa/core-application-e2e-test-suite/tests/tasklist/processes-page.spec.ts
  qa/core-application-e2e-test-suite/utils/waitForAssertion.ts
Labels: qa/core-application-e2e-test-suite

#31694 fix: moved package commands out to their out package leaving only the start/stop cmd in the distributed binary
  .github/actions/setup-c8run/action.yml
  .github/workflows/c8run-build.yaml
  .github/workflows/c8run-release.yaml
  c8run/.gitignore
  c8run/cmd/c8run/main.go
  c8run/cmd/c8run/main_test.go
  c8run/cmd/packager/main.go
  c8run/internal/windows/process_tree.go
  c8run/package.bat
  c8run/package.sh
  optimize/pom.xml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize, component/c8run, backport stable/8.6, backport stable/8.7

#31895 Refactor: migrate tasklist settings page tests to 8.7 core application test suite
  qa/core-application-e2e-test-suite/tests/tasklist/settings.spec.ts
Labels: qa/core-application-e2e-test-suite

#31880 refactor: remove groupKey field from the response
  clients/java/src/main/java/io/camunda/client/api/response/CreateGroupResponse.java
  clients/java/src/main/java/io/camunda/client/api/response/UpdateGroupResponse.java
  clients/java/src/main/java/io/camunda/client/api/search/response/Group.java
  clients/java/src/main/java/io/camunda/client/impl/response/CreateGroupResponseImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/UpdateGroupResponseImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/GroupImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/SearchResponseMapper.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/group/DbGroupState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/GroupState.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupQueryControllerTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CreateGroupTest.java
Labels: component/zeebe, component/c8-api

#31893 [Backport stable/8.6] fix: moved package commands out to their out package leaving only the start/stop cmd in the distributed binary
  .github/actions/setup-c8run/action.yml
  .github/workflows/c8run-build.yaml
  c8run/.gitignore
  c8run/cmd/c8run/main.go
  c8run/cmd/packager/main.go
  c8run/internal/archive/archive.go
  c8run/internal/windows/process_tree.go
  c8run/package.bat
  c8run/package.sh
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize, component/c8run

#31894 [Backport stable/8.7] fix: moved package commands out to their out package leaving only the start/stop cmd in the distributed binary
  .github/actions/setup-c8run/action.yml
  .github/workflows/c8run-build.yaml
  c8run/.gitignore
  c8run/cmd/c8run/main.go
  c8run/cmd/c8run/main_test.go
  c8run/cmd/packager/main.go
  c8run/internal/windows/process_tree.go
  c8run/package.bat
  c8run/package.sh
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize, component/c8run

#31925 build: bump c8run connectors version to 8.6.12
  c8run/.env
Labels: component/c8run

#31918 refactor: Create task-panel.spec.ts
  qa/core-application-e2e-test-suite/tests/tasklist/task-panel.spec.ts
Labels: qa/core-application-e2e-test-suite

#31922 refactor: Create variables.spec.ts
  qa/core-application-e2e-test-suite/tests/tasklist/variables.spec.ts
Labels: qa/core-application-e2e-test-suite

#31879 Allow searching roles by tenant membership
  db/rdbms/src/main/resources/mapper/RoleMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/role/RoleSpecificFilterIT.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/DocumentBasedSearchClients.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/sort/RoleFieldSortingTransformer.java
  search/search-domain/src/main/java/io/camunda/search/filter/RoleFilter.java
  search/search-domain/src/main/java/io/camunda/search/sort/RoleSort.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantQueryControllerTest.java
Labels: component/zeebe, component/c8-api

#31832 fix: force flush moved snapshots
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStoreImpl.java
Labels: component/zeebe

#31916 refactor: Create task-details.spec.ts
  qa/core-application-e2e-test-suite/tests/tasklist/task-details.spec.ts
Labels: qa/core-application-e2e-test-suite

#31791 refactor: remove unused CLAIM_BY_KEY column family
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
Labels: component/zeebe

#31708 build: merge the 8.6.8 release branch into the stable branch
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/plan/factories/Upgrade868To869PlanFactory.java
  optimize/util/optimize-commons/pom.xml
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/es/OptimizeElasticsearchClient.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/OptimizeOpenSearchClient.java
  optimize/util/pom.xml
Labels: component/optimize

#31942 build: bump c8run version to 8.8.0-alpha4
  c8run/.env
Labels: component/c8run

#31872 fix: allow adding applications to roles
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerRoleEntityRequest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerTenantEntityRequest.java
Labels: component/zeebe

#31855 refactor: remove processInstanceDetailsDiagramStore dependency from incidentsStore
  operate/client/src/App/ProcessInstance/IncidentsWrapper/IncidentsFilter/index.test.tsx
  operate/client/src/App/ProcessInstance/IncidentsWrapper/IncidentsFilter/index.tsx
  operate/client/src/App/ProcessInstance/IncidentsWrapper/IncidentsTable/index.tsx
  operate/client/src/App/ProcessInstance/IncidentsWrapper/IncidentsTable/tests/mocks.tsx
  operate/client/src/App/ProcessInstance/IncidentsWrapper/IncidentsTable/v2/index.tsx
  operate/client/src/App/ProcessInstance/IncidentsWrapper/index.tsx
  operate/client/src/App/ProcessInstance/IncidentsWrapper/tests/mocks.tsx
  operate/client/src/App/ProcessInstance/IncidentsWrapper/v2/index.tsx
  operate/client/src/App/ProcessInstance/TopPanel/index.test.tsx
  operate/client/src/App/ProcessInstance/TopPanel/v2/index.test.tsx
  operate/client/src/modules/hooks/incidents.ts
  operate/client/src/modules/stores/incidents.test.ts
  operate/client/src/modules/stores/incidents.ts
  operate/client/src/modules/utils/incidents.ts
Labels: component/operate

#31857 refactor: cleanup M0 code
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/tests/adHocSubProcess.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/tests/eventSubprocess.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/tests/mocks.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/tests/modificationPlaceholders.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/tests/modificationsWithAncestorSelection.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/tests/multiInstanceSubprocess.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/tests/nestedSubprocess.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/v2/adHocSubProcess.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/v2/eventSubprocess.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/v2/mocks.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/v2/modificationPlaceholders.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/v2/modificationsWithAncestorSelection.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/v2/multiInstanceSubprocess.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/v2/nestedSubprocess.test.tsx
  operate/client/src/App/ProcessInstance/IncidentsWrapper/IncidentsTable/v2/mocks.tsx
  operate/client/src/App/ProcessInstance/LastModification/index.test.tsx
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/index.setup.tsx
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/v2/index.setup.tsx
  operate/client/src/App/ProcessInstance/TopPanel/index.test.tsx
  operate/client/src/App/ProcessInstance/index.test.tsx
  operate/client/src/App/ProcessInstance/index.tsx
  operate/client/src/App/ProcessInstance/mocks.tsx
  operate/client/src/App/ProcessInstance/modifications.test.tsx
  operate/client/src/App/ProcessInstance/v2/index.test.tsx
  operate/client/src/App/ProcessInstance/v2/index.tsx
  operate/client/src/App/ProcessInstance/v2/mocks.tsx
  operate/client/src/App/ProcessInstance/v2/modifications.test.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/useOperationApply/index.test.tsx
  operate/client/src/App/Processes/MigrationView/MigrationDetails/index.test.tsx
  operate/client/src/modules/api/processes/fetchProcessXML.ts
  operate/client/src/modules/mocks/api/processes/fetchProcessXML.ts
  operate/client/src/modules/stores/flowNodeSelection.test.ts
  operate/client/src/modules/stores/modifications.test.ts
  operate/client/src/modules/stores/processInstanceDetailsDiagram/index.ts
  operate/client/src/modules/stores/processInstanceDetailsDiagram/tests/index.test.ts
  operate/client/src/modules/stores/processInstances.test.ts
  operate/client/src/modules/stores/statistics.test.ts
Labels: component/operate

#31844 feat: add UsageMetricState with methods to track rPI metrics
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/ProcessingDbState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/ProcessingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/UsageMetricState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/metrics/DbUsageMetricState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableProcessingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableUsageMetricState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/metrics/DbUsageMetricStateTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
Labels: component/zeebe

#31950 fix: fix flaky test complete process with start node having deployed…
  qa/core-application-e2e-test-suite/pages/TaskDetailsPage.ts
  qa/core-application-e2e-test-suite/tests/tasklist/login.spec.ts
Labels: qa/core-application-e2e-test-suite

#31941 build: merge the optimize 8.8.0 alpha4 release branch into main
  optimize/pom.xml
Labels: component/optimize

#31881 Initialize identity by writing commands
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/IdentitySetupInitializeProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/IdentitySetupProcessors.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionIdempotencyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/processing/IdentitySetupInitializerIT.java
Labels: component/zeebe

#31770 feat: migrate task details form to unified API
  tasklist/client/package.json
  tasklist/client/src/common/tasks/details/extractVariablesFromFormSchema.ts
  tasklist/client/src/common/tasks/details/formatVariablesToFormData.ts
  tasklist/client/src/v1/TaskDetails/FormJS/index.tsx
  tasklist/client/src/v1/api/useForm.query.tsx
  tasklist/client/src/v2/TaskDetails/FormJS/index.test.tsx
  tasklist/client/src/v2/TaskDetails/FormJS/index.tsx
  tasklist/client/src/v2/TaskDetails/Variables/index.test.tsx
  tasklist/client/src/v2/TaskDetails/Variables/index.tsx
  tasklist/client/src/v2/TaskDetails/index.tsx
  tasklist/client/src/v2/api/index.ts
  tasklist/client/src/v2/api/useFetchFullVariable.mutation.ts
  tasklist/client/src/v2/api/useSelectedVariables.query.ts
  tasklist/client/src/v2/api/useUserTaskForm.query.ts
  tasklist/client/src/v2/features/tasks/details/tryParseJSON.test.ts
  tasklist/client/src/v2/features/tasks/details/tryParseJSON.ts
  tasklist/client/src/v2/mocks/form.ts
  tasklist/client/src/v2/mocks/task.ts
  tasklist/client/src/v2/mocks/variables.ts
  tasklist/client/yarn.lock
Labels: component/tasklist

#31933 fix: fix saas detection on header
  tasklist/client/src/common/components/Layout/Header/index.tsx
Labels: component/tasklist

#30168 fix: override distributed by field when display instance view table
  optimize/client/src/modules/components/InstanceViewTable/InstanceViewTable.js
  optimize/client/src/modules/components/InstanceViewTable/InstanceViewTable.test.js
Labels: component/optimize, backport stable/optimize-8.6, backport stable/optimize-8.7

#31953 Filter for membertype on child query
  authentication/src/main/java/io/camunda/authentication/CamundaUserDetailsService.java
  authentication/src/test/java/io/camunda/authentication/CamundaUserDetailsServiceTest.java
  db/rdbms/src/main/resources/mapper/RoleMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/role/RoleSpecificFilterIT.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/RoleFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/RoleQueryTransformerTest.java
  search/search-domain/src/main/java/io/camunda/search/filter/RoleFilter.java
  service/src/main/java/io/camunda/service/RoleServices.java
  service/src/test/java/io/camunda/service/RoleServicesTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
Labels: component/zeebe, component/c8-api

#31939 feat: add more configuration options to batch operation #30294
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/engine/BatchOperationCfg.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/engine/EngineCfg.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/EngineConfiguration.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionScheduler.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationItemProvider.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationSetupProcessors.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionSchedulerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationItemProviderTest.java
Labels: component/zeebe

#31969 [Backport stable/optimize-8.6] fix: override distributed by field when display instance view table
  optimize/client/src/modules/components/InstanceViewTable/InstanceViewTable.js
  optimize/client/src/modules/components/InstanceViewTable/InstanceViewTable.test.js
Labels: component/optimize

#31980 [Backport stable/8.6] fix: log at warn when a leader steps down and include the original exception
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/LeaderRole.java
Labels: component/zeebe

#31979 [Backport stable/8.5] fix: log at warn when a leader steps down and include the original exception
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/LeaderRole.java
Labels: component/zeebe

#31946 refactor: rename entity application to client
  authentication/src/main/java/io/camunda/authentication/CamundaOAuthPrincipalService.java
  authentication/src/main/java/io/camunda/authentication/entity/AuthenticationContext.java
  authentication/src/test/java/io/camunda/authentication/CamundaOAuthPrincipalServiceTest.java
  authentication/src/test/java/io/camunda/authentication/CamundaOidcUserServiceTest.java
  clients/java/src/main/java/io/camunda/client/api/search/enums/OwnerType.java
  docs/identity.md
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/AuthorizationSearchIT.java
  security/security-core/src/main/java/io/camunda/security/auth/Authentication.java
  security/security-core/src/main/java/io/camunda/security/configuration/OidcAuthenticationConfiguration.java
  security/security-core/src/main/java/io/camunda/zeebe/protocol/record/value/AuthorizationOwnerType.java
  security/security-services/src/main/java/io/camunda/security/impl/AuthorizationChecker.java
  service/src/test/java/io/camunda/service/TenantServiceTest.java
  zeebe/auth/src/main/java/io/camunda/zeebe/auth/Authorization.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupAddEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupRemoveEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/RoleAddEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/RoleRemoveEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantAddEntityProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/group/GroupTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/role/RoleTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/TenantAppliersTest.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/EndpointManager.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/interceptors/impl/AuthenticationHandler.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/interceptors/impl/AuthenticationInterceptorTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/TenantRequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/RequestMapperTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantControllerTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/EntityType.java
Labels: component/zeebe, component/c8-api

#31947 ci: fix CI skip Profile and start running previously not running tests
  operate/common/src/test/java/io/camunda/operate/util/CollectionUtilTest.java
  operate/common/src/test/java/io/camunda/operate/util/StackdriverJSONLayoutTest.java
  operate/common/src/test/java/io/camunda/operate/zeebeimport/PartitionHolderTest.java
  operate/importer-common/src/test/java/io/camunda/operate/zeebeimport/XXEPreventionTest.java
  operate/pom.xml
  operate/schema/src/test/java/io/camunda/operate/entities/ListenerEventTypeTest.java
  operate/schema/src/test/java/io/camunda/operate/entities/ListenerStateTest.java
  operate/schema/src/test/java/io/camunda/operate/entities/OperationEntityTest.java
Labels: component/operate

#31948 Feat/30822 migrate rdbms integration tests to unified ci
  .github/actions/paths-filter/action.yml
  .github/workflows/ci.yml
  .github/workflows/rdbms-integration-test.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#31853 Improve collapsed subprocesses badge solution
  operate/client/src/App/ProcessInstance/TopPanel/index.tsx
  operate/client/src/App/ProcessInstance/TopPanel/v2/index.tsx
  operate/client/src/App/Processes/ListView/DiagramPanel/v2/index.tsx
  operate/client/src/modules/queries/flownodeInstancesStatistics/useTotalRunningInstancesForFlowNode.test.tsx
  operate/client/src/modules/utils/flowNodes/index.ts
Labels: component/operate, component/frontend

#31722 Release 8.5.18
  bom/pom.xml
  build-tools/pom.xml
  clients/go/internal/embedded/data/VERSION
  dist/pom.xml
  parent/pom.xml
  pom.xml
  spring-boot-starter-camunda-sdk/pom.xml
  zeebe/atomix/cluster/pom.xml
  zeebe/atomix/pom.xml
  zeebe/atomix/utils/pom.xml
  zeebe/auth/pom.xml
  zeebe/backup-stores/azure/pom.xml
  zeebe/backup-stores/common/pom.xml
  zeebe/backup-stores/gcs/pom.xml
  zeebe/backup-stores/s3/pom.xml
  zeebe/backup-stores/testkit/pom.xml
  zeebe/backup/pom.xml
  zeebe/benchmarks/project/pom.xml
  zeebe/bpmn-model/pom.xml
  zeebe/broker-client/pom.xml
  zeebe/broker/pom.xml
  zeebe/clients/java/pom.xml
  zeebe/clients/zeebe-client-spring/pom.xml
  zeebe/dmn/pom.xml
  zeebe/engine/pom.xml
  zeebe/exporter-api/pom.xml
  zeebe/exporter-test/pom.xml
  zeebe/exporters/elasticsearch-exporter/pom.xml
  zeebe/exporters/opensearch-exporter/pom.xml
  zeebe/expression-language/pom.xml
  zeebe/feel/pom.xml
  zeebe/gateway-protocol-impl/pom.xml
  zeebe/gateway-protocol/pom.xml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway/pom.xml
  zeebe/journal/pom.xml
  zeebe/logstreams/pom.xml
  zeebe/msgpack-core/pom.xml
  zeebe/msgpack-value/pom.xml
  zeebe/protocol-asserts/pom.xml
  zeebe/protocol-impl/pom.xml
  zeebe/protocol-jackson/pom.xml
  zeebe/protocol-test-util/pom.xml
  zeebe/protocol/pom.xml
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/pom.xml
  zeebe/qa/update-tests/pom.xml
  zeebe/qa/util/pom.xml
  zeebe/restore/pom.xml
  zeebe/scheduler/pom.xml
  zeebe/snapshot/pom.xml
  zeebe/stream-platform/pom.xml
  zeebe/test-util/pom.xml
  zeebe/topology/pom.xml
  zeebe/transport/pom.xml
  zeebe/util/pom.xml
  zeebe/zb-db/pom.xml
Labels: component/zeebe, component/operate

#31845 Feat/31777 bo item search api
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/BatchOperationFilter.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/BatchOperationItemFilter.java
  clients/java/src/main/java/io/camunda/client/api/search/request/BatchOperationItemSearchRequest.java
  clients/java/src/main/java/io/camunda/client/api/search/request/BatchOperationSearchRequest.java
  clients/java/src/main/java/io/camunda/client/api/search/request/SearchRequestBuilders.java
  clients/java/src/main/java/io/camunda/client/api/search/sort/BatchOperationItemSort.java
  clients/java/src/main/java/io/camunda/client/api/search/sort/BatchOperationSort.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/BatchOperationFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/BatchOperationItemFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/request/BatchOperationItemSearchRequestImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/request/BatchOperationSearchRequestImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/request/SearchRequestSortMapper.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/SearchResponseMapper.java
  clients/java/src/main/java/io/camunda/client/impl/search/sort/BatchOperationItemSortImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/sort/BatchOperationSortImpl.java
  clients/java/src/test/java/io/camunda/client/batchoperation/SearchBatchOperationItemsTest.java
  clients/java/src/test/java/io/camunda/client/batchoperation/SearchBatchOperationsTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/DocumentBasedSearchClients.java
  search/search-client-rdbms/src/main/java/io/camunda/search/rdbms/RdbmsSearchClient.java
  search/search-client/src/main/java/io/camunda/search/clients/BatchOperationSearchClient.java
  service/src/main/java/io/camunda/service/BatchOperationServices.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/search/NoopSearchClientsProxy.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQuerySortRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/BatchOperationController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/BatchOperationItemsController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/BatchOperationItemControllerTest.java
Labels: component/zeebe, component/c8-api

#31951 Add role update command to `CamundaClient`
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/UpdateRoleCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/response/UpdateRoleResponse.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/UpdateRoleCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/UpdateRoleResponseImpl.java
  clients/java/src/test/java/io/camunda/client/role/UpdateRoleTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/RoleAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/RoleIntegrationTest.java
Labels: component/zeebe

#31546 Feature/29070 decision evaluation assertions
  clients/java/src/main/java/io/camunda/client/api/search/response/DecisionInstance.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/DecisionInstanceImpl.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/CamundaAssert.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/assertions/DecisionInstanceAssert.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/assertions/DecisionSelector.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/assertions/DecisionSelectors.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/assertions/UserTaskSelectors.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/CamundaDataSource.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/DecisionInstanceAssertj.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/DecisionInstanceAssertTest.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/impl/extensions/CamundaProcessTestContextIT.java
  testing/camunda-process-test-java/src/test/resources/dmn/decision-table-collect.dmn
  testing/camunda-process-test-java/src/test/resources/dmn/decision-table-unique.dmn
  testing/camunda-process-test-java/src/test/resources/dmn/simple-decision-table-collect.dmn
  testing/camunda-process-test-java/src/test/resources/dmn/simple-decision-table.dmn
Labels: component/zeebe

#31753 test: add e2e tests for identity mappings page
  identity/client/e2e/pages/MappingsPage.ts
  identity/client/e2e/tests/groups.spec.ts
  identity/client/e2e/tests/mappings.spec.ts
  identity/client/e2e/tests/roles.spec.ts
  identity/client/e2e/tests/users.spec.ts
  identity/client/e2e/text-fixtures.ts
  identity/client/e2e/utils/waitForItemInList.ts
Labels: component/identity

#31856 fix: Preserve initial command context for retried listener job
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnJobBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/incident/IncidentResolveProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/incident/RetryTypedRecord.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/UserTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskCommandPreconditionChecker.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerIncidentsTest.java
Labels: component/zeebe

#31973 fix: fix editing of variable with dot in name
  tasklist/client/src/common/tasks/variables-editor/constants.ts
  tasklist/client/src/common/tasks/variables-editor/createVariableFieldName.test.tsx
  tasklist/client/src/common/tasks/variables-editor/createVariableFieldName.tsx
  tasklist/client/src/common/tasks/variables-editor/getVariableFieldName.test.tsx
  tasklist/client/src/common/tasks/variables-editor/getVariableFieldName.tsx
  tasklist/client/src/v1/TaskDetails/Variables/index.test.tsx
  tasklist/client/src/v2/TaskDetails/Variables/index.test.tsx
Labels: component/tasklist

#31954 Fix skipping tests runs of dependent projects in case of failure
  qa/core-application-e2e-test-suite/playwright.config.ts
Labels: qa/core-application-e2e-test-suite

#32005 fix: skipping dependency projects 8.7
  qa/core-application-e2e-test-suite/playwright.config.ts
Labels: qa/core-application-e2e-test-suite

#32006 Fix skipping dependency projects 8.6
  qa/core-application-e2e-test-suite/playwright.config.ts
Labels: qa/core-application-e2e-test-suite

#31639 refactor: migrate tasklist e2e variables specs to core application test suite
  qa/core-application-e2e-test-suite/resources/usertask_with_variables.bpmn
  qa/core-application-e2e-test-suite/resources/usertask_without_variables.bpmn
  qa/core-application-e2e-test-suite/tests/tasklist/variables.spec.ts
Labels: qa/core-application-e2e-test-suite

#31937 Perform Incident notification on the background
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/ExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/IncidentHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/notifier/IncidentNotifier.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/BackgroundTaskManagerFactory.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/ElasticsearchIncidentUpdateRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/IncidentUpdateRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/IncidentUpdateTask.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/OpenSearchIncidentUpdateRepository.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/IncidentHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/incident/IncidentUpdateTaskTest.java
Labels: component/zeebe

#31976 feat: initialize identity with rpa and connectors roles
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/RoleAuthorizationIT.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/IdentitySetupInitializeProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/IdentitySetupProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/IdentitySetupInitializer.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/tenant/TenantDeleteProcessorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/IdentitySetupClient.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/authorization/IdentitySetupRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/IdentitySetupRecordValue.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteredDataDeletionTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteredSnapshotTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/FailOverReplicationTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/InstallRequestHandlingTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ReaderCloseTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/SingleBrokerDataDeletionTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/processing/IdentitySetupInitializerIT.java
Labels: component/zeebe, component/c8-api

#31934 Support adding role to group in the `CamundaClient`
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/AssignRoleToGroupCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/response/AssignRoleToGroupResponse.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/AssignRoleToGroupCommandImpl.java
  clients/java/src/test/java/io/camunda/client/role/AssignRoleToGroupTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/RoleAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/RoleIntegrationTest.java
  search/search-domain/src/main/java/io/camunda/search/filter/RoleFilter.java
Labels: component/zeebe

#32019 refactor: migrate login specs to 8.6 branch
  qa/core-application-e2e-test-suite/.gitignore
  qa/core-application-e2e-test-suite/config/docker-compose.yml
  qa/core-application-e2e-test-suite/fixtures.ts
  qa/core-application-e2e-test-suite/pages/PublicFormsPage.ts
  qa/core-application-e2e-test-suite/pages/TaskListLoginPage.ts
  qa/core-application-e2e-test-suite/pages/TasklistHeader.ts
  qa/core-application-e2e-test-suite/pages/TasklistProcessesPage.ts
  qa/core-application-e2e-test-suite/pages/UtilitiesPage.ts
  qa/core-application-e2e-test-suite/playwright.config.ts
  qa/core-application-e2e-test-suite/test-setup.ts
  qa/core-application-e2e-test-suite/tests/api/operate-api-tests.spec.ts
  qa/core-application-e2e-test-suite/tests/api/tasklist-api-tests.spec.ts
  qa/core-application-e2e-test-suite/tests/common-flows/hto-user-flows.spec.ts
  qa/core-application-e2e-test-suite/tests/common-flows/login.spec.ts
  qa/core-application-e2e-test-suite/tests/tasklist/login.spec.ts
Labels: qa/core-application-e2e-test-suite

#31917 feat: migrate processes tab to unified api
  tasklist/client/package.json
  tasklist/client/src/common/i18n/locales/de.json
  tasklist/client/src/common/i18n/locales/en.json
  tasklist/client/src/common/i18n/locales/es.json
  tasklist/client/src/common/i18n/locales/fr.json
  tasklist/client/src/common/processes/newProcessInstance.tsx
  tasklist/client/src/v1/ProcessesTab/NewProcessInstanceTasksPolling.tsx
  tasklist/client/src/v1/ProcessesTab/index.tsx
  tasklist/client/src/v2/ProcessesTab/NewProcessInstanceTasksPolling.tsx
  tasklist/client/src/v2/ProcessesTab/Pagination.module.scss
  tasklist/client/src/v2/ProcessesTab/Pagination.tsx
  tasklist/client/src/v2/ProcessesTab/index.test.tsx
  tasklist/client/src/v2/ProcessesTab/index.tsx
  tasklist/client/src/v2/ProcessesTab/styles.module.scss
  tasklist/client/src/v2/api/index.ts
  tasklist/client/src/v2/api/useCreateProcessInstance.mutation.ts
  tasklist/client/src/v2/api/useProcessDefinitions.query.ts
  tasklist/client/yarn.lock
Labels: component/tasklist

#31993 feat: remove old redistribution processors/appliers and complete redistribution immediately
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/ScalingProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/redistribution/RedistributionBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/redistribution/RedistributionContinueProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/scaling/redistribution/RedistributionContinuedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/scaling/ScaleUpTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/scaling/RedistributionIntent.java
Labels: component/zeebe

#32011 `ScaleUpOperation` are included in `PartitionReassignRequestTransformer`
  dist/src/main/java/io/camunda/application/commons/clustering/DynamicClusterServices.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationCoordinatorSupplier.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/PartitionReassignRequestTransformer.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/ScaleUpRequestTransformer.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/AwaitRelocationCompletionApplier.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/ConfigurationChangeAppliersImpl.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/state/ClusterConfiguration.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationManagementApiTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/ClusterPatchRequestTransformerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/ScaleRequestTransformerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/ScaleUpTransformerTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#32022 fix: cluster-api.yaml was using application.json as Accept-Content Header
  dist/src/main/resources/api/cluster/cluster-api.yaml
Labels: component/zeebe

#31890 8.7 backport - Operate collapsed subprocess badges for incidents
  operate/client/src/App/ProcessInstance/ModificationSummaryModal/index.test.tsx
  operate/client/src/App/ProcessInstance/TopPanel/index.tsx
  operate/client/src/App/Processes/ListView/DiagramPanel/index.test.tsx
  operate/client/src/App/Processes/ListView/DiagramPanel/index.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/SourceDiagram.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/tests/sourceDiagram.test.tsx
  operate/client/src/modules/bpmn-js/badgePositions.ts
  operate/client/src/modules/stores/processInstanceDetailsStatistic.test.ts
  operate/client/src/modules/stores/processInstanceDetailsStatistics.ts
  operate/client/src/modules/stores/processStatistics/processStatistics.base.test.ts
  operate/client/src/modules/stores/processStatistics/processStatistics.base.ts
  operate/client/src/modules/stores/processStatistics/processStatistics.batchModification.test.ts
  operate/client/src/modules/stores/processStatistics/processStatistics.batchModification.ts
  operate/client/src/modules/utils/flowNodes/index.ts
Labels: component/operate, component/frontend, hold/do-not-merge

#31986 8.6 backport - Operate collapsed subprocess badges for incidents
  operate/client/src/App/ProcessInstance/ModificationSummaryModal/index.test.tsx
  operate/client/src/App/ProcessInstance/TopPanel/index.tsx
  operate/client/src/App/Processes/ListView/DiagramPanel/index.test.tsx
  operate/client/src/App/Processes/ListView/DiagramPanel/index.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/SourceDiagram.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/tests/sourceDiagram.test.tsx
  operate/client/src/modules/bpmn-js/badgePositions.ts
  operate/client/src/modules/stores/processInstanceDetailsStatistic.test.ts
  operate/client/src/modules/stores/processInstanceDetailsStatistics.ts
  operate/client/src/modules/stores/processStatistics/processStatistics.base.test.ts
  operate/client/src/modules/stores/processStatistics/processStatistics.base.ts
  operate/client/src/modules/stores/processStatistics/processStatistics.batchModification.test.ts
  operate/client/src/modules/stores/processStatistics/processStatistics.batchModification.ts
  operate/client/src/modules/utils/flowNodes/index.ts
Labels: component/operate, component/frontend, hold/do-not-merge

#31988 test: mute warning during tasklist header tests
  tasklist/client/src/common/components/Layout/Header/index.tsx
Labels: component/tasklist

#32020 test: add tests for migrated task details
  tasklist/client/src/v2/TaskDetails/index.test.tsx
Labels: component/tasklist
