Repository camunda/camunda, pull requests merged in 2025-03, with the labels that each got.

#29018 [Backport stable/8.5] fix: NettyDnsMetrics use a MeterProvider instead of a HashMap to avoid concurrency issues
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyDnsMetrics.java
Labels: component/zeebe

#29020 [Backport stable/8.7] fix: NettyDnsMetrics use a MeterProvider instead of a HashMap to avoid concurrency issues
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyDnsMetrics.java
Labels: component/zeebe

#28594 [Backport stable/8.6] Migrate MessagingMetrics to micrometer #27949
  dist/src/main/java/io/camunda/application/commons/clustering/AtomixClusterConfiguration.java
  dist/src/test/java/io/camunda/zeebe/gateway/StandaloneGatewaySecurityTest.java
  monitor/grafana/zeebe.json
  zeebe/atomix/cluster/pom.xml
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/AtomixCluster.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/AtomixClusterBuilder.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/impl/DiscoveryMembershipProtocol.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/MessagingMetricsDoc.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/MessagingMetricsImpl.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyDnsMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyDnsMetricsDoc.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyUnicastService.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/protocol/GroupMembershipProtocol.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/protocol/SwimMembershipProtocol.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/protocol/SwimMembershipProtocolBuilder.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/protocol/SwimMembershipProtocolMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/protocol/SwimMembershipProtocolMetricsDoc.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/AtomixClusterRule.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/AtomixClusterTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/DefaultClusterEventServiceTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/NettyMessagingServiceCompressionTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/NettyMessagingServiceTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/NettyMessagingServiceTlsTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/NettyUnicastServiceTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/protocol/SwimProtocolTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/zeebe/util/ZeebeTestNode.java
  zeebe/broker-client/src/test/java/io/camunda/zeebe/broker/client/api/BrokerClientTest.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/ApiMessagingServiceStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/SimpleBrokerStartTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning/PartitionJoinTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning/PartitionLeaveTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/test/EmbeddedBrokerRule.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/test/TestClusterFactory.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport/queryapi/QueryApiIT.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/ClusterConfigurationManagementIntegrationTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationManagementApiTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/gossip/ClusterConfigurationGossiperTest.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/api/UnavailableBrokersTest.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/interceptors/InterceptorIT.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/security/SecurityTest.java
  zeebe/protocol-test-util/pom.xml
  zeebe/protocol-test-util/src/main/java/io/camunda/zeebe/test/broker/protocol/brokerapi/StubBroker.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteringRule.java
  zeebe/transport/pom.xml
  zeebe/transport/src/test/java/io/camunda/zeebe/transport/impl/AtomixTransportTest.java
  zeebe/transport/src/test/java/io/camunda/zeebe/transport/stream/impl/RemoteStreamTransportTest.java
  zeebe/transport/src/test/java/io/camunda/zeebe/transport/stream/impl/StreamIntegrationTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#28497 [Backport stable/8.5] Fix NPE when access a null code and reusing the same metric name for different metrics
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/BrokerClientMetricsImpl.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/BrokerRequestManager.java
Labels: component/zeebe

#28991 [Backport stable/8.7] [Backport main] Add support for OTLP as Micrometer backends
  dist/pom.xml
  dist/src/main/java/io/camunda/application/commons/metrics/MetricsConfiguration.java
  dist/src/main/java/io/camunda/zeebe/broker/BrokerModuleConfiguration.java
  dist/src/main/resources/application.properties
  operate/webapp/pom.xml
  optimize/backend/pom.xml
  parent/pom.xml
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/es/RecordsReaderElasticSearch.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/os/RecordsReaderOpenSearch.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/metric/MetricIT.java
  tasklist/webapp/pom.xml
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/observability/MetricsConfigurationIT.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#28990 [Backport stable/8.6] [Backport main] Add support for OTLP as Micrometer backends
  dist/pom.xml
  dist/src/main/java/io/camunda/application/commons/metrics/MetricsConfiguration.java
  dist/src/main/java/io/camunda/zeebe/broker/BrokerModuleConfiguration.java
  dist/src/main/resources/application.properties
  operate/webapp/pom.xml
  optimize/backend/pom.xml
  parent/pom.xml
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/es/RecordsReaderElasticSearch.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/os/RecordsReaderOpenSearch.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/metric/MetricIT.java
  tasklist/webapp/pom.xml
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/observability/MetricsConfigurationIT.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#28936 fix: use forwardslash for file headers in c8run zip
  .github/workflows/c8run-build.yaml
  c8run/e2e_tests/api_tests.sh
  c8run/internal/archive/archive.go
Labels: component/build-pipeline, component/c8run, backport stable/8.6, backport stable/8.7

#28454 refactor: remove webhooks from optimize leftovers
  optimize-distro/src/config/environment-config.yaml
  optimize/backend/src/main/resources/localization/de.json
  optimize/backend/src/main/resources/localization/en.json
  optimize/util/optimize-commons/src/main/resources/service-config.yaml
Labels: component/optimize

#28963 test: ensure gRPC gateway security config is consistent with REST
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/EmbeddedGatewayAuthenticationIdentityIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/EmbeddedGatewayAuthenticationNoneIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/GatewayAuthenticationIdentityAbstractIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/GatewayAuthenticationNoneAbstractIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/StandaloneGatewayAuthenticationIdentityIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/StandaloneGatewayAuthenticationNoneIT.java
Labels: backport main, component/zeebe, backport stable/8.7

#29043 [Backport stable/8.7] test: ensure gRPC gateway security config is consistent with REST
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/EmbeddedGatewayAuthenticationIdentityIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/EmbeddedGatewayAuthenticationNoneIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/GatewayAuthenticationIdentityAbstractIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/GatewayAuthenticationNoneAbstractIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/StandaloneGatewayAuthenticationIdentityIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/StandaloneGatewayAuthenticationNoneIT.java
Labels: component/zeebe

#28453 refactor: remove webhooks from optimize DB
  optimize-distro/src/config/environment-config.yaml
  optimize/backend/src/main/resources/localization/de.json
  optimize/backend/src/main/resources/localization/en.json
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/dto/optimize/query/alert/AlertCreationRequestDto.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/schema/index/AlertIndex.java
  optimize/util/optimize-commons/src/main/resources/service-config.yaml
Labels: component/optimize

#28452 refactor: remove webhooks from optimize BE
  optimize-distro/src/config/environment-config.yaml
  optimize/backend/src/main/java/io/camunda/optimize/service/alert/AlertService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/alert/AlertUtil.java
  optimize/backend/src/main/java/io/camunda/optimize/service/alert/WebhookNotificationService.java
  optimize/backend/src/main/resources/localization/de.json
  optimize/backend/src/main/resources/localization/en.json
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/dto/optimize/query/alert/AlertCreationRequestDto.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/schema/index/AlertIndex.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/util/configuration/ConfigurationService.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/util/configuration/ConfigurationServiceConstants.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/util/configuration/ConfigurationValidator.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/util/configuration/WebhookConfiguration.java
  optimize/util/optimize-commons/src/main/resources/service-config.yaml
  optimize/util/optimize-commons/src/test/java/io/camunda/optimize/service/util/configuration/ConfigurationValidatorTest.java
Labels: component/optimize

#28884 fix: replace remoteTagging parameter with git push in optimize release job
  .github/workflows/optimize-release-optimize-c8-only.yml
Labels: backport stable/optimize-8.6

#29046 [Backport stable/optimize-8.6] fix: replace remoteTagging parameter with git push in optimize release job
  .github/workflows/optimize-release-optimize-c8-only.yml
Labels: component/build-pipeline, component/optimize

#28828 Refactor `DbTenantState` to work with ids instead of keys
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/AssignGroupToTenantCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/AssignMappingToTenantCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/UnassignGroupFromTenantCommandImpl.java
  clients/java/src/test/java/io/camunda/client/tenant/AssignGroupToTenantTest.java
  clients/java/src/test/java/io/camunda/client/tenant/AssignMappingToTenantTest.java
  clients/java/src/test/java/io/camunda/client/tenant/RemoveUserFromTenantTest.java
  clients/java/src/test/java/io/camunda/client/tenant/UnassignGroupFromTenantTest.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/TenantMappingRuleMigrationHandler.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/UserTenantsMigrationHandler.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/TenantMappingRuleMigrationHandlerTest.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/UserTenantsMigrationHandlerTest.java
  service/src/main/java/io/camunda/service/TenantServices.java
  service/src/test/java/io/camunda/service/TenantServiceTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/IdentitySetupInitializeProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/MappingDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantAddEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/UserDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/TenantEntityAddedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/TenantEntityRemovedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/TenantState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableTenantState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/tenant/DbTenantState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AnonymousAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/tenant/AddEntityTenantMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/tenant/AddEntityTenantTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/tenant/TenantDeleteProcessorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/TenantAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/tenant/DbTenantStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/TenantClient.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantControllerTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AssignGroupToTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AssignMappingToTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/RemoveUserFromTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UnassignGroupFromTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/util/ZeebeAssertHelper.java
Labels: component/zeebe, component/c8-api

#28682 feat: avoid log pollution with similar error messages
  zeebe/exporters/camunda-exporter/pom.xml
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/BackgroundTask.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/ReschedulingTask.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/BatchOperationArchiverJob.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/ProcessInstancesArchiverJob.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/batchoperations/BatchOperationUpdateTask.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/IncidentUpdateTask.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/util/ReschedulingTaskLogger.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/utils/ReschedulingTaskLoggerTest.java
Labels: component/zeebe

#29000 OS support for Optimize backups (#28575)
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/DatabaseIntegrationTestExtension.java
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/db/DatabaseTestService.java
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/db/ElasticsearchDatabaseTestService.java
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/db/OpenSearchDatabaseTestService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/BackupService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/reader/BackupReaderES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/os/reader/BackupReaderOS.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/reader/AbstractBackupReader.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/reader/BackupReader.java
  optimize/backend/src/main/java/io/camunda/optimize/service/exceptions/OptimizeOpenSearchConnectionException.java
  optimize/backend/src/test/java/io/camunda/optimize/service/backup/BackupServiceTest.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/ExtendedOpenSearchClient.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/OptimizeOpenSearchClient.java
Labels: component/optimize

#28450 refactor: remove webhooks from optimize FE
  optimize/client/demo-data/environment-config.yaml
  optimize/client/e2e/sm-tests/Alerts.elements.js
  optimize/client/e2e/sm-tests/Alerts.js
  optimize/client/src/components/Analysis/TaskAnalysis/OutlierDetailsTable.test.tsx
  optimize/client/src/components/Home/AlertList.js
  optimize/client/src/components/Home/AlertList.test.js
  optimize/client/src/modules/components/AlertModal/AlertModal.js
  optimize/client/src/modules/components/AlertModal/AlertModal.test.js
  optimize/client/src/modules/components/AlertModal/__snapshots__/AlertModal.test.js.snap
  optimize/client/src/modules/components/AlertsDropdown/AlertsDropdown.js
  optimize/client/src/modules/components/AlertsDropdown/AlertsDropdown.test.js
  optimize/client/src/modules/config.tsx
Labels: component/optimize

#28837 Allow task listener to provide reason to deny: java client
  clients/java/src/main/java/io/camunda/client/api/command/CompleteJobCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/CompleteJobResult.java
  clients/java/src/main/java/io/camunda/client/impl/command/CompleteJobCommandImpl.java
  clients/java/src/test/java/io/camunda/client/job/CompleteJobTest.java
  clients/java/src/test/java/io/camunda/client/job/rest/CompleteJobRestTest.java
Labels: component/zeebe

#28992 ci: update preview environment deployment with new troubleshooting capabilities
  .github/workflows/preview-env-build-and-deploy.yml
Labels: component/build-pipeline

#28910 Compact record logger improvements for job records
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
Labels: component/zeebe

#29029 Fix duplicate gauge registration
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/MessagingMetricsImpl.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/protocol/SwimMembershipProtocolMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/LeaderAppenderMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftReplicationMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftRoleMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftServiceMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftStartupMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/SnapshotReplicationMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/LeaderAppender.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/PassiveRole.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/metrics/BackupManagerMetrics.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/metrics/CheckpointMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/metrics/ExecutionLatencyMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/metrics/ExecutionLatencyMetricsDoc.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/metrics/MetricsExporter.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterMetricsDoc.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/metrics/MetricsExporterTest.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/metrics/TopologyManagerMetrics.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/ActorMetricsImpl.java
Labels: component/zeebe, backport stable/8.6, backport stable/8.7

#29005 ci: include Tasklist docker tests in the common CI
  .github/workflows/ci.yml
  .github/workflows/tasklist-docker-tests.yml
Labels: component/build-pipeline, component/tasklist, backport stable/8.6, backport stable/8.7

#28695 fix: wait for 8.7 records to be present
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/FinishedImportingIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/OpensearchFinishedImportingIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/OperateTester.java
Labels: component/operate

#29076 [Backport stable/8.7] Fix duplicate gauge registration
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/MessagingMetricsImpl.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/protocol/SwimMembershipProtocolMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/LeaderAppenderMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftReplicationMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftRoleMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftServiceMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftStartupMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/SnapshotReplicationMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/LeaderAppender.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/PassiveRole.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/metrics/BackupManagerMetrics.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/metrics/CheckpointMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/metrics/ExecutionLatencyMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/metrics/ExecutionLatencyMetricsDoc.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/metrics/MetricsExporter.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterMetricsDoc.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/metrics/MetricsExporterTest.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/metrics/TopologyManagerMetrics.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/ActorMetricsImpl.java
Labels: component/zeebe

#29075 [Backport stable/8.6] Fix duplicate gauge registration
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/MessagingMetricsImpl.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/protocol/SwimMembershipProtocolMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/LeaderAppenderMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftReplicationMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftRoleMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftServiceMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/RaftStartupMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/metrics/SnapshotReplicationMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/LeaderAppender.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/PassiveRole.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/metrics/BackupManagerMetrics.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/metrics/CheckpointMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/metrics/ExecutionLatencyMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/metrics/ExecutionLatencyMetricsDoc.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/metrics/MetricsExporter.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterMetricsDoc.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/metrics/MetricsExporterTest.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/metrics/TopologyManagerMetrics.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/ActorMetricsImpl.java
Labels: component/zeebe

#29086 [Backport stable/8.6] [Backport stable/8.7] ci: include Tasklist docker tests in the common CI
  .github/workflows/ci.yml
  .github/workflows/tasklist-docker-tests.yml
Labels: component/build-pipeline, component/tasklist

#29069 [Backport 8.7] fix: use forwardslash for file headers in c8run zip
  c8run/e2e_tests/api_tests.sh
  c8run/internal/archive/archive.go
Labels: component/c8run

#29087 build: fix container health check
  .github/actions/compose/healthy.sh
  optimize/client/docker-compose.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#28927 [Backport stable/8.6] fix: allow overriding env vars set by c8run
  c8run/main.go
Labels: component/c8run

#28685 fix: make empty batches required to disable importer configurable
  operate/common/src/main/java/io/camunda/operate/property/ImportProperties.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/RecordsReaderHolder.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/FinishedImportingIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/OpensearchFinishedImportingIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/properties/PropertiesIT.java
  operate/qa/integration-tests/src/test/resources/config/application-test-properties.yml
  tasklist/common/src/main/java/io/camunda/tasklist/property/ImportProperties.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/RecordsReaderHolder.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchFinishedImportingIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpensearchFinishedImportingIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/properties/PropertiesTest.java
  tasklist/qa/integration-tests/src/test/resources/config/application-test-properties.yml
Labels: component/operate, component/tasklist

#28986 refactor: spring security chain simplification
  authentication/pom.xml
  authentication/src/main/java/io/camunda/authentication/ConditionalOnUnprotectedApi.java
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  qa/integration-tests/src/test/java/io/camunda/it/backup/BackupRestoreIT.java
  qa/integration-tests/src/test/java/io/camunda/it/operate/OperatePermissionsIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistAssignUserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistCompleteUserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistCreateProcessInstanceAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistProcessDefinitionAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistUnassignUserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/compatibility/CompatibilityTasklistAssignUserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/compatibility/CompatibilityTasklistCompleteUserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/compatibility/CompatibilityTasklistCreateProcessInstanceAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/compatibility/CompatibilityTasklistUnassignUserTaskAuthorizationIT.java
  security/security-core/src/main/java/io/camunda/security/configuration/AuthenticationConfiguration.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/BasicAuthOverGrpcIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/BasicAuthOverRestIT.java
Labels: component/zeebe

#28924 [Backport stable/8.7] Adjust inconsistent OpenAPI attribute names
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DocumentReferenceBatchResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentReferenceBatchResponseImpl.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
Labels: backport main, component/zeebe

#29038 refactor: remove C7 serialization config from Optimize C8
  optimize-distro/src/config/environment-config.yaml
  optimize/backend/src/main/java/io/camunda/optimize/service/entities/EntityImportService.java
  optimize/backend/src/test/java/io/camunda/optimize/service/util/ObjectMapperFactoryTest.java
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/db/SchemaUpgradeClientFactory.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/util/configuration/ConfigurationService.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/util/configuration/ConfigurationServiceConstants.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/util/mapper/ObjectMapperFactory.java
  optimize/util/optimize-commons/src/main/resources/service-config.yaml
Labels: component/optimize

#28113 [Backport stable/8.6] fix: make MessagingMetricsImpl ThreadSafe
  zeebe/atomix/cluster/pom.xml
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/MessagingMetricsImpl.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyDnsMetrics.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/protocol/SwimMembershipProtocolMetrics.java
Labels: component/zeebe

#29110 feat: move rdbms flushing logs to execution queue only
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/queue/DefaultExecutionQueue.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporter.java
Labels: component/zeebe

#27640 [Backport main] 27277 document handling backport for zeebe client
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClient.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/CreateDocumentBatchCommandStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/CreateDocumentCommandStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/CreateDocumentLinkCommandStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/DeleteDocumentCommandStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/DocumentBuilderStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/fetch/DocumentContentGetRequest.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DeleteDocumentResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DocumentLinkResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DocumentMetadata.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DocumentReferenceBatchResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DocumentReferenceResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateDocumentBatchCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateDocumentCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateDocumentLinkCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/DeleteDocumentCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/fetch/DocumentContentGetRequestImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClient.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentLinkResponseImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentMetadataImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentReferenceBatchResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentReferenceBatchResponseImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentReferenceResponseImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/util/DocumentBuilder.java
Labels: component/zeebe, component/c8-api, deprecated-client

#29143 [Backport stable/8.7] Create meters once to avoid gauge re-registration
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchMetrics.java
Labels: component/zeebe

#29151 [Backport main] fix: add document data consumer to enable document fetching in the client
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/ApiResponseConsumer.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/CircularBufferInputStream.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/DocumentDataConsumer.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClient.java
  clients/java/src/test/java/io/camunda/zeebe/client/impl/http/DocumentDataConsumerTest.java
Labels: component/zeebe, deprecated-client

#29041 [Backport 8.6] Refactor c8 run structure
  c8run/internal/health/camunda.go
  c8run/internal/health/elasticsearch.go
  c8run/internal/packages/package.go
  c8run/main.go
Labels: component/c8run

#28281 feat: new property mapping mechanism, just like in 8.8
  clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsProviderBuilder.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/CredentialsProviderConfiguration.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ExecutorServiceConfiguration.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/PropertyUtil.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientAllAutoConfiguration.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientConfigurationImpl.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientProdAutoConfiguration.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/jobhandling/ZeebeClientExecutorService.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/CamundaClientCloudProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/CamundaClientLegacyPropertiesMapping.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/CamundaClientLegacyPropertiesMappingsLoader.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/CamundaClientProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/PropertiesPostProcessor.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/PropertiesUtil.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/PropertyBasedZeebeWorkerValueCustomizer.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/ZeebeClientConfigurationProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/common/AuthProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/common/ZeebeClientProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/resources/application-camunda-saas.yaml
  clients/spring-boot-starter-camunda-sdk/src/main/resources/application-camunda-self-managed.yaml
  clients/spring-boot-starter-camunda-sdk/src/main/resources/modes/saas.yaml
  clients/spring-boot-starter-camunda-sdk/src/main/resources/modes/self-managed.yaml
  clients/spring-boot-starter-camunda-sdk/src/main/resources/zeebe-client-legacy-property-mappings.properties
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/CredentialsProviderSaasTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/CredentialsProviderSelfManagedTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/PropertyUtilTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationDefaultPropertiesTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationImplSaasTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationImplSelfManagedTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationImplTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationPropertiesTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/legacy/ZeebeClientStarterAutoConfigurationCustomJsonMapperTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/legacy/ZeebeClientStarterAutoConfigurationTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/CamundaClientLegacyPropertiesMappingsLoaderTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/CamundaClientPropertiesTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/JavaClientPropertiesTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/PropertyBasedZeebeWorkerValueCustomizerTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/ZeebeClientPropertiesPostProcessorTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/ZeebeClientPropertiesSaasTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/ZeebeClientPropertiesSelfManagedTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/ZeebeClientSpringConfigurationDefaultPropertiesTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/ZeebeClientSpringConfigurationPropertiesTest.java
Labels: backport main, component/zeebe

#29037 [Backport 8.7] Refactor c8 run structure
  c8run/internal/health/camunda.go
  c8run/internal/health/elastcisearch.go
  c8run/internal/packages/package.go
  c8run/main.go
  c8run/types.go
Labels: component/c8run

#27817 ci: refactor the c8run release workflow
  .github/workflows/c8run-release.yaml
Labels: component/build-pipeline, component/c8run

#28997 Run HistoryCleanupIT with CamundaExporter
  .github/workflows/ci.yml
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/historycleanup/HistoryCleanupIT.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/CamundaMultiDBExtension.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/HistoryMultiDbTest.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/MultiDbConfigurator.java
  qa/util/src/test/java/io/camunda/qa/util/multidb/MultiDbConfiguratorTest.java
Labels: component/build-pipeline, component/zeebe

#29133 Avoid warning when closing OS exporter if open was not called
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
Labels: backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5, backport stable/8.6, backport stable/8.7

#29169 [Backport stable/8.7] refactor: separate overridden settings from the rest of the logic
  c8run/internal/health/camunda.go
  c8run/internal/overrides/overrides.go
  c8run/internal/types/types.go
  c8run/main.go
  c8run/main_test.go
Labels: component/c8run

#29168 [Backport stable/8.6] refactor: separate overridden settings from the rest of the logic
  c8run/internal/overrides/overrides.go
  c8run/internal/types/types.go
  c8run/main.go
Labels: component/c8run

#29107 deps: update zeebe and identity for 8.7.0-alpha5
  optimize/pom.xml
Labels: component/optimize

#28903 Allow task listener to provide reason to deny passing response rejection
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/UserTaskProcessor.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UserTaskListenersTest.java
Labels: component/zeebe

#29209 ci: notify about helm IT only for scheduled runs
  .github/workflows/camunda-helm-integration.yml
Labels: component/build-pipeline

#29175 fix: Revert org.apache.httpcomponents.core5:httpcore5 upgrade to v5.3.3 (#29004)
  .github/renovate.json
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#29229 refactor: remove unnused updateWithScript
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/adapters/ElasticsearchAdapter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/adapters/OpensearchAdapter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/store/BatchRequest.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/store/ElasticsearchBatchRequest.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/store/OpensearchBatchRequest.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/utils/ElasticsearchScriptBuilder.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/utils/OpensearchScriptBuilder.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/store/ElasticsearchBatchRequestTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/store/OpensearchBatchRequestTest.java
Labels: component/zeebe

#29163 test: Improve task listener test stability
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
Labels: component/zeebe

#29244 build: update c8run versions to 8.7.0-alpha5
  c8run/.env
Labels: component/c8run

#29215 Validate tenants for REST job activation requests
  search/search-client/src/main/java/io/camunda/util/CollectionUtil.java
  service/src/main/java/io/camunda/service/security/auth/Authentication.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/JobController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/ErrorMessages.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/MultiTenancyValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/impl/job/LongPollingActivateJobsRestTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/RestControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerLongPollingTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerRoundRobinTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/MessageControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ResourceControllerTest.java
Labels: backport main, component/zeebe, backport stable/8.7

#29249 [Backport stable/8.7] Require access to default tenant to use deprecated DeployProcess RPC
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/RequestMapper.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/multitenancy/MultiTenancyOverIdentityIT.java
Labels: component/zeebe

#29152 tests: add idx removal aftermath
  .github/workflows/zeebe-aws-os-dispatch-tests.yml
  qa/integration-tests/src/test/java/io/camunda/it/auth/ApplicationAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/AuthorizationSearchIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/BasicAuthenticationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/DecisionAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/DecisionInstanceAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/GroupSearchingAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/MappingAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/ProcessAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/ProcessInstanceAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/RoleSearchingAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/TenantAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/UserSearchingAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/UserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/cluster/ClusterPurgeMultiDbIT.java
  qa/integration-tests/src/test/java/io/camunda/it/historycleanup/HistoryCleanupIT.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/CamundaMultiDBExtension.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/OpensearchEngineClientIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/batchoperations/BatchOperationUpdateRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/incident/IncidentUpdateRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/AWSSearchDBExtension.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/ContainerizedSearchDBExtension.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/SearchDBExtension.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/AWSSearchDBExtension.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/ContainerizedSearchDBExtension.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/SearchDBExtension.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestClient.java
Labels: component/build-pipeline, component/zeebe

#29242 Release/operate 8.5.12
  distro/pom.xml
  operate/archiver/pom.xml
  operate/client/pom.xml
  operate/common/pom.xml
  operate/data-generator/pom.xml
  operate/importer-8_4/pom.xml
  operate/importer-8_5/pom.xml
  operate/importer-common/pom.xml
  operate/importer/pom.xml
  operate/mvc-auth-commons/pom.xml
  operate/pom.xml
  operate/qa/backup-restore-tests/pom.xml
  operate/qa/batch-operation-performance-tests/pom.xml
  operate/qa/data-generator/pom.xml
  operate/qa/import-performance-tests/pom.xml
  operate/qa/integration-tests/pom.xml
  operate/qa/migration-performance-test/pom.xml
  operate/qa/migration-tests/migration-test/pom.xml
  operate/qa/migration-tests/pom.xml
  operate/qa/migration-tests/test-fixture-110/pom.xml
  operate/qa/migration-tests/test-fixture-120/pom.xml
  operate/qa/migration-tests/test-fixture-130/pom.xml
  operate/qa/migration-tests/test-fixture-800/pom.xml
  operate/qa/migration-tests/test-fixture-810/pom.xml
  operate/qa/migration-tests/test-fixture-820/pom.xml
  operate/qa/migration-tests/test-fixture-830/pom.xml
  operate/qa/migration-tests/test-fixture-840/pom.xml
  operate/qa/pom.xml
  operate/qa/query-performance-tests/pom.xml
  operate/qa/util/pom.xml
  operate/schema/pom.xml
  operate/webapp/pom.xml
Labels: component/operate

#29240 Prevent application startup on invalid security config
  dist/pom.xml
  dist/src/main/java/io/camunda/application/commons/security/CamundaSecurityConfiguration.java
  dist/src/test/java/io/camunda/application/commons/security/CamundaSecurityConfigurationTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#29245 [Backport main] Require access to default tenant to use deprecated DeployProcess RPC
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/RequestMapper.java
Labels: component/zeebe

#29251 [Backport stable/8.7] Validate tenants for REST job activation requests
  search/search-client/src/main/java/io/camunda/util/CollectionUtil.java
  service/src/main/java/io/camunda/service/security/auth/Authentication.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/JobController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/ErrorMessages.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/MultiTenancyValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/impl/job/LongPollingActivateJobsRestTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/RestControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerLongPollingTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerRoundRobinTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/MessageControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ResourceControllerTest.java
Labels: component/zeebe

#28761 Align tenant UI design
  identity/client/src/components/form/TextField.tsx
  identity/client/src/components/layout/Page.tsx
  identity/client/src/components/layout/PageHeadline.tsx
  identity/client/src/components/modal/Modal.tsx
  identity/client/src/pages/authorizations/modals/DeleteModal.tsx
  identity/client/src/pages/tenants/List.tsx
  identity/client/src/pages/tenants/detail/components.tsx
  identity/client/src/pages/tenants/detail/index.tsx
  identity/client/src/pages/tenants/detail/members/AssignMembersModal.tsx
  identity/client/src/pages/tenants/detail/members/DeleteModal.tsx
  identity/client/src/pages/tenants/detail/members/index.tsx
  identity/client/src/pages/tenants/modals/AddModal.tsx
  identity/client/src/pages/tenants/modals/DeleteModal.tsx
  identity/client/src/pages/tenants/modals/EditModal.tsx
  identity/client/src/pages/users/modals/DeleteModal.tsx
  identity/client/src/utility/api/membership/index.ts
  identity/client/src/utility/localization/en/index.ts
  identity/client/src/utility/localization/en/tenants.json
Labels: component/identity

#28923 fix: update step by step to run identity on readme
  identity/README.md
Labels: component/identity

#29248 [Backport stable/8.5] Require access to default tenant to use deprecated DeployProcess RPC
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/RequestMapper.java
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/multitenancy/MultiTenancyOverIdentityIT.java
  zeebe/qa/update-tests/pom.xml
  zeebe/qa/util/pom.xml
Labels: component/zeebe

#29277 fix: qualify `key` properties in REST API spec
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserQueryControllerTest.java
Labels: BREAKING CHANGE, component/zeebe, component/c8-api

#28416 fix: Create correct hashes for uploaded files
  document/store/pom.xml
  document/store/src/main/java/io/camunda/document/store/DocumentHashProcessor.java
  document/store/src/main/java/io/camunda/document/store/InputStreamHashCalculator.java
  document/store/src/main/java/io/camunda/document/store/aws/AwsDocumentStore.java
  document/store/src/main/java/io/camunda/document/store/gcp/GcpDocumentStore.java
  document/store/src/main/java/io/camunda/document/store/localstorage/LocalStorageDocumentStore.java
  document/store/src/test/java/io/camunda/document/store/InputStreamHashCalculatorTest.java
  document/store/src/test/java/io/camunda/document/store/aws/AwsDocumentStoreTest.java
  document/store/src/test/java/io/camunda/document/store/gcp/GcpDocumentStoreTest.java
  document/store/src/test/java/io/camunda/document/store/localstorage/LocalStorageDocumentStoreTest.java
Labels: component/document-handling, backport stable/8.7

#29030 fix: REST API Exceptions improvements
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/clients/ElasticsearchSearchClient.java
  search/search-client-elasticsearch/src/test/java/io/camunda/search/es/clients/ElasticsearchSearchClientTest.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/clients/OpensearchSearchClient.java
  search/search-client-opensearch/src/test/java/io/camunda/search/os/clients/OpensearchSearchClientTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/SearchClientBasedQueryExecutor.java
  search/search-domain/src/main/java/io/camunda/search/exception/CamundaSearchException.java
  search/search-domain/src/main/java/io/camunda/search/exception/ErrorMessages.java
  search/search-domain/src/main/java/io/camunda/search/exception/NotFoundException.java
  search/search-domain/src/main/java/io/camunda/search/exception/SearchQueryExecutionException.java
  service/src/main/java/io/camunda/service/AdHocSubprocessActivityServices.java
  service/src/main/java/io/camunda/service/DecisionInstanceServices.java
  service/src/main/java/io/camunda/service/FormServices.java
  service/src/main/java/io/camunda/service/GroupServices.java
  service/src/main/java/io/camunda/service/MappingServices.java
  service/src/main/java/io/camunda/service/RoleServices.java
  service/src/main/java/io/camunda/service/TenantServices.java
  service/src/main/java/io/camunda/service/search/core/SearchQueryService.java
  service/src/test/java/io/camunda/service/AdHocSubprocessActivityServicesTest.java
  service/src/test/java/io/camunda/service/DecisionDefinitionServiceTest.java
  service/src/test/java/io/camunda/service/MappingServicesTest.java
  service/src/test/java/io/camunda/service/ProcessInstanceServiceTest.java
  service/src/test/java/io/camunda/service/TenantServiceTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RestErrorMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/AdHocSubprocessActivityControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DecisionDefinitionQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DecisionInstanceQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DecisionRequirementsQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ErrorMapperTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/FlowNodeInstanceQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/IncidentQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessDefinitionQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserTaskQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/VariablesQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleQueryControllerTest.java
Labels: component/zeebe, component/c8-api

#29250 [Backport main] Validate tenants for REST job activation requests
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/JobController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/ErrorMessages.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/MultiTenancyValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/impl/job/LongPollingActivateJobsRestTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerLongPollingTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerRoundRobinTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/MessageControllerTest.java
Labels: component/zeebe, component/c8-api

#29341 docs: flag identity APIs still to be refactored
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe, component/c8-api

#29368 build: bump c8run 8.8 version to 8.8.0-alpha2
  c8run/.env
Labels: component/c8run

#24709 [Backport stable/optimize-8.6] ci: switch e2e tests to run on chrome
  .github/workflows/optimize-e2e-tests-sm.yml
  optimize/client/package.json
Labels: component/build-pipeline, component/optimize

#29339 fix: Return detail for unexpected batch upload failures
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
Labels: component/zeebe, component/c8-api, component/document-handling, backport stable/8.7

#29373 [Backport stable/8.7] fix: Return detail for unexpected batch upload failures
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
Labels: component/zeebe

#29201 feat: setup TanStack Query for Operate
  operate/client/package.json
  operate/client/src/modules/api/v2/processInstances/fetchProcessInstancesStatistics.ts
  operate/client/src/modules/mock-server/handlers.ts
  operate/client/src/modules/mocks/api/v2/processInstances/fetchProcessInstancesStatistics.ts
  operate/client/src/modules/queries/processInstancesStatistics/useProcessInstancesStatistics.tsx
  operate/client/src/modules/react-query/mockQueryClient.ts
  operate/client/src/modules/request/index.ts
  operate/client/yarn.lock
Labels: component/operate

#29367 fix: on authorizations disabled, return wildcard app authorizations
  dist/src/main/java/io/camunda/application/commons/service/CamundaServicesConfiguration.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/ApplicationAuthorizationIT.java
  service/src/main/java/io/camunda/service/AuthorizationServices.java
  service/src/test/java/io/camunda/service/AuthorizationServiceTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#29364 ci: deploy saas images workflow improvements
  .github/workflows/camunda-platform-docker-deploy-saas-image.yml
Labels: component/build-pipeline

#29118 More lenient id validations
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/IdentifierPatterns.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/UserValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserControllerTest.java
Labels: component/zeebe, component/c8-api

#29299 release: route 8.6+ dry run notifications to dedicated Slack channel
  .github/workflows/camunda-platform-release-main-dry-run.yml
  .github/workflows/zeebe-release-stable-dry-run.yml
Labels: component/build-pipeline, component/zeebe

#29319 test: add elasticsearch index prefix for local E2E test setup
  operate/Makefile
Labels: component/operate

#29380 fix: `camunda.client.auth` is never null
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/configuration/CredentialsProviderConfiguration.java
Labels: component/zeebe

#29352 Refactor task listener tests
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerBlockedTransitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerCorrectionsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerDataAccessTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerDenialsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerIncidentsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTestHelper.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerVariablesTest.java
Labels: component/zeebe

#29379 fix: removed unused properties from sdk
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/common/AuthProperties.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/ZeebeClientPropertiesPostProcessorTest.java
Labels: component/zeebe

#28411 Handle multi instance body correctly during migration
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableProcess.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationCatchEventBehaviour.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateParallelMultiInstanceBodyTest.java
Labels: component/zeebe, backport stable/8.6, backport stable/8.7

#29346 [Backport stable/8.7] fix: Create correct hashes for uploaded files
  document/store/pom.xml
  document/store/src/main/java/io/camunda/document/store/DocumentHashProcessor.java
  document/store/src/main/java/io/camunda/document/store/InputStreamHashCalculator.java
  document/store/src/main/java/io/camunda/document/store/aws/AwsDocumentStore.java
  document/store/src/main/java/io/camunda/document/store/gcp/GcpDocumentStore.java
  document/store/src/main/java/io/camunda/document/store/localstorage/LocalStorageDocumentStore.java
  document/store/src/test/java/io/camunda/document/store/InputStreamHashCalculatorTest.java
  document/store/src/test/java/io/camunda/document/store/aws/AwsDocumentStoreTest.java
  document/store/src/test/java/io/camunda/document/store/gcp/GcpDocumentStoreTest.java
  document/store/src/test/java/io/camunda/document/store/localstorage/LocalStorageDocumentStoreTest.java
Labels: component/document-handling

#29293 build: update makefile to fix Operate Identity dev setup
  operate/Makefile
  operate/README.md
Labels: component/operate

#29003 Remove `entityKey` from `TenantRecord`
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/exporter/RecordFixtures.java
  service/src/main/java/io/camunda/service/TenantServices.java
  service/src/test/java/io/camunda/service/TenantServiceTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/MappingDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantAddEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/TenantEntityAddedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/TenantEntityRemovedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbMappingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableMappingState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/tenant/AddEntityTenantTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/MappingAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/TenantAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/MappingStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/TenantClient.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerTenantEntityRequest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/tenant/TenantRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/TenantRecordValue.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AssignGroupToTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AssignMappingToTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UnassignGroupFromTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/util/ZeebeAssertHelper.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/TenantRecordStream.java
Labels: component/zeebe

#29096 ci: enforce fields named "...Key" are of type `string` in API spec
  .github/workflows/ci.yml
  clients/java/src/main/java/io/camunda/client/impl/command/CreateDocumentBatchCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/CreateDocumentCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/DocumentMetadataImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateDocumentBatchCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateDocumentCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentMetadataImpl.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-protocol/vacuum-rules/verifyKeyTypesPaths.js
  zeebe/gateway-protocol/vacuum-rules/verifyKeyTypesSchemas.js
  zeebe/gateway-protocol/vacuum-ruleset.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
Labels: component/build-pipeline, component/zeebe, component/c8-api, deprecated-client

#29309 [POC]: Add Standalone backups application
  backup-manager.yml
  dist/pom.xml
  dist/src/main/java/io/camunda/application/StandaloneBackupManager.java
  dist/src/main/java/io/camunda/application/StandaloneSchemaManager.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchDecisionStore.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/management/dto/GetBackupStateResponseDetailDto.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/management/dto/GetBackupStateResponseDto.java
  qa/integration-tests/pom.xml
  qa/integration-tests/src/test/java/io/camunda/it/StandaloneBackupManagerTest.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestStandaloneBackupManager.java
  tasklist/common/src/main/java/io/camunda/tasklist/CommonUtils.java
  tasklist/common/src/main/java/io/camunda/tasklist/JacksonConfig.java
  tasklist/common/src/main/java/io/camunda/tasklist/connect/ElasticsearchConnector.java
  tasklist/common/src/test/java/io/camunda/tasklist/connect/ElasticsearchConnectorTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchConnectorIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchConnectorSSLAuthIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/management/HealthCheckAuthenticationIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/management/HealthCheckIT.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/management/dto/GetBackupStateResponseDetailDto.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/management/dto/GetBackupStateResponseDto.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/CommonUtils.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#29387 Archiver properties refactored
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  qa/util/src/main/java/io/camunda/qa/util/multidb/MultiDbConfigurator.java
  qa/util/src/test/java/io/camunda/qa/util/multidb/MultiDbConfiguratorTest.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/config/ConfigValidator.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/config/ExporterConfiguration.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/SchemaManager.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/BackgroundTaskManagerFactory.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepository.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/config/ConfigValidatorTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/schema/SchemaManagerIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepositoryTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepositoryTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#29408 [Backport stable/8.7] [POC]: Add Standalone backups application
  backup-manager.yml
  dist/pom.xml
  dist/src/main/java/io/camunda/application/StandaloneBackupManager.java
  dist/src/main/java/io/camunda/application/StandaloneSchemaManager.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchDecisionStore.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/management/dto/GetBackupStateResponseDetailDto.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/management/dto/GetBackupStateResponseDto.java
  qa/integration-tests/pom.xml
  qa/integration-tests/src/test/java/io/camunda/it/StandaloneBackupManagerTest.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestStandaloneBackupManager.java
  tasklist/common/src/main/java/io/camunda/tasklist/CommonUtils.java
  tasklist/common/src/main/java/io/camunda/tasklist/JacksonConfig.java
  tasklist/common/src/main/java/io/camunda/tasklist/connect/ElasticsearchConnector.java
  tasklist/common/src/test/java/io/camunda/tasklist/connect/ElasticsearchConnectorTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchConnectorIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchConnectorSSLAuthIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/management/HealthCheckAuthenticationIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/management/HealthCheckIT.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/management/dto/GetBackupStateResponseDetailDto.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/management/dto/GetBackupStateResponseDto.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/CommonUtils.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#28516 Ad-Hoc Subprocess: Support `completionCondition` and `cancelRemainingInstances` attributes
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/AbstractAdHocSubProcessBuilder.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/impl/BpmnModelConstants.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/impl/instance/AdHocSubProcessImpl.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/instance/AdHocSubProcess.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/builder/AdHocSubProcessBuilderTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/AdHocSubProcessProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableAdHocSubProcess.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/AdHocSubProcessTransformer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/validation/ZeebeRuntimeValidators.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/AdHocSubProcessValidatorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/incident/AdHocSubProcessIncidentTest.java
Labels: component/zeebe

#29095 refactor: disable importers
  dist/src/main/java/io/camunda/application/StandaloneCamunda.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#29428 test: avoid concurrent modification error
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/observability/MetricsConfigurationIT.java
Labels: component/zeebe, backport stable/8.6, backport stable/8.7

#29437 [Backport stable/8.7] test: avoid concurrent modification error
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/observability/MetricsConfigurationIT.java
Labels: component/zeebe

#29436 [Backport stable/8.6] test: avoid concurrent modification error
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/observability/MetricsConfigurationIT.java
Labels: component/zeebe

#28652 build: disconnect Optimize from the single application
  .github/workflows/ci.yml
  .github/workflows/optimize-ci-build-reusable.yml
  .github/workflows/optimize-ci.yml
  .github/workflows/optimize-e2e-tests-sm.yml
  .github/workflows/zeebe-aws-os-dispatch-tests.yml
  dist/src/main/java/io/camunda/application/Profile.java
  dist/src/main/java/io/camunda/application/StandaloneOptimize.java
  dist/src/main/java/io/camunda/optimize/OptimizeModuleConfiguration.java
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/backend/src/it/java/io/camunda/optimize/AbstractIT.java
  optimize/backend/src/main/java/io/camunda/optimize/Main.java
  optimize/backend/src/main/java/io/camunda/optimize/OptimizeTomcatConfig.java
  optimize/backend/src/main/java/io/camunda/optimize/tomcat/CCSMRequestAdjustmentFilter.java
  optimize/backend/src/main/java/io/camunda/optimize/tomcat/ExternalResourcesUtil.java
  optimize/client/pom.xml
  optimize/client/scripts/start-backend.js
  optimize/client/vite.config.ts
  optimize/docker-compose.ccsm-with-optimize.yml
  optimize/docker-compose.ccsm-without-optimize.yml
  optimize/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/optimize-commons/src/main/resources/service-config.yaml
  pom.xml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#29396 feat: support deletion of RPA resources
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/resource/ResourceDeletionDeleteProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/resource/ResourceDeletionMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/resource/ResourceDeletionTest.java
Labels: backport main, component/zeebe

#29407 build: revert to dedicated optimize dockerfile and remove optimize from single app release job
  .github/actions/execute-healthcheck-and-push-image/action.yml
  .github/workflows/camunda-platform-release.yml
  .github/workflows/optimize-ci-build-reusable.yml
  optimize-internal-test.Dockerfile
  optimize.fallback.Dockerfile
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#29347 feat: migrate PI statistics stores to v2
  operate/client/src/modules/api/v2/processInstances/fetchProcessInstancesStatistics.ts
  operate/client/src/modules/hooks/useProcessInstancesFilters.test.ts
  operate/client/src/modules/hooks/useProcessInstancesFilters.ts
  operate/client/src/modules/queries/processInstancesStatistics/useBatchModificationOverlay.test.tsx
  operate/client/src/modules/queries/processInstancesStatistics/useBatchModificationOverlayData.ts
  operate/client/src/modules/queries/processInstancesStatistics/useOverlayData.test.tsx
  operate/client/src/modules/queries/processInstancesStatistics/useOverlayData.ts
  operate/client/src/modules/queries/processInstancesStatistics/useProcessInstancesStatistics.tsx
  operate/client/src/modules/queries/useGenericQuery.ts
  operate/client/src/modules/utils/filter/index.ts
Labels: component/operate

#29221 build: delete ignored changes on new releases
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline, backport stable/8.6, backport stable/8.7

#29234 feat: introduce process instance statistics endpoint
  search/search-client/src/main/java/io/camunda/search/clients/ProcessDefinitionSearchClient.java
  search/search-domain/src/main/java/io/camunda/search/entities/ProcessDefinitionFlowNodeStatisticsEntity.java
  search/search-domain/src/main/java/io/camunda/search/filter/FilterBuilders.java
  search/search-domain/src/main/java/io/camunda/search/filter/ProcessDefinitionStatisticsFilter.java
  service/src/main/java/io/camunda/service/ProcessDefinitionServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/ProcessDefinitionController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessDefinitionQueryControllerTest.java
Labels: component/zeebe, component/c8-api

#29474 [Backport stable/8.7] build: delete ignored changes on new releases
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

#29321 Implement tabs for tenant details page
  identity/client/src/components/form/DropdownSearch.tsx
  identity/client/src/feature-flags.ts
  identity/client/src/pages/groups/detail/members/AssignMembersModal.tsx
  identity/client/src/pages/tenants/detail/groups/AssignGroupsModal.tsx
  identity/client/src/pages/tenants/detail/groups/DeleteModal.tsx
  identity/client/src/pages/tenants/detail/groups/index.tsx
  identity/client/src/pages/tenants/detail/index.tsx
  identity/client/src/pages/tenants/detail/mappings/AssignMappingsModal.tsx
  identity/client/src/pages/tenants/detail/mappings/DeleteModal.tsx
  identity/client/src/pages/tenants/detail/mappings/index.tsx
  identity/client/src/pages/tenants/detail/members/AssignMembersModal.tsx
  identity/client/src/pages/tenants/detail/roles/AssignRolesModal.tsx
  identity/client/src/pages/tenants/detail/roles/DeleteModal.tsx
  identity/client/src/pages/tenants/detail/roles/index.tsx
  identity/client/src/pages/tenants/modals/DeleteModal.tsx
  identity/client/src/utility/api/tenants/index.ts
  identity/client/src/utility/localization/en/tenants.json
Labels: component/identity

#29398 Pass task headers to listeners
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnJobBehavior.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/UserTaskTransformerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTaskHeadersTest.java
Labels: component/zeebe

#29176 [Backport stable/8.5] Avoid warning when closing OS exporter if open was not called
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
Labels: component/zeebe

#29481 deps: bump spring boot to fix Tomcat CVE
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#29177 [Backport stable/8.6] Avoid warning when closing OS exporter if open was not called
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
Labels: component/zeebe

#29141 [Backport stable/8.5] Create meters once to avoid gauge re-registration
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchMetrics.java
Labels: component/zeebe

#29442 ci: remove unneeded Operate Slack notification
  .github/workflows/operate-ci-test-reusable.yml
Labels: component/build-pipeline, component/operate

#29323 refactor: remove concurrency checks from 8.7 and 8.6 importer
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/v8_6/processors/EventZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/v8_6/processors/ImportBulkProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/v8_6/processors/IncidentZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/v8_6/processors/JobZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/v8_6/processors/ListViewZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/v8_6/processors/VariableZeebeRecordProcessor.java
  operate/importer-8_7/src/main/java/io/camunda/operate/zeebeimport/processors/EventZeebeRecordProcessor.java
  operate/importer-8_7/src/main/java/io/camunda/operate/zeebeimport/processors/ImportBulkProcessor.java
  operate/importer-8_7/src/main/java/io/camunda/operate/zeebeimport/processors/IncidentZeebeRecordProcessor.java
  operate/importer-8_7/src/main/java/io/camunda/operate/zeebeimport/processors/JobZeebeRecordProcessor.java
  operate/importer-8_7/src/main/java/io/camunda/operate/zeebeimport/processors/ListViewZeebeRecordProcessor.java
  operate/importer-8_7/src/main/java/io/camunda/operate/zeebeimport/processors/VariableZeebeRecordProcessor.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/ImportPositionHolder.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/ImportStoreIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/EventZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/IncidentZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/JobZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/ListViewZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/VariableZeebeRecordProcessorIT.java
  operate/schema/src/main/java/io/camunda/operate/schema/indices/ImportPositionIndex.java
  operate/schema/src/main/java/io/camunda/operate/store/ImportStore.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchImportStore.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchImportStore.java
Labels: component/operate

#26756 fix: remove concurrency checks from importer 8.6 and 8.5
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/v8_5/processors/EventZeebeRecordProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/v8_5/processors/ImportBulkProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/v8_5/processors/IncidentZeebeRecordProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/v8_5/processors/ListViewZeebeRecordProcessor.java
  operate/importer-8_5/src/main/java/io/camunda/operate/zeebeimport/v8_5/processors/VariableZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/EventZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/ImportBulkProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/IncidentZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/JobZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/ListViewZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/processors/VariableZeebeRecordProcessor.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/ImportPositionHolder.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/ImportStoreIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/EventZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/IncidentZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/JobZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/ListViewZeebeRecordProcessorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/processors/VariableZeebeRecordProcessorIT.java
  operate/schema/src/main/java/io/camunda/operate/schema/indices/ImportPositionIndex.java
  operate/schema/src/main/java/io/camunda/operate/store/ImportStore.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchImportStore.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchImportStore.java
Labels: component/operate

#29397 fix: small fixes to resolve OIDC issues
  authentication/src/main/java/io/camunda/authentication/CamundaOidcUserService.java
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/entity/CamundaOidcUser.java
  authentication/src/test/java/io/camunda/authentication/CamundaOidcUserServiceTest.java
  security/security-core/src/main/java/io/camunda/security/configuration/OidcAuthenticationConfiguration.java
  service/src/main/java/io/camunda/service/TenantServices.java
Labels: component/identity

#22735 Raise incident at specific called process depth
  dist/src/main/config/broker.yaml.template
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/engine/EngineCfg.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/configuration/EngineCfgTest.java
  zeebe/broker/src/test/resources/system/engine.yaml
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/EngineConfiguration.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/BpmnElementProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/BpmnStreamProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/CallActivityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceElementActivatingV1Applier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceElementActivatingV2Applier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/ElementInstance.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/CallActivityTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
Labels: component/build-pipeline, backport stable/8.3, backport stable/8.4, component/zeebe, component/operate, backport stable/8.5, component/tasklist, component/optimize, backport stable/8.6, backport stable/8.7

#29485 fix: cache tree path values of adhoc subprocess
  operate/importer-8_7/src/main/java/io/camunda/operate/zeebeimport/v8_7/processors/processors/fni/FNITransformer.java
  operate/importer-8_7/src/test/java/io/camunda/operate/zeebeimport/v8_7/processors/fni/fni/FNITransformerCacheTreePathTest.java
Labels: component/operate

#29120 OpenSearch ISM creation failure
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/opensearch/OpensearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
Labels: component/zeebe

#29402 test: add tenant api regression tests
  .github/workflows/identity-regression-test.yml
  http/http-client.private.env.json
  http/identity-tenant-regression-test.http
Labels: component/build-pipeline, component/identity

#29503 fix: Disable X-Frame-Options to allow PDF previews in <embed> tags [Firefox]
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/BaseWebConfigurer.java
Labels: component/tasklist, component/document-handling, backport stable/8.7

#29524 [Backport stable/8.7] fix: Disable X-Frame-Options to allow PDF previews in <embed> tags [Firefox]
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/BaseWebConfigurer.java
Labels: component/tasklist

#29420 deps: spring-sdk remove unused dependencies
  clients/spring-boot-starter-camunda-sdk/pom.xml
Labels: component/zeebe, backport stable/8.5, backport stable/8.6, backport stable/8.7

#29531 [Backport stable/8.7] deps: spring-sdk remove unused dependencies
  clients/spring-boot-starter-camunda-sdk/pom.xml
Labels: component/zeebe

#29390 refactor: use translation keys in users page
  identity/client/src/components/layout/Page.tsx
  identity/client/src/pages/login/LoginPage.tsx
  identity/client/src/pages/users/List.tsx
  identity/client/src/pages/users/detail/UserDetailsTab.tsx
  identity/client/src/pages/users/detail/index.tsx
  identity/client/src/pages/users/modals/AddModal.tsx
  identity/client/src/pages/users/modals/DeleteModal.tsx
  identity/client/src/pages/users/modals/EditModal.tsx
  identity/client/src/utility/localization/en/components.json
  identity/client/src/utility/localization/en/index.ts
  identity/client/src/utility/localization/en/users.json
  identity/client/src/utility/localization/i18n.ts
Labels: component/identity

#29509 refactor: remove unused UI components
  identity/client/src/components/entityList/components.tsx
  identity/client/src/components/modal/FormModal.tsx
  identity/client/src/pages/groups/modals/EditModal.tsx
  identity/client/src/pages/users/detail/authorization/List.tsx
  identity/client/src/pages/users/detail/authorization/PatchModal.tsx
  identity/client/src/pages/users/detail/role/AddModal.tsx
  identity/client/src/pages/users/detail/role/DeleteModal.tsx
  identity/client/src/pages/users/detail/role/List.tsx
  identity/client/src/utility/api/authorizations/index.ts
  identity/client/src/utility/api/users/authorizations.ts
  identity/client/src/utility/api/users/roles.ts
  identity/client/src/utility/ascendingSort.ts
Labels: component/identity

#29530 [Backport stable/8.6] deps: spring-sdk remove unused dependencies
  clients/spring-boot-starter-camunda-sdk/pom.xml
Labels: component/zeebe

#29501 ci: move non-Zeebe-specific release notifications to diff channel
  .github/workflows/camunda-platform-release-manual.yml
  .github/workflows/dispatch-release-8-6.yaml
  .github/workflows/dispatch-release-8-7.yaml
  .github/workflows/dispatch-release-8-8.yaml
Labels: component/build-pipeline

#29217 Task listener to provide reason to deny: exporters changes
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/template/JobTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operate/JobEntity.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/template/operate-job.json
  webapps-schema/src/main/resources/schema/opensearch/create/template/operate-job.json
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/JobHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/JobHandlerTest.java
Labels: component/zeebe, component/tasklist

#29515 feat: add icon for ad hoc sub process to instance history
  operate/client/src/modules/components/FlowNodeIcon/index.tsx
  operate/client/src/modules/components/Icon/flow-node-subprocess-adhoc.svg
  operate/client/src/modules/types/bpmn-js.d.ts
Labels: component/operate

#29002 fix: don't try to write responses without request id
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/CollaborationDeploymentTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/SuccessfulDeploymentTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/scaling/ScaleUpTest.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/BufferedProcessingResultBuilder.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorTest.java
Labels: backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5, backport stable/8.6, backport stable/8.7

#28736 test: add migration tests for 8.7 snapshot path
  parent/pom.xml
  tasklist/qa/migration-tests/migration-test/pom.xml
  tasklist/qa/migration-tests/migration-test/src/test/resources/test.properties
  tasklist/qa/migration-tests/pom.xml
  tasklist/qa/migration-tests/test-fixture-810/pom.xml
  tasklist/qa/migration-tests/test-fixture-810/src/main/java/io/camunda/tasklist/qa/migration/v810/BasicProcessDataGenerator.java
  tasklist/qa/migration-tests/test-fixture-810/src/main/java/io/camunda/tasklist/qa/migration/v810/BigVariableProcessDataGenerator.java
  tasklist/qa/migration-tests/test-fixture-810/src/main/java/io/camunda/tasklist/qa/migration/v810/TestFixture.java
  tasklist/qa/migration-tests/test-fixture-820/src/main/resources/log4j2.xml
  tasklist/qa/migration-tests/test-fixture-870/pom.xml
  tasklist/qa/migration-tests/test-fixture-870/src/main/java/io/camunda/tasklist/qa/migration/v870/TestFixture.java
  tasklist/qa/migration-tests/test-fixture-870/src/main/resources/log4j2.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#29446 Camunda exporter ignores 8.8 zeebe indice for brownfield detection
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
Labels: component/zeebe

#29438 ci: sunset the nightly tasklist backup restore workflow
  .github/workflows/tasklist-backup-restore-tests-reusable.yml
  .github/workflows/tasklist-backup-restore-tests.yml
  tasklist/qa/backup-restore-tests/README.md
  tasklist/qa/backup-restore-tests/pom.xml
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/BackupRestoreTest.java
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/BackupRestoreTestContext.java
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/TasklistAPICaller.java
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/generator/AbstractBackupRestoreDataGenerator.java
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/generator/BackupRestoreDataGenerator.java
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/generator/BackupRestoreDataGeneratorElasticSearch.java
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/generator/BackupRestoreDataGeneratorOpenSearch.java
  tasklist/qa/backup-restore-tests/src/test/resources/get-all-tasks.graphql
  tasklist/qa/backup-restore-tests/src/test/resources/get-tasks-by-query.graphql
  tasklist/qa/backup-restore-tests/src/test/resources/log4j2.xml
  tasklist/qa/pom.xml
Labels: component/build-pipeline, component/tasklist

#29192 feat: Extend advanced search to filtering by variables
  clients/java/src/main/java/io/camunda/client/impl/search/filter/ProcessInstanceFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/UserTaskFilterImpl.java
  clients/java/src/test/java/io/camunda/client/process/QueryProcessInstanceTest.java
  clients/java/src/test/java/io/camunda/client/usertask/SearchUserTaskTest.java
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
  db/rdbms/src/main/resources/mapper/UserTaskMapper.xml
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessInstanceAndFlowNodeInstanceQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/UserTaskQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/task/UserTaskIT.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/ProcessInstanceFilterTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/UserTaskFilterTransformer.java
  search/search-domain/src/main/java/io/camunda/search/filter/VariableValueFilter.java
  search/search-domain/src/main/java/io/camunda/util/ListBuilder.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/util/GenericVariable.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/ErrorMessages.java
Labels: component/zeebe, component/c8-api

#29556 ci: correct operate port binding in tasklist docker compose
  tasklist/config/docker-compose.yml
Labels: component/tasklist, backport stable/8.7

#29557 [Backport stable/8.7] ci: correct operate port binding in tasklist docker compose
  tasklist/config/docker-compose.yml
Labels: component/tasklist

#28964 [Backport stable/8.6] Fix dependency management: use specified versions
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#28965 [Backport stable/8.7] Fix dependency management: use specified versions
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#25969 Listeners tab and filter visibility
  operate/client/e2e-playwright/tests/processInstanceListeners.spec.ts
  operate/client/e2e-playwright/visual/modifications.spec.ts-snapshots/modifications-diagram-badges-and-flow-node-instance-history-panel---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/modifications.spec.ts-snapshots/modifications-diagram-badges-and-flow-node-instance-history-panel---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/modifications.spec.ts-snapshots/modifications-with-add-variable-state---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/modifications.spec.ts-snapshots/modifications-with-add-variable-state---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-add-variable-state---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-add-variable-state---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-compensation-process-instance---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-compensation-process-instance---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-completed-instance---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-completed-instance---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-edit-variable-state---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-edit-variable-state---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-error-page---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-error-page---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-instance-with-incident---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-instance-with-incident---light-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-running-instance---dark-1-chromium-linux.png
  operate/client/e2e-playwright/visual/processInstance.spec.ts-snapshots/process-instance-page-running-instance---light-1-chromium-linux.png
  operate/client/package.json
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/Listeners/index.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/Listeners/styled.ts
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/index.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/tests/index.test.tsx
  operate/client/src/App/ProcessInstance/index.tsx
  operate/client/src/App/ProcessInstance/styled.tsx
  operate/client/src/modules/stores/processInstanceListeners.ts
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/ElasticsearchUserTaskReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/reader/OpensearchUserTaskReader.java
Labels: component/operate, component/frontend

#29563 test: fix flaky TasklistProcessDefinitionAuthorizationIT.shouldBeAuthorizedToRetrieveDefinitions
  zeebe/qa/util/src/main/java/io/camunda/zeebe/it/util/AuthorizationsUtil.java
Labels: component/zeebe

#29581 Merge Optimize new APIs for consulting in 8.7
  optimize/backend/src/main/java/io/camunda/optimize/dto/optimize/query/collection/PartialCollectionDefinitionRequestDto.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/PublicApiRestService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/collection/CollectionScopeService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/collection/CollectionService.java
Labels: component/build-pipeline, component/optimize

#29388 list collections and get definitions
  .github/workflows/optimize-deploy-image-from-branch.yml
  optimize/backend/src/main/java/io/camunda/optimize/rest/PublicApiRestService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/collection/CollectionService.java
Labels: component/build-pipeline, component/optimize

#29348 feat: migrate DiagramPanel to PI statistics v2
  operate/client/package.json
  operate/client/src/App/Processes/ListView/DiagramPanel/v2/index.test.tsx
  operate/client/src/App/Processes/ListView/DiagramPanel/v2/index.tsx
  operate/client/src/App/Processes/ListView/index.tsx
  operate/client/src/App/index.tsx
  operate/client/src/modules/feature-flags.ts
  operate/client/src/modules/queries/processInstancesStatistics/useProcessInstancesStatistics.tsx
  operate/client/src/modules/queries/useGenericQuery.ts
  operate/client/src/modules/react-query/ReactQueryProvider.tsx
  operate/client/src/modules/testUtils.tsx
  operate/client/yarn.lock
Labels: component/operate

#28779 fix: default addresses are plaintext
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientBuilderImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientBuilderImpl.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/config/CamundaClientConfigurationDefaultPropertiesTest.java
Labels: component/zeebe, backport stable/8.5, backport stable/8.6, deprecated-client, backport stable/8.7

#29578 feat: use backoff supplier bean in spring sdk
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/processor/JobWorkerAnnotationProcessor.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/configuration/CamundaClientAllAutoConfiguration.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/JobWorkerManager.java
Labels: component/zeebe, backport stable/8.7

#27920 [Backport stable/8.5] ci: remove broken benchmark measurement support
  .github/workflows/zeebe-benchmark.yml
  .github/workflows/zeebe-medic-benchmarks.yml
  .github/workflows/zeebe-pr-benchmark.yaml
Labels: component/zeebe

#29607 [Backport stable/8.7] feat: use backoff supplier bean in spring sdk
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientAllAutoConfiguration.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/jobhandling/JobWorkerManager.java
Labels: component/zeebe

#29538 fix: command line to build Optimize backend in deploy-artifact
  .github/workflows/optimize-deploy-artifacts.yml
Labels: component/build-pipeline, component/optimize

#29506 Adding timestamp expiry and X509 checks to JWT token
  optimize/backend/pom.xml
  optimize/backend/src/it/java/io/camunda/optimize/auth/JwtDecoderIT.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/security/ccsm/CCSMSecurityConfigurerAdapter.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/security/cloud/CCSaaSSecurityConfigurerAdapter.java
Labels: component/optimize, backport stable/optimize-8.6, backport stable/optimize-8.7

#28812 [Backport stable/8.6] fix: global overrides could override type name and fetch variables which have a special protection
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/bean/CopyWithProtectionBeanUtilsBean.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/CamundaClientProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/PropertyBasedZeebeWorkerValueCustomizer.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/common/ZeebeClientProperties.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/PropertyBasedZeebeWorkerValueCustomizerTest.java
Labels: component/zeebe

#29601 pg-rm-fixtures-deps
  parent/pom.xml
  tasklist/qa/migration-tests/migration-test/pom.xml
  tasklist/qa/migration-tests/migration-test/src/test/java/io/camunda/tasklist/qa/migration/BasicProcessTest.java
  tasklist/qa/migration-tests/migration-test/src/test/java/io/camunda/tasklist/qa/migration/BigVariableProcessTest.java
  tasklist/qa/migration-tests/migration-test/src/test/java/io/camunda/tasklist/qa/migration/util/BasicProcessDataGenerator.java
  tasklist/qa/migration-tests/migration-test/src/test/java/io/camunda/tasklist/qa/migration/util/BigVariableProcessDataGenerator.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#29605 [Backport stable/8.7] fix: default addresses are plaintext
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientBuilderImpl.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationDefaultPropertiesTest.java
Labels: component/zeebe

#29604 [Backport stable/8.6] fix: default addresses are plaintext
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientBuilderImpl.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientConfigurationImpl.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/config/ZeebeClientConfigurationDefaultPropertiesTest.java
Labels: component/zeebe
