Repository camunda/camunda, pull requests merged in 2025-08, with the labels that each got.

#36320 [Backport release-8.8.0-alpha7] fix: update os exporter position when skipping records
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterTest.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterTest.java
Labels: component/zeebe

#36135 feat: ad-hoc sub-process: allow intermediate catch events without outgoing sequence flows
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/AdHocSubProcessValidator.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/AdHocSubProcessValidatorTest.java
Labels: component/zeebe, backport stable/8.7

#36252 Set owner type on authorizations of default RPA role
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/IdentitySetupInitializer.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeDefaultsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/RecordingExporterTestWatcher.java
Labels: component/zeebe

#36341 [Backport release-8.8.0-alpha7] fix: Bump identity version to last released
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#36330 feat: update usage-metrics endpoint to /v2/system/usage-metrics
  clients/java/src/main/java/io/camunda/client/impl/statistics/request/UsageMetricsStatisticsRequestImpl.java
  clients/java/src/test/java/io/camunda/client/metrics/UsageMetricsStatisticsTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/system/UsageMetricsController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/system/UsageMetricsControllerTest.java
Labels: component/zeebe, component/c8-api

#36350 Release/optimize 8.6.13
  .github/workflows/optimize-release-optimize-c8-only.yml
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/plan/factories/Upgrade8613To8614PlanFactory.java
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Labels: component/build-pipeline, component/optimize

#36025 feat: add validation for string-encoded Long keys in REST API
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/ErrorMessages.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/EvaluateDecisionRequestValidator.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/ProcessInstanceRequestValidator.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/RequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/validator/EvaluateDecisionRequestValidatorTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/validator/ProcessInstanceRequestValidatorTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/validator/RequestValidatorTest.java
Labels: component/zeebe, component/c8-api

#36214 refactor: introduce react-hook-form for form state and validation
  identity/client/package.json
  identity/client/src/components/form/TextField.tsx
  identity/client/src/pages/mapping-rules/modals/add-modal/AddModal.tsx
  identity/client/src/pages/mapping-rules/modals/add-modal/use-validation.ts
  identity/client/yarn.lock
Labels: component/identity

#35465 refactor: schema initialization should not block broker startup when gateway is deactivated
  dist/src/main/java/io/camunda/application/commons/search/SearchEngineDatabaseConfiguration.java
  dist/src/main/java/io/camunda/application/commons/search/SearchEngineSchemaInitializer.java
  schema-manager/src/test/java/io/camunda/search/schema/SchemaManagerStartupIT.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#36353 [Backport stable/8.6] fix: include members ready check after restart on replication loop
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RandomizedRaftTest.java
Labels: component/zeebe

#36354 [Backport stable/8.7] fix: include members ready check after restart on replication loop
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RandomizedRaftTest.java
Labels: component/zeebe

#36355 [Backport release-8.8.0-alpha7] fix: include members ready check after restart on replication loop
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RandomizedRaftTest.java
Labels: component/zeebe

#25840 New E2E Operate PI Migration test
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateProcessInstanceCancellationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateProcessInstanceMigrationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/util/TestHelper.java
  qa/acceptance-tests/src/test/resources/process/migration-subprocess.bpmn
  qa/acceptance-tests/src/test/resources/process/migration-subprocess2.bpmn
  qa/util/pom.xml
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestCamundaApplication.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestRestOperateClient.java
Labels: component/zeebe, component/operate

#36222 [Backport stable/8.6] Consolidate importer metrics
  monitor/grafana/dashboards/data_layer.json
  tasklist/common/src/main/java/io/camunda/tasklist/Metrics.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/RecordsReaderAbstract.java
Labels: component/zeebe, component/tasklist

#36369 Importers [record to import backlog] grafana panel
  monitor/grafana/dashboards/data_layer.json
Labels: component/zeebe, backport stable/8.6

#36373 [Backport stable/8.6] Importers [record to import backlog] grafana panel
  monitor/grafana/dashboards/data_layer.json
Labels: component/zeebe

#36372 fix: increase timeout value to avoid premature cancelation
  .github/workflows/zeebe-aws-os-dispatch-tests.yml
Labels: component/build-pipeline, component/zeebe

#36344 Support basic authentication for the benchmark applications
  clients/java/src/main/java/io/camunda/client/CredentialsProvider.java
  zeebe/benchmarks/project/src/main/java/io/camunda/zeebe/App.java
  zeebe/benchmarks/project/src/main/java/io/camunda/zeebe/Starter.java
  zeebe/benchmarks/project/src/main/java/io/camunda/zeebe/Worker.java
  zeebe/benchmarks/project/src/main/java/io/camunda/zeebe/config/AppCfg.java
  zeebe/benchmarks/project/src/main/java/io/camunda/zeebe/config/AuthCfg.java
  zeebe/benchmarks/project/src/main/resources/application.conf
  zeebe/benchmarks/project/src/test/java/io/camunda/zeebe/config/ConfigTest.java
  zeebe/benchmarks/project/src/test/resources/different-application.conf
Labels: component/zeebe

#35884 feat: Cover Operate V1 APIs with authorization checks
  operate/qa/integration-tests/src/test/java/io/camunda/operate/StartupIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/DecisionDefinitionControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/DecisionInstanceControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/DecisionRequirementsControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/FlowNodeInstanceControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/IncidentControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/ProcessDefinitionControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/ProcessInstanceQueryControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/VariableControllerIT.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/exceptions/ForbiddenException.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/DecisionDefinitionController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/DecisionInstanceController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/DecisionRequirementsController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/ErrorController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/FlowNodeInstanceController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/IncidentController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/ProcessDefinitionController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/ProcessInstanceController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/VariableController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/permission/PermissionsService.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateV1ApiPermissionsIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/util/TestHelper.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestRestOperateClient.java
Labels: component/operate

#36366 feat: default to not controlling socket buffer size
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  dist/src/main/config/gateway.yaml.template
  dist/src/main/java/io/camunda/application/commons/configuration/GatewayBasedConfiguration.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/MessagingConfig.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/ChannelPool.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/ChannelPoolTest.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering/ClusterConfigFactory.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/NetworkCfg.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/configuration/BrokerCfgTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/configuration/ClusterCfg.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/configuration/ConfigurationDefaults.java
Labels: component/zeebe, component/operate, backport stable/8.5, component/tasklist, component/optimize, backport stable/8.6, backport stable/8.7

#36370 Remove/replace old security configurations
  dist/src/main/config/application.yaml
  dist/src/main/config/broker.standalone.yaml.template
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#36384 [Backport stable/8.6] feat: default to not controlling socket buffer size
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  dist/src/main/config/gateway.yaml.template
  dist/src/main/java/io/camunda/application/commons/configuration/GatewayBasedConfiguration.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/MessagingConfig.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/ChannelPool.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/ChannelPoolTest.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering/ClusterConfigFactory.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/NetworkCfg.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/configuration/BrokerCfgTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/configuration/ClusterCfg.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/configuration/ConfigurationDefaults.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#36389 [Backport stable/8.6] test: fix ReconfigureTest flakyness by forcing election if needed
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ReconfigurationTest.java
Labels: component/zeebe

#36388 [Backport stable/8.5] test: fix ReconfigureTest flakyness by forcing election if needed
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ReconfigurationTest.java
Labels: component/zeebe

#36405 deps: bump operate and zeebe versions
  operate/config/docker-compose.identity.yml
  operate/config/docker-compose.mt.yml
  operate/config/docker-compose.opensearch-identity.yml
  operate/config/docker-compose.test.yml
  operate/docker-compose.opensearch-identity.yml
  operate/docker-compose.opensearch.yml
  operate/docker-compose.yml
  operate/pom.xml
  operate/qa/pom.xml
  operate/schema/pom.xml
Labels: component/operate

#36283 AHSP3 10 activate elements when job is completed
  service/src/main/java/io/camunda/service/AdHocSubProcessActivityServices.java
  service/src/test/java/io/camunda/service/AdHocSubProcessActivityServicesTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessInstructionActivateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessUtils.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnAdHocSubProcessBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnBehaviorsImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/AdHocSubProcessProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobCompleteProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/adhocsubprocess/ActivateAdHocSubProcessActivityTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobBasedAdHocSubProcessTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/incident/AdHocSubProcessIncidentTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/AdHocSubProcessActivityClient.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/AdHocSubProcessActivityControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerActivateAdHocSubProcessActivityRequest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/adhocsubprocess/AdHocSubProcessActivateElementInstruction.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/adhocsubprocess/AdHocSubProcessInstructionRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/job/JobResultActivateElement.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AdHocSubProcessInstructionRecordValue.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/AdHocSubProcessInstructionRecordStream.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
Labels: component/zeebe, component/c8-api

#36417 deps: bump operate snapshot versions
  distro/pom.xml
  operate/archiver/pom.xml
  operate/client/package.json
  operate/client/pom.xml
  operate/common/pom.xml
  operate/data-generator/pom.xml
  operate/importer-8_4/pom.xml
  operate/importer-8_5/pom.xml
  operate/importer-common/pom.xml
  operate/importer/pom.xml
  operate/mvc-auth-commons/pom.xml
  operate/pom.xml
  operate/qa/backup-restore-tests/pom.xml
  operate/qa/batch-operation-performance-tests/pom.xml
  operate/qa/data-generator/pom.xml
  operate/qa/import-performance-tests/pom.xml
  operate/qa/integration-tests/pom.xml
  operate/qa/migration-performance-test/pom.xml
  operate/qa/migration-tests/migration-test/pom.xml
  operate/qa/migration-tests/pom.xml
  operate/qa/migration-tests/test-fixture-110/pom.xml
  operate/qa/migration-tests/test-fixture-120/pom.xml
  operate/qa/migration-tests/test-fixture-130/pom.xml
  operate/qa/migration-tests/test-fixture-800/pom.xml
  operate/qa/migration-tests/test-fixture-810/pom.xml
  operate/qa/migration-tests/test-fixture-820/pom.xml
  operate/qa/migration-tests/test-fixture-830/pom.xml
  operate/qa/migration-tests/test-fixture-840/pom.xml
  operate/qa/pom.xml
  operate/qa/query-performance-tests/pom.xml
  operate/qa/util/pom.xml
  operate/schema/pom.xml
  operate/webapp/pom.xml
Labels: component/operate

#36440 [Backport stable/8.6] fix: set a project id for gcs backup store tests
  zeebe/backup-stores/gcs/src/main/java/io/camunda/zeebe/backup/gcs/GcsBackupConfig.java
  zeebe/backup-stores/gcs/src/main/java/io/camunda/zeebe/backup/gcs/GcsBackupStore.java
  zeebe/backup-stores/gcs/src/main/java/io/camunda/zeebe/backup/gcs/GcsConnectionConfig.java
Labels: component/zeebe

#36291 feat: add unified configuration for api long-polling
  configuration/src/main/java/io/camunda/configuration/Api.java
  configuration/src/main/java/io/camunda/configuration/Camunda.java
  configuration/src/main/java/io/camunda/configuration/LongPolling.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/GatewayBasedPropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beans/GatewayBasedProperties.java
  configuration/src/main/java/io/camunda/configuration/beans/LegacyGatewayBasedProperties.java
  configuration/src/test/java/io/camunda/configuration/ApiLongPollingTest.java
  dist/src/main/java/io/camunda/application/StandaloneGateway.java
  dist/src/main/java/io/camunda/application/StandaloneOperate.java
  dist/src/main/java/io/camunda/application/StandaloneTasklist.java
  dist/src/main/java/io/camunda/application/commons/configuration/GatewayBasedConfiguration.java
  dist/src/test/java/io/camunda/application/commons/security/CamundaSecurityConfigurationTest.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/TestApplication.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/apps/modules/ModulesTestApplication.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TestApplication.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/apps/modules/ModulesTestApplication.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneGateway.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#36420 fix: deserialize optimize import entities API request body
  optimize/backend/src/main/java/io/camunda/optimize/rest/PublicApiRestService.java
Labels: component/optimize

#36450 Fix broken ad-hoc sub-process incident tests
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobBasedAdHocSubProcessTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/incident/AdHocSubProcessIncidentTest.java
Labels: component/zeebe

#36224 refactor: Convert OAuth2Authentication Tokens into a CamundaAuthentication
  authentication/pom.xml
  authentication/src/main/java/io/camunda/authentication/CamundaJwtAuthenticationConverter.java
  authentication/src/main/java/io/camunda/authentication/CamundaJwtAuthenticationToken.java
  authentication/src/main/java/io/camunda/authentication/CamundaOAuthPrincipalService.java
  authentication/src/main/java/io/camunda/authentication/CamundaOidcUserService.java
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/converter/DefaultCamundaAuthenticationConverter.java
  authentication/src/main/java/io/camunda/authentication/converter/OidcTokenAuthenticationConverter.java
  authentication/src/main/java/io/camunda/authentication/converter/OidcUserAuthenticationConverter.java
  authentication/src/main/java/io/camunda/authentication/converter/TokenClaimsConverter.java
  authentication/src/main/java/io/camunda/authentication/entity/AuthenticationContext.java
  authentication/src/main/java/io/camunda/authentication/entity/CamundaJwtUser.java
  authentication/src/main/java/io/camunda/authentication/entity/CamundaOAuthPrincipal.java
  authentication/src/main/java/io/camunda/authentication/entity/CamundaOidcUser.java
  authentication/src/main/java/io/camunda/authentication/entity/CamundaPrincipal.java
  authentication/src/main/java/io/camunda/authentication/entity/OAuthContext.java
  authentication/src/main/java/io/camunda/authentication/holder/HttpSessionBasedAuthenticationHolder.java
  authentication/src/main/java/io/camunda/authentication/service/OidcCamundaUserService.java
  authentication/src/test/java/io/camunda/authentication/CamundaOidcUserServiceTest.java
  authentication/src/test/java/io/camunda/authentication/OidcCamundaUserServiceTest.java
  authentication/src/test/java/io/camunda/authentication/config/OidcWebSecurityConfigTest.java
  authentication/src/test/java/io/camunda/authentication/config/controllers/TestCamundaOAuthPrincipalService.java
  authentication/src/test/java/io/camunda/authentication/config/controllers/WebSecurityOidcTestContext.java
  authentication/src/test/java/io/camunda/authentication/converter/DefaultCamundaAuthenticationConverterTest.java
  authentication/src/test/java/io/camunda/authentication/converter/OidcTokenAuthenticationConverterTest.java
  authentication/src/test/java/io/camunda/authentication/converter/OidcUserAuthenticationConverterTest.java
  authentication/src/test/java/io/camunda/authentication/converter/TokenClaimsConverterTest.java
  authentication/src/test/java/io/camunda/authentication/converter/UsernamePasswordAuthenticationTokenConverterTest.java
  authentication/src/test/java/io/camunda/authentication/service/OidcCamundaUserServiceTest.java
  authentication/src/test/java/io/camunda/authentication/session/WebSessionMapperTest.java
  dist/src/main/java/io/camunda/application/commons/rest/RestApiConfiguration.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/AbstractUserService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/UserService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/consolidatedAuth/ConsolidatedAuthenticationUserService.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#36456 deps: update awssdk for operate 8.5
  operate/pom.xml
Labels: component/operate

#36438 Include identity setup in recorded records stream
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeDefaultsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
Labels: component/zeebe

#36387 fix bo legacy status mapping
  clients/java/src/main/java/io/camunda/client/api/search/enums/BatchOperationState.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateProcessInstanceAddVariableIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateProcessInstanceCancellationIT.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/entity/BatchOperationEntityTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/entity/BatchOperationEntityTransformerTest.java
  search/search-domain/src/main/java/io/camunda/search/entities/BatchOperationEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operation/BatchOperationEntity.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe, component/c8-api

#36491 fix: Fix Tasklist local ES setup
  tasklist/config/env_setup.sh
  tasklist/config/envs/.env.database.elasticsearch
Labels: component/tasklist

#36497 test: fix flaky Tasklist BackupRestoreTest
  tasklist/qa/backup-restore-tests/pom.xml
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/generator/AbstractBackupRestoreDataGenerator.java
Labels: component/tasklist

#36511 Fix Operate version in 8.6 CI smoke test
  .github/workflows/optimize-deploy-artifacts.yml
Labels: component/build-pipeline, component/optimize

#36507 test: fix flaky backup restore tests
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/TasklistAPICaller.java
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/generator/AbstractBackupRestoreDataGenerator.java
Labels: component/tasklist

#36418 feat: add validation for required fields in create authorization modal
  identity/client/src/pages/authorizations/modals/AddModal.tsx
  identity/client/src/pages/authorizations/modals/OwnerSelection/OwnerSelection.tsx
  identity/client/src/pages/authorizations/modals/OwnerSelection/index.tsx
  identity/client/src/utility/localization/en/authorizations.json
Labels: component/identity

#36428 feat: add validation for required fields in role & tenant creation mo…
  identity/client/src/pages/roles/modals/AddModal.tsx
  identity/client/src/pages/tenants/modals/AddModal.tsx
  identity/client/src/utility/localization/en/roles.json
  identity/client/src/utility/localization/en/tenants.json
Labels: component/identity

#36226 feat: improve `DropdownSearch` behavior
  identity/client/package.json
  identity/client/src/components/form/DropdownSearch.tsx
  identity/client/src/pages/groups/detail/mapping-rules/AssignMappingRulesModal.tsx
  identity/client/src/pages/groups/detail/members/AssignMembersModal.tsx
  identity/client/src/pages/groups/detail/roles/AssignRolesModal.tsx
  identity/client/src/pages/roles/detail/groups/AssignGroupsModal.tsx
  identity/client/src/pages/roles/detail/mapping-rules/AssignMappingRulesModal.tsx
  identity/client/src/pages/roles/detail/members/AssignMembersModal.tsx
  identity/client/src/pages/tenants/detail/groups/AssignGroupsModal.tsx
  identity/client/src/pages/tenants/detail/mapping-rules/AssignMappingRulesModal.tsx
  identity/client/src/pages/tenants/detail/members/AssignMembersModal.tsx
  identity/client/src/pages/tenants/detail/roles/AssignRolesModal.tsx
  identity/client/src/utility/api/mapping-rules/index.ts
  identity/client/src/utility/api/roles/index.ts
  identity/client/yarn.lock
Labels: component/frontend, component/identity

#36534 Bump zeebe and identity versions for release 8.7.7
  optimize/backend/pom.xml
  optimize/pom.xml
Labels: component/optimize

#36542 Bump zeebe and identity versions for release 8.6.14
  optimize/backend/pom.xml
  optimize/pom.xml
Labels: component/optimize

#36532 ci: add release branch patterns to license scanning
  .github/workflows/check-licenses.yml
Labels: component/build-pipeline

#36552 feat: generate upgrade plan for next release of 8.7.8
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/plan/factories/Upgrade877To878PlanFactory.java
Labels: component/optimize

#36529 fix: skip exporting not initialized usage metric bucket
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/metrics/UsageMetricsExportProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UsageMetricsExportedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/metrics/PersistedUsageMetrics.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/metrics/UsageMetricsExportProcessorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/UsageMetricsExportedApplierTest.java
  zeebe/engine/src/test/resources/state/appliers/golden/UsageMetric_EXPORTED_v1.golden
Labels: component/zeebe

#36566 [Backport stable/optimize-8.7] ci: add release branch patterns to license scanning
  .github/workflows/check-licenses.yml
Labels: component/build-pipeline

#36563 [Backport stable/8.6] ci: add release branch patterns to license scanning
  .github/workflows/check-licenses.yml
Labels: component/build-pipeline

#36573 [Backport main] feat: Enable configurable priority for zeebe-record Index templates
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporterConfiguration.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/TemplateReader.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/dto/Template.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterIT.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterTest.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterConfiguration.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/TemplateReader.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/dto/Template.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#36305 Prevent finished instances operations
  operate/client/src/App/Dashboard/InstancesByProcess/index.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/tests/multiInstanceSubprocess.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/v2/multiInstanceSubprocess.test.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/useOperationApply/index.setup.ts
  operate/client/src/App/Processes/ListView/InstancesTable/useOperationApply/index.test.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/useOperationApply/index.ts
  operate/client/src/modules/stores/flowNodeInstance/tests/index.test.ts
  operate/client/src/modules/stores/processInstancesSelection.ts
  operate/client/src/modules/testUtils/dateTimeRange.ts
  operate/client/src/modules/testUtils/selectComboBoxOption.ts
Labels: kind/bug, component/operate, component/frontend

#36567 Release/optimize 8.7.7
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/plan/factories/Upgrade877To878PlanFactory.java
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Labels: component/optimize

#36559 Release 8.8.0 alpha7 update zeebe and identity versions
  optimize-distro/pom.xml
  optimize/pom.xml
  optimize/upgrade/pom.xml
Labels: component/optimize

#36431 Complete ad-hoc sub-process on job completion if completion condition is marked a fulfilled
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/BpmnProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessInstructionCompleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnAdHocSubProcessBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnBehaviorsImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/AdHocSubProcessProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobCompleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/AdHocSubProcessInstructionCompletedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/ElementInstance.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobBasedAdHocSubProcessTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/AdHocSubProcessInstructionCompletedApplierTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/RecordToWrite.java
  zeebe/engine/src/test/resources/state/appliers/golden/AdHocSubProcessInstruction_COMPLETED_v1.golden
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-ad-hoc-sub-process-instruction-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-ad-hoc-sub-process-instruction-template.json
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/adhocsubprocess/AdHocSubProcessInstructionRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/AdHocSubProcessInstructionIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AdHocSubProcessInstructionRecordValue.java
Labels: component/zeebe

#36393 fix: change to skip group existence check
  qa/acceptance-tests/src/test/java/io/camunda/it/client/RolesByGroupIntegrationTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/RoleAddEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/RoleRemoveEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantAddEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantRemoveEntityProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/role/RoleTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/tenant/AddEntityTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AssignGroupToTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UnassignGroupFromTenantTest.java
Labels: component/zeebe

#36593 Release/optimize 8.6.14
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/plan/factories/Upgrade8614To8615PlanFactory.java
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Labels: component/optimize

#36538 ci: remove unused Optimize generate-changelog composite action (security)
  .github/actions/generate-changelog/README.md
  .github/actions/generate-changelog/action.yml
  .github/actions/generate-changelog/defaultChangelogConfig.json
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#36523 feat: Spring SDK properties reference
  clients/java/src/main/java/io/camunda/client/api/worker/JobWorkerBuilderStep1.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientBuilderImpl.java
  clients/java/src/main/java/io/camunda/client/impl/oauth/OAuthCredentialsProviderBuilder.java
  clients/spring-boot-starter-camunda-sdk/pom.xml
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/configuration/CamundaClientAllAutoConfiguration.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/configuration/CamundaClientProdAutoConfiguration.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/configuration/ExecutorServiceConfiguration.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/configuration/SpringCamundaClientConfiguration.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientAuthClientAssertionProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientAuthProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientCloudProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientDeploymentProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientJobWorkerProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientWorkerProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaSelfManagedProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CommonConfigurationProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/PropertyBasedJobWorkerValueCustomizer.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/ZeebeClientConfigurationProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/common/ApiProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/common/Client.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/common/IdentityProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/common/Keycloak.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/common/ZeebeClientProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  clients/spring-boot-starter-camunda-sdk/src/main/resources/camunda-client-legacy-property-mappings.properties
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/CamundaClientPropertiesTestConfig.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/config/SpringCamundaClientConfigurationSaasTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/config/SpringCamundaClientConfigurationSelfManagedTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/config/SpringCamundaClientConfigurationTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/configurationMetadata/AlignmentTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/configurationMetadata/FormattingTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/properties/CamundaClientAuthMethodsTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/properties/CamundaClientModesTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/properties/CamundaClientModesWithAuthMethodsTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/properties/CamundaClientPropertiesPostProcessorTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/properties/PropertiesPostProcessorLoggingTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/properties/PropertyBasedJobWorkerValueCustomizerTest.java
Labels: component/zeebe

#36509 feat: add document resource type with permissions
  clients/java/src/main/java/io/camunda/client/api/search/enums/ResourceType.java
  identity/client/src/pages/authorizations/modals/AddModal.tsx
  identity/client/src/utility/api/authorizations/index.ts
  identity/client/src/utility/localization/en/authorizations.json
  security/security-protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AuthorizationResourceType.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeDefaultsTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteredDataDeletionTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteredSnapshotTest.java
Labels: component/zeebe, component/c8-api, component/identity

#36618 Release 8.8.0 alpha7 add mvn release:clean to workflow
  .github/workflows/optimize-release-optimize-c8-only.yml
  optimize-distro/pom.xml
  optimize/upgrade/pom.xml
Labels: component/build-pipeline, component/optimize

#36624 Release 8.8.0 update ci release notes step
  .github/workflows/optimize-release-optimize-c8-only.yml
  optimize-distro/pom.xml
  optimize/upgrade/pom.xml
Labels: component/build-pipeline, component/optimize

#36625 ci: reposition clean release step
  .github/workflows/optimize-release-optimize-c8-only.yml
Labels: component/build-pipeline, component/optimize

#36626 ci: use mvnw instead mvn
  .github/workflows/optimize-release-optimize-c8-only.yml
Labels: component/build-pipeline, component/optimize

#36535 feat: added spring sdk to bom
  bom/README.md
  bom/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#36576 fix: reset permissions selected when resource type changes
  identity/client/src/pages/authorizations/modals/AddModal.tsx
Labels: component/frontend, component/identity

#36468 refactor: add @Hidden annotation to undocumented endpoint
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/authentication/SaaSTokenController.java
Labels: component/zeebe, component/c8-api

#36518 Remove duplicated e2e tests and utils from identity FE in favor of new QA OC test suite
  .github/workflows/identity-e2e-tests.yml
  identity/client/.gitignore
  identity/client/e2e/eslint.config.js
  identity/client/e2e/pages/AuthorizationsPage.ts
  identity/client/e2e/pages/GroupsPage.ts
  identity/client/e2e/pages/Header.ts
  identity/client/e2e/pages/LoginPage.ts
  identity/client/e2e/pages/MappingRulesPage.ts
  identity/client/e2e/pages/RolesPage/RolesDetailsPage.ts
  identity/client/e2e/pages/RolesPage/RolesPage.ts
  identity/client/e2e/pages/TenantsPage.ts
  identity/client/e2e/pages/UsersPage.ts
  identity/client/e2e/tests/authorizations.spec.ts
  identity/client/e2e/tests/groups.spec.ts
  identity/client/e2e/tests/login.spec.ts
  identity/client/e2e/tests/mappings.spec.ts
  identity/client/e2e/tests/roles.spec.ts
  identity/client/e2e/tests/tenants.spec.ts
  identity/client/e2e/tests/users.spec.ts
  identity/client/e2e/text-fixtures.ts
  identity/client/e2e/utils/constants.ts
  identity/client/e2e/utils/createFixture.ts
  identity/client/e2e/utils/paths.ts
  identity/client/e2e/utils/relativizePaths.ts
  identity/client/e2e/utils/waitForItemInList.ts
  identity/client/eslint.config.js
  identity/client/package.json
  identity/client/playwright.config.ts
  identity/client/yarn.lock
Labels: component/build-pipeline, component/frontend, component/identity, qa/c8-orchestration-cluster-e2e-test-suite

#36612 fix: add missing AD_HOC_SUB_PROCESS JobKind in gateway-protocol
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/ResponseMapperTest.java
  zeebe/gateway-protocol/src/main/proto/gateway.proto
Labels: component/zeebe

#36660 fix: update version to 8.6.24
  c8run/.env
Labels: component/c8run

#36654 docs: fix visual regression readme
  operate/README.md
  tasklist/README.md
Labels: component/operate, component/tasklist

#36347 Allow configuring benchmark application for OAuth
  zeebe/benchmarks/project/src/main/java/io/camunda/zeebe/App.java
  zeebe/benchmarks/project/src/main/java/io/camunda/zeebe/config/AuthCfg.java
  zeebe/benchmarks/project/src/main/resources/application.conf
  zeebe/benchmarks/project/src/test/java/io/camunda/zeebe/config/ConfigTest.java
  zeebe/benchmarks/project/src/test/resources/different-application.conf
Labels: component/zeebe

#36452 feat: focus first field in create authorization modal
  identity/client/src/pages/authorizations/AuthorizationsList.tsx
  identity/client/src/pages/authorizations/modals/add-modal/AddModal.tsx
  identity/client/src/pages/authorizations/modals/add-modal/index.ts
  identity/client/src/pages/authorizations/modals/add-modal/useDropdownAutoFocus.tsx
  identity/client/src/pages/authorizations/modals/owner-selection/OwnerSelection.tsx
  identity/client/src/pages/authorizations/modals/owner-selection/index.tsx
Labels: component/identity

#36651 fix: add favicon and load via relative path for identity
  .gitignore
  identity/client/index.html
  identity/client/public/favicon.ico
Labels: component/identity

#36498 fix: update affected token count calculation logic
  operate/client/src/App/ProcessInstance/TopPanel/index.tsx
Labels: component/operate

#36603 Authorizations must be plural
  dist/src/main/config/application.yaml
  dist/src/test/java/io/camunda/application/commons/DefaultConfigurationTest.java
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/BackupRestoreTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#36560 feat: apply authorization checks to document service class
  dist/src/main/java/io/camunda/application/commons/service/CamundaServicesConfiguration.java
  security/security-core/src/main/java/io/camunda/security/auth/Authorization.java
  service/pom.xml
  service/src/main/java/io/camunda/service/DocumentServices.java
  service/src/test/java/io/camunda/service/DocumentServicesTest.java
Labels: component/zeebe, component/operate, component/c8-api, component/tasklist, component/identity, component/optimize

#35848 feat: Add RDBMS exporter for message subscription
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/RdbmsService.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/MessageSubscriptionDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/mapper/MessageSubscriptionEntityMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/MessageSubscriptionDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/MessageSubscriptionMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/columns/MessageSubscriptionColumn.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriterFactory.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/MessageSubscriptionDbModel.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/queue/ContextType.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/MessageSubscriptionWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/RdbmsPurger.java
  db/rdbms/src/main/resources/mapper/MessageSubscriptionMapper.xml
  db/rdbms/src/test/java/io/camunda/db/rdbms/read/mapper/MessageSubscriptionEntityMapperTest.java
  db/rdbms/src/test/java/io/camunda/db/rdbms/sql/columns/SearchColumnTest.java
  dist/src/main/java/io/camunda/application/commons/rdbms/MyBatisConfiguration.java
  dist/src/main/java/io/camunda/application/commons/rdbms/RdbmsConfiguration.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/exporter/RdbmsExporterIT.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterWrapper.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/MessageSubscriptionExportHandler.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#36569 update tasklist component template with configured number of shards and replicas
  tasklist/common/src/main/java/io/camunda/tasklist/property/ElasticsearchProperties.java
  tasklist/common/src/main/java/io/camunda/tasklist/property/OpenSearchProperties.java
  tasklist/common/src/main/java/io/camunda/tasklist/property/TasklistElasticsearchProperties.java
  tasklist/common/src/main/java/io/camunda/tasklist/property/TasklistOpenSearchProperties.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/es/IndexSchemaValidatorElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/es/RetryElasticsearchClient.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/os/IndexSchemaValidatorOpenSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/os/RetryOpenSearchClient.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/IndexSchemaValidator.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/SchemaStartup.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/ElasticsearchSchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/OpenSearchSchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/SchemaManager.java
  tasklist/els-schema/src/test/java/io/camunda/tasklist/schema/manager/OpenSearchSchemaManagerTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/ReindexOpenSearchIT.java
Labels: component/tasklist, backport stable/8.6

#36683 [Backport stable/8.6] update tasklist component template with configured number of shards and replicas
  tasklist/common/src/main/java/io/camunda/tasklist/property/ElasticsearchProperties.java
  tasklist/common/src/main/java/io/camunda/tasklist/property/OpenSearchProperties.java
  tasklist/common/src/main/java/io/camunda/tasklist/property/TasklistElasticsearchProperties.java
  tasklist/common/src/main/java/io/camunda/tasklist/property/TasklistOpenSearchProperties.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/es/IndexSchemaValidatorElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/es/RetryElasticsearchClient.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/os/IndexSchemaValidatorOpenSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/os/RetryOpenSearchClient.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/IndexSchemaValidator.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/SchemaStartup.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/ElasticsearchSchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/OpenSearchSchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/SchemaManager.java
  tasklist/els-schema/src/test/java/io/camunda/tasklist/schema/manager/OpenSearchSchemaManagerTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/ReindexOpenSearchIT.java
Labels: component/tasklist

#36678 test: increase backup timeout to avoid flaky test
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/ContinuousBackupIT.java
Labels: component/zeebe

#36698 test: fix Operate visual regression tsconfig
  operate/client/.gitignore
  operate/client/e2e-playwright/api/zeebe-grpc.ts
  operate/client/e2e-playwright/mocks/dashboard.mocks.ts
  operate/client/e2e-playwright/mocks/decisionInstance.mocks.ts
  operate/client/e2e-playwright/mocks/decisions.mocks.ts
  operate/client/e2e-playwright/mocks/processInstance/compensationProcessInstance.mocks.ts
  operate/client/e2e-playwright/mocks/processInstance/completedInstance.mocks.ts
  operate/client/e2e-playwright/mocks/processInstance/completedOrderProcessInstance.mocks.ts
  operate/client/e2e-playwright/mocks/processInstance/eventBasedGatewayProcessInstance.mocks.ts
  operate/client/e2e-playwright/mocks/processInstance/index.ts
  operate/client/e2e-playwright/mocks/processInstance/orderProcessInstance.mocks.ts
  operate/client/e2e-playwright/mocks/processes.mocks.ts
  operate/client/e2e-playwright/pages/Common.ts
  operate/client/e2e-playwright/pages/Dashboard.ts
  operate/client/e2e-playwright/pages/DecisionInstance.ts
  operate/client/e2e-playwright/pages/Decisions.ts
  operate/client/e2e-playwright/pages/Login.ts
  operate/client/e2e-playwright/pages/ProcessInstance.ts
  operate/client/e2e-playwright/pages/Processes/FiltersPanel.ts
  operate/client/e2e-playwright/pages/Processes/MigrationView.ts
  operate/client/e2e-playwright/pages/Processes/Processes.ts
  operate/client/e2e-playwright/pages/components/DeleteResourceModal.ts
  operate/client/e2e-playwright/pages/components/MigrationModal.ts
  operate/client/e2e-playwright/pages/components/MoveModificationModal.ts
  operate/client/e2e-playwright/tests/e2e.setup.ts
  operate/client/e2e-playwright/tests/processInstanceHistory.mocks.ts
  operate/client/e2e-playwright/tsconfig.json
  operate/client/e2e-playwright/types.ts
  operate/client/e2e-playwright/utils/openFile.ts
  operate/client/e2e-playwright/visual-fixtures.ts
  operate/client/tsconfig.json
Labels: component/operate

#36075 Introduce scopeKey Filter for Element Instance Search Endpoint (Document-Based Backend)
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/mapper/FlowNodeInstanceEntityMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/FlowNodeInstanceDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/FlowNodeInstanceMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/FlowNodeInstanceDbModel.java
  db/rdbms/src/main/resources/mapper/FlowNodeInstanceMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/elementinstance/ElementInstanceIT.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/reader/FlowNodeInstanceDocumentReader.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/entity/FlowNodeInstanceEntityTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/FlownodeInstanceFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/FlowNodeInstanceFilterTest.java
  search/search-domain/src/main/java/io/camunda/search/entities/FlowNodeInstanceEntity.java
  search/search-domain/src/main/java/io/camunda/search/filter/FlowNodeInstanceFilter.java
  service/src/main/java/io/camunda/service/ElementInstanceServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ElementInstanceQueryControllerTest.java
Labels: component/zeebe, component/c8-api

#36380 Add configurable identifier pattern
  dist/src/main/java/io/camunda/application/commons/security/CamundaSecurityConfiguration.java
  dist/src/test/java/io/camunda/application/commons/security/CamundaSecurityConfigurationTest.java
  security/security-core/src/main/java/io/camunda/security/configuration/InitializationConfiguration.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/setup/SetupController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingRuleController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/GroupRequestValidator.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/IdentifierPatterns.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/IdentifierValidator.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/MappingRuleRequestValidator.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/RoleRequestValidator.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/TenantRequestValidator.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/UserRequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/setup/SetupControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantRequestValidatorTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingRuleControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingRuleQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserQueryControllerTest.java
Labels: component/zeebe, component/operate, component/c8-api, component/tasklist, component/optimize

#36433 Add scopeKey filter support to Element Instance Search (RDBMS)
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/FlowNodeInstanceDbModel.java
  db/rdbms/src/main/resources/mapper/FlowNodeInstanceMapper.xml
  db/rdbms/src/test/java/io/camunda/db/rdbms/read/mapper/FlowNodeInstanceEntityMapperTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/elementinstance/ElementInstanceIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/elementinstance/ElementInstanceSpecificFilterIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/ElementInstanceFixtures.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/FlowNodeExportHandler.java
Labels: component/zeebe, component/c8-api

#36707 [Backport stable/8.6] Unable to deploy process with boundary event without outgoing flows
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/BoundaryEventValidator.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeBoundaryEventValidationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/boundary/BoundaryEventWithoutOutgoingSequenceFlowTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/compensation/CompensationEventTest.java
Labels: component/zeebe

#36415 test: enhance e2e for usage metrics tu
  qa/acceptance-tests/src/test/java/io/camunda/it/client/UsageMetricsTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/metrics/UsageMetricsExportProcessor.java
Labels: component/zeebe

#36700 fix: prevent random ID of custom filters from breaking Tasklist
  tasklist/client/src/common/tasks/available-tasks/CollapsiblePanel/CustomFiltersModal/index.tsx
Labels: component/tasklist, backport stable/8.6, backport stable/8.7

#36722 [Backport stable/8.7] fix: prevent random ID of custom filters from breaking Tasklist
  tasklist/client/src/Tasks/CollapsiblePanel/CustomFiltersModal/index.tsx
Labels: component/tasklist

#36721 [Backport stable/8.6] fix: prevent random ID of custom filters from breaking Tasklist
  tasklist/client/src/Tasks/CollapsiblePanel/CustomFiltersModal/index.tsx
Labels: component/tasklist

#36234 fix: catch Throwable to ensure all possible errors are caught in JobRunnableFactory
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/mock/JobWorkerMockBuilderImpl.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/mock/JobWorkerMockImpl.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/impl/extensions/CamundaProcessTestContextIT.java
Labels: component/zeebe, deprecated-client

#36704 feat: Refine message subscription search
  clients/java/src/main/java/io/camunda/client/api/search/filter/MessageSubscriptionFilter.java
  clients/java/src/main/java/io/camunda/client/api/search/sort/MessageSubscriptionSort.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/MessageSubscriptionFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/sort/MessageSubscriptionSortImpl.java
  clients/java/src/test/java/io/camunda/client/messagesubscription/SearchMessageSubscriptionTest.java
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriter.java
  db/rdbms/src/main/resources/mapper/MessageSubscriptionMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/client/MessageSubscriptionSearchTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/sort/MessageSubscriptionFieldSortingTransformer.java
  search/search-domain/src/main/java/io/camunda/search/sort/MessageSubscriptionSort.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/MessageSubscriptionExportHandler.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/MessageSubscriptionQueryControllerTest.java
Labels: component/zeebe, component/c8-api

#36442 feat: add support for mapping sequence flows in instance migration
  operate/client/e2e-playwright/docs-screenshots/process-instance-migration.spec.ts
  operate/client/e2e-playwright/pages/Processes/MigrationView.ts
  operate/client/e2e-playwright/tests/processInstanceMigration.spec.ts
  operate/client/e2e-playwright/visual/migration.spec.ts-snapshots/migration-view-initial-migration-view-1-visual-dark-linux.png
  operate/client/e2e-playwright/visual/migration.spec.ts-snapshots/migration-view-initial-migration-view-1-visual-light-linux.png
  operate/client/src/App/Processes/ListView/DiagramPanel/v2/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/BatchModificationFooter/BatchModificationSummaryModal/v2/index.test.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/BatchModificationFooter/BatchModificationSummaryModal/v2/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/BatchModificationFooter/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/BatchModificationFooter/tests/index.test.tsx
  operate/client/src/App/Processes/MigrationView/BottomPanel/index.test.tsx
  operate/client/src/App/Processes/MigrationView/BottomPanel/index.tsx
  operate/client/src/App/Processes/MigrationView/BottomPanel/styled.tsx
  operate/client/src/App/Processes/MigrationView/BottomPanel/tests/mocks.tsx
  operate/client/src/App/Processes/MigrationView/BottomPanel/tests/sequenceFlows.test.tsx
  operate/client/src/App/Processes/MigrationView/Footer/index.test.tsx
  operate/client/src/App/Processes/MigrationView/Footer/index.tsx
  operate/client/src/App/Processes/MigrationView/MigrationSummaryNotification/index.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/TargetProcessField.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/TargetVersionField.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/tests/mocks.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/v2/SourceDiagram.test.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/v2/SourceDiagram.tsx
  operate/client/src/App/Processes/MigrationView/TopPanel/Diagrams/v2/TargetDiagram.tsx
  operate/client/src/modules/mocks/diagrams/SequenceFlowMigration_v1.bpmn
  operate/client/src/modules/mocks/diagrams/SequenceFlowMigration_v2.bpmn
  operate/client/src/modules/mocks/diagrams/instanceMigration.bpmn
  operate/client/src/modules/mocks/diagrams/instanceMigration_v2.bpmn
  operate/client/src/modules/queries/processDefinitions/useMigrationSourceXml.ts
  operate/client/src/modules/queries/processDefinitions/useMigrationTargetXml.ts
  operate/client/src/modules/stores/batchModification.test.ts
  operate/client/src/modules/stores/batchModification.ts
  operate/client/src/modules/stores/processInstanceMigration.test.ts
  operate/client/src/modules/stores/processInstanceMigration.ts
  operate/client/src/modules/stores/processInstanceMigrationMapping.ts
  operate/client/src/modules/utils/sequenceFlows.ts
Labels: component/operate

#36677 Add assign client to tenant command to Java client
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/AssignClientToTenantCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/response/AssignClientToTenantResponse.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/AssignClientToTenantCommandImpl.java
  clients/java/src/test/java/io/camunda/client/tenant/AssignClientToTenantTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/TenantAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/ClientsByTenantIntegrationTest.java
Labels: component/zeebe, component/c8-api

#36633 feat: backport changes from 36305 to stable 8.7
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/useOperationApply/index.setup.ts
  operate/client/src/App/Processes/ListView/InstancesTable/useOperationApply/index.test.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/useOperationApply/index.ts
  operate/client/src/modules/stores/processInstancesSelection.ts
Labels: component/operate

#36634 feat: backport changes from 36305 to stable 8.6
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/useOperationApply/index.setup.ts
  operate/client/src/App/Processes/ListView/InstancesTable/useOperationApply/index.test.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/useOperationApply/index.ts
  operate/client/src/modules/stores/processInstancesSelection.ts
Labels: component/operate

#36740 docs: clarify filter method chaining in Java client
  clients/java/src/main/java/io/camunda/client/api/search/request/TypedFilterableRequest.java
Labels: component/zeebe

#36691 feat: retry batch operation initialization query on secondary db fail
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/SystemContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/engine/BatchOperationCfg.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/engine/EngineCfg.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/SystemContextTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/EngineConfiguration.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionScheduler.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationInitializer.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/AbstractBatchOperationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionSchedulerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/ExecuteBatchOperationTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#36696 feat: rename resource type 'application' to 'component'
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/entity/CamundaUserDTO.java
  authentication/src/main/java/io/camunda/authentication/filters/WebComponentAuthorizationCheckFilter.java
  authentication/src/main/java/io/camunda/authentication/service/BasicCamundaUserService.java
  authentication/src/main/java/io/camunda/authentication/service/OidcCamundaUserService.java
  authentication/src/test/java/io/camunda/authentication/service/BasicCamundaUserServiceTest.java
  authentication/src/test/java/io/camunda/authentication/service/OidcCamundaUserServiceTest.java
  clients/java/src/main/java/io/camunda/client/api/search/enums/ResourceType.java
  identity/client/src/pages/authorizations/modals/add-modal/AddModal.tsx
  identity/client/src/utility/api/authorizations/index.ts
  identity/client/src/utility/localization/en/authorizations.json
  migration/identity-migration/src/main/java/io/camunda/migration/identity/config/saas/StaticEntities.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/config/sm/StaticEntities.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/handler/sm/ClientMigrationHandlerTest.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/handler/sm/KeycloakRoleMigrationHandlerTest.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/handler/sm/OidcRoleMigrationHandlerTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/ApplicationAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/KeycloakIdentityMigrationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/OidcIdentityMigrationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/SaaSIdentityMigrationIT.java
  security/security-protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AuthorizationResourceType.java
  security/security-services/src/test/java/io/camunda/security/impl/AuthorizationCheckerTest.java
  service/src/main/java/io/camunda/service/authorization/Authorizations.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeDefaultsTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
Labels: component/zeebe, component/c8-api, component/identity

#36746 Raise an incident on ad-hoc sub-process inner completion if the output collection variable is not an array
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/AdHocSubProcessOutputCollectionBehavior.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobBasedAdHocSubProcessTest.java
Labels: component/zeebe

#36723 ci: better check-results error message
  .github/workflows/ci.yml
Labels: component/build-pipeline

#36770 [Backport stable/8.7] Add headers to ping request.
  dist/src/main/java/io/camunda/application/commons/console/ping/PingConsoleTask.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#36714 feat: Add support for usage metrics OS/ES indices cleanup
  dist/src/main/resources/application-elasticsearch.yaml
  dist/src/main/resources/application-opensearch.yaml
  qa/util/src/main/java/io/camunda/qa/util/multidb/MultiDbConfigurator.java
  qa/util/src/test/java/io/camunda/qa/util/multidb/MultiDbConfiguratorTest.java
  schema-manager/src/main/java/io/camunda/search/schema/SchemaManager.java
  schema-manager/src/main/java/io/camunda/search/schema/config/RetentionConfiguration.java
  schema-manager/src/test/java/io/camunda/search/schema/SchemaManagerIT.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepository.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepositoryIT.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#36779 deps: Update dependency com.nimbusds:nimbus-jose-jwt to v10.0.2
  parent/pom.xml
Labels: component/zeebe, component/operate

#36776 deps: Update dependency com.nimbusds:nimbus-jose-jwt to v10.0.2
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#36788 refactor: remove usage metric resource & add permission
  clients/java/src/main/java/io/camunda/client/api/search/enums/PermissionType.java
  clients/java/src/main/java/io/camunda/client/api/search/enums/ResourceType.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/UsageMetricAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/SaaSIdentityMigrationIT.java
  security/security-core/src/main/java/io/camunda/security/auth/Authorization.java
  security/security-protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AuthorizationResourceType.java
  security/security-protocol/src/main/java/io/camunda/zeebe/protocol/record/value/PermissionType.java
  service/src/main/java/io/camunda/service/UsageMetricsServices.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/IdentitySetupInitializer.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeDefaultsTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe, component/c8-api

#36735 fix: properly query BigQuery DB to fetch user_description and do not notify on known issue
  .github/workflows/statistics-daily.yml
  .github/workflows/statistics-weekly.yml
Labels: component/build-pipeline

#34563 [Backport stable/8.7] Fix `CompletableActorFuture.andThen` methods to catch exceptions and complete futures exceptionally
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/future/CompletableActorFuture.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/functional/ActorFutureTest.java
Labels: component/zeebe, backport stable/8.6

#36809 [Backport stable/8.6] [Backport stable/8.7] feat: introduce onSuccess,onError callbacks implemented with onComplete
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/future/ActorFuture.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/future/CompletableActorFuture.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/functional/ActorFutureTest.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/TestActorFuture.java
Labels: component/zeebe

#36813 [Backport stable/8.6] [Backport stable/8.7] Fix `CompletableActorFuture.andThen` methods to catch exceptions and complete futures exceptionally
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/future/CompletableActorFuture.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/functional/ActorFutureTest.java
Labels: component/zeebe

#36806 [Backport stable/8.7] feat: HealthMonitor reports arbitrarily nested component in a tree-like structure
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftTest.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/BrokerAdminServiceEndpoint.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/BrokerAdminServiceImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/HealthTree.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/PartitionStatus.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/BrokerHealthCheckService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionHealthBroadcaster.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionHealth.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/AsyncSnapshotDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/PartitionTransitionProcess.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/management/HealthTreeTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/management/BrokerAdminServiceEndpointTest.java
  zeebe/scheduler/pom.xml
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/ActorControl.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/health/CriticalComponentsHealthMonitor.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/health/CriticalComponentsHealthMonitorTest.java
  zeebe/scheduler/src/test/resources/log4j2-test.xml
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorHealthTest.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/health/FailureListener.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/health/HealthIssue.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/health/HealthReport.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/health/HealthStatus.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/health/HealthReportTest.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/health/HealthStatusTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, backport stable/8.6

#36825 [Backport stable/8.6] [Backport stable/8.7] feat: HealthMonitor reports arbitrarily nested component in a tree-like structure
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftTest.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/BrokerAdminServiceEndpoint.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/BrokerAdminServiceImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/HealthTree.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/PartitionStatus.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/BrokerHealthCheckService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionHealthBroadcaster.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionHealth.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/AsyncSnapshotDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/PartitionTransitionProcess.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/management/HealthTreeTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/management/BrokerAdminServiceEndpointTest.java
  zeebe/scheduler/pom.xml
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/ActorControl.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/health/CriticalComponentsHealthMonitor.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/health/CriticalComponentsHealthMonitorTest.java
  zeebe/scheduler/src/test/resources/log4j2-test.xml
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorHealthTest.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/health/FailureListener.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/health/HealthIssue.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/health/HealthReport.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/health/HealthStatus.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/health/HealthReportTest.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/health/HealthStatusTest.java
Labels: component/zeebe

#36771 Rename authorizedApplications to authorizedComponents in /v2/authentication/me
  identity/client/src/components/global/AppRoot.tsx
  identity/client/src/utility/api/authentication/index.ts
  operate/client/package-lock.json
  operate/client/package.json
  operate/client/src/App/Decisions/Filters/tests/index.test.tsx
  operate/client/src/App/Decisions/InstancesTable/index.test.tsx
  operate/client/src/App/Layout/AppHeader/tests/appSwitcher.test.tsx
  operate/client/src/App/Layout/AppHeader/tests/index.test.tsx
  operate/client/src/App/Layout/AppHeader/tests/infoBar.test.tsx
  operate/client/src/App/Layout/AppHeader/tests/licenseNote.test.tsx
  operate/client/src/App/Layout/AppHeader/tests/userInfo.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/tests/restrictedUserWithResourceBasedPermissions.test.tsx
  operate/client/src/App/Processes/ListView/tests/index.test.tsx
  operate/client/src/App/Processes/MigrationView/index.test.tsx
  operate/client/src/modules/auth/AuthorizationCheck.test.tsx
  operate/client/src/modules/auth/isForbidden.test.ts
  operate/client/src/modules/auth/isForbidden.ts
  operate/client/src/modules/testUtils.tsx
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/ApplicationAuthorizationIT.java
  tasklist/client/package-lock.json
  tasklist/client/package.json
  tasklist/client/src/common/mocks/current-user.tsx
  tasklist/client/src/common/utils/isForbidden.test.ts
  tasklist/client/src/common/utils/isForbidden.ts
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/authentication/AuthenticationControllerTest.java
Labels: component/zeebe, component/operate, component/c8-api, component/tasklist, component/identity

#36777 deps: Update dependency com.nimbusds:nimbus-jose-jwt to v10.0.2
  operate/pom.xml
Labels: component/operate

#36791 Re-enable rollover tests for AWS.
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepositoryIT.java
Labels: component/zeebe

#36804 build: remove invalid npm configuration parameter
  operate/client/pom.xml
  optimize/client/pom.xml
  tasklist/client/pom.xml
Labels: component/operate, component/tasklist, component/optimize

#36843 [Backport stable/8.7] docs: remove outdated Zeebe CI docs and keep test debugging
  zeebe/docs/failing-tests.md
Labels: component/zeebe

#36846 [Backport stable/8.6] [Backport stable/8.7]: feat: when a migration is performed try to perform a snapshot immediately
  monitor/docker-compose.yml
  monitor/prometheus/prometheus.yml
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/RaftServer.java
  zeebe/broker/spotbugs/spotbugs-exclude.xml
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/Broker.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/startup/ZeebePartitionFactory.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/startup/steps/ZeebePartitionStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/BrokerHealthCheckService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/HealthTreeMetrics.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionStartupAndTransitionContextImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionStartupContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionTransitionContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/AsyncSnapshotDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/MigrationSnapshotDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/MigrationTransitionStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/SnapshotAfterMigrationTransitionStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/SnapshotDirectorPartitionTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/monitoring/BrokerHealthCheckServiceTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/monitoring/HealthTreeMetricsTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/AsyncSnapshottingTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/TestPartitionTransitionContext.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/steps/MigrationTransitionStepTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/steps/SnapshotMigrationTransitionStepTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/migration/DbMigrator.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/migration/DbMigratorImpl.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/migration/DbMigratorImplTest.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/future/CompletableActorFuture.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/health/CriticalComponentsHealthMonitor.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/functional/ActorFutureTest.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/health/CriticalComponentsHealthMonitorTest.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/TestConcurrencyControl.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessorMode.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/health/ComponentTreeListener.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/health/HealthMonitorable.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/health/HealthReport.java
Labels: component/zeebe

#36786 deps: Address CVE-2025-53864
  optimize/backend/pom.xml
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#36833 fix: change updateUser HTTP method from PATCH to PUT
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe, component/c8-api

#36807 test: replace deprecated mockbean with mockitobean
  dist/src/test/java/io/camunda/zeebe/shared/management/BackupEndpointStandaloneTest.java
  operate/importer-common/src/test/java/io/camunda/operate/zeebeimport/IncidentNotifierIT.java
  operate/importer-common/src/test/java/io/camunda/operate/zeebeimport/M2mTokenManagerIT.java
  operate/importer/src/test/java/io/camunda/operate/zeebeimport/ImportListenerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/BatchOperationWriterZeebeIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/DecisionIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/DecisionListQueryIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/FlowNodeStatisticsIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/IncidentStatisticsIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/ListViewReaderIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/OperationExecutorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/metric/ImporterMetricsMockedZeebeImportIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/metric/UsageMetricIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/ClientConfigRestServiceIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/DecisionInstanceRestServiceIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/DecisionRestServiceIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/FlowNodeInstanceRestServiceIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/HealthCheckIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/ProcessRestServiceIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/OperateAbstractIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/j5templates/OperateSearchAbstractIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/j5templates/OperateZeebeSearchAbstractIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/BackupControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/InternalAPIErrorControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/dao/DaoRfc3339SerializationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/dao/FlowNodeInstanceDaoIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/DecisionDefinitionControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/DecisionInstanceControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/DecisionRequirementsControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/FlowNodeInstanceControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/IncidentControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/ProcessDefinitionControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/ProcessInstanceQueryControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/VariableControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/AuthorizationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/DecisionZeebeImportIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/IncidentWithFailingOperationZeebeImportIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/ProcessZeebeImportIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/exporter/RdbmsTestConfiguration.java
  tasklist/importer/src/test/java/io/camunda/tasklist/zeebeimport/ImportListenerTestElasticSearch.java
  tasklist/importer/src/test/java/io/camunda/tasklist/zeebeimport/ImportListenerTestOpenSearch.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/management/HealthCheckIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/SessionlessTasklistZeebeIntegrationTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistZeebeIntegrationTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/TaskControllerIT.java
  testing/camunda-process-test-example/src/test/java/io/camunda/ProcessIntegrationTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/configuration/RestApiConfigurationTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/LicenseControllerTest.java
Labels: component/zeebe, component/operate, component/c8-api, component/tasklist, component/optimize

#36862 fix: daily CI notification adjustments
  .ci/scripts/ci/setup-medic-lookup.sh
  .github/workflows/ci.yml
  .github/workflows/statistics-daily.yml
  .github/workflows/statistics-weekly.yml
Labels: component/build-pipeline

#36810 test: replace deprecated spybean with mockitospybean
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/BackupControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/es/writer/OperationFailureZeebeIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/IncidentWithFailingOperationZeebeImportIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/ProcessCacheZeebeImportIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/zeebeimport/ProcessCacheIT.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerLongPollingTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerRoundRobinTest.java
Labels: component/zeebe, component/operate, component/c8-api, component/tasklist

#36915 docs: add condition of use to the initial admin user API
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe, component/c8-api

#36528 feat: add AppSwitcher to Identity
  dist/src/main/java/io/camunda/identity/webapp/controllers/IdentityClientConfigController.java
  dist/src/test/java/io/camunda/webapps/controllers/IdentityClientConfigControllerTest.java
  identity/client/.env
  identity/client/package.json
  identity/client/src/components/global/AppRoot.tsx
  identity/client/src/components/layout/AppHeader.tsx
  identity/client/src/components/layout/C3Provider.tsx
  identity/client/src/utility/api/authentication/index.ts
  identity/client/src/utility/getStage.ts
  identity/client/yarn.lock
Labels: component/frontend, component/identity

#36865 Data layer dashboard fixed data sources
  monitor/grafana/dashboards/data_layer.json
Labels: component/zeebe

#36912 Return meaningful error if OIDC provider is unavailable
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/OidcAuthOverRestStartupIT.java
Labels: component/zeebe

#36941 [Backport stable/optimize-8.6] deps: upgrade tomcat to 10.1.44
  optimize/pom.xml
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#36947 fix: upgrade netty to 4.1.124.Final
  operate/pom.xml
Labels: component/operate

#36920 fix: remove version tag requirement when deleting backup
  operate/webapp/src/main/java/io/camunda/operate/webapp/backup/BackupService.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/backup/es/BackupManagerElasticSearch.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/backup/os/BackupManagerOpenSearch.java
Labels: component/operate, component/tasklist

#36755 Attach tags to process instances
  optimize/backend/src/main/java/io/camunda/optimize/dto/zeebe/process/ZeebeProcessInstanceDataDto.java
  tasklist/importer-870/src/main/java/io/camunda/tasklist/zeebeimport/v870/record/value/ProcessInstanceRecordValueImpl.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/ListViewTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/listview/ProcessInstanceForListViewEntity.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/template/operate-list-view.json
  webapps-schema/src/main/resources/schema/opensearch/create/template/operate-list-view.json
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCreationCreateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/CreateProcessInstanceRejectionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/CreateProcessInstanceTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/ProcessInstanceClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromProcessInstanceHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromProcessInstanceHandlerTest.java
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-process-instance-creation-template.json
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-process-instance-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-process-instance-creation-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-process-instance-template.json
  zeebe/msgpack-value/src/main/java/io/camunda/zeebe/msgpack/value/StringValue.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceCreationRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/ProcessInstanceCreationRecordValue.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/ProcessInstanceRecordValue.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/RecordBatchTest.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/TagUtil.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/TagUtilTest.java
Labels: component/zeebe, component/tasklist, component/optimize

#36909 fix: updated properties reference
  clients/spring-boot-starter-camunda-sdk/pom.xml
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientAuthClientAssertionProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientAuthProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientCloudProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientDeploymentProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientJobWorkerProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientLegacyPropertiesMapping.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  clients/spring-boot-starter-camunda-sdk/src/main/resources/camunda-client-legacy-property-mappings.properties
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/configurationMetadata/AlignmentTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/properties/DeprecatedPropertiesTest.java
Labels: component/zeebe

#36972 36970 add script logging
  .github/workflows/gh-inherit-subissue-fields.yml
Labels: component/build-pipeline

#36834 fix: align form fields when errors active in create authorization modal
  identity/client/src/pages/authorizations/modals/add-modal/AddModal.tsx
  identity/client/src/pages/authorizations/modals/components.tsx
Labels: component/identity

#36823 feat: use new validation pattern for edit mapping rule modal
  identity/client/src/pages/mapping-rules/modals/EditModal.tsx
Labels: component/identity

#36822 feat: use new validation pattern for create group modal
  identity/client/src/pages/groups/modals/AddModal.tsx
  identity/client/src/utility/localization/en/groups.json
Labels: component/identity

#36794 feat: use new validation pattern for create/edit user modals
  identity/client/src/pages/users/modals/AddModal.tsx
  identity/client/src/pages/users/modals/EditModal.tsx
  identity/client/src/utility/localization/en/users.json
Labels: component/identity

#36965 fix: assign document permissions to connectors role
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/IdentitySetupInitializer.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeDefaultsTest.java
Labels: component/zeebe

#36986 feat: add support for deleting exporter from runtime in broker
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/PartitionManagerImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionConfigurationManager.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ExporterDirectorPartitionTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterEnableTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterRemoveTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/PartitionConfigurationManagerTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ExporterDirectorPartitionTransitionStepTest.java
Labels: component/zeebe

#36680 Apply number_of_replicas and number_of_shards ES/OS configuration changes
  operate/common/src/main/java/io/camunda/operate/property/ElasticsearchProperties.java
  operate/common/src/main/java/io/camunda/operate/property/OpensearchProperties.java
  operate/common/src/main/java/io/camunda/operate/property/OperateElasticsearchProperties.java
  operate/common/src/main/java/io/camunda/operate/property/OperateOpensearchProperties.java
  operate/pom.xml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/AbstractSchemaIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/IndexSchemaValidatorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/SchemaManagerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/SchemaStartupIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/SchemaTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/elasticsearch/ElasticsearchSchemaTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/opensearch/OpenSearchSchemaTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/OpensearchOperateZeebeRuleProvider.java
  operate/schema/src/main/java/io/camunda/operate/schema/SchemaManager.java
  operate/schema/src/main/java/io/camunda/operate/schema/SchemaStartup.java
  operate/schema/src/main/java/io/camunda/operate/schema/elasticsearch/ElasticsearchSchemaManager.java
  operate/schema/src/main/java/io/camunda/operate/schema/opensearch/OpensearchSchemaManager.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/RetryElasticsearchClient.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchIndexOperations.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchTemplateOperations.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/es/RetryElasticsearchClient.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/os/RetryOpenSearchClient.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/ElasticsearchSchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/OpenSearchSchemaManager.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchSchemaManagementIT.java
Labels: component/operate, component/tasklist, backport stable/8.6

#36756 32307 UI review text info
  identity/client/src/components/layout/Page.tsx
  identity/client/src/components/layout/PageEmptyState.tsx
  identity/client/src/components/layout/TabEmptyState.tsx
  identity/client/src/pages/authorizations/List.tsx
  identity/client/src/pages/forbidden/ForbiddenPage.tsx
  identity/client/src/pages/groups/List.tsx
  identity/client/src/pages/groups/detail/clients/index.tsx
  identity/client/src/pages/groups/detail/mapping-rules/index.tsx
  identity/client/src/pages/groups/detail/members/index.tsx
  identity/client/src/pages/groups/detail/roles/index.tsx
  identity/client/src/pages/mapping-rules/List.tsx
  identity/client/src/pages/roles/List.tsx
  identity/client/src/pages/roles/detail/clients/index.tsx
  identity/client/src/pages/roles/detail/groups/index.tsx
  identity/client/src/pages/roles/detail/mapping-rules/index.tsx
  identity/client/src/pages/roles/detail/members/index.tsx
  identity/client/src/pages/tenants/List.tsx
  identity/client/src/pages/tenants/detail/clients/index.tsx
  identity/client/src/pages/tenants/detail/groups/index.tsx
  identity/client/src/pages/tenants/detail/mapping-rules/index.tsx
  identity/client/src/pages/tenants/detail/members/index.tsx
  identity/client/src/pages/tenants/detail/roles/index.tsx
  identity/client/src/pages/users/List.tsx
  identity/client/src/utility/localization/en/authorizations.json
  identity/client/src/utility/localization/en/components.json
  identity/client/src/utility/localization/en/groups.json
  identity/client/src/utility/localization/en/mappingRules.json
  identity/client/src/utility/localization/en/roles.json
  identity/client/src/utility/localization/en/tenants.json
  identity/client/src/utility/localization/en/users.json
  qa/c8-orchestration-cluster-e2e-test-suite/pages/IdentityRolesDetailsPage.ts
  qa/c8-orchestration-cluster-e2e-test-suite/pages/IdentityTenantsPage.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/identity/authorizations.spec.ts
Labels: component/frontend, component/identity

#36512 feat: add usage metrics migration standalone app
  dist/pom.xml
  dist/src/main/java/io/camunda/application/Profile.java
  dist/src/main/java/io/camunda/application/StandaloneUsageMetricMigration.java
  dist/src/main/java/io/camunda/application/commons/migration/AsyncMigrationsRunner.java
  dist/src/main/java/io/camunda/application/commons/migration/UsageMetricMigrationModuleConfiguration.java
  migration/pom.xml
  migration/usage-metric-migration/pom.xml
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/OperateMetricMigrator.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/client/MigrationRepositoryIndex.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/client/MigrationStep.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/client/ReindexResult.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/client/UsageMetricMigrationClient.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/client/es/ElasticsearchUsageMetricMigrationClient.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/client/os/OpensearchUsageMetricMigrationClient.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/util/MetricRegistry.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/util/RescheduleTask.java
  parent/pom.xml
  qa/acceptance-tests/pom.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/UsageMetricMigrationIT.java
  zeebe/qa/util/pom.xml
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestUsageMetricMigrationApp.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#36999 refactor: remove operate user index
  dist/src/main/java/io/camunda/application/commons/backup/BackupPriorityConfiguration.java
  dist/src/test/java/io/camunda/application/commons/backup/BackupPrioritiesTest.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/client/OpensearchTestDataHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/client/async/OpenSearchAsyncDocumentOperationsIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/client/async/OpenSearchAsyncIndexOperationsIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/client/sync/OpenSearchDocumentOperationsIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/IndexTemplateDescriptorsConfigurator.java
  operate/schema/src/main/java/io/camunda/operate/entities/UserEntity.java
  operate/schema/src/main/java/io/camunda/operate/schema/IndexTemplateDescriptorsConfigurator.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/IndexTemplateDescriptorsConfigurator.java
  schema-manager/src/test/java/io/camunda/search/schema/SchemaManagerIT.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/IndexDescriptors.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/index/OperateUserIndex.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/index/operate-user.json
  webapps-schema/src/main/resources/schema/opensearch/create/index/operate-user.json
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#36873 Expose tags for process instance via api and sdk
  clients/java/src/main/java/io/camunda/client/api/command/CreateProcessInstanceCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/response/ProcessInstanceEvent.java
  clients/java/src/main/java/io/camunda/client/api/response/ProcessInstanceResult.java
  clients/java/src/main/java/io/camunda/client/api/search/response/ProcessInstance.java
  clients/java/src/main/java/io/camunda/client/impl/command/CreateProcessInstanceCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/CreateProcessInstanceResponseImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/CreateProcessInstanceWithResultResponseImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/ProcessInstanceImpl.java
  clients/java/src/main/java/io/camunda/client/impl/util/TagUtil.java
  clients/java/src/test/java/io/camunda/client/process/CreateProcessInstanceTest.java
  clients/java/src/test/java/io/camunda/client/process/CreateProcessInstanceWithResultTest.java
  clients/java/src/test/java/io/camunda/client/process/rest/CreateProcessInstanceRestTest.java
  clients/java/src/test/java/io/camunda/client/process/rest/CreateProcessInstanceWithResultRestTest.java
  clients/java/src/test/java/io/camunda/client/util/RecordingGatewayService.java
  clients/java/src/test/java/io/camunda/client/util/StringUtil.java
  clients/java/src/test/java/io/camunda/client/util/TagUtilTest.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/typehandler/EmptyStringSetTypeHandler.java
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/client/ProcessInstanceCreateTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/entity/ProcessInstanceEntityTransformer.java
  search/search-domain/src/main/java/io/camunda/search/entities/ProcessInstanceEntity.java
  service/src/main/java/io/camunda/service/ProcessInstanceServices.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/CamundaServicesBasedAdapter.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/utils/ProcessInstanceBuilder.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/BpmnElementContext.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/BpmnElementContextImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnProcessResultSenderBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCreationCreateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/AbstractBatchOperationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/CreateProcessInstanceRejectionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/CreateProcessInstanceWithResultTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/ProcessInstanceClient.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/RequestMapper.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/ResponseMapper.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/api/process/CreateProcessInstanceStub.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/api/process/CreateProcessInstanceTest.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/api/process/CreateProcessInstanceWithResultStub.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/api/process/CreateProcessInstanceWithResultTest.java
  zeebe/gateway-protocol/src/main/proto/gateway.proto
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/ErrorMessages.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/ProcessInstanceRequestValidator.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/TagsValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/validator/ProcessInstanceRequestValidatorTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerCreateProcessInstanceRequest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerCreateProcessInstanceWithResultRequest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceResultRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/ProcessInstanceResultRecordValue.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CreateProcessInstanceTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CreateProcessInstanceWithResultTest.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/TagUtil.java
Labels: component/zeebe, component/c8-api, component/tasklist

#36688 feat: cancel and retry batch operations migration
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/v2/buildMutationRequestBody.test.ts
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/v2/buildMutationRequestBody.ts
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/v2/index.test.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/v2/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/v2/index.tsx
  operate/client/src/modules/mutations/processes/buildProcessInstanceKeyCriterion.test.ts
  operate/client/src/modules/mutations/processes/buildProcessInstanceKeyCriterion.ts
  operate/client/src/modules/mutations/processes/useCancelProcessInstancesBatchOperation.ts
  operate/client/src/modules/mutations/processes/useResolveProcessInstancesIncidentsBatchOperation.ts
Labels: component/operate

#37007 [Backport stable/8.6] Apply number_of_replicas and number_of_shards ES/OS configuration changes
  operate/common/src/main/java/io/camunda/operate/property/ElasticsearchProperties.java
  operate/common/src/main/java/io/camunda/operate/property/OpensearchProperties.java
  operate/common/src/main/java/io/camunda/operate/property/OperateElasticsearchProperties.java
  operate/common/src/main/java/io/camunda/operate/property/OperateOpensearchProperties.java
  operate/pom.xml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/AbstractSchemaIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/IndexSchemaValidatorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/SchemaManagerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/SchemaStartupIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/SchemaTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/elasticsearch/ElasticsearchSchemaTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/opensearch/OpenSearchSchemaTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/OpensearchOperateZeebeRuleProvider.java
  operate/schema/src/main/java/io/camunda/operate/schema/SchemaManager.java
  operate/schema/src/main/java/io/camunda/operate/schema/SchemaStartup.java
  operate/schema/src/main/java/io/camunda/operate/schema/elasticsearch/ElasticsearchSchemaManager.java
  operate/schema/src/main/java/io/camunda/operate/schema/opensearch/OpensearchSchemaManager.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/RetryElasticsearchClient.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchIndexOperations.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchTemplateOperations.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/es/RetryElasticsearchClient.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/os/RetryOpenSearchClient.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/ElasticsearchSchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/OpenSearchSchemaManager.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchSchemaManagementIT.java
Labels: component/operate, component/tasklist

#37012 fix: handle exporter opening if record counters are not present in me…
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/RecordCounterTest.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterTest.java
Labels: component/zeebe, backport stable/8.6, backport stable/8.7

#37026 [Backport stable/8.6] fix: handle exporter opening if record counters are not present in me…
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/RecordCounterTest.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterTest.java
Labels: component/zeebe

#36987 fix: remove RoleValidator from Optimize
  optimize/backend/src/main/java/io/camunda/optimize/rest/security/cloud/CCSaaSSecurityConfigurerAdapter.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/security/oauth/RoleValidator.java
  optimize/backend/src/test/java/io/camunda/optimize/rest/security/oauth/RoleValidatorTest.java
Labels: component/optimize

#37040 feat: spring sdk logs unset prefer-rest-over-grpc
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/PropertiesPostProcessor.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/PropertiesPostProcessorLoggingTest.java
Labels: component/zeebe

#37001 ci: add missed $ to properly access variable in setup-medic-lookup.sh
  .ci/scripts/ci/setup-medic-lookup.sh
  .github/workflows/statistics-daily.yml
  .github/workflows/statistics-weekly.yml
Labels: component/build-pipeline
