Repository camunda/camunda, pull requests merged in 2025-07, with the labels that each got.

#26920 [Backport stable/8.6] feat: remove CDN as font path
  operate/client/src/index.scss
Labels: component/operate

#34556 [Backport stable/8.5] feat: added socket buffers size parameters to config
  dist/src/main/config/broker.yaml.template
  dist/src/main/config/gateway.yaml.template
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/MessagingConfig.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering/ClusterConfigFactory.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/NetworkCfg.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/configuration/BrokerCfgTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/Gateway.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/configuration/ConfigurationDefaults.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/configuration/NetworkCfg.java
  zeebe/gateway/src/test/java/io/camunda/zeebe/gateway/impl/configuration/GatewayCfgTest.java
  zeebe/gateway/src/test/resources/configuration/gateway.default.yaml
Labels: component/zeebe

#34599 ci: add `components/c8-api` to CamundaEx Board
  .github/workflows/add-to-projects.yml
Labels: component/build-pipeline

#34598 test: remove deprecated CloseableResource in favour of AutoCloseable
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/util/CamundaRdbmsInvocationContextProviderExtension.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/util/CamundaRdbmsTestApplication.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/ProcessingStateExtension.java
  zeebe/qa/update-tests/src/test/java/io/camunda/zeebe/test/ContainerState.java
  zeebe/qa/update-tests/src/test/java/io/camunda/zeebe/test/ContainerStateExtension.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/junit/ZeebeIntegrationExtension.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamPlatformExtension.java
Labels: component/zeebe

#34631 [Backport release-8.8.0-alpha6] fix: add the command position to the SCALING_UP event
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/scaling/ScaleUpProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/scaling/ScalingUpApplier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/scaling/ScaleUpTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/scaling/ScaleRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/scaling/ScaleRecordValue.java
Labels: component/zeebe

#34633 [Backport stable/8.7] fix: change Opensearch snapshot status from STARTED to IN_PROGRESS in Tasklist
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/backup/os/BackupManagerOpenSearch.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/backup/os/response/SnapshotState.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/es/backup/os/BackupManagerOpenSearchTest.java
Labels: component/tasklist

#34625 [Backport stable/8.5] refactor: apply SO_SNDBUF to child channels
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/Gateway.java
Labels: component/zeebe

#33393 feat: add job search endpoint in v2 api using document based data layer
  dist/src/main/java/io/camunda/application/commons/service/CamundaServicesConfiguration.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/DocumentBasedSearchClients.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/ServiceTransformers.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/entity/JobEntityTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/JobFilterTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/sort/JobFieldSortingTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/JobQueryTransformerTest.java
  search/search-client-rdbms/src/main/java/io/camunda/search/rdbms/RdbmsSearchClient.java
  search/search-client/src/main/java/io/camunda/search/clients/JobSearchClient.java
  search/search-client/src/main/java/io/camunda/search/clients/SearchClientsProxy.java
  search/search-client/src/main/java/io/camunda/search/clients/impl/NoopSearchClientsProxy.java
  search/search-domain/src/main/java/io/camunda/search/entities/JobEntity.java
  search/search-domain/src/main/java/io/camunda/search/filter/FilterBuilders.java
  search/search-domain/src/main/java/io/camunda/search/filter/JobFilter.java
  search/search-domain/src/main/java/io/camunda/search/query/JobQuery.java
  search/search-domain/src/main/java/io/camunda/search/query/SearchQueryBuilders.java
  search/search-domain/src/main/java/io/camunda/search/sort/JobSort.java
  search/search-domain/src/main/java/io/camunda/search/sort/SortOptionBuilders.java
  service/src/main/java/io/camunda/service/JobServices.java
  service/src/test/java/io/camunda/service/JobServiceTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQuerySortRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/JobController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/deserializer/JobKindFilterPropertyDeserializer.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/deserializer/JobListenerEventTypeFilterPropertyDeserializer.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/deserializer/JobStateFilterPropertyDeserializer.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerLongPollingTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerRoundRobinTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobQueryControllerTest.java
Labels: component/zeebe, component/operate, component/c8-api, component/tasklist, component/optimize

#34527 feat: use REST API for benchmark clients
  zeebe/benchmarks/project/src/main/java/io/camunda/zeebe/Starter.java
  zeebe/benchmarks/project/src/main/java/io/camunda/zeebe/Worker.java
  zeebe/benchmarks/project/src/main/java/io/camunda/zeebe/config/AppCfg.java
  zeebe/benchmarks/project/src/main/resources/application.conf
  zeebe/benchmarks/project/src/test/java/io/camunda/zeebe/config/ConfigTest.java
  zeebe/benchmarks/project/src/test/resources/different-application.conf
Labels: chaos-day, benchmark, component/zeebe

#34615 fix: stabilize flakey Batch Operation tests
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/BatchOperationAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/BatchOperationLifecycleManagementTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/util/TestHelper.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationMultiPartitionTest.java
Labels: component/zeebe

#34658 deps: have optimize use identity 8.7.4
  optimize/pom.xml
Labels: component/optimize

#34624 test: Fix flaky task listener job rejection test
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UserTaskListenersTest.java
Labels: component/zeebe

#34264 fix: apply style fixes to enable scroll for long lists of listeners
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/Listeners/index.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/Listeners/styled.ts
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/v2/Listeners/index.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/v2/Listeners/styled.ts
Labels: component/operate, component/frontend

#34642 fix: add scalingPosition to declaredProperties
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/scaling/ScaleRecord.java
Labels: component/zeebe, backport release-8.8.0-alpha6

#34607 [Backport stable/8.7] Ensure that the `ClusterConfiguration` is initialized when setting `BrokerInfo`
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/ClusterConfigurationManagerStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/topology/DynamicClusterConfigurationService.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning/PartitionJoinTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/encoding/BrokerInfo.java
Labels: component/zeebe, backport stable/8.5, backport stable/8.6

#34509 feat(34483): Use inputs.isLatest for marking release as latest in camunda-platform-release.yml
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline, backport stable/8.6, backport stable/8.7

#34517 refactor: add Identity Login tests to c8 orchestration cluster
  qa/c8-orchestration-cluster-e2e-test-suite/fixtures.ts
  qa/c8-orchestration-cluster-e2e-test-suite/pages/IdentityAuthorizationsPage.ts
  qa/c8-orchestration-cluster-e2e-test-suite/pages/IdentityGroupsPage.ts
  qa/c8-orchestration-cluster-e2e-test-suite/pages/IdentityHeader.ts
  qa/c8-orchestration-cluster-e2e-test-suite/pages/IdentityMappingsPage.ts
  qa/c8-orchestration-cluster-e2e-test-suite/pages/IdentityRolesPage.ts
  qa/c8-orchestration-cluster-e2e-test-suite/pages/IdentityTenantsPage.ts
  qa/c8-orchestration-cluster-e2e-test-suite/pages/IdentityUsersPage.ts
  qa/c8-orchestration-cluster-e2e-test-suite/pages/LoginPage.ts
  qa/c8-orchestration-cluster-e2e-test-suite/pages/UtilitiesPage.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/common-flows/hto-user-flows.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/common-flows/login.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/identity/login.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/operate/processInstanceVariables.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/tasklist/login.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/tasklist/processes-page.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/tasklist/settings.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/tasklist/task-details.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/tasklist/task-panel.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/tasklist/variables.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/utils/relativizePath.ts
  qa/c8-orchestration-cluster-e2e-test-suite/utils/waitForItemInList.ts
Labels: qa/c8-orchestration-cluster-e2e-test-suite

#33689 feat: add RDBMS implementation for Job Search endpoint
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/RdbmsService.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/JobDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/mapper/JobEntityMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/JobReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/JobMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/columns/JobSearchColumn.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/JobDbModel.java
  db/rdbms/src/main/resources/mapper/JobMapper.xml
  db/rdbms/src/test/java/io/camunda/db/rdbms/read/mapper/JobEntityMapperTest.java
  db/rdbms/src/test/java/io/camunda/db/rdbms/sql/columns/SearchColumnTest.java
  dist/src/main/java/io/camunda/application/commons/rdbms/RdbmsConfiguration.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/entity/JobEntityTransformer.java
  search/search-client-rdbms/src/main/java/io/camunda/search/rdbms/RdbmsSearchClient.java
  search/search-domain/src/main/java/io/camunda/search/entities/JobEntity.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/JobHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/JobHandlerTest.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/JobExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/utils/DateUtil.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobQueryControllerTest.java
Labels: component/build-pipeline, component/zeebe, component/operate, component/c8-api, component/tasklist, component/identity, component/optimize

#34498 ci: Determine the docker version tag based on branch name
  .github/conftest-unified-ci-rules.rego
  .github/workflows/ci.yml
  .github/workflows/operate-ci-build-reusable.yml
  .github/workflows/snapshot-docker-version-tag.yml
  .github/workflows/tasklist-ci-build-reusable.yml
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe, component/operate, backport stable/8.5, component/tasklist, backport stable/8.6, backport stable/8.7

#34560 fix identity E2E on CI
  .github/workflows/identity-e2e-tests.yml
  identity/client/e2e/pages/AuthorizationsPage.ts
  identity/client/e2e/pages/RolesPage/RolesDetailsPage.ts
  identity/client/e2e/pages/RolesPage/RolesPage.ts
  identity/client/e2e/tests/authorizations.spec.ts
  identity/client/e2e/tests/login.spec.ts
  identity/client/e2e/tests/roles.spec.ts
  identity/client/e2e/tests/users.spec.ts
  identity/client/e2e/text-fixtures.ts
  identity/client/e2e/utils/waitForItemInList.ts
Labels: component/build-pipeline, hold/do-not-merge, component/identity

#34719 [Backport release-8.8.0-alpha6] fix: Avoid pushing Optimize artifacts to Maven Central when releasing single app
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

#34370 Add console ping scheduler and task.
  dist/src/main/config/application.yaml
  dist/src/main/java/io/camunda/application/commons/console/ping/PingConsoleRunner.java
  dist/src/main/java/io/camunda/application/commons/console/ping/PingConsoleTask.java
  dist/src/test/java/io/camunda/application/commons/console/ping/PingConsoleConfigurationTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, backport stable/8.7

#34685 32576 avoid npe on receive task validator
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/ReceiveTaskValidator.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeMessageValidationTest.java
Labels: backport stable/8.4, component/zeebe, backport stable/8.5, backport stable/8.6, backport stable/8.7

#34767 [Backport stable/8.7] 32576 avoid npe on receive task validator
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/ReceiveTaskValidator.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeMessageValidationTest.java
Labels: component/zeebe

#34707 fix: fix deserialization issue occurs on ci tests
  clients/java/src/main/java/io/camunda/client/impl/http/HttpClientFactory.java
Labels: component/zeebe

#34763 test: Clean up ad-hoc sub-process command tests
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/adhocsubprocess/ActivateAdHocSubProcessActivityTest.java
Labels: component/zeebe

#34705 ci: disable scheduled automation for stable/8.4
  .github/renovate.json
  .github/workflows/zeebe-daily-qa.yml
  .github/workflows/zeebe-release-stable-dry-run.yml
  .github/workflows/zeebe-weekly-e2e.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#33895 feat: add Java client implementation
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/search/enums/JobKind.java
  clients/java/src/main/java/io/camunda/client/api/search/enums/JobState.java
  clients/java/src/main/java/io/camunda/client/api/search/enums/ListenerEventType.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/JobFilter.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/builder/JobKindProperty.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/builder/JobStateProperty.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/builder/ListenerEventTypeProperty.java
  clients/java/src/main/java/io/camunda/client/api/search/request/JobSearchRequest.java
  clients/java/src/main/java/io/camunda/client/api/search/request/SearchRequestBuilders.java
  clients/java/src/main/java/io/camunda/client/api/search/response/Job.java
  clients/java/src/main/java/io/camunda/client/api/search/sort/JobSort.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/JobFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/builder/JobKindPropertyImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/builder/JobStatePropertyImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/builder/ListenerEventTypePropertyImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/request/JobSearchRequestImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/request/SearchRequestSortMapper.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/JobImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/SearchResponseMapper.java
  clients/java/src/main/java/io/camunda/client/impl/search/sort/JobSortImpl.java
  clients/java/src/test/java/io/camunda/client/job/SearchJobTest.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/columns/JobSearchColumn.java
  db/rdbms/src/main/resources/mapper/JobMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/client/JobSearchTest.java
  qa/acceptance-tests/src/test/resources/form/job_search_process.form
  qa/acceptance-tests/src/test/resources/process/job_search_process.bpmn
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/sort/JobFieldSortingTransformer.java
  search/search-domain/src/main/java/io/camunda/search/sort/JobSort.java
Labels: component/zeebe, component/c8-api

#34777 [Backport stable/8.6] ci: cache binfmt image only on persistent branches
  .github/actions/build-platform-docker/action.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#34692 ci: disable cache of golangci-lint
  .github/workflows/c8run-build.yaml
Labels: component/build-pipeline, component/c8run, backport stable/8.6, backport stable/8.7

#34780 docs: spring-sdk docs added
  docs/spring-sdk.md
Labels: backport stable/8.7

#34720 Fix delete tenant modal
  identity/client/src/pages/tenants/modals/DeleteModal.tsx
  identity/client/src/utility/localization/en/tenants.json
Labels: component/frontend, component/identity

#34601 Username and email are optional fields
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/UserValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/setup/SetupControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserControllerTest.java
Labels: component/zeebe, component/c8-api

#32760 feat: add usage metric checker, processor, applier
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/metrics/UsageMetricsChecker.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/metrics/UsageMetricsCheckerScheduler.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/metrics/UsageMetricsExportProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/metrics/UsageMetricsProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/ProcessingDbState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceCreationCreatedV1Applier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceCreationCreatedV2Applier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UsageMetricsExportedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/metrics/DbUsageMetricState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableUsageMetricState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/MultiResourceDeploymentTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/metrics/UsageMetricsCheckerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/metrics/UsageMetricsExportProcessorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/resource/ResourceDeletionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/scaling/ScaleUpTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/ProcessExecutionCleanStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/ReplayStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/EventAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/UsageMetricsExportedApplierTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/metrics/DbUsageMetricStateTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/metrics/UsageMetricRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/management/BrokerAdminServiceEndpointTest.java
Labels: component/zeebe

#34634 feat: add support for search by group ids
  clients/java/src/main/java/io/camunda/client/api/search/filter/GroupFilter.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/GroupFilterImpl.java
  clients/java/src/test/java/io/camunda/client/group/GroupSearchTest.java
  clients/java/src/test/java/io/camunda/client/role/GroupsByRoleSearchRequestTest.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/GroupReader.java
  db/rdbms/src/main/resources/mapper/GroupMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/group/GroupIT.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/GroupFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/GroupQueryTransformerTest.java
  search/search-domain/src/main/java/io/camunda/search/filter/GroupFilter.java
  service/src/main/java/io/camunda/service/GroupServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupQueryControllerTest.java
Labels: component/zeebe, component/c8-api

#34654 [Backport stable/8.7] ci: Add timeout for tasklist-ci-test-reusable
  .github/workflows/tasklist-ci-test-reusable.yml
Labels: component/build-pipeline, component/tasklist

#34662 fix: fix css transition component warning
  operate/client/src/App/ProcessInstance/IncidentsWrapper/IncidentsOverlay/index.tsx
  operate/client/src/modules/components/Transition/index.tsx
Labels: component/operate

#34794 refactor: remove custom document typing
  tasklist/client/src/common/api/useUploadDocuments.mutation.tsx
  tasklist/client/src/common/form-js/FormJSRenderer/index.tsx
Labels: component/tasklist

#34773 Add Role Migration IT
  migration/identity-migration/src/main/java/io/camunda/migration/identity/config/sm/StaticEntities.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/handler/sm/RoleMigrationHandler.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/handler/sm/RoleMigrationHandlerTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/IdentityMigrationTestUtil.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/KeycloakIdentityMigrationIT.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneIdentityMigration.java
Labels: component/zeebe

#34850 [Backport stable/8.7] Improve Docker build resiliency against apt failures
  .github/actions/build-platform-docker/99apt-timeout-and-retries
  Dockerfile
  camunda.Dockerfile
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/identity, component/optimize

#34234 Enable API protections by default
  .github/workflows/operate-e2e-tests.yml
  .github/workflows/tasklist-e2e-tests.yml
  c8run/cmd/c8run/main_test.go
  c8run/internal/overrides/overrides.go
  dist/src/main/java/io/camunda/application/commons/security/CamundaSecurityConfiguration.java
  operate/Makefile
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/ClientConfigRestServiceEnterpriseIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/ClientConfigRestServiceIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/ClientConfigRestServiceIdentityIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/ProcessInstanceRestServiceIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/OperateAbstractIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/j5templates/OperateSearchAbstractIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/AuthorizationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/identity/AuthenticationRefreshTokenIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/sso/AuthenticationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/sso/AuthenticationWithPersistentSessionsIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/sso/CsrfTokenIT.java
  operate/qa/util/src/main/java/io/camunda/operate/qa/util/TestContainerUtil.java
  qa/acceptance-tests/src/test/java/io/camunda/it/backup/StandaloneBackupManagerIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/network/SecuredClusterMessagingIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/schema/StandaloneSchemaManagerIT.java
  qa/c8-orchestration-cluster-e2e-test-suite/config/docker-compose.yml
  qa/c8-orchestration-cluster-e2e-test-suite/config/envs/.env.database.elasticsearch
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestCamundaApplication.java
  security/security-core/src/main/java/io/camunda/security/configuration/AuthenticationConfiguration.java
  security/security-core/src/main/java/io/camunda/security/configuration/AuthorizationsConfiguration.java
  security/security-core/src/main/java/io/camunda/security/configuration/SecurityConfigurations.java
  tasklist/Makefile
  tasklist/client/.env.test
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/it/ZeebeConnectorSecureIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistIntegrationTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistZeebeExtension.java
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/TestContainerUtil.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/containers/CamundaContainer.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/ContainerRuntimeEnvs.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning/PartitionLeaveTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/test/EmbeddedBrokerRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobBatchCollectorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/api/UnavailableBrokersTest.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/interceptors/InterceptorIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteringRule.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/network/AsymmetricNetworkPartitionIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/exporter/ExporterConfigInstantiationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/health/DiskSpaceRecoveryIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/network/DefaultAdvertisedAddressIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/network/Ipv6IntegrationTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/smoke/ContainerClusterSmokeIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/startup/NonDefaultContainerSetupTest.java
  zeebe/qa/update-tests/pom.xml
  zeebe/qa/update-tests/src/test/java/io/camunda/zeebe/test/ContainerState.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestClusterBuilder.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneGateway.java
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize, component/c8run

#34485 feat: Simplify user task data access for TL jobs
  clients/java/src/main/java/io/camunda/client/api/response/ActivatedJob.java
  clients/java/src/main/java/io/camunda/client/api/response/UserTaskProperties.java
  clients/java/src/main/java/io/camunda/client/impl/response/ActivatedJobImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/UserTaskPropertiesImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/ActivatedJob.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/UserTaskProperties.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/ActivatedJobImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/UserTaskPropertiesImpl.java
  clients/java/src/test/java/io/camunda/client/job/ActivateJobsTest.java
  clients/java/src/test/java/io/camunda/client/job/rest/ActivateJobsRestTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/job/ActivateJobsTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/job/rest/ActivateJobsRestTest.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/parameter/CompatActivatedJobParameterResolver.java
  zeebe/gateway-grpc/pom.xml
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/ResponseMapper.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/ResponseMapperTest.java
  zeebe/gateway-protocol/src/main/proto/gateway.proto
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/ResponseMapperTest.java
Labels: component/zeebe, component/c8-api, deprecated-client

#34859 ci: Disable Optimize build in benchmarks
  .github/actions/build-zeebe/action.yml
  .github/workflows/zeebe-benchmark.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#34886 [Backport stable/8.7] fix: typo in camunda-bpm repo name
  bom/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#34885 [Backport stable/8.6] fix: typo in camunda-bpm repo name
  bom/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#34821 [Backport stable/8.6] ci: Determine the docker version tag based on branch name
  .github/conftest-unified-ci-rules.rego
  .github/workflows/ci.yml
  .github/workflows/operate-ci-build-reusable.yml
  .github/workflows/snapshot-docker-version-tag.yml
  .github/workflows/tasklist-ci-build-reusable.yml
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist

#34875 ci: update tasklist-e2e workflow stable/8.6
  .github/workflows/tasklist-e2e-tests.yml
  qa/c8-orchestration-cluster-e2e-test-suite/playwright.config.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/tasklist/task-details.spec.ts
Labels: component/build-pipeline, component/tasklist, qa/c8-orchestration-cluster-e2e-test-suite

#34717 [Backport stable/8.7] ci: Determine the docker version tag based on branch name
  .github/conftest-unified-ci-rules.rego
  .github/workflows/ci.yml
  .github/workflows/operate-ci-build-reusable.yml
  .github/workflows/snapshot-docker-version-tag.yml
  .github/workflows/tasklist-ci-build-reusable.yml
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist

#34870 ci: update tasklist e2e workflow
  .github/workflows/tasklist-e2e-tests.yml
  qa/c8-orchestration-cluster-e2e-test-suite/playwright.config.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/tasklist/public-start-form.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/tasklist/task-details.spec.ts
Labels: component/build-pipeline, component/tasklist, qa/c8-orchestration-cluster-e2e-test-suite

#34878 [Backport stable/8.6] ci: follow best practices for license-check workflow
  .github/workflows/check-licenses.yml
Labels: component/build-pipeline

#34716 [Backport stable/8.5] ci: Determine the docker version tag based on branch name
  .github/workflows/snapshot-docker-version-tag.yml
  .github/workflows/zeebe-ci.yml
Labels: component/zeebe, component/operate

#34879 [Backport stable/8.7] ci: follow best practices for license-check workflow
  .github/workflows/check-licenses.yml
Labels: component/build-pipeline

#34888 Remove test dependency io.zeebe:zeebe-test-container
  schema-manager/pom.xml
  schema-manager/src/test/java/io/camunda/search/schema/SchemaManagerStartupIT.java
  schema-manager/src/test/java/io/camunda/search/schema/SchemaUpdateIT.java
Labels: component/release

#34914 [Backport stable/8.6] fix: Set missing operationReference in REST cancel process request [8.7]
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CancelProcessInstanceCommandImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/process/CancelProcessInstanceTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/process/rest/CancelProcessInstanceRestTest.java
Labels: component/zeebe

#34844 fix: add error banner to create tenant failure
  identity/client/src/pages/tenants/modals/AddModal.tsx
  identity/client/src/utility/localization/en/tenants.json
Labels: component/frontend, component/identity

#34727 feat: add env variables instructions for different utilities when running identity
  identity/README.md
Labels: component/identity

#33907 feat: update JSON dashboards with new API panels
  monitor/grafana/dashboards/core-features-overview.json
  monitor/grafana/zeebe.json
Labels: component/zeebe

#34227 test: adjust port number to not confuse people
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/ZeebeClientPropertiesPostProcessorTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/rest-address.yaml
Labels: component/zeebe

#34228 test: adjust port number to not confuse people
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/properties/CamundaClientPropertiesPostProcessorTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/rest-address.yaml
Labels: component/zeebe

#34703 Introduce client command to query authorizations
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/fetch/AuthorizationsSearchRequest.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/AuthorizationFilter.java
  clients/java/src/main/java/io/camunda/client/api/search/request/SearchRequestBuilders.java
  clients/java/src/main/java/io/camunda/client/api/search/sort/AuthorizationSort.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/AuthorizationFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/request/AuthorizationsSearchRequestImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/SearchResponseMapper.java
  clients/java/src/main/java/io/camunda/client/impl/search/sort/AuthorizationSortImpl.java
  clients/java/src/test/java/io/camunda/client/authorization/SearchAuthorizationTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/AuthorizationSearchIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/AuthorizationIntegrationTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/SaaSIdentityMigrationIT.java
Labels: component/zeebe

#34387 33885 add has more property to v2 responses
  authentication/src/test/java/io/camunda/authentication/CamundaUserDetailsServiceTest.java
  clients/java/src/main/java/io/camunda/client/api/search/response/SearchResponsePage.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/SearchResponseMapper.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/SearchResponsePageImpl.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/ProcessDefinitionSearchTest.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/transformers/search/SearchResponseTransformer.java
  search/search-client-elasticsearch/src/test/java/io/camunda/search/es/clients/ElasticsearchDataStoreClientTest.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/transformers/search/SearchResponseTransformer.java
  search/search-client-opensearch/src/test/java/io/camunda/search/os/clients/OpensearchDataStoreClientTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/core/SearchQueryResponse.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/query/SearchQueryResultTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/SearchClientBasedQueryExecutorTest.java
  search/search-domain/src/main/java/io/camunda/search/query/SearchQueryResult.java
  service/src/test/java/io/camunda/service/AuthorizationServiceTest.java
  service/src/test/java/io/camunda/service/DecisionDefinitionServiceTest.java
  service/src/test/java/io/camunda/service/DecisionRequirementsServiceTest.java
  service/src/test/java/io/camunda/service/ElementInstanceServiceTest.java
  service/src/test/java/io/camunda/service/GroupServiceTest.java
  service/src/test/java/io/camunda/service/IncidentServiceTest.java
  service/src/test/java/io/camunda/service/MappingServicesTest.java
  service/src/test/java/io/camunda/service/ProcessInstanceServiceTest.java
  service/src/test/java/io/camunda/service/RoleServicesTest.java
  service/src/test/java/io/camunda/service/TenantServiceTest.java
  service/src/test/java/io/camunda/service/UserServiceTest.java
  service/src/test/java/io/camunda/service/UserTaskServiceTest.java
  service/src/test/java/io/camunda/service/VariableServiceTest.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/interceptors/impl/AuthenticationInterceptorTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/BatchOperationControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/BatchOperationItemControllerTest.java
Labels: component/zeebe, component/c8-api

#34941 deps: update 8.8 c8run version to alpha6
  c8run/.env
Labels: component/c8run

#34949 feat: validate a message is published to the right partition
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageEventProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessagePublishProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableRoutingState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/routing/DbRoutingState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/message/MessagePublishRoutingTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/message/MessageStreamProcessorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/scaling/InMemoryRoutingState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/PublishMessageClient.java
Labels: component/zeebe

#34948 [Backport stable/8.6] fix: stop using tasks api for archiving
  operate/archiver/src/main/java/io/camunda/operate/archiver/OpensearchArchiverRepository.java
  operate/archiver/src/test/java/io/camunda/operate/archiver/OpensearchArchiverRepositoryTest.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/client/async/OpenSearchAsyncDocumentOperationsIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/client/async/OpenSearchAsyncIndexOperationsIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/client/async/OpenSearchAsyncTaskOperationsIT.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/async/OpenSearchAsyncDocumentOperations.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/async/OpenSearchAsyncIndexOperations.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/async/OpenSearchAsyncTaskOperations.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/RichOpenSearchClient.java
  operate/schema/src/main/java/io/camunda/operate/util/FutureHelper.java
  operate/schema/src/main/java/io/camunda/operate/util/OpensearchUtil.java
Labels: component/operate

#34776 Console ping: Add retry configuration and IT test.
  dist/pom.xml
  dist/src/main/java/io/camunda/application/commons/console/ping/PingConsoleRunner.java
  dist/src/main/java/io/camunda/application/commons/console/ping/PingConsoleTask.java
  dist/src/test/java/io/camunda/application/commons/console/ping/PingConsoleConfigurationTest.java
  dist/src/test/java/io/camunda/application/commons/console/ping/PingConsoleRunnerIT.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, backport stable/8.7

#34641 Ensure unique Identity ES/OS index IDs
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/index/GroupIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/index/RoleIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/index/TenantIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/usermanagement/EntityJoinRelation.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/usermanagement/GroupEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/usermanagement/GroupMemberEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/usermanagement/RoleEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/usermanagement/RoleMemberEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/usermanagement/TenantEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/usermanagement/TenantMemberEntity.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/GroupCreatedUpdatedHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/GroupDeletedHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/GroupEntityAddedHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/GroupEntityRemovedHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/RoleCreateUpdateHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/RoleDeletedHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/RoleMemberAddedHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/RoleMemberRemovedHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/TenantCreateUpdateHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/TenantDeletedHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/TenantEntityAddedHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/TenantEntityRemovedHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/RoleMemberRemovedHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/GroupCreatedUpdatedHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/GroupDeletedHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/GroupEntityAddedHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/GroupEntityRemovedHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/RoleCreateUpdateHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/RoleDeletedHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/RoleMemberAddedHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/TenantCreateUpdateHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/TenantDeletedHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/TenantEntityAddedHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/TenantEntityRemovedHandlerTest.java
Labels: component/zeebe

#34966 ci: exclude optimize profile when setting compat versions during release
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline, backport stable/8.6, backport stable/8.7

#34986 [Backport stable/8.6] ci: exclude optimize profile when setting compat versions during release
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

#34987 [Backport stable/8.7] ci: exclude optimize profile when setting compat versions during release
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

#34977 fix: ensure that `TestActorFuture` times out properly
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/TestActorFuture.java
Labels: backport stable/8.4, component/zeebe, backport stable/8.5, backport stable/8.6, backport stable/8.7

#34992 [Backport stable/8.7] fix: ensure that `TestActorFuture` times out properly
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/TestActorFuture.java
Labels: component/zeebe

#34991 [Backport stable/8.6] fix: ensure that `TestActorFuture` times out properly
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/TestActorFuture.java
Labels: component/zeebe

#34931 refactor: allow unlimited search queries without calling findAll
  authentication/src/main/java/io/camunda/authentication/session/WebSessionRepository.java
  authentication/src/test/java/io/camunda/authentication/session/WebSessionRepositoryTest.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/AbstractEntityReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/SequenceFlowReader.java
  db/rdbms/src/test/java/io/camunda/db/rdbms/read/service/AbstractEntityReaderTest.java
  dist/src/main/java/io/camunda/application/commons/search/SearchClientDatabaseConfiguration.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/sequenceflow/SequenceFlowIT.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/clients/ElasticsearchSearchClient.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/transformers/search/SearchRequestTransformer.java
  search/search-client-elasticsearch/src/test/java/io/camunda/search/es/clients/ElasticsearchSearchClientTest.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/clients/OpensearchSearchClient.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/transformers/search/SearchRequestTransformer.java
  search/search-client-opensearch/src/test/java/io/camunda/search/os/clients/OpensearchSearchClientTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/DocumentBasedSearchClient.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/DocumentBasedSearchClients.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/PersistentWebSessionSearchImpl.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/SearchClientBasedQueryExecutor.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/DecisionInstanceSearchClientBasedQueryExecutorTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/SearchClientBasedQueryExecutorTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/auth/DocumentAuthorizationQueryStrategyTest.java
  search/search-client-rdbms/src/main/java/io/camunda/search/rdbms/RdbmsSearchClient.java
  search/search-client/src/main/java/io/camunda/search/clients/AuthorizationSearchClient.java
  search/search-client/src/main/java/io/camunda/search/clients/GroupSearchClient.java
  search/search-client/src/main/java/io/camunda/search/clients/MappingSearchClient.java
  search/search-client/src/main/java/io/camunda/search/clients/PersistentWebSessionClient.java
  search/search-client/src/main/java/io/camunda/search/clients/RoleSearchClient.java
  search/search-client/src/main/java/io/camunda/search/clients/SequenceFlowSearchClient.java
  search/search-client/src/main/java/io/camunda/search/clients/TenantSearchClient.java
  search/search-client/src/main/java/io/camunda/search/clients/impl/NoopSearchClientsProxy.java
  search/search-domain/src/main/java/io/camunda/search/exception/ErrorMessages.java
  search/search-domain/src/main/java/io/camunda/search/page/SearchQueryPage.java
  search/search-domain/src/main/java/io/camunda/search/query/SearchQueryBase.java
  search/search-domain/src/main/java/io/camunda/search/query/SearchQueryResult.java
  security/security-services/src/main/java/io/camunda/security/impl/AuthorizationChecker.java
  service/src/main/java/io/camunda/service/GroupServices.java
  service/src/main/java/io/camunda/service/MappingServices.java
  service/src/main/java/io/camunda/service/ProcessInstanceServices.java
  service/src/main/java/io/camunda/service/RoleServices.java
  service/src/main/java/io/camunda/service/TenantServices.java
  service/src/test/java/io/camunda/service/MappingServicesTest.java
  service/src/test/java/io/camunda/service/ProcessInstanceServiceTest.java
  service/src/test/java/io/camunda/service/RoleServicesTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#34904 refactor: migrate Operate batch classes to the new CamundaAuthenticationProvider class
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/BatchOperationReaderIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/OperationReaderIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/ListenerReaderIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/ProcessInstanceReaderIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/modules/ModuleAbstractIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/BatchOperationRestServiceIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/OperateAbstractIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/j5templates/OperateSearchAbstractIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/j5templates/OperateZeebeSearchAbstractIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/AuthorizationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/sso/AuthenticationIT.java
  operate/webapp/pom.xml
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/dao/elasticsearch/ElasticsearchProcessInstanceDao.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/dao/opensearch/OpensearchProcessInstanceDao.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/ProcessInstanceController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/BatchOperationReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/OperationReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/writer/BatchOperationWriter.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/reader/OpensearchBatchOperationReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/reader/OpensearchOperationReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/writer/OpensearchBatchOperationWriter.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/DecisionRestService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/ProcessInstanceRestService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/ProcessRestService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/CustomMethodSecurityExpressionHandler.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/CustomSecurityExpressionRoot.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/MethodSecurityConfig.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/writer/PersistOperationHelper.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#34956 ci: log context info on FOSSA PR check timeout
  .github/workflows/check-licenses.yml
Labels: component/build-pipeline

#35034 Release/optimize 8.6.12
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/plan/factories/Upgrade8612To8613PlanFactory.java
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Labels: component/optimize

#34543 feat: Search endpoint for message subscription
  dist/src/main/java/io/camunda/application/commons/service/CamundaServicesConfiguration.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/DocumentBasedSearchClients.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/ServiceTransformers.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/entity/MessageSubscriptionEntityTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/MessageSubscriptionFilterTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/sort/MessageSubscriptionFieldSortingTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/MessageSubscriptionQueryTransformerTest.java
  search/search-client-rdbms/src/main/java/io/camunda/search/rdbms/RdbmsSearchClient.java
  search/search-client/src/main/java/io/camunda/search/clients/MessageSubscriptionSearchClient.java
  search/search-client/src/main/java/io/camunda/search/clients/SearchClientsProxy.java
  search/search-client/src/main/java/io/camunda/search/clients/impl/NoopSearchClientsProxy.java
  search/search-domain/src/main/java/io/camunda/search/entities/MessageSubscriptionEntity.java
  search/search-domain/src/main/java/io/camunda/search/filter/FilterBuilders.java
  search/search-domain/src/main/java/io/camunda/search/filter/MessageSubscriptionFilter.java
  search/search-domain/src/main/java/io/camunda/search/query/MessageSubscriptionQuery.java
  search/search-domain/src/main/java/io/camunda/search/query/SearchQueryBuilders.java
  search/search-domain/src/main/java/io/camunda/search/sort/MessageSubscriptionSort.java
  search/search-domain/src/main/java/io/camunda/search/sort/SortOptionBuilders.java
  service/src/main/java/io/camunda/service/MessageSubscriptionServices.java
  service/src/test/java/io/camunda/service/MessageSubscriptionServiceTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQuerySortRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/MessageSubscriptionController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/deserializer/MessageSubscriptionTypePropertyDeserializer.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/MessageSubscriptionQueryControllerTest.java
Labels: component/zeebe, component/operate, component/c8-api, component/tasklist, component/optimize

#35006 fix: map missing ClusterChangeOperation added by scaling in response
  dist/src/main/java/io/camunda/zeebe/shared/management/ClusterApiUtils.java
  dist/src/main/resources/api/cluster/components.yaml
  dist/src/test/java/io/camunda/zeebe/shared/management/ClusterApiUtilsTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#33962 feat: add kind listener type to job activation endpoint
  clients/java/src/main/java/io/camunda/client/api/response/ActivatedJob.java
  clients/java/src/main/java/io/camunda/client/api/search/enums/JobKind.java
  clients/java/src/main/java/io/camunda/client/api/search/enums/JobState.java
  clients/java/src/main/java/io/camunda/client/api/search/enums/ListenerEventType.java
  clients/java/src/main/java/io/camunda/client/impl/response/ActivatedJobImpl.java
  clients/java/src/test/java/io/camunda/client/job/ActivateJobsTest.java
  clients/java/src/test/java/io/camunda/client/job/rest/ActivateJobsRestTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/JobSearchTest.java
  search/search-domain/pom.xml
  search/search-domain/src/main/java/io/camunda/util/EnumUtil.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/ResponseMapper.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/ResponseMapperTest.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/api/job/StreamActivatedJobsTest.java
  zeebe/gateway-protocol/src/main/proto/gateway.proto
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
Labels: component/zeebe, component/c8-api

#32497 Fix variable update formatting in Operate
  dist/src/main/java/io/camunda/application/Profile.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/StartupBean.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/zeebe/operation/UpdateVariableHandler.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/zeebe/operation/UpdateVariableHandlerTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/compatibility/CompatibilityModeOperateZeebeAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/compatibility/NoCompatibilityModeOperateZeebeAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/util/TestHelper.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestRestOperateClient.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#34673 Release 8.5.20
  bom/pom.xml
  build-tools/pom.xml
  clients/go/internal/embedded/data/VERSION
  dist/pom.xml
  parent/pom.xml
  pom.xml
  spring-boot-starter-camunda-sdk/pom.xml
  zeebe/atomix/cluster/pom.xml
  zeebe/atomix/pom.xml
  zeebe/atomix/utils/pom.xml
  zeebe/auth/pom.xml
  zeebe/backup-stores/azure/pom.xml
  zeebe/backup-stores/common/pom.xml
  zeebe/backup-stores/gcs/pom.xml
  zeebe/backup-stores/s3/pom.xml
  zeebe/backup-stores/testkit/pom.xml
  zeebe/backup/pom.xml
  zeebe/benchmarks/project/pom.xml
  zeebe/bpmn-model/pom.xml
  zeebe/broker-client/pom.xml
  zeebe/broker/pom.xml
  zeebe/clients/java/pom.xml
  zeebe/clients/zeebe-client-spring/pom.xml
  zeebe/dmn/pom.xml
  zeebe/engine/pom.xml
  zeebe/exporter-api/pom.xml
  zeebe/exporter-test/pom.xml
  zeebe/exporters/elasticsearch-exporter/pom.xml
  zeebe/exporters/opensearch-exporter/pom.xml
  zeebe/expression-language/pom.xml
  zeebe/feel/pom.xml
  zeebe/gateway-protocol-impl/pom.xml
  zeebe/gateway-protocol/pom.xml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway/pom.xml
  zeebe/journal/pom.xml
  zeebe/logstreams/pom.xml
  zeebe/msgpack-core/pom.xml
  zeebe/msgpack-value/pom.xml
  zeebe/protocol-asserts/pom.xml
  zeebe/protocol-impl/pom.xml
  zeebe/protocol-jackson/pom.xml
  zeebe/protocol-test-util/pom.xml
  zeebe/protocol/pom.xml
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/pom.xml
  zeebe/qa/update-tests/pom.xml
  zeebe/qa/util/pom.xml
  zeebe/restore/pom.xml
  zeebe/scheduler/pom.xml
  zeebe/snapshot/pom.xml
  zeebe/stream-platform/pom.xml
  zeebe/test-util/pom.xml
  zeebe/topology/pom.xml
  zeebe/transport/pom.xml
  zeebe/util/pom.xml
  zeebe/zb-db/pom.xml
Labels: component/zeebe, component/operate

#35024 Feat/34958 bo javadoc on exporter
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriterConfig.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/BatchOperationWriter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/batchoperation/AbstractOperationHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/batchoperation/AbstractOperationStatusHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/batchoperation/BatchOperationChunkCreatedHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/batchoperation/BatchOperationChunkCreatedItemHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/batchoperation/BatchOperationCreatedHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/batchoperation/BatchOperationLifecycleManagementHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/batchoperation/ProcessInstanceCancellationOperationHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/batchoperation/ProcessInstanceMigrationOperationHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/batchoperation/ProcessInstanceModificationOperationHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/batchoperation/ResolveIncidentOperationHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/batchoperation/IncidentBatchOperationExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/batchoperation/ProcessInstanceCancellationBatchOperationExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/batchoperation/ProcessInstanceMigrationBatchOperationExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/batchoperation/ProcessInstanceModificationBatchOperationExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/batchoperation/RdbmsBatchOperationStatusExportHandler.java
Labels: component/zeebe

#35073 ci: update CODEOWNERS for helper actions
  CODEOWNERS
Labels: backport stable/8.6, backport stable/8.7

#35030 feat: optimize batch operation scheduler to execute bo per run #34969
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionScheduler.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/DbBatchOperationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/BatchOperationState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionSchedulerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/batchoperation/BatchOperationStateTest.java
Labels: component/zeebe

#35070 Remove unused FOSSA workflow
  .fossa.yml
  .github/workflows/check-licenses.yml
Labels: backport stable/8.5

#35044 fix: use correct url template for cloud rest address
  clients/java/src/main/java/io/camunda/client/CamundaClientCloudBuilderStep1.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientCloudBuilderImpl.java
  clients/java/src/test/java/io/camunda/client/CamundaClientTest.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientCloudProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/resources/camunda-client-legacy-property-mappings.properties
  clients/spring-boot-starter-camunda-sdk/src/main/resources/modes/saas.yaml
  docs/spring-sdk.md
  testing/camunda-process-test-spring/src/test/java/io/camunda/process/test/impl/CamundaSpringProcessTestRuntimeBuilderTest.java
Labels: component/zeebe, backport stable/8.5, backport stable/8.6, backport stable/8.7

#35086 fix: update flaky tests
  qa/c8-orchestration-cluster-e2e-test-suite/pages/TaskDetailsPage.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/tasklist/public-start-form.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/tasklist/task-details.spec.ts
Labels: qa/c8-orchestration-cluster-e2e-test-suite

#35087 [Backport stable/8.5] Remove unused FOSSA workflow
  .fossa.yml
  .github/workflows/check-licenses.yml
Labels: component/zeebe, component/operate

#35028 ci: fail merge queue on cancelled job in test summary
  .github/workflows/zeebe-ci.yml
Labels: component/zeebe

#34962 refactor: avoid mentioning default limitation from ES/OS results
  clients/java/src/main/java/io/camunda/client/api/search/response/SearchResponsePage.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/SearchResponseMapper.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/SearchResponsePageImpl.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe, component/c8-api

#35005 test: add UsageMetricClient & fix flaky tests
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/randomized/ProcessExecutionRandomizedPropertyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/randomized/ReplayStateRandomizedPropertyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/ReplayStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/UsageMetricClient.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/RecordingExporter.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/UsageMetricsStream.java
Labels: component/zeebe

#35098 Console Ping: send version in the payload.
  dist/src/main/java/io/camunda/application/commons/console/ping/PingConsoleRunner.java
  dist/src/main/java/io/camunda/application/commons/console/ping/PingConsoleTask.java
  dist/src/test/java/io/camunda/application/commons/console/ping/PingConsoleRunnerIT.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, backport stable/8.7

#34971 test: add IT verifying that message correlation works with scaling
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ScaleUpPartitionsTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/Utils.java
Labels: component/zeebe

#35096 fix: a task could not be completed by another user
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/TaskValidator.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/es/TaskValidatorTest.java
Labels: component/tasklist, backport stable/8.7

#34944 Add client command for tenants search
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/TenantFilter.java
  clients/java/src/main/java/io/camunda/client/api/search/request/SearchRequestBuilders.java
  clients/java/src/main/java/io/camunda/client/api/search/request/TenantsSearchRequest.java
  clients/java/src/main/java/io/camunda/client/api/search/sort/TenantSort.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/TenantFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/request/TenantsSearchRequestImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/SearchResponseMapper.java
  clients/java/src/main/java/io/camunda/client/impl/search/sort/TenantSortImpl.java
  clients/java/src/test/java/io/camunda/client/tenant/SearchTenantTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/TenantAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/RolesSearchTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/TenantsSearchIntegrationTest.java
Labels: component/zeebe

#35093 [Backport stable/8.7] fix: use correct url template for cloud rest address
  clients/java/revapi.json
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientCloudBuilderStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientCloudBuilderImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/ZeebeClientTest.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/CamundaClientCloudProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/resources/modes/saas.yaml
  clients/spring-boot-starter-camunda-sdk/src/main/resources/zeebe-client-legacy-property-mappings.properties
  docs/spring-sdk.md
Labels: backport main, component/zeebe, backport stable/8.5, backport stable/8.6

#35123 fix: properly decrement http client retries in zeebe rest client
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/ApiCallback.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClient.java
  clients/java/src/test/java/io/camunda/zeebe/client/impl/http/ApiCallbackTest.java
Labels: component/zeebe, deprecated-client

#35049 build: merge back optimize 8.8.0-alpha6 release branch into main
  optimize/pom.xml
Labels: component/build-pipeline, component/optimize

#34927 fix: make max cell size customizable, increase value, adapt for authorizations
  identity/client/src/components/entityList/EntityList.tsx
  identity/client/src/pages/authorizations/AuthorizationsList.tsx
Labels: component/frontend, component/identity

#35122 feat: allow configuration of cloud domain in zeebe client
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientCloudBuilderStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientCloudBuilderImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/ZeebeClientTest.java
Labels: component/zeebe, deprecated-client

#35117 [Backport stable/8.7] fix: a task could not be completed by another user
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/TaskValidator.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/es/TaskValidatorTest.java
Labels: component/tasklist

#35004 Feat/34957 batch operation engine javadoc
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationCancelProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationCreateChunkProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecuteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionScheduler.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationItemProvider.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationLeadPartitionCompleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationLeadPartitionFailProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationResumeProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationSetupProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationSuspendProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/BatchOperationPartitionCompletedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/BatchOperationPartitionFailedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/DbBatchOperationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/PersistedBatchOperation.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/PersistedBatchOperationChunk.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/BatchOperationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableBatchOperationState.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BatchOperationChunkRecordValue.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BatchOperationCreationRecordValue.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BatchOperationExecutionRecordValue.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BatchOperationPartitionLifecycleRecordValue.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BatchOperationRelated.java
Labels: component/zeebe

#34976 feat: enhance processor and applier for eDI
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/metrics/UsageMetricsExportProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/DecisionEvaluationV2Applier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/metrics/PersistedUsageMetrics.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/metrics/UsageMetricsExportProcessorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/UsageMetricsExportedApplierTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/metrics/DbUsageMetricStateTest.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
Labels: component/zeebe

#34187 refactor: [tasklist] change image tag to 8.7-SNAPSHOT
  tasklist/client/package.json
Labels: component/tasklist

#35103 fix: build cloud audience correctly
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientCloudBuilderImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientCloudBuilderImpl.java
Labels: component/zeebe, backport stable/8.5, backport stable/8.6, deprecated-client, backport stable/8.7

#34427 [Backport stable/8.6] Backport #31050 to 8.7
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/ExtensionElementDuplicationValidators.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/ExtensionElementsDuplicationValidator.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/ZeebeDesignTimeValidators.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/DuplicateExtensionElementDeploymentRejectionTest.java
Labels: component/zeebe

#34765 [Backport stable/8.5] 32576 avoid npe on receive task validator
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/ReceiveTaskValidator.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/ZeebeMessageValidationTest.java
Labels: component/zeebe

#35104 feat: add UsageMetricState with methods to track TU metrics
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/metrics/DbUsageMetricState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/metrics/PersistedUsageMetrics.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableUsageMetricState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/metrics/DbUsageMetricStateTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/encoding/MsgPackConverter.java
Labels: component/zeebe

#32733 feat: Cover entire user task lifecycle in secondary storage
  clients/java/src/main/java/io/camunda/client/api/search/enums/UserTaskState.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/JobSearchTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/task/UserTaskIT.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/entity/UserTaskEntityTransformer.java
  search/search-domain/src/main/java/io/camunda/search/entities/UserTaskEntity.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/VariableSearchTermsQueryChunkIT.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/usertask/TaskEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/usertask/TaskState.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UserTaskHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/utils/ExporterUtil.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/UserTaskHandlerTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe, component/c8-api, component/tasklist

#35183 deps: remove AWS SDK v1 dependencies in favor of v2
  operate/common/pom.xml
  operate/common/src/main/java/io/camunda/operate/connect/OpensearchConnector.java
  optimize/util/optimize-commons/pom.xml
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/upgrade/os/OpenSearchClientBuilder.java
  parent/pom.xml
  qa/util/pom.xml
  qa/util/src/main/java/io/camunda/qa/util/multidb/AWSOpenSearchSetupHelper.java
  search/search-client-connect/pom.xml
  search/search-client-connect/src/main/java/io/camunda/search/connect/os/OpensearchConnector.java
  tasklist/common/pom.xml
  tasklist/common/src/main/java/io/camunda/tasklist/os/OpenSearchConnector.java
  tasklist/webapp/pom.xml
  zeebe/exporters/camunda-exporter/pom.xml
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepositoryIT.java
Labels: component/zeebe, component/operate, backport stable/8.5, component/tasklist, component/optimize, backport stable/8.6, backport stable/8.7

#35191 [Backport stable/8.7] ci: Update camunda-platform-release.yml
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

#34928 fix: correct error usage from useApiCall to show detailed error
  identity/client/src/pages/setup/SetupPage.tsx
  identity/client/src/utility/localization/en/components.json
Labels: component/frontend, component/identity

#35057 feat: Add message subscription methods to Java client
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/search/enums/MessageSubscriptionType.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/MessageSubscriptionFilter.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/builder/MessageSubscriptionTypeProperty.java
  clients/java/src/main/java/io/camunda/client/api/search/request/MessageSubscriptionSearchRequest.java
  clients/java/src/main/java/io/camunda/client/api/search/request/SearchRequestBuilders.java
  clients/java/src/main/java/io/camunda/client/api/search/response/MessageSubscription.java
  clients/java/src/main/java/io/camunda/client/api/search/sort/MessageSubscriptionSort.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/MessageSubscriptionFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/builder/MessageSubscriptionTypePropertyImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/request/MessageSubscriptionSearchRequestImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/request/SearchRequestSortMapper.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/MessageSubscriptionImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/SearchResponseMapper.java
  clients/java/src/main/java/io/camunda/client/impl/search/sort/MessageSubscriptionSortImpl.java
  clients/java/src/test/java/io/camunda/client/elementinstance/ElementInstanceTest.java
  clients/java/src/test/java/io/camunda/client/incident/SearchIncidentTest.java
  clients/java/src/test/java/io/camunda/client/job/SearchJobTest.java
  clients/java/src/test/java/io/camunda/client/messagesubscription/SearchMessageSubscriptionTest.java
  clients/java/src/test/java/io/camunda/client/process/QueryProcessDefinitionTest.java
  clients/java/src/test/java/io/camunda/client/process/QueryProcessInstanceTest.java
  clients/java/src/test/java/io/camunda/client/util/assertions/SortAssert.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/MessageSubscriptionSearchTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/util/TestHelper.java
  qa/acceptance-tests/src/test/resources/process/process_with_parallel_receive_tasks.bpmn
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe, component/c8-api

#35175 Delete persisted snapshot if it's a snapshot for bootstrap before fetching a new one
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/startup/steps/SnapshotStoreStep.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedReceivedSnapshot.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshot.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotId.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotMetadata.java
  zeebe/snapshot/src/main/java/io/camunda/zeebe/snapshots/impl/FileBasedSnapshotStoreImpl.java
  zeebe/snapshot/src/test/java/io/camunda/zeebe/snapshots/transfer/SnapshotTransferTest.java
Labels: component/zeebe

#35186 [Backport stable/8.6] deps: remove AWS SDK v1 dependencies in favor of v2
  operate/common/pom.xml
  operate/common/src/main/java/io/camunda/operate/connect/OpensearchConnector.java
  parent/pom.xml
  search/search-client-connect/pom.xml
  search/search-client-connect/src/main/java/io/camunda/search/connect/os/OpensearchConnector.java
  tasklist/common/pom.xml
  tasklist/common/src/main/java/io/camunda/tasklist/os/OpenSearchConnector.java
  tasklist/webapp/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#35062 refactor: remove operate spring security configuration
  operate/common/src/main/java/io/camunda/operate/testhelpers/StatefulRestTemplate.java
  operate/common/src/main/java/io/camunda/operate/testhelpers/StatefultRestTemplateConfiguration.java
  operate/data-generator/src/main/java/io/camunda/operate/data/develop/DevelopDataGenerator.java
  operate/qa/backup-restore-tests/src/test/java/io/camunda/operate/qa/backup/BackupRestoreTest.java
  operate/qa/backup-restore-tests/src/test/java/io/camunda/operate/qa/backup/BackupRestoreTestContext.java
  operate/qa/backup-restore-tests/src/test/java/io/camunda/operate/qa/backup/DataGenerator.java
  operate/qa/backup-restore-tests/src/test/java/io/camunda/operate/qa/backup/OperateAPICaller.java
  operate/qa/integration-tests/pom.xml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/StartupIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/HealthCheckAuthenticationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/es/AuthenticationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/es/AuthenticationWithPersistentSessionsIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/es/CsrfTokenIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/identity/AuthenticationWithPersistentSessionsIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/identity/JdkAuthenticationDefaultIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/identity/JdkAuthenticationProvidedIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/ldap/AuthenticationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/ldap/AuthenticationWrongParametersIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/oauth2/JwtAuthenticationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/oauth2/JwtDecoderIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/sso/AuthenticationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/sso/AuthenticationWithPersistentSessionsIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/sso/CsrfTokenIT.java
  operate/qa/util/src/main/java/io/camunda/operate/qa/util/TestContainerUtil.java
  operate/webapp/pom.xml
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/BaseWebConfigurer.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/WebSecurityConfig.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/identity/IdentityWebSecurityConfig.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/ldap/LDAPWebSecurityConfig.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/oauth2/IdentityOAuth2WebConfigurer.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/oauth2/OAuth2WebConfigurer.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/sso/SSOWebSecurityConfig.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/security/WebSecurityConfigTest.java
Labels: component/operate

#34963 feat: add resource property to token request payload
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientEnvironmentVariables.java
  clients/java/src/main/java/io/camunda/client/impl/oauth/OAuthCredentialsProvider.java
  clients/java/src/main/java/io/camunda/client/impl/oauth/OAuthCredentialsProviderBuilder.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientEnvironmentVariables.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsProvider.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsProviderBuilder.java
  clients/java/src/test/java/io/camunda/client/OAuthCredentialsProviderTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/OAuthCredentialsProviderBuilderTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/OAuthCredentialsProviderTest.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/configuration/CredentialsProviderConfiguration.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientAuthProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/resources/camunda-client-legacy-property-mappings.properties
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/config/CredentialsProviderResourceTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/properties/CamundaClientPropertiesPostProcessorTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/resources/properties/8.7/self-managed.yaml
Labels: kind/feature, component/zeebe, backport stable/8.6, deprecated-client, backport stable/8.7

#34499 perf: use static instances for keys in objects in Record
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/ElementInstance.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/IndexedRecord.java
  zeebe/msgpack-value/src/main/java/io/camunda/zeebe/msgpack/property/ArrayProperty.java
  zeebe/msgpack-value/src/main/java/io/camunda/zeebe/msgpack/property/BaseProperty.java
  zeebe/msgpack-value/src/main/java/io/camunda/zeebe/msgpack/property/BinaryProperty.java
  zeebe/msgpack-value/src/main/java/io/camunda/zeebe/msgpack/property/BooleanProperty.java
  zeebe/msgpack-value/src/main/java/io/camunda/zeebe/msgpack/property/DeltaEncodedLongArrayProperty.java
  zeebe/msgpack-value/src/main/java/io/camunda/zeebe/msgpack/property/DocumentProperty.java
  zeebe/msgpack-value/src/main/java/io/camunda/zeebe/msgpack/property/EnumProperty.java
  zeebe/msgpack-value/src/main/java/io/camunda/zeebe/msgpack/property/IntegerProperty.java
  zeebe/msgpack-value/src/main/java/io/camunda/zeebe/msgpack/property/LongProperty.java
  zeebe/msgpack-value/src/main/java/io/camunda/zeebe/msgpack/property/ObjectProperty.java
  zeebe/msgpack-value/src/main/java/io/camunda/zeebe/msgpack/property/PackedProperty.java
  zeebe/msgpack-value/src/main/java/io/camunda/zeebe/msgpack/property/StringProperty.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/authorization/AuthorizationRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/authorization/MappingRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/deployment/ProcessMetadata.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/deployment/ProcessRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/distribution/CommandDistributionRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/error/ErrorRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/group/GroupRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/incident/IncidentRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/job/JobBatchRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/job/JobRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/job/JobResult.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/job/JobResultCorrections.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/message/MessageBatchRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/message/MessageCorrelationRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/message/MessageRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/message/MessageStartEventSubscriptionRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/message/MessageSubscriptionRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/message/ProcessMessageSubscriptionRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/metrics/UsageMetricRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceCreationRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceCreationStartInstruction.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceMigrationRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceModificationRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceModificationVariableInstruction.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceResultRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/resource/ResourceDeletionRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/signal/SignalRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/signal/SignalSubscriptionRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/tenant/TenantRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/usertask/UserTaskRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/variable/VariableDocumentRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/variable/VariableRecord.java
Labels: benchmark, component/zeebe

#35230 Allow setup configs on stable branch
  .github/workflows/operate-ci-build-reusable.yml
  .github/workflows/tasklist-ci-build-reusable.yml
Labels: component/build-pipeline, component/operate, component/tasklist

#35149 Add assign client to group command
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/AssignClientToGroupCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/response/AssignClientToGroupResponse.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/AssignClientToGroupCommandImpl.java
  clients/java/src/test/java/io/camunda/client/group/AssignMemberGroupTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/GroupAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/ClientsByGroupIntegrationTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
Labels: component/zeebe, component/c8-api

#33884 feat: usage metric RDBMS export handler, reader/writer, qa test
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/RdbmsService.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/mapper/UsageMetricEntityMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/UsageMetricReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/UsageMetricMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/typehandler/UsageMetricEventTypeTypeHandler.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriterFactory.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/UsageMetricDbModel.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/queue/ContextType.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/RdbmsPurger.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/UsageMetricWriter.java
  db/rdbms/src/main/resources/mapper/UsageMetricMapper.xml
  dist/src/main/java/io/camunda/application/commons/rdbms/MyBatisConfiguration.java
  dist/src/main/java/io/camunda/application/commons/rdbms/RdbmsConfiguration.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/usagemetrics/UsageMetricsIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/util/CamundaDatabaseTestApplicationResolver.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/util/CamundaRdbmsInvocationContextProviderExtension.java
  search/search-domain/src/main/java/io/camunda/search/entities/UsageMetricStatisticsEntity.java
  search/search-domain/src/main/java/io/camunda/search/filter/UsageMetricsFilter.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterWrapper.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/UsageMetricExportHandler.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#35180 ci: dynamically generate concurrency group naming
  .github/conftest-unified-ci-rules.rego
  .github/workflows/ci.yml
  .github/workflows/generate-snapshot-docker-tag-and-concurrency-group.yml
  .github/workflows/operate-ci-build-reusable.yml
  .github/workflows/snapshot-docker-version-tag.yml
  .github/workflows/tasklist-ci-build-reusable.yml
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe, component/operate, backport stable/8.5, component/tasklist, backport stable/8.6, backport stable/8.7

#35250 [Backport stable/8.7] ci: dynamically generate concurrency group naming
  .github/conftest-unified-ci-rules.rego
  .github/workflows/ci.yml
  .github/workflows/generate-snapshot-docker-tag-and-concurrency-group.yml
  .github/workflows/operate-ci-build-reusable.yml
  .github/workflows/snapshot-docker-version-tag.yml
  .github/workflows/tasklist-ci-build-reusable.yml
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist

#35249 [Backport stable/8.6] ci: dynamically generate concurrency group naming
  .github/conftest-unified-ci-rules.rego
  .github/workflows/ci.yml
  .github/workflows/generate-snapshot-docker-tag-and-concurrency-group.yml
  .github/workflows/operate-ci-build-reusable.yml
  .github/workflows/snapshot-docker-version-tag.yml
  .github/workflows/tasklist-ci-build-reusable.yml
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist

#35228 [Backport stable/8.7] feat: add resource property to token request payload
  clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsProvider.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsProviderBuilder.java
  clients/java/src/test/java/io/camunda/zeebe/client/OAuthCredentialsProviderBuilderTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/OAuthCredentialsProviderTest.java
Labels: backport main, component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#35227 [Backport stable/8.6] feat: add resource property to token request payload
  clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsProvider.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsProviderBuilder.java
  clients/java/src/test/java/io/camunda/zeebe/client/OAuthCredentialsProviderBuilderTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/OAuthCredentialsProviderTest.java
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist

#35210 feat: add datasource as panels variable
  monitor/grafana/dashboards/core-features-overview.json
  monitor/grafana/zeebe.json
Labels: component/zeebe

#34990 [Backport stable/8.5] fix: ensure that `TestActorFuture` times out properly
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/TestActorFuture.java
Labels: component/zeebe

#35170 CI: allow concurrent stable branch builds
  .github/workflows/ci.yml
Labels: component/build-pipeline, backport stable/8.6, backport stable/8.7

#35301 [Backport stable/8.7] CI: allow concurrent stable branch builds
  .github/workflows/ci.yml
Labels: component/build-pipeline

#35300 [Backport stable/8.6] CI: allow concurrent stable branch builds
  .github/workflows/ci.yml
Labels: component/build-pipeline

#35269 [Backport stable/8.7] fix: increase tomcat max part count to 50
  dist/src/main/resources/application.properties
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#35184 Add unassign client from group command to java client
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/UnassignClientFromGroupCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/response/UnassignClientFromGroupResponse.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/UnassignClientFromGroupCommandImpl.java
  clients/java/src/test/java/io/camunda/client/group/UnassignMemberGroupTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/GroupAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/ClientsByGroupIntegrationTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
Labels: component/zeebe, component/c8-api

#35200 Feat/34960 bo api documentation
  clients/java/src/main/java/io/camunda/client/api/command/CreateBatchOperationCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/MigrationPlan.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe, component/c8-api

#35328 Console Ping: add profiles to payload.
  dist/src/main/java/io/camunda/application/commons/console/ping/PingConsoleRunner.java
  dist/src/main/java/io/camunda/application/commons/console/ping/PingConsoleTask.java
  dist/src/test/java/io/camunda/application/commons/console/ping/PingConsoleConfigurationTest.java
  dist/src/test/java/io/camunda/application/commons/console/ping/PingConsoleRunnerIT.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, backport stable/8.7

#35278 Port component template overwriting fix from 8.6 to 8.7
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchClient.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/TemplateReader.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchClientIT.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterIT.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/SchemaManagerIT.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/TemplateReaderTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/TestClient.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchClient.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/TemplateReader.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchClientIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/SchemaManagerIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TemplateReaderTest.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestClient.java
Labels: component/zeebe

#35380 [Backport stable/8.7] fix: Slack notification formatting fix
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

#35248 [Backport stable/8.5] ci: dynamically generate concurrency group naming
  .github/workflows/generate-snapshot-docker-tag-and-concurrency-group.yml
  .github/workflows/snapshot-docker-version-tag.yml
  .github/workflows/zeebe-ci.yml
Labels: component/zeebe, component/operate

#35370 feat: unified config: override BrokerBasedProperties bean with its UC version
  configuration/pom.xml
  configuration/src/main/java/io/camunda/configuration/beanoverrides/BrokerBasedPropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beans/BrokerBasedProperties.java
  dist/src/main/java/io/camunda/application/StandaloneCamunda.java
  dist/src/main/java/io/camunda/application/StandaloneSchemaManager.java
  dist/src/main/java/io/camunda/application/commons/configuration/BrokerBasedConfiguration.java
  qa/acceptance-tests/pom.xml
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestCamundaApplication.java
  qa/util/src/test/java/io/camunda/qa/util/multidb/MultiDbConfiguratorTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteringRule.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ScaleUpPartitionsTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/network/SecureClusteredMessagingIT.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestGateway.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestRestoreApp.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneApplication.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#35317 30477 fix generate snapshot and concurrency group
  .github/workflows/ci.yml
  .github/workflows/generate-snapshot-docker-tag-and-concurrency-group.yml
Labels: component/build-pipeline, component/zeebe, backport stable/8.6, backport stable/8.7

#35384 deps: update commons-lang3 to 3.18.0
  parent/pom.xml
Labels: component/zeebe, component/operate, backport stable/8.5, component/tasklist, component/optimize, backport stable/8.6, backport stable/optimize-8.6, backport stable/optimize-8.7

#35390 [Backport stable/8.6] 30477 fix generate snapshot and concurrency group
  .github/workflows/ci.yml
  .github/workflows/generate-snapshot-docker-tag-and-concurrency-group.yml
Labels: component/build-pipeline

#35395 [Backport stable/8.6] deps: update commons-lang3 to 3.18.0
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#35379 [Backport stable/8.6] fix: Slack notification formatting fix
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

#35334 refactor: remove ldap profile from Operate profile class
  operate/common/src/main/java/io/camunda/operate/OperateProfileService.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchUserStore.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchUserStore.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/auth/OperateUserDetailsService.java
Labels: component/operate

#35391 [Backport stable/8.7] 30477 fix generate snapshot and concurrency group
  .github/workflows/ci.yml
  .github/workflows/generate-snapshot-docker-tag-and-concurrency-group.yml
Labels: component/build-pipeline

#35208 Consolidate existing metrics
  monitor/grafana/dashboards/data_layer.json
Labels: component/zeebe, backport stable/8.6, backport stable/8.7

#35392 ci: add linting rule to detect situations of unintentional skipping
  .github/conftest-unified-ci-rules.rego
Labels: backport stable/8.6, backport stable/8.7

#35331 [Backport stable/8.7] Console Ping: add profiles to payload.
  dist/src/main/java/io/camunda/application/commons/console/ping/PingConsoleRunner.java
  dist/src/main/java/io/camunda/application/commons/console/ping/PingConsoleTask.java
  dist/src/test/java/io/camunda/application/commons/console/ping/PingConsoleConfigurationTest.java
  dist/src/test/java/io/camunda/application/commons/console/ping/PingConsoleRunnerIT.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#35314 Extend the job result for the ad-hoc sub-process
  clients/java/src/main/java/io/camunda/client/impl/command/CompleteJobCommandImpl.java
  clients/java/src/test/java/io/camunda/client/job/rest/CompleteJobRestTest.java
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-job-batch-template.json
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-job-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-job-batch-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-job-template.json
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/RequestMapper.java
  zeebe/gateway-protocol/src/main/proto/gateway.proto
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/job/JobResult.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/job/JobResultActivateElement.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/JobRecordValue.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/JobResultType.java
Labels: component/zeebe, component/c8-api
