Repository camunda/camunda, pull requests merged in 2025-01, with the labels that each got.

#26443 [Backport stable/8.5] Limit REST requests
  zeebe/clients/java/src/main/java/io/camunda/zeebe/client/impl/http/ApiCallback.java
  zeebe/clients/java/src/test/java/io/camunda/zeebe/client/impl/http/ApiCallbackTest.java
Labels: component/zeebe

#26464 fix: make DevDataGenerator use TasklistServicesAdapter
  tasklist/common/pom.xml
  tasklist/common/src/main/java/io/camunda/tasklist/util/PayloadUtil.java
  tasklist/common/src/main/java/io/camunda/tasklist/zeebe/TasklistServicesAdapter.java
  tasklist/data-generator/pom.xml
  tasklist/data-generator/src/main/java/io/camunda/tasklist/data/DevDataGeneratorAbstract.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/ZeebeTestUtil.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/CamundaClientBasedAdapter.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/CamundaServicesBasedAdapter.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/ProcessService.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/TaskService.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/service/ProcessServiceTest.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/service/TaskServiceTest.java
Labels: component/tasklist, backport release-8.7.0-alpha3

#26476 [Backport release-8.7.0-alpha3] fix: make DevDataGenerator use TasklistServicesAdapter
  tasklist/common/pom.xml
  tasklist/common/src/main/java/io/camunda/tasklist/util/PayloadUtil.java
  tasklist/common/src/main/java/io/camunda/tasklist/zeebe/TasklistServicesAdapter.java
  tasklist/data-generator/pom.xml
  tasklist/data-generator/src/main/java/io/camunda/tasklist/data/DevDataGeneratorAbstract.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/ZeebeTestUtil.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/CamundaClientBasedAdapter.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/CamundaServicesBasedAdapter.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/ProcessService.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/TaskService.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/service/ProcessServiceTest.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/service/TaskServiceTest.java
Labels: component/tasklist

#26475 ci: make tasklist e2e use the camunda exporter
  .github/workflows/tasklist-e2e-tests.yml
  tasklist/client/e2e/visual/login.spec.ts-snapshots/login-page-empty-page-1-chromium-linux.png
  tasklist/client/e2e/visual/login.spec.ts-snapshots/login-page-field-level-error-1-chromium-linux.png
  tasklist/client/e2e/visual/login.spec.ts-snapshots/login-page-form-level-error-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-all-open-tasks-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-completed-tasks-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-completed-tasks-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-completed-tasks-3-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-assigned-task-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-assigned-task-with-form-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-completed-task-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-completed-task-with-variables-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-task-without-a-form-and-with-variables-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-task-without-a-form-and-with-variables-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-task-without-a-form-and-with-variables-3-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-task-without-a-form-and-without-variables-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-unassigned-task-with-form-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-assigned-to-me-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-due-date-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-due-date-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-follow-up-date-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-follow-up-date-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-priority-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-priority-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-unassigned-tasks-1-chromium-linux.png
Labels: component/build-pipeline, component/tasklist, update-snapshots, backport release-8.7.0-alpha3

#26480 [Backport release-8.7.0-alpha3] ci: make tasklist e2e use the camunda exporter
  .github/workflows/tasklist-e2e-tests.yml
  tasklist/client/e2e/visual/login.spec.ts-snapshots/login-page-empty-page-1-chromium-linux.png
  tasklist/client/e2e/visual/login.spec.ts-snapshots/login-page-field-level-error-1-chromium-linux.png
  tasklist/client/e2e/visual/login.spec.ts-snapshots/login-page-form-level-error-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-all-open-tasks-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-completed-tasks-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-completed-tasks-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-completed-tasks-3-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-assigned-task-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-assigned-task-with-form-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-completed-task-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-completed-task-with-variables-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-task-without-a-form-and-with-variables-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-task-without-a-form-and-with-variables-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-task-without-a-form-and-with-variables-3-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-task-without-a-form-and-without-variables-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-unassigned-task-with-form-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-assigned-to-me-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-due-date-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-due-date-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-follow-up-date-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-follow-up-date-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-priority-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-priority-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-unassigned-tasks-1-chromium-linux.png
Labels: component/build-pipeline, component/tasklist

#26413 ci: apply detect-changes on Tasklist E2E and docker test workflows
  .github/workflows/tasklist-docker-tests.yml
  .github/workflows/tasklist-e2e-tests.yml
Labels: component/build-pipeline, component/tasklist

#26478 build: add curl and base commands to optimize dockerfile
  .github/optimize/scripts/build-docker-image.sh
  optimize.Dockerfile
Labels: component/optimize, backport release-8.7.0-alpha3

#26483 [Backport release-8.7.0-alpha3] build: add curl and base commands to optimize dockerfile
  .github/optimize/scripts/build-docker-image.sh
  optimize.Dockerfile
Labels: component/optimize

#26477 ci: omit commit sha in image tag from branch
  .github/workflows/camunda-platform-docker-deploy-saas-image.yml
Labels: component/build-pipeline

#26487 fix: fix optimize image wait-for-it.sh permissions
  optimize.Dockerfile
Labels: backport main, component/optimize

#26231 feat: add more trusted algorithms to Operate JWT decoder
  operate/qa/integration-tests/pom.xml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/oauth2/JwtDecoderIT.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/oauth2/IdentityOAuth2WebConfigurer.java
Labels: component/operate

#26488 [Backport main] fix: fix optimize image wait-for-it.sh permissions
  optimize.Dockerfile
Labels: component/optimize

#26497 feat: add more trusted algorithms to Operate JWT decoder [Backport 8.5]
  operate/pom.xml
  operate/qa/integration-tests/pom.xml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/oauth2/JwtDecoderIT.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/oauth2/IdentityOAuth2WebConfigurer.java
Labels: component/operate

#25696 feat: Operate supports multi-tenancy with auth-basic
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/identity/IdentityUserService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/sso/SSOUserService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/tenant/TenantService.java
  qa/integration-tests/src/test/java/io/camunda/it/client/QueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/operate/OperateMultiTenancyIT.java
  qa/integration-tests/src/test/java/io/camunda/it/operate/OperatePermissionsIT.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestRestOperateClient.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestStandaloneCamunda.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/it/util/AuthorizationsUtil.java
Labels: component/zeebe, component/operate, component/c8-api, component/tasklist, component/optimize

#26501 fix: Revert "deps: Update version.lucene to v8.11.4"
  operate/pom.xml
Labels: component/operate

#26462 [Backport stable/8.6] fix: do not throw Exception when GCS store is not accessible on startup
  zeebe/backup-stores/gcs/pom.xml
  zeebe/backup-stores/gcs/src/main/java/io/camunda/zeebe/backup/gcs/GcsBackupStore.java
  zeebe/backup-stores/gcs/src/test/java/io/camunda/zeebe/backup/gcs/ConfigIT.java
Labels: component/zeebe

#26493 feat: enable webapp functionality only if webappEnabled property is set
  dist/src/main/java/io/camunda/application/commons/backup/BackupConfig.java
  dist/src/main/java/io/camunda/application/commons/backup/BackupPriorityConfiguration.java
  dist/src/main/java/io/camunda/application/commons/backup/DynamicIndicesConfiguration.java
  dist/src/main/java/io/camunda/application/commons/backup/ElasticsearchBackupRepository.java
  dist/src/main/java/io/camunda/application/commons/backup/ElasticsearchOptimizeBackupRepository.java
  dist/src/main/java/io/camunda/application/commons/backup/ElasticsearchTasklistBackupRepository.java
  dist/src/main/java/io/camunda/application/commons/backup/HistoryBackupComponent.java
  dist/src/main/java/io/camunda/application/commons/backup/OpensearchBackupRepository.java
  dist/src/main/java/io/camunda/application/commons/backup/OpensearchOptimizeBackupRepository.java
  dist/src/main/java/io/camunda/application/commons/backup/OpensearchTasklistBackupRepository.java
  dist/src/main/java/io/camunda/application/commons/conditions/WebappEnabledCondition.java
  dist/src/main/java/io/camunda/webapps/controllers/BackupController.java
  dist/src/main/java/io/camunda/webapps/controllers/BackupControllerStandalone.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, backport release-8.7.0-alpha3

#26513 build: Rollback Optimize dockerfile changes
  optimize-distro/pom.xml
  optimize.Dockerfile
  optimize.fallback.Dockerfile
Labels: component/optimize, backport release-8.7.0-alpha3

#26518 [Backport release-8.7.0-alpha3] build: Rollback Optimize dockerfile changes
  optimize-distro/pom.xml
  optimize.Dockerfile
  optimize.fallback.Dockerfile
Labels: component/optimize

#26514 [Backport release-8.7.0-alpha3] feat: enable webapp functionality only if webappEnabled property is set
  dist/src/main/java/io/camunda/application/commons/backup/BackupConfig.java
  dist/src/main/java/io/camunda/application/commons/backup/BackupPriorityConfiguration.java
  dist/src/main/java/io/camunda/application/commons/backup/DynamicIndicesConfiguration.java
  dist/src/main/java/io/camunda/application/commons/backup/ElasticsearchBackupRepository.java
  dist/src/main/java/io/camunda/application/commons/backup/ElasticsearchOptimizeBackupRepository.java
  dist/src/main/java/io/camunda/application/commons/backup/ElasticsearchTasklistBackupRepository.java
  dist/src/main/java/io/camunda/application/commons/backup/HistoryBackupComponent.java
  dist/src/main/java/io/camunda/application/commons/backup/OpensearchBackupRepository.java
  dist/src/main/java/io/camunda/application/commons/backup/OpensearchOptimizeBackupRepository.java
  dist/src/main/java/io/camunda/application/commons/backup/OpensearchTasklistBackupRepository.java
  dist/src/main/java/io/camunda/application/commons/conditions/WebappEnabledCondition.java
  dist/src/main/java/io/camunda/webapps/controllers/BackupController.java
  dist/src/main/java/io/camunda/webapps/controllers/BackupControllerStandalone.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#26491 refactor: make shouldCreateData check zeebe deployment index
  operate/common/src/main/java/io/camunda/operate/zeebe/ZeebeESConstants.java
  operate/data-generator/src/main/java/io/camunda/operate/data/AbstractDataGenerator.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/ImportJob.java
  operate/schema/src/main/java/io/camunda/operate/store/ZeebeStore.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchZeebeStore.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchZeebeStore.java
  tasklist/common/src/main/java/io/camunda/tasklist/zeebe/ZeebeESConstants.java
  tasklist/data-generator/src/main/java/io/camunda/tasklist/data/es/DevDataGeneratorElasticSearch.java
  tasklist/data-generator/src/main/java/io/camunda/tasklist/data/os/DevDataGeneratorOpenSearch.java
Labels: component/operate, component/tasklist, backport release-8.7.0-alpha3

#26519 [Backport release-8.7.0-alpha3] refactor: make shouldCreateData check zeebe deployment index
  operate/common/src/main/java/io/camunda/operate/zeebe/ZeebeESConstants.java
  operate/data-generator/src/main/java/io/camunda/operate/data/AbstractDataGenerator.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/ImportJob.java
  operate/schema/src/main/java/io/camunda/operate/store/ZeebeStore.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchZeebeStore.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchZeebeStore.java
  tasklist/common/src/main/java/io/camunda/tasklist/zeebe/ZeebeESConstants.java
  tasklist/data-generator/src/main/java/io/camunda/tasklist/data/es/DevDataGeneratorElasticSearch.java
  tasklist/data-generator/src/main/java/io/camunda/tasklist/data/os/DevDataGeneratorOpenSearch.java
Labels: component/operate, component/tasklist

#26511 fix: match historic/rollover indices correctly
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepository.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepositoryIT.java
Labels: component/zeebe, backport release-8.7.0-alpha3

#26520 [Backport release-8.7.0-alpha3] fix: match historic/rollover indices correctly
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepository.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepositoryIT.java
Labels: component/zeebe

#26515 ci: make mvn build Tasklist FE by default
  tasklist/pom.xml
Labels: component/tasklist, backport release-8.7.0-alpha3

#26527 [Backport release-8.7.0-alpha3] ci: make mvn build Tasklist FE by default
  tasklist/pom.xml
Labels: component/tasklist

#26535 ci: add optimize distro to release artifacts
  .github/workflows/camunda-platform-release.yml
Labels: component/build-pipeline

#26538 test: use lowercase GCS bucketname
  zeebe/backup-stores/gcs/src/test/java/io/camunda/zeebe/backup/gcs/ConfigIT.java
Labels: backport stable/8.3, backport stable/8.4, component/zeebe, backport stable/8.5, backport stable/8.6, backport release-8.7.0-alpha3

#26542 [Backport stable/8.6] test: use lowercase GCS bucketname
  zeebe/backup-stores/gcs/src/test/java/io/camunda/zeebe/backup/gcs/ConfigIT.java
Labels: component/zeebe

#26536 fix: allow missing indices when archiving for now
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepository.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepositoryIT.java
Labels: component/zeebe, backport release-8.7.0-alpha3

#26546 [Backport release-8.7.0-alpha3] fix: allow missing indices when archiving for now
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepository.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepositoryIT.java
Labels: component/zeebe

#26541 [Backport stable/8.5] test: use lowercase GCS bucketname
  zeebe/backup-stores/gcs/src/test/java/io/camunda/zeebe/backup/gcs/ConfigIT.java
Labels: component/zeebe

#26550 ci: fix optimize docker image build and verification
  .github/workflows/camunda-platform-release.yml
  optimize.Dockerfile
Labels: component/build-pipeline, component/optimize, backport release-8.7.0-alpha3

#26552 [Backport release-8.7.0-alpha3] ci: fix optimize docker image build and verification
  .github/workflows/camunda-platform-release.yml
  optimize.Dockerfile
Labels: component/build-pipeline, component/optimize

#26558 fix: load dev data from classpath
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/CamundaClientBasedAdapter.java
Labels: component/tasklist, backport release-8.7.0-alpha3

#26559 [Backport release-8.7.0-alpha3] fix: load dev data from classpath
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/CamundaClientBasedAdapter.java
Labels: component/tasklist

#26347 feat: support context path in identity client
  identity/client/src/App.tsx
  identity/client/src/components/global/GlobalRoutes.tsx
  identity/client/src/configuration/index.ts
  identity/client/src/utility/api/hooks/useApiCall.ts
  identity/client/vite.config.ts
Labels: component/identity

#26530 build: add back in Optimize Release Camunda Optimize C8 workflow
  .github/workflows/optimize-release-optimize-c8-only.yml
Labels: component/build-pipeline, component/optimize

#26555 test: fix Optimize Zeebe Import IT
  optimize/backend/src/it/java/io/camunda/optimize/AbstractCCSMIT.java
  optimize/backend/src/it/java/io/camunda/optimize/service/importing/ZeebeUserTaskImportIT.java
Labels: component/optimize

#26573 fix: Tasklist archiver is creating too many scrolls
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/os/ProcessInstanceArchiverJobOpenSearch.java
Labels: component/tasklist

#26569 build: change optimize openshift tags to solve build issue
  optimize/docker/test/verify.sh
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#26580 [Backport stable/8.6] ci: update zeebe-performance-test link
  .github/workflows/zeebe-benchmark.yml
Labels: component/build-pipeline, component/zeebe

#25215 feat: add flag to c8run for not starting elasticsearch
  c8run/main.go
  c8run/types.go
Labels: component/c8run, target:8.7-alpha3

#26582 Release 8.5.11
  bom/pom.xml
  build-tools/pom.xml
  clients/go/internal/embedded/data/VERSION
  dist/pom.xml
  parent/pom.xml
  pom.xml
  spring-boot-starter-camunda-sdk/pom.xml
  zeebe/atomix/cluster/pom.xml
  zeebe/atomix/pom.xml
  zeebe/atomix/utils/pom.xml
  zeebe/auth/pom.xml
  zeebe/backup-stores/azure/pom.xml
  zeebe/backup-stores/common/pom.xml
  zeebe/backup-stores/gcs/pom.xml
  zeebe/backup-stores/s3/pom.xml
  zeebe/backup-stores/testkit/pom.xml
  zeebe/backup/pom.xml
  zeebe/benchmarks/project/pom.xml
  zeebe/bpmn-model/pom.xml
  zeebe/broker-client/pom.xml
  zeebe/broker/pom.xml
  zeebe/clients/java/pom.xml
  zeebe/clients/zeebe-client-spring/pom.xml
  zeebe/dmn/pom.xml
  zeebe/engine/pom.xml
  zeebe/exporter-api/pom.xml
  zeebe/exporter-test/pom.xml
  zeebe/exporters/elasticsearch-exporter/pom.xml
  zeebe/exporters/opensearch-exporter/pom.xml
  zeebe/expression-language/pom.xml
  zeebe/feel/pom.xml
  zeebe/gateway-protocol-impl/pom.xml
  zeebe/gateway-protocol/pom.xml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway/pom.xml
  zeebe/journal/pom.xml
  zeebe/logstreams/pom.xml
  zeebe/msgpack-core/pom.xml
  zeebe/msgpack-value/pom.xml
  zeebe/protocol-asserts/pom.xml
  zeebe/protocol-impl/pom.xml
  zeebe/protocol-jackson/pom.xml
  zeebe/protocol-test-util/pom.xml
  zeebe/protocol/pom.xml
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/pom.xml
  zeebe/qa/update-tests/pom.xml
  zeebe/qa/util/pom.xml
  zeebe/restore/pom.xml
  zeebe/scheduler/pom.xml
  zeebe/snapshot/pom.xml
  zeebe/stream-platform/pom.xml
  zeebe/test-util/pom.xml
  zeebe/topology/pom.xml
  zeebe/transport/pom.xml
  zeebe/util/pom.xml
  zeebe/zb-db/pom.xml
Labels: component/zeebe, component/operate

#26579 [Backport stable/8.5] ci: update zeebe-performance-test link
  .github/workflows/zeebe-benchmark.yml
Labels: component/zeebe

#26570 Add tenants of groups to tenant checks
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorTest.java
Labels: component/zeebe

#26597 Feature/26041 add new cluster change executor api
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/ClusterConfigurationManagerStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/bootstrap/PartitionManagerStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/topology/ClusterChangeExecutorImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/topology/ClusterConfigurationService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/topology/DynamicClusterConfigurationService.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning/topology/ClusterChangeExecutorImplTest.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/ClusterChangeExecutor.java
Labels: component/zeebe

#26596 [Backport release-8.6.7] fix: Tasklist archiver is creating too many scrolls
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/os/ProcessInstanceArchiverJobOpenSearch.java
Labels: component/tasklist

#26601 fix: use proper yarn version arguments
  identity/client/package.json
  identity/client/pom.xml
Labels: component/identity

#25667 feat: --docker flag in c8run
  c8run/main.go
  c8run/package.go
  c8run/types.go
Labels: component/c8run, target:8.7-alpha3

#26608 fix: resolve peer dependency conflicts for identity client
  identity/client/package.json
  identity/client/yarn.lock
Labels: component/identity

#26458 feat: c8run now supports setting a custom username and password
  c8run/main.go
  c8run/main_test.go
  c8run/types.go
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/identity, component/optimize, component/c8run

#26626 deps: update 8.6 to new versions of zeebe and identity
  optimize/pom.xml
Labels: component/operate, component/optimize

#25743 feat: implement `BatchOperationUpdateRepository` repository for Elasticsearch
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/BackgroundTaskManager.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/BackgroundTaskManagerFactory.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/batchoperations/BatchOperationUpdateRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/batchoperations/BatchOperationUpdateTask.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/batchoperations/ElasticsearchBatchOperationUpdateRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/incident/ElasticsearchIncidentUpdateRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/util/ElasticsearchUtil.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/BackgroundTaskManagerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/batchoperations/BatchOperationUpdateRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/batchoperations/BatchOperationUpdateTaskTest.java
Labels: component/zeebe

#26053 feat: implement camunda scoped variables for OIDC auth
  dist/src/main/resources/application-auth-oidc.properties
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#26610 refactor: don't track authorizations by resource id
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbAuthorizationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/AuthorizationState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/ProcessExecutionCleanStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/AuthorizationStateTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
Labels: component/zeebe

#26639 test: make test assertion async
  tasklist/client/src/Login/index.test.tsx
Labels: component/tasklist

#26641 Resolve junit 5 maven dependency convergence
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#26643 ci: fix CAMUNDA_OPERATE_TASKLIST_URL parameter used in docker-compose
  tasklist/config/envs/.env.database.elasticsearch
  tasklist/config/envs/.env.database.opensearch
  tasklist/config/envs/.env.identity
Labels: component/tasklist, backport stable/8.6

#26654 [Backport stable/8.6] ci: fix CAMUNDA_OPERATE_TASKLIST_URL parameter used in docker-compose
  tasklist/config/envs/.env.database.elasticsearch
  tasklist/config/envs/.env.database.opensearch
  tasklist/config/envs/.env.identity
Labels: component/tasklist

#26591 ci: use latest compatible benchmark chart version
  .github/workflows/zeebe-benchmark.yml
Labels: backport stable/8.3, backport stable/8.5

#26471 feat: add more trusted algorithms to Operate JWT decoder
  operate/qa/integration-tests/pom.xml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/oauth2/JwtDecoderIT.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/oauth2/IdentityOAuth2WebConfigurer.java
Labels: component/operate

#26669 [Backport release-8.7.0-alpha3] fix: prevent focus trap on Tasklist native OS notifications dialog
  tasklist/client/src/Tasks/Task/Details/TurnOnNotificationPermission.test.tsx
  tasklist/client/src/Tasks/Task/Details/TurnOnNotificationPermission.tsx
Labels: component/tasklist

#26603 feat: rework batch operation update to be run asynchronously
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/SearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/BackgroundTaskManagerFactory.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/batchoperations/BatchOperationUpdateRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/batchoperations/BatchOperationUpdateTask.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/batchoperations/ElasticsearchBatchOperationUpdateRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/util/ElasticsearchUtil.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/BackgroundTaskManagerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/batchoperations/BatchOperationUpdateRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/batchoperations/BatchOperationUpdateTaskTest.java
Labels: component/zeebe

#26673 deps: release/optimize-8.6.4 Update alpine image
  optimize.Dockerfile
Labels: component/optimize

#26607 feat: implement date filter for user task search
  clients/java/src/main/java/io/camunda/client/api/search/filter/UserTaskFilter.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/UserTaskFilterImpl.java
  clients/java/src/test/java/io/camunda/client/usertask/SearchUserTaskTest.java
  db/rdbms/src/main/resources/mapper/UserTaskMapper.xml
  qa/integration-tests/src/test/java/io/camunda/it/client/UserTaskQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/usertask/UserTaskIT.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/UserTaskFilterTransformer.java
  search/search-domain/src/main/java/io/camunda/search/filter/UserTaskFilter.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
Labels: component/zeebe, component/c8-api

#26463 refactor: moved object storage testcontainers to camunda/qa for testing backups
  qa/util/pom.xml
  qa/util/src/main/java/io/camunda/qa/util/testcontainers/AzuriteContainer.java
  qa/util/src/main/java/io/camunda/qa/util/testcontainers/DefaultTestContainers.java
  qa/util/src/main/java/io/camunda/qa/util/testcontainers/GcsContainer.java
  qa/util/src/main/java/io/camunda/qa/util/testcontainers/MinioContainer.java
  qa/util/src/main/java/io/camunda/qa/util/testcontainers/RemoteDebugger.java
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/AzureBackupAcceptanceIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/AzureRestoreAcceptanceIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/BackupErrorResponseTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/BackupMultiPartitionTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/BackupReplicatedPartitionTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/ClusteredBackupRestoreTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/GcsBackupAcceptanceIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/GcsRestoreAcceptanceIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/S3BackupAcceptanceIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/S3BackupAuthenticationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/S3RestoreAcceptanceIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/GatewayAuthenticationNoneIT.java
  zeebe/qa/update-tests/pom.xml
  zeebe/qa/update-tests/src/test/java/io/camunda/zeebe/test/ContainerState.java
  zeebe/qa/util/pom.xml
Labels: component/zeebe

#26668 fix: Fix slack action parameter
  .github/workflows/optimize-health-status-report.yml
Labels: component/build-pipeline, component/optimize

#26689 fix: fixing something in Camunda client
  clients/java-new/src/main/java/io/camunda/client/CamundaClient.java
Labels: component/zeebe, backport tmp/stable/8.6

#26690 [Backport tmp/stable/8.6] fix: fixing something in Camunda client
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClient.java
Labels: component/zeebe, backport tmp/main

#26437 chore(deps): upgrade Spring Boot to version 3.3.7
  operate/pom.xml
  operate/webapp/pom.xml
Labels: component/operate

#26534 fix: update login vr test to current reflect new year [backport 8.5]
  operate/client/e2e-playwright/visual/login.spec.ts-snapshots/login-page-empty-page-1-chromium-linux.png
Labels: component/operate

#26606 New auth type for authenticated user and user claims
  authentication/pom.xml
  authentication/src/test/java/io/camunda/authentication/handler/CustomMethodSecurityExpressionRootTest.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/config/AuthConfig.java
  security/security-core/src/main/java/io/camunda/security/auth/Authentication.java
  service/src/main/java/io/camunda/service/ApiServices.java
  service/src/main/java/io/camunda/service/JobServices.java
  service/src/test/java/io/camunda/service/GroupServiceTest.java
  service/src/test/java/io/camunda/service/MappingServicesTest.java
  service/src/test/java/io/camunda/service/RoleServicesTest.java
  service/src/test/java/io/camunda/service/TenantServiceTest.java
  service/src/test/java/io/camunda/service/UserServiceTest.java
  zeebe/auth/pom.xml
  zeebe/auth/src/main/java/io/camunda/zeebe/auth/Authorization.java
  zeebe/auth/src/main/java/io/camunda/zeebe/auth/api/AuthorizationEncoder.java
  zeebe/auth/src/main/java/io/camunda/zeebe/auth/api/JwtAuthorizationBuilder.java
  zeebe/auth/src/main/java/io/camunda/zeebe/auth/impl/Authorization.java
  zeebe/auth/src/main/java/io/camunda/zeebe/auth/impl/JwtAuthorizationDecoder.java
  zeebe/auth/src/main/java/io/camunda/zeebe/auth/impl/JwtAuthorizationEncoder.java
  zeebe/auth/src/test/java/io/camunda/zeebe/auth/JwtAuthorizationTest.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/api/dto/BrokerExecuteCommand.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/api/dto/BrokerRequest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AnonymousAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/multitenancy/TenantAwareResourceDeletionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/AuthorizationUtil.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/MockTypedRecord.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/EndpointManager.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/impl/BrokerRequestWithAuthorizationInfoTest.java
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/RequestMapperTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/RestControllerTest.java
  zeebe/protocol-impl/pom.xml
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/encoding/AuthInfo.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/encoding/ExecuteCommandRequest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/RecordMetadata.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/AuthInfoTest.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol-test-util/src/main/java/io/camunda/zeebe/test/broker/protocol/commandapi/ExecuteCommandRequest.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/RecordBatchTest.java
Labels: component/zeebe, component/c8-api

#26512 fix: add flag for local visual regression tests and update login page year
  operate/client/e2e-playwright/visual/login.spec.ts-snapshots/login-page-empty-page-1-chromium-linux.png
  operate/client/playwright.config.ts
Labels: component/operate

#26674 ci: use correct latest benchmark version
  .github/workflows/zeebe-benchmark.yml
Labels: backport stable/8.3, backport stable/8.5

#26651 fix: change default port on Opensearch for tasklist
  .github/workflows/tasklist-ci-test-reusable.yml
  tasklist/common/src/main/java/io/camunda/tasklist/property/OpenSearchProperties.java
  tasklist/config/docker-compose.yml
  tasklist/config/envs/.env.database.opensearch
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistZeebeExtensionOpenSearch.java
Labels: component/build-pipeline, component/tasklist

#26697 [Backport stable/8.5] ci: use correct latest benchmark version
  .github/workflows/zeebe-benchmark.yml
Labels: component/zeebe

#26563 feat: more flexible filters for mappings, groups and tenants
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/SearchClients.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/GroupFilterTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/MappingFilterTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/RoleFilterTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/TenantFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/MappingQueryTransformerTest.java
  search/search-client-rdbms/src/main/java/io/camunda/search/rdbms/RdbmsSearchClient.java
  search/search-client/src/main/java/io/camunda/search/clients/GroupSearchClient.java
  search/search-client/src/main/java/io/camunda/search/clients/MappingSearchClient.java
  search/search-client/src/main/java/io/camunda/search/clients/TenantSearchClient.java
  search/search-domain/src/main/java/io/camunda/search/filter/GroupFilter.java
  search/search-domain/src/main/java/io/camunda/search/filter/MappingFilter.java
  search/search-domain/src/main/java/io/camunda/search/filter/RoleFilter.java
  service/src/main/java/io/camunda/service/GroupServices.java
  service/src/main/java/io/camunda/service/MappingServices.java
  service/src/main/java/io/camunda/service/RoleServices.java
  service/src/main/java/io/camunda/service/TenantServices.java
  service/src/test/java/io/camunda/service/MappingServicesTest.java
Labels: component/identity

#26702 Refactor/25861 follow up improvements
  dist/src/main/java/io/camunda/zeebe/shared/management/ClusterApiUtils.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/topology/ClusterChangeExecutorImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/topology/ClusterConfigurationService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/topology/DynamicClusterConfigurationService.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning/topology/ClusterChangeExecutorImplTest.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/ClusterConfigurationManagerService.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationManagementRequestsHandler.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/PartitionReassignRequestTransformer.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/PurgeRequestTransformer.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/ClusterChangeExecutor.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/ConfigurationChangeAppliersImpl.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/ConfigurationChangeCoordinatorImpl.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/DeleteHistoryApplier.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/ExporterPurgeException.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/PartitionBootstrapApplier.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/PartitionLeaveApplier.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/serializer/ProtoBufSerializer.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/state/ClusterConfigurationChangeOperation.java
  zeebe/dynamic-config/src/main/resources/proto/topology.proto
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/ClusterConfigurationManagementIntegrationTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/ClusterConfigurationManagerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationManagementApiTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/ClusterPurgeRequestTransformerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/TestTopologyChangeSimulator.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/changes/ConfigurationChangeAppliersImplTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/changes/ConfigurationChangeCoordinatorImplTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/changes/DeleteHistoryApplierTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/changes/PartitionLeaveApplierTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/state/ClusterConfigurationTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#26678 deps: update docker labels for release/optimize-8.6.4
  optimize/docker/test/docker-labels.golden.json
Labels: component/optimize

#26685 build: add pushChangea and remoteTagging arguments to optimize releas…
  .github/workflows/optimize-release-optimize-c8-only.yml
Labels: component/build-pipeline, component/optimize

#26705 feat: extend sbom workflow to manual dispatch and draft releases
  .github/workflows/sbom.yml
Labels: component/build-pipeline

#26710 test: remove the adding report to dashboard e2e test
  optimize/client/e2e/sm-tests/Dashboard.js
Labels: component/optimize

#26716 Release/optimize 8.6.4 - merge release branch changes into stable
  .github/workflows/optimize-release-optimize-c8-only.yml
  optimize.Dockerfile
  optimize/docker/test/docker-labels.golden.json
  optimize/pom.xml
Labels: component/build-pipeline, component/optimize

#26703 deps: update zeebe and identity versions
  operate/config/docker-compose.identity.yml
  operate/config/docker-compose.mt.yml
  operate/config/docker-compose.opensearch-identity.yml
  operate/config/docker-compose.test.yml
  operate/docker-compose.opensearch-identity.yml
  operate/docker-compose.opensearch.yml
  operate/docker-compose.yml
  operate/pom.xml
  operate/qa/pom.xml
Labels: component/operate

#26609 fix: specify process instance index name on ProcessInstanceArchiverJobOpenSearch
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/os/ProcessInstanceArchiverJobOpenSearch.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/it/ArchiverIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/DatabaseTestExtension.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/ElasticsearchTestExtension.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/OpenSearchTestExtension.java
Labels: component/tasklist

#26644 Support migrating user task with active task listener
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateUserTaskTest.java
Labels: component/zeebe

#26109 Add joining parallel gateway validations
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationPreconditions.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateParallelGatewayTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceConcurrentNoBatchingTest.java
Labels: component/zeebe

#26592 feat: remove the optimize db version checker on startup and upgrade
  optimize/backend/pom.xml
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/OptimizeElasticsearchClientFactory.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/os/OptimizeOpenSearchClientFactory.java
  optimize/backend/src/main/java/io/camunda/optimize/service/util/DatabaseVersionChecker.java
  optimize/backend/src/test/java/io/camunda/optimize/service/util/ElasticsearchDatabaseVersionCheckerTest.java
  optimize/backend/src/test/java/io/camunda/optimize/service/util/OpensearchDatabaseVersionCheckerTest.java
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/main/UpgradeProcedure.java
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/service/UpgradeValidationService.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/main/UpgradeProcedureTest.java
Labels: component/optimize, backport stable/optimize-8.6

#26721 deps: bump tasklist deps
  .github/workflows/tasklist-ci-fe-reusable.yml
  tasklist/client/e2e/form-js-integration.spec.ts-snapshots/form-js-integration-check-if-Carbonization-is-working-1-chromium-linux.png
  tasklist/client/e2e/visual-fixtures.ts
  tasklist/client/e2e/visual/login.spec.ts-snapshots/login-page-form-level-error-1-chromium-linux.png
  tasklist/client/e2e/visual/processes-page.spec.ts-snapshots/processes-page-consent-modal-1-chromium-linux.png
  tasklist/client/e2e/visual/processes-page.spec.ts-snapshots/processes-page-empty-search-1-chromium-linux.png
  tasklist/client/e2e/visual/processes-page.spec.ts-snapshots/processes-page-empty-state-1-chromium-linux.png
  tasklist/client/e2e/visual/processes-page.spec.ts-snapshots/processes-page-empty-state-dark-theme-1-chromium-linux.png
  tasklist/client/e2e/visual/processes-page.spec.ts-snapshots/processes-page-loaded-processes-1-chromium-linux.png
  tasklist/client/e2e/visual/processes-page.spec.ts-snapshots/processes-page-should-show-a-start-form-tag-1-chromium-linux.png
  tasklist/client/e2e/visual/processes-page.spec.ts-snapshots/processes-page-should-show-a-tenant-dropdown-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-all-open-tasks-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-completed-tasks-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-completed-tasks-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-completed-tasks-3-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-custom-filters-modal-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-empty-list-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-empty-state-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-empty-state-dark-theme-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-empty-state-when-completed-task-before-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-expanded-side-panel-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-process-view-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-assigned-task-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-assigned-task-with-form-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-completed-task-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-completed-task-with-variables-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-task-without-a-form-and-with-variables-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-task-without-a-form-and-with-variables-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-task-without-a-form-and-with-variables-3-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-task-without-a-form-and-without-variables-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-unassigned-task-with-form-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-assigned-to-me-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-due-date-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-due-date-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-follow-up-date-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-follow-up-date-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-priority-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-priority-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tenant-on-task-detail-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-unassigned-tasks-1-chromium-linux.png
  tasklist/client/package.json
  tasklist/client/src/Layout/Header/tests/licenseNotice.test.tsx
  tasklist/client/src/OSNotifications.tsx
  tasklist/client/src/Tasks/Task/Variables/validators/index.test.tsx
  tasklist/client/src/modules/api.ts
  tasklist/client/src/modules/components/FormJSRenderer/index.tsx
  tasklist/client/src/modules/hooks/useInterval.ts
  tasklist/client/yarn.lock
Labels: component/build-pipeline, component/tasklist

#26590 pg-24942-remove-concurrency-checks
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/v8_6/processors/EventZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/v8_6/processors/ImportBulkProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/v8_6/processors/IncidentZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/v8_6/processors/JobZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/v8_6/processors/ListViewZeebeRecordProcessor.java
  operate/importer-8_6/src/main/java/io/camunda/operate/zeebeimport/v8_6/processors/VariableZeebeRecordProcessor.java
  operate/importer-8_7/src/main/java/io/camunda/operate/zeebeimport/processors/FlowNodeInstanceZeebeRecordProcessor.java
  operate/importer-8_7/src/main/java/io/camunda/operate/zeebeimport/processors/VariableZeebeRecordProcessor.java
  operate/importer-8_7/src/main/java/io/camunda/operate/zeebeimport/processors/fni/FNITransformer.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/ImportPositionHolder.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/ImportStoreIT.java
  operate/schema/src/main/java/io/camunda/operate/store/ImportStore.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchImportStore.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchImportStore.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/operate/index/ImportPositionIndex.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/AbstractEventHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/EventFromIncidentHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/EventFromJobHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/EventFromProcessInstanceHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/EventFromProcessMessageSubscriptionHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/IncidentHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/JobHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewFlowNodeFromIncidentHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewFlowNodeFromJobHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewFlowNodeFromProcessInstanceHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromProcessInstanceHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewVariableFromVariableHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/EventFromIncidentHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/EventFromJobHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/EventFromProcessInstanceHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/EventFromProcessMessageSubscriptionHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/IncidentHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/JobHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/ListViewFlowNodeFromIncidentHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/ListViewFlowNodeFromJobHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/ListViewFlowNodeFromProcesInstanceHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromProcessInstanceHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/ListViewVariableFromVariableHandlerTest.java
Labels: component/zeebe, component/operate

#26751 feat: add support for followUpDate and dueDate filters
  clients/java/src/main/java/io/camunda/client/api/search/filter/UserTaskFilter.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/UserTaskFilterImpl.java
  clients/java/src/test/java/io/camunda/client/usertask/SearchUserTaskTest.java
  db/rdbms/src/main/resources/mapper/UserTaskMapper.xml
  qa/integration-tests/src/test/java/io/camunda/it/client/UserTaskQueryTest.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/usertask/UserTaskIT.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/UserTaskFilterTransformer.java
  search/search-domain/src/main/java/io/camunda/search/filter/UserTaskFilter.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
Labels: component/zeebe, component/c8-api

#26760 deps: use correct version for zeebe-client-java for optimize
  optimize/backend/pom.xml
Labels: component/optimize

#26456 docs: add info on how to run identity backend and frontend locally to readme
  identity/README.md
Labels: component/identity

#26766 fix: c8run release 8.6.7
  c8run/internal/run.sh
  c8run/package.bat
  c8run/package.sh
  c8run/windows/c8run_windows.go
Labels: component/c8run

#26767 fix: c8run release 8.7.0-alpha3-rc5
  .github/workflows/c8run-build.yaml
  c8run/e2e_tests/api_tests.sh
  c8run/e2e_tests/playwright.config.ts
  c8run/e2e_tests/tests/operate_login.spec.ts
  c8run/e2e_tests/tests/tasklist_login.spec.ts
  c8run/internal/archive/archive.go
  c8run/main.go
  c8run/main_test.go
  c8run/package.go
  c8run/types.go
Labels: component/build-pipeline, component/c8run

#26768 deps: adjust optimize dependency ver and remove optimize from platform release
  .github/workflows/camunda-platform-release.yml
  optimize/backend/pom.xml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#26754 fix: update get form schema descriptions
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe, component/c8-api

#26818 Revert "[Backport tmp/stable/8.6] fix: fixing something in Camunda client"
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClient.java
Labels: component/zeebe, backport tmp/main, backport tmp/stable/8.7

#26743 feat: remove the optimize db version checker on startup and upgrade
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/OptimizeElasticsearchClientFactory.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/os/OptimizeOpenSearchClientFactory.java
  optimize/backend/src/main/java/io/camunda/optimize/service/util/DatabaseVersionChecker.java
  optimize/backend/src/test/java/io/camunda/optimize/service/util/ElasticsearchDatabaseVersionCheckerTest.java
  optimize/backend/src/test/java/io/camunda/optimize/service/util/OpensearchDatabaseVersionCheckerTest.java
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/main/UpgradeProcedure.java
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/service/UpgradeValidationService.java
Labels: component/optimize

#26765 deps: bump to eslint v9
  tasklist/client/.eslintignore
  tasklist/client/.eslintrc
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-process-view-1-chromium-linux.png
  tasklist/client/eslint.config.js
  tasklist/client/package.json
  tasklist/client/renameProdIndex.mjs
  tasklist/client/src/Tasks/CollapsiblePanel/index.test.tsx
  tasklist/client/src/modules/bpmn-js/BpmnJS.ts
  tasklist/client/src/modules/stores/newProcessInstance.tsx
  tasklist/client/src/modules/testing-library.ts
  tasklist/client/src/modules/types/bpmn-js.d.ts
  tasklist/client/src/modules/utils/formatDateRelative.test.ts
  tasklist/client/src/setupTests.ts
  tasklist/client/stylelint-plugin-license-header.js
  tasklist/client/yarn.lock
Labels: component/tasklist

#26777 fix: zeebe-io references
  .github/workflows/zeebe-benchmark.yml
  .github/workflows/zeebe-medic-benchmarks.yml
  zeebe/benchmarks/setup/README.md
  zeebe/benchmarks/setup/newBenchmark.sh
Labels: component/build-pipeline, component/zeebe

#26800 docs: Changing `reset` to `clear`
  zeebe/gateway-protocol/src/main/proto/gateway.proto
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe, component/c8-api

#26307 fix: identity group details page loads without error
  identity/client/src/components/entityList/EntityList.tsx
  identity/client/src/pages/groups/detail/index.tsx
  identity/client/src/pages/groups/detail/members/index.tsx
  identity/client/src/utility/api/membership/index.ts
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
Labels: component/zeebe, component/operate, component/c8-api, component/tasklist, component/identity, component/optimize

#26842 fix: disable authorizations in c8run due to deploy-a-model errors
  c8run/main.go
Labels: component/c8run

#26824 fix: prio6 indices were not considered when opensearch is configured
  dist/src/main/java/io/camunda/application/commons/backup/BackupPriorityConfiguration.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#26657 pg-26655-replace-xmlutil
  dist/src/main/java/io/camunda/application/commons/rest/RestApiConfiguration.java
  migration/process-migration/pom.xml
  migration/process-migration/src/main/java/io/camunda/migration/process/util/MigrationUtil.java
  migration/process-migration/src/main/java/io/camunda/migration/process/util/ProcessModelUtil.java
  migration/process-migration/src/test/java/io/camunda/migration/process/util/ProcessModelUtilTest.java
  zeebe/exporters/camunda-exporter/pom.xml
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/adapters/ElasticsearchAdapter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/adapters/OpensearchAdapter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/cache/ExporterEntityCacheProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/cache/process/ElasticSearchProcessCacheLoader.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/cache/process/OpenSearchProcessCacheLoader.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/EmbeddedFormHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ProcessHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/utils/ProcessCacheUtil.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/utils/ProcessModelReader.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/utils/XMLUtil.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/cache/ProcessCacheImplIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/EmbeddedFormHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/ProcessHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/ProcessCacheUtilTest.java
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/cache/ProcessCache.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/util/ProcessFlowNodeProvider.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/util/XmlUtil.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/cache/ProcessCacheTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/util/ProcessFlowNodeProviderTest.java
  zeebe/util/pom.xml
  zeebe/util/src/main/java/io/camunda/zeebe/util/modelreader/ProcessModelReader.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/modelreader/ProcessModelReaderTest.java
  zeebe/util/src/test/resources/process/embedded-forms-process.bpmn
  zeebe/util/src/test/resources/process/process-with-form-id-reference.bpmn
  zeebe/util/src/test/resources/process/process-with-form-key-reference.bpmn
  zeebe/util/src/test/resources/process/process-with-subprocesses.bpmn
  zeebe/util/src/test/resources/process/process-without-form-reference.bpmn
  zeebe/util/src/test/resources/process/two-processes.bpmn
Labels: component/zeebe, component/operate, component/c8-api, component/tasklist, component/optimize

#26833 fix: fixing Form Cache tests for integ AWS OS
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/cache/FormCacheIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/utils/SearchDBExtension.java
Labels: component/zeebe

#26719 fix: drop unsupported user claims
  zeebe/auth/pom.xml
  zeebe/auth/src/main/java/io/camunda/zeebe/auth/ClaimTransformer.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/EndpointManager.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
Labels: component/zeebe, component/c8-api

#26763 build: change optimize client into optimize-webjar
  dist/pom.xml
  dist/src/main/resources/application-optimize.properties
  optimize/backend/pom.xml
  optimize/backend/src/main/java/io/camunda/optimize/OptimizeTomcatConfig.java
  optimize/backend/src/main/java/io/camunda/optimize/tomcat/CCSMRequestAdjustmentFilter.java
  optimize/backend/src/main/java/io/camunda/optimize/tomcat/CCSaasRequestAdjustmentFilter.java
  optimize/backend/src/main/java/io/camunda/optimize/tomcat/ExternalHomeServlet.java
  optimize/backend/src/main/java/io/camunda/optimize/tomcat/ExternalResourcesUtil.java
  optimize/client/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#26850 fix: use correct mybatis mapping to increment and decrement incident …
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/FlowNodeInstanceWriter.java
Labels: component/rdbms

#26823 fix: make backoff configurable
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/config/ExporterConfiguration.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/BackgroundTaskManagerFactory.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/ReschedulingTask.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/ReschedulingTaskTest.java
Labels: component/build-pipeline, component/zeebe, component/operate

#26816 ci: add daily build to Unified CI to re-populate GHA caches
  .github/actions/paths-filter/action.yml
  .github/workflows/ci.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#26827 fix: Fixing issue with Zeebe compatibility tests
  .github/workflows/optimize-zeebe-compatibility.yml
  optimize/backend/src/it/java/io/camunda/optimize/AbstractCCSMIT.java
  optimize/backend/src/it/java/io/camunda/optimize/service/importing/ZeebeUserTaskImportIT.java
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/db/ElasticsearchDatabaseTestService.java
Labels: component/build-pipeline, component/optimize

#26894 [Backport stable/8.6] Replace usage of internal Junit 5 helper removed in Junit 5.11
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/ProcessingStateExtension.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/junit/ZeebeIntegrationExtension.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamPlatformExtension.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/junit/AutoCloseResourceExtension.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/ReflectUtil.java
Labels: component/zeebe

#26866 feat: relocate zeebe-client-java to camunda-client-java
  clients/java-deprecated/pom.xml
  pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#26893 [Backport stable/8.5] Replace usage of internal Junit 5 helper removed in Junit 5.11
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/ProcessingStateExtension.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/junit/ZeebeIntegrationExtension.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamPlatformExtension.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/junit/AutoCloseResourceExtension.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/ReflectUtil.java
Labels: component/zeebe

#26887 [Backport stable/8.6] fix: @TestZeebe resources are closed even when constructed in a @BeforeEach
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/junit/ZeebeIntegrationExtension.java
  zeebe/qa/util/src/test/java/io/camunda/zeebe/qa/util/cluster/ZeebeIntegrationTest.java
Labels: component/zeebe

#26881 feat: RDBMS Exporter - Move usage of controller to open #26856
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/variables/VariableValueFilterIT.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporter.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterConfig.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterWrapper.java
  zeebe/exporters/rdbms-exporter/src/test/java/io/camunda/exporter/rdbms/RdbmsExporterTest.java
Labels: component/zeebe, component/rdbms

#26829 feat: remove CDN as font path
  operate/client/src/index.scss
Labels: backport stable/8.3, backport stable/8.4, component/operate, backport stable/8.6

#26913 [backport stable/8.6] fix: handle RawApiEntityConsumer buffer size correctly
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/ApiEntityConsumer.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/TypedApiEntityConsumer.java
Labels: backport main, component/zeebe

#26886 [Backport stable/8.5] fix: @TestZeebe resources are closed even when constructed in a @BeforeEach
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/junit/ZeebeIntegrationExtension.java
  zeebe/qa/util/src/test/java/io/camunda/zeebe/qa/util/cluster/ZeebeIntegrationTest.java
Labels: component/zeebe

#26853 feat: read java client header in LongSerializer
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/serializer/LongSerializer.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/serializer/LongSerializerTest.java
Labels: component/zeebe, component/c8-api

#26872 feat: Change OpenSearch default port
  .github/actions/compose/docker-compose.opensearch.yml
  .github/workflows/optimize-ci.yml
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/ZeebeExtension.java
  optimize/client/docker-compose.yml
  optimize/docker-compose.ccsm-with-optimize.yml
  optimize/docker-compose.ccsm-without-optimize.yml
  optimize/docker-compose.yml
  optimize/util/optimize-commons/src/main/resources/service-config.yaml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize, backport stable/optimize-8.6

#26927 [Backport main] [backport stable/8.6] fix: handle RawApiEntityConsumer buffer size correctly
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/ApiEntityConsumer.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/TypedApiEntityConsumer.java
Labels: component/zeebe

#26160 feat: Document available sort fields in REST API v2
  clients/java/src/main/java/io/camunda/client/impl/search/SearchQuerySortRequest.java
  clients/java/src/main/java/io/camunda/client/impl/search/SearchQuerySortRequestMapper.java
  clients/java/src/main/java/io/camunda/client/impl/search/query/DecisionDefinitionQueryImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/query/DecisionInstanceQueryImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/query/DecisionRequirementsQueryImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/query/FlowNodeInstanceQueryImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/query/IncidentQueryImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/query/ProcessDefinitionQueryImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/query/ProcessInstanceQueryImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/query/SearchQuerySortBase.java
  clients/java/src/main/java/io/camunda/client/impl/search/query/UserTaskQueryImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/query/UserTaskVariableQueryImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/query/VariableQueryImpl.java
  clients/java/src/test/java/io/camunda/client/decision/SearchDecisionDefinitionTest.java
  clients/java/src/test/java/io/camunda/client/decision/SearchDecisionInstanceTest.java
  clients/java/src/test/java/io/camunda/client/decision/SearchDecisionRequirementsTest.java
  clients/java/src/test/java/io/camunda/client/flownodeinstance/FlownodeInstanceTest.java
  clients/java/src/test/java/io/camunda/client/incident/SearchIncidentTest.java
  clients/java/src/test/java/io/camunda/client/process/QueryProcessDefinitionTest.java
  clients/java/src/test/java/io/camunda/client/process/QueryProcessInstanceTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQuerySortRequest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQuerySortRequestMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DecisionDefinitionQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DecisionInstanceQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DecisionRequirementsQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserTaskQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/AuthorizationQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserQueryControllerTest.java
Labels: component/zeebe, component/c8-api

#26953 ci: add daily build to unified ci to re-populate GHA caches - remove protobuf job from the scheduled run list
  .github/actions/paths-filter/action.yml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#26855 feat: use ProcessModelReader for rdbms + fix reading of start formId …
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/exporter/RdbmsExporterIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/exporter/RecordFixtures.java
  zeebe/exporters/rdbms-exporter/pom.xml
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/ProcessExportHandler.java
Labels: component/zeebe, component/tasklist, component/rdbms

#26935 [backport stable/8.6] fix 19883 bug on REST connection pooling (#26317)
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/ApiEntityConsumer.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/LongPollingActivateJobsTest.java
Labels: backport main, component/zeebe

#26468 feat: manage 404 error for identity endpoints
  dist/src/main/java/io/camunda/application/commons/migration/MigrationsRunner.java
  migration/identity-migration/pom.xml
  migration/identity-migration/src/main/java/io/camunda/migration/identity/AuthorizationMigrationHandler.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/GroupMigrationHandler.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/ManagementIdentityProxy.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/MigrationHandler.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/MigrationRunner.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/RoleMigrationHandler.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/TenantMappingRuleMigrationHandler.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/TenantMigrationHandler.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/UserTenantsMigrationHandler.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/config/ManagementIdentityConnector.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/midentity/ManagementIdentityClient.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/AuthorizationMigrationHandlerTest.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/GroupMigrationHandlerTest.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/RoleMigrationHandlerTest.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/TenantMappingRuleMigrationHandlerTest.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/TenantMigrationHandlerTest.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/UserTenantsMigrationHandlerTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#26615 Link resource types with supported permission types
  migration/identity-migration/src/main/java/io/camunda/migration/identity/AuthorizationMigrationHandler.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/DecisionRestServiceIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/FlowNodeInstanceRestServiceIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/ProcessRestServiceIT.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/DecisionInstanceRestService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/DecisionRestService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/FlowNodeInstanceRestService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/ProcessInstanceRestService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/ProcessRestService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/identity/IdentityPermission.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/permission/PermissionsService.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/rest/ProcessInstanceRestServiceTest.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/DecisionAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/ProcessAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/ProcessInstanceAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/operate/OperatePermissionsIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistAssignUserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistCompleteUserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistCreateProcessInstanceAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistProcessDefinitionAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistUnassignUserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/compatibility/CompatibilityTasklistAssignUserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/compatibility/CompatibilityTasklistCompleteUserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/compatibility/CompatibilityTasklistCreateProcessInstanceAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/compatibility/CompatibilityTasklistUnassignUserTaskAuthorizationIT.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/auth/DecisionDefinitionAuthorizationQueryTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/auth/ProcessDefinitionAuthorizationQueryTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/auth/DocumentAuthorizationQueryStrategyTest.java
  security/security-core/src/main/java/io/camunda/security/auth/Authorization.java
  security/security-core/src/main/java/io/camunda/zeebe/protocol/record/value/AuthorizationResourceType.java
  security/security-core/src/main/java/io/camunda/zeebe/protocol/record/value/PermissionType.java
  service/src/main/java/io/camunda/service/DecisionDefinitionServices.java
  service/src/main/java/io/camunda/service/ProcessDefinitionServices.java
  service/src/test/java/io/camunda/service/DecisionDefinitionServiceTest.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/security/permission/TasklistPermissionServices.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationAddPermissionProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/IdentitySetupInitializeProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/PermissionsBehavior.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AddPermissionAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationAddPermissionAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationRemovePermissionAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/RemovePermissionAuthorizationTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe, component/operate, component/c8-api, component/tasklist

#26863 fix: use username instead of key in user export handlers
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/queue/UpsertMerger.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/UserWriter.java
  db/rdbms/src/main/resources/mapper/UserMapper.xml
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/user/UserIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/exporter/RdbmsExporterIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/exporter/RecordFixtures.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/UserDeleteProcessor.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UserCreatedUpdatedHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UserDeletedHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/UserCreatedUpdatedHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/UserDeletedHandlerTest.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/UserExportHandler.java
Labels: component/zeebe

#26954 feat: ignore failure to sync with newly added cluster member
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/gossip/ClusterConfigurationGossiper.java
Labels: component/zeebe

#26933 test: wait for expected snapshot instead of failing fast
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/FailOverReplicationTest.java
Labels: component/zeebe

#26923 feat: move block storage containers from qa/util to zeebe/test-util
  qa/util/pom.xml
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/AzureBackupAcceptanceIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/AzureRestoreAcceptanceIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/BackupErrorResponseTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/BackupMultiPartitionTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/BackupReplicatedPartitionTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/ClusteredBackupRestoreTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/GcsBackupAcceptanceIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/GcsRestoreAcceptanceIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/S3BackupAcceptanceIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/S3BackupAuthenticationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/S3RestoreAcceptanceIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/GatewayAuthenticationNoneIT.java
  zeebe/qa/update-tests/pom.xml
  zeebe/qa/update-tests/src/test/java/io/camunda/zeebe/test/ContainerState.java
  zeebe/test-util/pom.xml
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/testcontainers/AzuriteContainer.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/testcontainers/DefaultTestContainers.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/testcontainers/GcsContainer.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/testcontainers/MinioContainer.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/testcontainers/RemoteDebugger.java
Labels: component/zeebe

#26972 Env for StandaloneSchemaManager.
  dist/src/main/java/io/camunda/application/StandaloneSchemaManager.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#26335 Feature/26334 rdbms metrics
  db/rdbms/pom.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriterFactory.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriterMetrics.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/queue/DefaultExecutionQueue.java
  db/rdbms/src/test/java/io/camunda/db/rdbms/write/queue/DefaultExecutionQueueTest.java
  dist/src/main/java/io/camunda/application/commons/rdbms/RdbmsConfiguration.java
  monitor/README.md
  monitor/grafana/zeebe.json
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/util/RdbmsTestConfiguration.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, component/rdbms

#26904 Add inclusive gateway migration validations
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateInclusiveGatewayTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateProcessInstanceConcurrentNoBatchingTest.java
Labels: component/zeebe

#27010 ci: make sure also GHA *.yaml files are linted
  .github/workflows/c8run-build.yaml
  .github/workflows/ci.yml
  .github/workflows/zeebe-update-long-running-migrating-benchmark.yaml
Labels: component/build-pipeline, component/zeebe

#26964 ci: switch to the default maven resolver
  .github/actions/setup-maven-cache/action.yaml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#27018 [Backport stable/8.6] ci: make sure also GHA *.yaml files are linted
  .github/workflows/c8run-build.yaml
  .github/workflows/zeebe-update-long-running-migrating-benchmark.yaml
Labels: component/build-pipeline, component/zeebe

#26936 Update user by username
  service/src/main/java/io/camunda/service/UserServices.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/UserUpdateProcessor.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserControllerTest.java
Labels: component/zeebe, component/c8-api

#27008 Remove user type from UserRecord
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/IdentitySetupInitializer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/user/PersistedUser.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/user/UserRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/ignored-changes.json
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/UserRecordValue.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/UserType.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/processing/IdentitySetupInitializerIT.java
Labels: component/zeebe

#26941 Authorization delete endpoint
  service/src/main/java/io/camunda/service/AuthorizationServices.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/AuthorizationController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/AuthorizationControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerAuthorizationDeleteRequest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/AuthorizationIntent.java
Labels: component/zeebe, component/c8-api

#27046 test: excluding flaky LargeStateControllerPerformanceTest perf test
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#27012 Cleanup task listener jobs on element instance termination
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/UserTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableUserTask.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/execution/ExecutionListenerTaskElementsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
Labels: component/zeebe

#27023 feat: exchange heartbeat information on channel creation to avoid false-positives
  zeebe/atomix/cluster/pom.xml
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/HeartbeatHandler.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/HeartbeatSetupHandler.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  zeebe/atomix/cluster/src/main/resources/cluster-messaging.xml
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/NettyMessagingServiceTest.java
Labels: component/zeebe

#27024 CreateAuthorization client command
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/CreateAuthorizationCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/response/CreateAuthorizationResponse.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/CreateAuthorizationCommandImpl.java
  clients/java/src/test/java/io/camunda/client/authorization/CreateAuthorizationTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/AuthorizationRequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/AuthorizationControllerTest.java
Labels: component/zeebe, component/c8-api

#26990 Remove `/users/{userKey}/authorizations/search` endooint
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/AuthorizationController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/AuthorizationQueryControllerTest.java
Labels: component/zeebe, component/c8-api

#27064 fix: in NettyMessagingServiceTest don't consider udp sockets already opened
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/NettyMessagingServiceTest.java
Labels: component/zeebe
