Repository camunda/camunda, pull requests merged in 2025-10, with the labels that each got.

#38646 Feature/32664 mock with example data
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/CamundaProcessTestContext.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/mock/JobWorkerMockBuilder.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/util/AwaitilityBehavior.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/extension/CamundaProcessTestContextImpl.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/mock/BpmnExampleDataReader.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/mock/JobWorkerMockBuilderImpl.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/mock/JobWorkerMockImpl.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/ProcessInstanceAssertMessageAssertIT.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/VariableAssertTest.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/impl/extensions/CamundaProcessTestCompletionApiIT.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/impl/extensions/CamundaProcessTestContextIT.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/impl/mock/BpmnExampleDataReaderTest.java
  testing/camunda-process-test-java/src/test/resources/log4j2-test.xml
  testing/camunda-process-test-java/src/test/resources/mockJobWorker/complex-send-email-with-example.bpmn
  testing/camunda-process-test-java/src/test/resources/mockJobWorker/send-email-with-empty-example.bpmn
  testing/camunda-process-test-java/src/test/resources/mockJobWorker/send-email-with-example.bpmn
  testing/camunda-process-test-java/src/test/resources/mockJobWorker/send-email-with-malformed-example.bpmn
  testing/camunda-process-test-java/src/test/resources/mockJobWorker/send-email-without-example.bpmn
  testing/camunda-process-test-java/src/test/resources/mockJobWorker/user-task-with-example.bpmn
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/impl/ZeebeConstants.java
Labels: outdated-branch

#21600 ci: remove obsolete workflow
  .github/workflows/operate-check-project-versions.yml
Labels: component/build-pipeline, component/operate, outdated-branch

#38894 fix: send a request to all partitions before marking scaling as completed
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/scaling/BrokerClientPartitionScalingExecutor.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning/scaling/BrokerClientPartitionScalingExecutorTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/scaling/GetScaleUpProgress.java
  zeebe/logstreams/src/main/java/io/camunda/zeebe/logstreams/impl/flowcontrol/WhiteListedCommands.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ScaleUpPartitionsTest.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/future/CompletableActorFuture.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/future/CompletableActorFutureTest.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/concurrent/FuturesUtilTest.java
Labels: backport stable/8.8, outdated-branch, backport release-8.8.0

#39000 Release 8.5.25
  bom/pom.xml
  build-tools/pom.xml
  clients/go/internal/embedded/data/VERSION
  dist/pom.xml
  parent/pom.xml
  pom.xml
  spring-boot-starter-camunda-sdk/pom.xml
  zeebe/atomix/cluster/pom.xml
  zeebe/atomix/pom.xml
  zeebe/atomix/utils/pom.xml
  zeebe/auth/pom.xml
  zeebe/backup-stores/azure/pom.xml
  zeebe/backup-stores/common/pom.xml
  zeebe/backup-stores/gcs/pom.xml
  zeebe/backup-stores/s3/pom.xml
  zeebe/backup-stores/testkit/pom.xml
  zeebe/backup/pom.xml
  zeebe/benchmarks/project/pom.xml
  zeebe/bpmn-model/pom.xml
  zeebe/broker-client/pom.xml
  zeebe/broker/pom.xml
  zeebe/clients/java/pom.xml
  zeebe/clients/zeebe-client-spring/pom.xml
  zeebe/dmn/pom.xml
  zeebe/engine/pom.xml
  zeebe/exporter-api/pom.xml
  zeebe/exporter-test/pom.xml
  zeebe/exporters/elasticsearch-exporter/pom.xml
  zeebe/exporters/opensearch-exporter/pom.xml
  zeebe/expression-language/pom.xml
  zeebe/feel/pom.xml
  zeebe/gateway-protocol-impl/pom.xml
  zeebe/gateway-protocol/pom.xml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway/pom.xml
  zeebe/journal/pom.xml
  zeebe/logstreams/pom.xml
  zeebe/msgpack-core/pom.xml
  zeebe/msgpack-value/pom.xml
  zeebe/protocol-asserts/pom.xml
  zeebe/protocol-impl/pom.xml
  zeebe/protocol-jackson/pom.xml
  zeebe/protocol-test-util/pom.xml
  zeebe/protocol/pom.xml
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/pom.xml
  zeebe/qa/update-tests/pom.xml
  zeebe/qa/util/pom.xml
  zeebe/restore/pom.xml
  zeebe/scheduler/pom.xml
  zeebe/snapshot/pom.xml
  zeebe/stream-platform/pom.xml
  zeebe/test-util/pom.xml
  zeebe/topology/pom.xml
  zeebe/transport/pom.xml
  zeebe/util/pom.xml
  zeebe/zb-db/pom.xml
Labels: component/zeebe, component/operate

#39004 fix: adjust specification files path
  .github/workflows/specification-changes-reminder.yml
Labels: component/build-pipeline

#38942 feat: limit batch request through estimated memory size
  zeebe/exporters/camunda-exporter/pom.xml
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/config/ExporterConfiguration.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/store/ExporterBatchWriter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/utils/EntitySizeEstimator.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
Labels: backport stable/8.8, outdated-branch

#38932 fix: second PVC Disk usage panel fixed with benchmark PVC name
  monitor/grafana/zeebe.json
Labels: outdated-branch, backport release-8.8.0

#39023 fix: add rest-api.yaml to JAR for swagger
  zeebe/gateway-protocol/pom.xml
Labels: backport release-8.8.0

#38750 [CPT] refactor: Move coverage package
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/CamundaProcessTestExtension.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/coverage/ProcessCoverage.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/coverage/ProcessCoverageBuilder.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/coverage/core/CoverageCollector.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/coverage/core/CoverageCreator.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/coverage/core/ModelCreator.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/coverage/model/Coverage.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/coverage/model/Model.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/coverage/model/Run.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/coverage/model/Suite.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/coverage/report/AggregatedCoverageReport.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/coverage/report/AggregatedSuiteInfo.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/coverage/report/CoverageReportCreator.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/coverage/report/CoverageReportUtil.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/coverage/report/CoverageReporter.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/coverage/report/HtmlCoverageReport.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/coverage/report/SuiteCoverageReport.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/JunitExtensionTest.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/ProcessEngineCoverageIT.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/impl/coverage/report/CoverageReportCreatorTest.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/impl/coverage/report/CoverageReportUtilTest.java
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/api/CamundaProcessTestExecutionListener.java
  testing/camunda-process-test-spring/src/test/java/io/camunda/process/test/api/ExecutionListenerTest.java
Labels: backport stable/8.8, outdated-branch

#38969 feat: remove scaling_enabled feature flag
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/topology/DynamicClusterConfigurationService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/topology/StaticConfigurationGenerator.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/FeatureFlagsCfg.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/configuration/FeatureFlagsCfgTest.java
  zeebe/broker/src/test/resources/system/feature-flags-cfg.yaml
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/ClusterConfigurationManagerService.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/RoutingStateInitializer.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/StaticConfiguration.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationManagementRequestsHandler.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/api/UpdateRoutingStateTransformer.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/util/ConfigurationUtil.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/ClusterConfigurationInitializerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/ClusterConfigurationManagementIntegrationTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/ClusterConfigurationModifierTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/ClusterConfigurationManagementApiTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/ClusterPatchRequestTransformerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/ClusterScaleRequestTransformerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/PartitionReassignRequestTransformerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/ScaleRequestTransformerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/UpdateRoutingStateTransformerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/util/ConfigurationUtilTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/ConcurrentBackupScalingIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ClusterEndpointResponseIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ClusterRoutingEndpointIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ScaleUpPartitionsTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/management/ClusterEndpointIT.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/FeatureFlags.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/FeatureFlagsTest.java
Labels: backport stable/8.8, backport release-8.8.0

#38058 [Backport stable/8.7] fix: ensure completing retry of join request to a single member cluster
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/ReconfigurationHelper.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/LeaderRole.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ControllableRaftContexts.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RandomizedRaftJoinTest.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ReconfigurationTest.java
Labels: component/zeebe

#38254 Add summarizers for FORM records in CompactRecordLogger
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
  zeebe/test-util/src/test/java/io/camunda/zeebe/test/util/record/CompactRecordLoggerTest.java
Labels: outdated-branch

#39031 feat: setup query and add schema for message subscriptions
  client-components/packages/camunda-api-zod-schemas/CHANGELOG.md
  client-components/packages/camunda-api-zod-schemas/lib/8.8/decision-instance.ts
  client-components/packages/camunda-api-zod-schemas/lib/8.8/index.ts
  client-components/packages/camunda-api-zod-schemas/lib/8.8/message-subscriptions.ts
  client-components/packages/camunda-api-zod-schemas/package.json
  operate/client/package-lock.json
  operate/client/package.json
  operate/client/src/modules/api/v2/messageSubscriptions/searchMessageSubscriptions.ts
  operate/client/src/modules/mocks/api/v2/messageSubscriptions/searchMessageSubscriptions.ts
  operate/client/src/modules/queries/messageSubscriptions/useSearchMessageSubscriptions.ts
  tasklist/client/package-lock.json
  tasklist/client/package.json
Labels: component/operate

#38943 refactor: Introduce intermediate classes for ES/OS properties
  configuration/src/main/java/io/camunda/configuration/DocumentBasedHistory.java
  configuration/src/main/java/io/camunda/configuration/DocumentBasedSecondaryStorageDatabase.java
  configuration/src/main/java/io/camunda/configuration/Elasticsearch.java
  configuration/src/main/java/io/camunda/configuration/Opensearch.java
  configuration/src/main/java/io/camunda/configuration/SecondaryStorageDatabase.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/BrokerBasedPropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/SearchEngineConnectPropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/SearchEngineIndexPropertiesOverride.java
Labels: outdated-branch

#39012 chore: add validation against illegal index prefix characters
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/util/configuration/ConfigurationValidator.java
  optimize/util/optimize-commons/src/test/java/io/camunda/optimize/service/util/configuration/ConfigurationServiceTest.java
  optimize/util/optimize-commons/src/test/java/io/camunda/optimize/service/util/configuration/ConfigurationValidatorTest.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/config/ConfigValidator.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/config/ConfigValidatorTest.java
Labels: backport stable/8.8

#39081 Revert "deps: Update dependency org.springframework.boot:spring-boot-…
  operate/pom.xml
Labels: component/operate

#39043 Add new Camunda release migration test
  .github/workflows/camunda-release-migration-test.yml
Labels: component/build-pipeline

#39068 feat: implement preference configuration for username clientid claim
  authentication/src/main/java/io/camunda/authentication/converter/TokenClaimsConverter.java
  authentication/src/test/java/io/camunda/authentication/config/OidcAuthenticationConfigurationTest.java
  authentication/src/test/java/io/camunda/authentication/converter/TokenClaimsConverterTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/oidc/OverlappingUsernameAndClientIdClaimTest.java
  security/security-core/src/main/java/io/camunda/security/configuration/OidcAuthenticationConfiguration.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/interceptors/impl/AuthenticationHandler.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/interceptors/impl/AuthenticationInterceptorTest.java
Labels: backport stable/8.8, backport release-8.8.0

#37097 feat: add operate post importer queue size metric
  operate/common/src/main/java/io/camunda/operate/Metrics.java
  operate/importer/pom.xml
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/post/AbstractIncidentPostImportAction.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/post/PostImporterMetricsDoc.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/post/elasticsearch/ElasticsearchIncidentPostImportAction.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/post/opensearch/OpensearchIncidentPostImportAction.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/ElasticsearchPostImportActionIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/OpensearchPostImportActionIT.java
Labels: component/operate, backport stable/operate-8.5, backport stable/8.6

#39117 Fix V2 Stateless API Nightly Execution Workflow Failure
  .github/workflows/c8-orchestration-cluster-request-validation-nightly.yml
Labels: component/build-pipeline

#39114 [Backport stable/operate-8.5] feat: add operate post importer queue size metric
  operate/common/src/main/java/io/camunda/operate/Metrics.java
  operate/importer/pom.xml
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/post/AbstractIncidentPostImportAction.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/post/elasticsearch/ElasticsearchIncidentPostImportAction.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/post/opensearch/OpensearchIncidentPostImportAction.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/ElasticsearchPostImportActionIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/OpensearchPostImportActionIT.java
Labels: component/operate

#39138 test: fix flaky shouldFlushWhenMemoryLimitReached
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterIT.java
Labels: backport stable/8.8

#39142 ci: fix operate screenshot tool by using the correct path
  .github/workflows/ci-operate.yml
Labels: component/build-pipeline

#39149 pg/fix-retry-condition
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/client/es/ElasticsearchUsageMetricMigrationClient.java
  qa/migration-tests/src/test/java/io/camunda/it/migration/util/MigrationITExtension.java
Labels: backport release-8.8.0

#39193 Revert "[Backport stable/operate-8.5] feat: add operate post importer queue size metric"
  operate/common/src/main/java/io/camunda/operate/Metrics.java
  operate/importer/pom.xml
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/post/AbstractIncidentPostImportAction.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/post/elasticsearch/ElasticsearchIncidentPostImportAction.java
  operate/importer/src/main/java/io/camunda/operate/zeebeimport/post/opensearch/OpensearchIncidentPostImportAction.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/ElasticsearchPostImportActionIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/OpensearchPostImportActionIT.java
Labels: component/operate

#38948 feat: Add test that ensures no dynamic mapping is added to ES/OS indices
  schema-manager/src/test/java/io/camunda/search/schema/DynamicMappingRestrictionIT.java
Labels: backport stable/8.8, outdated-branch

#39074 deps: update zeebe and identity dependencies for 8.5.22
  operate/config/docker-compose.identity.yml
  operate/config/docker-compose.mt.yml
  operate/config/docker-compose.opensearch-identity.yml
  operate/config/docker-compose.test.yml
  operate/docker-compose.opensearch-identity.yml
  operate/docker-compose.opensearch.yml
  operate/docker-compose.yml
  operate/pom.xml
  operate/qa/pom.xml
  operate/qa/util/src/main/java/io/camunda/operate/qa/util/TestContainerUtil.java
Labels: component/operate

#39072 37204-test-process-instance-api
  qa/c8-orchestration-cluster-e2e-test-suite/json-body-assertions/index.ts
  qa/c8-orchestration-cluster-e2e-test-suite/json-body-assertions/responses.json
  qa/c8-orchestration-cluster-e2e-test-suite/package-lock.json
  qa/c8-orchestration-cluster-e2e-test-suite/package.json
  qa/c8-orchestration-cluster-e2e-test-suite/pages/OperateProcessesPage.ts
  qa/c8-orchestration-cluster-e2e-test-suite/resources/call_user_task_process_process.bpmn
  qa/c8-orchestration-cluster-e2e-test-suite/resources/process_instance_api_test.bpmn
  qa/c8-orchestration-cluster-e2e-test-suite/resources/process_with_task_listener.bpmn
  qa/c8-orchestration-cluster-e2e-test-suite/resources/process_with_two_user_tasks.bpmn
  qa/c8-orchestration-cluster-e2e-test-suite/resources/user_task_api_test_process.bpmn
  qa/c8-orchestration-cluster-e2e-test-suite/tests/api/v2/process-instance/process-instance-api.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/api/v2/process-instance/process-instance-cancel-api.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/api/v2/process-instance/process-instance-get-api.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/api/v2/process-instance/process-instance-get-call-hierachy-api.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/api/v2/process-instance/process-instance-get-sequenceflows-api.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/api/v2/process-instance/process-instance-get-statistics-api.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/api/v2/process-instance/process-instance-modify-process-api.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/api/v2/process-instance/process-instance-search-api.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/api/v2/user-task/user-task-assign-api-tests.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/api/v2/user-task/user-task-complete-api-tests.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/api/v2/user-task/user-task-get-api-tests.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/api/v2/user-task/user-task-search-variables-api-tests.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/api/v2/user-task/user-task-unassign-api-tests.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/utils/requestHelpers.ts
Labels: backport main

#38689 fix: Operate returns unauthorized process instance data
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/IncidentStatisticsIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/OpensearchStatisticsIT.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/IncidentStatisticsReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/reader/OpensearchIncidentStatisticsReader.java
Labels: backport stable/8.8

#39192 fix: archiver blocking flag being reapplied
  schema-manager/src/main/java/io/camunda/search/schema/SchemaManager.java
  schema-manager/src/main/java/io/camunda/search/schema/utils/TasklistLegacyTaskTemplate.java
  schema-manager/src/test/java/io/camunda/search/schema/SchemaManagerIT.java
Labels: backport release-8.8.0

#39144 deps: update zeebe and identity for optimize 8.7.11
  optimize/pom.xml
Labels: component/optimize

#39213 [Backport stable/8.6] ci: fix command to run Operate importer tests
  .github/workflows/operate-run-tests.yml
  .github/workflows/operate-test-importer.yml
  operate/pom.xml
  operate/qa/integration-tests/pom.xml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/OperationZeebeIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/metric/ImporterMetricsMockedZeebeImportIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/metric/ImporterMetricsZeebeImportIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/BasicZeebeImportIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/IdempotencyZeebeImportIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/ImportMidnightZeebeImportIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/RetryAfterFailureZeebeImportIT.java
  operate/qa/pom.xml
  operate/qa/util/src/main/java/io/camunda/operate/qa/util/ContainerVersionsUtil.java
Labels: component/build-pipeline

#38991 feat: provide new await method for expecting a supplied value
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/CamundaAssertAwaitBehavior.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/extension/CamundaProcessTestContextImpl.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/mock/BpmnExampleDataReader.java
Labels: outdated-branch

#39160 [Backport stable/8.7] ci: include main as base ref, and enhance label gathering
  .github/workflows/release-branch-notifications.yml
Labels: component/build-pipeline

#39245 test: added process-instance tests for incident search and batch cancellation
  qa/c8-orchestration-cluster-e2e-test-suite/tests/api/v2/process-instance/process-instance-create-batch-to-cancel-api.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/api/v2/process-instance/process-instance-search-incidents-api.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/utils/requestHelpers.ts
Labels: backport main

#39218 fix: reduce failed awaiting archive count logging level
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/ProcessInstanceToBeArchivedCountJob.java
Labels: backport stable/8.6, backport stable/8.7, backport stable/8.8

#39199 test: integrate migration with management identity 8.8-SNAPSHOT
  qa/migration-tests/src/test/java/io/camunda/it/migration/AbstractKeycloakIdentityMigrationIT.java
  qa/migration-tests/src/test/java/io/camunda/it/migration/IdentityMigrationTestUtil.java
  qa/migration-tests/src/test/java/io/camunda/it/migration/OidcIdentityMigrationIT.java
Labels: backport release-8.8.0

#39275 Adapt nightly upgrade test to recent HC changes
  .github/workflows/camunda-release-migration-test.yml
Labels: component/build-pipeline

#39246 37204-test-process-instance-batch-resolve-api
  qa/c8-orchestration-cluster-e2e-test-suite/tests/api/v2/process-instance/process-instance-create-batch-to-resolve-incidents-api.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/utils/requestHelpers.ts
Labels: backport main

#39221 [Backport stable/8.6] feat: Submit all types of Junit test details to CI Analytics
  .ci/scripts/ci/observe-build-status/README.md
  .ci/scripts/ci/observe-build-status/junit-test-results-to-jsonl.py
  .github/actions/observe-build-status/action.yml
  .github/actions/observe-build-status/junit-failure-to-jsonl.py
  .github/actions/observe-build-status/junit-flaky-to-jsonl.py
  .github/workflows/ci.yml
  .github/workflows/zeebe-ci.yml
Labels: component/build-pipeline

#39008 fix: Prefer stable branch docker images when on stable branches or backports
  testing/CONTRIBUTION_GUIDE.md
  testing/camunda-process-test-java/pom.xml
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/CamundaProcessTestRuntimeDefaults.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/ContainerRuntimePropertiesUtil.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/GitPropertiesUtil.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/properties/CamundaContainerRuntimeProperties.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/properties/ConnectorsContainerRuntimeProperties.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/util/VersionedPropertiesUtil.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/impl/runtime/ContainerRuntimePropertiesUtilTest.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/impl/runtime/GitPropertiesUtilTest.java
  testing/camunda-process-test-java/src/test/resources/gitProperties/git.properties
Labels: backport stable/8.8, outdated-branch

#39309 test: added process-instance tests for batch modify
  qa/c8-orchestration-cluster-e2e-test-suite/tests/api/v2/process-instance/process-instance-create-batch-to-modify-api.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/utils/requestHelpers.ts
Labels: backport main

#38763 feat: pass local user/groups flag to engine
  qa/acceptance-tests/src/test/java/io/camunda/it/client/AuthorizationIntegrationTest.java
  security/security-core/src/main/java/io/camunda/security/auth/BrokerRequestAuthorizationConverter.java
  security/security-core/src/test/java/io/camunda/security/auth/BrokerRequestAuthorizationConverterTest.java
  zeebe/auth/src/main/java/io/camunda/zeebe/auth/Authorization.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationEntityChecker.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationUpdateProcessor.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/EndpointManager.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/interceptors/impl/AuthenticationHandler.java
Labels: backport stable/8.8, outdated-branch

#39048 feat: Exclude Oracle driver from core Docker image
  Dockerfile
  camunda.Dockerfile
  dist/pom.xml
  dist/src/main/assembly.xml
  dist/src/main/java/io/camunda/application/commons/rdbms/RdbmsConfiguration.java
Labels: outdated-branch

#39322 [Backport stable/optimize-8.6] deps: update http5 client and core since spring boot upgrade
  optimize/pom.xml
Labels: component/optimize

#39324 [Backport release/optimize-8.6.18] deps: update http5 client and core since spring boot upgrade
  optimize/pom.xml
Labels: component/optimize

#39212 feat: optimize upgrade plan to 8.7.12
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/plan/factories/Upgrade8711To8712PlanFactory.java
Labels: component/optimize
