Repository camunda/camunda, pull requests merged in 2025-09, with the labels that each got.

#37220 feat: unified config: migrate secondary-storage cluster name
  configuration/src/main/java/io/camunda/configuration/SecondaryStorageDatabase.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/BrokerBasedPropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/OperatePropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/SearchEngineConnectPropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/TasklistPropertiesOverride.java
  configuration/src/test/java/io/camunda/configuration/SecondaryStorageTest.java
  dist/src/main/config/application.yaml
  dist/src/main/resources/application-elasticsearch.yaml
  dist/src/main/resources/application-opensearch.yaml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/properties/PropertiesIT.java
  operate/qa/integration-tests/src/test/resources/config/application-test-properties.yml
  operate/qa/integration-tests/src/test/resources/config/application-test.yml
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchConnectorBasicAuthIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/properties/PropertiesTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/internal/ProcessInternalControllerIT.java
  tasklist/qa/integration-tests/src/test/resources/config/application-test-properties.yml
  tasklist/qa/integration-tests/src/test/resources/config/application-test.yml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#37392 fix: map batch operation states correctly
  clients/java/src/main/java/io/camunda/client/impl/search/response/BatchOperationImpl.java
  clients/java/src/test/java/io/camunda/client/batchoperation/QueryBatchOperationTest.java
Labels: component/zeebe, backport release-8.8.0-alpha8

#37437 fix: remove confusing enum type and API tag
  clients/java/src/main/java/io/camunda/client/api/search/enums/MessageSubscriptionType.java
  clients/java/src/test/java/io/camunda/client/impl/util/EnumUtilTest.java
  db/rdbms/src/test/java/io/camunda/db/rdbms/read/mapper/MessageSubscriptionEntityMapperTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/entity/MessageSubscriptionEntityTransformer.java
  search/search-domain/src/main/java/io/camunda/search/entities/MessageSubscriptionEntity.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/zeebe, component/c8-api

#37445 fix: Monaco error on dev mode
  tasklist/client/vite.config.ts
Labels: component/tasklist

#37444 [Backport release-8.8.0-alpha8] fix: `hasDuplicateElementsToActivate` should be removed in `AdHocSubProcessInstructionActivateProcessor`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessInstructionActivateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/adhocsubprocess/ActivateAdHocSubProcessActivityTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/ActivateAdHocSubProcessActivityTest.java
Labels: component/zeebe

#37456 [Backport release-8.8.0-alpha8] test: cannot start a process instance inside of a ahsp
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCreationCreateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/CreateProcessInstanceRejectionTest.java
Labels: component/zeebe

#36867 Verify event sub-process in ad-hoc sub-process
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobBasedAdHocSubProcessTest.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/ProcessInstanceRecordStream.java
Labels: component/zeebe

#37182 32400 remove unused operate v1 internal
  operate/qa/integration-tests/pom.xml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/BatchOperationWriterZeebeIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/DecisionIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/FlowNodeStatisticsIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/FlowNodeStatisticsZeebeIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/OperationReaderIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/CallActivityIncidentZeebeIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/MigrateProcessInstanceOperationZeebeIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/OperationReaderIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/OperationZeebeIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/DecisionRestServiceIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/ProcessInstanceRestServiceIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/ProcessRestServiceIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/OperateZeebeAbstractIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/InternalAPIErrorControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/es/writer/OperationFailureZeebeIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/AuthorizationIT.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/DecisionReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/reader/OpensearchDecisionReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/reader/DecisionReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/DecisionRestService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/OperationRestService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/ProcessInstanceRestService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/ProcessRestService.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/rest/ProcessInstanceRestServiceTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateInternalApiPermissionsIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateMultiTenancyIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateProcessInstanceAddVariableIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateProcessInstanceCancellationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateProcessInstanceMigrationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/compatibility/CompatibilityModeOperateZeebeAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/compatibility/NoCompatibilityModeOperateZeebeAuthorizationIT.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestRestOperateClient.java
Labels: component/operate

#37346 Exclude 8.8 fields from being serialized for 8.7 records
  zeebe/exporters/elasticsearch-exporter/pom.xml
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/BulkIndexRequest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/BulkIndexRequestTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchClientTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterIT.java
  zeebe/exporters/opensearch-exporter/pom.xml
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/BulkIndexRequest.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/BulkIndexRequestTest.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchClientTest.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterIT.java
Labels: component/zeebe, backport stable/8.6, backport stable/8.7, backport release-8.8.0-alpha8

#37300 Disable importers in 8.8
  operate/common/src/main/java/io/camunda/operate/property/OperateProperties.java
  operate/webapp/README.md
  tasklist/common/src/main/java/io/camunda/tasklist/property/TasklistProperties.java
  tasklist/webapp/README.md
Labels: component/operate, component/tasklist

#37284 feat: migrate root cause decision data to v2 API usage
  operate/client/package-lock.json
  operate/client/package.json
  operate/client/src/App/ProcessInstance/TopPanel/MetadataPopover/v2/Incident/index.tsx
  operate/client/src/App/ProcessInstance/TopPanel/MetadataPopover/v2/calledDecisions.test.tsx
  operate/client/src/App/ProcessInstance/TopPanel/MetadataPopover/v2/index.test.tsx
  operate/client/src/App/ProcessInstance/TopPanel/MetadataPopover/v2/index.tsx
  operate/client/src/modules/mocks/metadata.ts
Labels: component/operate

#37464 [Backport release-8.8.0-alpha8] Exclude 8.8 fields from being serialized for 8.7 records
  zeebe/exporters/elasticsearch-exporter/pom.xml
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/BulkIndexRequest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/BulkIndexRequestTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchClientTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterIT.java
  zeebe/exporters/opensearch-exporter/pom.xml
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/BulkIndexRequest.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/BulkIndexRequestTest.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchClientTest.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterIT.java
Labels: component/zeebe

#36699 feat: Add task migration submodule
  .github/workflows/ci.yml
  dist/pom.xml
  dist/src/main/java/io/camunda/application/Profile.java
  dist/src/main/java/io/camunda/application/StandaloneTaskMigration.java
  dist/src/main/java/io/camunda/application/commons/migration/AsyncMigrationsRunner.java
  dist/src/main/java/io/camunda/application/commons/migration/TaskMigrationModuleConfiguration.java
  dist/src/test/java/io/camunda/application/commons/backup/BackupPrioritiesTest.java
  migration/pom.xml
  migration/task-migration/pom.xml
  migration/task-migration/src/main/java/io/camunda/migration/task/TaskMigrator.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/TaskEntityPair.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/TaskLegacyIndex.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/TaskMigrationAdapter.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/TaskWithIndex.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/es/ElasticsearchAdapter.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/os/OpensearchAdapter.java
  migration/task-migration/src/main/java/io/camunda/migration/task/util/MigrationUtils.java
  migration/task-migration/src/main/java/io/camunda/migration/task/util/TaskMigrationMetricRegistry.java
  migration/task-migration/src/test/java/io/camunda/migration/task/util/MigrationUtilsTest.java
  parent/pom.xml
  qa/acceptance-tests/pom.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/usertask/SearchAndCreateTaskMigrationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/usertask/UserTaskMigrationHelper.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/util/CamundaMigrator.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/util/MigrationDatabaseChecks.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/util/MigrationITExtension.java
  schema-manager/src/test/java/io/camunda/search/schema/SchemaManagerIT.java
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/BackupRestoreTest.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/TaskTemplate.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/template/tasklist-task.json
  webapps-schema/src/main/resources/schema/opensearch/create/template/tasklist-task.json
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#37459 ci: upgrade Helm chart used for preview to 13.0.0-alpha7
  .ci/preview-environments/charts/c8sm/Chart.lock
  .ci/preview-environments/charts/c8sm/Chart.yaml
  .ci/preview-environments/charts/c8sm/templates/ingress.yml
Labels: component/build-pipeline, deploy-preview

#37487 Make use of new load-test module name
  .github/workflows/profile-load-test.yml
  .github/workflows/zeebe-benchmark.yml
  .github/workflows/zeebe-ci.yml
  .github/workflows/zeebe-testbench.yaml
Labels: component/build-pipeline, component/zeebe

#36961 feat: reduce number of unneeded put settings calls greatly
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/BackgroundTaskManagerFactory.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepository.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepositoryTest.java
Labels: component/zeebe

#37493 deps: update zeebe dependency
  operate/config/docker-compose.identity.yml
  operate/config/docker-compose.mt.yml
  operate/config/docker-compose.opensearch-identity.yml
  operate/config/docker-compose.test.yml
  operate/docker-compose.opensearch-identity.yml
  operate/docker-compose.opensearch.yml
  operate/docker-compose.yml
  operate/pom.xml
  operate/qa/pom.xml
Labels: component/operate

#37485 Resolve flaky ad-hoc sub-process tests
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobBasedAdHocSubProcessTest.java
Labels: component/zeebe

#37501 ci: Update project labels in workflow with regards to renaming spring-sdk
  .github/opened_issue_labeler.yml
  .github/workflows/add-to-projects.yml
Labels: component/build-pipeline

#37491 All in one migration application
  dist/pom.xml
  dist/src/main/java/io/camunda/application/StandaloneDataMigration.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#36753 feat: Avoid AHSP element activation if the completion condition is fulfilled
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessInstructionActivateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessUtils.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobCompleteProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobBasedAdHocSubProcessTest.java
Labels: component/zeebe

#37537 [Backport stable/8.7] fix: add missing placeholder in backup failure log message
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/common/LoggingBackupStore.java
Labels: component/zeebe

#37467 fix: enhance usage metrics processing and state management
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/metrics/UsageMetricsChecker.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/metrics/UsageMetricsExportProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/metrics/UsageMetricsProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/ProcessingDbState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UsageMetricsExportedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/UsageMetricState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/metrics/DbUsageMetricState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/metrics/PersistedUsageMetrics.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableUsageMetricState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/metrics/UsageMetricsExportProcessorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/UsageMetricsExportedApplierTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/metrics/DbUsageMetricStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/StreamProcessorRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/TestStreams.java
  zeebe/engine/src/test/resources/state/appliers/golden/UsageMetric_EXPORTED_v1.golden
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UsageMetricHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/UsageMetricExportHandler.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/metrics/UsageMetricRecord.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
Labels: component/zeebe

#37304 feat: unassignClientFromTenant
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/UnassignClientFromTenantCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/response/UnassignClientFromTenantResponse.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/UnassignClientFromTenantCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/UnassignClientFromTenantResponseImpl.java
  clients/java/src/test/java/io/camunda/client/tenant/UnassignClientFromTenantTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/TenantAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/UnassignClientFromTenantIntegrationTest.java
Labels: component/zeebe

#37326 ci: add OC workflow for 8.8 releases
  .github/workflows/c8-orchestration-cluster-e2e-tests-release.yml
  .github/workflows/identity-e2e-tests.yml
  .github/workflows/operate-e2e-tests.yml
  .github/workflows/tasklist-e2e-tests.yml
Labels: component/build-pipeline, component/operate, component/tasklist, component/identity

#37521 ci: trigger action on all label changes
  .github/workflows/add-to-projects.yml
Labels: component/build-pipeline

#37372 ci: allow SNAPSHOT upload on future stable branches
  .github/workflows/ci.yml
Labels: component/build-pipeline, backport stable/8.8

#37441 Move load tests to `root`
  .github/workflows/ci.yml
  .github/workflows/zeebe-benchmark.yml
  .github/workflows/zeebe-ci.yml
  .github/workflows/zeebe-testbench.yaml
  bom/pom.xml
  docs/testing/reliability-testing.md
  load-tests/README.md
  load-tests/docs/README.md
  load-tests/docs/failures/README.md
  load-tests/docs/scripts/README.md
  load-tests/docs/scripts/executeProfiling.sh
  load-tests/load-tester/README.md
  load-tests/load-tester/pom.xml
  load-tests/load-tester/src/main/java/io/camunda/zeebe/App.java
  load-tests/load-tester/src/main/java/io/camunda/zeebe/ResponseChecker.java
  load-tests/load-tester/src/main/java/io/camunda/zeebe/Starter.java
  load-tests/load-tester/src/main/java/io/camunda/zeebe/Worker.java
  load-tests/load-tester/src/main/java/io/camunda/zeebe/config/AppCfg.java
  load-tests/load-tester/src/main/java/io/camunda/zeebe/config/AppConfigLoader.java
  load-tests/load-tester/src/main/java/io/camunda/zeebe/config/AuthCfg.java
  load-tests/load-tester/src/main/java/io/camunda/zeebe/config/StarterCfg.java
  load-tests/load-tester/src/main/java/io/camunda/zeebe/config/WorkerCfg.java
  load-tests/load-tester/src/main/resources/application.conf
  load-tests/load-tester/src/main/resources/bpmn/big_payload.json
  load-tests/load-tester/src/main/resources/bpmn/cecm_sample.bpmn
  load-tests/load-tester/src/main/resources/bpmn/emptyPayload.json
  load-tests/load-tester/src/main/resources/bpmn/msg_one_task.bpmn
  load-tests/load-tester/src/main/resources/bpmn/noop.bpmn
  load-tests/load-tester/src/main/resources/bpmn/one_task.bpmn
  load-tests/load-tester/src/main/resources/bpmn/realistic/bankCustomerComplaintDisputeHandling.bpmn
  load-tests/load-tester/src/main/resources/bpmn/realistic/decide_on_fraud_case.form
  load-tests/load-tester/src/main/resources/bpmn/realistic/determineFraudRatingConfidence.dmn
  load-tests/load-tester/src/main/resources/bpmn/realistic/realisticPayload.json
  load-tests/load-tester/src/main/resources/bpmn/realistic/reducedPayload.json
  load-tests/load-tester/src/main/resources/bpmn/realistic/refundingProcess.bpmn
  load-tests/load-tester/src/main/resources/bpmn/simpleProcess.bpmn
  load-tests/load-tester/src/main/resources/bpmn/small_payload.json
  load-tests/load-tester/src/main/resources/bpmn/ten_tasks.bpmn
  load-tests/load-tester/src/main/resources/bpmn/timerProcess.bpmn
  load-tests/load-tester/src/main/resources/bpmn/typical_payload.json
  load-tests/load-tester/src/main/resources/bpmn/typical_process.bpmn
  load-tests/load-tester/src/main/resources/log4j2.xml
  load-tests/load-tester/src/test/java/io/camunda/zeebe/config/ConfigTest.java
  load-tests/load-tester/src/test/resources/different-application.conf
  load-tests/setup/.gitignore
  load-tests/setup/README.md
  load-tests/setup/default/Makefile
  load-tests/setup/default/values-stable.yaml
  load-tests/setup/deleteLoadTest.sh
  load-tests/setup/newCloudLoadTest.sh
  load-tests/setup/newLoadTest.sh
  load-tests/setup/runLoadTests.sh
  load-tests/setup/stopLoadTests.sh
  load-tests/setup/utils.sh
  pom.xml
  zeebe/load-tests/README.md
  zeebe/pom.xml
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#37546 fix: update identity image configuration to the latest
  parent/pom.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/gateway/GatewayAuthenticationNoneIT.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, backport release-8.8.0-alpha8, backport stable/8.8

#37525 Trigger workflow only for branches: release-X.Y.Z and release-X.Y.Z-alphaK
  .github/workflows/release-branch-notifications.yml
Labels: component/build-pipeline

#37460 feat: filter runtime backups by prefix
  dist/src/main/java/io/camunda/zeebe/shared/management/BackupEndpoint.java
  dist/src/main/java/io/camunda/zeebe/shared/management/BackupEndpointStandalone.java
  dist/src/main/resources/api/backup-management-api.yaml
  dist/src/test/java/io/camunda/zeebe/shared/management/BackupEndpointStandaloneTest.java
  dist/src/test/java/io/camunda/zeebe/shared/management/BackupEndpointTest.java
  zeebe/backup-stores/azure/src/main/java/io/camunda/zeebe/backup/azure/ManifestManager.java
  zeebe/backup-stores/filesystem/src/main/java/io/camunda/zeebe/backup/filesystem/ManifestManager.java
  zeebe/backup-stores/filesystem/src/test/java/io/camunda/zeebe/backup/filesystem/ManifestManagerTest.java
  zeebe/backup-stores/gcs/src/main/java/io/camunda/zeebe/backup/gcs/ManifestManager.java
  zeebe/backup-stores/s3/src/main/java/io/camunda/zeebe/backup/s3/S3BackupStore.java
  zeebe/backup-stores/s3/src/test/java/io/camunda/zeebe/backup/s3/ConnectionErrorTest.java
  zeebe/backup-stores/testkit/src/main/java/io/camunda/zeebe/backup/testkit/support/WildcardBackupProvider.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/api/BackupIdentifierWildcard.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/api/BackupManager.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/common/BackupIdentifierWildcardImpl.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/BackupService.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/BackupServiceImpl.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/NoopBackupManager.java
  zeebe/backup/src/test/java/io/camunda/zeebe/backup/api/BackupIdentifierWildcardTest.java
  zeebe/backup/src/test/java/io/camunda/zeebe/backup/management/BackupServiceImplTest.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/backupapi/BackupApiRequestHandler.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/backupapi/BackupApiRequestReader.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport/backupapi/BackupApiRequestHandlerTest.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/admin/backup/BackupApi.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/admin/backup/BackupListRequest.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/admin/backup/BackupRequestHandler.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/admin/backup/BrokerBackupRequest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/encoding/BackupRequest.java
  zeebe/protocol/src/main/resources/cluster-management-protocol.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/BackupAcceptance.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/BackupErrorResponseTest.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/BackupActuator.java
  zeebe/restore/src/main/java/io/camunda/zeebe/restore/PartitionRestoreService.java
Labels: component/zeebe, component/operate, backport stable/8.5, component/tasklist, component/optimize, backport stable/8.6, backport stable/8.7, backport stable/8.8

#37562 ci: update zeebe version in Operate and Tasklist tests
  operate/qa/pom.xml
  tasklist/qa/pom.xml
Labels: component/operate, component/tasklist

#37586 [Backport release-8.8.0-alpha8] ci: update zeebe version in Operate and Tasklist tests
  operate/qa/pom.xml
  tasklist/qa/pom.xml
Labels: component/operate, component/tasklist

#37551 ci: enable deploy of Optimize 8.8-SNAPSHOT Docker image
  .github/optimize/scripts/build-docker-image.sh
  .github/workflows/optimize-deploy-artifacts.yml
Labels: component/build-pipeline, component/optimize

#37500 Export correlated messages in ES/OS
  dist/src/main/java/io/camunda/application/commons/backup/BackupPriorityConfiguration.java
  dist/src/test/java/io/camunda/application/commons/backup/BackupPrioritiesTest.java
  schema-manager/src/test/java/io/camunda/search/schema/SchemaManagerIT.java
  schema-manager/src/test/java/io/camunda/search/schema/SchemaUpdateIT.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/IndexDescriptors.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/CorrelatedMessageTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/CorrelatedMessageEntity.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/template/camunda-correlated-message.json
  webapps-schema/src/main/resources/schema/opensearch/create/template/camunda-correlated-message.json
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/AbstractCorrelatedMessageHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/CorrelatedMessageFromMessageStartEventSubscriptionHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/CorrelatedMessageFromProcessMessageSubscriptionHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/CorrelatedMessageFromMessageStartEventSubscriptionHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/CorrelatedMessageFromProcessMessageSubscriptionHandlerTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, backport stable/8.8

#37592 [Backport stable/8.8] feat: enhance v2 tasklist api with processName
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/mapper/UserTaskEntityMapper.java
  db/rdbms/src/test/java/io/camunda/db/rdbms/read/mapper/UserTaskEntityMapperTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/usertask/UserTaskIT.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/entity/UserTaskEntityTransformer.java
  search/search-domain/src/main/java/io/camunda/search/entities/UserTaskEntity.java
  service/src/main/java/io/camunda/service/UserTaskServices.java
  service/src/main/java/io/camunda/service/cache/ProcessCache.java
  service/src/main/java/io/camunda/service/cache/ProcessCacheItem.java
  service/src/main/java/io/camunda/service/cache/ProcessCacheResult.java
  service/src/main/java/io/camunda/service/cache/ProcessDefinitionProvider.java
  service/src/test/java/io/camunda/service/ElementInstanceServiceTest.java
  service/src/test/java/io/camunda/service/UserTaskServiceTest.java
  service/src/test/java/io/camunda/service/cache/ProcessFlowNodeProviderTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserTaskQueryControllerTest.java
Labels: component/zeebe, component/c8-api

#37573 [Backport stable/8.7] feat: filter runtime backups by prefix
  dist/src/main/java/io/camunda/zeebe/shared/management/BackupEndpoint.java
  dist/src/main/resources/api/backup-management-api.yaml
  dist/src/test/java/io/camunda/zeebe/shared/management/BackupEndpointTest.java
  zeebe/backup-stores/azure/src/main/java/io/camunda/zeebe/backup/azure/ManifestManager.java
  zeebe/backup-stores/gcs/src/main/java/io/camunda/zeebe/backup/gcs/ManifestManager.java
  zeebe/backup-stores/s3/src/main/java/io/camunda/zeebe/backup/s3/S3BackupStore.java
  zeebe/backup-stores/s3/src/test/java/io/camunda/zeebe/backup/s3/ConnectionErrorTest.java
  zeebe/backup-stores/testkit/src/main/java/io/camunda/zeebe/backup/testkit/support/WildcardBackupProvider.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/api/BackupIdentifierWildcard.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/api/BackupManager.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/common/BackupIdentifierWildcardImpl.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/BackupService.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/BackupServiceImpl.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/NoopBackupManager.java
  zeebe/backup/src/test/java/io/camunda/zeebe/backup/api/BackupIdentifierWildcardTest.java
  zeebe/backup/src/test/java/io/camunda/zeebe/backup/management/BackupServiceImplTest.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/backupapi/BackupApiRequestHandler.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/backupapi/BackupApiRequestReader.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport/backupapi/BackupApiRequestHandlerTest.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/admin/backup/BackupApi.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/admin/backup/BackupListRequest.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/admin/backup/BackupRequestHandler.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/admin/backup/BrokerBackupRequest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/encoding/BackupRequest.java
  zeebe/protocol/src/main/resources/cluster-management-protocol.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/BackupAcceptance.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/BackupErrorResponseTest.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/BackupActuator.java
  zeebe/restore/src/main/java/io/camunda/zeebe/restore/PartitionRestoreService.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#37574 [Backport stable/8.8] feat: filter runtime backups by prefix
  dist/src/main/java/io/camunda/zeebe/shared/management/BackupEndpoint.java
  dist/src/main/java/io/camunda/zeebe/shared/management/BackupEndpointStandalone.java
  dist/src/main/resources/api/backup-management-api.yaml
  dist/src/test/java/io/camunda/zeebe/shared/management/BackupEndpointStandaloneTest.java
  dist/src/test/java/io/camunda/zeebe/shared/management/BackupEndpointTest.java
  zeebe/backup-stores/azure/src/main/java/io/camunda/zeebe/backup/azure/ManifestManager.java
  zeebe/backup-stores/filesystem/src/main/java/io/camunda/zeebe/backup/filesystem/ManifestManager.java
  zeebe/backup-stores/filesystem/src/test/java/io/camunda/zeebe/backup/filesystem/ManifestManagerTest.java
  zeebe/backup-stores/gcs/src/main/java/io/camunda/zeebe/backup/gcs/ManifestManager.java
  zeebe/backup-stores/s3/src/main/java/io/camunda/zeebe/backup/s3/S3BackupStore.java
  zeebe/backup-stores/s3/src/test/java/io/camunda/zeebe/backup/s3/ConnectionErrorTest.java
  zeebe/backup-stores/testkit/src/main/java/io/camunda/zeebe/backup/testkit/support/WildcardBackupProvider.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/api/BackupIdentifierWildcard.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/api/BackupManager.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/common/BackupIdentifierWildcardImpl.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/BackupService.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/BackupServiceImpl.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/NoopBackupManager.java
  zeebe/backup/src/test/java/io/camunda/zeebe/backup/api/BackupIdentifierWildcardTest.java
  zeebe/backup/src/test/java/io/camunda/zeebe/backup/management/BackupServiceImplTest.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/backupapi/BackupApiRequestHandler.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/backupapi/BackupApiRequestReader.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport/backupapi/BackupApiRequestHandlerTest.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/admin/backup/BackupApi.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/admin/backup/BackupListRequest.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/admin/backup/BackupRequestHandler.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/admin/backup/BrokerBackupRequest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/encoding/BackupRequest.java
  zeebe/protocol/src/main/resources/cluster-management-protocol.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/BackupAcceptance.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/BackupErrorResponseTest.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/BackupActuator.java
  zeebe/restore/src/main/java/io/camunda/zeebe/restore/PartitionRestoreService.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#37572 [Backport stable/8.6] feat: filter runtime backups by prefix
  dist/src/main/java/io/camunda/zeebe/shared/management/BackupEndpoint.java
  dist/src/main/resources/api/backup-management-api.yaml
  dist/src/test/java/io/camunda/zeebe/shared/management/BackupEndpointTest.java
  zeebe/backup-stores/azure/src/main/java/io/camunda/zeebe/backup/azure/ManifestManager.java
  zeebe/backup-stores/gcs/src/main/java/io/camunda/zeebe/backup/gcs/ManifestManager.java
  zeebe/backup-stores/s3/src/main/java/io/camunda/zeebe/backup/s3/S3BackupStore.java
  zeebe/backup-stores/s3/src/test/java/io/camunda/zeebe/backup/s3/ConnectionErrorTest.java
  zeebe/backup-stores/testkit/src/main/java/io/camunda/zeebe/backup/testkit/support/WildcardBackupProvider.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/api/BackupIdentifierWildcard.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/api/BackupManager.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/common/BackupIdentifierWildcardImpl.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/BackupService.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/BackupServiceImpl.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/NoopBackupManager.java
  zeebe/backup/src/test/java/io/camunda/zeebe/backup/api/BackupIdentifierWildcardTest.java
  zeebe/backup/src/test/java/io/camunda/zeebe/backup/management/BackupServiceImplTest.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/backupapi/BackupApiRequestHandler.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/backupapi/BackupApiRequestReader.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport/backupapi/BackupApiRequestHandlerTest.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/admin/backup/BackupApi.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/admin/backup/BackupListRequest.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/admin/backup/BackupRequestHandler.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/admin/backup/BrokerBackupRequest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/encoding/BackupRequest.java
  zeebe/protocol/src/main/resources/cluster-management-protocol.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/BackupAcceptance.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/BackupErrorResponseTest.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/BackupActuator.java
  zeebe/restore/src/main/java/io/camunda/zeebe/restore/PartitionRestoreService.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#37609 [Backport stable/8.8] fix: update request filters calculation logic
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/MigrateAction/v2/index.tsx
Labels: component/operate

#37603 deps: update c8run to 8.7.12
  c8run/.env
Labels: component/c8run

#37560 feat: all selectors (of the same type) can now be combined
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/assertions/DecisionSelector.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/assertions/DecisionSelectors.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/assertions/ElementSelector.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/assertions/ProcessInstanceSelector.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/assertions/UserTaskSelector.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/assertions/UserTaskSelectors.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/DecisionInstanceAssertTest.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/ElementAssertTest.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/ProcessInstanceAssertTest.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/UserTaskAssertTest.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/impl/extensions/CamundaProcessTestContextIT.java
Labels: backport stable/8.8

#36517 Use new thread pool from ApiServicesExecutorProvider
  authentication/src/test/java/io/camunda/authentication/config/BasicAuthWebSecurityConfigParameterizedTest.java
  authentication/src/test/java/io/camunda/authentication/config/controllers/WebSecurityConfigTestContext.java
  authentication/src/test/java/io/camunda/authentication/config/controllers/WebSecurityOidcTestContext.java
  dist/src/main/java/io/camunda/application/commons/migration/IdentityMigrationModuleConfiguration.java
  dist/src/main/java/io/camunda/application/commons/service/CamundaServicesConfiguration.java
  service/src/main/java/io/camunda/service/AdHocSubProcessActivityServices.java
  service/src/main/java/io/camunda/service/ApiServices.java
  service/src/main/java/io/camunda/service/ApiServicesExecutorProvider.java
  service/src/main/java/io/camunda/service/AuthorizationServices.java
  service/src/main/java/io/camunda/service/BatchOperationServices.java
  service/src/main/java/io/camunda/service/ClockServices.java
  service/src/main/java/io/camunda/service/DecisionDefinitionServices.java
  service/src/main/java/io/camunda/service/DecisionInstanceServices.java
  service/src/main/java/io/camunda/service/DecisionRequirementsServices.java
  service/src/main/java/io/camunda/service/DocumentServices.java
  service/src/main/java/io/camunda/service/ElementInstanceServices.java
  service/src/main/java/io/camunda/service/FormServices.java
  service/src/main/java/io/camunda/service/GroupServices.java
  service/src/main/java/io/camunda/service/IncidentServices.java
  service/src/main/java/io/camunda/service/JobServices.java
  service/src/main/java/io/camunda/service/MappingRuleServices.java
  service/src/main/java/io/camunda/service/MessageServices.java
  service/src/main/java/io/camunda/service/MessageSubscriptionServices.java
  service/src/main/java/io/camunda/service/ProcessDefinitionServices.java
  service/src/main/java/io/camunda/service/ProcessInstanceServices.java
  service/src/main/java/io/camunda/service/ResourceServices.java
  service/src/main/java/io/camunda/service/RoleServices.java
  service/src/main/java/io/camunda/service/SignalServices.java
  service/src/main/java/io/camunda/service/TenantServices.java
  service/src/main/java/io/camunda/service/UsageMetricsServices.java
  service/src/main/java/io/camunda/service/UserServices.java
  service/src/main/java/io/camunda/service/UserTaskServices.java
  service/src/main/java/io/camunda/service/VariableServices.java
  service/src/main/java/io/camunda/service/search/core/SearchQueryService.java
  service/src/test/java/io/camunda/service/AdHocSubProcessActivityServicesTest.java
  service/src/test/java/io/camunda/service/AuthorizationServiceTest.java
  service/src/test/java/io/camunda/service/DecisionDefinitionServiceTest.java
  service/src/test/java/io/camunda/service/DecisionInstanceServiceTest.java
  service/src/test/java/io/camunda/service/DecisionRequirementsServiceTest.java
  service/src/test/java/io/camunda/service/DocumentServicesTest.java
  service/src/test/java/io/camunda/service/ElementInstanceServiceTest.java
  service/src/test/java/io/camunda/service/FormServiceTest.java
  service/src/test/java/io/camunda/service/GroupServiceTest.java
  service/src/test/java/io/camunda/service/IncidentServiceTest.java
  service/src/test/java/io/camunda/service/JobServiceTest.java
  service/src/test/java/io/camunda/service/MappingRuleServicesTest.java
  service/src/test/java/io/camunda/service/MessageSubscriptionServiceTest.java
  service/src/test/java/io/camunda/service/ProcessInstanceServiceTest.java
  service/src/test/java/io/camunda/service/RoleServicesTest.java
  service/src/test/java/io/camunda/service/TenantServiceTest.java
  service/src/test/java/io/camunda/service/UsageMetricsServiceTest.java
  service/src/test/java/io/camunda/service/UserServiceTest.java
  service/src/test/java/io/camunda/service/UserTaskServiceTest.java
  service/src/test/java/io/camunda/service/VariableServiceTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/GatewayRestConfiguration.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerLongPollingTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerRoundRobinTest.java
Labels: component/zeebe, component/operate, component/c8-api, component/tasklist, component/optimize

#37584 [Backport stable/8.8] refactor: improve OperateMetricMigrator & extract common logic
  dist/src/test/java/io/camunda/application/commons/migration/AsyncMigrationsRunnerTest.java
  migration/commons/src/main/java/io/camunda/migration/commons/configuration/ConfigurationType.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/MetricMigrator.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/OperateMetricMigrator.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/TasklistMetricMigrator.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/util/MetricRegistry.java
  migration/usage-metric-migration/src/test/java/io/camunda/migration/usagemetrics/TasklistMetricMigratorIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/OperateMetricMigratorIT.java
  zeebe/qa/util/pom.xml
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestUsageMetricMigrationApp.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#37626 [Backport stable/8.8] ci: fix tasklist makefile
  tasklist/config/env_setup.sh
  tasklist/config/envs/.env.database.elasticsearch
Labels: component/tasklist

#37600 [Backport stable/8.8] Export correlated messages in ES/OS
  dist/src/main/java/io/camunda/application/commons/backup/BackupPriorityConfiguration.java
  dist/src/test/java/io/camunda/application/commons/backup/BackupPrioritiesTest.java
  schema-manager/src/test/java/io/camunda/search/schema/SchemaManagerIT.java
  schema-manager/src/test/java/io/camunda/search/schema/SchemaUpdateIT.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/IndexDescriptors.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/CorrelatedMessageTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/CorrelatedMessageEntity.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/template/camunda-correlated-message.json
  webapps-schema/src/main/resources/schema/opensearch/create/template/camunda-correlated-message.json
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/AbstractCorrelatedMessageHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/CorrelatedMessageFromMessageStartEventSubscriptionHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/CorrelatedMessageFromProcessMessageSubscriptionHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/CorrelatedMessageFromMessageStartEventSubscriptionHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/CorrelatedMessageFromProcessMessageSubscriptionHandlerTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#37568 add default.yaml config to c8run
  c8run/cmd/c8run/main_test.go
  c8run/configuration/application.yaml
  c8run/internal/overrides/overrides.go
  c8run/internal/packages/package.go
  c8run/internal/start/startuphandler.go
Labels: component/c8run

#37612 [Backport stable/8.5] feat: merge user RocksDB config with our defaults
  parent/pom.xml
  zeebe/zb-db/pom.xml
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/impl/rocksdb/RocksDbOptionsFormatter.java
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/impl/rocksdb/ZeebeRocksDbFactory.java
  zeebe/zb-db/src/test/java/io/camunda/zeebe/db/impl/rocksdb/ZeebeRocksDbFactoryTest.java
Labels: component/zeebe, component/operate

#37577 [Backport stable/8.8] 35673 ensure identity entities are returned as a copy
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbAuthorizationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbMappingRuleState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbRoleState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/group/DbGroupState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/tenant/DbTenantState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/AuthorizationStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/MappingRuleStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/RoleStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/group/GroupStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/tenant/DbTenantStateTest.java
Labels: component/zeebe

#37664 [Backport stable/8.8] All in one migration application
  dist/pom.xml
  dist/src/main/java/io/camunda/application/StandaloneDataMigration.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#37639 [Backport main] fix: CamundaExporter starts exporting before being opened
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirectorTest.java
Labels: component/zeebe

#37558 ci: change data structure used and update readme
  .github/actions/flaky-tests-summary-comment/README.md
  .github/actions/flaky-tests-summary-comment/src/flaky-tests-comment-generator.js
  .github/actions/flaky-tests-summary-comment/src/flaky-tests-data-processor.js
  .github/actions/flaky-tests-summary-comment/src/helpers.js
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/optimize

#37670 [Backport stable/8.8] ci: disable conistently failing optimize e2e sm test
  .github/workflows/optimize-e2e-tests-sm.yml
Labels: component/build-pipeline, component/optimize

#37688 [Backport stable/8.8] refactor: create and own executor service as part of store
  dist/src/main/java/io/camunda/zeebe/restore/BackupStoreComponent.java
  zeebe/backup-stores/filesystem/src/main/java/io/camunda/zeebe/backup/filesystem/FilesystemBackupStore.java
  zeebe/backup-stores/filesystem/src/test/java/io/camunda/zeebe/backup/filesystem/ConfigTest.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/BackupStoreTransitionStep.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#37689 [Backport stable/8.8] Export correlated messages to RDBMS
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/CorrelatedMessageMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/columns/CorrelatedMessageSearchColumn.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriterFactory.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/CorrelatedMessageDbModel.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/queue/ContextType.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/CorrelatedMessageWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/HistoryCleanupService.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/RdbmsPurger.java
  db/rdbms/src/main/resources/mapper/CorrelatedMessageMapper.xml
  db/rdbms/src/test/java/io/camunda/db/rdbms/write/service/HistoryCleanupServiceTest.java
  dist/src/main/java/io/camunda/application/commons/rdbms/MyBatisConfiguration.java
  dist/src/main/java/io/camunda/application/commons/rdbms/RdbmsConfiguration.java
  search/search-domain/src/main/java/io/camunda/search/entities/CorrelatedMessageEntity.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterWrapper.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/AbstractCorrelatedMessageExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/CorrelatedMessageFromMessageStartEventSubscriptionExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/CorrelatedMessageFromProcessMessageSubscriptionExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/utils/ExportUtil.java
  zeebe/exporters/rdbms-exporter/src/test/java/io/camunda/exporter/rdbms/handlers/message/CorrelatedMessageFromMessageStartEventSubscriptionHandlerTest.java
  zeebe/exporters/rdbms-exporter/src/test/java/io/camunda/exporter/rdbms/handlers/message/CorrelatedMessageFromProcessMessageSubscriptionHandlerTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#37696 build: mergeback of 8.7.9 release to stable/optimize-8.7
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/plan/factories/Upgrade879To8710PlanFactory.java
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Labels: component/optimize

#37723 [Backport stable/8.8] Ensure snapshots can be committed after migration
  zeebe/broker/spotbugs/spotbugs-exclude.xml
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/AsyncSnapshotDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/SnapshotDirectorPartitionTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/steps/SnapshotDirectorPartitionTransitionStepTest.java
Labels: component/zeebe

#37724 [Backport stable/8.8] fix: ensure backup manager uses dynamic partition count
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/api/BackupManager.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/BackupService.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/NoopBackupManager.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/processing/CheckpointCreateProcessor.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/processing/CheckpointRecordsProcessor.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/processing/PartitionCountSupplier.java
  zeebe/backup/src/test/java/io/camunda/zeebe/backup/processing/CheckpointRecordsProcessorTest.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/StreamProcessorTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup/ConcurrentBackupCompactionTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/Engine.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ScaleUpPartitionsTest.java
  zeebe/restore/src/test/java/io/camunda/zeebe/restore/PartitionRestoreServiceTest.java
Labels: component/zeebe

#37727 [Backport stable/8.6] fix: re-install MigrationSnapshotDirector on each role transition
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/SnapshotAfterMigrationTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/steps/SnapshotMigrationTransitionStepTest.java
Labels: component/zeebe

#37395 fix: protect api resource only and not all
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/test/java/io/camunda/authentication/config/ProtectedApiSecurityFilterChainTest.java
  authentication/src/test/java/io/camunda/authentication/config/controllers/TestApiController.java
Labels: backport stable/8.8

#37728 [Backport stable/8.7] fix: re-install MigrationSnapshotDirector on each role transition
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/SnapshotAfterMigrationTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/steps/SnapshotMigrationTransitionStepTest.java
Labels: component/zeebe

#37729 [Backport stable/8.8] fix: re-install MigrationSnapshotDirector on each role transition
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/SnapshotAfterMigrationTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/steps/SnapshotMigrationTransitionStepTest.java
Labels: component/zeebe

#37743 deps: bump Vite deps
  operate/client/package-lock.json
  operate/client/package.json
  tasklist/client/package-lock.json
  tasklist/client/package.json
Labels: component/operate, component/tasklist

#37684 [Backport stable/8.8] fix: update batch operation request format
  operate/client/package-lock.json
  operate/client/package.json
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/buildMutationRequestBody.test.ts
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/buildMutationRequestBody.ts
  operate/client/src/modules/api/v2/processInstances/createCancellationBatchOperation.ts
  operate/client/src/modules/mutations/processInstance/useCreateIncidentResolutionBatchOperation.tsx
  operate/client/src/modules/mutations/processes/useCancelProcessInstancesBatchOperation.ts
Labels: component/operate

#37753 [Backport stable/8.5] Camunda User Task with an incident cannot be migrated
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationPreconditions.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateUserTaskTest.java
Labels: component/zeebe

#37754 [Backport stable/8.6] Camunda User Task with an incident cannot be migrated
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationMigrateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceMigrationPreconditions.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/MigrateUserTaskTest.java
Labels: component/zeebe

#37764 [Backport stable/8.7] fix: properly decrement http client retries in zeebe rest client
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/ApiCallback.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClient.java
  clients/java/src/test/java/io/camunda/zeebe/client/impl/http/ApiCallbackTest.java
Labels: backport main, component/zeebe

#37776 Create RDBMS reader for correlated message search
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/CorrelatedMessageDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/mapper/CorrelatedMessageEntityMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/CorrelatedMessageDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/CorrelatedMessageMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/columns/CorrelatedMessageSearchColumn.java
  db/rdbms/src/main/resources/mapper/CorrelatedMessageMapper.xml
  db/rdbms/src/test/java/io/camunda/db/rdbms/read/mapper/CorrelatedMessageEntityMapperTest.java
  db/rdbms/src/test/java/io/camunda/db/rdbms/read/service/CorrelatedMessageDbReaderTest.java
  dist/src/main/java/io/camunda/application/commons/rdbms/RdbmsConfiguration.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/exporter/RdbmsExporterIT.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize, backport stable/8.8

#37802 test: fix flakiness in SchemaUpdateIT
  schema-manager/src/test/java/io/camunda/search/schema/SchemaUpdateIT.java
Labels: backport stable/8.8

#37736 Backport #36517 to stable 8.8
  authentication/src/test/java/io/camunda/authentication/config/BasicAuthWebSecurityConfigParameterizedTest.java
  authentication/src/test/java/io/camunda/authentication/config/controllers/WebSecurityConfigTestContext.java
  authentication/src/test/java/io/camunda/authentication/config/controllers/WebSecurityOidcTestContext.java
  dist/src/main/java/io/camunda/application/commons/migration/IdentityMigrationModuleConfiguration.java
  dist/src/main/java/io/camunda/application/commons/service/CamundaServicesConfiguration.java
  service/src/main/java/io/camunda/service/AdHocSubProcessActivityServices.java
  service/src/main/java/io/camunda/service/ApiServices.java
  service/src/main/java/io/camunda/service/ApiServicesExecutorProvider.java
  service/src/main/java/io/camunda/service/AuthorizationServices.java
  service/src/main/java/io/camunda/service/BatchOperationServices.java
  service/src/main/java/io/camunda/service/ClockServices.java
  service/src/main/java/io/camunda/service/DecisionDefinitionServices.java
  service/src/main/java/io/camunda/service/DecisionInstanceServices.java
  service/src/main/java/io/camunda/service/DecisionRequirementsServices.java
  service/src/main/java/io/camunda/service/DocumentServices.java
  service/src/main/java/io/camunda/service/ElementInstanceServices.java
  service/src/main/java/io/camunda/service/FormServices.java
  service/src/main/java/io/camunda/service/GroupServices.java
  service/src/main/java/io/camunda/service/IncidentServices.java
  service/src/main/java/io/camunda/service/JobServices.java
  service/src/main/java/io/camunda/service/MappingRuleServices.java
  service/src/main/java/io/camunda/service/MessageServices.java
  service/src/main/java/io/camunda/service/MessageSubscriptionServices.java
  service/src/main/java/io/camunda/service/ProcessDefinitionServices.java
  service/src/main/java/io/camunda/service/ProcessInstanceServices.java
  service/src/main/java/io/camunda/service/ResourceServices.java
  service/src/main/java/io/camunda/service/RoleServices.java
  service/src/main/java/io/camunda/service/SignalServices.java
  service/src/main/java/io/camunda/service/TenantServices.java
  service/src/main/java/io/camunda/service/UsageMetricsServices.java
  service/src/main/java/io/camunda/service/UserServices.java
  service/src/main/java/io/camunda/service/UserTaskServices.java
  service/src/main/java/io/camunda/service/VariableServices.java
  service/src/main/java/io/camunda/service/search/core/SearchQueryService.java
  service/src/test/java/io/camunda/service/AdHocSubProcessActivityServicesTest.java
  service/src/test/java/io/camunda/service/AuthorizationServiceTest.java
  service/src/test/java/io/camunda/service/DecisionDefinitionServiceTest.java
  service/src/test/java/io/camunda/service/DecisionInstanceServiceTest.java
  service/src/test/java/io/camunda/service/DecisionRequirementsServiceTest.java
  service/src/test/java/io/camunda/service/DocumentServicesTest.java
  service/src/test/java/io/camunda/service/ElementInstanceServiceTest.java
  service/src/test/java/io/camunda/service/FormServiceTest.java
  service/src/test/java/io/camunda/service/GroupServiceTest.java
  service/src/test/java/io/camunda/service/IncidentServiceTest.java
  service/src/test/java/io/camunda/service/JobServiceTest.java
  service/src/test/java/io/camunda/service/MappingRuleServicesTest.java
  service/src/test/java/io/camunda/service/MessageSubscriptionServiceTest.java
  service/src/test/java/io/camunda/service/ProcessInstanceServiceTest.java
  service/src/test/java/io/camunda/service/RoleServicesTest.java
  service/src/test/java/io/camunda/service/TenantServiceTest.java
  service/src/test/java/io/camunda/service/UsageMetricsServiceTest.java
  service/src/test/java/io/camunda/service/UserServiceTest.java
  service/src/test/java/io/camunda/service/UserTaskServiceTest.java
  service/src/test/java/io/camunda/service/VariableServiceTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/GatewayRestConfiguration.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerLongPollingTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerRoundRobinTest.java
Labels: component/zeebe, component/operate, component/c8-api, component/tasklist, component/optimize

#37207 UC: secondary storage properties
  configuration/src/main/java/io/camunda/configuration/Elasticsearch.java
  configuration/src/main/java/io/camunda/configuration/Opensearch.java
  configuration/src/main/java/io/camunda/configuration/SecondaryStorageDatabase.java
  configuration/src/main/java/io/camunda/configuration/Security.java
  configuration/src/main/java/io/camunda/configuration/UnifiedConfigurationHelper.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/BrokerBasedPropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/OperatePropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/SearchEngineConnectPropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/TasklistPropertiesOverride.java
  configuration/src/test/java/io/camunda/configuration/SecondaryStorageTest.java
  configuration/src/test/java/io/camunda/configuration/SecurityElasticsearchTest.java
  configuration/src/test/java/io/camunda/configuration/SecurityOpensearchTest.java
  dist/src/main/config/application.yaml
  dist/src/main/resources/application-elasticsearch.yaml
  dist/src/main/resources/application-opensearch.yaml
  dist/src/test/java/io/camunda/application/CamundaDockerIT.java
  operate/qa/backup-restore-tests/src/test/java/io/camunda/operate/qa/backup/BackupRestoreTest.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/ProbesTestIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/OpensearchFinishedImportingIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/properties/PropertiesIT.java
  operate/qa/integration-tests/src/test/resources/config/application-test-properties.yml
  operate/qa/integration-tests/src/test/resources/config/application-test.yml
  operate/qa/util/src/main/java/io/camunda/operate/qa/util/TestContainerUtil.java
  qa/acceptance-tests/src/test/java/io/camunda/it/backup/StandaloneBackupManagerIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/network/SecuredClusterMessagingIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/schema/StandaloneSchemaManagerIT.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/MultiDbConfigurator.java
  schema-manager/src/test/java/io/camunda/search/schema/SchemaUpdateIT.java
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/BackupRestoreTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/ProbesTestIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchConnectorBasicAuthIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchConnectorBasicAuthNoClusterPrivilegesIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchConnectorSSLAuthIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchConnectorBasicAuthIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchConnectorSSLAuthIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/properties/PropertiesTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistZeebeExtensionElasticSearch.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistZeebeExtensionOpenSearch.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/internal/ProcessInternalControllerIT.java
  tasklist/qa/integration-tests/src/test/resources/config/application-test-properties.yml
  tasklist/qa/integration-tests/src/test/resources/config/application-test.yml
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/TestContainerUtil.java
Labels: component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/identity, component/optimize

#37801 Add correlated message search to Java SDK
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/CorrelatedMessageFilter.java
  clients/java/src/main/java/io/camunda/client/api/search/request/CorrelatedMessageSearchRequest.java
  clients/java/src/main/java/io/camunda/client/api/search/request/SearchRequestBuilders.java
  clients/java/src/main/java/io/camunda/client/api/search/response/CorrelatedMessage.java
  clients/java/src/main/java/io/camunda/client/api/search/sort/CorrelatedMessageSort.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/CorrelatedMessageFilterImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/request/CorrelatedMessageSearchRequestImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/request/SearchRequestSortMapper.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/CorrelatedMessageImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/SearchResponseMapper.java
  clients/java/src/main/java/io/camunda/client/impl/search/sort/CorrelatedMessageSortImpl.java
  clients/java/src/test/java/io/camunda/client/message/SearchCorrelatedMessageTest.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/CorrelatedMessageDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/MessageSubscriptionDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/AbstractEntityReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/AuthorizationDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/BatchOperationDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/CorrelatedMessageDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/DecisionDefinitionDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/DecisionInstanceDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/DecisionRequirementsDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/FlowNodeInstanceDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/IncidentDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/JobDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/MessageSubscriptionDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/ProcessDefinitionDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/ProcessInstanceDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/SequenceFlowDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/UserDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/UserTaskDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/VariableDbReader.java
  db/rdbms/src/main/resources/mapper/CorrelatedMessageMapper.xml
  db/rdbms/src/main/resources/mapper/MessageSubscriptionMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/client/CorrelatedMessageSearchTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/correlatedmessage/CorrelatedMessageIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/CorrelatedMessageFixtures.java
  qa/acceptance-tests/src/test/java/io/camunda/it/util/TestHelper.java
  qa/acceptance-tests/src/test/resources/process/process_with_message_start2_and_parallel_receive_tasks.bpmn
  qa/acceptance-tests/src/test/resources/process/process_with_message_start_and_parallel_receive_tasks.bpmn
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/sort/CorrelatedMessageFieldSortingTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/sort/CorrelatedMessageSortTest.java
  search/search-domain/src/main/java/io/camunda/search/sort/CorrelatedMessageSort.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/CamundaExporter.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/mapper/search/SearchQuerySortRequestMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/MessageQueryControllerTest.java
Labels: component/zeebe, component/operate, component/c8-api, component/tasklist, component/optimize, backport stable/8.8

#37831 [Backport stable/8.7] Catch straight through processing loops with script tasks
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/validation/StraightThroughProcessingLoopValidator.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/StraightThroughProcessingLoopValidationTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CancelProcessInstanceInBatchesTest.java
Labels: component/zeebe

#37869 test: use old docker configurations
  .github/workflows/c8-orchestration-cluster-e2e-tests-on-demand.yml
  qa/c8-orchestration-cluster-e2e-test-suite/config/docker-compose.yml
Labels: component/build-pipeline

#37629 Java Client: ensure all mandatory parameters are provided for the commands
  clients/java/src/main/java/io/camunda/client/api/command/AssignClientToGroupCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/AssignClientToTenantCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/AssignGroupToTenantCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/AssignMappingRuleToGroupStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/AssignMappingRuleToTenantCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/AssignRoleToClientCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/AssignRoleToGroupCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/AssignRoleToMappingRuleCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/AssignRoleToTenantCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/AssignRoleToUserCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/AssignUserToGroupCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/AssignUserToTenantCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/UnassignClientFromGroupCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/UnassignClientFromTenantCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/UnassignMappingRuleFromGroupStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/UnassignRoleFromClientCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/UnassignRoleFromGroupCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/UnassignRoleFromMappingRuleCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/UnassignRoleFromTenantCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/UnassignRoleFromUserCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/UnassignUserFromGroupCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/UnassignUserFromTenantCommandStep1.java
  clients/java/src/main/java/io/camunda/client/impl/command/AssignClientToGroupCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/AssignClientToTenantCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/AssignGroupToTenantCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/AssignMappingRuleToGroupCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/AssignMappingRuleToTenantCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/AssignRoleToClientCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/AssignRoleToGroupCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/AssignRoleToMappingRuleCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/AssignRoleToTenantCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/AssignRoleToUserCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/AssignUserToGroupCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/AssignUserToTenantCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/UnassignClientFromGroupCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/UnassignMappingRuleFromGroupCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/UnassignRoleFromClientCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/UnassignRoleFromGroupCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/UnassignRoleFromMappingRuleCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/UnassignRoleFromTenantCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/UnassignRoleFromUserCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/UnassignUserFromGroupCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/UnassignUserFromTenantCommandImpl.java
Labels: component/zeebe, backport stable/8.8

#37874 test: Add tests for tenant and tenant member search
  db/rdbms/src/main/java/io/camunda/db/rdbms/RdbmsService.java
  dist/src/main/java/io/camunda/application/commons/rdbms/RdbmsConfiguration.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/tenant/TenantMemberIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/tenant/TenantSpecificFilterIT.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#37875 fix: update operate application yml with the new config structure
  operate/config/application.yml
Labels: component/operate

#37913 [Backport stable/8.7] deps: Update dependency io.netty:netty-bom to 4.1.127.Final
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#37914 [Backport stable/optimize-8.7] deps: Update dependency io.netty:netty-bom to 4.1.127.Final
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#37918 [Backport stable/8.8] fix: set missing Zeebe OpenSearch/Elasticsearch URL in unified config
  configuration/src/main/java/io/camunda/configuration/beanoverrides/OperatePropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/TasklistPropertiesOverride.java
  configuration/src/test/java/io/camunda/configuration/SecondaryStorageElasticsearchTest.java
  configuration/src/test/java/io/camunda/configuration/SecondaryStorageOpensearchTest.java
  dist/src/test/java/io/camunda/application/CamundaDockerIT.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#37920 [Backport stable/8.8] fix: don't rewrap client exceptions
  clients/java/src/main/java/io/camunda/client/impl/http/HttpCamundaFuture.java
Labels: component/zeebe

#37919 test: added log for nightly flow
  .github/workflows/c8-orchestration-cluster-e2e-tests-nightly.yml
Labels: component/build-pipeline

#37926 [Backport stable/8.8] test: ensure that backup doesn't fail due to snapshot on leader change
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/BackupReplicatedPartitionTest.java
Labels: component/zeebe

#38099 deps: upgrade maven surefire plugin to 3.5.4
  .github/renovate.json
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#38104 [Backport stable/8.8] feat: accept create documents metadata in req
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/DocumentController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/mapper/RequestMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DocumentControllerTest.java
Labels: component/zeebe, component/c8-api

#38105 [Backport stable/8.8] fix: support compensation of ad-hoc sub-process
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnCompensationSubscriptionBehaviour.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/AdHocSubProcessInnerInstanceProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/compensation/CompensationEventExecutionTest.java
  zeebe/engine/src/test/resources/compensation/compensation-adhoc-subprocess-handler.bpmn
  zeebe/engine/src/test/resources/compensation/compensation-adhoc-subprocess.bpmn
  zeebe/engine/src/test/resources/compensation/compensation-single-adhoc-subprocess.bpmn
Labels: component/zeebe

#38100 test: add version for filtering
  qa/c8-orchestration-cluster-e2e-test-suite/tests/operate/processInstancesTable.spec.ts
Labels: backport stable/8.8

#38119 [Backport stable/8.8] fix: do not set the commitIndex to be greater than biggest logIndex
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/roles/PassiveRole.java
Labels: component/zeebe

#38146 [Backport stable/8.8] Adding `~` char to default ID regex
  security/security-core/src/main/java/io/camunda/security/configuration/SecurityConfiguration.java
  security/security-core/src/test/java/io/camunda/security/configuration/SecurityConfigurationTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/setup/SetupControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingRuleControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserControllerTest.java
Labels: component/zeebe, component/c8-api

#37878 feat: camunda spring boot starter: respect prototype beans
  clients/camunda-spring-boot-starter/src/main/java/io/camunda/client/annotation/AnnotationUtil.java
  clients/camunda-spring-boot-starter/src/main/java/io/camunda/client/annotation/value/DeploymentValue.java
  clients/camunda-spring-boot-starter/src/main/java/io/camunda/client/annotation/value/DocumentValue.java
  clients/camunda-spring-boot-starter/src/main/java/io/camunda/client/annotation/value/JobWorkerValue.java
  clients/camunda-spring-boot-starter/src/main/java/io/camunda/client/annotation/value/VariableValue.java
  clients/camunda-spring-boot-starter/src/main/java/io/camunda/client/bean/BeanInfo.java
  clients/camunda-spring-boot-starter/src/main/java/io/camunda/client/bean/BeanInfoBuilder.java
  clients/camunda-spring-boot-starter/src/main/java/io/camunda/client/bean/InfoFactory.java
  clients/camunda-spring-boot-starter/src/main/java/io/camunda/client/bean/MethodInfo.java
  clients/camunda-spring-boot-starter/src/main/java/io/camunda/client/bean/MethodInfoBuilder.java
  clients/camunda-spring-boot-starter/src/main/java/io/camunda/client/bean/ParameterInfo.java
  clients/camunda-spring-boot-starter/src/main/java/io/camunda/client/bean/ParameterInfoBuilder.java
  clients/camunda-spring-boot-starter/src/main/java/io/camunda/client/jobhandling/parameter/DefaultParameterResolverStrategy.java
  clients/camunda-spring-boot-starter/src/main/java/io/camunda/client/jobhandling/parameter/ParameterResolverStrategy.java
  clients/camunda-spring-boot-starter/src/main/java/io/camunda/client/jobhandling/result/DefaultResultProcessorStrategy.java
  clients/camunda-spring-boot-starter/src/main/java/io/camunda/client/spring/annotation/processor/AbstractCamundaAnnotationProcessor.java
  clients/camunda-spring-boot-starter/src/main/java/io/camunda/client/spring/annotation/processor/DeploymentAnnotationProcessor.java
  clients/camunda-spring-boot-starter/src/main/java/io/camunda/client/spring/annotation/processor/JobWorkerAnnotationProcessor.java
  clients/camunda-spring-boot-starter/src/main/java/io/camunda/client/spring/bean/BeanInfo.java
  clients/camunda-spring-boot-starter/src/main/java/io/camunda/client/spring/bean/SpringBeanInfo.java
  clients/camunda-spring-boot-starter/src/main/java/io/camunda/client/spring/bean/SpringInfoFactory.java
  clients/camunda-spring-boot-starter/src/main/java/io/camunda/client/spring/bean/SpringMethodInfo.java
  clients/camunda-spring-boot-starter/src/main/java/io/camunda/client/spring/bean/SpringParameterInfo.java
  clients/camunda-spring-boot-starter/src/main/java/io/camunda/client/spring/properties/PropertyBasedJobWorkerValueCustomizer.java
  clients/camunda-spring-boot-starter/src/main/java/io/camunda/zeebe/spring/client/annotation/value/ZeebeWorkerValue.java
  clients/camunda-spring-boot-starter/src/main/resources/META-INF/services/io.camunda.client.bean.InfoFactory
  clients/camunda-spring-boot-starter/src/test/java/io/camunda/client/jobhandling/parameter/DefaultParameterResolverStrategyTest.java
  clients/camunda-spring-boot-starter/src/test/java/io/camunda/client/jobhandling/result/DefaultResultProcessorStrategyTest.java
  clients/camunda-spring-boot-starter/src/test/java/io/camunda/client/spring/annotation/AnnotationUtilTest.java
  clients/camunda-spring-boot-starter/src/test/java/io/camunda/client/spring/annotation/processor/AbstractCamundaAnnotationProcessorTest.java
  clients/camunda-spring-boot-starter/src/test/java/io/camunda/client/spring/bean/SpringBeanInfoTest.java
  clients/camunda-spring-boot-starter/src/test/java/io/camunda/client/spring/bean/factory/ReadJobWorkerValueTest.java
  clients/camunda-spring-boot-starter/src/test/java/io/camunda/client/spring/bean/factory/ReadZeebeDeploymentValueTest.java
  clients/camunda-spring-boot-starter/src/test/java/io/camunda/client/spring/config/AnnotationProcessorConfigurationTest.java
  clients/camunda-spring-boot-starter/src/test/java/io/camunda/client/spring/processor/DeploymentPostProcessorTest.java
  clients/camunda-spring-boot-starter/src/test/java/io/camunda/client/spring/properties/PropertyBasedJobWorkerValueCustomizerTest.java
  clients/camunda-spring-boot-starter/src/test/java/io/camunda/client/spring/testsupport/BeanInfoUtil.java
  clients/camunda-spring-boot-starter/src/test/java/io/camunda/client/spring/testsupport/JobWorkerPermutationsUtil.java
Labels: component/zeebe, backport stable/8.8

#38000 Test and fix OIDC client and anonymous access to Operate/Tasklist V1 APIs
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/permission/PermissionsService.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/security/permission/PermissionsServiceTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateApiAnonymousUserIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateApiOidcClientIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateInternalApiPermissionsIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/tasklist/v1/TasklistV1ApiAnonymousUserIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/tasklist/v1/TasklistV1ApiOidcClientIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/util/TestHelper.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestCamundaApplication.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestRestOperateClient.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestRestTasklistClient.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/CamundaMultiDBExtension.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/EntityManager.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/TaskControllerIT.java
  tasklist/webapp/pom.xml
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/permission/TasklistPermissionServices.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/es/cache/ProcessStoreElasticSearchTest.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/es/cache/ProcessStoreOpenSearchTest.java
Labels: component/operate, component/tasklist, backport stable/8.8

#38123 [Backport stable/8.5] fix: prevent NPE for SendTask with publish message implementation
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/BpmnElementProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/SendTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableSendTask.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/FlowElementInstantiationTransformer.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/SendTaskTest.java
Labels: component/zeebe

#38124 [Backport stable/8.6] fix: prevent NPE for SendTask with publish message implementation
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/BpmnElementProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/task/SendTaskProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableSendTask.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/FlowElementInstantiationTransformer.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/SendTaskTest.java
Labels: component/zeebe

#38122 [CPT] Complete user task by BPMN element ID
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/CamundaProcessTestContext.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/extension/CamundaProcessTestContextImpl.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/impl/extensions/CamundaProcessTestContextIT.java
Labels: backport stable/8.8

#37763 [Backport stable/8.6] fix: properly decrement http client retries in zeebe rest client
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/ApiCallback.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClient.java
  clients/java/src/test/java/io/camunda/zeebe/client/impl/http/ApiCallbackTest.java
Labels: component/zeebe

#38181 fix: disable all coercion to string
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/configuration/RestApiJacksonConfigTest.java
Labels: backport main, component/zeebe, component/c8-api

#37588 [Backport stable/8.8] build: remove unused identity spring boot starter from operate/tasklist
  operate/webapp/pom.xml
  tasklist/webapp/pom.xml
Labels: component/operate, component/tasklist

#37968 fix: shade Awaitility 4.3 to prevent version conflicts with Spring Boot
  testing/camunda-process-test-java/pom.xml
Labels: backport stable/8.8

#38190 [Backport main] fix: disable all coercion to string
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/JacksonConfig.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/configuration/RestApiJacksonConfigTest.java
Labels: component/c8-api

#38199 ci: run daily qa on main and all stable branches
  .github/workflows/zeebe-daily-qa.yml
Labels: component/build-pipeline

#38143 refactor: Remove unused property elementId
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/ProcessInstanceDbModel.java
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
Labels: component/rdbms

#38229 fix: change tenant check logic in engine to match search layer behaviour
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorMultiTenancyTest.java
Labels: backport stable/8.8

#37759 fix: update diagram, history and variables panels behavior
  operate/client/src/App/DecisionInstance/DecisionPanel/index.test.tsx
  operate/client/src/App/DecisionInstance/DecisionPanel/index.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/VariablesContent.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstanceLog/v2/index.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstanceLog/v2/index.tsx
  operate/client/src/App/ProcessInstance/TopPanel/index.test.tsx
  operate/client/src/App/ProcessInstance/TopPanel/index.tsx
  operate/client/src/modules/components/DiagramShell/index.tsx
  operate/client/src/modules/queries/processDefinitions/useProcessDefinitionXml.ts
  operate/client/src/modules/request/index.ts
Labels: component/operate

#38265 deps: update identity dependency
  operate/config/docker-compose.identity.yml
  operate/config/docker-compose.mt.yml
  operate/config/docker-compose.opensearch-identity.yml
  operate/docker-compose.opensearch-identity.yml
  operate/pom.xml
  operate/qa/pom.xml
Labels: component/operate

#38223 fix: disable destroy method for proxy clients
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/impl/configuration/CamundaProcessTestProxyConfiguration.java
Labels: backport stable/8.8

#38184 fix: make RoutingState backward compatible between 8.8 and 8.7
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/serializer/ProtoBufSerializer.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/state/RoutingState.java
  zeebe/dynamic-config/src/main/resources/proto/topology.proto
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/PersistedClusterConfigurationRandomizedPropertyTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/serializer/ProtoBufSerializerPropertyTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/serializer/ProtoBufSerializerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/util/ClusterTopologyDomain.java
Labels: backport stable/8.8

#37988 [Backport stable/8.8] feat: enable partition scaling feature by default
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/configuration/FeatureFlagsCfgTest.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/FeatureFlags.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/FeatureFlagsTest.java
Labels: component/zeebe

#38225 fix: configure `ResourceAccessController` beans regardless of having the gateway embedded
  dist/src/main/java/io/camunda/application/commons/search/ResourceAccessControllerConfiguration.java
  dist/src/main/java/io/camunda/application/commons/security/AuthorizationCheckerConfiguration.java
  dist/src/main/java/io/camunda/application/commons/service/CamundaServicesConfiguration.java
Labels: backport stable/8.8

#38207 fix: incorrect Swagger BasicAuth Visibility And 'Enable Swagger' Toggle Inconsistencies
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiConfigurer.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/SaaSOpenApiConfigurer.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/SelfManagedOpenApiConfigurer.java
Labels: component/c8-api, backport stable/8.8

#38308 [Backport stable/8.8] fix: incorrect Swagger BasicAuth Visibility And 'Enable Swagger' Toggle Inconsistencies
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiConfigurer.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/SaaSOpenApiConfigurer.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/SelfManagedOpenApiConfigurer.java
Labels: component/c8-api

#38217 feat: bubble JsonProcessingException to the caller so that assertion errors are more informative
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/VariableAssertj.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/VariableAssertTest.java
Labels: backport stable/8.8

#38270 fix: refactor usage metrics
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UsageMetricExportedHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/UsageMetricExportedHandlerTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/system/UsageMetricsController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/mapper/search/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/system/UsageMetricsControllerTest.java
Labels: component/c8-api, backport stable/8.8

#38311 deps: Update spring boot and spring for CVE-2025-41242
  parent/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

#38281 fix: allow throwing a BPMN error from an ad-hoc sub-process job
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobThrowErrorProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobBasedAdHocSubProcessTest.java
Labels: backport stable/8.8

#38335 [Backport stable/8.8] fix: refactor usage metrics
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UsageMetricExportedHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/UsageMetricExportedHandlerTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/system/UsageMetricsController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/mapper/search/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/system/UsageMetricsControllerTest.java
Labels: component/c8-api

#37641 Expose cluster Id in topology response
  dist/src/main/java/io/camunda/zeebe/shared/management/ClusterApiUtils.java
  dist/src/main/resources/api/cluster/components.yaml
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/api/BrokerClusterState.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/BrokerClientTopologyImpl.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/BrokerTopologyManagerImpl.java
  zeebe/broker-client/src/test/java/io/camunda/zeebe/broker/client/impl/TestTopologyManager.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/EndpointManager.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/admin/exporting/ExportingControlServiceTest.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/api/topology/TopologyTest.java
  zeebe/gateway-protocol/src/main/proto/gateway.proto
  zeebe/gateway-protocol/src/main/proto/rest-api-v1.yaml
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/TopologyController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/configuration/RestApiConfigurationTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/TopologyControllerTest.java
  zeebe/gateway/src/test/java/io/camunda/zeebe/gateway/api/util/StubbedTopologyManager.java
  zeebe/gateway/src/test/java/io/camunda/zeebe/gateway/api/util/TestBrokerClusterState.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ClusterEndpointResponseIT.java
Labels: component/zeebe, component/operate, component/c8-api, component/tasklist, component/optimize

#38363 fix: usage metrics date example and description
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Labels: component/c8-api, backport stable/8.8

#38231 fix: Elasticsearch Memory Leak
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterTest.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterTest.java
Labels: backport stable/8.8

#38355 Add additional log for root causing
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
Labels: backport stable/8.8

#38362 Change path to benchmark default values file after relocation
  .github/workflows/zeebe-benchmark.yml
Labels: component/build-pipeline

#38325 test: use assertUnauthorizedRequest for unauthorized tests
  qa/c8-orchestration-cluster-e2e-test-suite/tests/api/v2/cluster-api-tests.spec.ts
Labels: affects/8.8

#37765 refactor: use v1 endpoint for incident resolution
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/ProcessInstanceOperations.test.tsx
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/ProcessInstanceOperations.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/v2/InstanceOperations.tsx
  operate/client/src/modules/api/v2/processInstances/createIncidentResolutionBatchOperation.ts
  operate/client/src/modules/mutations/processInstance/useCreateIncidentResolutionBatchOperation.tsx
Labels: component/operate, backport stable/8.8

#38417 [Backport stable/8.8] fix: use new orchestration value
  .github/workflows/zeebe-benchmark.yml
Labels: component/build-pipeline

#37805 fix: determine element incident status from incident field
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/QueryHelper.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/OpenSearchQueryHelper.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/elasticsearch/QueryHelperTest.java
Labels: component/operate, backport stable/8.8

#38430 [Backport stable/8.5] ci: adjust API codeowners
  CODEOWNERS
Labels: component/zeebe, component/operate

#38397 refactor: add more info to API header
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiResourceConfig.java
Labels: component/c8-api, backport stable/8.8

#38444 [Backport stable/8.8] refactor: add more info to API header
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiResourceConfig.java
Labels: component/c8-api

#38097 fix: add RoleValidator and use jwt decoder in ID token filter
  optimize/backend/src/main/java/io/camunda/optimize/rest/security/cloud/CCSaaSSecurityConfigurerAdapter.java
  optimize/backend/src/main/java/io/camunda/optimize/rest/security/oauth/RoleValidator.java
  optimize/backend/src/test/java/io/camunda/optimize/rest/security/oauth/RoleValidatorTest.java
Labels: component/optimize, backport stable/8.8

#37877 Avoid race condition in tasklist v1 on user task operations
  qa/migration-tests/src/test/java/io/camunda/it/migration/usertask/AssignUserTaskMigrationIT.java
  tasklist/client/src/common/i18n/locales/de.json
  tasklist/client/src/common/i18n/locales/en.json
  tasklist/client/src/common/i18n/locales/es.json
  tasklist/client/src/common/i18n/locales/fr.json
  tasklist/client/src/common/tracking/index.tsx
  tasklist/client/src/v1/TaskDetails/index.test.tsx
  tasklist/client/src/v1/TaskDetailsLayout/AssignButton/index.tsx
  tasklist/client/src/v1/TaskDetailsLayout/index.tsx
  tasklist/client/src/v1/api/useCompleteTask.mutation.tsx
  tasklist/client/src/v1/api/usePollForAssignmentResult.mutation.tsx
  tasklist/client/src/v1/api/useTasks.query.tsx
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/TaskControllerIT.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/TaskService.java
Labels: backport main, component/build-pipeline, component/zeebe, component/operate, component/tasklist, component/identity, component/optimize, component/c8run

#38446 test: provide the most minimal required configuration for standalone managers tests
  qa/acceptance-tests/src/test/java/io/camunda/it/backup/StandaloneBackupManagerIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/schema/StandaloneSchemaManagerIT.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestSpringApplication.java
Labels: backport main

#37760 fix: log code and reason on camunda client completed exceptionally response
  clients/java/src/main/java/io/camunda/client/impl/http/ApiEntityConsumer.java
  clients/java/src/test/java/io/camunda/client/impl/http/ApiEntityConsumerTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/GlobalErrorControllerNoAuthTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/GlobalErrorControllerWithAuthTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/GlobalErrorController.java
Labels: component/zeebe, component/c8-api, backport stable/8.8

#38366 ci: reenable optimize e2e tests
  .github/workflows/optimize-e2e-test-cloud.yml
  .github/workflows/optimize-e2e-tests-sm.yml
  optimize/client/docker-compose.yml
  optimize/client/e2e/sm-tests/Common.elements.js
  optimize/client/e2e/sm-tests/Dashboard.js
  optimize/docker-compose.ccsm-with-optimize.yml
  optimize/docker-compose.ccsm-without-optimize.yml
Labels: component/build-pipeline, component/optimize, backport stable/8.8

#38347 fix: change session creation to never in security filter for api path in oidc
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
Labels: backport stable/8.8

#38428 refactor: use OffsetDateTime for date-time response fields in Camunda client
  clients/camunda-spring-boot-starter/src/main/java/io/camunda/client/jobhandling/parameter/CompatActivatedJobParameterResolver.java
  clients/java/src/main/java/io/camunda/client/api/response/UserTaskProperties.java
  clients/java/src/main/java/io/camunda/client/api/search/response/BatchOperation.java
  clients/java/src/main/java/io/camunda/client/api/search/response/BatchOperationItems.java
  clients/java/src/main/java/io/camunda/client/api/search/response/CorrelatedMessageSubscription.java
  clients/java/src/main/java/io/camunda/client/api/search/response/DecisionInstance.java
  clients/java/src/main/java/io/camunda/client/api/search/response/ElementInstance.java
  clients/java/src/main/java/io/camunda/client/api/search/response/Incident.java
  clients/java/src/main/java/io/camunda/client/api/search/response/Job.java
  clients/java/src/main/java/io/camunda/client/api/search/response/MessageSubscription.java
  clients/java/src/main/java/io/camunda/client/api/search/response/Operation.java
  clients/java/src/main/java/io/camunda/client/api/search/response/ProcessInstance.java
  clients/java/src/main/java/io/camunda/client/api/search/response/UserTask.java
  clients/java/src/main/java/io/camunda/client/impl/response/DocumentMetadataImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/UserTaskPropertiesImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/BatchOperationImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/BatchOperationItemsImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/CorrelatedMessageSubscriptionImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/DecisionInstanceImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/ElementInstanceImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/IncidentImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/JobImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/MessageSubscriptionImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/ProcessInstanceImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/UserTaskImpl.java
  clients/java/src/main/java/io/camunda/client/impl/util/ParseUtil.java
  clients/java/src/test/java/io/camunda/client/batchoperation/QueryBatchOperationTest.java
  clients/java/src/test/java/io/camunda/client/decision/GetDecisionInstanceTest.java
  clients/java/src/test/java/io/camunda/client/elementinstance/ElementInstanceTest.java
  clients/java/src/test/java/io/camunda/client/incident/SearchIncidentTest.java
  clients/java/src/test/java/io/camunda/client/usertask/GetUserTaskTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/CorrelatedMessageSubscriptionSearchTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/DecisionInstanceSearchTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/ElementInstanceSearchTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/JobSearchTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/MessageSubscriptionSearchTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/ProcessDefinitionStatisticsTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/ProcessInstanceSearchTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/UserTaskSearchTest.java
  qa/migration-tests/src/test/java/io/camunda/it/migration/usertask/SearchAndCreateTaskMigrationIT.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/UserTaskAssertTest.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/utils/ElementInstanceBuilder.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/utils/IncidentBuilder.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/utils/MessageSubscriptionBuilder.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/utils/ProcessInstanceBuilder.java
Labels: backport main

#38480 [Backport stable/8.8] ci: reenable optimize e2e tests
  .github/workflows/optimize-e2e-test-cloud.yml
  .github/workflows/optimize-e2e-tests-sm.yml
  optimize/client/docker-compose.yml
  optimize/client/e2e/sm-tests/Common.elements.js
  optimize/client/e2e/sm-tests/Dashboard.js
  optimize/docker-compose.ccsm-with-optimize.yml
  optimize/docker-compose.ccsm-without-optimize.yml
Labels: component/build-pipeline

#38477 feat: unified config: do not patch zeebe OS client with DB URL
  configuration/src/test/java/io/camunda/configuration/SecondaryStorageOpensearchTest.java
Labels: backport stable/8.8

#38338 Only username and password should be mandatory on user creation
  clients/java/src/main/java/io/camunda/client/impl/command/CreateUserCommandImpl.java
  clients/java/src/test/java/io/camunda/client/user/CreateUserTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/user/UserRecord.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CreateUserTest.java
Labels: component/c8-api, backport stable/8.8

#38521 fix: Tasklist OpenSearch Archiver Missing Size Configuration in BucketSort Aggregation
  tasklist/archiver/src/main/java/io/camunda/tasklist/archiver/os/TaskArchiverJobOpenSearch.java
Labels: backport stable/8.6

#38511 fix: skip tasklist V2 mode run on versions less than 8.8
  .github/workflows/c8-orchestration-cluster-e2e-tests-nightly.yml
  .github/workflows/c8-orchestration-cluster-e2e-tests-on-demand.yml
Labels: component/build-pipeline

#38464 Add partition scaling to weekly E2E tests
  .github/workflows/zeebe-weekly-e2e.yml
Labels: component/build-pipeline, backport stable/8.8

#38531 test: use 8.7-SNAPSHOT for migration tests
  qa/migration-tests/src/test/java/io/camunda/it/migration/TaskMigrationPartialUpdatesIT.java
  qa/migration-tests/src/test/java/io/camunda/it/migration/util/CamundaMigrator.java
Labels: backport release-8.8.0

#38288 [Backport stable/8.5] fix: correct zeebe incident events metric name
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/metrics/EngineMetricsDoc.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/metrics/IncidentMetricsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/DefaultZeebeDbFactory.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/TestStreams.java
Labels: component/zeebe

#38522 [Backport stable/8.8] fix: enable archiving and ILM applying for usage metrics indices
  dist/src/main/java/io/camunda/application/commons/backup/BackupPriorityConfiguration.java
  dist/src/main/java/io/camunda/application/commons/search/SearchClientReaderConfiguration.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/OperateMetricMigrator.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/TasklistMetricMigrator.java
  migration/usage-metric-migration/src/test/java/io/camunda/migration/usagemetrics/TasklistMetricMigratorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/IndexTemplateDescriptorsConfigurator.java
  operate/schema/src/main/java/io/camunda/operate/schema/IndexTemplateDescriptorsConfigurator.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchMetricsStore.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/dao/UsageMetricDAO.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchMetricsStore.java
  operate/webapp/src/test/java/io/camunda/operate/elasticsearch/reader/MetricReaderTest.java
  operate/webapp/src/test/java/io/camunda/operate/elasticsearch/writer/MetricWriterTest.java
  qa/migration-tests/src/test/java/io/camunda/it/migration/ImporterBacklogMigrationIT.java
  qa/migration-tests/src/test/java/io/camunda/it/migration/MigrationWithoutTasklistDataIT.java
  qa/migration-tests/src/test/java/io/camunda/it/migration/OperateMetricMigratorIT.java
  qa/migration-tests/src/test/java/io/camunda/it/migration/SuccessfulMigrationIT.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/IndexTemplateDescriptorsConfigurator.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/ServiceTransformers.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/aggregation/UsageMetricsAggregationTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/aggregation/UsageMetricsTUAggregationTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/UsageMetricsFilterTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/UsageMetricsTUFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/UsageMetricsQueryTransformerTest.java
  tasklist/.idea/misc.xml
  tasklist/.idea/workspace.xml
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/TasklistIndexTemplateDescriptorsConfigurator.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/elasticsearch/TaskMetricsStoreElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/opensearch/TaskMetricsStoreOpenSearch.java
  tasklist/els-schema/src/test/java/io/camunda/tasklist/store/elasticsearch/TaskMetricsStoreElasticSearchTest.java
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/TasklistIndexTemplateDescriptorsConfigurator.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/internal/DevUtilExternalController.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/IndexDescriptors.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/UsageMetricTUTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/UsageMetricTemplate.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/template/camunda-usage-metric-tu.json
  webapps-schema/src/main/resources/schema/elasticsearch/create/template/camunda-usage-metric.json
  webapps-schema/src/main/resources/schema/opensearch/create/template/camunda-usage-metric-tu.json
  webapps-schema/src/main/resources/schema/opensearch/create/template/camunda-usage-metric.json
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/BackgroundTaskManagerFactory.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/ArchiverRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/UsageMetricsArchiverJob.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/UsageMetricsArchiverJobTest.java
Labels: backport release-8.8.0

#38537 [Backport main] Run archunit tests in the CI
  .github/workflows/ci.yml
  qa/archunit-tests/src/test/java/io/camunda/ArchTestsArchTest.java
Labels: component/build-pipeline

#38499 Reuse clients in BackgroundManager Repositories
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/BackgroundTaskManagerFactory.java
Labels: backport main, backport release-8.8.0

#38571 ci: update release-e2e-tests workflow
  .github/workflows/c8-orchestration-cluster-e2e-tests-release.yml
Labels: component/build-pipeline, backport stable/8.8, backport release-8.8.0

#38631 ci: OC release workflow dispatch
  .github/workflows/c8-orchestration-cluster-e2e-tests-release.yml
Labels: component/build-pipeline

#38658 refactor: remove C8 Orchestration Cluster E2E Tests Release Validatio…
  .github/workflows/c8-orchestration-cluster-e2e-tests-release.yml
Labels: component/build-pipeline, backport stable/8.6, backport stable/8.7, backport release-8.8.0

#38082 deps: update storybook to v9
  optimize/c4/.storybook/main.ts
  optimize/c4/.storybook/preview.ts
  optimize/c4/package.json
  optimize/c4/src/StoryWrapper.tsx
  optimize/c4/src/components/MenuButton/MenuButton.stories.tsx
  optimize/c4/src/components/MenuDropdown/MenuDropdown.stories.tsx
  optimize/c4/src/components/MultiValueInput/MultiValueInput.stories.tsx
  optimize/c4/src/introduction.mdx
  optimize/c4/tsconfig.json
  optimize/c4/yarn.lock
Labels: component/optimize

#38665 refactor: remove C8 Orchestration Cluster E2E Tests Release Validation workfklow
  .github/workflows/c8-orchestration-cluster-e2e-tests-release.yml
Labels: component/build-pipeline
