Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

feat: retry only IOException or CompletionException with IOException cause
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/AsyncSnapshotDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/MigrationSnapshotDirector.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/steps/SnapshotMigrationTransitionStepTest.java
Owners: none

test: remove MigrationSnapshotDirector for HealthTree because there is no migration
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/management/BrokerAdminServiceEndpointTest.java
Owners: none

refactor: remove unnecessary methods related to health
  zeebe/util/src/main/java/io/camunda/zeebe/util/health/ComponentTreeListener.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/health/FailureListener.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/health/HealthReport.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/health/HealthReportTest.java
Owners: none

refactor: remove unnecessary assertions
  zeebe/qa/update-tests/pom.xml
  zeebe/qa/update-tests/src/test/java/io/camunda/zeebe/test/ContainerStateAssert.java
Owners: none

test: fix BrokerAdminServiceEndpointTest
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/management/BrokerAdminServiceEndpointTest.java
Owners: none

refactor: do not allocate MigrationSnapshotDirector if no migrations are performed
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/MigrationSnapshotDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/SnapshotAfterMigrationTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/steps/MigrationTransitionStepTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/steps/SnapshotMigrationTransitionStepTest.java
Owners: none

test: disable version check to allow migrations
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/steps/MigrationTransitionStepTest.java
Owners: none

build: update spotbugs-exclude.xml to ignore AT_NONATOMIC_64BIT_PRIMITIVE in zeebe-broker
  zeebe/broker/spotbugs/spotbugs-exclude.xml
Owners: none

feat: HealthIssue contains the status of the component and it unmounts when unrecoverable error
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/MigrationSnapshotDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/SnapshotAfterMigrationTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/steps/SnapshotMigrationTransitionStepTest.java
Owners: none

feat: add snapshot period to data in unified configuration
  configuration/src/main/java/io/camunda/configuration/Data.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/BrokerBasedPropertiesOverride.java
  configuration/src/test/java/io/camunda/configuration/DataTest.java
Owners: none

refactor: move role-related handler test to handlers test package
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/RoleMemberRemovedHandlerTest.java
Owners: none

fix: openAPI lint
  parent/pom.xml
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/pom.xml
Owners: @camunda/docs-api-reviewers

test: use basic auth for api request & application renamed to component
  qa/c8-orchestration-cluster-e2e-test-suite/.gitignore
  qa/c8-orchestration-cluster-e2e-test-suite/tests/api/v1/operate-api-tests.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/api/v1/tasklist-api-tests.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/identity/authorizations.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/utils/apiHelpers.ts
  qa/c8-orchestration-cluster-e2e-test-suite/utils/constants.ts
Owners: none

fix: allow snapshots without any processing
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/AsyncSnapshotDirector.java
Owners: none

feat: set proper data sources
  monitor/grafana/dashboards/data_layer.json
Owners: none

test: select component tab after deletion
  qa/c8-orchestration-cluster-e2e-test-suite/tests/identity/authorizations.spec.ts
Owners: none

feat: set proper data sources
  monitor/grafana/dashboards/data_layer.json
Owners: none

fix: snapshot falls back to index and term 0 when nothing is processed
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/StateControllerImpl.java
Owners: none

fix: exporter using the correct source entity
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromProcessInstanceHandler.java
Owners: none

test: select component tab after deletion
  qa/c8-orchestration-cluster-e2e-test-suite/tests/identity/authorizations.spec.ts
Owners: none

fix: add newline to fix formatting issue
  .github/workflows/statistics-daily.yml
  .github/workflows/statistics-weekly.yml
Owners: @camunda/monorepo-devops-team

test: update succeeds without prior snapshot but may have one afterwards
  zeebe/qa/update-tests/src/test/java/io/camunda/zeebe/test/NoSnapshotTest.java
Owners: none

test: don't assert that follower didn't take a snapshot
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/system/BrokerAdminServiceClusterTest.java
Owners: none

test: added sleep
  qa/c8-orchestration-cluster-e2e-test-suite/tests/identity/authorizations.spec.ts
Owners: none

ci: move zeebe-broker to distributed sytems
  .github/workflows/ci.yml
Owners: @camunda/monorepo-devops-team

test: fix Identity e2e component authorization tests
  qa/c8-orchestration-cluster-e2e-test-suite/pages/IdentityAuthorizationsPage.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/identity/authorizations.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/utils/constants.ts
  qa/c8-orchestration-cluster-e2e-test-suite/utils/waitForItemInList.ts
Owners: none

ci: team lookup should be flexible for multiple values
  .ci/scripts/ci/setup-medic-lookup.sh
Owners: none

test: add tags to ListViewProcessInstanceFromProcessInstanceHandlerTest
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromProcessInstanceHandlerTest.java
Owners: none

test: adjust CreateProcessInstanceTest to use better assertion
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/CreateProcessInstanceTest.java
Owners: none

fix: typo fix and adding clarifying comments
  .ci/scripts/ci/setup-medic-lookup.sh
Owners: none

fix: only update tags while exporting when tags are not empty
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromProcessInstanceHandler.java
Owners: none

style: replace \t with spaces
  .github/workflows/statistics-daily.yml
  .github/workflows/statistics-weekly.yml
Owners: @camunda/monorepo-devops-team

test: use basic auth for api request & application renamed to component
  qa/c8-orchestration-cluster-e2e-test-suite/.gitignore
  qa/c8-orchestration-cluster-e2e-test-suite/tests/api/v1/operate-api-tests.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/api/v1/tasklist-api-tests.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/utils/apiHelpers.ts
Owners: none

test: verify event sub-process in ad-hoc sub-process
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobBasedAdHocSubProcessTest.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/ProcessInstanceRecordStream.java
Owners: none

test: use basic oath
  qa/c8-orchestration-cluster-e2e-test-suite/.gitignore
  qa/c8-orchestration-cluster-e2e-test-suite/tests/api/v1/operate-api-tests.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/api/v1/tasklist-api-tests.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/utils/.auth
  qa/c8-orchestration-cluster-e2e-test-suite/utils/apiHelpers.ts
Owners: none

test: expect a snapshot id
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/management/BrokerAdminServiceEndpointTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/system/BrokerAdminServiceWithOutExporterTest.java
Owners: none

test: only assert that a new snapshot is available after dataloss
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/FailOverReplicationTest.java
Owners: none

feat: add tags to camunda api and sdk
  clients/java/src/main/java/io/camunda/client/api/command/CreateProcessInstanceCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/search/response/ProcessInstance.java
  clients/java/src/main/java/io/camunda/client/impl/command/CreateProcessInstanceCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/ProcessInstanceImpl.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/ProcessInstanceSearchTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/util/TestHelper.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/entity/ProcessInstanceEntityTransformer.java
  search/search-domain/src/main/java/io/camunda/search/entities/ProcessInstanceEntity.java
  service/src/main/java/io/camunda/service/ProcessInstanceServices.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/CamundaServicesBasedAdapter.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/utils/ProcessInstanceBuilder.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/AbstractBatchOperationTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceQueryControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerCreateProcessInstanceRequest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerCreateProcessInstanceWithResultRequest.java
Owners: @camunda/docs-api-reviewers

refactor: use security config for resource access
  dist/src/main/java/io/camunda/application/commons/search/ResourceAccessControllerConfiguration.java
Owners: none

test: configure tenant access case insensitive
  dist/src/test/java/io/camunda/application/commons/search/ResourceAccessControllerConfigurationTest.java
Owners: none

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity
