Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

refactor: remove unused mutationKey
  operate/client/src/modules/mutations/elementInstances/useElementInstanceVariables.tsx
Owners: none

refactor: use requestWithThrow instead of request
  operate/client/src/modules/api/v2/elementInstances/updateElementInstanceVariables.ts
  operate/client/src/modules/mutations/elementInstances/useElementInstanceVariables.tsx
Owners: none

feat: uc: network configs
  configuration/src/main/java/io/camunda/configuration/Network.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/BrokerBasedPropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/GatewayBasedPropertiesOverride.java
  configuration/src/test/java/io/camunda/configuration/BrokerNetworkPropertiesTest.java
  configuration/src/test/java/io/camunda/configuration/GatewayNetworkPropertiesTest.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/NetworkCfg.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/configuration/NetworkCfg.java
Owners: none

Remove debug console log
  .github/actions/flaky-tests-summary-comment/src/helpers.js
Owners: none

fix: rename component TaskStateLoadingText to ActiveTransitionLoadingText, fix type and lint
  tasklist/client/src/common/form-js/FormJSRenderer/index.test.tsx
  tasklist/client/src/common/tasks/details/ActiveTransitionLoadingText.module.scss
  tasklist/client/src/common/tasks/details/ActiveTransitionLoadingText.tsx
  tasklist/client/src/common/tasks/details/TaskDetailsHeader/index.tsx
  tasklist/client/src/v1/TaskDetails/FormJS/index.tsx
  tasklist/client/src/v2/TaskDetails/FormJS/index.tsx
Owners: none

fix: improve consistency by keeping complete button and footer, move loaders to header
  tasklist/client/src/common/tasks/details/TaskDetailsHeader/index.tsx
  tasklist/client/src/v1/TaskDetails/FormJS/index.tsx
  tasklist/client/src/v1/TaskDetails/Variables/index.tsx
  tasklist/client/src/v2/TaskDetails/FormJS/index.tsx
  tasklist/client/src/v2/TaskDetails/Variables/index.tsx
Owners: none

feat: add polling for completing task state and adapt UI
  tasklist/client/src/v1/TaskDetails/FormJS/index.tsx
  tasklist/client/src/v1/TaskDetails/index.tsx
  tasklist/client/src/v1/TaskDetailsLayout/index.tsx
  tasklist/client/src/v1/api/useCompleteTask.mutation.tsx
  tasklist/client/src/v2/TaskDetails/FormJS/index.tsx
  tasklist/client/src/v2/TaskDetails/index.tsx
  tasklist/client/src/v2/TaskDetailsLayout/index.tsx
  tasklist/client/src/v2/api/useCompleteTask.mutation.ts
Owners: none

fix: match formjs implementation on variables taskdetails for v1 and v2
  tasklist/client/src/v1/TaskDetails/Variables/index.tsx
  tasklist/client/src/v2/TaskDetails/Variables/index.tsx
Owners: none

fix: remove unused imports
  tasklist/client/src/v1/TaskDetails/FormJS/index.tsx
  tasklist/client/src/v1/TaskDetails/Variables/index.tsx
  tasklist/client/src/v2/TaskDetails/FormJS/index.tsx
  tasklist/client/src/v2/TaskDetails/Variables/index.tsx
Owners: none

fix: v2 completing state indicator timeout notification and UI
  tasklist/client/src/v2/TaskDetails/index.tsx
  tasklist/client/src/v2/api/useAssignTask.mutation.ts
  tasklist/client/src/v2/api/useCompleteTask.mutation.ts
Owners: none

fix: correct unit tests
  tasklist/client/src/v1/TaskDetails/index.test.tsx
  tasklist/client/src/v2/TaskDetails/index.test.tsx
  tasklist/client/src/v2/TaskDetailsLayout/AssignButton/index.test.tsx
Owners: none

refactor: prevent constant from being created on every call
  tasklist/client/src/v1/TaskDetailsLayout/index.tsx
  tasklist/client/src/v2/TaskDetailsLayout/index.tsx
Owners: none

fix: remove task state mutation on test in favor of msw event approach
  tasklist/client/src/v2/TaskDetails/index.test.tsx
Owners: none

refactor: simplify return
  tasklist/client/src/v2/api/useAssignTask.mutation.ts
  tasklist/client/src/v2/api/useCompleteTask.mutation.ts
Owners: none

test: simplify and remove unnecessary logic from tests to get completed task after completion endpoint
  tasklist/client/src/v1/TaskDetails/index.test.tsx
  tasklist/client/src/v2/TaskDetails/index.test.tsx
Owners: none

fix: simplify taskErrorHandling util and mutation returns, fix several types
  tasklist/client/src/common/utils/taskErrorHandling.ts
  tasklist/client/src/v1/TaskDetailsLayout/index.tsx
  tasklist/client/src/v1/api/useAssignTask.mutation.tsx
  tasklist/client/src/v1/api/useCompleteTask.mutation.tsx
  tasklist/client/src/v2/TaskDetailsLayout/index.tsx
Owners: none

fix: add translation strings for errors
  tasklist/client/src/common/i18n/locales/de.json
  tasklist/client/src/common/i18n/locales/en.json
  tasklist/client/src/common/i18n/locales/es.json
  tasklist/client/src/common/i18n/locales/fr.json
  tasklist/client/src/v1/api/useAssignTask.mutation.tsx
  tasklist/client/src/v1/api/useCompleteTask.mutation.tsx
  tasklist/client/src/v2/api/useAssignTask.mutation.ts
  tasklist/client/src/v2/api/useCompleteTask.mutation.ts
Owners: none

feat: unify task timeout error handling
  tasklist/client/src/common/utils/taskErrorHandling.ts
  tasklist/client/src/v1/api/useAssignTask.mutation.tsx
  tasklist/client/src/v1/api/useCompleteTask.mutation.tsx
  tasklist/client/src/v2/api/useAssignTask.mutation.ts
  tasklist/client/src/v2/api/useCompleteTask.mutation.ts
Owners: none

feat: add polling for assigning in v1, add translation strings to v2
  tasklist/client/src/v1/TaskDetailsLayout/AssignButton/index.tsx
  tasklist/client/src/v1/TaskDetailsLayout/index.tsx
  tasklist/client/src/v1/api/useAssignTask.mutation.tsx
  tasklist/client/src/v2/api/useAssignTask.mutation.ts
Owners: none

fix: match v2 mutation implementation on v1 for consistency, add translation strings
  tasklist/client/src/common/i18n/locales/de.json
  tasklist/client/src/common/i18n/locales/en.json
  tasklist/client/src/common/i18n/locales/es.json
  tasklist/client/src/common/i18n/locales/fr.json
  tasklist/client/src/v1/TaskDetails/index.tsx
  tasklist/client/src/v1/api/useAssignTask.mutation.tsx
  tasklist/client/src/v1/api/useCompleteTask.mutation.tsx
  tasklist/client/src/v2/api/useCompleteTask.mutation.ts
Owners: none

fix: use zod schema for taskErrorHandling util
  tasklist/client/src/common/utils/taskErrorHandling.ts
Owners: none

feat: add polling for assigning task on v2, add timeout notification
  tasklist/client/src/v2/TaskDetailsLayout/AssignButton/index.tsx
  tasklist/client/src/v2/TaskDetailsLayout/index.tsx
  tasklist/client/src/v2/api/useAssignTask.mutation.ts
Owners: none

fix: add semicolon
  .github/actions/flaky-tests-summary-comment/src/helpers.js
Owners: none

fix: use consistent formatting
  .github/actions/flaky-tests-summary-comment/src/flaky-tests-comment-generator.js
Owners: none

feat: add cluster compression algorithm to unified configuration
  configuration/src/main/java/io/camunda/configuration/Cluster.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/BrokerBasedPropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/GatewayBasedPropertiesOverride.java
  configuration/src/test/java/io/camunda/configuration/ClusterBrokerPropertiesTest.java
  configuration/src/test/java/io/camunda/configuration/ClusterGatewayPropertiesTest.java
Owners: none

fix: remove unecessary logs
  .github/actions/flaky-tests-summary-comment/README.md
  .github/actions/flaky-tests-summary-comment/action.yml
  .github/actions/flaky-tests-summary-comment/src/flaky-tests-comment-generator.js
  .github/actions/flaky-tests-summary-comment/src/flaky-tests-data-processor.js
Owners: none

refactor: remove conditional retries from variable mutation
  operate/client/src/modules/mutations/elementInstances/useElementInstanceVariables.tsx
  operate/client/src/modules/queries/queryKeys.ts
Owners: none

fix: handle historical data when empty array
  .github/actions/flaky-tests-summary-comment/src/flaky-tests-comment-generator.js
Owners: none

fix: keep sorting on page for enriched views
  identity/client/src/components/global/useEnrichGroups.tsx
  identity/client/src/components/global/useEnrichUsers.tsx
Owners: none

build: tasklist CI: upload test results on job cancel
  .github/workflows/tasklist-ci-test-reusable.yml
Owners: @camunda/core-features

test: 8.7 - CI run fix for zeebe client
  qa/c8-orchestration-cluster-e2e-test-suite/utils/zeebeClient.ts
Owners: none

fix: enable sorting on groups/roles
  identity/client/src/pages/groups/detail/roles/index.tsx
Owners: none

feat: add interfaces for empty responses
  clients/java/src/main/java/io/camunda/client/api/command/CancelBatchOperationStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/SuspendBatchOperationStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/ThrowErrorCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/response/CancelBatchOperationResponse.java
  clients/java/src/main/java/io/camunda/client/api/response/ResumeBatchOperationResponse.java
  clients/java/src/main/java/io/camunda/client/api/response/SuspendBatchOperationResponse.java
  clients/java/src/main/java/io/camunda/client/api/response/ThrowErrorResponse.java
Owners: none

test: ensure non-null responses for 204 endpoints
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/jobhandling/JobHandlerInvokingSpringBeansTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/SetVariablesTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/ThrowErrorTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UnassignGroupFromTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UpdateJobTest.java
Owners: none

feat: require transformers for empty responses
  clients/java/src/main/java/io/camunda/client/impl/http/ApiCallback.java
  clients/java/src/main/java/io/camunda/client/impl/http/HttpClient.java
Owners: none

test: create default REST responses
  clients/java/pom.xml
  clients/java/src/test/java/io/camunda/client/util/RestGatewayPaths.java
  clients/java/src/test/java/io/camunda/client/util/RestGatewayService.java
Owners: none

fix: ensure snapshots can be taken even if no new entry is written after leader transition
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/AsyncSnapshotDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/SnapshotDirectorPartitionTransitionStep.java
Owners: none

test: verify commit position is set after snapshot director is installed
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/AsyncSnapshotDirector.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/steps/SnapshotDirectorPartitionTransitionStepTest.java
Owners: none

test: re-enable flaky test
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/exporter/ExporterDisableTest.java
Owners: none

ci: add flaky tests summary comment feature - with clean history
  .github/actions/collect-flaky-tests/README.md
  .github/actions/collect-flaky-tests/action.yml
  .github/actions/collect-flaky-tests/scripts/collect-flaky-tests.sh
  .github/actions/flaky-tests-summary-comment/README.md
  .github/actions/flaky-tests-summary-comment/action.yml
  .github/actions/flaky-tests-summary-comment/src/flaky-tests-comment-generator.js
  .github/actions/flaky-tests-summary-comment/src/flaky-tests-data-processor.js
  .github/actions/flaky-tests-summary-comment/src/github-api.js
  .github/actions/flaky-tests-summary-comment/src/helpers.js
  .github/conftest-unified-ci-rules.rego
  .github/workflows/ci.yml
Owners: @camunda/monorepo-devops-team

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity
