Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

fix: elastic exporter/importer
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromProcessInstanceHandler.java
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-process-instance-creation-template.json
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-process-instance-template.json
Owners: none

test: add Identity OIDC flow tests
  authentication/pom.xml
  authentication/src/test/java/io/camunda/authentication/OidcFlowTest.java
  authentication/src/test/java/io/camunda/authentication/config/controllers/OidcFlowTestContext.java
  authentication/src/test/java/io/camunda/authentication/config/controllers/WebSecurityConfigTestContext.java
  authentication/src/test/resources/camunda-identity-test-realm.json
Owners: @camunda/identity

test: update permissions in UserTaskRestrictionIT to reflect the V1 approach
  qa/acceptance-tests/src/test/java/io/camunda/it/task/UserTaskRestrictionsIT.java
Owners: none

fix: add tags to opensearch-exporter
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-process-instance-creation-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-process-instance-template.json
Owners: none

fix: RecordBatchTest
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/RecordBatchTest.java
Owners: @camunda/zeebe-distributed-platform

feat: uc: added restore app cfgs
  configuration/src/main/java/io/camunda/configuration/Restore.java
  configuration/src/main/java/io/camunda/configuration/System.java
  configuration/src/main/java/io/camunda/configuration/UnifiedConfigurationHelper.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/RestorePropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beans/RestoreProperties.java
  configuration/src/test/java/io/camunda/configuration/SystemPropertiesTest.java
  dist/src/main/java/io/camunda/zeebe/restore/RestoreApp.java
Owners: none

fix: potential workaround
  configuration/src/main/java/io/camunda/configuration/Restore.java
  dist/src/main/java/io/camunda/application/commons/configuration/BrokerBasedConfiguration.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestCamundaApplication.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteringRule.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ScaleUpPartitionsTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/network/SecureClusteredMessagingIT.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestGateway.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestRestoreApp.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneApplication.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
Owners: none

fix: camunda exporter
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/ListViewTemplate.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromProcessInstanceHandler.java
Owners: none

fix: decisionEvaluationInstanceKey should not be exported
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/decision/EvaluatedDecisionRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
Owners: none

feat: Enable cleanup for message subscriptions in RDBMS
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/MessageSubscriptionDbModel.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/HistoryCleanupService.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/MessageSubscriptionWriter.java
  db/rdbms/src/main/resources/mapper/MessageSubscriptionMapper.xml
  db/rdbms/src/test/java/io/camunda/db/rdbms/write/service/HistoryCleanupServiceTest.java
Owners: none

feat: wip: attempt to enroll UC tests
  configuration/src/main/java/io/camunda/configuration/UnifiedConfiguration.java
  qa/acceptance-tests/src/test/java/io/camunda/it/backup/BackupRestoreIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/AzureRestoreAcceptanceIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/BackupMultiPartitionTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/ClusteredBackupRestoreTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/ContinuousBackupIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/GcsRestoreAcceptanceIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/RestoreAcceptance.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/S3RestoreAcceptanceIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ScaleUpPartitionsTest.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestRestoreApp.java
Owners: none

feat: uc: added restore app cfgs
  configuration/src/main/java/io/camunda/configuration/Restore.java
  configuration/src/main/java/io/camunda/configuration/System.java
  configuration/src/main/java/io/camunda/configuration/UnifiedConfigurationHelper.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/RestorePropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beans/RestoreProperties.java
  configuration/src/test/java/io/camunda/configuration/SystemPropertiesTest.java
  dist/src/main/java/io/camunda/zeebe/restore/RestoreApp.java
Owners: none

feat: add prometheus as default data source
  monitor/grafana/dashboards/data_layer.json
Owners: none

refactor: move BatchOperationExecutionScheduler a `scheduler` sub-package
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationSetupProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/scheduler/BatchOperationExecutionScheduler.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/scheduler/BatchOperationInitializer.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/scheduler/BatchOperationExecutionSchedulerTest.java
Owners: none

feat: add license key to the unified config
  configuration/src/main/java/io/camunda/configuration/Camunda.java
  configuration/src/main/java/io/camunda/configuration/License.java
Owners: none

test: Add process instance operations test
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/ProcessInstanceOperations.test.tsx
Owners: none

fix: ignore permission error on batch operation result
  operate/client/src/modules/mutations/processInstance/useCreateIncidentResolutionBatchOperation.tsx
Owners: none

test: Fix process instance header test
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/tests/index.test.tsx
Owners: none

fix: fix active operation polling
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/ProcessInstanceOperations.tsx
  operate/client/src/modules/api/v2/batchOperations/getBatchOperation.ts
  operate/client/src/modules/mutations/processInstance/useCancelProcessInstance.tsx
  operate/client/src/modules/mutations/processInstance/useCreateIncidentResolutionBatchOperation.tsx
  operate/client/src/modules/mutations/processInstance/useHasActiveBatchOperationMutation.tsx
  operate/client/src/modules/queries/processInstance/useProcessInstance.ts
Owners: none

refactor: Refactor operations component
  operate/client/src/App/ProcessInstance/ModificationSummaryModal/Messages/Error.tsx
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/ProcessInstanceOperations.tsx
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/index.tsx
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/processInstanceOperationsContext.ts
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/tests/index.test.tsx
  operate/client/src/App/ProcessInstance/index.tsx
  operate/client/src/modules/components/Operations/v2/Cancel.test.tsx
  operate/client/src/modules/components/Operations/v2/Cancel.tsx
  operate/client/src/modules/components/Operations/v2/Delete.tsx
  operate/client/src/modules/components/Operations/v2/OperationRenderer.tsx
  operate/client/src/modules/components/Operations/v2/ResolveIncident.test.tsx
  operate/client/src/modules/components/Operations/v2/ResolveIncident.tsx
  operate/client/src/modules/components/Operations/v2/ResolveIncidentLegacy.tsx
  operate/client/src/modules/components/Operations/v2/buttons.test.tsx
  operate/client/src/modules/components/Operations/v2/cancel-operation.test.tsx
  operate/client/src/modules/components/Operations/v2/index.test.tsx
  operate/client/src/modules/components/Operations/v2/index.tsx
  operate/client/src/modules/components/Operations/v2/mocks.tsx
  operate/client/src/modules/components/Operations/v2/notification.test.tsx
  operate/client/src/modules/components/Operations/v2/spinner.test.tsx
  operate/client/src/modules/components/Operations/v2/types.ts
  operate/client/src/modules/queries/callHierarchy/useCallHierarchy.ts
  operate/client/src/modules/queries/callHierarchy/useRootInstanceId.ts
Owners: none

refactor: Add path to API type imports
  operate/client/src/modules/api/v2/batchOperations/getBatchOperation.ts
Owners: none

fix: add feature flag back
  operate/client/src/modules/feature-flags.ts
Owners: none

refactor: delete optimize variable instance update index
  optimize/backend/src/it/java/io/camunda/optimize/service/snapshot/BackupServiceIT.java
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/DatabaseIntegrationTestExtension.java
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/db/DatabaseTestService.java
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/db/ElasticsearchDatabaseTestService.java
  optimize/backend/src/it/java/io/camunda/optimize/test/it/extension/db/OpenSearchDatabaseTestService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/cleanup/EngineDataProcessCleanupService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/reader/VariableUpdateInstanceReader.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/repository/VariableRepository.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/repository/es/VariableRepositoryES.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/repository/os/VariableRepositoryOS.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/writer/variable/ProcessVariableWriter.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/writer/variable/VariableUpdateInstanceWriter.java
  optimize/backend/src/main/java/io/camunda/optimize/service/importing/ingested/mediator/factory/ExternalVariableUpdateImportMediatorFactory.java
  optimize/backend/src/main/java/io/camunda/optimize/service/importing/ingested/service/ExternalVariableUpdateImportService.java
  optimize/backend/src/main/java/io/camunda/optimize/service/importing/job/ExternalVariableUpdateDatabaseImportJob.java
  optimize/backend/src/test/java/io/camunda/optimize/service/cleanup/OptimizeProcessCleanupServiceTest.java
  optimize/docker-compose.ccsm-with-optimize.yml
  optimize/upgrade/src/main/java/io/camunda/optimize/upgrade/plan/factories/Upgrade87to88PlanFactory.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/db/IndexLookupUtilIncludingTestIndices.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/db/indices/VariableUpdateInstanceIndexOld.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/es/indices/VariableUpdateInstanceIndexOldES.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/os/indices/VariableUpdateInstanceIndexOldOS.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/upgrade/AbstractUpgrade88IT.java
  optimize/upgrade/src/test/java/io/camunda/optimize/upgrade/upgrade/DeleteVariableUpdateIndexIT.java
  optimize/upgrade/src/test/resources/steps/3.13/313-license-data.json
  optimize/upgrade/src/test/resources/steps/3.13/313-settings-data.json
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/es/schema/ElasticSearchSchemaManager.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/es/schema/index/VariableUpdateInstanceIndexES.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/schema/OpenSearchSchemaManager.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/schema/index/VariableUpdateInstanceIndexOS.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/schema/IndexLookupUtil.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/schema/index/VariableUpdateInstanceIndex.java
Owners: none

feat: introduce onSuccess,onError callbacks implemented with onComplete
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/future/ActorFuture.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/functional/ActorFutureTest.java
Owners: @camunda/zeebe-distributed-platform

docs: added documentation for ActorFuture.andThen(BiConsumer, Executor)
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/future/ActorFuture.java
Owners: @camunda/zeebe-distributed-platform

feat: add andThen(Bifunction<Throwable,A,Future<B>, Executor) for a more functional style
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/future/ActorFuture.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/future/CompletableActorFuture.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/functional/ActorFutureTest.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/TestActorFuture.java
Owners: @camunda/zeebe-distributed-platform

build: remove invalid npm configuration parameter
  operate/client/pom.xml
  optimize/client/pom.xml
  tasklist/client/pom.xml
Owners: none

feat: HealthMonitor reports arbitrarily nested component in a tree-like structure
  dist/src/main/resources/application.properties
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RaftTest.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/BrokerAdminService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/BrokerAdminServiceImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/BrokerHealthEndpoint.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/HealthTree.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/PartitionHealthEndpoint.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/BrokerHealthCheckService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionHealthBroadcaster.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionHealth.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/AsyncSnapshotDirector.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/management/HealthTreeTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionTest.java
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/health/BrokerMonitoringEndpointTest.java
  zeebe/scheduler/pom.xml
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/ActorControl.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/health/CriticalComponentsHealthMonitor.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/health/CriticalComponentsHealthMonitorTest.java
  zeebe/scheduler/src/test/resources/log4j2-test.xml
  zeebe/util/src/main/java/io/camunda/zeebe/util/health/FailureListener.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/health/HealthReport.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/health/HealthStatus.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/health/HealthReportTest.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/health/HealthStatusTest.java
Owners: @camunda/zeebe-distributed-platform

feat: add andThen(Bifunction<Throwable,A,Future<B>, Executor) for a more functional style
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/future/ActorFuture.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/future/CompletableActorFuture.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/functional/ActorFutureTest.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/testing/TestActorFuture.java
Owners: @camunda/zeebe-distributed-platform

feat: introduce onSuccess,onError callbacks implemented with onComplete
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/future/ActorFuture.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/functional/ActorFutureTest.java
Owners: @camunda/zeebe-distributed-platform

docs: added documentation for ActorFuture.andThen(BiConsumer, Executor)
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/future/ActorFuture.java
Owners: @camunda/zeebe-distributed-platform

feat: add since (Instant) field to HealthTree for reporting HealthStatus
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/HealthTree.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionHealth.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/AsyncSnapshotDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/PartitionTransitionProcess.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionTest.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/health/CriticalComponentsHealthMonitor.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/health/CriticalComponentsHealthMonitorTest.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/health/HealthIssue.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/health/HealthReport.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/health/HealthReportTest.java
Owners: @camunda/zeebe-distributed-platform

refactor: simplify actuator Endpoints for partition & remove the broker one
  dist/src/main/resources/application.properties
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/BrokerAdminService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/BrokerAdminServiceEndpoint.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/BrokerAdminServiceImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/BrokerHealthEndpoint.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/PartitionHealthEndpoint.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/management/PartitionStatus.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/health/BrokerMonitoringEndpointTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/management/BrokerAdminServiceEndpointTest.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/health/CriticalComponentsHealthMonitorTest.java
Owners: @camunda/zeebe-distributed-platform

style: reorder imports
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
Owners: @camunda/zeebe-distributed-platform

fix: fix overloading correct method
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/StreamProcessorHealthTest.java
Owners: @camunda/zeebe-distributed-platform

feat: change RaftPartition & ZeebePartitionHealth names in HealthReports
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/RaftPartition.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionHealth.java
Owners: @camunda/zeebe-distributed-platform

refactor: HealthMonitor will use HealthMonitorable.getName() to identify components
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/startup/steps/PartitionRegistrationStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/BrokerHealthCheckService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ExporterDirectorPartitionTransitionStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/LogStreamPartitionTransitionStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/SnapshotDirectorPartitionTransitionStep.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/StreamProcessorTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/management/BrokerAdminServiceEndpointTest.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/health/CriticalComponentsHealthMonitor.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/health/CriticalComponentsHealthMonitorTest.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/health/HealthMonitor.java
Owners: @camunda/zeebe-distributed-platform

refactor: rename HealthMonitorable.getName to componentName to avoid clash with Actor methods
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/impl/RaftContext.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/RaftPartition.java
  zeebe/atomix/cluster/src/main/java/io/atomix/raft/partition/impl/RaftPartitionServer.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/monitoring/BrokerHealthCheckService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartitionHealth.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/AsyncSnapshotDirector.java
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/health/CriticalComponentsHealthMonitor.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/health/CriticalComponentsHealthMonitorTest.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/StreamProcessor.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/health/HealthMonitor.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/health/HealthMonitorable.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/health/HealthReport.java
Owners: @camunda/zeebe-distributed-platform

feat: introduce onSuccess,onError callbacks implemented with onComplete
  zeebe/scheduler/src/main/java/io/camunda/zeebe/scheduler/future/ActorFuture.java
  zeebe/scheduler/src/test/java/io/camunda/zeebe/scheduler/functional/ActorFutureTest.java
Owners: @camunda/zeebe-distributed-platform

refactor: allow detecting if a value is set or not
  zeebe/msgpack-value/src/main/java/io/camunda/zeebe/msgpack/property/BaseProperty.java
Owners: none

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity
