Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity

feat: guard against batch-operation re-initialization
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionScheduler.java
Owners: none

deps(identity): update identity to 8.6.18
  parent/pom.xml
Owners: none

build(project): update java compat versions
  parent/pom.xml
Owners: none

feat: sort permissions alphabetically
  identity/client/src/pages/authorizations/List.tsx
  identity/client/src/pages/authorizations/modals/AddModal.tsx
Owners: none

feat: unified config: temporarily support fallback for elasticsearch URL
  configuration/src/main/java/io/camunda/configuration/Elasticsearch.java
  configuration/src/test/java/io/camunda/configuration/SecondaryStorageFailureWithLegacySchemaTest.java
Owners: none

test: pull out lookupTeamMedic into a script
  .ci/scripts/ci/setup-medic-lookup.sh
  .github/workflows/statistics-daily.yml
  .github/workflows/statistics-weekly.yml
Owners: @camunda/monorepo-devops-team

test: pull out lookupTeamMedic into a script
  .github/workflows/ci.yml
Owners: @camunda/monorepo-devops-team

fix: don't use hardcoded keys in assertions
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/incident/AdHocSubProcessIncidentTest.java
Owners: none

test: pull out lookupTeamMedic into a script
  .github/workflows/ci.yml
Owners: @camunda/monorepo-devops-team

fix: don't assert hardcoded keys
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobBasedAdHocSubProcessTest.java
Owners: none

fix: initialize topology even when clusterConfiguration is not available
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/BrokerClientTopologyImpl.java
Owners: @camunda/zeebe-distributed-platform

test: pull out lookupTeamMedic into a script
  .github/workflows/ci.yml
Owners: @camunda/monorepo-devops-team

refactor: convert UsernamePasswordAuthentication accordingly
  authentication/src/main/java/io/camunda/authentication/CamundaUserDetailsService.java
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/converter/CamundaAuthenticationDelegatingConverter.java
  authentication/src/main/java/io/camunda/authentication/converter/DefaultCamundaAuthenticationConverter.java
  authentication/src/main/java/io/camunda/authentication/converter/UnprotectedCamundaAuthenticationConverter.java
  authentication/src/main/java/io/camunda/authentication/converter/UsernamePasswordAuthenticationTokenConverter.java
  authentication/src/main/java/io/camunda/authentication/entity/CamundaUser.java
  authentication/src/main/java/io/camunda/authentication/service/BasicCamundaUserService.java
  authentication/src/test/java/io/camunda/authentication/CamundaOAuthPrincipalServiceTest.java
  authentication/src/test/java/io/camunda/authentication/CamundaUserDetailsServiceTest.java
  authentication/src/test/java/io/camunda/authentication/config/controllers/TestUserDetailsService.java
  authentication/src/test/java/io/camunda/authentication/config/controllers/WebSecurityConfigTestContext.java
  authentication/src/test/java/io/camunda/authentication/converter/DefaultCamundaAuthenticationConverterTest.java
  authentication/src/test/java/io/camunda/authentication/converter/UsernamePasswordAuthenticationTokenConverterTest.java
  authentication/src/test/java/io/camunda/authentication/service/BasicCamundaUserServiceTest.java
  authentication/src/test/java/io/camunda/authentication/session/WebSessionMapperTest.java
  dist/src/main/java/io/camunda/application/commons/rest/RestApiConfiguration.java
  service/src/main/java/io/camunda/service/GroupServices.java
  service/src/main/java/io/camunda/service/RoleServices.java
  service/src/main/java/io/camunda/service/TenantServices.java
  service/src/test/java/io/camunda/service/GroupServiceTest.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/es/cache/ProcessStoreElasticSearchTest.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/es/cache/ProcessStoreOpenSearchTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/authentication/AuthenticationControllerTest.java
Owners: none

deps(identity): update identity to 8.7.5
  parent/pom.xml
Owners: none

build(project): update java compat versions
  parent/pom.xml
Owners: none

fix: print compact log on failure
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeDefaultsTest.java
Owners: none

ci: update team names and give distributed systems some zeebe tests
  .ci/scripts/ci/setup-medic-lookup.sh
  .github/workflows/ci-operate.yml
  .github/workflows/ci-optimize.yml
  .github/workflows/operate-ci-fe.yml
  .github/workflows/operate-run-tests.yml
  .github/workflows/tasklist-backup-restore-tests-reusable.yml
  .github/workflows/tasklist-ci-fe-reusable.yml
  .github/workflows/tasklist-docker-tests.yml
  .github/workflows/zeebe-ci.yml
Owners: @camunda/core-features, @camunda/data-layer

docs: align naming in rest-api for roles related operations
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Owners: @camunda/docs-api-reviewers

ci: simplify if-statement for when to alert owning team's medic
  .github/workflows/statistics-daily.yml
  .github/workflows/statistics-weekly.yml
Owners: @camunda/monorepo-devops-team

fix: enable s3 md5 plugin for legacy support
  zeebe/backup-stores/s3/src/main/java/io/camunda/zeebe/backup/s3/S3BackupConfig.java
  zeebe/backup-stores/s3/src/main/java/io/camunda/zeebe/backup/s3/S3BackupStore.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/backup/S3BackupStoreConfig.java
Owners: @camunda/zeebe-distributed-platform

test: minio md5 legacy support
  zeebe/backup-stores/s3/src/test/java/io/camunda/zeebe/backup/s3/MinioLegacyMd5IT.java
Owners: @camunda/zeebe-distributed-platform

test: minio md5 legacy support
  zeebe/backup-stores/s3/src/test/java/io/camunda/zeebe/backup/s3/MinioLegacyMd5IT.java
Owners: @camunda/zeebe-distributed-platform

fix: enable s3 md5 plugin for legacy support
  zeebe/backup-stores/s3/src/main/java/io/camunda/zeebe/backup/s3/S3BackupConfig.java
  zeebe/backup-stores/s3/src/main/java/io/camunda/zeebe/backup/s3/S3BackupStore.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/backup/S3BackupStoreConfig.java
Owners: @camunda/zeebe-distributed-platform

refactor: convert Oidc-based authentications
  authentication/pom.xml
  authentication/src/main/java/io/camunda/authentication/CamundaJwtAuthenticationConverter.java
  authentication/src/main/java/io/camunda/authentication/CamundaJwtAuthenticationToken.java
  authentication/src/main/java/io/camunda/authentication/CamundaOAuthPrincipalService.java
  authentication/src/main/java/io/camunda/authentication/CamundaOidcUserService.java
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/converter/DefaultCamundaAuthenticationConverter.java
  authentication/src/main/java/io/camunda/authentication/converter/OidcTokenAuthenticationConverter.java
  authentication/src/main/java/io/camunda/authentication/converter/OidcUserAuthenticationConverter.java
  authentication/src/main/java/io/camunda/authentication/converter/TokenClaimsConverter.java
  authentication/src/main/java/io/camunda/authentication/entity/AuthenticationContext.java
  authentication/src/main/java/io/camunda/authentication/entity/CamundaJwtUser.java
  authentication/src/main/java/io/camunda/authentication/entity/CamundaOAuthPrincipal.java
  authentication/src/main/java/io/camunda/authentication/entity/CamundaOidcUser.java
  authentication/src/main/java/io/camunda/authentication/entity/CamundaPrincipal.java
  authentication/src/main/java/io/camunda/authentication/entity/OAuthContext.java
  authentication/src/main/java/io/camunda/authentication/holder/HttpSessionBasedAuthenticationHolder.java
  authentication/src/main/java/io/camunda/authentication/service/OidcCamundaUserService.java
  authentication/src/test/java/io/camunda/authentication/CamundaOidcUserServiceTest.java
  authentication/src/test/java/io/camunda/authentication/OidcCamundaUserServiceTest.java
  authentication/src/test/java/io/camunda/authentication/config/OidcWebSecurityConfigTest.java
  authentication/src/test/java/io/camunda/authentication/config/controllers/TestCamundaOAuthPrincipalService.java
  authentication/src/test/java/io/camunda/authentication/config/controllers/WebSecurityOidcTestContext.java
  authentication/src/test/java/io/camunda/authentication/converter/DefaultCamundaAuthenticationConverterTest.java
  authentication/src/test/java/io/camunda/authentication/converter/OidcTokenAuthenticationConverterTest.java
  authentication/src/test/java/io/camunda/authentication/converter/OidcUserAuthenticationConverterTest.java
  authentication/src/test/java/io/camunda/authentication/converter/TokenClaimsConverterTest.java
  authentication/src/test/java/io/camunda/authentication/converter/UsernamePasswordAuthenticationTokenConverterTest.java
  authentication/src/test/java/io/camunda/authentication/service/OidcCamundaUserServiceTest.java
  authentication/src/test/java/io/camunda/authentication/session/WebSessionMapperTest.java
  dist/src/main/java/io/camunda/application/commons/rest/RestApiConfiguration.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/AbstractUserService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/UserService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/consolidatedAuth/ConsolidatedAuthenticationUserService.java
Owners: @camunda/identity

deps: update awssdk to 2.31.50 for operate 8.5
  operate/pom.xml
Owners: none

feat: Introduce releaseProcessDryRun
  .github/workflows/camunda-platform-release.yml
Owners: @camunda/monorepo-devops-team

fix: package lock update
  tasklist/client/package-lock.json
Owners: none

feat: add polling for assigning task on v2, add timeout notification
  tasklist/client/src/v2/TaskDetailsLayout/AssignButton/index.tsx
  tasklist/client/src/v2/TaskDetailsLayout/index.tsx
  tasklist/client/src/v2/api/useAssignTask.mutation.ts
Owners: none

feat: add polling for completing task state and adapt UI
  tasklist/client/src/v1/TaskDetails/FormJS/index.tsx
  tasklist/client/src/v1/TaskDetails/index.tsx
  tasklist/client/src/v1/TaskDetailsLayout/index.tsx
  tasklist/client/src/v1/api/useCompleteTask.mutation.tsx
  tasklist/client/src/v2/TaskDetails/FormJS/index.tsx
  tasklist/client/src/v2/TaskDetails/index.tsx
  tasklist/client/src/v2/TaskDetailsLayout/index.tsx
  tasklist/client/src/v2/api/useCompleteTask.mutation.ts
Owners: none

fix: match formjs implementation on variables taskdetails for v1 and v2
  tasklist/client/src/v1/TaskDetails/Variables/index.tsx
  tasklist/client/src/v2/TaskDetails/Variables/index.tsx
Owners: none

fix: rename component TaskStateLoadingText to ActiveTransitionLoadingText, fix type and lint
  tasklist/client/src/common/form-js/FormJSRenderer/index.test.tsx
  tasklist/client/src/common/tasks/details/ActiveTransitionLoadingText.module.scss
  tasklist/client/src/common/tasks/details/ActiveTransitionLoadingText.tsx
  tasklist/client/src/common/tasks/details/TaskDetailsHeader/index.tsx
  tasklist/client/src/v1/TaskDetails/FormJS/index.tsx
  tasklist/client/src/v2/TaskDetails/FormJS/index.tsx
Owners: none

fix: improve consistency by keeping complete button and footer, move loaders to header
  tasklist/client/src/common/tasks/details/TaskDetailsHeader/index.tsx
  tasklist/client/src/v1/TaskDetails/FormJS/index.tsx
  tasklist/client/src/v1/TaskDetails/Variables/index.tsx
  tasklist/client/src/v2/TaskDetails/FormJS/index.tsx
  tasklist/client/src/v2/TaskDetails/Variables/index.tsx
Owners: none

fix: remove unused imports
  tasklist/client/src/v1/TaskDetails/FormJS/index.tsx
  tasklist/client/src/v1/TaskDetails/Variables/index.tsx
  tasklist/client/src/v2/TaskDetails/FormJS/index.tsx
  tasklist/client/src/v2/TaskDetails/Variables/index.tsx
Owners: none

fix: update package lock
  tasklist/client/package-lock.json
Owners: none

feat: add polling for assigning in v1, add translation strings to v2
  tasklist/client/src/v1/TaskDetailsLayout/AssignButton/index.tsx
  tasklist/client/src/v1/TaskDetailsLayout/index.tsx
  tasklist/client/src/v1/api/useAssignTask.mutation.tsx
  tasklist/client/src/v2/api/useAssignTask.mutation.ts
Owners: none

fix: match v2 mutation implementation on v1 for consistency, add translation strings
  tasklist/client/src/common/i18n/locales/de.json
  tasklist/client/src/common/i18n/locales/en.json
  tasklist/client/src/common/i18n/locales/es.json
  tasklist/client/src/common/i18n/locales/fr.json
  tasklist/client/src/v1/TaskDetails/index.tsx
  tasklist/client/src/v1/api/useAssignTask.mutation.tsx
  tasklist/client/src/v1/api/useCompleteTask.mutation.tsx
  tasklist/client/src/v2/api/useCompleteTask.mutation.ts
Owners: none

fix: v2 completing state indicator timeout notification and UI
  tasklist/client/src/v2/TaskDetails/index.tsx
  tasklist/client/src/v2/api/useAssignTask.mutation.ts
  tasklist/client/src/v2/api/useCompleteTask.mutation.ts
Owners: none

deps: update awssdk to 2.32.13 for operate 8.5
  operate/pom.xml
Owners: none

feat: unify task timeout error handling
  tasklist/client/src/common/utils/taskErrorHandling.ts
  tasklist/client/src/v1/api/useAssignTask.mutation.tsx
  tasklist/client/src/v1/api/useCompleteTask.mutation.tsx
  tasklist/client/src/v2/api/useAssignTask.mutation.ts
  tasklist/client/src/v2/api/useCompleteTask.mutation.ts
Owners: none

ci: increase flaky test alerting threshold to 20
  .github/workflows/statistics-daily.yml
Owners: @camunda/monorepo-devops-team
