Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity

feat: added more default values to the configuration metadata
  clients/spring-boot-starter-camunda-sdk/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Owners: none

test: adjusted test so that integrity can be verified
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/configurationMetadata/AlignmentTest.java
Owners: none

fix: added missing .
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientAuthClientAssertionProperties.java
Owners: none

feat: added references from comments to client mode and auth method
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientAuthProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientJobWorkerProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientProperties.java
Owners: none

refactor: allow configuring an OAuth client
  zeebe/benchmarks/project/src/main/java/io/camunda/zeebe/config/AuthCfg.java
  zeebe/benchmarks/project/src/main/resources/application.conf
Owners: @camunda/zeebe-distributed-platform

refactor: configure client to use OAuth credentials provider
  zeebe/benchmarks/project/src/main/java/io/camunda/zeebe/App.java
Owners: @camunda/zeebe-distributed-platform

test: add config tests
  zeebe/benchmarks/project/src/test/java/io/camunda/zeebe/config/ConfigTest.java
  zeebe/benchmarks/project/src/test/resources/different-application.conf
Owners: @camunda/zeebe-distributed-platform

wip: initial helm chart - working on resources right now
  .gitignore
  zeebe/benchmarks/helm/.helmignore
  zeebe/benchmarks/helm/Chart.yaml
  zeebe/benchmarks/helm/README.md.gotmpl
  zeebe/benchmarks/helm/templates/NOTES.txt
  zeebe/benchmarks/helm/templates/_helpers.tpl
  zeebe/benchmarks/helm/templates/configmap-clients.yml
  zeebe/benchmarks/helm/templates/configmap-resources.yml
  zeebe/benchmarks/helm/templates/configmap-starters.yml
  zeebe/benchmarks/helm/templates/configmap-workers.yml
  zeebe/benchmarks/helm/templates/cronjob-leader-balancing.yml
  zeebe/benchmarks/helm/templates/deployment-workers.yml
  zeebe/benchmarks/helm/templates/service-clients.yml
  zeebe/benchmarks/helm/templates/service-monitor-clients.yml
  zeebe/benchmarks/helm/tests/_helpers-helm-test.yml
  zeebe/benchmarks/helm/tests/configmap-clients-helm-test.yml
  zeebe/benchmarks/helm/tests/configmap-resources-helm-test.yml
  zeebe/benchmarks/helm/tests/configmap-workers-helm-test.yml
  zeebe/benchmarks/helm/tests/cronjob-leader-balancing-helm-test.yml
  zeebe/benchmarks/helm/tests/resources/foo.txt
  zeebe/benchmarks/helm/tests/resources/nested/bar.txt
  zeebe/benchmarks/helm/tests/service-clients-helm-test.yml
  zeebe/benchmarks/helm/tests/service-monitor-clients-helm-test.yml
  zeebe/benchmarks/helm/values.yaml
  zeebe/benchmarks/project/src/main/java/io/camunda/zeebe/App.java
  zeebe/benchmarks/project/src/main/java/io/camunda/zeebe/config/AuthCfg.java
  zeebe/benchmarks/project/src/main/resources/application.conf
  zeebe/benchmarks/project/src/test/resources/different-application.conf
Owners: @camunda/zeebe-distributed-platform

fix: Fix ambiguos column name, use access check in tests
  db/rdbms/src/main/resources/mapper/TenantMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/usagemetrics/UsageMetricsIT.java
Owners: none

ci: bump base image version in golden labels
  optimize/docker/test/docker-labels.golden.json
Owners: none

fix: added requiired UC bean to Identity migration
  dist/src/main/java/io/camunda/application/StandaloneIdentityMigration.java
Owners: none

test: ignore adHocSubProcessElements variable in element activation test
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobBasedAdHocSubProcessTest.java
Owners: none

feat: add element name, documentation, and properties to AbstractFlowElement
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/AbstractFlowElement.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableFlowElement.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableLink.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/FlowElementInstantiationTransformer.java
Owners: none

test: add test for creation of adHocSubProcessElements variable
  zeebe/engine/pom.xml
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
  zeebe/engine/src/test/resources/processes/ad-hoc-sub-process-elements.bpmn
Owners: none

refactor: use a record for the activity metadata structure
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocActivityMetadata.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/AdHocSubProcessTransformer.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
Owners: none

feat: add support for zeebe extension properties in BPMN builder API
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/AbstractActivityBuilder.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/AbstractEventBuilder.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/AbstractEventSubProcessBuilder.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/AbstractGatewayBuilder.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/ProcessBuilder.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/ZeebePropertiesBuilder.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/ZeebePropertiesBuilderImpl.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/builder/ProcessBuilderTest.java
Owners: none

feat: set adHocSubProcessElements variable in local ahsp scope
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/AdHocSubProcessProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableAdHocSubProcess.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/AdHocSubProcessTransformer.java
Owners: none

refactor: simplify documentation extraction (use first element)
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/FlowElementInstantiationTransformer.java
Owners: none

test: move ad-hoc elements variable tests to a dedicated test class
  zeebe/engine/pom.xml
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessElementsVariableTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
  zeebe/engine/src/test/resources/processes/ad-hoc-sub-process-elements.bpmn
Owners: none

test: add variable test cases for ahsp including event subprocesses
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessElementsVariableTest.java
Owners: none

feat: add search to DropdownSearch component
  identity/client/package.json
  identity/client/src/components/form/DropdownSearch.tsx
  identity/client/src/pages/groups/detail/mapping-rules/AssignMappingRulesModal.tsx
  identity/client/src/pages/groups/detail/members/AssignMembersModal.tsx
  identity/client/src/pages/groups/detail/roles/AssignRolesModal.tsx
  identity/client/src/pages/roles/detail/groups/AssignGroupsModal.tsx
  identity/client/src/pages/roles/detail/mapping-rules/AssignMappingRulesModal.tsx
  identity/client/src/pages/roles/detail/members/AssignMembersModal.tsx
  identity/client/src/pages/tenants/detail/groups/AssignGroupsModal.tsx
  identity/client/src/pages/tenants/detail/mapping-rules/AssignMappingRulesModal.tsx
  identity/client/src/pages/tenants/detail/members/AssignMembersModal.tsx
  identity/client/src/pages/tenants/detail/roles/AssignRolesModal.tsx
  identity/client/src/utility/api/mapping-rules/index.ts
  identity/client/src/utility/api/roles/index.ts
  identity/client/yarn.lock
Owners: none

fix: make element property collection null-safe
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/FlowElementInstantiationTransformer.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessElementsVariableTest.java
Owners: none

docs: change and to or
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnAdHocSubProcessBehavior.java
Owners: none

build: prepare for next development iteration
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Owners: none

build: prepare release 8.8.0-alpha7-rc1-optimize
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Owners: none

feat: add retrying query executor with first implementation #36222
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/itemprovider/retry/ExponentialBackoffRetryingQueryExecutor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/itemprovider/retry/RetryingQueryExecutor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/itemprovider/retry/ExponentialBackoffRetryingQueryExecutorTest.java
Owners: none

feat: add new properties to config templates #36222
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
Owners: none

feat: use retry to fetch items in ProcessInstanceItemProvider #36222
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationSetupProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/itemprovider/IncidentItemProvider.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/itemprovider/ItemProviderFactory.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/itemprovider/ProcessInstanceItemProvider.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/itemprovider/IncidentItemProviderTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/itemprovider/ItemProviderFactoryTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/itemprovider/ProcessInstanceItemProviderTest.java
Owners: none

feat: add additional config parameters for batch operation query retry #36222
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/engine/BatchOperationCfg.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/engine/EngineCfg.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/EngineConfiguration.java
Owners: none

feat: use retry to fetch items in IncidentItemProvider #36222
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/itemprovider/IncidentItemProvider.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/itemprovider/IncidentItemProviderTest.java
Owners: none

test: add engine test to verify multiple retries with final failure #36222
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/AbstractBatchOperationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/ExecuteBatchOperationTest.java
Owners: none

fix: fixed wrong use of null checks for returned ResourcesAllowed
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/QueryHelper.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/DecisionInstanceReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/DecisionReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/IncidentStatisticsReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/ProcessInstanceReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/OpenSearchQueryHelper.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/reader/OpensearchDecisionInstanceReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/reader/OpensearchDecisionReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/reader/OpensearchIncidentStatisticsReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/reader/ProcessReader.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/rest/ProcessInstanceRestServiceTest.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/rest/ProcessReaderTest.java
Owners: none

refactor: removed excessive permissionsEnabled checks
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/QueryHelper.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/DecisionInstanceReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/OpenSearchQueryHelper.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/DecisionInstanceRestService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/DecisionRestService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/FlowNodeInstanceRestService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/ProcessInstanceRestService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/ProcessRestService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/ProcessGroupDto.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/dmn/DecisionGroupDto.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/listview/ListViewProcessInstanceDto.java
Owners: none

feat: added check for unsupported operations to ProcessInstance API
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/validation/ProcessInstanceRequestValidator.java
Owners: none

feat: added username filter to get operations endpoint
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/OperationReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/reader/OpensearchOperationReader.java
Owners: none

feat: added authorization check to incident statistics endpoint
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/IncidentStatisticsReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/reader/OpensearchIncidentStatisticsReader.java
Owners: none

build: remove zeebeElasticsearch properties
  configuration/src/main/java/io/camunda/configuration/Elasticsearch.java
  configuration/src/test/java/io/camunda/configuration/SecondaryStorageFailureWithLegacySchemaTest.java
  configuration/src/test/java/io/camunda/configuration/SecondaryStorageTest.java
Owners: none

feat: Introduce abstract resource access controller
  db/rdbms/pom.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/security/RdbmsResourceAccessController.java
  dist/src/main/java/io/camunda/application/commons/search/ResourceAccessControllerConfiguration.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/auth/DocumentBasedResourceAccessController.java
  search/search-client/src/main/java/io/camunda/search/clients/auth/AbstractResourceAccessController.java
Owners: none

fix: e2e tests are failing for c8run. this fixes them
  c8run/e2e_tests/api_tests.sh
Owners: @camunda/distribution

fix: tests
  configuration/src/main/java/io/camunda/configuration/Opensearch.java
  configuration/src/main/java/io/camunda/configuration/SecondaryStorage.java
  configuration/src/main/java/io/camunda/configuration/SecondaryStorageDatabase.java
  configuration/src/test/java/io/camunda/configuration/SecondaryStorageFailureWithLegacySchemaTest.java
Owners: none
