Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity

test: add usage metric authorization test
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/UsageMetricAuthorizationIT.java
Owners: none

feat: add usage metric authorization resource
  clients/java/src/main/java/io/camunda/client/api/search/enums/ResourceType.java
  security/security-core/src/main/java/io/camunda/security/auth/Authorization.java
  security/security-protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AuthorizationResourceType.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Owners: @camunda/docs-api-reviewers

fix: upgrade alpine version
  .github/workflows/operate-release-reusable.yml
Owners: none

refactor: Rename HistoryCleanupMapper to split it later
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/DecisionInstanceMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/FlowNodeInstanceMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/IncidentMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/JobMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/ProcessBasedHistoryCleanupMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/ProcessInstanceMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/SequenceFlowMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/UsageMetricMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/UsageMetricTUMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/UserTaskMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/VariableMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/DecisionInstanceWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/FlowNodeInstanceWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/IncidentWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/JobWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/ProcessInstanceWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/SequenceFlowWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/UsageMetricTUWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/UsageMetricWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/UserTaskWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/VariableWriter.java
Owners: none

refactor: Splt HistoryCleanupMapper for common method and process related method
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/HistoryCleanupMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/ProcessBasedHistoryCleanupMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/UsageMetricMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/UsageMetricTUMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/DecisionInstanceWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/FlowNodeInstanceWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/IncidentWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/JobWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/ProcessInstanceWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/SequenceFlowWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/UsageMetricTUWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/UsageMetricWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/UserTaskWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/VariableWriter.java
Owners: none

feat: Create the variables in the scope of the activated inner instance fopr ad hoc subprocess
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessInstructionActivateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnAdHocSubProcessBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnBehaviorsImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/AdHocSubProcessProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobCompleteProcessor.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/adhocsubprocess/AdHocSubProcessActivateElementInstruction.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/job/JobResultActivateElement.java
Owners: none

test: fix legacy operate migration ci
  operate/qa/util/pom.xml
  operate/qa/util/src/main/java/io/camunda/operate/qa/util/TestContainerUtil.java
Owners: none

feat: reject complete job is element is not active
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobCompleteProcessor.java
Owners: none

fix: upgrade alpine version
  .github/workflows/operate-release-reusable.yml
  operate.Dockerfile
Owners: none

feat: configure camunda runtime in java environment, property names are aligned with spring config
  testing/camunda-process-test-java/pom.xml
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/CamundaProcessTestRuntimeBuilder.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/CamundaProcessTestRuntimeDefaults.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/ContainerRuntimePropertiesUtil.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/properties/CamundaContainerRuntimeProperties.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/properties/ConnectorsContainerRuntimeProperties.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/properties/RemoteRuntimeClientProperties.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/properties/RemoteRuntimeProperties.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/util/PropertiesUtil.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/util/VersionedPropertiesUtil.java
  testing/camunda-process-test-java/src/main/resources/camunda-container-runtime-version.properties
  testing/camunda-process-test-java/src/main/resources/camunda-container-runtime.properties
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/impl/runtime/ContainerRuntimePropertiesUtilTest.java
  testing/camunda-process-test-java/src/test/resources/containerRuntimePropertiesUtil/camunda-container-runtime-version.properties
  testing/camunda-process-test-java/src/test/resources/containerRuntimePropertiesUtil/camunda-container-runtime.properties
Owners: none

test: fix legacy operate migration ci
  operate/qa/util/pom.xml
  operate/qa/util/src/main/java/io/camunda/operate/qa/util/TestContainerUtil.java
Owners: none

refactor: small refactor for improvement
  clients/java/src/main/java/io/camunda/client/api/search/filter/UserTaskFilter.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/UserTaskFilterImpl.java
Owners: none

ci: Add releaseVersion to mvn:peroform context and remove restriction from snyk for slack notification
  .github/workflows/camunda-platform-release.yml
Owners: @camunda/monorepo-devops-team

deps: update identity to 8.7.5
  optimize/pom.xml
Owners: none

deps: revert identity upgrade and upgrade zeebe
  optimize/pom.xml
Owners: none

test: removed unnecessary tests
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateV1ApiGroupPermissionsIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateV1ApiRolePermissionsIT.java
Owners: none

deps: revert update to identity version
  optimize/pom.xml
Owners: none

refactor: exclude authorizations from ES exporter
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/BulkIndexRequest.java
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-template.json
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/BulkIndexRequestTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterIT.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/FaultToleranceIT.java
Owners: none

refactor: allow passing a default modifier
  zeebe/protocol-test-util/src/main/java/io/camunda/zeebe/test/broker/protocol/ProtocolFactory.java
Owners: none

refactor: remove authorizations from OS exporter
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/BulkIndexRequest.java
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-template.json
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/BulkIndexRequestTest.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/FaultToleranceIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterIT.java
Owners: none

[maven-release-plugin] prepare release operate-8.5.17
  distro/pom.xml
  operate/archiver/pom.xml
  operate/client/pom.xml
  operate/common/pom.xml
  operate/data-generator/pom.xml
  operate/importer-8_4/pom.xml
  operate/importer-8_5/pom.xml
  operate/importer-common/pom.xml
  operate/importer/pom.xml
  operate/mvc-auth-commons/pom.xml
  operate/pom.xml
  operate/qa/backup-restore-tests/pom.xml
  operate/qa/batch-operation-performance-tests/pom.xml
  operate/qa/data-generator/pom.xml
  operate/qa/import-performance-tests/pom.xml
  operate/qa/integration-tests/pom.xml
  operate/qa/migration-performance-test/pom.xml
  operate/qa/migration-tests/migration-test/pom.xml
  operate/qa/migration-tests/pom.xml
  operate/qa/migration-tests/test-fixture-110/pom.xml
  operate/qa/migration-tests/test-fixture-120/pom.xml
  operate/qa/migration-tests/test-fixture-130/pom.xml
  operate/qa/migration-tests/test-fixture-800/pom.xml
  operate/qa/migration-tests/test-fixture-810/pom.xml
  operate/qa/migration-tests/test-fixture-820/pom.xml
  operate/qa/migration-tests/test-fixture-830/pom.xml
  operate/qa/migration-tests/test-fixture-840/pom.xml
  operate/qa/pom.xml
  operate/qa/query-performance-tests/pom.xml
  operate/qa/util/pom.xml
  operate/schema/pom.xml
  operate/webapp/pom.xml
Owners: none

test: refactored to use parameterized (squash)
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateV1ApiPermissionsIT.java
Owners: none

fix: update os exporter position when skipping records
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterTest.java
Owners: none

refactor: adjust rdbms authorization tests
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/authorization/AuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/AuthorizationFixtures.java
Owners: none

feat: add resource matcher to zeebe authorization entities
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/PersistedAuthorization.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/authorization/AuthorizationRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AuthorizationRecordValue.java
Owners: none

feat: support resource matcher enum in camunda exporter
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/usermanagement/AuthorizationEntity.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/index/camunda-authorization.json
  webapps-schema/src/main/resources/schema/opensearch/create/index/camunda-authorization.json
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/AuthorizationCreatedUpdatedHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/AuthorizationDeletedHandler.java
Owners: none

feat: add resource matcher to authorization sql queries
  db/rdbms/src/main/resources/mapper/AuthorizationsMapper.xml
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/transformers/types/TypedValueTransformer.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/transformers/types/TypedValueTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/query/SearchQueryBuilders.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/query/SearchTermQuery.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/entity/AuthorizationEntityTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/AuthorizationFilterTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/types/TypedValue.java
  search/search-domain/src/main/java/io/camunda/search/filter/AuthorizationFilter.java
Owners: none

feat: add authorization resource matcher enum
  security/security-protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AuthorizationResourceMatcher.java
Owners: none

feat: support resource matcher enum in rdbms exporter
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/AuthorizationDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/AuthorizationDbModel.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/AuthorizationExportHandler.java
Owners: none

refactor: explicitly set resource matcher on auth records
  service/src/main/java/io/camunda/service/AuthorizationServices.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/IdentitySetupInitializer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/UserCreateProcessor.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerAuthorizationRequest.java
Owners: none

feat: include resource matcher options in search layer
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/entity/AuthorizationEntityTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/sort/AuthorizationFieldSortingTransformer.java
  search/search-domain/src/main/java/io/camunda/search/entities/AuthorizationEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/index/AuthorizationIndex.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/AuthorizationQueryControllerTest.java
Owners: none

fix: only update exported position after flush
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterTest.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterTest.java
Owners: none

refactor: introduce react-hook-form for form state and validation
  identity/client/package.json
  identity/client/src/components/form/TextField.tsx
  identity/client/src/pages/mapping-rules/modals/add-modal/AddModal.tsx
  identity/client/src/pages/mapping-rules/modals/add-modal/use-validation.ts
  identity/client/yarn.lock
Owners: none

build: prepare for next development iteration
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Owners: none

build: prepare release 8.7.6-optimize
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Owners: none

refactor: address copilot review hint
  identity/client/src/pages/mapping-rules/modals/add-modal/AddModal.tsx
Owners: none

docs: add missing doc fragment
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/BulkIndexRequestTest.java
Owners: none

docs: add missing doc fragment
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/BulkIndexRequestTest.java
Owners: none

refactor: remove CONTINUE_INITIALIZATION command
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationContinueInitializationProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionScheduler.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationSetupProcessors.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionSchedulerTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/BatchOperationIntent.java
Owners: none

feat: mark the bo as STARTED if initialization is finished
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionScheduler.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationFinishInitializationProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationSetupProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/BatchOperationStartedApplier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionSchedulerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/CreateBatchOperationTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationInitializationRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/BatchOperationIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BatchOperationInitializationRecordValue.java
  ~
Owners: none
