Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

ci: fix formatting
  .github/actions/paths-filter/action.yml
Owners: @camunda/monorepo-devops-team

feat: add rest process-cache section to unified configuration
  configuration/pom.xml
  configuration/src/main/java/io/camunda/configuration/ProcessCache.java
  configuration/src/main/java/io/camunda/configuration/Rest.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/GatewayRestPropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beans/GatewayRestProperties.java
  configuration/src/main/java/io/camunda/configuration/beans/LegacyGatewayRestProperties.java
  configuration/src/test/java/io/camunda/configuration/ApiRestProcessCacheTest.java
  dist/src/main/java/io/camunda/application/StandaloneBroker.java
  dist/src/main/java/io/camunda/application/StandaloneCamunda.java
  dist/src/main/java/io/camunda/application/StandaloneGateway.java
  dist/src/main/java/io/camunda/application/StandaloneOperate.java
  dist/src/main/java/io/camunda/application/StandaloneTasklist.java
  dist/src/main/java/io/camunda/application/commons/rest/RestApiConfiguration.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/modules/ModuleAbstractIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/TestApplication.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/apps/modules/ModulesTestApplication.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestCamundaApplication.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/modules/ModuleIntegrationTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistIntegrationTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TestApplication.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/apps/modules/ModulesTestApplication.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneGateway.java
Owners: none

refactor: use bulk get index templates
  operate/schema/src/main/java/io/camunda/operate/schema/elasticsearch/ElasticsearchSchemaManager.java
  operate/schema/src/main/java/io/camunda/operate/schema/opensearch/OpensearchSchemaManager.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/RetryElasticsearchClient.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchTemplateOperations.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/es/RetryElasticsearchClient.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/os/RetryOpenSearchClient.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/ElasticsearchSchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/OpenSearchSchemaManager.java
Owners: none

refactor: add JavaDoc and guards, correct naming
  dist/src/main/java/io/camunda/application/commons/service/CamundaServicesConfiguration.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/GatewayRestConfiguration.java
Owners: none

feat: removing contentHash from Documents API
  clients/java/src/main/java/io/camunda/client/api/fetch/DocumentContentGetRequest.java
  clients/java/src/main/java/io/camunda/client/api/response/DocumentReferenceResponse.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/CreateDocumentLinkCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/fetch/DocumentContentGetRequestImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/DocumentReferenceResponseImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/fetch/DocumentContentGetRequest.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DocumentReferenceResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateDocumentLinkCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/fetch/DocumentContentGetRequestImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentReferenceResponseImpl.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/CreateDocumentLinkTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/GetDocumentContentTest.java
  service/src/main/java/io/camunda/service/DocumentServices.java
  service/src/test/java/io/camunda/service/DocumentServicesTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/DocumentController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DocumentControllerTest.java
Owners: @camunda/docs-api-reviewers

feat: add delete exporter operation in cluster status response
  dist/src/main/java/io/camunda/zeebe/shared/management/ClusterApiUtils.java
  dist/src/main/resources/api/cluster/components.yaml
Owners: none

test: add fixture method for resourceAccessChecks #28725
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/CommonFixtures.java
Owners: none

feat: add retry decorator to operate metric migrator
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/OperateMetricMigrator.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/client/es/ElasticsearchUsageMetricMigrationClient.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/client/os/OpensearchUsageMetricMigrationClient.java
Owners: none

refactor: review feedback
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/OperateMetricMigrator.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/client/MigrationStep.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/client/UsageMetricMigrationClient.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/client/es/ElasticsearchUsageMetricMigrationClient.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/client/os/OpensearchUsageMetricMigrationClient.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/UsageMetricMigrationIT.java
Owners: none

feat: add usage metrics migration app
  dist/pom.xml
  dist/src/main/java/io/camunda/application/Profile.java
  dist/src/main/java/io/camunda/application/StandaloneUsageMetricMigration.java
  dist/src/main/java/io/camunda/application/commons/migration/AsyncMigrationsRunner.java
  dist/src/main/java/io/camunda/application/commons/migration/UsageMetricMigrationModuleConfiguration.java
  migration/pom.xml
  migration/usage-metric-migration/pom.xml
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/OperateMetricMigrator.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/client/MigrationRepositoryIndex.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/client/MigrationStep.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/client/ReindexResult.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/client/UsageMetricMigrationClient.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/client/es/ElasticsearchUsageMetricMigrationClient.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/client/os/OpensearchUsageMetricMigrationClient.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/util/MetricRegistry.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/util/RescheduleTask.java
  parent/pom.xml
  qa/acceptance-tests/pom.xml
Owners: none

test: add usage metrics migration tests
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/UsageMetricMigrationIT.java
  zeebe/qa/util/pom.xml
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestUsageMetricMigrationApp.java
Owners: none

test: verify exporter can be deleted
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/management/ExporterDeleteEndpointIT.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/actuator/ExportersActuator.java
Owners: none

refactor: remove unnecessary comments (thanks copilot)
  clients/java/src/main/java/io/camunda/client/impl/command/CreateProcessInstanceCommandImpl.java
Owners: none

refactor: make rest-api schema comments starting with an uppercase letter
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Owners: @camunda/docs-api-reviewers

fix(code-review): fix reviewed issue from Simon buettner and Tobias Metzke-Bernstein
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/VariableCreationCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/VariableCreationRequestStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/VariableDeleteCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/VariableDeleteRequestStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/VariableUpdateCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/VariableUpdateRequestStep1.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/CreateVariableImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/DeleteVariableImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/UpdateVariableImpl.java
  db/rdbms/src/main/resources/mapper/VariableMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/client/VariablesManagementTest.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/VariableDeletedHandler.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Owners: @camunda/docs-api-reviewers

fix(code-review): fix reviewed issue from Simon buettner
  clients/java/src/main/java/io/camunda/client/impl/command/CreateVariableImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/DeleteVariableImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/UpdateVariableImpl.java
Owners: none

feat: add archunit-tests module
  qa/README.md
  qa/archunit-tests/README.md
  qa/archunit-tests/pom.xml
  qa/pom.xml
Owners: none

ci: add missed $ to properly access variable in the script
  .ci/scripts/ci/setup-medic-lookup.sh
Owners: none

ci: remove user_description
  .github/workflows/client-components-ci.yml
Owners: none

feat: improve log message.
  dist/src/main/java/io/camunda/application/commons/console/ping/PingConsoleRunner.java
Owners: none

ci: fix naming
  .github/workflows/ci-client-components.yml
  .github/workflows/ci.yml
Owners: @camunda/monorepo-devops-team

ci: run test daily reporting when the setup script changes
  .github/workflows/statistics-daily.yml
  .github/workflows/statistics-weekly.yml
Owners: @camunda/monorepo-devops-team

test: removing document hash tests
  qa/acceptance-tests/src/test/java/io/camunda/it/client/GetDocumentContentTest.java
Owners: none

refactor: spotless apply
  clients/java/src/main/java/io/camunda/client/api/fetch/DocumentContentGetRequest.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/fetch/DocumentContentGetRequestImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/fetch/DocumentContentGetRequest.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/fetch/DocumentContentGetRequestImpl.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/GetDocumentContentTest.java
  service/src/main/java/io/camunda/service/DocumentServices.java
  service/src/test/java/io/camunda/service/DocumentServicesTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/DocumentController.java
Owners: none

feat: remove cluster id form console.ping config, fix tests.
  dist/src/main/java/io/camunda/application/commons/console/ping/PingConsoleRunner.java
  dist/src/test/java/io/camunda/application/commons/console/ping/PingConsoleConfigurationTest.java
  dist/src/test/java/io/camunda/application/commons/console/ping/PingConsoleRunnerIT.java
Owners: none

refactor: remove operate user index
  dist/src/main/java/io/camunda/application/commons/backup/BackupPriorityConfiguration.java
  dist/src/test/java/io/camunda/application/commons/backup/BackupPrioritiesTest.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/client/OpensearchTestDataHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/client/async/OpenSearchAsyncDocumentOperationsIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/client/async/OpenSearchAsyncIndexOperationsIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/opensearch/client/sync/OpenSearchDocumentOperationsIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/IndexTemplateDescriptorsConfigurator.java
  operate/schema/src/main/java/io/camunda/operate/entities/UserEntity.java
  operate/schema/src/main/java/io/camunda/operate/schema/IndexTemplateDescriptorsConfigurator.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/IndexTemplateDescriptorsConfigurator.java
  schema-manager/src/test/java/io/camunda/search/schema/SchemaManagerIT.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/IndexDescriptors.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/index/OperateUserIndex.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/index/operate-user.json
  webapps-schema/src/main/resources/schema/opensearch/create/index/operate-user.json
Owners: none

fix: Use number_of_replicas and number_of_shards Elasticsearch configuration when it changes
  operate/common/src/main/java/io/camunda/operate/property/ElasticsearchProperties.java
  operate/common/src/main/java/io/camunda/operate/property/OpensearchProperties.java
  operate/common/src/main/java/io/camunda/operate/property/OperateElasticsearchProperties.java
  operate/common/src/main/java/io/camunda/operate/property/OperateOpensearchProperties.java
  operate/pom.xml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/AbstractSchemaIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/IndexSchemaValidatorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/SchemaManagerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/SchemaStartupIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/SchemaTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/elasticsearch/ElasticsearchSchemaTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/opensearch/OpenSearchSchemaTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/OpensearchOperateZeebeRuleProvider.java
  operate/schema/src/main/java/io/camunda/operate/schema/SchemaManager.java
  operate/schema/src/main/java/io/camunda/operate/schema/SchemaStartup.java
  operate/schema/src/main/java/io/camunda/operate/schema/elasticsearch/ElasticsearchSchemaManager.java
  operate/schema/src/main/java/io/camunda/operate/schema/opensearch/OpensearchSchemaManager.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/RetryElasticsearchClient.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchIndexOperations.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchTemplateOperations.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/es/RetryElasticsearchClient.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/os/RetryOpenSearchClient.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/ElasticsearchSchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/OpenSearchSchemaManager.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchSchemaManagementIT.java
Owners: none

refactor: use bulk get index templates
  operate/schema/src/main/java/io/camunda/operate/schema/elasticsearch/ElasticsearchSchemaManager.java
  operate/schema/src/main/java/io/camunda/operate/schema/opensearch/OpensearchSchemaManager.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/RetryElasticsearchClient.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchTemplateOperations.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/es/RetryElasticsearchClient.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/os/RetryOpenSearchClient.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/ElasticsearchSchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/OpenSearchSchemaManager.java
Owners: none

fix: rename variables from *TranslationString to *TranslationKey for better descriptive naming
  identity/client/src/components/layout/PageEmptyState.tsx
  identity/client/src/components/layout/TabEmptyState.tsx
  identity/client/src/pages/groups/List.tsx
  identity/client/src/pages/groups/detail/clients/index.tsx
  identity/client/src/pages/groups/detail/mapping-rules/index.tsx
  identity/client/src/pages/groups/detail/members/index.tsx
  identity/client/src/pages/groups/detail/roles/index.tsx
  identity/client/src/pages/mapping-rules/List.tsx
  identity/client/src/pages/roles/List.tsx
  identity/client/src/pages/roles/detail/clients/index.tsx
  identity/client/src/pages/roles/detail/groups/index.tsx
  identity/client/src/pages/roles/detail/mapping-rules/index.tsx
  identity/client/src/pages/roles/detail/members/index.tsx
  identity/client/src/pages/tenants/List.tsx
  identity/client/src/pages/tenants/detail/clients/index.tsx
  identity/client/src/pages/tenants/detail/groups/index.tsx
  identity/client/src/pages/tenants/detail/mapping-rules/index.tsx
  identity/client/src/pages/tenants/detail/members/index.tsx
  identity/client/src/pages/tenants/detail/roles/index.tsx
  identity/client/src/pages/users/List.tsx
Owners: none

feat: improve the rest schema with dedicated and strongly typed tags
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Owners: @camunda/docs-api-reviewers

fix: use kebab-case for operate.webapp-enabled
  operate/webapp/src/main/java/io/camunda/operate/WebappModuleConfiguration.java
Owners: none

test: ensure no camel case in property conditional
  qa/archunit-tests/README.md
  qa/archunit-tests/pom.xml
  qa/archunit-tests/src/test/java/io/camunda/archunit/RequireKebabCaseInConditionalOnPropertyArchTest.java
Owners: none

fix: use kebab-case for tasklist.webapp-enabled
  tasklist/data-generator/src/main/java/io/camunda/tasklist/data/es/DevDataGeneratorElasticSearch.java
  tasklist/data-generator/src/main/java/io/camunda/tasklist/data/os/DevDataGeneratorOpenSearch.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/WebappModuleConfiguration.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/management/WebappManagementModuleConfiguration.java
Owners: none

fix: use kebab-case for operate.importer-enabled
  operate/importer/src/main/java/io/camunda/operate/ImportModuleConfiguration.java
Owners: none

fix: use kebab-case for tasklist.feature-flag
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/external/ProcessExternalController.java
Owners: none

fix: use kebab-case for tasklist.importer-enabled
  tasklist/importer/src/main/java/io/camunda/tasklist/ImportModuleConfiguration.java
  tasklist/importer/src/main/java/io/camunda/tasklist/zeebeimport/security/ImporterSecurityModuleConfiguration.java
Owners: none

feat: add api validations for tags on create process instance
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/ErrorMessages.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/ProcessInstanceRequestValidator.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/TagsValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/validator/ProcessInstanceRequestValidatorTest.java
Owners: none

feat: add archunit-tests module
  qa/README.md
  qa/archunit-tests/README.md
  qa/archunit-tests/pom.xml
  qa/pom.xml
Owners: none

test: ensure no camel case in property conditional
  qa/archunit-tests/README.md
  qa/archunit-tests/pom.xml
  qa/archunit-tests/src/test/java/io/camunda/archunit/RequireKebabCaseInConditionalOnPropertyArchTest.java
Owners: none

fix: use kebab-case for tasklist.webapp-enabled
  tasklist/data-generator/src/main/java/io/camunda/tasklist/data/es/DevDataGeneratorElasticSearch.java
  tasklist/data-generator/src/main/java/io/camunda/tasklist/data/os/DevDataGeneratorOpenSearch.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/WebappModuleConfiguration.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/management/WebappManagementModuleConfiguration.java
Owners: none

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity
