Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

feat: add api rest properties to unified configuration
  configuration/src/main/java/io/camunda/configuration/Api.java
  configuration/src/main/java/io/camunda/configuration/Filter.java
  configuration/src/main/java/io/camunda/configuration/Rest.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/GatewayBasedPropertiesOverride.java
  configuration/src/test/java/io/camunda/configuration/ApiRestTest.java
Owners: none

feat: remove index-based filter mapping (per PR review)
  configuration/src/main/java/io/camunda/configuration/Filter.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/GatewayBasedPropertiesOverride.java
Owners: none

feat: Have Transformer set Output Collection and Element
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/AdHocSubProcessTransformer.java
Owners: none

refactor: change inner class name to a behavior
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/AdHocSubProcessProcessor.java
Owners: none

feat: code review nitpicks
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/builder/AdHocSubProcessBuilderTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/AdHocSubProcessProcessor.java
Owners: none

test: output collection and element should be set
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/builder/AdHocSubProcessBuilderTest.java
Owners: none

feat: remove incident creation
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/AdHocSubProcessProcessor.java
Owners: none

test: Tests for Output Collection and Element validation
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/AdHocSubProcessValidatorTest.java
Owners: none

test: output collection should be appended
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
Owners: none

fix: remove errant method addition from rebase
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/instance/zeebe/ZeebeAdHoc.java
Owners: none

feat: Process Output Collection and Element
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnAdHocSubProcessBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/AdHocSubProcessProcessor.java
Owners: none

refactor: use MsgPackHelper.NIL.length for valueLength
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnAdHocSubProcessBehavior.java
Owners: none

refactor: create a failure for output element not existing
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/AdHocSubProcessProcessor.java
Owners: none

refactor: do engine deploy in common method to remove duplication
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
Owners: none

test: add output collection tests for job worker AHSP
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobBasedAdHocSubProcessTest.java
Owners: none

fix: properly create variable on the inner instance not the AHSP itself
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnAdHocSubProcessBehavior.java
Owners: none

refactor: split shouldAppendOutputCollection() into smaller tests
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
Owners: none

refactor: pull AdHocSubProcessOutputCollectionBehavior into its own class
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/AdHocSubProcessOutputCollectionBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/AdHocSubProcessProcessor.java
Owners: none

refactor: use getBpmnProcessIdBuffer instead of using bufferUtils
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnAdHocSubProcessBehavior.java
Owners: none

test: improve shouldAppendOutputCollection() test
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
Owners: none

feat: copy rest properties to BrokerCfg EmbeddedGatewayCfg (per PR review)
  configuration/src/main/java/io/camunda/configuration/Grpc.java
  configuration/src/main/java/io/camunda/configuration/Interceptor.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/BrokerBasedPropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/GatewayBasedPropertiesOverride.java
  configuration/src/test/java/io/camunda/configuration/ApiRestBrokerFiltersTest.java
  configuration/src/test/java/io/camunda/configuration/ApiRestGatewayFiltersTest.java
Owners: none

feat: rename resource type 'application' to 'component'
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/entity/CamundaUserDTO.java
  authentication/src/main/java/io/camunda/authentication/filters/WebComponentAuthorizationCheckFilter.java
  authentication/src/main/java/io/camunda/authentication/service/BasicCamundaUserService.java
  authentication/src/main/java/io/camunda/authentication/service/OidcCamundaUserService.java
  authentication/src/test/java/io/camunda/authentication/service/BasicCamundaUserServiceTest.java
  authentication/src/test/java/io/camunda/authentication/service/OidcCamundaUserServiceTest.java
  clients/java/src/main/java/io/camunda/client/api/search/enums/ResourceType.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/config/saas/StaticEntities.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/config/sm/StaticEntities.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/handler/sm/ClientMigrationHandlerTest.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/handler/sm/KeycloakRoleMigrationHandlerTest.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/handler/sm/OidcRoleMigrationHandlerTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/ApplicationAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/KeycloakIdentityMigrationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/OidcIdentityMigrationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/SaaSIdentityMigrationIT.java
  security/security-protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AuthorizationResourceType.java
  security/security-services/src/test/java/io/camunda/security/impl/AuthorizationCheckerTest.java
  service/src/main/java/io/camunda/service/authorization/Authorizations.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeDefaultsTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
Owners: @camunda/docs-api-reviewers

feat: rename resource type 'application' to 'component' in UI
  identity/client/src/pages/authorizations/modals/add-modal/AddModal.tsx
  identity/client/src/utility/api/authorizations/index.ts
  identity/client/src/utility/localization/en/authorizations.json
Owners: none

test: better fail method to assert retryBackoff calculation #31222
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionSchedulerTest.java
Owners: none

fix: align connectors port from 8085 to 8086
  c8run/connectors-application.properties
  c8run/endpoints.txt
Owners: @camunda/distribution

fix: adjust api test for connectors
  c8run/e2e_tests/api_tests.sh
Owners: @camunda/distribution

feat(client): modify camunda client to add create/update/delete
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/GlobalVariableCreationRequestStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/GlobalVariableDeleteRequestStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/GlobalVariableUpdateRequestStep1.java
  clients/java/src/main/java/io/camunda/client/api/response/CreateGlobalVariableResponse.java
  clients/java/src/main/java/io/camunda/client/api/response/DeleteGlobalVariableResponse.java
  clients/java/src/main/java/io/camunda/client/api/response/UpdateGlobalVariableResponse.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/CreateGlobalVariableImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/DeleteGlobalVariableImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/UpdateGlobalVariableImpl.java
  clients/java/src/main/java/io/camunda/client/impl/http/DocumentDataConsumer.java
  clients/java/src/main/java/io/camunda/client/impl/http/TypedApiEntityConsumer.java
  clients/java/src/main/java/io/camunda/client/impl/response/CreateGlobalVariableResponseImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/DeleteGlobalVariableResponseImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/UpdateGlobalVariableResponseImpl.java
Owners: none

feat(service): modify service to add create/update/delete
  service/src/main/java/io/camunda/service/ApiServices.java
  service/src/main/java/io/camunda/service/VariableServices.java
Owners: none

feat(zeebe-engine): modify engine to add global variables management
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnBehaviorsImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/common/ExpressionProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/expression/CombinedEvaluationContext.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/expression/GlobalVariableEvaluationContext.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/expression/NamespacedContext.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/expression/ScopedEvaluationContext.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/expression/VariableStateEvaluationContext.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableStateEvaluationContextLookup.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableUpdateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/common/ExpressionProcessorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/ProcessValidationUtil.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/ZeebeRuntimeValidationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/expression/GlobalVariableEvaluationContextTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/variable/CreateGlobalVariableMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/variable/CreateGlobalVariableTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/VariableClient.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/VariableDocumentClient.java
Owners: none

feat(zeebe-broker): add variableRecord in the broker
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestReader.java
Owners: @camunda/zeebe-distributed-platform

feat(zeebe-expression-language): modify zeebe expression language so that global variables can be read
  zeebe/expression-language/src/main/java/io/camunda/zeebe/el/EvaluationContext.java
  zeebe/expression-language/src/main/java/io/camunda/zeebe/el/impl/FeelVariableContext.java
Owners: none

feat(zeebe-gateway-protocol): add all endpoint and object request to the rest-api.yaml
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Owners: @camunda/docs-api-reviewers

feat(zeebe-gateway-rest): add corresponding endpoint create/update/delete
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/VariableController.java
Owners: none

feat(zeebe-gateway): add all necessary broker request to create / update / delete global variables
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerCreateGlobalVariableRequest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerDeleteGlobalVariableRequest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerUpdateGlobalVariableRequest.java
Owners: none

feat(zeebe-protocol): modify variableRecord Intent
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/VariableIntent.java
Owners: none

feat(zeebe-protocol-impl): modify variableRecord and commandDistributionRecord
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/distribution/CommandDistributionRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/variable/VariableRecord.java
Owners: none

feat(zeebe-test-util): add a new method to pack object
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/MsgPackUtil.java
Owners: none

feat(zeebe-qa): add a new Integration test
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/CreateGlobalVariableTest.java
Owners: none

feat(qa): Add new test for camunda client new method
  qa/acceptance-tests/src/test/java/io/camunda/it/client/VariableGlobalCreateTest.java
Owners: none

fix: add missing AHSP enum entry to JobKind REST API model
  clients/java/src/test/java/io/camunda/client/job/SearchJobTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Owners: @camunda/docs-api-reviewers

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity
