Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity

refactor: use type inference for useInfiniteQuery
  operate/client/src/modules/queries/batch-operations/useBatchOperations.ts
Owners: none

test: use static UTC offset to avoid local time zone issues
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/metrics/UsageMetricRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
  zeebe/test-util/src/test/java/io/camunda/zeebe/test/util/record/CompactRecordLoggerTest.java
Owners: none

test: remove consoleErrorMock
  operate/client/src/modules/components/OperationsPanel/v2/index.test.tsx
Owners: none

feat: add validation for required fields in create authorization modal
  identity/client/src/pages/authorizations/modals/AddModal.tsx
  identity/client/src/pages/authorizations/modals/OwnerSelection/OwnerSelection.tsx
  identity/client/src/pages/authorizations/modals/OwnerSelection/index.tsx
  identity/client/src/utility/localization/en/authorizations.json
Owners: none

fix: use correct import path for @vzeta/camunda-api-zod-schemas/8.8
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/ExistingVariableValue.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/Footer/CopyVariablesButton.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/index.setup.ts
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/validators.test.ts
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/validators.ts
  operate/client/src/App/ProcessInstance/TopPanel/MetadataPopover/v2/convertBpmnJsTypeToAPIType.ts
  operate/client/src/modules/api/v2/batchOperations/queryBatchOperationItems.ts
  operate/client/src/modules/api/v2/batchOperations/queryBatchOperations.ts
  operate/client/src/modules/api/v2/processInstances/createIncidentResolutionBatchOperation.ts
  operate/client/src/modules/api/v2/variables/getVariable.ts
  operate/client/src/modules/auth/isForbidden.ts
  operate/client/src/modules/components/Operations/v2/ResolveIncident.tsx
  operate/client/src/modules/components/OperationsPanel/v2/OperationsEntry/OperationEntryStatus/index.tsx
  operate/client/src/modules/components/OperationsPanel/v2/OperationsEntry/index.setup.ts
  operate/client/src/modules/components/OperationsPanel/v2/OperationsEntry/index.tsx
  operate/client/src/modules/components/OperationsPanel/v2/index.setup.ts
  operate/client/src/modules/mocks/api/v2/batchOperations/queryBatchOperationItems.ts
  operate/client/src/modules/mocks/api/v2/batchOperations/queryBatchOperations.ts
  operate/client/src/modules/mocks/api/v2/processInstances/createIncidentResolutionBatchOperation.ts
  operate/client/src/modules/mocks/api/v2/processInstances/searchProcessInstances.ts
  operate/client/src/modules/mocks/api/v2/variables/getVariable.ts
  operate/client/src/modules/mutations/processInstance/useCreateIncidentResolutionBatchOperation.tsx
  operate/client/src/modules/queries/batch-operations/useBatchOperations.ts
Owners: none

test: remove .only
  operate/client/src/modules/components/OperationsPanel/v2/index.test.tsx
Owners: none

fix: deserialize optimize import entities API request body
  optimize/backend/src/main/java/io/camunda/optimize/rest/PublicApiRestService.java
Owners: none

feat: add raft properties to unified configuration
  configuration/src/main/java/io/camunda/configuration/Cluster.java
  configuration/src/main/java/io/camunda/configuration/Raft.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/BrokerBasedPropertiesOverride.java
Owners: none

test: verify raft properties are set from unified configuration
  configuration/src/test/java/io/camunda/configuration/ClusterRaftTest.java
Owners: none

test: remove usages of implementation class BrokerClusterStateImpl
  zeebe/broker-client/src/test/java/io/camunda/zeebe/broker/client/impl/TestTopologyManager.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport/snapshotapi/SnapshotApiRequestHandlerTest.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/admin/exporting/ExportingControlServiceTest.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/api/topology/TopologyTest.java
  zeebe/gateway/src/test/java/io/camunda/zeebe/gateway/api/util/StubbedTopologyManager.java
  zeebe/gateway/src/test/java/io/camunda/zeebe/gateway/api/util/TestBrokerClusterState.java
  zeebe/gateway/src/test/java/io/camunda/zeebe/gateway/impl/broker/PublishMessageDispatchStrategyTest.java
Owners: @camunda/zeebe-distributed-platform

test: fix code style
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ClusterPurgeTest.java
Owners: none

feat: add validation for required fields in role & tenant creation modals
  identity/client/src/pages/roles/modals/AddModal.tsx
  identity/client/src/pages/tenants/modals/AddModal.tsx
  identity/client/src/utility/localization/en/roles.json
  identity/client/src/utility/localization/en/tenants.json
Owners: none

refactor: rename occurrences of the legacy intent `STARTED`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/metrics/BatchOperationMetrics.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/metrics/BatchOperationMetricsDoc.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationFinishInitializationProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/BatchOperationInitializedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/DbBatchOperationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/batchoperation/PersistedBatchOperation.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/mutable/MutableBatchOperationState.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/AbstractBatchOperationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/batchoperation/BatchOperationStateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/BatchOperationClient.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/batchoperation/BatchOperationInitializedHandlerTest.java
Owners: none

refactor: rename BatchOperationIntent `START` to `INITIALIZE`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionScheduler.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationInitializeProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationSetupProcessors.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionSchedulerTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/BatchOperationIntent.java
Owners: none

refactor: rename `started` handlers to `initialized`
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/batchoperation/BatchOperationInitializedHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/batchoperation/BatchOperationInitializedHandlerTest.java
Owners: none

test: added new record to TestSupport classes
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/TestSupport.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TestSupport.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/TestSupport.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestSupport.java
Owners: none

refactor: metrics record `initialized` in the scheduler rather than the event applier
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionScheduler.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationFinishInitializationProcessor.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationInitializationRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BatchOperationInitializationRecordValue.java
Owners: none

refactor: Initialize processor to process a `BatchOperationInitializationRecord`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionScheduler.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationInitializeProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationSetupProcessors.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionSchedulerTest.java
Owners: none

refactor: rename intents
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationFinishInitializationProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationInitializeProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/BatchOperationInitializedApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/BatchOperationInitializingApplier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/CreateBatchOperationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/BatchOperationClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/batchoperation/BatchOperationStartedHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/batchoperation/BatchOperationStartedHandlerTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/BatchOperationIntent.java
Owners: none

refactor: initialize processor should only continue initialization
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionScheduler.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationInitializeProcessor.java
Owners: none

feat: mark the bo as STARTED if initialization is finished
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionScheduler.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationFinishInitializationProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationSetupProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/BatchOperationStartedApplier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionSchedulerTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/CreateBatchOperationTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationInitializationRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/BatchOperationIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BatchOperationInitializationRecordValue.java
Owners: none

refactor: remove CONTINUE_INITIALIZATION command
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationContinueInitializationProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionScheduler.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationSetupProcessors.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionSchedulerTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/BatchOperationIntent.java
Owners: none

refactor: make initialization record search cursor empty by default
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationInitializationRecord.java
Owners: none

fix: use the right record value for started handler
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/batchoperation/BatchOperationStartedHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/batchoperation/BatchOperationStartedHandlerTest.java
Owners: none

test: verify `FINISH_INITIALIZATION` gets written after successfully appending all chunks
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionSchedulerTest.java
Owners: none

test: replace appliers golden files
  zeebe/engine/src/test/resources/state/appliers/golden/BatchOperation_INITIALIZED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/BatchOperation_INITIALIZING_v1.golden
Owners: none

ci: warn about missing explicit GHA shell fields
  .github/conftest-gha-best-practices.rego
  .github/workflows/ci.yml
Owners: @camunda/monorepo-devops-team

fix: Authorization filters handles null ownerIds correctly
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/AuthorizationSearchIT.java
  search/search-domain/src/main/java/io/camunda/search/filter/AuthorizationFilter.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
Owners: none

test: minio md5 legacy support
  zeebe/backup-stores/s3/src/test/java/io/camunda/zeebe/backup/s3/MinioLegacyMd5IT.java
Owners: @camunda/zeebe-distributed-platform

feat: support reset before all and after each test
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
Owners: none

feat: require mode when no reset after identity
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
Owners: none

refactor: move fields close together
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
Owners: none

feat: add api long polling properties to unified configuration
  configuration/src/main/java/io/camunda/configuration/Api.java
  configuration/src/main/java/io/camunda/configuration/Camunda.java
  configuration/src/main/java/io/camunda/configuration/LongPolling.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/GatewayBasedPropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beans/GatewayBasedProperties.java
  configuration/src/main/java/io/camunda/configuration/beans/LegacyGatewayBasedProperties.java
  configuration/src/test/java/io/camunda/configuration/ApiLongPollingTest.java
Owners: none

fix: missing GatewayBasedProperties config
  dist/src/main/java/io/camunda/application/StandaloneGateway.java
  dist/src/main/java/io/camunda/application/StandaloneOperate.java
  dist/src/main/java/io/camunda/application/StandaloneTasklist.java
  dist/src/test/java/io/camunda/application/commons/security/CamundaSecurityConfigurationTest.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/TestApplication.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/apps/modules/ModulesTestApplication.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TestApplication.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/apps/modules/ModulesTestApplication.java
Owners: none

fix: remove gateway based properties
  dist/src/main/java/io/camunda/application/commons/configuration/GatewayBasedConfiguration.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneGateway.java
Owners: none

fix: set a project id for gcs backup store tests
  zeebe/backup-stores/gcs/src/main/java/io/camunda/zeebe/backup/gcs/GcsBackupConfig.java
  zeebe/backup-stores/gcs/src/main/java/io/camunda/zeebe/backup/gcs/GcsBackupStore.java
  zeebe/backup-stores/gcs/src/main/java/io/camunda/zeebe/backup/gcs/GcsConnectionConfig.java
Owners: @camunda/zeebe-distributed-platform

fix: set a project id for gcs backup store tests
  zeebe/backup-stores/gcs/src/main/java/io/camunda/zeebe/backup/gcs/GcsBackupConfig.java
  zeebe/backup-stores/gcs/src/main/java/io/camunda/zeebe/backup/gcs/GcsBackupStore.java
  zeebe/backup-stores/gcs/src/main/java/io/camunda/zeebe/backup/gcs/GcsConnectionConfig.java
Owners: @camunda/zeebe-distributed-platform

fix: set a project id for gcs backup store tests
  zeebe/backup-stores/gcs/src/main/java/io/camunda/zeebe/backup/gcs/GcsBackupConfig.java
  zeebe/backup-stores/gcs/src/main/java/io/camunda/zeebe/backup/gcs/GcsBackupStore.java
  zeebe/backup-stores/gcs/src/main/java/io/camunda/zeebe/backup/gcs/GcsConnectionConfig.java
Owners: @camunda/zeebe-distributed-platform

feat: Add auth checks for authorization
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/AuthorizationDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/AuthorizationDbReader.java
  db/rdbms/src/main/resources/mapper/AuthorizationsMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/AuthorizationSearchIT.java
Owners: none

test: start gateway cluster configuration manager in ClusteringRule
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteringRule.java
Owners: none
