Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity

fix: adjust user task event applier golden files
  zeebe/engine/src/test/resources/state/appliers/golden/UserTask_ASSIGNED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/UserTask_COMPLETED_v1.golden
Owners: none

fix: add missing event applier golden files
  zeebe/engine/src/test/resources/state/appliers/golden/CompensationSubscription_COMPLETED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/CompensationSubscription_CREATED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/CompensationSubscription_DELETED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/CompensationSubscription_TRIGGERED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/Incident_MIGRATED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/UserTask_MIGRATED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/UserTask_UPDATED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/UserTask_UPDATING_v1.golden
Owners: none

fix: alter golden appliers for execution listeners
  zeebe/engine/src/test/resources/state/appliers/golden/Incident_RESOLVED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/Incident_RESOLVED_v2.golden
  zeebe/engine/src/test/resources/state/appliers/golden/Job_COMPLETED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/ProcessInstance_ELEMENT_ACTIVATED_v1.golden
Owners: none

test: add missing golden files
  zeebe/engine/src/test/resources/state/appliers/golden/Authorization_PERMISSION_ADDED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/Clock_PINNED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/Clock_RESETTED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/CommandDistribution_CONTINUATION_REQUESTED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/CommandDistribution_CONTINUED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/CommandDistribution_ENQUEUED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/Decision_CREATED_v2.golden
  zeebe/engine/src/test/resources/state/appliers/golden/Form_CREATED_v2.golden
  zeebe/engine/src/test/resources/state/appliers/golden/Job_UPDATED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/MessageCorrelation_CORRELATED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/MessageCorrelation_CORRELATING_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/MessageCorrelation_NOT_CORRELATED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/MessageSubscription_MIGRATED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/ProcessMessageSubscription_MIGRATED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/Process_CREATED_v2.golden
  zeebe/engine/src/test/resources/state/appliers/golden/SignalSubscription_MIGRATED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/Timer_MIGRATED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/User_CREATED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/User_UPDATED_v1.golden
Owners: none

test: align resource created appliers
  zeebe/engine/src/test/resources/state/appliers/golden/Decision_CREATED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/Form_CREATED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/Process_CREATED_v1.golden
Owners: none

test: align golden distribution appliers
  zeebe/engine/src/test/resources/state/appliers/golden/CommandDistribution_ACKNOWLEDGED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/CommandDistribution_DISTRIBUTING_v1.golden
Owners: none

test: align remaining 8.6 appliers
  zeebe/engine/src/test/resources/state/appliers/golden/Form_DELETED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/Job_COMPLETED_v2.golden
  zeebe/engine/src/test/resources/state/appliers/golden/Job_CREATED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/ProcessInstance_ELEMENT_ACTIVATING_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/ProcessInstance_ELEMENT_ACTIVATING_v2.golden
  zeebe/engine/src/test/resources/state/appliers/golden/ProcessInstance_SEQUENCE_FLOW_TAKEN_v1.golden
Owners: none

feat: refactored permission service checks
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/DecisionDefinitionController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/DecisionInstanceController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/DecisionRequirementsController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/FlowNodeInstanceController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/IncidentController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/ProcessDefinitionController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/ProcessInstanceController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/VariableController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/permission/PermissionsService.java
Owners: none

test: added test cases for Forbidden response to legacy controller ITs
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/DecisionDefinitionControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/DecisionInstanceControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/DecisionRequirementsControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/FlowNodeInstanceControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/IncidentControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/ProcessDefinitionControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/ProcessInstanceQueryControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/VariableControllerIT.java
Owners: none

refactor: introduce @tanstack/react-form for form state and validation
  identity/client/package.json
  identity/client/src/pages/mapping-rules/modals/add-modal/AddModal.tsx
  identity/client/src/pages/mapping-rules/modals/add-modal/use-validation.ts
  identity/client/yarn.lock
Owners: none

fix: improve logging for failed shards in opensearch scrolling
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchDocumentOperations.java
Owners: none

refactor: avoid comment by wrapping method call
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/ProcessInstanceController.java
Owners: none

fix: improve logging for search request in opensearch scrolling
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchDocumentOperations.java
Owners: none

fix: include additional repsonse properties from shard failure
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchDocumentOperations.java
Owners: none

fix: only wait for the topologyReadinessCheck and brokerReadyCheck when starting camundaContainer
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/containers/CamundaContainer.java
Owners: none

fix: improve logging for failed shards in opensearch scrolling
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchDocumentOperations.java
Owners: none

fix: improve logging for search request in opensearch scrolling
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchDocumentOperations.java
Owners: none

fix: include additional repsonse properties from shard failure
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchDocumentOperations.java
Owners: none

test: verify cluster properties in broker are populated from unified config
  configuration/src/test/java/io/camunda/configuration/ClusterPropertiesTest.java
Owners: none

feat: add unified configuration for basic cluster properties
  configuration/src/main/java/io/camunda/configuration/Cluster.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/BrokerBasedPropertiesOverride.java
Owners: none

ci: Add releaseVersion to mvn:peroform context and remove restriction from snyk for slack notification
  .github/workflows/camunda-platform-release.yml
Owners: @camunda/monorepo-devops-team

fix: removing `userKey` from tests
  authentication/src/test/java/io/camunda/authentication/CamundaUserDetailsServiceTest.java
  authentication/src/test/java/io/camunda/authentication/DefaultCamundaAuthenticationProviderTest.java
  authentication/src/test/java/io/camunda/authentication/config/controllers/TestUserDetailsService.java
  authentication/src/test/java/io/camunda/authentication/session/WebSessionMapperTest.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/es/cache/ProcessStoreElasticSearchTest.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/es/cache/ProcessStoreOpenSearchTest.java
Owners: none

fix: removing `userKey` from `CamundaUserDetailService`
  authentication/src/main/java/io/camunda/authentication/CamundaUserDetailsService.java
Owners: none

fix: removing `userKey` and `userId` from `CamundaUserDTO`
  authentication/src/main/java/io/camunda/authentication/entity/CamundaUserDTO.java
Owners: none

test: adding `AuthenticationController` unit test as there were none
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/authentication/AuthenticationControllerTest.java
Owners: none

fix: removing `userKey` and `userId` from service classes
  authentication/src/main/java/io/camunda/authentication/service/BasicCamundaUserService.java
  authentication/src/main/java/io/camunda/authentication/service/OidcCamundaUserService.java
Owners: none

fix: removing `userKey` from `CamundaUser`
  authentication/src/main/java/io/camunda/authentication/entity/CamundaUser.java
Owners: none

refactor: resolving merge conflicts
  authentication/src/test/java/io/camunda/authentication/DefaultCamundaAuthenticationConverterTest.java
  authentication/src/test/java/io/camunda/authentication/DefaultCamundaAuthenticationProviderTest.java
  authentication/src/test/java/io/camunda/authentication/session/WebSessionMapperTest.java
Owners: none

docs: we are returning `email` field, but it wasn't documented
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Owners: @camunda/docs-api-reviewers

fix: remove userId and userKey references on Tasklist
  tasklist/client/e2e/a11y.spec.ts
  tasklist/client/e2e/docs/docs-snapshots.spec.ts
  tasklist/client/e2e/fixtures/v1-visual.ts
  tasklist/client/e2e/fixtures/v2-visual.ts
  tasklist/client/e2e/mocks/v2/processes.ts
  tasklist/client/package-lock.json
  tasklist/client/package.json
  tasklist/client/src/common/components/AssigneeTag/index.tsx
  tasklist/client/src/common/global.d.ts
  tasklist/client/src/common/mocks/current-user.tsx
  tasklist/client/src/common/tasks/available-tasks/AvailableTaskItem/getNavLinkLabel.ts
  tasklist/client/src/common/tasks/available-tasks/AvailableTaskItem/index.test.tsx
  tasklist/client/src/common/tasks/available-tasks/AvailableTaskItem/index.tsx
  tasklist/client/src/common/tasks/available-tasks/CollapsiblePanel/index.tsx
  tasklist/client/src/common/tasks/details/TaskDetailsHeader/index.test.tsx
  tasklist/client/src/common/tracking/index.tsx
  tasklist/client/src/common/utils/isForbidden.test.ts
  tasklist/client/src/v1/TaskDetails/FormJS/index.tsx
  tasklist/client/src/v1/TaskDetails/Variables/index.tsx
  tasklist/client/src/v1/api/index.ts
  tasklist/client/src/v1/api/useProcessInstances.query.tsx
  tasklist/client/src/v1/api/useTasks.query.tsx
  tasklist/client/src/v1/mocks/task.tsx
  tasklist/client/src/v1/mocks/tasks.tsx
  tasklist/client/src/v2/TaskDetails/FormJS/index.tsx
  tasklist/client/src/v2/TaskDetails/Variables/index.tsx
  tasklist/client/src/v2/TaskDetailsLayout/AssignButton/index.test.tsx
  tasklist/client/src/v2/TaskDetailsLayout/index.tsx
  tasklist/client/src/v2/api/getQueryVariables.tsx
  tasklist/client/src/v2/api/useTasks.query.ts
  tasklist/client/src/v2/mocks/processDefinitions.ts
  tasklist/client/src/v2/mocks/task.ts
  tasklist/client/src/v2/mocks/tasks.ts
Owners: none

fix: `username` should be returned in `username` field
  authentication/src/main/java/io/camunda/authentication/service/BasicCamundaUserService.java
Owners: none

fix: remove userId and userKey references on Operate
  operate/client/e2e-playwright/mocks/dashboard.mocks.ts
  operate/client/e2e-playwright/mocks/decisionInstance.mocks.ts
  operate/client/e2e-playwright/mocks/decisions.mocks.ts
  operate/client/e2e-playwright/mocks/processInstance/index.ts
  operate/client/e2e-playwright/mocks/processes.mocks.ts
  operate/client/package-lock.json
  operate/client/package.json
  operate/client/src/App/Layout/AppHeader/index.tsx
  operate/client/src/modules/auth/isForbidden.test.ts
  operate/client/src/modules/testUtils.tsx
  operate/client/src/modules/tracking/index.ts
  operate/client/src/modules/types/global.d.ts
Owners: none

test: use `TenantEntity` instead of `TenantDTO`
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/authentication/AuthenticationControllerTest.java
Owners: none

feat: new cpt configuration prefix with backwards compatibility
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/impl/configuration/CamundaProcessTestRuntimeConfiguration.java
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/impl/configuration/LegacyCamundaProcessTestRuntimeConfiguration.java
Owners: none

test: add new 8.7 event appliers
  zeebe/engine/src/test/resources/state/appliers/golden/MultiInstance_INPUT_COLLECTION_EVALUATED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/Resource_CREATED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/Resource_DELETED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/Resource_FETCHED_v1.golden
Owners: none

test: align golden appliers to 8.7 event appliers
  zeebe/engine/src/test/resources/state/appliers/golden/ProcessInstance_ELEMENT_COMPLETED_v1.golden
  zeebe/engine/src/test/resources/state/appliers/golden/ProcessInstance_ELEMENT_TERMINATED_v1.golden
Owners: none

refactor: convert Oidc-based authentications
  authentication/pom.xml
  authentication/src/main/java/io/camunda/authentication/CamundaJwtAuthenticationConverter.java
  authentication/src/main/java/io/camunda/authentication/CamundaJwtAuthenticationToken.java
  authentication/src/main/java/io/camunda/authentication/CamundaOAuthPrincipalService.java
  authentication/src/main/java/io/camunda/authentication/CamundaOidcUserService.java
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/converter/DefaultCamundaAuthenticationConverter.java
  authentication/src/main/java/io/camunda/authentication/converter/OidcTokenAuthenticationConverter.java
  authentication/src/main/java/io/camunda/authentication/converter/OidcUserAuthenticationConverter.java
  authentication/src/main/java/io/camunda/authentication/converter/TokenClaimsConverter.java
  authentication/src/main/java/io/camunda/authentication/entity/AuthenticationContext.java
  authentication/src/main/java/io/camunda/authentication/entity/CamundaJwtUser.java
  authentication/src/main/java/io/camunda/authentication/entity/CamundaOAuthPrincipal.java
  authentication/src/main/java/io/camunda/authentication/entity/CamundaOidcUser.java
  authentication/src/main/java/io/camunda/authentication/entity/CamundaPrincipal.java
  authentication/src/main/java/io/camunda/authentication/entity/OAuthContext.java
  authentication/src/main/java/io/camunda/authentication/holder/HttpSessionBasedAuthenticationHolder.java
  authentication/src/main/java/io/camunda/authentication/service/OidcCamundaUserService.java
  authentication/src/test/java/io/camunda/authentication/CamundaOidcUserServiceTest.java
  authentication/src/test/java/io/camunda/authentication/OidcCamundaUserServiceTest.java
  authentication/src/test/java/io/camunda/authentication/config/OidcWebSecurityConfigTest.java
  authentication/src/test/java/io/camunda/authentication/config/controllers/TestCamundaOAuthPrincipalService.java
  authentication/src/test/java/io/camunda/authentication/config/controllers/WebSecurityOidcTestContext.java
  authentication/src/test/java/io/camunda/authentication/converter/DefaultCamundaAuthenticationConverterTest.java
  authentication/src/test/java/io/camunda/authentication/converter/OidcTokenAuthenticationConverterTest.java
  authentication/src/test/java/io/camunda/authentication/converter/OidcUserAuthenticationConverterTest.java
  authentication/src/test/java/io/camunda/authentication/converter/TokenClaimsConverterTest.java
  authentication/src/test/java/io/camunda/authentication/converter/UsernamePasswordAuthenticationTokenConverterTest.java
  authentication/src/test/java/io/camunda/authentication/service/OidcCamundaUserServiceTest.java
  authentication/src/test/java/io/camunda/authentication/session/WebSessionMapperTest.java
  dist/src/main/java/io/camunda/application/commons/rest/RestApiConfiguration.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/AbstractUserService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/UserService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/consolidatedAuth/ConsolidatedAuthenticationUserService.java
Owners: @camunda/identity

refactor: use adminClient in all test in UsageMetricsTest
  qa/acceptance-tests/src/test/java/io/camunda/it/client/UsageMetricsTest.java
Owners: none

feat: apply usage metric authorization
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/UsageMetricsQueryTransformerTest.java
  service/src/main/java/io/camunda/service/UsageMetricsServices.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/index/UsageMetricIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/index/UsageMetricTUIndex.java
Owners: none

refactor: improve usage metric response mapping
  clients/java/src/main/java/io/camunda/client/impl/statistics/response/StatisticsResponseMapper.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/UsageMetricsTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
Owners: none
