Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity

fix: spotless apply
  .github/actions/collect-flaky-tests/README.md
  .github/actions/flaky-tests-summary-comment/README.md
  .github/actions/flaky-tests-summary-comment/src/flaky-tests-comment-generator.js
Owners: none

deps: bump angus mail to 2.0.4
  optimize/backend/pom.xml
Owners: none

deps: upgrade tomcat to 10.1.44
  parent/pom.xml
Owners: none

test: add integration test for simple mappings (#33709)
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/InheritedSimpleMappingAuthorizationIT.java
  qa/util/src/main/java/io/camunda/qa/util/auth/ClientDefinition.java
  qa/util/src/main/java/io/camunda/qa/util/auth/TestClient.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/CamundaMultiDBExtension.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/EntityManager.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/OidcCamundaClientTestFactory.java
Owners: none

fix: adjusted comments according to tech writer review
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientAuthClientAssertionProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientAuthProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientCloudProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientDeploymentProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientJobWorkerProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientLegacyPropertiesMapping.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientProperties.java
  clients/spring-boot-starter-camunda-sdk/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Owners: none

fix: ensured alignment of documented replacements with actual ones
  clients/spring-boot-starter-camunda-sdk/src/main/resources/camunda-client-legacy-property-mappings.properties
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/configurationMetadata/AlignmentTest.java
Owners: none

fix: removed unused test and dependency
  clients/spring-boot-starter-camunda-sdk/pom.xml
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/properties/DeprecatedPropertiesTest.java
Owners: none

feat: spike how to override exporter config
  configuration/pom.xml
  configuration/src/main/java/io/camunda/configuration/beanoverrides/BrokerBasedPropertiesOverride.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/context/ExporterConfiguration.java
Owners: none

fix: return meaningful error message
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
Owners: none

test: integration test
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/OidcAuthOverRestStartupIT.java
Owners: none

deps: bump angus mail to 2.0.4
  optimize/backend/pom.xml
Owners: none

refactor: panels to all filter by partition
  monitor/grafana/dashboards/data_layer.json
Owners: none

ci: fix team notification message
  .github/workflows/statistics-daily.yml
  .github/workflows/statistics-weekly.yml
Owners: @camunda/monorepo-devops-team

refactor: fixing the error message to be more explicit
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/OidcAuthOverRestStartupIT.java
Owners: none

refactor: removed excessive permissionsEnabled checks
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/QueryHelper.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/DecisionInstanceReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/OpenSearchQueryHelper.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/DecisionInstanceRestService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/DecisionRestService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/FlowNodeInstanceRestService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/ProcessInstanceRestService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/ProcessRestService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/ProcessGroupDto.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/dmn/DecisionGroupDto.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/listview/ListViewProcessInstanceDto.java
Owners: none

fix: fixed wrong use of null checks for returned ResourcesAllowed
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/QueryHelper.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/DecisionInstanceReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/DecisionReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/IncidentStatisticsReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/ProcessInstanceReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/OpenSearchQueryHelper.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/reader/OpensearchDecisionInstanceReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/reader/OpensearchDecisionReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/reader/OpensearchIncidentStatisticsReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/reader/ProcessReader.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/rest/ProcessInstanceRestServiceTest.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/rest/ProcessReaderTest.java
Owners: none

feat: added username filter to get operations endpoint
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/OperationReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/reader/OpensearchOperationReader.java
Owners: none

feat: added new permissions to process instance operation endpoint
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/ProcessInstanceRestServiceIT.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/ProcessInstanceRestService.java
  operate/webapp/src/test/java/io/camunda/operate/webapp/rest/ProcessInstanceRestServiceTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/compatibility/CompatibilityModeOperateZeebeAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/compatibility/NoCompatibilityModeOperateZeebeAuthorizationIT.java
Owners: none

test: turned DecisionInstanceReaderIT into actual reader IT
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/DecisionInstanceReaderIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/DecisionInstanceRestServiceIT.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/DecisionInstanceRestService.java
Owners: none

refactor: renamed OperatePermissionsIT to OperateInternalApiPermissionsIT
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateInternalApiPermissionsIT.java
Owners: none

refactor: generalised test helpers to make them reusable
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateMultiTenancyIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateV1ApiPermissionsIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/util/TestHelper.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestRestOperateClient.java
Owners: none

test: added test coverage for Operate decision instance internal endpoints
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/DecisionInstanceRestServiceIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateInternalApiPermissionsIT.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestRestOperateClient.java
Owners: none

test: added test coverage for Operate decision internal endpoints
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/DecisionRestServiceIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateInternalApiPermissionsIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/util/TestHelper.java
Owners: none

test: added test coverage for Operate process instance internal API
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/ProcessInstanceReaderIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateInternalApiPermissionsIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateV1ApiPermissionsIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/util/TestHelper.java
Owners: none

test: fixed tests for Operate incident statistics endpoint
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/IncidentStatisticsIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/util/TestHelper.java
Owners: none

test: added test coverage for Operate operations endpoint
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/OperationReaderIT.java
Owners: none

refactor: only destructure mutation function
  operate/client/src/App/Processes/MigrationView/Footer/v2/index.tsx
Owners: none

test: simplify test
  operate/client/src/App/Processes/MigrationView/Footer/v2/index.test.tsx
Owners: none

feat: migrate process migration batch operation to v2
  operate/client/src/App/Processes/MigrationView/v2/Footer/extractIdsFromQuery.test.ts
  operate/client/src/App/Processes/MigrationView/v2/Footer/extractIdsFromQuery.ts
  operate/client/src/App/Processes/MigrationView/v2/Footer/getMigrationBatchOperationFilter.test.ts
  operate/client/src/App/Processes/MigrationView/v2/Footer/getMigrationBatchOperationFilter.ts
  operate/client/src/App/Processes/MigrationView/v2/Footer/index.test.tsx
  operate/client/src/App/Processes/MigrationView/v2/Footer/index.tsx
  operate/client/src/App/Processes/MigrationView/v2/index.test.tsx
  operate/client/src/App/Processes/MigrationView/v2/index.tsx
  operate/client/src/App/Processes/v2/index.tsx
  operate/client/src/App/index.tsx
  operate/client/src/modules/api/v2/processInstances/migrateProcessInstanceBatchOperation.ts
  operate/client/src/modules/feature-flags.ts
  operate/client/src/modules/mutations/processInstance/useMigrateProcessInstanceBatchOperation.test.tsx
  operate/client/src/modules/mutations/processInstance/useMigrateProcessInstanceBatchOperation.ts
Owners: none

fix: fixes for review comments
  operate/client/src/modules/mutations/processInstance/useMigrateProcessInstanceBatchOperation.ts
Owners: none

refactor: update feature flag usage and rename migration store elements
  operate/client/src/App/Processes/MigrationView/Footer/v2/index.test.tsx
  operate/client/src/App/Processes/MigrationView/Footer/v2/index.tsx
Owners: none

fix: fixes for review comments
  operate/client/src/App/Processes/MigrationView/Footer/v2/extractIdsFromQuery.test.ts
  operate/client/src/App/Processes/MigrationView/Footer/v2/extractIdsFromQuery.ts
  operate/client/src/App/Processes/MigrationView/Footer/v2/getMigrationBatchOperationFilter.test.ts
  operate/client/src/App/Processes/MigrationView/Footer/v2/getMigrationBatchOperationFilter.ts
  operate/client/src/App/Processes/MigrationView/Footer/v2/index.test.tsx
  operate/client/src/App/Processes/MigrationView/Footer/v2/index.tsx
  operate/client/src/App/Processes/MigrationView/index.tsx
  operate/client/src/App/Processes/MigrationView/v2/index.test.tsx
  operate/client/src/App/Processes/MigrationView/v2/index.tsx
  operate/client/src/App/Processes/v2/index.tsx
  operate/client/src/App/index.tsx
  operate/client/src/modules/api/v2/processInstances/migrateProcessInstanceBatchOperation.ts
  operate/client/src/modules/feature-flags.ts
  operate/client/src/modules/mutations/processInstance/useMigrateProcessInstanceBatchOperation.test.tsx
  operate/client/src/modules/mutations/processInstance/useMigrateProcessInstanceBatchOperation.ts
Owners: none

feat: add tests and update search query name in hook
  operate/client/src/App/Processes/MigrationView/Footer/v2/index.test.tsx
  operate/client/src/App/Processes/MigrationView/Footer/v2/index.tsx
  operate/client/src/modules/api/v2/processes/migrateProcessInstancesBatchOperation.ts
  operate/client/src/modules/mocks/api/v2/processes/migrateProcessInstancesBatchOperation.ts
  operate/client/src/modules/mutations/processes/useMigrateProcessInstancesBatchOperation.ts
  operate/client/src/modules/queries/batch-operations/useBatchOperations.ts
Owners: none

refactor: simply extractIdsFromQuery
  operate/client/src/App/Processes/MigrationView/Footer/v2/extractIdsFromQuery.ts
Owners: none

ci: fix optimize build issue when zeebe is changes
  .github/workflows/optimize-ci-build-reusable.yml
  .github/workflows/optimize-ci-core-features.yml
  .github/workflows/optimize-ci-data-layer.yml
  .github/workflows/optimize-e2e-test-cloud.yml
  .github/workflows/optimize-e2e-tests-sm.yml
  optimize/pom.xml
Owners: @camunda/core-features

feat: align SM optimize build with what Cloud test does
  .github/workflows/optimize-e2e-tests-sm.yml
Owners: @camunda/core-features

fix: Use number_of_replicas and number_of_shards Elasticsearch configuration when it changes
  operate/common/src/main/java/io/camunda/operate/property/ElasticsearchProperties.java
  operate/common/src/main/java/io/camunda/operate/property/OpensearchProperties.java
  operate/common/src/main/java/io/camunda/operate/property/OperateElasticsearchProperties.java
  operate/common/src/main/java/io/camunda/operate/property/OperateOpensearchProperties.java
  operate/pom.xml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/AbstractSchemaIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/IndexSchemaValidatorIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/SchemaManagerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/SchemaStartupIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/SchemaTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/elasticsearch/ElasticsearchSchemaTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/util/opensearch/OpenSearchSchemaTestHelper.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/OpensearchOperateZeebeRuleProvider.java
  operate/schema/src/main/java/io/camunda/operate/schema/SchemaManager.java
  operate/schema/src/main/java/io/camunda/operate/schema/SchemaStartup.java
  operate/schema/src/main/java/io/camunda/operate/schema/elasticsearch/ElasticsearchSchemaManager.java
  operate/schema/src/main/java/io/camunda/operate/schema/opensearch/OpensearchSchemaManager.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/RetryElasticsearchClient.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchIndexOperations.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchTemplateOperations.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/es/RetryElasticsearchClient.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/os/RetryOpenSearchClient.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/ElasticsearchSchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/OpenSearchSchemaManager.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchSchemaManagementIT.java
Owners: none

docs: add condition of use to the initial admin user API
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Owners: @camunda/docs-api-reviewers

fix: add bean definition for identity tests
  dist/src/main/java/io/camunda/application/commons/migration/IdentityMigrationModuleConfiguration.java
Owners: none

fix: change type of session refresh lock attribute to string
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
  authentication/src/test/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilterTest.java
  authentication/src/test/java/io/camunda/authentication/session/WebSessionRepositoryTest.java
Owners: none
