Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

test: remove obsolete test in main
  dist/src/test/java/io/camunda/operate/OperateQualifiedBeansArchTest.java
  dist/src/test/java/io/camunda/tasklist/TasklistQualifiedBeansArchTest.java
Owners: none

test: fix tests and remove redundant test
  authentication/src/test/java/io/camunda/authentication/CamundaOAuthPrincipalServiceNoDbImplTest.java
  authentication/src/test/java/io/camunda/authentication/config/WebSecurityConfigNoDbTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/nodb/NoSecondaryStorageAuthenticationIT.java
Owners: none

refactor: remove CamundaOAuthPrincipalServiceNoDbImpl and use abstract class
  authentication/src/main/java/io/camunda/authentication/CamundaOAuthPrincipalServiceNoDbImpl.java
  authentication/src/main/java/io/camunda/authentication/service/DefaultMembershipService.java
  authentication/src/main/java/io/camunda/authentication/service/MembershipService.java
  authentication/src/main/java/io/camunda/authentication/service/NoDBMembershipService.java
  authentication/src/main/java/io/camunda/authentication/service/PrincipalExtractionHelper.java
  authentication/src/test/java/io/camunda/authentication/CamundaOAuthPrincipalServiceNoDbTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/nodb/NoSecondaryStorageAuthenticationIT.java
  search/search-client-util/pom.xml
Owners: none

refactor: use static strings and remove warning bean
  authentication/src/main/java/io/camunda/authentication/CamundaOAuthPrincipalServiceNoDbImpl.java
  authentication/src/main/java/io/camunda/authentication/ConditionalOnNoSecondaryStorage.java
  authentication/src/main/java/io/camunda/authentication/ConditionalOnSecondaryStorage.java
  authentication/src/test/java/io/camunda/authentication/CamundaOAuthPrincipalServiceNoDbTest.java
  qa/acceptance-tests/pom.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/nodb/NoSecondaryStorageAuthenticationIT.java
Owners: none

refactor: move conditionals to util module
  authentication/pom.xml
  authentication/src/main/java/io/camunda/authentication/CamundaOAuthPrincipalServiceNoDbImpl.java
  dist/pom.xml
  dist/src/main/java/io/camunda/application/commons/backup/ConditionalOnBackupWebappsEnabled.java
  dist/src/main/java/io/camunda/application/commons/condition/ConditionalOnSecondaryStorageType.java
  dist/src/main/java/io/camunda/application/commons/search/ResourceAccessControllerConfiguration.java
  dist/src/main/java/io/camunda/application/commons/search/SearchClientDatabaseConfiguration.java
  dist/src/main/java/io/camunda/application/initializers/HealthConfigurationInitializer.java
  dist/src/main/java/io/camunda/application/initializers/StandaloneSchemaManagerInitializer.java
  dist/src/main/java/io/camunda/identity/IdentityModuleConfiguration.java
  dist/src/main/java/io/camunda/operate/OperateModuleConfiguration.java
  dist/src/main/java/io/camunda/tasklist/TasklistModuleConfiguration.java
  qa/acceptance-tests/src/test/java/io/camunda/it/nodb/NoSecondaryStorageAuthenticationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/nodb/NoSecondaryStorageTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/util/CamundaRdbmsTestApplication.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/MultiDbConfigurator.java
  search/pom.xml
  search/search-client-util/pom.xml
  search/search-client-util/src/main/java/io/camunda/search/util/ConditionalOnSecondaryStorageDisabled.java
  search/search-client-util/src/main/java/io/camunda/search/util/ConditionalOnSecondaryStorageEnabled.java
  search/search-client-util/src/main/java/io/camunda/search/util/DatabaseTypeUtils.java
  search/search-domain/pom.xml
  search/search-domain/src/main/java/io/camunda/search/exception/NoSecondaryStorageException.java
  service/src/main/java/io/camunda/service/exception/ErrorMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/interceptor/SecondaryStorageInterceptor.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/interceptor/SecondaryStorageInterceptorTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/smoke/NoSecondaryStorageSmokeIT.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestSpringApplication.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
Owners: @camunda/identity

feat: Add documentation and integration tests for no-db authentication
  authentication/NO_DATABASE_AUTHENTICATION.md
  qa/acceptance-tests/src/test/java/io/camunda/it/nodb/NoSecondaryStorageAuthenticationIT.java
Owners: @camunda/identity

feat: Implement no-db authentication configuration with fail-fast behavior
  authentication/src/main/java/io/camunda/authentication/CamundaOAuthPrincipalServiceImpl.java
  authentication/src/main/java/io/camunda/authentication/CamundaOAuthPrincipalServiceNoDbImpl.java
  authentication/src/main/java/io/camunda/authentication/ConditionalOnNoSecondaryStorage.java
  authentication/src/test/java/io/camunda/authentication/CamundaOAuthPrincipalServiceNoDbImplTest.java
  authentication/src/test/java/io/camunda/authentication/config/WebSecurityConfigNoDbTest.java
Owners: none

refactor: introduce membership interface
  authentication/src/main/java/io/camunda/authentication/CamundaOAuthPrincipalServiceNoDbImpl.java
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/service/MembershipService.java
  authentication/src/main/java/io/camunda/authentication/service/NoDBMembershipService.java
  authentication/src/main/java/io/camunda/authentication/service/PrincipalExtractionHelper.java
  authentication/src/main/java/io/camunda/authentication/service/SecondaryStorageMembershipService.java
  qa/acceptance-tests/src/test/java/io/camunda/it/nodb/NoSecondaryStorageAuthenticationIT.java
Owners: none

fix: reuse annotation and disable webapp oidc
  authentication/src/main/java/io/camunda/authentication/CamundaOAuthPrincipalServiceImpl.java
  authentication/src/main/java/io/camunda/authentication/CamundaOAuthPrincipalServiceNoDbImpl.java
  authentication/src/main/java/io/camunda/authentication/ConditionalOnSecondaryStorageDisabled.java
  authentication/src/main/java/io/camunda/authentication/ConditionalOnSecondaryStorageEnabled.java
  dist/src/main/java/io/camunda/application/commons/condition/ConditionalOnSecondaryStorageDisabled.java
  dist/src/main/java/io/camunda/application/commons/condition/ConditionalOnSecondaryStorageEnabled.java
  dist/src/main/java/io/camunda/application/commons/search/ResourceAccessControllerConfiguration.java
  dist/src/main/java/io/camunda/application/commons/search/SearchClientDatabaseConfiguration.java
  dist/src/main/java/io/camunda/identity/IdentityModuleConfiguration.java
  dist/src/main/java/io/camunda/operate/OperateModuleConfiguration.java
  dist/src/main/java/io/camunda/tasklist/TasklistModuleConfiguration.java
  qa/acceptance-tests/src/test/java/io/camunda/it/nodb/NoSecondaryStorageAuthenticationIT.java
Owners: none

fix: incorrect imports and remove unused files
  authentication/NO_DATABASE_AUTHENTICATION.md
  authentication/src/main/java/io/camunda/authentication/CamundaOAuthPrincipalServiceImpl.java
  authentication/src/main/java/io/camunda/authentication/CamundaOAuthPrincipalServiceNoDbImpl.java
  authentication/src/main/java/io/camunda/authentication/ConditionalOnSecondaryStorage.java
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
Owners: @camunda/identity

ci: downgrade surefire version to 3.5.2 to allow running ArchUnit tests in the CI
  parent/pom.xml
Owners: none

test: move Tasklist and Operate ArchTest to dist
  dist/pom.xml
  dist/src/test/java/io/camunda/operate/OperateQualifiedBeansArchTest.java
  dist/src/test/java/io/camunda/tasklist/TasklistQualifiedBeansArchTest.java
  qa/integration-tests/pom.xml
Owners: none

refactor: make MembershipService an interface
  authentication/src/main/java/io/camunda/authentication/CamundaOAuthPrincipalServiceImpl.java
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/service/DefaultMembershipService.java
  authentication/src/main/java/io/camunda/authentication/service/MembershipService.java
  authentication/src/main/java/io/camunda/authentication/service/NoDBMembershipService.java
  authentication/src/test/java/io/camunda/authentication/CamundaOAuthPrincipalServiceNoDbTest.java
  authentication/src/test/java/io/camunda/authentication/CamundaOAuthPrincipalServiceTest.java
  parent/pom.xml
  qa/acceptance-tests/pom.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/nodb/NoSecondaryStorageAuthenticationIT.java
  qa/util/pom.xml
  search/search-client-util/pom.xml
  service/pom.xml
  zeebe/gateway-rest/pom.xml
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/util/pom.xml
Owners: none

build: revert-prepare for next development iteration
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Owners: none

feat: update usage-metrics endpoint to /v2/system/usage-metrics
  clients/java/src/main/java/io/camunda/client/impl/statistics/request/UsageMetricsStatisticsRequestImpl.java
  clients/java/src/test/java/io/camunda/client/metrics/UsageMetricsStatisticsTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/UsageMetricsController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UsageMetricsControllerTest.java
Owners: @camunda/docs-api-reviewers

feat: move usage metrics controller to system package
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/system/UsageMetricsController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/system/UsageMetricsControllerTest.java
Owners: none

feat: allow intermediate catch events without outgoing flows inside AHSP
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/AdHocSubProcessValidator.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/AdhocSubprocessValidatorTest.java
Owners: none

feat: added authorization checks to Operate V1 API
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/exceptions/ForbiddenException.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/DecisionDefinitionController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/DecisionInstanceController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/DecisionRequirementsController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/ErrorController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/FlowNodeInstanceController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/IncidentController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/ProcessDefinitionController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/ProcessInstanceController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/api/v1/rest/VariableController.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/permission/PermissionsService.java
Owners: none

test: added ITs for Operate V1 API permission checks
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateV1ApiPermissionsIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/util/TestHelper.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestRestOperateClient.java
Owners: none

test: added Forbidden error testcases to legacy tests
  operate/qa/integration-tests/src/test/java/io/camunda/operate/StartupIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/DecisionDefinitionControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/DecisionInstanceControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/DecisionRequirementsControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/FlowNodeInstanceControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/IncidentControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/ProcessDefinitionControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/ProcessInstanceQueryControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/rest/VariableControllerIT.java
Owners: none

feat: add version tag to definition tile
  tasklist/client/src/common/processes/ProcessTile/index.tsx
  tasklist/client/src/common/processes/ProcessTile/styles.module.scss
Owners: none

test: verify variables are created at the correct scopes
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobBasedAdHocSubProcessTest.java
Owners: none

feat: Query handling for empty memberId filters
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/GroupDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/MappingRuleDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/RoleDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/TenantDbReader.java
  db/rdbms/src/main/resources/mapper/AuthorizationsMapper.xml
  db/rdbms/src/main/resources/mapper/TenantMapper.xml
  qa/acceptance-tests/src/test/resources/logback.xml
  qa/util/src/main/java/io/camunda/qa/util/multidb/CamundaMultiDBExtension.java
Owners: none

fix: Fix AuthorizationMapper ownerId filter
  .idea/codeStyles/Project.xml
  db/rdbms/src/main/resources/mapper/AuthorizationsMapper.xml
Owners: none

feat: Add auth filter to process instance search (wip)
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/ProcessInstanceDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/security/RdbmsResourceAccessController.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/ProcessInstanceDbReader.java
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
  dist/src/main/java/io/camunda/application/commons/search/ResourceAccessControllerConfiguration.java
  security/security-core/src/main/java/io/camunda/security/reader/ResourceAccessChecks.java
Owners: none

refactor: align `TenantController` methods to follow the agreed pattern
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantController.java
Owners: none

refactor: align `RoleController` methods to follow the agreed pattern
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleController.java
Owners: none

refactor: align naming of unassign user from tenant command with agreed pattern
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/UnassignUserFromTenantCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/response/UnassignUserFromTenantResponse.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/UnassignUserFromTenantCommandImpl.java
  clients/java/src/test/java/io/camunda/client/tenant/UnassignUserFromTenantTest.java
Owners: none

refactor: `GroupController` cleanup - remove redundant default value from annotation
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
Owners: none

refactor: cleanup - remove services that are not used
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleController.java
Owners: none

revert: eslint plugin version bump
  tasklist/client/package-lock.json
  tasklist/client/package.json
Owners: none

ci: (step 3.1) Create comment with data of single run (no memoization)
  .github/actions/update-flaky-tests-comment/action.yml
  .github/actions/update-flaky-tests-comment/src/comment-generator.js
Owners: none

ci: (step 1) create aggregration workflow and log gathered data
  .github/actions/update-flaky-tests-comment/action.yml
  .github/workflows/ci.yml
Owners: @camunda/monorepo-devops-team

ci: insert one more flaky test
  qa/acceptance-tests/src/test/java/io/camunda/it/client/FlakySearchTest.java
Owners: none

ci: (step 2) implement flaky tests data collection
  .github/actions/update-flaky-tests-comment/action.yml
  .github/workflows/ci.yml
Owners: @camunda/monorepo-devops-team

ci: (step 3.2) Add <<memoization>> logic to increase number of flakyness counter
  .github/actions/update-flaky-tests-comment/action.yml
  .github/actions/update-flaky-tests-comment/src/comment-generator.js
Owners: none

build: prepare release 8.7.6-optimize
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Owners: none

revert: eslint plugin version bump on Operate
  operate/client/package-lock.json
  operate/client/package.json
Owners: none

refactor: extra job completion logic to method
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobBasedAdHocSubProcessTest.java
Owners: none

refactor: add static method to provide basic auth builder
  clients/java/src/main/java/io/camunda/client/CredentialsProvider.java
Owners: none

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity
