Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

feat: add test for filter
  authentication/src/test/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilterTest.java
Owners: none

feat: make refresh interval configurable
  authentication/src/main/java/io/camunda/authentication/DefaultCamundaAuthenticationProvider.java
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
  security/security-core/src/main/java/io/camunda/security/configuration/AuthenticationConfiguration.java
Owners: none

fix: mock authentication provider to fix failing tests
  authentication/src/test/java/io/camunda/authentication/config/AbstractWebSecurityConfigTest.java
Owners: none

fix: remove null check to fix failing tests
  authentication/src/main/java/io/camunda/authentication/DefaultCamundaAuthenticationProvider.java
Owners: none

refactor: extract methods and constants
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
  authentication/src/test/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilterTest.java
Owners: none

fix: add dependency
  authentication/pom.xml
Owners: @camunda/identity

feat: add test for filter
  authentication/src/test/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilterTest.java
Owners: none

fix: adjust test
  authentication/src/test/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilterTest.java
Owners: none

feat: make refresh interval configurable
  authentication/src/main/java/io/camunda/authentication/DefaultCamundaAuthenticationProvider.java
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
Owners: none

feat: introduce a filter to refresh camunda authentication
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
Owners: none

fix: handle exception in get current authentication when authentication is null
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
  authentication/src/test/java/io/camunda/authentication/DefaultCamundaAuthenticationProviderTest.java
Owners: none

fix: merge
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
Owners: none

fix: remove null check to fix failing tests
  authentication/src/main/java/io/camunda/authentication/DefaultCamundaAuthenticationProvider.java
Owners: none

feat: introduce a filter to refresh camunda authentication
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
Owners: none

fix: merge
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
Owners: none

feat: make refresh interval configurable
  authentication/src/main/java/io/camunda/authentication/DefaultCamundaAuthenticationProvider.java
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
Owners: none

feat: add test for filter
  authentication/src/test/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilterTest.java
Owners: none

feat: introduce a filter to refresh camunda authentication
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
Owners: none

refactor: extract methods and constants
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
  authentication/src/test/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilterTest.java
Owners: none

feat: introduce a filter to refresh camunda authentication
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
Owners: none

fix: remove null check to fix failing tests
  authentication/src/main/java/io/camunda/authentication/DefaultCamundaAuthenticationProvider.java
Owners: none

fix: merge
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
Owners: none

fix: adjust test
  authentication/src/test/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilterTest.java
Owners: none

fix: remove null check to fix failing tests
  authentication/src/main/java/io/camunda/authentication/DefaultCamundaAuthenticationProvider.java
Owners: none

fix: adjust test
  authentication/src/test/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilterTest.java
Owners: none

fix: merge
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
Owners: none

feat: add test for filter
  authentication/src/test/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilterTest.java
Owners: none

feat: make refresh interval configurable
  authentication/src/main/java/io/camunda/authentication/DefaultCamundaAuthenticationProvider.java
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
Owners: none

feat: introduce a filter to refresh camunda authentication
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
Owners: none

fix: handle exception in get current authentication when authentication is null
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
Owners: none

fix: fix compile error
  authentication/src/test/java/io/camunda/authentication/config/controllers/OidcFlowTestContext.java
Owners: none

fix: remove version tag requirement when deleting backup
  operate/webapp/src/main/java/io/camunda/operate/webapp/backup/BackupService.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/backup/es/BackupManagerElasticSearch.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/es/backup/os/BackupManagerOpenSearch.java
Owners: none

feat: Generate process coverage JSON report
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/CamundaProcessTestExtension.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/coverage/ProcessCoverage.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/coverage/ProcessCoverageBuilder.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/coverage/core/CoverageCollector.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/coverage/core/CoverageCreator.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/coverage/core/ModelCreator.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/coverage/model/Coverage.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/coverage/model/Model.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/coverage/model/Run.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/coverage/model/Suite.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/coverage/report/AggregatedCoverageReport.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/coverage/report/AggregatedSuiteInfo.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/coverage/report/CoverageReportCreator.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/coverage/report/CoverageReportUtil.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/coverage/report/CoverageReporter.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/coverage/report/SuiteCoverageReport.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/CamundaDataSource.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/JunitExtensionTest.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/ProcessEngineCoverageIT.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/impl/extensions/CamundaProcessTestContextIT.java
  testing/camunda-process-test-java/src/test/resources/coverage/test-with-event-based-gateway.bpmn
  testing/camunda-process-test-java/src/test/resources/coverage/test-with-simple-gateway.bpmn
  testing/camunda-process-test-java/src/test/resources/coverage/test-with-user-task.bpmn
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/api/CamundaProcessTestExecutionListener.java
  testing/camunda-process-test-spring/src/test/java/io/camunda/process/test/api/ExecutionListenerTest.java
Owners: none

test: remove DeployResourceTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/DeployResourceTest.java
Owners: none

feat: increase tomcat max part count to 50
  qa/acceptance-tests/src/test/java/io/camunda/it/client/DeployResourceTest.java
Owners: none

ci: migrate Renovate linter into Unified CI + scheduled migration check
  .github/actions/paths-filter/action.yml
  .github/workflows/ci.yml
  .github/workflows/renovate-weekly.yml
  .github/workflows/renovatelint.yml
Owners: @camunda/monorepo-devops-team

docs: reflect latest changes in batch operation scheduler in docs
  docs/zeebe/assets/batch-operation-scheduler.bpmn
  docs/zeebe/assets/batch-operation-scheduler.png
  docs/zeebe/batch-operation.md
Owners: none

refactor: load spec from zeebe-gateway-protocol JAR
  zeebe/gateway-protocol/pom.xml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiResourceConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/util/OpenApiYamlLoader.java
Owners: none

deps: bump angus mail to 2.0.4
  optimize/backend/pom.xml
Owners: none

fix: time since last flush is now per partition
  monitor/grafana/dashboards/data_layer.json
Owners: none

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity
