Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity

feat: add usage metrics migration app
  dist/pom.xml
  dist/src/main/java/io/camunda/application/StandaloneUsageMetricMigration.java
  dist/src/main/java/io/camunda/application/commons/migration/metric/ElasticsearchUsageMetricMigrationClient.java
  dist/src/main/java/io/camunda/application/commons/migration/metric/OpensearchUsageMetricMigrationClient.java
  dist/src/main/java/io/camunda/application/commons/migration/metric/ReindexResult.java
  dist/src/main/java/io/camunda/application/commons/migration/metric/UsageMetricMigrationClient.java
Owners: none

feat: store and search tags impl
  clients/java/src/main/java/io/camunda/client/api/search/response/ProcessInstance.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/ProcessInstanceImpl.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/ProcessInstanceSearchTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/util/TestHelper.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/entity/ProcessInstanceEntityTransformer.java
  search/search-domain/src/main/java/io/camunda/search/entities/ProcessInstanceEntity.java
  tasklist/importer-870/src/main/java/io/camunda/tasklist/zeebeimport/v870/record/value/ProcessInstanceRecordValueImpl.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/ListViewTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/listview/ProcessInstanceForListViewEntity.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/template/operate-list-view.json
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/AbstractBatchOperationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/CreateProcessInstanceTest.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromProcessInstanceHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromProcessInstanceHandlerTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceQueryControllerTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/ProcessInstanceRecordValue.java
Owners: @camunda/docs-api-reviewers

test: remove duplicated e2e tests and utils from identity FE in favor of new QA OC test suite
  identity/client/e2e/pages/AuthorizationsPage.ts
  identity/client/e2e/pages/GroupsPage.ts
  identity/client/e2e/pages/Header.ts
  identity/client/e2e/pages/RolesPage/RolesPage.ts
  identity/client/e2e/pages/TenantsPage.ts
  identity/client/e2e/pages/UsersPage.ts
  identity/client/e2e/tests/authorizations.spec.ts
  identity/client/e2e/tests/groups.spec.ts
  identity/client/e2e/tests/login.spec.ts
  identity/client/e2e/tests/roles.spec.ts
  identity/client/e2e/tests/tenants.spec.ts
  identity/client/e2e/tests/users.spec.ts
  identity/client/e2e/text-fixtures.ts
  identity/client/e2e/utils/constants.ts
  identity/client/e2e/utils/paths.ts
Owners: none

test: remove everything related to e2e and playwright from identity FE
  identity/client/.gitignore
  identity/client/e2e/eslint.config.js
  identity/client/e2e/pages/LoginPage.ts
  identity/client/e2e/pages/MappingRulesPage.ts
  identity/client/e2e/pages/RolesPage/RolesDetailsPage.ts
  identity/client/e2e/tests/mappings.spec.ts
  identity/client/e2e/text-fixtures.ts
  identity/client/e2e/utils/constants.ts
  identity/client/e2e/utils/createFixture.ts
  identity/client/e2e/utils/paths.ts
  identity/client/e2e/utils/relativizePaths.ts
  identity/client/e2e/utils/waitForItemInList.ts
  identity/client/eslint.config.js
  identity/client/package.json
  identity/client/playwright.config.ts
  identity/client/yarn.lock
Owners: none

fix: write log position when skipping events Restructure and rename project
  zeebe/exporters/http-exporter/pom.xml
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/HttpExporter.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/client/ExporterHttpClient.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/client/ExporterHttpClientImpl.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/config/HttpExporterConfiguration.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/config/SubscriptionConfigFactory.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/matcher/CombinedMatcher.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/matcher/Filter.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/matcher/FilterRecordMatcher.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/matcher/RecordMatcher.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/matcher/Rule.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/matcher/RuleRecordMatcher.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/subscription/Batch.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/subscription/BatchEntry.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/subscription/Subscription.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/subscription/SubscriptionConfig.java
  zeebe/exporters/http-exporter/src/test/java/io/camunda/exporter/http/ConfigTest.java
  zeebe/exporters/http-exporter/src/test/java/io/camunda/exporter/http/HttpExporterBatchIT.java
  zeebe/exporters/http-exporter/src/test/java/io/camunda/exporter/http/HttpExporterIT.java
  zeebe/exporters/http-exporter/src/test/java/io/camunda/exporter/http/RuleMatcherTest.java
  zeebe/exporters/http-exporter/src/test/java/io/camunda/exporter/http/TestSupport.java
  zeebe/exporters/http-exporter/src/test/resources/subscription-config.json
Owners: none

chore: add http exporter to parent project
  parent/pom.xml
Owners: none

fix: remove identity client references from worfklow file
  .github/workflows/identity-e2e-tests.yml
Owners: none

fix: improve tooltip message
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/index.tsx
Owners: none

fix: correct unit tests
  operate/client/src/App/Processes/ListView/InstancesTable/useOperationApply/index.setup.ts
  operate/client/src/App/Processes/ListView/InstancesTable/useOperationApply/index.test.tsx
Owners: none

fix: lint issues
  operate/client/src/App/Dashboard/InstancesByProcess/index.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/tests/multiInstanceSubprocess.test.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/v2/multiInstanceSubprocess.test.tsx
  operate/client/src/modules/stores/flowNodeInstance/tests/index.test.ts
  operate/client/src/modules/testUtils/dateTimeRange.ts
  operate/client/src/modules/testUtils/selectComboBoxOption.ts
Owners: none

fix: disallow running operations on finished instances
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/useOperationApply/index.ts
  operate/client/src/modules/stores/processInstancesSelection.ts
Owners: none

fix: remove usage of running instances count in modal and adapt language
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/index.tsx
Owners: none

fix: reset permissions selected when resource type changes
  identity/client/src/pages/authorizations/modals/AddModal.tsx
Owners: none

fix: update tasklist component template with configured number of shards and replicas
  tasklist/common/src/main/java/io/camunda/tasklist/property/TasklistElasticsearchProperties.java
  tasklist/common/src/main/java/io/camunda/tasklist/property/TasklistOpenSearchProperties.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/es/IndexSchemaValidatorElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/es/RetryElasticsearchClient.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/os/IndexSchemaValidatorOpenSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/os/RetryOpenSearchClient.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/IndexSchemaValidator.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/SchemaStartup.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/ElasticsearchSchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/OpenSearchSchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/SchemaManager.java
  tasklist/els-schema/src/test/java/io/camunda/tasklist/schema/manager/OpenSearchSchemaManagerTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/ReindexOpenSearchIT.java
Owners: none

fix: potential workaround
  dist/src/main/java/io/camunda/application/commons/configuration/BrokerBasedConfiguration.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestCamundaApplication.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteringRule.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ScaleUpPartitionsTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/network/SecureClusteredMessagingIT.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestGateway.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestRestoreApp.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneApplication.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
Owners: none

fix: adjust api test for connectors
  c8run/e2e_tests/api_tests.sh
Owners: @camunda/distribution

feat: AHSP builder can build with outputCollection and outputElement
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/builder/AbstractAdHocSubProcessBuilder.java
Owners: none

feat: add OutputCollection and OutputElement to ZeebeAdHoc
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/impl/instance/zeebe/ZeebeAdHocImpl.java
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/instance/zeebe/ZeebeAdHoc.java
Owners: none

feat: add outputcollection and outputelement to ExecutableAdHocSubProcess
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/element/ExecutableAdHocSubProcess.java
Owners: none

feat: extend AdHocSubProcessTransformer to set outputcollection and outputelement
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/AdHocSubProcessTransformer.java
Owners: none

feat: validate outputelement in ZeebeRuntimeValidators
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/validation/ZeebeRuntimeValidators.java
Owners: none

feat: validate outputelement and outputcollection in AdHocSubProcessValidator
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/AdHocSubProcessValidator.java
Owners: none

feat: WIP - what is a calid output element expression?
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/validation/ZeebeRuntimeValidators.java
Owners: none

feat: on activation create a local variable for the output collection
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/AdHocSubProcessProcessor.java
Owners: none

feat: evaluate the outputElement expression and append the value to the outputCollection variable
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/AdHocSubProcessProcessor.java
Owners: none

fix: create private helper method for nullOrEmpty string
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/AdHocSubProcessValidator.java
Owners: none

feat: create incident on outputelement expression eval failure
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/AdHocSubProcessProcessor.java
Owners: none

fix: fix loop that was introduced. move updateOutputCollection to base class
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/AdHocSubProcessProcessor.java
Owners: none

feat: propagate outputCollection variable to parent scope
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/AdHocSubProcessProcessor.java
Owners: none

test: add test for outputcollection
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
Owners: none

feat: create incident when outputelement expression cannot be appended to outputcollection
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/AdHocSubProcessProcessor.java
Owners: none

feat: add todo. question needs answered
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/AdHocSubProcessProcessor.java
Owners: none

build: ensure PREFIX fields do not end with a dot in UC classes
  configuration/src/main/java/io/camunda/configuration/ActorIdleStrategy.java
  configuration/src/main/java/io/camunda/configuration/Cluster.java
  configuration/src/main/java/io/camunda/configuration/Disk.java
  configuration/src/main/java/io/camunda/configuration/FreeSpace.java
  configuration/src/main/java/io/camunda/configuration/LogStream.java
  configuration/src/main/java/io/camunda/configuration/LongPolling.java
  configuration/src/main/java/io/camunda/configuration/Metadata.java
  configuration/src/main/java/io/camunda/configuration/Network.java
  configuration/src/main/java/io/camunda/configuration/PrimaryStorage.java
  configuration/src/main/java/io/camunda/configuration/System.java
  configuration/src/main/java/io/camunda/configuration/Upgrade.java
  configuration/src/test/java/io/camunda/configuration/CodeQualityTest.java
Owners: none

test: output collection and element validation for AHSP
  zeebe/bpmn-model/src/main/java/io/camunda/zeebe/model/bpmn/validation/zeebe/AdHocSubProcessValidator.java
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/validation/AdHocSubProcessValidatorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
Owners: none

test: remove wip test. its in ZeebeRuntimeValidatorsTest now
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
Owners: none

test: add output test for AHSP
  zeebe/bpmn-model/src/test/java/io/camunda/zeebe/model/bpmn/builder/AdHocSubProcessBuilderTest.java
Owners: none

deps: Update dependency @bpmn-io/element-template-icon-renderer to v1
  operate/client/package.json
  operate/client/yarn.lock
Owners: none

deps: Update dependency @bpmn-io/element-template-icon-renderer to v1
  operate/client/package.json
  operate/client/yarn.lock
Owners: none

feat: Add auth checks to process related entities
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/FlowNodeInstanceDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/ProcessDefinitionDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/SequenceFlowDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/FlowNodeInstanceDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/ProcessDefinitionDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/ProcessInstanceDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/SequenceFlowDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/SequenceFlowMapper.java
  db/rdbms/src/main/resources/mapper/FlowNodeInstanceMapper.xml
  db/rdbms/src/main/resources/mapper/ProcessDefinitionMapper.xml
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
  db/rdbms/src/main/resources/mapper/SequenceFlowMapper.xml
  db/rdbms/src/test/java/io/camunda/db/rdbms/read/service/FlowNodeInstanceDbReaderTest.java
  db/rdbms/src/test/java/io/camunda/db/rdbms/read/service/ProcessDefinitionDbReaderTest.java
  db/rdbms/src/test/java/io/camunda/db/rdbms/read/service/ProcessInstanceDbReaderTest.java
  db/rdbms/src/test/java/io/camunda/db/rdbms/read/service/SequenceFlowDbReaderTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/ProcessAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/ProcessInstanceAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/tenancy/ElementInstanceTenancyIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/tenancy/ProcessDefinitionTenancyIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/tenancy/ProcessInstanceTenancyIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/tenancy/SequenceFlowTenancyIT.java
  security/security-core/src/main/java/io/camunda/security/reader/ResourceAccessChecks.java
Owners: none

Add the audit log page with comment editing
  operate/client/src/App/AuditLog/AuditLogTable/index.tsx
  operate/client/src/App/AuditLog/AuditLogTable/styled.tsx
  operate/client/src/App/AuditLog/CommentModal/index.tsx
  operate/client/src/App/AuditLog/CommentModal/styled.tsx
  operate/client/src/App/AuditLog/Filters/index.tsx
  operate/client/src/App/AuditLog/Filters/styled.tsx
  operate/client/src/App/AuditLog/index.tsx
  operate/client/src/App/AuditLog/mocks.ts
  operate/client/src/App/AuditLog/styled.tsx
  operate/client/src/App/Layout/AppHeader/index.tsx
  operate/client/src/App/Layout/useCurrentPage.tsx
  operate/client/src/App/index.tsx
  operate/client/src/modules/Routes.tsx
  operate/client/src/modules/constants.ts
  operate/client/src/modules/tracking/index.ts
Owners: none
