Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

feat: add type to batch operation item in REST API #36653
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Owners: @camunda/docs-api-reviewers

feat: add type to batch operation item in camunda-exporter #36653
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/entity/BatchOperationItemEntityTransformer.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/batchoperation/AbstractOperationStatusHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/batchoperation/BatchOperationChunkCreatedItemHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/batchoperation/BatchOperationChunkCreatedItemHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/batchoperation/BatchOperationStatusHandlerTest.java
Owners: none

test: check for existing batch operation item type in ITest #36653
  qa/acceptance-tests/src/test/java/io/camunda/it/client/BatchOperationSearchTest.java
Owners: none

feat: add type to batch operation item in rdbms #36653
  db/rdbms/src/main/resources/mapper/BatchOperationMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/batchoperation/BatchOperationIT.java
Owners: none

feat: apply permission checks to V1 API to get user tasks/variables
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/TaskController.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/permission/TasklistPermissionServices.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/TaskControllerTest.java
Owners: none

refactor: extract methods and constants
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
  authentication/src/test/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilterTest.java
Owners: none

fix: update to correct header
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/boundary/BoundaryEventWithoutOutgoingSequenceFlowTest.java
Owners: none

feat: apply permission checks to V1 API to get variables
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/VariablesController.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/VariablesControllerTest.java
Owners: none

feat: add usage metrics migration app
  dist/pom.xml
  dist/src/main/java/io/camunda/application/StandaloneUsageMetricMigration.java
  dist/src/main/java/io/camunda/application/commons/migration/metric/ElasticsearchUsageMetricMigrationClient.java
  dist/src/main/java/io/camunda/application/commons/migration/metric/OpensearchUsageMetricMigrationClient.java
  dist/src/main/java/io/camunda/application/commons/migration/metric/ReindexResult.java
  dist/src/main/java/io/camunda/application/commons/migration/metric/UsageMetricMigrationClient.java
Owners: none

test: add usage metrics migration tests
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/UsageMetricMigrationIT.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestUsageMetricMigrationApp.java
Owners: none

test: restrict delete of indices due to AWS permissions.
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepositoryIT.java
Owners: none

fix: mock authentication provider to fix failing tests
  authentication/src/test/java/io/camunda/authentication/config/AbstractWebSecurityConfigTest.java
Owners: none

feat: introduce a filter to refresh camunda authentication
  authentication/src/main/java/io/camunda/authentication/DefaultCamundaAuthenticationProvider.java
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
  security/security-core/src/main/java/io/camunda/security/auth/CamundaAuthenticationProvider.java
Owners: none

feat: introduce a filter to refresh camunda authentication
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
Owners: none

fix: handle exception in get current authentication when authentication is null
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
  authentication/src/test/java/io/camunda/authentication/DefaultCamundaAuthenticationProviderTest.java
Owners: none

fix: remove null check to fix failing tests
  authentication/src/main/java/io/camunda/authentication/DefaultCamundaAuthenticationProvider.java
Owners: none

refactor: extract methods and constants
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
  authentication/src/test/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilterTest.java
Owners: none

feat: introduce a filter to refresh camunda authentication
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
Owners: none

feat: add test for filter
  authentication/src/test/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilterTest.java
Owners: none

fix: adjust test
  authentication/src/test/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilterTest.java
Owners: none

fix: merge
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
Owners: none

feat: introduce a filter to refresh camunda authentication
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
Owners: none

fix: adjust test
  authentication/src/test/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilterTest.java
Owners: none

feat: add test for filter
  authentication/src/test/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilterTest.java
Owners: none

feat: make refresh interval configurable
  authentication/src/main/java/io/camunda/authentication/DefaultCamundaAuthenticationProvider.java
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
Owners: none

fix: remove null check to fix failing tests
  authentication/src/main/java/io/camunda/authentication/DefaultCamundaAuthenticationProvider.java
Owners: none

feat: make refresh interval configurable
  authentication/src/main/java/io/camunda/authentication/DefaultCamundaAuthenticationProvider.java
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
  security/security-core/src/main/java/io/camunda/security/configuration/AuthenticationConfiguration.java
Owners: none

fix: merge
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
Owners: none

Revert "Bugfix: failure to start if OIDC provider is unavailable"
  authentication/pom.xml
  authentication/src/main/java/io/camunda/authentication/config/SafeInitClientRegistrationRepository.java
  authentication/src/main/java/io/camunda/authentication/config/SafeInitJwtDecoder.java
  authentication/src/main/java/io/camunda/authentication/config/SafeInitProxy.java
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/test/java/io/camunda/authentication/config/SafeInitProxyTest.java
  zeebe/qa/integration-tests/pom.xml
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/OidcAuthOverRestIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/OidcAuthOverRestStartupIT.java
Owners: @camunda/identity

fix: remove duplicated bean definition
  authentication/src/test/java/io/camunda/authentication/config/controllers/WebSecurityOidcTestContext.java
Owners: none

refactor: remove usage metric resource & add permission
  clients/java/src/main/java/io/camunda/client/api/search/enums/PermissionType.java
  clients/java/src/main/java/io/camunda/client/api/search/enums/ResourceType.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/UsageMetricAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/SaaSIdentityMigrationIT.java
  security/security-core/src/main/java/io/camunda/security/auth/Authorization.java
  security/security-protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AuthorizationResourceType.java
  security/security-protocol/src/main/java/io/camunda/zeebe/protocol/record/value/PermissionType.java
  service/src/main/java/io/camunda/service/UsageMetricsServices.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/IdentitySetupInitializer.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeDefaultsTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Owners: @camunda/docs-api-reviewers

fix: add dependency
  authentication/pom.xml
Owners: @camunda/identity

feat: uc: added rocksdb config
  configuration/pom.xml
  configuration/src/main/java/io/camunda/configuration/PrimaryStorage.java
  configuration/src/main/java/io/camunda/configuration/RocksDb.java
  configuration/src/main/java/io/camunda/configuration/UnifiedConfigurationHelper.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/BrokerBasedPropertiesOverride.java
  configuration/src/test/java/io/camunda/configuration/RocksDbPropertiesTest.java
  configuration/src/test/java/io/camunda/configuration/UnifiedConfigurationHelperTest.java
Owners: none

test: re-enable rollover tests for AWS.
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepositoryIT.java
Owners: none

fix: fix current user type defs
  operate/client/package-lock.json
  operate/client/package.json
  operate/client/src/App/Decisions/Filters/tests/index.test.tsx
  operate/client/src/App/Decisions/InstancesTable/index.test.tsx
  operate/client/src/App/Layout/AppHeader/tests/appSwitcher.test.tsx
  operate/client/src/App/Layout/AppHeader/tests/index.test.tsx
  operate/client/src/App/Layout/AppHeader/tests/infoBar.test.tsx
  operate/client/src/App/Layout/AppHeader/tests/licenseNote.test.tsx
  operate/client/src/App/Layout/AppHeader/tests/userInfo.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/tests/restrictedUserWithResourceBasedPermissions.test.tsx
  operate/client/src/App/Processes/ListView/tests/index.test.tsx
  operate/client/src/App/Processes/MigrationView/index.test.tsx
  operate/client/src/modules/auth/AuthorizationCheck.test.tsx
  operate/client/src/modules/auth/isForbidden.test.ts
  operate/client/src/modules/auth/isForbidden.ts
  operate/client/src/modules/testUtils.tsx
Owners: none

deps: Address CVE-2025-53864
  optimize/backend/pom.xml
  parent/pom.xml
Owners: none

fix: fix current user type defs on Tasklist
  tasklist/client/package-lock.json
  tasklist/client/package.json
  tasklist/client/src/common/mocks/current-user.tsx
  tasklist/client/src/common/utils/isForbidden.test.ts
  tasklist/client/src/common/utils/isForbidden.ts
Owners: none

deps: Address CVE-2025-53864
  optimize/backend/pom.xml
  parent/pom.xml
Owners: none

fix: fix current user type defs on Identity
  identity/client/src/components/global/AppRoot.tsx
  identity/client/src/utility/api/authentication/index.ts
Owners: none

refactor: use renamed /v2/authentication/me property in UI
  identity/client/src/components/global/AppRoot.tsx
  identity/client/src/utility/api/authentication/index.ts
  operate/client/package-lock.json
  operate/client/package.json
  operate/client/src/App/Decisions/Filters/tests/index.test.tsx
  operate/client/src/App/Decisions/InstancesTable/index.test.tsx
  operate/client/src/App/Layout/AppHeader/tests/appSwitcher.test.tsx
  operate/client/src/App/Layout/AppHeader/tests/index.test.tsx
  operate/client/src/App/Layout/AppHeader/tests/infoBar.test.tsx
  operate/client/src/App/Layout/AppHeader/tests/licenseNote.test.tsx
  operate/client/src/App/Layout/AppHeader/tests/userInfo.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/tests/restrictedUserWithResourceBasedPermissions.test.tsx
  operate/client/src/App/Processes/ListView/tests/index.test.tsx
  operate/client/src/App/Processes/MigrationView/index.test.tsx
  operate/client/src/modules/auth/AuthorizationCheck.test.tsx
  operate/client/src/modules/auth/isForbidden.test.ts
  operate/client/src/modules/auth/isForbidden.ts
  operate/client/src/modules/testUtils.tsx
  tasklist/client/package-lock.json
  tasklist/client/package.json
  tasklist/client/src/common/mocks/current-user.tsx
  tasklist/client/src/common/utils/isForbidden.test.ts
  tasklist/client/src/common/utils/isForbidden.ts
Owners: none

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity
