Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity

revert: "fix: add qa module to root"
  pom.xml
Owners: none

feat: change aggregation terms size
  search/search-domain/src/main/java/io/camunda/search/aggregation/UsageMetricsTUAggregation.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/elasticsearch/TaskMetricsStoreElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/opensearch/TaskMetricsStoreOpenSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/util/ElasticsearchUtil.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/util/OpenSearchUtil.java
  tasklist/els-schema/src/test/java/io/camunda/tasklist/store/elasticsearch/TaskMetricsStoreElasticSearchTest.java
Owners: none

refactor: create common abstract MetricMigrator
  migration/commons/src/main/java/io/camunda/migration/commons/configuration/ConfigurationType.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/MetricMigrator.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/TasklistMetricMigrator.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/util/MetricRegistry.java
  migration/usage-metric-migration/src/test/java/io/camunda/migration/usagemetrics/TUMetricsMigrationIT.java
Owners: none

fix: address PR feedback
  .github/workflows/ci.yml
  migration/task-migration/pom.xml
  migration/task-migration/src/main/java/io/camunda/migration/task/TaskMigrator.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/MigrationRepositoryIndex.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/ProcessorStep.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/TaskLegacyIndex.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/es/ElasticsearchAdapter.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/os/OpensearchAdapter.java
  migration/task-migration/src/main/java/io/camunda/migration/task/config/TaskMigrationProperties.java
  migration/task-migration/src/main/java/io/camunda/migration/task/util/MigrationUtils.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/util/CamundaMigrator.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/util/MigrationDatabaseChecks.java
  webapps-schema/src/main/resources/schema/opensearch/create/template/tasklist-task.json
Owners: @camunda/monorepo-devops-team

build(project): update java compat versions
  parent/pom.xml
Owners: none

deps(identity): update identity to 8.5.20
  parent/pom.xml
Owners: none

build(project): update go embedded version data
  clients/go/internal/embedded/data/VERSION
Owners: none

build: ignore false positive error spotted by spotbug
  zeebe/broker/spotbugs/spotbugs-exclude.xml
Owners: none

refactor: remove unnecessary toString overload
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/encoding/AuthInfo.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/AuthInfoTest.java
Owners: none

refactor: add javadocs to new methods
  zeebe/msgpack-value/src/main/java/io/camunda/zeebe/msgpack/property/BaseProperty.java
Owners: none

test: add writeJSON tests
  zeebe/msgpack-value/src/test/java/io/camunda/zeebe/msgpack/BasePropertyTest.java
Owners: none

build(project): update java compat versions
  parent/pom.xml
Owners: none

build(project): prepare next development version (Go client)
  clients/go/internal/embedded/data/VERSION
Owners: none

feat: remove internal decisions XML endpoint
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/DecisionRestServiceIT.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/elasticsearch/reader/DecisionReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/opensearch/reader/OpensearchDecisionReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/reader/DecisionReader.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/DecisionRestService.java
Owners: none

fix: rename id validation property
  dist/src/main/java/io/camunda/application/commons/security/CamundaSecurityConfiguration.java
  dist/src/test/java/io/camunda/application/commons/security/CamundaSecurityConfigurationTest.java
  security/security-core/src/main/java/io/camunda/security/configuration/InitializationConfiguration.java
  security/security-core/src/main/java/io/camunda/security/configuration/SecurityConfiguration.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/setup/SetupController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingRuleController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/setup/SetupControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantRequestValidatorTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/GroupQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingRuleControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/MappingRuleQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleQueryControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/UserQueryControllerTest.java
Owners: none

refactor: convert OperateMetricMigrator to use MetricMigrator
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/OperateMetricMigrator.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/UsageMetricMigrationIT.java
  zeebe/qa/util/pom.xml
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestUsageMetricMigrationApp.java
Owners: none

fix: enable add variable button after editing variable
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/VariablesFinalForm.tsx
Owners: none

feat: add loading state on variable edition
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/VariablesFinalForm.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/EditButtons.styled.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/EditButtons.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/ExistingVariableValue.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/VariablesTable.tsx
Owners: none

test: fix variable notification tests
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/tests/notification.test.tsx
Owners: none

test: fix updateElementVariables mock
  operate/client/src/modules/mocks/api/mockRequest.ts
  operate/client/src/modules/mocks/api/v2/elementInstances/updateElementInstanceVariables.ts
Owners: none

refactor: move Variabale FinalForm into separate component
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/VariablesContent.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/VariablesFinalForm.tsx
Owners: none

test: fix variable panel tests
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/tests/NewVariableModifications.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/tests/notification.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/Footer/PendingVariable.tsx
Owners: none

test: skip tests related to a bug
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/tests/FlowNodeStates.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/tests/NewVariableModifications.test.tsx
Owners: none

feat: use mutation to update/edit element instance variables
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/VariablesFinalForm.tsx
Owners: none

refactor: do not print out record in error responses
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/Engine.java
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/ProcessingStateMachine.java
Owners: @camunda/zeebe-distributed-platform

fix: handle mutateAsync error properly
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/VariablesFinalForm.tsx
Owners: none

bug: `hasDuplicateElementsToActivate` should be removed in `AdHocSubProcessInstructionActivateProcessor`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessInstructionActivateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/adhocsubprocess/ActivateAdHocSubProcessActivityTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/ActivateAdHocSubProcessActivityTest.java
Owners: none

feat: remove internal operation by id endpoint
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/ModifyProcessInstanceOperationZeebeIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/OperationReaderIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/OperationZeebeIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/InternalAPIErrorControllerIT.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/OperationRestService.java
Owners: none

feat: move clusterId config to zeebe.broker.cluster.
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/ClusterCfg.java
Owners: none

feat: change PingConsoleRunner to fetch clusterId from the broker config.
  dist/src/main/java/io/camunda/application/commons/console/ping/PingConsoleRunner.java
Owners: none

test: fix tests.
  dist/src/test/java/io/camunda/application/commons/console/ping/PingConsoleConfigurationTest.java
  dist/src/test/java/io/camunda/application/commons/console/ping/PingConsoleRunnerIT.java
Owners: none

deps(identity): update identity to 8.7.6
  parent/pom.xml
Owners: none

feat: configure camundaClient request timeout (Java+Spring)
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/CamundaProcessTestContainerRuntime.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/CamundaProcessTestRuntimeBuilder.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/CamundaProcessTestRuntimeDefaults.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/ContainerRuntimePropertiesUtil.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/properties/RemoteRuntimeClientProperties.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/impl/runtime/ContainerRuntimePropertiesUtilTest.java
  testing/camunda-process-test-java/src/test/resources/containerRuntimePropertiesUtil/camunda-container-runtime.properties
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/impl/configuration/LegacyCamundaProcessTestRuntimeConfiguration.java
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/impl/runtime/CamundaSpringProcessTestRuntimeBuilder.java
  testing/camunda-process-test-spring/src/test/java/io/camunda/process/test/impl/CamundaSpringProcessTestRuntimeBuilderTest.java
Owners: none

fix: copilor code review
  .github/actions/collect-flaky-tests/scripts/collect-flaky-tests.sh
  .github/actions/flaky-tests-summary-comment/src/flaky-tests-comment-generator.js
  .github/actions/flaky-tests-summary-comment/src/helpers.js
Owners: none

ci: Add QA team to medic lookup
  .ci/scripts/ci/setup-medic-lookup.sh
Owners: none

refactor: replace onSuccess, onSettled
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/VariablesFinalForm.tsx
Owners: none

feat: uc: added restore app cfgs
  configuration/src/main/java/io/camunda/configuration/Restore.java
  configuration/src/main/java/io/camunda/configuration/System.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/RestorePropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beans/RestoreProperties.java
  configuration/src/test/java/io/camunda/configuration/SystemPropertiesTest.java
  dist/src/main/java/io/camunda/zeebe/restore/RestoreApp.java
Owners: none

fix: potential workaround
  configuration/src/main/java/io/camunda/configuration/Restore.java
  dist/src/main/java/io/camunda/application/commons/configuration/BrokerBasedConfiguration.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestCamundaApplication.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteringRule.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ScaleUpPartitionsTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/network/SecureClusteredMessagingIT.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestGateway.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestRestoreApp.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneApplication.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
Owners: none

build(project): update java compat versions
  parent/pom.xml
Owners: none

fix: Update documentation reference to authorizations
  identity/client/src/pages/authorizations/List.tsx
Owners: none
