Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity

test: remove channels without throwing NPEs
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/ChannelPool.java
Owners: @camunda/zeebe-distributed-platform

ci: monorepo reports notify owning team
  .github/workflows/ci-operate.yml
  .github/workflows/ci-optimize.yml
  .github/workflows/ci-tasklist.yml
  .github/workflows/ci-webapp-run-ut-reuseable.yml
  .github/workflows/ci.yml
  .github/workflows/operate-ci-fe.yml
  .github/workflows/operate-run-tests.yml
  .github/workflows/statistics-daily.yml
  .github/workflows/statistics-weekly.yml
  .github/workflows/tasklist-backup-restore-tests-reusable.yml
  .github/workflows/tasklist-ci-fe-reusable.yml
  .github/workflows/tasklist-docker-tests.yml
  .github/workflows/zeebe-ci.yml
Owners: @camunda/core-features, @camunda/monorepo-devops-team, @camunda/data-layer

test: don't overwrite working directory if already set
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/junit/ZeebeIntegrationExtension.java
Owners: none

test: don't overwrite working directory if already set
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/junit/ZeebeIntegrationExtension.java
Owners: none

ci: add token from vault workaround
  .github/workflows/optimize-create-release-branch.yml
Owners: none

test: don't overwrite working directory if already set
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/junit/ZeebeIntegrationExtension.java
Owners: none

fix: improve logging for failed shards in opensearch scrolling
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchDocumentOperations.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/client/sync/OpenSearchDocumentOperations.java
Owners: none

fix: improve logging for search request in opensearch scrolling
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchDocumentOperations.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/client/sync/OpenSearchDocumentOperations.java
Owners: none

fix: include additional repsonse properties from shard failure
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/client/sync/OpenSearchDocumentOperations.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/os/client/sync/OpenSearchDocumentOperations.java
Owners: none

ci: add token from vault workaround
  .github/workflows/optimize-create-release-branch.yml
Owners: none

feat: remove old sequence flow migration applier
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/ProcessInstanceElementMigratedV3Applier.java
Owners: none

fix: cancel previous scheduled tasks in UsageMetricsChecker schedule
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/metrics/UsageMetricsChecker.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/metrics/UsageMetricsCheckerTest.java
Owners: none

ci: Adding access token to issue labeler
  .github/workflows/opened_issue_labeler.yml
Owners: none

ci: changing github-token to repo-token
  .github/workflows/opened_issue_labeler.yml
Owners: none

fix: reverse condition
  dist/src/main/java/io/camunda/application/commons/migration/AsyncMigrationsRunner.java
Owners: none

refactor: remove redundant type casting
  operate/client/src/modules/api/v2/incidents/searchIncidentsByProcessInstance.ts
  operate/client/src/modules/api/v2/processDefinitions/fetchProcessDefinition.ts
  operate/client/src/modules/mocks/api/v2/incidents/searchIncidentsByProcessInstance.ts
Owners: none

refactor: integrate RdbmsExporterConfig as builder into RdbmsExporter #35304
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporter.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterConfig.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterWrapper.java
  zeebe/exporters/rdbms-exporter/src/test/java/io/camunda/exporter/rdbms/RdbmsExporterTest.java
Owners: none

refactor: rename maxQueueSize to queueSize #35304
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriterConfig.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriterFactory.java
  dist/src/main/resources/application-rdbmsH2.yaml
  dist/src/main/resources/application-rdbmsPostgres.yaml
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/exporter/RdbmsExporterBatchOperationsIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/exporter/RdbmsExporterIT.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporter.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterWrapper.java
  zeebe/exporters/rdbms-exporter/src/test/java/io/camunda/exporter/rdbms/RdbmsExporterTest.java
Owners: none

refactor: use a new ExporterConfiguration object instead of manual parsing and validate it #35304
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriterConfig.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/context/ExporterConfiguration.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/ExporterConfiguration.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporter.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterWrapper.java
  zeebe/exporters/rdbms-exporter/src/test/java/io/camunda/exporter/rdbms/ExporterConfigurationTest.java
  zeebe/exporters/rdbms-exporter/src/test/java/io/camunda/exporter/rdbms/RdbmsExporterWrapperTest.java
Owners: none

refactor: moved building of RdbmsWriterConfig #35304
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/ExporterConfiguration.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterWrapper.java
Owners: none

test: Brand new user cannot access any OC cluster apps e2e test
  qa/c8-orchestration-cluster-e2e-test-suite/tests/identity/create-new-user-e2etest.spec.ts
Owners: none

test: add Brand new user cannot access any OC cluster apps to the correct specs file
  qa/c8-orchestration-cluster-e2e-test-suite/config/docker-compose.yml
  qa/c8-orchestration-cluster-e2e-test-suite/fixtures.ts
  qa/c8-orchestration-cluster-e2e-test-suite/pages/AccessDeniedPage.ts
  qa/c8-orchestration-cluster-e2e-test-suite/pages/LoginPage.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/common-flows/identity-users-flows.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/identity/create-new-user-e2etest.spec.ts
Owners: none

test: Brand new user cannot access any OC cluster apps e2e test
  qa/c8-orchestration-cluster-e2e-test-suite/tests/identity/create-new-user-e2etest.spec.ts
Owners: none

test: add Brand new user cannot access any OC cluster apps to the correct specs file
  qa/c8-orchestration-cluster-e2e-test-suite/tests/common-flows/identity-users-flows.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/identity/create-new-user-e2etest.spec.ts
Owners: none

build: extend quickly build
  parent/pom.xml
Owners: none

build: remove skip.fe.build operate default
  operate/pom.xml
Owners: none

BACKPORT-CONFLICT
  tasklist/pom.xml
Owners: none

build: extend quickly build
  parent/pom.xml
Owners: none

build: remove skip.fe.build operate default
  operate/pom.xml
Owners: none

deps: update zeebe and identity management versions
  optimize/pom.xml
Owners: none

build: remove skip.fe.build tasklist default
  tasklist/pom.xml
Owners: none

build: remove skip.fe.build identity default
  identity/pom.xml
Owners: @camunda/identity

test: restructure testcases (tmp)
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateV1ApiGroupPermissionsIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateV1ApiPermissionsIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateV1ApiRolePermissionsIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/util/TestHelper.java
Owners: none

feat: add new BatchOperationType to search-domain
  search/search-domain/src/main/java/io/camunda/search/entities/BatchOperationType.java
Owners: none

refactor: Remove webapp-schema dependency
  zeebe/exporters/rdbms-exporter/pom.xml
Owners: none

feat: use new BatchOperationType from search-domain for CachedBatchOperationEntity
  zeebe/exporter-common/src/main/java/io/camunda/zeebe/exporter/common/cache/batchoperation/CachedBatchOperationEntity.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/cache/batchoperation/ElasticSearchBatchOperationCacheLoader.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/cache/batchoperation/OpenSearchBatchOperationCacheLoader.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/batchoperation/AbstractOperationHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/batchoperation/BatchOperationCreatedHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/utils/ExporterUtil.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/cache/BatchOperationCacheIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/batchoperation/BatchOperationStatusHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/batchoperation/listview/AbstractProcessInstanceFromOperationItemHandlerTest.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/cache/RdbmsBatchOperationCacheLoader.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/batchoperation/BatchOperationCreatedExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/batchoperation/IncidentBatchOperationExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/batchoperation/ProcessInstanceCancellationBatchOperationExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/batchoperation/ProcessInstanceMigrationBatchOperationExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/batchoperation/ProcessInstanceModificationBatchOperationExportHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/batchoperation/RdbmsBatchOperationStatusExportHandler.java
  zeebe/exporters/rdbms-exporter/src/test/java/io/camunda/exporter/rdbms/handlers/batchoperation/BatchOperationStatusHandlerTest.java
Owners: none

refactor: open search list on focus
  identity/client/src/components/form/DropdownSearch.tsx
Owners: none

feat: add fuzzy search
  identity/client/package.json
  identity/client/src/components/form/DropdownSearch.tsx
  identity/client/yarn.lock
Owners: none

feat: dynamically add options to dropdown
  identity/client/src/components/form/DropdownSearch.tsx
  identity/client/src/pages/groups/detail/mapping-rules/AssignMappingRulesModal.tsx
  identity/client/src/pages/groups/detail/members/AssignMembersModal.tsx
  identity/client/src/pages/groups/detail/roles/AssignRolesModal.tsx
  identity/client/src/pages/roles/detail/groups/AssignGroupsModal.tsx
  identity/client/src/pages/roles/detail/mapping-rules/AssignMappingRulesModal.tsx
  identity/client/src/pages/roles/detail/members/AssignMembersModal.tsx
  identity/client/src/pages/tenants/detail/groups/AssignGroupsModal.tsx
  identity/client/src/pages/tenants/detail/mapping-rules/AssignMappingRulesModal.tsx
  identity/client/src/pages/tenants/detail/members/AssignMembersModal.tsx
  identity/client/src/pages/tenants/detail/roles/AssignRolesModal.tsx
  identity/client/src/utility/api/mapping-rules/index.ts
  identity/client/src/utility/api/roles/index.ts
Owners: none

feat: added new intent and record for batch operation init phase #35435
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/batchoperation/BatchOperationInitializationRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/ValueTypeMapping.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/BatchOperationIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/Intent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/BatchOperationInitializationRecordValue.java
  zeebe/protocol/src/main/resources/protocol.xml
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/TypedEventRegistry.java
Owners: @camunda/zeebe-distributed-platform
