Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

refactor: Migrate processInstanceMigration to OC
  operate/client/e2e-playwright/pages/Processes/Processes.ts
  qa/c8-orchestration-cluster-e2e-test-suite/fixtures.ts
  qa/c8-orchestration-cluster-e2e-test-suite/pages/OperateMigrationView.ts
  qa/c8-orchestration-cluster-e2e-test-suite/pages/OperateProcessesPage.ts
  qa/c8-orchestration-cluster-e2e-test-suite/resources/orderProcessMigration_v_1.bpmn
  qa/c8-orchestration-cluster-e2e-test-suite/resources/orderProcessMigration_v_2.bpmn
  qa/c8-orchestration-cluster-e2e-test-suite/resources/orderProcessMigration_v_3.bpmn
  qa/c8-orchestration-cluster-e2e-test-suite/tests/operate/processInstanceMigration.mocks.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/operate/processInstanceMigration.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/tasklist/task-panel.spec.ts
  qa/c8-orchestration-cluster-e2e-test-suite/utils/.auth
  qa/c8-orchestration-cluster-e2e-test-suite/utils/zeebeClient.ts
Owners: none

fix: include members ready check after restart on replication loop
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RandomizedRaftTest.java
Owners: @camunda/zeebe-distributed-platform

fix: include members ready check after restart on replication loop
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RandomizedRaftTest.java
Owners: @camunda/zeebe-distributed-platform

fix: include members ready check after restart on replication loop
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/RandomizedRaftTest.java
Owners: @camunda/zeebe-distributed-platform

feat: add migration functionality to operate test client
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestRestOperateClient.java
Owners: none

test: add Operate PI migration E2E test
  qa/acceptance-tests/pom.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateProcessInstanceMigrationIT.java
  qa/acceptance-tests/src/test/resources/process/migration-subprocess.bpmn
  qa/acceptance-tests/src/test/resources/process/migration-subprocess2.bpmn
Owners: none

test: add authorization for client
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateProcessInstanceMigrationIT.java
Owners: none

fix: use right path
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateProcessInstanceMigrationIT.java
Owners: none

fix: use correct parameters and path
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestRestOperateClient.java
Owners: none

test: use filter in query
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateProcessInstanceMigrationIT.java
Owners: none

refactor: make use of MultiDbTest in test
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateProcessInstanceMigrationIT.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestRestOperateClient.java
Owners: none

test: extend test helper to wait for PIs based on filter and assertion
  qa/acceptance-tests/src/test/java/io/camunda/it/util/TestHelper.java
Owners: none

test: consider failure case
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateProcessInstanceMigrationIT.java
Owners: none

test: make it possible to disable auth in TestCamundaApplication
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestCamundaApplication.java
Owners: none

test: fix OperateProcessInstanceCancellationIT
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateProcessInstanceMigrationIT.java
Owners: none

test: extend test operate client to support cancellation of processes via batch
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestRestOperateClient.java
Owners: none

test: extend test operate client to just ignore 404 when waiting for PI
  qa/acceptance-tests/src/test/java/io/camunda/it/util/TestHelper.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestRestOperateClient.java
Owners: none

test: add new Operate IT for cancellation of PIs in legacy batch engine
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateProcessInstanceCancellationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/util/TestHelper.java
Owners: none

test: fixed dependency problems
  qa/acceptance-tests/pom.xml
  qa/util/pom.xml
Owners: none

feat: Add auth checks for process instance
  db/rdbms/pom.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/FlowNodeInstanceDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/ProcessInstanceDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/VariableDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/security/RdbmsResourceAccessController.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/FlowNodeInstanceDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/ProcessInstanceDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/VariableDbReader.java
  db/rdbms/src/main/resources/mapper/FlowNodeInstanceMapper.xml
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
  db/rdbms/src/main/resources/mapper/VariableMapper.xml
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/auth/DocumentBasedResourceAccessController.java
  search/search-client/src/main/java/io/camunda/search/clients/auth/AbstractResourceAccessController.java
  security/security-core/src/main/java/io/camunda/security/reader/ResourceAccessChecks.java
Owners: none

fix: replace old authentication config with new
  dist/src/main/config/application.yaml
Owners: none

feat: add other default security properties
  dist/src/main/config/application.yaml
Owners: none

feat: default to not controlling socket buffer size
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  dist/src/main/config/gateway.yaml.template
  dist/src/main/java/io/camunda/application/commons/configuration/GatewayBasedConfiguration.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/MessagingConfig.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering/ClusterConfigFactory.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/NetworkCfg.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/configuration/BrokerCfgTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/configuration/ClusterCfg.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/configuration/ConfigurationDefaults.java
Owners: @camunda/zeebe-distributed-platform

feat: add grafana panel for importer backlog
  monitor/grafana/dashboards/data_layer.json
Owners: none

feat: Add auth checks for process and decision
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/DecisionDefinitionDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/DecisionInstanceDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/DecisionRequirementsDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/ProcessDefinitionDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/DecisionDefinitionDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/DecisionInstanceDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/DecisionRequirementsDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/ProcessDefinitionDbReader.java
  db/rdbms/src/main/resources/mapper/DecisionDefinitionMapper.xml
  db/rdbms/src/main/resources/mapper/DecisionInstanceMapper.xml
  db/rdbms/src/main/resources/mapper/DecisionRequirementsMapper.xml
  db/rdbms/src/main/resources/mapper/ProcessDefinitionMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/DecisionAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/DecisionInstanceAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/ProcessAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/ProcessInstanceAuthorizationIT.java
Owners: none

feat: remove old multitenancy configuration from broker.yaml
  dist/src/main/config/broker.standalone.yaml.template
Owners: none

fix: increase timeout value to avoid premature cancelation
  .github/workflows/zeebe-aws-os-dispatch-tests.yml
Owners: none

feat: add grafana panel for importer backlog
  monitor/grafana/dashboards/data_layer.json
Owners: none

fix: added legacy batch operation types to batch operation type enums #35998
  clients/java/src/main/java/io/camunda/client/api/search/enums/BatchOperationType.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Owners: @camunda/docs-api-reviewers

deps(identity): update identity to 8.6.18
  parent/pom.xml
Owners: none

feat: Handle enabled but empty auth checks
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/DecisionDefinitionDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/DecisionInstanceDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/DecisionRequirementsDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/FlowNodeInstanceDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/ProcessDefinitionDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/ProcessInstanceDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/VariableDbReader.java
Owners: none

fix: Fix ambiguous column names
  db/rdbms/src/main/resources/mapper/FlowNodeInstanceMapper.xml
Owners: none

refactor: apply review comments
  qa/c8-orchestration-cluster-e2e-test-suite/pages/OperateDiagramPage.ts
  qa/c8-orchestration-cluster-e2e-test-suite/pages/OperateFiltersPanelPage.ts
  qa/c8-orchestration-cluster-e2e-test-suite/tests/operate/processInstancesFilters.spec.ts
Owners: none

refactor: introduce constant for auto buffer sizes
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/MessagingConfig.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
Owners: @camunda/zeebe-distributed-platform

refactor: remove connection pool size leftovers
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/MessagingConfig.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/ChannelPool.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/ChannelPoolTest.java
Owners: @camunda/zeebe-distributed-platform

test: add ADD_VARIABLE test to check if legacy BO can be fetched from the new API #35998
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateProcessInstanceAddVariableIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateProcessInstanceMigrationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/util/TestHelper.java
  qa/util/pom.xml
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestRestOperateClient.java
Owners: none

feat: add a short note instructing users to look at the other setting
  dist/src/main/config/application.yaml
Owners: none

feat: add more context to the authentication section
  dist/src/main/config/application.yaml
Owners: none

feat: add tu api with aggregated results
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/mapper/UsageMetricTUEntityMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/UsageMetricTUDbReader.java
  dist/src/main/java/io/camunda/application/commons/search/SearchClientDatabaseConfiguration.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/reader/UsageMetricsTUDocumentReader.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/ServiceTransformers.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/aggregation/result/UsageMetricsTUAggregationResultTransformer.java
  search/search-client-reader/src/main/java/io/camunda/search/clients/reader/SearchClientReaders.java
  search/search-client/src/main/java/io/camunda/search/clients/CamundaSearchClients.java
  search/search-client/src/main/java/io/camunda/search/clients/UsageMetricsSearchClient.java
  search/search-client/src/main/java/io/camunda/search/clients/impl/NoDBSearchClientsProxy.java
  search/search-client/src/main/java/io/camunda/search/clients/impl/NoopSearchClientsProxy.java
  search/search-domain/src/main/java/io/camunda/search/aggregation/result/UsageMetricsTUAggregationResult.java
  search/search-domain/src/main/java/io/camunda/search/entities/UsageMetricTUStatisticsEntity.java
  service/src/main/java/io/camunda/service/UsageMetricsServices.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/system/UsageMetricsControllerTest.java
Owners: none

feat: change tu export logic using UsageMetricsTUAggregation
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/mapper/UsageMetricTUEntityMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/UsageMetricTUDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/UsageMetricTUMapper.java
  dist/src/main/java/io/camunda/application/commons/search/SearchClientReaderConfiguration.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/usagemetrics/UsageMetricsIT.java
  search/search-client-elasticsearch/src/main/java/io/camunda/search/es/transformers/aggregator/SearchAggregationResultTransformer.java
  search/search-client-opensearch/src/main/java/io/camunda/search/os/transformers/aggregator/SearchAggregationResultTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/reader/UsageMetricsTUDocumentReader.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/ServiceTransformers.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/aggregation/UsageMetricsTUAggregationTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/aggregation/result/UsageMetricsTUAggregationResultTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/UsageMetricsTUFilterTransformer.java
  search/search-client-reader/src/main/java/io/camunda/search/clients/reader/UsageMetricsTUReader.java
  search/search-client/src/main/java/io/camunda/search/clients/CamundaSearchClients.java
  search/search-client/src/main/java/io/camunda/search/clients/UsageMetricsSearchClient.java
  search/search-client/src/main/java/io/camunda/search/clients/impl/NoDBSearchClientsProxy.java
  search/search-client/src/main/java/io/camunda/search/clients/impl/NoopSearchClientsProxy.java
  search/search-domain/src/main/java/io/camunda/search/aggregation/UsageMetricsTUAggregation.java
  search/search-domain/src/main/java/io/camunda/search/filter/FilterBuilders.java
  search/search-domain/src/main/java/io/camunda/search/filter/UsageMetricsTUFilter.java
  search/search-domain/src/main/java/io/camunda/search/query/UsageMetricsQueryMapper.java
  search/search-domain/src/main/java/io/camunda/search/query/UsageMetricsTUQuery.java
  service/src/main/java/io/camunda/service/UsageMetricsServices.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/UsageMetricHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/UsageMetricExportHandler.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
Owners: none

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity
