Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

fix: Revert use of virtual threads for gRPC executor due to ES issue
  dist/src/main/config/gateway.yaml.template
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/Gateway.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/configuration/ThreadsCfg.java
Owners: none

fix: Carbon TS types
  operate/client/package-lock.json
  operate/client/package.json
  operate/client/src/App/Decisions/InstancesTable/index.tsx
  operate/client/src/App/Login/LoadingSpinner.tsx
  operate/client/src/App/Login/index.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/index.tsx
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/v2/index.tsx
  operate/client/src/App/ProcessInstance/IncidentsWrapper/IncidentsFilter/index.tsx
  operate/client/src/App/ProcessInstance/IncidentsWrapper/IncidentsTable/index.tsx
  operate/client/src/App/Processes/ListView/Filters/ProcessVersionField.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/MigrateAction/v2/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/index.tsx
  operate/client/src/modules/components/ComboBox/index.tsx
  operate/client/src/modules/components/DataTable/index.tsx
  operate/client/src/modules/components/DateRangeField/DateRangeModal/DateInput/index.tsx
  operate/client/src/modules/components/PanelHeader/CopiableContent/index.tsx
  operate/client/src/modules/components/SortableTable/index.tsx
  operate/client/src/modules/types/carbon.d.ts
Owners: none

fix: Bump identity version to last released
  parent/pom.xml
Owners: none

refactor: allow configuring basic auth for worker/starter
  zeebe/benchmarks/project/src/main/java/io/camunda/zeebe/config/AppCfg.java
  zeebe/benchmarks/project/src/main/resources/application.conf
Owners: @camunda/zeebe-distributed-platform

refactor: centralize common client builder including authentication config
  zeebe/benchmarks/project/src/main/java/io/camunda/zeebe/App.java
  zeebe/benchmarks/project/src/main/java/io/camunda/zeebe/Starter.java
  zeebe/benchmarks/project/src/main/java/io/camunda/zeebe/Worker.java
  zeebe/benchmarks/project/src/main/java/io/camunda/zeebe/config/AuthCfg.java
Owners: @camunda/zeebe-distributed-platform

deps: bump zeebe and identity versions
  optimize/pom.xml
Owners: none

fix: missing dependency
  parent/pom.xml
  tasklist/qa/integration-tests/pom.xml
Owners: none

docs: adjust `CamundaUserResult` to contain all needed properties
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Owners: @camunda/docs-api-reviewers

fix: adjust `AuthenticationController` to use `CamundaUserResult`
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/authentication/AuthenticationController.java
Owners: none

fix: add `toCamundaUser` to response mapper
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
Owners: none

fix: add `getValue` method to ClusterMetadata + test
  security/security-core/src/main/java/io/camunda/security/entity/ClusterMetadata.java
  security/security-core/src/test/java/io/camunda/security/entity/ClusterMetadataTest.java
Owners: none

fix: adjust `AuthenticationControllerTest` method to ClusterMetadata + test
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/authentication/AuthenticationControllerTest.java
Owners: none

build: reverting to unsupported backwards compatibility to check diffs
  configuration/src/main/java/io/camunda/configuration/Elasticsearch.java
Owners: none

feat(global-variables): create new global variables using camunda client
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/GlobalVariableCreationRequestStep1.java
  clients/java/src/main/java/io/camunda/client/api/response/CreateGlobalVariableResponse.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/CreateGlobalVariableImpl.java
  clients/java/src/main/java/io/camunda/client/impl/http/DocumentDataConsumer.java
  clients/java/src/main/java/io/camunda/client/impl/http/TypedApiEntityConsumer.java
  clients/java/src/main/java/io/camunda/client/impl/response/CreateGlobalVariableResponseImpl.java
Owners: none

feat(global-variables): create new global variables in service
  service/src/main/java/io/camunda/service/VariableServices.java
Owners: none

feat(global-variables): create new broker request to create global variable
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport/commandapi/CommandApiRequestReader.java
Owners: @camunda/zeebe-distributed-platform

feat(global-variables): create global variable management in zeebe engine
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/EngineProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnBehaviorsImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/common/ExpressionProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/expression/CombinedEvaluationContext.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/expression/GlobalVariableEvaluationContext.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/expression/NamespacedContext.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/expression/ScopedEvaluationContext.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/expression/VariableStateEvaluationContext.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/GlobalVariableCreateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableStateEvaluationContextLookup.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/common/ExpressionProcessorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/ProcessValidationUtil.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/model/validation/ZeebeRuntimeValidationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/expression/GlobalVariableEvaluationContextTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/variable/GlobalVariableCreateTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/EngineRule.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/GlobalVariableClient.java
Owners: none

docs: update tag of usage-metrics endpoint to System
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Owners: @camunda/docs-api-reviewers

feat(global-variables): Add global variable Intent and Record, modify camunda distribution record
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/distribution/CommandDistributionRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/variable/GlobalVariableRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/GlobalVariableIntent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/Intent.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/GlobalVariableRecordValue.java
  zeebe/protocol/src/main/resources/protocol.xml
Owners: none

feat: camunda.system.* unified cfgs
  configuration/pom.xml
  configuration/src/main/java/io/camunda/configuration/Actor.java
  configuration/src/main/java/io/camunda/configuration/ActorIdleStrategyConfiguration.java
  configuration/src/main/java/io/camunda/configuration/Camunda.java
  configuration/src/main/java/io/camunda/configuration/System.java
  configuration/src/main/java/io/camunda/configuration/UnifiedConfigurationHelper.java
  configuration/src/main/java/io/camunda/configuration/Upgrade.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/ActorClockControlledPropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/BrokerBasedPropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/IdleStrategyPropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beans/ActorClockControlledProperties.java
  configuration/src/main/java/io/camunda/configuration/beans/BrokerBasedProperties.java
  configuration/src/main/java/io/camunda/configuration/beans/IdleStrategyBasedProperties.java
  configuration/src/test/java/io/camunda/configuration/SystemPropertiesTest.java
  dist/src/main/java/io/camunda/application/commons/CommonsModuleConfiguration.java
  dist/src/main/java/io/camunda/application/commons/actor/ActorClockConfiguration.java
  dist/src/main/java/io/camunda/application/commons/actor/ActorIdleStrategyConfiguration.java
  dist/src/test/java/io/camunda/zeebe/shared/IdleStrategyConfigTest.java
Owners: none

feat(global-variables): Modify Evaluation Context and FeelVariable Context to read global variable
  zeebe/expression-language/src/main/java/io/camunda/zeebe/el/EvaluationContext.java
  zeebe/expression-language/src/main/java/io/camunda/zeebe/el/impl/FeelVariableContext.java
Owners: none

feat(global-variables): Modify Gateway to add create global variable endpoint
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/VariableController.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerCreateGlobalVariableRequest.java
Owners: @camunda/docs-api-reviewers

fix: removed component scan
  dist/src/main/java/io/camunda/application/StandaloneBroker.java
  dist/src/main/java/io/camunda/application/StandaloneCamunda.java
  dist/src/main/java/io/camunda/application/StandaloneGateway.java
  dist/src/main/java/io/camunda/application/commons/CommonsModuleConfiguration.java
  dist/src/main/java/io/camunda/application/commons/actor/ActorClockConfiguration.java
  dist/src/main/java/io/camunda/application/commons/actor/ActorIdleStrategyConfiguration.java
  dist/src/test/java/io/camunda/application/commons/security/CamundaSecurityConfigurationTest.java
  dist/src/test/java/io/camunda/utils/UnifiedConfigurationTestBeans.java
  operate/qa/integration-tests/pom.xml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/ProbesTestIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/DecisionIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/metric/UsageMetricIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/modules/ModuleAbstractIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/ProcessInstanceRestServiceIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/OperateAbstractIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/j5templates/OperateSearchAbstractIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/j5templates/OperateZeebeSearchAbstractIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/BackupControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/InternalAPIErrorControllerIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/api/v1/dao/DaoRfc3339SerializationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/security/AuthorizationIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/zeebeimport/IncidentWithFailingOperationZeebeImportIT.java
  parent/pom.xml
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestCamundaApplication.java
  tasklist/qa/integration-tests/pom.xml
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/ProbesTestIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchConnectorBasicAuthIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticsearchConnectorBasicAuthNoClusterPrivilegesIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/it/ZeebeConnectorIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/modules/ModuleIntegrationTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchConnectorBasicAuthIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistIntegrationTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/IndexControllerIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/config/IdleStrategyConfigIT.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneGateway.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneIdentityMigration.java
Owners: none

feat(global-variables): add GLOBAL_VARIABLE to registry
  zeebe/stream-platform/src/main/java/io/camunda/zeebe/stream/impl/TypedEventRegistry.java
Owners: @camunda/zeebe-distributed-platform

style: use proper assertions
  zeebe/benchmarks/project/src/test/java/io/camunda/zeebe/config/ConfigTest.java
Owners: @camunda/zeebe-distributed-platform

feat(global-variables): add utils to read global variable records
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/GlobalVariableRecordStream.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/RecordingExporter.java
Owners: none

test: add config tests
  zeebe/benchmarks/project/src/test/java/io/camunda/zeebe/config/ConfigTest.java
  zeebe/benchmarks/project/src/test/resources/different-application.conf
Owners: @camunda/zeebe-distributed-platform

refactor: allow configuring an OAuth client
  zeebe/benchmarks/project/src/main/java/io/camunda/zeebe/config/AuthCfg.java
  zeebe/benchmarks/project/src/main/resources/application.conf
Owners: @camunda/zeebe-distributed-platform

refactor: configure client to use OAuth credentials provider
  zeebe/benchmarks/project/src/main/java/io/camunda/zeebe/App.java
Owners: @camunda/zeebe-distributed-platform

test: fix missing unified configuration
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/TestApplication.java
Owners: none

feat(global-variables): add integration test for global variable
  qa/acceptance-tests/src/test/java/io/camunda/it/client/VariableGlobalCreateTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CreateGlobalVariableTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/util/ZeebeResourcesHelper.java
Owners: none

deps: revert bump to identity version
  optimize/pom.xml
Owners: none

test: add config tests
  zeebe/benchmarks/project/src/test/java/io/camunda/zeebe/config/ConfigTest.java
  zeebe/benchmarks/project/src/test/resources/different-application.conf
Owners: @camunda/zeebe-distributed-platform

refactor: fixing style violation
  security/security-core/src/test/java/io/camunda/security/entity/ClusterMetadataTest.java
Owners: none

feat: Add new config properties for batch operation ttl in rdbms
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriterConfig.java
  dist/src/main/resources/application-rdbmsMariaDB.yaml
  dist/src/main/resources/application-rdbmsOracle.yaml
  dist/src/main/resources/application-rdbmsPostgres.yaml
  qa/util/src/main/java/io/camunda/qa/util/multidb/MultiDbConfigurator.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/ExporterConfiguration.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
Owners: none

feat: Add HISTORY_CLEANUP_DATE to rdbms batch operation tables
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
Owners: none

docs: Add rdbms exporter example config to templates
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
Owners: none

feat: schedule batch operation cleanup in lifecycle handler
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/batchoperation/BatchOperationLifecycleManagementExportHandler.java
Owners: none

feat: extend HistoryCleanupService to support cleanup for batch operations + items
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriterFactory.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/BatchOperationWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/HistoryCleanupService.java
  db/rdbms/src/test/java/io/camunda/db/rdbms/write/service/BatchOperationWriterTest.java
  dist/src/main/java/io/camunda/application/commons/rdbms/RdbmsConfiguration.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterWrapper.java
Owners: none

test: add tests for history cleanup of batch operations
  db/rdbms/src/test/java/io/camunda/db/rdbms/write/service/HistoryCleanupServiceTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/historycleanup/HistoryCleanupIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/HistoryCleanupIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/batchoperation/BatchOperationHistoryCleanupIT.java
Owners: none

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity
