Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

test: add process creation to test
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobBasedAdHocSubProcessTest.java
Owners: none

feat: MS Entra support in 8.8
  authentication/pom.xml
  authentication/src/main/java/io/camunda/authentication/config/CertificateBasedClientCredentialsTokenResponseClient.java
  authentication/src/main/java/io/camunda/authentication/config/CertificateBasedOAuth2AccessTokenResponseClient.java
  authentication/src/main/java/io/camunda/authentication/config/CertificateClientAssertionService.java
  authentication/src/main/java/io/camunda/authentication/config/CertificateKeyStoreLoader.java
  authentication/src/main/java/io/camunda/authentication/config/CertificateOidcProperties.java
  authentication/src/main/java/io/camunda/authentication/config/ClientAssertionUtils.java
  authentication/src/main/java/io/camunda/authentication/config/OidcClientRegistration.java
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/filters/CertificateBasedOAuth2Filter.java
  authentication/src/main/java/io/camunda/authentication/filters/RequestScopedAuthenticationRestorationFilter.java
  authentication/src/main/java/io/camunda/authentication/filters/WebComponentAuthorizationCheckFilter.java
  authentication/src/main/java/io/camunda/authentication/oauth/ClientAssertionConstants.java
  authentication/src/main/java/io/camunda/authentication/oauth/TokenResponse.java
  authentication/src/main/java/io/camunda/authentication/service/OidcCamundaUserService.java
  authentication/src/test/java/io/camunda/authentication/DefaultCamundaAuthenticationProviderTest.java
  authentication/src/test/java/io/camunda/authentication/config/CertificateBasedClientCredentialsTokenResponseClientTest.java
  authentication/src/test/java/io/camunda/authentication/config/CertificateBasedOAuth2AccessTokenResponseClientTest.java
  authentication/src/test/java/io/camunda/authentication/config/CertificateClientAssertionServiceTest.java
  authentication/src/test/java/io/camunda/authentication/config/CertificateKeyStoreLoaderTest.java
  authentication/src/test/java/io/camunda/authentication/config/controllers/WebSecurityOidcTestContext.java
  authentication/src/test/java/io/camunda/authentication/filters/CertificateBasedOAuth2FilterTest.java
  authentication/src/test/java/io/camunda/authentication/filters/RequestScopedAuthenticationRestorationFilterTest.java
  authentication/src/test/java/io/camunda/authentication/oauth/ClientAssertionConstantsTest.java
  clients/java/pom.xml
  clients/java/src/main/java/io/camunda/client/impl/oauth/ClientAssertionConstants.java
  clients/java/src/main/java/io/camunda/client/impl/oauth/OAuthCredentialsProvider.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/ClientAssertionConstants.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsProvider.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsProviderBuilder.java
  clients/java/src/test/java/io/camunda/zeebe/client/OAuthCredentialsProviderBuilderTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/OAuthCredentialsProviderTest.java
  clients/java/src/test/java/io/camunda/zeebe/client/impl/oauth/OAuthCredentialsProviderBuilderTest.java
  clients/java/src/test/resources/oauth/entra.jks
  dist/src/main/java/io/camunda/application/commons/search/NoSecondaryStorageResourceAccessConfiguration.java
  dist/src/main/java/io/camunda/webapps/controllers/WebappsRequestForwardManager.java
  operate/webapp/pom.xml
  security/security-core/src/main/java/io/camunda/security/configuration/OidcAuthenticationConfiguration.java
  service/src/main/java/io/camunda/service/MappingRuleServices.java
  tasklist/webapp/pom.xml
Owners: @camunda/identity

fix: build
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
Owners: none

fix: remove unneeded scope modification with /.default suffix
  authentication/src/main/java/io/camunda/authentication/config/OidcClientRegistration.java
Owners: none

fix: remove unneeded MappingRuleServices change
  service/src/main/java/io/camunda/service/MappingRuleServices.java
Owners: none

fix: remove unused auth0 dependencies
  operate/webapp/pom.xml
  tasklist/webapp/pom.xml
Owners: none

fix: remove unused unrelated change NoSecondaryStorageResourceAccessConfiguration
  dist/src/main/java/io/camunda/application/commons/search/NoSecondaryStorageResourceAccessConfiguration.java
Owners: none

fix: remove OidcCamundaUserService modification - the user fetching should work the same regardless of identity verification mechanism
  authentication/src/main/java/io/camunda/authentication/service/OidcCamundaUserService.java
Owners: none

feat: Add task migration submodule
  dist/pom.xml
  dist/src/main/java/io/camunda/application/Profile.java
  dist/src/main/java/io/camunda/application/StandaloneTaskMigration.java
  dist/src/main/java/io/camunda/application/commons/migration/AsyncMigrationsRunner.java
  dist/src/main/java/io/camunda/application/commons/migration/TaskMigrationModuleConfiguration.java
  migration/pom.xml
  migration/task-migration/pom.xml
  migration/task-migration/src/main/java/io/camunda/migration/task/TaskMigrator.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/MigrationRepositoryIndex.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/ReindexByUpdateScript.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/TaskMigrationAdapter.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/TaskMigrationStep.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/es/ElasticsearchAdapter.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/os/OpensearchAdapter.java
  migration/task-migration/src/main/java/io/camunda/migration/task/config/TaskMigrationProperties.java
  migration/task-migration/src/main/java/io/camunda/migration/task/util/MigrationUtil.java
  migration/task-migration/src/main/java/io/camunda/migration/task/util/TaskMigrationMetricRegistry.java
  parent/pom.xml
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/TaskTemplate.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/template/tasklist-task.json
Owners: none

fix: remove unused CertificateOidcProperties, unused bean injection, and user/pass converter from oidc flow
  authentication/src/main/java/io/camunda/authentication/config/CertificateOidcProperties.java
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/test/java/io/camunda/authentication/config/controllers/WebSecurityOidcTestContext.java
Owners: none

ci: sign cherry-picked commits by backport-action
  .github/workflows/backport.yml
Owners: @camunda/monorepo-devops-team

ci: pin backport-action version by sha
  .github/workflows/backport.yml
Owners: @camunda/monorepo-devops-team

ci: (step 1) create aggregration workflow and log gathered data
  .github/actions/update-flaky-tests-comment/action.yml
  .github/workflows/ci.yml
Owners: @camunda/monorepo-devops-team

ci: (step 2) implement flaky tests data collection
  .github/actions/update-flaky-tests-comment/action.yml
  .github/workflows/ci.yml
Owners: @camunda/monorepo-devops-team

ci: (step 3.1) Create comment with data of single run (no memoization)
  .github/actions/update-flaky-tests-comment/action.yml
  .github/actions/update-flaky-tests-comment/src/comment-generator.js
Owners: none

ci: (PoC) add tear down after each pipeline run
  .github/workflows/ci.yml
Owners: @camunda/monorepo-devops-team

ci: (PoC) use cloudposse GHA matrix output to gather matrix outputs
  .github/workflows/ci.yml
Owners: @camunda/monorepo-devops-team

refactor: update flaky tests comment code
  .github/actions/update-flaky-tests-comment/action.yml
Owners: none

refactor: improve how summary is generated
  .github/actions/update-flaky-tests-comment/src/comment-generator.js
  .github/actions/update-flaky-tests-comment/src/helpers.js
Owners: none

ci: order flaky tests by highest percentage
  .github/actions/update-flaky-tests-comment/src/comment-generator.js
  .github/actions/update-flaky-tests-comment/src/helpers.js
Owners: none

fix: split tests by line and space and remove numbered test name sufix
  .github/actions/update-flaky-tests-comment/action.yml
Owners: none

ci: insert one more flaky test
  qa/acceptance-tests/src/test/java/io/camunda/it/client/FlakySearchTest.java
Owners: none

refactor: improve collect flaky tests code
  .github/workflows/ci.yml
Owners: @camunda/monorepo-devops-team

ci: (step 3.2) Add <<memoization>> logic to increase number of flakyness counter
  .github/actions/update-flaky-tests-comment/action.yml
  .github/actions/update-flaky-tests-comment/src/comment-generator.js
Owners: none

ci: add hyperlink to each flaky test
  .github/actions/update-flaky-tests-comment/action.yml
  .github/actions/update-flaky-tests-comment/src/comment-generator.js
  .github/workflows/ci.yml
Owners: @camunda/monorepo-devops-team

fix: simplify payload by including package in each flaky test entry
  .github/actions/update-flaky-tests-comment/action.yml
  .github/actions/update-flaky-tests-comment/src/comment-generator.js
  .github/actions/update-flaky-tests-comment/src/helpers.js
Owners: none

refactor: Improve modularity and readability
  .github/actions/update-flaky-tests-comment/action.yml
  .github/actions/update-flaky-tests-comment/src/flaky-tests-comment-generator.js
  .github/actions/update-flaky-tests-comment/src/flaky-tests-data-processor.js
  .github/actions/update-flaky-tests-comment/src/github-api.js
  .github/actions/update-flaky-tests-comment/src/helpers.js
Owners: none

ci: refactor flaky summary comment code
  .github/actions/collect-flaky-tests/action.yml
  .github/actions/collect-flaky-tests/scripts/collect-flaky-tests.sh
  .github/actions/flaky-tests-summary-comment/action.yml
  .github/actions/flaky-tests-summary-comment/src/flaky-tests-comment-generator.js
  .github/actions/flaky-tests-summary-comment/src/flaky-tests-data-processor.js
  .github/actions/flaky-tests-summary-comment/src/github-api.js
  .github/actions/flaky-tests-summary-comment/src/helpers.js
  .github/actions/update-flaky-tests-comment/action.yml
  .github/conftest-unified-ci-rules.rego
  .github/workflows/ci.yml
  qa/acceptance-tests/src/test/java/io/camunda/it/client/FlakySearchTest.java
Owners: @camunda/monorepo-devops-team

fix: method name
  .github/actions/update-flaky-tests-comment/action.yml
Owners: none

refactor: Add package and class as items after flaky test name in report
  .github/actions/update-flaky-tests-comment/src/comment-generator.js
  .github/actions/update-flaky-tests-comment/src/helpers.js
Owners: none

ci: add readme and owner to actions
  .github/actions/collect-flaky-tests/README.md
  .github/actions/flaky-tests-summary-comment/README.md
  .github/actions/flaky-tests-summary-comment/action.yml
Owners: none

fix: copilot code review
  .github/actions/collect-flaky-tests/scripts/collect-flaky-tests.sh
  .github/actions/flaky-tests-summary-comment/src/flaky-tests-comment-generator.js
Owners: none

fix: maven spotless for readme
  .github/actions/collect-flaky-tests/README.md
  .github/actions/flaky-tests-summary-comment/README.md
Owners: none

refactor: extract load logic into OpenApiYamlLoader
  docs/rest-controller.md
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiResourceConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/util/OpenApiYamlLoader.java
Owners: @camunda/docs-api-reviewers

fix: remove version tag requirement when deleting backup
  webapps-backup/src/main/java/io/camunda/webapps/backup/BackupServiceImpl.java
  webapps-backup/src/main/java/io/camunda/webapps/backup/Metadata.java
  webapps-backup/src/test/java/io/camunda/webapps/backup/BackupServiceImplTest.java
Owners: none

feat: add command-api to unified configuration
  configuration/src/main/java/io/camunda/configuration/CommandApi.java
  configuration/src/main/java/io/camunda/configuration/Network.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/BrokerBasedPropertiesOverride.java
  configuration/src/test/java/io/camunda/configuration/ClusterNetworkCommandApiTest.java
Owners: none

ci: fix empty comment
  .github/actions/flaky-tests-summary-comment/src/flaky-tests-comment-generator.js
Owners: none

fix: adjust test
  authentication/src/test/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilterTest.java
Owners: none

feat: introduce a filter to refresh camunda authentication
  authentication/src/main/java/io/camunda/authentication/DefaultCamundaAuthenticationProvider.java
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
  security/security-core/src/main/java/io/camunda/security/auth/CamundaAuthenticationProvider.java
Owners: none

feat: introduce a filter to refresh camunda authentication
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
  authentication/src/main/java/io/camunda/authentication/filters/SessionAuthenticationRefreshFilter.java
Owners: none

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity
