Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity

build: prepare release 8.8.0-alpha7-optimize
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Owners: none

build: prepare for next development iteration
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Owners: none

style: fix spotless errors
  optimize-distro/pom.xml
  optimize/upgrade/pom.xml
Owners: none

deps: bump zeebe and identity versions
  optimize/pom.xml
Owners: none

build: prepare release 8.8.0-alpha7-optimize
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Owners: none

build: prepare for next development iteration
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Owners: none

style: fix spotless errors
  optimize-distro/pom.xml
  optimize/upgrade/pom.xml
Owners: none

build: prepare for next development iteration
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Owners: none

ci: remove auto generated release notes
  .github/workflows/optimize-release-optimize-c8-only.yml
Owners: none

style: fix spotless checks
  optimize-distro/pom.xml
  optimize/upgrade/pom.xml
Owners: none

ci: add mvn clean to workflow
  .github/workflows/optimize-release-optimize-c8-only.yml
Owners: none

build: prepare release 8.8.0-alpha7-optimize
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Owners: none

ci: reposition clean release step
  .github/workflows/optimize-release-optimize-c8-only.yml
Owners: none

style: fix spotless errors
  optimize-distro/pom.xml
  optimize/upgrade/pom.xml
Owners: none

build: prepare for next development iteration
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Owners: none

ci: use mvnw instead mvn
  .github/workflows/optimize-release-optimize-c8-only.yml
Owners: none

test: fix flaky ES/OS exporter IT tests
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterIT.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/TestClient.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterIT.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/TestClient.java
Owners: none

refactor: Refactor operations component
  operate/client/src/App/ProcessInstance/ModificationSummaryModal/Messages/Error.tsx
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/ProcessInstanceOperations.tsx
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/index.tsx
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/processInstanceOperationsContext.ts
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/tests/index.test.tsx
  operate/client/src/App/ProcessInstance/index.tsx
  operate/client/src/modules/components/Operations/v2/Cancel.test.tsx
  operate/client/src/modules/components/Operations/v2/Cancel.tsx
  operate/client/src/modules/components/Operations/v2/Delete.tsx
  operate/client/src/modules/components/Operations/v2/OperationRenderer.tsx
  operate/client/src/modules/components/Operations/v2/ResolveIncident.test.tsx
  operate/client/src/modules/components/Operations/v2/ResolveIncident.tsx
  operate/client/src/modules/components/Operations/v2/ResolveIncidentLegacy.tsx
  operate/client/src/modules/components/Operations/v2/buttons.test.tsx
  operate/client/src/modules/components/Operations/v2/cancel-operation.test.tsx
  operate/client/src/modules/components/Operations/v2/index.test.tsx
  operate/client/src/modules/components/Operations/v2/index.tsx
  operate/client/src/modules/components/Operations/v2/mocks.tsx
  operate/client/src/modules/components/Operations/v2/notification.test.tsx
  operate/client/src/modules/components/Operations/v2/spinner.test.tsx
  operate/client/src/modules/components/Operations/v2/types.ts
  operate/client/src/modules/queries/callHierarchy/useCallHierarchy.ts
  operate/client/src/modules/queries/callHierarchy/useRootInstanceId.ts
Owners: none

test: Fix process instance header test
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/tests/index.test.tsx
Owners: none

fix: fix active operation polling
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/ProcessInstanceOperations.tsx
  operate/client/src/modules/api/v2/batchOperations/getBatchOperation.ts
  operate/client/src/modules/mutations/processInstance/useCancelProcessInstance.tsx
  operate/client/src/modules/mutations/processInstance/useCreateIncidentResolutionBatchOperation.tsx
  operate/client/src/modules/mutations/processInstance/useHasActiveBatchOperationMutation.tsx
  operate/client/src/modules/queries/processInstance/useProcessInstance.ts
Owners: none

test: Add process instance operations test
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/ProcessInstanceOperations.test.tsx
Owners: none

Fix issues
  operate/client/src/App/Decisions/InstancesTable/index.tsx
  operate/client/src/App/ProcessInstance/IncidentsWrapper/index.tsx
  operate/client/src/App/ProcessInstance/TopPanel/IncidentsBanner/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/v2/index.tsx
Owners: none

fix: correct dependencies to fix ci errors
  identity/client/yarn.lock
Owners: none

BACKPORT-CONFLICT
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/v2/multiInstanceSubprocess.test.tsx
Owners: none

BACKPORT-CONFLICT
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/v2/multiInstanceSubprocess.test.tsx
Owners: none

BACKPORT-CONFLICT
  operate/client/src/App/ProcessInstance/FlowNodeInstancesTree/v2/multiInstanceSubprocess.test.tsx
Owners: none

feat: backport changes from 36305 to stable 8.7
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/useOperationApply/index.setup.ts
  operate/client/src/App/Processes/ListView/InstancesTable/useOperationApply/index.test.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/useOperationApply/index.ts
  operate/client/src/modules/stores/processInstancesSelection.ts
Owners: none

feat: backport changes from 36305 to stable 8.6
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/useOperationApply/index.setup.ts
  operate/client/src/App/Processes/ListView/InstancesTable/useOperationApply/index.test.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/useOperationApply/index.ts
  operate/client/src/modules/stores/processInstancesSelection.ts
Owners: none

feat: backport changes from 36305 to stable operate-8.5
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/useOperationApply/index.setup.ts
  operate/client/src/App/Processes/ListView/InstancesTable/useOperationApply/index.test.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/useOperationApply/index.ts
  operate/client/src/modules/stores/processInstancesSelection.ts
Owners: none

test: add extra filter to test utility to avoid flaky tests due to matching table head cells
  qa/c8-orchestration-cluster-e2e-test-suite/utils/waitForItemInList.ts
Owners: none

refactor: test cleanup
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/OidcAuthOverRestIT.java
Owners: none

refactor: add `awaitility` dependency
  authentication/pom.xml
Owners: @camunda/identity

fix: add a helper class that would act as a proxy
  authentication/src/main/java/io/camunda/authentication/config/SafeInitProxy.java
Owners: none

test: unit test for the new proxy class
  authentication/src/test/java/io/camunda/authentication/config/SafeInitProxyTest.java
Owners: none

fix: add a wrapper for `ClientRegistrationRepository`
  authentication/src/main/java/io/camunda/authentication/config/SafeInitClientRegistrationRepository.java
Owners: none

fix: add a wrapper for `JwtDecoder`
  authentication/src/main/java/io/camunda/authentication/config/SafeInitJwtDecoder.java
Owners: none

refactor: adjust `RoleControllerTest` to be in line with the agreed pattern
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleControllerTest.java
Owners: none

test: ensure we use the AMD64 image for comparison
  .github/workflows/ci.yml
Owners: @camunda/monorepo-devops-team

test: check if building amd64 last speeds things up
  .github/actions/execute-healthcheck-and-push-image/action.yml
  .github/workflows/camunda-platform-release.yml
  .github/workflows/ci.yml
  .github/workflows/operate-ci-build-reusable.yml
  .github/workflows/tasklist-ci-build-reusable.yml
  .github/workflows/zeebe-ci.yml
Owners: @camunda/monorepo-devops-team, @camunda/core-features

test: add job to compare results
  .github/workflows/ci.yml
Owners: @camunda/monorepo-devops-team
