Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity

feat: add data backup s3 properties to unified configuration
  configuration/src/main/java/io/camunda/configuration/Backup.java
  configuration/src/main/java/io/camunda/configuration/Data.java
  configuration/src/main/java/io/camunda/configuration/S3.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/BrokerBasedPropertiesOverride.java
  configuration/src/test/java/io/camunda/configuration/DataBackupS3Test.java
Owners: none

fix: remove dot from prefix
  configuration/src/main/java/io/camunda/configuration/S3.java
Owners: none

refactor: fix style errors
  authentication/pom.xml
  authentication/src/test/java/io/camunda/authentication/config/SafeInitProxyTest.java
Owners: @camunda/identity

test: allow self assignment
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/BackupRestoreTest.java
Owners: none

fix: updated api tests for alpha 7
  c8run/.env
Owners: @camunda/distribution

refactor: fix style error
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/OidcAuthOverRestStartupIT.java
Owners: none

fix: update version to 8.6.24
  c8run/.env
Owners: @camunda/distribution

fix: bump versions
  c8run/.env
Owners: @camunda/distribution

fix: the different application audiences in Management Identity can have the same value
  migration/identity-migration/src/main/java/io/camunda/migration/identity/config/sm/StaticEntities.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/handler/sm/ClientMigrationHandler.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/handler/sm/RoleMigrationHandler.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/handler/sm/OidcRoleMigrationHandlerTest.java
Owners: none

WIP: decision evaluation schema refactor
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Owners: @camunda/docs-api-reviewers

feat: Add RDBMS support for message subscription
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/RdbmsService.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/MessageSubscriptionDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/mapper/MessageSubscriptionEntityMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/MessageSubscriptionDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/MessageSubscriptionMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/columns/MessageSubscriptionColumn.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriterFactory.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/MessageSubscriptionDbModel.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/queue/ContextType.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/MessageSubscriptionWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/RdbmsPurger.java
  db/rdbms/src/main/resources/mapper/MessageSubscriptionMapper.xml
  db/rdbms/src/test/java/io/camunda/db/rdbms/read/mapper/MessageSubscriptionEntityMapperTest.java
  db/rdbms/src/test/java/io/camunda/db/rdbms/sql/columns/SearchColumnTest.java
  dist/src/main/java/io/camunda/application/commons/rdbms/MyBatisConfiguration.java
  dist/src/main/java/io/camunda/application/commons/rdbms/RdbmsConfiguration.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/exporter/RdbmsExporterIT.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterWrapper.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/MessageSubscriptionExportHandler.java
Owners: none

refactor: extract update index settings logic in the schema manager
  tasklist/els-schema/src/main/java/io/camunda/tasklist/es/IndexSchemaValidatorElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/es/RetryElasticsearchClient.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/os/IndexSchemaValidatorOpenSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/os/RetryOpenSearchClient.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/IndexSchemaValidator.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/SchemaStartup.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/ElasticsearchSchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/OpenSearchSchemaManager.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/manager/SchemaManager.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchSchemaManagementIT.java
Owners: none

fix: hide mapping rules ui for SaaS
  identity/client/src/components/global/useGlobalRoutes.tsx
  identity/client/src/configuration/index.ts
  identity/client/src/types/global.d.ts
Owners: none

feat: adding a response for the command to assign client to tenant
  clients/java/src/main/java/io/camunda/client/api/response/AssignClientToTenantResponse.java
Owners: none

test: unit test for client command that assigns client to tenant
  clients/java/src/test/java/io/camunda/client/tenant/AssignClientToTenantTest.java
Owners: none

feat: add a command steps to assign client to tenant
  clients/java/src/main/java/io/camunda/client/api/command/AssignClientToTenantCommandStep1.java
Owners: none

feat: an implementation for client command that assigns client to tenant
  clients/java/src/main/java/io/camunda/client/impl/command/AssignClientToTenantCommandImpl.java
Owners: none

feat: add a command to assign client to tenant
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
Owners: none

test: improve retention policy verification in SchemaManagerIT
  schema-manager/src/test/java/io/camunda/search/schema/SchemaManagerIT.java
Owners: none

feat: add support for index-specific ILM policies creation
  schema-manager/src/main/java/io/camunda/search/schema/SchemaManager.java
  schema-manager/src/test/java/io/camunda/search/schema/SchemaManagerIT.java
Owners: none

refactor: clarify versioned index pattern constant
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepository.java
Owners: none

feat: add index-specific retention policy configuration support
  schema-manager/src/main/java/io/camunda/search/schema/config/IndexRetentionPolicy.java
  schema-manager/src/main/java/io/camunda/search/schema/config/RetentionConfiguration.java
Owners: none

feat: improve index policy configuration efficiency
  dist/src/main/resources/application-elasticsearch.yaml
  dist/src/main/resources/application-opensearch.yaml
  schema-manager/src/main/java/io/camunda/search/schema/SchemaManager.java
  schema-manager/src/main/java/io/camunda/search/schema/config/IndexRetentionPolicy.java
  schema-manager/src/test/java/io/camunda/search/schema/SchemaManagerIT.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepository.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepository.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepositoryIT.java
Owners: none

feat: prevent duplicate retention policy names configuration
  schema-manager/src/main/java/io/camunda/search/schema/config/RetentionConfiguration.java
  schema-manager/src/test/java/io/camunda/search/schema/config/RetentionConfigurationTest.java
Owners: none

feat: apply index-specific lifecycle policies (OpenSearch)
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepository.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepositoryIT.java
Owners: none

feat: add index-specific retention policies for usage metrics
  dist/src/main/resources/application-elasticsearch.yaml
  dist/src/main/resources/application-opensearch.yaml
Owners: none

feat: apply index-specific lifecycle policies (Elasticsearch)
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepository.java
Owners: none

test: add coverage for applying index-specific ILM policies
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepositoryIT.java
Owners: none

feat: preserve policy declaration order and apply last matching
  schema-manager/src/main/java/io/camunda/search/schema/SchemaManager.java
  schema-manager/src/main/java/io/camunda/search/schema/config/IndexRetentionPolicy.java
  schema-manager/src/main/java/io/camunda/search/schema/config/RetentionConfiguration.java
  schema-manager/src/test/java/io/camunda/search/schema/SchemaManagerIT.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepository.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepositoryIT.java
Owners: none

test: adding assign client to tenant Auth Tests
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/TenantAuthorizationIT.java
Owners: none

test: adding assign client to tenant Integration Tests
  qa/acceptance-tests/src/test/java/io/camunda/it/client/ClientsByTenantIntegrationTest.java
Owners: none

test: include identity setup in authorization test
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCancelAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceModificationModifyAuthorizationTest.java
Owners: none

feat: introduce new process instance permissions
  security/security-protocol/src/main/java/io/camunda/zeebe/protocol/record/value/PermissionType.java
Owners: none

fix: check cancel process instance permission
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCancelProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/CancelProcessInstanceBatchExecutorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCancelAuthorizationTest.java
Owners: none

fix: check modify process instance permission
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceModificationModifyProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceModificationModifyAuthorizationTest.java
Owners: none

fix: give admin roles modify instance permission
  security/security-protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AuthorizationResourceType.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeDefaultsTest.java
Owners: none

fix: give admin roles cancel instance permission
  security/security-protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AuthorizationResourceType.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeDefaultsTest.java
Owners: none

fix: extend the rest-api with new permissions
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Owners: @camunda/docs-api-reviewers

fix: extend camunda client with new permissions
  clients/java/src/main/java/io/camunda/client/api/search/enums/PermissionType.java
Owners: none

test: add permissions to migration developer role
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/SaaSIdentityMigrationIT.java
Owners: none
