Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity

refactor: move fromAi() function extraction logic to zeebe-feel-integration module
  zeebe/engine/pom.xml
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/deployment/model/transformer/AdHocSubProcessTransformer.java
  zeebe/feel/pom.xml
  zeebe/feel/src/main/java/io/camunda/zeebe/feel/impl/FeelFunctionProvider.java
  zeebe/feel/src/main/java/io/camunda/zeebe/feel/impl/FromAiFunction.java
  zeebe/feel/src/main/java/io/camunda/zeebe/feel/impl/parameter/FromAiTaggedParameterExtractor.java
  zeebe/feel/src/main/java/io/camunda/zeebe/feel/impl/parameter/FunctionInvocationTaggedParameterExtractor.java
  zeebe/feel/src/main/java/io/camunda/zeebe/feel/impl/parameter/TaggedParameter.java
  zeebe/feel/src/main/java/io/camunda/zeebe/feel/impl/parameter/TaggedParameterExtractor.java
  zeebe/feel/src/test/java/io/camunda/zeebe/feel/impl/parameter/TaggedParameterExtractorTest.java
Owners: none

fix: authorizations must be plural
  dist/src/main/config/application.yaml
Owners: none

fix: disable newly introduced but flaky test #35023
  qa/acceptance-tests/src/test/java/io/camunda/it/historycleanup/HistoryCleanupIT.java
Owners: none

refactor: groups are not migrated as BYOG is enabled in SM setup
  migration/identity-migration/src/main/java/io/camunda/migration/identity/client/ManagementIdentityClient.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/config/sm/SMKeycloakMigrationHandlerConfig.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/handler/sm/GroupAuthorizationMigrationHandler.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/handler/sm/GroupAuthorizationMigrationHandlerTest.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/handler/sm/SMKeycloakMigrationHandlerConfigTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/KeycloakIdentityMigrationIT.java
Owners: none

feat: add queries for cancel and retry batch operations
  operate/client/src/modules/api/v2/processInstances/cancelProcessInstancesBatchOperation.ts
  operate/client/src/modules/api/v2/processInstances/resolveProcessInstancesIncidentsBatchOperation.ts
  operate/client/src/modules/mocks/api/v2/processInstances/cancelProcessInstancesBatchOperation.ts
  operate/client/src/modules/mocks/api/v2/processInstances/resolveProcessInstancesIncidentsBatchOperation.ts
  operate/client/src/modules/mutations/processInstance/useCancelProcessInstancesBatchOperation.tsx
  operate/client/src/modules/mutations/processInstance/useResolveProcessInstancesIncidentsBatchOperation.tsx
Owners: none

feat: add store to backup
  configuration/src/main/java/io/camunda/configuration/Backup.java
  configuration/src/main/java/io/camunda/configuration/Data.java
  configuration/src/main/java/io/camunda/configuration/Filesystem.java
  configuration/src/main/java/io/camunda/configuration/UnifiedConfigurationHelper.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/BrokerBasedPropertiesOverride.java
  configuration/src/test/java/io/camunda/configuration/DataBackupPropertiesTest.java
Owners: none

build: prepare release 8.8.0-alpha7-optimize
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Owners: none

build: prepare for next development iteration
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Owners: none

feat: added a comment about the ctors
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientJobWorkerProperties.java
Owners: none

feat: add support for DeleteExporter request handling in broker (#35324)
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/PartitionManagerImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionConfigurationManager.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterDeleteTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/PartitionConfigurationManagerTest.java
Owners: @camunda/zeebe-distributed-platform

style: update improts
  operate/client/src/modules/mutations/processInstance/useCancelProcessInstancesBatchOperation.tsx
  operate/client/src/modules/mutations/processInstance/useResolveProcessInstancesIncidentsBatchOperation.tsx
Owners: none

style: align text block
  zeebe/test-util/src/test/java/io/camunda/zeebe/test/util/record/CompactRecordLoggerTest.java
Owners: none

refactor: replace mockito with immutable records
  zeebe/test-util/pom.xml
  zeebe/test-util/src/test/java/io/camunda/zeebe/test/util/record/CompactRecordLoggerTest.java
Owners: none

fix: mode should be method
  dist/src/main/config/application.yaml
Owners: none

docs: clarify value type exclusions
  zeebe/test-util/src/test/java/io/camunda/zeebe/test/util/record/CompactRecordLoggerTest.java
Owners: none

fix: format
  bom/README.md
Owners: none

feat: added spring sdk to bom
  bom/README.md
  bom/pom.xml
Owners: none

fix: add missing AD_HOC_SUB_PROCESS JobKind in gateway-protocol
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/ResponseMapperTest.java
  zeebe/gateway-protocol/src/main/proto/gateway.proto
Owners: none

Introduce incidents view as the right-side panel on process instance detail page
  operate/client/src/App/Layout/InstanceDetail/index.tsx
  operate/client/src/App/Layout/InstanceDetail/styled.tsx
  operate/client/src/App/ProcessInstance/IncidentsWrapper/IncidentsFilter/index.tsx
  operate/client/src/App/ProcessInstance/IncidentsWrapper/IncidentsFilter/styled.ts
  operate/client/src/App/ProcessInstance/IncidentsWrapper/IncidentsOverlay/styled.ts
  operate/client/src/App/ProcessInstance/IncidentsWrapper/index.tsx
  operate/client/src/App/ProcessInstance/IncidentsWrapper/styled.ts
  operate/client/src/App/ProcessInstance/IncidentsWrapper/tests/filtering.test.tsx
  operate/client/src/App/ProcessInstance/IncidentsWrapper/tests/index.test.tsx
  operate/client/src/App/ProcessInstance/IncidentsWrapper/tests/sorting.test.tsx
  operate/client/src/App/ProcessInstance/IncidentsWrapper/tiles/IncidentsTiles.tsx
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/index.tsx
  operate/client/src/App/ProcessInstance/TopPanel/IncidentsBanner/index.tsx
  operate/client/src/App/ProcessInstance/TopPanel/index.tsx
  operate/client/src/App/ProcessInstance/index.tsx
  operate/client/src/modules/components/PanelHeader/index.tsx
Owners: none

refactor: use zod schema validation
  operate/client/src/modules/validators/index.ts
  operate/client/src/modules/validators/tests/index.test.tsx
Owners: none

feat: filter process instances with tags
  clients/java/src/main/java/io/camunda/client/api/search/filter/ProcessInstanceFilter.java
  clients/java/src/main/java/io/camunda/client/api/search/filter/ProcessInstanceFilterBase.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/ProcessInstanceFilterImpl.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/TagsTest.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/ProcessInstanceFilterTransformer.java
  search/search-domain/src/main/java/io/camunda/search/filter/ProcessInstanceFilter.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
Owners: @camunda/docs-api-reviewers

test: add tests to check authorization behaviour in the DocumentService class
  service/src/test/java/io/camunda/service/DocumentServicesTest.java
Owners: none

feat: implement authorization checks for Document service classes
  dist/src/main/java/io/camunda/application/commons/service/CamundaServicesConfiguration.java
  security/security-core/src/main/java/io/camunda/security/auth/Authorization.java
  service/pom.xml
  service/src/main/java/io/camunda/service/DocumentServices.java
Owners: none

ci: add mvn clean to workflow
  .github/workflows/optimize-release-optimize-c8-only.yml
Owners: none

style: fix spotless errors
  optimize-distro/pom.xml
  optimize/upgrade/pom.xml
Owners: none

refactor: rename local variables, small improvements
  operate/client/src/modules/components/OperationsPanel/v2/OperationsEntry/OperationEntryStatus/index.test.tsx
  operate/client/src/modules/components/OperationsPanel/v2/OperationsEntry/OperationEntryStatus/index.tsx
  operate/client/src/modules/components/OperationsPanel/v2/OperationsEntry/index.test.tsx
  operate/client/src/modules/components/OperationsPanel/v2/OperationsEntry/index.tsx
  operate/client/src/modules/components/OperationsPanel/v2/index.tsx
Owners: none

build: log in to minimus in appropriate places
  .github/workflows/camunda-platform-docker-deploy-saas-image.yml
  .github/workflows/camunda-platform-release.yml
  .github/workflows/ci.yml
  .github/workflows/zeebe-testbench.yaml
Owners: @camunda/monorepo-devops-team

build: switch to minimus based image to lower CVE score
  camunda.Dockerfile
Owners: none

build: log in to minimus before building
  .github/actions/setup-build/action.yml
  .github/workflows/camunda-platform-release.yml
  .github/workflows/ci.yml
Owners: @camunda/monorepo-devops-team

test: update docker structural tests
  .ci/docker/test/camunda-docker-labels.golden.json
  .ci/docker/test/verify.sh
Owners: none

refactor: unpin intermediate build stage
  camunda.Dockerfile
Owners: none

test: ignore warnings in intermediate build stages
  camunda.Dockerfile
Owners: none

build: prepare release 8.8.0-alpha7-optimize
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Owners: none

build: prepare for next development iteration
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Owners: none

refactor: use type instead of Interface for Operation components props
  operate/client/src/modules/components/OperationsPanel/OperationsEntry/OperationEntryStatus/index.tsx
  operate/client/src/modules/components/OperationsPanel/v2/OperationsEntry/OperationEntryStatus/index.tsx
Owners: none

feat: add id regex config property
  dist/src/main/java/io/camunda/application/commons/security/CamundaSecurityConfiguration.java
  security/security-core/src/main/java/io/camunda/security/configuration/InitializationConfiguration.java
Owners: none

refactor: reduce duplication of identifier validator
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/GroupRequestValidator.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/IdentifierValidator.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/MappingRuleValidator.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/RoleRequestValidator.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/TenantRequestValidator.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/UserValidator.java
Owners: none

feat: role ids are validates agains a configurable pattern
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleController.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/RoleRequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/usermanagement/RoleQueryControllerTest.java
Owners: none

refactor: align method names of identity-related validators
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/GroupRequestValidator.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/MappingRuleRequestValidator.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/RoleRequestValidator.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/TenantRequestValidator.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/UserRequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantRequestValidatorTest.java
Owners: none

refactor: remove static identifier patterns
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/IdentifierPatterns.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/IdentifierValidator.java
Owners: none
