Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

feat: uc: network configs
  configuration/src/main/java/io/camunda/configuration/Grpc.java
  configuration/src/main/java/io/camunda/configuration/Network.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/BrokerBasedPropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/GatewayBasedPropertiesOverride.java
  configuration/src/test/java/io/camunda/configuration/ApiGrpcBrokerPropertiesTest.java
  configuration/src/test/java/io/camunda/configuration/ApiGrpcGatewayPropertiesTest.java
  configuration/src/test/java/io/camunda/configuration/BrokerNetworkPropertiesTest.java
  configuration/src/test/java/io/camunda/configuration/GatewayNetworkPropertiesTest.java
Owners: none

fix: address PR feedback
  .github/workflows/ci.yml
  migration/task-migration/pom.xml
  migration/task-migration/src/main/java/io/camunda/migration/task/TaskMigrator.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/MigrationRepositoryIndex.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/ProcessorStep.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/TaskLegacyIndex.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/es/ElasticsearchAdapter.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/os/OpensearchAdapter.java
  migration/task-migration/src/main/java/io/camunda/migration/task/config/TaskMigrationProperties.java
  migration/task-migration/src/main/java/io/camunda/migration/task/util/MigrationUtils.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/util/CamundaMigrator.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/util/MigrationDatabaseChecks.java
  webapps-schema/src/main/resources/schema/opensearch/create/template/tasklist-task.json
Owners: @camunda/monorepo-devops-team

feat: Add Opensearch support for task migration
  migration/task-migration/src/main/java/io/camunda/migration/task/TaskMigrator.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/MigrationRepositoryIndex.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/os/OpensearchAdapter.java
  qa/acceptance-tests/pom.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/util/MigrationITExtension.java
Owners: none

feat: Add task migration submodule
  dist/pom.xml
  dist/src/main/java/io/camunda/application/Profile.java
  dist/src/main/java/io/camunda/application/StandaloneTaskMigration.java
  dist/src/main/java/io/camunda/application/commons/migration/AsyncMigrationsRunner.java
  dist/src/main/java/io/camunda/application/commons/migration/TaskMigrationModuleConfiguration.java
  dist/src/test/java/io/camunda/application/commons/backup/BackupPrioritiesTest.java
  migration/pom.xml
  migration/task-migration/pom.xml
  migration/task-migration/src/main/java/io/camunda/migration/task/TaskMigrator.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/MigrationRepositoryIndex.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/ProcessorStep.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/TaskEntityPair.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/TaskLegacyIndex.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/TaskMigrationAdapter.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/es/ElasticsearchAdapter.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/os/OpensearchAdapter.java
  migration/task-migration/src/main/java/io/camunda/migration/task/config/TaskMigrationProperties.java
  migration/task-migration/src/main/java/io/camunda/migration/task/util/MigrationUtils.java
  migration/task-migration/src/main/java/io/camunda/migration/task/util/TaskMigrationMetricRegistry.java
  migration/task-migration/src/test/java/io/camunda/migration/task/util/MigrationUtilsTest.java
  parent/pom.xml
  qa/acceptance-tests/pom.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/util/CamundaMigrator.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/util/MigrationDatabaseChecks.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/util/MigrationITExtension.java
  schema-manager/src/test/java/io/camunda/search/schema/SchemaManagerIT.java
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/BackupRestoreTest.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/TaskTemplate.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/template/tasklist-task.json
Owners: none

[maven-release-plugin] prepare release operate-8.5.19
  distro/pom.xml
  operate/archiver/pom.xml
  operate/client/pom.xml
  operate/common/pom.xml
  operate/data-generator/pom.xml
  operate/importer-8_4/pom.xml
  operate/importer-8_5/pom.xml
  operate/importer-common/pom.xml
  operate/importer/pom.xml
  operate/mvc-auth-commons/pom.xml
  operate/pom.xml
  operate/qa/backup-restore-tests/pom.xml
  operate/qa/batch-operation-performance-tests/pom.xml
  operate/qa/data-generator/pom.xml
  operate/qa/import-performance-tests/pom.xml
  operate/qa/integration-tests/pom.xml
  operate/qa/migration-performance-test/pom.xml
  operate/qa/migration-tests/migration-test/pom.xml
  operate/qa/migration-tests/pom.xml
  operate/qa/migration-tests/test-fixture-110/pom.xml
  operate/qa/migration-tests/test-fixture-120/pom.xml
  operate/qa/migration-tests/test-fixture-130/pom.xml
  operate/qa/migration-tests/test-fixture-800/pom.xml
  operate/qa/migration-tests/test-fixture-810/pom.xml
  operate/qa/migration-tests/test-fixture-820/pom.xml
  operate/qa/migration-tests/test-fixture-830/pom.xml
  operate/qa/migration-tests/test-fixture-840/pom.xml
  operate/qa/pom.xml
  operate/qa/query-performance-tests/pom.xml
  operate/qa/util/pom.xml
  operate/schema/pom.xml
  operate/webapp/pom.xml
Owners: none

feat: Introduce releaseProcessDryRun
  .github/workflows/camunda-platform-release.yml
Owners: @camunda/monorepo-devops-team

feat: Update comments in camunda-platform-release.yml
  .github/workflows/camunda-platform-release.yml
Owners: @camunda/monorepo-devops-team

feat: changed method ref
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/annotation/value/ZeebeWorkerValue.java
Owners: none

feat: moved customizing into job worker manager
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/processor/JobWorkerAnnotationProcessor.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/configuration/AnnotationProcessorConfiguration.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/configuration/CamundaClientAllAutoConfiguration.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/JobWorkerManager.java
Owners: none

feat: removed redundant interface
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/value/DeploymentValue.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/value/JobWorkerValue.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/value/VariableValue.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/JobHandlerFactory.java
Owners: none

feat: job handler factory to generify the job handler creation
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/JobHandlerFactory.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/JobHandlerFactoryContext.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/SpringBeanJobHandlerFactory.java
Owners: none

feat: simplification of job handler invoking spring beans
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/DefaultJobExceptionHandlingStrategy.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/JobExceptionHandlingStrategy.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/JobHandlerInvokingSpringBeans.java
Owners: none

feat: adjusted property based job worker value customizer to use job handler factory
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/PropertyBasedJobWorkerValueCustomizer.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/properties/PropertyBasedJobWorkerValueCustomizerTest.java
Owners: none

feat: all properties can be manipulated
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/actuator/JobWorkerController.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/value/JobWorkerValue.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/JobWorkerChangeSet.java
Owners: none

feat: extracted job worker factory from job worker manager
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/processor/JobWorkerAnnotationProcessor.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/value/JobWorkerValue.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/configuration/CamundaClientAllAutoConfiguration.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/JobWorkerFactory.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/JobWorkerManager.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/jobhandling/JobHandlerInvokingSpringBeansTest.java
Owners: none

test: adjusted test so that new ctor is used
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/jobhandling/JobHandlerInvokingSpringBeansTest.java
Owners: none

fix: adjusted imports
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/PropertyBasedJobWorkerValueCustomizer.java
Owners: none

feat: enhanced annotation util
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/AnnotationUtil.java
Owners: none

feat: added more changes to change set, make change set return result
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/actuator/JobWorkerController.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/JobWorkerChangeSet.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/PropertyBasedJobWorkerValueCustomizer.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/properties/PropertyBasedJobWorkerValueCustomizerTest.java
Owners: none

fix: interface does not require all methods. Meaningful defaults
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/JobHandlerFactory.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/SpringBeanJobHandlerFactory.java
Owners: none

feat: added tenant ids to the response
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/actuator/JobWorkerController.java
Owners: none

feat: removed unused util functions
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/JobHandlingUtil.java
Owners: none

feat: less fields in the job worker value
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/AnnotationUtil.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/value/DocumentValue.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/value/JobWorkerValue.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/JobHandlerFactory.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/JobWorkerManager.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/SpringBeanJobHandlerFactory.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/SpringBeanJobHandlerFactoryContext.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/annotation/AnnotationUtilTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/jobhandling/JobHandlerInvokingSpringBeansTest.java
Owners: none

feat: job worker controller
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/actuator/JobWorkerController.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/configuration/CamundaActuatorConfiguration.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/JobWorkerChangeSet.java
Owners: none

fix: remove configuration annotation
  dist/src/main/java/io/camunda/application/StandaloneBackupManager.java
Owners: none

refactor: unified config: better organization of SecondaryStorageDatabase
  configuration/src/main/java/io/camunda/configuration/Elasticsearch.java
  configuration/src/main/java/io/camunda/configuration/Opensearch.java
  configuration/src/main/java/io/camunda/configuration/SecondaryStorageDatabase.java
Owners: none

test: force all partitions to snapshot after update
  zeebe/qa/update-tests/pom.xml
  zeebe/qa/update-tests/src/test/java/io/camunda/zeebe/test/ContainerStateAssert.java
  zeebe/qa/update-tests/src/test/java/io/camunda/zeebe/test/SnapshotTest.java
Owners: none

feat: add elasticsearch/opensearch security to unified configuration
  configuration/src/main/java/io/camunda/configuration/SecondaryStorageDatabase.java
  configuration/src/main/java/io/camunda/configuration/Security.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/BrokerBasedPropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/OperatePropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/SearchEngineConnectPropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/TasklistPropertiesOverride.java
  configuration/src/test/java/io/camunda/configuration/SecurityElasticsearchTest.java
  configuration/src/test/java/io/camunda/configuration/SecurityOpensearchTest.java
Owners: none

docs: add the cluster status endpoint to the rest api specs
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Owners: @camunda/docs-api-reviewers

feat: Update task migration process
  .github/workflows/ci.yml
  migration/task-migration/src/main/java/io/camunda/migration/task/TaskMigrator.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/TaskMigrationAdapter.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/TaskWithIndex.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/es/ElasticsearchAdapter.java
  migration/task-migration/src/main/java/io/camunda/migration/task/adapter/os/OpensearchAdapter.java
  migration/task-migration/src/main/java/io/camunda/migration/task/util/MigrationUtils.java
  qa/acceptance-tests/pom.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/usertask/SearchAndCreateTaskMigrationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/usertask/UserTaskMigrationHelper.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/util/CamundaMigrator.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/util/MigrationDatabaseChecks.java
Owners: @camunda/monorepo-devops-team

feat: add cluster status command to java client
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/StatusRequestStep1.java
  clients/java/src/main/java/io/camunda/client/api/response/StatusResponse.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/StatusRequestImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/StatusResponseImpl.java
  clients/java/src/test/java/io/camunda/client/StatusRequestRestTest.java
  clients/java/src/test/java/io/camunda/client/util/RestGatewayPaths.java
  clients/java/src/test/java/io/camunda/client/util/RestGatewayService.java
Owners: none

deps: Adjust jetty version
  optimize/pom.xml
Owners: none

test: add integration tests to verify cluster status endpoint
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusterStatusTest.java
Owners: none

test: reproduce mapping rule deletion failure
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/mappingrule/MappingRuleDeleteAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/MappingRuleClient.java
Owners: none

test: verify cluster can restore from backup taken after scaling
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ScaleUpPartitionsTest.java
Owners: none

fix: ensure backup manager uses dynamic partition count
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/api/BackupManager.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/BackupService.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/NoopBackupManager.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/processing/CheckpointCreateProcessor.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/processing/CheckpointRecordsProcessor.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/processing/PartitionCountSupplier.java
  zeebe/backup/src/test/java/io/camunda/zeebe/backup/processing/CheckpointRecordsProcessorTest.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/StreamProcessorTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup/ConcurrentBackupCompactionTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/Engine.java
  zeebe/restore/src/test/java/io/camunda/zeebe/restore/PartitionRestoreServiceTest.java
Owners: @camunda/zeebe-distributed-platform

fix: not necessary to use a message for clusterID.
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/serializer/ProtoBufSerializer.java
  zeebe/dynamic-config/src/main/resources/proto/topology.proto
Owners: @camunda/zeebe-distributed-platform

feat: log warning if configured cluster ID differs from existing one.
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/ClusterIdInitializer.java
Owners: @camunda/zeebe-distributed-platform

fix: tests
  configuration/src/main/java/io/camunda/configuration/Opensearch.java
  configuration/src/main/java/io/camunda/configuration/SecondaryStorage.java
  configuration/src/main/java/io/camunda/configuration/SecondaryStorageDatabase.java
  configuration/src/test/java/io/camunda/configuration/SecondaryStorageFailureWithLegacySchemaTest.java
Owners: none

refactor: address feedback
  configuration/src/main/java/io/camunda/configuration/Elasticsearch.java
  configuration/src/main/java/io/camunda/configuration/Opensearch.java
  configuration/src/main/java/io/camunda/configuration/SecondaryStorageDatabase.java
Owners: none

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity
