Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity

ci: add release branch patterns to license scanning
  .github/workflows/check-licenses.yml
Owners: @camunda/monorepo-devops-team

test: include identity setup in authorization test
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCancelAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceModificationModifyAuthorizationTest.java
Owners: none

feat: introduce new process instance permissions
  security/security-protocol/src/main/java/io/camunda/zeebe/protocol/record/value/PermissionType.java
Owners: none

fix: check modify process instance permission
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceModificationModifyProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceModificationModifyAuthorizationTest.java
Owners: none

fix: check cancel process instance permission
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCancelProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/CancelProcessInstanceBatchExecutorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCancelAuthorizationTest.java
Owners: none

fix: give admin roles cancel instance permission
  security/security-protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AuthorizationResourceType.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeDefaultsTest.java
Owners: none

fix: give admin roles modify instance permission
  security/security-protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AuthorizationResourceType.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeDefaultsTest.java
Owners: none

fix: extend the rest-api with new permissions
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Owners: @camunda/docs-api-reviewers

test: add permissions to migration developer role
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/SaaSIdentityMigrationIT.java
Owners: none

test: align batch operation authorization it
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/BatchOperationAuthorizationIT.java
Owners: none

fix: extend camunda client with new permissions
  clients/java/src/main/java/io/camunda/client/api/search/enums/PermissionType.java
Owners: none

test: disable identity setup on unrelated ITs
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteredDataDeletionTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteredSnapshotTest.java
Owners: none

test: revert variables logic
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/metrics/UsageMetricRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/record/value/metrics/UsageMetricRecordTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/UsageMetricRecordValue.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
  zeebe/test-util/src/test/java/io/camunda/zeebe/test/util/record/CompactRecordLoggerTest.java
Owners: none

feat: should fail immediately in specific CamundaSearchException reasons #36222
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/itemprovider/retry/ExponentialBackoffRetryingQueryExecutor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/itemprovider/retry/RetryingQueryExecutor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/itemprovider/retry/ExponentialBackoffRetryingQueryExecutorTest.java
Owners: none

WIP
  operate/Makefile
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/VariablesContent.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/VariablesTable.tsx
  operate/client/src/modules/api/v2/elementInstances/updateElementInstanceVariables.ts
  operate/client/src/modules/feature-flags.ts
  operate/client/src/modules/mocks/api/v2/elementInstances/updateElementInstanceVariables.ts
  operate/client/src/modules/mutations/elementInstances/useElementInstanceVariables.tsx
  operate/client/src/modules/queries/variables/useVariables.ts
Owners: none

feat: adjusted description according to docs requirements
  clients/spring-boot-starter-camunda-sdk/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Owners: none

test: enhance e2e for usage metrics tu
  qa/acceptance-tests/src/test/java/io/camunda/it/client/UsageMetricsTest.java
Owners: none

test: verify withTenants sum unique assignees per tenant
  qa/acceptance-tests/src/test/java/io/camunda/it/client/UsageMetricsTest.java
Owners: none

deps: bump zeebe and identity versions
  optimize/backend/pom.xml
  optimize/pom.xml
Owners: none

ci: upgrade helm chart used in preview environment to 8.8
  .ci/preview-environments/argo/c8sm.yml
  .ci/preview-environments/charts/c8sm/Chart.lock
  .ci/preview-environments/charts/c8sm/Chart.yaml
  .ci/preview-environments/charts/c8sm/templates/_helpers.tpl
  .ci/preview-environments/charts/c8sm/templates/certificates.yml
  .ci/preview-environments/charts/c8sm/templates/ingress.yml
  .ci/preview-environments/charts/c8sm/templates/ns.yml
  .ci/preview-environments/charts/c8sm/templates/secrets.yml
  .ci/preview-environments/charts/c8sm/values.yaml
  .github/workflows/preview-env-build-and-deploy.yml
  .github/workflows/preview-env-teardown.yml
Owners: @camunda/monorepo-devops-team

ci: remove unused Optimize generate-changelog composite action
  .github/actions/generate-changelog/README.md
  .github/actions/generate-changelog/action.yml
  .github/actions/generate-changelog/defaultChangelogConfig.json
Owners: none

feat: allow Camunda and Connectors test containers to access host ports and provide sample test
  testing/camunda-process-test-spring/src/test/java/io/camunda/process/test/api/CamundaProcessTestOutboundConnectorsMockIT.java
Owners: none

refactor: spotless
  configuration/src/main/java/io/camunda/configuration/SecondaryStorage.java
Owners: none

feat: code review
  .ci/scripts/ci/setup-medic-lookup.sh
  .github/workflows/statistics-daily.yml
  .github/workflows/statistics-weekly.yml
Owners: @camunda/monorepo-devops-team

feat: introduce named exceptions #36222
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/itemprovider/retry/ExponentialBackoffRetryingQueryExecutor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/itemprovider/retry/RetryingQueryExecutor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/itemprovider/retry/ExponentialBackoffRetryingQueryExecutorTest.java
Owners: none

feat: Filter authorizations correctly be owner/member
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/RoleDbReader.java
  db/rdbms/src/main/resources/mapper/AuthorizationsMapper.xml
  db/rdbms/src/main/resources/mapper/GroupMapper.xml
  db/rdbms/src/main/resources/mapper/RoleMapper.xml
  search/search-domain/src/main/java/io/camunda/search/filter/AuthorizationFilter.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
Owners: none

deps: bump versions of zeebe and identity
  optimize/backend/pom.xml
  optimize/pom.xml
Owners: none

refactor: make tags a Set instead of List
  clients/java/pom.xml
  service/src/main/java/io/camunda/service/ProcessInstanceServices.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/CamundaServicesBasedAdapter.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/CreateProcessInstanceTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/ProcessInstanceClient.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerCreateProcessInstanceRequest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerCreateProcessInstanceWithResultRequest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceCreationRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/JobBatchRecordValue.java
Owners: @camunda/docs-api-reviewers

feat: add process instance creation with tags to client
  clients/java/src/main/java/io/camunda/client/api/command/CreateProcessInstanceCommandStep1.java
  clients/java/src/main/java/io/camunda/client/impl/command/CreateProcessInstanceCommandImpl.java
Owners: none

feat: forward tags to worker on job activation
  clients/java/src/main/java/io/camunda/client/api/response/ActivatedJob.java
  clients/java/src/main/java/io/camunda/client/impl/response/ActivatedJobImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnJobBehavior.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/Protocol.java
Owners: none

feat: allow both keys and UUIDs in operation id filter
  operate/client/src/modules/validators/index.ts
  operate/client/src/modules/validators/tests/index.test.tsx
Owners: none

feat: validate batch operation query retry config #36222
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/SystemContext.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/SystemContextTest.java
Owners: none

feat: add document resource type with permissions
  security/security-protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AuthorizationResourceType.java
Owners: none

fix: add DOCUMENT type to search enums
  clients/java/src/main/java/io/camunda/client/api/search/enums/ResourceType.java
Owners: none

feat: add document resource type to api spec
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Owners: @camunda/docs-api-reviewers

refactor: Refactor for immutability
  search/search-domain/src/main/java/io/camunda/search/filter/AuthorizationFilter.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
Owners: none

fix: fixes for review comments
  operate/client/src/App/Processes/MigrationView/Footer/v2/extractIdsFromQuery.test.ts
  operate/client/src/App/Processes/MigrationView/Footer/v2/extractIdsFromQuery.ts
  operate/client/src/App/Processes/MigrationView/Footer/v2/getMigrationBatchOperationFilter.test.ts
  operate/client/src/App/Processes/MigrationView/Footer/v2/getMigrationBatchOperationFilter.ts
  operate/client/src/App/Processes/MigrationView/Footer/v2/index.test.tsx
  operate/client/src/App/Processes/MigrationView/Footer/v2/index.tsx
  operate/client/src/App/Processes/MigrationView/index.tsx
  operate/client/src/App/Processes/MigrationView/v2/index.test.tsx
  operate/client/src/App/Processes/MigrationView/v2/index.tsx
  operate/client/src/App/Processes/v2/index.tsx
  operate/client/src/App/index.tsx
  operate/client/src/modules/api/v2/processInstances/migrateProcessInstanceBatchOperation.ts
  operate/client/src/modules/feature-flags.ts
  operate/client/src/modules/mutations/processInstance/useMigrateProcessInstanceBatchOperation.test.tsx
  operate/client/src/modules/mutations/processInstance/useMigrateProcessInstanceBatchOperation.ts
Owners: none

build: prepare release 8.7.7-optimize
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Owners: none

build: prepare for next development iteration
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Owners: none

feat: allow to limit job activations to a specific tag
  clients/java/src/main/java/io/camunda/client/api/command/ActivateJobsCommandStep1.java
  clients/java/src/main/java/io/camunda/client/impl/command/ActivateJobsCommandImpl.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/JobTagsTest.java
  service/src/main/java/io/camunda/service/JobServices.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobBatchCollector.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerActivateJobsRequest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/job/JobBatchRecord.java
Owners: @camunda/docs-api-reviewers
