Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

fix: removed raw usage of typed parameter
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/bean/MethodInfo.java
Owners: none

fix: imports
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
Owners: none

fix: java doc comment
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/result/ResultDocumentContextBuilder.java
Owners: none

feat: camunda json mapper can now transform one object to another
  clients/java/src/main/java/io/camunda/client/api/JsonMapper.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaObjectMapper.java
Owners: none

fix: getName() to omit "interface" on string output
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/AnnotationUtil.java
Owners: none

feat: document annotation and value and util added
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/AnnotationUtil.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/Document.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/value/DocumentValue.java
Owners: none

feat: document context to interact with documents without requiring the jobClient
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/DocumentContext.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/parameter/ParameterDocumentContext.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/result/ResultDocumentContext.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/result/ResultDocumentContextBuilder.java
Owners: none

fix: remove duplicate imports
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/jobhandling/result/DefaultResultProcessorTest.java
Owners: none

test: adjusted ClassInfoTest to use ClassInfoUtil
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/bean/ClassInfoTest.java
Owners: none

fix: moved method to match git diff
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
Owners: none

fix: rebased on main
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/configuration/CamundaClientAllAutoConfiguration.java
Owners: none

fix: imports
  clients/java/src/main/java/io/camunda/client/api/response/ActivatedJob.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
Owners: none

feat: document util that transforms an eventual document variable to a list of document reference responses
  clients/java/src/main/java/io/camunda/client/DocumentUtil.java
  clients/java/src/test/java/io/camunda/client/DocumentUtilTest.java
Owners: none

test: create TestUtil to read a file from resources
  clients/java/src/test/java/io/camunda/client/TestUtil.java
Owners: none

feat: result processor strategy requires a job client
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/configuration/CamundaClientAllAutoConfiguration.java
Owners: none

fix: removed non-required abstraction
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/DocumentContext.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/parameter/ParameterDocumentContext.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/result/ResultDocumentContext.java
Owners: none

test: document can be resolved
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/jobhandling/parameter/DefaultParameterResolverStrategyTest.java
Owners: none

feat: result document context can be serialized
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/result/DefaultResultProcessor.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/result/ResultDocumentContext.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/TestUtil.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/jobhandling/result/DefaultResultProcessorTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/jobhandling/result/ResultDocumentContextTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/resources/document/documentReference.json
Owners: none

fix: simplified toString
  clients/java/src/main/java/io/camunda/client/impl/response/DocumentReferenceBatchResponseImpl.java
Owners: none

feat: document handling is part of the camunda client
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/configuration/CamundaClientAllAutoConfiguration.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/DocumentContext.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/parameter/DefaultParameterResolverStrategy.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/parameter/DocumentParameterResolver.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/parameter/ParameterDocumentContext.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/result/DefaultResultProcessor.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/result/DefaultResultProcessorStrategy.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/result/ResultDocumentContext.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/jobhandling/JobHandlerInvokingSpringBeansTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/jobhandling/parameter/DefaultParameterResolverStrategyTest.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/jobhandling/parameter/DocumentParameterResolverTest.java
Owners: none

fix: moved method to match git diff
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
Owners: none

refactor: apply code review comments
  operate/common/src/main/java/io/camunda/operate/property/ElasticsearchProperties.java
  operate/common/src/main/java/io/camunda/operate/property/OpensearchProperties.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/SchemaStartupIT.java
  tasklist/common/src/main/java/io/camunda/tasklist/property/ElasticsearchProperties.java
  tasklist/common/src/main/java/io/camunda/tasklist/property/OpenSearchProperties.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/SchemaCreationIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/SchemaCreationIT.java
Owners: none

fix: make Tasklist and Operate updateSchemaSettings default to false
  operate/common/src/main/java/io/camunda/operate/property/ElasticsearchProperties.java
  operate/common/src/main/java/io/camunda/operate/property/OpensearchProperties.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/SchemaStartupIT.java
  tasklist/common/src/main/java/io/camunda/tasklist/property/ElasticsearchProperties.java
  tasklist/common/src/main/java/io/camunda/tasklist/property/OpenSearchProperties.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/SchemaStartup.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/SchemaCreationIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/SchemaCreationIT.java
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/TestSchemaStartup.java
Owners: none

docs: make specification more consistent
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Owners: @camunda/docs-api-reviewers

refactor: rename variables
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/DecisionInstanceAssertTest.java
Owners: none

deps(identity): update identity to 8.6.19
  parent/pom.xml
Owners: none

feat: remove assignee list from tasklist metrics
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/metric/UsageMetricIT.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/management/UsageMetricsService.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/management/dto/UsageMetricDTO.java
Owners: none

refactor: apply code review comments
  operate/common/src/main/java/io/camunda/operate/property/ElasticsearchProperties.java
  operate/common/src/main/java/io/camunda/operate/property/OpensearchProperties.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/SchemaStartupIT.java
  tasklist/common/src/main/java/io/camunda/tasklist/property/ElasticsearchProperties.java
  tasklist/common/src/main/java/io/camunda/tasklist/property/OpenSearchProperties.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/SchemaCreationIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/SchemaCreationIT.java
Owners: none

fix: make Tasklist and Operate updateSchemaSettings default to false
  operate/common/src/main/java/io/camunda/operate/property/ElasticsearchProperties.java
  operate/common/src/main/java/io/camunda/operate/property/OpensearchProperties.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/schema/SchemaStartupIT.java
  tasklist/common/src/main/java/io/camunda/tasklist/property/ElasticsearchProperties.java
  tasklist/common/src/main/java/io/camunda/tasklist/property/OpenSearchProperties.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/SchemaStartup.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/ElasticSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/SchemaCreationIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchSchemaManagementIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/SchemaCreationIT.java
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/TestSchemaStartup.java
Owners: none

revert: "fix: add qa module to root"
  pom.xml
Owners: none

test: make assertions more consistent
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/RequestValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceQueryControllerTest.java
Owners: none

refactor: fix conflicts with test mocks
  clients/java/src/test/java/io/camunda/client/process/rest/CreateProcessInstanceRestTest.java
Owners: none

test: adjust merge conflicts
  clients/java/src/test/java/io/camunda/client/process/rest/CreateProcessInstanceWithResultRestTest.java
Owners: none

refactor: remove comment
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceRecord.java
Owners: none

docs: leave comment to explain ES/OS tags matching query
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/ProcessInstanceFilterTransformer.java
Owners: none

refactor: improve test display name for ProcessInstanceRequestValidatorTest
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/validator/ProcessInstanceRequestValidatorTest.java
Owners: none

feat: add tags to process instances in zeebe engine
  optimize/backend/src/main/java/io/camunda/optimize/dto/zeebe/process/ZeebeProcessInstanceDataDto.java
  tasklist/importer-870/src/main/java/io/camunda/tasklist/zeebeimport/v870/record/value/ProcessInstanceRecordValueImpl.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/template/ListViewTemplate.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/listview/ProcessInstanceForListViewEntity.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/template/operate-list-view.json
  webapps-schema/src/main/resources/schema/opensearch/create/template/operate-list-view.json
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/BpmnElementContext.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/BpmnElementContextImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnProcessResultSenderBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCreationCreateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/AbstractBatchOperationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/CreateProcessInstanceRejectionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/CreateProcessInstanceTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/CreateProcessInstanceWithResultTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/ProcessInstanceClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromProcessInstanceHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/ListViewProcessInstanceFromProcessInstanceHandlerTest.java
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-process-instance-creation-template.json
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-process-instance-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-process-instance-creation-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-process-instance-template.json
  zeebe/msgpack-value/src/main/java/io/camunda/zeebe/msgpack/value/StringValue.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceCreationRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceResultRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/ProcessInstanceCreationRecordValue.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/ProcessInstanceRecordValue.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/ProcessInstanceResultRecordValue.java
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/RecordBatchTest.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/TagUtil.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/TagUtilTest.java
Owners: @camunda/zeebe-distributed-platform

feat: allow simple filtering by tags in process instance search
  clients/java/src/main/java/io/camunda/client/api/search/filter/ProcessInstanceFilterBase.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/ProcessInstanceFilterImpl.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/ProcessInstanceSearchWithTagsTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/util/TestHelper.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/ProcessInstanceFilterTransformer.java
  search/search-domain/src/main/java/io/camunda/search/filter/ProcessInstanceFilter.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/ProcessInstanceRequestValidator.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/validator/TagsValidator.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/ProcessInstanceQueryControllerTest.java
Owners: @camunda/docs-api-reviewers

revert: "fix: add qa module to root"
  pom.xml
Owners: none

revert: "fix: add qa module to root"
  pom.xml
Owners: none

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity
