Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity

refactor: set appropriate method names and wrap resource ids
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/PermissionsBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobBatchCollector.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorGroupsClaimsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorTest.java
Owners: none

deps: add dist module dependency on security-protocol module
  dist/pom.xml
Owners: none

refactor: use authorization scope in search layer
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/auth/DefaultResourceAccessProvider.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/auth/DefaultResourceAccessProviderTest.java
  security/security-services/src/main/java/io/camunda/security/impl/AuthorizationChecker.java
  security/security-services/src/test/java/io/camunda/security/impl/AuthorizationCheckerTest.java
Owners: none

refactor: make authorization resource matcher required
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/PersistedAuthorization.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/AuthorizationClient.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerAuthorizationDeleteRequest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/authorization/AuthorizationRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
Owners: none

fix: add tags to es/os schema
  webapps-schema/src/main/resources/schema/elasticsearch/create/template/operate-list-view.json
  webapps-schema/src/main/resources/schema/opensearch/create/template/operate-list-view.json
Owners: none

feat: rename property of /v2/authentication/me
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/ApplicationAuthorizationIT.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/authentication/AuthenticationControllerTest.java
Owners: @camunda/docs-api-reviewers

feat: add decisionEvaluationInstanceKey property in EvaluatedDecision record and adjust the serialization test
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/decision/EvaluatedDecisionRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/EvaluatedDecisionValue.java
Owners: none

feat: parse tags and paths from yaml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiResourceConfig.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/util/OpenApiYamlLoader.java
Owners: none

test: add OpenApiYamlLoader tests
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/util/OpenApiYamlLoader.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/config/OpenApiYamlLoaderTest.java
Owners: none

feat: move description and security schemes to OpenApiResourceConfig
  dist/src/main/resources/application.properties
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/pom.xml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/config/OpenApiResourceConfig.java
Owners: @camunda/docs-api-reviewers

fix: zeebe test regarding batch size
  zeebe/stream-platform/src/test/java/io/camunda/zeebe/stream/impl/RecordBatchTest.java
Owners: @camunda/zeebe-distributed-platform

fix: CreateProcessInstanceTest with new tag format
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/CreateProcessInstanceTest.java
Owners: none

feat: copy min-keep-alive-interval from unified config to gateway and broker config
  configuration/src/main/java/io/camunda/configuration/Grpc.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/BrokerBasedPropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/GatewayBasedPropertiesOverride.java
  configuration/src/test/java/io/camunda/configuration/ApiGrpcBrokerPropertiesTest.java
  configuration/src/test/java/io/camunda/configuration/ApiGrpcGatewayPropertiesTest.java
Owners: none

feat: copy max-message-size from unified config to gateway and broker config
  configuration/src/main/java/io/camunda/configuration/Grpc.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/BrokerBasedPropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/GatewayBasedPropertiesOverride.java
  configuration/src/test/java/io/camunda/configuration/ApiGrpcBrokerPropertiesTest.java
  configuration/src/test/java/io/camunda/configuration/ApiGrpcGatewayPropertiesTest.java
Owners: none

feat: copy ssl key store from unified config to gateway and broker config
  configuration/src/main/java/io/camunda/configuration/KeyStore.java
  configuration/src/main/java/io/camunda/configuration/Ssl.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/BrokerBasedPropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/GatewayBasedPropertiesOverride.java
  configuration/src/test/java/io/camunda/configuration/ApiGrpcSslBrokerKeyStoreTest.java
  configuration/src/test/java/io/camunda/configuration/ApiGrpcSslGatewayKeyStoreTest.java
Owners: none

feat: merge user RocksDB config with our defaults
  parent/pom.xml
  zeebe/zb-db/pom.xml
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/impl/rocksdb/RocksDbOptionsFormatter.java
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/impl/rocksdb/ZeebeRocksDbFactory.java
  zeebe/zb-db/src/test/java/io/camunda/zeebe/db/impl/rocksdb/ZeebeRocksDbFactoryTest.java
  zeebe/zb-db/src/test/resources/rocksdb-options.golden
Owners: none

test: replace golden file with explicit test of all options
  zeebe/zb-db/src/test/java/io/camunda/zeebe/db/impl/rocksdb/ZeebeRocksDbFactoryTest.java
  zeebe/zb-db/src/test/resources/rocksdb-options.golden
Owners: none

fix: only set sst partitioner config once
  zeebe/zb-db/src/main/java/io/camunda/zeebe/db/impl/rocksdb/ZeebeRocksDbFactory.java
Owners: none

feat: add headers to ping request.
  dist/src/main/java/io/camunda/application/commons/console/ping/PingConsoleTask.java
Owners: none

feat: calculate the key of each decision evaluation instance in the engine
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnDecisionBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/common/DecisionBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/dmn/DecisionEvaluationEvaluteProcessor.java
Owners: none

feat: add the new property in the endpoint responses for REST and gRPC
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/ResponseMapper.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/api/decision/EvaluateDecisionStub.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/api/decision/EvaluateDecisionTest.java
  zeebe/gateway-protocol/src/main/proto/gateway.proto
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
Owners: @camunda/docs-api-reviewers

feat: adjust the java client command response
  clients/java/src/main/java/io/camunda/client/api/response/EvaluatedDecision.java
  clients/java/src/main/java/io/camunda/client/impl/response/EvaluatedDecisionImpl.java
  clients/java/src/test/java/io/camunda/client/decision/StandaloneDecisionEvaluationTest.java
Owners: none

fix: openAPI lint
  parent/pom.xml
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/pom.xml
Owners: @camunda/docs-api-reviewers

refactor: use removeExporter in ExporterDirector
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionConfigurationManager.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ExporterDirectorPartitionTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterDeleteTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterEnableTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterRemoveTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/PartitionConfigurationManagerTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ExporterDirectorPartitionTransitionStepTest.java
Owners: none

feat: add support for DeleteExporter request handling in broker (#35324)
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/PartitionManagerImpl.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/PartitionConfigurationManager.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/ZeebePartition.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/exporter/stream/ExporterDeleteTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/PartitionConfigurationManagerTest.java
Owners: @camunda/zeebe-distributed-platform

fix: adapt ExporterDirectorPartitionTransitionStep
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/exporter/stream/ExporterDirector.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ExporterDirectorPartitionTransitionStep.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/PartitionConfigurationManagerTest.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/steps/ExporterDirectorPartitionTransitionStepTest.java
Owners: none

deps: Update dependency com.nimbusds:nimbus-jose-jwt to v10.0.2
  parent/pom.xml
Owners: none

test: disable authorizations
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/network/DefaultAdvertisedAddressIT.java
Owners: none

deps: Update dependency com.nimbusds:nimbus-jose-jwt to v10.0.2
  parent/pom.xml
Owners: none

fix: JsonSerializableToJsonTest
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
Owners: none

fix: add tags to ProcessInstanceForListViewEntity
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/listview/ProcessInstanceForListViewEntity.java
Owners: none

deps: Update dependency com.nimbusds:nimbus-jose-jwt to v10.0.2
  operate/pom.xml
Owners: none

deps: Update dependency com.nimbusds:nimbus-jose-jwt to v10.0.2
  parent/pom.xml
Owners: none

build: add objects
  configuration/src/main/java/io/camunda/configuration/Elasticsearch.java
  configuration/src/main/java/io/camunda/configuration/Opensearch.java
  configuration/src/main/java/io/camunda/configuration/SecondaryStorage.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/OperatePropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/TasklistPropertiesOverride.java
Owners: none

build: unified config: ES URL does not fallback to zeebe ES URL
  configuration/src/main/java/io/camunda/configuration/Elasticsearch.java
Owners: none

refactor: address feedback
  configuration/src/main/java/io/camunda/configuration/SecondaryStorageDatabase.java
Owners: none

fix: tests
  qa/util/src/main/java/io/camunda/qa/util/multidb/MultiDbConfigurator.java
Owners: none

feat: migrate secondary storage OS url to the UC
  configuration/src/main/java/io/camunda/configuration/Opensearch.java
Owners: none

refactor: address feedback
  configuration/src/main/java/io/camunda/configuration/Elasticsearch.java
  configuration/src/main/java/io/camunda/configuration/Opensearch.java
  configuration/src/main/java/io/camunda/configuration/SecondaryStorageDatabase.java
Owners: none

fix: unified config: Integration tests that use the Opensearch overrides
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpenSearchConnectorBasicAuthIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/OpensearchConnectorIT.java
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/TestContainerUtil.java
Owners: none
