Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity

feat: Add auth checks to batch operation related entities
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/BatchOperationDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/BatchOperationDbReader.java
  db/rdbms/src/test/java/io/camunda/db/rdbms/read/service/BatchOperationDbReaderTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/BatchOperationAuthorizationIT.java
Owners: none

refactor: use busy retries instead of scheduled tasks
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/TUMetricMigrator.java
  migration/usage-metric-migration/src/test/java/io/camunda/migration/usagemetrics/TUMetricsMigrationIT.java
Owners: none

feat: map checkpoint rejection error to http status code
  dist/src/main/java/io/camunda/zeebe/shared/management/BackupEndpoint.java
Owners: none

feat: prevent backups during scaling
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/api/BackupManager.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/BackupService.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/BackupServiceImpl.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/management/NoopBackupManager.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/processing/CheckpointCreateProcessor.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/processing/CheckpointRecordsProcessor.java
  zeebe/backup/src/main/java/io/camunda/zeebe/backup/processing/ScalingStatusSupplier.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/StreamProcessorTransitionStep.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/Engine.java
Owners: @camunda/zeebe-distributed-platform

test: verify backup request is rejected during scaling
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/ConcurrentBackupScalingIT.java
Owners: none

test: verify checkpoint is rejected if scaling is in process
  zeebe/backup/src/test/java/io/camunda/zeebe/backup/processing/CheckpointRecordsProcessorTest.java
  zeebe/backup/src/test/java/io/camunda/zeebe/backup/processing/MockProcessingResult.java
  zeebe/backup/src/test/java/io/camunda/zeebe/backup/processing/MockTypedCheckpointRecord.java
Owners: @camunda/zeebe-distributed-platform

deps: Update protobuf to 4.31.1
  parent/pom.xml
Owners: none

refactor: use v4 interfaces/API
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientFutureImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/util/RecordingGatewayService.java
Owners: none

style: fix style after mass refactor
  clients/java/src/test/java/io/camunda/zeebe/client/util/RecordingGatewayService.java
Owners: none

test: verify exporter delete api
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/exporter/ExporterDeleteTest.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
Owners: none

feat: apply permission checks to V1 API to get a form
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/FormController.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/FormControllerTest.java
Owners: none

feat: apply permission checks to V1 API to get variables
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/VariablesController.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/VariablesControllerTest.java
Owners: none

feat: apply permission checks to V1 API to get user tasks/variables
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/TaskController.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/permission/TasklistPermissionServices.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/TaskControllerTest.java
Owners: none

test: update permissions in UserTaskRestrictionIT to reflect the V1 approach
  qa/acceptance-tests/src/test/java/io/camunda/it/task/UserTaskRestrictionsIT.java
Owners: none

refactor: remove arg from read user task check that was always wildcard
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/FormController.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/TaskController.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/VariablesController.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/permission/TasklistPermissionServices.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/TaskControllerTest.java
Owners: none

fix: use read process instance permission for variables check
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/VariablesController.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/permission/TasklistPermissionServices.java
Owners: none

feat: apply permission checks to V1 API to get form by id
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/TaskController.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/TaskControllerTest.java
Owners: none

test: ensure correct methods are mocked in tasklist v1 controller tests
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/FormControllerTest.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/VariablesControllerTest.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/internal/ProcessInternalControllerTest.java
Owners: none

feat: apply permission checks to V1 API to get publicEndpoints for Process definition
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/internal/ProcessInternalController.java
Owners: none

test: implement ITs for user tasks v1 GET/search API endpoints
  qa/acceptance-tests/src/test/java/io/camunda/it/tasklist/v1/TasklistV1ApiUserTaskPermissionsIT.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestRestTasklistClient.java
Owners: none

refactor: remove unused helper method in TaskController
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/TaskController.java
Owners: none

test: implement ITs for form v1 GET API endpoint
  qa/acceptance-tests/src/test/java/io/camunda/it/tasklist/v1/TasklistV1ApiFormPermissionsIT.java
Owners: none

test: implement ITs for publicEndpoints v1 GET API endpoint
  qa/acceptance-tests/src/test/java/io/camunda/it/tasklist/v1/TasklistV1ApiInternalProcessPermissionsIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/tasklist/v1/TasklistV1ApiUserTaskPermissionsIT.java
Owners: none

test: reorganize ITs and remove unused fields
  qa/acceptance-tests/src/test/java/io/camunda/it/tasklist/v1/form/TasklistV1ApiFormPermissionsIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/tasklist/v1/internal/TasklistV1ApiInternalProcessPermissionsIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/tasklist/v1/task/TasklistV1ApiUserTaskPermissionsIT.java
Owners: none

test: avoid overlapping usernames in V1 ITs
  qa/acceptance-tests/src/test/java/io/camunda/it/tasklist/v1/form/TasklistV1ApiFormPermissionsIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/tasklist/v1/internal/TasklistV1ApiInternalProcessPermissionsIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/tasklist/v1/task/TasklistV1ApiUserTaskPermissionsIT.java
Owners: none

test: remove resource overlap in tests and increase robustness of process deployment for internal process IT
  qa/acceptance-tests/src/test/java/io/camunda/it/tasklist/v1/internal/TasklistV1ApiInternalProcessPermissionsIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/tasklist/v1/task/TasklistV1ApiUserTaskPermissionsIT.java
Owners: none

fix: reinstate user task restriction checks
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/FormController.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/TaskController.java
Owners: none

refactor: use user task permission check for /v1/variables/{variableId} endpoint in Tasklist
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/VariablesController.java
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/VariablesControllerTest.java
Owners: none

fix: checkout action repo
  .github/workflows/add-to-projects.yml
Owners: @camunda/monorepo-devops-team

fix: use react-router links in Navbar
  identity/client/src/components/layout/AppHeader.tsx
Owners: none

fix: only reindex if a task is not found
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/TUMetricMigrator.java
Owners: none

refactor: make MigrationTimeoutExceptions conditionally fail migrations
  dist/src/main/java/io/camunda/application/commons/migration/AsyncMigrationsRunner.java
  migration/migration-api/src/main/java/io/camunda/migration/api/MigrationTimeoutException.java
  migration/process-migration/src/main/java/io/camunda/migration/process/ProcessMigrator.java
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/TUMetricMigrator.java
Owners: none

feat: add cluster monitoring to unified configuration
  configuration/src/main/java/io/camunda/configuration/Cluster.java
  configuration/src/main/java/io/camunda/configuration/Monitoring.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/BrokerBasedPropertiesOverride.java
  configuration/src/test/java/io/camunda/configuration/ClusterMonitoringTest.java
Owners: none

fix: add read access to cluster variable resource
  security/security-protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AuthorizationResourceType.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeDefaultsTest.java
Owners: none

test: split test for backups before and after scaling
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/backup/ConcurrentBackupScalingIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ScaleUpPartitionsTest.java
Owners: none

test: verify commit position is set after snapshot director is installed
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/AsyncSnapshotDirector.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/partitions/impl/steps/SnapshotDirectorPartitionTransitionStepTest.java
Owners: none

Revert "deps: Update spring boot to v3.5.5 (stable/8.6) (minor) (#32474)"
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientFutureImpl.java
  clients/java/src/test/java/io/camunda/zeebe/client/util/RecordingGatewayService.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/webapp/controllers/OldRoutesRedirectionControllerIT.java
  parent/pom.xml
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/controllers/OldRoutesRedirectionControllerIT.java
Owners: none

Revert "Integrate Quality Board action for bug issues"
  .github/workflows/add-to-projects.yml
Owners: @camunda/monorepo-devops-team

refactor: introduce query key factory
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/VariablesContent.tsx
  operate/client/src/modules/mutations/elementInstances/useElementInstanceVariables.tsx
  operate/client/src/modules/queries/queryKeys.ts
  operate/client/src/modules/queries/variables/useVariables.ts
Owners: none

feat: add mutation to update instance variables
  operate/client/src/modules/api/v2/elementInstances/updateElementInstanceVariables.ts
  operate/client/src/modules/mocks/api/v2/elementInstances/updateElementInstanceVariables.ts
  operate/client/src/modules/mutations/elementInstances/useElementInstanceVariables.tsx
  operate/client/src/modules/queries/variables/useVariables.ts
Owners: none
