Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity

fix: add missing AHSP JobKind mapping in search client
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/entity/JobEntityTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/entity/JobEntityTransformerTest.java
  search/search-domain/src/main/java/io/camunda/search/entities/JobEntity.java
Owners: none

feat: execute queries on advanced filter change
  operate/client/src/modules/stores/processInstances.ts
Owners: none

test: add extra filter to test utility to avoid flaky tests due to matching table head cells
  qa/c8-orchestration-cluster-e2e-test-suite/utils/waitForItemInList.ts
Owners: none

fix: identity e2e test on CI
  .github/workflows/identity-e2e-tests.yml
Owners: none

feat: new cpt configuration prefix with backwards compatibility
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/impl/configuration/CamundaProcessTestAutoConfiguration.java
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/impl/configuration/LegacyCamundaProcessTestRuntimeConfiguration.java
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/impl/configuration/RemoteConfiguration.java
  testing/camunda-process-test-spring/src/test/java/io/camunda/process/test/api/CamundaProcessTestRuntimeConfigurationIT.java
  testing/camunda-process-test-spring/src/test/java/io/camunda/process/test/api/CamundaSpringProcessTestClockResetIT.java
  testing/camunda-process-test-spring/src/test/java/io/camunda/process/test/api/LegacyCamundaProcessTestRuntimeConfigurationIT.java
  testing/camunda-process-test-spring/src/test/java/io/camunda/process/test/impl/CamundaSpringProcessTestRuntimeBuilderTest.java
Owners: none

chore: Remove complex filtering for now (can be added later) and simplify code.
  zeebe/exporters/http-exporter/README.md
  zeebe/exporters/http-exporter/TODO.md
  zeebe/exporters/http-exporter/pom.xml
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/HttpExporter.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/config/SubscriptionConfigFactory.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/matcher/CombinedMatcher.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/matcher/RecordMatcher.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/matcher/RecordMatcherImpl.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/matcher/Rule.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/matcher/RuleRecordMatcher.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/subscription/Subscription.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/subscription/SubscriptionConfig.java
  zeebe/exporters/http-exporter/src/test/java/io/camunda/exporter/http/ConfigTest.java
  zeebe/exporters/http-exporter/src/test/java/io/camunda/exporter/http/HttpExporterBatchIT.java
  zeebe/exporters/http-exporter/src/test/java/io/camunda/exporter/http/RuleMatcherTest.java
  zeebe/exporters/http-exporter/src/test/resources/subscription-config-complete.json
  zeebe/exporters/http-exporter/src/test/resources/subscription-config-incident.json
  zeebe/exporters/http-exporter/src/test/resources/subscription-config-simple.json
  zeebe/exporters/http-exporter/src/test/resources/subscription-config.json
Owners: none

feat: allow to add tags on process instance creation in zeebe engine
  optimize/backend/src/main/java/io/camunda/optimize/dto/zeebe/process/ZeebeProcessInstanceDataDto.java
  tasklist/importer-870/src/main/java/io/camunda/tasklist/zeebeimport/v870/record/value/ProcessInstanceRecordValueImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCreationCreateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/CreateProcessInstanceRejectionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/CreateProcessInstanceTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/ProcessInstanceClient.java
  zeebe/msgpack-value/src/main/java/io/camunda/zeebe/msgpack/value/StringValue.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceCreationRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceRecord.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/ProcessInstanceCreationRecordValue.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/ProcessInstanceRecordValue.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/TagUtil.java
  zeebe/util/src/test/java/io/camunda/zeebe/util/TagUtilTest.java
Owners: none

feat: added missing config options
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/CamundaProcessTestRuntimeBuilder.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/CamundaProcessTestRuntimeDefaults.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/ContainerRuntimePropertiesUtil.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/properties/CamundaContainerRuntimeProperties.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/runtime/properties/ConnectorsContainerRuntimeProperties.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/impl/runtime/ContainerRuntimePropertiesUtilTest.java
  testing/camunda-process-test-java/src/test/resources/containerRuntimePropertiesUtil/camunda-container-runtime.properties
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/impl/configuration/CamundaProcessTestRuntimeConfiguration.java
  testing/camunda-process-test-spring/src/main/java/io/camunda/process/test/impl/runtime/CamundaSpringProcessTestRuntimeBuilder.java
  testing/camunda-process-test-spring/src/test/java/io/camunda/process/test/impl/CamundaSpringProcessTestRuntimeBuilderTest.java
Owners: none

test: set memberId from nodeId
  zeebe/protocol-test-util/src/main/java/io/camunda/zeebe/test/broker/protocol/brokerapi/StubBroker.java
Owners: none

test: verify topology is updated after purge
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/dynamic/ClusterPurgeTest.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/asserts/TopologyAssert.java
Owners: none

docs: add deprecation comment
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/ResponseMapper.java
Owners: none

fix: add decisionEvaluationKey and deprecate decisionInstanceKey in evaluation endpoint
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/DecisionDefinitionControllerTest.java
Owners: none

fix: add decisionEvaluationKey and deprecate decisionInstanceKey in evaluation gRPC endpoint
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/ResponseMapper.java
  zeebe/gateway-protocol/src/main/proto/gateway.proto
Owners: none

fix: adjust the command to also return the new property
  clients/java/src/main/java/io/camunda/client/api/response/EvaluateDecisionResponse.java
  clients/java/src/main/java/io/camunda/client/impl/response/EvaluateDecisionResponseImpl.java
  clients/java/src/test/java/io/camunda/client/decision/StandaloneDecisionEvaluationTest.java
  clients/java/src/test/java/io/camunda/client/decision/rest/DecisionEvaluationRestTest.java
Owners: none

docs: add decisionEvaluationKey and deprecate decisionInstanceKey in evaluation endpoint specification
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Owners: @camunda/docs-api-reviewers

test: verify an incident is created if the output collection variable is not an array
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/AdHocSubProcessTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobBasedAdHocSubProcessTest.java
Owners: none

fix: set error type on failure
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/AdHocSubProcessOutputCollectionBehavior.java
Owners: none

fix: allow update from leaders with lower term after partition bootstrap
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/BrokerClientTopologyImpl.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/BrokerClusterStateImpl.java
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/BrokerTopologyManagerImpl.java
Owners: @camunda/zeebe-distributed-platform

test: remove usages of implementation class BrokerClusterStateImpl
  zeebe/broker-client/src/test/java/io/camunda/zeebe/broker/client/impl/TestTopologyManager.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport/snapshotapi/SnapshotApiRequestHandlerTest.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/admin/exporting/ExportingControlServiceTest.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/api/topology/TopologyTest.java
  zeebe/gateway/src/test/java/io/camunda/zeebe/gateway/api/util/StubbedTopologyManager.java
  zeebe/gateway/src/test/java/io/camunda/zeebe/gateway/api/util/TestBrokerClusterState.java
  zeebe/gateway/src/test/java/io/camunda/zeebe/gateway/impl/broker/PublishMessageDispatchStrategyTest.java
Owners: @camunda/zeebe-distributed-platform

test: start gateway cluster configuration manager in ClusteringRule
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteringRule.java
Owners: none

test: verify partition leader is updated with a lower term
  zeebe/broker-client/src/test/java/io/camunda/zeebe/broker/client/api/BrokerTopologyManagerTest.java
Owners: @camunda/zeebe-distributed-platform

test: update cluster configuration in broker client tests
  zeebe/broker-client/src/test/java/io/camunda/zeebe/broker/client/api/BrokerClientTest.java
  zeebe/broker-client/src/test/java/io/camunda/zeebe/broker/client/impl/TestTopologyManager.java
Owners: @camunda/zeebe-distributed-platform

refactor: Rename package
  testing/camunda-process-test-example/pom.xml
  testing/camunda-process-test-example/src/main/java/io/camunda/services/InventoryService.java
  testing/camunda-process-test-example/src/main/java/org/example/MySpringBootApplication.java
  testing/camunda-process-test-example/src/main/java/org/example/services/ArchiveService.java
  testing/camunda-process-test-example/src/main/java/org/example/services/InventoryService.java
  testing/camunda-process-test-example/src/main/java/org/example/services/PaymentService.java
  testing/camunda-process-test-example/src/main/java/org/example/services/ShippingService.java
  testing/camunda-process-test-example/src/main/java/org/example/services/WiredLegacyException.java
  testing/camunda-process-test-example/src/main/java/org/example/services/impl/ArchiveServiceImpl.java
  testing/camunda-process-test-example/src/main/java/org/example/services/impl/InventoryServiceImpl.java
  testing/camunda-process-test-example/src/main/java/org/example/services/impl/PaymentServiceImpl.java
  testing/camunda-process-test-example/src/main/java/org/example/services/impl/ShippingServiceImpl.java
  testing/camunda-process-test-example/src/main/java/org/example/workers/ArchiveInvoiceWorker.java
  testing/camunda-process-test-example/src/main/java/org/example/workers/CollectMoneyWorker.java
  testing/camunda-process-test-example/src/main/java/org/example/workers/FetchItemsWorker.java
  testing/camunda-process-test-example/src/main/java/org/example/workers/RequestTrackingCodeWorker.java
  testing/camunda-process-test-example/src/main/java/org/example/workers/ShipParcelWorker.java
  testing/camunda-process-test-example/src/test/java/org/example/ConnectorProcessTest.java
  testing/camunda-process-test-example/src/test/java/org/example/InvoiceApprovalTest.java
  testing/camunda-process-test-example/src/test/java/org/example/ProcessIntegrationTest.java
  testing/camunda-process-test-example/src/test/java/org/example/ProcessJavaUnitTest.java
  testing/camunda-process-test-example/src/test/java/org/example/ProcessUnitTest.java
Owners: none

feat: New annotation for the embedded runtime
  testing/camunda-process-test-embedded/src/main/java/io/camunda/process/test/api/CamundaEmbeddedSpringProcessTest.java
  testing/camunda-process-test-embedded/src/main/java/io/camunda/process/test/impl/configuration/CamundaProcessTestEmbeddedRuntimeConfiguration.java
  testing/camunda-process-test-example/src/test/java/org/example/InvoiceApprovalTest.java
Owners: none

feat: do not add null or empty assignees to usage metrics
  qa/acceptance-tests/src/test/java/io/camunda/it/client/UsageMetricsTest.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UserTaskAssignedV3Applier.java
  zeebe/engine/src/test/resources/state/appliers/golden/UserTask_ASSIGNED_v3.golden
Owners: none

feat: add headers to ping request.
  dist/src/main/java/io/camunda/application/commons/console/ping/PingConsoleTask.java
Owners: none

refactor: improve logging for cluster configuration and membership events
  zeebe/broker-client/src/main/java/io/camunda/zeebe/broker/client/impl/BrokerTopologyManagerImpl.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/GatewayClusterConfigurationService.java
Owners: @camunda/zeebe-distributed-platform

test: stop migration container after each test
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/KeycloakIdentityMigrationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/OidcIdentityMigrationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/SaaSIdentityMigrationIT.java
Owners: none

feat: create gatewayClusterConfigurationService for all profiles except broker
  dist/src/main/java/io/camunda/application/commons/clustering/DynamicClusterServices.java
  dist/src/main/java/io/camunda/application/commons/configuration/GatewayBasedConfiguration.java
  dist/src/main/java/io/camunda/application/commons/migration/IdentityMigrationModuleConfiguration.java
  dist/src/test/java/io/camunda/zeebe/gateway/StandaloneGatewaySecurityTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/clustering/ClusteringRule.java
Owners: none

fix: do not set default host
  configuration/src/main/java/io/camunda/configuration/Network.java
Owners: none

test: verify command api is reachable from gateway
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/network/DefaultAdvertisedAddressIT.java
Owners: none

feat: add authorization scope record
  security/security-protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AuthorizationScope.java
Owners: none

refactor: authorization scopes are used in the workflow engine
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobBatchCollector.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/IdentitySetupInitializer.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbAuthorizationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/immutable/AuthorizationState.java
Owners: none

feat: use authorization scope in workflow engine permissions
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/DbAuthorizationState.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/authorization/Permissions.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/encoding/MsgPackConverter.java
Owners: none

test: refactor tests to use authorization scopes
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorGroupsClaimsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCheckBehaviorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/TenantAppliersTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/UserDeletedApplierTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/AuthorizationStateTest.java
Owners: none

refactor: centralize wildcard authorization scope constant
  authentication/src/test/java/io/camunda/authentication/service/BasicCamundaUserServiceTest.java
  dist/src/main/java/io/camunda/application/commons/security/CamundaSecurityConfiguration.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/permission/PermissionsService.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/auth/DefaultResourceAccessProvider.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/auth/DisabledResourceAccessProvider.java
  security/security-core/src/main/java/io/camunda/security/auth/Authorization.java
  security/security-protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AuthorizationScope.java
  security/security-services/src/main/java/io/camunda/security/impl/AuthorizationChecker.java
  service/src/main/java/io/camunda/service/AuthorizationServices.java
  service/src/main/java/io/camunda/service/DocumentServices.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCheckBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobBatchCollector.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AnonymousAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationCreateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationUpdateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/IdentitySetupInitializeDefaultsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/AbstractBatchOperationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/clock/ClockPinAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/DeploymentCreateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/MultiTenantDeploymentCreateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionIdempotencyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/dmn/DecisionEvaluationEvaluateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/incident/IncidentResolveAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobCompleteAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobFailAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobUpdateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/mappingrule/MappingRuleCreateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/mappingrule/MappingRuleUpdateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/message/MessagePublishAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/role/RoleCreateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/signal/SignalBroadcastAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/user/CreateInitialAdminUserAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/user/UserCreateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/UserDeletedApplierTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/authorization/AuthorizationStateTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/AuthorizationCreatedUpdatedHandlerTest.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
Owners: none

fix: ensure boxed short is used for resource matcher setter
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/usermanagement/AuthorizationEntity.java
Owners: none

test: add coverage for the authorization scope wrapper
  security/security-protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AuthorizationScope.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/AuthorizationScopeTest.java
Owners: none

refactor: set authorization resource matcher in tests
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationDeleteAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobWorkerElementMultiTenantTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/FailJobTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobBatchActivateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobThrowErrorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobUpdateRetriesTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/JobUpdateTimeoutTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/job/MultiTenantJobOperationsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/message/MessageCorrelationCorrelateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCancelAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCreateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceModificationModifyAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/migration/ProcessInstanceMigrationMigrateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/resource/ResourceDeletionAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/resource/ResourceFetchAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/tenant/DeleteTenantAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/usertask/MultiTenantUserTaskOperationsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/usertask/UserTaskAssignAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/usertask/UserTaskClaimAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/usertask/UserTaskCompleteAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/usertask/UserTaskUpdateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/variable/VariableDocumentUpdateAuthorizationTest.java
Owners: none

feat: set unspecified resource matcher on authorization delete or update
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/GroupDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/MappingRuleDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/PermissionsBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/RoleDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/UserDeleteProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/AuthorizationUpdateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/UpdateAuthorizationMultipartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/authorization/UpdateAuthorizationTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionIdempotencyTest.java
Owners: none
