Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity

test: fix usage metrics tests
  service/src/test/java/io/camunda/service/UsageMetricsServiceTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/UsageMetricHandlerTest.java
Owners: none

feat: call usage metrics and tu in parallel
  service/src/main/java/io/camunda/service/UsageMetricsServices.java
Owners: none

feat: migrate process migration batch operation to v2
  operate/client/src/App/Processes/MigrationView/v2/Footer/extractIdsFromQuery.test.ts
  operate/client/src/App/Processes/MigrationView/v2/Footer/extractIdsFromQuery.ts
  operate/client/src/App/Processes/MigrationView/v2/Footer/getMigrationBatchOperationFilter.test.ts
  operate/client/src/App/Processes/MigrationView/v2/Footer/getMigrationBatchOperationFilter.ts
  operate/client/src/App/Processes/MigrationView/v2/Footer/index.test.tsx
  operate/client/src/App/Processes/MigrationView/v2/Footer/index.tsx
  operate/client/src/App/Processes/MigrationView/v2/index.test.tsx
  operate/client/src/App/Processes/MigrationView/v2/index.tsx
  operate/client/src/App/Processes/v2/index.tsx
  operate/client/src/App/index.tsx
  operate/client/src/modules/api/v2/processInstances/migrateProcessInstanceBatchOperation.ts
  operate/client/src/modules/feature-flags.ts
  operate/client/src/modules/mutations/processInstance/useMigrateProcessInstanceBatchOperation.test.tsx
  operate/client/src/modules/mutations/processInstance/useMigrateProcessInstanceBatchOperation.ts
Owners: none

feat: Add auth checks to batch operation and mapping rule
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/BatchOperationDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/MappingRuleDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/BatchOperationDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/MappingRuleDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/MappingRuleReader.java
  db/rdbms/src/main/resources/mapper/BatchOperationMapper.xml
  db/rdbms/src/main/resources/mapper/MappingRuleMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/BatchOperationAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/MappingRuleAuthorizationIT.java
Owners: none

feat: default to not controlling socket buffer size
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  dist/src/main/config/gateway.yaml.template
  dist/src/main/java/io/camunda/zeebe/gateway/GatewayClusterConfiguration.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/MessagingConfig.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering/ClusterConfigFactory.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/NetworkCfg.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/configuration/BrokerCfgTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/configuration/ClusterCfg.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/configuration/ConfigurationDefaults.java
Owners: @camunda/zeebe-distributed-platform

build(project): update go embedded version data
  clients/go/internal/embedded/data/VERSION
Owners: none

build(project): update java compat versions
  parent/pom.xml
Owners: none

build(project): prepare next development version (Go client)
  clients/go/internal/embedded/data/VERSION
Owners: none

fix: interpolate batch operation state mapping for legacy batch operations #35378
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/entity/BatchOperationEntityTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/entity/BatchOperationEntityTransformerTest.java
Owners: none

fix: remove the previously used INCOMPLETED from all APIs #35378
  clients/java/src/main/java/io/camunda/client/api/search/enums/BatchOperationState.java
  search/search-domain/src/main/java/io/camunda/search/entities/BatchOperationEntity.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/operation/BatchOperationEntity.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Owners: @camunda/docs-api-reviewers

refactor: introduce constant for auto buffer sizes
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/MessagingConfig.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
Owners: @camunda/zeebe-distributed-platform

feat: default to not controlling socket buffer size
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  dist/src/main/config/gateway.yaml.template
  dist/src/main/java/io/camunda/application/commons/configuration/GatewayBasedConfiguration.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/MessagingConfig.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering/ClusterConfigFactory.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/NetworkCfg.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/configuration/BrokerCfgTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/configuration/ClusterCfg.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/configuration/ConfigurationDefaults.java
Owners: @camunda/zeebe-distributed-platform

refactor: remove connection pool size leftovers
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/MessagingConfig.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/ChannelPool.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/ChannelPoolTest.java
Owners: @camunda/zeebe-distributed-platform

refactor: remove connection pool size leftovers
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/MessagingConfig.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/ChannelPool.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/ChannelPoolTest.java
Owners: @camunda/zeebe-distributed-platform

refactor: introduce constant for auto buffer sizes
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/MessagingConfig.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
Owners: @camunda/zeebe-distributed-platform

feat: default to not controlling socket buffer size
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  dist/src/main/config/gateway.yaml.template
  dist/src/main/java/io/camunda/application/commons/configuration/GatewayBasedConfiguration.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/MessagingConfig.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering/ClusterConfigFactory.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/NetworkCfg.java
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/configuration/BrokerCfgTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/configuration/ClusterCfg.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/configuration/ConfigurationDefaults.java
Owners: @camunda/zeebe-distributed-platform

test: add missing test step in operate legacy E2E test #35378
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateProcessInstanceAddVariableIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateProcessInstanceCancellationIT.java
Owners: none

refactor: introduce constant for auto buffer sizes
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/MessagingConfig.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
Owners: @camunda/zeebe-distributed-platform

refactor: remove connection pool size leftovers
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/MessagingConfig.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/ChannelPool.java
  zeebe/atomix/cluster/src/main/java/io/atomix/cluster/messaging/impl/NettyMessagingService.java
  zeebe/atomix/cluster/src/test/java/io/atomix/cluster/messaging/impl/ChannelPoolTest.java
Owners: @camunda/zeebe-distributed-platform

feat: Add auth check to user
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/UserDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/UserDbReader.java
  db/rdbms/src/main/resources/mapper/UserMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/UserAuthorizationIT.java
Owners: none

docs: Autoformat comments
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/DecisionDefinitionDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/DecisionInstanceDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/DecisionRequirementsDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/FlowNodeInstanceDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/MappingRuleDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/ProcessDefinitionDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/ProcessInstanceDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/VariableDbReader.java
Owners: none

test: fix ReconfigureTest flakyness by forcing election if needed
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ReconfigurationTest.java
Owners: @camunda/zeebe-distributed-platform

test: fix ReconfigureTest flakyness by forcing election if needed
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ReconfigurationTest.java
Owners: @camunda/zeebe-distributed-platform

test: fix ReconfigureTest flakyness by forcing election if needed
  zeebe/atomix/cluster/src/test/java/io/atomix/raft/ReconfigurationTest.java
Owners: @camunda/zeebe-distributed-platform

feat: Create the variables in the scope of the activated inner instance fopr ad hoc subprocess
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessInstructionActivateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnAdHocSubProcessBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnBehaviorsImpl.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/AdHocSubProcessProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobCompleteProcessor.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/adhocsubprocess/AdHocSubProcessActivateElementInstruction.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/job/JobResultActivateElement.java
Owners: none

feat: reject complete job is element is not active
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobCompleteProcessor.java
Owners: none

test: verify elements in JobResult get activated
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobCompleteProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobBasedAdHocSubProcessTest.java
Owners: none

test: verify variables are created at the correct scopes
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobBasedAdHocSubProcessTest.java
Owners: none

refactor: extra job completion logic to method
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobBasedAdHocSubProcessTest.java
Owners: none

test: verify job recreation and activation on AHSP
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobBasedAdHocSubProcessTest.java
Owners: none

feat: add validation around passed in job IDs
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessUtils.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/container/AdHocSubProcessProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobCompleteProcessor.java
Owners: none

refactor: move error message strings to static variables
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessUtils.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobCompleteProcessor.java
Owners: none

refactor: speed up unit test
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobBasedAdHocSubProcessTest.java
Owners: none

test: add unit test for rejecting AHSP complete command
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobBasedAdHocSubProcessTest.java
Owners: none

refactor: remove completed TODO and remove unused param from handleAdHocSubProcessJob
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobCompleteProcessor.java
Owners: none

deps(identity): update identity to 8.8.0-alpha7
  parent/pom.xml
Owners: none

fix: solve compilation issues after rebase
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobBasedAdHocSubProcessTest.java
Owners: none

deps(identity): update identity to 8.7.5
  parent/pom.xml
Owners: none

fix: declare use of bash when using pipe in GHA
  .github/workflows/ci-operate.yml
  .github/workflows/ci-webapp-run-ut-reuseable.yml
  .github/workflows/ci.yml
  .github/workflows/tasklist-backup-restore-tests-reusable.yml
  .github/workflows/zeebe-aws-os-dispatch-tests.yml
  .github/workflows/zeebe-ci.yml
Owners: @camunda/monorepo-devops-team, @camunda/data-layer

deps: bump identity and zeebe versions
  operate/config/docker-compose.identity.yml
  operate/config/docker-compose.mt.yml
  operate/config/docker-compose.opensearch-identity.yml
  operate/config/docker-compose.test.yml
  operate/docker-compose.opensearch-identity.yml
  operate/docker-compose.opensearch.yml
  operate/docker-compose.yml
  operate/pom.xml
  operate/qa/pom.xml
  operate/schema/pom.xml
Owners: none
