Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity

refactor: enforce naming in function params
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/v2/buildMutationRequestBody.test.ts
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/v2/buildMutationRequestBody.ts
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/v2/index.tsx
Owners: none

fix: fixes for lint errors
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/v2/index.tsx
  operate/client/src/modules/mutations/processes/buildProcessInstanceKeyCriterion.ts
Owners: none

refactor: use explicit length comparison
  operate/client/src/modules/mutations/processes/buildProcessInstanceKeyCriterion.ts
Owners: none

refactor: rename operation payload util
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/v2/buildMutationRequestBody.test.ts
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/v2/buildMutationRequestBody.ts
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/v2/index.tsx
Owners: none

test: remove mock
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/v2/index.test.tsx
Owners: none

Revert "fix: add compatibility vars"
  .github/workflows/tasklist-ci-test-reusable.yml
Owners: @camunda/core-features

fix: handle exporter opening if record counters are not present in metadata
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/RecordCounterTest.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterTest.java
Owners: none

fix: handle exporter opening if record counters are not present in metadata
  zeebe/exporters/elasticsearch-exporter/src/main/java/io/camunda/zeebe/exporter/ElasticsearchExporter.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/ElasticsearchExporterTest.java
  zeebe/exporters/elasticsearch-exporter/src/test/java/io/camunda/zeebe/exporter/RecordCounterTest.java
  zeebe/exporters/opensearch-exporter/src/main/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporter.java
  zeebe/exporters/opensearch-exporter/src/test/java/io/camunda/zeebe/exporter/opensearch/OpensearchExporterTest.java
Owners: none

chore: Extract transport and type mapping
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/HttpExporter.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/config/SubscriptionConfigFactory.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/matcher/FilterRecordMatcher.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/matcher/RecordMatcherImpl.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/subscription/Batch.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/subscription/BatchMapper.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/subscription/Subscription.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/transport/HttpTransportConfig.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/transport/HttpTransportImpl.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/transport/JsonBatchMapper.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/transport/Transport.java
Owners: none

chore: Use generic subscription type
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/HttpExporter.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/config/SubscriptionConfigFactory.java
Owners: none

chore: Refine transport interface
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/HttpExporter.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/config/SubscriptionConfigFactory.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/subscription/Batch.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/subscription/Subscription.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/subscription/Transport.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/transport/HttpTransportConfig.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/transport/HttpTransportImpl.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/transport/JsonBatchMapper.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/transport/Transport.java
Owners: none

fix: correctly describe arch condition
  qa/archunit-tests/src/test/java/io/camunda/archunit/RequireKebabCaseInConditionalOnPropertyArchTest.java
Owners: none

refactor: reflect codebase structure in ArchTests
  qa/archunit-tests/README.md
  qa/archunit-tests/src/test/java/io/camunda/RequireKebabCaseInConditionalOnPropertyArchTest.java
Owners: none

feat: spring sdk logs unset prefer-rest-over-grpc
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/PropertiesPostProcessor.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/PropertiesPostProcessorLoggingTest.java
Owners: none

test: dont mock data objects
  tasklist/webapp/src/test/java/io/camunda/tasklist/webapp/service/TaskServiceTest.java
Owners: none

fix: the log message lines out what the default property is
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/properties/PropertiesPostProcessor.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/PropertiesPostProcessorLoggingTest.java
Owners: none

test: assert security headers
  http/user-authorizations-tests.http
Owners: none

chore: Simplify record mapping
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/config/HttpExporterConfig.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/matcher/RecordMatcherImpl.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/subscription/Batch.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/subscription/RecordMatcher.java
  zeebe/exporters/http-exporter/src/main/java/io/camunda/exporter/http/subscription/Subscription.java
Owners: none

feat: migrate tasklist using tu usage metrics count
  operate/webapp/src/test/java/io/camunda/operate/elasticsearch/reader/MetricReaderTest.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/schema/TasklistIndexTemplateDescriptorsConfigurator.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/TaskMetricsStore.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/elasticsearch/TaskMetricsStoreElasticSearch.java
  tasklist/els-schema/src/main/java/io/camunda/tasklist/store/opensearch/TaskMetricsStoreOpenSearch.java
  tasklist/els-schema/src/test/java/io/camunda/tasklist/store/elasticsearch/TaskMetricsStoreElasticSearchTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/metric/UsageMetricIT.java
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/TasklistIndexTemplateDescriptorsConfigurator.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/internal/DevUtilExternalController.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/management/UsageMetricsService.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/management/dto/UsageMetricDTO.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/management/dto/UsageMetricQueryDTO.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/TaskService.java
Owners: none

feat: migrate operate using usage metrics rpi and edi count
  operate/importer-8_7/src/main/java/io/camunda/operate/zeebeimport/v8_7/processors/processors/DecisionEvaluationZeebeRecordProcessor.java
  operate/importer-8_7/src/main/java/io/camunda/operate/zeebeimport/v8_7/processors/processors/ListViewZeebeRecordProcessor.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/metric/UsageMetricIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/IndexTemplateDescriptorsConfigurator.java
  operate/schema/src/main/java/io/camunda/operate/schema/IndexTemplateDescriptorsConfigurator.java
  operate/schema/src/main/java/io/camunda/operate/store/MetricsStore.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchMetricsStore.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/dao/UsageMetricDAO.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchMetricsStore.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/management/UsageMetricsService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/management/dto/UsageMetricQueryDTO.java
  operate/webapp/src/test/java/io/camunda/operate/elasticsearch/reader/MetricReaderTest.java
  operate/webapp/src/test/java/io/camunda/operate/elasticsearch/writer/MetricWriterTest.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/IndexTemplateDescriptorsConfigurator.java
Owners: none

refactor: replace MetricsStore constants with OperateMetricMigrator constants
  migration/usage-metric-migration/src/main/java/io/camunda/migration/usagemetric/OperateMetricMigrator.java
  qa/acceptance-tests/pom.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/UsageMetricMigrationIT.java
Owners: none

feat: fix collect rpi and edi aggregation
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/ElasticsearchMetricsStore.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/dao/GenericDAO.java
  operate/schema/src/main/java/io/camunda/operate/store/elasticsearch/dao/Query.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/OpensearchMetricsStore.java
  operate/schema/src/main/java/io/camunda/operate/store/opensearch/dsl/AggregationDSL.java
  operate/webapp/src/test/java/io/camunda/operate/elasticsearch/reader/MetricReaderTest.java
Owners: none

refactor: remove previous operate & tasklist metric handlers
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/MetricFromDecisionEvaluationHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/MetricFromProcessInstanceHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/TaskCompletedMetricHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/MetricFromDecisionEvaluationHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/MetricFromProcessInstanceHandlerTest.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/TaskCompletedMetricHandlerTest.java
Owners: none

docs: add integration test docs
  docs/testing.md
  docs/testing/assets/bridge-fail.png
  docs/testing/integration.md
Owners: @npepinpe, @ChrisKujawa

test: disable ExporterDisableTest. exporterStaysDisabledAfterRestart
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/exporter/ExporterDisableTest.java
Owners: none

fix: database type
  operate/common/src/main/java/io/camunda/operate/conditions/DatabaseCondition.java
  operate/common/src/main/java/io/camunda/operate/conditions/DatabaseInfo.java
  tasklist/common/src/main/java/io/camunda/tasklist/data/conditionals/DataBaseCondition.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/ElasticsearchTestExtension.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/OpenSearchTestExtension.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistIntegrationTest.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistZeebeExtensionElasticSearch.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistZeebeExtensionOpenSearch.java
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/TestUtil.java
Owners: none

fix: remove hardcoded db type from test
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistIntegrationTest.java
Owners: none

fix: variable name
  operate/common/src/main/java/io/camunda/operate/conditions/DatabaseCondition.java
  operate/common/src/main/java/io/camunda/operate/conditions/DatabaseInfo.java
  tasklist/qa/util/src/main/java/io/camunda/tasklist/qa/util/TestUtil.java
Owners: none

fix(cluster-variable): add variable name validation when creating the variable
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/variable/VariableCreateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/variable/ClusterVariableTest.java
Owners: none

refactor: extract the generation og decisionEvaluationInstanceKey into a separate generation class
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/common/DecisionBehavior.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/common/DecisionEvaluationInstanceKeyGenerator.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/common/DecisionEvaluationInstanceKeyGeneratorTest.java
Owners: none

feat: the ID of the index is retrieved from the decision evaluation record itself on not computed in the exporters
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/DecisionEvaluationHandler.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/handlers/DecisionEvaluationHandlerTest.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/DecisionInstanceExportHandler.java
Owners: none

build: upload logs for cancelled tests
  .github/workflows/tasklist-ci-test-reusable.yml
  operate/common/src/main/java/io/camunda/operate/conditions/DatabaseCondition.java
Owners: @camunda/core-features

test: add csrf protection tests
  .github/workflows/identity-regression-test.yml
  http/csrf-protection-tests.http
Owners: none

feat: Add auth checks to mappingRule entity #28725
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/MappingRuleDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/MappingRuleDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/MappingRuleReader.java
  db/rdbms/src/main/resources/mapper/MappingRuleMapper.xml
  db/rdbms/src/test/java/io/camunda/db/rdbms/read/service/MappingRuleDbReaderTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/MappingRuleAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/mappingrules/MappingRuleIT.java
Owners: none

feat: enhance RoleDbTest #28725
  db/rdbms/src/test/java/io/camunda/db/rdbms/read/service/RoleDbReaderTest.java
Owners: none

feat: Add auth checks to user entity #28725
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/UserDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/UserDbReader.java
  db/rdbms/src/main/resources/mapper/UserMapper.xml
  db/rdbms/src/test/java/io/camunda/db/rdbms/read/service/UserDbReaderTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/UserAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/user/UserIT.java
Owners: none

feat: Add auth checks to authorization entity #28725
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/AuthorizationDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/AuthorizationDbReader.java
  db/rdbms/src/main/resources/mapper/AuthorizationsMapper.xml
  db/rdbms/src/test/java/io/camunda/db/rdbms/read/service/AuthorizationDbReaderTest.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/ApplicationAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/AuthorizationSearchIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/BasicAuthenticationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/InheritedBasicAuthAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/InheritedOIDCAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/authorization/AuthorizationIT.java
Owners: none

test: disable ExporterDisableTest. exporterStaysDisabledAfterRestart
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/exporter/ExporterDisableTest.java
Owners: none

fix: compatibility vars in zeebe config
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistZeebeExtensionElasticSearch.java
Owners: none

refactor: additional changes
  docs/zeebe/generalized_distribution.md
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/configuration/EngineCfgTest.java
  zeebe/broker/src/test/resources/system/engine.yaml
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/metrics/CommandDistributionMetricsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/deployment/MultiPartitionDeploymentLifecycleTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionIdempotencyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/distribution/CommandRedistributorTest.java
Owners: none
