Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity

feat: add documentation links to Identity user guides
  identity/client/src/pages/authorizations/List.tsx
  identity/client/src/pages/authorizations/modals/add-modal/AddModal.tsx
  identity/client/src/pages/groups/List.tsx
  identity/client/src/pages/groups/detail/clients/index.tsx
  identity/client/src/pages/groups/detail/mapping-rules/index.tsx
  identity/client/src/pages/groups/detail/members/index.tsx
  identity/client/src/pages/groups/detail/roles/index.tsx
  identity/client/src/pages/mapping-rules/List.tsx
  identity/client/src/pages/roles/List.tsx
  identity/client/src/pages/tenants/List.tsx
  identity/client/src/pages/tenants/detail/clients/index.tsx
  identity/client/src/pages/tenants/detail/groups/index.tsx
  identity/client/src/pages/tenants/detail/mapping-rules/index.tsx
  identity/client/src/pages/tenants/detail/members/index.tsx
  identity/client/src/pages/tenants/detail/roles/index.tsx
  identity/client/src/pages/users/List.tsx
Owners: none

feat: Add missing links to documentation in Identity UI
  identity/client/src/pages/roles/List.tsx
  identity/client/src/pages/roles/detail/clients/index.tsx
  identity/client/src/pages/roles/detail/groups/index.tsx
  identity/client/src/pages/roles/detail/mapping-rules/index.tsx
  identity/client/src/pages/roles/detail/members/index.tsx
  identity/client/src/pages/tenants/List.tsx
  identity/client/src/pages/users/List.tsx
Owners: none

fix: update formatting
  identity/client/src/pages/authorizations/modals/add-modal/AddModal.tsx
Owners: none

feat: added assertions to assert active message subscriptions
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/api/assertions/ProcessInstanceAssert.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/CamundaDataSource.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/MessageSubscriptionAssertj.java
  testing/camunda-process-test-java/src/main/java/io/camunda/process/test/impl/assertions/ProcessInstanceAssertj.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/ProcessInstanceAssertMessageAssertIT.java
  testing/camunda-process-test-java/src/test/java/io/camunda/process/test/api/ProcessInstanceAssertTest.java
  testing/camunda-process-test-java/src/test/resources/processInstanceAssertMessageAssertIT/await-message.bpmn
Owners: none

fix: minify JSON variable value
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/VariablesFinalForm.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/VariablePanel/tests/notification.test.tsx
  operate/client/src/modules/components/JSONEditorModal/index.tsx
Owners: none

feat: add cluster status endpoint
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/StatusController.java
Owners: none

feat: add `/v2/status` to the public unprotected endpoint paths
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
Owners: none

feat: forward process instance tags to jobs (workers)
  clients/java/src/main/java/io/camunda/client/api/response/ActivatedJob.java
  clients/java/src/main/java/io/camunda/client/impl/response/ActivatedJobImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/CreateProcessInstanceResponseImpl.java
  qa/acceptance-tests/src/test/java/io/camunda/it/client/JobTagsTest.java
  tasklist/importer-870/src/main/java/io/camunda/tasklist/zeebeimport/v870/record/value/JobRecordValueImpl.java
  webapps-schema/src/main/resources/schema/elasticsearch/create/template/operate-job.json
  webapps-schema/src/main/resources/schema/opensearch/create/template/operate-job.json
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnJobBehavior.java
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-job-batch-template.json
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-job-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-job-batch-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-job-template.json
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/ResponseMapper.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/api/job/StreamActivatedJobsTest.java
  zeebe/gateway-protocol/src/main/proto/gateway.proto
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/JobControllerRoundRobinTest.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/job/JobRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceCreationRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceResultRecord.java
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/value/JobRecordValue.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/JobWorkerTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/LongPollingActivateJobsTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/StreamJobsTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/util/GrpcClientRule.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/util/ZeebeResourcesHelper.java
Owners: @camunda/docs-api-reviewers

test: fix PartitionLeaveTest to explicitly use grpc
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning/PartitionLeaveTest.java
Owners: @camunda/zeebe-distributed-platform

feat: adjust the documented default property in the spring sdk
  clients/spring-boot-starter-camunda-sdk/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Owners: none

feat: prefer REST over gRPC by default in CamundaClient
  clients/java/src/main/java/io/camunda/client/CamundaClientBuilder.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientBuilderImpl.java
Owners: none

refactor: remove deprecated and experimental annotations from preferRestOverGrpc in Zeebe Client
  clients/java/src/main/java/io/camunda/zeebe/client/ClientProperties.java
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientBuilder.java
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClientConfiguration.java
Owners: none

docs: add notice to newStreamJobsCommand regarding rest vs grpc config
  clients/java/src/main/java/io/camunda/client/api/worker/JobClient.java
Owners: none

refactor: use grpc by default in CamundaMigrator
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestGateway.java
Owners: none

deps: update alpine
  .github/workflows/operate-release-reusable.yml
  operate.Dockerfile
Owners: none

test: properly stop identity and broker in migration tests
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/KeycloakIdentityMigrationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/OidcIdentityMigrationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/SaaSIdentityMigrationIT.java
Owners: none

Revert "deps: Update version.lucene to v8.11.4"
  operate/pom.xml
Owners: none

test: fix BrokerAdminServiceTest to use rest
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/system/BrokerAdminServiceTest.java
Owners: none

fix: correctly stop the Broker and Identity container at every run
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/OidcIdentityMigrationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/SaaSIdentityMigrationIT.java
Owners: none

fix: only pass clusterId instead of BrokerBasedConfiguration.
  dist/src/main/java/io/camunda/application/commons/configuration/BrokerBasedConfiguration.java
  dist/src/main/java/io/camunda/application/commons/console/ping/PingConsoleRunner.java
  dist/src/test/java/io/camunda/application/commons/console/ping/PingConsoleConfigurationTest.java
  dist/src/test/java/io/camunda/application/commons/console/ping/PingConsoleRunnerIT.java
Owners: none

test: extend ClusterCfgTest.
  zeebe/broker/src/test/java/io/camunda/zeebe/broker/system/configuration/ClusterCfgTest.java
Owners: none

fix: await demo user presence before proceeding migration tests
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/util/MigrationDatabaseChecks.java
  qa/acceptance-tests/src/test/java/io/camunda/it/migration/util/MigrationITExtension.java
Owners: none

build: prepare release 8.6.15-rc1-optimize
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Owners: none

build: prepare for next development iteration
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Owners: none

build: prepare release 8.7.8-rc1-optimize
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Owners: none

build: prepare for next development iteration
  optimize-distro/pom.xml
  optimize/backend/pom.xml
  optimize/client/pom.xml
  optimize/pom.xml
  optimize/qa/pom.xml
  optimize/qa/schema-integrity-tests/pom.xml
  optimize/upgrade/pom.xml
  optimize/util/optimize-commons/pom.xml
  optimize/util/pom.xml
Owners: none

test: add comprehensive tests for StatusController
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/StatusControllerTest.java
Owners: none

docs: add the cluster status endpoint to the rest api specs
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Owners: @camunda/docs-api-reviewers

test: check isAuthorized edge cases
  security/security-services/pom.xml
  security/security-services/src/test/java/io/camunda/security/impl/AuthorizationCheckerTest.java
  security/security-services/src/test/java/io/camunda/security/impl/FakeAuthorizationReader.java
Owners: none

test: cover collectPermissionTypes method
  security/security-services/src/test/java/io/camunda/security/impl/AuthorizationCheckerTest.java
Owners: none

refactor: remove unnecessary mockito usage
  security/security-services/src/test/java/io/camunda/security/impl/AuthorizationCheckerTest.java
Owners: none

feat: add warning log message when basic auth is in use with link to troubleshooting guide
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/Gateway.java
Owners: none

feat: Avoid AHSP element activation if the completion condition is fulfilled
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessInstructionActivateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/adhocsubprocess/AdHocSubProcessUtils.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobCompleteProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobBasedAdHocSubProcessTest.java
Owners: none

fix: remove debug println
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/job/JobCompleteProcessor.java
Owners: none

test: add process creation to test
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/JobBasedAdHocSubProcessTest.java
Owners: none

test: cannot start a process instance inside of a ahsp
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCreationCreateProcessor.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/processinstance/CreateProcessInstanceRejectionTest.java
Owners: none

refactor: remove IS_BATCH_OPERATIONS_V2 feature flag
  operate/client/src/App/Processes/ListView/InstancesTable/v2/index.tsx
  operate/client/src/App/Processes/ListView/index.tsx
  operate/client/src/modules/feature-flags.ts
Owners: none

fix: sort operations by endDate
  operate/client/src/modules/components/OperationsPanel/index.tsx
Owners: none

refactor: remove v1 components: Toolbar, OperationsPanel
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/index.test.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/index.tsx
  operate/client/src/modules/components/OperationsPanel/OperationsEntry/OperationEntryStatus/index.test.tsx
  operate/client/src/modules/components/OperationsPanel/OperationsEntry/OperationEntryStatus/index.tsx
  operate/client/src/modules/components/OperationsPanel/OperationsEntry/index.setup.ts
  operate/client/src/modules/components/OperationsPanel/OperationsEntry/index.test.tsx
  operate/client/src/modules/components/OperationsPanel/OperationsEntry/index.tsx
  operate/client/src/modules/components/OperationsPanel/OperationsEntry/useLoadingProgress.ts
  operate/client/src/modules/components/OperationsPanel/index.setup.ts
  operate/client/src/modules/components/OperationsPanel/index.test.tsx
  operate/client/src/modules/components/OperationsPanel/index.tsx
  operate/client/src/modules/components/OperationsPanel/v2/OperationsEntry/OperationEntryStatus/index.tsx
  operate/client/src/modules/components/OperationsPanel/v2/OperationsEntry/index.tsx
Owners: none

refactor: remove v2 sub folders
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/buildMutationRequestBody.test.ts
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/buildMutationRequestBody.ts
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/index.test.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/v2/index.tsx
  operate/client/src/App/Processes/ListView/index.tsx
  operate/client/src/modules/components/OperationsPanel/OperationsEntry/OperationEntryStatus/index.test.tsx
  operate/client/src/modules/components/OperationsPanel/OperationsEntry/OperationEntryStatus/index.tsx
  operate/client/src/modules/components/OperationsPanel/OperationsEntry/index.setup.ts
  operate/client/src/modules/components/OperationsPanel/OperationsEntry/index.test.tsx
  operate/client/src/modules/components/OperationsPanel/OperationsEntry/index.tsx
  operate/client/src/modules/components/OperationsPanel/OperationsEntry/useLoadingProgress.ts
  operate/client/src/modules/components/OperationsPanel/index.setup.ts
  operate/client/src/modules/components/OperationsPanel/index.test.tsx
  operate/client/src/modules/components/OperationsPanel/index.tsx
Owners: none
