Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity

feat: removed redundant interface
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/value/DeploymentValue.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/value/JobWorkerValue.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/value/VariableValue.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/JobHandlerFactory.java
Owners: none

test: adjusted test so that new ctor is used
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/jobhandling/JobHandlerInvokingSpringBeansTest.java
Owners: none

feat: removed unused util functions
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/JobHandlingUtil.java
Owners: none

feat: adjusted property based job worker value customizer to use job handler factory
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/PropertyBasedJobWorkerValueCustomizer.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/properties/PropertyBasedJobWorkerValueCustomizerTest.java
Owners: none

feat: changed method ref
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/annotation/value/ZeebeWorkerValue.java
Owners: none

feat: simplification of job handler invoking spring beans
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/DefaultJobExceptionHandlingStrategy.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/JobExceptionHandlingStrategy.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/JobHandlerInvokingSpringBeans.java
Owners: none

fix: adjusted imports
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/PropertyBasedJobWorkerValueCustomizer.java
Owners: none

feat: job worker controller
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/actuator/JobWorkerController.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/configuration/CamundaActuatorConfiguration.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/JobWorkerChangeSet.java
Owners: none

fix: interface does not require all methods. Meaningful defaults
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/JobHandlerFactory.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/SpringBeanJobHandlerFactory.java
Owners: none

feat: extracted job worker factory from job worker manager
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/processor/JobWorkerAnnotationProcessor.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/value/JobWorkerValue.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/configuration/CamundaClientAllAutoConfiguration.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/JobWorkerFactory.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/JobWorkerManager.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/jobhandling/JobHandlerInvokingSpringBeansTest.java
Owners: none

feat: added tenant ids to the response
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/actuator/JobWorkerController.java
Owners: none

feat: add cluster id to ClusterConfiguration.
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/state/ClusterConfiguration.java
Owners: @camunda/zeebe-distributed-platform

refactor: remove unused var.
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/ClusterConfigurationManagerService.java
Owners: @camunda/zeebe-distributed-platform

fix: fix method signature.
  dist/src/test/java/io/camunda/application/commons/console/ping/PingConsoleRunnerIT.java
  zeebe/broker-client/src/test/java/io/camunda/zeebe/broker/client/api/BrokerTopologyManagerTest.java
  zeebe/broker-client/src/test/java/io/camunda/zeebe/broker/client/impl/RoundRobinDispatchStrategyTest.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/RoutingStateInitializer.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/AwaitRedistributionCompletionApplier.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/changes/StartPartitionScaleUpApplier.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/util/ConfigurationUtil.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/ClusterConfigurationManagerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/changes/AwaitRedistributionCompletionTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/changes/StartPartitionScaleUpApplierTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/state/ClusterConfigurationTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/util/ClusterTopologyDomain.java
  zeebe/gateway/src/test/java/io/camunda/zeebe/gateway/impl/broker/PublishMessageDispatchStrategyTest.java
  zeebe/restore/src/main/java/io/camunda/zeebe/restore/RestoreManager.java
Owners: @camunda/zeebe-distributed-platform

feat: use brokerTopologyManager for cluster id in PingConsoleRunner.
  dist/src/main/java/io/camunda/application/commons/console/ping/PingConsoleRunner.java
  dist/src/test/java/io/camunda/application/commons/console/ping/PingConsoleConfigurationTest.java
Owners: none

feat: adapt signatures and initialize the config with clusterId.
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning/topology/StaticConfigurationGenerator.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/ClusterConfigurationManagerService.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/StaticConfiguration.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/util/ConfigurationUtil.java
Owners: @camunda/zeebe-distributed-platform

feat: add cluster id at the cluster level.
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/ClusterCfg.java
Owners: none

feat: add ClusterIdInitializer
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/ClusterIdInitializer.java
Owners: @camunda/zeebe-distributed-platform

feat: PingConsoleRunner uses clusterId.
  dist/src/main/java/io/camunda/application/commons/console/ping/PingConsoleRunner.java
Owners: none

feat: add encoding and decoding to cluster id.
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/serializer/ProtoBufSerializer.java
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/util/ConfigurationUtil.java
  zeebe/dynamic-config/src/main/resources/proto/topology.proto
Owners: @camunda/zeebe-distributed-platform

feat: fix test signatures.
  zeebe/dynamic-config/src/main/java/io/camunda/zeebe/dynamic/config/serializer/ProtoBufSerializer.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/ClusterConfigurationInitializerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/ClusterConfigurationManagementIntegrationTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/ClusterScaleRequestTransformerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/PartitionReassignRequestTransformerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/api/ScaleRequestTransformerTest.java
  zeebe/dynamic-config/src/test/java/io/camunda/zeebe/dynamic/config/util/ConfigurationUtilTest.java
Owners: @camunda/zeebe-distributed-platform

fix: orchestration is now used rather than zeebe
  .github/workflows/camunda-helm-integration.yml
Owners: @camunda/monorepo-devops-team

feat: add tags to the grpc api
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/RequestMapper.java
  zeebe/gateway-grpc/src/main/java/io/camunda/zeebe/gateway/ResponseMapper.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/api/process/CreateProcessInstanceStub.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/api/process/CreateProcessInstanceTest.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/api/process/CreateProcessInstanceWithResultStub.java
  zeebe/gateway-grpc/src/test/java/io/camunda/zeebe/gateway/api/process/CreateProcessInstanceWithResultTest.java
  zeebe/gateway-protocol/src/main/proto/gateway.proto
Owners: none

fix: add JSONException dependency as first level to pom
  zeebe/gateway-rest/pom.xml
Owners: none

test: add acceptance & integration tests for process instance creation with tags
  qa/acceptance-tests/src/test/java/io/camunda/it/client/ProcessInstanceCreateTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CreateProcessInstanceTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CreateProcessInstanceWithResultTest.java
Owners: none

feat: add tags to the camunda client
  clients/java/src/main/java/io/camunda/client/api/command/CreateProcessInstanceCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/response/ProcessInstanceEvent.java
  clients/java/src/main/java/io/camunda/client/api/response/ProcessInstanceResult.java
  clients/java/src/main/java/io/camunda/client/api/search/response/ProcessInstance.java
  clients/java/src/main/java/io/camunda/client/impl/command/CreateProcessInstanceCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/CreateProcessInstanceResponseImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/CreateProcessInstanceWithResultResponseImpl.java
  clients/java/src/main/java/io/camunda/client/impl/search/response/ProcessInstanceImpl.java
  clients/java/src/test/java/io/camunda/client/process/CreateProcessInstanceTest.java
  clients/java/src/test/java/io/camunda/client/process/CreateProcessInstanceWithResultTest.java
  clients/java/src/test/java/io/camunda/client/process/rest/CreateProcessInstanceRestTest.java
  clients/java/src/test/java/io/camunda/client/process/rest/CreateProcessInstanceWithResultRestTest.java
  clients/java/src/test/java/io/camunda/client/util/RecordingGatewayService.java
Owners: none

feat: Add getter for nested auth resource ids
  security/security-core/src/main/java/io/camunda/security/reader/ResourceAccessChecks.java
Owners: none

test: fixed integration tests
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/DecisionListQueryIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/FlowNodeStatisticsIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/IncidentStatisticsIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/elasticsearch/ListViewReaderIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/it/ListenerReaderIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/DecisionInstanceRestServiceIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/DecisionRestServiceIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/rest/ProcessInstanceRestServiceIT.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/DecisionRestService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/dto/operation/CreateOperationRequestDto.java
Owners: none

feat: reduce number of unneeded put settings calls greatly
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/archiver/ElasticsearchArchiverRepository.java
Owners: none

feat(camunda-client): Add 3 method to the camunda client to interact with the gateway to create/update/delete variables
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/VariableCreationRequestStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/VariableDeleteRequestStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/VariableUpdateRequestStep1.java
  clients/java/src/main/java/io/camunda/client/api/response/CreateVariableResponse.java
  clients/java/src/main/java/io/camunda/client/api/response/DeleteVariableResponse.java
  clients/java/src/main/java/io/camunda/client/api/response/UpdateVariableResponse.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/CreateVariableImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/DeleteVariableImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/UpdateVariableImpl.java
  clients/java/src/main/java/io/camunda/client/impl/http/DocumentDataConsumer.java
  clients/java/src/main/java/io/camunda/client/impl/http/TypedApiEntityConsumer.java
  clients/java/src/main/java/io/camunda/client/impl/response/CreateVariableResponseImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/DeleteVariableResponseImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/UpdateVariableResponseImpl.java
Owners: none

feat(db-rdbms): management of rdbms export for variable deletion
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/VariableMapper.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/VariableWriter.java
  db/rdbms/src/main/resources/mapper/VariableMapper.xml
Owners: none

feat(security): Addtion of new resource type CLUSTER_VARIABLE for the management of cluster variable
  security/security-protocol/src/main/java/io/camunda/zeebe/protocol/record/value/AuthorizationResourceType.java
  security/security-protocol/src/main/java/io/camunda/zeebe/protocol/record/value/PermissionType.java
Owners: none

feat(zeebe-exporter): modification of export management, addition of a new handler for deleted variable
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/DefaultExporterResourceProvider.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/VariableDeletedHandler.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/VariableExportHandler.java
Owners: none

feat(zeebe-gateway-protocol): 3 endpoint were added and all the needed resources for CREATE, UPDATE and DELETE
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Owners: @camunda/docs-api-reviewers

feat(zeebe-gateway): create all broker request object to interact with variables (CREATE, UPDATE and DELETE)
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerCreateVariableRequest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerDeleteVariableRequest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerUpdateVariableRequest.java
Owners: none

feat(zeebe-gateway-rest): add all necessary mapping inside controller to create, update and delete variables
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/VariableController.java
Owners: none

feat(service): modify the service to send newly introduced broker request
  service/src/main/java/io/camunda/service/ApiServices.java
  service/src/main/java/io/camunda/service/VariableServices.java
Owners: none

feat(zeebe-expression-language): modify the Evaluation context interface to return an Object, and modify the FeelVariableContext to adapt to the newly introduced change
  zeebe/expression-language/src/main/java/io/camunda/zeebe/el/EvaluationContext.java
  zeebe/expression-language/src/main/java/io/camunda/zeebe/el/impl/FeelVariableContext.java
Owners: none

feat(zeebe-protocol): Modify the VariableIntent to add all new Intent (DELETE, CREATE, UPDATE etc) and add a new column family to manage VariablePointer
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/ZbColumnFamilies.java
  zeebe/protocol/src/main/java/io/camunda/zeebe/protocol/record/intent/VariableIntent.java
Owners: none

feat(test-util): add a method so that MsgPack can manage single object
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/MsgPackUtil.java
Owners: none
