Repository camunda/camunda, changes with the owners that CODEOWNERS names for each.
All owners: @camunda/docs-api-reviewers, @npepinpe, @ChrisKujawa, @camunda/distribution, @camunda/camundaex, @camunda/monorepo-devops-team, @camunda/core-features, @camunda/data-layer, @camunda/zeebe-distributed-platform, @camunda/identity

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# If you'd like to be added as an owner, don't hesitate to reach out to one of the existing ones.

# C8 REST OpenAPI specification
/zeebe/gateway-protocol/src/main/proto/rest-api.yaml @camunda/docs-api-reviewers

# Testing guide
/docs/testing.md       @npepinpe @ChrisKujawa
/docs/assets/testing*  @npepinpe @ChrisKujawa

# Observability
/docs/observability.md       @npepinpe @ChrisKujawa
/docs/assets/observability*  @npepinpe @ChrisKujawa

# C8Run by Distro team
.github/actions/setup-c8run/* @camunda/distribution
.github/workflows/c8run* @camunda/distribution
/c8run/ @camunda/distribution

# Camunda Ex Team Clients, SDK and CPT
/clients/*        @camunda/camundaex
/testing/*        @camunda/camundaex

# General Automation, Unified CI and release helpers by Monorepo DevOps team
/.github/actions/build*/*                                @camunda/monorepo-devops-team
/.github/actions/is-fork/*                               @camunda/monorepo-devops-team
/.github/actions/observe*/*                              @camunda/monorepo-devops-team
/.github/actions/paths-filter/*                          @camunda/monorepo-devops-team
/.github/actions/setup-build/*                           @camunda/monorepo-devops-team
/.github/actions/setup-maven*/*                          @camunda/monorepo-devops-team
/.github/workflows/add-to-projects.yml                   @camunda/monorepo-devops-team
/.github/workflows/backport.yml                          @camunda/monorepo-devops-team
/.github/workflows/camunda-helm-integration.yml          @camunda/monorepo-devops-team
/.github/workflows/camunda-platform-release*             @camunda/monorepo-devops-team
/.github/workflows/chatops*                              @camunda/monorepo-devops-team
/.github/workflows/check-licenses.yml                    @camunda/monorepo-devops-team
/.github/workflows/check-pr-conflicts.yml                @camunda/monorepo-devops-team
/.github/workflows/ci*                                   @camunda/monorepo-devops-team
/.github/workflows/commitlint.yml                        @camunda/monorepo-devops-team
/.github/workflows/dispatch-release*                     @camunda/monorepo-devops-team
/.github/workflows/issue-add-support-label.yml           @camunda/monorepo-devops-team
/.github/workflows/labeler.yml                           @camunda/monorepo-devops-team
/.github/workflows/preview-env*                          @camunda/monorepo-devops-team
/.github/workflows/reject-updates-using-merge-commit.yml @camunda/monorepo-devops-team
/.github/workflows/renovatelint.yml                      @camunda/monorepo-devops-team
/.github/workflows/retry-workflow.yml                    @camunda/monorepo-devops-team
/.github/workflows/statistics-daily.yml                  @camunda/monorepo-devops-team
/.github/workflows/zeebe-release-stable-dry-run.yml      @camunda/monorepo-devops-team

###################
## Core Features ##
###################

# CI Files
/.github/workflows/operate-ci-build-observe-reusable.yml  @camunda/core-features
/.github/workflows/operate-ci-build-reusable.yml          @camunda/core-features
/.github/workflows/operate-ci-core-features.yml           @camunda/core-features
/.github/workflows/operate-ci-fe.yml                      @camunda/core-features
/.github/workflows/operate-ci-test-reusable.yml           @camunda/core-features
/.github/workflows/operate-e2e-tests.yml                  @camunda/core-features
/.github/workflows/operate-playwright.yml                 @camunda/core-features
/.github/workflows/ci-operate.yml                         @camunda/core-features
/.github/workflows/operate-run-tests.yml                  @camunda/core-features
/.github/workflows/ci-tasklist.yml                        @camunda/core-features
/.github/workflows/tasklist-ci-fe-reusable.yml            @camunda/core-features
/.github/workflows/tasklist-ci-test-reusable.yml          @camunda/core-features
/.github/workflows/tasklist-ci.yml                        @camunda/core-features
/.github/workflows/tasklist-e2e-tests.yml                 @camunda/core-features
/.github/workflows/ci-optimize.yml                        @camunda/core-features
/.github/workflows/optimize-check-c4.yml                  @camunda/core-features
/.github/workflows/optimize-e2e-test-cloud.yml            @camunda/core-features
/.github/workflows/optimize-e2e-tests-sm.yml              @camunda/core-features

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features
/operate/webapp/src/test/java/io/camunda/operate/OperateCoreFeaturesTestSuite.java    @camunda/core-features

################
## Data Layer ##
################

# CI Files
/.github/workflows/operate-ci-data-layer.yml                      @camunda/data-layer
/.github/workflows/operate-test-backup-restore.yml                @camunda/data-layer
/.github/workflows/operate-test-importer.yml                      @camunda/data-layer
/.github/workflows/operate-run-tests.yml                          @camunda/data-layer
/.github/workflows/ci-operate.yml
/.github/workflows/tasklist-backup-restore-tests-reusable.yml     @camunda/data-layer

# Unit Test Suites
/operate/common/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer
/operate/webapp/src/test/java/io/camunda/operate/OperateDataLayerTestSuite.java    @camunda/data-layer

##########################
## Distributed Platform ##
##########################

/zeebe/atomix @camunda/zeebe-distributed-platform
/zeebe/backup @camunda/zeebe-distributed-platform
/zeebe/backup-stores @camunda/zeebe-distributed-platform
/zeebe/broker-client @camunda/zeebe-distributed-platform
/zeebe/docker @camunda/zeebe-distributed-platform
/zeebe/dynamic-config @camunda/zeebe-distributed-platform
/zeebe/journal @camunda/zeebe-distributed-platform
/zeebe/logstreams @camunda/zeebe-distributed-platform
/zeebe/restore @camunda/zeebe-distributed-platform
/zeebe/scheduler @camunda/zeebe-distributed-platform
/zeebe/snapshot @camunda/zeebe-distributed-platform
/zeebe/stream-platform @camunda/zeebe-distributed-platform
/zeebe/transport @camunda/zeebe-distributed-platform

# Broker packages
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/backup @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/clustering @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/logstreams @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/partitioning @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/raft @camunda/zeebe-distributed-platform
/zeebe/broker/src/main/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform
/zeebe/broker/src/test/java/io/camunda/zeebe/broker/transport @camunda/zeebe-distributed-platform

# Performance  + Load testing
/zeebe/benchmarks @camunda/zeebe-distributed-platform

# Identity
/identity/*        @camunda/identity
/authentication/*  @camunda/identity
/security/*        @camunda/identity

feat: add cluster network host to unified configuration
  configuration/src/main/java/io/camunda/configuration/Cluster.java
  configuration/src/main/java/io/camunda/configuration/Network.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/BrokerBasedPropertiesOverride.java
  configuration/src/main/java/io/camunda/configuration/beanoverrides/GatewayBasedPropertiesOverride.java
Owners: none

test: verify cluster host properties are set
  configuration/src/test/java/io/camunda/configuration/BrokerNetworkPropertiesTest.java
  configuration/src/test/java/io/camunda/configuration/GatewayNetworkPropertiesTest.java
Owners: none

test: fix failing tests
  zeebe/engine/src/test/resources/state/appliers/golden/AdHocSubProcessInstruction_COMPLETED_v1.golden
  zeebe/exporters/elasticsearch-exporter/src/main/resources/zeebe-record-ad-hoc-sub-process-instruction-template.json
  zeebe/exporters/opensearch-exporter/src/main/resources/zeebe-record-ad-hoc-sub-process-instruction-template.json
  zeebe/protocol-impl/src/test/java/io/camunda/zeebe/protocol/impl/JsonSerializableToJsonTest.java
Owners: none

feat: Add auth checks to SequenceFlow
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/domain/SequenceFlowDbQuery.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/SequenceFlowDbReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/SequenceFlowMapper.java
  db/rdbms/src/main/resources/mapper/SequenceFlowMapper.xml
  qa/acceptance-tests/src/test/java/io/camunda/it/tenancy/SequenceFlowTenancyIT.java
Owners: none

feat: Add HISTORY_CLEANUP_DATE to rdbms batch operation table
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
Owners: none

feat: Add new config properties for batch operation ttl in rdbms
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriterConfig.java
  dist/src/main/resources/application-rdbmsMariaDB.yaml
  dist/src/main/resources/application-rdbmsOracle.yaml
  dist/src/main/resources/application-rdbmsPostgres.yaml
  qa/util/src/main/java/io/camunda/qa/util/multidb/MultiDbConfigurator.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/ExporterConfiguration.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
Owners: none

docs: Add rdbms exporter example config to templates
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
Owners: none

feat: schedule batch operation cleanup in lifecycle handler
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/batchoperation/BatchOperationLifecycleManagementExportHandler.java
Owners: none

refactor: add batch operation prefix to history cleanup properties
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriterConfig.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/HistoryCleanupService.java
  db/rdbms/src/test/java/io/camunda/db/rdbms/write/service/HistoryCleanupServiceTest.java
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  dist/src/main/resources/application-rdbmsMariaDB.yaml
  dist/src/main/resources/application-rdbmsOracle.yaml
  dist/src/main/resources/application-rdbmsPostgres.yaml
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/ExporterConfiguration.java
Owners: none

feat: extend batch operation mapper with history cleanup methods
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/BatchOperationMapper.java
  db/rdbms/src/main/resources/mapper/BatchOperationMapper.xml
Owners: none

feat: extend HistoryCleanupService to support cleanup for batch operations + items
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriterFactory.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/BatchOperationWriter.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/HistoryCleanupService.java
  db/rdbms/src/test/java/io/camunda/db/rdbms/write/service/BatchOperationWriterTest.java
  db/rdbms/src/test/java/io/camunda/db/rdbms/write/service/HistoryCleanupServiceTest.java
  dist/src/main/java/io/camunda/application/commons/rdbms/RdbmsConfiguration.java
  qa/acceptance-tests/src/test/java/io/camunda/it/historycleanup/HistoryCleanupIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/HistoryCleanupIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/batchoperation/BatchOperationHistoryCleanupIT.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/ExporterConfiguration.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/RdbmsExporterWrapper.java
Owners: none

feat: Add HISTORY_CLEANUP_DATE to rdbms batch operation tables
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
Owners: none

refactor: move rdbms history props to own object + add prefix for batch
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriterConfig.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/HistoryCleanupService.java
  db/rdbms/src/test/java/io/camunda/db/rdbms/write/service/HistoryCleanupServiceTest.java
  dist/src/main/config/broker.standalone.yaml.template
  dist/src/main/config/broker.yaml.template
  dist/src/main/resources/application-rdbmsMariaDB.yaml
  dist/src/main/resources/application-rdbmsOracle.yaml
  dist/src/main/resources/application-rdbmsPostgres.yaml
  qa/acceptance-tests/src/test/java/io/camunda/it/rdbms/db/batchoperation/BatchOperationHistoryCleanupIT.java
  qa/util/src/main/java/io/camunda/qa/util/multidb/MultiDbConfigurator.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/ExporterConfiguration.java
  zeebe/exporters/rdbms-exporter/src/test/java/io/camunda/exporter/rdbms/ExporterConfigurationTest.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/qa/util/cluster/TestStandaloneBroker.java
Owners: none

fix: remove wrong whitspace from sqls between prefix and table name
  db/rdbms/src/main/resources/mapper/BatchOperationMapper.xml
  db/rdbms/src/main/resources/mapper/Commons.xml
Owners: none

refactor: rename history config property
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/RdbmsWriterConfig.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/service/HistoryCleanupService.java
  db/rdbms/src/test/java/io/camunda/db/rdbms/write/service/HistoryCleanupServiceTest.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/ExporterConfiguration.java
Owners: none

fix: Handle tenant for decision instance correctly
  db/rdbms/src/main/resources/mapper/DecisionInstanceMapper.xml
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/DecisionInstanceExportHandler.java
Owners: none

feat: Enable all tenancy tests
  qa/acceptance-tests/src/test/java/io/camunda/it/auth/ApplicationAuthorizationIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/tenancy/DecisionDefinitionTenancyIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/tenancy/DecisionInstanceTenancyIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/tenancy/DecisionRequirementsTenancyIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/tenancy/ElementInstanceTenancyIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/tenancy/GroupTenancyIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/tenancy/ProcessDefinitionTenancyIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/tenancy/ProcessInstanceTenancyIT.java
  qa/acceptance-tests/src/test/java/io/camunda/it/tenancy/VariableTenancyIT.java
Owners: none

feat: configurable priority for index templates
  schema-manager/src/main/java/io/camunda/search/schema/SchemaManager.java
  schema-manager/src/main/java/io/camunda/search/schema/config/IndexConfiguration.java
  schema-manager/src/main/java/io/camunda/search/schema/elasticsearch/ElasticsearchEngineClient.java
  schema-manager/src/main/java/io/camunda/search/schema/opensearch/OpensearchEngineClient.java
  schema-manager/src/test/java/io/camunda/search/schema/SchemaManagerIT.java
Owners: none

fix: align naming for the test
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UnassignUserFromTenantTest.java
Owners: none

docs: align naming for tenant related operations as per naming convention
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Owners: @camunda/docs-api-reviewers

docs: align naming for group related operations as per naming convention
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Owners: @camunda/docs-api-reviewers

WIP
  .github/conftest-gha-best-practices.rego
  .github/workflows/ci.yml
Owners: @camunda/monorepo-devops-team

feat: add tags property to process instance & process instance creation record
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/processinstance/ProcessInstanceCreationCreateProcessor.java
  zeebe/msgpack-value/src/main/java/io/camunda/zeebe/msgpack/value/StringValue.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceCreationRecord.java
  zeebe/protocol-impl/src/main/java/io/camunda/zeebe/protocol/impl/record/value/processinstance/ProcessInstanceRecord.java
Owners: none

test: fix flaky OperateV1ApiPermissionsIT
  qa/acceptance-tests/src/test/java/io/camunda/it/operate/OperateV1ApiPermissionsIT.java
Owners: none

feat: correcting wrong mappings on the filter
  search/search-domain/src/main/java/io/camunda/search/filter/UserTaskFilter.java
Owners: none

feat: allowing user-tasks to search by more than one tenantId
  clients/java/src/main/java/io/camunda/client/api/search/filter/UserTaskFilter.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/UserTaskFilterImpl.java
  db/rdbms/src/main/resources/mapper/UserTaskMapper.xml
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/UserTaskFilterTransformer.java
  search/search-domain/src/main/java/io/camunda/search/filter/UserTaskFilter.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/UserTaskQueryControllerTest.java
Owners: @camunda/docs-api-reviewers

refactor: mvn spotless:apply
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/UserTaskFilterTransformer.java
Owners: none

test: fixing tests for SearchTask
  clients/java/src/test/java/io/camunda/client/usertask/SearchUserTaskTest.java
Owners: none

refactor: small refactor for improvement
  clients/java/src/main/java/io/camunda/client/api/search/filter/UserTaskFilter.java
  clients/java/src/main/java/io/camunda/client/impl/search/filter/UserTaskFilterImpl.java
Owners: none

ci: fix operata version in smoke test to be same as zeebe
  .github/workflows/optimize-deploy-artifacts.yml
Owners: none

feat: add tags to the gateway & broker api
  service/src/main/java/io/camunda/service/ProcessInstanceServices.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/service/CamundaServicesBasedAdapter.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerCreateProcessInstanceRequest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerCreateProcessInstanceWithResultRequest.java
Owners: @camunda/docs-api-reviewers

fix: moved shutdown command to its own channel so we can see correct shutdown log
  c8run/cmd/c8run/main.go
Owners: @camunda/distribution

fix: Fix Tasklist local ES setup
  tasklist/config/env_setup.sh
  tasklist/config/envs/.env.database.elasticsearch
Owners: none

refactor: apply review hints
  identity/client/src/pages/authorizations/List.tsx
Owners: none

test: fix flaky Tasklist BackupRestoreTest
  tasklist/qa/backup-restore-tests/pom.xml
  tasklist/qa/backup-restore-tests/src/test/java/io/camunda/tasklist/qa/backup/generator/AbstractBackupRestoreDataGenerator.java
Owners: none

feat: guard against batch-operation re-initialization
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionScheduler.java
Owners: none

test: replace the mocked `batchOperation` with a concrete instance
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/batchoperation/BatchOperationExecutionSchedulerTest.java
Owners: none

Revert "feat: unified config: temporarily support fallback for elasticsearch URL"
  configuration/src/main/java/io/camunda/configuration/Elasticsearch.java
  configuration/src/test/java/io/camunda/configuration/SecondaryStorageFailureWithLegacySchemaTest.java
Owners: none

docs: fix unassign role from user docs
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
Owners: @camunda/docs-api-reviewers

feat(global-variables): create new global variables using camunda client
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/GlobalVariableCreationRequestStep1.java
  clients/java/src/main/java/io/camunda/client/api/response/CreateGlobalVariableResponse.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/CreateGlobalVariableImpl.java
  clients/java/src/main/java/io/camunda/client/impl/http/DocumentDataConsumer.java
  clients/java/src/main/java/io/camunda/client/impl/http/TypedApiEntityConsumer.java
  clients/java/src/main/java/io/camunda/client/impl/response/CreateGlobalVariableResponseImpl.java
Owners: none
